interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "RichText Test", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "RichText Test"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2f29e4c6-f9dc-47f6-ba58-d2ae3be0d78a","created_time":"2024-08-21T17:25:00.000Z","last_edited_time":"2024-08-21T17:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"RichText
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"RichText
      Test","href":null}]}},"url":"https://www.notion.so/RichText-Test-2f29e4c6f9dc47f6ba58d2ae3be0d78a","public_url":null,"request_id":"c405c3a3-34df-4ba3-a269-f4bd084165de"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c405c3a3-34df-4ba3-a269-f4bd084165de
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/2f29e4c6-f9dc-47f6-ba58-d2ae3be0d78a/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7af93c3b-a204-469f-8d27-9d237830b42e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7af93c3b-a204-469f-8d27-9d237830b42e
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is an equation: ", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "blue"}, "text": {"content": "This is an equation: "}}, {"type": "equation",
      "plain_text": "E=mc^2", "annotations": {"bold": true, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "equation": {"expression":
      "E=mc^2"}}, {"type": "text", "plain_text": " and this is a mention: ", "href":
      "https://ultimate-notion.com", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": " and this is a mention: ", "link": {"type": "url", "url":
      "https://ultimate-notion.com"}}}, {"type": "mention", "plain_text": "Florian
      Wilhelm", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "mention": {"type":
      "user", "user": {"type": "person", "object": "user", "id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "name": "Florian Wilhelm", "avatar_url": "https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100",
      "person": {"email": "florian.wilhelm@gmail.com"}}}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/2f29e4c6-f9dc-47f6-ba58-d2ae3be0d78a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"a546d515-7968-4410-b0bb-2747e840e021","parent":{"type":"page_id","page_id":"2f29e4c6-f9dc-47f6-ba58-d2ae3be0d78a"},"c[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/2f29e4c6-f9dc-47f6-ba58-d2ae3be0d78a
  response:
    content: '{"object":"page","id":"2f29e4c6-f9dc-47f6-ba58-d2ae3be0d78a","created_time":"2024-08-21T17:25:00.000Z","last_edited_time":"2024-08-21T17:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"RichText
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"RichText
      Test","href":null}]}},"url":"https://www.notion.so/RichText-Test-2f29e4c6f9dc47f6ba58d2ae3be0d78a","public_url":null,"request_id":"5462de53-d25e-4136-aa57-32906c0ec0e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5462de53-d25e-4136-aa57-32906c0ec0e6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-08-21T17:25:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"da09ffbe-c73e-499c-b72e-474dbae078d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - da09ffbe-c73e-499c-b72e-474dbae078d9
    status_code: 200
[...]
