interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Mention blocks Test", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Mention blocks Test"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-81ef-8566-e86d156119f5","created_time":"2024-09-28T13:47:00.000Z","last_edited_time":"2024-09-28T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Mention
      blocks Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Mention
      blocks Test","href":null}]}},"url":"https://www.notion.so/Mention-blocks-Test-10f974f3b38881ef8566e86d156119f5","public_url":null,"request_id":"b8a7b703-aed2-42f6-8cfd-2ba2810f1389"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b8a7b703-aed2-42f6-8cfd-2ba2810f1389
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81ef-8566-e86d156119f5/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9955c29a-be96-4cd9-b547-1591c593171f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9955c29a-be96-4cd9-b547-1591c593171f
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "mention", "plain_text": "Florian Wilhelm", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "mention": {"type": "user", "user": {"type": "person", "object": "user", "id":
      "b10cb6df-12ef-44d3-88ad-250168f66322", "name": "Florian Wilhelm", "avatar_url":
      "https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100",
      "person": {"email": "florian.wilhelm@gmail.com"}}}}, {"type": "text", "plain_text":
      " : ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      " : "}}, {"type": "mention", "plain_text": "Markdown Text Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "mention": {"type": "page", "page": {"id":
      "0c8ea7f1-c7ca-4abb-8890-085c0fac383b"}}}, {"type": "text", "plain_text": "
      : ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      " : "}}, {"type": "mention", "plain_text": "All Properties DB", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "mention": {"type": "database", "database":
      {"id": "4fa8756f-a0da-4efe-9c48-4d6a323b69f8"}}}, {"type": "text", "plain_text":
      " : ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      " : "}}, {"type": "mention", "plain_text": "@2022-01-01 00:00:00", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "mention": {"type": "date", "date": {"start":
      "2022-01-01T00:00:00", "time_zone": "UTC"}}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81ef-8566-e86d156119f5/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-811d-bedc-c931e3bb2ff7","parent":{"type":"page_id","page_id":"10f974f3-b388-81ef-8566-e86d156119f5"},"created_[...]
