interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-810d-9865-d800f86637dc","cover":null,"icon":null,"created_time":"2026-06-25T14:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:24:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4810d9865d800f86637dc","public_url":null,"in_trash":false,"archived":false,"request_id":"7472fd47-f03d-4886-acda-c4f52d5a5b68"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7472fd47-f03d-4886-acda-c4f52d5a5b68
    status_code: 200
- request:
    body: '{"title":[{"type":"text","plain_text":"DB test with 110 pages","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"DB
      test with 110 pages"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810d-9865-d800f86637dc
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-810d-9865-d800f86637dc","cover":null,"icon":null,"created_time":"2026-06-25T14:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:24:00.000Z","title":[{"type":"text","text":{"content":"DB
      test with 110 pages","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"DB
      test with 110 pages","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4810d9865d800f86637dc","public_url":null,"in_trash":false,"archived":false,"request_id":"8fa2f7ac-46b6-4b4c-a05b-f344581f2317"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8fa2f7ac-46b6-4b4c-a05b-f344581f2317
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-810d-9865-d800f86637dc"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8124-bda2-cc985ca4cb7a","created_time":"2026-06-25T14:24:00.000Z","last_edited_time":"2026-06-25T14:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-810d-9865-d800f86637dc"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38a9ce7b60a48124bda2cc985ca4cb7a","public_url":null,"archived":false,"request_id":"ce15f41d-0af6-48c0-990f-169027738017"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ce15f41d-0af6-48c0-990f-169027738017
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810d-9865-d800f86637dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-810a-a990-e5f5eacf6126","created_time":"2026-06-25T14:25:00.000Z","last_edited_time":"2026-06-25T14:25:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-810d-9865-d800f86637dc"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"tit[...]
- request:
    body: '{"start_cursor": "s:46d2b273-b1d1-461b-90e5-0ed7de4136b7:38a9ce7b-60a4-8132-ba58-cad073d38170",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810d-9865-d800f86637dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8132-ba58-cad073d38170","created_time":"2026-06-25T14:25:00[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-810d-9865-d800f86637dc
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-810d-9865-d800f86637dc","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-25T14:24:00.000Z","last_edited_time":"2026-06-25T14:25:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"archived":true,"request_id":"9300b82d-4f48-4930-b987-8af75ea60d64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9300b82d-4f48-4930-b987-8af75ea60d64
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"b54c8bea-fa97-4bce-903c-ec38d093c570"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b54c8bea-fa97-4bce-903c-ec38d093c570
    status_code: 200
version: 1
