interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Articles", "text": {"content": "Articles"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Cost":
      {"number": {"format": "dollar"}, "type": "number"}, "Description": {"type":
      "rich_text", "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"50746d26-fcb6-4eb8-88c9-2d9cea4e8306","cover":null,"icon":null,"created_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:37:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"GZ%3A%5E","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"tQX%5C","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/50746d26fcb64eb888c92d9cea4e8306","public_url":null,"archived":false,"request_id":"23441781-1a32-4ee6-a19a-b838ec485e3a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/50746d26-fcb6-4eb8-88c9-2d9cea4e8306
  response:
    content: '{"object":"database","id":"50746d26-fcb6-4eb8-88c9-2d9cea4e8306","cover":nul[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/50746d26-fcb6-4eb8-88c9-2d9cea4e8306
  response:
    content: '{"object":"block","id":"50746d26-fcb6-4eb8-88c9-2d9cea4e8306","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-02-14T17:37:00.000Z","last_edited_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"110c32d8-430b-4366-9d19-108ee1cf567f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
