interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Overwritten Title", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Overwritten Title"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description": {"type":
      "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e76cdea2-158d-457a-930d-ba5042d310e7","title":[{"type":"text","text":{"content":"Overwritten
      Title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overwritten
      Title","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:24:58.154+00:00","last_edited_time":"2026-06-24T16:24:58.154+00:00","data_sources":[{"id":"d04943b2-7f32-4170-94ad-ad44fc557330","name":"Overwritten
      Title"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e76cdea2158d457a930dba5042d310e7","public_url":null,"archived":false,"request_id":"beb2ffb8-8d4d-4636-b419-db5df425f13b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - beb2ffb8-8d4d-4636-b419-db5df425f13b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d04943b2-7f32-4170-94ad-ad44fc557330
  response:
    content: '{"object":"data_source","id":"d04943b2-7f32-4170-94ad-ad44fc557330","cover":null,"icon":null,"created_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:24:00.000Z","title":[{"type":"text","text":{"content":"Overwritten
      Title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overwritten
      Title","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%3CxNb","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"tj%3EL","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e76cdea2-158d-457a-930d-ba5042d310e7"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/e76cdea2158d457a930dba5042d310e7","public_url":null,"in_trash":false,"archived":false,"request_id":"b35312fb-8ef1-4d3d-8a90-81e058af7a92"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b35312fb-8ef1-4d3d-8a90-81e058af7a92
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e76cdea2-158d-457a-930d-ba5042d310e7
  response:
    content: '{"object":"block","id":"e76cdea2-158d-457a-930d-ba5042d310e7","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:24:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Overwritten
      Title"},"archived":true,"request_id":"56edcd69-bfdd-43ed-a9cd-ca54ef85e24a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56edcd69-bfdd-43ed-a9cd-ca54ef85e24a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"cb5e3c7c-144f-4aee-b358-ba038976aabf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cb5e3c7c-144f-4aee-b358-ba038976aabf
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/dfff855f-e0e2-4f5b-9def-2bbd795ff8f1
  response:
    content: '{"object":"block","id":"dfff855f-e0e2-4f5b-9def-2bbd795ff8f1","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"No
      Schema Used"},"archived":true,"request_id":"2c38b44b-7dc7-429d-b537-42ad04c5538f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2c38b44b-7dc7-429d-b537-42ad04c5538f
    status_code: 200
version: 1
