interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5016ae66-770a-4e23-ac0d-daf03a0b21c6","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T12:23:55.824+00:00","last_edited_time":"2026-06-27T12:23:55.824+00:00","data_sources":[{"id":"415cf832-a897-469a-8e0f-6655dbc3049a","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/5016ae66770a4e23ac0ddaf03a0b21c6","public_url":null,"archived":false,"request_id":"52f711e5-5295-4d9f-9d67-bc039dd3ebe0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52f711e5-5295-4d9f-9d67-bc039dd3ebe0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/415cf832-a897-469a-8e0f-6655dbc3049a
  response:
    content: '{"object":"data_source","id":"415cf832-a897-469a-8e0f-6655dbc3049a","cover":null,"icon":null,"created_time":"2026-06-27T12:23:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T12:23:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"5016ae66-770a-4e23-ac0d-daf03a0b21c6"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/5016ae66770a4e23ac0ddaf03a0b21c6","public_url":null,"in_trash":false,"archived":false,"request_id":"57d8a434-e474-4f4e-a161-b258ee2e0c0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 57d8a434-e474-4f4e-a161-b258ee2e0c0d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/5016ae66-770a-4e23-ac0d-daf03a0b21c6
  response:
    content: '{"object":"database","id":"5016ae66-770a-4e23-ac0d-daf03a0b21c6","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T12:23:55.824+00:00","last_edited_time":"2026-06-27T12:23:55.824+00:00","data_sources":[{"id":"415cf832-a897-469a-8e0f-6655dbc3049a","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/5016ae66770a4e23ac0ddaf03a0b21c6","public_url":null,"archived":false,"request_id":"988c6130-5b7c-45af-8eb7-b2537cc52dd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 988c6130-5b7c-45af-8eb7-b2537cc52dd0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5016ae66-770a-4e23-ac0d-daf03a0b21c6
  response:
    content: '{"object":"block","id":"5016ae66-770a-4e23-ac0d-daf03a0b21c6","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T12:23:00.000Z","last_edited_time":"2026-06-27T12:23:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"aec3bab5-c7f0-4518-92e2-3199a83e0447"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aec3bab5-c7f0-4518-92e2-3199a83e0447
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T12:23:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"2abc6792-dba5-4740-9d32-ae8f517a18ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2abc6792-dba5-4740-9d32-ae8f517a18ad
    status_code: 200
version: 1
