interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Articles"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number", "number":
      {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9239fab6-3d07-4c58-a6e7-fc2d4c4f74c8","cover":null,"icon":null,"created_time":"2024-08-21T17:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:18:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%60wOQ","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"l%5DRb","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/9239fab63d074c58a6e7fc2d4c4f74c8","public_url":null,"archived":false,"in_trash":false,"request_id":"fbcee103-0766-4da3-a1f3-550d77d08fcf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fbcee103-0766-4da3-a1f3-550d77d08fcf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9239fab6-3d07-4c58-a6e7-fc2d4c4f74c8
  response:
    content: '{"object":"block","id":"9239fab6-3d07-4c58-a6e7-fc2d4c4f74c8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-21T17:18:00.000Z","last_edited_time":"2024-08-21T17:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"9f004192-6644-434c-b51b-bd6500b85b6c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9f004192-6644-434c-b51b-bd6500b85b6c
    status_code: 200
version: 1
