interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Movable DS", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Movable DS"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"78c56816-69e5-460f-a894-eadfc9921162","title":[{"type":"text","text":{"content":"Movable
      DS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Movable
      DS","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T12:24:07.263+00:00","last_edited_time":"2026-06-27T12:24:07.263+00:00","data_sources":[{"id":"009652d3-d7ce-4d32-add4-3ec027649bed","name":"Movable
      DS"}],"icon":null,"cover":null,"url":"https://www.notion.so/78c5681669e5460fa894eadfc9921162","public_url":null,"archived":false,"request_id":"738890c4-bf6f-46a9-8d50-f336326f65b2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 738890c4-bf6f-46a9-8d50-f336326f65b2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/009652d3-d7ce-4d32-add4-3ec027649bed
  response:
    content: '{"object":"data_source","id":"009652d3-d7ce-4d32-add4-3ec027649bed","cover":null,"icon":null,"created_time":"2026-06-27T12:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T12:24:00.000Z","title":[{"type":"text","text":{"content":"Movable
      DS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Movable
      DS","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"78c56816-69e5-460f-a894-eadfc9921162"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/78c5681669e5460fa894eadfc9921162","public_url":null,"in_trash":false,"archived":false,"request_id":"ee383f16-7cea-40a5-b586-ce30ec59d39f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee383f16-7cea-40a5-b586-ce30ec59d39f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/297ebdec-1648-4349-bb64-053e14f1c4ab
  response:
    content: '{"object":"database","id":"297ebdec-1648-4349-bb64-053e14f1c4ab","title":[{"type":"text","text":{"content":"Target
      DS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      DS","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T12:24:08.526+00:00","last_edited_time":"2026-06-27T12:24:08.526+00:00","data_sources":[{"id":"4ff11952-ffa6-465f-8739-478393e3fc3e","name":"Target
      DS"}],"icon":null,"cover":null,"url":"https://www.notion.so/297ebdec16484349bb64053e14f1c4ab","public_url":null,"archived":false,"request_id":"54ed6997-0e21-41a1-bf28-d48417a81126"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 54ed6997-0e21-41a1-bf28-d48417a81126
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T12:24:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"f3590ee0-2236-4254-8a9c-f8ab0af25fdb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f3590ee0-2236-4254-8a9c-f8ab0af25fdb
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/297ebdec-1648-4349-bb64-053e14f1c4ab
  response:
    content: '{"object":"block","id":"297ebdec-1648-4349-bb64-053e14f1c4ab","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T12:24:00.000Z","last_edited_time":"2026-06-27T12:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Target
      DS"},"archived":true,"request_id":"0498dd2c-9ac3-4ba3-b017-b8e42c17d21a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0498dd2c-9ac3-4ba3-b017-b8e42c17d21a
    status_code: 200
version: 1
