interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fe29e8cf-d267-407c-ba21-fe140d180f64","cover":null,"icon":null,"created_time":"2024-08-02T20:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:45:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3FrCy","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"W%40un","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/fe29e8cfd267407cba21fe140d180f64","public_url":null,"archived":false,"in_trash":false,"request_id":"f06851af-702e-4c56-80bd-c55ccc13d128"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f06851af-702e-4c56-80bd-c55ccc13d128
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fe29e8cf-d267-407c-ba21-fe140d180f64
  response:
    content: '{"object":"block","id":"fe29e8cf-d267-407c-ba21-fe140d180f64","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-02T20:45:00.000Z","last_edited_time":"2024-08-02T20:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"ab532b75-6d0f-40f9-b2fe-a91c49b1ff20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab532b75-6d0f-40f9-b2fe-a91c49b1ff20
    status_code: 200
version: 1
