interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"df9d35f4-615a-47cf-bd8c-7adc60c6b003","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"ZKX%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/df9d35f4615a47cfbd8c7adc60c6b003","public_url":null,"archived":false,"in_trash":false,"request_id":"0b182e4b-8b40-468e-9580-20f448bb3627"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"314-3J1ALMQuVVJdvyCKcu/Ra/2+vMg"
      x-notion-request-id:
      - 0b182e4b-8b40-468e-9580-20f448bb3627
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/df9d35f4-615a-47cf-bd8c-7adc60c6b003
  response:
    content: '{"object":"database","id":"df9d35f4-615a-47cf-bd8c-7adc60c6b003","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"ZKX%7B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/df9d35f4615a47cfbd8c7adc60c6b003","public_url":null,"archived":false,"in_trash":false,"request_id":"b99b868e-f3de-4f40-9b4c-07467e4e8999"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"314-k6PXgOPJ7YR3/E5NVvYopUt2AG8"
      x-notion-request-id:
      - b99b868e-f3de-4f40-9b4c-07467e4e8999
    status_code: 200
version: 1
