interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8162-84b6-ef1c08506ec8","created_time":"2026-06-27T16:54:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-38c9ce7b60a4816284b6ef1c08506ec8","public_url":null,"request_id":"5f8837f9-a676-46e7-8a90-2874a00f81b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f8837f9-a676-46e7-8a90-2874a00f81b1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"746af6fe-b730-4f5f-b305-2494d0a9be67"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 746af6fe-b730-4f5f-b305-2494d0a9be67
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-8162-84b6-ef1c08506ec8"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a33660ed-eeaa-427d-bf7d-b79a1d73fc5f","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8162-84b6-ef1c08506ec8"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:54:09.684+00:00","last_edited_time":"2026-06-27T16:54:09.684+00:00","data_sources":[{"id":"aeefc06e-f1f5-4bfa-ab46-4c44f44a0b1c","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/a33660edeeaa427dbf7db79a1d73fc5f","public_url":null,"request_id":"0a6e8636-08a2-4e80-9402-8bc22a9d5b5c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0a6e8636-08a2-4e80-9402-8bc22a9d5b5c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/aeefc06e-f1f5-4bfa-ab46-4c44f44a0b1c
  response:
    content: '{"object":"data_source","id":"aeefc06e-f1f5-4bfa-ab46-4c44f44a0b1c","cover":null,"icon":null,"created_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:54:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a33660ed-eeaa-427d-bf7d-b79a1d73fc5f"},"database_parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8162-84b6-ef1c08506ec8"},"url":"https://www.notion.so/a33660edeeaa427dbf7db79a1d73fc5f","public_url":null,"in_trash":false,"request_id":"4d94d16a-5062-45f0-a133-b1734e52da39"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d94d16a-5062-45f0-a133-b1734e52da39
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8162-84b6-ef1c08506ec8/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"a33660ed-eeaa-427d-bf7d-b79a1d73fc5f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8162-84b6-ef1c08506ec8"},"created_time":"2026-06-27T16:54:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"}},{"object":"block","id":"9b94b5f0-f28d-4f84-95df-409c19aa3c91","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8162-84b6-ef1c08506ec8"},"created_time":"2026-06-27T16:54:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"90893767-7904-4090-ac0d-537a280481a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 90893767-7904-4090-ac0d-537a280481a8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/a33660ed-eeaa-427d-bf7d-b79a1d73fc5f
  response:
    content: '{"object":"database","id":"a33660ed-eeaa-427d-bf7d-b79a1d73fc5f","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8162-84b6-ef1c08506ec8"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:54:09.684+00:00","last_edited_time":"2026-06-27T16:54:09.684+00:00","data_sources":[{"id":"aeefc06e-f1f5-4bfa-ab46-4c44f44a0b1c","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/a33660edeeaa427dbf7db79a1d73fc5f","public_url":null,"request_id":"09455739-9c74-427e-9e11-c696257de934"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 09455739-9c74-427e-9e11-c696257de934
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/9b94b5f0-f28d-4f84-95df-409c19aa3c91
  response:
    content: '{"object":"database","id":"9b94b5f0-f28d-4f84-95df-409c19aa3c91","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8162-84b6-ef1c08506ec8"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:54:11.528+00:00","last_edited_time":"2026-06-27T16:54:11.528+00:00","data_sources":[{"id":"6c2f76df-5331-4a79-ac37-aaff59091da9","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/9b94b5f0f28d4f8495df409c19aa3c91","public_url":null,"request_id":"85812f8b-48f7-472c-a0be-67a2367a45d5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 85812f8b-48f7-472c-a0be-67a2367a45d5
    status_code: 200
version: 1
