interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81e8-90b9-d35b01b2029c","cover":null,"icon":null,"created_time":"2026-06-25T14:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:24:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3A%3B%7CM","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"QvTr","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481e890b9d35b01b2029c","public_url":null,"in_trash":false,"archived":false,"request_id":"82c3e70c-4710-4ca7-acb4-f992efc0c335"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82c3e70c-4710-4ca7-acb4-f992efc0c335
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81e8-90b9-d35b01b2029c
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-81e8-90b9-d35b01b2029c","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-25T14:24:00.000Z","last_edited_time":"2026-06-25T14:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"22cfb460-bbb1-4d2e-96d5-f62ea2e65a25"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 22cfb460-bbb1-4d2e-96d5-f62ea2e65a25
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"2fcc3a6c-07a9-4168-a60d-607b5bd29256"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2fcc3a6c-07a9-4168-a60d-607b5bd29256
    status_code: 200
version: 1
