interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8103-aedf-fd84e0ca5af6","created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://app.notion.com/p/Parent-3899ce7b60a48103aedffd84e0ca5af6","public_url":null,"archived":false,"request_id":"560dbb56-99ba-449f-8d8d-7b21633a0242"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 560dbb56-99ba-449f-8d8d-7b21633a0242
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"ad65eec8-bca2-4ce5-9aab-186833064c56"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ad65eec8-bca2-4ce5-9aab-186833064c56
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3899ce7b-60a4-8103-aedf-fd84e0ca5af6"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f17a52e5-367e-4bff-a703-4a74e1d0ce26","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8103-aedf-fd84e0ca5af6"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:03:15.837+00:00","last_edited_time":"2026-06-24T16:03:15.837+00:00","data_sources":[{"id":"3a6bf652-a839-49fb-8524-c628512f9148","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f17a52e5367e4bffa7034a74e1d0ce26","public_url":null,"archived":false,"request_id":"2aec1106-37d9-4ed7-adb1-0c6d6592319b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2aec1106-37d9-4ed7-adb1-0c6d6592319b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3a6bf652-a839-49fb-8524-c628512f9148
  response:
    content: '{"object":"data_source","id":"3a6bf652-a839-49fb-8524-c628512f9148","cover":null,"icon":null,"created_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:03:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f17a52e5-367e-4bff-a703-4a74e1d0ce26"},"database_parent":{"type":"page_id","page_id":"3899ce7b-60a4-8103-aedf-fd84e0ca5af6"},"url":"https://app.notion.com/p/f17a52e5367e4bffa7034a74e1d0ce26","public_url":null,"in_trash":false,"archived":false,"request_id":"9000b1ef-a8ba-480f-b460-4437c103b426"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9000b1ef-a8ba-480f-b460-4437c103b426
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8103-aedf-fd84e0ca5af6/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"f17a52e5-367e-4bff-a703-4a74e1d0ce26","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8103-aedf-fd84e0ca5af6"},"created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false},{"object":"block","id":"cb2e6682-8021-49ad-9454-9852e27ff7c9","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8103-aedf-fd84e0ca5af6"},"created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c02ed91c-8a0d-4546-a62a-aead5f53be85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c02ed91c-8a0d-4546-a62a-aead5f53be85
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/f17a52e5-367e-4bff-a703-4a74e1d0ce26
  response:
    content: '{"object":"database","id":"f17a52e5-367e-4bff-a703-4a74e1d0ce26","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8103-aedf-fd84e0ca5af6"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:03:15.837+00:00","last_edited_time":"2026-06-24T16:03:15.837+00:00","data_sources":[{"id":"3a6bf652-a839-49fb-8524-c628512f9148","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f17a52e5367e4bffa7034a74e1d0ce26","public_url":null,"archived":false,"request_id":"3741af53-334d-4f88-b207-46bec019e2c1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3741af53-334d-4f88-b207-46bec019e2c1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/cb2e6682-8021-49ad-9454-9852e27ff7c9
  response:
    content: '{"object":"database","id":"cb2e6682-8021-49ad-9454-9852e27ff7c9","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8103-aedf-fd84e0ca5af6"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:03:16.989+00:00","last_edited_time":"2026-06-24T16:03:16.989+00:00","data_sources":[{"id":"8dd2e01e-8418-489a-81f1-8a9b15bbff7d","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/cb2e6682802149ad94549852e27ff7c9","public_url":null,"archived":false,"request_id":"9c98c4a8-aa37-44ce-affc-0941a88aacc9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c98c4a8-aa37-44ce-affc-0941a88aacc9
    status_code: 200
version: 1
