interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1efbc58f-0757-4896-8917-8ccaee7148cc","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%3FYYe","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"%7DCr%7D","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/1efbc58f0757489689178ccaee7148cc","public_url":null,"archived":false,"in_trash":false,"request_id":"c8be4695-24d1-4b61-92b2-a3543868c32f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"434-wl/vxPHv/EirfSjvxLLE0peRwJM"
      x-notion-request-id:
      - c8be4695-24d1-4b61-92b2-a3543868c32f
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My most favorite articles",
      "text": {"content": "My most favorite articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/1efbc58f-0757-4896-8917-8ccaee7148cc
  response:
    content: '{"object":"database","id":"1efbc58f-0757-4896-8917-8ccaee7148cc","cover":nul[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1efbc58f-0757-4896-8917-8ccaee7148cc
  response:
    content: '{"object":"block","id":"1efbc58f-0757-4896-8917-8ccaee7148cc","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:06:00.000Z","last_edited_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"15ecc904-aa6e-4da7-8acc-2522cbe5d989"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-HHrDoVotd2Nr31qhFpOD4DTK5Yw"
      x-notion-request-id:
      - 15ecc904-aa6e-4da7-8acc-2522cbe5d989
    status_code: 200
version: 1
