interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8164-84bd-d9737334ca87","cover":null,"icon":null,"created_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:46:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"E%5BK%60","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b388816484bdd9737334ca87","public_url":null,"archived":false,"in_trash":false,"request_id":"e7fb9daa-8f01-48d6-8977-c26d9d209c1e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e7fb9daa-8f01-48d6-8977-c26d9d209c1e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8164-84bd-d9737334ca87
  response:
    content: '{"object":"database","id":"20e974f3-b388-8164-84bd-d9737334ca87","cover":null,"icon":null,"created_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:46:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"E%5BK%60","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b388816484bdd9737334ca87","public_url":null,"archived":false,"in_trash":false,"request_id":"2141790f-3a97-43f4-b8db-13083374530f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2141790f-3a97-43f4-b8db-13083374530f
    status_code: 200
version: 1
