interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"120974f3-b388-8175-913b-f54ee11c5fd8","cover":null,"icon":null,"created_time":"2024-10-15T18:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-15T18:57:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"QzP%3C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/120974f3b3888175913bf54ee11c5fd8","public_url":null,"archived":false,"in_trash":false,"request_id":"b80ab427-ed26-4d23-9908-42b734c64da6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b80ab427-ed26-4d23-9908-42b734c64da6
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "DB test with 110 pages", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "DB test with 110 pages"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/120974f3-b388-8175-913b-f54ee11c5fd8
  response:
    content: '{"object":"database","id":"120974f3-b388-8175-913b-f54ee11c5fd8","cover":null,"icon":null,"created_time":"2024-10-15T18:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-15T18:57:00.000Z","title":[{"type":"text","text":{"content":"DB
      test with 110 pages","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"DB
      test with 110 pages","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"QzP%3C","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/120974f3b3888175913bf54ee11c5fd8","public_url":null,"archived":false,"in_trash":false,"request_id":"82237eab-363f-4f9a-a0e9-0766a909ee8b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82237eab-363f-4f9a-a0e9-0766a909ee8b
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "120974f3-b388-8175-913b-f54ee11c5fd8"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.[...]
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/120974f3-b388-8175-913b-f54ee11c5fd8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"120974f3-b388-81aa-80e7-e9dd573ab1e7","created_time":"2024-10-15T18:58:00.000Z","last_edited_time":"2024-10-15T18:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"120974f3-b388-8175-913b-f54ee11c5fd8"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"QzP%3C","type":"multi_se[...]
- request:
    body: '{"start_cursor": "120974f3-b388-8156-ba95-e3ba8cff3cab", "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/120974f3-b388-8175-913b-f54ee11c5fd8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"120974f3-b388-8156-ba95-e3ba8cff3cab","created_time":"2024-10-15T18:57:00.000Z","last_edited_time":"2024-10-15T18:57:0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/120974f3-b388-8175-913b-f54ee11c5fd8
  response:
    content: '{"object":"block","id":"120974f3-b388-8175-913b-f54ee11c5fd8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-10-15T18:57:00.000Z","last_edited_time":"2024-10-15T18:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"request_id":"9373317f-064e-441a-b304-6a1b51c9edb7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9373317f-064e-441a-b304-6a1b51c9edb7
    status_code: 200
version: 1
