interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5dea9a27-d9bc-46d9-b328-3a6d76a3aed4","cover":null,"icon":null,"created_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:52:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"BcZz","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/5dea9a27d9bc46d9b3283a6d76a3aed4","public_url":null,"archived":false,"in_trash":false,"request_id":"7bba7c43-e799-456f-96eb-792838167043"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"312-35hiZ0PK6F6zgoyCt37O7E77ico"
      x-notion-request-id:
      - 7bba7c43-e799-456f-96eb-792838167043
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5dea9a27-d9bc-46d9-b328-3a6d76a3aed4
  response:
    content: '{"object":"block","id":"5dea9a27-d9bc-46d9-b328-3a6d76a3aed4","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:52:00.000Z","last_edited_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"8937aabc-e01b-42d7-802e-c40ab0c87271"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-wez0sjoeTkKb06WPrpOHF84KbFU"
      x-notion-request-id:
      - 8937aabc-e01b-42d7-802e-c40ab0c87271
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/5dea9a27-d9bc-46d9-b328-3a6d76a3aed4
  response:
    content: '{"object":"block","id":"5dea9a27-d9bc-46d9-b328-3a6d76a3aed4","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:52:00.000Z","last_edited_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""},"request_id":"79506289-a5b2-4271-ab6e-577da1b22529"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21e-MrX6aCgBaeT74DA40jEmdumB3Vo"
      x-notion-request-id:
      - 79506289-a5b2-4271-ab6e-577da1b22529
    status_code: 200
version: 1
