interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81bf-8e37-d16613445b38","created_time":"2024-10-14T16:43:00.000Z","last_edited_time":"2024-10-14T16:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-11f974f3b38881bf8e37d16613445b38","public_url":null,"request_id":"30949c0f-c25f-415d-8d3c-1875c117f079"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30949c0f-c25f-415d-8d3c-1875c117f079
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "11f974f3-b388-81bf-8e37-d16613445b38"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-81c8-94e2-dd8f36a6f8ff","cover":null,"icon":null,"created_time":"2024-10-14T16:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"uwZD","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"11f974f3-b388-81bf-8e37-d16613445b38"},"url":"https://www.notion.so/11f974f3b38881c894e2dd8f36a6f8ff","public_url":null,"archived":false,"in_trash":false,"request_id":"cdc6cb1e-63af-4f69-8a16-37b97fff0c6c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cdc6cb1e-63af-4f69-8a16-37b97fff0c6c
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81bf-8e37-d16613445b38/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81c8-94e2-dd8f36a6f8ff","parent":{"type":"page_id","page_id":"11f974f3-b388-81bf-8e37-d16613445b38"},"created_time":"2024-10-14T16:43:00.000Z","last_edited_time":"2024-10-14T16:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"11f974f3-b388-816b-b471-fa44b8ce0f67","parent":{"type":"page_id","page_id":"11f974f3-b388-81bf-8e37-d16613445b38"},"created_time":"2024-10-14T16:43:00.000Z","last_edited_time":"2024-10-14T16:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2f124ef9-16fd-4723-b81f-1ed823b758f7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2f124ef9-16fd-4723-b81f-1ed823b758f7
    status_code: 200
version: 1
