interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8c01df2c-1ea9-4735-bb0b-b42072fdf131","cover":null,"icon":null,"created_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"KahS","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%7Djg%7B","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8c01df2c1ea94735bb0bb42072fdf131","public_url":null,"archived":false,"request_id":"ee65a768-b815-44cb-b99c-9a8229587e4a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "My articles", "text": {"content": "My
      articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/8c01df2c-1ea9-4735-bb0b-b42072fdf131
  response:
    content: '{"object":"database","id":"8c01df2c-1ea9-4735-bb0b-b42072fdf131","cover":null,"icon":null,"created_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:43:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"KahS","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%7Djg%7B","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8c01df2c1ea94735bb0bb42072fdf131","public_url":null,"archived":false,"request_id":"890861a9-d966-4619-bd18-cc83f3fa8c69"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8c01df2c-1ea9-4735-bb0b-b42072fdf131
  response:
    content: '{"object":"block","id":"8c01df2c-1ea9-4735-bb0b-b42072fdf131","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-25T11:43:00.000Z","last_edited_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"c9ceb93a-b949-4a88-9d5a-0c2dfa2a49ad"}'
    headers: {}
    status_code: 200
version: 1
