interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"de35c839-b10f-48c1-80bd-bd219778f3b9","cover":null,"icon":null,"created_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:51:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"T%3EZ%60","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"cnBc","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/de35c839b10f48c180bdbd219778f3b9","public_url":null,"archived":false,"in_trash":false,"request_id":"232f2f01-d9e1-482a-9266-6eadb19b3e97"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"362-28sd2xiL8Gi18hSzE0yl5pa+RFE"
      x-notion-request-id:
      - 232f2f01-d9e1-482a-9266-6eadb19b3e97
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My articles", "text":
      {"content": "My articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/de35c839-b10f-48c1-80bd-bd219778f3b9
  response:
    content: '{"object":"database","id":"de35c839-b10f-48c1-80bd-bd219778f3b9","cover":null,"icon":null,"created_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:51:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Description":{"id":"T%3EZ%60","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"cnBc","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/de35c839b10f48c180bdbd219778f3b9","public_url":null,"archived":false,"in_trash":false,"request_id":"66fa1d8c-e27a-4475-91c0-e867183e586b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"438-XoDbNfxidymcPPS/HRTAzBHRnkI"
      x-notion-request-id:
      - 66fa1d8c-e27a-4475-91c0-e867183e586b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/de35c839-b10f-48c1-80bd-bd219778f3b9
  response:
    content: '{"object":"block","id":"de35c839-b10f-48c1-80bd-bd219778f3b9","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:51:00.000Z","last_edited_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"57ddb19f-464e-4a6d-adda-6cf477a599b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-IS55gvwpaaPKx0gWlKmlNdtaYKw"
      x-notion-request-id:
      - 57ddb19f-464e-4a6d-adda-6cf477a599b5
    status_code: 200
version: 1
