interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"89bc6b5b-f757-439a-a31e-46dddfb98f5c","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-27T07:25:09.564+00:00","last_edited_time":"2026-07-27T07:25:09.564+00:00","data_sources":[{"id":"d2e67332-095b-4deb-83ee-9985e22296d7","name":"Articles"}],"icon":null,"cover":null,"url":"https://www.notion.so/89bc6b5bf757439aa31e46dddfb98f5c","public_url":null,"request_id":"93605500-7707-43b9-aaa9-de428a13829c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 93605500-7707-43b9-aaa9-de428a13829c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d2e67332-095b-4deb-83ee-9985e22296d7
  response:
    content: '{"object":"data_source","id":"d2e67332-095b-4deb-83ee-9985e22296d7","cover":null,"icon":null,"created_time":"2026-07-27T07:25:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-07-27T07:25:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"G%3C%3C%3B","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"GJ%60z","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"89bc6b5b-f757-439a-a31e-46dddfb98f5c"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/89bc6b5bf757439aa31e46dddfb98f5c","public_url":null,"in_trash":false,"request_id":"aa380a4b-1d19-4876-8163-22db1cef0153"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aa380a4b-1d19-4876-8163-22db1cef0153
    status_code: 200
- request:
    body: '{"icon":{"type":"icon","icon":{"name":"table","color":"purple"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/89bc6b5b-f757-439a-a31e-46dddfb98f5c
  response:
    content: '{"object":"database","id":"89bc6b5b-f757-439a-a31e-46dddfb98f5c","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-27T07:25:09.564+00:00","last_edited_time":"2026-07-27T07:25:09.564+00:00","data_sources":[{"id":"d2e67332-095b-4deb-83ee-9985e22296d7","name":"Articles"}],"icon":{"type":"icon","icon":{"name":"table","color":"purple"}},"cover":null,"url":"https://www.notion.so/89bc6b5bf757439aa31e46dddfb98f5c","public_url":null,"request_id":"63ab5a98-50b0-4542-9700-026b28201f93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 63ab5a98-50b0-4542-9700-026b28201f93
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/89bc6b5b-f757-439a-a31e-46dddfb98f5c
  response:
    content: '{"object":"block","id":"89bc6b5b-f757-439a-a31e-46dddfb98f5c","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-07-27T07:25:00.000Z","last_edited_time":"2026-07-27T07:25:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"a4fe049b-9d31-449e-95b8-698a287a35b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4fe049b-9d31-449e-95b8-698a287a35b5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-07-27T07:25:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"06c94209-34e4-408e-9421-df4da0b5ee4f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 06c94209-34e4-408e-9421-df4da0b5ee4f
    status_code: 200
version: 1
