interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"07e7ce66-4b18-46d3-8169-7e2b2599d4a0","cover":null,"icon":null,"created_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:14:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"p%5DoK","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"toqZ","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/07e7ce664b1846d381697e2b2599d4a0","public_url":null,"archived":false,"request_id":"409c9f43-af8b-47db-88f9-98e8e7502ebc"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/07e7ce66-4b18-46d3-8169-7e2b2599d4a0
  response:
    content: '{"object":"block","id":"07e7ce66-4b18-46d3-8169-7e2b2599d4a0","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T22:14:00.000Z","last_edited_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"d25966b9-92d4-439b-8409-d21084098327"}'
    headers: {}
    status_code: 200
version: 1
