interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d4ddbac8-bbca-402c-a831-f3172100297b","cover":null,"icon":null,"created_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:23:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"fZMY","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/d4ddbac8bbca402ca831f3172100297b","public_url":null,"archived":false,"in_trash":false,"request_id":"49a31203-3b5f-4ec9-b768-f79cf0068c5c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"312-Z3k8vy/wIxHD5pr54l2GWqSXZN8"
      x-notion-request-id:
      - 49a31203-3b5f-4ec9-b768-f79cf0068c5c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d4ddbac8-bbca-402c-a831-f3172100297b
  response:
    content: '{"object":"block","id":"d4ddbac8-bbca-402c-a831-f3172100297b","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-07-09T10:23:00.000Z","last_edited_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"36517182-fae0-4f48-a2e1-f5010ffb4651"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-2k3nFmSqHhFg9kc6F67U65kgUQo"
      x-notion-request-id:
      - 36517182-fae0-4f48-a2e1-f5010ffb4651
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/d4ddbac8-bbca-402c-a831-f3172100297b
  response:
    content: '{"object":"block","id":"d4ddbac8-bbca-402c-a831-f3172100297b","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-07-09T10:23:00.000Z","last_edited_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""},"request_id":"b151059c-7606-4225-8d19-33790d7f520f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21e-2bBG5wTAEZe+vwgrS13myVCQ6oA"
      x-notion-request-id:
      - b151059c-7606-4225-8d19-33790d7f520f
    status_code: 200
version: 1
