interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"902ad3f0-62e6-4a59-951d-f84ca4132ceb","cover":null,"icon":null,"created_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:58:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"AhX%40","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/902ad3f062e64a59951df84ca4132ceb","public_url":null,"archived":false,"request_id":"caa70a26-563f-4641-a980-742c6f6b21ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/902ad3f0-62e6-4a59-951d-f84ca4132ceb
  response:
    content: '{"object":"database","id":"902ad3f0-62e6-4a59-951d-f84ca4132ceb","cover":null,"icon":null,"created_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:58:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"AhX%40","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/902ad3f062e64a59951df84ca4132ceb","public_url":null,"archived":false,"request_id":"b765b518-fd00-415b-9682-78e5cbbf62bc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
