interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b7-b4ee-ee3aa2def673","created_time":"2026-06-24T15:02:00.000Z","last_edited_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://app.notion.com/p/Parent-3899ce7b60a481b7b4eeee3aa2def673","public_url":null,"archived":false,"request_id":"cce2aedf-c49a-4621-9bf2-7fdabf5e07be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cce2aedf-c49a-4621-9bf2-7fdabf5e07be
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"38797e2b-5220-43a8-a4b7-0c7bc3060a3c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 38797e2b-5220-43a8-a4b7-0c7bc3060a3c
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3899ce7b-60a4-81b7-b4ee-ee3aa2def673"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29bbb5aa-0645-44ea-87fd-bb9e769f0522","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b7-b4ee-ee3aa2def673"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:02:32.172+00:00","last_edited_time":"2026-06-24T15:02:32.172+00:00","data_sources":[{"id":"ca9a5556-4159-4397-b3a6-0c2846104bad","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/29bbb5aa064544ea87fdbb9e769f0522","public_url":null,"archived":false,"request_id":"6b289134-69ba-47e2-b9ff-9db57628cd60"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b289134-69ba-47e2-b9ff-9db57628cd60
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/ca9a5556-4159-4397-b3a6-0c2846104bad
  response:
    content: '{"object":"data_source","id":"ca9a5556-4159-4397-b3a6-0c2846104bad","cover":null,"icon":null,"created_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T15:02:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"29bbb5aa-0645-44ea-87fd-bb9e769f0522"},"database_parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b7-b4ee-ee3aa2def673"},"url":"https://app.notion.com/p/29bbb5aa064544ea87fdbb9e769f0522","public_url":null,"in_trash":false,"archived":false,"request_id":"88964bf9-2006-4032-aba8-099d93371345"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88964bf9-2006-4032-aba8-099d93371345
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81b7-b4ee-ee3aa2def673/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29bbb5aa-0645-44ea-87fd-bb9e769f0522","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b7-b4ee-ee3aa2def673"},"created_time":"2026-06-24T15:02:00.000Z","last_edited_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false},{"object":"block","id":"c41d52ab-9d2f-4f9f-bc65-4afdcf3171f7","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b7-b4ee-ee3aa2def673"},"created_time":"2026-06-24T15:02:00.000Z","last_edited_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6279e03f-72c7-490a-92f0-29ba0c4653e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6279e03f-72c7-490a-92f0-29ba0c4653e8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/29bbb5aa-0645-44ea-87fd-bb9e769f0522
  response:
    content: '{"object":"database","id":"29bbb5aa-0645-44ea-87fd-bb9e769f0522","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b7-b4ee-ee3aa2def673"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:02:32.172+00:00","last_edited_time":"2026-06-24T15:02:32.172+00:00","data_sources":[{"id":"ca9a5556-4159-4397-b3a6-0c2846104bad","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/29bbb5aa064544ea87fdbb9e769f0522","public_url":null,"archived":false,"request_id":"de808f16-c03f-40b7-8071-fa2e0ca90a35"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de808f16-c03f-40b7-8071-fa2e0ca90a35
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/c41d52ab-9d2f-4f9f-bc65-4afdcf3171f7
  response:
    content: '{"object":"database","id":"c41d52ab-9d2f-4f9f-bc65-4afdcf3171f7","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b7-b4ee-ee3aa2def673"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:02:33.586+00:00","last_edited_time":"2026-06-24T15:02:33.586+00:00","data_sources":[{"id":"8c093b42-993c-4161-b889-1cb81ac44900","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/c41d52ab9d2f4f9fbc654afdcf3171f7","public_url":null,"archived":false,"request_id":"d1aa3d6b-1bec-4be3-aa5c-30863f46c130"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d1aa3d6b-1bec-4be3-aa5c-30863f46c130
    status_code: 200
version: 1
