interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a8b08e7c-0364-431b-82a3-9cb1bdc0cb89","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:02:30.220+00:00","last_edited_time":"2026-06-24T15:02:30.220+00:00","data_sources":[{"id":"c5d0fa24-4f67-4359-aa91-e5994df15163","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a8b08e7c0364431b82a39cb1bdc0cb89","public_url":null,"archived":false,"request_id":"19565fab-1691-4add-8899-2f64dcc52c03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 19565fab-1691-4add-8899-2f64dcc52c03
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c5d0fa24-4f67-4359-aa91-e5994df15163
  response:
    content: '{"object":"data_source","id":"c5d0fa24-4f67-4359-aa91-e5994df15163","cover":null,"icon":null,"created_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T15:02:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a8b08e7c-0364-431b-82a3-9cb1bdc0cb89"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/a8b08e7c0364431b82a39cb1bdc0cb89","public_url":null,"in_trash":false,"archived":false,"request_id":"59c9c172-a9c7-4c3e-8120-19a54c52e971"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 59c9c172-a9c7-4c3e-8120-19a54c52e971
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c5d0fa24-4f67-4359-aa91-e5994df15163
  response:
    content: '{"object":"data_source","id":"c5d0fa24-4f67-4359-aa91-e5994df15163","cover":null,"icon":null,"created_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T15:02:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a8b08e7c-0364-431b-82a3-9cb1bdc0cb89"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/a8b08e7c0364431b82a39cb1bdc0cb89","public_url":null,"in_trash":false,"archived":false,"request_id":"57c51004-ec90-4a69-bacd-cbdd3a55c107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 57c51004-ec90-4a69-bacd-cbdd3a55c107
    status_code: 200
version: 1
