interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"aabf6fcb-94e6-48f0-a6e9-0f146a346186","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:54:02.454+00:00","last_edited_time":"2026-06-27T16:54:02.454+00:00","data_sources":[{"id":"67bb1e77-9f39-4189-9615-6e0cff526091","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/aabf6fcb94e648f0a6e90f146a346186","public_url":null,"request_id":"0b124115-d458-4e47-9775-c5125823fcbe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b124115-d458-4e47-9775-c5125823fcbe
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/67bb1e77-9f39-4189-9615-6e0cff526091
  response:
    content: '{"object":"data_source","id":"67bb1e77-9f39-4189-9615-6e0cff526091","cover":null,"icon":null,"created_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:54:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"aabf6fcb-94e6-48f0-a6e9-0f146a346186"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/aabf6fcb94e648f0a6e90f146a346186","public_url":null,"in_trash":false,"request_id":"9afeeabc-2893-43a2-9814-5e8531dd6ed1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9afeeabc-2893-43a2-9814-5e8531dd6ed1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/aabf6fcb-94e6-48f0-a6e9-0f146a346186
  response:
    content: '{"object":"block","id":"aabf6fcb-94e6-48f0-a6e9-0f146a346186","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:54:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"3cfcffa8-f3bd-4699-ac2d-aa5812184e31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3cfcffa8-f3bd-4699-ac2d-aa5812184e31
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"5254e7d7-59c2-407f-8a8d-d0ab50d2af9b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5254e7d7-59c2-407f-8a8d-d0ab50d2af9b
    status_code: 200
- request:
    body: '{"in_trash":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/aabf6fcb-94e6-48f0-a6e9-0f146a346186
  response:
    content: '{"object":"block","id":"aabf6fcb-94e6-48f0-a6e9-0f146a346186","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:54:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"fefd085e-c2c7-485e-9b6b-d52d00079f09"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fefd085e-c2c7-485e-9b6b-d52d00079f09
    status_code: 200
version: 1
