interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"75086f1e-44b6-4fae-9114-ad39a09d80f8","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"Yyar","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"%60rc%7D","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/75086f1e44b64fae9114ad39a09d80f8","public_url":null,"archived":false,"in_trash":false,"request_id":"6b8be706-ffff-459c-85a3-086480edd9b7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"432-9ss8Qv1tC0l02A2kjJUOnTOLa48"
      x-notion-request-id:
      - 6b8be706-ffff-459c-85a3-086480edd9b7
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "My most favorite articles",
      "text": {"content": "My most favorite articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/75086f1e-44b6-4fae-9114-ad39a09d80f8
  response:
    content: '{"object":"database","id":"75086f1e-44b6-4fae-9114-ad39a09d80f8","cover":null,"ico[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/75086f1e-44b6-4fae-9114-ad39a09d80f8
  response:
    content: '{"object":"block","id":"75086f1e-44b6-4fae-9114-ad39a09d80f8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:06:00.000Z","last_edited_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"7222ffdb-60e7-464c-a211-504bc900a9ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-6m1l/pUuhKYDEDzLiKtX9laLPbg"
      x-notion-request-id:
      - 7222ffdb-60e7-464c-a211-504bc900a9ba
    status_code: 200
version: 1
