interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d231d54e-042f-42e6-877e-4192861f6fdf","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:51:02.154+00:00","last_edited_time":"2026-06-27T05:51:02.154+00:00","data_sources":[{"id":"1c7ee02a-64b6-43b6-bce6-22df1bc62c22","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/d231d54e042f42e6877e4192861f6fdf","public_url":null,"archived":false,"request_id":"6f3ef840-f4e1-47d4-9f5e-984875c6901a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f3ef840-f4e1-47d4-9f5e-984875c6901a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1c7ee02a-64b6-43b6-bce6-22df1bc62c22
  response:
    content: '{"object":"data_source","id":"1c7ee02a-64b6-43b6-bce6-22df1bc62c22","cover":null,"icon":null,"created_time":"2026-06-27T05:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:51:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d231d54e-042f-42e6-877e-4192861f6fdf"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/d231d54e042f42e6877e4192861f6fdf","public_url":null,"in_trash":false,"archived":false,"request_id":"88c7ec04-31d6-40e2-8583-231e4c70a973"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88c7ec04-31d6-40e2-8583-231e4c70a973
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "1c7ee02a-64b6-43b6-bce6-22df1bc62c22"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-814c-8cd4-dd060d64cbfa","created_time":"2026-06-27T05:51:00.000Z","last_edited_time":"2026-06-27T05:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1c7ee02a-64b6-43b6-bce6-22df1bc62c22","database_id":"d231d54e-042f-42e6-877e-4192861f6fdf"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38c9ce7b60a4814c8cd4dd060d64cbfa","public_url":null,"archived":false,"request_id":"a42c2aa5-2ccb-4367-a9e0-39f516d2e540"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a42c2aa5-2ccb-4367-a9e0-39f516d2e540
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1c7ee02a-64b6-43b6-bce6-22df1bc62c22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8145-8321-eca01fd6b426","created_time":"2026-06-27T05:51:00.000Z","last_edited_time":"2026-06-27T05:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1c7ee02a-64b6-43b6-bce6-22df1bc62c22","database_id":"d231d54e-042f-42e6-877e-4192861f6fdf"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"start_cursor": "s:5bf3114f-0466-436b-8655-0ad55dd6e749:38c9ce7b-60a4-8174-9b11-cd1f05389b54",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1c7ee02a-64b6-43b6-bce6-22df1bc62c22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8174-9b11-cd1f05389b54","created_time":"2026-06-27T05:51[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d231d54e-042f-42e6-877e-4192861f6fdf
  response:
    content: '{"object":"block","id":"d231d54e-042f-42e6-877e-4192861f6fdf","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T05:51:00.000Z","last_edited_time":"2026-06-27T05:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"archived":true,"request_id":"3e45dac3-a6db-4723-9568-1eb59b951db3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3e45dac3-a6db-4723-9568-1eb59b951db3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"fc5a5013-5edc-4f61-8756-10dce3306c06"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc5a5013-5edc-4f61-8756-10dce3306c06
    status_code: 200
version: 1
