interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9614ce86-0854-4c31-8c13-863ada8f8f5d","cover":null,"icon":null,"created_time":"2024-07-09T10:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:22:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"IR%3BO","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%60%3FA%7B","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/9614ce8608544c318c13863ada8f8f5d","public_url":null,"archived":false,"in_trash":false,"request_id":"1e2d9b0b-3dcc-437b-b6ae-503115bcbaec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"366-odw838C/P55E2q9qfX/RFbnQs+A"
      x-notion-request-id:
      - 1e2d9b0b-3dcc-437b-b6ae-503115bcbaec
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9614ce86-0854-4c31-8c13-863ada8f8f5d
  response:
    content: '{"object":"block","id":"9614ce86-0854-4c31-8c13-863ada8f8f5d","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-07-09T10:22:00.000Z","last_edited_time":"2024-07-09T10:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"dc7a7dbc-b6f0-477b-b948-bd757549843e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-sPRwTckXsDZjmMIFIYPeg1+qNyk"
      x-notion-request-id:
      - dc7a7dbc-b6f0-477b-b948-bd757549843e
    status_code: 200
version: 1
