interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6edfec76-411c-40ef-bff1-5e35a1957370","cover":null,"icon":null,"created_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:14:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"YDeL","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5C%3Dg%3A","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/6edfec76411c40efbff15e35a1957370","public_url":null,"archived":false,"request_id":"85ef297b-5203-486a-bb81-ef40476bb052"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "My articles", "text": {"content": "My
      articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/6edfec76-411c-40ef-bff1-5e35a1957370
  response:
    content: '{"object":"database","id":"6edfec76-411c-40ef-bff1-5e35a1957370","cover":null,"icon":null,"created_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:14:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"YDeL","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5C%3Dg%3A","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/6edfec76411c40efbff15e35a1957370","public_url":null,"archived":false,"request_id":"01b638e6-f91a-4d53-b228-92e892335e7c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6edfec76-411c-40ef-bff1-5e35a1957370
  response:
    content: '{"object":"block","id":"6edfec76-411c-40ef-bff1-5e35a1957370","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T22:14:00.000Z","last_edited_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"482ec3ed-9392-41bb-a95d-186551e2f225"}'
    headers: {}
    status_code: 200
version: 1
