interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": true, "initial_data_source": {"properties": {"Name": {"type": "title",
      "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description":
      {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"424cf31c-7d28-4710-90e4-2a70e063d6e0","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":true,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:24:50.351+00:00","last_edited_time":"2026-06-24T16:24:50.351+00:00","data_sources":[{"id":"40ab806c-d8e5-4580-8326-9f114093fbaf","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/424cf31c7d28471090e42a70e063d6e0","public_url":null,"archived":false,"request_id":"714650c5-d048-4519-b279-c2cc5cb474d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 714650c5-d048-4519-b279-c2cc5cb474d9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/40ab806c-d8e5-4580-8326-9f114093fbaf
  response:
    content: '{"object":"data_source","id":"40ab806c-d8e5-4580-8326-9f114093fbaf","cover":null,"icon":null,"created_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:24:00.000Z","title":[],"description":[],"is_inline":true,"properties":{"Cost":{"id":"%3ECCt","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"PXgN","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"424cf31c-7d28-4710-90e4-2a70e063d6e0"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/424cf31c7d28471090e42a70e063d6e0","public_url":null,"in_trash":false,"archived":false,"request_id":"9d8f278c-a6dd-4395-bffb-7f750c0cee5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9d8f278c-a6dd-4395-bffb-7f750c0cee5d
    status_code: 200
- request:
    body: '{"is_inline":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/424cf31c-7d28-4710-90e4-2a70e063d6e0
  response:
    content: '{"object":"database","id":"424cf31c-7d28-4710-90e4-2a70e063d6e0","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:24:50.351+00:00","last_edited_time":"2026-06-24T16:24:50.351+00:00","data_sources":[{"id":"40ab806c-d8e5-4580-8326-9f114093fbaf","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/424cf31c7d28471090e42a70e063d6e0","public_url":null,"archived":false,"request_id":"5531b2e4-54f9-41e5-853a-500b5527755d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5531b2e4-54f9-41e5-853a-500b5527755d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/424cf31c-7d28-4710-90e4-2a70e063d6e0
  response:
    content: '{"object":"block","id":"424cf31c-7d28-4710-90e4-2a70e063d6e0","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:24:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"297b03b0-f5a0-451a-a2f1-cab34b0bbbe5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 297b03b0-f5a0-451a-a2f1-cab34b0bbbe5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"5c43d00c-fd1e-4e45-a4e7-e59c5c8b9a5c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c43d00c-fd1e-4e45-a4e7-e59c5c8b9a5c
    status_code: 200
version: 1
