interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"04ec3ef3-1aab-4db4-8270-4f9bd3e1abd8","cover":null,"icon":null,"created_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:51:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"N%7CVV","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"pbYr","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/04ec3ef31aab4db482704f9bd3e1abd8","public_url":null,"archived":false,"in_trash":false,"request_id":"d331c005-4905-4782-ad43-0c456f4e4f8a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"430-K87jm0X8ZFyoKqZ+tfkq4tjIQG8"
      x-notion-request-id:
      - d331c005-4905-4782-ad43-0c456f4e4f8a
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My most favorite articles",
      "text": {"content": "My most favorite articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/04ec3ef3-1aab-4db4-8270-4f9bd3e1abd8
  response:
    content: '{"object":"database","id":"04ec3ef3-1aab-4db4-8270-4f9bd3e1abd8","cover":nul[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/04ec3ef3-1aab-4db4-8270-4f9bd3e1abd8
  response:
    content: '{"object":"block","id":"04ec3ef3-1aab-4db4-8270-4f9bd3e1abd8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:51:00.000Z","last_edited_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"a317a588-91eb-44ae-8100-efb8ebf8a381"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-h0fn5EYmU+cyby/M98VXiTJAQSM"
      x-notion-request-id:
      - a317a588-91eb-44ae-8100-efb8ebf8a381
    status_code: 200
version: 1
