interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8198-ad66-d1e6a855566f","cover":null,"icon":null,"created_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:46:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"f%3FYz","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b3888198ad66d1e6a855566f","public_url":null,"archived":false,"in_trash":false,"request_id":"9734ad16-d901-4c8d-9860-7b3263a42402"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9734ad16-d901-4c8d-9860-7b3263a42402
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "DB test with 110 pages", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "DB test with 110 pages"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8198-ad66-d1e6a855566f
  response:
    content: '{"object":"database","id":"20e974f3-b388-8198-ad66-d1e6a855566f","cover":null,"icon":null,"created_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:46:00.000Z","title":[{"type":"text","text":{"content":"DB
      test with 110 pages","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"DB
      test with 110 pages","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"f%3FYz","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b3888198ad66d1e6a855566f","public_url":null,"archived":false,"in_trash":false,"request_id":"de55989d-76e6-4ba9-bcbd-69292ce8815c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de55989d-76e6-4ba9-bcbd-69292ce8815c
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8198-ad66-d1e6a855566f"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.[...]
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8198-ad66-d1e6a855566f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8157-8ac3-e9ae1f4e2804","created_time":"2025-06-10T17:47:00.000Z","last_edited_time":"2025-06-10T17:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8198-ad66-d1e6a855566f"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"f%3FYz","type":"multi_se[...]
- request:
    body: '{"start_cursor": "20e974f3-b388-81fa-879c-c2c72e32f7a7", "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8198-ad66-d1e6a855566f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81fa-879c-c2c72e32f7a7","created_time":"2025-06-10T17:46:00.000Z","last_edited_time":"2025-06-10T17:46:0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8198-ad66-d1e6a855566f
  response:
    content: '{"object":"block","id":"20e974f3-b388-8198-ad66-d1e6a855566f","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-06-10T17:46:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"request_id":"95f6dfaf-ea81-4c6f-bf29-f82dcd284603"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95f6dfaf-ea81-4c6f-bf29-f82dcd284603
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"48afebfe-5042-4945-9840-3a225aee4f98"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 48afebfe-5042-4945-9840-3a225aee4f98
    status_code: 200
version: 1
