interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": true, "initial_data_source": {"properties": {"Name": {"type": "title",
      "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description":
      {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cd1fe9e9-3e59-4b7b-8dff-b50b2262a6dc","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":true,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:02:43.369+00:00","last_edited_time":"2026-06-24T16:02:43.369+00:00","data_sources":[{"id":"d6676d57-dab0-4d81-8c21-e869b94df9bf","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/cd1fe9e93e594b7b8dffb50b2262a6dc","public_url":null,"archived":false,"request_id":"e293d698-59b5-41f8-b044-06df343833f4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e293d698-59b5-41f8-b044-06df343833f4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d6676d57-dab0-4d81-8c21-e869b94df9bf
  response:
    content: '{"object":"data_source","id":"d6676d57-dab0-4d81-8c21-e869b94df9bf","cover":null,"icon":null,"created_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:02:00.000Z","title":[],"description":[],"is_inline":true,"properties":{"Description":{"id":"%3D%3FqN","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"MZCZ","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"cd1fe9e9-3e59-4b7b-8dff-b50b2262a6dc"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/cd1fe9e93e594b7b8dffb50b2262a6dc","public_url":null,"in_trash":false,"archived":false,"request_id":"4fb63bd0-2601-4b0e-85dd-46d2cca27337"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4fb63bd0-2601-4b0e-85dd-46d2cca27337
    status_code: 200
- request:
    body: '{"is_inline":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/cd1fe9e9-3e59-4b7b-8dff-b50b2262a6dc
  response:
    content: '{"object":"database","id":"cd1fe9e9-3e59-4b7b-8dff-b50b2262a6dc","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:02:43.369+00:00","last_edited_time":"2026-06-24T16:02:43.369+00:00","data_sources":[{"id":"d6676d57-dab0-4d81-8c21-e869b94df9bf","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/cd1fe9e93e594b7b8dffb50b2262a6dc","public_url":null,"archived":false,"request_id":"462b2dcf-729a-48d0-b5a0-e78a23115a57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 462b2dcf-729a-48d0-b5a0-e78a23115a57
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/cd1fe9e9-3e59-4b7b-8dff-b50b2262a6dc
  response:
    content: '{"object":"block","id":"cd1fe9e9-3e59-4b7b-8dff-b50b2262a6dc","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:02:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"bb4725c1-6dca-411c-bebf-561ed7bc2364"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bb4725c1-6dca-411c-bebf-561ed7bc2364
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"c1b4af03-9a69-4fa7-b0ee-167bcd76e905"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c1b4af03-9a69-4fa7-b0ee-167bcd76e905
    status_code: 200
version: 1
