interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"40dfcb90-c58a-4b8a-8713-b994edf0f960","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T12:24:01.359+00:00","last_edited_time":"2026-06-27T12:24:01.359+00:00","data_sources":[{"id":"925350b7-c59d-49f0-8b60-5c96f6d5bc0b","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/40dfcb90c58a4b8a8713b994edf0f960","public_url":null,"archived":false,"request_id":"f69d37a8-bf1b-41c2-8226-2de40a5e8cef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f69d37a8-bf1b-41c2-8226-2de40a5e8cef
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/925350b7-c59d-49f0-8b60-5c96f6d5bc0b
  response:
    content: '{"object":"data_source","id":"925350b7-c59d-49f0-8b60-5c96f6d5bc0b","cover":null,"icon":null,"created_time":"2026-06-27T12:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T12:24:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"40dfcb90-c58a-4b8a-8713-b994edf0f960"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/40dfcb90c58a4b8a8713b994edf0f960","public_url":null,"in_trash":false,"archived":false,"request_id":"0b3a5431-857e-4c11-ac9a-f94dc3651c28"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b3a5431-857e-4c11-ac9a-f94dc3651c28
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/40dfcb90-c58a-4b8a-8713-b994edf0f960
  response:
    content: '{"object":"database","id":"40dfcb90-c58a-4b8a-8713-b994edf0f960","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T12:24:01.359+00:00","last_edited_time":"2026-06-27T12:24:01.359+00:00","data_sources":[{"id":"925350b7-c59d-49f0-8b60-5c96f6d5bc0b","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/40dfcb90c58a4b8a8713b994edf0f960","public_url":null,"archived":false,"request_id":"19943788-159c-41e6-acc3-dce3de15064d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 19943788-159c-41e6-acc3-dce3de15064d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/40dfcb90-c58a-4b8a-8713-b994edf0f960
  response:
    content: '{"object":"block","id":"40dfcb90-c58a-4b8a-8713-b994edf0f960","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T12:24:00.000Z","last_edited_time":"2026-06-27T12:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"db0720e2-7ba7-45bb-8c24-6acd1b01442d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db0720e2-7ba7-45bb-8c24-6acd1b01442d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T12:24:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"054d73c8-51f2-4f4d-ae9b-b4f3dc330702"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 054d73c8-51f2-4f4d-ae9b-b4f3dc330702
    status_code: 200
version: 1
