interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}, "is_inline": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21e974f3-b388-8113-97a1-ea4c91f3a6f2","cover":null,"icon":null,"created_time":"2025-06-26T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-26T17:51:00.000Z","title":[],"description":[],"is_inline":true,"properties":{"Cost":{"id":"Ezht","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5EG%3CO","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21e974f3b388811397a1ea4c91f3a6f2","public_url":null,"archived":false,"in_trash":false,"request_id":"90e3b6cb-6714-4784-8fea-322db7d9a8bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 90e3b6cb-6714-4784-8fea-322db7d9a8bb
    status_code: 200
- request:
    body: '{"is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21e974f3-b388-8113-97a1-ea4c91f3a6f2
  response:
    content: '{"object":"database","id":"21e974f3-b388-8113-97a1-ea4c91f3a6f2","cover":null,"icon":null,"created_time":"2025-06-26T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-26T17:51:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"Ezht","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5EG%3CO","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21e974f3b388811397a1ea4c91f3a6f2","public_url":null,"archived":false,"in_trash":false,"request_id":"c65cbb97-fbdb-405a-815a-55250f349291"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c65cbb97-fbdb-405a-815a-55250f349291
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/21e974f3-b388-8113-97a1-ea4c91f3a6f2
  response:
    content: '{"object":"block","id":"21e974f3-b388-8113-97a1-ea4c91f3a6f2","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-06-26T17:51:00.000Z","last_edited_time":"2025-06-26T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"5c98d580-6fe4-4c90-a45a-4d8511ee4be2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c98d580-6fe4-4c90-a45a-4d8511ee4be2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-26T17:51:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"aff0b518-9c8f-41af-a459-32bc989e6adc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aff0b518-9c8f-41af-a459-32bc989e6adc
    status_code: 200
version: 1
