interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"81e273fc-38bd-4b42-8b03-9a17ad1754fb","cover":null,"icon":null,"created_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"IfON","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"Ry~A","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/81e273fc38bd4b428b039a17ad1754fb","public_url":null,"archived":false,"request_id":"2cc82c7b-86e4-4cfc-bd62-604d13e590c0"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/81e273fc-38bd-4b42-8b03-9a17ad1754fb
  response:
    content: '{"object":"block","id":"81e273fc-38bd-4b42-8b03-9a17ad1754fb","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-25T11:43:00.000Z","last_edited_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"5b8c532d-8173-4934-8473-e8f0e7aac9fc"}'
    headers: {}
    status_code: 200
version: 1
