interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "properties": {"Name": {"type": "title",
      "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description":
      {"type": "rich_text", "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8197-8588-ef96395883b6","cover":null,"icon":null,"created_time":"2026-06-27T04:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:52:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3C%5E%3CH","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"W%3Djo","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481978588ef96395883b6","public_url":null,"in_trash":false,"archived":false,"request_id":"89255d42-e819-498f-bee9-328da13c2912"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 89255d42-e819-498f-bee9-328da13c2912
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"My most favorite articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      most favorite articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8197-8588-ef96395883b6
  response:
[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8197-8588-ef96395883b6
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8197-8588-ef96395883b6","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T04:52:00.000Z","last_edited_time":"2026-06-27T04:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"archived":true,"request_id":"04bc2ae4-e39f-4a7e-979b-3b2f49a5de86"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 04bc2ae4-e39f-4a7e-979b-3b2f49a5de86
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"e06b580d-1991-4874-a302-d2bc9c5f5da6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e06b580d-1991-4874-a302-d2bc9c5f5da6
    status_code: 200
version: 1
