interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2139998a-f6c5-45b7-b606-a2caaa4f6aff","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"FY%3EG","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2139998af6c545b7b606a2caaa4f6aff","public_url":null,"archived":false,"request_id":"b9c8f88b-9e82-40c0-9a94-f47e68fe8894"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/2139998a-f6c5-45b7-b606-a2caaa4f6aff
  response:
    content: '{"object":"database","id":"2139998a-f6c5-45b7-b606-a2caaa4f6aff","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"FY%3EG","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2139998af6c545b7b606a2caaa4f6aff","public_url":null,"archived":false,"request_id":"bda61d79-4ea3-4c2e-affd-e7a80e1ab803"}'
    headers: {}
    status_code: 200
version: 1
