interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2c3358ea-727d-4fb5-b283-7c2103449efc","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:48.076+00:00","last_edited_time":"2026-06-27T16:53:48.076+00:00","data_sources":[{"id":"6af79bc3-215c-4c65-9d99-398b78f5db92","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/2c3358ea727d4fb5b2837c2103449efc","public_url":null,"request_id":"9b0ef638-3a21-42e3-bb4c-4889801e44b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9b0ef638-3a21-42e3-bb4c-4889801e44b3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/6af79bc3-215c-4c65-9d99-398b78f5db92
  response:
    content: '{"object":"data_source","id":"6af79bc3-215c-4c65-9d99-398b78f5db92","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2c3358ea-727d-4fb5-b283-7c2103449efc"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/2c3358ea727d4fb5b2837c2103449efc","public_url":null,"in_trash":false,"request_id":"346ad4b0-e2a4-4cc3-8a92-df9a80b26ad4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 346ad4b0-e2a4-4cc3-8a92-df9a80b26ad4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/2c3358ea-727d-4fb5-b283-7c2103449efc
  response:
    content: '{"object":"database","id":"2c3358ea-727d-4fb5-b283-7c2103449efc","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:48.076+00:00","last_edited_time":"2026-06-27T16:53:48.076+00:00","data_sources":[{"id":"6af79bc3-215c-4c65-9d99-398b78f5db92","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/2c3358ea727d4fb5b2837c2103449efc","public_url":null,"request_id":"341f53c4-b001-47fa-aa1d-f7e35d5ddeed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 341f53c4-b001-47fa-aa1d-f7e35d5ddeed
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2c3358ea-727d-4fb5-b283-7c2103449efc
  response:
    content: '{"object":"block","id":"2c3358ea-727d-4fb5-b283-7c2103449efc","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"1e64ec0e-8055-4913-8552-198f92926b26"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e64ec0e-8055-4913-8552-198f92926b26
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"b2ae41aa-7707-4084-a85c-0bdb1a45afbe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b2ae41aa-7707-4084-a85c-0bdb1a45afbe
    status_code: 200
version: 1
