interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "My Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d3113c7b-034d-42a7-8455-a750af96675d","title":[{"type":"text","text":{"content":"My
      Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T08:18:42.848+00:00","last_edited_time":"2026-06-27T08:18:42.848+00:00","data_sources":[{"id":"5773b9fd-5a64-4073-9e8a-4d126df2eb20","name":"My
      Articles"}],"icon":null,"cover":null,"url":"https://www.notion.so/d3113c7b034d42a78455a750af96675d","public_url":null,"archived":false,"request_id":"1f9c88a0-4791-4462-97c8-4210b3d6872d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f9c88a0-4791-4462-97c8-4210b3d6872d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/5773b9fd-5a64-4073-9e8a-4d126df2eb20
  response:
    content: '{"object":"data_source","id":"5773b9fd-5a64-4073-9e8a-4d126df2eb20","cover":null,"icon":null,"created_time":"2026-06-27T08:18:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T08:18:00.000Z","title":[{"type":"text","text":{"content":"My
      Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"P_pn","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d3113c7b-034d-42a7-8455-a750af96675d"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/d3113c7b034d42a78455a750af96675d","public_url":null,"in_trash":false,"archived":false,"request_id":"4f29a67a-aeab-4de3-9479-ace88e18769d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f29a67a-aeab-4de3-9479-ace88e18769d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/d3113c7b-034d-42a7-8455-a750af96675d
  response:
    content: '{"object":"database","id":"d3113c7b-034d-42a7-8455-a750af96675d","title":[{"type":"text","text":{"content":"My
      Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T08:18:42.848+00:00","last_edited_time":"2026-06-27T08:18:42.848+00:00","data_sources":[{"id":"5773b9fd-5a64-4073-9e8a-4d126df2eb20","name":"My
      Articles"}],"icon":null,"cover":null,"url":"https://www.notion.so/d3113c7b034d42a78455a750af96675d","public_url":null,"archived":false,"request_id":"a2c29f3d-c114-471f-84fe-7ea13909d61b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2c29f3d-c114-471f-84fe-7ea13909d61b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T08:18:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"fc71f322-226f-4013-8e1a-91a48d7d0c09"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc71f322-226f-4013-8e1a-91a48d7d0c09
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d3113c7b-034d-42a7-8455-a750af96675d
  response:
    content: '{"object":"block","id":"d3113c7b-034d-42a7-8455-a750af96675d","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T08:18:00.000Z","last_edited_time":"2026-06-27T08:18:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"My
      Articles"},"archived":true,"request_id":"6dbaf1a8-8e73-4d66-8251-42a55ea1b8aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6dbaf1a8-8e73-4d66-8251-42a55ea1b8aa
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d3113c7b-034d-42a7-8455-a750af96675d
  response:
    content: '{"object":"block","id":"d3113c7b-034d-42a7-8455-a750af96675d","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T08:18:00.000Z","last_edited_time":"2026-06-27T08:18:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"My
      Articles"},"archived":true,"request_id":"085fda5b-b9b9-44f6-a9db-9370b1d6238f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 085fda5b-b9b9-44f6-a9db-9370b1d6238f
    status_code: 200
version: 1
