interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5ea61bfc-2a3a-4926-b6b0-32b4eb61d242","cover":null,"icon":null,"created_time":"2024-08-02T20:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:45:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"X%3BTE","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"sBCf","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/5ea61bfc2a3a4926b6b032b4eb61d242","public_url":null,"archived":false,"in_trash":false,"request_id":"9c2ad331-653b-4e4b-b97a-b09d75412ff8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c2ad331-653b-4e4b-b97a-b09d75412ff8
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My articles", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "My articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/5ea61bfc-2a3a-4926-b6b0-32b4eb61d242
  response:
    content: '{"object":"database","id":"5ea61bfc-2a3a-4926-b6b0-32b4eb61d242","cover":null,"icon":null,"created_time":"2024-08-02T20:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:45:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"X%3BTE","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"sBCf","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/5ea61bfc2a3a4926b6b032b4eb61d242","public_url":null,"archived":false,"in_trash":false,"request_id":"9ccc709c-8f76-4a4a-bc3e-2137a1a7cfcf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ccc709c-8f76-4a4a-bc3e-2137a1a7cfcf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5ea61bfc-2a3a-4926-b6b0-32b4eb61d242
  response:
    content: '{"object":"block","id":"5ea61bfc-2a3a-4926-b6b0-32b4eb61d242","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-02T20:45:00.000Z","last_edited_time":"2024-08-02T20:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"56be025c-076d-4c17-9834-30a3546f962c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56be025c-076d-4c17-9834-30a3546f962c
    status_code: 200
version: 1
