interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e299bb4b-4f9a-4f67-8df6-2ac3f3a438ae","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:03:10.622+00:00","last_edited_time":"2026-06-24T16:03:10.622+00:00","data_sources":[{"id":"e955f019-e942-4241-a615-7bcff055c017","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e299bb4b4f9a4f678df62ac3f3a438ae","public_url":null,"archived":false,"request_id":"a2b27cc8-850d-4cb5-bd13-9091c41f53ef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2b27cc8-850d-4cb5-bd13-9091c41f53ef
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e955f019-e942-4241-a615-7bcff055c017
  response:
    content: '{"object":"data_source","id":"e955f019-e942-4241-a615-7bcff055c017","cover":null,"icon":null,"created_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:03:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e299bb4b-4f9a-4f67-8df6-2ac3f3a438ae"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/e299bb4b4f9a4f678df62ac3f3a438ae","public_url":null,"in_trash":false,"archived":false,"request_id":"48c16eb1-0b25-4fab-8c09-20f36cbf165f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 48c16eb1-0b25-4fab-8c09-20f36cbf165f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e299bb4b-4f9a-4f67-8df6-2ac3f3a438ae
  response:
    content: '{"object":"block","id":"e299bb4b-4f9a-4f67-8df6-2ac3f3a438ae","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"bc3d38ec-91ab-4180-8590-e2c75a870cab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bc3d38ec-91ab-4180-8590-e2c75a870cab
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"523ba780-2f93-4e65-8fd4-93d748508666"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 523ba780-2f93-4e65-8fd4-93d748508666
    status_code: 200
- request:
    body: '{"archived":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/e299bb4b-4f9a-4f67-8df6-2ac3f3a438ae
  response:
    content: '{"object":"block","id":"e299bb4b-4f9a-4f67-8df6-2ac3f3a438ae","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false,"request_id":"deb428ef-56cb-49ca-ae12-475b6aa1072e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - deb428ef-56cb-49ca-ae12-475b6aa1072e
    status_code: 200
version: 1
