interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Movable DS", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Movable DS"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d13ecb64-d168-4015-a010-e3c31dc1bdb1","title":[{"type":"text","text":{"content":"Movable
      DS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Movable
      DS","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:54.917+00:00","last_edited_time":"2026-06-27T16:53:54.917+00:00","data_sources":[{"id":"a2a6392d-634e-40fe-b4f9-7e59c35a366a","name":"Movable
      DS"}],"icon":null,"cover":null,"url":"https://www.notion.so/d13ecb64d1684015a010e3c31dc1bdb1","public_url":null,"request_id":"be1e6063-ad03-438f-9ec9-736fe1a15b70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be1e6063-ad03-438f-9ec9-736fe1a15b70
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a2a6392d-634e-40fe-b4f9-7e59c35a366a
  response:
    content: '{"object":"data_source","id":"a2a6392d-634e-40fe-b4f9-7e59c35a366a","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[{"type":"text","text":{"content":"Movable
      DS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Movable
      DS","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d13ecb64-d168-4015-a010-e3c31dc1bdb1"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/d13ecb64d1684015a010e3c31dc1bdb1","public_url":null,"in_trash":false,"request_id":"1b9b7f3e-5e3c-4d4b-b3ca-f18673985e3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1b9b7f3e-5e3c-4d4b-b3ca-f18673985e3e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/f5c66275-c3d6-4e3c-ac34-c67d622b9292
  response:
    content: '{"object":"database","id":"f5c66275-c3d6-4e3c-ac34-c67d622b9292","title":[{"type":"text","text":{"content":"Target
      DS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      DS","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:56.375+00:00","last_edited_time":"2026-06-27T16:53:56.375+00:00","data_sources":[{"id":"e557f68d-bc65-4b8a-a8eb-5e43f5966254","name":"Target
      DS"}],"icon":null,"cover":null,"url":"https://www.notion.so/f5c66275c3d64e3cac34c67d622b9292","public_url":null,"request_id":"edd1b270-2aba-4d78-b9eb-5697d124bda8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - edd1b270-2aba-4d78-b9eb-5697d124bda8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"3d6b61ac-690c-4bde-921c-79e0ae30412e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3d6b61ac-690c-4bde-921c-79e0ae30412e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f5c66275-c3d6-4e3c-ac34-c67d622b9292
  response:
    content: '{"object":"block","id":"f5c66275-c3d6-4e3c-ac34-c67d622b9292","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Target
      DS"},"request_id":"95a5cc63-80fb-41ee-8e80-bc6d73605ac7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95a5cc63-80fb-41ee-8e80-bc6d73605ac7
    status_code: 200
version: 1
