interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1371ac06-28ff-413d-bf6a-127e737500a3","cover":null,"icon":null,"created_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:23:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"E%3FL%3C","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"%60Tdb","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/1371ac0628ff413dbf6a127e737500a3","public_url":null,"archived":false,"in_trash":false,"request_id":"060268ae-4df3-4633-934f-79a3d22240a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"434-xOgh27OeLfbn5LjhVuQL4Y0GzpI"
      x-notion-request-id:
      - 060268ae-4df3-4633-934f-79a3d22240a7
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "My most favorite articles",
      "text": {"content": "My most favorite articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/1371ac06-28ff-413d-bf6a-127e737500a3
  response:
    content: '{"object":"database","id":"1371ac06-28ff-413d-bf6a-127e737500a3","cover":null,"ico[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1371ac06-28ff-413d-bf6a-127e737500a3
  response:
    content: '{"object":"block","id":"1371ac06-28ff-413d-bf6a-127e737500a3","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-07-09T10:23:00.000Z","last_edited_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"1ee9d29f-8ed2-4780-a31d-2935ea7a5deb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-I2RCl9oEzCMxQ19ivsSKxRTad6c"
      x-notion-request-id:
      - 1ee9d29f-8ed2-4780-a31d-2935ea7a5deb
    status_code: 200
version: 1
