interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}},
      "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8315be61-c01a-4f5f-b212-dcfbaf36c554","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:17.620+00:00","last_edited_time":"2026-06-27T16:53:17.620+00:00","data_sources":[{"id":"46829cee-0275-4e22-88b6-13c466971617","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/8315be61c01a4f5fb212dcfbaf36c554","public_url":null,"request_id":"6f1e28c3-a0fe-4382-868f-e21667afcd37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f1e28c3-a0fe-4382-868f-e21667afcd37
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/46829cee-0275-4e22-88b6-13c466971617
  response:
    content: '{"object":"data_source","id":"46829cee-0275-4e22-88b6-13c466971617","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3DLoJ","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"Fx%5Ep","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"8315be61-c01a-4f5f-b212-dcfbaf36c554"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/8315be61c01a4f5fb212dcfbaf36c554","public_url":null,"in_trash":false,"request_id":"dee2afaa-bdc3-41d7-8265-ca8ef14f9a88"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dee2afaa-bdc3-41d7-8265-ca8ef14f9a88
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8315be61-c01a-4f5f-b212-dcfbaf36c554
  response:
    content: '{"object":"block","id":"8315be61-c01a-4f5f-b212-dcfbaf36c554","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"2396ecab-2da6-4b0a-a27e-80ebb92bd087"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2396ecab-2da6-4b0a-a27e-80ebb92bd087
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"e0cad0bc-2720-40fc-963f-515f94c4ac12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e0cad0bc-2720-40fc-963f-515f94c4ac12
    status_code: 200
version: 1
