interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2dfa58be-c84f-45b3-8e1c-9d79eb415cd5","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:03.085+00:00","last_edited_time":"2026-06-24T18:41:03.085+00:00","data_sources":[{"id":"e39bee1b-071f-4a11-9ead-7745f5dd9f08","name":"Articles"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/2dfa58bec84f45b38e1c9d79eb415cd5","public_url":null,"archived":false,"request_id":"92ea7cb7-70f6-4b6a-9868-30bc4eac76b2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 92ea7cb7-70f6-4b6a-9868-30bc4eac76b2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e39bee1b-071f-4a11-9ead-7745f5dd9f08
  response:
    content: '{"object":"data_source","id":"e39bee1b-071f-4a11-9ead-7745f5dd9f08","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3BaA%3D","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"%3DdTx","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2dfa58be-c84f-45b3-8e1c-9d79eb415cd5"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/2dfa58bec84f45b38e1c9d79eb415cd5","public_url":null,"in_trash":false,"archived":false,"request_id":"5f4766a5-0369-4923-9755-04af2ac84f72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f4766a5-0369-4923-9755-04af2ac84f72
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2dfa58be-c84f-45b3-8e1c-9d79eb415cd5
  response:
    content: '{"object":"block","id":"2dfa58be-c84f-45b3-8e1c-9d79eb415cd5","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"archived":true,"request_id":"00d408b9-9a15-4baf-87ce-596cc2507e24"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 00d408b9-9a15-4baf-87ce-596cc2507e24
    status_code: 200
version: 1
