interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c0bd593f-3caf-46b2-9e04-34da378c8bde","cover":null,"icon":null,"created_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-04T16:30:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"IpqR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/c0bd593f3caf46b29e0434da378c8bde","public_url":null,"archived":false,"request_id":"867e5044-7184-48c2-90c6-49e9e0f1b9dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c0bd593f-3caf-46b2-9e04-34da378c8bde
  response:
    content: '{"object":"block","id":"c0bd593f-3caf-46b2-9e04-34da378c8bde","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-04T16:30:00.000Z","last_edited_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"5e3c7991-f2cc-4c23-b750-819da5dc5380"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/c0bd593f-3caf-46b2-9e04-34da378c8bde
  response:
    content: '{"object":"block","id":"c0bd593f-3caf-46b2-9e04-34da378c8bde","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-04T16:30:00.000Z","last_edited_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_database","child_database":{"title":""},"request_id":"10900763-4d79-4aa6-8b4d-58327c2c03f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
