interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f0954e66-c234-4f78-80fa-149d53d8c934","cover":null,"icon":null,"created_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:51:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%40d%3Df","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"%7BUxt","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f0954e66c2344f7880fa149d53d8c934","public_url":null,"archived":false,"in_trash":false,"request_id":"2b672a41-57b1-46e4-abd5-b537ef4a03d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"434-2C/LtG7G/DIWTVpSe3bYyB3Hjh8"
      x-notion-request-id:
      - 2b672a41-57b1-46e4-abd5-b537ef4a03d7
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "My most favorite articles",
      "text": {"content": "My most favorite articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f0954e66-c234-4f78-80fa-149d53d8c934
  response:
    content: '{"object":"database","id":"f0954e66-c234-4f78-80fa-149d53d8c934","cover":null,"ico[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f0954e66-c234-4f78-80fa-149d53d8c934
  response:
    content: '{"object":"block","id":"f0954e66-c234-4f78-80fa-149d53d8c934","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:51:00.000Z","last_edited_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"6c42b0bc-fd29-4ff7-b140-a734eb673cd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-+iq0/jW+h0+thVlfpKIRJXJxFL4"
      x-notion-request-id:
      - 6c42b0bc-fd29-4ff7-b140-a734eb673cd8
    status_code: 200
version: 1
