interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"27214c6c-fbc9-483b-bc60-0dbeaa8c518f","cover":null,"icon":null,"created_time":"2024-08-21T17:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:19:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"dqVu","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/27214c6cfbc9483bbc600dbeaa8c518f","public_url":null,"archived":false,"in_trash":false,"request_id":"b546a683-6f82-4f2c-83ad-6641182b963b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b546a683-6f82-4f2c-83ad-6641182b963b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/27214c6c-fbc9-483b-bc60-0dbeaa8c518f
  response:
    content: '{"object":"block","id":"27214c6c-fbc9-483b-bc60-0dbeaa8c518f","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-21T17:19:00.000Z","last_edited_time":"2024-08-21T17:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"a7597bf8-cd9c-4cdb-8011-370c24ae31cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a7597bf8-cd9c-4cdb-8011-370c24ae31cc
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/27214c6c-fbc9-483b-bc60-0dbeaa8c518f
  response:
    content: '{"object":"block","id":"27214c6c-fbc9-483b-bc60-0dbeaa8c518f","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-21T17:19:00.000Z","last_edited_time":"2024-08-21T17:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""},"request_id":"2ac4e64a-42c4-4b06-b14a-452cfe7127f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2ac4e64a-42c4-4b06-b14a-452cfe7127f2
    status_code: 200
version: 1
