interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"945aaa00-34e9-4e08-a4d7-6dd51de0175e","cover":null,"icon":null,"created_time":"2024-08-21T17:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:18:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3CmyY","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"s%5E%3EP","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/945aaa0034e94e08a4d76dd51de0175e","public_url":null,"archived":false,"in_trash":false,"request_id":"caa291db-4a28-434f-aa0a-2e5c1f1194ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - caa291db-4a28-434f-aa0a-2e5c1f1194ad
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/945aaa00-34e9-4e08-a4d7-6dd51de0175e
  response:
    content: '{"object":"block","id":"945aaa00-34e9-4e08-a4d7-6dd51de0175e","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-21T17:18:00.000Z","last_edited_time":"2024-08-21T17:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"0afa0d66-9a0a-4d6c-bd83-f494b612aa8a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0afa0d66-9a0a-4d6c-bd83-f494b612aa8a
    status_code: 200
version: 1
