interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"06093e79-9c97-4c52-aae9-b56adcb4bceb","cover":null,"icon":null,"created_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:14:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"m_wM","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/06093e799c974c52aae9b56adcb4bceb","public_url":null,"archived":false,"request_id":"24b79796-e7e0-4c75-8c58-3badd7c306e0"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/06093e79-9c97-4c52-aae9-b56adcb4bceb
  response:
    content: '{"object":"block","id":"06093e79-9c97-4c52-aae9-b56adcb4bceb","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T22:14:00.000Z","last_edited_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"c8c801eb-03c9-459b-b957-8032a49b8164"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/06093e79-9c97-4c52-aae9-b56adcb4bceb
  response:
    content: '{"object":"block","id":"06093e79-9c97-4c52-aae9-b56adcb4bceb","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T22:14:00.000Z","last_edited_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_database","child_database":{"title":""},"request_id":"ea40ed67-9a74-4eb5-a009-171268e0dc5b"}'
    headers: {}
    status_code: 200
version: 1
