interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9588463d-6312-4bf0-bac4-c679e41ece77","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:25:21.320+00:00","last_edited_time":"2026-06-24T16:25:21.320+00:00","data_sources":[{"id":"e5b92104-5b80-43db-ad3b-773a9d37ed7b","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/9588463d63124bf0bac4c679e41ece77","public_url":null,"archived":false,"request_id":"8c36aaed-7d00-4bd1-a532-a2b4e14728b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8c36aaed-7d00-4bd1-a532-a2b4e14728b1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e5b92104-5b80-43db-ad3b-773a9d37ed7b
  response:
    content: '{"object":"data_source","id":"e5b92104-5b80-43db-ad3b-773a9d37ed7b","cover":null,"icon":null,"created_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:25:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"9588463d-6312-4bf0-bac4-c679e41ece77"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/9588463d63124bf0bac4c679e41ece77","public_url":null,"in_trash":false,"archived":false,"request_id":"23c841da-ea03-4e9d-8cfc-87c93d591808"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 23c841da-ea03-4e9d-8cfc-87c93d591808
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e5b92104-5b80-43db-ad3b-773a9d37ed7b
  response:
    content: '{"object":"data_source","id":"e5b92104-5b80-43db-ad3b-773a9d37ed7b","cover":null,"icon":null,"created_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:25:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"9588463d-6312-4bf0-bac4-c679e41ece77"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/9588463d63124bf0bac4c679e41ece77","public_url":null,"in_trash":false,"archived":false,"request_id":"d8e6107e-b8e1-4e3d-8244-4a490d97b04d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d8e6107e-b8e1-4e3d-8244-4a490d97b04d
    status_code: 200
version: 1
