interactions:
- request:
    body: '{"title": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/13d03fd1-80cc-4673-afc6-a6e300e18725
  response:
    content: '{"object":"database","id":"13d03fd1-80cc-4673-afc6-a6e300e18725","cover":null,"icon":null,"created_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:14:00.000Z","title":[{"type":"text","text":{"content":"My
      most favorite articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      most favorite articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%5DH%3Eo","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"kTMZ","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/13d03fd180cc4673afc6a6e300e18725","public_url":null,"archived":false,"request_id":"be8293b8-8f48-4750-90ba-ed670d57f8a9"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"title": []}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/13d03fd1-80cc-4673-afc6-a6e300e18725
  response:
    content: '{"object":"database","id":"13d03fd1-80cc-4673-afc6-a6e300e18725","cover":null,"icon":null,"created_time":"2023-12-24T22:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:14:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"%5DH%3Eo","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"kTMZ","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/13d03fd180cc4673afc6a6e300e18725","public_url":null,"archived":false,"request_id":"adec4051-bc74-4dd8-b503-ddfd46d3a1b1"}'
    headers: {}
    status_code: 200
version: 1
