interactions:
- request:
    body: '{"query": "Item DB 42", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T18:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_time\":\"2026-06-24T18:42:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"DB
      test with 110 pages\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"DB
      test with 110 pages\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"825818a0-e667-4d0c-848c-aba81863abfb\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/825818a0e6674d0c848caba81863abfb\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8076-9982-000bc09a66e4\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T21:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"fc820d21-80ec-4d06-878c-f991bc8070d2\"},\"last_edited_time\":\"2026-06-18T21:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Wiki
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Wiki
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"dju%60\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"ffb414b1-7c94-4e2d-81bf-5dad675b029d\",\"name\":\"Onboarding\",\"color\":\"blue\",\"description\":null},{\"id\":\"a3b0e7d6-d0c6-4b60-abb3-e1e4e61c69ac\",\"name\":\"Design\",\"color\":\"green\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"nI%7Bq\",\"name\":\"Last edited time\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Page\":{\"id\":\"title\",\"name\":\"Page\",\"description\":null,\"type\":\"title\",\"title\":{}},\"Verification\":{\"id\":\"verification\",\"name\":\"Verification\",\"description\":null,\"type\":\"verification\",\"verification\":{}},\"Owner\":{\"id\":\"verification_owner\",\"name\":\"Owner\",\"description\":null,\"type\":\"people\",\"people\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81b2-848b-fac2003020b2\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a481b2848bfac2003020b2\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"MrTs\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"length(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}},
      \\\", \\\"))\"}},\"String\":{\"id\":\"QDdU\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}})\"}},\"Checkbox\":{\"id\":\"f%40eH\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"contains(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}},
      \\\", \\\"), \\\"Done\\\")\"}},\"Date\":{\"id\":\"wGA%3B\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}}\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-0000000[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Item DB 42"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Size": {"type": "select",
      "select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f070bdad-8e8e-43b8-9cb0-c7305919ba60","title":[{"type":"text","text":{"content":"Item
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB 42","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:42:44.500+00:00","last_edited_time":"2026-06-24T18:42:44.500+00:00","data_sources":[{"id":"be41daf2-8c42-43fb-bec4-116da21d3144","name":"Item
      DB 42"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f070bdad8e8e43b89cb0c7305919ba60","public_url":null,"archived":false,"request_id":"74ec91ec-2c9d-40e2-bbb4-6760b14fac80"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 74ec91ec-2c9d-40e2-bbb4-6760b14fac80
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell.","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell."}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f070bdad-8e8e-43b8-9cb0-c[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/be41daf2-8c42-43fb-bec4-116da21d3144
  response:
    content: '{"object":"data_source","id":"be41daf2-8c42-43fb-bec4-116da21d3144","cover":null,"icon":null,"created_time":"2026-06-24T18:42:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:42:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"7827b7f6-510b-41c5-8c66-1cb13d8dbb51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7827b7f6-510b-41c5-8c66-1cb13d8dbb51
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB 42"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "data_source_id": "be41daf2-8c42-43fb-bec4-116da21d3144",
      "dual_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"732825d2-2304-495a-85c7-5c0fe80f16a5","title":[{"type":"text","text":{"content":"Customer
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB 42","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:43:10.987+00:00","last_edited_time":"2026-06-24T18:43:10.987+00:00","data_sources":[{"id":"f729e9c2-de0d-4131-888c-5ede7f26e2d6","name":"Customer
      DB 42"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/732825d22304495a85c75c0fe80f16a5","public_url":null,"archived":false,"request_id":"03781311-7cbd-4af4-98f5-abfa7692474f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03781311-7cbd-4af4-98f5-abfa7692474f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f729e9c2-de0d-4131-888c-5ede7f26e2d6
  response:
    content: '{"object":"data_source","id":"f729e9c2-de0d-4131-888c-5ede7f26e2d6","cover":null,"icon":null,"created_time":"2026-06-24T18:43:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:43:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB 42","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all our beloved customers.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all our beloved customers.","href":null}],"is_inline":false,"properties":{"Items
      Purchased":{"id":"%60jh%5B","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"f070bdad-8e8e-43b8-9cb0-c7305919ba60","data_source_id":"be41daf2-8c42-43fb-bec4-116da21d3144","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB 42 (Items Purchased)","synced_property_id":"%3F%40Eg"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"732825d2-2304-495a-85c7-5c0fe80f16a5"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/732825d22304495a85c75c0fe80f16a5","public_url":null,"in_trash":false,"archived":false,"request_id":"a979d21f-9b0c-4f12-b599-61f9a8811374"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a979d21f-9b0c-4f12-b599-61f9a8811374
    status_code: 200
[...]
