interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e150bb0c-5aa2-4845-99ec-c00591c39e16","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:41.524+00:00","last_edited_time":"2026-06-24T18:41:41.524+00:00","data_sources":[{"id":"88f626c5-78cc-4090-a78a-ca424a2f044a","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e150bb0c5aa2484599ecc00591c39e16","public_url":null,"archived":false,"request_id":"80236e19-05e4-4a62-beec-9f54add1f1e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80236e19-05e4-4a62-beec-9f54add1f1e1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/88f626c5-78cc-4090-a78a-ca424a2f044a
  response:
    content: '{"object":"data_source","id":"88f626c5-78cc-4090-a78a-ca424a2f044a","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e150bb0c-5aa2-4845-99ec-c00591c39e16"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/e150bb0c5aa2484599ecc00591c39e16","public_url":null,"in_trash":false,"archived":false,"request_id":"d9869f0f-4fc1-4f36-ad51-2406c1a4098a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d9869f0f-4fc1-4f36-ad51-2406c1a4098a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/88f626c5-78cc-4090-a78a-ca424a2f044a
  response:
    content: '{"object":"data_source","id":"88f626c5-78cc-4090-a78a-ca424a2f044a","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e150bb0c-5aa2-4845-99ec-c00591c39e16"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/e150bb0c5aa2484599ecc00591c39e16","public_url":null,"in_trash":false,"archived":false,"request_id":"3ddc72cf-ecdd-469d-a030-d561e6d475c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ddc72cf-ecdd-469d-a030-d561e6d475c6
    status_code: 200
version: 1
