interactions:
- request:
    body: '{"query": "Item DB 42", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T16:54:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T16:55:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"DB
      test with 110 pages\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"DB
      test with 110 pages\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"9eb21f85-98d9-4a37-9186-6ea272cabd9c\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/9eb21f8598d94a3791866ea272cabd9c\",\"public_url\":null,\"in_trash\":true},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-25T16:54:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Date\":{\"id\":\"%5Ckxk\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}\"}},\"String\":{\"id\":\"dvYQ\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})\"}},\"Checkbox\":{\"id\":\"hlGb\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.includes(\\\"Done\\\")\"}},\"Number\":{\"id\":\"x%40zJ\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.length()\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"00000000-0000-4000-8000-00000000000d\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Item DB 42"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Size": {"type": "select",
      "select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"561f297f-f4ef-433c-bfbf-34f84619a4da","title":[{"type":"text","text":{"content":"Item
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB 42","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:55:06.056+00:00","last_edited_time":"2026-06-27T16:55:06.056+00:00","data_sources":[{"id":"bbdc8f1b-21cf-429b-b2c1-1fda9ef302c1","name":"Item
      DB 42"}],"icon":null,"cover":null,"url":"https://www.notion.so/561f297ff4ef433cbfbf34f84619a4da","public_url":null,"request_id":"c0b67cba-cf59-4d79-a60c-13688c69bf05"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c0b67cba-cf59-4d79-a60c-13688c69bf05
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell.","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell."}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/561f297f-f4ef-433c-bfbf-3[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/bbdc8f1b-21cf-429b-b2c1-1fda9ef302c1
  response:
    content: '{"object":"data_source","id":"bbdc8f1b-21cf-429b-b2c1-1fda9ef302c1","cover":null,"icon":null,"created_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0000[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"efd8504e-f18d-4848-9a43-2a471a8d1a51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - efd8504e-f18d-4848-9a43-2a471a8d1a51
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB 42"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "data_source_id": "bbdc8f1b-21cf-429b-b2c1-1fda9ef302c1",
      "dual_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"961017e5-6651-4533-bae6-8ea30277a206","title":[{"type":"text","text":{"content":"Customer
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB 42","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:55:34.214+00:00","last_edited_time":"2026-06-27T16:55:34.214+00:00","data_sources":[{"id":"dfb9e1ac-2926-481b-aec8-5249b5f91552","name":"Customer
      DB 42"}],"icon":null,"cover":null,"url":"https://www.notion.so/961017e566514533bae68ea30277a206","public_url":null,"request_id":"29433691-845b-408e-8e35-e712a11e1da3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29433691-845b-408e-8e35-e712a11e1da3
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/dfb9e1ac-2926-481b-aec8-5249b5f91552
  response:
    content: '{"object":"data_source","id":"dfb9e1ac-2926-481b-aec8-5249b5f91552","cover":null,"icon":null,"created_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:55:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB 42","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all our beloved customers.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all our beloved customers.","href":null}],"is_inline":false,"properties":{"Items
      Purchased":{"id":"uEYI","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"561f297f-f4ef-433c-bfbf-34f84619a4da","data_source_id":"bbdc8f1b-21cf-429b-b2c1-1fda9ef302c1","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB 42 (Items Purchased)","synced_property_id":"MU%3Cp"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"961017e5-6651-4533-bae6-8ea30277a206"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/961017e566514533bae68ea30277a206","public_url":null,"in_trash":false,"request_id":"f75a1a76-c83e-4dc3-91a3-72e0eeeeb967"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f75a1a76-c83e-4dc3-91a3-72e0eeeeb967
    status_code: 200
[...]
