interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fff974f3-b388-81d0-b1b8-d51ab073b5a0","created_time":"2024-08-21T17:19:00.000Z","last_edited_time":"2024-08-21T17:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-fff974f3b38881d0b1b8d51ab073b5a0","public_url":null,"request_id":"a0e89251-8820-4096-8fa0-896e1e5e8ed5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0e89251-8820-4096-8fa0-896e1e5e8ed5
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "fff974f3-b388-81d0-b1b8-d51ab073b5a0"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a8e7e016-5b97-48f8-9eef-5fb4e26a04b7","cover":null,"icon":null,"created_time":"2024-08-21T17:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:19:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"BLdY","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"fff974f3-b388-81d0-b1b8-d51ab073b5a0"},"url":"https://www.notion.so/a8e7e0165b9748f89eef5fb4e26a04b7","public_url":null,"archived":false,"in_trash":false,"request_id":"1e7ed888-f15b-40d0-ba6d-03b514e40a7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e7ed888-f15b-40d0-ba6d-03b514e40a7b
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/fff974f3-b388-81d0-b1b8-d51ab073b5a0/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"a8e7e016-5b97-48f8-9eef-5fb4e26a04b7","parent":{"type":"page_id","page_id":"fff974f3-b388-81d0-b1b8-d51ab073b5a0"},"created_time":"2024-08-21T17:19:00.000Z","last_edited_time":"2024-08-21T17:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"f9ad7e86-97fb-431a-be61-4500caefbd9e","parent":{"type":"page_id","page_id":"fff974f3-b388-81d0-b1b8-d51ab073b5a0"},"created_time":"2024-08-21T17:19:00.000Z","last_edited_time":"2024-08-21T17:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"538ce6f7-441d-4d3d-96a9-57e277dec06a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 538ce6f7-441d-4d3d-96a9-57e277dec06a
    status_code: 200
version: 1
