interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-8123-a59a-de968bf740f2","created_time":"2025-06-10T17:46:00.000Z","last_edited_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-20e974f3b3888123a59ade968bf740f2","public_url":null,"request_id":"395bb454-7fd6-44be-a7ad-8dfb2db056a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 395bb454-7fd6-44be-a7ad-8dfb2db056a9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"e89a3b53-7524-4222-adb8-1e96547a3909"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e89a3b53-7524-4222-adb8-1e96547a3909
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "20e974f3-b388-8123-a59a-de968bf740f2"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-81b4-a6e5-d6f5b433cac2","cover":null,"icon":null,"created_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:46:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%5E%7BeV","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"20e974f3-b388-8123-a59a-de968bf740f2"},"url":"https://www.notion.so/20e974f3b38881b4a6e5d6f5b433cac2","public_url":null,"archived":false,"in_trash":false,"request_id":"fc5f0af1-8a55-4c1c-96b7-7352542db19f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc5f0af1-8a55-4c1c-96b7-7352542db19f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8123-a59a-de968bf740f2/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81b4-a6e5-d6f5b433cac2","parent":{"type":"page_id","page_id":"20e974f3-b388-8123-a59a-de968bf740f2"},"created_time":"2025-06-10T17:46:00.000Z","last_edited_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"20e974f3-b388-812b-8526-cb5982802926","parent":{"type":"page_id","page_id":"20e974f3-b388-8123-a59a-de968bf740f2"},"created_time":"2025-06-10T17:46:00.000Z","last_edited_time":"2025-06-10T17:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4bf35f13-254a-447e-8d73-99e736e7b60e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4bf35f13-254a-447e-8d73-99e736e7b60e
    status_code: 200
version: 1
