interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c","created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://app.notion.com/p/Parent-3899ce7b60a48141bf53cd2cf2b3316c","public_url":null,"archived":false,"request_id":"172d8cc4-5931-4678-96af-9e58530d9349"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 172d8cc4-5931-4678-96af-9e58530d9349
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"94120b7d-2626-4002-85e0-d484512e318a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 94120b7d-2626-4002-85e0-d484512e318a
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3899ce7b-60a4-8141-bf53-cd2cf2b3316c"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"14d66446-3d46-4b19-b36a-ddbcef3e0aaf","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:25:23.726+00:00","last_edited_time":"2026-06-24T16:25:23.726+00:00","data_sources":[{"id":"bba53304-c946-411a-98ef-7009020c1efb","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/14d664463d464b19b36addbcef3e0aaf","public_url":null,"archived":false,"request_id":"1da15d3b-43c7-49a9-a419-621e6344840b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1da15d3b-43c7-49a9-a419-621e6344840b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/bba53304-c946-411a-98ef-7009020c1efb
  response:
    content: '{"object":"data_source","id":"bba53304-c946-411a-98ef-7009020c1efb","cover":null,"icon":null,"created_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:25:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"14d66446-3d46-4b19-b36a-ddbcef3e0aaf"},"database_parent":{"type":"page_id","page_id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c"},"url":"https://app.notion.com/p/14d664463d464b19b36addbcef3e0aaf","public_url":null,"in_trash":false,"archived":false,"request_id":"c3aee14d-6c0c-4382-b09e-7729a59f0f03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c3aee14d-6c0c-4382-b09e-7729a59f0f03
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8141-bf53-cd2cf2b3316c/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"14d66446-3d46-4b19-b36a-ddbcef3e0aaf","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c"},"created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false},{"object":"block","id":"c46801d2-9e43-40db-95e5-ee8a6aca8a47","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c"},"created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a14e4383-d017-4f89-a135-263f86e63070"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a14e4383-d017-4f89-a135-263f86e63070
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/14d66446-3d46-4b19-b36a-ddbcef3e0aaf
  response:
    content: '{"object":"database","id":"14d66446-3d46-4b19-b36a-ddbcef3e0aaf","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:25:23.726+00:00","last_edited_time":"2026-06-24T16:25:23.726+00:00","data_sources":[{"id":"bba53304-c946-411a-98ef-7009020c1efb","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/14d664463d464b19b36addbcef3e0aaf","public_url":null,"archived":false,"request_id":"30a9867b-c2f2-4948-b054-96db86817a2e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30a9867b-c2f2-4948-b054-96db86817a2e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/c46801d2-9e43-40db-95e5-ee8a6aca8a47
  response:
    content: '{"object":"database","id":"c46801d2-9e43-40db-95e5-ee8a6aca8a47","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:25:24.658+00:00","last_edited_time":"2026-06-24T16:25:24.658+00:00","data_sources":[{"id":"58c3cb3d-5bc2-477e-af88-a4fc2d323b7d","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/c46801d29e4340db95e5ee8a6aca8a47","public_url":null,"archived":false,"request_id":"ba5184c8-df12-4793-9539-188a8b594d3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba5184c8-df12-4793-9539-188a8b594d3e
    status_code: 200
version: 1
