interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5004862f-3d56-40ef-bc0d-538c4c419dc5","created_time":"2024-08-02T20:46:00.000Z","last_edited_time":"2024-08-02T20:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-5004862f3d5640efbc0d538c4c419dc5","public_url":null,"request_id":"5f06b425-bbfd-4d57-b984-8dd3d63680cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f06b425-bbfd-4d57-b984-8dd3d63680cc
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5004862f-3d56-40ef-bc0d-538c4c419dc5"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fd687a84-ad2e-481d-b12a-89972eef4938","cover":null,"icon":null,"created_time":"2024-08-02T20:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:46:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"uyO%3F","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5004862f-3d56-40ef-bc0d-538c4c419dc5"},"url":"https://www.notion.so/fd687a84ad2e481db12a89972eef4938","public_url":null,"archived":false,"in_trash":false,"request_id":"c6275a3e-764f-4df6-8a58-39e8c4b1be4a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c6275a3e-764f-4df6-8a58-39e8c4b1be4a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/5004862f-3d56-40ef-bc0d-538c4c419dc5/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"fd687a84-ad2e-481d-b12a-89972eef4938","parent":{"type":"page_id","page_id":"5004862f-3d56-40ef-bc0d-538c4c419dc5"},"created_time":"2024-08-02T20:46:00.000Z","last_edited_time":"2024-08-02T20:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"184fe4ec-f08e-422b-86ab-13da1ced722d","parent":{"type":"page_id","page_id":"5004862f-3d56-40ef-bc0d-538c4c419dc5"},"created_time":"2024-08-02T20:46:00.000Z","last_edited_time":"2024-08-02T20:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d56850e0-cd09-4f25-b443-8d4cd822acd3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d56850e0-cd09-4f25-b443-8d4cd822acd3
    status_code: 200
version: 1
