interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e8c24035-99d3-4f70-9e06-ca49b8fd2026","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:02:41.424+00:00","last_edited_time":"2026-06-24T16:02:41.424+00:00","data_sources":[{"id":"976fc4c7-859d-406d-aed4-a925ce82710f","name":"Articles"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e8c2403599d34f709e06ca49b8fd2026","public_url":null,"archived":false,"request_id":"6688df51-8bc2-4a1a-a60a-b65b41bf0d64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6688df51-8bc2-4a1a-a60a-b65b41bf0d64
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/976fc4c7-859d-406d-aed4-a925ce82710f
  response:
    content: '{"object":"data_source","id":"976fc4c7-859d-406d-aed4-a925ce82710f","cover":null,"icon":null,"created_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:02:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%60pLm","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"uDoK","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e8c24035-99d3-4f70-9e06-ca49b8fd2026"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/e8c2403599d34f709e06ca49b8fd2026","public_url":null,"in_trash":false,"archived":false,"request_id":"d6c19bcc-fcd3-4514-bc44-dfe9437ee291"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6c19bcc-fcd3-4514-bc44-dfe9437ee291
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e8c24035-99d3-4f70-9e06-ca49b8fd2026
  response:
    content: '{"object":"block","id":"e8c24035-99d3-4f70-9e06-ca49b8fd2026","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:02:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"archived":true,"request_id":"c4b1a0f9-6592-4e2f-b814-80d656f03853"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c4b1a0f9-6592-4e2f-b814-80d656f03853
    status_code: 200
version: 1
