interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}},
      "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fccbe85d-97e7-4876-b690-758dabbee346","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:02:58.041+00:00","last_edited_time":"2026-06-24T16:02:58.041+00:00","data_sources":[{"id":"ba5931a6-947f-4964-9e52-7b893c66e778","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/fccbe85d97e74876b690758dabbee346","public_url":null,"archived":false,"request_id":"be0db8ce-2b07-4d9f-84fc-b213445bf1e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be0db8ce-2b07-4d9f-84fc-b213445bf1e3
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"My articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/fccbe85d-97e7-4876-b690-758dabbee346
  response:
    content: '{"object":"dat[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/ba5931a6-947f-4964-9e52-7b893c66e778
  response:
    content: '{"object":"data_source","id":"ba5931a6-947f-4964-9e52-7b893c66e778","cover":null,"icon":null,"created_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:02:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Description":{"id":"%3AXUL","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"qUoy","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"fccbe85d-97e7-4876-b690-758dabbee346"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/fccbe85d97e74876b690758dabbee346","public_url":null,"in_trash":false,"archived":false,"request_id":"db47275c-c04e-4798-aa0c-3c0ec40c6820"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db47275c-c04e-4798-aa0c-3c0ec40c6820
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fccbe85d-97e7-4876-b690-758dabbee346
  response:
    content: '{"object":"block","id":"fccbe85d-97e7-4876-b690-758dabbee346","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:02:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"8a094417-4a5e-44e2-bb98-85efa0281fc6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8a094417-4a5e-44e2-bb98-85efa0281fc6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"2b279449-33b3-4ea5-be5f-861fe664c135"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2b279449-33b3-4ea5-be5f-861fe664c135
    status_code: 200
version: 1
