interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}},
      "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"37ff5cfd-6f92-4744-9037-710e710c1416","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:24:54.450+00:00","last_edited_time":"2026-06-24T16:24:54.450+00:00","data_sources":[{"id":"5ada6c02-335e-42c2-98c6-ecafbcaefbcd","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/37ff5cfd6f9247449037710e710c1416","public_url":null,"archived":false,"request_id":"e726b0be-6dec-422e-8a50-0e39017925a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e726b0be-6dec-422e-8a50-0e39017925a2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/5ada6c02-335e-42c2-98c6-ecafbcaefbcd
  response:
    content: '{"object":"data_source","id":"5ada6c02-335e-42c2-98c6-ecafbcaefbcd","cover":null,"icon":null,"created_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:24:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"DqSk","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"rO%3Fq","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"37ff5cfd-6f92-4744-9037-710e710c1416"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/37ff5cfd6f9247449037710e710c1416","public_url":null,"in_trash":false,"archived":false,"request_id":"a2562174-8efc-446b-939a-0461d68671ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2562174-8efc-446b-939a-0461d68671ac
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/37ff5cfd-6f92-4744-9037-710e710c1416
  response:
    content: '{"object":"block","id":"37ff5cfd-6f92-4744-9037-710e710c1416","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:24:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"2ebf4a3a-c4bd-4051-a4ad-8dc4e05790bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2ebf4a3a-c4bd-4051-a4ad-8dc4e05790bd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"ddf09d33-acd4-4250-a5c5-5dc712e314dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ddf09d33-acd4-4250-a5c5-5dc712e314dc
    status_code: 200
version: 1
