interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8117-b5d0-f6c0ccf64df6","cover":null,"icon":null,"created_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:26:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"Kxc%5C","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"vC%5Bn","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b3888117b5d0f6c0ccf64df6","public_url":null,"archived":false,"in_trash":false,"request_id":"59bec99d-8f50-4531-8c6a-eefa37e879fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 59bec99d-8f50-4531-8c6a-eefa37e879fe
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My articles", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "My articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8117-b5d0-f6c0ccf64df6
  response:
    content: '{"object":"database","id":"21b974f3-b388-8117-b5d0-f6c0ccf64df6","cover":null,"icon":null,"created_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:26:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Description":{"id":"Kxc%5C","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"vC%5Bn","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b3888117b5d0f6c0ccf64df6","public_url":null,"archived":false,"in_trash":false,"request_id":"5c7a5e9e-b2f1-4fb9-8f24-dca8fda2718f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c7a5e9e-b2f1-4fb9-8f24-dca8fda2718f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8117-b5d0-f6c0ccf64df6
  response:
    content: '{"object":"block","id":"21b974f3-b388-8117-b5d0-f6c0ccf64df6","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-06-23T13:26:00.000Z","last_edited_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"5007b392-8591-494f-bbf7-6e1fbf29ef19"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5007b392-8591-494f-bbf7-6e1fbf29ef19
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"ae51103f-adee-43e1-a104-428b77687a3f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ae51103f-adee-43e1-a104-428b77687a3f
    status_code: 200
version: 1
