interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8120-9090-fcaf6b5bfa54","created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://app.notion.com/p/Parent-3899ce7b60a481209090fcaf6b5bfa54","public_url":null,"archived":false,"request_id":"524a2132-4976-48c0-8b44-62bfb9d8430e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 524a2132-4976-48c0-8b44-62bfb9d8430e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"377a77ba-591f-45a9-a37e-f819c31e35c8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 377a77ba-591f-45a9-a37e-f819c31e35c8
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3899ce7b-60a4-8120-9090-fcaf6b5bfa54"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1f5a28ef-a5a9-4227-8dfc-dd24bd88160b","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8120-9090-fcaf6b5bfa54"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:43.845+00:00","last_edited_time":"2026-06-24T18:41:43.845+00:00","data_sources":[{"id":"f256dec4-5a2a-4343-a313-81364dba54af","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/1f5a28efa5a942278dfcdd24bd88160b","public_url":null,"archived":false,"request_id":"fd3a0308-b4c1-4e8b-852f-07d2bcba333b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd3a0308-b4c1-4e8b-852f-07d2bcba333b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f256dec4-5a2a-4343-a313-81364dba54af
  response:
    content: '{"object":"data_source","id":"f256dec4-5a2a-4343-a313-81364dba54af","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"1f5a28ef-a5a9-4227-8dfc-dd24bd88160b"},"database_parent":{"type":"page_id","page_id":"3899ce7b-60a4-8120-9090-fcaf6b5bfa54"},"url":"https://app.notion.com/p/1f5a28efa5a942278dfcdd24bd88160b","public_url":null,"in_trash":false,"archived":false,"request_id":"aa42e5d7-6616-4be1-87a2-328e386a72cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aa42e5d7-6616-4be1-87a2-328e386a72cf
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8120-9090-fcaf6b5bfa54/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"1f5a28ef-a5a9-4227-8dfc-dd24bd88160b","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8120-9090-fcaf6b5bfa54"},"created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false},{"object":"block","id":"d4051819-73ae-4cd9-a35d-6032c4d6db4b","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8120-9090-fcaf6b5bfa54"},"created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ba58eaf1-ced1-4f6e-8c5d-f82272d70a94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba58eaf1-ced1-4f6e-8c5d-f82272d70a94
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/1f5a28ef-a5a9-4227-8dfc-dd24bd88160b
  response:
    content: '{"object":"database","id":"1f5a28ef-a5a9-4227-8dfc-dd24bd88160b","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8120-9090-fcaf6b5bfa54"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:43.845+00:00","last_edited_time":"2026-06-24T18:41:43.845+00:00","data_sources":[{"id":"f256dec4-5a2a-4343-a313-81364dba54af","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/1f5a28efa5a942278dfcdd24bd88160b","public_url":null,"archived":false,"request_id":"ec80112b-dfc0-4d6c-b641-979f7019927f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ec80112b-dfc0-4d6c-b641-979f7019927f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/d4051819-73ae-4cd9-a35d-6032c4d6db4b
  response:
    content: '{"object":"database","id":"d4051819-73ae-4cd9-a35d-6032c4d6db4b","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8120-9090-fcaf6b5bfa54"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:45.047+00:00","last_edited_time":"2026-06-24T18:41:45.047+00:00","data_sources":[{"id":"cf032c2c-d67d-463a-9876-0be058ebdbce","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/d405181973ae4cd9a35d6032c4d6db4b","public_url":null,"archived":false,"request_id":"4b97ebc0-e895-40f3-b3c7-cc3e5e91de19"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4b97ebc0-e895-40f3-b3c7-cc3e5e91de19
    status_code: 200
version: 1
