interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": true, "initial_data_source": {"properties": {"Name": {"type": "title",
      "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description":
      {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"dbe37bd3-ca2a-4010-a48d-6d9d826f4262","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":true,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:07.138+00:00","last_edited_time":"2026-06-24T18:41:07.138+00:00","data_sources":[{"id":"1ec4c366-8842-47ae-bac7-edcf7e312560","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/dbe37bd3ca2a4010a48d6d9d826f4262","public_url":null,"archived":false,"request_id":"bb96f657-5cdd-44d3-8d9f-37aa576cea73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bb96f657-5cdd-44d3-8d9f-37aa576cea73
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1ec4c366-8842-47ae-bac7-edcf7e312560
  response:
    content: '{"object":"data_source","id":"1ec4c366-8842-47ae-bac7-edcf7e312560","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[],"description":[],"is_inline":true,"properties":{"Cost":{"id":"jEz_","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"snCt","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"dbe37bd3-ca2a-4010-a48d-6d9d826f4262"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/dbe37bd3ca2a4010a48d6d9d826f4262","public_url":null,"in_trash":false,"archived":false,"request_id":"074c4f0e-70f1-4ca5-8f6a-5945c61bddd7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 074c4f0e-70f1-4ca5-8f6a-5945c61bddd7
    status_code: 200
- request:
    body: '{"is_inline":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/dbe37bd3-ca2a-4010-a48d-6d9d826f4262
  response:
    content: '{"object":"database","id":"dbe37bd3-ca2a-4010-a48d-6d9d826f4262","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:07.138+00:00","last_edited_time":"2026-06-24T18:41:07.138+00:00","data_sources":[{"id":"1ec4c366-8842-47ae-bac7-edcf7e312560","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/dbe37bd3ca2a4010a48d6d9d826f4262","public_url":null,"archived":false,"request_id":"e8ee0b53-c4a1-416a-b859-6f21bf6e2afc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e8ee0b53-c4a1-416a-b859-6f21bf6e2afc
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/dbe37bd3-ca2a-4010-a48d-6d9d826f4262
  response:
    content: '{"object":"block","id":"dbe37bd3-ca2a-4010-a48d-6d9d826f4262","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"e22de04f-768f-43bd-989e-5d8d88e376f5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e22de04f-768f-43bd-989e-5d8d88e376f5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"eb39f999-0fdd-4c46-97a7-675eaebe7588"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb39f999-0fdd-4c46-97a7-675eaebe7588
    status_code: 200
version: 1
