interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": true, "initial_data_source": {"properties": {"Name": {"type": "title",
      "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description":
      {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4776333f-8c55-47eb-83dc-a7b6fecf9acc","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":true,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:50:28.755+00:00","last_edited_time":"2026-06-27T05:50:28.755+00:00","data_sources":[{"id":"7f89ca0d-3dbc-44e5-b972-2042fe1ef076","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/4776333f8c5547eb83dca7b6fecf9acc","public_url":null,"archived":false,"request_id":"00b8d664-6dad-4566-937c-a99572d53179"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 00b8d664-6dad-4566-937c-a99572d53179
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/7f89ca0d-3dbc-44e5-b972-2042fe1ef076
  response:
    content: '{"object":"data_source","id":"7f89ca0d-3dbc-44e5-b972-2042fe1ef076","cover":null,"icon":null,"created_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:50:00.000Z","title":[],"description":[],"is_inline":true,"properties":{"Cost":{"id":"TLD~","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"uf%3Ck","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"4776333f-8c55-47eb-83dc-a7b6fecf9acc"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/4776333f8c5547eb83dca7b6fecf9acc","public_url":null,"in_trash":false,"archived":false,"request_id":"eef8c913-c8b3-437c-8f5f-6aa6114933e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eef8c913-c8b3-437c-8f5f-6aa6114933e2
    status_code: 200
- request:
    body: '{"is_inline":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/4776333f-8c55-47eb-83dc-a7b6fecf9acc
  response:
    content: '{"object":"database","id":"4776333f-8c55-47eb-83dc-a7b6fecf9acc","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:50:28.755+00:00","last_edited_time":"2026-06-27T05:50:28.755+00:00","data_sources":[{"id":"7f89ca0d-3dbc-44e5-b972-2042fe1ef076","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/4776333f8c5547eb83dca7b6fecf9acc","public_url":null,"archived":false,"request_id":"73f96326-4712-4d4c-82d4-3b716ec8b1c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 73f96326-4712-4d4c-82d4-3b716ec8b1c4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4776333f-8c55-47eb-83dc-a7b6fecf9acc
  response:
    content: '{"object":"block","id":"4776333f-8c55-47eb-83dc-a7b6fecf9acc","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T05:50:00.000Z","last_edited_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"49743ae7-56a6-4f83-8e27-4ccf2ac4b408"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 49743ae7-56a6-4f83-8e27-4ccf2ac4b408
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"c89f032d-1e6f-4e78-b23e-9e379e6a72ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c89f032d-1e6f-4e78-b23e-9e379e6a72ad
    status_code: 200
version: 1
