interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"45cbb30d-d2d9-4c80-8225-1fceb7d3f902","cover":null,"icon":null,"created_time":"2024-01-25T07:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:39:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"BKy%7D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/45cbb30dd2d94c8082251fceb7d3f902","public_url":null,"archived":false,"request_id":"ae3a1b0a-8365-4e19-bfa9-dad10c63bec8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/45cbb30d-d2d9-4c80-8225-1fceb7d3f902
  response:
    content: '{"object":"database","id":"45cbb30d-d2d9-4c80-8225-1fceb7d3f902","cover":null,"icon":null,"created_time":"2024-01-25T07:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:39:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"BKy%7D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/45cbb30dd2d94c8082251fceb7d3f902","public_url":null,"archived":false,"request_id":"e54bf7d6-9de0-497a-a723-41176b920f41"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
