interactions:
- request:
    body: '{"title": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/60eaf07f-ffcf-44cc-b71b-94d367a8fa28
  response:
    content: '{"object":"database","id":"60eaf07f-ffcf-44cc-b71b-94d367a8fa28","cover":null,"icon":null,"created_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:43:00.000Z","title":[{"type":"text","text":{"content":"My
      most favorite articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      most favorite articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"kfxW","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"np%3AV","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/60eaf07fffcf44ccb71b94d367a8fa28","public_url":null,"archived":false,"request_id":"b6e6efb1-fa56-4441-a294-c50103ef45f2"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"title": []}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/60eaf07f-ffcf-44cc-b71b-94d367a8fa28
  response:
    content: '{"object":"database","id":"60eaf07f-ffcf-44cc-b71b-94d367a8fa28","cover":null,"icon":null,"created_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"kfxW","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"np%3AV","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/60eaf07fffcf44ccb71b94d367a8fa28","public_url":null,"archived":false,"request_id":"ccd4e78b-ffa7-45f0-b51e-f9dc7da9bcef"}'
    headers: {}
    status_code: 200
version: 1
