interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f20cf4d1-c878-4d46-ad49-d39ffbb161c0","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"Y%60FY","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"k%3EqK","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f20cf4d1c8784d46ad49d39ffbb161c0","public_url":null,"archived":false,"in_trash":false,"request_id":"ceeb9a13-cf6a-4364-82c0-bdbe23e6d4d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"432-hrzkGoFC/0bj0nMTMSCR9lyqYGY"
      x-notion-request-id:
      - ceeb9a13-cf6a-4364-82c0-bdbe23e6d4d8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f20cf4d1-c878-4d46-ad49-d39ffbb161c0
  response:
    content: '{"object":"block","id":"f20cf4d1-c878-4d46-ad49-d39ffbb161c0","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:06:00.000Z","last_edited_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"bb5190c0-585e-4eb6-ac2a-4b93b3f8d02e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-0fF6q8SYN4wgUj5o7sX12fDu99k"
      x-notion-request-id:
      - bb5190c0-585e-4eb6-ac2a-4b93b3f8d02e
    status_code: 200
version: 1
