interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-817f-8140-d54d04161b63","cover":null,"icon":null,"created_time":"2025-01-05T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:14:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"Ysef","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b388817f8140d54d04161b63","public_url":null,"archived":false,"in_trash":false,"request_id":"dc630305-95ac-4b2b-9923-4c2ae1dabc4e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dc630305-95ac-4b2b-9923-4c2ae1dabc4e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/172974f3-b388-817f-8140-d54d04161b63
  response:
    content: '{"object":"database","id":"172974f3-b388-817f-8140-d54d04161b63","cover":null,"icon":null,"created_time":"2025-01-05T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:14:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"Ysef","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b388817f8140d54d04161b63","public_url":null,"archived":false,"in_trash":false,"request_id":"9b3e9dbe-7663-45f5-be4c-b33ffa4e956c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9b3e9dbe-7663-45f5-be4c-b33ffa4e956c
    status_code: 200
version: 1
