interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-81b0-bea5-d2c0f3aa22ef","cover":null,"icon":null,"created_time":"2025-01-05T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:15:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"p%60%5Cf","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881b0bea5d2c0f3aa22ef","public_url":null,"archived":false,"in_trash":false,"request_id":"a06c9813-9ad2-430e-aa7f-a0a9c754d20e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a06c9813-9ad2-430e-aa7f-a0a9c754d20e
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "DB test with 110 pages", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "DB test with 110 pages"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b0-bea5-d2c0f3aa22ef
  response:
    content: '{"object":"database","id":"172974f3-b388-81b0-bea5-d2c0f3aa22ef","cover":null,"icon":null,"created_time":"2025-01-05T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:15:00.000Z","title":[{"type":"text","text":{"content":"DB
      test with 110 pages","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"DB
      test with 110 pages","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"p%60%5Cf","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881b0bea5d2c0f3aa22ef","public_url":null,"archived":false,"in_trash":false,"request_id":"ffd9355c-e924-4595-adf3-ba9d47eeca60"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ffd9355c-e924-4595-adf3-ba9d47eeca60
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-81b0-bea5-d2c0f3aa22ef"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.[...]
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b0-bea5-d2c0f3aa22ef/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-819d-a8f8-dc4904b02b13","created_time":"2025-01-05T14:17:00.000Z","last_edited_time":"2025-01-05T14:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81b0-bea5-d2c0f3aa22ef"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"p%60%5Cf","type":"multi_[...]
- request:
    body: '{"start_cursor": "172974f3-b388-81e1-92b3-f2c5ee71f1e9", "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b0-bea5-d2c0f3aa22ef/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81e1-92b3-f2c5ee71f1e9","created_time":"2025-01-05T14:15:00.000Z","last_edited_time":"2025-01-05T14:15:0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81b0-bea5-d2c0f3aa22ef
  response:
    content: '{"object":"block","id":"172974f3-b388-81b0-bea5-d2c0f3aa22ef","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-01-05T14:15:00.000Z","last_edited_time":"2025-01-05T14:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"request_id":"05ffebef-2d4c-4dba-8f6a-59afa7399cb7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 05ffebef-2d4c-4dba-8f6a-59afa7399cb7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:15:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"6ea08f0d-7457-4155-a057-f92b29f12bf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ea08f0d-7457-4155-a057-f92b29f12bf8
    status_code: 200
version: 1
