interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": true, "initial_data_source": {"properties": {"Name": {"type": "title",
      "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description":
      {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"19c28668-9de2-4288-a7d8-548136774e94","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":true,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:01:56.734+00:00","last_edited_time":"2026-06-24T15:01:56.734+00:00","data_sources":[{"id":"a6869692-137e-413d-831c-354742fa43a0","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/19c286689de24288a7d8548136774e94","public_url":null,"archived":false,"request_id":"a65a9c91-6eb7-488f-a77b-a1a6216f7d46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a65a9c91-6eb7-488f-a77b-a1a6216f7d46
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a6869692-137e-413d-831c-354742fa43a0
  response:
    content: '{"object":"data_source","id":"a6869692-137e-413d-831c-354742fa43a0","cover":null,"icon":null,"created_time":"2026-06-24T15:01:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T15:01:00.000Z","title":[],"description":[],"is_inline":true,"properties":{"Description":{"id":"P%3Evv","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"~y%5ES","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"19c28668-9de2-4288-a7d8-548136774e94"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/19c286689de24288a7d8548136774e94","public_url":null,"in_trash":false,"archived":false,"request_id":"a2a3e9b2-1aa5-4c2d-93ff-a7949eab12c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2a3e9b2-1aa5-4c2d-93ff-a7949eab12c6
    status_code: 200
- request:
    body: '{"is_inline":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/19c28668-9de2-4288-a7d8-548136774e94
  response:
    content: '{"object":"database","id":"19c28668-9de2-4288-a7d8-548136774e94","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:01:56.734+00:00","last_edited_time":"2026-06-24T15:01:56.734+00:00","data_sources":[{"id":"a6869692-137e-413d-831c-354742fa43a0","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/19c286689de24288a7d8548136774e94","public_url":null,"archived":false,"request_id":"344099ef-26a5-4f59-b358-50a309c28738"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 344099ef-26a5-4f59-b358-50a309c28738
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/19c28668-9de2-4288-a7d8-548136774e94
  response:
    content: '{"object":"block","id":"19c28668-9de2-4288-a7d8-548136774e94","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T15:01:00.000Z","last_edited_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"35d86880-f384-45aa-a1d2-c76da77cd4d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 35d86880-f384-45aa-a1d2-c76da77cd4d1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T15:01:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"e2c9b1e8-91a5-4969-b28b-b41dadb7bded"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e2c9b1e8-91a5-4969-b28b-b41dadb7bded
    status_code: 200
version: 1
