interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"db26b05b-9dc7-4fc6-a3a6-c3629eec6ac2","cover":null,"icon":null,"created_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:52:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"VrwZ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/db26b05b9dc74fc6a3a6c3629eec6ac2","public_url":null,"archived":false,"in_trash":false,"request_id":"bc7965be-0797-4fc7-9e4b-838f0ed9c694"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"312-Kl2KK3VO+cjxhLY0gLph5G2iCGc"
      x-notion-request-id:
      - bc7965be-0797-4fc7-9e4b-838f0ed9c694
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/db26b05b-9dc7-4fc6-a3a6-c3629eec6ac2
  response:
    content: '{"object":"database","id":"db26b05b-9dc7-4fc6-a3a6-c3629eec6ac2","cover":null,"icon":null,"created_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:52:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"VrwZ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/db26b05b9dc74fc6a3a6c3629eec6ac2","public_url":null,"archived":false,"in_trash":false,"request_id":"8f74443d-7f1b-4b9e-b4a0-6966e9c96f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"312-eZCVX/FljOwQgg3+2PwPVYu1rxM"
      x-notion-request-id:
      - 8f74443d-7f1b-4b9e-b4a0-6966e9c96f77
    status_code: 200
version: 1
