interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6fdc5620-96cb-4f72-926b-d2ff16456e67","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:03:19.089+00:00","last_edited_time":"2026-06-24T16:03:19.089+00:00","data_sources":[{"id":"a72444d5-d48a-4ec8-93ae-59acb1fdddf0","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/6fdc562096cb4f72926bd2ff16456e67","public_url":null,"archived":false,"request_id":"7d9a688c-df1f-4b02-a2b7-f79c8445ec30"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7d9a688c-df1f-4b02-a2b7-f79c8445ec30
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a72444d5-d48a-4ec8-93ae-59acb1fdddf0
  response:
    content: '{"object":"data_source","id":"a72444d5-d48a-4ec8-93ae-59acb1fdddf0","cover":null,"icon":null,"created_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:03:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6fdc5620-96cb-4f72-926b-d2ff16456e67"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/6fdc562096cb4f72926bd2ff16456e67","public_url":null,"in_trash":false,"archived":false,"request_id":"8272024e-d01b-437f-bdb4-7ba6dfab5238"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8272024e-d01b-437f-bdb4-7ba6dfab5238
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "a72444d5-d48a-4ec8-93ae-59acb1fdddf0"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81ae-9fc0-e34c08c83b8d","created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"a72444d5-d48a-4ec8-93ae-59acb1fdddf0","database_id":"6fdc5620-96cb-4f72-926b-d2ff16456e67"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://app.notion.com/p/Page-1-3899ce7b60a481ae9fc0e34c08c83b8d","public_url":null,"archived":false,"request_id":"917e8978-a5be-46a9-9cbb-6ba5b6e77323"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 917e8978-a5be-46a9-9cbb-6ba5b6e77323
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/a72444d5-d48a-4ec8-93ae-59acb1fdddf0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8114-bc58-e6b1828aaa15","created_time":"2026-06-24T16:04:00.000Z","last_edited_time":"2026-06-24T16:04:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"a72444d5-d48a-4ec8-93ae-59acb1fdddf0","database_id":"6fdc5620-96cb-4f72-926b-d2ff16456e67"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"start_cursor": "s:2afbe04d-c7b3-480b-8249-8cd2eac48ed2:3899ce7b-60a4-8155-956b-d46312d3a7d8",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/a72444d5-d48a-4ec8-93ae-59acb1fdddf0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8155-956b-d46312d3a7d8","created_time":"2026-06-24T16:03[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6fdc5620-96cb-4f72-926b-d2ff16456e67
  response:
    content: '{"object":"block","id":"6fdc5620-96cb-4f72-926b-d2ff16456e67","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:04:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"archived":true,"request_id":"ef83fc88-2eeb-4ad0-96c4-e958532814d2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ef83fc88-2eeb-4ad0-96c4-e958532814d2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"d383cbc9-dbe9-424c-bd91-c235aad4ac40"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d383cbc9-dbe9-424c-bd91-c235aad4ac40
    status_code: 200
version: 1
