interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4da228ee-b22c-4eb6-bfb2-5669da6b6370","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3DotW","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4da228eeb22c4eb6bfb25669da6b6370","public_url":null,"archived":false,"in_trash":false,"request_id":"76d9aafb-71aa-46e1-893d-fdf3c91ba3a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"314-JIydFeLVphAMln0nMJEACxCZOGU"
      x-notion-request-id:
      - 76d9aafb-71aa-46e1-893d-fdf3c91ba3a1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4da228ee-b22c-4eb6-bfb2-5669da6b6370
  response:
    content: '{"object":"block","id":"4da228ee-b22c-4eb6-bfb2-5669da6b6370","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:06:00.000Z","last_edited_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"0d8f7147-9fa1-4b95-ba47-4c51b7f06f73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-6ShhWlPxbjP7V6uoxrseT9nfZtk"
      x-notion-request-id:
      - 0d8f7147-9fa1-4b95-ba47-4c51b7f06f73
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/4da228ee-b22c-4eb6-bfb2-5669da6b6370
  response:
    content: '{"object":"block","id":"4da228ee-b22c-4eb6-bfb2-5669da6b6370","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:06:00.000Z","last_edited_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""},"request_id":"20608884-62a0-476e-9190-6a99337d257f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21e-wR6+rmyH6mLyLGK/Cl/eF9XB0uo"
      x-notion-request-id:
      - 20608884-62a0-476e-9190-6a99337d257f
    status_code: 200
version: 1
