interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"57a02b5f-dae5-4dbd-9cd1-364153eb563f","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"KH%3Et","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"x%7Cx%3B","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/57a02b5fdae54dbd9cd1364153eb563f","public_url":null,"archived":false,"in_trash":false,"request_id":"604ee658-9379-47b3-baef-8d8538e5cc0f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"364-lj4mBh9Vt0VGfT8VQmrh4w7ZHds"
      x-notion-request-id:
      - 604ee658-9379-47b3-baef-8d8538e5cc0f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/57a02b5f-dae5-4dbd-9cd1-364153eb563f
  response:
    content: '{"object":"block","id":"57a02b5f-dae5-4dbd-9cd1-364153eb563f","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:06:00.000Z","last_edited_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"6fbb90f2-eaf1-49ff-b09e-79c6759db12b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-V2/T5MO/OZinOu0Uzj9yZdWcZnc"
      x-notion-request-id:
      - 6fbb90f2-eaf1-49ff-b09e-79c6759db12b
    status_code: 200
version: 1
