interactions:
- request:
    body: '{"description": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/c94edaea-d122-4154-9a60-d6061c4abfbf
  response:
    content: '{"object":"database","id":"c94edaea-d122-4154-9a60-d6061c4abfbf","cover":null,"icon":null,"created_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-04T16:30:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      most favorite articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      most favorite articles","href":null}],"is_inline":false,"properties":{"Description":{"id":"%3Atqz","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"xP%3E%3A","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/c94edaead12241549a60d6061c4abfbf","public_url":null,"archived":false,"request_id":"241754dd-8e55-45ef-be5f-5ffcdeed7422"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"description": []}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/c94edaea-d122-4154-9a60-d6061c4abfbf
  response:
    content: '{"object":"database","id":"c94edaea-d122-4154-9a60-d6061c4abfbf","cover":null,"icon":null,"created_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-04T16:30:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"%3Atqz","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"xP%3E%3A","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/c94edaead12241549a60d6061c4abfbf","public_url":null,"archived":false,"request_id":"b58d0cb1-d18c-4bee-ac8e-392f1697316f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
