interactions:
- request:
    body: '{"query": "Item DB 42", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"1c7ee02a-64b6-43b6-bce6-22df1bc62c22\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T05:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T05:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"DB
      test with 110 pages\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"DB
      test with 110 pages\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"d231d54e-042f-42e6-877e-4192861f6fdf\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/d231d54e042f42e6877e4192861f6fdf\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-25T16:54:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Date\":{\"id\":\"%5Ckxk\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}\"}},\"String\":{\"id\":\"dvYQ\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})\"}},\"Checkbox\":{\"id\":\"hlGb\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.includes(\\\"Done\\\")\"}},\"Number\":{\"id\":\"x%40zJ\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.length()\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"00000000-0000-4000-8000-00000000000d\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Item DB 42"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Size": {"type": "select",
      "select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ea2b04c4-6dd4-4315-93ea-3dda12fd770a","title":[{"type":"text","text":{"content":"Item
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB 42","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:51:57.617+00:00","last_edited_time":"2026-06-27T05:51:57.617+00:00","data_sources":[{"id":"b2b43262-67a8-47c9-bd02-08a6e225311e","name":"Item
      DB 42"}],"icon":null,"cover":null,"url":"https://www.notion.so/ea2b04c46dd4431593ea3dda12fd770a","public_url":null,"archived":false,"request_id":"77a63024-1583-4221-b79d-b81aa8b22784"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 77a63024-1583-4221-b79d-b81aa8b22784
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell.","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell."}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/ea2b04c4-6dd4-4315-93ea-3[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b2b43262-67a8-47c9-bd02-08a6e225311e
  response:
    content: '{"object":"data_source","id":"b2b43262-67a8-47c9-bd02-08a6e225311e","cover":null,"icon":null,"created_time":"2026-06-27T05:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0000[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"cbc64040-a0cb-413a-9fac-31a9d1bb691f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cbc64040-a0cb-413a-9fac-31a9d1bb691f
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB 42"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "data_source_id": "b2b43262-67a8-47c9-bd02-08a6e225311e",
      "dual_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"94b48120-b815-4de5-8f47-4b8c0d4a74c3","title":[{"type":"text","text":{"content":"Customer
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB 42","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:52:16.640+00:00","last_edited_time":"2026-06-27T05:52:16.640+00:00","data_sources":[{"id":"2460222e-4d31-40b0-86c9-33a2e89e8415","name":"Customer
      DB 42"}],"icon":null,"cover":null,"url":"https://www.notion.so/94b48120b8154de58f474b8c0d4a74c3","public_url":null,"archived":false,"request_id":"3e46d354-e257-446d-a877-c2fa73581b64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3e46d354-e257-446d-a877-c2fa73581b64
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/2460222e-4d31-40b0-86c9-33a2e89e8415
  response:
    content: '{"object":"data_source","id":"2460222e-4d31-40b0-86c9-33a2e89e8415","cover":null,"icon":null,"created_time":"2026-06-27T05:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:52:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB 42","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all our beloved customers.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all our beloved customers.","href":null}],"is_inline":false,"properties":{"Items
      Purchased":{"id":"fahe","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"ea2b04c4-6dd4-4315-93ea-3dda12fd770a","data_source_id":"b2b43262-67a8-47c9-bd02-08a6e225311e","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB 42 (Items Purchased)","synced_property_id":"qC%7Cb"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"94b48120-b815-4de5-8f47-4b8c0d4a74c3"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/94b48120b8154de58f474b8c0d4a74c3","public_url":null,"in_trash":false,"archived":false,"request_id":"d626eb18-0245-4fc9-946b-35555d36a1f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d626eb18-0245-4fc9-946b-35555d36a1f6
    status_code: 200
[...]
