interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8130-938d-f7385f1aee22","created_time":"2026-06-27T05:50:00.000Z","last_edited_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-38c9ce7b60a48130938df7385f1aee22","public_url":null,"archived":false,"request_id":"7bf0c87f-01f4-4880-9aa2-2cf97b627517"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7bf0c87f-01f4-4880-9aa2-2cf97b627517
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"d41051ab-c204-4dbf-8c8f-c521b873a54e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d41051ab-c204-4dbf-8c8f-c521b873a54e
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-8130-938d-f7385f1aee22"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f6c7f11c-49cf-4563-8256-4b2dc8586fb4","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8130-938d-f7385f1aee22"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:50:57.891+00:00","last_edited_time":"2026-06-27T05:50:57.891+00:00","data_sources":[{"id":"f5ad5699-eabc-43cd-b8c3-1c7ad7deedfa","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/f6c7f11c49cf456382564b2dc8586fb4","public_url":null,"archived":false,"request_id":"15f8a85c-de4d-48e3-a057-c4e8ebe98aa2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 15f8a85c-de4d-48e3-a057-c4e8ebe98aa2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f5ad5699-eabc-43cd-b8c3-1c7ad7deedfa
  response:
    content: '{"object":"data_source","id":"f5ad5699-eabc-43cd-b8c3-1c7ad7deedfa","cover":null,"icon":null,"created_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:50:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f6c7f11c-49cf-4563-8256-4b2dc8586fb4"},"database_parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8130-938d-f7385f1aee22"},"url":"https://www.notion.so/f6c7f11c49cf456382564b2dc8586fb4","public_url":null,"in_trash":false,"archived":false,"request_id":"97747e18-3763-4bf1-9508-a480d7d21c84"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 97747e18-3763-4bf1-9508-a480d7d21c84
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8130-938d-f7385f1aee22/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"f6c7f11c-49cf-4563-8256-4b2dc8586fb4","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8130-938d-f7385f1aee22"},"created_time":"2026-06-27T05:50:00.000Z","last_edited_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false},{"object":"block","id":"2c307604-a401-4d0e-8b39-7de2a616b9ff","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8130-938d-f7385f1aee22"},"created_time":"2026-06-27T05:50:00.000Z","last_edited_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0955319e-5020-41a9-948e-bbe599021cde"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0955319e-5020-41a9-948e-bbe599021cde
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/f6c7f11c-49cf-4563-8256-4b2dc8586fb4
  response:
    content: '{"object":"database","id":"f6c7f11c-49cf-4563-8256-4b2dc8586fb4","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8130-938d-f7385f1aee22"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:50:57.891+00:00","last_edited_time":"2026-06-27T05:50:57.891+00:00","data_sources":[{"id":"f5ad5699-eabc-43cd-b8c3-1c7ad7deedfa","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/f6c7f11c49cf456382564b2dc8586fb4","public_url":null,"archived":false,"request_id":"a1345d14-0dbc-471e-953b-269b2f0a7fd2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1345d14-0dbc-471e-953b-269b2f0a7fd2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/2c307604-a401-4d0e-8b39-7de2a616b9ff
  response:
    content: '{"object":"database","id":"2c307604-a401-4d0e-8b39-7de2a616b9ff","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8130-938d-f7385f1aee22"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:50:59.303+00:00","last_edited_time":"2026-06-27T05:50:59.303+00:00","data_sources":[{"id":"f5195684-e9dc-4e3b-82c4-7ac89846af7f","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/2c307604a4014d0e8b397de2a616b9ff","public_url":null,"archived":false,"request_id":"f61ca76c-16ea-4b61-9b46-83f4e75bc1da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f61ca76c-16ea-4b61-9b46-83f4e75bc1da
    status_code: 200
version: 1
