interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ed354e5f-541f-4ab2-8b35-4db81228bbc2","created_time":"2024-06-29T14:08:00.000Z","last_edited_time":"2024-06-29T14:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-ed354e5f541f4ab28b354db81228bbc2","public_url":null,"request_id":"0f2b8fe7-63af-4dcf-9c5d-1d7f23b569b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-TQWQoqeDpwhOO/HU35WCuM6ZNsQ"
      x-notion-request-id:
      - 0f2b8fe7-63af-4dcf-9c5d-1d7f23b569b1
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "ed354e5f-541f-4ab2-8b35-4db81228bbc2"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4832b643-7369-42af-ae23-10bdda66e5f7","cover":null,"icon":null,"created_time":"2024-06-29T14:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-29T14:08:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"jKau","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"ed354e5f-541f-4ab2-8b35-4db81228bbc2"},"url":"https://www.notion.so/4832b643736942afae2310bdda66e5f7","public_url":null,"archived":false,"in_trash":false,"request_id":"75ee9c52-99db-487b-922a-470a288315a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"312-djCCh1UaWLY1bcsdgsiY/NDSL0k"
      x-notion-request-id:
      - 75ee9c52-99db-487b-922a-470a288315a7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/ed354e5f-541f-4ab2-8b35-4db81228bbc2/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"4832b643-7369-42af-ae23-10bdda66e5f7","parent":{"type":"page_id","page_id":"ed354e5f-541f-4ab2-8b35-4db81228bbc2"},"created_time":"2024-06-29T14:08:00.000Z","last_edited_time":"2024-06-29T14:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"0ee92248-c087-4220-96f1-e691c1b4bc22","parent":{"type":"page_id","page_id":"ed354e5f-541f-4ab2-8b35-4db81228bbc2"},"created_time":"2024-06-29T14:08:00.000Z","last_edited_time":"2024-06-29T14:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"778562cd-eed8-4b95-a2c1-aa2d2e923c92"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"465-igjHRctSLndyxP2nSRTqQQEtu9g"
      x-notion-request-id:
      - 778562cd-eed8-4b95-a2c1-aa2d2e923c92
    status_code: 200
version: 1
