interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8124-a804-fd712cb89605","cover":null,"icon":null,"created_time":"2026-06-27T04:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:52:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a48124a804fd712cb89605","public_url":null,"in_trash":false,"archived":false,"request_id":"398f1847-bdae-4bc7-9b19-97e35928090c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 398f1847-bdae-4bc7-9b19-97e35928090c
    status_code: 200
- request:
    body: '{"title":[{"type":"text","plain_text":"DB test with 110 pages","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"DB
      test with 110 pages"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8124-a804-fd712cb89605
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8124-a804-fd712cb89605","cover":null,"icon":null,"created_time":"2026-06-27T04:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:52:00.000Z","title":[{"type":"text","text":{"content":"DB
      test with 110 pages","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"DB
      test with 110 pages","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a48124a804fd712cb89605","public_url":null,"in_trash":false,"archived":false,"request_id":"39cf1182-ff9d-4c48-a1b0-2e7bc4ec6600"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39cf1182-ff9d-4c48-a1b0-2e7bc4ec6600
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-8124-a804-fd712cb89605"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f4-9c00-de91e75ba831","created_time":"2026-06-27T04:52:00.000Z","last_edited_time":"2026-06-27T04:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8124-a804-fd712cb89605"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38c9ce7b60a481f49c00de91e75ba831","public_url":null,"archived":false,"request_id":"f8b32438-554d-461f-9aa3-183a8f7f4674"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8b32438-554d-461f-9aa3-183a8f7f4674
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8124-a804-fd712cb89605/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-819c-be02-ed30682d4a3d","created_time":"2026-06-27T04:53:00.000Z","last_edited_time":"2026-06-27T04:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8124-a804-fd712cb89605"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"tit[...]
- request:
    body: '{"start_cursor": "s:da2b5fca-8bb0-4d2f-b710-73ba00cb375b:38c9ce7b-60a4-8127-8623-f294b33fc4fe",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8124-a804-fd712cb89605/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8127-8623-f294b33fc4fe","created_time":"2026-06-27T04:52:00[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8124-a804-fd712cb89605
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8124-a804-fd712cb89605","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T04:52:00.000Z","last_edited_time":"2026-06-27T04:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"archived":true,"request_id":"f5f2c9cf-4565-4e5d-9dc1-2057e6e8a227"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f5f2c9cf-4565-4e5d-9dc1-2057e6e8a227
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"a980b0c1-b7b8-4425-b356-2ae91223406f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a980b0c1-b7b8-4425-b356-2ae91223406f
    status_code: 200
version: 1
