interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81ab-a0aa-e298ceef183d","cover":null,"icon":null,"created_time":"2025-09-23T09:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T09:55:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881aba0aae298ceef183d","public_url":null,"archived":false,"in_trash":false,"request_id":"8e3492d5-32ac-48f2-90f2-95b2e2ee4067"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e3492d5-32ac-48f2-90f2-95b2e2ee4067
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/277974f3-b388-81ab-a0aa-e298ceef183d
  response:
    content: '{"object":"database","id":"277974f3-b388-81ab-a0aa-e298ceef183d","cover":null,"icon":null,"created_time":"2025-09-23T09:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T09:55:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881aba0aae298ceef183d","public_url":null,"archived":false,"in_trash":false,"request_id":"2986bde7-8761-4a08-a489-ffee8ff2826e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2986bde7-8761-4a08-a489-ffee8ff2826e
    status_code: 200
version: 1
