interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"104dbbb0-a295-4977-b283-3544c135a29b","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:03:13.504+00:00","last_edited_time":"2026-06-24T16:03:13.504+00:00","data_sources":[{"id":"9c857b97-a6a2-43e5-86c7-56b0e573a0db","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/104dbbb0a2954977b2833544c135a29b","public_url":null,"archived":false,"request_id":"df4b95fb-8d8d-42cc-a550-d0b947b83132"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df4b95fb-8d8d-42cc-a550-d0b947b83132
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/9c857b97-a6a2-43e5-86c7-56b0e573a0db
  response:
    content: '{"object":"data_source","id":"9c857b97-a6a2-43e5-86c7-56b0e573a0db","cover":null,"icon":null,"created_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:03:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"104dbbb0-a295-4977-b283-3544c135a29b"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/104dbbb0a2954977b2833544c135a29b","public_url":null,"in_trash":false,"archived":false,"request_id":"d92e54ee-ab93-4e84-93a0-a21e9efb6ee9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d92e54ee-ab93-4e84-93a0-a21e9efb6ee9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/9c857b97-a6a2-43e5-86c7-56b0e573a0db
  response:
    content: '{"object":"data_source","id":"9c857b97-a6a2-43e5-86c7-56b0e573a0db","cover":null,"icon":null,"created_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:03:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"104dbbb0-a295-4977-b283-3544c135a29b"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/104dbbb0a2954977b2833544c135a29b","public_url":null,"in_trash":false,"archived":false,"request_id":"2441fc1f-e7dc-4258-85e5-6965240d6b2a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2441fc1f-e7dc-4258-85e5-6965240d6b2a
    status_code: 200
version: 1
