interactions:
- request:
    body: '{"description": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/ebea9bf5-b4cc-4a59-8601-3a6ddc0eb17f
  response:
    content: '{"object":"database","id":"ebea9bf5-b4cc-4a59-8601-3a6ddc0eb17f","cover":null,"icon":null,"created_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:58:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[{"type":"text","text":{"content":"My
      most favorite articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      most favorite articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"QxFT","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5BsdB","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ebea9bf5b4cc4a5986013a6ddc0eb17f","public_url":null,"archived":false,"request_id":"caed84a3-334c-40a3-b311-03b1ba66b2b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"description": []}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/ebea9bf5-b4cc-4a59-8601-3a6ddc0eb17f
  response:
    content: '{"object":"database","id":"ebea9bf5-b4cc-4a59-8601-3a6ddc0eb17f","cover":null,"icon":null,"created_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:58:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"QxFT","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5BsdB","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ebea9bf5b4cc4a5986013a6ddc0eb17f","public_url":null,"archived":false,"request_id":"26e24256-1189-411e-a255-cb38c910c5dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
