interactions:
- request:
    body: '{"title": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/8e1930a2-9e77-4034-9764-24331fe6cd38
  response:
    content: '{"object":"database","id":"8e1930a2-9e77-4034-9764-24331fe6cd38","cover":null,"icon":null,"created_time":"2024-01-25T07:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:39:00.000Z","title":[{"type":"text","text":{"content":"My
      most favorite articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      most favorite articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3BYDl","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"d%5CuM","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8e1930a29e774034976424331fe6cd38","public_url":null,"archived":false,"request_id":"7b76d062-d98b-4951-858a-d60970ce112a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"title": []}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/8e1930a2-9e77-4034-9764-24331fe6cd38
  response:
    content: '{"object":"database","id":"8e1930a2-9e77-4034-9764-24331fe6cd38","cover":null,"icon":null,"created_time":"2024-01-25T07:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:39:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3BYDl","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"d%5CuM","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8e1930a29e774034976424331fe6cd38","public_url":null,"archived":false,"request_id":"aec495c1-dbc6-465a-bd7b-a917b49a1cb2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
