interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8128-9d79-c37292c20243","cover":null,"icon":null,"created_time":"2025-09-03T13:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:44:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881289d79c37292c20243","public_url":null,"archived":false,"in_trash":false,"request_id":"c061899d-cf31-4da7-91fd-3c8e8c3aa86a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c061899d-cf31-4da7-91fd-3c8e8c3aa86a
    status_code: 200
- request:
    body: '{"title":[{"type":"text","plain_text":"DB test with 110 pages","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"DB
      test with 110 pages"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-8128-9d79-c37292c20243
  response:
    content: '{"object":"database","id":"263974f3-b388-8128-9d79-c37292c20243","cover":null,"icon":null,"created_time":"2025-09-03T13:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:44:00.000Z","title":[{"type":"text","text":{"content":"DB
      test with 110 pages","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"DB
      test with 110 pages","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881289d79c37292c20243","public_url":null,"archived":false,"in_trash":false,"request_id":"df9a5f0a-9371-4ee0-97ea-ff441c3d2c78"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df9a5f0a-9371-4ee0-97ea-ff441c3d2c78
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8128-9d79-c37292c20243"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  resp[...]
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8128-9d79-c37292c20243/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-810c-b4a8-cce0c02955eb","created_time":"2025-09-03T13:47:00.000Z","last_edited_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8128-9d79-c37292c20243"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"title","type":"title","t[...]
- request:
    body: '{"start_cursor": "263974f3-b388-8148-9230-d9b4fc5fc9d5", "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8128-9d79-c37292c20243/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8148-9230-d9b4fc5fc9d5","created_time":"2025-09-03T13:44:00.000Z","last_edited_time":"2025-09-03T13:44:0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-8128-9d79-c37292c20243
  response:
    content: '{"object":"block","id":"263974f3-b388-8128-9d79-c37292c20243","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-03T13:44:00.000Z","last_edited_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"request_id":"e55fbe03-c81c-40df-a264-ddce0f1a5a61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e55fbe03-c81c-40df-a264-ddce0f1a5a61
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:44:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"bd690cdc-8bf0-4d56-ba7a-b48ac5c4d70a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bd690cdc-8bf0-4d56-ba7a-b48ac5c4d70a
    status_code: 200
version: 1
