interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"618216bf-1ba5-4908-88cf-f7af53227e09","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"d%5E%5DO","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"xzE%3C","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/618216bf1ba5490888cff7af53227e09","public_url":null,"archived":false,"in_trash":false,"request_id":"24f32cf0-eed5-41b7-835f-aba75251dbf1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"364-l5zdA0swixoTMlFnrB9xSiwOztQ"
      x-notion-request-id:
      - 24f32cf0-eed5-41b7-835f-aba75251dbf1
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My articles", "text":
      {"content": "My articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/618216bf-1ba5-4908-88cf-f7af53227e09
  response:
    content: '{"object":"database","id":"618216bf-1ba5-4908-88cf-f7af53227e09","cover":null,"icon":null,"created_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:06:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"d%5E%5DO","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"xzE%3C","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/618216bf1ba5490888cff7af53227e09","public_url":null,"archived":false,"in_trash":false,"request_id":"757ae884-1999-4cd9-a8b1-34013d06106d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"43a-KFprEaiq0jsm5gBqbt016ByJGo0"
      x-notion-request-id:
      - 757ae884-1999-4cd9-a8b1-34013d06106d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/618216bf-1ba5-4908-88cf-f7af53227e09
  response:
    content: '{"object":"block","id":"618216bf-1ba5-4908-88cf-f7af53227e09","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:06:00.000Z","last_edited_time":"2024-06-01T22:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"d9a0221b-e56b-4776-8196-fed7d88d0aef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-AQ+gP5SEK34FMe2iUgRj4AZzjmc"
      x-notion-request-id:
      - d9a0221b-e56b-4776-8196-fed7d88d0aef
    status_code: 200
version: 1
