interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c72bdbc2-6890-4691-a73e-77c6030d90dc","cover":null,"icon":null,"created_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:23:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"qR%3DC","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"vgkw","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/c72bdbc268904691a73e77c6030d90dc","public_url":null,"archived":false,"in_trash":false,"request_id":"c70360ea-db00-49e6-b1df-f36e2a5b6bcc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"430-agjK2b0aqlpbV8Oh7cdmv7KsSec"
      x-notion-request-id:
      - c70360ea-db00-49e6-b1df-f36e2a5b6bcc
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My most favorite articles",
      "text": {"content": "My most favorite articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/c72bdbc2-6890-4691-a73e-77c6030d90dc
  response:
    content: '{"object":"database","id":"c72bdbc2-6890-4691-a73e-77c6030d90dc","cover":nul[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c72bdbc2-6890-4691-a73e-77c6030d90dc
  response:
    content: '{"object":"block","id":"c72bdbc2-6890-4691-a73e-77c6030d90dc","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-07-09T10:23:00.000Z","last_edited_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"d4165ac9-953e-4190-b17f-e36f1e37dc61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-KwwWg3cAFhBP4yeM28woGHjMe7k"
      x-notion-request-id:
      - d4165ac9-953e-4190-b17f-e36f1e37dc61
    status_code: 200
version: 1
