interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}},
      "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7e84f64a-2ab4-4e7b-8b35-7a4ccd46eedb","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:11.576+00:00","last_edited_time":"2026-06-24T18:41:11.576+00:00","data_sources":[{"id":"c440a789-5e00-4c9b-be05-a12e777d3309","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/7e84f64a2ab44e7b8b357a4ccd46eedb","public_url":null,"archived":false,"request_id":"7039bbf8-a8c5-4410-8477-4dfad60bcdbe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7039bbf8-a8c5-4410-8477-4dfad60bcdbe
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c440a789-5e00-4c9b-be05-a12e777d3309
  response:
    content: '{"object":"data_source","id":"c440a789-5e00-4c9b-be05-a12e777d3309","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"QhAZ","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"%5BP%3EB","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"7e84f64a-2ab4-4e7b-8b35-7a4ccd46eedb"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/7e84f64a2ab44e7b8b357a4ccd46eedb","public_url":null,"in_trash":false,"archived":false,"request_id":"9c9ce3dc-e717-4f9e-a04b-8f5259982f9f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c9ce3dc-e717-4f9e-a04b-8f5259982f9f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7e84f64a-2ab4-4e7b-8b35-7a4ccd46eedb
  response:
    content: '{"object":"block","id":"7e84f64a-2ab4-4e7b-8b35-7a4ccd46eedb","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"a13d9c4e-3f01-42c1-bba3-21923bdb09a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a13d9c4e-3f01-42c1-bba3-21923bdb09a3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"443a0b5b-166a-4497-81e2-cb3bbb47a169"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 443a0b5b-166a-4497-81e2-cb3bbb47a169
    status_code: 200
version: 1
