interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Articles"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number", "number":
      {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-818d-b5e3-ffa152832936","cover":null,"icon":null,"created_time":"2024-12-10T10:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:42:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"DyXt","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"bC%40%3E","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b388818db5e3ffa152832936","public_url":null,"archived":false,"in_trash":false,"request_id":"bc1230d5-8188-4b5c-aae7-12cfec19f5b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bc1230d5-8188-4b5c-aae7-12cfec19f5b5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/158974f3-b388-818d-b5e3-ffa152832936
  response:
    content: '{"object":"block","id":"158974f3-b388-818d-b5e3-ffa152832936","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-12-10T10:42:00.000Z","last_edited_time":"2024-12-10T10:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"1f1fb958-d8e9-44df-b773-af75de0c7b30"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f1fb958-d8e9-44df-b773-af75de0c7b30
    status_code: 200
version: 1
