interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"60413cd7-723b-4a51-9ae9-40e071c500ac","cover":null,"icon":null,"created_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%5EWht","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/60413cd7723b4a519ae940e071c500ac","public_url":null,"archived":false,"request_id":"987c16a8-dbda-4946-ac7a-7bae3bddf9a3"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/60413cd7-723b-4a51-9ae9-40e071c500ac
  response:
    content: '{"object":"database","id":"60413cd7-723b-4a51-9ae9-40e071c500ac","cover":null,"icon":null,"created_time":"2023-12-25T11:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%5EWht","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/60413cd7723b4a519ae940e071c500ac","public_url":null,"archived":false,"request_id":"abc63b40-d049-47d1-83f7-748c3552b245"}'
    headers: {}
    status_code: 200
version: 1
