interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"91c4a78d-638f-4521-a07d-ec0150f57f28","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:01:54.320+00:00","last_edited_time":"2026-06-24T15:01:54.320+00:00","data_sources":[{"id":"57120265-7802-43cf-8088-719f0e79899a","name":"Articles"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/91c4a78d638f4521a07dec0150f57f28","public_url":null,"archived":false,"request_id":"bdaf5631-ea91-4a33-a094-7ab1561cf3af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bdaf5631-ea91-4a33-a094-7ab1561cf3af
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/57120265-7802-43cf-8088-719f0e79899a
  response:
    content: '{"object":"data_source","id":"57120265-7802-43cf-8088-719f0e79899a","cover":null,"icon":null,"created_time":"2026-06-24T15:01:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T15:01:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%60~d%60","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"s%5DU_","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"91c4a78d-638f-4521-a07d-ec0150f57f28"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/91c4a78d638f4521a07dec0150f57f28","public_url":null,"in_trash":false,"archived":false,"request_id":"973a206a-b153-4082-874a-f7ed8537703e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 973a206a-b153-4082-874a-f7ed8537703e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/91c4a78d-638f-4521-a07d-ec0150f57f28
  response:
    content: '{"object":"block","id":"91c4a78d-638f-4521-a07d-ec0150f57f28","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T15:01:00.000Z","last_edited_time":"2026-06-24T15:01:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"archived":true,"request_id":"1a86dc7b-ec1f-4eac-bf9e-0dcc2246dd4c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1a86dc7b-ec1f-4eac-bf9e-0dcc2246dd4c
    status_code: 200
version: 1
