interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"89b68562-fda9-4dc7-a60a-408a0e0ea035","cover":null,"icon":null,"created_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-04T16:30:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%60sgC","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"qEAU","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/89b68562fda94dc7a60a408a0e0ea035","public_url":null,"archived":false,"request_id":"90eaa422-974b-45fe-91ab-b89aca89c755"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "My articles", "text": {"content": "My
      articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/89b68562-fda9-4dc7-a60a-408a0e0ea035
  response:
    content: '{"object":"database","id":"89b68562-fda9-4dc7-a60a-408a0e0ea035","cover":null,"icon":null,"created_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-04T16:30:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"%60sgC","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"qEAU","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/89b68562fda94dc7a60a408a0e0ea035","public_url":null,"archived":false,"request_id":"8c00299f-67de-432b-b57b-b3266bf42ff3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/89b68562-fda9-4dc7-a60a-408a0e0ea035
  response:
    content: '{"object":"block","id":"89b68562-fda9-4dc7-a60a-408a0e0ea035","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-04T16:30:00.000Z","last_edited_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"2e2e8f08-3575-4450-8066-956b165e84d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
