interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"85d67744-8f7a-4af3-a1ef-0b1f01d9ecf4","created_time":"2024-07-09T10:23:00.000Z","last_edited_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-85d677448f7a4af3a1ef0b1f01d9ecf4","public_url":null,"request_id":"ac7d3fb2-7e2b-4844-a7e3-9ca2791b287b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-eTdTQO2waTnt8XFLgj3Z1SI2kto"
      x-notion-request-id:
      - ac7d3fb2-7e2b-4844-a7e3-9ca2791b287b
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "85d67744-8f7a-4af3-a1ef-0b1f01d9ecf4"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"614de2f1-ae6b-4ea2-bb70-065b345d35dd","cover":null,"icon":null,"created_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:23:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"KkMn","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"85d67744-8f7a-4af3-a1ef-0b1f01d9ecf4"},"url":"https://www.notion.so/614de2f1ae6b4ea2bb70065b345d35dd","public_url":null,"archived":false,"in_trash":false,"request_id":"cdacd554-453e-4d70-90e4-fd45f9f4c1c7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"312-PJlAdDqS4IZ11OQ8HnIEfPs1IGw"
      x-notion-request-id:
      - cdacd554-453e-4d70-90e4-fd45f9f4c1c7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/85d67744-8f7a-4af3-a1ef-0b1f01d9ecf4/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"614de2f1-ae6b-4ea2-bb70-065b345d35dd","parent":{"type":"page_id","page_id":"85d67744-8f7a-4af3-a1ef-0b1f01d9ecf4"},"created_time":"2024-07-09T10:23:00.000Z","last_edited_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"0deb5fa3-ae50-49dd-a395-78521aaf66de","parent":{"type":"page_id","page_id":"85d67744-8f7a-4af3-a1ef-0b1f01d9ecf4"},"created_time":"2024-07-09T10:23:00.000Z","last_edited_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6c74f385-c937-4d19-8f90-c3a376238698"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"465-DhKsGBdlX7s+7NWMVjrfCAUfbWc"
      x-notion-request-id:
      - 6c74f385-c937-4d19-8f90-c3a376238698
    status_code: 200
version: 1
