interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": true, "initial_data_source": {"properties": {"Name": {"type": "title",
      "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description":
      {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4ca1832b-8711-4e39-b76c-34dbcce6be5a","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":true,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:14.422+00:00","last_edited_time":"2026-06-27T16:53:14.422+00:00","data_sources":[{"id":"3a52829f-d1fc-4ec4-922f-6148d3378020","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/4ca1832b87114e39b76c34dbcce6be5a","public_url":null,"request_id":"20882c64-96fc-4920-a453-f8e53d053a74"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 20882c64-96fc-4920-a453-f8e53d053a74
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3a52829f-d1fc-4ec4-922f-6148d3378020
  response:
    content: '{"object":"data_source","id":"3a52829f-d1fc-4ec4-922f-6148d3378020","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[],"description":[],"is_inline":true,"properties":{"Cost":{"id":"DM%3ET","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"cQDQ","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"4ca1832b-8711-4e39-b76c-34dbcce6be5a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/4ca1832b87114e39b76c34dbcce6be5a","public_url":null,"in_trash":false,"request_id":"a141621d-c942-4af0-802b-cc5c9c3d3a93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a141621d-c942-4af0-802b-cc5c9c3d3a93
    status_code: 200
- request:
    body: '{"is_inline":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/4ca1832b-8711-4e39-b76c-34dbcce6be5a
  response:
    content: '{"object":"database","id":"4ca1832b-8711-4e39-b76c-34dbcce6be5a","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:14.422+00:00","last_edited_time":"2026-06-27T16:53:14.422+00:00","data_sources":[{"id":"3a52829f-d1fc-4ec4-922f-6148d3378020","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/4ca1832b87114e39b76c34dbcce6be5a","public_url":null,"request_id":"c41d6474-71da-4c86-a484-529ec7c85455"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c41d6474-71da-4c86-a484-529ec7c85455
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4ca1832b-8711-4e39-b76c-34dbcce6be5a
  response:
    content: '{"object":"block","id":"4ca1832b-8711-4e39-b76c-34dbcce6be5a","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"b19ede8e-1860-4e39-9dfe-465718852fd1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b19ede8e-1860-4e39-9dfe-465718852fd1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"baff49e4-5cb2-488b-94c7-f5d21638b823"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - baff49e4-5cb2-488b-94c7-f5d21638b823
    status_code: 200
version: 1
