interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}},
      "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ddc5167d-6e84-4d5e-94df-3cbd7818a137","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:26.223+00:00","last_edited_time":"2026-06-27T16:53:26.223+00:00","data_sources":[{"id":"1baf9e9a-727b-452a-9cd4-ed81a55d0a1a","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/ddc5167d6e844d5e94df3cbd7818a137","public_url":null,"request_id":"f9e0e880-e33e-4dd1-ae1d-a070791ed788"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f9e0e880-e33e-4dd1-ae1d-a070791ed788
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"My articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/ddc5167d-6e84-4d5e-94df-3cbd7818a137
  response:
    content: '{"object":"dat[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1baf9e9a-727b-452a-9cd4-ed81a55d0a1a
  response:
    content: '{"object":"data_source","id":"1baf9e9a-727b-452a-9cd4-ed81a55d0a1a","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"%40J%5BU","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"kKxP","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ddc5167d-6e84-4d5e-94df-3cbd7818a137"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/ddc5167d6e844d5e94df3cbd7818a137","public_url":null,"in_trash":false,"request_id":"133a039e-a518-4d35-9e94-53b72594f863"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 133a039e-a518-4d35-9e94-53b72594f863
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ddc5167d-6e84-4d5e-94df-3cbd7818a137
  response:
    content: '{"object":"block","id":"ddc5167d-6e84-4d5e-94df-3cbd7818a137","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"e6bbd794-dce3-4a52-b3af-bd694cd5942e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e6bbd794-dce3-4a52-b3af-bd694cd5942e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"7f620a84-671e-4280-a1f0-c386d5cead5b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7f620a84-671e-4280-a1f0-c386d5cead5b
    status_code: 200
version: 1
