interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f8a7f7da-a298-45c6-895f-a71abc01dace","cover":null,"icon":null,"created_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:23:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%7BDwN","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f8a7f7daa29845c6895fa71abc01dace","public_url":null,"archived":false,"in_trash":false,"request_id":"53f0ccc4-e509-44c0-88a8-34f12561f742"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"314-pplX8lGC8c3VZ5GtyWdUU5PNOjo"
      x-notion-request-id:
      - 53f0ccc4-e509-44c0-88a8-34f12561f742
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/f8a7f7da-a298-45c6-895f-a71abc01dace
  response:
    content: '{"object":"database","id":"f8a7f7da-a298-45c6-895f-a71abc01dace","cover":null,"icon":null,"created_time":"2024-07-09T10:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:23:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%7BDwN","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f8a7f7daa29845c6895fa71abc01dace","public_url":null,"archived":false,"in_trash":false,"request_id":"9cf4a881-3412-4c82-a4b3-4cac806ffa17"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"314-dHCWHK7cEGhCisOkbaHXWXdCUKc"
      x-notion-request-id:
      - 9cf4a881-3412-4c82-a4b3-4cac806ffa17
    status_code: 200
version: 1
