interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Items", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Items"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4ec0d58c-2a3a-415a-ac7a-eac030d6b7ad","title":[{"type":"text","text":{"content":"Items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T08:18:46.696+00:00","last_edited_time":"2026-06-27T08:18:46.696+00:00","data_sources":[{"id":"94b0a32b-f503-484b-9a8b-672e2e72592d","name":"Items"}],"icon":null,"cover":null,"url":"https://www.notion.so/4ec0d58c2a3a415aac7aeac030d6b7ad","public_url":null,"archived":false,"request_id":"1a5283f1-9cf0-4de4-a21c-4e0db5fbb948"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1a5283f1-9cf0-4de4-a21c-4e0db5fbb948
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/94b0a32b-f503-484b-9a8b-672e2e72592d
  response:
    content: '{"object":"data_source","id":"94b0a32b-f503-484b-9a8b-672e2e72592d","cover":null,"icon":null,"created_time":"2026-06-27T08:18:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T08:18:00.000Z","title":[{"type":"text","text":{"content":"Items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Items","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"4ec0d58c-2a3a-415a-ac7a-eac030d6b7ad"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/4ec0d58c2a3a415aac7aeac030d6b7ad","public_url":null,"in_trash":false,"archived":false,"request_id":"a0b288c7-a367-4947-89ab-2d1f71d4f46d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0b288c7-a367-4947-89ab-2d1f71d4f46d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/4ec0d58c-2a3a-415a-ac7a-eac030d6b7ad
  response:
    content: '{"object":"database","id":"4ec0d58c-2a3a-415a-ac7a-eac030d6b7ad","title":[{"type":"text","text":{"content":"Items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T08:18:46.696+00:00","last_edited_time":"2026-06-27T08:18:46.696+00:00","data_sources":[{"id":"94b0a32b-f503-484b-9a8b-672e2e72592d","name":"Items"}],"icon":null,"cover":null,"url":"https://www.notion.so/4ec0d58c2a3a415aac7aeac030d6b7ad","public_url":null,"archived":false,"request_id":"6bf3642a-7365-4067-a5cf-9276c8c6d986"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6bf3642a-7365-4067-a5cf-9276c8c6d986
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "4ec0d58c-2a3a-415a-ac7a-eac030d6b7ad"},
      "properties": {"Name": {"type": "title", "title": {}}}, "title": [{"type": "text",
      "plain_text": "People", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "People"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
 [...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4ec0d58c-2a3a-415a-ac7a-eac030d6b7ad
  response:
    content: '{"object":"block","id":"4ec0d58c-2a3a-415a-ac7a-eac030d6b7ad","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T08:18:00.000Z","last_edited_time":"2026-06-27T08:18:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Items"},"archived":true,"request_id":"7e2d9be3-9aa3-4dce-a9cd-79f3cae0c575"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e2d9be3-9aa3-4dce-a9cd-79f3cae0c575
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T08:18:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"d5bb002e-1858-4960-873e-9969a1f40fbf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d5bb002e-1858-4960-873e-9969a1f40fbf
    status_code: 200
version: 1
