interactions:
- request:
    body: '{"title": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/8c373d20-2bad-47f3-8dcf-951a69730bd5
  response:
    content: '{"object":"database","id":"8c373d20-2bad-47f3-8dcf-951a69730bd5","cover":null,"icon":null,"created_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:58:00.000Z","title":[{"type":"text","text":{"content":"My
      most favorite articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      most favorite articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"wBvN","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"y%7BZ%5B","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8c373d202bad47f38dcf951a69730bd5","public_url":null,"archived":false,"request_id":"6373f0f8-1cee-4ff0-b5a8-14167c37d4d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"title": []}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/8c373d20-2bad-47f3-8dcf-951a69730bd5
  response:
    content: '{"object":"database","id":"8c373d20-2bad-47f3-8dcf-951a69730bd5","cover":null,"icon":null,"created_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:58:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"wBvN","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"y%7BZ%5B","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8c373d202bad47f38dcf951a69730bd5","public_url":null,"archived":false,"request_id":"2e4a9bec-2d1a-4d11-80f2-57f0cfbb57bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
