interactions:
- request:
    body: '{"query": "Item DB 42", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-810d-9865-d800f86637dc\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:24:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-25T14:25:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"DB
      test with 110 pages\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"DB
      test with 110 pages\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/38a9ce7b60a4810d9865d800f86637dc\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"database\",\"id\":\"00000000-0000-4000-8000-00000000000d\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-25T01:23:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"String\":{\"id\":\"%3E%40FF\",\"name\":\"String\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"ZwbV\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Checkbox\":{\"id\":\"gcvC\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Date\":{\"id\":\"t~%3Ew\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/0000000000004000800000000000000d\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"database\",\"id\":\"9528650b-a37a-41a9-8dc2-a8fd21525122\",\"cover\":null,\"icon\":n[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Item DB 42"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Size": {"type": "select", "select": {"options": [{"name":
      "S", "color": "green"}, {"name": "M", "color": "yellow"}, {"name": "L", "color":
      "red"}]}}, "Price": {"type": "number", "number": {"format": "dollar"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81da-ab46-c1e6bb87dc70","cover":null,"icon":null,"created_time":"2026-06-25T14:25:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000[...]
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell.","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell."}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81da-ab46-c[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:25:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"977837a9-6017-44a3-a0fa-71509f4432dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 977837a9-6017-44a3-a0fa-71509f4432dd
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB 42", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB 42"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "database_id": "38a9ce7b-60a4-81da-ab46-c1e6bb87dc70", "dual_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81a2-9b20-d6a2369de7f2","cover":null,"icon":null,"created_time":"2026-06-25T14:26:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:26:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB 42","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB 42","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"WYVz","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-81da-ab46-c1e6bb87dc70","data_source_id":"38a9ce7b-60a4-81fc-a396-000b882e720d","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB 42 (Items Purchased)","synced_property_id":"%60xjY"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481a29b20d6a2369de7f2","public_url":null,"in_trash":false,"archived":false,"request_id":"bcd2c805-87a5-43c6-9511-c2a0142e0196"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bcd2c805-87a5-43c6-9511-c2a0142e0196
    status_code: 200
[...]
