interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ced4d05f-8f91-4b15-9929-2afe328fe4a8","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:40.972+00:00","last_edited_time":"2026-06-27T16:53:40.972+00:00","data_sources":[{"id":"b0af860b-903d-4ea8-9168-d36dc7c094db","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/ced4d05f8f914b1599292afe328fe4a8","public_url":null,"request_id":"6912c141-5b1b-4072-8449-8df8606f39f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6912c141-5b1b-4072-8449-8df8606f39f8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b0af860b-903d-4ea8-9168-d36dc7c094db
  response:
    content: '{"object":"data_source","id":"b0af860b-903d-4ea8-9168-d36dc7c094db","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ced4d05f-8f91-4b15-9929-2afe328fe4a8"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/ced4d05f8f914b1599292afe328fe4a8","public_url":null,"in_trash":false,"request_id":"cd54c885-1543-40e4-9113-e0c9403f1bf9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cd54c885-1543-40e4-9113-e0c9403f1bf9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/ced4d05f-8f91-4b15-9929-2afe328fe4a8
  response:
    content: '{"object":"database","id":"ced4d05f-8f91-4b15-9929-2afe328fe4a8","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:40.972+00:00","last_edited_time":"2026-06-27T16:53:40.972+00:00","data_sources":[{"id":"b0af860b-903d-4ea8-9168-d36dc7c094db","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/ced4d05f8f914b1599292afe328fe4a8","public_url":null,"request_id":"f6f17f74-0b30-4809-95c2-87ec6a4631dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f6f17f74-0b30-4809-95c2-87ec6a4631dc
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ced4d05f-8f91-4b15-9929-2afe328fe4a8
  response:
    content: '{"object":"block","id":"ced4d05f-8f91-4b15-9929-2afe328fe4a8","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"ff6aae2d-0328-4c44-ba66-0bce3d3f2b95"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff6aae2d-0328-4c44-ba66-0bce3d3f2b95
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"24afa7fd-bb59-47cf-b1b8-414678850b08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 24afa7fd-bb59-47cf-b1b8-414678850b08
    status_code: 200
version: 1
