interactions:
- request:
    body: '{"title": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/7f47bea0-b114-4835-acf2-66c157012a86
  response:
    content: '{"object":"database","id":"7f47bea0-b114-4835-acf2-66c157012a86","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[{"type":"text","text":{"content":"My
      most favorite articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      most favorite articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"Hli_","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"yp%3Bl","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/7f47bea0b1144835acf266c157012a86","public_url":null,"archived":false,"request_id":"7ccf2653-44e9-4ba8-9c7b-3d98c4df3edd"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"title": []}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/7f47bea0-b114-4835-acf2-66c157012a86
  response:
    content: '{"object":"database","id":"7f47bea0-b114-4835-acf2-66c157012a86","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"Hli_","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"yp%3Bl","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/7f47bea0b1144835acf266c157012a86","public_url":null,"archived":false,"request_id":"44c10306-964a-47f2-9420-256bfe37415c"}'
    headers: {}
    status_code: 200
version: 1
