interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fdd30914-ee27-4f38-9a63-1f2898c6cab3","cover":null,"icon":null,"created_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:58:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"WvZW","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"_R%7CF","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/fdd30914ee274f389a631f2898c6cab3","public_url":null,"archived":false,"request_id":"0a22f737-5349-4cbd-8ab7-5c470d356524"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fdd30914-ee27-4f38-9a63-1f2898c6cab3
  response:
    content: '{"object":"block","id":"fdd30914-ee27-4f38-9a63-1f2898c6cab3","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-23T15:58:00.000Z","last_edited_time":"2024-01-23T15:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"b52113b3-c8b0-41e4-a9c5-7e2a866c17c9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
