interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ab6a63c2-25ea-4219-91d2-63562267261c","cover":null,"icon":null,"created_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:51:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"QGAf","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"ZAJj","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ab6a63c225ea421991d263562267261c","public_url":null,"archived":false,"in_trash":false,"request_id":"bdec820d-75a4-408e-9a3e-e2a5ec4e971e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"35e-3IczE5/aHzq83srmzqc52+q0yuE"
      x-notion-request-id:
      - bdec820d-75a4-408e-9a3e-e2a5ec4e971e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ab6a63c2-25ea-4219-91d2-63562267261c
  response:
    content: '{"object":"block","id":"ab6a63c2-25ea-4219-91d2-63562267261c","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:51:00.000Z","last_edited_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"d852acb0-4a47-40ce-8963-e9896e77f05c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-DJllVvszgNSBWyW1E9ILVOBpmuM"
      x-notion-request-id:
      - d852acb0-4a47-40ce-8963-e9896e77f05c
    status_code: 200
version: 1
