interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0924cdb1-c7de-4a1d-ba55-b6e57e421d41","cover":null,"icon":null,"created_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-04T16:30:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"j%3C%7DZ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/0924cdb1c7de4a1dba55b6e57e421d41","public_url":null,"archived":false,"request_id":"59138422-bffe-44fe-ab17-4400bb28d54a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/0924cdb1-c7de-4a1d-ba55-b6e57e421d41
  response:
    content: '{"object":"database","id":"0924cdb1-c7de-4a1d-ba55-b6e57e421d41","cover":null,"icon":null,"created_time":"2024-01-04T16:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-04T16:30:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"j%3C%7DZ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/0924cdb1c7de4a1dba55b6e57e421d41","public_url":null,"archived":false,"request_id":"29848775-22fd-4744-84ac-964a87b1f9ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
