interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8d1aff7f-07a0-4bc4-85b7-fe459310894a","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:25:27.559+00:00","last_edited_time":"2026-06-24T16:25:27.559+00:00","data_sources":[{"id":"8d32aa9b-f6ca-47f2-870e-6bcb008bda19","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/8d1aff7f07a04bc485b7fe459310894a","public_url":null,"archived":false,"request_id":"87eb44b4-c89e-4146-ac69-0418bdcd94f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87eb44b4-c89e-4146-ac69-0418bdcd94f6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/8d32aa9b-f6ca-47f2-870e-6bcb008bda19
  response:
    content: '{"object":"data_source","id":"8d32aa9b-f6ca-47f2-870e-6bcb008bda19","cover":null,"icon":null,"created_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:25:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"8d1aff7f-07a0-4bc4-85b7-fe459310894a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/8d1aff7f07a04bc485b7fe459310894a","public_url":null,"in_trash":false,"archived":false,"request_id":"808a7164-b982-4ef0-87ba-12eb12e5de5b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 808a7164-b982-4ef0-87ba-12eb12e5de5b
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "8d32aa9b-f6ca-47f2-870e-6bcb008bda19"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81d4-917a-f5583884752d","created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"8d32aa9b-f6ca-47f2-870e-6bcb008bda19","database_id":"8d1aff7f-07a0-4bc4-85b7-fe459310894a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://app.notion.com/p/Page-1-3899ce7b60a481d4917af5583884752d","public_url":null,"archived":false,"request_id":"98b3d3e4-fe86-4c73-ab6c-cd6e8a44bcc1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 98b3d3e4-fe86-4c73-ab6c-cd6e8a44bcc1
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/8d32aa9b-f6ca-47f2-870e-6bcb008bda19/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-812e-9016-e8744e82f66f","created_time":"2026-06-24T16:26:00.000Z","last_edited_time":"2026-06-24T16:26:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"8d32aa9b-f6ca-47f2-870e-6bcb008bda19","database_id":"8d1aff7f-07a0-4bc4-85b7-fe459310894a"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"start_cursor": "s:0e3268c2-0200-472c-9475-c079e73b8bea:3899ce7b-60a4-8130-a208-ee3e7ab45fc7",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/8d32aa9b-f6ca-47f2-870e-6bcb008bda19/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8130-a208-ee3e7ab45fc7","created_time":"2026-06-24T16:25[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8d1aff7f-07a0-4bc4-85b7-fe459310894a
  response:
    content: '{"object":"block","id":"8d1aff7f-07a0-4bc4-85b7-fe459310894a","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:26:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"archived":true,"request_id":"cee0684c-06d9-4faf-a2c3-5bf776d53613"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cee0684c-06d9-4faf-a2c3-5bf776d53613
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"12b3eefb-aca3-4750-bb5b-cd18c4a1839b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 12b3eefb-aca3-4750-bb5b-cd18c4a1839b
    status_code: 200
version: 1
