interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9eb21f85-98d9-4a37-9186-6ea272cabd9c","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:54:15.236+00:00","last_edited_time":"2026-06-27T16:54:15.236+00:00","data_sources":[{"id":"8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/9eb21f8598d94a3791866ea272cabd9c","public_url":null,"request_id":"7c16085b-cea4-49c1-b88d-ee2b8be2502e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7c16085b-cea4-49c1-b88d-ee2b8be2502e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a
  response:
    content: '{"object":"data_source","id":"8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a","cover":null,"icon":null,"created_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:54:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"9eb21f85-98d9-4a37-9186-6ea272cabd9c"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/9eb21f8598d94a3791866ea272cabd9c","public_url":null,"in_trash":false,"request_id":"ed72b354-3f71-4e99-907b-a56103fffb73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ed72b354-3f71-4e99-907b-a56103fffb73
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81c2-b34d-e563af25fb55","created_time":"2026-06-27T16:54:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a","database_id":"9eb21f85-98d9-4a37-9186-6ea272cabd9c"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38c9ce7b60a481c2b34de563af25fb55","public_url":null,"request_id":"7f677557-3b11-4390-8982-92f45415050a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7f677557-3b11-4390-8982-92f45415050a
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-818f-b208-c4d66ba4a714","created_time":"2026-06-27T16:55:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a","database_id":"9eb21f85-98d9-4a37-9186-6ea272cabd9c"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"start_cursor": "s:bd8bd80a-3672-46ea-97fc-89523fd866d9:38c9ce7b-60a4-817c-8a8f-db641a44776a",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/8b12b4c6-6b39-4e47-a2af-fdfdd0a63c7a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-817c-8a8f-db641a44776a","created_time":"2026-06-27T16:54[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9eb21f85-98d9-4a37-9186-6ea272cabd9c
  response:
    content: '{"object":"block","id":"9eb21f85-98d9-4a37-9186-6ea272cabd9c","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:54:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"request_id":"ccc69fff-6bb3-4320-b9c0-c8191642d8c7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ccc69fff-6bb3-4320-b9c0-c8191642d8c7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"72473354-999e-4e36-866f-eb6fc026d129"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 72473354-999e-4e36-866f-eb6fc026d129
    status_code: 200
version: 1
