interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Articles", "text": {"content": "Articles"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Cost":
      {"number": {"format": "dollar"}, "type": "number"}, "Description": {"type":
      "rich_text", "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f6ba8e2d-b9e3-4364-bc37-4999bca9a9bb","cover":null,"icon":null,"created_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:37:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"FsUD","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"VaBI","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f6ba8e2db9e34364bc374999bca9a9bb","public_url":null,"archived":false,"request_id":"c6acb266-1ab8-40a8-8621-684b1925587b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"title": [{"plain_text": "My most favorite articles", "text": {"content":
      "My most favorite articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f6ba8e2d-b9e3-4364-bc37-4999bca9a9bb
  response:
    content: '{"object":"database","id":"f6ba8e2d-b9e3-4364-bc37-4999bca9a9bb","cover":null,"ico[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f6ba8e2d-b9e3-4364-bc37-4999bca9a9bb
  response:
    content: '{"object":"block","id":"f6ba8e2d-b9e3-4364-bc37-4999bca9a9bb","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-02-14T17:37:00.000Z","last_edited_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"28dc5a01-c97d-4748-aa7c-33fb37e4ac9f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
