interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"36e4b46b-cb71-41b4-8da5-5d027f319650","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"MU%5CN","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"NgEF","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/36e4b46bcb7141b48da55d027f319650","public_url":null,"archived":false,"request_id":"c360b6d1-2bba-4f6c-88ae-e37ac72eb11e"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "My articles", "text": {"content": "My
      articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/36e4b46b-cb71-41b4-8da5-5d027f319650
  response:
    content: '{"object":"database","id":"36e4b46b-cb71-41b4-8da5-5d027f319650","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Description":{"id":"MU%5CN","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"NgEF","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/36e4b46bcb7141b48da55d027f319650","public_url":null,"archived":false,"request_id":"6c26e487-067c-4bcd-a3d4-6de0f8201e01"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/36e4b46b-cb71-41b4-8da5-5d027f319650
  response:
    content: '{"object":"block","id":"36e4b46b-cb71-41b4-8da5-5d027f319650","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T13:09:00.000Z","last_edited_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"d4f66d1a-ba3c-467d-9d62-e6d20a194afc"}'
    headers: {}
    status_code: 200
version: 1
