interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6706b054-1a75-4399-afe8-91d1f94701cf","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:11.852+00:00","last_edited_time":"2026-06-27T16:53:11.852+00:00","data_sources":[{"id":"e664cef4-8a05-4dcf-b05f-7f84ba0d30b8","name":"Articles"}],"icon":null,"cover":null,"url":"https://www.notion.so/6706b0541a754399afe891d1f94701cf","public_url":null,"request_id":"3c44049e-d014-4a2d-a09e-6f8064fc09d0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c44049e-d014-4a2d-a09e-6f8064fc09d0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e664cef4-8a05-4dcf-b05f-7f84ba0d30b8
  response:
    content: '{"object":"data_source","id":"e664cef4-8a05-4dcf-b05f-7f84ba0d30b8","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"nEwX","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"w%5D%5CS","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6706b054-1a75-4399-afe8-91d1f94701cf"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/6706b0541a754399afe891d1f94701cf","public_url":null,"in_trash":false,"request_id":"a4ca41ab-03ab-4710-9210-09897dca3795"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4ca41ab-03ab-4710-9210-09897dca3795
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6706b054-1a75-4399-afe8-91d1f94701cf
  response:
    content: '{"object":"block","id":"6706b054-1a75-4399-afe8-91d1f94701cf","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"d4c05398-c932-4df9-979b-10a882f10533"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d4c05398-c932-4df9-979b-10a882f10533
    status_code: 200
version: 1
