interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4c1faf8b-22db-42fc-a99d-17a087d1a4e6","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:50:55.732+00:00","last_edited_time":"2026-06-27T05:50:55.732+00:00","data_sources":[{"id":"c4dac07f-5a6a-401e-a2ea-1fbf87fd6e3b","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/4c1faf8b22db42fca99d17a087d1a4e6","public_url":null,"archived":false,"request_id":"d161d680-7790-4626-a896-deccedabff08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d161d680-7790-4626-a896-deccedabff08
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c4dac07f-5a6a-401e-a2ea-1fbf87fd6e3b
  response:
    content: '{"object":"data_source","id":"c4dac07f-5a6a-401e-a2ea-1fbf87fd6e3b","cover":null,"icon":null,"created_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:50:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"4c1faf8b-22db-42fc-a99d-17a087d1a4e6"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/4c1faf8b22db42fca99d17a087d1a4e6","public_url":null,"in_trash":false,"archived":false,"request_id":"4b199f91-b3b8-4978-9df5-ad244c8944a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4b199f91-b3b8-4978-9df5-ad244c8944a2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c4dac07f-5a6a-401e-a2ea-1fbf87fd6e3b
  response:
    content: '{"object":"data_source","id":"c4dac07f-5a6a-401e-a2ea-1fbf87fd6e3b","cover":null,"icon":null,"created_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:50:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"4c1faf8b-22db-42fc-a99d-17a087d1a4e6"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/4c1faf8b22db42fca99d17a087d1a4e6","public_url":null,"in_trash":false,"archived":false,"request_id":"9cd9eae1-40b1-4e8f-8b00-693530bbcf33"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9cd9eae1-40b1-4e8f-8b00-693530bbcf33
    status_code: 200
version: 1
