interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8137-b2ce-f6fe2f178f3f","cover":null,"icon":null,"created_time":"2025-09-03T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3CBI%3C","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"ql%3D%5B","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888137b2cef6fe2f178f3f","public_url":null,"archived":false,"in_trash":false,"request_id":"74f0f3f6-183e-4396-b658-e3e86931df00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 74f0f3f6-183e-4396-b658-e3e86931df00
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"My articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-8137-b2ce-f6fe2f178f3f
  response:
    content: '{"object":"database","id":"263974f3-b388-8137-b2ce-f6fe2f178f3f","cover":null,"icon":null,"created_time":"2025-09-03T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:43:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"%3CBI%3C","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"ql%3D%5B","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888137b2cef6fe2f178f3f","public_url":null,"archived":false,"in_trash":false,"request_id":"eed2e668-9bee-42fb-9186-cb3232510ad2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eed2e668-9bee-42fb-9186-cb3232510ad2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-8137-b2ce-f6fe2f178f3f
  response:
    content: '{"object":"block","id":"263974f3-b388-8137-b2ce-f6fe2f178f3f","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-03T13:43:00.000Z","last_edited_time":"2025-09-03T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"045c69e0-3cf8-4852-8ced-f5ca92005682"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 045c69e0-3cf8-4852-8ced-f5ca92005682
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:43:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"dc8fa9d3-43a4-4186-a320-31563044f71f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dc8fa9d3-43a4-4186-a320-31563044f71f
    status_code: 200
version: 1
