interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-8188-890c-e9c038302561","cover":null,"icon":null,"created_time":"2024-10-14T16:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"%5BRuw","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"dMLu","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b3888188890ce9c038302561","public_url":null,"archived":false,"in_trash":false,"request_id":"c8895c3c-e3a4-46b5-a875-d1b97482931f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c8895c3c-e3a4-46b5-a875-d1b97482931f
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My articles", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "My articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/11f974f3-b388-8188-890c-e9c038302561
  response:
    content: '{"object":"database","id":"11f974f3-b388-8188-890c-e9c038302561","cover":null,"icon":null,"created_time":"2024-10-14T16:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:43:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Description":{"id":"%5BRuw","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"dMLu","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b3888188890ce9c038302561","public_url":null,"archived":false,"in_trash":false,"request_id":"6959896b-87f1-46ec-9a1f-74cd10c7d841"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6959896b-87f1-46ec-9a1f-74cd10c7d841
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8188-890c-e9c038302561
  response:
    content: '{"object":"block","id":"11f974f3-b388-8188-890c-e9c038302561","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-10-14T16:43:00.000Z","last_edited_time":"2024-10-14T16:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"6f69b2f9-53cf-4f2b-ad9d-b7238d611abd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f69b2f9-53cf-4f2b-ad9d-b7238d611abd
    status_code: 200
version: 1
