interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"825818a0-e667-4d0c-848c-aba81863abfb","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:47.863+00:00","last_edited_time":"2026-06-24T18:41:47.863+00:00","data_sources":[{"id":"74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/825818a0e6674d0c848caba81863abfb","public_url":null,"archived":false,"request_id":"31860f3d-f93a-47ad-a28a-e8a3fa790fdb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31860f3d-f93a-47ad-a28a-e8a3fa790fdb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2
  response:
    content: '{"object":"data_source","id":"74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"825818a0-e667-4d0c-848c-aba81863abfb"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/825818a0e6674d0c848caba81863abfb","public_url":null,"in_trash":false,"archived":false,"request_id":"29e92b8c-6629-4e1b-8d25-a0a5f10144a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29e92b8c-6629-4e1b-8d25-a0a5f10144a3
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-812a-a739-faac63df5bd5","created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2","database_id":"825818a0-e667-4d0c-848c-aba81863abfb"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://app.notion.com/p/Page-1-3899ce7b60a4812aa739faac63df5bd5","public_url":null,"archived":false,"request_id":"94f6494a-8abc-4068-bdc6-84fd6fb5ea1e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 94f6494a-8abc-4068-bdc6-84fd6fb5ea1e
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-819d-b069-d4c696a3c14c","created_time":"2026-06-24T18:42:00.000Z","last_edited_time":"2026-06-24T18:42:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2","database_id":"825818a0-e667-4d0c-848c-aba81863abfb"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"start_cursor": "s:47f5daf0-dff7-4f08-8088-da023227a8a5:3899ce7b-60a4-81a1-8e42-cc9bb81390f5",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/74cd34ff-f48f-4cbf-be4c-e8b6e25e81a2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81a1-8e42-cc9bb81390f5","created_time":"2026-06-24T18:41[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/825818a0-e667-4d0c-848c-aba81863abfb
  response:
    content: '{"object":"block","id":"825818a0-e667-4d0c-848c-aba81863abfb","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:42:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"archived":true,"request_id":"e0cc0a7c-fe45-45a6-b99c-bf5debed8f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e0cc0a7c-fe45-45a6-b99c-bf5debed8f77
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"5f551ccd-d9da-4d82-b968-2331c951d40c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f551ccd-d9da-4d82-b968-2331c951d40c
    status_code: 200
version: 1
