interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8107-898b-e49b15ede1df","cover":null,"icon":null,"created_time":"2025-08-22T07:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:06:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b3888107898be49b15ede1df","public_url":null,"archived":false,"in_trash":false,"request_id":"9c92d93d-f220-423a-bacc-81ab56e0038d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c92d93d-f220-423a-bacc-81ab56e0038d
    status_code: 200
- request:
    body: '{"title":[{"type":"text","plain_text":"DB test with 110 pages","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"DB
      test with 110 pages"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-8107-898b-e49b15ede1df
  response:
    content: '{"object":"database","id":"257974f3-b388-8107-898b-e49b15ede1df","cover":null,"icon":null,"created_time":"2025-08-22T07:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:06:00.000Z","title":[{"type":"text","text":{"content":"DB
      test with 110 pages","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"DB
      test with 110 pages","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b3888107898be49b15ede1df","public_url":null,"archived":false,"in_trash":false,"request_id":"6007c2b8-adf1-4500-8ecc-3c9ba9ef6d0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6007c2b8-adf1-4500-8ecc-3c9ba9ef6d0e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-8107-898b-e49b15ede1df"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.[...]
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8107-898b-e49b15ede1df/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8103-8001-d4c9e1a04132","created_time":"2025-08-22T07:08:00.000Z","last_edited_time":"2025-08-22T07:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-8107-898b-e49b15ede1df"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"title","type":"title","t[...]
- request:
    body: '{"start_cursor": "257974f3-b388-81b0-8cec-ef9911e6094a", "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8107-898b-e49b15ede1df/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81b0-8cec-ef9911e6094a","created_time":"2025-08-22T07:06:00.000Z","last_edited_time":"2025-08-22T07:06:0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/257974f3-b388-8107-898b-e49b15ede1df
  response:
    content: '{"object":"block","id":"257974f3-b388-8107-898b-e49b15ede1df","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-08-22T07:06:00.000Z","last_edited_time":"2025-08-22T07:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"request_id":"cc22a316-28d4-4ac7-9ace-3a9982fb07ea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cc22a316-28d4-4ac7-9ace-3a9982fb07ea
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-22T07:06:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"da33035c-713f-48d3-b94a-67d67445d73b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - da33035c-713f-48d3-b94a-67d67445d73b
    status_code: 200
version: 1
