interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"number":
      {"format": "dollar"}, "type": "number"}, "Description": {"type": "rich_text",
      "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2c37e246-4aa5-4123-ae6b-3fed578944d1","cover":null,"icon":null,"created_time":"2024-01-25T07:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:39:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Description":{"id":"G%40%7BY","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"tsRA","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2c37e2464aa54123ae6b3fed578944d1","public_url":null,"archived":false,"request_id":"e218c091-d425-44f2-9c38-bc64346d6a0f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "My articles", "text": {"content": "My
      articles"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/2c37e246-4aa5-4123-ae6b-3fed578944d1
  response:
    content: '{"object":"database","id":"2c37e246-4aa5-4123-ae6b-3fed578944d1","cover":null,"icon":null,"created_time":"2024-01-25T07:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:39:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Description":{"id":"G%40%7BY","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"tsRA","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2c37e2464aa54123ae6b3fed578944d1","public_url":null,"archived":false,"request_id":"a9bd942c-5223-4683-8d09-b03e85416f71"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2c37e246-4aa5-4123-ae6b-3fed578944d1
  response:
    content: '{"object":"block","id":"2c37e246-4aa5-4123-ae6b-3fed578944d1","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-25T07:39:00.000Z","last_edited_time":"2024-01-25T07:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":""},"request_id":"e2c55b45-69bb-4995-b048-7f9f33f24367"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
