interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8182-ae4d-fe3f5fef3372","cover":null,"icon":null,"created_time":"2024-12-10T10:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"wIW%3D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b3888182ae4dfe3f5fef3372","public_url":null,"archived":false,"in_trash":false,"request_id":"aeba69ac-feda-49e2-9a21-b97186923709"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aeba69ac-feda-49e2-9a21-b97186923709
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/158974f3-b388-8182-ae4d-fe3f5fef3372
  response:
    content: '{"object":"database","id":"158974f3-b388-8182-ae4d-fe3f5fef3372","cover":null,"icon":null,"created_time":"2024-12-10T10:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"wIW%3D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b3888182ae4dfe3f5fef3372","public_url":null,"archived":false,"in_trash":false,"request_id":"2bc937a3-baae-4ac5-9d2d-4f524d6fcbfb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2bc937a3-baae-4ac5-9d2d-4f524d6fcbfb
    status_code: 200
version: 1
