interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6ac5e963-106a-4e7c-bdf3-98078ae9e55c","cover":null,"icon":null,"created_time":"2024-07-09T10:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:22:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Cost":{"id":"H_Sp","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5Bf%7Dh","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/6ac5e963106a4e7cbdf398078ae9e55c","public_url":null,"archived":false,"in_trash":false,"request_id":"3602b9c4-1d70-46f5-adcf-64092f3fa86e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"362-WUqn+F8nbO2c6LNSugGckNvDW5s"
      x-notion-request-id:
      - 3602b9c4-1d70-46f5-adcf-64092f3fa86e
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "My articles", "text":
      {"content": "My articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/6ac5e963-106a-4e7c-bdf3-98078ae9e55c
  response:
    content: '{"object":"database","id":"6ac5e963-106a-4e7c-bdf3-98078ae9e55c","cover":null,"icon":null,"created_time":"2024-07-09T10:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:22:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"H_Sp","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"%5Bf%7Dh","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/6ac5e963106a4e7cbdf398078ae9e55c","public_url":null,"archived":false,"in_trash":false,"request_id":"13dadd50-dbbb-459e-82cc-34ea2bb99e59"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"438-OHOCnUlXx1swq8JDfxeK6nJhlOs"
      x-notion-request-id:
      - 13dadd50-dbbb-459e-82cc-34ea2bb99e59
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6ac5e963-106a-4e7c-bdf3-98078ae9e55c
  response:
    content: '{"object":"block","id":"6ac5e963-106a-4e7c-bdf3-98078ae9e55c","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-07-09T10:22:00.000Z","last_edited_time":"2024-07-09T10:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"ae34a245-ecae-4b4f-9522-0a48afb9dfaf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21c-0aYbHfT2IMYdOPhvCf8ALGrK2cI"
      x-notion-request-id:
      - ae34a245-ecae-4b4f-9522-0a48afb9dfaf
    status_code: 200
version: 1
