interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Articles", "text": {"content": "Articles"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Cost":
      {"number": {"format": "dollar"}, "type": "number"}, "Description": {"type":
      "rich_text", "rich_text": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"13cea329-60f4-4574-865a-1ab47b6fc14c","cover":null,"icon":null,"created_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:37:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"n%7CQW","name":"Cost","type":"number","number":{"format":"dollar"}},"Description":{"id":"~IiU","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/13cea32960f44574865a1ab47b6fc14c","public_url":null,"archived":false,"request_id":"891d802f-8544-463d-93bc-1bfe3800c583"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/13cea329-60f4-4574-865a-1ab47b6fc14c
  response:
    content: '{"object":"block","id":"13cea329-60f4-4574-865a-1ab47b6fc14c","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-02-14T17:37:00.000Z","last_edited_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"28eea2b9-ffff-4881-9a66-b94b06e80543"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
