interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8be70b47-5667-4554-87ab-3c7cdf8f8421","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T15:02:35.800+00:00","last_edited_time":"2026-06-24T15:02:35.800+00:00","data_sources":[{"id":"465329b1-2c3e-49ef-a84c-c69f557a7c30","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/8be70b475667455487ab3c7cdf8f8421","public_url":null,"archived":false,"request_id":"818e052e-39ba-43eb-8508-16d72418f7ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 818e052e-39ba-43eb-8508-16d72418f7ed
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/465329b1-2c3e-49ef-a84c-c69f557a7c30
  response:
    content: '{"object":"data_source","id":"465329b1-2c3e-49ef-a84c-c69f557a7c30","cover":null,"icon":null,"created_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T15:02:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"8be70b47-5667-4554-87ab-3c7cdf8f8421"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/8be70b475667455487ab3c7cdf8f8421","public_url":null,"in_trash":false,"archived":false,"request_id":"a3894ed7-a90d-4000-ae89-f9d4a6941721"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a3894ed7-a90d-4000-ae89-f9d4a6941721
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "465329b1-2c3e-49ef-a84c-c69f557a7c30"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-818f-a15c-faee65567b25","created_time":"2026-06-24T15:02:00.000Z","last_edited_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"465329b1-2c3e-49ef-a84c-c69f557a7c30","database_id":"8be70b47-5667-4554-87ab-3c7cdf8f8421"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://app.notion.com/p/Page-1-3899ce7b60a4818fa15cfaee65567b25","public_url":null,"archived":false,"request_id":"4fa6e21f-3848-4b55-b593-a38f893222d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4fa6e21f-3848-4b55-b593-a38f893222d4
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/465329b1-2c3e-49ef-a84c-c69f557a7c30/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81e8-b100-eb8f5cde41cd","created_time":"2026-06-24T15:03:00.000Z","last_edited_time":"2026-06-24T15:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"465329b1-2c3e-49ef-a84c-c69f557a7c30","database_id":"8be70b47-5667-4554-87ab-3c7cdf8f8421"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"start_cursor": "s:ace57b4c-61c4-4747-868c-c8f286f12346:3899ce7b-60a4-81b7-91e1-f8a0acce410a",
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/465329b1-2c3e-49ef-a84c-c69f557a7c30/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81b7-91e1-f8a0acce410a","created_time":"2026-06-24T15:02[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8be70b47-5667-4554-87ab-3c7cdf8f8421
  response:
    content: '{"object":"block","id":"8be70b47-5667-4554-87ab-3c7cdf8f8421","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T15:02:00.000Z","last_edited_time":"2026-06-24T15:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"DB
      test with 110 pages"},"archived":true,"request_id":"bafe7a3e-ed54-43e9-ad57-064526c71fdf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bafe7a3e-ed54-43e9-ad57-064526c71fdf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T15:02:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"22768966-ae24-4fbe-af64-6dd47aa23f39"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 22768966-ae24-4fbe-af64-6dd47aa23f39
    status_code: 200
version: 1
