interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"15a8b5a1-efe0-4355-b9bd-07bade3ff0c3","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:41:23.849+00:00","last_edited_time":"2026-06-24T18:41:23.849+00:00","data_sources":[{"id":"1e226620-6c61-4b46-8b97-95d04ed2251e","name":"Articles"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/15a8b5a1efe04355b9bd07bade3ff0c3","public_url":null,"archived":false,"request_id":"f1fff7aa-0ace-45ff-9c29-6c41753bc46d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f1fff7aa-0ace-45ff-9c29-6c41753bc46d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1e226620-6c61-4b46-8b97-95d04ed2251e
  response:
    content: '{"object":"data_source","id":"1e226620-6c61-4b46-8b97-95d04ed2251e","cover":null,"icon":null,"created_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T18:41:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%40Apz","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"wU%5B_","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"15a8b5a1-efe0-4355-b9bd-07bade3ff0c3"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/15a8b5a1efe04355b9bd07bade3ff0c3","public_url":null,"in_trash":false,"archived":false,"request_id":"de65b0ab-7b48-4237-86c4-3627cba67050"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de65b0ab-7b48-4237-86c4-3627cba67050
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/15a8b5a1-efe0-4355-b9bd-07bade3ff0c3
  response:
    content: '{"object":"block","id":"15a8b5a1-efe0-4355-b9bd-07bade3ff0c3","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:41:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"854633f6-7e9a-46af-b60f-594d4999f967"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 854633f6-7e9a-46af-b60f-594d4999f967
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:41:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"491852c4-81db-45e4-856d-07774468cad0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 491852c4-81db-45e4-856d-07774468cad0
    status_code: 200
version: 1
