interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Overwritten Title", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Overwritten Title"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description": {"type":
      "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ae063fe4-0fca-4d51-ab4c-b520befbf5af","title":[{"type":"text","text":{"content":"Overwritten
      Title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overwritten
      Title","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:02:52.236+00:00","last_edited_time":"2026-06-24T16:02:52.236+00:00","data_sources":[{"id":"121de40f-51e5-4375-bc02-fb1a752f5d69","name":"Overwritten
      Title"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/ae063fe40fca4d51ab4cb520befbf5af","public_url":null,"archived":false,"request_id":"2612aaa9-3e53-4d61-8eb6-963e97611ec1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2612aaa9-3e53-4d61-8eb6-963e97611ec1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/121de40f-51e5-4375-bc02-fb1a752f5d69
  response:
    content: '{"object":"data_source","id":"121de40f-51e5-4375-bc02-fb1a752f5d69","cover":null,"icon":null,"created_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:02:00.000Z","title":[{"type":"text","text":{"content":"Overwritten
      Title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overwritten
      Title","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"IS%40%3A","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"PzoK","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ae063fe4-0fca-4d51-ab4c-b520befbf5af"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/ae063fe40fca4d51ab4cb520befbf5af","public_url":null,"in_trash":false,"archived":false,"request_id":"229cf6bf-825b-4c76-827f-98d0de3eb591"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 229cf6bf-825b-4c76-827f-98d0de3eb591
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ae063fe4-0fca-4d51-ab4c-b520befbf5af
  response:
    content: '{"object":"block","id":"ae063fe4-0fca-4d51-ab4c-b520befbf5af","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:02:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Overwritten
      Title"},"archived":true,"request_id":"c29a6692-09ed-474c-b6dc-f61f89a1046f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c29a6692-09ed-474c-b6dc-f61f89a1046f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"adcb96df-db2d-46f5-8334-33ab84a533b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - adcb96df-db2d-46f5-8334-33ab84a533b5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d90a1bbe-1026-4de3-8f73-8ca933ba4d80
  response:
    content: '{"object":"block","id":"d90a1bbe-1026-4de3-8f73-8ca933ba4d80","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:02:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"No
      Schema Used"},"archived":true,"request_id":"5800f1df-1931-4f0f-8346-f4416b96330c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5800f1df-1931-4f0f-8346-f4416b96330c
    status_code: 200
version: 1
