interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"multi_select":
      {"options": []}, "type": "multi_select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fbd549a2-2265-4848-a4f4-bebe15b5ee0f","cover":null,"icon":null,"created_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:37:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"lcPA","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/fbd549a222654848a4f4bebe15b5ee0f","public_url":null,"archived":false,"request_id":"c041a98a-f09f-4de0-b6dc-37cc4c744dc1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/fbd549a2-2265-4848-a4f4-bebe15b5ee0f
  response:
    content: '{"object":"database","id":"fbd549a2-2265-4848-a4f4-bebe15b5ee0f","cover":null,"icon":null,"created_time":"2024-02-14T17:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:37:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"lcPA","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/fbd549a222654848a4f4bebe15b5ee0f","public_url":null,"archived":false,"request_id":"bd4e630f-f001-46cf-a616-22bb5bfa1700"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
