interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Overwritten Title", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Overwritten Title"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Cost": {"type": "number", "number": {"format": "dollar"}}, "Description": {"type":
      "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a6abfaa7-b81c-4731-935c-d77602c7c0e6","title":[{"type":"text","text":{"content":"Overwritten
      Title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overwritten
      Title","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:53:20.458+00:00","last_edited_time":"2026-06-27T16:53:20.458+00:00","data_sources":[{"id":"1181ad7b-bc7b-4e89-9e0d-7b06adf4b2b4","name":"Overwritten
      Title"}],"icon":null,"cover":null,"url":"https://www.notion.so/a6abfaa7b81c4731935cd77602c7c0e6","public_url":null,"request_id":"d756a827-e67e-48c8-8d0d-002bd397d188"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d756a827-e67e-48c8-8d0d-002bd397d188
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1181ad7b-bc7b-4e89-9e0d-7b06adf4b2b4
  response:
    content: '{"object":"data_source","id":"1181ad7b-bc7b-4e89-9e0d-7b06adf4b2b4","cover":null,"icon":null,"created_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:53:00.000Z","title":[{"type":"text","text":{"content":"Overwritten
      Title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overwritten
      Title","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"%3FTvS","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"%5Bi%5Eo","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a6abfaa7-b81c-4731-935c-d77602c7c0e6"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/a6abfaa7b81c4731935cd77602c7c0e6","public_url":null,"in_trash":false,"request_id":"fd76cb39-5a8d-4c24-8c24-1f0486156c5b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd76cb39-5a8d-4c24-8c24-1f0486156c5b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a6abfaa7-b81c-4731-935c-d77602c7c0e6
  response:
    content: '{"object":"block","id":"a6abfaa7-b81c-4731-935c-d77602c7c0e6","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Overwritten
      Title"},"request_id":"ba741e2a-5314-4c5e-852b-ff7ea8e5bc48"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba741e2a-5314-4c5e-852b-ff7ea8e5bc48
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"88fd7385-4014-4167-a817-c431a6f1c081"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88fd7385-4014-4167-a817-c431a6f1c081
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6eb8f37c-8e93-4113-ac1f-6bbb36cd942d
  response:
    content: '{"object":"block","id":"6eb8f37c-8e93-4113-ac1f-6bbb36cd942d","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:53:00.000Z","last_edited_time":"2026-06-27T16:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"No
      Schema Used"},"request_id":"08e88ebf-887a-4740-852a-32c7d0a48944"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 08e88ebf-887a-4740-852a-32c7d0a48944
    status_code: 200
version: 1
