interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "My Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f6a23af2-8b2f-46d1-a96b-474ece058033","title":[{"type":"text","text":{"content":"My
      Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:55:53.212+00:00","last_edited_time":"2026-06-27T16:55:53.212+00:00","data_sources":[{"id":"6db8378d-b1af-4ee4-94b8-5fa501c42e03","name":"My
      Articles"}],"icon":null,"cover":null,"url":"https://www.notion.so/f6a23af28b2f46d1a96b474ece058033","public_url":null,"request_id":"0f9233a4-b094-4273-ada4-9d3d41661601"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0f9233a4-b094-4273-ada4-9d3d41661601
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/6db8378d-b1af-4ee4-94b8-5fa501c42e03
  response:
    content: '{"object":"data_source","id":"6db8378d-b1af-4ee4-94b8-5fa501c42e03","cover":null,"icon":null,"created_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:55:00.000Z","title":[{"type":"text","text":{"content":"My
      Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"sumL","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f6a23af2-8b2f-46d1-a96b-474ece058033"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/f6a23af28b2f46d1a96b474ece058033","public_url":null,"in_trash":false,"request_id":"c0b213ff-45d8-4608-8a1f-907fe8dec341"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c0b213ff-45d8-4608-8a1f-907fe8dec341
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/f6a23af2-8b2f-46d1-a96b-474ece058033
  response:
    content: '{"object":"database","id":"f6a23af2-8b2f-46d1-a96b-474ece058033","title":[{"type":"text","text":{"content":"My
      Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:55:53.212+00:00","last_edited_time":"2026-06-27T16:55:53.212+00:00","data_sources":[{"id":"6db8378d-b1af-4ee4-94b8-5fa501c42e03","name":"My
      Articles"}],"icon":null,"cover":null,"url":"https://www.notion.so/f6a23af28b2f46d1a96b474ece058033","public_url":null,"request_id":"df63fc3e-4476-44ed-a9a3-024bcc4b616d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df63fc3e-4476-44ed-a9a3-024bcc4b616d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"f903ad9c-d1ec-480a-9c88-9a3a0b6c3850"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f903ad9c-d1ec-480a-9c88-9a3a0b6c3850
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f6a23af2-8b2f-46d1-a96b-474ece058033
  response:
    content: '{"object":"block","id":"f6a23af2-8b2f-46d1-a96b-474ece058033","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:55:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"My
      Articles"},"request_id":"6f5677a3-4452-45cc-b26c-123c4fe50efb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f5677a3-4452-45cc-b26c-123c4fe50efb
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f6a23af2-8b2f-46d1-a96b-474ece058033
  response:
    content: '{"object":"block","id":"f6a23af2-8b2f-46d1-a96b-474ece058033","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:55:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"My
      Articles"},"request_id":"5c5dbb2e-bf6e-4667-8d91-a446d6fd3d00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c5dbb2e-bf6e-4667-8d91-a446d6fd3d00
    status_code: 200
version: 1
