interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"00d1d6b1-7e1e-488c-afb7-1100c16bfad8","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:50:26.634+00:00","last_edited_time":"2026-06-27T05:50:26.634+00:00","data_sources":[{"id":"d7539d68-5b45-4efc-86df-7d3ef17b628a","name":"Articles"}],"icon":null,"cover":null,"url":"https://www.notion.so/00d1d6b17e1e488cafb71100c16bfad8","public_url":null,"archived":false,"request_id":"6b6b6383-c4f1-4eae-af2d-b2e938393996"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b6b6383-c4f1-4eae-af2d-b2e938393996
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d7539d68-5b45-4efc-86df-7d3ef17b628a
  response:
    content: '{"object":"data_source","id":"d7539d68-5b45-4efc-86df-7d3ef17b628a","cover":null,"icon":null,"created_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:50:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"%3Ba%3D%60","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Cost":{"id":"%5CESM","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"00d1d6b1-7e1e-488c-afb7-1100c16bfad8"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/00d1d6b17e1e488cafb71100c16bfad8","public_url":null,"in_trash":false,"archived":false,"request_id":"61a6b78a-20ec-4c86-9d3c-dec6661c2e30"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 61a6b78a-20ec-4c86-9d3c-dec6661c2e30
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/00d1d6b1-7e1e-488c-afb7-1100c16bfad8
  response:
    content: '{"object":"block","id":"00d1d6b1-7e1e-488c-afb7-1100c16bfad8","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T05:50:00.000Z","last_edited_time":"2026-06-27T05:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"archived":true,"request_id":"1f9485df-139f-4464-ba4f-75707245dc71"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f9485df-139f-4464-ba4f-75707245dc71
    status_code: 200
version: 1
