interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Articles", "text": {"content": "Articles"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a800baf3-3be7-468b-95f0-25e77986e952","cover":null,"icon":null,"created_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:51:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"_L%40k","name":"Description","type":"rich_text","rich_text":{}},"Cost":{"id":"qdPJ","name":"Cost","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/a800baf33be7468b95f025e77986e952","public_url":null,"archived":false,"in_trash":false,"request_id":"cf1edcf6-9b09-4cde-a555-58ffe3657eb0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"430-yBFN+aZBSjzXN3eyhTRTeLp4sBo"
      x-notion-request-id:
      - cf1edcf6-9b09-4cde-a555-58ffe3657eb0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a800baf3-3be7-468b-95f0-25e77986e952
  response:
    content: '{"object":"block","id":"a800baf3-3be7-468b-95f0-25e77986e952","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:51:00.000Z","last_edited_time":"2024-05-23T10:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"request_id":"4ffad380-f196-495e-a4f9-31c74c5369c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-+RmPWNdZDFH1SUQBkQwIIcVgEfc"
      x-notion-request-id:
      - 4ffad380-f196-495e-a4f9-31c74c5369c2
    status_code: 200
version: 1
