interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"30fd7b40-8cb7-4d3e-98b1-3ec8f372e9fd","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:03:00.823+00:00","last_edited_time":"2026-06-24T16:03:00.823+00:00","data_sources":[{"id":"eff6e6bf-b791-45a0-8e28-f920a3803faf","name":"Articles"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/30fd7b408cb74d3e98b13ec8f372e9fd","public_url":null,"archived":false,"request_id":"62880e93-ee47-41e1-82cc-75a9570b9a93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 62880e93-ee47-41e1-82cc-75a9570b9a93
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/eff6e6bf-b791-45a0-8e28-f920a3803faf
  response:
    content: '{"object":"data_source","id":"eff6e6bf-b791-45a0-8e28-f920a3803faf","cover":null,"icon":null,"created_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:03:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"N%7D%7B%5E","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"ojVF","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"30fd7b40-8cb7-4d3e-98b1-3ec8f372e9fd"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/30fd7b408cb74d3e98b13ec8f372e9fd","public_url":null,"in_trash":false,"archived":false,"request_id":"eb759132-a789-4c99-8806-21f164626f5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb759132-a789-4c99-8806-21f164626f5d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/30fd7b40-8cb7-4d3e-98b1-3ec8f372e9fd
  response:
    content: '{"object":"block","id":"30fd7b40-8cb7-4d3e-98b1-3ec8f372e9fd","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:03:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"6e28702d-3347-48ab-987e-0a56813dfe69"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e28702d-3347-48ab-987e-0a56813dfe69
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:03:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"0d68dc94-3cc3-4ae9-9ed1-8b29030330fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0d68dc94-3cc3-4ae9-9ed1-8b29030330fe
    status_code: 200
version: 1
