interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7e83bd79-c9d9-44d2-9d44-bd2c5a1bbc6a","cover":null,"icon":null,"created_time":"2024-08-02T20:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:46:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"ijXI","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/7e83bd79c9d944d29d44bd2c5a1bbc6a","public_url":null,"archived":false,"in_trash":false,"request_id":"811a96a7-fa4c-4d56-a315-59eadfd3b14d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 811a96a7-fa4c-4d56-a315-59eadfd3b14d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/7e83bd79-c9d9-44d2-9d44-bd2c5a1bbc6a
  response:
    content: '{"object":"database","id":"7e83bd79-c9d9-44d2-9d44-bd2c5a1bbc6a","cover":null,"icon":null,"created_time":"2024-08-02T20:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:46:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"ijXI","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/7e83bd79c9d944d29d44bd2c5a1bbc6a","public_url":null,"archived":false,"in_trash":false,"request_id":"ff88c27a-362a-4638-aef6-280f290b7024"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff88c27a-362a-4638-aef6-280f290b7024
    status_code: 200
version: 1
