interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Articles", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Articles"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Cost": {"type": "number",
      "number": {"format": "dollar"}}, "Description": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b28de79a-01a8-47f9-983b-6b41a41bfef3","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:24:48.018+00:00","last_edited_time":"2026-06-24T16:24:48.018+00:00","data_sources":[{"id":"2ea494a6-a064-406a-9a1e-3e097aed8108","name":"Articles"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/b28de79a01a847f9983b6b41a41bfef3","public_url":null,"archived":false,"request_id":"b9748b25-f413-446b-bdf2-7d9b7b4c6ae8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b9748b25-f413-446b-bdf2-7d9b7b4c6ae8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/2ea494a6-a064-406a-9a1e-3e097aed8108
  response:
    content: '{"object":"data_source","id":"2ea494a6-a064-406a-9a1e-3e097aed8108","cover":null,"icon":null,"created_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:24:00.000Z","title":[{"type":"text","text":{"content":"Articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Articles","href":null}],"description":[],"is_inline":false,"properties":{"Cost":{"id":"FXfq","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"lnWy","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"b28de79a-01a8-47f9-983b-6b41a41bfef3"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/b28de79a01a847f9983b6b41a41bfef3","public_url":null,"in_trash":false,"archived":false,"request_id":"eecb9137-1e6f-4a04-8a68-321c0bef9ea6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eecb9137-1e6f-4a04-8a68-321c0bef9ea6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b28de79a-01a8-47f9-983b-6b41a41bfef3
  response:
    content: '{"object":"block","id":"b28de79a-01a8-47f9-983b-6b41a41bfef3","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:24:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Articles"},"archived":true,"request_id":"d38e1497-6e38-4949-98ca-37abd2cbd118"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d38e1497-6e38-4949-98ca-37abd2cbd118
    status_code: 200
version: 1
