interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Cost": {"type": "number", "number": {"format": "dollar"}},
      "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25b0d07c-01a9-4c1a-84b9-7951cdfcc7a5","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:25:03.418+00:00","last_edited_time":"2026-06-24T16:25:03.418+00:00","data_sources":[{"id":"22334254-7c16-4c9d-9332-e7b37c338205","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/25b0d07c01a94c1a84b97951cdfcc7a5","public_url":null,"archived":false,"request_id":"ead44cb5-c805-4e11-bf36-902fcada86a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ead44cb5-c805-4e11-bf36-902fcada86a3
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"My articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25b0d07c-01a9-4c1a-84b9-7951cdfcc7a5
  response:
    content: '{"object":"dat[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/22334254-7c16-4c9d-9332-e7b37c338205
  response:
    content: '{"object":"data_source","id":"22334254-7c16-4c9d-9332-e7b37c338205","cover":null,"icon":null,"created_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T16:25:00.000Z","title":[],"description":[{"type":"text","text":{"content":"My
      articles","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      articles","href":null}],"is_inline":false,"properties":{"Cost":{"id":"Ct%3FH","name":"Cost","description":null,"type":"number","number":{"format":"dollar"}},"Description":{"id":"xa%3Fs","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"25b0d07c-01a9-4c1a-84b9-7951cdfcc7a5"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/25b0d07c01a94c1a84b97951cdfcc7a5","public_url":null,"in_trash":false,"archived":false,"request_id":"1038ff30-d8a4-4a73-91d5-ec8c82c9b326"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1038ff30-d8a4-4a73-91d5-ec8c82c9b326
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/25b0d07c-01a9-4c1a-84b9-7951cdfcc7a5
  response:
    content: '{"object":"block","id":"25b0d07c-01a9-4c1a-84b9-7951cdfcc7a5","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"c6c71789-3a37-4d7b-be7c-d4dcac12a81b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c6c71789-3a37-4d7b-be7c-d4dcac12a81b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"a95fd7c9-075b-4336-a168-e833ba141ed0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a95fd7c9-075b-4336-a168-e833ba141ed0
    status_code: 200
version: 1
