interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"313ec586-71df-49bf-8a89-4b344e37ce1a","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:54:06.903+00:00","last_edited_time":"2026-06-27T16:54:06.903+00:00","data_sources":[{"id":"b37e0de5-63a2-44ce-ac22-8ec66ad83b1d","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/313ec58671df49bf8a894b344e37ce1a","public_url":null,"request_id":"fb7a34f2-38d0-462a-b741-8e3deb3e5be3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fb7a34f2-38d0-462a-b741-8e3deb3e5be3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b37e0de5-63a2-44ce-ac22-8ec66ad83b1d
  response:
    content: '{"object":"data_source","id":"b37e0de5-63a2-44ce-ac22-8ec66ad83b1d","cover":null,"icon":null,"created_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:54:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"313ec586-71df-49bf-8a89-4b344e37ce1a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/313ec58671df49bf8a894b344e37ce1a","public_url":null,"in_trash":false,"request_id":"6faa3f84-92c7-414f-b42e-0b341d363a1a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6faa3f84-92c7-414f-b42e-0b341d363a1a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b37e0de5-63a2-44ce-ac22-8ec66ad83b1d
  response:
    content: '{"object":"data_source","id":"b37e0de5-63a2-44ce-ac22-8ec66ad83b1d","cover":null,"icon":null,"created_time":"2026-06-27T16:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:54:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"313ec586-71df-49bf-8a89-4b344e37ce1a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/313ec58671df49bf8a894b344e37ce1a","public_url":null,"in_trash":false,"request_id":"8444024c-c021-4c6c-8096-84217938e40b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8444024c-c021-4c6c-8096-84217938e40b
    status_code: 200
version: 1
