interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Items", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Items"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b81ac93e-6107-4c8d-b5b6-a53ba25ad477","title":[{"type":"text","text":{"content":"Items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:55:59.083+00:00","last_edited_time":"2026-06-27T16:55:59.083+00:00","data_sources":[{"id":"a6b79269-a275-446d-9ff4-86b0219d890e","name":"Items"}],"icon":null,"cover":null,"url":"https://www.notion.so/b81ac93e61074c8db5b6a53ba25ad477","public_url":null,"request_id":"76d81f70-88ff-454d-8245-4d1c51fb921d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 76d81f70-88ff-454d-8245-4d1c51fb921d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a6b79269-a275-446d-9ff4-86b0219d890e
  response:
    content: '{"object":"data_source","id":"a6b79269-a275-446d-9ff4-86b0219d890e","cover":null,"icon":null,"created_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:55:00.000Z","title":[{"type":"text","text":{"content":"Items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Items","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"b81ac93e-6107-4c8d-b5b6-a53ba25ad477"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/b81ac93e61074c8db5b6a53ba25ad477","public_url":null,"in_trash":false,"request_id":"a4f5a5db-7ce0-45e5-94dc-6af85f181438"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4f5a5db-7ce0-45e5-94dc-6af85f181438
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/b81ac93e-6107-4c8d-b5b6-a53ba25ad477
  response:
    content: '{"object":"database","id":"b81ac93e-6107-4c8d-b5b6-a53ba25ad477","title":[{"type":"text","text":{"content":"Items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:55:59.083+00:00","last_edited_time":"2026-06-27T16:55:59.083+00:00","data_sources":[{"id":"a6b79269-a275-446d-9ff4-86b0219d890e","name":"Items"}],"icon":null,"cover":null,"url":"https://www.notion.so/b81ac93e61074c8db5b6a53ba25ad477","public_url":null,"request_id":"a06fce7f-9511-439e-97b0-7e7bc30eefc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a06fce7f-9511-439e-97b0-7e7bc30eefc7
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "b81ac93e-6107-4c8d-b5b6-a53ba25ad477"},
      "properties": {"Name": {"type": "title", "title": {}}}, "title": [{"type": "text",
      "plain_text": "People", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "People"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
 [...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b81ac93e-6107-4c8d-b5b6-a53ba25ad477
  response:
    content: '{"object":"block","id":"b81ac93e-6107-4c8d-b5b6-a53ba25ad477","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:55:00.000Z","last_edited_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Items"},"request_id":"c83e74f0-5b56-48f3-a768-f57f0b51fe7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c83e74f0-5b56-48f3-a768-f57f0b51fe7e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"b0bc4c13-f7f2-48b7-8e4f-828aa8c8bff3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b0bc4c13-f7f2-48b7-8e4f-828aa8c8bff3
    status_code: 200
version: 1
