interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Mention blocks Test", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Mention blocks
      Test"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81a5-ac6e-c971662921a2","created_time":"2026-06-24T18:51:00.000Z","last_edited_time":"2026-06-24T18:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Mention
      blocks Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Mention
      blocks Test","href":null}]}},"url":"https://app.notion.com/p/Mention-blocks-Test-3899ce7b60a481a5ac6ec971662921a2","public_url":null,"archived":false,"request_id":"14c7f205-be79-4ec3-80e0-c1bd9e000b2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 14c7f205-be79-4ec3-80e0-c1bd9e000b2c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"ba737d14-f705-4e35-9b22-0d0cce9c5558"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba737d14-f705-4e35-9b22-0d0cce9c5558
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81a5-ac6e-c971662921a2/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5bfad38b-5fd1-4557-86a7-49c561c4d454"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5bfad38b-5fd1-4557-86a7-49c561c4d454
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"@Adam
      Dangoor","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"mention":{"type":"user","user":{"id":"00000000-0000-4000-8000-0000000000fa","object":"user"}}},{"type":"text","plain_text":"
      : ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"
      : "}},{"type":"mention","plain_text":"Markdown Text Test","href":"https://app.notion.com/p/Markdown-Text-Test-00000000000040008000000000000003","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000003"}}},{"type":"text","plain_text":"
      : ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"
      : "}},{"type":"mention","plain_text":"All Properties DB","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"mention":{"type":"database","database":{"id":"3839ce7b-60a4-80a8-923e-e9dab45b2641"}}},{"type":"text","plain_text":"
      : ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"
      : "}},{"type":"mention","plain_text":"@2022-01-01 00:00:00","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"mention":{"type":"date","date":{"start":"2022-01-01T00:00:00","time_zone":"UTC"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81a5-ac6e-c971662921a2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8105-8bce-fdd1e7179c61","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81a5-ac6e-c971662921a2"},"created_time":"2026-06-24T18:51:00.000Z","last_edited_time":"2026-06-24T18:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Adam
      Dangoor","href":null},{"type":"text","text":{"content":" : ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"
      : ","href":null},{"type":"mention","mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000003"}},"annotat[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/3839ce7b-60a4-80a8-923e-e9dab45b2641
  response:
    content: '{"object":"database","id":"00000000-0000-4000-8000-000000000009","title":[{"type":"text","text":{"content":"All
      Properties DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Properties DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-18T16:50:42.289+00:00","last_edited_time":"2026-06-18T17:11:54.388+00:00","data_sources":[{"id":"3839ce7b-60a4-802c-b152-000ba814957b","name":"All
      Properties DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/00000000000040008000000000000009","public_url":null,"archived":false,"request_id":"543ad091-c07f-44d9-9e16-cfdc0a0ccab6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 543ad091-c07f-44d9-9e16-cfdc0a0ccab6
    status_code: 200
version: 1
