interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "RichText Test", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "RichText Test"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-810a-a981-d1600ea4a6a2","created_time":"2024-10-14T16:50:00.000Z","last_edited_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"RichText
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"RichText
      Test","href":null}]}},"url":"https://www.notion.so/RichText-Test-11f974f3b388810aa981d1600ea4a6a2","public_url":null,"request_id":"9a99b584-b302-4626-aad3-f399a2b5224d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a99b584-b302-4626-aad3-f399a2b5224d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-810a-a981-d1600ea4a6a2/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"51e05b71-8e0b-4067-a227-518cfcf498a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 51e05b71-8e0b-4067-a227-518cfcf498a1
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is an equation: ", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "blue"}, "text": {"content": "This is an equation: "}}, {"type": "equation",
      "plain_text": "E=mc^2", "annotations": {"bold": true, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "equation": {"expression":
      "E=mc^2"}}, {"type": "text", "plain_text": " and this is a mention: ", "href":
      "https://ultimate-notion.com", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": " and this is a mention: ", "link": {"type": "url", "url":
      "https://ultimate-notion.com"}}}, {"type": "mention", "plain_text": "Florian
      Wilhelm", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "mention": {"type":
      "user", "user": {"type": "person", "object": "user", "id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "name": "Florian Wilhelm", "avatar_url": "https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100",
      "person": {"email": "florian.wilhelm@gmail.com"}}}}], "children": [], "color":
      "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-810a-a981-d1600ea4a6a2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81d6-a756-ffa27d8b3712","parent":{"type":"page_id","page_id":"11f974f3-b388-810a-[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-810a-a981-d1600ea4a6a2
  response:
    content: '{"object":"page","id":"11f974f3-b388-810a-a981-d1600ea4a6a2","created_time":"2024-10-14T16:50:00.000Z","last_edited_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"RichText
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"RichText
      Test","href":null}]}},"url":"https://www.notion.so/RichText-Test-11f974f3b388810aa981d1600ea4a6a2","public_url":null,"request_id":"31c6d52c-07d0-4338-9d86-6d310dea394c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31c6d52c-07d0-4338-9d86-6d310dea394c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"6ca209ff-1780-40a4-8f30-e648bbf0e710"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ca209ff-1780-40a4-8f30-e648bbf0e710
    status_code: 200
[...]
