interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null,"[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My task list"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Task": {"type": "title", "title": {}}, "Status": {"type": "select",
      "select": {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress",
      "color": "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Done", "color":
      "green"}]}}, "Priority": {"type": "select", "select": {"options": [{"name":
      "\u2739 High", "color": "red"}, {"name": "\u2737 Medium", "color": "yellow"},
      {"name": "\u2736 Low", "color": "gray"}]}}, "Urgency": {"type": "formula", "formula":
      {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\", (if(empty(prop(\"Due
      Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due Date\"),
      \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"), \"\ud83d\udd25
      \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\"))) < 0), \"-\", [...]
- request:
    body: '{"description":[{"type":"text","plain_text":"My personal task list of all
      the important stuff I have to do","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      personal task list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d4ed2d55-5518-4d52-987a-14052cc13770
  response:
    content: '{"object":"database","id":"d4ed2d55-5518-4d52-987a-14052cc13770","title":[{"type":"text","text":{"content":"My
      task list","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      task list","href":null}],"description":[{"type":"text","text":{"content":"My
      personal task list of all the important stuff I have to do","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      personal task list of all the important stuff I have to do","href":null}],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:55:04.233+00:00","last_edited_time":"2026-06-27T05:55:04.233+00:00","data_sources":[{"id":"9e54475a-c192-4cd0-85a8-562bd4808e67","name":"My
      task list"}],"icon":null,"cover":null,"url":"https://www.notion.so/d4ed2d5555184d52987a14052cc13770","public_url":null,"archived":false,"request_id":"8d0d4396-7cef-4f10-8073-178ade14515c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8d0d4396-7cef-4f10-8073-178ade14515c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/9e54475a-c192-4cd0-85a8-562bd4808e67
  response:
    content: "{\"object\":\"data_source\",\"id\":\"9e54475a-c192-4cd0-85a8-562bd4808e67\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T05:55:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\"[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "9e54475a-c192-4cd0-85a8-562bd4808e67"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Plan vacation"}}]},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}},
      "Due Date": {"type": "date", "date": {"start": "2026-07-21T07:55:01.438699",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-81a6-9a44-c14aa9c2c060\",\"created_time\":\"2026-06-27T05:55:00.000Z\",\"last_edited_time\":\"2026-06-27T05:55:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"9e54475a-c192-4cd0-85a8-562bd4808e67\",\"database_id\":\"d4ed2d55-5518-4d52-987a-14052cc13770\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Status\":{\"id\":\"%3DfZ%3B\",\"type\":\"select\",\"select\":{\"id\":\"b96060c5-6ef1-4138-8a68-804e77cff556\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Due
      Date\":{\"id\":\"%40~%7D%7B\",\"type\":\"date\",\"date\":{\"start\":\"2026-07-21T07:55:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Priority\":{\"id\":\"oKXA\",\"type\":\"select\",\"select\":{\"id\":\"ac4f0244-f2c8-49f8-9bd2-4cf596f910ab\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"%7DcD%3B\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-38c9ce7b60a481a69a44c14aa9c2c060\",\"public_url\":null,\"archived\":false,\"request_id\":\"c58ac2ad-2b86-4b1e-89d8-5b41ed5a4874\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c58ac2ad-2b86-4b1e-89d8-5b41ed5a4874
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/9e54475a-c192-4cd0-85a8-562bd4808e67/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-81be-a0f0-eee012cf3969\",\"created_time\":\"2026-06-27T05:55:00.000Z\",\"last_edited_time\":\"2026-06-27T0[...]
