interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:40:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000004","created_time":"2026-06-25T10:46:00.000Z","last_edited_time":"2026-06-25T10:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-00000000000040008000000000000004","public_url":null,"archived":false[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My task list"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Status": {"type": "select", "select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}}, "Priority":
      {"type": "select", "select": {"options": [{"name": "\u2739 High", "color": "red"},
      {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736 Low", "color":
      "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression": "if(prop(\"Status\")
      == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(),
      \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")), \"\ud83d\udd39 Today\",
      (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))),
      \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description":[{"type":"text","plain_text":"My personal task list of all
      the important stuff I have to do","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      personal task list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8194-8b88-e39277d8cb56"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Plan vacation"}}]},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}},
      "Due Date": {"type": "date", "date": {"start": "2026-07-19T16:40:29.354260",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"38a9ce7b-60a4-817e-82dc-e321a946712b\",\"created_time\":\"2026-06-25T14:40:00.000Z\",\"last_edited_time\":\"2026-06-25T14:40:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"38a9ce7b-60a4-8194-8b88-e39277d8cb56\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"IW%7Cy\",\"type\":\"select\",\"select\":{\"id\":\"98bc6209-151e-4c2f-a668-3ae02806f174\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Status\":{\"id\":\"T%3Eq%5C\",\"type\":\"select\",\"select\":{\"id\":\"ba28e61c-3849-4d3b-b053-da6d39abb210\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Urgency\":{\"id\":\"vj%3CP\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Due Date\":{\"id\":\"zE%7CP\",\"type\":\"date\",\"date\":{\"start\":\"2026-07-19T16:40:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-38a9ce7b60a4817e82dce321a946712b\",\"public_url\":null,\"archived\":false,\"request_id\":\"f8e9f10d-41a2-44b7-98f9-6c7cc5b22562\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8e9f10d-41a2-44b7-98f9-6c7cc5b22562
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8194-8b88-e39277d8cb56/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"38a9ce7b-60a4-815b-955c-d90d157c9a61\",\"created_time\":\"2026-06-25T14:40:00.000Z\",\"last_edited_time\":\"2026-06-25T14:4[...]
