interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ef4e5678-2896-4acc-ba5a-74d799cc6d0b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ef4e5678-2896-4acc-ba5a-74d799cc6d0b
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "My task list"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}},
      "Priority": {"type": "select", "select": {"options": [{"name": "\u2739 High",
      "color": "red"}, {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736
      Low", "color": "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression":
      "if(prop(\"Status\") == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")),
      \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")),
      \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" +
      if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description": [{"type": "text", "plain_text": "My personal task list
      of all the important stuff I have to do", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My personal task list of all the important stuff I have
      to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
   [...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "4e80b7f8-a440-444a-acac-bff1f81609b6"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Plan vacation"}}]}, "Due Date": {"type": "date", "date": {"start": "2024-08-26T22:48:19.264726+02:00"}},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"6abc7526-a5f6-45a6-8e51-aeb93fbdf08c\",\"created_time\":\"2024-08-02T20:48:00.000Z\",\"last_edited_time\":\"2024-08-02T20:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"4e80b7f8-a440-444a-acac-bff1f81609b6\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Urgency\":{\"id\":\"%3B%3A~%7D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Due Date\":{\"id\":\"C%3FGT\",\"type\":\"date\",\"date\":{\"start\":\"2024-08-26T22:48:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ckpX\",\"type\":\"select\",\"select\":{\"id\":\"9a3c844d-189d-4d22-8b39-498467ff8bc5\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Priority\":{\"id\":\"ck%7Bq\",\"type\":\"select\",\"select\":{\"id\":\"3b95638c-3557-47ad-b13b-c787bd00f493\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-6abc7526a5f645a68e51aeb93fbdf08c\",\"public_url\":null,\"request_id\":\"47a71da2-df67-4151-8ed4-f8d6eb5f5ae3\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 47a71da2-df67-4151-8ed4-f8d6eb5f5ae3
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4e80b7f8-a440-444a-acac-bff1f81609b6/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"173656d2-1f9e-447f-9679-a83220cf621f\",\"created_time\":\"2024-08-02T20:48:00.000Z\",\"last_edited_time\":\"2024-08-02T20:4[...]
