interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-01-23T16:00:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0d6aa63e-7fc8-4e02-8ef8-bcee5277542f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "My task list", "text": {"content": "My
      task list"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Status": {"select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color": "red"},
      {"name": "Done", "color": "green"}]}, "type": "select"}, "Priority": {"select":
      {"options": [{"name": "\u2739 High", "color": "red"}, {"name": "\u2737 Medium",
      "color": "yellow"}, {"name": "\u2736 Low", "color": "gray"}]}, "type": "select"},
      "Urgency": {"formula": {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\",
      (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due
      Date\"), \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"),
      \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))
      < 0), \[...]
- request:
    body: '{"description": [{"plain_text": "My personal task list of all the important
      stuff I have to do", "text": {"content": "My personal task list of all the important
      stuff I have to do"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/afe737fc-9c0c-4dd7-9dff-078999b9fa8b
  response:
    content: "{\"object\":\"database\",\"id\":\"afe737fc-9c0c-4dd7-9dff-078999b9fa8b\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-01-23T16:00:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-01-23T16:00:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"AAzm\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"aefeb46f-cffe-4458-934d-c8d02b216490\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"49729076-0cb0-42a7-b653-304fc30bcf08\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"e56e2bf8-f3cb-45b2-825b-5014933a938a\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"58aff2e0-cde1-467e-a2d2-eeb05b4c81be\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"Jcwd\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Priority\":{\"id\":\"%5CR%3AL\",\"name\":\"Priority\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"50c8c5cf-c028-4eec-bfa7-a9d954b3bd6a\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"77f45547-58a0-4c97-9f65-d877faee28d0\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"4a0af565-abd7-477b-8cb3-24b180942cec\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Urgency\":{\"id\":\"hnQw\[...]
- request:
    body: '{"parent": {"database_id": "afe737fc-9c0c-4dd7-9dff-078999b9fa8b", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Plan vacation",
      "text": {"content": "Plan vacation"}, "type": "text"}], "type": "title"}, "Due
      Date": {"date": {"start": "2024-02-16T17:00:54.766123+01:00"}, "type": "date"},
      "Status": {"select": {"name": "Backlog", "color": "gray"}, "type": "select"},
      "Priority": {"select": {"name": "\u2739 High", "color": "red"}, "type": "select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"53c1a060-97e6-44ed-89ec-c6f06bb1fa36\",\"created_time\":\"2024-01-23T16:00:00.000Z\",\"last_edited_time\":\"2024-01-23T16:00:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"afe737fc-9c0c-4dd7-9dff-078999b9fa8b\"},\"archived\":false,\"properties\":{\"Status\":{\"id\":\"AAzm\",\"type\":\"select\",\"select\":{\"id\":\"aefeb46f-cffe-4458-934d-c8d02b216490\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Due
      Date\":{\"id\":\"Jcwd\",\"type\":\"date\",\"date\":{\"start\":\"2024-02-16T17:00:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Priority\":{\"id\":\"%5CR%3AL\",\"type\":\"select\",\"select\":{\"id\":\"50c8c5cf-c028-4eec-bfa7-a9d954b3bd6a\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"hnQw\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-53c1a06097e644ed89ecc6f06bb1fa36\",\"public_url\":null,\"request_id\":\"59e80733-3a97-42a8-b5b7-bfde18019e3e\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/afe737fc-9c0c-4dd7-9dff-078999b9fa8b/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"60c22cf1-3cfb-49f6-810c-240488572b45\",\"created_time\":\"2024-01-23T16:01:00.000Z\",\"last_edited_time\":\"2024-01-23T16:0[...]
