interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:16:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"276974f3-b388-814c-a5c7-f09dcdbf20cf","created_time":"2025-09-22T09:10:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max nesting level","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max nesting level","href":null}]}},"url":"https://www.notion.so/Page-for-testing-max-nesting-level-276974f3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My task list"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Status": {"type": "select", "select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}}, "Priority":
      {"type": "select", "select": {"options": [{"name": "\u2739 High", "color": "red"},
      {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736 Low", "color":
      "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression": "if(prop(\"Status\")
      == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(),
      \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")), \"\ud83d\udd39 Today\",
      (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))),
      \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description":[{"type":"text","plain_text":"My personal task list of all
      the important stuff I have to do","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      personal task list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-8160-a084-ee609a1b427d"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Plan vacation"}}]},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}},
      "Due Date": {"type": "date", "date": {"start": "2025-10-16T11:16:32.256347",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"276974f3-b388-8180-80c6-ec339971cfa5\",\"created_time\":\"2025-09-22T09:16:00.000Z\",\"last_edited_time\":\"2025-09-22T09:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"276974f3-b388-8160-a084-ee609a1b427d\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Status\":{\"id\":\"%3FF_q\",\"type\":\"select\",\"select\":{\"id\":\"97bb86f3-1047-4010-9d6a-72e2dddeab3d\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Priority\":{\"id\":\"LLFo\",\"type\":\"select\",\"select\":{\"id\":\"e7dc83ef-3ee5-4b44-b225-1ba42b1bc7f9\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Due Date\":{\"id\":\"UAKX\",\"type\":\"date\",\"date\":{\"start\":\"2025-10-16T11:16:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Urgency\":{\"id\":\"hl~J\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-276974f3b388818080c6ec339971cfa5\",\"public_url\":null,\"request_id\":\"30251536-d681-4c20-be82-1e5dd4b81d76\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30251536-d681-4c20-be82-1e5dd4b81d76
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8160-a084-ee609a1b427d/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"276974f3-b388-811a-99a2-c51aea4af331\",\"created_time\":\"2025-09-22T09:16:00.000Z\",\"last_edited_time\":\"2025-09-22T09:1[...]
