interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null},[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My task list"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Task": {"type": "title", "title": {}}, "Status": {"type": "select",
      "select": {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress",
      "color": "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Done", "color":
      "green"}]}}, "Priority": {"type": "select", "select": {"options": [{"name":
      "\u2739 High", "color": "red"}, {"name": "\u2737 Medium", "color": "yellow"},
      {"name": "\u2736 Low", "color": "gray"}]}}, "Urgency": {"type": "formula", "formula":
      {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\", (if(empty(prop(\"Due
      Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due Date\"),
      \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"), \"\ud83d\udd25
      \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\"))) < 0), \"-\", [...]
- request:
    body: '{"description":[{"type":"text","plain_text":"My personal task list of all
      the important stuff I have to do","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      personal task list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/2f114c27-6954-4f18-b33f-918345579e67
  response:
    content: '{"object":"database","id":"2f114c27-6954-4f18-b33f-918345579e67","title":[{"type":"text","text":{"content":"My
      task list","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      task list","href":null}],"description":[{"type":"text","text":{"content":"My
      personal task list of all the important stuff I have to do","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      personal task list of all the important stuff I have to do","href":null}],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:58:07.329+00:00","last_edited_time":"2026-06-27T16:58:07.329+00:00","data_sources":[{"id":"8fa2abc3-f6d8-42fc-a41c-1f9c61f7d1ba","name":"My
      task list"}],"icon":null,"cover":null,"url":"https://www.notion.so/2f114c2769544f18b33f918345579e67","public_url":null,"request_id":"a1b8f0a4-53a8-4fd0-83b7-79850cff9d3c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1b8f0a4-53a8-4fd0-83b7-79850cff9d3c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/8fa2abc3-f6d8-42fc-a41c-1f9c61f7d1ba
  response:
    content: "{\"object\":\"data_source\",\"id\":\"8fa2abc3-f6d8-42fc-a41c-1f9c61f7d1ba\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T16:58:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\"[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "8fa2abc3-f6d8-42fc-a41c-1f9c61f7d1ba"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Plan vacation"}}]},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}},
      "Due Date": {"type": "date", "date": {"start": "2026-07-21T18:58:04.659200",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-81f5-9dad-f3296ecec92c\",\"created_time\":\"2026-06-27T16:58:00.000Z\",\"last_edited_time\":\"2026-06-27T16:58:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"8fa2abc3-f6d8-42fc-a41c-1f9c61f7d1ba\",\"database_id\":\"2f114c27-6954-4f18-b33f-918345579e67\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"V%7CJr\",\"type\":\"select\",\"select\":{\"id\":\"9ab9c0d0-61fd-4fdf-be9e-8eec16491e14\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Status\":{\"id\":\"%5Cn%7DH\",\"type\":\"select\",\"select\":{\"id\":\"7be2c8d3-9cb7-42d9-bcb2-48c58d850f13\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Due
      Date\":{\"id\":\"cWX%40\",\"type\":\"date\",\"date\":{\"start\":\"2026-07-21T18:58:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Urgency\":{\"id\":\"fcA_\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-38c9ce7b60a481f59dadf3296ecec92c\",\"public_url\":null,\"request_id\":\"acaf3d8c-b37a-4923-b277-1d48c2d76b08\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - acaf3d8c-b37a-4923-b277-1d48c2d76b08
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/8fa2abc3-f6d8-42fc-a41c-1f9c61f7d1ba/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-8161-93a3-dd96bb6374fd\",\"created_time\":\"2026-06-27T16:58:00.000Z\",\"last_edited_time\":\"2026-06-27T1[...]
