interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"172974f3-b388-808a-8f5b-dfad56f3326c","created_time":"2025-01-05T11:34:00.000Z","last_edited_time":"2025-06-10T17:35:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"All
      Blocks Page Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Blocks Page Test","href":null}]}},"url":"https://www.notion.so/All-Blocks-Page-Test-172974f3b388808a8f5bdfad56f3326c","public_url":null},{"object":"page[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "My task list"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}},
      "Priority": {"type": "select", "select": {"options": [{"name": "\u2739 High",
      "color": "red"}, {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736
      Low", "color": "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression":
      "if(prop(\"Status\") == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")),
      \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")),
      \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" +
      if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description": [{"type": "text", "plain_text": "My personal task list
      of all the important stuff I have to do", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My personal task list of all the important stuff I have
      to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
   [...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8161-9b51-fe420a5faf36"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Plan vacation"}}]}, "Status": {"type": "select", "select": {"name": "Backlog",
      "color": "gray"}}, "Priority": {"type": "select", "select": {"name": "\u2739
      High", "color": "red"}}, "Due Date": {"type": "date", "date": {"start": "2025-07-04T19:49:47.137871",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"20e974f3-b388-8174-9414-d3bb2f559806\",\"created_time\":\"2025-06-10T17:49:00.000Z\",\"last_edited_time\":\"2025-06-10T17:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"20e974f3-b388-8161-9b51-fe420a5faf36\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Due
      Date\":{\"id\":\"ADoH\",\"type\":\"date\",\"date\":{\"start\":\"2025-07-04T19:49:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Priority\":{\"id\":\"Prpy\",\"type\":\"select\",\"select\":{\"id\":\"9450f642-b84f-47cc-8303-34c3040beeb1\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Status\":{\"id\":\"QXxh\",\"type\":\"select\",\"select\":{\"id\":\"864a9721-266f-4b3f-8242-41f5ecfd8a81\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Urgency\":{\"id\":\"dwr%7B\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-20e974f3b38881749414d3bb2f559806\",\"public_url\":null,\"request_id\":\"6de5ed8c-88d4-4e0f-8cd1-b1aa8b287955\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6de5ed8c-88d4-4e0f-8cd1-b1aa8b287955
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8161-9b51-fe420a5faf36/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"20e974f3-b388-816e-9473-cbfea35970a8\",\"created_time\":\"2025-06-10T17:49:00.000Z\",\"last_edited_time\":\"2025-06-10T17:4[...]
