interactions:
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000002","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-00000000000040008000000000000002","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"449676a7-48fb-4963-99c4-163257dceb8e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 449676a7-48fb-4963-99c4-163257dceb8e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"5b87ce57-63ea-4ece-8013-3d2a5f020387"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5b87ce57-63ea-4ece-8013-3d2a5f020387
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000002/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3839ce7b-60a4-81b9-bf08-e2ffe9c45dd7","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"3839ce7b-60a4-814c-bcae-de517303167d","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Ultimate Notion test workspace.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Welcome
      to the Ultimate Notion test workspace.","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b42558a3-96f6-46c4-ab8a-ebbb54dbda03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b42558a3-96f6-46c4-ab8a-ebbb54dbda03
    status_code: 200
[...]
