interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T10:01:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"277974f3-b388-8106-baad-ff20bb9170e3","created_time":"2025-09-23T09:54:00.000Z","last_edited_time":"2025-09-23T09:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max nesting level","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max nesting level","href":null}]}},"url":"https://www.notion.so/Page-for-testing-max-nesting-level-277974f3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My task list"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Status": {"type": "select", "select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}}, "Priority":
      {"type": "select", "select": {"options": [{"name": "\u2739 High", "color": "red"},
      {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736 Low", "color":
      "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression": "if(prop(\"Status\")
      == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(),
      \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")), \"\ud83d\udd39 Today\",
      (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))),
      \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description":[{"type":"text","plain_text":"My personal task list of all
      the important stuff I have to do","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      personal task list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81a8-9e87-d2e76845b71c"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Plan vacation"}}]},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}},
      "Due Date": {"type": "date", "date": {"start": "2025-10-17T12:01:49.264661",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"277974f3-b388-81ed-94d7-eab2c131da75\",\"created_time\":\"2025-09-23T10:01:00.000Z\",\"last_edited_time\":\"2025-09-23T10:01:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"277974f3-b388-81a8-9e87-d2e76845b71c\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"%3AVTl\",\"type\":\"select\",\"select\":{\"id\":\"c6d86e4d-8a75-4001-b720-44653d7f68c9\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Due Date\":{\"id\":\"CmpQ\",\"type\":\"date\",\"date\":{\"start\":\"2025-10-17T12:01:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"aNwb\",\"type\":\"select\",\"select\":{\"id\":\"f10b023b-3f2a-4640-bc43-138a00a04019\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Urgency\":{\"id\":\"sMqm\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-277974f3b38881ed94d7eab2c131da75\",\"public_url\":null,\"request_id\":\"9a75b1f0-b617-40c2-8072-208fbd69d026\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a75b1f0-b617-40c2-8072-208fbd69d026
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81a8-9e87-d2e76845b71c/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"277974f3-b388-817f-9389-d6a9c9d7bc15\",\"created_time\":\"2025-09-23T10:01:00.000Z\",\"last_edited_time\":\"2025-09-23T10:0[...]
