interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"737a0ede-c972-4028-8deb-11c86edbdf91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "My task list", "text": {"content": "My
      task list"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Status": {"select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color": "red"},
      {"name": "Done", "color": "green"}]}, "type": "select"}, "Priority": {"select":
      {"options": [{"name": "\u2739 High", "color": "red"}, {"name": "\u2737 Medium",
      "color": "yellow"}, {"name": "\u2736 Low", "color": "gray"}]}, "type": "select"},
      "Urgency": {"formula": {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\",
      (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due
      Date\"), \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"),
      \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))
      < 0), \[...]
- request:
    body: '{"description": [{"plain_text": "My personal task list of all the important
      stuff I have to do", "text": {"content": "My personal task list of all the important
      stuff I have to do"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d1da4420-917b-4478-b0ba-ef088b73d11e
  response:
    content: "{\"object\":\"database\",\"id\":\"d1da4420-917b-4478-b0ba-ef088b73d11e\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:38:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-02-14T17:38:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"M%5Dz%3E\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"83433813-8393-4936-9b69-88d8a68c7065\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"fc7d42ae-a252-4235-9139-69cb3eaf629c\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"4be90363-1ef6-4a2d-b0a3-682a01e5ed5e\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"53f43abc-de5c-4106-9d75-05839[...]
- request:
    body: '{"parent": {"database_id": "d1da4420-917b-4478-b0ba-ef088b73d11e", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Plan vacation",
      "text": {"content": "Plan vacation"}, "type": "text"}], "type": "title"}, "Due
      Date": {"date": {"start": "2024-03-09T18:38:30.984141+01:00"}, "type": "date"},
      "Status": {"select": {"name": "Backlog", "color": "gray"}, "type": "select"},
      "Priority": {"select": {"name": "\u2739 High", "color": "red"}, "type": "select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"5b200970-af55-4809-85fa-4977937e3a36\",\"created_time\":\"2024-02-14T17:38:00.000Z\",\"last_edited_time\":\"2024-02-14T17:38:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"d1da4420-917b-4478-b0ba-ef088b73d11e\"},\"archived\":false,\"properties\":{\"Status\":{\"id\":\"M%5Dz%3E\",\"type\":\"select\",\"select\":{\"id\":\"83433813-8393-4936-9b69-88d8a68c7065\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Urgency\":{\"id\":\"R%40E%7C\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Priority\":{\"id\":\"VkB%3A\",\"type\":\"select\",\"select\":{\"id\":\"3ff0ba52-9e4a-4794-a886-1c47631cbef0\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Due Date\":{\"id\":\"%5CFxN\",\"type\":\"date\",\"date\":{\"start\":\"2024-03-09T18:38:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-5b200970af55480985fa4977937e3a36\",\"public_url\":null,\"request_id\":\"1332c26d-dddf-44f8-8800-0a9b735309ad\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/d1da4420-917b-4478-b0ba-ef088b73d11e/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"119d916e-1f65-4225-9442-631acfc873fe\",\"created_time\":\"2024-02-14T17:38:00.000Z\",\"last_edited_time\":\"2024-02-14T17:3[...]
