interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-06-01T22:07:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"62f77ab9-fe82-40d5-af4e-1b8fc2e95c58"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-GowVTLZltV57mSdEeqfC+1Gz8rE"
      x-notion-request-id:
      - 62f77ab9-fe82-40d5-af4e-1b8fc2e95c58
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "text": {"content":
      "My task list"}}], "properties": {"Task": {"type": "title", "title": {}}, "Status":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color": "red"},
      {"name": "Done", "color": "green"}]}}, "Priority": {"type": "select", "select":
      {"options": [{"name": "\u2739 High", "color": "red"}, {"name": "\u2737 Medium",
      "color": "yellow"}, {"name": "\u2736 Low", "color": "gray"}]}}, "Urgency": {"type":
      "formula", "formula": {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\",
      (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due
      Date\"), \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"),
      \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))
      < 0), \[...]
- request:
    body: '{"description": [{"type": "text", "plain_text": "My personal task list
      of all the important stuff I have to do", "text": {"content": "My personal task
      list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/00303a70-386c-4e10-b49c-212c9425795e
  response:
    content: "{\"object\":\"database\",\"id\":\"00303a70-386c-4e10-b49c-212c9425795e\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-06-01T22:15:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-06-01T22:15:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"OpDy\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"8e1277d6-838b-4d95-a400-498da4d20d07\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"5dc03f7b-9e6a-47f0-96f6-5bbd1d15c1c5\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"37575c00-b70f-4655-bcdc-d80a59b78f67\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"f30d9461-74c4-4e9e-b74b-1caac1e56702\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"_o%60e\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Priority\":{\"id\":\"hzfr\",\"name\":\"Priority\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"44b4fcae-2a3a-4ce3-b0fb-0c7006cd784f\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"37184d8d-16a4-47a8-bbe2-275f3d213a19\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"99b499f0-9967-473f-9c4c-1b8b9e420b0a\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Urgency\":{\"id\":\"lSIT\",\"[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "00303a70-386c-4e10-b49c-212c9425795e"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "text": {"content": "Plan vacation"}}]}, "Due Date": {"type":
      "date", "date": {"start": "2024-06-26T00:15:56.627853+02:00"}}, "Status": {"type":
      "select", "select": {"name": "Backlog", "color": "gray"}}, "Priority": {"type":
      "select", "select": {"name": "\u2739 High", "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"762d5ae8-a052-4ad4-895a-75f4eb8b5d98\",\"created_time\":\"2024-06-01T22:15:00.000Z\",\"last_edited_time\":\"2024-06-01T22:15:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"00303a70-386c-4e10-b49c-212c9425795e\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Status\":{\"id\":\"OpDy\",\"type\":\"select\",\"select\":{\"id\":\"8e1277d6-838b-4d95-a400-498da4d20d07\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Due
      Date\":{\"id\":\"_o%60e\",\"type\":\"date\",\"date\":{\"start\":\"2024-06-26T00:15:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Priority\":{\"id\":\"hzfr\",\"type\":\"select\",\"select\":{\"id\":\"44b4fcae-2a3a-4ce3-b0fb-0c7006cd784f\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"lSIT\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-762d5ae8a0524ad4895a75f4eb8b5d98\",\"public_url\":null,\"request_id\":\"767c2ce8-d2cc-4f07-9b11-05d6c794dcbe\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"539-vfx5gtwo3wRjTR1VCMWHzYARk+g"
      x-notion-request-id:
      - 767c2ce8-d2cc-4f07-9b11-05d6c794dcbe
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00303a70-386c-4e10-b49c-212c9425795e/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"45e0312b-dd06-4f96-9398-3e548199c3c0\",\"created_time\":\"2024-06-01T22:16:00.000Z\",\"last_edited_time\":\"2024-06-01T22:1[...]
