interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:42:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"29c974f3-b388-8151-b371-ef6dae596a9a","created_time":"2025-10-30T15:37:00.000Z","last_edited_time":"2025-10-30T15:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Long Code Block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Long Code Block","href":null}]}},"url":"https://www.notion.so/Test-Long-Code-Block-29c974f3b3888151b371ef6dae596a9a","public_url":nul[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My task list"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Status": {"type": "select", "select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}}, "Priority":
      {"type": "select", "select": {"options": [{"name": "\u2739 High", "color": "red"},
      {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736 Low", "color":
      "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression": "if(prop(\"Status\")
      == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(),
      \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")), \"\ud83d\udd39 Today\",
      (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))),
      \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description":[{"type":"text","plain_text":"My personal task list of all
      the important stuff I have to do","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      personal task list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8168-bfc6-cae22811b05a"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Plan vacation"}}]},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}},
      "Due Date": {"type": "date", "date": {"start": "2025-11-23T16:42:54.607565",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"29c974f3-b388-81c0-9653-eb5c9f2ca587\",\"created_time\":\"2025-10-30T15:42:00.000Z\",\"last_edited_time\":\"2025-10-30T15:42:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"29c974f3-b388-8168-bfc6-cae22811b05a\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Urgency\":{\"id\":\"G%5DSd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Status\":{\"id\":\"OhoR\",\"type\":\"select\",\"select\":{\"id\":\"b0aaa069-bcdd-4824-b930-9424205fd91f\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Due
      Date\":{\"id\":\"%5EU%7Bt\",\"type\":\"date\",\"date\":{\"start\":\"2025-11-23T16:42:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Priority\":{\"id\":\"eo%40C\",\"type\":\"select\",\"select\":{\"id\":\"4ab532fe-02c6-47e5-98ae-343463e90054\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-29c974f3b38881c09653eb5c9f2ca587\",\"public_url\":null,\"request_id\":\"0f531a64-3125-4e09-9970-a8ab18177800\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0f531a64-3125-4e09-9970-a8ab18177800
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8168-bfc6-cae22811b05a/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"29c974f3-b388-811c-8aaf-f1be7a4ebaf1\",\"created_time\":\"2025-10-30T15:43:00.000Z\",\"last_edited_time\":\"2025-10-30T15:4[...]
