interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:50:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"263974f3-b388-8190-8c75-d54109183571","created_time":"2025-09-03T13:42:00.000Z","last_edited_time":"2025-09-03T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"CLI
      Upload Generic File Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"CLI
      Upload Generic File Test","href":null}]}},"url":"https://www.notion.so/CLI-Upload-Generic-File-Test-263974f3b38881908c75d54109183571","public_ur[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "My task list"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Status": {"type": "select", "select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}}, "Priority":
      {"type": "select", "select": {"options": [{"name": "\u2739 High", "color": "red"},
      {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736 Low", "color":
      "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression": "if(prop(\"Status\")
      == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(),
      \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")), \"\ud83d\udd39 Today\",
      (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))),
      \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description":[{"type":"text","plain_text":"My personal task list of all
      the important stuff I have to do","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      personal task list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81ab-88fd-c4dde89306e7"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Plan vacation"}}]},
      "Status": {"type": "select", "select": {"name": "Backlog", "color": "gray"}},
      "Priority": {"type": "select", "select": {"name": "\u2739 High", "color": "red"}},
      "Due Date": {"type": "date", "date": {"start": "2025-09-27T15:53:42.684896",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"263974f3-b388-8138-b9dc-d931f3a7413b\",\"created_time\":\"2025-09-03T13:53:00.000Z\",\"last_edited_time\":\"2025-09-03T13:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"263974f3-b388-81ab-88fd-c4dde89306e7\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Priority\":{\"id\":\"GFyr\",\"type\":\"select\",\"select\":{\"id\":\"bfec8fa1-cb04-4902-b452-cf6b8daab0fe\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Due Date\":{\"id\":\"LCCA\",\"type\":\"date\",\"date\":{\"start\":\"2025-09-27T15:53:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"QLC%3D\",\"type\":\"select\",\"select\":{\"id\":\"e7ca1706-d9b7-4ff6-a889-635a6112c3c2\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Urgency\":{\"id\":\"S~AT\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-263974f3b3888138b9dcd931f3a7413b\",\"public_url\":null,\"request_id\":\"0daa812d-28c8-45e4-adcb-cd379a1d2f33\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0daa812d-28c8-45e4-adcb-cd379a1d2f33
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81ab-88fd-c4dde89306e7/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"263974f3-b388-81ff-8916-ef040c8fc615\",\"created_time\":\"2025-09-03T13:53:00.000Z\",\"last_edited_time\":\"2025-09-03T13:5[...]
