interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-05-23T10:53:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"66040559-6d56-4dee-9112-85a5f5d8b2e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-rUVsFvNzCyDbvNDh84Rizj4ec+8"
      x-notion-request-id:
      - 66040559-6d56-4dee-9112-85a5f5d8b2e0
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "text": {"content":
      "My task list"}}], "properties": {"Task": {"type": "title", "title": {}}, "Status":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color": "red"},
      {"name": "Done", "color": "green"}]}}, "Priority": {"type": "select", "select":
      {"options": [{"name": "\u2739 High", "color": "red"}, {"name": "\u2737 Medium",
      "color": "yellow"}, {"name": "\u2736 Low", "color": "gray"}]}}, "Urgency": {"type":
      "formula", "formula": {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\",
      (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due
      Date\"), \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"),
      \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))
      < 0), \[...]
- request:
    body: '{"description": [{"type": "text", "plain_text": "My personal task list
      of all the important stuff I have to do", "text": {"content": "My personal task
      list of all the important stuff I have to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/fe409806-a07e-4a8c-9350-2b98e025bbe9
  response:
    content: "{\"object\":\"database\",\"id\":\"fe409806-a07e-4a8c-9350-2b98e025bbe9\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-05-23T10:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-05-23T10:53:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Priority\":{\"id\":\"%3B_lF\",\"name\":\"Priority\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"1a83975b-e8b2-406b-9fa4-6d39a62a75c4\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"84514246-ca4a-4e08-a8f7-44c87cac98eb\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"cd1540d7-2c16-4371-adee-82de7fd01ea1\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Status\":{\"id\":\"Bx%3A~\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"1146624a-0784-4d7c-9d9b-df5d3d103ae1\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"4a4f7c8a-76fe-4870-a68e-e8cec550380b\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"c4a3fd19-1fd7-4386-b3c0-472409e7bea0\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"156d5d14-c241-42c8-9627-14a1fba6852b\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"ksmJ\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Urgency\":{\"id\":\"vujw\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:Bx%3A~:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:ksmJ:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:ksmJ:00000000-0000-0000-0000-000000000000:[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "fe409806-a07e-4a8c-9350-2b98e025bbe9"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "text": {"content": "Plan vacation"}}]}, "Due Date": {"type":
      "date", "date": {"start": "2024-06-16T12:53:38.086046+02:00"}}, "Status": {"type":
      "select", "select": {"name": "Backlog", "color": "gray"}}, "Priority": {"type":
      "select", "select": {"name": "\u2739 High", "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"b72e61a5-af62-47bc-a54d-ec04d50cdd8e\",\"created_time\":\"2024-05-23T10:53:00.000Z\",\"last_edited_time\":\"2024-05-23T10:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"fe409806-a07e-4a8c-9350-2b98e025bbe9\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Priority\":{\"id\":\"%3B_lF\",\"type\":\"select\",\"select\":{\"id\":\"1a83975b-e8b2-406b-9fa4-6d39a62a75c4\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Status\":{\"id\":\"Bx%3A~\",\"type\":\"select\",\"select\":{\"id\":\"1146624a-0784-4d7c-9d9b-df5d3d103ae1\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Due
      Date\":{\"id\":\"ksmJ\",\"type\":\"date\",\"date\":{\"start\":\"2024-06-16T12:53:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Urgency\":{\"id\":\"vujw\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-b72e61a5af6247bca54dec04d50cdd8e\",\"public_url\":null,\"request_id\":\"4bd07430-c63a-4105-849e-6dbecbae3ef9\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"53b-maIl6iphWXrHFQTSWCuZRS3/tqE"
      x-notion-request-id:
      - 4bd07430-c63a-4105-849e-6dbecbae3ef9
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/fe409806-a07e-4a8c-9350-2b98e025bbe9/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"8e815357-6984-47a1-8911-2823dcbed1d2\",\"created_time\":\"2024-05-23T10:53:00.000Z\",\"last_edited_time\":\"2024-05-23T10:5[...]
