interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:20:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2024-10-14T16:04:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"67ad5240-b1b9[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "My task list"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}},
      "Priority": {"type": "select", "select": {"options": [{"name": "\u2739 High",
      "color": "red"}, {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736
      Low", "color": "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression":
      "if(prop(\"Status\") == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")),
      \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")),
      \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" +
      if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description": [{"type": "text", "plain_text": "My personal task list
      of all the important stuff I have to do", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My personal task list of all the important stuff I have
      to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
   [...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-8183-915a-e6a712d80bae"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Plan vacation"}}]}, "Due Date": {"type": "date", "date": {"start": "2025-01-29T15:20:24.693499",
      "time_zone": "Europe/Berlin"}}, "Status": {"type": "select", "select": {"name":
      "Backlog", "color": "gray"}}, "Priority": {"type": "select", "select": {"name":
      "\u2739 High", "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"172974f3-b388-8186-8958-d4e59dbb5f1c\",\"created_time\":\"2025-01-05T14:20:00.000Z\",\"last_edited_time\":\"2025-01-05T14:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"172974f3-b388-8183-915a-e6a712d80bae\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Urgency\":{\"id\":\"CWxR\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Status\":{\"id\":\"bE%3Ci\",\"type\":\"select\",\"select\":{\"id\":\"8e8d23e1-6af6-4729-8c30-f1647c000404\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Priority\":{\"id\":\"czXg\",\"type\":\"select\",\"select\":{\"id\":\"14c98b2b-00b2-4581-a69d-423ffd784b78\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Due Date\":{\"id\":\"gFRI\",\"type\":\"date\",\"date\":{\"start\":\"2025-01-29T15:20:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-172974f3b38881868958d4e59dbb5f1c\",\"public_url\":null,\"request_id\":\"694d26f0-438f-4572-ab01-d0bfb9bb91d7\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 694d26f0-438f-4572-ab01-d0bfb9bb91d7
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8183-915a-e6a712d80bae/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"172974f3-b388-8106-a8d6-f1997b6614c8\",\"created_time\":\"2025-01-05T14:20:00.000Z\",\"last_edited_time\":\"2025-01-05T14:2[...]
