interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-01-25T07:43:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b6dec23b-3664-42e9-b636-ce08128c9562"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "My task list", "text": {"content": "My
      task list"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Status": {"select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color": "red"},
      {"name": "Done", "color": "green"}]}, "type": "select"}, "Priority": {"select":
      {"options": [{"name": "\u2739 High", "color": "red"}, {"name": "\u2737 Medium",
      "color": "yellow"}, {"name": "\u2736 Low", "color": "gray"}]}, "type": "select"},
      "Urgency": {"formula": {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\",
      (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due
      Date\"), \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"),
      \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))
      < 0), \[...]
- request:
    body: '{"description": [{"plain_text": "My personal task list of all the important
      stuff I have to do", "text": {"content": "My personal task list of all the important
      stuff I have to do"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/1ed87f53-7887-44c9-bf68-00a6a4675a0d
  response:
    content: "{\"object\":\"database\",\"id\":\"1ed87f53-7887-44c9-bf68-00a6a4675a0d\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-01-25T07:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-01-25T07:46:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"NkL%5E\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"5daf7f56-aad9-4e80-9306-6f3f25240603\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"3f32b809-3b89-44d9-b6e7-b121fa7583d0\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"8ccf0b57-7cc2-4a62-b739-4723bd7eab63\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"17e8584d-c5b7-44b5-9764-6bf557a4be0a\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"O%5Dsg\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Priority\":{\"id\":\"SsEf\",\"name\":\"Priority\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"9c537133-4d32-4de3-8798-bfad1c228243\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"cce4ad3e-9699-46e0-8383-f07c99d22d68\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"ec59124f-ad70-430b-9458-c4c7bbb06ee2\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Urgency\":{\"id\":\"%5DWgs\",[...]
- request:
    body: '{"parent": {"database_id": "1ed87f53-7887-44c9-bf68-00a6a4675a0d", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Plan vacation",
      "text": {"content": "Plan vacation"}, "type": "text"}], "type": "title"}, "Due
      Date": {"date": {"start": "2024-02-18T08:46:08.871630+01:00"}, "type": "date"},
      "Status": {"select": {"name": "Backlog", "color": "gray"}, "type": "select"},
      "Priority": {"select": {"name": "\u2739 High", "color": "red"}, "type": "select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"6d3aa03c-f03a-4323-b717-784b4e6aef8f\",\"created_time\":\"2024-01-25T07:46:00.000Z\",\"last_edited_time\":\"2024-01-25T07:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"1ed87f53-7887-44c9-bf68-00a6a4675a0d\"},\"archived\":false,\"properties\":{\"Status\":{\"id\":\"NkL%5E\",\"type\":\"select\",\"select\":{\"id\":\"5daf7f56-aad9-4e80-9306-6f3f25240603\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Due
      Date\":{\"id\":\"O%5Dsg\",\"type\":\"date\",\"date\":{\"start\":\"2024-02-18T08:46:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Priority\":{\"id\":\"SsEf\",\"type\":\"select\",\"select\":{\"id\":\"9c537133-4d32-4de3-8798-bfad1c228243\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"%5DWgs\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-6d3aa03cf03a4323b717784b4e6aef8f\",\"public_url\":null,\"request_id\":\"52ff9eac-b4ee-470f-87cc-0d11226a2a03\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/1ed87f53-7887-44c9-bf68-00a6a4675a0d/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"680522fe-c1d0-41b2-9a00-d006a0650e8f\",\"created_time\":\"2024-01-25T07:47:00.000Z\",\"last_edited_time\":\"2024-01-25T07:4[...]
