interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-09-28T13:43:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4d92520f-e4d6-4937-a405-8d9abf91a57e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d92520f-e4d6-4937-a405-8d9abf91a57e
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "My task list", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "My task list"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Done", "color": "green"}]}},
      "Priority": {"type": "select", "select": {"options": [{"name": "\u2739 High",
      "color": "red"}, {"name": "\u2737 Medium", "color": "yellow"}, {"name": "\u2736
      Low", "color": "gray"}]}}, "Urgency": {"type": "formula", "formula": {"expression":
      "if(prop(\"Status\") == \"Done\", \"\u2705\", (if(empty(prop(\"Due Date\")),
      \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due Date\"), \"YWD\")),
      \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"), \"\ud83d\udd25 \" +
      if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"), dateBetween(prop(\"Due
      Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\"))) < 0), \[...]
- request:
    body: '{"description": [{"type": "text", "plain_text": "My personal task list
      of all the important stuff I have to do", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My personal task list of all the important stuff I have
      to do"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
   [...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "10f974f3-b388-81ba-a2bf-ce013d238b03"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Plan vacation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Plan vacation"}}]}, "Due Date": {"type": "date", "date": {"start": "2024-10-22T15:43:51.327765",
      "time_zone": "Europe/Berlin"}}, "Status": {"type": "select", "select": {"name":
      "Backlog", "color": "gray"}}, "Priority": {"type": "select", "select": {"name":
      "\u2739 High", "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"10f974f3-b388-81be-9b37-cb472ef90dbf\",\"created_time\":\"2024-09-28T13:43:00.000Z\",\"last_edited_time\":\"2024-09-28T13:43:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"10f974f3-b388-81ba-a2bf-ce013d238b03\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Due
      Date\":{\"id\":\"%3DOre\",\"type\":\"date\",\"date\":{\"start\":\"2024-10-22T15:43:00.000+02:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"HI%5Dt\",\"type\":\"select\",\"select\":{\"id\":\"ef4c85f1-d220-40e3-b918-5f5630172a61\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Urgency\":{\"id\":\"S%5BJ%7B\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w3d\"}},\"Priority\":{\"id\":\"~~YD\",\"type\":\"select\",\"select\":{\"id\":\"feb572d1-f894-4bac-bdb1-1a623c0e758d\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-10f974f3b38881be9b37cb472ef90dbf\",\"public_url\":null,\"request_id\":\"969206e6-e96c-4881-ba01-6e571900647e\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 969206e6-e96c-4881-ba01-6e571900647e
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/10f974f3-b388-81ba-a2bf-ce013d238b03/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"10f974f3-b388-8158-925f-c4cbc1536daa\",\"created_time\":\"2024-09-28T13:43:00.000Z\",\"last_edited_time\":\"2024-09-28T13:4[...]
