interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-01-04T16:32:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"5caa25ea-131e-448b-b314-f2502032b745"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "My task list", "text": {"content": "My
      task list"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Status": {"select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color": "red"},
      {"name": "Done", "color": "green"}]}, "type": "select"}, "Priority": {"select":
      {"options": [{"name": "\u2739 High", "color": "red"}, {"name": "\u2737 Medium",
      "color": "yellow"}, {"name": "\u2736 Low", "color": "gray"}]}, "type": "select"},
      "Urgency": {"formula": {"expression": "if(prop(\"Status\") == \"Done\", \"\u2705\",
      (if(empty(prop(\"Due Date\")), \"\", (if((formatDate(now(), \"YWD\") == formatDate(prop(\"Due
      Date\"), \"YWD\")), \"\ud83d\udd39 Today\", (if(now() > prop(\"Due Date\"),
      \"\ud83d\udd25 \" + if(empty((if(empty(prop(\"Due Date\")), toNumber(\"\"),
      dateBetween(prop(\"Due Date\"), now(), \"days\")))), \"\", (((if(((if(empty(prop(\"Due
      Date\")), toNumber(\"\"), dateBetween(prop(\"Due Date\"), now(), \"days\")))
      < 0), \[...]
- request:
    body: '{"description": [{"plain_text": "My personal task list of all the important
      stuff I have to do", "text": {"content": "My personal task list of all the important
      stuff I have to do"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/fd5bb0af-1e40-440c-a588-a440bf1afbd2
  response:
    content: "{\"object\":\"database\",\"id\":\"fd5bb0af-1e40-440c-a588-a440bf1afbd2\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-01-04T16:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-01-04T16:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"%3FDm~\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"5359aed1-3db7-404b-beab-9833a660631d\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"3ebed494-02a2-4910-a90a-fdd1509037f8\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"f9807086-fbcd-46ea-970c-d1c0ad66ae32\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"d9b3a2e6-8c99-4564-9add-c353697[...]
- request:
    body: '{"parent": {"database_id": "fd5bb0af-1e40-440c-a588-a440bf1afbd2", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Plan vacation",
      "text": {"content": "Plan vacation"}, "type": "text"}], "type": "title"}, "Due
      Date": {"date": {"start": "2024-01-28T17:32:57.479545+01:00"}, "type": "date"},
      "Status": {"select": {"name": "Backlog", "color": "gray"}, "type": "select"},
      "Priority": {"select": {"name": "\u2739 High", "color": "red"}, "type": "select"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"194ddf94-df9e-4070-8c7e-cccd8e2b613b\",\"created_time\":\"2024-01-04T16:33:00.000Z\",\"last_edited_time\":\"2024-01-04T16:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"fd5bb0af-1e40-440c-a588-a440bf1afbd2\"},\"archived\":false,\"properties\":{\"Status\":{\"id\":\"%3FDm~\",\"type\":\"select\",\"select\":{\"id\":\"5359aed1-3db7-404b-beab-9833a660631d\",\"name\":\"Backlog\",\"color\":\"gray\"}},\"Priority\":{\"id\":\"E%3FMF\",\"type\":\"select\",\"select\":{\"id\":\"da3d2e0d-e055-4733-93d6-7e4b9bdf03ac\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"HVFN\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F550
      3w2d\"}},\"Due Date\":{\"id\":\"%5Ckyl\",\"type\":\"date\",\"date\":{\"start\":\"2024-01-28T17:32:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Plan
      vacation\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Plan
      vacation\",\"href\":null}]}},\"url\":\"https://www.notion.so/Plan-vacation-194ddf94df9e40708c7ecccd8e2b613b\",\"public_url\":null,\"request_id\":\"dff8016d-86e6-4726-8e4a-d7bb1c3bf9d8\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/fd5bb0af-1e40-440c-a588-a440bf1afbd2/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"09cf02bc-2989-44d5-afdc-f68e83a4328a\",\"created_time\":\"2024-01-04T16:33:00.000Z\",\"last_edited_time\":\"2024-01-04T16:3[...]
