interactions:
- request:
    body: grant_type=refresh_token&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Ftasks
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: '{"access_token": "secret...", "expires_in": 3599, "scope": "https://www.googleapis.com/auth/tasks",
        "token_type": "Bearer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
