interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "properties": {"Name":
      {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}}, "Created":
      {"type": "created_time", "created_time": {}}, "Last Edited": {"type": "last_edited_time",
      "last_edited_time": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8115-82fb-dc330402ff23","cover":null,"icon":null,"created_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:45:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Created":{"id":"RhX%7D","name":"Created","description":null,"type":"created_time","created_time":{}},"Date":{"id":"cGX%3C","name":"Date","description":null,"type":"date","date":{}},"Last
      Edited":{"id":"dae%3A","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b388811582fbdc330402ff23","public_url":null,"archived":false,"in_trash":false,"request_id":"aa1f401f-b421-4d9c-9e04-458c061cbbe6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aa1f401f-b421-4d9c-9e04-458c061cbbe6
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8115-82fb-dc330402ff23"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81c7-a542-db276551d92a","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8115-82fb-dc330402ff23"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Created":{"id":"RhX%7D","type":"created_time","created_time":"2025-10-30T15:45:00.000Z"},"Date":{"id":"cGX%3C","type":"date","date":null},"Last
      Edited":{"id":"dae%3A","type":"last_edited_time","last_edited_time":"2025-10-30T15:45:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-29c974f3b38881c7a542db276551d92a","public_url":null,"request_id":"10b8ba0d-31dd-4c16-90fe-2edc0e6f493f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 10b8ba0d-31dd-4c16-90fe-2edc0e6f493f
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8115-82fb-dc330402ff23"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2025-10-30T16:45:53.404521", "time_zone":
      "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-811a-bf01-c83846b59794","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8115-82fb-dc330402ff23"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Created":{"id":"RhX%7D","type":"created_time","created_time":"2025-10-30T15:45:00.000Z"},"Date":{"id":"cGX%3C","type":"date","date":{"start":"2025-10-30T16:45:00.000+01:00","end":null,"time_zone":null}},"Last
      Edited":{"id":"dae%3A","type":"last_edited_time","last_edited_time":"2025-10-30T15:45:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-29c974f3b388811abf01c83846b59794","public_url":null,"request_id":"2ec4e6f1-8587-471b-a2ea-263f76d84a21"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2ec4e6f1-8587-471b-a2ea-263f76d84a21
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-81c7-a542-db276551d92a","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8115-82fb-dc330402ff23"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Created":{"id":"RhX%7D","type":"created_time","created_time":"2025-10-30T15:45:00.000Z"},"Date":{"id":"cGX%3C","type":"date","date":null},"Last
      Edited":{"id":"dae%3A","type":"last_edited_time","last_edited_time":"2025-10-30T15:45:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-29c974f3b38881c7a542db276551d92a","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"5bfec03c-d238-4578-858e-e07bbd155353"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5bfec03c-d238-4578-858e-e07bbd155353
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8101-8b75-d7b4053d6996","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-10-30T16:45:53.404521+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-811a-bf01-c83846b59794","created_time":"2025-10-30T15:45:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-10-30T16:45:53.404521+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8101-8b75-d7b4053d6996","created_time":"2025-10-30T15:45:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-10-30T16:45:53.404521+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8101-8b75-d7b4053d6996","created_time":"2025-10-30T15:45:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-10-30T16:45:53.404521+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8170-9004-d69cfbb87727","created_time":"2025-10-30T15:46:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-10-30T16:45:53.404521+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-811a-bf01-c83846b59794","created_time":"2025-10-30T15:45:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-811a-bf01-c83846b59794","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8101-8b75-d7b4053d6996","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8101-8b75-d7b4053d6996","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8101-8b75-d7b4053d6996","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-811a-bf01-c83846b59794","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-811a-bf01-c83846b59794","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-811a-bf01-c83846b59794","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-10-30T16:50:53.404521+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8101-8b75-d7b4053d6996","created_time":"2025-10-30T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-10-30T16:40:53.404521+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-82fb-dc330402ff23/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"aeafa2a7-7373-4683-83ea-48c46aab7776"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aeafa2a7-7373-4683-83ea-48c46aab7776
    status_code: 200
version: 1
