interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Title": {"type": "title", "title": {}},
      "Name": {"type": "rich_text", "rich_text": {}}, "Phone": {"type": "phone_number",
      "phone_number": {}}, "Email": {"type": "email", "email": {}}, "URL": {"type":
      "url", "url": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"da9562eb-120a-48fa-955d-2b45628c0f18","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:01:31.613+00:00","last_edited_time":"2026-06-27T17:01:31.613+00:00","data_sources":[{"id":"dd713f3e-c074-4523-a172-4b0419fc4768","name":"Text
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/da9562eb120a48fa955d2b45628c0f18","public_url":null,"request_id":"bfea3f99-2454-45e3-88a6-ac09f2c5b384"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bfea3f99-2454-45e3-88a6-ac09f2c5b384
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768
  response:
    content: '{"object":"data_source","id":"dd713f3e-c074-4523-a172-4b0419fc4768","cover":null,"icon":null,"created_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:01:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"URL":{"id":"JBG%3A","name":"URL","description":null,"type":"url","url":{}},"Email":{"id":"nhZB","name":"Email","description":null,"type":"email","email":{}},"Phone":{"id":"xgFF","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"Name":{"id":"%7BdWy","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"da9562eb-120a-48fa-955d-2b45628c0f18"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/da9562eb120a48fa955d2b45628c0f18","public_url":null,"in_trash":false,"request_id":"56c291ac-599f-41e2-a994-a36453303d0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56c291ac-599f-41e2-a994-a36453303d0a
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "dd713f3e-c074-4523-a172-4b0419fc4768"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8162-b68a-dc4b57564454","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"dd713f3e-c074-4523-a172-4b0419fc4768","database_id":"da9562eb-120a-48fa-955d-2b45628c0f18"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"URL":{"id":"JBG%3A","type":"url","url":null},"Email":{"id":"nhZB","type":"email","email":null},"Phone":{"id":"xgFF","type":"phone_number","phone_number":null},"Name":{"id":"%7BdWy","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a48162b68adc4b57564454","public_url":null,"request_id":"b2d8de13-0fb3-4c48-b8fe-500b29954de9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b2d8de13-0fb3-4c48-b8fe-500b29954de9
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8162-b68a-dc4b57564454","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"dd713f3e-c074-4523-a172-4b0419fc4768","database_id":"da9562eb-120a-48fa-955d-2b45628c0f18"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"URL":{"id":"JBG%3A","type":"url","url":null},"Email":{"id":"nhZB","type":"email","email":null},"Phone":{"id":"xgFF","type":"phone_number","phone_number":null},"Name":{"id":"%7BdWy","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a48162b68adc4b57564454","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"3abe35fb-f8d4-4b63-861b-40ecea912349"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3abe35fb-f8d4-4b63-861b-40ecea912349
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813f-afa4-fa28a1b7d49e","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"68b20609-ea67-43a8-8e16-0d7016ee59fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 68b20609-ea67-43a8-8e16-0d7016ee59fb
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813f-afa4-fa28a1b7d49e","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"dd44e423-f9fb-4623-be36-f179e6a3700a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dd44e423-f9fb-4623-be36-f179e6a3700a
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813f-afa4-fa28a1b7d49e","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8158-aa2a-d4923e46fb5b","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"95b2067d-7076-4c2f-9c5d-aa1db297a93d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95b2067d-7076-4c2f-9c5d-aa1db297a93d
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/dd713f3e-c074-4523-a172-4b0419fc4768/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"e8ac14f3-27c3-4000-904a-5ec11c560815"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e8ac14f3-27c3-4000-904a-5ec11c560815
    status_code: 200
version: 1
