interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Title": {"type": "title", "title": {}},
      "Name": {"type": "rich_text", "rich_text": {}}, "Phone": {"type": "phone_number",
      "phone_number": {}}, "Email": {"type": "email", "email": {}}, "URL": {"type":
      "url", "url": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ce9e3bb4-de8d-429f-a422-32d93050c703","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:49:42.978+00:00","last_edited_time":"2026-06-24T18:49:42.978+00:00","data_sources":[{"id":"d75e7bb7-b8a9-4676-8c04-3dc0adfae257","name":"Text
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/ce9e3bb4de8d429fa42232d93050c703","public_url":null,"archived":false,"request_id":"36d3085e-f8a8-4ad9-98d5-8d469cf2de5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 36d3085e-f8a8-4ad9-98d5-8d469cf2de5d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257
  response:
    content: '{"object":"data_source","id":"d75e7bb7-b8a9-4676-8c04-3dc0adfae257","cover":null,"icon":null,"created_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:49:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Phone":{"id":"Dv%7Cc","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"URL":{"id":"Okmv","name":"URL","description":null,"type":"url","url":{}},"Email":{"id":"gf%3E%7C","name":"Email","description":null,"type":"email","email":{}},"Name":{"id":"t%60iO","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ce9e3bb4-de8d-429f-a422-32d93050c703"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/ce9e3bb4de8d429fa42232d93050c703","public_url":null,"in_trash":false,"archived":false,"request_id":"c0e98a9c-b87f-4604-9543-adb3c007e094"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c0e98a9c-b87f-4604-9543-adb3c007e094
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "d75e7bb7-b8a9-4676-8c04-3dc0adfae257"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8115-bc28-cfe5dea5a306","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d75e7bb7-b8a9-4676-8c04-3dc0adfae257","database_id":"ce9e3bb4-de8d-429f-a422-32d93050c703"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Phone":{"id":"Dv%7Cc","type":"phone_number","phone_number":null},"URL":{"id":"Okmv","type":"url","url":null},"Email":{"id":"gf%3E%7C","type":"email","email":null},"Name":{"id":"t%60iO","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a48115bc28cfe5dea5a306","public_url":null,"archived":false,"request_id":"d221b48b-ae59-4e1f-bae1-29ece1963d21"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d221b48b-ae59-4e1f-bae1-29ece1963d21
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8115-bc28-cfe5dea5a306","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d75e7bb7-b8a9-4676-8c04-3dc0adfae257","database_id":"ce9e3bb4-de8d-429f-a422-32d93050c703"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Phone":{"id":"Dv%7Cc","type":"phone_number","phone_number":null},"URL":{"id":"Okmv","type":"url","url":null},"Email":{"id":"gf%3E%7C","type":"email","email":null},"Name":{"id":"t%60iO","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a48115bc28cfe5dea5a306","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"13ee0634-88ff-49c1-be2b-7b94c8ff528b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 13ee0634-88ff-49c1-be2b-7b94c8ff528b
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8145-afeb-de71b3dfc85e","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"6a1e901e-d609-4bd5-b87e-37c6db7be0dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a1e901e-d609-4bd5-b87e-37c6db7be0dd
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8145-afeb-de71b3dfc85e","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"2b97e6cf-7649-414f-9d1f-2a949d53c3d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2b97e6cf-7649-414f-9d1f-2a949d53c3d6
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8145-afeb-de71b3dfc85e","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81eb-b5dc-e96aa4221449","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"49198a88-4e87-4445-8b6e-0f5ab5588577"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 49198a88-4e87-4445-8b6e-0f5ab5588577
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d75e7bb7-b8a9-4676-8c04-3dc0adfae257/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"87558958-754e-40a0-9c4f-4df067b046d0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87558958-754e-40a0-9c4f-4df067b046d0
    status_code: 200
version: 1
