interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Rollup Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Number": {"type": "number", "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8135-a0d0-c13e15468bc8","cover":null,"icon":null,"created_time":"2025-06-23T13:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:38:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"HUx%7C","name":"Date","type":"date","date":{}},"Number":{"id":"U%60F%3B","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b3888135a0d0c13e15468bc8","public_url":null,"archived":false,"in_trash":false,"request_id":"a9bc4204-6c3b-449f-9018-0ee1a5df5779"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a9bc4204-6c3b-449f-9018-0ee1a5df5779
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "21b974f3-b388-8135-a0d0-c13e15468bc8", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8
  response:
    content: '{"object":"database","id":"21b974f3-b388-8135-a0d0-c13e15468bc8","cover":null,"icon":null,"created_time":"2025-06-23T13:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"properties": {"Rollup Title": {"type": "rollup", "rollup": {"function":
      "show_original", "relation_property_name": "Relation", "rollup_property_name":
      "Title"}}, "Rollup Date": {"type": "rollup", "rollup": {"function": "earliest_date",
      "relation_property_name": "Relation", "rollup_property_name": "Date"}}, "Rollup
      Date Array": {"type": "rollup", "rollup": {"function": "show_original", "relation_property_name":
      "Relation", "rollup_property_name": "Date"}}, "Rollup Number": {"type": "rollup",
      "rollup": {"function": "max", "relation_property_name": "Relation", "rollup_property_name":
      "Number"}}, "Rollup Number[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8135-a0d0-c13e15468bc8"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}, "Date": {"type": "date", "date": {"start": "2024-11-25T14:08:00",
      "time_zone": "UTC"}}, "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-8112-9f9f-d81f5f44087d","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8135-a0d0-c13e15468bc8"},"archived":false,"in_trash":false,"properties":{"Rollup
      Date Array":{"id":"%3FPUd","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Title":{"id":"DH_%3B","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Date":{"id":"HUx%7C","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Number":{"id":"U%60F%3B","type":"number","number":42},"Rollup
      Number":{"id":"bbGB","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Rollup
      Number Array":{"id":"jwao","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date":{"id":"knw%3A","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Relation":{"id":"qxqg","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-21b974f3b38881129f9fd81f5f44087d","public_url":null,"request_id":"faafd394-5880-4bb3-b28a-bcfc4b90a213"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - faafd394-5880-4bb3-b28a-bcfc4b90a213
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8135-a0d0-c13e15468bc8"},"archived":false,"in_trash":false,"properties":{"Rollup
      Date Array":{"id":"%3FPU[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"5ab29893-150b-4619-8af0-38c02d7f3572"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5ab29893-150b-4619-8af0-38c02d7f3572
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8135-a0d0-c13e15468bc8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-95de-f5f43bb326f6","created_time":"2025-06-23T13:38:00.000Z","last_edited_time":"2025-06-23T13:38:00.000Z","created_by":{"object":"[...]
