interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Files & Checkbox Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Files":
      {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox", "checkbox":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"140974f3-b388-81c3-a4e4-c45b2c0dfdf7","cover":null,"icon":null,"created_time":"2024-11-16T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-11-16T14:24:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"Qvt%40","name":"Checkbox","type":"checkbox","checkbox":{}},"Files":{"id":"igwe","name":"Files","type":"files","files":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/140974f3b38881c3a4e4c45b2c0dfdf7","public_url":null,"archived":false,"in_trash":false,"request_id":"d9a76083-578e-4a5b-a05d-31be65fb3292"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d9a76083-578e-4a5b-a05d-31be65fb3292
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-81c3-a4e4-c45b2c0dfdf7"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-8189-bad4-c19dcae231f5","created_time":"2024-11-16T14:24:00.000Z","last_edited_time":"2024-11-16T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-81c3-a4e4-c45b2c0dfdf7"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"Qvt%40","type":"checkbox","checkbox":false},"Files":{"id":"igwe","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b3888189bad4c19dcae231f5","public_url":null,"request_id":"2326fc5f-97fc-4523-80ad-ffe8f6921dc8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2326fc5f-97fc-4523-80ad-ffe8f6921dc8
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-81c3-a4e4-c45b2c0dfdf7"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Files"}}]}, "Files": {"type": "files", "files": [{"type": "external", "name":
      "image", "external": {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-815e-8127-f5b5744daa48","created_time":"2024-11-16T14:24:00.000Z","last_edited_time":"2024-11-16T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-81c3-a4e4-c45b2c0dfdf7"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"Qvt%40","type":"checkbox","checkbox":false},"Files":{"id":"igwe","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-140974f3b388815e8127f5b5744daa48","public_url":null,"request_id":"85503303-a836-4570-a25f-c4d7c3051367"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 85503303-a836-4570-a25f-c4d7c3051367
    status_code: 200
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-81c3-a4e4-c45b2c0dfdf7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81fa-b2df-fd16f95180a8","created_time":"2024-11-16T14:24:00.000Z","last_edited_time":"2024-11-16T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-81c3-a4e4-c45b2c0dfdf7"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"Qvt%40","type":"chec[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-81c3-a4e4-c45b2c0dfdf7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-815e-8127-f5b5744daa48","created_time":"2024-11-16T14:24:00.000Z","last_edited_time":"2024-11-16T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-81c3-a4e4-c45b2c0dfdf7"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"Qvt%40","type":"checkbox","checkbox":false},"Files":{"id":"igwe","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-140974f3b388815e8127f5b5744daa48","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"110058b4-0449-4cdf-bc4a-d877990f4621"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 110058b4-0449-4cdf-bc4a-d877990f4621
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-81c3-a4e4-c45b2c0dfdf7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81fa-b2df-fd16f95180a8","created_time":"2024-11-16T14:24:00.000Z","last_edited_time":"2024-11-16T14:24:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-81c3-a4e4-c45b2c0dfdf7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81fa-b2df-fd16f95180a8","created_time":"2024-11-16T14:24:00.000Z","last_edited_time":"2024-11-16T14:24:00[...]
[...]
