interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}, "Multi-Select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Backlog", "color": "gray"}, {"name":
      "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2","cover":null,"icon":null,"created_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:31:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"%5EFui","name":"Select","description":null,"type":"select","select":{"options":[{"id":"d2ce3e1b-7b36-49b6-a49a-37602cc3c457","name":"Backlog","color":"gray","description":null},{"id":"6e9c0bf1-e430-4b3a-93af-86193e739964","name":"In
      Progress","color":"blue","description":null},{"id":"3ced44f4-45af-4732-bbc8-6510e1c99c36","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"i%3AmJ","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"f9bde08d-e995-4a94-bc64-e13107d7912e","name":"Backlog","color":"gray","description":null},{"id":"8b14fb22-fd81-4024-b268-6d1f55ea8456","name":"In
      Progress","color":"blue","description":null},{"id":"8d9aef30-dbe2-43ac-a0b9-7394195ff2df","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481eda2b8d6b740d4a4e2","public_url":null,"in_trash":false,"archived":false,"request_id":"a01caf39-c1ad-4562-8757-26eb90890771"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a01caf39-c1ad-4562-8757-26eb90890771
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-81e7-8818-f45f42b2b695","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"%5EFui","type":"select","select":null},"Multi-Select":{"id":"i%3AmJ","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38a9ce7b60a481e78818f45f42b2b695","public_url":null,"archived":false,"request_id":"ccfb7f4a-f287-4af4-a397-6dc0162c6816"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ccfb7f4a-f287-4af4-a397-6dc0162c6816
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81e7-8818-f45f42b2b695","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"%5EFui","type":"select","select":null},"Multi-Select":{"id":"i%3AmJ","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38a9ce7b60a481e78818f45f42b2b695","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e1a525a1-54ef-46f0-9eff-186d6000aa22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e1a525a1-54ef-46f0-9eff-186d6000aa22
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-810f-a40a-e5764b240e40","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8188-b20c-e0fc43c87f6f","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-810f-a40a-e5764b240e40","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8188-b20c-e0fc43c87f6f","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81ed-a2b8-d6b740d4a4e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-810f-a40a-e5764b240e40","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:[...]
[...]
