interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "People": {"type": "people",
      "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81ab-bf45-fad838471f7b","cover":null,"icon":null,"created_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:07:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"YP_%60","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881abbf45fad838471f7b","public_url":null,"archived":false,"in_trash":false,"request_id":"805f1e55-9e0f-450e-bd70-d41618c6d43a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 805f1e55-9e0f-450e-bd70-d41618c6d43a
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"277974f3-b388-81ab-bf45-fad838471f7b","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-81ab-bf45-fad838471f7b
  response:
    content: '{"object":"database","id":"277974f3-b388-81ab-bf45-fad838471f7b","cover":null,"icon":null,"created_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:07:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"%40WUo","name":"Relation","description":null,"type":"relation","relation":{"database_id":"277974f3-b388-81ab-bf45-fad838471f7b","data_source_id":"277974f3-b388-81f8-ad93-000b44ba3c6a","type":"single_property","single_property":{}}},"People":{"id":"YP_%60","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881abbf45fad838471f7b","public_url":null,"archived":false,"in_trash":false,"request_id":"3590105e-fef3-4516-ac9b-78148181e765"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3590105e-fef3-4516-ac9b-78148181e765
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81ab-bf45-fad838471f7b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-8117-8ef9-f2de2a5b5bbe","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81ab-bf45-fad838471f7b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"%40WUo","type":"relation","relation":[],"has_more":false},"People":{"id":"YP_%60","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b38881178ef9f2de2a5b5bbe","public_url":null,"request_id":"65270e65-7155-427d-b665-3a0270bd63d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 65270e65-7155-427d-b665-3a0270bd63d9
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81ab-bf45-fad838471f7b"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Florian"}}]},
      "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object":
      "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-8102-8a93-cf340f0beba8","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81ab-bf45-fad838471f7b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"%40WUo","type":"relation","relation":[],"has_more":false},"People":{"id":"YP_%60","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-277974f3b38881028a93cf340f0beba8","public_url":null,"request_id":"fd00e9a7-1744-404c-a234-bc0ee3ab3e91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd00e9a7-1744-404c-a234-bc0ee3ab3e91
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81ab-bf45-fad838471f7b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8197-9700-c16754a3ccd9","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81ab-bf45-fad838471f7b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"%4[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81ab-bf45-fad838471f7b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8102-8a93-cf340f0beba8","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81ab-bf45-fad838471f7b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8102-8a93-cf340f0beba8","created_time":"2025-09-23T10:07:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81ab-bf45-fad838471f7b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8197-9700-c16754a3ccd9","created_time":"2025-09-23T10:07:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81ab-bf45-fad838471f7b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8197-9700-c16754a3ccd9","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81ab-bf45-fad838471f7b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"%40WUo","type":"relation","relation":[{"id":"277974f3-b388-8102-8a93-cf340f0beba8"}],"has_more":false},"People":{"id":"YP_%60","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-277974f3b38881979700c16754a3ccd9","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6104a1b6-a85d-4620-b5dd-0331f553fe6b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6104a1b6-a85d-4620-b5dd-0331f553fe6b
    status_code: 200
[...]
