interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8127-94dc-ef90c59e1299","cover":null,"icon":null,"created_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:46:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"SJUN","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b388812794dcef90c59e1299","public_url":null,"archived":false,"in_trash":false,"request_id":"3fbb388e-016d-43f5-835a-dc4803864a71"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3fbb388e-016d-43f5-835a-dc4803864a71
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8127-94dc-ef90c59e1299"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81c7-ab91-e635afb80a38","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8127-94dc-ef90c59e1299"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"SJUN","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b38881c7ab91e635afb80a38","public_url":null,"request_id":"fbfd3b6c-91f7-474d-9cf8-25f8a488d3f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fbfd3b6c-91f7-474d-9cf8-25f8a488d3f0
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-81c7-ab91-e635afb80a38","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8127-94dc-ef90c59e1299"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"SJUN","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b38881c7ab91e635afb80a38","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"cd67e7b9-f426-423a-845c-89853746668a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cd67e7b9-f426-423a-845c-89853746668a
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-815b-9e60-cbf68b3ca60c","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8172-9f42-dbd27a78008f","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-815b-9e60-cbf68b3ca60c","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-815b-9e60-cbf68b3ca60c","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-815b-9e60-cbf68b3ca60c","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-815b-9e60-cbf68b3ca60c","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8127-94dc-ef90c59e1299/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-815b-9e60-cbf68b3ca60c","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z[...]
