interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Files & Checkbox Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Files":
      {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox", "checkbox":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-81c5-978b-fce2d804d14d","cover":null,"icon":null,"created_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:53:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"HWJ%3C","name":"Checkbox","type":"checkbox","checkbox":{}},"Files":{"id":"lvd%5C","name":"Files","type":"files","files":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881c5978bfce2d804d14d","public_url":null,"archived":false,"in_trash":false,"request_id":"de3004d0-ee6d-4af1-926a-450513174358"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de3004d0-ee6d-4af1-926a-450513174358
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-81c5-978b-fce2d804d14d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-813d-acc8-e9ce291833c0","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-81c5-978b-fce2d804d14d"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"HWJ%3C","type":"checkbox","checkbox":false},"Files":{"id":"lvd%5C","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b388813dacc8e9ce291833c0","public_url":null,"request_id":"7bdc250e-1dd2-4450-a571-12999ec42e1f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7bdc250e-1dd2-4450-a571-12999ec42e1f
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-81c5-978b-fce2d804d14d"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Files"}}]}, "Files": {"type": "files", "files": [{"type": "external", "name":
      "image", "external": {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-815b-b28d-f18cc4137e42","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-81c5-978b-fce2d804d14d"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"HWJ%3C","type":"checkbox","checkbox":false},"Files":{"id":"lvd%5C","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-20e974f3b388815bb28df18cc4137e42","public_url":null,"request_id":"53fcaa04-0a93-4bff-a5ff-08dc1d06a6db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 53fcaa04-0a93-4bff-a5ff-08dc1d06a6db
    status_code: 200
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-81c5-978b-fce2d804d14d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8138-bbf2-ca035a779c30","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-81c5-978b-fce2d804d14d"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"HWJ%3C","type":"chec[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-81c5-978b-fce2d804d14d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-815b-b28d-f18cc4137e42","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-81c5-978b-fce2d804d14d"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"HWJ%3C","type":"checkbox","checkbox":false},"Files":{"id":"lvd%5C","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-20e974f3b388815bb28df18cc4137e42","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"be4e52ea-9a76-4609-a7e6-98199b34e9b2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be4e52ea-9a76-4609-a7e6-98199b34e9b2
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-81c5-978b-fce2d804d14d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8138-bbf2-ca035a779c30","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-81c5-978b-fce2d804d14d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8138-bbf2-ca035a779c30","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00[...]
[...]
