interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Select": {"type": "select", "select": {"options": [{"name": "Backlog",
      "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Done",
      "color": "green"}]}}, "Multi-Select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6e6afddb-4a78-4336-a4d2-f6926f2be422","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:33:58.279+00:00","last_edited_time":"2026-06-24T16:33:58.279+00:00","data_sources":[{"id":"7f004b8c-ccc1-440a-a663-e71db98d7d9e","name":"(Multi)-Select
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/6e6afddb4a784336a4d2f6926f2be422","public_url":null,"archived":false,"request_id":"c987483c-204c-4e3d-9759-1152e2db5172"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c987483c-204c-4e3d-9759-1152e2db5172
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/7f004b8c-ccc1-440a-a663-e71db98d7d9e
  response:
    content: '{"object":"data_source","id":"7f004b8c-ccc1-440a-a663-e71db98d7d9e","cover":null,"icon":null,"created_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:33:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi-Select":{"id":"atd_","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"880868e5-26a2-485a-939e-c4982cd222ce","name":"Backlog","color":"gray","description":null},{"id":"5cf02f6e-94cd-40e7-9587-8b7d5a2bde6c","name":"In
      Progress","color":"blue","description":null},{"id":"c384308a-c465-41c8-a74f-4f1f097dad1e","name":"Done","color":"green","description":null}]}},"Select":{"id":"lEng","name":"Select","description":null,"type":"select","select":{"options":[{"id":"057b4e74-3b62-4177-adfa-d00af723bb93","name":"Backlog","color":"gray","description":null},{"id":"bdabe2d7-b091-4d16-ab4a-ae0d7e02d9e5","name":"In
      Progress","color":"blue","description":null},{"id":"3abab020-9e77-467f-b61d-b204b007e35d","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6e6afddb-4a78-4336-a4d2-f6926f2be422"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/6e6afddb4a784336a4d2f6926f2be422","public_url":null,"in_trash":false,"archived":false,"request_id":"79324f84-8537-41be-a5f6-3471a7eae1e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 79324f84-8537-41be-a5f6-3471a7eae1e6
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "7f004b8c-ccc1-440a-a663-e71db98d7d9e"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81ff-8aa8-ffcd70ad9b00","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"7f004b8c-ccc1-440a-a663-e71db98d7d9e","database_id":"6e6afddb-4a78-4336-a4d2-f6926f2be422"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi-Select":{"id":"atd_","type":"multi_select","multi_select":[]},"Select":{"id":"lEng","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481ff8aa8ffcd70ad9b00","public_url":null,"archived":false,"request_id":"d4f00da6-6115-4f9e-88d2-b520210ac04c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d4f00da6-6115-4f9e-88d2-b520210ac04c
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7f004b8c-ccc1-440a-a663-e71db98d7d9e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81ff-8aa8-ffcd70ad9b00","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"7f004b8c-ccc1-440a-a663-e71db98d7d9e","database_id":"6e6afddb-4a78-4336-a4d2-f6926f2be422"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi-Select":{"id":"atd_","type":"multi_select","multi_select":[]},"Select":{"id":"lEng","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481ff8aa8ffcd70ad9b00","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"6fd77ae9-4638-4789-9db7-1c85db70a971"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6fd77ae9-4638-4789-9db7-1c85db70a971
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7f004b8c-ccc1-440a-a663-e71db98d7d9e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8141-8e1c-c3b1db4e4698","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7f004b8c-ccc1-440a-a663-e71db98d7d9e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c5-ae86-d296a09dceac","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7f004b8c-ccc1-440a-a663-e71db98d7d9e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8141-8e1c-c3b1db4e4698","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7f004b8c-ccc1-440a-a663-e71db98d7d9e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c5-ae86-d296a09dceac","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7f004b8c-ccc1-440a-a663-e71db98d7d9e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8141-8e1c-c3b1db4e4698","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T[...]
[...]
