interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Text Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Name": {"type": "rich_text",
      "rich_text": {}}, "Phone": {"type": "phone_number", "phone_number": {}}, "Email":
      {"type": "email", "email": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-81fa-bcb0-e32fdbeaafc1","cover":null,"icon":null,"created_time":"2025-01-05T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:24:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"URL":{"id":"%3FCku","name":"URL","type":"url","url":{}},"Phone":{"id":"%5B%5Epz","name":"Phone","type":"phone_number","phone_number":{}},"Email":{"id":"%60d%7BZ","name":"Email","type":"email","email":{}},"Name":{"id":"e%3DYQ","name":"Name","type":"rich_text","rich_text":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881fabcb0e32fdbeaafc1","public_url":null,"archived":false,"in_trash":false,"request_id":"fda2959e-62d7-4aea-8e09-b630c268db8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fda2959e-62d7-4aea-8e09-b630c268db8f
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-81fa-bcb0-e32fdbeaafc1"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-81b3-8c0b-ef3d9fc83c91","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81fa-bcb0-e32fdbeaafc1"},"archived":false,"in_trash":false,"properties":{"URL":{"id":"%3FCku","type":"url","url":null},"Phone":{"id":"%5B%5Epz","type":"phone_number","phone_number":null},"Email":{"id":"%60d%7BZ","type":"email","email":null},"Name":{"id":"e%3DYQ","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b38881b38c0bef3d9fc83c91","public_url":null,"request_id":"a9653956-d22a-40d1-9181-c4d954aa2c05"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a9653956-d22a-40d1-9181-c4d954aa2c05
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81b3-8c0b-ef3d9fc83c91","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81fa-bcb0-e32fdbeaafc1"},"archived":false,"in_trash":false,"properties":{"URL":{"id":"%3FCku","type":"url","url":null},"Phone":{"id":"%5B%5Epz","type":"phone_number","phone_number":null},"Email":{"id":"%60d%7BZ","type":"email","email":null},"Name":{"id":"e%3DYQ","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b38881b38c0bef3d9fc83c91","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0bd7a0f9-b46f-491a-a4e4-e37995754f3b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0bd7a0f9-b46f-491a-a4e4-e37995754f3b
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81b9-8527-eac9b1d51028","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"960cf94a-8cbf-45ed-b8f7-2a1eb469780e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 960cf94a-8cbf-45ed-b8f7-2a1eb469780e
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81b9-8527-eac9b1d51028","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"669e8c52-a4a1-45e3-af34-eb3083edd032"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 669e8c52-a4a1-45e3-af34-eb3083edd032
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81b9-8527-eac9b1d51028","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81f7-9f99-c6114ba4701b","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"648118d9-5d9c-4cfe-84c5-3f1a41b073a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 648118d9-5d9c-4cfe-84c5-3f1a41b073a4
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81fa-bcb0-e32fdbeaafc1/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0c0f3668-29fe-41a8-8cca-8332a2da4fde"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0c0f3668-29fe-41a8-8cca-8332a2da4fde
    status_code: 200
version: 1
