interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Files & Checkbox Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Files":
      {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox", "checkbox":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-817f-884a-f52e8b202152","cover":null,"icon":null,"created_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:25:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"EdCx","name":"Checkbox","type":"checkbox","checkbox":{}},"Files":{"id":"qUVX","name":"Files","type":"files","files":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b388817f884af52e8b202152","public_url":null,"archived":false,"in_trash":false,"request_id":"9503590e-a5e8-4139-9be6-9c5f9a5b6c2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9503590e-a5e8-4139-9be6-9c5f9a5b6c2c
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-817f-884a-f52e8b202152"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-816c-9f87-e9303b85eac0","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-817f-884a-f52e8b202152"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"EdCx","type":"checkbox","checkbox":false},"Files":{"id":"qUVX","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b388816c9f87e9303b85eac0","public_url":null,"request_id":"01cd859d-2b1e-4c65-8cce-8449bd02bc4d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 01cd859d-2b1e-4c65-8cce-8449bd02bc4d
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-817f-884a-f52e8b202152"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Files"}}]}, "Files": {"type": "files", "files": [{"type": "external", "name":
      "image", "external": {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-8125-af60-c410a4ceaa8e","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-817f-884a-f52e8b202152"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"EdCx","type":"checkbox","checkbox":false},"Files":{"id":"qUVX","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-172974f3b3888125af60c410a4ceaa8e","public_url":null,"request_id":"90e3d13f-e6c9-499c-a656-588225d34571"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 90e3d13f-e6c9-499c-a656-588225d34571
    status_code: 200
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-817f-884a-f52e8b202152/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-810a-b496-d70c8e45fc04","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-817f-884a-f52e8b202152"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"EdCx","type":"checkb[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-817f-884a-f52e8b202152/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8125-af60-c410a4ceaa8e","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-817f-884a-f52e8b202152"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"EdCx","type":"checkbox","checkbox":false},"Files":{"id":"qUVX","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-172974f3b3888125af60c410a4ceaa8e","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"1ac7434f-be08-4dd8-81f8-7bed4fb807f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ac7434f-be08-4dd8-81f8-7bed4fb807f6
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-817f-884a-f52e8b202152/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-810a-b496-d70c8e45fc04","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-817f-884a-f52e8b202152/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-810a-b496-d70c8e45fc04","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00[...]
[...]
