interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}, "Multi-Select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Backlog", "color": "gray"}, {"name":
      "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81b6-bb34-d90f640d1f14","cover":null,"icon":null,"created_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:20:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi-Select":{"id":"%3BZyi","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"6e26ee28-9ebe-4a98-ac9a-7eb8f2891561","name":"Backlog","color":"gray","description":null},{"id":"13d457ad-999a-47de-b3cb-a06493ff028c","name":"In
      Progress","color":"blue","description":null},{"id":"3b9bf986-5c00-45f8-b15f-dfc7ea3d0133","name":"Done","color":"green","description":null}]}},"Select":{"id":"_onu","name":"Select","description":null,"type":"select","select":{"options":[{"id":"2a6abe27-bfff-4082-8131-83ec7ce41930","name":"Backlog","color":"gray","description":null},{"id":"eb5c6689-d0a5-426c-b72d-5d17e87a325e","name":"In
      Progress","color":"blue","description":null},{"id":"24aa21a1-ac97-420c-9652-1736d76d153a","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881b6bb34d90f640d1f14","public_url":null,"archived":false,"in_trash":false,"request_id":"a2eb9e09-fe3a-42b6-a7ea-ccf41bd95f1d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2eb9e09-fe3a-42b6-a7ea-ccf41bd95f1d
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81b6-bb34-d90f640d1f14"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-817d-aec3-d1d6b3da0ad0","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81b6-bb34-d90f640d1f14"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Multi-Select":{"id":"%3BZyi","type":"multi_select","multi_select":[]},"Select":{"id":"_onu","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b388817daec3d1d6b3da0ad0","public_url":null,"request_id":"dcc64bd5-9c2a-4cd6-bcbd-48aa70f8a899"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dcc64bd5-9c2a-4cd6-bcbd-48aa70f8a899
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81b6-bb34-d90f640d1f14/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-817d-aec3-d1d6b3da0ad0","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81b6-bb34-d90f640d1f14"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Multi-Select":{"id":"%3BZyi","type":"multi_select","multi_select":[]},"Select":{"id":"_onu","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b388817daec3d1d6b3da0ad0","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"db5ebe32-611f-46cf-8899-36cb538a1851"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db5ebe32-611f-46cf-8899-36cb538a1851
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81b6-bb34-d90f640d1f14/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8105-8e9c-fb90c81865c3","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81b6-bb34-d90f640d1f14/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-815a-8153-d87967981d1f","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81b6-bb34-d90f640d1f14/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8105-8e9c-fb90c81865c3","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81b6-bb34-d90f640d1f14/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-815a-8153-d87967981d1f","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81b6-bb34-d90f640d1f14/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8105-8e9c-fb90c81865c3","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:[...]
[...]
