interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "People & Relation
      Query DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "People":
      {"type": "people", "people": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-81a6-b7fc-d70f99c85284","cover":null,"icon":null,"created_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:37:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"%3C%3BSn","name":"People","type":"people","people":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b38881a6b7fcd70f99c85284","public_url":null,"archived":false,"in_trash":false,"request_id":"a5c05792-b83c-469c-b560-c10732a59ed7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a5c05792-b83c-469c-b560-c10732a59ed7
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "21b974f3-b388-81a6-b7fc-d70f99c85284", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81a6-b7fc-d70f99c85284
  response:
    content: '{"object":"database","id":"21b974f3-b388-81a6-b7fc-d70f99c85284","cover":null,"icon":null,"created_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-81a6-b7fc-d70f99c85284"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-81fc-bde5-f11d1f700a70","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-81a6-b7fc-d70f99c85284"},"archived":false,"in_trash":false,"properties":{"People":{"id":"%3C%3BSn","type":"people","people":[]},"Relation":{"id":"hp%3Co","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881fcbde5f11d1f700a70","public_url":null,"request_id":"bcb2bd5d-736c-46d3-b856-e0642ff9d2f4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bcb2bd5d-736c-46d3-b856-e0642ff9d2f4
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-81a6-b7fc-d70f99c85284"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Florian"}}]}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-81da-9d23-d1bb538a7b1f","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-81a6-b7fc-d70f99c85284"},"archived":false,"in_trash":false,"properties":{"People":{"id":"%3C%3BSn","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Relation":{"id":"hp%3Co","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-21b974f3b38881da9d23d1bb538a7b1f","public_url":null,"request_id":"e8aa1852-e2cf-4926-9138-cf2a812052d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e8aa1852-e2cf-4926-9138-cf2a812052d8
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81a6-b7fc-d70f99c85284/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81df-a34d-fecc000fa487","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-81a6-b7fc-d70f99c85284"},"archived":false,"in_trash":false,"properties":{"People":{"id":"%3C%3BSn","type":"peop[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81a6-b7fc-d70f99c85284/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81da-9d23-d1bb538a7b1f","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81a6-b7fc-d70f99c85284/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81da-9d23-d1bb538a7b1f","created_time":"2025-06-23T13:37:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81a6-b7fc-d70f99c85284/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81df-a34d-fecc000fa487","created_time":"2025-06-23T13:37:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81a6-b7fc-d70f99c85284/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81df-a34d-fecc000fa487","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-81a6-b7fc-d70f99c85284"},"archived":false,"in_trash":false,"properties":{"People":{"id":"%3C%3BSn","type":"people","people":[]},"Relation":{"id":"hp%3Co","type":"relation","relation":[{"id":"21b974f3-b388-81da-9d23-d1bb538a7b1f"}],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-21b974f3b38881dfa34dfecc000fa487","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"209c249f-8232-4f61-857d-d4ad848d4108"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 209c249f-8232-4f61-857d-d4ad848d4108
    status_code: 200
[...]
