interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Files & Checkbox Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Files":
      {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox", "checkbox":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8110-849f-d375a84bfb76","cover":null,"icon":null,"created_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:37:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"%5BAvs","name":"Checkbox","type":"checkbox","checkbox":{}},"Files":{"id":"jcpF","name":"Files","type":"files","files":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b3888110849fd375a84bfb76","public_url":null,"archived":false,"in_trash":false,"request_id":"476664df-ad37-4c0e-8071-0e5ce08d86c0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 476664df-ad37-4c0e-8071-0e5ce08d86c0
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8110-849f-d375a84bfb76"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-81ae-a909-fafff19c3e1b","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8110-849f-d375a84bfb76"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%5BAvs","type":"checkbox","checkbox":false},"Files":{"id":"jcpF","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881aea909fafff19c3e1b","public_url":null,"request_id":"2eb42e00-0161-4c3c-a8d6-8208d6c6d982"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2eb42e00-0161-4c3c-a8d6-8208d6c6d982
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8110-849f-d375a84bfb76"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Files"}}]}, "Files": {"type": "files", "files": [{"type": "external", "name":
      "image", "external": {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-815c-bff3-ceb4e17e5f09","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8110-849f-d375a84bfb76"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%5BAvs","type":"checkbox","checkbox":false},"Files":{"id":"jcpF","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-21b974f3b388815cbff3ceb4e17e5f09","public_url":null,"request_id":"7d6234a6-a6bf-4341-a5ca-00e5d8a832d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7d6234a6-a6bf-4341-a5ca-00e5d8a832d7
    status_code: 200
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8110-849f-d375a84bfb76/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8105-889f-e8771b687bb5","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8110-849f-d375a84bfb76"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%5BAvs","type":"chec[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8110-849f-d375a84bfb76/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-815c-bff3-ceb4e17e5f09","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8110-849f-d375a84bfb76"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%5BAvs","type":"checkbox","checkbox":false},"Files":{"id":"jcpF","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-21b974f3b388815cbff3ceb4e17e5f09","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"82eeeb2c-fee2-4221-aadd-a96a3e23ec3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82eeeb2c-fee2-4221-aadd-a96a3e23ec3e
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8110-849f-d375a84bfb76/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8105-889f-e8771b687bb5","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8110-849f-d375a84bfb76/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8105-889f-e8771b687bb5","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00[...]
[...]
