interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}, "Multi-Select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Backlog", "color": "gray"}, {"name":
      "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8108-a89d-f7fd54e641be","cover":null,"icon":null,"created_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:30:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"%3Ezrb","name":"Select","description":null,"type":"select","select":{"options":[{"id":"f584213d-28f9-43f4-9a31-18e866adeff6","name":"Backlog","color":"gray","description":null},{"id":"47b9c0c4-a8c6-427c-82e5-aa7ffce93f98","name":"In
      Progress","color":"blue","description":null},{"id":"af9ad3cb-bb94-4d5c-863d-d7071de6ef67","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"vM%5Dy","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"7c0db0d1-547d-49d3-b3fd-c125acd34ef4","name":"Backlog","color":"gray","description":null},{"id":"a7e21aa7-ae7a-49f2-8ac5-f003c67c09e9","name":"In
      Progress","color":"blue","description":null},{"id":"ef244f95-bd2f-4cad-ae87-269ddf70d3c8","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888108a89df7fd54e641be","public_url":null,"archived":false,"in_trash":false,"request_id":"af23da2a-81a6-49f4-a7e8-ca7803604c5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - af23da2a-81a6-49f4-a7e8-ca7803604c5d
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8108-a89d-f7fd54e641be"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81cf-b11c-e89429e455aa","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8108-a89d-f7fd54e641be"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"%3Ezrb","type":"select","select":null},"Multi-Select":{"id":"vM%5Dy","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b38881cfb11ce89429e455aa","public_url":null,"request_id":"db775aab-d552-49cd-b80f-b2f1a30e0728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db775aab-d552-49cd-b80f-b2f1a30e0728
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8108-a89d-f7fd54e641be/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81cf-b11c-e89429e455aa","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8108-a89d-f7fd54e641be"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"%3Ezrb","type":"select","select":null},"Multi-Select":{"id":"vM%5Dy","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b38881cfb11ce89429e455aa","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"fc529848-108b-4bb6-8aad-235aa9b7d5b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc529848-108b-4bb6-8aad-235aa9b7d5b4
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8108-a89d-f7fd54e641be/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81f0-a26d-cc3ac8c5c97d","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8108-a89d-f7fd54e641be/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81a3-a628-e138ba0023c6","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8108-a89d-f7fd54e641be/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81f0-a26d-cc3ac8c5c97d","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8108-a89d-f7fd54e641be/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81a3-a628-e138ba0023c6","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8108-a89d-f7fd54e641be/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81f0-a26d-cc3ac8c5c97d","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:[...]
[...]
