interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Date": {"type": "date", "date": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"63029f7f-81f5-4edd-8554-faa549f090c3","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:59:05.944+00:00","last_edited_time":"2026-06-27T05:59:05.944+00:00","data_sources":[{"id":"65d81861-71ee-432c-90aa-e4b845e1d4c9","name":"Rollup
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/63029f7f81f54edd8554faa549f090c3","public_url":null,"archived":false,"request_id":"2b3f6f5b-37bb-4132-b95d-247347e17550"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2b3f6f5b-37bb-4132-b95d-247347e17550
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9
  response:
    content: '{"object":"data_source","id":"65d81861-71ee-432c-90aa-e4b845e1d4c9","cover":null,"icon":null,"created_time":"2026-06-27T05:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:59:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"%3FKlE","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"IX%3EN","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"63029f7f-81f5-4edd-8554-faa549f090c3"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/63029f7f81f54edd8554faa549f090c3","public_url":null,"in_trash":false,"archived":false,"request_id":"5de073c5-8e76-4d80-ae6a-c1bb6f4f3472"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5de073c5-8e76-4d80-ae6a-c1bb6f4f3472
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"65d81861-71ee-432c-90aa-e4b845e1d4c9","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9
  response:
    content: '{"object":"data_source","id":"65d81861-71ee-432c-90aa-e4b845e1d4c9","cover":null,"icon":null,"created_time":"2026-06-27T05:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "65d81861-71ee-432c-90aa-e4b845e1d4c9"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81b2-981d-dcaa7d5acedf","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"65d81861-71ee-432c-90aa-e4b845e1d4c9","database_id":"63029f7f-81f5-4edd-8554-faa549f090c3"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Rollup
      Number Array":{"id":"%3CuBU","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date Array":{"id":"%3DW%7C_","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Date":{"id":"%3FKlE","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Title":{"id":"BWKM","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"IX%3EN","type":"number","number":42},"Rollup
      Date":{"id":"%5Er%7Do","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Number":{"id":"kN%7D%3E","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Relation":{"id":"wV_s","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-38c9ce7b60a481b2981ddcaa7d5acedf","public_url":null,"archived":false,"request_id":"e871d11f-60b3-490e-9b90-2abce807a0be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e871d11f-60b3-490e-9b90-2abce807a0be
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"65d81861-71ee-432c-90aa-e4b845e1d4c9","database_id":"63029f7f-81f5-4edd-8554-faa549f090c3"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"ob[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"d2aeebca-c0bf-4968-9efb-d29bcf652631"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d2aeebca-c0bf-4968-9efb-d29bcf652631
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"o[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/65d81861-71ee-432c-90aa-e4b845e1d4c9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-90dc-fcd876414fb6","created_time":"2026-06-27T05:59:00.000Z","last_edited_time":"2026-06-27T05:59:00.000Z","created_by":{"object[...]
