interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "properties": {"Name":
      {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}}, "Created":
      {"type": "created_time", "created_time": {}}, "Last Edited": {"type": "last_edited_time",
      "last_edited_time": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-8107-adcc-d5e7ab890f5d","cover":null,"icon":null,"created_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:19:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Created":{"id":"DpjV","name":"Created","description":null,"type":"created_time","created_time":{}},"Last
      Edited":{"id":"nfIl","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Date":{"id":"~%40Ao","name":"Date","description":null,"type":"date","date":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b3888107adccd5e7ab890f5d","public_url":null,"archived":false,"in_trash":false,"request_id":"9355ede2-16d7-4fa5-9b3b-1f2325a97ba0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9355ede2-16d7-4fa5-9b3b-1f2325a97ba0
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-8107-adcc-d5e7ab890f5d"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8136-bfb3-e69d24f6d6ca","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8107-adcc-d5e7ab890f5d"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Created":{"id":"DpjV","type":"created_time","created_time":"2025-09-22T09:19:00.000Z"},"Last
      Edited":{"id":"nfIl","type":"last_edited_time","last_edited_time":"2025-09-22T09:19:00.000Z"},"Date":{"id":"~%40Ao","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-276974f3b3888136bfb3e69d24f6d6ca","public_url":null,"request_id":"a9f861c3-cfd2-42b0-96e2-59eced8ee4a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a9f861c3-cfd2-42b0-96e2-59eced8ee4a3
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-8107-adcc-d5e7ab890f5d"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2025-09-22T11:19:38.600150", "time_zone":
      "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81fd-b736-ed44b0192fdc","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8107-adcc-d5e7ab890f5d"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Created":{"id":"DpjV","type":"created_time","created_time":"2025-09-22T09:19:00.000Z"},"Last
      Edited":{"id":"nfIl","type":"last_edited_time","last_edited_time":"2025-09-22T09:19:00.000Z"},"Date":{"id":"~%40Ao","type":"date","date":{"start":"2025-09-22T11:19:00.000+02:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-276974f3b38881fdb736ed44b0192fdc","public_url":null,"request_id":"873df39a-eced-46df-abac-2e678bbeca4f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 873df39a-eced-46df-abac-2e678bbeca4f
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8136-bfb3-e69d24f6d6ca","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8107-adcc-d5e7ab890f5d"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Created":{"id":"DpjV","type":"created_time","created_time":"2025-09-22T09:19:00.000Z"},"Last
      Edited":{"id":"nfIl","type":"last_edited_time","last_edited_time":"2025-09-22T09:19:00.000Z"},"Date":{"id":"~%40Ao","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-276974f3b3888136bfb3e69d24f6d6ca","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"aac73579-ee77-4d1f-a638-1702917574b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aac73579-ee77-4d1f-a638-1702917574b9
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81d4-87e5-c87f2694d2e6","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-09-22T11:19:38.600150+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81fd-b736-ed44b0192fdc","created_time":"2025-09-22T09:19:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-09-22T11:19:38.600150+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-812b-bd38-cfb4162ecaa8","created_time":"2025-09-22T09:19:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-09-22T11:19:38.600150+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-812b-bd38-cfb4162ecaa8","created_time":"2025-09-22T09:19:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-09-22T11:19:38.600150+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81d4-87e5-c87f2694d2e6","created_time":"2025-09-22T09:19:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-09-22T11:19:38.600150+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81d4-87e5-c87f2694d2e6","created_time":"2025-09-22T09:19:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81fd-b736-ed44b0192fdc","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8147-94ca-feb3ff4afe37","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8154-82ca-d932c02e89fd","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-812b-bd38-cfb4162ecaa8","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-813b-801d-c6cbba30cda8","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81ea-8e7b-d2bc84b1537c","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81d4-87e5-c87f2694d2e6","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-09-22T11:24:38.600150+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81d4-87e5-c87f2694d2e6","created_time":"2025-09-22T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-09-22T11:14:38.600150+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8107-adcc-d5e7ab890f5d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"95fd16f9-eb15-43d9-a197-8698bd264938"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95fd16f9-eb15-43d9-a197-8698bd264938
    status_code: 200
version: 1
