interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Files": {"type": "files", "files":
      {}}, "Checkbox": {"type": "checkbox", "checkbox": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-81f7-ba34-c7e97037b52d","cover":null,"icon":null,"created_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:58:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"RuVT","name":"Files","description":null,"type":"files","files":{}},"Checkbox":{"id":"h%7DsZ","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481f7ba34c7e97037b52d","public_url":null,"in_trash":false,"archived":false,"request_id":"a20770dc-2b65-466c-bf2b-ddeec7b4311d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a20770dc-2b65-466c-bf2b-ddeec7b4311d
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-81f7-ba34-c7e97037b52d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81b3-b72f-deef2143d9dd","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81f7-ba34-c7e97037b52d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Files":{"id":"RuVT","type":"files","files":[]},"Checkbox":{"id":"h%7DsZ","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481b3b72fdeef2143d9dd","public_url":null,"archived":false,"request_id":"89f5971d-3d3c-4a52-8f9a-6c0507d00d6f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 89f5971d-3d3c-4a52-8f9a-6c0507d00d6f
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-81f7-ba34-c7e97037b52d"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-810a-949e-d00bf2d4d882","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81f7-ba34-c7e97037b52d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e4-ab0d-f4ee208e0df5","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81f7-ba34-c7e97037b52d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Files":{"id":"Ru[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81f7-ba34-c7e97037b52d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-810a-949e-d00bf2d4d882","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81f7-ba34-c7e97037b52d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Files":{"id":"RuVT","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Checkbox":{"id":"h%7DsZ","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-38c9ce7b60a4810a949ed00bf2d4d882","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"40f7f59e-8b57-44a6-a038-26d89cf26c76"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40f7f59e-8b57-44a6-a038-26d89cf26c76
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81f7-ba34-c7e97037b52d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e4-ab0d-f4ee208e0df5","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81f7-ba34-c7e97037b52d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e4-ab0d-f4ee208e0df5","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00[...]
[...]
