interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Files": {"type": "files", "files":
      {}}, "Checkbox": {"type": "checkbox", "checkbox": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81f2-9533-fade20ad9930","cover":null,"icon":null,"created_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:07:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"Gg%3A%7C","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Files":{"id":"sC%3Cm","name":"Files","description":null,"type":"files","files":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881f29533fade20ad9930","public_url":null,"archived":false,"in_trash":false,"request_id":"143f3249-3142-45e6-a690-36fdf04b2f7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 143f3249-3142-45e6-a690-36fdf04b2f7b
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81f2-9533-fade20ad9930"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81bf-ae48-c4028d12a95c","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81f2-9533-fade20ad9930"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Checkbox":{"id":"Gg%3A%7C","type":"checkbox","checkbox":false},"Files":{"id":"sC%3Cm","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b38881bfae48c4028d12a95c","public_url":null,"request_id":"c11a6ee0-310c-4897-a2ef-9f75f5b204fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c11a6ee0-310c-4897-a2ef-9f75f5b204fe
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81f2-9533-fade20ad9930"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-815c-ace8-f6661642472b","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81f2-9533-fade20ad9930/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81dd-a918-cdc126ef0090","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81f2-9533-fade20ad9930"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Checkbox":{"id":"Gg[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81f2-9533-fade20ad9930/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815c-ace8-f6661642472b","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81f2-9533-fade20ad9930"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Checkbox":{"id":"Gg%3A%7C","type":"checkbox","checkbox":false},"Files":{"id":"sC%3Cm","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-277974f3b388815cace8f6661642472b","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"36d594d1-bd51-4048-83a6-ec348b16a7b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 36d594d1-bd51-4048-83a6-ec348b16a7b4
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81f2-9533-fade20ad9930/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81dd-a918-cdc126ef0090","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81f2-9533-fade20ad9930/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81dd-a918-cdc126ef0090","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00[...]
[...]
