interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Number": {"type": "number", "number": {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"431bc4a5-ada9-4a72-89fc-b92dc1118675","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:50:01.575+00:00","last_edited_time":"2026-06-24T18:50:01.575+00:00","data_sources":[{"id":"128829af-5344-483d-9502-e462ba949f90","name":"Number
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/431bc4a5ada94a7289fcb92dc1118675","public_url":null,"archived":false,"request_id":"f0125e13-34e9-41af-9392-f5c2067f7263"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f0125e13-34e9-41af-9392-f5c2067f7263
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90
  response:
    content: '{"object":"data_source","id":"128829af-5344-483d-9502-e462ba949f90","cover":null,"icon":null,"created_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:50:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"_%3DFg","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"431bc4a5-ada9-4a72-89fc-b92dc1118675"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/431bc4a5ada94a7289fcb92dc1118675","public_url":null,"in_trash":false,"archived":false,"request_id":"8534c7df-0576-48e1-aa46-44ac4645fd6f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8534c7df-0576-48e1-aa46-44ac4645fd6f
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "128829af-5344-483d-9502-e462ba949f90"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8199-9fb5-c144e473ca90","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"128829af-5344-483d-9502-e462ba949f90","database_id":"431bc4a5-ada9-4a72-89fc-b92dc1118675"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"_%3DFg","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481999fb5c144e473ca90","public_url":null,"archived":false,"request_id":"0597229e-dd4c-4982-814d-d0941042d732"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0597229e-dd4c-4982-814d-d0941042d732
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8199-9fb5-c144e473ca90","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"128829af-5344-483d-9502-e462ba949f90","database_id":"431bc4a5-ada9-4a72-89fc-b92dc1118675"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"_%3DFg","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481999fb5c144e473ca90","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"e6849add-5c60-44d9-abdc-b832084bc30d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e6849add-5c60-44d9-abdc-b832084bc30d
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8172-9557-d3193802bb39","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8172-9557-d3193802bb39","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.0[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81ed-8206-cf011aa9688c","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.0[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8172-9557-d3193802bb39","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.00[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8172-9557-d3193802bb39","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.00[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81ed-8206-cf011aa9688c","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.0[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/128829af-5344-483d-9502-e462ba949f90/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8172-9557-d3193802bb39","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.0[...]
