interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "People": {"type": "people",
      "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-8111-98fa-cdd7946f3624","cover":null,"icon":null,"created_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:20:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"_fCY","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b388811198facdd7946f3624","public_url":null,"archived":false,"in_trash":false,"request_id":"8b40c0c4-e03e-4781-98f8-8420ebae0e92"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8b40c0c4-e03e-4781-98f8-8420ebae0e92
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"276974f3-b388-8111-98fa-cdd7946f3624","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-8111-98fa-cdd7946f3624
  response:
    content: '{"object":"database","id":"276974f3-b388-8111-98fa-cdd7946f3624","cover":null,"icon":null,"created_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:20:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"RTID","name":"Relation","description":null,"type":"relation","relation":{"database_id":"276974f3-b388-8111-98fa-cdd7946f3624","data_source_id":"276974f3-b388-8168-87da-000b333fa5cf","type":"single_property","single_property":{}}},"People":{"id":"_fCY","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b388811198facdd7946f3624","public_url":null,"archived":false,"in_trash":false,"request_id":"a7c56bc9-04d1-4977-86aa-3b62ed7651d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a7c56bc9-04d1-4977-86aa-3b62ed7651d1
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-8111-98fa-cdd7946f3624"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81eb-86da-d36f13f13fe0","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8111-98fa-cdd7946f3624"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"RTID","type":"relation","relation":[],"has_more":false},"People":{"id":"_fCY","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b38881eb86dad36f13f13fe0","public_url":null,"request_id":"8b161d04-e9d3-4f5f-a3f4-4558e363fe74"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8b161d04-e9d3-4f5f-a3f4-4558e363fe74
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-8111-98fa-cdd7946f3624"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Florian"}}]},
      "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object":
      "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81f8-91a4-cd1397308825","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8111-98fa-cdd7946f3624"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"RTID","type":"relation","relation":[],"has_more":false},"People":{"id":"_fCY","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-276974f3b38881f891a4cd1397308825","public_url":null,"request_id":"08292e55-d1f1-4ff5-a72f-4ccd7f4f09d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 08292e55-d1f1-4ff5-a72f-4ccd7f4f09d1
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8111-98fa-cdd7946f3624/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81be-9d81-e298f14d8f14","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8111-98fa-cdd7946f3624"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"RT[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8111-98fa-cdd7946f3624/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81f8-91a4-cd1397308825","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8111-98fa-cdd7946f3624/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81f8-91a4-cd1397308825","created_time":"2025-09-22T09:20:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8111-98fa-cdd7946f3624/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81be-9d81-e298f14d8f14","created_time":"2025-09-22T09:20:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8111-98fa-cdd7946f3624/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81be-9d81-e298f14d8f14","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8111-98fa-cdd7946f3624"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"RTID","type":"relation","relation":[{"id":"276974f3-b388-81f8-91a4-cd1397308825"}],"has_more":false},"People":{"id":"_fCY","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-276974f3b38881be9d81e298f14d8f14","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"d35911ae-aee0-48d7-9456-92d13344f3c0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d35911ae-aee0-48d7-9456-92d13344f3c0
    status_code: 200
[...]
