interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Number Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Number": {"type": "number",
      "number": {"format": "number"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8130-bd9c-dfd1ae7fbae4","cover":null,"icon":null,"created_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:15:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"%40ZA~","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b3888130bd9cdfd1ae7fbae4","public_url":null,"archived":false,"in_trash":false,"request_id":"095b609f-391c-4fc4-b597-d71e46642b81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 095b609f-391c-4fc4-b597-d71e46642b81
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-8130-bd9c-dfd1ae7fbae4"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-81c6-8357-e6f8c9bf40f9","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-8130-bd9c-dfd1ae7fbae4"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"%40ZA~","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b38881c68357e6f8c9bf40f9","public_url":null,"request_id":"252e0403-dd25-4d2e-80b8-9e2c13a59812"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 252e0403-dd25-4d2e-80b8-9e2c13a59812
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81c6-8357-e6f8c9bf40f9","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-8130-bd9c-dfd1ae7fbae4"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"%40ZA~","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b38881c68357e6f8c9bf40f9","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e0d860d2-4bd5-491f-920b-9bcfff287cab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e0d860d2-4bd5-491f-920b-9bcfff287cab
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8108-9722-d3deed222ec9","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8108-9722-d3deed222ec9","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8121-8431-dc33563cb255","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8108-9722-d3deed222ec9","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8108-9722-d3deed222ec9","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8121-8431-dc33563cb255","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8130-bd9c-dfd1ae7fbae4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8108-9722-d3deed222ec9","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z[...]
