interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Text Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Name": {"type": "rich_text",
      "rich_text": {}}, "Phone": {"type": "phone_number", "phone_number": {}}, "Email":
      {"type": "email", "email": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-811a-86c2-cb274401659b","cover":null,"icon":null,"created_time":"2024-12-10T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:55:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Phone":{"id":"%3DC%40a","name":"Phone","type":"phone_number","phone_number":{}},"Email":{"id":"Fatb","name":"Email","type":"email","email":{}},"Name":{"id":"_%7DJb","name":"Name","type":"rich_text","rich_text":{}},"URL":{"id":"buuw","name":"URL","type":"url","url":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b388811a86c2cb274401659b","public_url":null,"archived":false,"in_trash":false,"request_id":"03079660-7fac-4cf2-972a-f73356707f3d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03079660-7fac-4cf2-972a-f73356707f3d
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-811a-86c2-cb274401659b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81d7-909d-dcb3bc8fba1f","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-811a-86c2-cb274401659b"},"archived":false,"in_trash":false,"properties":{"Phone":{"id":"%3DC%40a","type":"phone_number","phone_number":null},"Email":{"id":"Fatb","type":"email","email":null},"Name":{"id":"_%7DJb","type":"rich_text","rich_text":[]},"URL":{"id":"buuw","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b38881d7909ddcb3bc8fba1f","public_url":null,"request_id":"98876af1-6be7-48b4-8852-20dafc304e44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 98876af1-6be7-48b4-8852-20dafc304e44
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81d7-909d-dcb3bc8fba1f","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-811a-86c2-cb274401659b"},"archived":false,"in_trash":false,"properties":{"Phone":{"id":"%3DC%40a","type":"phone_number","phone_number":null},"Email":{"id":"Fatb","type":"email","email":null},"Name":{"id":"_%7DJb","type":"rich_text","rich_text":[]},"URL":{"id":"buuw","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b38881d7909ddcb3bc8fba1f","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"f390377a-1af5-4554-a660-8b4bbdb6b9f7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f390377a-1af5-4554-a660-8b4bbdb6b9f7
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8177-b3cd-dadf224bef0b","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"59215f9d-22ef-45e0-ab7d-b21f1ccd76f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 59215f9d-22ef-45e0-ab7d-b21f1ccd76f1
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8177-b3cd-dadf224bef0b","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"186d0705-55b9-4c45-bb78-2363fb157bf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 186d0705-55b9-4c45-bb78-2363fb157bf8
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8177-b3cd-dadf224bef0b","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8181-93b7-cada09e61b0e","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3c0bc6e6-a4d9-4a1c-b9bc-af4010a61ddb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c0bc6e6-a4d9-4a1c-b9bc-af4010a61ddb
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-811a-86c2-cb274401659b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"613be47d-2712-40e1-aafb-efecf368da15"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 613be47d-2712-40e1-aafb-efecf368da15
    status_code: 200
version: 1
