interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "People": {"type": "people",
      "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8109-b957-d5d507640604","cover":null,"icon":null,"created_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:59:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"tjQE","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888109b957d5d507640604","public_url":null,"archived":false,"in_trash":false,"request_id":"d62e8be5-ae74-4dcb-abac-b9dc14777390"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d62e8be5-ae74-4dcb-abac-b9dc14777390
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"263974f3-b388-8109-b957-d5d507640604","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-8109-b957-d5d507640604
  response:
    content: '{"object":"database","id":"263974f3-b388-8109-b957-d5d507640604","cover":null,"icon":null,"created_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:59:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"E%3EfK","name":"Relation","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-8109-b957-d5d507640604","data_source_id":"263974f3-b388-81cb-a408-000bd6ac28bf","type":"single_property","single_property":{}}},"People":{"id":"tjQE","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888109b957d5d507640604","public_url":null,"archived":false,"in_trash":false,"request_id":"8ec8625e-c9f1-4d68-83bd-723c59886cb0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ec8625e-c9f1-4d68-83bd-723c59886cb0
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8109-b957-d5d507640604"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-8135-a499-f4d5434ed378","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8109-b957-d5d507640604"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"E%3EfK","type":"relation","relation":[],"has_more":false},"People":{"id":"tjQE","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b3888135a499f4d5434ed378","public_url":null,"request_id":"d1024ae8-0c70-45f4-9e13-20c9b46cefc8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d1024ae8-0c70-45f4-9e13-20c9b46cefc8
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8109-b957-d5d507640604"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Florian"}}]},
      "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object":
      "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-8120-8e04-fba1c61ffe8d","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8109-b957-d5d507640604"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"E%3EfK","type":"relation","relation":[],"has_more":false},"People":{"id":"tjQE","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-263974f3b38881208e04fba1c61ffe8d","public_url":null,"request_id":"45696ad7-cfb9-4b40-a32e-22ffeab22188"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 45696ad7-cfb9-4b40-a32e-22ffeab22188
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8109-b957-d5d507640604/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8193-a71e-f0faba6ddacb","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8109-b957-d5d507640604"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"E%3EfK","type":"rela[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8109-b957-d5d507640604/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8120-8e04-fba1c61ffe8d","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8109-b957-d5d507640604/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8120-8e04-fba1c61ffe8d","created_time":"2025-09-03T13:59:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8109-b957-d5d507640604/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8193-a71e-f0faba6ddacb","created_time":"2025-09-03T13:59:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8109-b957-d5d507640604/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8193-a71e-f0faba6ddacb","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8109-b957-d5d507640604"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"E%3EfK","type":"relation","relation":[{"id":"263974f3-b388-8120-8e04-fba1c61ffe8d"}],"has_more":false},"People":{"id":"tjQE","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-263974f3b3888193a71ef0faba6ddacb","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ee48bf69-48ba-4daa-8b92-5cd896dfad89"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee48bf69-48ba-4daa-8b92-5cd896dfad89
    status_code: 200
[...]
