interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","database_id":"00000000-0000-4000-8000-00000000000d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date
      Source":{"id":"CNpy","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Tags":{"id":"DUnB","type":"multi_select","multi_select":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink"}]},"Date":{"id":"%5Ckxk","type":"formula","formula":{"type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}}},"String":{"id":"dvYQ","type":"formula","formula":{"type":"string","string":"Item
      2"}},"Checkbox":{"id":"hlGb","type":"formula","formula":{"type":"boolean","boolean":false}},"Number":{"id":"x%40zJ","type":"formula","formula":{"type":"number","number":1}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}]}},"url":"https://www.notion.so/Item-2-38a9ce7b60a481ddabb6c3f4cee35e22","public_url":null,"archived":false},{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","database_id":"00000000-0000-4000-8000-00000000000d"},"in_trash":false,"is_[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86
  response:
    content: '{"object":"data_source","id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","cover":null,"icon":null,"created_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_time":"2026-06-25T16:54:00.000Z","title":[{"type":"text","text":{"content":"Formula
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Formula
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Date Source":{"id":"CNpy","name":"Date
      Source","description":null,"type":"date","date":{}},"Tags":{"id":"DUnB","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink","description":null},{"id":"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29","name":"Done","color":"gray","description":null}]}},"Date":{"id":"%5Ckxk","name":"Date","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}"}},"String":{"id":"dvYQ","name":"String","description":null,"type":"formula","formula":{"expression":"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})"}},"Checkbox":{"id":"hlGb","name":"Checkbox","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.includes(\"Done\")"}},"Number":{"id":"x%40zJ","name":"Number","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.length()"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"00000000-0000-4000-8000-00000000000d"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/0000000000004000800000000000000d","public_url":null,"in_trash":false,"archived":false,"request_id":"5f052405-61e3-4d43-b79e-3fd9ef531fe6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f052405-61e3-4d43-b79e-3fd9ef531fe6
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"string": {"equals": "Item 1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00.000Z","created_by"[...]
[...]
- request:
    body: '{"filter": {"formula": {"checkbox": {"equals": true}}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"contains": "1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"starts_with": "Item"}}, "property":
      "String"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"is_empty": true}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"083b89ea-07d0-4128-a6eb-6d42ff177d07"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 083b89ea-07d0-4128-a6eb-6d42ff177d07
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"number": {"less_than_or_equal_to": 42}}, "property":
      "Number"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08:00.[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"on_or_after": "2024-11-23"}}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T1[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"next_week": {}}}, "property": "Date"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"632d54b0-9c13-45b4-9a39-d1dd3afba67f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 632d54b0-9c13-45b4-9a39-d1dd3afba67f
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Empty Formula DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Empty Formula DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Title\")"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6b96d46d-b8d5-4342-bfc8-95055aea08ef","title":[{"type":"text","text":{"content":"Empty
      Formula DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Empty
      Formula DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:59:04.119+00:00","last_edited_time":"2026-06-27T05:59:04.119+00:00","data_sources":[{"id":"75ef234f-2c1c-4ea4-adc9-968d18ace1b6","name":"Empty
      Formula DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/6b96d46db8d54342bfc895055aea08ef","public_url":null,"archived":false,"request_id":"18d7dd38-4f66-4234-a7a4-753731dfaaa8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 18d7dd38-4f66-4234-a7a4-753731dfaaa8
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/75ef234f-2c1c-4ea4-adc9-968d18ace1b6/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"df302326-98a1-48fc-86e0-09d9178b9128"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df302326-98a1-48fc-86e0-09d9178b9128
    status_code: 200
version: 1
