interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Files": {"type": "files", "files":
      {}}, "Checkbox": {"type": "checkbox", "checkbox": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81d1-a897-c40032b4865b","cover":null,"icon":null,"created_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:20:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"ev%3ER","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Files":{"id":"veVe","name":"Files","description":null,"type":"files","files":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881d1a897c40032b4865b","public_url":null,"archived":false,"in_trash":false,"request_id":"09d056a2-ac00-443b-bcec-bd2c89143975"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 09d056a2-ac00-443b-bcec-bd2c89143975
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81d1-a897-c40032b4865b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81a5-83df-c7026d378117","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81d1-a897-c40032b4865b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Checkbox":{"id":"ev%3ER","type":"checkbox","checkbox":false},"Files":{"id":"veVe","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b38881a583dfc7026d378117","public_url":null,"request_id":"3b386369-a55a-4687-ba8c-1de4dbafa6ca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3b386369-a55a-4687-ba8c-1de4dbafa6ca
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81d1-a897-c40032b4865b"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8105-83b5-f5cce8982470","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81d1-a897-c40032b4865b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81df-844b-e264ce4e78a3","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81d1-a897-c40032b4865b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Checkbox":{"id":"ev[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81d1-a897-c40032b4865b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8105-83b5-f5cce8982470","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81d1-a897-c40032b4865b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Checkbox":{"id":"ev%3ER","type":"checkbox","checkbox":false},"Files":{"id":"veVe","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-276974f3b388810583b5f5cce8982470","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"bf57ed17-5fe5-4be6-b516-68da861d2b47"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf57ed17-5fe5-4be6-b516-68da861d2b47
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81d1-a897-c40032b4865b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81df-844b-e264ce4e78a3","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81d1-a897-c40032b4865b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81df-844b-e264ce4e78a3","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00[...]
[...]
