interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Files": {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox",
      "checkbox": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"545f76a8-ffa5-404e-b6bc-ad331dccf836","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:58:34.246+00:00","last_edited_time":"2026-06-27T05:58:34.246+00:00","data_sources":[{"id":"85b436ca-b288-4eab-b685-334de6984d2f","name":"Files
      & Checkbox Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/545f76a8ffa5404eb6bcad331dccf836","public_url":null,"archived":false,"request_id":"f39a1021-4964-4e2e-a3d6-00923bedb7a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f39a1021-4964-4e2e-a3d6-00923bedb7a0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/85b436ca-b288-4eab-b685-334de6984d2f
  response:
    content: '{"object":"data_source","id":"85b436ca-b288-4eab-b685-334de6984d2f","cover":null,"icon":null,"created_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:58:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"%5C%5DxN","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Files":{"id":"%5EvYA","name":"Files","description":null,"type":"files","files":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"545f76a8-ffa5-404e-b6bc-ad331dccf836"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/545f76a8ffa5404eb6bcad331dccf836","public_url":null,"in_trash":false,"archived":false,"request_id":"c230993e-6985-4189-beef-56d9e8818c7a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c230993e-6985-4189-beef-56d9e8818c7a
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "85b436ca-b288-4eab-b685-334de6984d2f"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8165-9ccd-f9e1c133b14c","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"85b436ca-b288-4eab-b685-334de6984d2f","database_id":"545f76a8-ffa5-404e-b6bc-ad331dccf836"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Checkbox":{"id":"%5C%5DxN","type":"checkbox","checkbox":false},"Files":{"id":"%5EvYA","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481659ccdf9e1c133b14c","public_url":null,"archived":false,"request_id":"32cd6baa-9fbf-4626-94ef-1086c3d581cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 32cd6baa-9fbf-4626-94ef-1086c3d581cf
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "85b436ca-b288-4eab-b685-334de6984d2f"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f6-8c5d-d40de1b5f93f","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/85b436ca-b288-4eab-b685-334de6984d2f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f9-80c6-fbcf9c59465c","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"85b436ca-b288-4eab-b685-334de6984d2f","database_id":"545f76a8-ffa5-404e-b6bc-ad331dccf836"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/85b436ca-b288-4eab-b685-334de6984d2f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f6-8c5d-d40de1b5f93f","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"85b436ca-b288-4eab-b685-334de6984d2f","database_id":"545f76a8-ffa5-404e-b6bc-ad331dccf836"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Checkbox":{"id":"%5C%5DxN","type":"checkbox","checkbox":false},"Files":{"id":"%5EvYA","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-38c9ce7b60a481f68c5dd40de1b5f93f","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"a6b19f52-3887-46f2-b984-7f3d0fa45b5e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a6b19f52-3887-46f2-b984-7f3d0fa45b5e
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/85b436ca-b288-4eab-b685-334de6984d2f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f9-80c6-fbcf9c59465c","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/85b436ca-b288-4eab-b685-334de6984d2f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f9-80c6-fbcf9c59465c","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58[...]
[...]
