interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}},
      "Number": {"type": "number", "number": {"format": "number"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8178-993a-eea734e5957d","cover":null,"icon":null,"created_time":"2025-08-29T13:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:31:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"ESLp","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"lJHW","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888178993aeea734e5957d","public_url":null,"archived":false,"in_trash":false,"request_id":"4356b5eb-3ee6-4346-97cc-e68b5ca93384"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4356b5eb-3ee6-4346-97cc-e68b5ca93384
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"25e974f3-b388-8178-993a-eea734e5957d","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d
  response:
    content: '{"object":"database","id":"25e974f3-b388-8178-993a-eea734e5957d","cover":null,"icon":null,"created_time":"2025-08-29T13:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:31:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"CQFk","name":"Relation","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-8178-993a-eea734e5957d","data_source_id":"25e974f3-b388-81c9-898a-000b756f0c04","type":"single_property","single_property":{}}},"Date":{"id":"ESLp","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"lJHW","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888178993aeea734e5957d","public_url":null,"archived":false,"in_trash":false,"request_id":"e7de7ce9-6db0-4a95-b6c5-c128121405e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e7de7ce9-6db0-4a95-b6c5-c128121405e3
    status_code: 200
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8178-993a-eea734e5957d"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-8108-9d3e-e30b4f39cce5","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8178-993a-eea734e5957d"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"CQFk","type":"relation","relation":[],"has_more":false},"Date":{"id":"ESLp","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Date":{"id":"FotF","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Number Array":{"id":"dUHL","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number":{"id":"fC%3Es","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Number":{"id":"lJHW","type":"number","number":42},"Rollup
      Date Array":{"id":"ul%3Dd","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Title":{"id":"vrWR","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-25e974f3b38881089d3ee30b4f39cce5","public_url":null,"request_id":"4ec2a714-df82-4b19-9dc0-738505eb62e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4ec2a714-df82-4b19-9dc0-738505eb62e3
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8178-993a-eea734e5957d"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"CQFk","type":"relati[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"5009c766-b302-40f8-9cd6-a5ab5865aa23"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5009c766-b302-40f8-9cd6-a5ab5865aa23
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8178-993a-eea734e5957d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81de-8fb5-f42e32e865c6","created_time":"2025-08-29T13:31:00.000Z","last_edited_time":"2025-08-29T13:31:00.000Z","created_by":{"object":"[...]
