interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Date Query DB Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Created": {"type": "created_time", "created_time": {}}, "Last
      Edited": {"type": "last_edited_time", "last_edited_time": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8105-ac5e-e28f95136460","cover":null,"icon":null,"created_time":"2025-06-23T13:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:36:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"Vu%7CO","name":"Date","type":"date","date":{}},"Created":{"id":"%5C%7Bp%5D","name":"Created","type":"created_time","created_time":{}},"Last
      Edited":{"id":"oaa%5B","name":"Last Edited","type":"last_edited_time","last_edited_time":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b3888105ac5ee28f95136460","public_url":null,"archived":false,"in_trash":false,"request_id":"752efafb-1e8f-46aa-ac76-dc62535c2f85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 752efafb-1e8f-46aa-ac76-dc62535c2f85
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8105-ac5e-e28f95136460"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://ap[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8105-ac5e-e28f95136460"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "this week"}}]}, "Date": {"type": "date", "date": {"start": "2025-06-23T15:36:02.939859",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-810e-9153-dd051989b28a","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8105-ac5e-e28f95136460"},"archived":false,"in_trash":false,"properties":{"Date":{"id":"Vu%7CO","type":"date","date":{"start":"2025-06-23T15:36:00.000+02:00","end":null,"time_zone":null}},"Created":{"id":"%5C%7Bp%5D","type":"created_time","created_time":"2025-06-23T13:36:00.000Z"},"Last
      Edited":{"id":"oaa%5B","type":"last_edited_time","last_edited_time":"2025-06-23T13:36:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-21b974f3b388810e9153dd051989b28a","public_url":null,"request_id":"a25141c7-7531-4a96-a4b9-56a10fd46062"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a25141c7-7531-4a96-a4b9-56a10fd46062
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-810c-a50f-dafdf436008d","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8105-ac5e-e28f95136460"},"archived":false,"in_trash":false,"properties":{"Date":{"id":"Vu%7CO","type":"date","date":null},"Created":{"id":"%5C%7Bp%5D","type":"created_time","created_time":"2025-06-23T13:36:00.000Z"},"Last
      Edited":{"id":"oaa%5B","type":"last_edited_time","last_edited_time":"2025-06-23T13:36:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-21b974f3b388810ca50fdafdf436008d","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ac74bf37-e0a5-4018-a027-f107e8fb3c23"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ac74bf37-e0a5-4018-a027-f107e8fb3c23
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8157-80b3-f075fab601be","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-06-23T15:36:02.939859+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-810e-9153-dd051989b28a","created_time":"2025-06-23T13:36:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-06-23T15:36:02.939859+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8180-80af-c2af739cee80","created_time":"2025-06-23T13:36:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-06-23T15:36:02.939859+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8180-80af-c2af739cee80","created_time":"2025-06-23T13:36:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-06-23T15:36:02.939859+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8157-80b3-f075fab601be","created_time":"2025-06-23T13:36:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-06-23T15:36:02.939859+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8157-80b3-f075fab601be","created_time":"2025-06-23T13:36:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-810e-9153-dd051989b28a","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81bf-b770-c3467f7153b4","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8103-882f-f5593908d8bc","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8180-80af-c2af739cee80","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81e3-8d4b-e23090741530","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-812b-b62c-f436366df320","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8157-80b3-f075fab601be","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-06-23T15:41:02.939859+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8157-80b3-f075fab601be","created_time":"2025-06-23T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-06-23T15:31:02.939859+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8105-ac5e-e28f95136460/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"753f80a7-0e95-4048-a915-5ea4578c95a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 753f80a7-0e95-4048-a915-5ea4578c95a1
    status_code: 200
version: 1
