interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Rollup Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Number": {"type": "number", "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-8148-b345-d9ac5bcf405c","cover":null,"icon":null,"created_time":"2025-01-05T14:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:26:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"RBsn","name":"Date","type":"date","date":{}},"Number":{"id":"y%5CyK","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b3888148b345d9ac5bcf405c","public_url":null,"archived":false,"in_trash":false,"request_id":"c15bfbf2-81c2-494b-b4cf-6661bbde8b36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c15bfbf2-81c2-494b-b4cf-6661bbde8b36
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "172974f3-b388-8148-b345-d9ac5bcf405c", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c
  response:
    content: '{"object":"database","id":"172974f3-b388-8148-b345-d9ac5bcf405c","cover":null,"icon":null,"created_time":"2025-01-05T14:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"properties": {"Rollup Title": {"type": "rollup", "rollup": {"function":
      "show_original", "relation_property_name": "Relation", "rollup_property_name":
      "Title"}}, "Rollup Date": {"type": "rollup", "rollup": {"function": "earliest_date",
      "relation_property_name": "Relation", "rollup_property_name": "Date"}}, "Rollup
      Date Array": {"type": "rollup", "rollup": {"function": "show_original", "relation_property_name":
      "Relation", "rollup_property_name": "Date"}}, "Rollup Number": {"type": "rollup",
      "rollup": {"function": "max", "relation_property_name": "Relation", "rollup_property_name":
      "Number"}}, "Rollup Number[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-8148-b345-d9ac5bcf405c"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}, "Number": {"type": "number", "number": 42}, "Date": {"type": "date",
      "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-8175-a0d6-e2c1b7d5e98b","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-8148-b345-d9ac5bcf405c"},"archived":false,"in_trash":false,"properties":{"Rollup
      Date Array":{"id":"CoSX","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Date":{"id":"RBsn","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Date":{"id":"T%5C%7DC","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Relation":{"id":"ZOMu","type":"relation","relation":[],"has_more":false},"Rollup
      Number Array":{"id":"fDPB","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Title":{"id":"kHS%7B","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number":{"id":"m%3Eaf","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Number":{"id":"y%5CyK","type":"number","number":42},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-172974f3b3888175a0d6e2c1b7d5e98b","public_url":null,"request_id":"76e05e55-7a9d-4017-9137-28d066929181"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 76e05e55-7a9d-4017-9137-28d066929181
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-8148-b345-d9ac5bcf405c"},"archived":false,"in_trash":false,"properties":{"Rollup
      Date Array":{"id":"CoSX"[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"7a7694d5-2f16-4a3c-bad6-cc92bc4132b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7a7694d5-2f16-4a3c-bad6-cc92bc4132b9
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8148-b345-d9ac5bcf405c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8118-8621-c6578b0e7f2e","created_time":"2025-01-05T14:26:00.000Z","last_edited_time":"2025-01-05T14:26:00.000Z","created_by":{"object":"[...]
