interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Date": {"type": "date", "date": {}}, "Created": {"type": "created_time", "created_time":
      {}}, "Last Edited": {"type": "last_edited_time", "last_edited_time": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1dbc1f76-cfda-4236-bd6a-d973149aba7b","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:33:20.125+00:00","last_edited_time":"2026-06-24T16:33:20.125+00:00","data_sources":[{"id":"b746280c-55f2-4aa4-8c79-efb013096a52","name":"Date
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/1dbc1f76cfda4236bd6ad973149aba7b","public_url":null,"archived":false,"request_id":"92661425-153e-4738-9b17-fb9fd5f5078a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 92661425-153e-4738-9b17-fb9fd5f5078a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52
  response:
    content: '{"object":"data_source","id":"b746280c-55f2-4aa4-8c79-efb013096a52","cover":null,"icon":null,"created_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:33:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Last
      Edited":{"id":"%3EiQm","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Date":{"id":"%5D%7Clg","name":"Date","description":null,"type":"date","date":{}},"Created":{"id":"f%3CS%5B","name":"Created","description":null,"type":"created_time","created_time":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"1dbc1f76-cfda-4236-bd6a-d973149aba7b"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/1dbc1f76cfda4236bd6ad973149aba7b","public_url":null,"in_trash":false,"archived":false,"request_id":"c53fcbcd-3fba-4ce2-abd9-0d5c013453bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c53fcbcd-3fba-4ce2-abd9-0d5c013453bb
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "b746280c-55f2-4aa4-8c79-efb013096a52"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8126-99c1-c1fd9f0b8847","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"b746280c-55f2-4aa4-8c79-efb013096a52","database_id":"1dbc1f76-cfda-4236-bd6a-d973149aba7b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Last
      Edited":{"id":"%3EiQm","type":"last_edited_time","last_edited_time":"2026-06-24T16:33:00.000Z"},"Date":{"id":"%5D%7Clg","type":"date","date":null},"Created":{"id":"f%3CS%5B","type":"created_time","created_time":"2026-06-24T16:33:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://app.notion.com/p/no_date-3899ce7b60a4812699c1c1fd9f0b8847","public_url":null,"archived":false,"request_id":"d9743289-0791-47ce-a1cf-9dee9c237868"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d9743289-0791-47ce-a1cf-9dee9c237868
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "b746280c-55f2-4aa4-8c79-efb013096a52"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2026-06-24T17:33:21.134864", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b4-ae8b-ff344c7056f8","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"b746280c-55f2-4aa4-8c79-efb013096a52","database_id":"1dbc1f76-cfda-4236-bd6a-d973149aba7b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Last
      Edited":{"id":"%3EiQm","type":"last_edited_time","last_edited_time":"2026-06-24T16:33:00.000Z"},"Date":{"id":"%5D%7Clg","type":"date","date":{"start":"2026-06-24T17:33:00.000+01:00","end":null,"time_zone":null}},"Created":{"id":"f%3CS%5B","type":"created_time","created_time":"2026-06-24T16:33:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://app.notion.com/p/this-week-3899ce7b60a481b4ae8bff344c7056f8","public_url":null,"archived":false,"request_id":"6e855092-5dc7-4fb8-b4ab-4f1ace5057d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e855092-5dc7-4fb8-b4ab-4f1ace5057d8
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8126-99c1-c1fd9f0b8847","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"b746280c-55f2-4aa4-8c79-efb013096a52","database_id":"1dbc1f76-cfda-4236-bd6a-d973149aba7b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Last
      Edited":{"id":"%3EiQm","type":"last_edited_time","last_edited_time":"2026-06-24T16:33:00.000Z"},"Date":{"id":"%5D%7Clg","type":"date","date":null},"Created":{"id":"f%3CS%5B","type":"created_time","created_time":"2026-06-24T16:33:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://app.notion.com/p/no_date-3899ce7b60a4812699c1c1fd9f0b8847","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"359aea11-c621-4085-8469-926a1edb0d84"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 359aea11-c621-4085-8469-926a1edb0d84
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81a9-87ff-f94c0917f016","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.0[...]
- request:
    body: '{"filter": {"date": {"equals": "2026-06-24T17:33:21.134864+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81b4-ae8b-ff344c7056f8","created_time":"2026-06-24T16:33:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"before": "2026-06-24T17:33:21.134864+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81f6-8061-c06a02932401","created_time":"2026-06-24T16:33:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2026-06-24T17:33:21.134864+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81f6-8061-c06a02932401","created_time":"2026-06-24T16:33:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"after": "2026-06-24T17:33:21.134864+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81a9-87ff-f94c0917f016","created_time":"2026-06-24T16:33:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2026-06-24T17:33:21.134864+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81a9-87ff-f94c0917f016","created_time":"2026-06-24T16:33:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81b4-ae8b-ff344c7056f8","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81ac-ae76-f149052168da","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81dc-8791-ffcf840aaf96","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81f6-8061-c06a02932401","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8157-9a1b-f56a12a84f60","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81ae-a6b1-d2b440f58f0e","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81a9-87ff-f94c0917f016","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2026-06-24T17:38:21.134864+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81a9-87ff-f94c0917f016","created_time":"2026-06-[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2026-06-24T17:28:21.134864+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b746280c-55f2-4aa4-8c79-efb013096a52/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"8cb27772-7428-4be8-8832-e004c048a16d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8cb27772-7428-4be8-8832-e004c048a16d
    status_code: 200
version: 1
