interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "People": {"type": "people",
      "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a","cover":null,"icon":null,"created_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:31:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"N%3CTP","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481e290b4f63b703a5f9a","public_url":null,"in_trash":false,"archived":false,"request_id":"64e4a077-d435-4684-b72f-07a88545546e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 64e4a077-d435-4684-b72f-07a88545546e
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81e2-90b4-f63b703a5f9a
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a","cover":null,"icon":null,"created_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:31:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"%40ZwX","name":"Relation","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a","data_source_id":"38a9ce7b-60a4-8155-ae4e-000bac953fb3","type":"single_property","single_property":{}}},"People":{"id":"N%3CTP","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481e290b4f63b703a5f9a","public_url":null,"in_trash":false,"archived":false,"request_id":"7e755f9a-b519-4358-a029-6a8f80df2db6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e755f9a-b519-4358-a029-6a8f80df2db6
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-81e2-90b4-f63b703a5f9a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8175-891b-e648c29b1fbd","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"%40ZwX","type":"relation","relation":[],"has_more":false},"People":{"id":"N%3CTP","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38a9ce7b60a48175891be648c29b1fbd","public_url":null,"archived":false,"request_id":"1b2317cb-cc21-476d-b632-08900f8d4d51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1b2317cb-cc21-476d-b632-08900f8d4d51
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-81e2-90b4-f63b703a5f9a"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Person", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Person"}}]}, "People":
      {"people": [{"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}],
      "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-816e-a5a4-f29cd111998b","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"%40ZwX","type":"relation","relation":[],"has_more":false},"People":{"id":"N%3CTP","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://www.notion.so/Person-38a9ce7b60a4816ea5a4f29cd111998b","public_url":null,"archived":false,"request_id":"828fbb77-33ad-45b6-bb47-fbfdc424bb0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 828fbb77-33ad-45b6-bb47-fbfdc424bb0a
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81e2-90b4-f63b703a5f9a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81e3-af4e-dd7c5333597d","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81e2-90b4-f63b703a5f9a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-816e-a5a4-f29cd111998b","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81e2-90b4-f63b703a5f9a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"%40ZwX","type":"relation","relation":[],"has_more":false},"People":{"id":"N%3CTP","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://www.notion.so/Person-38a9ce7b60a4816ea5a4f29cd111998b","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6a131bb0-b887-46cb-b8f7-109d05398fbe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a131bb0-b887-46cb-b8f7-109d05398fbe
    status_code: 200
- request:
    body: '{"filter": {"people": {"contains": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81e2-90b4-f63b703a5f9a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-816e-a5a4-f29cd111998b","created_time":"2026-06-25T14:31:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81e2-90b4-f63b703a5f9a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81e3-af4e-dd7c5333597d","created_time":"2026-06-25T14:31:00.000Z","last_ed[...]
[...]
