interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "properties": {"Name":
      {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}}, "Created":
      {"type": "created_time", "created_time": {}}, "Last Edited": {"type": "last_edited_time",
      "last_edited_time": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-815e-bd2f-e6e26f1071e0","cover":null,"icon":null,"created_time":"2025-09-23T10:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:05:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"%3Bd%7B%3E","name":"Date","description":null,"type":"date","date":{}},"Created":{"id":"I%5C%3BA","name":"Created","description":null,"type":"created_time","created_time":{}},"Last
      Edited":{"id":"exE%7B","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b388815ebd2fe6e26f1071e0","public_url":null,"archived":false,"in_trash":false,"request_id":"32d23b32-3bf0-491a-90f8-5dbc29960184"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 32d23b32-3bf0-491a-90f8-5dbc29960184
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-815e-bd2f-e6e26f1071e0"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81aa-ba2a-d6585c76cd41","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-815e-bd2f-e6e26f1071e0"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Date":{"id":"%3Bd%7B%3E","type":"date","date":null},"Created":{"id":"I%5C%3BA","type":"created_time","created_time":"2025-09-23T10:05:00.000Z"},"Last
      Edited":{"id":"exE%7B","type":"last_edited_time","last_edited_time":"2025-09-23T10:05:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-277974f3b38881aaba2ad6585c76cd41","public_url":null,"request_id":"76181898-81ca-48c8-a250-d1875365a4ef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 76181898-81ca-48c8-a250-d1875365a4ef
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-815e-bd2f-e6e26f1071e0"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2025-09-23T12:05:50.289319", "time_zone":
      "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-815b-95f5-c67b7c4e125a","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-815e-bd2f-e6e26f1071e0"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Date":{"id":"%3Bd%7B%3E","type":"date","date":{"start":"2025-09-23T12:05:00.000+02:00","end":null,"time_zone":null}},"Created":{"id":"I%5C%3BA","type":"created_time","created_time":"2025-09-23T10:05:00.000Z"},"Last
      Edited":{"id":"exE%7B","type":"last_edited_time","last_edited_time":"2025-09-23T10:05:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-277974f3b388815b95f5c67b7c4e125a","public_url":null,"request_id":"1f896c40-8e4a-4d96-bfba-0ed70d770f0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f896c40-8e4a-4d96-bfba-0ed70d770f0d
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81aa-ba2a-d6585c76cd41","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-815e-bd2f-e6e26f1071e0"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Date":{"id":"%3Bd%7B%3E","type":"date","date":null},"Created":{"id":"I%5C%3BA","type":"created_time","created_time":"2025-09-23T10:05:00.000Z"},"Last
      Edited":{"id":"exE%7B","type":"last_edited_time","last_edited_time":"2025-09-23T10:05:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-277974f3b38881aaba2ad6585c76cd41","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ba5d6c31-04b2-4a46-b920-79672af69f4e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba5d6c31-04b2-4a46-b920-79672af69f4e
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81bb-8600-c62f628a576c","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-09-23T12:05:50.289319+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815b-95f5-c67b7c4e125a","created_time":"2025-09-23T10:05:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-09-23T12:05:50.289319+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81b9-9d29-ee2fdf66537e","created_time":"2025-09-23T10:05:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-09-23T12:05:50.289319+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81b9-9d29-ee2fdf66537e","created_time":"2025-09-23T10:05:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-09-23T12:05:50.289319+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81bb-8600-c62f628a576c","created_time":"2025-09-23T10:06:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-09-23T12:05:50.289319+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81bb-8600-c62f628a576c","created_time":"2025-09-23T10:06:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815b-95f5-c67b7c4e125a","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81cf-8430-f2ee457c5dfb","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8103-be5d-f0a7a341737b","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81b9-9d29-ee2fdf66537e","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8177-ba15-cdf2f63d06fd","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81b8-8ac6-c6701b915e6e","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81bb-8600-c62f628a576c","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-09-23T12:10:50.289319+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81bb-8600-c62f628a576c","created_time":"2025-09-23T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-09-23T12:00:50.289319+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-815e-bd2f-e6e26f1071e0/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a34fc4ef-7c3a-4d02-8299-e48f5e2065ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a34fc4ef-7c3a-4d02-8299-e48f5e2065ed
    status_code: 200
version: 1
