interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Title": {"type":
      "title", "title": {}}, "People": {"type": "people", "people": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"462f94f8-4f1c-4af0-8172-6e411f977c1b","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:02:11.234+00:00","last_edited_time":"2026-06-27T17:02:11.234+00:00","data_sources":[{"id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","name":"People
      & Relation Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/462f94f84f1c4af081726e411f977c1b","public_url":null,"request_id":"31f355b0-5ca4-41e0-b619-82a2ce76a83c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31f355b0-5ca4-41e0-b619-82a2ce76a83c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e2a10e53-a967-4f6b-8d1d-ce026ddc190d
  response:
    content: '{"object":"data_source","id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","cover":null,"icon":null,"created_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:02:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"YIRU","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"462f94f8-4f1c-4af0-8172-6e411f977c1b"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/462f94f84f1c4af081726e411f977c1b","public_url":null,"in_trash":false,"request_id":"94749e3a-54d2-4a17-9391-d1d47f94e640"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 94749e3a-54d2-4a17-9391-d1d47f94e640
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/e2a10e53-a967-4f6b-8d1d-ce026ddc190d
  response:
    content: '{"object":"data_source","id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","cover":null,"icon":null,"created_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "e2a10e53-a967-4f6b-8d1d-ce026ddc190d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8167-a387-c2e7b3754b91","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","database_id":"462f94f8-4f1c-4af0-8172-6e411f977c1b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"People":{"id":"YIRU","type":"people","people":[]},"Relation":{"id":"ofYE","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a48167a387c2e7b3754b91","public_url":null,"request_id":"b5a43128-4581-4317-9436-4f05e7429b26"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5a43128-4581-4317-9436-4f05e7429b26
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "e2a10e53-a967-4f6b-8d1d-ce026ddc190d"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Person", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Person"}}]}, "People":
      {"people": [{"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}],
      "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81df-8195-e1e6a34e4fc4","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","database_id":"462f94f8-4f1c-4af0-8172-6e411f977c1b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"People":{"id":"YIRU","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Relation":{"id":"ofYE","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://www.notion.so/Person-38c9ce7b60a481df8195e1e6a34e4fc4","public_url":null,"request_id":"7eb97b14-2ac0-4c25-8edb-67e92041e492"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7eb97b14-2ac0-4c25-8edb-67e92041e492
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e2a10e53-a967-4f6b-8d1d-ce026ddc190d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8148-aec9-f4b0673552ae","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","database_id":"462f94f8-4f1c-4af0-8172-6e411f977c1b"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e2a10e53-a967-4f6b-8d1d-ce026ddc190d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81df-8195-e1e6a34e4fc4","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00[...]
- request:
    body: '{"filter": {"people": {"contains": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e2a10e53-a967-4f6b-8d1d-ce026ddc190d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81df-8195-e1e6a34e4fc4","created_time":"2026-06-27T17:02:00.000Z","last[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e2a10e53-a967-4f6b-8d1d-ce026ddc190d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8148-aec9-f4b0673552ae","created_time":"2026-06-27T17:02:00.000Z","last[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e2a10e53-a967-4f6b-8d1d-ce026ddc190d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8148-aec9-f4b0673552ae","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"e2a10e53-a967-4f6b-8d1d-ce026ddc190d","database_id":"462f94f8-4f1c-4af0-8172-6e411f977c1b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"People":{"id":"YIRU","type":"people","people":[]},"Relation":{"id":"ofYE","type":"relation","relation":[{"id":"38c9ce7b-60a4-81df-8195-e1e6a34e4fc4"}],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-38c9ce7b60a48148aec9f4b0673552ae","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"e6f57858-4488-418b-b41f-12c9b31cb057"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e6f57858-4488-418b-b41f-12c9b31cb057
    status_code: 200
[...]
