interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "People & Relation
      Query DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "People":
      {"type": "people", "people": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8170-84b6-d40e6f92661a","cover":null,"icon":null,"created_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:57:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"xHF~","name":"People","type":"people","people":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b388817084b6d40e6f92661a","public_url":null,"archived":false,"in_trash":false,"request_id":"5af6d590-9de1-483c-bca7-f606544576a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5af6d590-9de1-483c-bca7-f606544576a9
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "158974f3-b388-8170-84b6-d40e6f92661a", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/158974f3-b388-8170-84b6-d40e6f92661a
  response:
    content: '{"object":"database","id":"158974f3-b388-8170-84b6-d40e6f92661a","cover":null,"icon":null,"created_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-8170-84b6-d40e6f92661a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81e2-becd-e3972f2e126c","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8170-84b6-d40e6f92661a"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%3Eher","type":"relation","relation":[],"has_more":false},"People":{"id":"xHF~","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b38881e2becde3972f2e126c","public_url":null,"request_id":"5773a7f6-cc09-4551-9a17-7015bcdde0ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5773a7f6-cc09-4551-9a17-7015bcdde0ba
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-8170-84b6-d40e6f92661a"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Florian"}}]}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-8199-97c1-f38b5833f1d3","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8170-84b6-d40e6f92661a"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%3Eher","type":"relation","relation":[],"has_more":false},"People":{"id":"xHF~","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-158974f3b388819997c1f38b5833f1d3","public_url":null,"request_id":"d606a371-4931-461a-b062-dca8a043e683"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d606a371-4931-461a-b062-dca8a043e683
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8170-84b6-d40e6f92661a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819a-a1bc-d28a610a021f","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8170-84b6-d40e6f92661a"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%3Eher","type":"rela[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8170-84b6-d40e6f92661a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8199-97c1-f38b5833f1d3","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8170-84b6-d40e6f92661a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8199-97c1-f38b5833f1d3","created_time":"2024-12-10T10:57:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8170-84b6-d40e6f92661a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819a-a1bc-d28a610a021f","created_time":"2024-12-10T10:57:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8170-84b6-d40e6f92661a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819a-a1bc-d28a610a021f","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8170-84b6-d40e6f92661a"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%3Eher","type":"relation","relation":[{"id":"158974f3-b388-8199-97c1-f38b5833f1d3"}],"has_more":false},"People":{"id":"xHF~","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-158974f3b388819aa1bcd28a610a021f","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"549c7b33-02fe-4030-8152-f229e951db82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 549c7b33-02fe-4030-8152-f229e951db82
    status_code: 200
[...]
