interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Rollup Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Number": {"type": "number", "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-81b4-aa18-e3982b224bf1","cover":null,"icon":null,"created_time":"2024-12-10T10:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:58:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"EA%3Bg","name":"Date","type":"date","date":{}},"Number":{"id":"OLxX","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b38881b4aa18e3982b224bf1","public_url":null,"archived":false,"in_trash":false,"request_id":"55ca76a1-cc75-41d2-ac76-f9e65cc7b3d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 55ca76a1-cc75-41d2-ac76-f9e65cc7b3d3
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "158974f3-b388-81b4-aa18-e3982b224bf1", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1
  response:
    content: '{"object":"database","id":"158974f3-b388-81b4-aa18-e3982b224bf1","cover":null,"icon":null,"created_time":"2024-12-10T10:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"properties": {"Rollup Title": {"type": "rollup", "rollup": {"function":
      "show_original", "relation_property_name": "Relation", "rollup_property_name":
      "Title"}}, "Rollup Date": {"type": "rollup", "rollup": {"function": "earliest_date",
      "relation_property_name": "Relation", "rollup_property_name": "Date"}}, "Rollup
      Date Array": {"type": "rollup", "rollup": {"function": "show_original", "relation_property_name":
      "Relation", "rollup_property_name": "Date"}}, "Rollup Number": {"type": "rollup",
      "rollup": {"function": "max", "relation_property_name": "Relation", "rollup_property_name":
      "Number"}}, "Rollup Number[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-81b4-aa18-e3982b224bf1"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}, "Number": {"type": "number", "number": 42}, "Date": {"type": "date",
      "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-8187-abb3-e7866432cafc","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-81b4-aa18-e3982b224bf1"},"archived":false,"in_trash":false,"properties":{"Rollup
      Title":{"id":"%3DKpl","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number Array":{"id":"A%3FP%5E","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Date":{"id":"EA%3Bg","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Relation":{"id":"EAZ%5D","type":"relation","relation":[],"has_more":false},"Rollup
      Date Array":{"id":"IBO~","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"OLxX","type":"number","number":42},"Rollup
      Number":{"id":"_N%3Fu","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Rollup
      Date":{"id":"lOLm","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-158974f3b3888187abb3e7866432cafc","public_url":null,"request_id":"9dd34670-b2da-43c1-891c-485efb3285b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9dd34670-b2da-43c1-891c-485efb3285b5
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-81b4-aa18-e3982b224bf1"},"archived":false,"in_trash":false,"properties":{"Rollup
      Title":{"id":"%3DKpl","t[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4ff7c0dd-bfdd-49e1-9490-ed4eb53d2020"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4ff7c0dd-bfdd-49e1-9490-ed4eb53d2020
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-81b4-aa18-e3982b224bf1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819e-8cf1-e220e2f16d83","created_time":"2024-12-10T10:58:00.000Z","last_edited_time":"2024-12-10T10:58:00.000Z","created_by":{"object":"[...]
