interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Files": {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox",
      "checkbox": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5db740df-9b67-46bd-a5e0-5e2b28985244","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:02:04.044+00:00","last_edited_time":"2026-06-27T17:02:04.044+00:00","data_sources":[{"id":"0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d","name":"Files
      & Checkbox Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/5db740df9b6746bda5e05e2b28985244","public_url":null,"request_id":"43041a66-8d2f-4378-80b4-eacf69c3f168"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 43041a66-8d2f-4378-80b4-eacf69c3f168
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d
  response:
    content: '{"object":"data_source","id":"0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d","cover":null,"icon":null,"created_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:02:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"MyP%5D","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Files":{"id":"gXET","name":"Files","description":null,"type":"files","files":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"5db740df-9b67-46bd-a5e0-5e2b28985244"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/5db740df9b6746bda5e05e2b28985244","public_url":null,"in_trash":false,"request_id":"c052feee-8f7a-4aa1-8547-72c8074e67dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c052feee-8f7a-4aa1-8547-72c8074e67dd
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81d3-8dba-ef94238a2dce","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d","database_id":"5db740df-9b67-46bd-a5e0-5e2b28985244"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Checkbox":{"id":"MyP%5D","type":"checkbox","checkbox":false},"Files":{"id":"gXET","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481d38dbaef94238a2dce","public_url":null,"request_id":"f1d7de59-0191-4c94-8a4b-2425629ae303"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f1d7de59-0191-4c94-8a4b-2425629ae303
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-815a-b4fc-fa5511a616c7","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8191-b88d-e597009c7a0b","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d","database_id":"5db740df-9b67-46bd-a5e0-5e2b28985244"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-815a-b4fc-fa5511a616c7","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d","database_id":"5db740df-9b67-46bd-a5e0-5e2b28985244"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Checkbox":{"id":"MyP%5D","type":"checkbox","checkbox":false},"Files":{"id":"gXET","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-38c9ce7b60a4815ab4fcfa5511a616c7","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"b813e4e0-8715-4956-abce-8444c48ae194"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b813e4e0-8715-4956-abce-8444c48ae194
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8191-b88d-e597009c7a0b","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0bb2b00c-cddf-42ce-91f1-7ca7d8252e6d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8191-b88d-e597009c7a0b","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02[...]
[...]
