interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Date": {"type": "date", "date": {}}, "Created": {"type": "created_time", "created_time":
      {}}, "Last Edited": {"type": "last_edited_time", "last_edited_time": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"31ae7843-be66-4dfa-bc0d-23b4a82a0ffb","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:57:51.667+00:00","last_edited_time":"2026-06-27T05:57:51.667+00:00","data_sources":[{"id":"d7c1b8a5-a15e-48e6-acd9-44e40d8c3908","name":"Date
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/31ae7843be664dfabc0d23b4a82a0ffb","public_url":null,"archived":false,"request_id":"53f11ab7-527d-453b-b062-29030dbffcf3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 53f11ab7-527d-453b-b062-29030dbffcf3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908
  response:
    content: '{"object":"data_source","id":"d7c1b8a5-a15e-48e6-acd9-44e40d8c3908","cover":null,"icon":null,"created_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:57:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Created":{"id":"%3Bq%5BX","name":"Created","description":null,"type":"created_time","created_time":{}},"Last
      Edited":{"id":"%3CU%5DL","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Date":{"id":"HcoX","name":"Date","description":null,"type":"date","date":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"31ae7843-be66-4dfa-bc0d-23b4a82a0ffb"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/31ae7843be664dfabc0d23b4a82a0ffb","public_url":null,"in_trash":false,"archived":false,"request_id":"8e47f45a-ab74-4571-8bbb-13b70d411a8c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e47f45a-ab74-4571-8bbb-13b70d411a8c
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "d7c1b8a5-a15e-48e6-acd9-44e40d8c3908"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f5-878c-c7e61ea44f18","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d7c1b8a5-a15e-48e6-acd9-44e40d8c3908","database_id":"31ae7843-be66-4dfa-bc0d-23b4a82a0ffb"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"%3Bq%5BX","type":"created_time","created_time":"2026-06-27T05:57:00.000Z"},"Last
      Edited":{"id":"%3CU%5DL","type":"last_edited_time","last_edited_time":"2026-06-27T05:57:00.000Z"},"Date":{"id":"HcoX","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38c9ce7b60a481f5878cc7e61ea44f18","public_url":null,"archived":false,"request_id":"fa7bebea-21d8-4d88-bbf8-38972ce01e61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fa7bebea-21d8-4d88-bbf8-38972ce01e61
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "d7c1b8a5-a15e-48e6-acd9-44e40d8c3908"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2026-06-27T06:57:51.462999", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-813e-bcd1-c7f3a62b7829","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d7c1b8a5-a15e-48e6-acd9-44e40d8c3908","database_id":"31ae7843-be66-4dfa-bc0d-23b4a82a0ffb"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"%3Bq%5BX","type":"created_time","created_time":"2026-06-27T05:57:00.000Z"},"Last
      Edited":{"id":"%3CU%5DL","type":"last_edited_time","last_edited_time":"2026-06-27T05:57:00.000Z"},"Date":{"id":"HcoX","type":"date","date":{"start":"2026-06-27T06:57:00.000+01:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-38c9ce7b60a4813ebcd1c7f3a62b7829","public_url":null,"archived":false,"request_id":"2342fd0f-4b2b-4658-a246-2599fdf1a66d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2342fd0f-4b2b-4658-a246-2599fdf1a66d
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f5-878c-c7e61ea44f18","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d7c1b8a5-a15e-48e6-acd9-44e40d8c3908","database_id":"31ae7843-be66-4dfa-bc0d-23b4a82a0ffb"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"%3Bq%5BX","type":"created_time","created_time":"2026-06-27T05:57:00.000Z"},"Last
      Edited":{"id":"%3CU%5DL","type":"last_edited_time","last_edited_time":"2026-06-27T05:57:00.000Z"},"Date":{"id":"HcoX","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38c9ce7b60a481f5878cc7e61ea44f18","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"7e74aea0-7bfe-46a5-b6f8-6dcb86c531b8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e74aea0-7bfe-46a5-b6f8-6dcb86c531b8
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81d1-a006-d0489cbc33c7","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.0[...]
- request:
    body: '{"filter": {"date": {"equals": "2026-06-27T06:57:51.462999+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813e-bcd1-c7f3a62b7829","created_time":"2026-06-27T05:57:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"before": "2026-06-27T06:57:51.462999+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813b-ad33-e974e090de83","created_time":"2026-06-27T05:57:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2026-06-27T06:57:51.462999+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813b-ad33-e974e090de83","created_time":"2026-06-27T05:57:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"after": "2026-06-27T06:57:51.462999+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81d1-a006-d0489cbc33c7","created_time":"2026-06-27T05:57:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2026-06-27T06:57:51.462999+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81d1-a006-d0489cbc33c7","created_time":"2026-06-27T05:57:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813e-bcd1-c7f3a62b7829","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8195-b42c-c827251a1e3c","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-810a-bec2-ea3df416f696","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-813b-ad33-e974e090de83","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8121-9c68-eefd6a61e4e9","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8142-958a-ce6775ee3e59","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81d1-a006-d0489cbc33c7","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2026-06-27T07:02:51.462999+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81d1-a006-d0489cbc33c7","created_time":"2026-06-[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2026-06-27T06:52:51.462999+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7c1b8a5-a15e-48e6-acd9-44e40d8c3908/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"cb182ba0-f165-4c34-a01c-ce7941c17ec3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cb182ba0-f165-4c34-a01c-ce7941c17ec3
    status_code: 200
version: 1
