interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Files": {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox",
      "checkbox": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4b8d9a8a-683c-43db-9a34-f2474cdbd2ea","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:50:16.506+00:00","last_edited_time":"2026-06-24T18:50:16.506+00:00","data_sources":[{"id":"699e79ec-8762-4c2f-81a3-5502634cd2e1","name":"Files
      & Checkbox Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/4b8d9a8a683c43db9a34f2474cdbd2ea","public_url":null,"archived":false,"request_id":"67c3016f-7e8f-4fe2-946f-d40e6a3c6c12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 67c3016f-7e8f-4fe2-946f-d40e6a3c6c12
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/699e79ec-8762-4c2f-81a3-5502634cd2e1
  response:
    content: '{"object":"data_source","id":"699e79ec-8762-4c2f-81a3-5502634cd2e1","cover":null,"icon":null,"created_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:50:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"%3BsZ%7B","name":"Files","description":null,"type":"files","files":{}},"Checkbox":{"id":"P%7CIz","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"4b8d9a8a-683c-43db-9a34-f2474cdbd2ea"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/4b8d9a8a683c43db9a34f2474cdbd2ea","public_url":null,"in_trash":false,"archived":false,"request_id":"46a9bfab-63da-4bac-bf77-21a42f75f1a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 46a9bfab-63da-4bac-bf77-21a42f75f1a3
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "699e79ec-8762-4c2f-81a3-5502634cd2e1"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8102-ba30-ee452eea9577","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"699e79ec-8762-4c2f-81a3-5502634cd2e1","database_id":"4b8d9a8a-683c-43db-9a34-f2474cdbd2ea"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Files":{"id":"%3BsZ%7B","type":"files","files":[]},"Checkbox":{"id":"P%7CIz","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a48102ba30ee452eea9577","public_url":null,"archived":false,"request_id":"dc397afd-31ce-45f5-bd39-ae670942e2fd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dc397afd-31ce-45f5-bd39-ae670942e2fd
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "699e79ec-8762-4c2f-81a3-5502634cd2e1"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8140-bb06-d10ebc56ed6a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/699e79ec-8762-4c2f-81a3-5502634cd2e1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810e-a5b1-d08eea070ec6","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"699e79ec-8762-4c2f-81a3-5502634cd2e1","database_id":"4b8d9a8a-683c-43db-9a34-f2474cdbd2ea"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/699e79ec-8762-4c2f-81a3-5502634cd2e1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8140-bb06-d10ebc56ed6a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"699e79ec-8762-4c2f-81a3-5502634cd2e1","database_id":"4b8d9a8a-683c-43db-9a34-f2474cdbd2ea"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Files":{"id":"%3BsZ%7B","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Checkbox":{"id":"P%7CIz","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://app.notion.com/p/Files-3899ce7b60a48140bb06d10ebc56ed6a","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"90a0d780-a7f2-48e7-aeb3-c8da7c805e1c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 90a0d780-a7f2-48e7-aeb3-c8da7c805e1c
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/699e79ec-8762-4c2f-81a3-5502634cd2e1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810e-a5b1-d08eea070ec6","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/699e79ec-8762-4c2f-81a3-5502634cd2e1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810e-a5b1-d08eea070ec6","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50[...]
[...]
