interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F601\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"type\":\"files\",\"files\":[]},\"Select\":{\"id\":\"%3Dzw%7C\",\"type\":\"select\",\"select\":null},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\"},\"Created
      by\":{\"id\":\"Bde%5C\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"ID\":{\"id\":\"GIY%3B\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\",\"number\":3}},\"Email\":{\"id\":\"IWgp\",\"type\":\"email\",\"email\":\"mail@nowhere.com\"},\"Date\":{\"id\":\"LG%3AF\",\"type\":\"date\",\"date\":null},\"People\":{\"id\":\"OTkG\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}},{\"object\":\"user\",\"id\":\"118d872b-594c-81ef-aa7a-000271698630\",\"name\":\"Flo-Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm.bot@gmail.com\"}}]},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Checkbox\":{\"id\":\"QxPZ\",\"type\":\"checkbox\",\"checkbox\":false},\"Number\":{\"id\":\"WL%40f\",\"type\":\"number\",\"number\":null},\"Button\":{\"id\":\"Z_NL\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"type\":\"status\",\"status\":{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\"}},\"AI custom\":{\"id\":\"b%5DMq\",\"type\":\"rich_text\",\"rich_text\":[]},\"Text\":{\"id\":\"dNkb\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Lorem
      Ipsum\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Lorem
      Ipsum\",\"href\":null}]},\"AI key info\":{\"id\":\"iGrF\",\"type\":\"rich_text\",\"rich_text\":[]},\"Phone
      number\":{\"id\":\"k%7DwY\",\"type\":\"phone_number\",\"phone_number\":null},\"AI
      summary\":{\"id\":\"p%5CHX\",\"type\":\"rich_text\",\"rich_text\":[]},\"Rollup\":{\"id\":\"pwp_\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"count\"}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"type\":\"last_edited_by\",\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Formula\":{\"id\":\"wsPE\",\"type\":\"formula\",\"formula\":{\"type\":\"number\",\"number\":0}},\"URL\":{\"id\":\"ypoy\",\"type\":\"url\",\"url\":\"https://anywhere.com\"},\"Created
      time\":{\"id\":\"%7CLPX\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Relation\":{\"id\":\"%7CeR%5D\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Multi-Select\":{\"id\":\"~ML%40\",\"type\":\"multi_select\",\"multi_select\":[]},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test_Item\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test_Item\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test_Item-f933ea06653744fc83a096123ffa4b23\",\"public_url\":null}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"ca7349de-68f5-4d99-86c9-c6bda372b581\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ca7349de-68f5-4d99-86c9-c6bda372b581
    status_code: 200
- request:
    body: '{"filter": {"unique_id": {"does_not_equal": 42}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z[...]
- request:
    body: '{"filter": {"unique_id": {"greater_than": -1}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06[...]
