interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Select": {"type": "select", "select": {"options": [{"name": "Backlog",
      "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Done",
      "color": "green"}]}}, "Multi-Select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"918f8fcf-abb7-4522-84cf-9abdbfb258b9","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:01:56.083+00:00","last_edited_time":"2026-06-27T17:01:56.083+00:00","data_sources":[{"id":"346163d1-db37-4bbd-ac08-a6e8d2f07091","name":"(Multi)-Select
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/918f8fcfabb7452284cf9abdbfb258b9","public_url":null,"request_id":"156520fe-08aa-42fb-9dfd-940fcbbc21fa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 156520fe-08aa-42fb-9dfd-940fcbbc21fa
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/346163d1-db37-4bbd-ac08-a6e8d2f07091
  response:
    content: '{"object":"data_source","id":"346163d1-db37-4bbd-ac08-a6e8d2f07091","cover":null,"icon":null,"created_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:01:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi-Select":{"id":"%3Ca%5Bn","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4cd4a021-de9d-4ad8-8340-cc39f05e5563","name":"Backlog","color":"gray","description":null},{"id":"22e67e78-a8c8-41a8-beee-04719b36f092","name":"In
      Progress","color":"blue","description":null},{"id":"5455a0d8-a37f-4f30-89b8-d5fbe8f1daa0","name":"Done","color":"green","description":null}]}},"Select":{"id":"Lsbz","name":"Select","description":null,"type":"select","select":{"options":[{"id":"712fe466-fec8-45b0-88ea-a4ac7c35ba60","name":"Backlog","color":"gray","description":null},{"id":"bfed3126-96fa-4dbb-b0b1-7799f7c572f2","name":"In
      Progress","color":"blue","description":null},{"id":"925ccd86-a67e-47ff-a39b-fa46e05aeb4c","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"918f8fcf-abb7-4522-84cf-9abdbfb258b9"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/918f8fcfabb7452284cf9abdbfb258b9","public_url":null,"in_trash":false,"request_id":"9fad7eeb-a7ea-421b-87b7-1464ae3c76b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9fad7eeb-a7ea-421b-87b7-1464ae3c76b5
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "346163d1-db37-4bbd-ac08-a6e8d2f07091"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-815d-90b5-c144b3c74468","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"346163d1-db37-4bbd-ac08-a6e8d2f07091","database_id":"918f8fcf-abb7-4522-84cf-9abdbfb258b9"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi-Select":{"id":"%3Ca%5Bn","type":"multi_select","multi_select":[]},"Select":{"id":"Lsbz","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4815d90b5c144b3c74468","public_url":null,"request_id":"449e8e57-a0e4-4af4-a108-ad6f0851cfa1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 449e8e57-a0e4-4af4-a108-ad6f0851cfa1
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/346163d1-db37-4bbd-ac08-a6e8d2f07091/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-815d-90b5-c144b3c74468","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"346163d1-db37-4bbd-ac08-a6e8d2f07091","database_id":"918f8fcf-abb7-4522-84cf-9abdbfb258b9"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi-Select":{"id":"%3Ca%5Bn","type":"multi_select","multi_select":[]},"Select":{"id":"Lsbz","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4815d90b5c144b3c74468","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"ed1aba14-d0e2-456a-aab7-f610205422b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ed1aba14-d0e2-456a-aab7-f610205422b3
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/346163d1-db37-4bbd-ac08-a6e8d2f07091/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ad-9a3c-deadfe01753f","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/346163d1-db37-4bbd-ac08-a6e8d2f07091/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-819f-b74a-c22d4867675d","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/346163d1-db37-4bbd-ac08-a6e8d2f07091/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ad-9a3c-deadfe01753f","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/346163d1-db37-4bbd-ac08-a6e8d2f07091/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-819f-b74a-c22d4867675d","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/346163d1-db37-4bbd-ac08-a6e8d2f07091/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ad-9a3c-deadfe01753f","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T[...]
[...]
