interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "(Multi)-Select Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}},
      "Multi-Select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Done", "color": "green"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-817d-860a-c11e3eb23f6a","cover":null,"icon":null,"created_time":"2024-12-10T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:56:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"Ph%3EW","name":"Select","type":"select","select":{"options":[{"id":"420cf349-2a86-4413-b9e4-d1a94fc97cf5","name":"Backlog","color":"gray","description":null},{"id":"1de1d958-d903-43d6-9f82-df7359847ce5","name":"In
      Progress","color":"blue","description":null},{"id":"30a6263f-78de-4e65-ae6d-97df20495771","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"X%7Dk%5D","name":"Multi-Select","type":"multi_select","multi_select":{"options":[{"id":"3ceed616-3ac5-4ca6-9674-e4d4ab388750","name":"Backlog","color":"gray","description":null},{"id":"37a786ee-de50-4536-84a2-f1c0d7f7bd6f","name":"In
      Progress","color":"blue","description":null},{"id":"9552305a-d27e-4975-8236-ae725dfa0e33","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b388817d860ac11e3eb23f6a","public_url":null,"archived":false,"in_trash":false,"request_id":"70836b72-6136-4b2d-a75a-5985d1b671f4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 70836b72-6136-4b2d-a75a-5985d1b671f4
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-817d-860a-c11e3eb23f6a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-816f-971c-da72fdea5df8","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-817d-860a-c11e3eb23f6a"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"Ph%3EW","type":"select","select":null},"Multi-Select":{"id":"X%7Dk%5D","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b388816f971cda72fdea5df8","public_url":null,"request_id":"ab52882c-5689-4002-8ce6-8b37a47a680f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab52882c-5689-4002-8ce6-8b37a47a680f
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-817d-860a-c11e3eb23f6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-816f-971c-da72fdea5df8","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-817d-860a-c11e3eb23f6a"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"Ph%3EW","type":"select","select":null},"Multi-Select":{"id":"X%7Dk%5D","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b388816f971cda72fdea5df8","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ba737cd6-3c19-4fe1-83b4-3ac0ba2523fd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba737cd6-3c19-4fe1-83b4-3ac0ba2523fd
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-817d-860a-c11e3eb23f6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81a4-ba7a-c42fdb407f0e","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-817d-860a-c11e3eb23f6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819d-a813-c14609710ee8","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-817d-860a-c11e3eb23f6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81a4-ba7a-c42fdb407f0e","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-817d-860a-c11e3eb23f6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-819d-a813-c14609710ee8","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-817d-860a-c11e3eb23f6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81a4-ba7a-c42fdb407f0e","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:[...]
[...]
