interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Select": {"type": "select", "select": {"options": [{"name": "Backlog",
      "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Done",
      "color": "green"}]}}, "Multi-Select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"31ec58b2-bee2-41da-8c8f-0449526bf059","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:58:27.451+00:00","last_edited_time":"2026-06-27T05:58:27.451+00:00","data_sources":[{"id":"f5601789-5610-4530-b246-5e209ad0d62c","name":"(Multi)-Select
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/31ec58b2bee241da8c8f0449526bf059","public_url":null,"archived":false,"request_id":"07f0c79f-b563-423a-8e02-a9faa3078fee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 07f0c79f-b563-423a-8e02-a9faa3078fee
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f5601789-5610-4530-b246-5e209ad0d62c
  response:
    content: '{"object":"data_source","id":"f5601789-5610-4530-b246-5e209ad0d62c","cover":null,"icon":null,"created_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:58:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"bLhz","name":"Select","description":null,"type":"select","select":{"options":[{"id":"60b3cb07-fd55-4525-a0d0-59713bbe9d9c","name":"Backlog","color":"gray","description":null},{"id":"a6f3ab79-74e2-4c31-a867-aa937ec1e62f","name":"In
      Progress","color":"blue","description":null},{"id":"c06ce255-d100-4ff6-82ad-c4af7e7b6933","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"lw%3B%7C","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"c93dd6f9-35ab-4fa0-9365-149e873da289","name":"Backlog","color":"gray","description":null},{"id":"a5d482ac-1c21-4e44-973c-c7c9def3d906","name":"In
      Progress","color":"blue","description":null},{"id":"e256ed26-3afc-4526-8e92-700acb7e763f","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"31ec58b2-bee2-41da-8c8f-0449526bf059"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/31ec58b2bee241da8c8f0449526bf059","public_url":null,"in_trash":false,"archived":false,"request_id":"3308c14b-100e-41e0-ac9d-a9c3d2e9fe52"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3308c14b-100e-41e0-ac9d-a9c3d2e9fe52
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "f5601789-5610-4530-b246-5e209ad0d62c"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-814b-86d9-d45d623bca48","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"f5601789-5610-4530-b246-5e209ad0d62c","database_id":"31ec58b2-bee2-41da-8c8f-0449526bf059"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"bLhz","type":"select","select":null},"Multi-Select":{"id":"lw%3B%7C","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4814b86d9d45d623bca48","public_url":null,"archived":false,"request_id":"d3eea0ce-7fc3-4619-add0-0c9ec62a168d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d3eea0ce-7fc3-4619-add0-0c9ec62a168d
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/f5601789-5610-4530-b246-5e209ad0d62c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-814b-86d9-d45d623bca48","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"f5601789-5610-4530-b246-5e209ad0d62c","database_id":"31ec58b2-bee2-41da-8c8f-0449526bf059"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"bLhz","type":"select","select":null},"Multi-Select":{"id":"lw%3B%7C","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4814b86d9d45d623bca48","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"e9f8601c-7ed4-4ada-a433-7be5ecba4604"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9f8601c-7ed4-4ada-a433-7be5ecba4604
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/f5601789-5610-4530-b246-5e209ad0d62c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ca-850f-d447b6d96666","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/f5601789-5610-4530-b246-5e209ad0d62c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-9a51-d8e96bc78660","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/f5601789-5610-4530-b246-5e209ad0d62c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ca-850f-d447b6d96666","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/f5601789-5610-4530-b246-5e209ad0d62c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-9a51-d8e96bc78660","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/f5601789-5610-4530-b246-5e209ad0d62c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ca-850f-d447b6d96666","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T[...]
[...]
