interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81a3-9117-c7ae1eae96bb","cover":null,"icon":null,"created_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:59:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"z%3DkR","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881a39117c7ae1eae96bb","public_url":null,"archived":false,"in_trash":false,"request_id":"d45ff057-4195-4d45-94b2-e583283e0d7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d45ff057-4195-4d45-94b2-e583283e0d7e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81a3-9117-c7ae1eae96bb"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-81e1-bca2-c2f09346d6b6","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81a3-9117-c7ae1eae96bb"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"z%3DkR","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b38881e1bca2c2f09346d6b6","public_url":null,"request_id":"6b6cf38f-4819-44af-a5da-7337096bca85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b6cf38f-4819-44af-a5da-7337096bca85
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81e1-bca2-c2f09346d6b6","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81a3-9117-c7ae1eae96bb"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"z%3DkR","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b38881e1bca2c2f09346d6b6","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"658b81ac-4177-4356-ae1e-4273d393f508"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 658b81ac-4177-4356-ae1e-4273d393f508
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81c3-8ac4-d8f1ed430aa5","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81c3-8ac4-d8f1ed430aa5","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-810f-bc79-ffe36437ebcd","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81c3-8ac4-d8f1ed430aa5","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81c3-8ac4-d8f1ed430aa5","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-810f-bc79-ffe36437ebcd","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a3-9117-c7ae1eae96bb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81c3-8ac4-d8f1ed430aa5","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z[...]
