interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}, "Multi-Select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Backlog", "color": "gray"}, {"name":
      "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-817b-b148-edab5efae597","cover":null,"icon":null,"created_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:46:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"%5DgFN","name":"Select","description":null,"type":"select","select":{"options":[{"id":"77160945-655c-42f2-b223-9578666e498b","name":"Backlog","color":"gray","description":null},{"id":"6324bc08-1ec6-461e-adee-d9cfe9b63c93","name":"In
      Progress","color":"blue","description":null},{"id":"f0ed70fa-52b8-412d-bd2b-f44c835a55e8","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"%7CRPq","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"a242e9b5-7cf1-451f-bc79-77bc68e05aa9","name":"Backlog","color":"gray","description":null},{"id":"36ef9827-b224-4dbf-8626-dcaaf33ff54b","name":"In
      Progress","color":"blue","description":null},{"id":"8ce5d993-f9c1-438b-9af8-3b53f53c76ba","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b388817bb148edab5efae597","public_url":null,"archived":false,"in_trash":false,"request_id":"db013480-4c00-4aeb-b22c-b75f3c239d0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db013480-4c00-4aeb-b22c-b75f3c239d0d
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-817b-b148-edab5efae597"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81cf-acb6-fb20a05a0524","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-817b-b148-edab5efae597"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Select":{"id":"%5DgFN","type":"select","select":null},"Multi-Select":{"id":"%7CRPq","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b38881cfacb6fb20a05a0524","public_url":null,"request_id":"c1037ed2-95c1-4d02-a473-4e00192ae15b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c1037ed2-95c1-4d02-a473-4e00192ae15b
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-817b-b148-edab5efae597/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-81cf-acb6-fb20a05a0524","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-817b-b148-edab5efae597"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Select":{"id":"%5DgFN","type":"select","select":null},"Multi-Select":{"id":"%7CRPq","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b38881cfacb6fb20a05a0524","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6784a9e8-3126-4809-afe2-d54c367a6f78"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6784a9e8-3126-4809-afe2-d54c367a6f78
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-817b-b148-edab5efae597/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-813a-9e73-dac7e9a41b58","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-817b-b148-edab5efae597/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-81e8-82ac-cd44ead542c4","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-817b-b148-edab5efae597/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-813a-9e73-dac7e9a41b58","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-817b-b148-edab5efae597/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-81e8-82ac-cd44ead542c4","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-817b-b148-edab5efae597/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-813a-9e73-dac7e9a41b58","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:[...]
[...]
