interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-8139-b7eb-d8db4d8c4db1","cover":null,"icon":null,"created_time":"2025-09-23T10:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:06:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"%3AyC%60","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888139b7ebd8db4d8c4db1","public_url":null,"archived":false,"in_trash":false,"request_id":"e26dc437-d8b0-4be8-87a7-ae764fd8b691"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e26dc437-d8b0-4be8-87a7-ae764fd8b691
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-8139-b7eb-d8db4d8c4db1"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81a5-9d29-d6cea47af193","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-8139-b7eb-d8db4d8c4db1"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"%3AyC%60","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b38881a59d29d6cea47af193","public_url":null,"request_id":"c5cd58fa-ff8b-48eb-ba05-49b0962287d0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c5cd58fa-ff8b-48eb-ba05-49b0962287d0
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81a5-9d29-d6cea47af193","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-8139-b7eb-d8db4d8c4db1"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"%3AyC%60","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b38881a59d29d6cea47af193","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"f558a896-fcec-4a0d-806f-696e27414e0c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f558a896-fcec-4a0d-806f-696e27414e0c
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815f-8cd5-da6000a9503e","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815f-8cd5-da6000a9503e","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8197-a063-f6296d3e74a9","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815f-8cd5-da6000a9503e","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815f-8cd5-da6000a9503e","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8197-a063-f6296d3e74a9","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b7eb-d8db4d8c4db1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-815f-8cd5-da6000a9503e","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z[...]
