interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}},
      "Number": {"type": "number", "number": {"format": "number"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-81e0-a3ef-ebc1f7318120","cover":null,"icon":null,"created_time":"2025-10-30T15:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:48:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"_FL%7D","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"dU%3A%3B","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881e0a3efebc1f7318120","public_url":null,"archived":false,"in_trash":false,"request_id":"c67f0e63-0aef-49b7-a09d-6253dbb5c9cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c67f0e63-0aef-49b7-a09d-6253dbb5c9cf
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"29c974f3-b388-81e0-a3ef-ebc1f7318120","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120
  response:
    content: '{"object":"database","id":"29c974f3-b388-81e0-a3ef-ebc1f7318120","cover":null,"icon":null,"created_time":"2025-10-30T15:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:48:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"BxwU","name":"Relation","description":null,"type":"relation","relation":{"database_id":"29c974f3-b388-81e0-a3ef-ebc1f7318120","data_source_id":"29c974f3-b388-8105-8b59-000b5a1e3e5d","type":"single_property","single_property":{}}},"Date":{"id":"_FL%7D","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"dU%3A%3B","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881e0a3efebc1f7318120","public_url":null,"archived":false,"in_trash":false,"request_id":"5f6fe2b1-a00a-4f14-9a64-539a1daba82f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f6fe2b1-a00a-4f14-9a64-539a1daba82f
    status_code: 200
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-81e0-a3ef-ebc1f7318120"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-819c-8e58-c7f0000ad33e","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81e0-a3ef-ebc1f7318120"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Rollup
      Date":{"id":"%3EJJK","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Number Array":{"id":"%40r%7CI","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Relation":{"id":"BxwU","type":"relation","relation":[],"has_more":false},"Rollup
      Number":{"id":"F%3A_k","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Date":{"id":"_FL%7D","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Title":{"id":"%60Sgu","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date Array":{"id":"b%7CaY","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"dU%3A%3B","type":"number","number":42},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-29c974f3b388819c8e58c7f0000ad33e","public_url":null,"request_id":"4e15f377-b61c-45ca-a496-4b1e7d848cfb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4e15f377-b61c-45ca-a496-4b1e7d848cfb
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8122-891a-d8622dbe43c1","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81e0-a3ef-ebc1f7318120"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Rollup
      Date":[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8122-891a-d8622dbe43c1","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8122-891a-d8622dbe43c1","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8122-891a-d8622dbe43c1","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8122-891a-d8622dbe43c1","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8152-a377-e9b3fe0a6f34","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4ec42b90-12d6-4876-a68e-6c7547cb9d45"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4ec42b90-12d6-4876-a68e-6c7547cb9d45
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8152-a377-e9b3fe0a6f34","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8152-a377-e9b3fe0a6f34","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81e0-a3ef-ebc1f7318120/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8122-891a-d8622dbe43c1","created_time":"2025-10-30T15:48:00.000Z","last_edited_time":"2025-10-30T15:48:00.000Z","created_by":{"object":"[...]
