interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Title": {"type": "title", "title": {}},
      "Name": {"type": "rich_text", "rich_text": {}}, "Phone": {"type": "phone_number",
      "phone_number": {}}, "Email": {"type": "email", "email": {}}, "URL": {"type":
      "url", "url": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b11f1ebd-717f-4572-9040-6f9198b898fc","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:58:06.419+00:00","last_edited_time":"2026-06-27T05:58:06.419+00:00","data_sources":[{"id":"6a6fddb0-5eef-4baa-b8c6-69e02f5f5483","name":"Text
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/b11f1ebd717f457290406f9198b898fc","public_url":null,"archived":false,"request_id":"7662d44a-9caa-4921-b5d8-288c4b41f33b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7662d44a-9caa-4921-b5d8-288c4b41f33b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483
  response:
    content: '{"object":"data_source","id":"6a6fddb0-5eef-4baa-b8c6-69e02f5f5483","cover":null,"icon":null,"created_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:58:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"URL":{"id":"SzS%5C","name":"URL","description":null,"type":"url","url":{}},"Name":{"id":"c%7D~G","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Email":{"id":"hB%3Ek","name":"Email","description":null,"type":"email","email":{}},"Phone":{"id":"tCeD","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"b11f1ebd-717f-4572-9040-6f9198b898fc"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/b11f1ebd717f457290406f9198b898fc","public_url":null,"in_trash":false,"archived":false,"request_id":"bb964490-af99-4b8f-a7bc-4d729932377c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bb964490-af99-4b8f-a7bc-4d729932377c
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "6a6fddb0-5eef-4baa-b8c6-69e02f5f5483"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81ce-bdec-cfe34857fc91","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"6a6fddb0-5eef-4baa-b8c6-69e02f5f5483","database_id":"b11f1ebd-717f-4572-9040-6f9198b898fc"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"URL":{"id":"SzS%5C","type":"url","url":null},"Name":{"id":"c%7D~G","type":"rich_text","rich_text":[]},"Email":{"id":"hB%3Ek","type":"email","email":null},"Phone":{"id":"tCeD","type":"phone_number","phone_number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481cebdeccfe34857fc91","public_url":null,"archived":false,"request_id":"283dc7eb-fa5f-4977-b398-36d46c3d29ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 283dc7eb-fa5f-4977-b398-36d46c3d29ed
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ce-bdec-cfe34857fc91","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"6a6fddb0-5eef-4baa-b8c6-69e02f5f5483","database_id":"b11f1ebd-717f-4572-9040-6f9198b898fc"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"URL":{"id":"SzS%5C","type":"url","url":null},"Name":{"id":"c%7D~G","type":"rich_text","rich_text":[]},"Email":{"id":"hB%3Ek","type":"email","email":null},"Phone":{"id":"tCeD","type":"phone_number","phone_number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481cebdeccfe34857fc91","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"c0b28e5c-ebaf-4289-82ef-c582277b5f60"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c0b28e5c-ebaf-4289-82ef-c582277b5f60
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e2-9ff3-ea605a0e81ef","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"f8b751a5-008e-461b-b59b-ec1c2878bada"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8b751a5-008e-461b-b59b-ec1c2878bada
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e2-9ff3-ea605a0e81ef","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"e99d7890-3122-4f82-a3ca-68d6fb6e6456"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e99d7890-3122-4f82-a3ca-68d6fb6e6456
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e2-9ff3-ea605a0e81ef","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8124-91cd-cfc609d48ff6","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"28b96ab2-b5bb-4c07-948c-92d11e928ac9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 28b96ab2-b5bb-4c07-948c-92d11e928ac9
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/6a6fddb0-5eef-4baa-b8c6-69e02f5f5483/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"0c00b35d-f89c-4a58-b97d-a786f9644acd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0c00b35d-f89c-4a58-b97d-a786f9644acd
    status_code: 200
version: 1
