interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Date": {"type": "date", "date": {}}, "Created": {"type": "created_time", "created_time":
      {}}, "Last Edited": {"type": "last_edited_time", "last_edited_time": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"64086a6b-5988-44b7-a9e0-7e6ce9789691","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:49:29.427+00:00","last_edited_time":"2026-06-24T18:49:29.427+00:00","data_sources":[{"id":"359ccbef-fefd-434a-b23b-bc5f535e5228","name":"Date
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/64086a6b598844b7a9e07e6ce9789691","public_url":null,"archived":false,"request_id":"31503df0-1f83-4a0c-8f66-079139179356"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31503df0-1f83-4a0c-8f66-079139179356
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228
  response:
    content: '{"object":"data_source","id":"359ccbef-fefd-434a-b23b-bc5f535e5228","cover":null,"icon":null,"created_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:49:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Created":{"id":"%3FmBc","name":"Created","description":null,"type":"created_time","created_time":{}},"Last
      Edited":{"id":"ZRPZ","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Date":{"id":"xd~%3B","name":"Date","description":null,"type":"date","date":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"64086a6b-5988-44b7-a9e0-7e6ce9789691"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/64086a6b598844b7a9e07e6ce9789691","public_url":null,"in_trash":false,"archived":false,"request_id":"87fd80db-d9e9-4927-94ac-e3a94ca70515"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87fd80db-d9e9-4927-94ac-e3a94ca70515
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "359ccbef-fefd-434a-b23b-bc5f535e5228"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8166-96cc-cf0d50d683ca","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"359ccbef-fefd-434a-b23b-bc5f535e5228","database_id":"64086a6b-5988-44b7-a9e0-7e6ce9789691"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"%3FmBc","type":"created_time","created_time":"2026-06-24T18:49:00.000Z"},"Last
      Edited":{"id":"ZRPZ","type":"last_edited_time","last_edited_time":"2026-06-24T18:49:00.000Z"},"Date":{"id":"xd~%3B","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://app.notion.com/p/no_date-3899ce7b60a4816696cccf0d50d683ca","public_url":null,"archived":false,"request_id":"f8cff9dd-14ce-4723-870c-ee805f056567"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8cff9dd-14ce-4723-870c-ee805f056567
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "359ccbef-fefd-434a-b23b-bc5f535e5228"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2026-06-24T19:49:31.123105", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b7-bfd1-f573e8276c45","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"359ccbef-fefd-434a-b23b-bc5f535e5228","database_id":"64086a6b-5988-44b7-a9e0-7e6ce9789691"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"%3FmBc","type":"created_time","created_time":"2026-06-24T18:49:00.000Z"},"Last
      Edited":{"id":"ZRPZ","type":"last_edited_time","last_edited_time":"2026-06-24T18:49:00.000Z"},"Date":{"id":"xd~%3B","type":"date","date":{"start":"2026-06-24T19:49:00.000+01:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://app.notion.com/p/this-week-3899ce7b60a481b7bfd1f573e8276c45","public_url":null,"archived":false,"request_id":"84a1b9af-520c-45f9-8ea5-705415278988"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 84a1b9af-520c-45f9-8ea5-705415278988
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8166-96cc-cf0d50d683ca","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"359ccbef-fefd-434a-b23b-bc5f535e5228","database_id":"64086a6b-5988-44b7-a9e0-7e6ce9789691"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"%3FmBc","type":"created_time","created_time":"2026-06-24T18:49:00.000Z"},"Last
      Edited":{"id":"ZRPZ","type":"last_edited_time","last_edited_time":"2026-06-24T18:49:00.000Z"},"Date":{"id":"xd~%3B","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://app.notion.com/p/no_date-3899ce7b60a4816696cccf0d50d683ca","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"53561510-a1c5-42b2-9ef6-a54c2877f337"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 53561510-a1c5-42b2-9ef6-a54c2877f337
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c0-b8b6-efe872976941","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.0[...]
- request:
    body: '{"filter": {"date": {"equals": "2026-06-24T19:49:31.123105+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81b7-bfd1-f573e8276c45","created_time":"2026-06-24T18:49:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"before": "2026-06-24T19:49:31.123105+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8188-9a7f-e54b498ea977","created_time":"2026-06-24T18:49:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2026-06-24T19:49:31.123105+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8188-9a7f-e54b498ea977","created_time":"2026-06-24T18:49:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"after": "2026-06-24T19:49:31.123105+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c0-b8b6-efe872976941","created_time":"2026-06-24T18:49:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2026-06-24T19:49:31.123105+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c0-b8b6-efe872976941","created_time":"2026-06-24T18:49:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81b7-bfd1-f573e8276c45","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8160-b6c3-e1b265901b74","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8152-9a98-dd53622eba98","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8188-9a7f-e54b498ea977","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81fa-9b5e-cac1b43451f4","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8117-9bcb-cf803362dd04","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c0-b8b6-efe872976941","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2026-06-24T19:54:31.123105+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c0-b8b6-efe872976941","created_time":"2026-06-[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2026-06-24T19:44:31.123105+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/359ccbef-fefd-434a-b23b-bc5f535e5228/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"89c0c96e-8a7a-4be9-9ab8-4b373e5bf16c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 89c0c96e-8a7a-4be9-9ab8-4b373e5bf16c
    status_code: 200
version: 1
