interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Title": {"type": "title", "title": {}},
      "Name": {"type": "rich_text", "rich_text": {}}, "Phone": {"type": "phone_number",
      "phone_number": {}}, "Email": {"type": "email", "email": {}}, "URL": {"type":
      "url", "url": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f48d538d-6b93-4e0b-8502-c1effbbe34c9","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:33:36.489+00:00","last_edited_time":"2026-06-24T16:33:36.489+00:00","data_sources":[{"id":"520dd434-7cd6-4eb4-b521-4fd3a0dd0c20","name":"Text
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f48d538d6b934e0b8502c1effbbe34c9","public_url":null,"archived":false,"request_id":"6544b6ad-842f-4a61-abd7-3bddd7bf59b8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6544b6ad-842f-4a61-abd7-3bddd7bf59b8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20
  response:
    content: '{"object":"data_source","id":"520dd434-7cd6-4eb4-b521-4fd3a0dd0c20","cover":null,"icon":null,"created_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:33:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"U%3DW%3F","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Email":{"id":"%5BF%3FY","name":"Email","description":null,"type":"email","email":{}},"Phone":{"id":"_bk%5D","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"URL":{"id":"~vnK","name":"URL","description":null,"type":"url","url":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f48d538d-6b93-4e0b-8502-c1effbbe34c9"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/f48d538d6b934e0b8502c1effbbe34c9","public_url":null,"in_trash":false,"archived":false,"request_id":"b4097271-30a9-4dad-bd6f-74bdffb91156"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b4097271-30a9-4dad-bd6f-74bdffb91156
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "520dd434-7cd6-4eb4-b521-4fd3a0dd0c20"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b7-b31c-c4e7256c9857","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"520dd434-7cd6-4eb4-b521-4fd3a0dd0c20","database_id":"f48d538d-6b93-4e0b-8502-c1effbbe34c9"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"U%3DW%3F","type":"rich_text","rich_text":[]},"Email":{"id":"%5BF%3FY","type":"email","email":null},"Phone":{"id":"_bk%5D","type":"phone_number","phone_number":null},"URL":{"id":"~vnK","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481b7b31cc4e7256c9857","public_url":null,"archived":false,"request_id":"eecf0847-1425-4852-b018-8f4e0f9cb298"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eecf0847-1425-4852-b018-8f4e0f9cb298
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81b7-b31c-c4e7256c9857","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"520dd434-7cd6-4eb4-b521-4fd3a0dd0c20","database_id":"f48d538d-6b93-4e0b-8502-c1effbbe34c9"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"U%3DW%3F","type":"rich_text","rich_text":[]},"Email":{"id":"%5BF%3FY","type":"email","email":null},"Phone":{"id":"_bk%5D","type":"phone_number","phone_number":null},"URL":{"id":"~vnK","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481b7b31cc4e7256c9857","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"23cd2332-d4be-4751-bc5f-44874aaa5212"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 23cd2332-d4be-4751-bc5f-44874aaa5212
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8112-aada-c0bc309a5bbb","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"b97a33a7-3109-449d-a7e7-854f08d2cadf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b97a33a7-3109-449d-a7e7-854f08d2cadf
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8112-aada-c0bc309a5bbb","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"2487e6be-aa9c-423f-9c11-d21ee3c7c839"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2487e6be-aa9c-423f-9c11-d21ee3c7c839
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8112-aada-c0bc309a5bbb","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8118-8513-fec30d2d5000","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"fc158184-f1ee-4c17-b536-a1bedb8c1fc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc158184-f1ee-4c17-b536-a1bedb8c1fc7
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/520dd434-7cd6-4eb4-b521-4fd3a0dd0c20/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"afa15b47-7f13-4c7c-99fb-c46add6ce166"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - afa15b47-7f13-4c7c-99fb-c46add6ce166
    status_code: 200
version: 1
