interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3839ce7b-60a4-81c2-8510-c65ffc78c665","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","database_id":"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date
      Source":{"id":"CNpy","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Tags":{"id":"DUnB","type":"multi_select","multi_select":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink"}]},"Number":{"id":"MrTs","type":"formula","formula":{"type":"number","number":11}},"String":{"id":"QDdU","type":"formula","formula":{"type":"string","string":"Item
      2"}},"Checkbox":{"id":"f%40eH","type":"formula","formula":{"type":"boolean","boolean":false}},"Date":{"id":"wGA%3B","type":"formula","formula":{"type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}]}},"url":"https://app.notion.com/p/Item-2-3839ce7b60a481c28510c65ffc78c665","public_url":null,"archived":false},{"object":"page","id":"3839ce7b-60a4-817c-af79-edbe61cea95c","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","database_id":"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf"},"in_trash":false,"is_[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86
  response:
    content: '{"object":"data_source","id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","cover":null,"icon":null,"created_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-18T17:56:00.000Z","title":[{"type":"text","text":{"content":"Formula
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Formula
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Date Source":{"id":"CNpy","name":"Date
      Source","description":null,"type":"date","date":{}},"Tags":{"id":"DUnB","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink","description":null},{"id":"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29","name":"Done","color":"gray","description":null}]}},"Number":{"id":"MrTs","name":"Number","description":null,"type":"formula","formula":{"expression":"length(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \", \"))"}},"String":{"id":"QDdU","name":"String","description":null,"type":"formula","formula":{"expression":"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})"}},"Checkbox":{"id":"f%40eH","name":"Checkbox","description":null,"type":"formula","formula":{"expression":"contains(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \", \"), \"Done\")"}},"Date":{"id":"wGA%3B","name":"Date","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/3839ce7b60a481dcb9f3f8be2293bcaf","public_url":null,"in_trash":false,"archived":false,"request_id":"be76a38f-ba9d-46a4-8539-37c24247a971"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be76a38f-ba9d-46a4-8539-37c24247a971
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"string": {"equals": "Item 1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"Unable
      to filter based on a formula of unknown type","request_id":"f2419c9c-f8ae-4d8b-a000-defafd89e03f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f2419c9c-f8ae-4d8b-a000-defafd89e03f
    status_code: 400
version: 1
