interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "(Multi)-Select Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}},
      "Multi-Select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Done", "color": "green"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8118-bf34-de66f2b00933","cover":null,"icon":null,"created_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:53:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"ckPL","name":"Select","type":"select","select":{"options":[{"id":"f10f4b70-8957-48e5-b010-a350173aa1aa","name":"Backlog","color":"gray","description":null},{"id":"b23b5759-a8f1-44e2-9900-5f0c129772c0","name":"In
      Progress","color":"blue","description":null},{"id":"9cb153bc-ec35-4e3a-8088-4a1df1d64b1d","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"uT%3Aw","name":"Multi-Select","type":"multi_select","multi_select":{"options":[{"id":"1d112a3d-8043-4d8c-9787-e3fce1e95ea5","name":"Backlog","color":"gray","description":null},{"id":"3204a1fe-e053-4a28-8ff3-41d2fae87c35","name":"In
      Progress","color":"blue","description":null},{"id":"aaa5576b-9e00-4a03-bd93-a42c4fa7a762","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b3888118bf34de66f2b00933","public_url":null,"archived":false,"in_trash":false,"request_id":"b8d9d3e1-43d0-49a1-be9b-6cd26bb6ffd6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b8d9d3e1-43d0-49a1-be9b-6cd26bb6ffd6
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8118-bf34-de66f2b00933"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-8120-ae36-efc5ce425550","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8118-bf34-de66f2b00933"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"ckPL","type":"select","select":null},"Multi-Select":{"id":"uT%3Aw","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b3888120ae36efc5ce425550","public_url":null,"request_id":"dcfd2772-ef05-4c68-8ad0-bf6cd96a0325"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dcfd2772-ef05-4c68-8ad0-bf6cd96a0325
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8118-bf34-de66f2b00933/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8120-ae36-efc5ce425550","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8118-bf34-de66f2b00933"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"ckPL","type":"select","select":null},"Multi-Select":{"id":"uT%3Aw","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b3888120ae36efc5ce425550","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"40aa58b3-9c09-46cb-a272-68ae1a378b00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40aa58b3-9c09-46cb-a272-68ae1a378b00
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8118-bf34-de66f2b00933/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81d6-a9d3-f7404e1e4f31","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8118-bf34-de66f2b00933/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8165-8080-c821bd33a52b","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8118-bf34-de66f2b00933/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81d6-a9d3-f7404e1e4f31","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8118-bf34-de66f2b00933/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8165-8080-c821bd33a52b","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8118-bf34-de66f2b00933/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81d6-a9d3-f7404e1e4f31","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:[...]
[...]
