interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "properties": {"Title":
      {"type": "title", "title": {}}, "Name": {"type": "rich_text", "rich_text": {}},
      "Phone": {"type": "phone_number", "phone_number": {}}, "Email": {"type": "email",
      "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81be-8265-fe5b5a81d2ba","cover":null,"icon":null,"created_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:30:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Email":{"id":"%3B%3FKv","name":"Email","description":null,"type":"email","email":{}},"Name":{"id":"%3CXb%60","name":"Name","description":null,"type":"rich_text","rich_text":{}},"URL":{"id":"DrS%3A","name":"URL","description":null,"type":"url","url":{}},"Phone":{"id":"xj%40t","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481be8265fe5b5a81d2ba","public_url":null,"in_trash":false,"archived":false,"request_id":"c4b482e8-9bdb-4559-b89d-0863fd086e68"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c4b482e8-9bdb-4559-b89d-0863fd086e68
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-81be-8265-fe5b5a81d2ba"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-816c-9c3b-f0a575262024","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81be-8265-fe5b5a81d2ba"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Email":{"id":"%3B%3FKv","type":"email","email":null},"Name":{"id":"%3CXb%60","type":"rich_text","rich_text":[]},"URL":{"id":"DrS%3A","type":"url","url":null},"Phone":{"id":"xj%40t","type":"phone_number","phone_number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38a9ce7b60a4816c9c3bf0a575262024","public_url":null,"archived":false,"request_id":"6c46a594-f67a-48ba-8003-29f8d55ffa5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c46a594-f67a-48ba-8003-29f8d55ffa5d
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-816c-9c3b-f0a575262024","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-81be-8265-fe5b5a81d2ba"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Email":{"id":"%3B%3FKv","type":"email","email":null},"Name":{"id":"%3CXb%60","type":"rich_text","rich_text":[]},"URL":{"id":"DrS%3A","type":"url","url":null},"Phone":{"id":"xj%40t","type":"phone_number","phone_number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38a9ce7b60a4816c9c3bf0a575262024","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4ce8f7be-2eb6-4f21-addf-62b1770bfd02"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4ce8f7be-2eb6-4f21-addf-62b1770bfd02
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8157-9908-fade55fe1083","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"703c81bd-704c-46b8-b759-b8a6d38a059a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 703c81bd-704c-46b8-b759-b8a6d38a059a
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8157-9908-fade55fe1083","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3b8af545-00cb-4eda-aa4c-d06dbe6d88c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3b8af545-00cb-4eda-aa4c-d06dbe6d88c2
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8157-9908-fade55fe1083","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8101-b94a-d640b406ec41","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"356b599e-387a-42d1-bef2-ebad81ececed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 356b599e-387a-42d1-bef2-ebad81ececed
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81be-8265-fe5b5a81d2ba/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"149b72e1-a341-4efb-97fc-6cf69461c171"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 149b72e1-a341-4efb-97fc-6cf69461c171
    status_code: 200
version: 1
