interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-000000000009/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"8de163e4-18b5-4289-91be-483ff51eb7c9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8de163e4-18b5-4289-91be-483ff51eb7c9
    status_code: 200
- request:
    body: '{"filter": {"unique_id": {"does_not_equal": 42}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-000000000009/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c51ad058-4c3b-4a76-9310-557402d25acb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c51ad058-4c3b-4a76-9310-557402d25acb
    status_code: 200
- request:
    body: '{"filter": {"unique_id": {"greater_than": -1}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-000000000009/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ccbb766d-4379-4b63-89e0-42fcb02cfb2b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ccbb766d-4379-4b63-89e0-42fcb02cfb2b
    status_code: 200
version: 1
