interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "(Multi)-Select Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}},
      "Multi-Select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Done", "color": "green"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81fc-92a0-f1d3950044d0","cover":null,"icon":null,"created_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:15:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"%60Z%3Bh","name":"Select","type":"select","select":{"options":[{"id":"6137fa33-29f8-4ce5-8190-737188858d05","name":"Backlog","color":"gray","description":null},{"id":"aabd02ea-868c-4fbb-b4e7-51164d0762e2","name":"In
      Progress","color":"blue","description":null},{"id":"c8cadadf-76d0-4a07-9a45-e4e9ffeabfaa","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"sJHE","name":"Multi-Select","type":"multi_select","multi_select":{"options":[{"id":"fd488446-7914-4c43-a9e0-140fe24a5f4a","name":"Backlog","color":"gray","description":null},{"id":"e9cd2640-9d28-4cf0-b08e-bfbd7f3074ac","name":"In
      Progress","color":"blue","description":null},{"id":"075f04a5-e0b6-4994-8fb8-d801c2c5d736","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881fc92a0f1d3950044d0","public_url":null,"archived":false,"in_trash":false,"request_id":"82a238d7-fab2-4ec0-9f4b-41c917f488cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82a238d7-fab2-4ec0-9f4b-41c917f488cb
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81fc-92a0-f1d3950044d0"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-8145-9889-e7c3edd96a82","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81fc-92a0-f1d3950044d0"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"%60Z%3Bh","type":"select","select":null},"Multi-Select":{"id":"sJHE","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b38881459889e7c3edd96a82","public_url":null,"request_id":"37b3dd13-30b6-44d8-9ce2-7f22b8318496"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 37b3dd13-30b6-44d8-9ce2-7f22b8318496
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81fc-92a0-f1d3950044d0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8145-9889-e7c3edd96a82","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81fc-92a0-f1d3950044d0"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"%60Z%3Bh","type":"select","select":null},"Multi-Select":{"id":"sJHE","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b38881459889e7c3edd96a82","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"577970ae-450c-4c0e-a3c0-be5f8266316a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 577970ae-450c-4c0e-a3c0-be5f8266316a
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81fc-92a0-f1d3950044d0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8145-975b-fcebe6f687c8","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81fc-92a0-f1d3950044d0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81b8-820b-e1510f478ee6","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81fc-92a0-f1d3950044d0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8145-975b-fcebe6f687c8","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81fc-92a0-f1d3950044d0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81b8-820b-e1510f478ee6","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81fc-92a0-f1d3950044d0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8145-975b-fcebe6f687c8","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:[...]
[...]
