interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}},
      "Number": {"type": "number", "number": {"format": "number"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8127-8fac-dc7ef73c45c2","cover":null,"icon":null,"created_time":"2025-09-03T14:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:00:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"Pot%5E","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Date":{"id":"d%3BCg","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881278facdc7ef73c45c2","public_url":null,"archived":false,"in_trash":false,"request_id":"c5bc9d29-7819-4a2c-8038-bb9c60b37b12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c5bc9d29-7819-4a2c-8038-bb9c60b37b12
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"263974f3-b388-8127-8fac-dc7ef73c45c2","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2
  response:
    content: '{"object":"database","id":"263974f3-b388-8127-8fac-dc7ef73c45c2","cover":null,"icon":null,"created_time":"2025-09-03T14:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:00:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"Pot%5E","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Relation":{"id":"X%3F%3ER","name":"Relation","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-8127-8fac-dc7ef73c45c2","data_source_id":"263974f3-b388-81f4-8643-000b628d59fb","type":"single_property","single_property":{}}},"Date":{"id":"d%3BCg","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881278facdc7ef73c45c2","public_url":null,"archived":false,"in_trash":false,"request_id":"5a38480b-99d1-4cb0-8bed-4e417e3afd37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a38480b-99d1-4cb0-8bed-4e417e3afd37
    status_code: 200
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8127-8fac-dc7ef73c45c2"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-814c-ae05-e284524c45ac","created_time":"2025-09-03T14:00:00.000Z","last_edited_time":"2025-09-03T14:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8127-8fac-dc7ef73c45c2"},"archived":false,"in_trash":false,"properties":{"Rollup
      Number":{"id":"HHNt","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Number":{"id":"Pot%5E","type":"number","number":42},"Rollup
      Title":{"id":"RJQ%40","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Relation":{"id":"X%3F%3ER","type":"relation","relation":[],"has_more":false},"Rollup
      Number Array":{"id":"%5C%5CMG","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Date":{"id":"d%3BCg","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Date":{"id":"nNsR","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Date Array":{"id":"qa%40k","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-263974f3b388814cae05e284524c45ac","public_url":null,"request_id":"194de7bc-f0b0-42fb-9986-a47723ac3b17"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 194de7bc-f0b0-42fb-9986-a47723ac3b17
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8127-8fac-dc7ef73c45c2"},"archived":false,"in_trash":false,"properties":{"Rollup
      Number":{"id":"HHNt","ty[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3a131851-0934-4e06-b605-0d2dda081b24"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3a131851-0934-4e06-b605-0d2dda081b24
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-8127-8fac-dc7ef73c45c2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815f-854e-d25e64e8aa79","created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"object":"[...]
