interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-802c-b152-000ba814957b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"ff23115e-f1e1-432c-b602-2fa3d68f9c97"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff23115e-f1e1-432c-b602-2fa3d68f9c97
    status_code: 200
- request:
    body: '{"filter": {"unique_id": {"does_not_equal": 42}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-802c-b152-000ba814957b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"8e5028ea-ba4c-4987-b2ce-ed53e773c77f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e5028ea-ba4c-4987-b2ce-ed53e773c77f
    status_code: 200
- request:
    body: '{"filter": {"unique_id": {"greater_than": -1}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-802c-b152-000ba814957b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"63b918bb-812b-4501-951a-21a826ef00de"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 63b918bb-812b-4501-951a-21a826ef00de
    status_code: 200
version: 1
