interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "properties": {"Name":
      {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}}, "Created":
      {"type": "created_time", "created_time": {}}, "Last Edited": {"type": "last_edited_time",
      "last_edited_time": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8184-99b5-e75da4da360d","cover":null,"icon":null,"created_time":"2026-06-27T04:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:57:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"B%7DmR","name":"Date","description":null,"type":"date","date":{}},"Created":{"id":"Y%5EP%3B","name":"Created","description":null,"type":"created_time","created_time":{}},"Last
      Edited":{"id":"%60K%5EF","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a4818499b5e75da4da360d","public_url":null,"in_trash":false,"archived":false,"request_id":"ba091f86-b8dd-4bb1-8b42-fdf882957ac8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba091f86-b8dd-4bb1-8b42-fdf882957ac8
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-8184-99b5-e75da4da360d"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81ec-9e83-c71f63bbd8ae","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8184-99b5-e75da4da360d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date":{"id":"B%7DmR","type":"date","date":null},"Created":{"id":"Y%5EP%3B","type":"created_time","created_time":"2026-06-27T04:57:00.000Z"},"Last
      Edited":{"id":"%60K%5EF","type":"last_edited_time","last_edited_time":"2026-06-27T04:57:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38c9ce7b60a481ec9e83c71f63bbd8ae","public_url":null,"archived":false,"request_id":"62a90c41-e257-419f-ae80-8e8a55788250"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 62a90c41-e257-419f-ae80-8e8a55788250
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-8184-99b5-e75da4da360d"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2026-06-27T05:57:26.066867", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-817a-8c71-e9ec18f060a0","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8184-99b5-e75da4da360d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date":{"id":"B%7DmR","type":"date","date":{"start":"2026-06-27T05:57:00.000+01:00","end":null,"time_zone":null}},"Created":{"id":"Y%5EP%3B","type":"created_time","created_time":"2026-06-27T04:57:00.000Z"},"Last
      Edited":{"id":"%60K%5EF","type":"last_edited_time","last_edited_time":"2026-06-27T04:57:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-38c9ce7b60a4817a8c71e9ec18f060a0","public_url":null,"archived":false,"request_id":"0551d509-b173-4039-bf60-3f39742c0bb1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0551d509-b173-4039-bf60-3f39742c0bb1
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ec-9e83-c71f63bbd8ae","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8184-99b5-e75da4da360d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date":{"id":"B%7DmR","type":"date","date":null},"Created":{"id":"Y%5EP%3B","type":"created_time","created_time":"2026-06-27T04:57:00.000Z"},"Last
      Edited":{"id":"%60K%5EF","type":"last_edited_time","last_edited_time":"2026-06-27T04:57:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38c9ce7b60a481ec9e83c71f63bbd8ae","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e766f715-81f3-4300-a174-8cbfb006c7c0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e766f715-81f3-4300-a174-8cbfb006c7c0
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8157-9b17-f47b320e9960","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2026-06-27T05:57:26.066867+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-817a-8c71-e9ec18f060a0","created_time":"2026-06-27T04:57:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2026-06-27T05:57:26.066867+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8173-8b3e-d3a6b15e5c65","created_time":"2026-06-27T04:57:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2026-06-27T05:57:26.066867+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8173-8b3e-d3a6b15e5c65","created_time":"2026-06-27T04:57:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2026-06-27T05:57:26.066867+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8157-9b17-f47b320e9960","created_time":"2026-06-27T04:57:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2026-06-27T05:57:26.066867+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8157-9b17-f47b320e9960","created_time":"2026-06-27T04:57:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-817a-8c71-e9ec18f060a0","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81d1-b106-dd56d48e8851","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e3-92e1-e7610e2f598c","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8173-8b3e-d3a6b15e5c65","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8132-ac75-d0e9c0c1238e","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81da-8ad9-ca7168cc42ed","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8157-9b17-f47b320e9960","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2026-06-27T06:02:26.066867+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8157-9b17-f47b320e9960","created_time":"2026-06-27T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2026-06-27T05:52:26.066867+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8184-99b5-e75da4da360d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"95bcfc46-6ffe-41ec-96ed-0301b3183f0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95bcfc46-6ffe-41ec-96ed-0301b3183f0e
    status_code: 200
version: 1
