interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Title": {"type":
      "title", "title": {}}, "People": {"type": "people", "people": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a3ac7f18-bcfc-40e2-bd7d-c3cf516113f7","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:50:21.231+00:00","last_edited_time":"2026-06-24T18:50:21.231+00:00","data_sources":[{"id":"91141ca2-31c2-4f44-a068-74c5d47722e8","name":"People
      & Relation Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a3ac7f18bcfc40e2bd7dc3cf516113f7","public_url":null,"archived":false,"request_id":"4367d3ae-8d19-40f8-a932-6a44d6a242e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4367d3ae-8d19-40f8-a932-6a44d6a242e1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/91141ca2-31c2-4f44-a068-74c5d47722e8
  response:
    content: '{"object":"data_source","id":"91141ca2-31c2-4f44-a068-74c5d47722e8","cover":null,"icon":null,"created_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:50:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"%5C%7BQ%7D","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a3ac7f18-bcfc-40e2-bd7d-c3cf516113f7"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/a3ac7f18bcfc40e2bd7dc3cf516113f7","public_url":null,"in_trash":false,"archived":false,"request_id":"cfc66560-b79e-4a12-b125-de040e1527e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cfc66560-b79e-4a12-b125-de040e1527e6
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"91141ca2-31c2-4f44-a068-74c5d47722e8","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/91141ca2-31c2-4f44-a068-74c5d47722e8
  response:
    content: '{"object":"data_source","id":"91141ca2-31c2-4f44-a068-74c5d47722e8","cover":null,"icon":null,"created_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "91141ca2-31c2-4f44-a068-74c5d47722e8"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-817b-a320-d60e4a6c9d1c","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"91141ca2-31c2-4f44-a068-74c5d47722e8","database_id":"a3ac7f18-bcfc-40e2-bd7d-c3cf516113f7"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"IoOS","type":"relation","relation":[],"has_more":false},"People":{"id":"%5C%7BQ%7D","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a4817ba320d60e4a6c9d1c","public_url":null,"archived":false,"request_id":"a4b14435-7acc-4c09-ab7f-c14489281728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4b14435-7acc-4c09-ab7f-c14489281728
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "91141ca2-31c2-4f44-a068-74c5d47722e8"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Person", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Person"}}]}, "People":
      {"people": [{"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}],
      "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81e7-b635-fe113cdf4755","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"91141ca2-31c2-4f44-a068-74c5d47722e8","database_id":"a3ac7f18-bcfc-40e2-bd7d-c3cf516113f7"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"IoOS","type":"relation","relation":[],"has_more":false},"People":{"id":"%5C%7BQ%7D","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://app.notion.com/p/Person-3899ce7b60a481e7b635fe113cdf4755","public_url":null,"archived":false,"request_id":"3a9f996f-9e84-45fa-a12a-f94b23a54832"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3a9f996f-9e84-45fa-a12a-f94b23a54832
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/91141ca2-31c2-4f44-a068-74c5d47722e8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8175-96ab-c6d3614757c0","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"91141ca2-31c2-4f44-a068-74c5d47722e8","database_id":"a3ac7f18-bcfc-40e2-bd7d-c3cf516113f7"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/91141ca2-31c2-4f44-a068-74c5d47722e8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81e7-b635-fe113cdf4755","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00[...]
- request:
    body: '{"filter": {"people": {"contains": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/91141ca2-31c2-4f44-a068-74c5d47722e8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81e7-b635-fe113cdf4755","created_time":"2026-06-24T18:50:00.000Z","last[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/91141ca2-31c2-4f44-a068-74c5d47722e8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8175-96ab-c6d3614757c0","created_time":"2026-06-24T18:50:00.000Z","last[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/91141ca2-31c2-4f44-a068-74c5d47722e8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8175-96ab-c6d3614757c0","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"91141ca2-31c2-4f44-a068-74c5d47722e8","database_id":"a3ac7f18-bcfc-40e2-bd7d-c3cf516113f7"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"IoOS","type":"relation","relation":[{"id":"3899ce7b-60a4-81e7-b635-fe113cdf4755"}],"has_more":false},"People":{"id":"%5C%7BQ%7D","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://app.notion.com/p/Fan-3899ce7b60a4817596abc6d3614757c0","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"7208156e-c478-4ef3-b5e6-f9acedf0def5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7208156e-c478-4ef3-b5e6-f9acedf0def5
    status_code: 200
[...]
