interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "People": {"type": "people",
      "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8165-aef7-dc055c901ca0","cover":null,"icon":null,"created_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:47:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"dipt","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b3888165aef7dc055c901ca0","public_url":null,"archived":false,"in_trash":false,"request_id":"8a66f827-3d58-4496-bb3a-c442dd8ec16d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8a66f827-3d58-4496-bb3a-c442dd8ec16d
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"29c974f3-b388-8165-aef7-dc055c901ca0","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8165-aef7-dc055c901ca0
  response:
    content: '{"object":"database","id":"29c974f3-b388-8165-aef7-dc055c901ca0","cover":null,"icon":null,"created_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:47:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"dipt","name":"People","description":null,"type":"people","people":{}},"Relation":{"id":"i%5Dx%40","name":"Relation","description":null,"type":"relation","relation":{"database_id":"29c974f3-b388-8165-aef7-dc055c901ca0","data_source_id":"29c974f3-b388-811f-a78f-000bf0bd5071","type":"single_property","single_property":{}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b3888165aef7dc055c901ca0","public_url":null,"archived":false,"in_trash":false,"request_id":"6c7db3cc-0223-4f39-800f-abe9a21e01ff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c7db3cc-0223-4f39-800f-abe9a21e01ff
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8165-aef7-dc055c901ca0"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81ae-90d6-dc161accde7c","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8165-aef7-dc055c901ca0"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"People":{"id":"dipt","type":"people","people":[]},"Relation":{"id":"i%5Dx%40","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b38881ae90d6dc161accde7c","public_url":null,"request_id":"ee15429d-483d-4a53-a20b-dcfd60c2a776"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee15429d-483d-4a53-a20b-dcfd60c2a776
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8165-aef7-dc055c901ca0"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Florian"}}]},
      "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object":
      "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-8181-94b5-c7a5dac7ab7d","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8165-aef7-dc055c901ca0"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"People":{"id":"dipt","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Relation":{"id":"i%5Dx%40","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-29c974f3b388818194b5c7a5dac7ab7d","public_url":null,"request_id":"d7d344dd-4953-4a08-88a1-0e2ad646dfc9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d7d344dd-4953-4a08-88a1-0e2ad646dfc9
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8165-aef7-dc055c901ca0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8157-b1fc-e9d9dc0ba269","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8165-aef7-dc055c901ca0"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"People":{"id":"dipt[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8165-aef7-dc055c901ca0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8181-94b5-c7a5dac7ab7d","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8165-aef7-dc055c901ca0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8181-94b5-c7a5dac7ab7d","created_time":"2025-10-30T15:47:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8165-aef7-dc055c901ca0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8157-b1fc-e9d9dc0ba269","created_time":"2025-10-30T15:47:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8165-aef7-dc055c901ca0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8157-b1fc-e9d9dc0ba269","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8165-aef7-dc055c901ca0"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"People":{"id":"dipt","type":"people","people":[]},"Relation":{"id":"i%5Dx%40","type":"relation","relation":[{"id":"29c974f3-b388-8181-94b5-c7a5dac7ab7d"}],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-29c974f3b3888157b1fce9d9dc0ba269","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"648a3b17-bd1a-4ece-838f-c5e2d8805f82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 648a3b17-bd1a-4ece-838f-c5e2d8805f82
    status_code: 200
[...]
