interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Number Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Number": {"type": "number",
      "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"140974f3-b388-8198-945d-ce34728e5704","cover":null,"icon":null,"created_time":"2024-11-16T14:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-11-16T14:33:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"wktm","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/140974f3b3888198945dce34728e5704","public_url":null,"archived":false,"in_trash":false,"request_id":"5a417912-e519-4a6d-b771-2e8252ab8459"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a417912-e519-4a6d-b771-2e8252ab8459
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-8198-945d-ce34728e5704"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-8197-8572-c2054b04bb37","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8198-945d-ce34728e5704"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"wktm","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b38881978572c2054b04bb37","public_url":null,"request_id":"c656af4a-4dfd-4288-a8b9-7c4e4fe03c12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c656af4a-4dfd-4288-a8b9-7c4e4fe03c12
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8197-8572-c2054b04bb37","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8198-945d-ce34728e5704"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"wktm","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b38881978572c2054b04bb37","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"7d9b13ed-1985-4698-a9a2-868780daac86"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7d9b13ed-1985-4698-a9a2-868780daac86
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81a1-af23-d0abe48c6227","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81a1-af23-d0abe48c6227","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-816a-951f-d4cb3d620dcb","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81a1-af23-d0abe48c6227","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81a1-af23-d0abe48c6227","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-816a-951f-d4cb3d620dcb","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8198-945d-ce34728e5704/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81a1-af23-d0abe48c6227","created_time":"2024-11-16T14:33:00.000Z","last_edited_time":"2024-11-16T14:33:00.000Z[...]
