interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Date Query DB Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Created": {"type": "created_time", "created_time": {}}, "Last
      Edited": {"type": "last_edited_time", "last_edited_time": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8193-9f0d-ef3587f0372b","cover":null,"icon":null,"created_time":"2025-06-10T17:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:52:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"B%3A%5Ew","name":"Date","type":"date","date":{}},"Last
      Edited":{"id":"QO_w","name":"Last Edited","type":"last_edited_time","last_edited_time":{}},"Created":{"id":"oWsX","name":"Created","type":"created_time","created_time":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881939f0def3587f0372b","public_url":null,"archived":false,"in_trash":false,"request_id":"33f9489a-31c5-420f-b87e-a144b3d865e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 33f9489a-31c5-420f-b87e-a144b3d865e7
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8193-9f0d-ef3587f0372b"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://ap[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8193-9f0d-ef3587f0372b"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "this week"}}]}, "Date": {"type": "date", "date": {"start": "2025-06-10T19:52:15.985129",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-81cd-b679-dc66f0801708","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8193-9f0d-ef3587f0372b"},"archived":false,"in_trash":false,"properties":{"Date":{"id":"B%3A%5Ew","type":"date","date":{"start":"2025-06-10T19:52:00.000+02:00","end":null,"time_zone":null}},"Last
      Edited":{"id":"QO_w","type":"last_edited_time","last_edited_time":"2025-06-10T17:52:00.000Z"},"Created":{"id":"oWsX","type":"created_time","created_time":"2025-06-10T17:52:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-20e974f3b38881cdb679dc66f0801708","public_url":null,"request_id":"6432e608-6011-416a-9ae7-38a3b63915c5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6432e608-6011-416a-9ae7-38a3b63915c5
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81ac-ac4d-c50fafefeeb5","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8193-9f0d-ef3587f0372b"},"archived":false,"in_trash":false,"properties":{"Date":{"id":"B%3A%5Ew","type":"date","date":null},"Last
      Edited":{"id":"QO_w","type":"last_edited_time","last_edited_time":"2025-06-10T17:52:00.000Z"},"Created":{"id":"oWsX","type":"created_time","created_time":"2025-06-10T17:52:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-20e974f3b38881acac4dc50fafefeeb5","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"5b09a50d-c088-463e-9177-11b5e67cd1c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5b09a50d-c088-463e-9177-11b5e67cd1c6
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81f4-a469-d2fbefca5c5b","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-06-10T19:52:15.985129+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81cd-b679-dc66f0801708","created_time":"2025-06-10T17:52:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-06-10T19:52:15.985129+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c9-a269-fa8288f84d56","created_time":"2025-06-10T17:52:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-06-10T19:52:15.985129+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c9-a269-fa8288f84d56","created_time":"2025-06-10T17:52:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-06-10T19:52:15.985129+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81f4-a469-d2fbefca5c5b","created_time":"2025-06-10T17:52:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-06-10T19:52:15.985129+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81f4-a469-d2fbefca5c5b","created_time":"2025-06-10T17:52:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81cd-b679-dc66f0801708","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81a4-a208-e5a54e5f0406","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81d8-a034-c9831e23fc92","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c9-a269-fa8288f84d56","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8114-bfe7-cc0c59a5d138","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81d7-89ef-f71e5972bd10","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81f4-a469-d2fbefca5c5b","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-06-10T19:57:15.985129+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81f4-a469-d2fbefca5c5b","created_time":"2025-06-10T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-06-10T19:47:15.985129+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8193-9f0d-ef3587f0372b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"2767103e-a9ba-4624-a0d9-fcc910d0fc48"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2767103e-a9ba-4624-a0d9-fcc910d0fc48
    status_code: 200
version: 1
