interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Select": {"type": "select", "select": {"options": [{"name": "Backlog",
      "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Done",
      "color": "green"}]}}, "Multi-Select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d3888d62-31b9-414b-8bc6-6ac3d66dae3c","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:50:08.722+00:00","last_edited_time":"2026-06-24T18:50:08.722+00:00","data_sources":[{"id":"d7e0faef-06d2-48e0-8616-cf31a317c922","name":"(Multi)-Select
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/d3888d6231b9414b8bc66ac3d66dae3c","public_url":null,"archived":false,"request_id":"cdec6c05-d2e6-49ae-9fe8-677c7b1fda08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cdec6c05-d2e6-49ae-9fe8-677c7b1fda08
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d7e0faef-06d2-48e0-8616-cf31a317c922
  response:
    content: '{"object":"data_source","id":"d7e0faef-06d2-48e0-8616-cf31a317c922","cover":null,"icon":null,"created_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:50:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"gZmR","name":"Select","description":null,"type":"select","select":{"options":[{"id":"4439e219-15fe-4ca6-89c7-64d3c0123a1f","name":"Backlog","color":"gray","description":null},{"id":"a12794a2-5ba7-4e4c-873f-1e30abc34a6a","name":"In
      Progress","color":"blue","description":null},{"id":"6a3150e6-08f8-4a20-a68c-cfd7fadbaf80","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"zJuk","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"eaa23722-87d2-4141-b3ab-01f7187ac272","name":"Backlog","color":"gray","description":null},{"id":"84352c18-736e-490e-a371-9a8a5517c2fe","name":"In
      Progress","color":"blue","description":null},{"id":"cf9d740c-ba2e-4b3d-bc53-fe7eb533bc76","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d3888d62-31b9-414b-8bc6-6ac3d66dae3c"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/d3888d6231b9414b8bc66ac3d66dae3c","public_url":null,"in_trash":false,"archived":false,"request_id":"ff082a60-f952-465b-9703-1db6d9fff694"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff082a60-f952-465b-9703-1db6d9fff694
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "d7e0faef-06d2-48e0-8616-cf31a317c922"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81e5-8d51-f1bb09231ffd","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d7e0faef-06d2-48e0-8616-cf31a317c922","database_id":"d3888d62-31b9-414b-8bc6-6ac3d66dae3c"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"gZmR","type":"select","select":null},"Multi-Select":{"id":"zJuk","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481e58d51f1bb09231ffd","public_url":null,"archived":false,"request_id":"39909c01-d695-434e-a68f-f8fd8f273926"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39909c01-d695-434e-a68f-f8fd8f273926
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7e0faef-06d2-48e0-8616-cf31a317c922/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81e5-8d51-f1bb09231ffd","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d7e0faef-06d2-48e0-8616-cf31a317c922","database_id":"d3888d62-31b9-414b-8bc6-6ac3d66dae3c"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"gZmR","type":"select","select":null},"Multi-Select":{"id":"zJuk","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481e58d51f1bb09231ffd","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"50dad9f9-0186-44e5-9fba-2288202e78cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 50dad9f9-0186-44e5-9fba-2288202e78cb
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7e0faef-06d2-48e0-8616-cf31a317c922/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-818f-a930-c6db4c3fb638","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7e0faef-06d2-48e0-8616-cf31a317c922/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8131-8b49-c2b417458665","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7e0faef-06d2-48e0-8616-cf31a317c922/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-818f-a930-c6db4c3fb638","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7e0faef-06d2-48e0-8616-cf31a317c922/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8131-8b49-c2b417458665","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d7e0faef-06d2-48e0-8616-cf31a317c922/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-818f-a930-c6db4c3fb638","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T[...]
[...]
