interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Date": {"type": "date", "date": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e262fdad-0ca3-48f2-a10f-9b6766a384ec","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:02:43.076+00:00","last_edited_time":"2026-06-27T17:02:43.076+00:00","data_sources":[{"id":"1761a339-fe1f-410a-b29c-75ca7b5eaca7","name":"Rollup
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/e262fdad0ca348f2a10f9b6766a384ec","public_url":null,"request_id":"de513013-7500-4520-abdb-756ecc945e63"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de513013-7500-4520-abdb-756ecc945e63
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7
  response:
    content: '{"object":"data_source","id":"1761a339-fe1f-410a-b29c-75ca7b5eaca7","cover":null,"icon":null,"created_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:02:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"bApN","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Date":{"id":"cTg%60","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e262fdad-0ca3-48f2-a10f-9b6766a384ec"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/e262fdad0ca348f2a10f9b6766a384ec","public_url":null,"in_trash":false,"request_id":"10d786a5-55bb-4d6b-836f-7a2aac24ac5e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 10d786a5-55bb-4d6b-836f-7a2aac24ac5e
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"1761a339-fe1f-410a-b29c-75ca7b5eaca7","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7
  response:
    content: '{"object":"data_source","id":"1761a339-fe1f-410a-b29c-75ca7b5eaca7","cover":null,"icon":null,"created_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "1761a339-fe1f-410a-b29c-75ca7b5eaca7"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-817b-84ae-e63702a6c78e","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1761a339-fe1f-410a-b29c-75ca7b5eaca7","database_id":"e262fdad-0ca3-48f2-a10f-9b6766a384ec"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"%3AJ%7B%3A","type":"relation","relation":[],"has_more":false},"Rollup
      Number":{"id":"%3Acms","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Rollup
      Date":{"id":"C%3EcY","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Title":{"id":"Ui%3FY","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"bApN","type":"number","number":42},"Date":{"id":"cTg%60","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Date Array":{"id":"fhnS","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number Array":{"id":"lxfo","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-38c9ce7b60a4817b84aee63702a6c78e","public_url":null,"request_id":"6c76d9f8-a695-41b7-bfa2-2a15a60d0b73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c76d9f8-a695-41b7-bfa2-2a15a60d0b73
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1761a339-fe1f-410a-b29c-75ca7b5eaca7","database_id":"e262fdad-0ca3-48f2-a10f-9b6766a384ec"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"ob[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"b59af208-5ea5-4848-9475-83c99e72ca80"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b59af208-5ea5-4848-9475-83c99e72ca80
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"o[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1761a339-fe1f-410a-b29c-75ca7b5eaca7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b5-8bc5-e6cffd3d060f","created_time":"2026-06-27T17:02:00.000Z","last_edited_time":"2026-06-27T17:02:00.000Z","created_by":{"object[...]
