interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"00000000-0000-4000-8000-00000000000d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date
      Source":{"id":"CNpy","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Tags":{"id":"DUnB","type":"multi_select","multi_select":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink"}]},"Date":{"id":"%5Ckxk","type":"formula","formula":{"type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}}},"String":{"id":"dvYQ","type":"formula","formula":{"type":"string","string":"Item
      2"}},"Checkbox":{"id":"hlGb","type":"formula","formula":{"type":"boolean","boolean":false}},"Number":{"id":"x%40zJ","type":"formula","formula":{"type":"number","number":1}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}]}},"url":"https://www.notion.so/Item-2-38a9ce7b60a481ddabb6c3f4cee35e22","public_url":null,"archived":false},{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"00000000-0000-4000-8000-00000000000d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date
     [...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d
  response:
    content: '{"object":"database","id":"00000000-0000-4000-8000-00000000000d","cover":null,"icon":null,"created_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_time":"2026-06-25T16:54:00.000Z","title":[{"type":"text","text":{"content":"Formula
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Formula
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Date Source":{"id":"CNpy","name":"Date
      Source","description":null,"type":"date","date":{}},"Tags":{"id":"DUnB","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink","description":null},{"id":"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29","name":"Done","color":"gray","description":null}]}},"Date":{"id":"%5Ckxk","name":"Date","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:CNpy:00000000-0000-0000-0000-000000000000:00000000-0000-4000-8000-0000000000f0}}"}},"String":{"id":"dvYQ","name":"String","description":null,"type":"formula","formula":{"expression":"format({{notion:block_property:title:00000000-0000-0000-0000-000000000000:00000000-0000-4000-8000-0000000000f0}})"}},"Checkbox":{"id":"hlGb","name":"Checkbox","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:DUnB:00000000-0000-0000-0000-000000000000:00000000-0000-4000-8000-0000000000f0}}.includes(\"Done\")"}},"Number":{"id":"x%40zJ","name":"Number","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:DUnB:00000000-0000-0000-0000-000000000000:00000000-0000-4000-8000-0000000000f0}}.length()"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/0000000000004000800000000000000d","public_url":null,"in_trash":false,"archived":false,"request_id":"7a1614f5-86bc-4341-a840-bdcc178a52da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7a1614f5-86bc-4341-a840-bdcc178a52da
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"string": {"equals": "Item 1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"formula": {"checkbox": {"equals": true}}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"contains": "1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00.00[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"starts_with": "Item"}}, "property":
      "String"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08:00[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"is_empty": true}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ca0ca2ae-ea17-40d1-b1ef-2719d78c58a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ca0ca2ae-ea17-40d1-b1ef-2719d78c58a4
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"number": {"less_than_or_equal_to": 42}}, "property":
      "Number"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08:00.000[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"on_or_after": "2024-11-23"}}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:0[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"next_week": {}}}, "property": "Date"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b155becd-38da-4278-85de-8433d38dbd5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b155becd-38da-4278-85de-8433d38dbd5a
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Empty Formula DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Empty Formula DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Formula": {"type": "formula", "formula":
      {"expression": "prop(\"Title\")"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8113-a871-e7c1573a5c82","cover":null,"icon":null,"created_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8113-a871-e7c1573a5c82/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6f41c7f5-13cd-4e7a-a789-0d762846cfba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f41c7f5-13cd-4e7a-a789-0d762846cfba
    status_code: 200
version: 1
