interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "(Multi)-Select Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}},
      "Multi-Select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Done", "color": "green"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-81e1-a37f-e471d50a606e","cover":null,"icon":null,"created_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:37:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"IxBI","name":"Select","type":"select","select":{"options":[{"id":"20e8ae3c-2a87-49b5-8fc2-7b2efc391ccd","name":"Backlog","color":"gray","description":null},{"id":"ac0c3558-2de0-4f79-bc93-2d7d9de9200e","name":"In
      Progress","color":"blue","description":null},{"id":"b28cb389-2415-4d29-97c7-f00df5864c72","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"zGxz","name":"Multi-Select","type":"multi_select","multi_select":{"options":[{"id":"d62e7383-e3df-47d2-9a99-d4b86ff6a27f","name":"Backlog","color":"gray","description":null},{"id":"ea777734-12c2-4207-91a7-2f66e0d0a1f4","name":"In
      Progress","color":"blue","description":null},{"id":"16c617b3-501e-4888-9de5-8e3f0495f65b","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b38881e1a37fe471d50a606e","public_url":null,"archived":false,"in_trash":false,"request_id":"4d13564f-f9d8-4525-81e0-eaf19f08e05a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d13564f-f9d8-4525-81e0-eaf19f08e05a
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-81e1-a37f-e471d50a606e"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-8125-8df6-c4c020285af4","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-81e1-a37f-e471d50a606e"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"IxBI","type":"select","select":null},"Multi-Select":{"id":"zGxz","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881258df6c4c020285af4","public_url":null,"request_id":"40219d9a-1483-40d2-9839-2fcc74dd3c3a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40219d9a-1483-40d2-9839-2fcc74dd3c3a
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81e1-a37f-e471d50a606e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8125-8df6-c4c020285af4","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-81e1-a37f-e471d50a606e"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"IxBI","type":"select","select":null},"Multi-Select":{"id":"zGxz","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881258df6c4c020285af4","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"29349a04-690c-4c4b-bf0c-8eac43770b0c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29349a04-690c-4c4b-bf0c-8eac43770b0c
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81e1-a37f-e471d50a606e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81b8-816b-da121dfa49bb","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81e1-a37f-e471d50a606e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81e0-aa81-e9f3e219e950","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81e1-a37f-e471d50a606e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81b8-816b-da121dfa49bb","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81e1-a37f-e471d50a606e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81e0-aa81-e9f3e219e950","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81e1-a37f-e471d50a606e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81b8-816b-da121dfa49bb","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:[...]
[...]
