interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Files": {"type": "files", "files":
      {}}, "Checkbox": {"type": "checkbox", "checkbox": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-81d9-9201-e3d8da908194","cover":null,"icon":null,"created_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:47:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"%3EWxR","name":"Files","description":null,"type":"files","files":{}},"Checkbox":{"id":"%40Kt%3B","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881d99201e3d8da908194","public_url":null,"archived":false,"in_trash":false,"request_id":"1f320d08-41dd-46d8-a647-1ba12cdbf444"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f320d08-41dd-46d8-a647-1ba12cdbf444
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-81d9-9201-e3d8da908194"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81c5-8174-e412ed47cfcc","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81d9-9201-e3d8da908194"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Files":{"id":"%3EWxR","type":"files","files":[]},"Checkbox":{"id":"%40Kt%3B","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b38881c58174e412ed47cfcc","public_url":null,"request_id":"90306110-87c3-4321-bea0-c56c64f3ead8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 90306110-87c3-4321-bea0-c56c64f3ead8
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-81d9-9201-e3d8da908194"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-8183-8995-ed1c542534e2","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81d9-9201-e3d8da908194/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8106-9313-dcd8001ea24b","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81d9-9201-e3d8da908194"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Files":{"id":"%3EWx[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81d9-9201-e3d8da908194/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8183-8995-ed1c542534e2","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81d9-9201-e3d8da908194"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Files":{"id":"%3EWxR","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Checkbox":{"id":"%40Kt%3B","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-29c974f3b38881838995ed1c542534e2","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"7b4bb40d-fb41-41f9-9ec3-02b0f8a981a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7b4bb40d-fb41-41f9-9ec3-02b0f8a981a3
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81d9-9201-e3d8da908194/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8106-9313-dcd8001ea24b","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81d9-9201-e3d8da908194/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8106-9313-dcd8001ea24b","created_time":"2025-10-30T15:47:00.000Z","last_edited_time":"2025-10-30T15:47:00[...]
[...]
