interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}, "Multi-Select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Backlog", "color": "gray"}, {"name":
      "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-8176-b25c-e100893612f7","cover":null,"icon":null,"created_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:07:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi-Select":{"id":"wk%60R","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"89b3db95-119a-4263-8e57-623fecbaa4a8","name":"Backlog","color":"gray","description":null},{"id":"579f08e6-4b2f-4830-ab1e-21184301a1d5","name":"In
      Progress","color":"blue","description":null},{"id":"ce17610b-41d4-499e-9f51-07b2758c52ff","name":"Done","color":"green","description":null}]}},"Select":{"id":"z%5EW%3A","name":"Select","description":null,"type":"select","select":{"options":[{"id":"ee71d347-ead8-4c9f-b869-34d5a23d6760","name":"Backlog","color":"gray","description":null},{"id":"c0e9e5ff-09ce-4d3e-9ff8-0098897bfaec","name":"In
      Progress","color":"blue","description":null},{"id":"d8b15b49-9cc2-48f0-80a6-c225d4827dce","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888176b25ce100893612f7","public_url":null,"archived":false,"in_trash":false,"request_id":"9d1fb718-2a4f-4cf3-b84d-3f5774e362a6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9d1fb718-2a4f-4cf3-b84d-3f5774e362a6
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-8176-b25c-e100893612f7"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-8137-aafa-ca9263fb0d05","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-8176-b25c-e100893612f7"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Multi-Select":{"id":"wk%60R","type":"multi_select","multi_select":[]},"Select":{"id":"z%5EW%3A","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b3888137aafaca9263fb0d05","public_url":null,"request_id":"9f1c562c-9982-4b58-8bea-68bf6465654c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9f1c562c-9982-4b58-8bea-68bf6465654c
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8176-b25c-e100893612f7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8137-aafa-ca9263fb0d05","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-8176-b25c-e100893612f7"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Multi-Select":{"id":"wk%60R","type":"multi_select","multi_select":[]},"Select":{"id":"z%5EW%3A","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b3888137aafaca9263fb0d05","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"8c8db284-f95b-44af-b885-127a62c768ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8c8db284-f95b-44af-b885-127a62c768ba
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8176-b25c-e100893612f7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-814c-b775-cf777bb97bf5","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8176-b25c-e100893612f7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81bd-9602-cdf3aea5ed3c","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8176-b25c-e100893612f7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-814c-b775-cf777bb97bf5","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:07:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8176-b25c-e100893612f7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81bd-9602-cdf3aea5ed3c","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8176-b25c-e100893612f7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-814c-b775-cf777bb97bf5","created_time":"2025-09-23T10:07:00.000Z","last_edited_time":"2025-09-23T10:[...]
[...]
