interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "People": {"type": "people",
      "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-819e-85b6-dea556dd6323","cover":null,"icon":null,"created_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:58:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"Gxxa","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a4819e85b6dea556dd6323","public_url":null,"in_trash":false,"archived":false,"request_id":"79857d19-fe75-43e9-a7b4-1b3d77d4e25b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 79857d19-fe75-43e9-a7b4-1b3d77d4e25b
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"38c9ce7b-60a4-819e-85b6-dea556dd6323","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-819e-85b6-dea556dd6323
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-819e-85b6-dea556dd6323","cover":null,"icon":null,"created_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:58:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"Gxxa","name":"People","description":null,"type":"people","people":{}},"Relation":{"id":"%5BmgV","name":"Relation","description":null,"type":"relation","relation":{"database_id":"38c9ce7b-60a4-819e-85b6-dea556dd6323","data_source_id":"38c9ce7b-60a4-81da-9ddb-000be2cbaf7f","type":"single_property","single_property":{}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a4819e85b6dea556dd6323","public_url":null,"in_trash":false,"archived":false,"request_id":"120f8f1b-b6dd-4e8d-9e64-7b9da93675e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 120f8f1b-b6dd-4e8d-9e64-7b9da93675e7
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-819e-85b6-dea556dd6323"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-810b-84d3-c618d6424929","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-819e-85b6-dea556dd6323"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"People":{"id":"Gxxa","type":"people","people":[]},"Relation":{"id":"%5BmgV","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4810b84d3c618d6424929","public_url":null,"archived":false,"request_id":"fbbea6df-a7f1-4afe-86c9-022fea9e3e50"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fbbea6df-a7f1-4afe-86c9-022fea9e3e50
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-819e-85b6-dea556dd6323"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Person", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Person"}}]}, "People":
      {"people": [{"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}],
      "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f1-8582-c4ea8a1f6ab9","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-819e-85b6-dea556dd6323"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"People":{"id":"Gxxa","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Relation":{"id":"%5BmgV","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://www.notion.so/Person-38c9ce7b60a481f18582c4ea8a1f6ab9","public_url":null,"archived":false,"request_id":"2e927967-4bf1-47e8-b27d-41cf7079ee0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2e927967-4bf1-47e8-b27d-41cf7079ee0d
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-819e-85b6-dea556dd6323/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8139-9f3b-d028a1c47e8c","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-819e-85b6-dea556dd6323"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"People":{"id":"G[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-819e-85b6-dea556dd6323/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f1-8582-c4ea8a1f6ab9","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-819e-85b6-dea556dd6323"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"People":{"id":"Gxxa","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Relation":{"id":"%5BmgV","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://www.notion.so/Person-38c9ce7b60a481f18582c4ea8a1f6ab9","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"81fe4fee-1b4c-4a03-bac1-ad97b83c1408"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 81fe4fee-1b4c-4a03-bac1-ad97b83c1408
    status_code: 200
- request:
    body: '{"filter": {"people": {"contains": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-819e-85b6-dea556dd6323/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f1-8582-c4ea8a1f6ab9","created_time":"2026-06-27T04:58:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-819e-85b6-dea556dd6323/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8139-9f3b-d028a1c47e8c","created_time":"2026-06-27T04:58:00.000Z","last_ed[...]
[...]
