interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "People & Relation
      Query DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "People":
      {"type": "people", "people": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"140974f3-b388-814d-b8ff-ff7531ace9ea","cover":null,"icon":null,"created_time":"2024-11-16T14:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-11-16T14:31:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"E%5CMb","name":"People","type":"people","people":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/140974f3b388814db8ffff7531ace9ea","public_url":null,"archived":false,"in_trash":false,"request_id":"a8486ede-3ec6-415c-8508-21c8443e520c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8486ede-3ec6-415c-8508-21c8443e520c
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "140974f3-b388-814d-b8ff-ff7531ace9ea", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/140974f3-b388-814d-b8ff-ff7531ace9ea
  response:
    content: '{"object":"database","id":"140974f3-b388-814d-b8ff-ff7531ace9ea","cover":null,"icon":null,"created_time":"2024-11-16T14:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-814d-b8ff-ff7531ace9ea"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-8193-ad5f-e8d284758168","created_time":"2024-11-16T14:31:00.000Z","last_edited_time":"2024-11-16T14:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-814d-b8ff-ff7531ace9ea"},"archived":false,"in_trash":false,"properties":{"People":{"id":"E%5CMb","type":"people","people":[]},"Relation":{"id":"Jisq","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b3888193ad5fe8d284758168","public_url":null,"request_id":"bd7af3e2-95c9-4b30-9c34-0f900fd33084"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bd7af3e2-95c9-4b30-9c34-0f900fd33084
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-814d-b8ff-ff7531ace9ea"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Florian"}}]}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-8196-87c7-fe5c93a7d33f","created_time":"2024-11-16T14:31:00.000Z","last_edited_time":"2024-11-16T14:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-814d-b8ff-ff7531ace9ea"},"archived":false,"in_trash":false,"properties":{"People":{"id":"E%5CMb","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Relation":{"id":"Jisq","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-140974f3b388819687c7fe5c93a7d33f","public_url":null,"request_id":"ba574428-b21a-483a-9e8c-0669eb5acf72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba574428-b21a-483a-9e8c-0669eb5acf72
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-814d-b8ff-ff7531ace9ea/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-813a-97a3-cc30e2443371","created_time":"2024-11-16T14:31:00.000Z","last_edited_time":"2024-11-16T14:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-814d-b8ff-ff7531ace9ea"},"archived":false,"in_trash":false,"properties":{"People":{"id":"E%5CMb","type":"people[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-814d-b8ff-ff7531ace9ea/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8196-87c7-fe5c93a7d33f","created_time":"2024-11-16T14:31:00.000Z","last_edited_time":"2024-11-16T14:31:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-814d-b8ff-ff7531ace9ea/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8196-87c7-fe5c93a7d33f","created_time":"2024-11-16T14:31:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-814d-b8ff-ff7531ace9ea/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-813a-97a3-cc30e2443371","created_time":"2024-11-16T14:31:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-814d-b8ff-ff7531ace9ea/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-813a-97a3-cc30e2443371","created_time":"2024-11-16T14:31:00.000Z","last_edited_time":"2024-11-16T14:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-814d-b8ff-ff7531ace9ea"},"archived":false,"in_trash":false,"properties":{"People":{"id":"E%5CMb","type":"people","people":[]},"Relation":{"id":"Jisq","type":"relation","relation":[{"id":"140974f3-b388-8196-87c7-fe5c93a7d33f"}],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-140974f3b388813a97a3cc30e2443371","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e1de0798-f3ee-4d7a-83c6-d12b2ddcea93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e1de0798-f3ee-4d7a-83c6-d12b2ddcea93
    status_code: 200
[...]
