interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Files": {"type": "files", "files":
      {}}, "Checkbox": {"type": "checkbox", "checkbox": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81da-983a-d442b87d1673","cover":null,"icon":null,"created_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:30:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"%40fW%7D","name":"Files","description":null,"type":"files","files":{}},"Checkbox":{"id":"xzE%60","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881da983ad442b87d1673","public_url":null,"archived":false,"in_trash":false,"request_id":"ace648d6-c810-4b09-83cb-ade36d5f2829"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ace648d6-c810-4b09-83cb-ade36d5f2829
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81da-983a-d442b87d1673"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-816e-bb6d-e8ddfdccd80d","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81da-983a-d442b87d1673"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"%40fW%7D","type":"files","files":[]},"Checkbox":{"id":"xzE%60","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b388816ebb6de8ddfdccd80d","public_url":null,"request_id":"82122935-f2b2-416b-8f07-e822e65a6778"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82122935-f2b2-416b-8f07-e822e65a6778
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81da-983a-d442b87d1673"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-8169-b9a7-fbcb48c50496","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81da-983a-d442b87d1673/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81b4-9ec0-da8435ecb21f","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81da-983a-d442b87d1673"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"%40fW%7D","type":"files[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81da-983a-d442b87d1673/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8169-b9a7-fbcb48c50496","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81da-983a-d442b87d1673"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"%40fW%7D","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Checkbox":{"id":"xzE%60","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-25e974f3b3888169b9a7fbcb48c50496","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e13f31c4-f9bd-43c2-892d-c0089b9bedaf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e13f31c4-f9bd-43c2-892d-c0089b9bedaf
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81da-983a-d442b87d1673/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81b4-9ec0-da8435ecb21f","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81da-983a-d442b87d1673/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81b4-9ec0-da8435ecb21f","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00[...]
[...]
