interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}},
      "Number": {"type": "number", "number": {"format": "number"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-8169-ada1-e06d5abd8351","cover":null,"icon":null,"created_time":"2025-09-23T10:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:08:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"iH%5B%5B","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Date":{"id":"x%7B~_","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888169ada1e06d5abd8351","public_url":null,"archived":false,"in_trash":false,"request_id":"9461b926-1a02-43a9-bc1a-966ab568e82c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9461b926-1a02-43a9-bc1a-966ab568e82c
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"277974f3-b388-8169-ada1-e06d5abd8351","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351
  response:
    content: '{"object":"database","id":"277974f3-b388-8169-ada1-e06d5abd8351","cover":null,"icon":null,"created_time":"2025-09-23T10:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:08:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"iH%5B%5B","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Relation":{"id":"rnWu","name":"Relation","description":null,"type":"relation","relation":{"database_id":"277974f3-b388-8169-ada1-e06d5abd8351","data_source_id":"277974f3-b388-81a8-b1f4-000b3e796a95","type":"single_property","single_property":{}}},"Date":{"id":"x%7B~_","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888169ada1e06d5abd8351","public_url":null,"archived":false,"in_trash":false,"request_id":"80f5756f-757e-4e33-9b4d-998c36f89681"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80f5756f-757e-4e33-9b4d-998c36f89681
    status_code: 200
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-8169-ada1-e06d5abd8351"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-8199-93eb-c502cfdb35e8","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-8169-ada1-e06d5abd8351"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Rollup
      Date Array":{"id":"%40I%5CR","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number Array":{"id":"OOz%5B","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"iH%5B%5B","type":"number","number":42},"Rollup
      Date":{"id":"j~Vc","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Number":{"id":"rejO","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Relation":{"id":"rnWu","type":"relation","relation":[],"has_more":false},"Date":{"id":"x%7B~_","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Title":{"id":"zFli","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-277974f3b388819993ebc502cfdb35e8","public_url":null,"request_id":"c495cd28-a2e4-48d7-928b-423c2dbfe51f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c495cd28-a2e4-48d7-928b-423c2dbfe51f
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-8169-ada1-e06d5abd8351"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Rollup
      Date A[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"718aee4e-9add-4853-a148-73612d6feb7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 718aee4e-9add-4853-a148-73612d6feb7b
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-8169-ada1-e06d5abd8351/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81d8-8244-c1552575c6ab","created_time":"2025-09-23T10:08:00.000Z","last_edited_time":"2025-09-23T10:08:00.000Z","created_by":{"object":"[...]
