interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}, "Multi-Select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Backlog", "color": "gray"}, {"name":
      "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-813d-aa31-ee66469879b1","cover":null,"icon":null,"created_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:59:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"Iqz%7C","name":"Select","description":null,"type":"select","select":{"options":[{"id":"c6d34e2d-f2a7-4957-bfc5-bd8a53f8ac31","name":"Backlog","color":"gray","description":null},{"id":"6e5707c3-da9d-42ef-b4af-51fe33fc02ea","name":"In
      Progress","color":"blue","description":null},{"id":"364ed100-123f-4a05-950a-a993f2df989b","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"Ux%5Cw","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"b40a9214-5884-4fe9-babc-244950c85a00","name":"Backlog","color":"gray","description":null},{"id":"0b9e84fa-eb3f-4fe6-8f0e-f7b4ef632e83","name":"In
      Progress","color":"blue","description":null},{"id":"c6055afc-9d37-42d6-ba4c-cc68eb3aebd1","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b388813daa31ee66469879b1","public_url":null,"archived":false,"in_trash":false,"request_id":"e8791918-53a5-4f6f-9838-ca0d49189d00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e8791918-53a5-4f6f-9838-ca0d49189d00
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-813d-aa31-ee66469879b1"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-8106-a706-fb90fd84dcf8","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-813d-aa31-ee66469879b1"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"Iqz%7C","type":"select","select":null},"Multi-Select":{"id":"Ux%5Cw","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b3888106a706fb90fd84dcf8","public_url":null,"request_id":"bdd7e70a-9a31-4c41-b95c-d2b28a5e6003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bdd7e70a-9a31-4c41-b95c-d2b28a5e6003
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-813d-aa31-ee66469879b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8106-a706-fb90fd84dcf8","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-813d-aa31-ee66469879b1"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"Iqz%7C","type":"select","select":null},"Multi-Select":{"id":"Ux%5Cw","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b3888106a706fb90fd84dcf8","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"8284d076-0335-42ff-95e0-98d14106bfe5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8284d076-0335-42ff-95e0-98d14106bfe5
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-813d-aa31-ee66469879b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8169-9463-cb7ca394d837","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-813d-aa31-ee66469879b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-817d-b279-d8bdcb154007","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-813d-aa31-ee66469879b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8169-9463-cb7ca394d837","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-813d-aa31-ee66469879b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-817d-b279-d8bdcb154007","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-813d-aa31-ee66469879b1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8169-9463-cb7ca394d837","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:[...]
[...]
