interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test 68", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Date Query DB Test
      68"}}], "properties": {"Name": {"type": "title", "title": {}}, "Date": {"type":
      "date", "date": {}}, "Created": {"type": "created_time", "created_time": {}},
      "Last Edited": {"type": "last_edited_time", "last_edited_time": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"140974f3-b388-8184-9dc7-dfaa2cf2eab7","cover":null,"icon":null,"created_time":"2024-11-16T12:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-11-16T12:31:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test 68","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test 68","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"uLqe","name":"Date","type":"date","date":{}},"Last
      Edited":{"id":"%7Cagp","name":"Last Edited","type":"last_edited_time","last_edited_time":{}},"Created":{"id":"%7DUTx","name":"Created","type":"created_time","created_time":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/140974f3b38881849dc7dfaa2cf2eab7","public_url":null,"archived":false,"in_trash":false,"request_id":"789be209-dc09-4db5-8186-8e2394b33d30"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 789be209-dc09-4db5-8186-8e2394b33d30
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-8184-9dc7-dfaa2cf2eab7"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://ap[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-8184-9dc7-dfaa2cf2eab7"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "this week"}}]}, "Date": {"type": "date", "date": {"start": "2024-11-16T13:31:42.775537",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-81ac-9e60-e8abfe2fb638","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8184-9dc7-dfaa2cf2eab7"},"archived":false,"in_trash":false,"properties":{"Date":{"id":"uLqe","type":"date","date":{"start":"2024-11-16T13:31:00.000+01:00","end":null,"time_zone":null}},"Last
      Edited":{"id":"%7Cagp","type":"last_edited_time","last_edited_time":"2024-11-16T12:31:00.000Z"},"Created":{"id":"%7DUTx","type":"created_time","created_time":"2024-11-16T12:31:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-140974f3b38881ac9e60e8abfe2fb638","public_url":null,"request_id":"c6dd2f08-632d-4ecd-ad38-e6c6df225a72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c6dd2f08-632d-4ecd-ad38-e6c6df225a72
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81ad-9dcd-f49a6fad1be2","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8184-9dc7-dfaa2cf2eab7"},"archived":false,"in_trash":false,"properties":{"Date":{"id":"uLqe","type":"date","date":null},"Last
      Edited":{"id":"%7Cagp","type":"last_edited_time","last_edited_time":"2024-11-16T12:31:00.000Z"},"Created":{"id":"%7DUTx","type":"created_time","created_time":"2024-11-16T12:31:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-140974f3b38881ad9dcdf49a6fad1be2","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"2870d4af-0762-476a-a422-2c51168d164b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2870d4af-0762-476a-a422-2c51168d164b
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8164-9930-e1a34d9dd24e","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2024-11-16T13:31:42.775537+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81ac-9e60-e8abfe2fb638","created_time":"2024-11-16T12:31:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2024-11-16T13:31:42.775537+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8129-8eef-d090c044b10d","created_time":"2024-11-16T12:31:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2024-11-16T13:31:42.775537+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8129-8eef-d090c044b10d","created_time":"2024-11-16T12:31:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2024-11-16T13:31:42.775537+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8164-9930-e1a34d9dd24e","created_time":"2024-11-16T12:31:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2024-11-16T13:31:42.775537+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8164-9930-e1a34d9dd24e","created_time":"2024-11-16T12:31:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81ac-9e60-e8abfe2fb638","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-815b-955e-fe5cfc6bc283","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81e4-88e8-e961bb4ceb48","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8129-8eef-d090c044b10d","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81c5-844b-c1cafda336f5","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81f6-b160-e2b88816e8a2","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8164-9930-e1a34d9dd24e","created_time":"2024-11-16T12:31:00.000Z","last_edited_time":"2024-11-16T12:31:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2024-11-16T13:36:42.775537+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8164-9930-e1a34d9dd24e","created_time":"2024-11-16T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2024-11-16T13:26:42.775537+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8184-9dc7-dfaa2cf2eab7/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3a985296-df72-4aac-bd00-68545a8ba459"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3a985296-df72-4aac-bd00-68545a8ba459
    status_code: 200
version: 1
