interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8126-963a-c877fa634000","cover":null,"icon":null,"created_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:31:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"sO%5BB","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a48126963ac877fa634000","public_url":null,"in_trash":false,"archived":false,"request_id":"3bd011fa-0a5e-42c7-ae45-7b11fb682711"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3bd011fa-0a5e-42c7-ae45-7b11fb682711
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8126-963a-c877fa634000"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8131-b73b-eca1630f6622","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8126-963a-c877fa634000"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"sO%5BB","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38a9ce7b60a48131b73beca1630f6622","public_url":null,"archived":false,"request_id":"6f7e9fe4-f021-42ba-b6d8-d1cfe2ac0daf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f7e9fe4-f021-42ba-b6d8-d1cfe2ac0daf
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8131-b73b-eca1630f6622","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8126-963a-c877fa634000"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"sO%5BB","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38a9ce7b60a48131b73beca1630f6622","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"309e5ed6-f5b6-47b0-8a9e-36744f2fe219"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 309e5ed6-f5b6-47b0-8a9e-36744f2fe219
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8144-a7a1-f174bbf23b61","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8144-a7a1-f174bbf23b61","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8126-b933-f5b24a967f90","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8144-a7a1-f174bbf23b61","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8144-a7a1-f174bbf23b61","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8126-b933-f5b24a967f90","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8126-963a-c877fa634000/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8144-a7a1-f174bbf23b61","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z[...]
