interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}},
      "Number": {"type": "number", "number": {"format": "number"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-819f-a90f-cfc3722708aa","cover":null,"icon":null,"created_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:31:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"%5EmX%7B","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Date":{"id":"z%5DNo","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4819fa90fcfc3722708aa","public_url":null,"in_trash":false,"archived":false,"request_id":"71f376f8-fe3e-4a82-976f-edc95968ddf9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 71f376f8-fe3e-4a82-976f-edc95968ddf9
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"38a9ce7b-60a4-819f-a90f-cfc3722708aa","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-819f-a90f-cfc3722708aa","cover":null,"icon":null,"created_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:31:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"F%3CWk","name":"Relation","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-819f-a90f-cfc3722708aa","data_source_id":"38a9ce7b-60a4-814e-ae79-000b22a35b02","type":"single_property","single_property":{}}},"Number":{"id":"%5EmX%7B","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Date":{"id":"z%5DNo","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4819fa90fcfc3722708aa","public_url":null,"in_trash":false,"archived":false,"request_id":"3232b5cb-091a-4aac-ac99-1fd6d775281c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3232b5cb-091a-4aac-ac99-1fd6d775281c
    status_code: 200
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-819f-a90f-cfc3722708aa"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-812b-b63c-f02ecd533b10","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-819f-a90f-cfc3722708aa"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"F%3CWk","type":"relation","relation":[],"has_more":false},"Number":{"id":"%5EmX%7B","type":"number","number":42},"Rollup
      Number Array":{"id":"fRGO","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number":{"id":"leV%3C","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Date":{"id":"z%5DNo","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Title":{"id":"zt%60q","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date Array":{"id":"%7Cr%3C%3E","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date":{"id":"%7DUGv","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-38a9ce7b60a4812bb63cf02ecd533b10","public_url":null,"archived":false,"request_id":"941e6dff-63dd-4bb8-94c1-b0fe5e35e959"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 941e6dff-63dd-4bb8-94c1-b0fe5e35e959
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-819f-a90f-cfc3722708aa"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ba8783e2-447d-4790-b63c-1f143039caa8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba8783e2-447d-4790-b63c-1f143039caa8
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-819f-a90f-cfc3722708aa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8139-bdc2-d6f9a08db708","created_time":"2026-06-25T14:31:00.000Z","last_edited_time":"2026-06-25T14:31:00.000Z","created_by":{"object":"[...]
