interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Files & Checkbox Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Files":
      {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox", "checkbox":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8139-8959-e2244ef6de3b","cover":null,"icon":null,"created_time":"2024-12-10T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:56:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"%3CYjJ","name":"Checkbox","type":"checkbox","checkbox":{}},"Files":{"id":"p%3Cbu","name":"Files","type":"files","files":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b38881398959e2244ef6de3b","public_url":null,"archived":false,"in_trash":false,"request_id":"9e984eb4-ec54-4348-9a0e-7c7f72055764"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e984eb4-ec54-4348-9a0e-7c7f72055764
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-8139-8959-e2244ef6de3b"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81f1-9790-e99ebf9b10ff","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8139-8959-e2244ef6de3b"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%3CYjJ","type":"checkbox","checkbox":false},"Files":{"id":"p%3Cbu","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b38881f19790e99ebf9b10ff","public_url":null,"request_id":"7ee0599d-6a61-41d7-8311-0c8fb3557b91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ee0599d-6a61-41d7-8311-0c8fb3557b91
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-8139-8959-e2244ef6de3b"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Files"}}]}, "Files": {"type": "files", "files": [{"type": "external", "name":
      "image", "external": {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-813d-b2ea-d389937e876d","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8139-8959-e2244ef6de3b"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%3CYjJ","type":"checkbox","checkbox":false},"Files":{"id":"p%3Cbu","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-158974f3b388813db2ead389937e876d","public_url":null,"request_id":"d9d01b77-3ee1-4f27-af5f-7169944d45ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d9d01b77-3ee1-4f27-af5f-7169944d45ee
    status_code: 200
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8139-8959-e2244ef6de3b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81e8-bee4-e14e0a1566ea","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8139-8959-e2244ef6de3b"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%3CYjJ","type":"chec[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8139-8959-e2244ef6de3b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-813d-b2ea-d389937e876d","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8139-8959-e2244ef6de3b"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"%3CYjJ","type":"checkbox","checkbox":false},"Files":{"id":"p%3Cbu","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-158974f3b388813db2ead389937e876d","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"da152eb4-2b2f-43d3-8bbb-3fd220e303f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - da152eb4-2b2f-43d3-8bbb-3fd220e303f3
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8139-8959-e2244ef6de3b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81e8-bee4-e14e0a1566ea","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8139-8959-e2244ef6de3b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81e8-bee4-e14e0a1566ea","created_time":"2024-12-10T10:57:00.000Z","last_edited_time":"2024-12-10T10:57:00[...]
[...]
