interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "People & Relation
      Query DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "People":
      {"type": "people", "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81cb-8839-e8948e1ad68a","cover":null,"icon":null,"created_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:15:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"D%5Dkk","name":"People","type":"people","people":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881cb8839e8948e1ad68a","public_url":null,"archived":false,"in_trash":false,"request_id":"dc73d6d8-c8da-4ccb-a6e8-8640c8ebac18"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dc73d6d8-c8da-4ccb-a6e8-8640c8ebac18
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"257974f3-b388-81cb-8839-e8948e1ad68a","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-81cb-8839-e8948e1ad68a
  response:
    content: '{"object":"database","id":"257974f3-b388-81cb-8839-e8948e1ad68a","cover":null,"icon":null,"created_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81cb-8839-e8948e1ad68a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-817c-8854-e6389c2c79f8","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81cb-8839-e8948e1ad68a"},"archived":false,"in_trash":false,"properties":{"People":{"id":"D%5Dkk","type":"people","people":[]},"Relation":{"id":"VVcs","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b388817c8854e6389c2c79f8","public_url":null,"request_id":"2394bfdd-a608-4ac0-8314-5cc984b598ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2394bfdd-a608-4ac0-8314-5cc984b598ac
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81cb-8839-e8948e1ad68a"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Florian"}}]}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-8199-80d1-c05eea1cd13f","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81cb-8839-e8948e1ad68a"},"archived":false,"in_trash":false,"properties":{"People":{"id":"D%5Dkk","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Relation":{"id":"VVcs","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-257974f3b388819980d1c05eea1cd13f","public_url":null,"request_id":"1e886e19-0ec5-43a2-ae43-a29b50a03b8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e886e19-0ec5-43a2-ae43-a29b50a03b8f
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81cb-8839-e8948e1ad68a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81fc-a7be-f0f3181ce8e4","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81cb-8839-e8948e1ad68a"},"archived":false,"in_trash":false,"properties":{"People":{"id":"D%5Dkk","type":"people[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81cb-8839-e8948e1ad68a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8199-80d1-c05eea1cd13f","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81cb-8839-e8948e1ad68a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8199-80d1-c05eea1cd13f","created_time":"2025-08-22T07:15:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81cb-8839-e8948e1ad68a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81fc-a7be-f0f3181ce8e4","created_time":"2025-08-22T07:15:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81cb-8839-e8948e1ad68a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81fc-a7be-f0f3181ce8e4","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81cb-8839-e8948e1ad68a"},"archived":false,"in_trash":false,"properties":{"People":{"id":"D%5Dkk","type":"people","people":[]},"Relation":{"id":"VVcs","type":"relation","relation":[{"id":"257974f3-b388-8199-80d1-c05eea1cd13f"}],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-257974f3b38881fca7bef0f3181ce8e4","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"42761b16-a28a-44ef-b774-b9bfd9099801"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 42761b16-a28a-44ef-b774-b9bfd9099801
    status_code: 200
[...]
