interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Rollup Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Number": {"type": "number", "number": {"format": "number"}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81c3-81ea-edcefedd2f25","cover":null,"icon":null,"created_time":"2025-08-22T07:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:16:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"Enee","name":"Date","type":"date","date":{}},"Number":{"id":"WkAz","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881c381eaedcefedd2f25","public_url":null,"archived":false,"in_trash":false,"request_id":"39af264f-dd4c-4035-b3fc-9584792e06b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39af264f-dd4c-4035-b3fc-9584792e06b6
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"257974f3-b388-81c3-81ea-edcefedd2f25","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25
  response:
    content: '{"object":"database","id":"257974f3-b388-81c3-81ea-edcefedd2f25","cover":null,"icon":null,"created_time":"2025-08-22T07:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"[...]
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81c3-81ea-edcefedd2f25"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}, "Date": {"type": "date", "date": {"start": "2024-11-25T14:08:00",
      "time_zone": "UTC"}}, "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-81fb-88bf-d9620f80ef3f","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81c3-81ea-edcefedd2f25"},"archived":false,"in_trash":false,"properties":{"Rollup
      Number":{"id":"%3ChUQ","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Date":{"id":"Enee","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Number Array":{"id":"Q%3BKA","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Title":{"id":"VfPj","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"WkAz","type":"number","number":42},"Rollup
      Date":{"id":"kFqv","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Date Array":{"id":"ni%5EM","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Relation":{"id":"%7Cjm_","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-257974f3b38881fb88bfd9620f80ef3f","public_url":null,"request_id":"8d83cbce-c488-41aa-9fe4-b26bfa6cfdd2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8d83cbce-c488-41aa-9fe4-b26bfa6cfdd2
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81c3-81ea-edcefedd2f25"},"archived":false,"in_trash":false,"properties":{"Rollup
      Number":{"id":"%3ChUQ","[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6ff7aa24-26fd-4948-b30c-527a01db9bc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ff7aa24-26fd-4948-b30c-527a01db9bc0
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81c3-81ea-edcefedd2f25/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81d5-abd0-c3530ab28f7b","created_time":"2025-08-22T07:16:00.000Z","last_edited_time":"2025-08-22T07:16:00.000Z","created_by":{"object":"[...]
