interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Rollup Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Number": {"type": "number", "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-814f-80c8-f904f4cf1f1a","cover":null,"icon":null,"created_time":"2025-06-10T17:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:54:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"Nzc%5D","name":"Date","type":"date","date":{}},"Number":{"id":"jYLJ","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b388814f80c8f904f4cf1f1a","public_url":null,"archived":false,"in_trash":false,"request_id":"5ac020a7-d9cb-4f44-a16c-1511b77235d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5ac020a7-d9cb-4f44-a16c-1511b77235d9
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "20e974f3-b388-814f-80c8-f904f4cf1f1a", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a
  response:
    content: '{"object":"database","id":"20e974f3-b388-814f-80c8-f904f4cf1f1a","cover":null,"icon":null,"created_time":"2025-06-10T17:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"properties": {"Rollup Title": {"type": "rollup", "rollup": {"function":
      "show_original", "relation_property_name": "Relation", "rollup_property_name":
      "Title"}}, "Rollup Date": {"type": "rollup", "rollup": {"function": "earliest_date",
      "relation_property_name": "Relation", "rollup_property_name": "Date"}}, "Rollup
      Date Array": {"type": "rollup", "rollup": {"function": "show_original", "relation_property_name":
      "Relation", "rollup_property_name": "Date"}}, "Rollup Number": {"type": "rollup",
      "rollup": {"function": "max", "relation_property_name": "Relation", "rollup_property_name":
      "Number"}}, "Rollup Number[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-814f-80c8-f904f4cf1f1a"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}, "Date": {"type": "date", "date": {"start": "2024-11-25T14:08:00",
      "time_zone": "UTC"}}, "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-81db-9be6-e186fdf48b4f","created_time":"2025-06-10T17:54:00.000Z","last_edited_time":"2025-06-10T17:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-814f-80c8-f904f4cf1f1a"},"archived":false,"in_trash":false,"properties":{"Rollup
      Number Array":{"id":"%3DjK%60","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Date":{"id":"Nzc%5D","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Date Array":{"id":"RI%60C","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Title":{"id":"ZrJJ","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"jYLJ","type":"number","number":42},"Rollup
      Number":{"id":"l%3FFv","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Relation":{"id":"uViI","type":"relation","relation":[],"has_more":false},"Rollup
      Date":{"id":"wPcB","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-20e974f3b38881db9be6e186fdf48b4f","public_url":null,"request_id":"dde60b21-58ea-44ab-91c0-d5e7ee0beace"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dde60b21-58ea-44ab-91c0-d5e7ee0beace
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-814f-80c8-f904f4cf1f1a"},"archived":false,"in_trash":false,"properties":{"Rollup
      Number Array":{"id":"%3D[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"1bc31426-e308-477c-9446-f791f2b8c066"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1bc31426-e308-477c-9446-f791f2b8c066
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-814f-80c8-f904f4cf1f1a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8140-8774-fe485eb79110","created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"object":"[...]
