interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}},
      "Number": {"type": "number", "number": {"format": "number"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b","cover":null,"icon":null,"created_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:58:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"AtP%5D","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"N%7CgI","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481e49c1ded92ee0ef09b","public_url":null,"in_trash":false,"archived":false,"request_id":"a860c626-3303-4d5a-a91c-d94016a75178"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a860c626-3303-4d5a-a91c-d94016a75178
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b","cover":null,"icon":null,"created_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:58:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"AtP%5D","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"N%7CgI","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Relation":{"id":"e%5E%3F%3E","name":"Relation","description":null,"type":"relation","relation":{"database_id":"38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b","data_source_id":"38c9ce7b-60a4-8173-8ee2-000bf09e43ee","type":"single_property","single_property":{}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481e49c1ded92ee0ef09b","public_url":null,"in_trash":false,"archived":false,"request_id":"aababa8f-a1e3-4c99-8b5a-274c5c0cb93a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aababa8f-a1e3-4c99-8b5a-274c5c0cb93a
    status_code: 200
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81ea-837a-da2d5770733d","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date":{"id":"AtP%5D","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Number":{"id":"N%7CgI","type":"number","number":42},"Rollup
      Title":{"id":"Ss%5CW","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date Array":{"id":"%5CnpK","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Relation":{"id":"e%5E%3F%3E","type":"relation","relation":[],"has_more":false},"Rollup
      Number":{"id":"f%7B~%3F","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Rollup
      Date":{"id":"ts%5Ca","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Number Array":{"id":"ypUT","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-38c9ce7b60a481ea837ada2d5770733d","public_url":null,"archived":false,"request_id":"53fe59d5-2754-4a03-979b-f09c4b79ad17"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 53fe59d5-2754-4a03-979b-f09c4b79ad17
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date":{"id":"AtP[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"da592efe-0da0-4fe6-b996-0b4c0fe6280f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - da592efe-0da0-4fe6-b996-0b4c0fe6280f
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81e4-9c1d-ed92ee0ef09b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-91ba-d3bc5eb30e08","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"[...]
