interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "properties": {"Title":
      {"type": "title", "title": {}}, "Name": {"type": "rich_text", "rich_text": {}},
      "Phone": {"type": "phone_number", "phone_number": {}}, "Email": {"type": "email",
      "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81ee-b17c-cf8208a12ca6","cover":null,"icon":null,"created_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:19:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"GPS%5C","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Email":{"id":"R%3Dw~","name":"Email","description":null,"type":"email","email":{}},"Phone":{"id":"sP%7CY","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"URL":{"id":"uahp","name":"URL","description":null,"type":"url","url":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881eeb17ccf8208a12ca6","public_url":null,"archived":false,"in_trash":false,"request_id":"27d48a14-23f2-47a6-9c98-819f78131adb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27d48a14-23f2-47a6-9c98-819f78131adb
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81ee-b17c-cf8208a12ca6"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81ee-8bd4-ce8631a50615","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81ee-b17c-cf8208a12ca6"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Name":{"id":"GPS%5C","type":"rich_text","rich_text":[]},"Email":{"id":"R%3Dw~","type":"email","email":null},"Phone":{"id":"sP%7CY","type":"phone_number","phone_number":null},"URL":{"id":"uahp","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b38881ee8bd4ce8631a50615","public_url":null,"request_id":"e56cbdca-d077-47e9-81b5-404120906723"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e56cbdca-d077-47e9-81b5-404120906723
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81ee-8bd4-ce8631a50615","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81ee-b17c-cf8208a12ca6"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Name":{"id":"GPS%5C","type":"rich_text","rich_text":[]},"Email":{"id":"R%3Dw~","type":"email","email":null},"Phone":{"id":"sP%7CY","type":"phone_number","phone_number":null},"URL":{"id":"uahp","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b38881ee8bd4ce8631a50615","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"405616d2-780a-4d9e-913b-2c4480d6433a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 405616d2-780a-4d9e-913b-2c4480d6433a
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8114-934a-c80b409829f2","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e993366f-8161-422f-9fde-354959e6e39f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e993366f-8161-422f-9fde-354959e6e39f
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8114-934a-c80b409829f2","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c4e99ce3-fc25-4cd2-8503-d38694f7429d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c4e99ce3-fc25-4cd2-8503-d38694f7429d
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8114-934a-c80b409829f2","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81fc-9c3a-d80d75d90491","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"452312b3-5dac-405c-971e-50104330c08b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 452312b3-5dac-405c-971e-50104330c08b
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81ee-b17c-cf8208a12ca6/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"fe82f514-4cba-4669-aa2a-6e5949a04315"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fe82f514-4cba-4669-aa2a-6e5949a04315
    status_code: 200
version: 1
