interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Number": {"type": "number", "number": {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"562ce2dc-bc98-4269-a46f-d8c1f63187f0","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:01:50.253+00:00","last_edited_time":"2026-06-27T17:01:50.253+00:00","data_sources":[{"id":"491dffc3-2859-482d-ac23-12661d54a476","name":"Number
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/562ce2dcbc984269a46fd8c1f63187f0","public_url":null,"request_id":"47d7eb07-ec3a-4acf-a48d-902d94b1a24d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 47d7eb07-ec3a-4acf-a48d-902d94b1a24d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476
  response:
    content: '{"object":"data_source","id":"491dffc3-2859-482d-ac23-12661d54a476","cover":null,"icon":null,"created_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:01:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"W%3Fjn","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"562ce2dc-bc98-4269-a46f-d8c1f63187f0"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/562ce2dcbc984269a46fd8c1f63187f0","public_url":null,"in_trash":false,"request_id":"9d556865-52e3-4427-9994-d4850e14675a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9d556865-52e3-4427-9994-d4850e14675a
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "491dffc3-2859-482d-ac23-12661d54a476"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8117-afe5-dec5d7231ff2","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"491dffc3-2859-482d-ac23-12661d54a476","database_id":"562ce2dc-bc98-4269-a46f-d8c1f63187f0"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"W%3Fjn","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a48117afe5dec5d7231ff2","public_url":null,"request_id":"56aee9cc-1e77-4ff8-b8a3-29fcad39338b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56aee9cc-1e77-4ff8-b8a3-29fcad39338b
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8117-afe5-dec5d7231ff2","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"491dffc3-2859-482d-ac23-12661d54a476","database_id":"562ce2dc-bc98-4269-a46f-d8c1f63187f0"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"W%3Fjn","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a48117afe5dec5d7231ff2","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"64ffe237-c671-4c35-8a80-0e8013c4a37f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 64ffe237-c671-4c35-8a80-0e8013c4a37f
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81fb-9bc6-e3282e042209","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81fb-9bc6-e3282e042209","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.0[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-815d-9d81-d6bc522b135c","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.0[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81fb-9bc6-e3282e042209","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.00[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81fb-9bc6-e3282e042209","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.00[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-815d-9d81-d6bc522b135c","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.0[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/491dffc3-2859-482d-ac23-12661d54a476/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81fb-9bc6-e3282e042209","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.0[...]
