interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "properties": {"Name":
      {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}}, "Created":
      {"type": "created_time", "created_time": {}}, "Last Edited": {"type": "last_edited_time",
      "last_edited_time": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81a1-b17d-c8166492c6a9","cover":null,"icon":null,"created_time":"2025-09-03T13:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:57:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Last
      Edited":{"id":"GOvX","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Created":{"id":"ODvc","name":"Created","description":null,"type":"created_time","created_time":{}},"Date":{"id":"f%5B_i","name":"Date","description":null,"type":"date","date":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881a1b17dc8166492c6a9","public_url":null,"archived":false,"in_trash":false,"request_id":"96740c34-d104-4526-ae03-75d413979809"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 96740c34-d104-4526-ae03-75d413979809
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81a1-b17d-c8166492c6a9"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  re[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81a1-b17d-c8166492c6a9"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2025-09-03T15:58:00.522168", "time_zone":
      "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-815c-9596-f2e2e2d2c86d","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81a1-b17d-c8166492c6a9"},"archived":false,"in_trash":false,"properties":{"Last
      Edited":{"id":"GOvX","type":"last_edited_time","last_edited_time":"2025-09-03T13:58:00.000Z"},"Created":{"id":"ODvc","type":"created_time","created_time":"2025-09-03T13:58:00.000Z"},"Date":{"id":"f%5B_i","type":"date","date":{"start":"2025-09-03T15:58:00.000+02:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-263974f3b388815c9596f2e2e2d2c86d","public_url":null,"request_id":"8f89e081-f638-4fa4-a28b-ee6431079a6d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f89e081-f638-4fa4-a28b-ee6431079a6d
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8111-abad-c6adf2db0def","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81a1-b17d-c8166492c6a9"},"archived":false,"in_trash":false,"properties":{"Last
      Edited":{"id":"GOvX","type":"last_edited_time","last_edited_time":"2025-09-03T13:58:00.000Z"},"Created":{"id":"ODvc","type":"created_time","created_time":"2025-09-03T13:58:00.000Z"},"Date":{"id":"f%5B_i","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-263974f3b3888111abadc6adf2db0def","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"9650c977-712c-4a96-8e60-923882f72eae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9650c977-712c-4a96-8e60-923882f72eae
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81ee-b5a3-d90c814505cf","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-09-03T15:58:00.522168+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815c-9596-f2e2e2d2c86d","created_time":"2025-09-03T13:58:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-09-03T15:58:00.522168+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8127-b8eb-fa09099a8117","created_time":"2025-09-03T13:58:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-09-03T15:58:00.522168+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8127-b8eb-fa09099a8117","created_time":"2025-09-03T13:58:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-09-03T15:58:00.522168+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81ee-b5a3-d90c814505cf","created_time":"2025-09-03T13:58:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-09-03T15:58:00.522168+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81ee-b5a3-d90c814505cf","created_time":"2025-09-03T13:58:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815c-9596-f2e2e2d2c86d","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8127-9520-c7c01ddc7f8e","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815b-9076-e8bb374f0faf","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8127-b8eb-fa09099a8117","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8152-8a3f-ca1add31430e","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81fb-b3de-efcd896b6cb1","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81ee-b5a3-d90c814505cf","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-09-03T16:03:00.522168+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81ee-b5a3-d90c814505cf","created_time":"2025-09-03T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-09-03T15:53:00.522168+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a1-b17d-c8166492c6a9/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3face688-7faf-4272-af98-80988afe4f18"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3face688-7faf-4272-af98-80988afe4f18
    status_code: 200
version: 1
