interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Files": {"type": "files", "files":
      {}}, "Checkbox": {"type": "checkbox", "checkbox": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81bc-ada2-da0f0af968e2","cover":null,"icon":null,"created_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:59:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"ObRf","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Files":{"id":"ZN%3Dp","name":"Files","description":null,"type":"files","files":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881bcada2da0f0af968e2","public_url":null,"archived":false,"in_trash":false,"request_id":"bd702324-91e0-49fe-a01b-1b87757ff9a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bd702324-91e0-49fe-a01b-1b87757ff9a5
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81bc-ada2-da0f0af968e2"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-8187-80c0-e95abcb13cf2","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81bc-ada2-da0f0af968e2"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"ObRf","type":"checkbox","checkbox":false},"Files":{"id":"ZN%3Dp","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b388818780c0e95abcb13cf2","public_url":null,"request_id":"f184e972-4525-4e84-b221-bea174aa268f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f184e972-4525-4e84-b221-bea174aa268f
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81bc-ada2-da0f0af968e2"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-816b-88c0-cec1e2d79bb8","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81bc-ada2-da0f0af968e2"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"ObRf","type":"checkbox","checkbox":false},"Files":{"id":"ZN%3Dp","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-263974f3b388816b88c0cec1e2d79bb8","public_url":null,"request_id":"d1c8f1d8-983e-4e76-8705-bb08d55614cd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d1c8f1d8-983e-4e76-8705-bb08d55614cd
    status_code: 200
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81bc-ada2-da0f0af968e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-818d-92ee-e2a0531dc9f7","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81bc-ada2-da0f0af968e2"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"ObRf","type":"checkb[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81bc-ada2-da0f0af968e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-816b-88c0-cec1e2d79bb8","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81bc-ada2-da0f0af968e2"},"archived":false,"in_trash":false,"properties":{"Checkbox":{"id":"ObRf","type":"checkbox","checkbox":false},"Files":{"id":"ZN%3Dp","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-263974f3b388816b88c0cec1e2d79bb8","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ee85dd4a-ba78-47c5-afb7-660c091526f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee85dd4a-ba78-47c5-afb7-660c091526f3
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81bc-ada2-da0f0af968e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-818d-92ee-e2a0531dc9f7","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81bc-ada2-da0f0af968e2/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-818d-92ee-e2a0531dc9f7","created_time":"2025-09-03T13:59:00.000Z","last_edited_time":"2025-09-03T13:59:00[...]
[...]
