interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Text Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Name": {"type": "rich_text",
      "rich_text": {}}, "Phone": {"type": "phone_number", "phone_number": {}}, "Email":
      {"type": "email", "email": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8197-9d03-fdc077f12371","cover":null,"icon":null,"created_time":"2025-06-23T13:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:36:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"%40olX","name":"Name","type":"rich_text","rich_text":{}},"URL":{"id":"CqPy","name":"URL","type":"url","url":{}},"Email":{"id":"%5BUrf","name":"Email","type":"email","email":{}},"Phone":{"id":"zG%3DE","name":"Phone","type":"phone_number","phone_number":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b38881979d03fdc077f12371","public_url":null,"archived":false,"in_trash":false,"request_id":"9fb27791-ae3f-47f4-bcfe-7350f7f85585"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9fb27791-ae3f-47f4-bcfe-7350f7f85585
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8197-9d03-fdc077f12371"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-81a5-9921-f485f66d9e69","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8197-9d03-fdc077f12371"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"%40olX","type":"rich_text","rich_text":[]},"URL":{"id":"CqPy","type":"url","url":null},"Email":{"id":"%5BUrf","type":"email","email":null},"Phone":{"id":"zG%3DE","type":"phone_number","phone_number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881a59921f485f66d9e69","public_url":null,"request_id":"28aadb51-6601-4d34-a0c2-7012512a6a1a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 28aadb51-6601-4d34-a0c2-7012512a6a1a
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81a5-9921-f485f66d9e69","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8197-9d03-fdc077f12371"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"%40olX","type":"rich_text","rich_text":[]},"URL":{"id":"CqPy","type":"url","url":null},"Email":{"id":"%5BUrf","type":"email","email":null},"Phone":{"id":"zG%3DE","type":"phone_number","phone_number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881a59921f485f66d9e69","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"d77887e9-d4cd-452b-a6a7-649f16497690"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d77887e9-d4cd-452b-a6a7-649f16497690
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81bd-a434-e2d9f384c49e","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"fc1ba1d2-407d-4acf-8fd6-fef4306bfdee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc1ba1d2-407d-4acf-8fd6-fef4306bfdee
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81bd-a434-e2d9f384c49e","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"36872303-d207-4b5e-9139-ed6265639d85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 36872303-d207-4b5e-9139-ed6265639d85
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81bd-a434-e2d9f384c49e","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-81b5-984c-d0fdfb09a11d","created_time":"2025-06-23T13:36:00.000Z","last_edited_time":"2025-06-23T13:36:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"62f8f4b7-b28b-4575-b395-3b825de6f167"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 62f8f4b7-b28b-4575-b395-3b825de6f167
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8197-9d03-fdc077f12371/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6f059b24-1fc5-4b03-ac1b-c8f781e97548"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f059b24-1fc5-4b03-ac1b-c8f781e97548
    status_code: 200
version: 1
