interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21d47c49-8a17-4618-a1b9-01212cc86315","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-18T14:12:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"142974f3-b388-80f1-85ac-e01c7ad33a22"},"archived":false,"in_trash":false,"properties":{"String":{"id":"PbR%3B","type":"formula","formula":{"type":"string","string":"Item
      1"}},"Date":{"id":"aK_F","type":"formula","formula":{"type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}}},"Checkbox":{"id":"f%3EhC","type":"formula","formula":{"type":"boolean","boolean":true}},"Tags":{"id":"fjsB","type":"multi_select","multi_select":[{"id":"73212b86-d2fb-47f6-8c57-e9791c3a6a09","name":"In
      Progress","color":"pink"},{"id":"427db6b8-1ec9-4374-b721-6ab4572b185b","name":"Done","color":"gray"}]},"Number":{"id":"voBT","type":"formula","formula":{"type":"number","number":2}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-21d47c498a174618a1b901212cc86315","public_url":null},{"object":"page","id":"d5b6d659-db6d-42e5-875b-44cb70b33f2d","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-18T14:13:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"142974f3-b388-80f1-85ac-e01c7ad33a22"},"archived":false,"in_trash":false,"properties":{"String":{"id":"PbR%3B","type":"formula","formula":{"type":"string","string":"Item
      2"}},"Date":{"id":"aK_F","type":"formula","formula":{"type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}}},"Checkbox":{"id":"f%3EhC","type":"formula","formula":{"type":"boolean","boolean":false}},"Tags":{"id":"fjsB","type":"multi_select","multi_select":[{"id":"73212b86-d2fb-47f6-8c57-e9791c3a6a09","name":"In
      Progress","color":"pink"}]},"Number":{"id":"voBT","type":"formula","formula":{"type":"number","number":1}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}]}},"url":"https://www.notion.so/Item-2-d5b6d659db6d42e5875b44cb70b33f2d","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"88be846f-1a39-4c1c-b40f-7fae3b8a4589"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88be846f-1a39-4c1c-b40f-7fae3b8a4589
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22
  response:
    content: '{"object":"database","id":"142974f3-b388-80f1-85ac-e01c7ad33a22","cover":null,"icon":null,"created_time":"2024-11-18T14:08:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-06-10T17:41:00.000Z","title":[{"type":"text","text":{"content":"Formula
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Formula
      DB","href":null}],"description":[],"is_inline":false,"properties":{"String":{"id":"PbR%3B","name":"String","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.style(\"u\",
      \"pink\")"}},"Date":{"id":"aK_F","name":"Date","type":"formula","formula":{"expression":"{{notion:block_property:created_time}}.dateAdd(1,
      \"weeks\")"}},"Checkbox":{"id":"f%3EhC","name":"Checkbox","type":"formula","formula":{"expression":"{{notion:block_property:fjsB:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.includes(\"Done\")"}},"Tags":{"id":"fjsB","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"73212b86-d2fb-47f6-8c57-e9791c3a6a09","name":"In
      Progress","color":"pink","description":null},{"id":"427db6b8-1ec9-4374-b721-6ab4572b185b","name":"Done","color":"gray","description":null}]}},"Number":{"id":"voBT","name":"Number","type":"formula","formula":{"expression":"{{notion:block_property:fjsB:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.length()"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/142974f3b38880f185ace01c7ad33a22","public_url":null,"archived":false,"in_trash":false,"request_id":"7f876b56-d991-41c9-a576-3afd986a79c3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7f876b56-d991-41c9-a576-3afd986a79c3
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"string": {"equals": "Item 1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21d47c49-8a17-4618-a1b9-01212cc86315","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-18T14:12:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"formula": {"checkbox": {"equals": true}}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21d47c49-8a17-4618-a1b9-01212cc86315","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"contains": "1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21d47c49-8a17-4618-a1b9-01212cc86315","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-18T14:12:00.00[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"starts_with": "Item"}}, "property":
      "String"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21d47c49-8a17-4618-a1b9-01212cc86315","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-18T14:12:00[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"is_empty": true}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"5751a610-ecf6-45a5-a856-9fc84bc87bd7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5751a610-ecf6-45a5-a856-9fc84bc87bd7
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"number": {"less_than_or_equal_to": 42}}, "property":
      "Number"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21d47c49-8a17-4618-a1b9-01212cc86315","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-18T14:12:00.000[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"on_or_after": "2024-11-23"}}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21d47c49-8a17-4618-a1b9-01212cc86315","created_time":"2024-11-18T14:08:00.000Z","last_edited_time":"2024-11-18T14:1[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"next_week": {}}}, "property": "Date"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/142974f3-b388-80f1-85ac-e01c7ad33a22/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c2c07d26-259d-4d51-98aa-67a9ff80178b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c2c07d26-259d-4d51-98aa-67a9ff80178b
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Empty Formula DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Empty Formula DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Formula": {"type":
      "formula", "formula": {"expression": "prop(\"Title\")"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-81a4-96de-eb58cd9b358f","cover":null,"icon":null,"created_time":"2025-06-10T17:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-3935[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-81a4-96de-eb58cd9b358f/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a773f18a-0cf3-437f-b70c-035a2c678742"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a773f18a-0cf3-437f-b70c-035a2c678742
    status_code: 200
version: 1
