interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Date": {"type": "date", "date": {}}, "Created": {"type": "created_time", "created_time":
      {}}, "Last Edited": {"type": "last_edited_time", "last_edited_time": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0bc7b2c3-0755-470f-aeff-171771710779","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:01:16.064+00:00","last_edited_time":"2026-06-27T17:01:16.064+00:00","data_sources":[{"id":"e3631578-250e-4899-bddb-daf07de42f22","name":"Date
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/0bc7b2c30755470faeff171771710779","public_url":null,"request_id":"c60ec7a5-18ea-4834-9825-036a5096c1b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c60ec7a5-18ea-4834-9825-036a5096c1b4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22
  response:
    content: '{"object":"data_source","id":"e3631578-250e-4899-bddb-daf07de42f22","cover":null,"icon":null,"created_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:01:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Last
      Edited":{"id":"BimR","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Date":{"id":"cmkL","name":"Date","description":null,"type":"date","date":{}},"Created":{"id":"n%3C%60%40","name":"Created","description":null,"type":"created_time","created_time":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"0bc7b2c3-0755-470f-aeff-171771710779"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/0bc7b2c30755470faeff171771710779","public_url":null,"in_trash":false,"request_id":"5ac73e32-1af0-4331-9581-a93f127a78d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5ac73e32-1af0-4331-9581-a93f127a78d9
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "e3631578-250e-4899-bddb-daf07de42f22"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-816b-8d49-d22709800565","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"e3631578-250e-4899-bddb-daf07de42f22","database_id":"0bc7b2c3-0755-470f-aeff-171771710779"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Last
      Edited":{"id":"BimR","type":"last_edited_time","last_edited_time":"2026-06-27T17:01:00.000Z"},"Date":{"id":"cmkL","type":"date","date":null},"Created":{"id":"n%3C%60%40","type":"created_time","created_time":"2026-06-27T17:01:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38c9ce7b60a4816b8d49d22709800565","public_url":null,"request_id":"e0491b9c-9181-4a5d-81f7-f1af5407cae3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e0491b9c-9181-4a5d-81f7-f1af5407cae3
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "e3631578-250e-4899-bddb-daf07de42f22"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2026-06-27T18:01:15.377824", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81b0-8573-f3126a02dd28","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"e3631578-250e-4899-bddb-daf07de42f22","database_id":"0bc7b2c3-0755-470f-aeff-171771710779"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Last
      Edited":{"id":"BimR","type":"last_edited_time","last_edited_time":"2026-06-27T17:01:00.000Z"},"Date":{"id":"cmkL","type":"date","date":{"start":"2026-06-27T18:01:00.000+01:00","end":null,"time_zone":null}},"Created":{"id":"n%3C%60%40","type":"created_time","created_time":"2026-06-27T17:01:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-38c9ce7b60a481b08573f3126a02dd28","public_url":null,"request_id":"12f823b5-4bf0-4460-ad41-e375c283ef64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 12f823b5-4bf0-4460-ad41-e375c283ef64
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-8d49-d22709800565","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"e3631578-250e-4899-bddb-daf07de42f22","database_id":"0bc7b2c3-0755-470f-aeff-171771710779"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Last
      Edited":{"id":"BimR","type":"last_edited_time","last_edited_time":"2026-06-27T17:01:00.000Z"},"Date":{"id":"cmkL","type":"date","date":null},"Created":{"id":"n%3C%60%40","type":"created_time","created_time":"2026-06-27T17:01:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38c9ce7b60a4816b8d49d22709800565","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"d3c7fc67-c5d4-4b84-86f8-4889b5e89140"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d3c7fc67-c5d4-4b84-86f8-4889b5e89140
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f7-9197-c9fcb0abdb43","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.0[...]
- request:
    body: '{"filter": {"date": {"equals": "2026-06-27T18:01:15.377824+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b0-8573-f3126a02dd28","created_time":"2026-06-27T17:01:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"before": "2026-06-27T18:01:15.377824+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8116-8311-c6d4ec22d34a","created_time":"2026-06-27T17:01:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2026-06-27T18:01:15.377824+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8116-8311-c6d4ec22d34a","created_time":"2026-06-27T17:01:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"after": "2026-06-27T18:01:15.377824+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f7-9197-c9fcb0abdb43","created_time":"2026-06-27T17:01:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2026-06-27T18:01:15.377824+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f7-9197-c9fcb0abdb43","created_time":"2026-06-27T17:01:00.000Z","last_edite[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81b0-8573-f3126a02dd28","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81a7-9d63-cae6a9a5ab54","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-812f-b274-d441ed2fe486","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8116-8311-c6d4ec22d34a","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816a-9395-ef2ad6e4bf2b","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81c1-a055-cdb88db73b6a","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f7-9197-c9fcb0abdb43","created_time":"2026-06-27T17:01:00.000Z","last_edited_time":"2026-06-27T17:01:00.000[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2026-06-27T18:06:15.377824+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81f7-9197-c9fcb0abdb43","created_time":"2026-06-[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2026-06-27T17:56:15.377824+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/e3631578-250e-4899-bddb-daf07de42f22/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"f932d919-f27c-41e4-a056-fb9ef0839139"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f932d919-f27c-41e4-a056-fb9ef0839139
    status_code: 200
version: 1
