interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "properties": {"Title":
      {"type": "title", "title": {}}, "Name": {"type": "rich_text", "rich_text": {}},
      "Phone": {"type": "phone_number", "phone_number": {}}, "Email": {"type": "email",
      "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81d8-837c-eff952c32e1e","cover":null,"icon":null,"created_time":"2025-08-29T13:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:29:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Phone":{"id":"%3Bsby","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"URL":{"id":"Oe_F","name":"URL","description":null,"type":"url","url":{}},"Name":{"id":"_LK%3E","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Email":{"id":"aFE%5B","name":"Email","description":null,"type":"email","email":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881d8837ceff952c32e1e","public_url":null,"archived":false,"in_trash":false,"request_id":"2f9ad653-2db7-4c37-a817-5cce07377c70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2f9ad653-2db7-4c37-a817-5cce07377c70
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81d8-837c-eff952c32e1e"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81d8-b6b4-e7a1c7f57485","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81d8-837c-eff952c32e1e"},"archived":false,"in_trash":false,"properties":{"Phone":{"id":"%3Bsby","type":"phone_number","phone_number":null},"URL":{"id":"Oe_F","type":"url","url":null},"Name":{"id":"_LK%3E","type":"rich_text","rich_text":[]},"Email":{"id":"aFE%5B","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b38881d8b6b4e7a1c7f57485","public_url":null,"request_id":"cfc946e6-9199-4d16-a7ee-036388ad5830"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cfc946e6-9199-4d16-a7ee-036388ad5830
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81d8-b6b4-e7a1c7f57485","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81d8-837c-eff952c32e1e"},"archived":false,"in_trash":false,"properties":{"Phone":{"id":"%3Bsby","type":"phone_number","phone_number":null},"URL":{"id":"Oe_F","type":"url","url":null},"Name":{"id":"_LK%3E","type":"rich_text","rich_text":[]},"Email":{"id":"aFE%5B","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b38881d8b6b4e7a1c7f57485","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b480ae66-9a7d-45df-ad06-8ea685408075"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b480ae66-9a7d-45df-ad06-8ea685408075
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8130-8f3d-d2e80b755eab","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"2710b983-1249-4e46-850c-88e1e8e4fdd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2710b983-1249-4e46-850c-88e1e8e4fdd8
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8130-8f3d-d2e80b755eab","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ad56c495-031e-440d-bde7-0d22835cc3bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ad56c495-031e-440d-bde7-0d22835cc3bf
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8130-8f3d-d2e80b755eab","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-812e-a238-dce8d4d3710e","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c27e8627-cb31-4ce6-8531-1a7c3711077c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c27e8627-cb31-4ce6-8531-1a7c3711077c
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81d8-837c-eff952c32e1e/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4c8c795d-a439-4a18-b6a6-fdf5d867fd5f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4c8c795d-a439-4a18-b6a6-fdf5d867fd5f
    status_code: 200
version: 1
