interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "properties": {"Title":
      {"type": "title", "title": {}}, "Name": {"type": "rich_text", "rich_text": {}},
      "Phone": {"type": "phone_number", "phone_number": {}}, "Email": {"type": "email",
      "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-810e-bde9-c852093636b7","cover":null,"icon":null,"created_time":"2025-09-23T10:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:06:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"URL":{"id":"%3B%5EY%5E","name":"URL","description":null,"type":"url","url":{}},"Name":{"id":"JZ%3CD","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Phone":{"id":"Mc%7Dz","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"Email":{"id":"dSUC","name":"Email","description":null,"type":"email","email":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b388810ebde9c852093636b7","public_url":null,"archived":false,"in_trash":false,"request_id":"79cc2f64-b579-44a6-88d0-d4909d153f94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 79cc2f64-b579-44a6-88d0-d4909d153f94
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-810e-bde9-c852093636b7"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-8154-b848-f0699d3b7bff","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-810e-bde9-c852093636b7"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"URL":{"id":"%3B%5EY%5E","type":"url","url":null},"Name":{"id":"JZ%3CD","type":"rich_text","rich_text":[]},"Phone":{"id":"Mc%7Dz","type":"phone_number","phone_number":null},"Email":{"id":"dSUC","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b3888154b848f0699d3b7bff","public_url":null,"request_id":"c001680c-2cad-4624-bef8-151af637145f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c001680c-2cad-4624-bef8-151af637145f
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8154-b848-f0699d3b7bff","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-810e-bde9-c852093636b7"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"URL":{"id":"%3B%5EY%5E","type":"url","url":null},"Name":{"id":"JZ%3CD","type":"rich_text","rich_text":[]},"Phone":{"id":"Mc%7Dz","type":"phone_number","phone_number":null},"Email":{"id":"dSUC","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/277974f3b3888154b848f0699d3b7bff","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"49899817-2a36-4255-9103-5c8716fca9ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 49899817-2a36-4255-9103-5c8716fca9ce
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8147-bf0c-f1bbe093ef5c","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e2bf2c1d-a233-4265-a090-1edbe29ad1dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e2bf2c1d-a233-4265-a090-1edbe29ad1dc
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8147-bf0c-f1bbe093ef5c","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6f5a2da5-944c-42cd-9b43-d8fae41e08b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f5a2da5-944c-42cd-9b43-d8fae41e08b1
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-8147-bf0c-f1bbe093ef5c","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-81a1-be63-d4078066570b","created_time":"2025-09-23T10:06:00.000Z","last_edited_time":"2025-09-23T10:06:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c5caf3b3-3ac3-40d9-97eb-9371b10726b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c5caf3b3-3ac3-40d9-97eb-9371b10726b3
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-810e-bde9-c852093636b7/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"64453a9d-b3b1-42a3-a5ec-0a339d406eb5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 64453a9d-b3b1-42a3-a5ec-0a339d406eb5
    status_code: 200
version: 1
