interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "properties": {"Name":
      {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}}, "Created":
      {"type": "created_time", "created_time": {}}, "Last Edited": {"type": "last_edited_time",
      "last_edited_time": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8146-a12f-d07cafc1c898","cover":null,"icon":null,"created_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:30:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Created":{"id":"Ej%5CY","name":"Created","description":null,"type":"created_time","created_time":{}},"Date":{"id":"fC_i","name":"Date","description":null,"type":"date","date":{}},"Last
      Edited":{"id":"fiE%3C","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a48146a12fd07cafc1c898","public_url":null,"in_trash":false,"archived":false,"request_id":"a93d0cbe-be82-413f-ab93-4f0e4c7ddb2b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a93d0cbe-be82-413f-ab93-4f0e4c7ddb2b
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8146-a12f-d07cafc1c898"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8118-bd36-f046f8bf55bc","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8146-a12f-d07cafc1c898"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"Ej%5CY","type":"created_time","created_time":"2026-06-25T14:30:00.000Z"},"Date":{"id":"fC_i","type":"date","date":null},"Last
      Edited":{"id":"fiE%3C","type":"last_edited_time","last_edited_time":"2026-06-25T14:30:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38a9ce7b60a48118bd36f046f8bf55bc","public_url":null,"archived":false,"request_id":"df8b0955-708b-4672-b289-d6b39be91893"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df8b0955-708b-4672-b289-d6b39be91893
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8146-a12f-d07cafc1c898"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2026-06-25T15:30:26.873825", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8162-a147-e0d2b5769b24","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8146-a12f-d07cafc1c898"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"Ej%5CY","type":"created_time","created_time":"2026-06-25T14:30:00.000Z"},"Date":{"id":"fC_i","type":"date","date":{"start":"2026-06-25T15:30:00.000+01:00","end":null,"time_zone":null}},"Last
      Edited":{"id":"fiE%3C","type":"last_edited_time","last_edited_time":"2026-06-25T14:30:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-38a9ce7b60a48162a147e0d2b5769b24","public_url":null,"archived":false,"request_id":"653375d3-06a5-467a-9bb8-5d099757c88e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 653375d3-06a5-467a-9bb8-5d099757c88e
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8118-bd36-f046f8bf55bc","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8146-a12f-d07cafc1c898"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Created":{"id":"Ej%5CY","type":"created_time","created_time":"2026-06-25T14:30:00.000Z"},"Date":{"id":"fC_i","type":"date","date":null},"Last
      Edited":{"id":"fiE%3C","type":"last_edited_time","last_edited_time":"2026-06-25T14:30:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-38a9ce7b60a48118bd36f046f8bf55bc","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"466d6eac-38a2-49d7-8186-330b1bf0aeba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 466d6eac-38a2-49d7-8186-330b1bf0aeba
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8102-8aa4-f9e4fbb9f156","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2026-06-25T15:30:26.873825+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8162-a147-e0d2b5769b24","created_time":"2026-06-25T14:30:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2026-06-25T15:30:26.873825+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8161-bf0a-fd41ab74946b","created_time":"2026-06-25T14:30:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2026-06-25T15:30:26.873825+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8161-bf0a-fd41ab74946b","created_time":"2026-06-25T14:30:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2026-06-25T15:30:26.873825+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8102-8aa4-f9e4fbb9f156","created_time":"2026-06-25T14:30:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2026-06-25T15:30:26.873825+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8102-8aa4-f9e4fbb9f156","created_time":"2026-06-25T14:30:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8162-a147-e0d2b5769b24","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-817a-a8dc-fee55c12cb3e","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81e5-8396-e98f528c9e0e","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8161-bf0a-fd41ab74946b","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-813c-bf35-c540f7fdd882","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8158-9e29-d8e7fb74731c","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8102-8aa4-f9e4fbb9f156","created_time":"2026-06-25T14:30:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2026-06-25T15:35:26.873825+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8102-8aa4-f9e4fbb9f156","created_time":"2026-06-25T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2026-06-25T15:25:26.873825+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8146-a12f-d07cafc1c898/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4d3e384f-d431-413e-84ff-a917ab398a1d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d3e384f-d431-413e-84ff-a917ab398a1d
    status_code: 200
version: 1
