interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Date": {"type": "date", "date": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cb79f71f-7504-4e6d-8185-4c72685eb520","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:34:27.373+00:00","last_edited_time":"2026-06-24T16:34:27.373+00:00","data_sources":[{"id":"1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf","name":"Rollup
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/cb79f71f75044e6d81854c72685eb520","public_url":null,"archived":false,"request_id":"e0b5ccb3-0e59-4538-a9e2-8d2bb20460bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e0b5ccb3-0e59-4538-a9e2-8d2bb20460bd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf
  response:
    content: '{"object":"data_source","id":"1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf","cover":null,"icon":null,"created_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:34:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Date":{"id":"bAh%3B","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"ks_V","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"cb79f71f-7504-4e6d-8185-4c72685eb520"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/cb79f71f75044e6d81854c72685eb520","public_url":null,"in_trash":false,"archived":false,"request_id":"4d6ba547-a068-490e-9450-7dc6caeeacc4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d6ba547-a068-490e-9450-7dc6caeeacc4
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf
  response:
    content: '{"object":"data_source","id":"1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf","cover":null,"icon":null,"created_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8174-9cc2-c4c61f0eca96","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf","database_id":"cb79f71f-7504-4e6d-8185-4c72685eb520"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"%3BruX","type":"relation","relation":[],"has_more":false},"Rollup
      Title":{"id":"HA_%3F","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number":{"id":"LvK%60","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Date":{"id":"bAh%3B","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Number Array":{"id":"cLXd","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"ks_V","type":"number","number":42},"Rollup
      Date":{"id":"yQgW","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Rollup
      Date Array":{"id":"~TNw","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://app.notion.com/p/Item-1-3899ce7b60a481749cc2c4c61f0eca96","public_url":null,"archived":false,"request_id":"43189454-1bdb-4377-969c-36b68d721120"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 43189454-1bdb-4377-969c-36b68d721120
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf","database_id":"cb79f71f-7504-4e6d-8185-4c72685eb520"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"ob[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"948d40a2-cd96-4892-afc8-1d0b246d6e35"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 948d40a2-cd96-4892-afc8-1d0b246d6e35
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"o[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d288803-90e0-4bb3-9bfb-6f2e9ff8f3cf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8174-a79c-fb631a6411b7","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object[...]
