interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "(Multi)-Select Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}},
      "Multi-Select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Done", "color": "green"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"140974f3-b388-8174-a540-f83f481895dc","cover":null,"icon":null,"created_time":"2024-11-16T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-11-16T13:40:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi-Select":{"id":"M%7D%3Dr","name":"Multi-Select","type":"multi_select","multi_select":{"options":[{"id":"0aac9282-74c8-4c33-b717-fce84f462525","name":"Backlog","color":"gray","description":null},{"id":"6eb93ef4-2d0d-4396-af34-677b30733964","name":"In
      Progress","color":"blue","description":null},{"id":"86f884b1-1598-4e62-a56c-39b5f0891906","name":"Done","color":"green","description":null}]}},"Select":{"id":"mGUq","name":"Select","type":"select","select":{"options":[{"id":"4de119e4-d79b-4652-89b1-fb0125e38c48","name":"Backlog","color":"gray","description":null},{"id":"1f7f9534-fa03-42b6-87dc-72cd1a342226","name":"In
      Progress","color":"blue","description":null},{"id":"9ee1a8c6-5cf9-42d5-9cbf-f10650f1584f","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/140974f3b3888174a540f83f481895dc","public_url":null,"archived":false,"in_trash":false,"request_id":"2f2aa9e0-3de7-4e0e-9d98-5c0a4836f1dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2f2aa9e0-3de7-4e0e-9d98-5c0a4836f1dc
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-8174-a540-f83f481895dc"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-81d3-ad02-f5c21027db16","created_time":"2024-11-16T13:40:00.000Z","last_edited_time":"2024-11-16T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8174-a540-f83f481895dc"},"archived":false,"in_trash":false,"properties":{"Multi-Select":{"id":"M%7D%3Dr","type":"multi_select","multi_select":[]},"Select":{"id":"mGUq","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b38881d3ad02f5c21027db16","public_url":null,"request_id":"03f7e445-c5c9-4c26-89fb-32a0b22eded3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03f7e445-c5c9-4c26-89fb-32a0b22eded3
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8174-a540-f83f481895dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81d3-ad02-f5c21027db16","created_time":"2024-11-16T13:40:00.000Z","last_edited_time":"2024-11-16T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8174-a540-f83f481895dc"},"archived":false,"in_trash":false,"properties":{"Multi-Select":{"id":"M%7D%3Dr","type":"multi_select","multi_select":[]},"Select":{"id":"mGUq","type":"select","select":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b38881d3ad02f5c21027db16","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a3e3aca3-d2a5-4753-82ee-d87877bd18a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a3e3aca3-d2a5-4753-82ee-d87877bd18a8
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8174-a540-f83f481895dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8118-831e-e0bf99852ddc","created_time":"2024-11-16T13:40:00.000Z","last_edited_time":"2024-11-16T13:40:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8174-a540-f83f481895dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-811c-a585-e16adb3b2b33","created_time":"2024-11-16T13:40:00.000Z","last_edited_time":"2024-11-16T13:40:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8174-a540-f83f481895dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8118-831e-e0bf99852ddc","created_time":"2024-11-16T13:40:00.000Z","last_edited_time":"2024-11-16T13:40:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8174-a540-f83f481895dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-811c-a585-e16adb3b2b33","created_time":"2024-11-16T13:40:00.000Z","last_edited_time":"2024-11-16T13:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8174-a540-f83f481895dc/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8118-831e-e0bf99852ddc","created_time":"2024-11-16T13:40:00.000Z","last_edited_time":"2024-11-16T13:[...]
[...]
