interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "People": {"type": "people",
      "people": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81a9-9f8e-d0c626a62f62","cover":null,"icon":null,"created_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:30:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"jGVq","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881a99f8ed0c626a62f62","public_url":null,"archived":false,"in_trash":false,"request_id":"094354dd-8d79-4d57-bdaf-c755bd201b26"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 094354dd-8d79-4d57-bdaf-c755bd201b26
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"25e974f3-b388-81a9-9f8e-d0c626a62f62","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81a9-9f8e-d0c626a62f62
  response:
    content: '{"object":"database","id":"25e974f3-b388-81a9-9f8e-d0c626a62f62","cover":null,"icon":null,"created_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:30:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"%5Bkjv","name":"Relation","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-81a9-9f8e-d0c626a62f62","data_source_id":"25e974f3-b388-81de-80ba-000b33cc8e37","type":"single_property","single_property":{}}},"People":{"id":"jGVq","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881a99f8ed0c626a62f62","public_url":null,"archived":false,"in_trash":false,"request_id":"bfd6a3de-e148-4d7b-913b-96f395e3228e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bfd6a3de-e148-4d7b-913b-96f395e3228e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81a9-9f8e-d0c626a62f62"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81fb-922b-f891e1baa39a","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81a9-9f8e-d0c626a62f62"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%5Bkjv","type":"relation","relation":[],"has_more":false},"People":{"id":"jGVq","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b38881fb922bf891e1baa39a","public_url":null,"request_id":"b6deaf3c-d305-4167-9095-065fa1e4c9da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b6deaf3c-d305-4167-9095-065fa1e4c9da
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81a9-9f8e-d0c626a62f62"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Florian"}}]},
      "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object":
      "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81fa-94f1-ef4d64c33ff8","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81a9-9f8e-d0c626a62f62"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%5Bkjv","type":"relation","relation":[],"has_more":false},"People":{"id":"jGVq","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-25e974f3b38881fa94f1ef4d64c33ff8","public_url":null,"request_id":"9564f6be-b3bb-46df-bb95-0000e4ef9c41"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9564f6be-b3bb-46df-bb95-0000e4ef9c41
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81a9-9f8e-d0c626a62f62/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-813b-a83a-dad7e83b4ff0","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81a9-9f8e-d0c626a62f62"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%5Bkjv","type":"rela[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81a9-9f8e-d0c626a62f62/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81fa-94f1-ef4d64c33ff8","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81a9-9f8e-d0c626a62f62/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81fa-94f1-ef4d64c33ff8","created_time":"2025-08-29T13:30:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81a9-9f8e-d0c626a62f62/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-813b-a83a-dad7e83b4ff0","created_time":"2025-08-29T13:30:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81a9-9f8e-d0c626a62f62/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-813b-a83a-dad7e83b4ff0","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81a9-9f8e-d0c626a62f62"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"%5Bkjv","type":"relation","relation":[{"id":"25e974f3-b388-81fa-94f1-ef4d64c33ff8"}],"has_more":false},"People":{"id":"jGVq","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-25e974f3b388813ba83adad7e83b4ff0","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"da5d8e66-19b7-48de-97a1-5d636316912d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - da5d8e66-19b7-48de-97a1-5d636316912d
    status_code: 200
[...]
