interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Number Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Number": {"type": "number",
      "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8174-91f0-e11fd49f5e11","cover":null,"icon":null,"created_time":"2025-06-23T13:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:36:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"%3F_%3AX","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b388817491f0e11fd49f5e11","public_url":null,"archived":false,"in_trash":false,"request_id":"ed5715e1-abdd-4768-a2f3-54d5cc57140e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ed5715e1-abdd-4768-a2f3-54d5cc57140e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8174-91f0-e11fd49f5e11"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-8189-8ecf-e7004f57c02c","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8174-91f0-e11fd49f5e11"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"%3F_%3AX","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881898ecfe7004f57c02c","public_url":null,"request_id":"11328f5f-6d3e-452e-bdb1-159302adf6e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 11328f5f-6d3e-452e-bdb1-159302adf6e7
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8189-8ecf-e7004f57c02c","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8174-91f0-e11fd49f5e11"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"%3F_%3AX","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/21b974f3b38881898ecfe7004f57c02c","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"475ba588-d57b-4e0d-83c7-be8ad94559aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 475ba588-d57b-4e0d-83c7-be8ad94559aa
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-8713-f41c750eca2f","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-8713-f41c750eca2f","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811f-a65c-d329b2f435e1","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-8713-f41c750eca2f","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-8713-f41c750eca2f","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811f-a65c-d329b2f435e1","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8174-91f0-e11fd49f5e11/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-811d-8713-f41c750eca2f","created_time":"2025-06-23T13:37:00.000Z","last_edited_time":"2025-06-23T13:37:00.000Z[...]
