interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","database_id":"00000000-0000-4000-8000-00000000000d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Date
      Source":{"id":"CNpy","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Tags":{"id":"DUnB","type":"multi_select","multi_select":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink"}]},"Date":{"id":"%5Ckxk","type":"formula","formula":{"type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}}},"String":{"id":"dvYQ","type":"formula","formula":{"type":"string","string":"Item
      2"}},"Checkbox":{"id":"hlGb","type":"formula","formula":{"type":"boolean","boolean":false}},"Number":{"id":"x%40zJ","type":"formula","formula":{"type":"number","number":1}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}]}},"url":"https://www.notion.so/Item-2-38a9ce7b60a481ddabb6c3f4cee35e22","public_url":null},{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","database_id":"00000000-0000-4000-8000-00000000000d"},"in_trash":false,"is_a[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86
  response:
    content: '{"object":"data_source","id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","cover":null,"icon":null,"created_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_time":"2026-06-25T16:54:00.000Z","title":[{"type":"text","text":{"content":"Formula
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Formula
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Date Source":{"id":"CNpy","name":"Date
      Source","description":null,"type":"date","date":{}},"Tags":{"id":"DUnB","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink","description":null},{"id":"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29","name":"Done","color":"gray","description":null}]}},"Date":{"id":"%5Ckxk","name":"Date","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}"}},"String":{"id":"dvYQ","name":"String","description":null,"type":"formula","formula":{"expression":"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})"}},"Checkbox":{"id":"hlGb","name":"Checkbox","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.includes(\"Done\")"}},"Number":{"id":"x%40zJ","name":"Number","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.length()"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"00000000-0000-4000-8000-00000000000d"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/0000000000004000800000000000000d","public_url":null,"in_trash":false,"request_id":"282b8ace-8624-4b6a-980d-069fe692f6cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 282b8ace-8624-4b6a-980d-069fe692f6cb
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"string": {"equals": "Item 1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00.000Z","created_by"[...]
[...]
- request:
    body: '{"filter": {"formula": {"checkbox": {"equals": true}}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"contains": "1"}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8136-9fb7-c2f65a20b2e1","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:09:00[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"starts_with": "Item"}}, "property":
      "String"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08[...]
[...]
- request:
    body: '{"filter": {"formula": {"string": {"is_empty": true}}, "property": "String"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"db0e1684-bfa9-46a1-8eb5-78c038d349e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db0e1684-bfa9-46a1-8eb5-78c038d349e6
    status_code: 200
[...]
- request:
    body: '{"filter": {"formula": {"number": {"less_than_or_equal_to": 42}}, "property":
      "Number"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T18:08:00.[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"on_or_after": "2024-11-23"}}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-81dd-abb6-c3f4cee35e22","created_time":"2026-06-25T18:08:00.000Z","last_edited_time":"2026-06-25T1[...]
[...]
- request:
    body: '{"filter": {"formula": {"date": {"next_week": {}}}, "property": "Date"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"98934643-d2e4-45ab-99a3-a430643e12c8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 98934643-d2e4-45ab-99a3-a430643e12c8
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Empty Formula DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Empty Formula DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Title\")"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f05acbe8-7f60-4667-9475-3ff5df24aeec","title":[{"type":"text","text":{"content":"Empty
      Formula DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Empty
      Formula DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:02:41.099+00:00","last_edited_time":"2026-06-27T17:02:41.099+00:00","data_sources":[{"id":"057465ee-02e7-4ee8-8f5a-554a0baccb33","name":"Empty
      Formula DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/f05acbe87f60466794753ff5df24aeec","public_url":null,"request_id":"bb8d5d3d-b6a7-41e3-bb77-68a01ad1e8f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bb8d5d3d-b6a7-41e3-bb77-68a01ad1e8f1
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/057465ee-02e7-4ee8-8f5a-554a0baccb33/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"b0897240-109b-4470-9339-f803bb5a7c34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b0897240-109b-4470-9339-f803bb5a7c34
    status_code: 200
version: 1
