interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "properties": {"Title":
      {"type": "title", "title": {}}, "Name": {"type": "rich_text", "rich_text": {}},
      "Phone": {"type": "phone_number", "phone_number": {}}, "Email": {"type": "email",
      "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8115-adf8-c30cf658027d","cover":null,"icon":null,"created_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:46:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"URL":{"id":"OUOG","name":"URL","description":null,"type":"url","url":{}},"Phone":{"id":"l%5BqM","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"Email":{"id":"oC%5EM","name":"Email","description":null,"type":"email","email":{}},"Name":{"id":"v%5DsP","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b3888115adf8c30cf658027d","public_url":null,"archived":false,"in_trash":false,"request_id":"7e25e9b0-0c1e-4c62-9b12-4da17baa8e5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e25e9b0-0c1e-4c62-9b12-4da17baa8e5a
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8115-adf8-c30cf658027d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-8151-bf32-d843ddebcd69","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8115-adf8-c30cf658027d"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"URL":{"id":"OUOG","type":"url","url":null},"Phone":{"id":"l%5BqM","type":"phone_number","phone_number":null},"Email":{"id":"oC%5EM","type":"email","email":null},"Name":{"id":"v%5DsP","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b3888151bf32d843ddebcd69","public_url":null,"request_id":"9ecb3be7-1730-432e-8980-325fc8dc514a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ecb3be7-1730-432e-8980-325fc8dc514a
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8151-bf32-d843ddebcd69","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8115-adf8-c30cf658027d"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"URL":{"id":"OUOG","type":"url","url":null},"Phone":{"id":"l%5BqM","type":"phone_number","phone_number":null},"Email":{"id":"oC%5EM","type":"email","email":null},"Name":{"id":"v%5DsP","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/29c974f3b3888151bf32d843ddebcd69","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"364b968a-acf0-45b0-8883-3c430bc88a35"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 364b968a-acf0-45b0-8883-3c430bc88a35
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-818b-b02c-d0345b724724","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"9dabba3d-6246-405b-9cb6-dbf82f0a9286"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9dabba3d-6246-405b-9cb6-dbf82f0a9286
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8151-bf32-d843ddebcd69","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"78bdf1e8-d125-4b22-bd26-abf309646bc3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 78bdf1e8-d125-4b22-bd26-abf309646bc3
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8151-bf32-d843ddebcd69","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-818b-b02c-d0345b724724","created_time":"2025-10-30T15:46:00.000Z","last_edited_time":"2025-10-30T15:46:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"091a71fa-950f-4c3d-9d9e-3f545abc9aec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 091a71fa-950f-4c3d-9d9e-3f545abc9aec
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-adf8-c30cf658027d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"493bfba3-0bcc-4c06-814c-ce8df3aa683a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 493bfba3-0bcc-4c06-814c-ce8df3aa683a
    status_code: 200
version: 1
