interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8171-ac7b-f79ba1ef2eae","cover":null,"icon":null,"created_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:30:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"%7CK%3Dt","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888171ac7bf79ba1ef2eae","public_url":null,"archived":false,"in_trash":false,"request_id":"9f653bc5-d8c9-4cd0-87f1-618914cfb443"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9f653bc5-d8c9-4cd0-87f1-618914cfb443
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8171-ac7b-f79ba1ef2eae"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-8124-aac6-cdbe89b6b76a","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8171-ac7b-f79ba1ef2eae"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"%7CK%3Dt","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b3888124aac6cdbe89b6b76a","public_url":null,"request_id":"b2e95427-8798-4992-a98a-67fedd1411e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b2e95427-8798-4992-a98a-67fedd1411e6
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8124-aac6-cdbe89b6b76a","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8171-ac7b-f79ba1ef2eae"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"%7CK%3Dt","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/25e974f3b3888124aac6cdbe89b6b76a","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0dfe0c4c-8277-41c7-9b4b-57eade8211da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0dfe0c4c-8277-41c7-9b4b-57eade8211da
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8156-bba4-c8a7ce8c25ac","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8156-bba4-c8a7ce8c25ac","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8129-975a-e6df213c78e1","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8156-bba4-c8a7ce8c25ac","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8156-bba4-c8a7ce8c25ac","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8129-975a-e6df213c78e1","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8171-ac7b-f79ba1ef2eae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-8156-bba4-c8a7ce8c25ac","created_time":"2025-08-29T13:30:00.000Z","last_edited_time":"2025-08-29T13:30:00.000Z[...]
