interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}},
      "Number": {"type": "number", "number": {"format": "number"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81a1-939d-c0f5309c63b5","cover":null,"icon":null,"created_time":"2025-09-22T09:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:21:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"F%5Bwu","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Date":{"id":"qtTh","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881a1939dc0f5309c63b5","public_url":null,"archived":false,"in_trash":false,"request_id":"d6e0e116-e4d4-4b1b-b162-5fa0f34fd80d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6e0e116-e4d4-4b1b-b162-5fa0f34fd80d
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"276974f3-b388-81a1-939d-c0f5309c63b5","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5
  response:
    content: '{"object":"database","id":"276974f3-b388-81a1-939d-c0f5309c63b5","cover":null,"icon":null,"created_time":"2025-09-22T09:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:21:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"F%5Bwu","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Relation":{"id":"kC%3Fr","name":"Relation","description":null,"type":"relation","relation":{"database_id":"276974f3-b388-81a1-939d-c0f5309c63b5","data_source_id":"276974f3-b388-81aa-923a-000b2573dd1e","type":"single_property","single_property":{}}},"Date":{"id":"qtTh","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881a1939dc0f5309c63b5","public_url":null,"archived":false,"in_trash":false,"request_id":"1ad4df8e-b05a-41d8-9c37-6c59f5e8987d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ad4df8e-b05a-41d8-9c37-6c59f5e8987d
    status_code: 200
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81a1-939d-c0f5309c63b5"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-814c-b231-d8987d9d072e","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81a1-939d-c0f5309c63b5"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"F%5Bwu","type":"number","number":42},"Rollup
      Number":{"id":"O%5Bko","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Rollup
      Title":{"id":"SC~%5C","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date Array":{"id":"Xy%40%3D","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Number Array":{"id":"Y%7D%7Br","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date":{"id":"Zt%60t","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Relation":{"id":"kC%3Fr","type":"relation","relation":[],"has_more":false},"Date":{"id":"qtTh","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-276974f3b388814cb231d8987d9d072e","public_url":null,"request_id":"08513949-02a4-4e47-b292-90a67962e627"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 08513949-02a4-4e47-b292-90a67962e627
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81a1-939d-c0f5309c63b5"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"F%5B[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"obj[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"objec[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"object"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"2034619e-9bf5-4fb0-8191-177834b86491"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2034619e-9bf5-4fb0-8191-177834b86491
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-81a1-939d-c0f5309c63b5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8121-9409-cdf33492b24a","created_time":"2025-09-22T09:21:00.000Z","last_edited_time":"2025-09-22T09:21:00.000Z","created_by":{"object":"[...]
