interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Rollup Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Rollup Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Date": {"type": "date", "date": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8009c26e-ee87-4bb3-8834-3094ff4cf40f","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:50:38.839+00:00","last_edited_time":"2026-06-24T18:50:38.839+00:00","data_sources":[{"id":"0699517b-f065-45e9-ba18-9cb6f10854eb","name":"Rollup
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/8009c26eee874bb388343094ff4cf40f","public_url":null,"archived":false,"request_id":"e76d8c64-fe5d-4d45-b6ed-d6eb661c2371"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e76d8c64-fe5d-4d45-b6ed-d6eb661c2371
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb
  response:
    content: '{"object":"data_source","id":"0699517b-f065-45e9-ba18-9cb6f10854eb","cover":null,"icon":null,"created_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:50:00.000Z","title":[{"type":"text","text":{"content":"Rollup
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Rollup
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"%3Fc_S","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Date":{"id":"zGrx","name":"Date","description":null,"type":"date","date":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"8009c26e-ee87-4bb3-8834-3094ff4cf40f"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/8009c26eee874bb388343094ff4cf40f","public_url":null,"in_trash":false,"archived":false,"request_id":"52dfd323-1630-448e-bcfa-7fba3ec0f165"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52dfd323-1630-448e-bcfa-7fba3ec0f165
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"0699517b-f065-45e9-ba18-9cb6f10854eb","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb
  response:
    content: '{"object":"data_source","id":"0699517b-f065-45e9-ba18-9cb6f10854eb","cover":null,"icon":null,"created_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"properties":{"Rollup Title":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Title"}},"Rollup
      Date":{"type":"rollup","rollup":{"function":"earliest_date","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Date Array":{"type":"rollup","rollup":{"function":"show_original","relation_property_name":"Relation","rollup_property_name":"Date"}},"Rollup
      Number":{"type":"rollup","rollup":{"function":"max","relation_property_name":"Relation","rollup_property_name":"Number"}},"Rollup
      Number Array":{"type":"rollup","rollup":{"function[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "0699517b-f065-45e9-ba18-9cb6f10854eb"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}, "Date":
      {"type": "date", "date": {"start": "2024-11-25T14:08:00", "time_zone": "UTC"}},
      "Number": {"type": "number", "number": 42}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8153-9c45-eee8b116a506","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"0699517b-f065-45e9-ba18-9cb6f10854eb","database_id":"8009c26e-ee87-4bb3-8834-3094ff4cf40f"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Rollup
      Number Array":{"id":"%3Ckqw","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Rollup
      Date Array":{"id":"%3CzjL","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Number":{"id":"%3Fc_S","type":"number","number":42},"Rollup
      Number":{"id":"PcWI","type":"rollup","rollup":{"type":"number","number":null,"function":"max"}},"Rollup
      Date":{"id":"UcmL","type":"rollup","rollup":{"type":"date","date":null,"function":"earliest_date"}},"Relation":{"id":"gB%5Cl","type":"relation","relation":[],"has_more":false},"Date":{"id":"zGrx","type":"date","date":{"start":"2024-11-25T14:08:00.000+00:00","end":null,"time_zone":null}},"Rollup
      Title":{"id":"%7Be%3Bk","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://app.notion.com/p/Item-1-3899ce7b60a481539c45eee8b116a506","public_url":null,"archived":false,"request_id":"7b778ba9-adf7-42ad-b951-e851ab4bd6d5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7b778ba9-adf7-42ad-b951-e851ab4bd6d5
    status_code: 200
[...]
- request:
    body: '{"page_size": 1}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"0699517b-f065-45e9-ba18-9cb6f10854eb","database_id":"8009c26e-ee87-4bb3-8834-3094ff4cf40f"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"equals": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"any": {"rich_text":
      {"contains": "Item 1"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"every": {"rich_text":
      {"starts_with": "Item"}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"ob[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Title", "rollup": {"none": {"rich_text":
      {"is_empty": true}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"obje[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"before": "2024-11-25"}}},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"past_week":
      {}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"2ebae6f3-83a1-4266-b6c7-28c64caf0df8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2ebae6f3-83a1-4266-b6c7-28c64caf0df8
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "Rollup Date", "rollup": {"date": {"on_or_before":
      "1981-11-25"}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","creat[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number", "rollup": {"number": {"greater_than":
      42}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"o[...]
[...]
- request:
    body: '{"filter": {"property": "Rollup Number Array", "rollup": {"any": {"number":
      {"less_than_or_equal_to": 42}}}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/0699517b-f065-45e9-ba18-9cb6f10854eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-810b-82fc-f16c8b25e88a","created_time":"2026-06-24T18:50:00.000Z","last_edited_time":"2026-06-24T18:50:00.000Z","created_by":{"object[...]
