interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "properties": {"Title":
      {"type": "title", "title": {}}, "Name": {"type": "rich_text", "rich_text": {}},
      "Phone": {"type": "phone_number", "phone_number": {}}, "Email": {"type": "email",
      "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8103-9bef-de00483e281d","cover":null,"icon":null,"created_time":"2026-06-27T04:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:57:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"URL":{"id":"KMqN","name":"URL","description":null,"type":"url","url":{}},"Phone":{"id":"Lsxr","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"Email":{"id":"SO%5Ca","name":"Email","description":null,"type":"email","email":{}},"Name":{"id":"qK%5Cq","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481039befde00483e281d","public_url":null,"in_trash":false,"archived":false,"request_id":"637c538f-9ab7-4efc-b10b-ed0825c05679"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 637c538f-9ab7-4efc-b10b-ed0825c05679
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-8103-9bef-de00483e281d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8123-93c7-eaec5056b07c","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8103-9bef-de00483e281d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"URL":{"id":"KMqN","type":"url","url":null},"Phone":{"id":"Lsxr","type":"phone_number","phone_number":null},"Email":{"id":"SO%5Ca","type":"email","email":null},"Name":{"id":"qK%5Cq","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4812393c7eaec5056b07c","public_url":null,"archived":false,"request_id":"1d7d21fe-dc0e-4d3c-9bfe-cc35b080870e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1d7d21fe-dc0e-4d3c-9bfe-cc35b080870e
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8123-93c7-eaec5056b07c","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8103-9bef-de00483e281d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"URL":{"id":"KMqN","type":"url","url":null},"Phone":{"id":"Lsxr","type":"phone_number","phone_number":null},"Email":{"id":"SO%5Ca","type":"email","email":null},"Name":{"id":"qK%5Cq","type":"rich_text","rich_text":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4812393c7eaec5056b07c","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0a83261d-bf86-4692-990a-05b972ba131b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0a83261d-bf86-4692-990a-05b972ba131b
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-818b-a7f4-e34a25b78746","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"09df3cb1-e594-435d-b99f-76c82f5b3522"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 09df3cb1-e594-435d-b99f-76c82f5b3522
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-818b-a7f4-e34a25b78746","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"bbe82640-0bc3-466e-b80f-4e43f254590b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bbe82640-0bc3-466e-b80f-4e43f254590b
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-818b-a7f4-e34a25b78746","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81dd-b0a2-dd2929abe6d2","created_time":"2026-06-27T04:57:00.000Z","last_edited_time":"2026-06-27T04:57:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3ceaeb56-1af9-4537-834f-62e7d5bdf17f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ceaeb56-1af9-4537-834f-62e7d5bdf17f
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8103-9bef-de00483e281d/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"cad3daec-0460-460a-9d82-9479ab9ebf6d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cad3daec-0460-460a-9d82-9479ab9ebf6d
    status_code: 200
version: 1
