interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "People & Relation
      Query DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "People":
      {"type": "people", "people": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-81b3-ad1b-fc551306466d","cover":null,"icon":null,"created_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:25:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"hg_l","name":"People","type":"people","people":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881b3ad1bfc551306466d","public_url":null,"archived":false,"in_trash":false,"request_id":"fde3f277-eda1-4a63-a867-83e6518f0ae7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fde3f277-eda1-4a63-a867-83e6518f0ae7
    status_code: 200
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "172974f3-b388-81b3-ad1b-fc551306466d", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b3-ad1b-fc551306466d
  response:
    content: '{"object":"database","id":"172974f3-b388-81b3-ad1b-fc551306466d","cover":null,"icon":null,"created_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-81b3-ad1b-fc551306466d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-8154-91e7-d393bd279218","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81b3-ad1b-fc551306466d"},"archived":false,"in_trash":false,"properties":{"People":{"id":"hg_l","type":"people","people":[]},"Relation":{"id":"%7CQ%3AN","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b388815491e7d393bd279218","public_url":null,"request_id":"6d6d6abe-81fe-46fc-a4f1-0f48ce13978f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6d6d6abe-81fe-46fc-a4f1-0f48ce13978f
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-81b3-ad1b-fc551306466d"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Florian", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Florian"}}]}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-819f-9dbd-d9799102d625","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81b3-ad1b-fc551306466d"},"archived":false,"in_trash":false,"properties":{"People":{"id":"hg_l","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]},"Relation":{"id":"%7CQ%3AN","type":"relation","relation":[],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Florian","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Florian","href":null}]}},"url":"https://www.notion.so/Florian-172974f3b388819f9dbdd9799102d625","public_url":null,"request_id":"a30850ea-0083-4247-9cb7-6f7612485ab1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a30850ea-0083-4247-9cb7-6f7612485ab1
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b3-ad1b-fc551306466d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81f1-9175-fdd2e059622e","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81b3-ad1b-fc551306466d"},"archived":false,"in_trash":false,"properties":{"People":{"id":"hg_l","type":"people",[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b3-ad1b-fc551306466d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-819f-9dbd-d9799102d625","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.00[...]
- request:
    body: '{"filter": {"people": {"contains": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b3-ad1b-fc551306466d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-819f-9dbd-d9799102d625","created_time":"2025-01-05T14:25:00.000Z","last_ed[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "b10cb6df-12ef-44d3-88ad-250168f66322"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b3-ad1b-fc551306466d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81f1-9175-fdd2e059622e","created_time":"2025-01-05T14:25:00.000Z","last_ed[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81b3-ad1b-fc551306466d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81f1-9175-fdd2e059622e","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81b3-ad1b-fc551306466d"},"archived":false,"in_trash":false,"properties":{"People":{"id":"hg_l","type":"people","people":[]},"Relation":{"id":"%7CQ%3AN","type":"relation","relation":[{"id":"172974f3-b388-819f-9dbd-d9799102d625"}],"has_more":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-172974f3b38881f19175fdd2e059622e","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4abb8dc5-35e3-4fe7-ae63-6bff86cc1dae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4abb8dc5-35e3-4fe7-ae63-6bff86cc1dae
    status_code: 200
[...]
