interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "(Multi)-Select Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Backlog", "color": "gray"},
      {"name": "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}},
      "Multi-Select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Backlog", "color": "gray"}, {"name": "In Progress", "color": "blue"}, {"name":
      "Done", "color": "green"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-812c-af1e-d901165a5816","cover":null,"icon":null,"created_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:25:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"Y_lD","name":"Select","type":"select","select":{"options":[{"id":"15749006-df32-435f-a21c-a80ab659c177","name":"Backlog","color":"gray","description":null},{"id":"c6fa8a63-3643-486a-aa5e-4cfaa40d02ec","name":"In
      Progress","color":"blue","description":null},{"id":"09d829b6-748b-4deb-abd0-4b2a3a2ba82d","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"v%7B%5BZ","name":"Multi-Select","type":"multi_select","multi_select":{"options":[{"id":"9f5f730b-f666-49ea-90b3-7f704a153e34","name":"Backlog","color":"gray","description":null},{"id":"613c26f4-f69c-491a-a53f-cd172e47b65a","name":"In
      Progress","color":"blue","description":null},{"id":"7981bd6e-d41d-45af-8c06-48ea81287c0e","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b388812caf1ed901165a5816","public_url":null,"archived":false,"in_trash":false,"request_id":"b481ca4c-5888-43be-84ce-d7f0fe5915a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b481ca4c-5888-43be-84ce-d7f0fe5915a0
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-812c-af1e-d901165a5816"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-81e4-a3de-fac42ce07ff1","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-812c-af1e-d901165a5816"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"Y_lD","type":"select","select":null},"Multi-Select":{"id":"v%7B%5BZ","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b38881e4a3defac42ce07ff1","public_url":null,"request_id":"6c10334f-35ed-4577-b2f4-a8a0645f35fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c10334f-35ed-4577-b2f4-a8a0645f35fb
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-812c-af1e-d901165a5816/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81e4-a3de-fac42ce07ff1","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-812c-af1e-d901165a5816"},"archived":false,"in_trash":false,"properties":{"Select":{"id":"Y_lD","type":"select","select":null},"Multi-Select":{"id":"v%7B%5BZ","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b38881e4a3defac42ce07ff1","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"21561b88-7b67-4a3c-ac0c-c9c1b5ce21a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 21561b88-7b67-4a3c-ac0c-c9c1b5ce21a7
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-812c-af1e-d901165a5816/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8170-895d-e5c7634ac4d4","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-812c-af1e-d901165a5816/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-812e-849a-f0ed28a905b4","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-812c-af1e-d901165a5816/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8170-895d-e5c7634ac4d4","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:25:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-812c-af1e-d901165a5816/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-812e-849a-f0ed28a905b4","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-812c-af1e-d901165a5816/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-8170-895d-e5c7634ac4d4","created_time":"2025-01-05T14:25:00.000Z","last_edited_time":"2025-01-05T14:[...]
[...]
