interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-802c-b152-000ba814957b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c","created_time":"2026-06-26T13:45:00.000Z","last_edited_time":"2026-06-26T13:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-802c-b152-000ba814957b","database_id":"00000000-0000-4000-8000-000000000009"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Text":{"id":"%3FB%3AW","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Text
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      2","href":null}]},"Files":{"id":"%3FbAF","type":"files","files":[]},"Phone number":{"id":"%3F~%5Cw","type":"phone_number","phone_number":null},"URL":{"id":"CWCZ","type":"url","url":null},"Button":{"id":"ImzP","type":"button","button":{}},"Checkbox":{"id":"LGzq","type":"checkbox","checkbox":true},"Multi-Select":{"id":"RIfI","type":"multi_select","multi_select":[]},"AI
      summary":{"id":"UJxn","type":"rich_text","rich_text":[]},"Created by":{"id":"Ur%5DX","type":"created_by","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1","name":"Ultimate
      Notion Tests","avatar_url":null,"type":"bot","bot":{}}},"Rollup":{"id":"WYH%3A","type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"AI
      custom":{"id":"Z~ZY","type":"rich_text","rich_text":[]},"Number":{"id":"dDR%3B","type":"number","number":2},"AI
      key info":{"id":"dqam","type":"rich_text","rich_text":[]},"ID":{"id":"gY%7BP","type":"unique_id","unique_id":{"prefix":null,"number":3}},"Select":{"id":"grew","type":"select","select":null},"Status":{"id":"hlY%3D","type":"status","status":{"id":"1c994aad-fc1f-46d0-b322-51b2b2cb7e6f","name":"Not
      started","color":"default"}},"Relation two-way":{"id":"iywx","type":"relation","relation":[],"has_more":false},"Formula":{"id":"jeun","type":"formula","formula":{"type":"string","string":null}},"Created
      time":{"id":"kRv%7B","type":"created_time","created_time":"2026-06-26T13:45:00.000Z"},"Last
      edited time":{"id":"kX%3Fw","type":"last_edited_time","last_edited_time":"2026-06-26T13:45:00.000Z"},"Place":{"id":"rulX","type":"place","place":null},"Date":{"id":"uUxQ","type":"date","date":null},"Relation":{"id":"v_%5D%3C","type":"relation","relation":[],"has_more":false},"Email":{"id":"wua%3F","type":"email","email":null},"People":{"id":"~ak%40","type":"people","people":[]},"Last
      edited by":{"id":"~e%3F%5E","type":"last_edited_by","last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1","name":"Ultimate
      Notion Tests","avatar_url":null,"type":"bot","bot":{}}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}]}},"url":"https://www.notion.so/Item-2-38b9ce7b60a4810aa3e0d0c7fde33f0c","public_url":null},{"object":"page","id":"38b9ce7b-60a4-81b3-80cb-df63cbb9d090","created_time":"2026-06-26T13:45:00.000Z","last_edited_time":"2026-06-26T13:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-802c-b152-000ba814957b","database_id":"00000000-0000-4000-8000-000000000009"},"in_trash":false,"is_a[...]
- request:
    body: '{"filter": {"unique_id": {"does_not_equal": 42}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-802c-b152-000ba814957b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c","created_time":"2026-06-26T13:45:00.000Z","last_edited_time":"2026-06-26T13:45:00.000Z","created_by":{"o[...]
- request:
    body: '{"filter": {"unique_id": {"greater_than": -1}, "property": "ID"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-802c-b152-000ba814957b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c","created_time":"2026-06-26T13:45:00.000Z","last_edited_time":"2026-06-26T13:45:00.000Z"[...]
