interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Text Query DB Test"}}], "properties": {"Title":
      {"type": "title", "title": {}}, "Name": {"type": "rich_text", "rich_text": {}},
      "Phone": {"type": "phone_number", "phone_number": {}}, "Email": {"type": "email",
      "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81d3-9fba-fff7f4963bef","cover":null,"icon":null,"created_time":"2025-09-03T13:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:58:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"MoG%7C","name":"Name","description":null,"type":"rich_text","rich_text":{}},"Email":{"id":"Wna%3E","name":"Email","description":null,"type":"email","email":{}},"Phone":{"id":"_z%5CV","name":"Phone","description":null,"type":"phone_number","phone_number":{}},"URL":{"id":"oeol","name":"URL","description":null,"type":"url","url":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881d39fbafff7f4963bef","public_url":null,"archived":false,"in_trash":false,"request_id":"de8d8d89-7c13-48b0-8c6f-433323d57fed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de8d8d89-7c13-48b0-8c6f-433323d57fed
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81d3-9fba-fff7f4963bef"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-81ef-89a8-f18cac267722","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81d3-9fba-fff7f4963bef"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"MoG%7C","type":"rich_text","rich_text":[]},"Email":{"id":"Wna%3E","type":"email","email":null},"Phone":{"id":"_z%5CV","type":"phone_number","phone_number":null},"URL":{"id":"oeol","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b38881ef89a8f18cac267722","public_url":null,"request_id":"b83ad5fa-449d-4291-8dca-fc413508e468"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b83ad5fa-449d-4291-8dca-fc413508e468
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-81ef-89a8-f18cac267722","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81d3-9fba-fff7f4963bef"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"MoG%7C","type":"rich_text","rich_text":[]},"Email":{"id":"Wna%3E","type":"email","email":null},"Phone":{"id":"_z%5CV","type":"phone_number","phone_number":null},"URL":{"id":"oeol","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/263974f3b38881ef89a8f18cac267722","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"fc06bc2f-26b3-4755-a5b7-ced5ba8795bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc06bc2f-26b3-4755-a5b7-ced5ba8795bd
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-811b-9a3c-c6a395533a76","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"79337992-5d5b-43f2-aa3d-d1f7ce23349e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 79337992-5d5b-43f2-aa3d-d1f7ce23349e
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-811b-9a3c-c6a395533a76","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e9538d4b-0e54-4711-be49-86d49eef0614"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9538d4b-0e54-4711-be49-86d49eef0614
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-811b-9a3c-c6a395533a76","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-8157-aeaa-dcfb600ef547","created_time":"2025-09-03T13:58:00.000Z","last_edited_time":"2025-09-03T13:58:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"01e8afca-b927-4443-8825-f7c0887142bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 01e8afca-b927-4443-8825-f7c0887142bb
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/263974f3-b388-81d3-9fba-fff7f4963bef/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"63971e25-fcf9-49e2-bec6-f9f26070dac1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 63971e25-fcf9-49e2-bec6-f9f26070dac1
    status_code: 200
version: 1
