interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "(Multi)-Select Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "(Multi)-Select Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Backlog", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Done", "color": "green"}]}}, "Multi-Select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Backlog", "color": "gray"}, {"name":
      "In Progress", "color": "blue"}, {"name": "Done", "color": "green"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8105-9871-e7561df5113e","cover":null,"icon":null,"created_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:58:00.000Z","title":[{"type":"text","text":{"content":"(Multi)-Select
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"(Multi)-Select
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Select":{"id":"f%3DIc","name":"Select","description":null,"type":"select","select":{"options":[{"id":"89a58c99-d654-4c0d-90fd-8777629c7e84","name":"Backlog","color":"gray","description":null},{"id":"7139d094-3b8b-4d12-8178-7c6a77efb78f","name":"In
      Progress","color":"blue","description":null},{"id":"0512b88a-5599-4eb2-968b-289edcf9ef02","name":"Done","color":"green","description":null}]}},"Multi-Select":{"id":"nx%3BP","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"3d85ab04-4436-48fb-b8b3-35fc3ce73c4e","name":"Backlog","color":"gray","description":null},{"id":"4dbcc4ff-2c27-4074-99b8-1705bc4f9fed","name":"In
      Progress","color":"blue","description":null},{"id":"46e3eb90-68fc-43f6-98e5-d23a63917119","name":"Done","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481059871e7561df5113e","public_url":null,"in_trash":false,"archived":false,"request_id":"07d6e845-eee8-48e4-aa38-3eb3c5c45b8c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 07d6e845-eee8-48e4-aa38-3eb3c5c45b8c
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-8105-9871-e7561df5113e"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81a6-a6bc-f4f54474f54f","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8105-9871-e7561df5113e"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"f%3DIc","type":"select","select":null},"Multi-Select":{"id":"nx%3BP","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481a6a6bcf4f54474f54f","public_url":null,"archived":false,"request_id":"4cba549f-5916-4af7-ba76-55fddde687f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4cba549f-5916-4af7-ba76-55fddde687f1
    status_code: 200
[...]
- request:
    body: '{"filter": {"select": {"is_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8105-9871-e7561df5113e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81a6-a6bc-f4f54474f54f","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8105-9871-e7561df5113e"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Select":{"id":"f%3DIc","type":"select","select":null},"Multi-Select":{"id":"nx%3BP","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481a6a6bcf4f54474f54f","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0d460ca0-0752-4938-9aec-4316b8fab90d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0d460ca0-0752-4938-9aec-4316b8fab90d
    status_code: 200
- request:
    body: '{"filter": {"select": {"is_not_empty": true}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8105-9871-e7561df5113e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8180-a7b9-d798f1461c14","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.00[...]
- request:
    body: '{"filter": {"select": {"equals": "Done"}, "property": "Select"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8105-9871-e7561df5113e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8177-b623-e2f9f394185d","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.[...]
- request:
    body: '{"filter": {"select": {"does_not_equal": "Done"}, "property": "Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8105-9871-e7561df5113e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8180-a7b9-d798f1461c14","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:58:00.[...]
[...]
- request:
    body: '{"filter": {"multi_select": {"contains": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8105-9871-e7561df5113e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8177-b623-e2f9f394185d","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:[...]
- request:
    body: '{"filter": {"multi_select": {"does_not_contain": "Done"}, "property": "Multi-Select"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8105-9871-e7561df5113e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8180-a7b9-d798f1461c14","created_time":"2026-06-27T04:58:00.000Z","last_edited_time":"2026-06-27T04:[...]
[...]
