interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Title": {"type":
      "title", "title": {}}, "People": {"type": "people", "people": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"733b3caf-3a42-4cc5-a5d7-0eed69677afa","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:34:10.160+00:00","last_edited_time":"2026-06-24T16:34:10.160+00:00","data_sources":[{"id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","name":"People
      & Relation Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/733b3caf3a424cc5a5d70eed69677afa","public_url":null,"archived":false,"request_id":"aabe2cc6-3167-4b69-866a-64fdb73ccea1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aabe2cc6-3167-4b69-866a-64fdb73ccea1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/354c38d3-8ae7-49b4-98b8-88e6e93c0cf0
  response:
    content: '{"object":"data_source","id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","cover":null,"icon":null,"created_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:34:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"iMS%5C","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"733b3caf-3a42-4cc5-a5d7-0eed69677afa"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/733b3caf3a424cc5a5d70eed69677afa","public_url":null,"in_trash":false,"archived":false,"request_id":"69921dfe-2831-43c9-87ce-28b59ebeaa37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 69921dfe-2831-43c9-87ce-28b59ebeaa37
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/354c38d3-8ae7-49b4-98b8-88e6e93c0cf0
  response:
    content: '{"object":"data_source","id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","cover":null,"icon":null,"created_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "354c38d3-8ae7-49b4-98b8-88e6e93c0cf0"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8106-9679-f972142f6b42","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","database_id":"733b3caf-3a42-4cc5-a5d7-0eed69677afa"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"fSlr","type":"relation","relation":[],"has_more":false},"People":{"id":"iMS%5C","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481069679f972142f6b42","public_url":null,"archived":false,"request_id":"f0b4b191-515a-49e8-9fca-24ec5229716d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f0b4b191-515a-49e8-9fca-24ec5229716d
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "354c38d3-8ae7-49b4-98b8-88e6e93c0cf0"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Person", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Person"}}]}, "People":
      {"people": [{"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}],
      "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8138-833b-fe354b7b883a","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","database_id":"733b3caf-3a42-4cc5-a5d7-0eed69677afa"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"fSlr","type":"relation","relation":[],"has_more":false},"People":{"id":"iMS%5C","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://app.notion.com/p/Person-3899ce7b60a48138833bfe354b7b883a","public_url":null,"archived":false,"request_id":"55aca395-b0a2-48ce-929a-1e428308a81e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 55aca395-b0a2-48ce-929a-1e428308a81e
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/354c38d3-8ae7-49b4-98b8-88e6e93c0cf0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81fe-a4e4-ce621a9c8643","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","database_id":"733b3caf-3a42-4cc5-a5d7-0eed69677afa"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/354c38d3-8ae7-49b4-98b8-88e6e93c0cf0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8138-833b-fe354b7b883a","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00[...]
- request:
    body: '{"filter": {"people": {"contains": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/354c38d3-8ae7-49b4-98b8-88e6e93c0cf0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8138-833b-fe354b7b883a","created_time":"2026-06-24T16:34:00.000Z","last[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/354c38d3-8ae7-49b4-98b8-88e6e93c0cf0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81fe-a4e4-ce621a9c8643","created_time":"2026-06-24T16:34:00.000Z","last[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/354c38d3-8ae7-49b4-98b8-88e6e93c0cf0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81fe-a4e4-ce621a9c8643","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0","database_id":"733b3caf-3a42-4cc5-a5d7-0eed69677afa"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"fSlr","type":"relation","relation":[{"id":"3899ce7b-60a4-8138-833b-fe354b7b883a"}],"has_more":false},"People":{"id":"iMS%5C","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://app.notion.com/p/Fan-3899ce7b60a481fea4e4ce621a9c8643","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"069f85b9-bba0-4526-b985-1f7277736a98"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 069f85b9-bba0-4526-b985-1f7277736a98
    status_code: 200
[...]
