interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Number": {"type": "number", "number": {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a39c4b8e-9610-43d8-bc98-75926dabbd37","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:58:21.121+00:00","last_edited_time":"2026-06-27T05:58:21.121+00:00","data_sources":[{"id":"48d0863d-e7df-42a4-ab26-51c6ad95e864","name":"Number
      Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/a39c4b8e961043d8bc9875926dabbd37","public_url":null,"archived":false,"request_id":"a1943663-fa8f-44a6-b91c-4c5ab7988ce1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1943663-fa8f-44a6-b91c-4c5ab7988ce1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864
  response:
    content: '{"object":"data_source","id":"48d0863d-e7df-42a4-ab26-51c6ad95e864","cover":null,"icon":null,"created_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:58:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"P%40OP","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a39c4b8e-9610-43d8-bc98-75926dabbd37"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/a39c4b8e961043d8bc9875926dabbd37","public_url":null,"in_trash":false,"archived":false,"request_id":"29576ca3-2658-4842-a2d2-1db49d9db159"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29576ca3-2658-4842-a2d2-1db49d9db159
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "48d0863d-e7df-42a4-ab26-51c6ad95e864"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8174-8a81-ea2b3b1be065","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"48d0863d-e7df-42a4-ab26-51c6ad95e864","database_id":"a39c4b8e-9610-43d8-bc98-75926dabbd37"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"P%40OP","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481748a81ea2b3b1be065","public_url":null,"archived":false,"request_id":"42720836-7b67-479d-b0c2-b08a06183fd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 42720836-7b67-479d-b0c2-b08a06183fd0
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8174-8a81-ea2b3b1be065","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"48d0863d-e7df-42a4-ab26-51c6ad95e864","database_id":"a39c4b8e-9610-43d8-bc98-75926dabbd37"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"P%40OP","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481748a81ea2b3b1be065","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"c38fdb12-2ca1-4227-b31c-e1b006d85911"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c38fdb12-2ca1-4227-b31c-e1b006d85911
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8198-a47f-d0352c957d7e","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8198-a47f-d0352c957d7e","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.0[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81c6-803e-e7ffc73b9150","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.0[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8198-a47f-d0352c957d7e","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.00[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8198-a47f-d0352c957d7e","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.00[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81c6-803e-e7ffc73b9150","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.0[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/48d0863d-e7df-42a4-ab26-51c6ad95e864/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8198-a47f-d0352c957d7e","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.0[...]
