interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Text Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Name": {"type": "rich_text",
      "rich_text": {}}, "Phone": {"type": "phone_number", "phone_number": {}}, "Email":
      {"type": "email", "email": {}}, "URL": {"type": "url", "url": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-814d-9561-f524b6d03faa","cover":null,"icon":null,"created_time":"2025-08-22T07:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:14:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"URL":{"id":"%5CtZd","name":"URL","type":"url","url":{}},"Name":{"id":"x%5E%7Bb","name":"Name","type":"rich_text","rich_text":{}},"Phone":{"id":"z%5CXz","name":"Phone","type":"phone_number","phone_number":{}},"Email":{"id":"~Jzi","name":"Email","type":"email","email":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b388814d9561f524b6d03faa","public_url":null,"archived":false,"in_trash":false,"request_id":"acb9024b-9c4b-43b2-95d4-265fa356005e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - acb9024b-9c4b-43b2-95d4-265fa356005e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-814d-9561-f524b6d03faa"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-813a-94e2-fa9997acfcb6","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-814d-9561-f524b6d03faa"},"archived":false,"in_trash":false,"properties":{"URL":{"id":"%5CtZd","type":"url","url":null},"Name":{"id":"x%5E%7Bb","type":"rich_text","rich_text":[]},"Phone":{"id":"z%5CXz","type":"phone_number","phone_number":null},"Email":{"id":"~Jzi","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b388813a94e2fa9997acfcb6","public_url":null,"request_id":"2b9239de-a328-4c8b-9196-08573e836472"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2b9239de-a328-4c8b-9196-08573e836472
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-813a-94e2-fa9997acfcb6","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-814d-9561-f524b6d03faa"},"archived":false,"in_trash":false,"properties":{"URL":{"id":"%5CtZd","type":"url","url":null},"Name":{"id":"x%5E%7Bb","type":"rich_text","rich_text":[]},"Phone":{"id":"z%5CXz","type":"phone_number","phone_number":null},"Email":{"id":"~Jzi","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b388813a94e2fa9997acfcb6","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a7e9eccd-ec77-4bb4-addf-ecc71337806f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a7e9eccd-ec77-4bb4-addf-ecc71337806f
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8187-9260-c4dea754cc6f","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3a77160d-2c3f-4a7a-b175-cf871fa36a8b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3a77160d-2c3f-4a7a-b175-cf871fa36a8b
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8187-9260-c4dea754cc6f","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"1e2b515c-63e6-4e9f-a88a-a801222fe0f9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e2b515c-63e6-4e9f-a88a-a801222fe0f9
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8187-9260-c4dea754cc6f","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8146-b8ce-f145214c520f","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ec24512d-d93d-4fb0-a880-fc85853bf48a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ec24512d-d93d-4fb0-a880-fc85853bf48a
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-814d-9561-f524b6d03faa/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6b32edef-cedf-4b90-b81f-8b92a59cfa6b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b32edef-cedf-4b90-b81f-8b92a59cfa6b
    status_code: 200
version: 1
