interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "People & Relation Query DB Test",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "People & Relation Query DB Test"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Title": {"type":
      "title", "title": {}}, "People": {"type": "people", "people": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"54959f43-f2d1-48a6-810a-a6e3bacfd810","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:58:39.703+00:00","last_edited_time":"2026-06-27T05:58:39.703+00:00","data_sources":[{"id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","name":"People
      & Relation Query DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/54959f43f2d148a6810aa6e3bacfd810","public_url":null,"archived":false,"request_id":"5c660f6e-354a-4776-9179-266a441959d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c660f6e-354a-4776-9179-266a441959d3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb
  response:
    content: '{"object":"data_source","id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","cover":null,"icon":null,"created_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:58:00.000Z","title":[{"type":"text","text":{"content":"People
      & Relation Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"People
      & Relation Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"wo%7Db","name":"People","description":null,"type":"people","people":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"54959f43-f2d1-48a6-810a-a6e3bacfd810"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/54959f43f2d148a6810aa6e3bacfd810","public_url":null,"in_trash":false,"archived":false,"request_id":"b1e3d62a-2409-4899-bf7d-4e5634447c10"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b1e3d62a-2409-4899-bf7d-4e5634447c10
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb
  response:
    content: '{"object":"data_source","id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","cover":null,"icon":null,"created_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-814a-8f64-f5cb4753a05c","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","database_id":"54959f43-f2d1-48a6-810a-a6e3bacfd810"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"pVCg","type":"relation","relation":[],"has_more":false},"People":{"id":"wo%7Db","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a4814a8f64f5cb4753a05c","public_url":null,"archived":false,"request_id":"871bb7db-37d9-41d1-8399-e88bb1c7e4bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 871bb7db-37d9-41d1-8399-e88bb1c7e4bd
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Person", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Person"}}]}, "People":
      {"people": [{"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}],
      "type": "people"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8197-b35c-c816b2255fc1","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","database_id":"54959f43-f2d1-48a6-810a-a6e3bacfd810"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"pVCg","type":"relation","relation":[],"has_more":false},"People":{"id":"wo%7Db","type":"people","people":[{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Person","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Person","href":null}]}},"url":"https://www.notion.so/Person-38c9ce7b60a48197b35cc816b2255fc1","public_url":null,"archived":false,"request_id":"c10f9bfa-e2a7-4ff3-96ef-2bf49c3e2ad7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c10f9bfa-e2a7-4ff3-96ef-2bf49c3e2ad7
    status_code: 200
[...]
- request:
    body: '{"filter": {"people": {"is_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e7-a5b5-c65763a4902d","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","database_id":"54959f43-f2d1-48a6-810a-a6e3bacfd810"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"people": {"is_not_empty": true}, "property": "People"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8197-b35c-c816b2255fc1","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00[...]
- request:
    body: '{"filter": {"people": {"contains": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8197-b35c-c816b2255fc1","created_time":"2026-06-27T05:58:00.000Z","last[...]
- request:
    body: '{"filter": {"people": {"does_not_contain": "00000000-0000-4000-8000-0000000000fa"},
      "property": "People"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e7-a5b5-c65763a4902d","created_time":"2026-06-27T05:58:00.000Z","last[...]
[...]
- request:
    body: '{"filter": {"relation": {"is_not_empty": true}, "property": "Relation"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81e7-a5b5-c65763a4902d","created_time":"2026-06-27T05:58:00.000Z","last_edited_time":"2026-06-27T05:58:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"1d4e0a2c-b682-4f1e-9d8f-36d13c3ca6eb","database_id":"54959f43-f2d1-48a6-810a-a6e3bacfd810"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Relation":{"id":"pVCg","type":"relation","relation":[{"id":"38c9ce7b-60a4-8197-b35c-c816b2255fc1"}],"has_more":false},"People":{"id":"wo%7Db","type":"people","people":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Fan","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Fan","href":null}]}},"url":"https://www.notion.so/Fan-38c9ce7b60a481e7a5b5c65763a4902d","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"e35c2e71-3acd-4b8a-84c0-f458a44a14b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e35c2e71-3acd-4b8a-84c0-f458a44a14b0
    status_code: 200
[...]
