interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Date Query DB Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Created": {"type": "created_time", "created_time": {}}, "Last
      Edited": {"type": "last_edited_time", "last_edited_time": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-81d8-914c-fcef67a025e7","cover":null,"icon":null,"created_time":"2025-01-05T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:23:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Last
      Edited":{"id":"UMx%3A","name":"Last Edited","type":"last_edited_time","last_edited_time":{}},"Created":{"id":"YVLK","name":"Created","type":"created_time","created_time":{}},"Date":{"id":"%7B%3Dfu","name":"Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881d8914cfcef67a025e7","public_url":null,"archived":false,"in_trash":false,"request_id":"f2797534-2043-4e29-908d-9024710c7eec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f2797534-2043-4e29-908d-9024710c7eec
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-81d8-914c-fcef67a025e7"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://ap[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-81d8-914c-fcef67a025e7"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "this week"}}]}, "Date": {"type": "date", "date": {"start": "2025-01-05T15:23:42.280971",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-81e6-96dc-d81c09ccca47","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81d8-914c-fcef67a025e7"},"archived":false,"in_trash":false,"properties":{"Last
      Edited":{"id":"UMx%3A","type":"last_edited_time","last_edited_time":"2025-01-05T14:23:00.000Z"},"Created":{"id":"YVLK","type":"created_time","created_time":"2025-01-05T14:23:00.000Z"},"Date":{"id":"%7B%3Dfu","type":"date","date":{"start":"2025-01-05T15:23:00.000+01:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-172974f3b38881e696dcd81c09ccca47","public_url":null,"request_id":"4439abc1-dd8a-4743-9978-a5b3d3ebf678"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4439abc1-dd8a-4743-9978-a5b3d3ebf678
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81c8-a7cb-da1765468dec","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-81d8-914c-fcef67a025e7"},"archived":false,"in_trash":false,"properties":{"Last
      Edited":{"id":"UMx%3A","type":"last_edited_time","last_edited_time":"2025-01-05T14:23:00.000Z"},"Created":{"id":"YVLK","type":"created_time","created_time":"2025-01-05T14:23:00.000Z"},"Date":{"id":"%7B%3Dfu","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-172974f3b38881c8a7cbda1765468dec","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"32498b33-f257-4afc-ab8d-513600a3f17f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 32498b33-f257-4afc-ab8d-513600a3f17f
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81d8-b63f-dfcfacb9280a","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-01-05T15:23:42.280971+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81e6-96dc-d81c09ccca47","created_time":"2025-01-05T14:23:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-01-05T15:23:42.280971+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-818c-a04d-f2bde4cd1f16","created_time":"2025-01-05T14:23:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-01-05T15:23:42.280971+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-818c-a04d-f2bde4cd1f16","created_time":"2025-01-05T14:23:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-01-05T15:23:42.280971+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81d8-b63f-dfcfacb9280a","created_time":"2025-01-05T14:23:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-01-05T15:23:42.280971+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81d8-b63f-dfcfacb9280a","created_time":"2025-01-05T14:23:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81e6-96dc-d81c09ccca47","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-812e-97cf-f46c6587ac41","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81dc-8ae8-ff3aa44a0260","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-818c-a04d-f2bde4cd1f16","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-810e-ae49-deef7b48de89","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-813b-b8d6-e44e99fe2540","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81d8-b63f-dfcfacb9280a","created_time":"2025-01-05T14:23:00.000Z","last_edited_time":"2025-01-05T14:23:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-01-05T15:28:42.280971+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81d8-b63f-dfcfacb9280a","created_time":"2025-01-05T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-01-05T15:18:42.280971+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-81d8-914c-fcef67a025e7/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"375bfa31-e520-465b-ab02-1f0c1edda260"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 375bfa31-e520-465b-ab02-1f0c1edda260
    status_code: 200
version: 1
