interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Files & Checkbox Query
      DB Test"}}], "properties": {"Title": {"type": "title", "title": {}}, "Files":
      {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox", "checkbox":
      {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81e9-84c1-e65627870e66","cover":null,"icon":null,"created_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:15:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"aIid","name":"Files","type":"files","files":{}},"Checkbox":{"id":"drMw","name":"Checkbox","type":"checkbox","checkbox":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881e984c1e65627870e66","public_url":null,"archived":false,"in_trash":false,"request_id":"f4846891-557c-4801-9951-1ad601baa482"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f4846891-557c-4801-9951-1ad601baa482
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81e9-84c1-e65627870e66"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-81b3-965e-f7025076d818","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81e9-84c1-e65627870e66"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"aIid","type":"files","files":[]},"Checkbox":{"id":"drMw","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/257974f3b38881b3965ef7025076d818","public_url":null,"request_id":"27b1da7a-d972-4c45-b4b7-1a44af9ff1ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27b1da7a-d972-4c45-b4b7-1a44af9ff1ce
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81e9-84c1-e65627870e66"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Files"}}]}, "Files": {"type": "files", "files": [{"type": "external", "name":
      "image", "external": {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-8122-b30f-edff0eea8851","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81e9-84c1-e65627870e66"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"aIid","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Checkbox":{"id":"drMw","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-257974f3b3888122b30fedff0eea8851","public_url":null,"request_id":"29983da7-6f34-4d88-b5f8-72c37edc7ed2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29983da7-6f34-4d88-b5f8-72c37edc7ed2
    status_code: 200
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81e9-84c1-e65627870e66/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81a9-b57d-e5f7d3da8e1c","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81e9-84c1-e65627870e66"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"aIid","type":"files","f[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81e9-84c1-e65627870e66/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8122-b30f-edff0eea8851","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81e9-84c1-e65627870e66"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"aIid","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Checkbox":{"id":"drMw","type":"checkbox","checkbox":false},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://www.notion.so/Files-257974f3b3888122b30fedff0eea8851","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"d5935088-4cd4-4196-a1d0-b16b5cf7527a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d5935088-4cd4-4196-a1d0-b16b5cf7527a
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81e9-84c1-e65627870e66/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81a9-b57d-e5f7d3da8e1c","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00.[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81e9-84c1-e65627870e66/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81a9-b57d-e5f7d3da8e1c","created_time":"2025-08-22T07:15:00.000Z","last_edited_time":"2025-08-22T07:15:00[...]
[...]
