interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Date Query DB Test"}}], "properties": {"Name":
      {"type": "title", "title": {}}, "Date": {"type": "date", "date": {}}, "Created":
      {"type": "created_time", "created_time": {}}, "Last Edited": {"type": "last_edited_time",
      "last_edited_time": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81f7-8251-fe2abb3f8df4","cover":null,"icon":null,"created_time":"2025-08-29T13:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:28:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Created":{"id":"f%5CnL","name":"Created","description":null,"type":"created_time","created_time":{}},"Date":{"id":"y~sw","name":"Date","description":null,"type":"date","date":{}},"Last
      Edited":{"id":"~B%3BI","name":"Last Edited","description":null,"type":"last_edited_time","last_edited_time":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881f78251fe2abb3f8df4","public_url":null,"archived":false,"in_trash":false,"request_id":"3ed553d9-a5be-4551-8c61-cd37d337993a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ed553d9-a5be-4551-8c61-cd37d337993a
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81f7-8251-fe2abb3f8df4"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  re[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81f7-8251-fe2abb3f8df4"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "this week"}}]},
      "Date": {"type": "date", "date": {"start": "2025-08-29T15:29:05.500831", "time_zone":
      "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81ad-876a-fbe695849f40","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81f7-8251-fe2abb3f8df4"},"archived":false,"in_trash":false,"properties":{"Created":{"id":"f%5CnL","type":"created_time","created_time":"2025-08-29T13:29:00.000Z"},"Date":{"id":"y~sw","type":"date","date":{"start":"2025-08-29T15:29:00.000+02:00","end":null,"time_zone":null}},"Last
      Edited":{"id":"~B%3BI","type":"last_edited_time","last_edited_time":"2025-08-29T13:29:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-25e974f3b38881ad876afbe695849f40","public_url":null,"request_id":"78ba8fe9-94f6-4677-bc11-6bd2518daa91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 78ba8fe9-94f6-4677-bc11-6bd2518daa91
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-819f-9902-feb7bb62e3f5","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81f7-8251-fe2abb3f8df4"},"archived":false,"in_trash":false,"properties":{"Created":{"id":"f%5CnL","type":"created_time","created_time":"2025-08-29T13:29:00.000Z"},"Date":{"id":"y~sw","type":"date","date":null},"Last
      Edited":{"id":"~B%3BI","type":"last_edited_time","last_edited_time":"2025-08-29T13:29:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-25e974f3b388819f9902feb7bb62e3f5","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"bf7a1985-c69e-4ccc-a67c-2fd6b2c6a6c8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf7a1985-c69e-4ccc-a67c-2fd6b2c6a6c8
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-811d-af8c-d72b88de4749","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-08-29T15:29:05.500831+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81ad-876a-fbe695849f40","created_time":"2025-08-29T13:29:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-08-29T15:29:05.500831+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81d2-97d5-f6cdf01af08d","created_time":"2025-08-29T13:29:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-08-29T15:29:05.500831+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81d2-97d5-f6cdf01af08d","created_time":"2025-08-29T13:29:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-08-29T15:29:05.500831+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-811d-af8c-d72b88de4749","created_time":"2025-08-29T13:29:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-08-29T15:29:05.500831+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-811d-af8c-d72b88de4749","created_time":"2025-08-29T13:29:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81ad-876a-fbe695849f40","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81bd-8f80-d0f0d63936bc","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81e9-910b-da9047ed8998","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81d2-97d5-f6cdf01af08d","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-81e5-add2-e2458d8c21ad","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-818d-b7a8-d94819cf55ba","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-811d-af8c-d72b88de4749","created_time":"2025-08-29T13:29:00.000Z","last_edited_time":"2025-08-29T13:29:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-08-29T15:34:05.500831+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25e974f3-b388-811d-af8c-d72b88de4749","created_time":"2025-08-29T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-08-29T15:24:05.500831+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f7-8251-fe2abb3f8df4/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"89a73ce2-aa9b-4039-af69-585c767211cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 89a73ce2-aa9b-4039-af69-585c767211cb
    status_code: 200
version: 1
