interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Date Query DB Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Created": {"type": "created_time", "created_time": {}}, "Last
      Edited": {"type": "last_edited_time", "last_edited_time": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-813e-8df4-ea2b2d865d6a","cover":null,"icon":null,"created_time":"2024-12-10T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:55:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Last
      Edited":{"id":"%3ArzA","name":"Last Edited","type":"last_edited_time","last_edited_time":{}},"Date":{"id":"%3Em%3Dq","name":"Date","type":"date","date":{}},"Created":{"id":"pv%60q","name":"Created","type":"created_time","created_time":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b388813e8df4ea2b2d865d6a","public_url":null,"archived":false,"in_trash":false,"request_id":"00138483-c509-409c-a33a-616e41856414"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 00138483-c509-409c-a33a-616e41856414
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-813e-8df4-ea2b2d865d6a"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://ap[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-813e-8df4-ea2b2d865d6a"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "this week"}}]}, "Date": {"type": "date", "date": {"start": "2024-12-10T11:55:14.810114",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81b5-b39d-ef07543aae61","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-813e-8df4-ea2b2d865d6a"},"archived":false,"in_trash":false,"properties":{"Last
      Edited":{"id":"%3ArzA","type":"last_edited_time","last_edited_time":"2024-12-10T10:55:00.000Z"},"Date":{"id":"%3Em%3Dq","type":"date","date":{"start":"2024-12-10T11:55:00.000+01:00","end":null,"time_zone":null}},"Created":{"id":"pv%60q","type":"created_time","created_time":"2024-12-10T10:55:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-158974f3b38881b5b39def07543aae61","public_url":null,"request_id":"7ccfee5a-dbc4-4426-b33e-2ed00eef0e71"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ccfee5a-dbc4-4426-b33e-2ed00eef0e71
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81e6-876d-d3bb09bd9480","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-813e-8df4-ea2b2d865d6a"},"archived":false,"in_trash":false,"properties":{"Last
      Edited":{"id":"%3ArzA","type":"last_edited_time","last_edited_time":"2024-12-10T10:55:00.000Z"},"Date":{"id":"%3Em%3Dq","type":"date","date":null},"Created":{"id":"pv%60q","type":"created_time","created_time":"2024-12-10T10:55:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-158974f3b38881e6876dd3bb09bd9480","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a2aa5802-8125-45b4-87ab-2d5f06b6b6b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2aa5802-8125-45b4-87ab-2d5f06b6b6b5
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81fc-9da9-cdfa2cc70444","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2024-12-10T11:55:14.810114+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81b5-b39d-ef07543aae61","created_time":"2024-12-10T10:55:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2024-12-10T11:55:14.810114+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8125-9adf-f785f41a5399","created_time":"2024-12-10T10:55:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2024-12-10T11:55:14.810114+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8125-9adf-f785f41a5399","created_time":"2024-12-10T10:55:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2024-12-10T11:55:14.810114+01:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81fc-9da9-cdfa2cc70444","created_time":"2024-12-10T10:55:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2024-12-10T11:55:14.810114+01:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81fc-9da9-cdfa2cc70444","created_time":"2024-12-10T10:55:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81b5-b39d-ef07543aae61","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81e4-8cc5-d59fd0437fee","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8125-b249-df2f1021c26c","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-8125-9adf-f785f41a5399","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81c9-93f1-efd117f51dd1","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81c9-a4e8-de1267fd5309","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81fc-9da9-cdfa2cc70444","created_time":"2024-12-10T10:55:00.000Z","last_edited_time":"2024-12-10T10:55:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2024-12-10T12:00:14.810114+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81fc-9da9-cdfa2cc70444","created_time":"2024-12-10T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2024-12-10T11:50:14.810114+01:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-813e-8df4-ea2b2d865d6a/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"375c3749-fa1d-4e2f-94d3-99e201ca6d4b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 375c3749-fa1d-4e2f-94d3-99e201ca6d4b
    status_code: 200
version: 1
