interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Date Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Name": {"type": "rich_text",
      "rich_text": {}}, "Phone": {"type": "phone_number", "phone_number": {}}, "Email":
      {"type": "email", "email": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"140974f3-b388-8100-9c10-c67d92a650ad","cover":null,"icon":null,"created_time":"2024-11-16T13:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-11-16T13:16:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"Stcc","name":"Name","type":"rich_text","rich_text":{}},"Phone":{"id":"YQS%40","name":"Phone","type":"phone_number","phone_number":{}},"Email":{"id":"ZQns","name":"Email","type":"email","email":{}},"URL":{"id":"xj%3Ff","name":"URL","type":"url","url":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/140974f3b38881009c10c67d92a650ad","public_url":null,"archived":false,"in_trash":false,"request_id":"24bd8432-d294-4cab-9cfe-24f5a81068f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 24bd8432-d294-4cab-9cfe-24f5a81068f0
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "140974f3-b388-8100-9c10-c67d92a650ad"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"140974f3-b388-81ca-9ae4-ee72ad041d51","created_time":"2024-11-16T13:16:00.000Z","last_edited_time":"2024-11-16T13:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8100-9c10-c67d92a650ad"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"Stcc","type":"rich_text","rich_text":[]},"Phone":{"id":"YQS%40","type":"phone_number","phone_number":null},"Email":{"id":"ZQns","type":"email","email":null},"URL":{"id":"xj%3Ff","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b38881ca9ae4ee72ad041d51","public_url":null,"request_id":"58dd6c42-04b4-4d10-9680-32b3a179e101"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 58dd6c42-04b4-4d10-9680-32b3a179e101
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-81ca-9ae4-ee72ad041d51","created_time":"2024-11-16T13:16:00.000Z","last_edited_time":"2024-11-16T13:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"140974f3-b388-8100-9c10-c67d92a650ad"},"archived":false,"in_trash":false,"properties":{"Name":{"id":"Stcc","type":"rich_text","rich_text":[]},"Phone":{"id":"YQS%40","type":"phone_number","phone_number":null},"Email":{"id":"ZQns","type":"email","email":null},"URL":{"id":"xj%3Ff","type":"url","url":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/140974f3b38881ca9ae4ee72ad041d51","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"4e826066-75ea-4eba-9a52-ff8455f85301"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4e826066-75ea-4eba-9a52-ff8455f85301
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8153-8aef-f51cb469b24c","created_time":"2024-11-16T13:16:00.000Z","last_edited_time":"2024-11-16T13:16:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"024fa04e-d126-4390-ae81-3ef1469c0b6c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 024fa04e-d126-4390-ae81-3ef1469c0b6c
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8153-8aef-f51cb469b24c","created_time":"2024-11-16T13:16:00.000Z","last_edited_time":"2024-11-16T13:16:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"1d673363-d998-4a98-a01e-46664452fdfa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1d673363-d998-4a98-a01e-46664452fdfa
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8153-8aef-f51cb469b24c","created_time":"2024-11-16T13:16:00.000Z","last_edited_time":"2024-11-16T13:16:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"140974f3-b388-8104-be24-e870b70c4169","created_time":"2024-11-16T13:16:00.000Z","last_edited_time":"2024-11-16T13:16:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"bee31df1-c396-43da-8ee1-fc4b7d268505"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bee31df1-c396-43da-8ee1-fc4b7d268505
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/140974f3-b388-8100-9c10-c67d92a650ad/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"5412a23a-7441-4ffa-8672-8027c600a7fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5412a23a-7441-4ffa-8672-8027c600a7fe
    status_code: 200
version: 1
