interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Date Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Date Query DB Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Date": {"type": "date",
      "date": {}}, "Created": {"type": "created_time", "created_time": {}}, "Last
      Edited": {"type": "last_edited_time", "last_edited_time": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8145-902c-fc3aa8c1303c","cover":null,"icon":null,"created_time":"2025-08-22T07:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:14:00.000Z","title":[{"type":"text","text":{"content":"Date
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Date
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Created":{"id":"%40%3ACS","name":"Created","type":"created_time","created_time":{}},"Date":{"id":"BEjo","name":"Date","type":"date","date":{}},"Last
      Edited":{"id":"Mnqn","name":"Last Edited","type":"last_edited_time","last_edited_time":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b3888145902cfc3aa8c1303c","public_url":null,"archived":false,"in_trash":false,"request_id":"6c44136c-3244-4336-a231-326a3bb4339e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c44136c-3244-4336-a231-326a3bb4339e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-8145-902c-fc3aa8c1303c"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "no_date", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "no_date"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://ap[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-8145-902c-fc3aa8c1303c"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "this week", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "this week"}}]}, "Date": {"type": "date", "date": {"start": "2025-08-22T09:14:18.950925",
      "time_zone": "Europe/Warsaw"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-812d-a6ab-e1c7e8f01aa2","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-8145-902c-fc3aa8c1303c"},"archived":false,"in_trash":false,"properties":{"Created":{"id":"%40%3ACS","type":"created_time","created_time":"2025-08-22T07:14:00.000Z"},"Date":{"id":"BEjo","type":"date","date":{"start":"2025-08-22T09:14:00.000+02:00","end":null,"time_zone":null}},"Last
      Edited":{"id":"Mnqn","type":"last_edited_time","last_edited_time":"2025-08-22T07:14:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"this
      week","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"this
      week","href":null}]}},"url":"https://www.notion.so/this-week-257974f3b388812da6abe1c7e8f01aa2","public_url":null,"request_id":"e6c7abaf-67ab-4976-9865-702acc35fbfd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e6c7abaf-67ab-4976-9865-702acc35fbfd
    status_code: 200
[...]
- request:
    body: '{"filter": {"date": {"is_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81db-8313-ddf9b5619d58","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-8145-902c-fc3aa8c1303c"},"archived":false,"in_trash":false,"properties":{"Created":{"id":"%40%3ACS","type":"created_time","created_time":"2025-08-22T07:14:00.000Z"},"Date":{"id":"BEjo","type":"date","date":null},"Last
      Edited":{"id":"Mnqn","type":"last_edited_time","last_edited_time":"2025-08-22T07:14:00.000Z"},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"no_date","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"no_date","href":null}]}},"url":"https://www.notion.so/no_date-257974f3b38881db8313ddf9b5619d58","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"1c7362b7-03ba-46ee-ae62-8f5598d28e3d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1c7362b7-03ba-46ee-ae62-8f5598d28e3d
    status_code: 200
- request:
    body: '{"filter": {"date": {"is_not_empty": true}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81cd-a4af-f6be2cf81bcb","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z[...]
- request:
    body: '{"filter": {"date": {"equals": "2025-08-22T09:14:18.950925+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-812d-a6ab-e1c7e8f01aa2","created_time":"2025-08-22T07:14:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"before": "2025-08-22T09:14:18.950925+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-813a-9b14-d2111d65d097","created_time":"2025-08-22T07:14:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_before": "2025-08-22T09:14:18.950925+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-813a-9b14-d2111d65d097","created_time":"2025-08-22T07:14:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"after": "2025-08-22T09:14:18.950925+02:00"}, "property":
      "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81cd-a4af-f6be2cf81bcb","created_time":"2025-08-22T07:14:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"on_or_after": "2025-08-22T09:14:18.950925+02:00"},
      "property": "Date"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81cd-a4af-f6be2cf81bcb","created_time":"2025-08-22T07:14:00.000Z","last_edited_t[...]
- request:
    body: '{"filter": {"date": {"this_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-812d-a6ab-e1c7e8f01aa2","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81bb-9996-dd855a5760e8","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8110-b923-d9a3ab9625f5","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"past_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-813a-9b14-d2111d65d097","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_week": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81ca-ac0b-ed53e565f220","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_month": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-819a-9ebf-fcfd392275e7","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z",[...]
- request:
    body: '{"filter": {"date": {"next_year": {}}, "property": "Date"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81cd-a4af-f6be2cf81bcb","created_time":"2025-08-22T07:14:00.000Z","last_edited_time":"2025-08-22T07:14:00.000Z",[...]
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"on_or_before":
      "2025-08-22T09:19:18.950925+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-81cd-a4af-f6be2cf81bcb","created_time":"2025-08-22T[...]
[...]
- request:
    body: '{"filter": {"timestamp": "last_edited_time", "last_edited_time": {"equals":
      "2025-08-22T09:09:18.950925+02:00"}}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-8145-902c-fc3aa8c1303c/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"1266ef38-df01-4cdd-98b8-59674e406985"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1266ef38-df01-4cdd-98b8-59674e406985
    status_code: 200
version: 1
