interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Files & Checkbox Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Files & Checkbox Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Files": {"type": "files", "files": {}}, "Checkbox": {"type": "checkbox",
      "checkbox": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"81f57543-f5d7-475f-a180-293a3e3d710f","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:34:05.682+00:00","last_edited_time":"2026-06-24T16:34:05.682+00:00","data_sources":[{"id":"5f2c856c-389b-4778-9677-01787f626142","name":"Files
      & Checkbox Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/81f57543f5d7475fa180293a3e3d710f","public_url":null,"archived":false,"request_id":"40de9aae-aa97-46ce-8ce7-5956f8ade659"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40de9aae-aa97-46ce-8ce7-5956f8ade659
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/5f2c856c-389b-4778-9677-01787f626142
  response:
    content: '{"object":"data_source","id":"5f2c856c-389b-4778-9677-01787f626142","cover":null,"icon":null,"created_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:34:00.000Z","title":[{"type":"text","text":{"content":"Files
      & Checkbox Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files
      & Checkbox Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"%3DYUT","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Files":{"id":"gci%5C","name":"Files","description":null,"type":"files","files":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"81f57543-f5d7-475f-a180-293a3e3d710f"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/81f57543f5d7475fa180293a3e3d710f","public_url":null,"in_trash":false,"archived":false,"request_id":"03d170af-94ab-4196-9036-7567951c2544"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03d170af-94ab-4196-9036-7567951c2544
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "5f2c856c-389b-4778-9677-01787f626142"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8149-a9b0-da0fc5ac05e0","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"5f2c856c-389b-4778-9677-01787f626142","database_id":"81f57543-f5d7-475f-a180-293a3e3d710f"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Checkbox":{"id":"%3DYUT","type":"checkbox","checkbox":false},"Files":{"id":"gci%5C","type":"files","files":[]},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a48149a9b0da0fc5ac05e0","public_url":null,"archived":false,"request_id":"9ac268c3-7be4-4339-809d-0f8bb7d91441"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ac268c3-7be4-4339-809d-0f8bb7d91441
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "5f2c856c-389b-4778-9677-01787f626142"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Files", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Files"}}]}, "Files":
      {"type": "files", "files": [{"type": "external", "name": "image", "external":
      {"url": "https://some-site.com/image.png"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8163-8f94-d747d535b4fb","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f[...]
[...]
- request:
    body: '{"filter": {"files": {"is_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/5f2c856c-389b-4778-9677-01787f626142/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8150-a1a8-cd027a8d3693","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"5f2c856c-389b-4778-9677-01787f626142","database_id":"81f57543-f5d7-475f-a180-293a3e3d710f"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"filter": {"files": {"is_not_empty": true}, "property": "Files"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/5f2c856c-389b-4778-9677-01787f626142/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8163-8f94-d747d535b4fb","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"5f2c856c-389b-4778-9677-01787f626142","database_id":"81f57543-f5d7-475f-a180-293a3e3d710f"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Checkbox":{"id":"%3DYUT","type":"checkbox","checkbox":false},"Files":{"id":"gci%5C","type":"files","files":[{"name":"image","type":"external","external":{"url":"https://some-site.com/image.png"}}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Files","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Files","href":null}]}},"url":"https://app.notion.com/p/Files-3899ce7b60a481638f94d747d535b4fb","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"563ce7e5-c980-48c0-ad11-ff54970442dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 563ce7e5-c980-48c0-ad11-ff54970442dc
    status_code: 200
- request:
    body: '{"filter": {"checkbox": {"equals": true}, "property": "Checkbox"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/5f2c856c-389b-4778-9677-01787f626142/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8150-a1a8-cd027a8d3693","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34:[...]
[...]
- request:
    body: '{"filter": {"checkbox": {"does_not_equal": false}, "property": "Checkbox"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/5f2c856c-389b-4778-9677-01787f626142/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8150-a1a8-cd027a8d3693","created_time":"2026-06-24T16:34:00.000Z","last_edited_time":"2026-06-24T16:34[...]
[...]
