interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Number Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Number": {"type": "number",
      "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8199-a803-f3672db0a889","cover":null,"icon":null,"created_time":"2024-12-10T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:56:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"GarO","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b3888199a803f3672db0a889","public_url":null,"archived":false,"in_trash":false,"request_id":"a72d4284-9891-402b-b90d-fb017bf55cf1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a72d4284-9891-402b-b90d-fb017bf55cf1
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-8199-a803-f3672db0a889"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81be-97ef-ce95f7ffcb2b","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8199-a803-f3672db0a889"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"GarO","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b38881be97efce95f7ffcb2b","public_url":null,"request_id":"5eed6b89-b495-426e-94a2-04d41fb96097"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5eed6b89-b495-426e-94a2-04d41fb96097
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81be-97ef-ce95f7ffcb2b","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8199-a803-f3672db0a889"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"GarO","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/158974f3b38881be97efce95f7ffcb2b","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b73aa877-c286-4ccc-a7cb-5836316cbd1f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b73aa877-c286-4ccc-a7cb-5836316cbd1f
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81cc-868a-f145b5579313","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81cc-868a-f145b5579313","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-818a-8282-d3ba9ab25707","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81cc-868a-f145b5579313","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81cc-868a-f145b5579313","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-818a-8282-d3ba9ab25707","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-8199-a803-f3672db0a889/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81cc-868a-f145b5579313","created_time":"2024-12-10T10:56:00.000Z","last_edited_time":"2024-12-10T10:56:00.000Z[...]
