interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Number Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Number": {"type": "number",
      "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-810d-a0a5-d736ea7fc4ae","cover":null,"icon":null,"created_time":"2025-01-05T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:24:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"F%7Dub","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b388810da0a5d736ea7fc4ae","public_url":null,"archived":false,"in_trash":false,"request_id":"5825c230-e9a6-415f-bfcf-322120342f7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5825c230-e9a6-415f-bfcf-322120342f7e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-810d-a0a5-d736ea7fc4ae"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-81b5-8fd0-dbfc6639209d","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-810d-a0a5-d736ea7fc4ae"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"F%7Dub","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b38881b58fd0dbfc6639209d","public_url":null,"request_id":"0c74fbc2-ec77-40c1-a32d-e4a3836f8658"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0c74fbc2-ec77-40c1-a32d-e4a3836f8658
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81b5-8fd0-dbfc6639209d","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-810d-a0a5-d736ea7fc4ae"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"F%7Dub","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b38881b58fd0dbfc6639209d","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"7c181734-0828-4e8f-9a5f-bef2ea706215"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7c181734-0828-4e8f-9a5f-bef2ea706215
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-817b-a946-dc8d7b038563","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-817b-a946-dc8d7b038563","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81b7-9a4a-d668e4e6b1c0","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-817b-a946-dc8d7b038563","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-817b-a946-dc8d7b038563","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-81b7-9a4a-d668e4e6b1c0","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-810d-a0a5-d736ea7fc4ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-817b-a946-dc8d7b038563","created_time":"2025-01-05T14:24:00.000Z","last_edited_time":"2025-01-05T14:24:00.000Z[...]
