interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Text Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Text Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Name": {"type": "rich_text",
      "rich_text": {}}, "Phone": {"type": "phone_number", "phone_number": {}}, "Email":
      {"type": "email", "email": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8147-8888-fef32907c266","cover":null,"icon":null,"created_time":"2025-06-10T17:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:52:00.000Z","title":[{"type":"text","text":{"content":"Text
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Phone":{"id":"%3Bk%60o","name":"Phone","type":"phone_number","phone_number":{}},"URL":{"id":"%3CcBW","name":"URL","type":"url","url":{}},"Name":{"id":"jTjM","name":"Name","type":"rich_text","rich_text":{}},"Email":{"id":"vRVB","name":"Email","type":"email","email":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881478888fef32907c266","public_url":null,"archived":false,"in_trash":false,"request_id":"8a4562eb-a608-4544-8239-e5de60180b13"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8a4562eb-a608-4544-8239-e5de60180b13
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8147-8888-fef32907c266"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-8149-a674-dd62661970cc","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8147-8888-fef32907c266"},"archived":false,"in_trash":false,"properties":{"Phone":{"id":"%3Bk%60o","type":"phone_number","phone_number":null},"URL":{"id":"%3CcBW","type":"url","url":null},"Name":{"id":"jTjM","type":"rich_text","rich_text":[]},"Email":{"id":"vRVB","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b3888149a674dd62661970cc","public_url":null,"request_id":"80e7d085-5c19-499f-8001-785143ecc413"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80e7d085-5c19-499f-8001-785143ecc413
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"is_empty": true}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8149-a674-dd62661970cc","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8147-8888-fef32907c266"},"archived":false,"in_trash":false,"properties":{"Phone":{"id":"%3Bk%60o","type":"phone_number","phone_number":null},"URL":{"id":"%3CcBW","type":"url","url":null},"Name":{"id":"jTjM","type":"rich_text","rich_text":[]},"Email":{"id":"vRVB","type":"email","email":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b3888149a674dd62661970cc","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c7707d12-ba5c-4cfe-ba92-aafcfdb08c31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c7707d12-ba5c-4cfe-ba92-aafcfdb08c31
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"is_not_empty": true}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-819f-aa1c-cd9945ee659c","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.000[...]
- request:
    body: '{"filter": {"rich_text": {"equals": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a654a40b-9a15-418c-ae83-b347057e3f8e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a654a40b-9a15-418c-ae83-b347057e3f8e
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_equal": "John Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-819f-aa1c-cd9945ee659c","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:[...]
- request:
    body: '{"filter": {"rich_text": {"contains": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"99780853-664a-4168-a03e-29b5fe067e25"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 99780853-664a-4168-a03e-29b5fe067e25
    status_code: 200
- request:
    body: '{"filter": {"rich_text": {"does_not_contain": "Doe"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-819f-aa1c-cd9945ee659c","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.00[...]
- request:
    body: '{"filter": {"rich_text": {"starts_with": "John"}, "property": "Title"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8178-9eed-e9ac159c5e7b","created_time":"2025-06-10T17:52:00.000Z","last_edited_time":"2025-06-10T17:52:00.0[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "Title"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"74a4591b-2075-4688-abed-b23b16b27fe2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 74a4591b-2075-4688-abed-b23b16b27fe2
    status_code: 200
[...]
- request:
    body: '{"filter": {"rich_text": {"ends_with": "Doe"}, "property": "URL"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8147-8888-fef32907c266/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"71634822-27d6-41eb-8b5b-e389e519630c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 71634822-27d6-41eb-8b5b-e389e519630c
    status_code: 200
version: 1
