interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Number": {"type": "number", "number":
      {"format": "number"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-8192-bb2b-f02d835fc2ed","cover":null,"icon":null,"created_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:20:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"XBoJ","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b3888192bb2bf02d835fc2ed","public_url":null,"archived":false,"in_trash":false,"request_id":"8f7a52bf-1785-4179-afbc-3f27bd3c70c3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f7a52bf-1785-4179-afbc-3f27bd3c70c3
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-8192-bb2b-f02d835fc2ed"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8178-a9d0-cf55f6867557","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8192-bb2b-f02d835fc2ed"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"XBoJ","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b3888178a9d0cf55f6867557","public_url":null,"request_id":"b14267e5-b226-4d48-9be8-735b51a8f0be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b14267e5-b226-4d48-9be8-735b51a8f0be
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8178-a9d0-cf55f6867557","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-8192-bb2b-f02d835fc2ed"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Number":{"id":"XBoJ","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/276974f3b3888178a9d0cf55f6867557","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c05fea02-4bfb-4d63-919c-288a1beffabb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c05fea02-4bfb-4d63-919c-288a1beffabb
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8165-8f6d-faa20cd507e2","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8165-8f6d-faa20cd507e2","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81fd-b681-ec85c85efba8","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8165-8f6d-faa20cd507e2","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8165-8f6d-faa20cd507e2","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-81fd-b681-ec85c85efba8","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/276974f3-b388-8192-bb2b-f02d835fc2ed/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"276974f3-b388-8165-8f6d-faa20cd507e2","created_time":"2025-09-22T09:20:00.000Z","last_edited_time":"2025-09-22T09:20:00.000Z[...]
