interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Number Query DB Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Number": {"type": "number", "number": {"format": "number"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"10689919-f0ea-4551-a280-e469d00791e2","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:33:52.873+00:00","last_edited_time":"2026-06-24T16:33:52.873+00:00","data_sources":[{"id":"da6bcc63-d90e-4f73-9e54-35e28ec1cc7d","name":"Number
      Query DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/10689919f0ea4551a280e469d00791e2","public_url":null,"archived":false,"request_id":"d66f0832-2095-4b48-8e64-4950e3da6347"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d66f0832-2095-4b48-8e64-4950e3da6347
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d
  response:
    content: '{"object":"data_source","id":"da6bcc63-d90e-4f73-9e54-35e28ec1cc7d","cover":null,"icon":null,"created_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:33:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"fCMe","name":"Number","description":null,"type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"10689919-f0ea-4551-a280-e469d00791e2"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/10689919f0ea4551a280e469d00791e2","public_url":null,"in_trash":false,"archived":false,"request_id":"0c74fb20-ef25-4e40-a7ac-2dd871a4747c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0c74fb20-ef25-4e40-a7ac-2dd871a4747c
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "da6bcc63-d90e-4f73-9e54-35e28ec1cc7d"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8162-a711-c462f22d528b","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"da6bcc63-d90e-4f73-9e54-35e28ec1cc7d","database_id":"10689919-f0ea-4551-a280-e469d00791e2"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"fCMe","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a48162a711c462f22d528b","public_url":null,"archived":false,"request_id":"a82cc8ac-6de9-4e83-a27d-b01f389ae973"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a82cc8ac-6de9-4e83-a27d-b01f389ae973
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8162-a711-c462f22d528b","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"da6bcc63-d90e-4f73-9e54-35e28ec1cc7d","database_id":"10689919-f0ea-4551-a280-e469d00791e2"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Number":{"id":"fCMe","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a48162a711c462f22d528b","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"c364f606-95e8-4ccd-ae2c-ead63cd3c563"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c364f606-95e8-4ccd-ae2c-ead63cd3c563
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81bb-9134-d4078e89b185","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81bb-9134-d4078e89b185","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.0[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8119-9b15-ee214bac5474","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.0[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81bb-9134-d4078e89b185","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.00[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81bb-9134-d4078e89b185","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.00[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8119-9b15-ee214bac5474","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.0[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/da6bcc63-d90e-4f73-9e54-35e28ec1cc7d/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81bb-9134-d4078e89b185","created_time":"2026-06-24T16:33:00.000Z","last_edited_time":"2026-06-24T16:33:00.0[...]
