interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Number Query DB Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Number Query DB Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Number": {"type": "number",
      "number": {"format": "number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8176-83c5-f8bfc4f0dd1c","cover":null,"icon":null,"created_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:53:00.000Z","title":[{"type":"text","text":{"content":"Number
      Query DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Number
      Query DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Number":{"id":"L%3AWU","name":"Number","type":"number","number":{"format":"number"}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b388817683c5f8bfc4f0dd1c","public_url":null,"archived":false,"in_trash":false,"request_id":"06bd6105-6558-4788-9b82-facee9fa3776"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 06bd6105-6558-4788-9b82-facee9fa3776
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8176-83c5-f8bfc4f0dd1c"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-8159-9b14-fd78205e0f7f","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8176-83c5-f8bfc4f0dd1c"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"L%3AWU","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b38881599b14fd78205e0f7f","public_url":null,"request_id":"15f6fb17-a182-4db5-9bc6-13562603bdf1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 15f6fb17-a182-4db5-9bc6-13562603bdf1
    status_code: 200
[...]
- request:
    body: '{"filter": {"number": {"is_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8159-9b14-fd78205e0f7f","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8176-83c5-f8bfc4f0dd1c"},"archived":false,"in_trash":false,"properties":{"Number":{"id":"L%3AWU","type":"number","number":null},"Title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b38881599b14fd78205e0f7f","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3c621615-36c9-4095-bf83-f6a423ec5324"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c621615-36c9-4095-bf83-f6a423ec5324
    status_code: 200
- request:
    body: '{"filter": {"number": {"is_not_empty": true}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c6-94b2-c4ad95c4d42e","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.00[...]
- request:
    body: '{"filter": {"number": {"equals": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c6-94b2-c4ad95c4d42e","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z[...]
- request:
    body: '{"filter": {"number": {"does_not_equal": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81a4-a72e-e578aed69d08","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z[...]
- request:
    body: '{"filter": {"number": {"greater_than": 1}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c6-94b2-c4ad95c4d42e","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"greater_than_or_equal_to": 1}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c6-94b2-c4ad95c4d42e","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z"[...]
- request:
    body: '{"filter": {"number": {"less_than": 42}, "property": "Number"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81a4-a72e-e578aed69d08","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z[...]
- request:
    body: '{"filter": {"number": {"less_than_or_equal_to": 42}, "property": "Number"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8176-83c5-f8bfc4f0dd1c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81c6-94b2-c4ad95c4d42e","created_time":"2025-06-10T17:53:00.000Z","last_edited_time":"2025-06-10T17:53:00.000Z[...]
