interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-29T13:57:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"25e974f3-b388-8181-850b-ea3d09a58f48","created_time":"2025-08-29T13:32:00.000Z","last_edited_time":"2025-08-29T13:32:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"RichText
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"RichText
      Test","href":null}]}},"url":"https://www.notion.so/RichText-Test-25e974f3b3888181850bea3d09a58f48","public_url":null},{"object":"page","id":"25e974f3-b388[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Size": {"type": "select",
      "select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81f0-a7a6-dba71aaef8e8","cover":null,"icon":null,"created_time":"2025-08-29T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T14:11:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Size":{"id":"%5BmvW","name":"Size","description":null,"type":"select","select":{"options":[{"id":"c9015738-318b-430a-939b-c30a255401a3","name":"S","color":"green","description":null},{"id":"7f28c835-e153-4fef-bde5-3b0993c24815","name":"M","color":"yellow","description":null},{"id":"db9c8766-d0c9-4d4f-ad01-7bad35483d14","name":"L","color":"red","description":null}]}},"Price":{"id":"xTgA","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881f0a7a6dba71aaef8e8","public_url":null,"archived":false,"in_trash":false,"request_id":"be92595a-4d08-4ba5-8cf0-d63f32d7fa53"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be92595a-4d08-4ba5-8cf0-d63f32d7fa53
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-81f0-a7a6-dba[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "single_property", "database_id": "25e974f3-b388-81f0-a7a6-dba71aaef8e8", "single_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8115-868d-dfc2a71df958","cover":null,"icon":null,"created_time":"2025-08-29T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T14:11:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%7BkH%3C","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-81f0-a7a6-dba71aaef8e8","data_source_id":"25e974f3-b388-8158-afe2-000bde8f5e81","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888115868ddfc2a71df958","public_url":null,"archived":false,"in_trash":false,"request_id":"22608360-5270-4ac9-90f5-732e999474d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 22608360-5270-4ac9-90f5-732e999474d1
    status_code: 200
[...]
- request:
    body: '{"properties":{"Salary":{"type":"number","number":{"format":"number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8159-8dd5-fe80efb50392
  response:
    content: '{"object":"database","id":"25e974f3-b388-8159-8dd5-fe80efb50392","cover":null,"icon":null,"created_time":"2025-08-29T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8159-8dd5-fe80efb50392
  response:
    content: '{"object":"database","id":"25e974f3-b388-8159-8dd5-fe80efb50392","cover":null,"icon":null,"created_time":"2025-08-29T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
- request:
    body: '{"properties":{"Level":{"type":"select","select":{"options":[{"name":"Junior","color":"green"},{"name":"Advanced","color":"yellow"},{"name":"Senior","color":"red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8159-8dd5-fe80efb50392
  response:
    content: '{"object":"database","id":"25e974f3-b388-8159-8dd5-fe80efb50392","cover":null,"icon":nu[...]
[...]
- request:
    body: '{"properties":{"Salary":{"type":"formula","formula":{"expression":"50000
      + dateBetween(prop(\"Hiring Date\"), now(), \"years\")*1000"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8159-8dd5-fe80efb50392
  response:
    content: '{"object":"database","id":"25e974f3-b388-8159-8dd5-fe80efb50392","cover":null,"icon":null,"created_time":"2025-08-29T14:11:00.000Z","created_by":{"object":[...]
[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"rich_text","rich_text":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8159-8dd5-fe80efb50392
  response:
    content: '{"object":"database","id":"25e974f3-b388-8159-8dd5-fe80efb50392","cover":null,"icon":null,"created_time":"2025-08-29T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81f0-a7a6-dba71aaef8e8"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "T-shirt"}}]},
      "Size": {"type": "select", "select": {"name": "L", "color": "red"}}, "Price":
      {"type": "number", "number": 17}}}'
    hea[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8115-868d-dfc2a71df958"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ada Lovelace"}}]},
      "Items Purchased": {"type": "relation", "relation": [{"id": "25e974f3-b388-81d2-b9e0-c070598fb86a"}],
      "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81e0-82ec-ebcaa3754ada","created_time":"2025-08-29T14:12:00.000Z","last_edited_time":"2025-08-29T14:12:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8115-868d-dfc2a71df958"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"%7BkH%3C","type":"relation","relation":[{"id":"25e974f3-b388-81d2-b9e0-c070598fb86a"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-25e974f3b38881e082ecebcaa3754ada","public_url":null,"request_id":"4d22ed93-2e9e-4554-9dec-b5ea409b6ad8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d22ed93-2e9e-4554-9dec-b5ea409b6ad8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81f0-a7a6-dba71aaef8e8
  response:
    content: '{"object":"block","id":"25e974f3-b388-81f0-a7a6-dba71aaef8e8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-08-29T14:11:00.000Z","last_edited_time":"2025-08-29T14:12:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"702c1376-f229-4764-966c-f1024ff0e96f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 702c1376-f229-4764-966c-f1024ff0e96f
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "database_id": "25e974f3-b388-811a-9cff-cfa88bcf19f3", "dual_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81cc-9c99-ea3e9ad9d837","cover":null,"icon":null,"created_time":"2025-08-29T14:12:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T14:12:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"bvVw","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-811a-9cff-cfa88bcf19f3","data_source_id":"25e974f3-b388-812b-b010-000be7fab1c9","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"~smN"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881cc9c99ea3e9ad9d837","public_url":null,"archived":false,"in_trash":false,"request_id":"63d913f8-cb17-4c68-bb82-3937162e7464"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 63d913f8-cb17-4c68-bb82-3937162e7464
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Task List"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Due by": {"type": "date", "date": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8137-af7b-f82f87f06243","cover":null,"icon":null,"created_time":"2025-08-29T14:12:00.000Z","created_by":{"object":"user","id[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8137-af7b-f82f87f06243"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Clean the house"}}]},
      "Due by": {"type": "date", "date": {"start": "2025-09-26T14:12:55.097342Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-8120-b235-c6dcf591ecde","created_time":"2025-08-29T14:12:00.000Z","last_edited_time":"2025-08-29T14:12:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-8137-af7b-f82f87f06243"},"archived":false,"in_trash":false,"properties":{"Parent
      Task":{"id":"HZsM","type":"relation","relation":[],"has_more":false},"Due by":{"id":"fB%3C%60","type":"date","date":{"start":"2025-09-26T14:12:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-25e974f3b3888120b235c6dcf591ecde","public_url":null,"request_id":"0ba02d5b-e91a-4a40-bde5-1b548368221f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0ba02d5b-e91a-4a40-bde5-1b548368221f
    status_code: 200
[...]
