interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-12-10T10:46:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2024-10-14T16:04:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"67ad5240-b1b9[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Item DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Size": {"type": "select", "select":
      {"options": [{"name": "S", "color": "green"}, {"name": "M", "color": "yellow"},
      {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number": {"format":
      "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-81a6-a24f-eb556645343b","cover":null,"icon":null,"created_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:47:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"nx~h","name":"Size","type":"select","select":{"options":[{"id":"e0863062-57d0-4507-890d-42b1b402a4b6","name":"S","color":"green","description":null},{"id":"4a14ff42-6a9f-4d13-a8a8-d88e13cde4a7","name":"M","color":"yellow","description":null},{"id":"2d4a9609-1216-4a9f-a0f7-4a1fef4a2863","name":"L","color":"red","description":null}]}},"Price":{"id":"~GHp","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b38881a6a24feb556645343b","public_url":null,"archived":false,"in_trash":false,"request_id":"017e9bb5-adbd-4388-81e1-2d0b208328e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 017e9bb5-adbd-4388-81e1-2d0b208328e8
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "single_property", "database_id": "158974f3-b388-81a6-a24f-eb556645343b",
      "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8167-91f0-da344c0d653b","cover":null,"icon":null,"created_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-81a6-a24f-eb556645343b"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "T-shirt"}}]}, "Size": {"type": "select", "select": {"name": "L", "color": "red"}},
      "Price": {"type": "number", "num[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-8167-91f0-da344c0d653b"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Ada Lovelace"}}]}, "Items Purchased": {"type": "relation", "relation": [{"id":
      "158974f3-b388-81c7-a960-cf7b0ae6029b"}], "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-8125-9a74-c97d5d14b0ad","created_time":"2024-12-10T10:47:00.000Z","last_edited_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8167-91f0-da344c0d653b"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"%5B%3CX%3F","type":"relation","relation":[{"id":"158974f3-b388-81c7-a960-cf7b0ae6029b"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-158974f3b38881259a74c97d5d14b0ad","public_url":null,"request_id":"85539cee-2acc-4cce-8b5c-94777f252671"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 85539cee-2acc-4cce-8b5c-94777f252671
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81a6-a24f-eb556645343b
  response:
    content: '{"object":"block","id":"158974f3-b388-81a6-a24f-eb556645343b","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-12-10T10:47:00.000Z","last_edited_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"584c20c9-286a-465d-91c3-03663446b6f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 584c20c9-286a-465d-91c3-03663446b6f8
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "dual_property", "database_id": "158974f3-b388-81bf-9209-c42cfabd2a1e",
      "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8103-94fb-f52fae553158","cover":null,"icon":null,"created_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:47:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"~%7D%5Bx","name":"Items
      Purchased","type":"relation","relation":{"database_id":"158974f3-b388-81bf-9209-c42cfabd2a1e","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"CkNW"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b388810394fbf52fae553158","public_url":null,"archived":false,"in_trash":false,"request_id":"6a21a25b-1929-4c4b-a74b-4e998474e499"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a21a25b-1929-4c4b-a74b-4e998474e499
    status_code: 200
[...]
- request:
    body: '{"properties": {"CkNW": {"name": "Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/158974f3-b388-81bf-9209-c42cfabd2a1e
  response:
    content: '{"object":"database","id":"158974f3-b388-81bf-9209-c42cfabd2a1e","cover":null,"icon":null,"created_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Task List"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date", "date":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8182-bdb0-d1d9829204c0","cover":null,"icon":null,"created_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:47:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"IY%40e","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b3888182bdb0d1d9829204c0","public_url":null,"archived":false,"in_trash":false,"request_id":"b60a5879-acc5-47c2-81d8-d5303a67448d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b60a5879-acc5-47c2-81d8-d5303a67448d
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-8182-bdb0-d1d9829204c0"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Clean the house"}}]}, "Due by": {"type": "date", "date": {"start": "2025-01-07T10:47:49.289006Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-8175-90a6-ebf2a64deff0","created_time":"2024-12-10T10:47:00.000Z","last_edited_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-8182-bdb0-d1d9829204c0"},"archived":false,"in_trash":false,"properties":{"Due
      by":{"id":"IY%40e","type":"date","date":{"start":"2025-01-07T10:47:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"vNJ%60","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-158974f3b388817590a6ebf2a64deff0","public_url":null,"request_id":"1581611f-8bca-407e-855b-40432b877a7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1581611f-8bca-407e-855b-40432b877a7b
    status_code: 200
[...]
