interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:18:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2024-10-14T16:04:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"67ad5240-b1b9[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Article DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select", "select":
      {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics", "color":
      "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type": "date",
      "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-8149-9bd2-c23b097c4ddf","cover":null,"icon":null,"created_time":"2025-01-05T14:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:18:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Topic":{"id":"%3Ax%7Dz","name":"Topic","type":"select","select":{"options":[{"id":"0c895f2a-1af1-412e-a446-61da73ad7149","name":"Tech","color":"green","description":null},{"id":"759f7fda-ff22-462c-8a69-b1074b02b830","name":"Politics","color":"yellow","description":null},{"id":"2a16a2db-81c4-4998-adcd-fd443a71a860","name":"Finance","color":"red","description":null}]}},"Released":{"id":"PDSM","name":"Released","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881499bd2c23b097c4ddf","public_url":null,"archived":false,"in_trash":false,"request_id":"e9fb3c07-e7d6-4fbc-9421-e2ecb4604be6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9fb3c07-e7d6-4fbc-9421-e2ecb4604be6
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of various articles",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/dat[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-8149-9bd2-c23b097c4ddf"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Article 1"}}]}, "Topic": {"type": "select", "select": {"name": "Tech", "color":
      "green"}}, "Released": {"type": "date", "date": {"start": "2025-01-05T15:18:39.988928",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-8130-a454-d39393b3f9c7","created_time":"2025-01-05T14:18:00.000Z","last_edited_time":"2025-01-05T14:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-8149-9bd2-c23b097c4ddf"},"archived":false,"in_trash":false,"properties":{"Topic":{"id":"%3Ax%7Dz","type":"select","select":{"id":"0c895f2a-1af1-412e-a446-61da73ad7149","name":"Tech","color":"green"}},"Released":{"id":"PDSM","type":"date","date":{"start":"2025-01-05T15:18:00.000+01:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-172974f3b3888130a454d39393b3f9c7","public_url":null,"request_id":"03659bca-75ab-459d-babb-948db23f1d72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03659bca-75ab-459d-babb-948db23f1d72
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8149-9bd2-c23b097c4ddf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-818a-961c-fbae9cda4350","created_time":"2025-01-05T14:19:00.000Z","last_edited_time":"2025-01-05T14:19:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/172974f3-b388-8149-9bd2-c23b097c4ddf/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"172974f3-b388-816d-82aa-c067ff09595b","created_time":"2025-01-05T14:19:00.000Z","last_ed[...]
