interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:59:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"277974f3-b388-8106-baad-ff20bb9170e3","created_time":"2025-09-23T09:54:00.000Z","last_edited_time":"2025-09-23T09:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max nesting level","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max nesting level","href":null}]}},"url":"https://www.notion.so/Page-for-testing-max-nesting-level-277974f3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Article DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Topic": {"type": "select", "select": {"options": [{"name":
      "Tech", "color": "green"}, {"name": "Politics", "color": "yellow"}, {"name":
      "Finance", "color": "red"}]}}, "Released": {"type": "date", "date": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81e9-b566-c25b1c008379","cover":null,"icon":null,"created_time":"2025-09-23T09:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T09:59:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Released":{"id":"c%3DGk","name":"Released","description":null,"type":"date","date":{}},"Topic":{"id":"e%3CuV","name":"Topic","description":null,"type":"select","select":{"options":[{"id":"eed46ea5-8369-4e8c-b71b-cd00bbf90588","name":"Tech","color":"green","description":null},{"id":"66a56a94-4979-41be-a823-2d6f80269dc2","name":"Politics","color":"yellow","description":null},{"id":"2edaff8c-3b96-4bc1-b4e8-01cb9cc1f881","name":"Finance","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881e9b566c25b1c008379","public_url":null,"archived":false,"in_trash":false,"request_id":"59d213fa-e043-49a6-a0ad-4cb487b5eac0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 59d213fa-e043-49a6-a0ad-4cb487b5eac0
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of various articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-81e9-b566-c25b1c008379
  resp[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81e9-b566-c25b1c008379"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Article 1"}}]},
      "Topic": {"type": "select", "select": {"name": "Tech", "color": "green"}}, "Released":
      {"type": "date", "date": {"start": "2025-09-23T11:59:39.254224", "time_zone":
      "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81fe-8b6e-fb1ef2509e27","created_time":"2025-09-23T09:59:00.000Z","last_edited_time":"2025-09-23T09:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81e9-b566-c25b1c008379"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Released":{"id":"c%3DGk","type":"date","date":{"start":"2025-09-23T11:59:00.000+02:00","end":null,"time_zone":null}},"Topic":{"id":"e%3CuV","type":"select","select":{"id":"eed46ea5-8369-4e8c-b71b-cd00bbf90588","name":"Tech","color":"green"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-277974f3b38881fe8b6efb1ef2509e27","public_url":null,"request_id":"2823c943-08ac-4033-86e9-da161835f71c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2823c943-08ac-4033-86e9-da161835f71c
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81e9-b566-c25b1c008379/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-813e-8539-c35ef11cb3a3","created_time":"2025-09-23T10:00:00.000Z","last_edited_time":"2025-09-23T10:00:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/277974f3-b388-81e9-b566-c25b1c008379/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"277974f3-b388-818d-a16b-def7d174e1be","created_time":"2025-09-23T10:00:00.000Z","last_ed[...]
