interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T19:27:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null},[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Autogenerated
      page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70","created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-38c9ce7b60a481f7ae6ac0aad02d1e70","public_url":null,"request_id":"07d686a5-9e24-4f51-bd2c-5ec2d6c7c202"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 07d686a5-9e24-4f51-bd2c-5ec2d6c7c202
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7c02a4cb-6b30-4cb1-bb36-4d5ab839547a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7c02a4cb-6b30-4cb1-bb36-4d5ab839547a
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81b5-a435-c9b5bcad842f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70"},"created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a0b44de1-4769-4771-b061-41a1148dcf17"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0b44de1-4769-4771-b061-41a1148dcf17
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Some
      text...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Some
      text...\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"code\",\"code\":{\"caption\":[{\"type\":\"text\",\"plain_text\":\"SQL
      Query\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SQL
      Query\"}}],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"SELECT * FROM
      MY_TABLE\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SELECT
      * FROM MY_TABLE\"}}],\"language\":\"sql\"}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\"}}],\"color\":\"blue\"}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Ultimate
      Notion rocks!\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Ultimate
      Notion rocks!\"}}],\"color\":\"purple_background\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}},{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Showing
      off some more...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Showing
      off some more...\"}}],\"color\":\"default\",\"is_toggleable\":false}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/bl[...]
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      bulleted item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      bulleted item"}}],"color":"default"}},{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      bulleted item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      bulleted item"}}],"color":"default"}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      numbered item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      numbered item"}}],"color":"red"}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      numbered item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      numbered item"}}],"color":"red"}},{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      checked Todo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      checked Todo"}}],"color":"default","checked":true}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-818d-9775-f4f1d9fd174d","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70"},"created_time":"2026-06-27T19:28:00.000Z","last_edi[...]
- request:
    body: '{"children":[{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      open Todo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      open Todo"}}],"color":"default","checked":false}},{"object":"block","type":"toggle","toggle":{"children":[],"rich_text":[{"type":"text","plain_text":"Toggle
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Toggle
      item"}}],"color":"default"}},{"object":"block","type":"divider","divider":{}},{"object":"block","type":"heading_3","heading_3":{"rich_text":[{"type":"text","plain_text":"Some
      more fancy stuff...","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Some
      more fancy stuff..."}}],"color":"default","is_toggleable":false}},{"object":"block","type":"table_of_contents","table_of_contents":{"color":"pink"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-813f-9a00-eca342dd2643","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70"},"created_time":"2026-06-27T19:28:00.000Z[...]
- request:
    body: '{"children":[{"object":"block","type":"breadcrumb","breadcrumb":{}},{"object":"block","type":"embed","embed":{"caption":[{"type":"text","plain_text":"Rick","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick"}}],"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"bookmark","bookmark":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"equation","equation":{"expression":"-1
      = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8107-81a0-e211e6ff090e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70"},"created_time":"2026-06-27T19[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Some
      more text, which was added afterwards...","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Some
      more text, which was added afterwards..."}}],"color":"default"}}],"position":{"type":"after_block","after_block":{"id":"38c9ce7b-60a4-819d-a23a-e4119c61ed07"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-812f-bc9a-d303b81bb6b1\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38c9ce7b-60a4-81f7-ae6a-c0aa[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-810f-84db-c49753d8c32b
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-810f-84db-c49753d8c32b","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81f7-ae6a-c0aad02d1e70"},"created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Another
      paragraph...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      paragraph...","href":null}],"icon":null,"color":"default"},"request_id":"54c8f9da-fcd4-4008-9b0f-dc8776d4ee39"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 54c8f9da-fcd4-4008-9b0f-dc8776d4ee39
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"file","file":{"type":"external","name":"robots.txt","caption":[{"type":"text","plain_text":"Google
      Robots","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      Robots"}}],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Path
      on meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Path
      on meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"video","video":{"type":"external","caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[{"type":"text","plain_text":"Dummy
      PDF","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Dummy
      PDF"}}],"external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f1-90f9-db961a76d385/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8106-853f-e8635e36c717","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81f1-90f9-db961a76d385"},"created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"file","file":{"caption":[{"type":"text","text":{"content":"Google
      Robots","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":fa[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[]}},{"object":"block","type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-810f-b90b-d6fdfe699929/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8163-bf87-f82a8fcf5702","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-810f-b90b-d6fdfe699929"},"created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0de08c3f-b277-4802-89d4-5c604579aacb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0de08c3f-b277-4802-89d4-5c604579aacb
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"First
      name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      name"}}],[{"type":"text","plain_text":"Last name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Last
      name"}}],[{"type":"text","plain_text":"Sports","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Sports"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Florian","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Florian"}}],[{"type":"text","plain_text":"Wilhelm","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Wilhelm"}}],[{"type":"text","plain_text":"Running
      and bicycling","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Running
      and bicycling"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[],[]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[],[]]}}],"table_width":3,"has_column_header":true,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-810f-b90b-d6fdfe699929/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81a3-af45-c5e8a3fd3b8a","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-810f-b90b-d6fdfe699929"},"created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"57f4cdc7-45a6-47f2-b137-19369202387e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 57f4cdc7-45a6-47f2-b137-19369202387e
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"tab","tab":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Overview","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Overview"}}],"color":"default"}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Details","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"c[...]
[...]
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000002","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-00000000000040008000000000000002","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"bf3f34a3-6ab6-42aa-b3cc-c49c2e31e997"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf3f34a3-6ab6-42aa-b3cc-c49c2e31e997
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-810f-b90b-d6fdfe699929/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8186-bd47-e9a40e92b4a8","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-810f-b90b-d6fdfe699929"},"created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"068e0dfe-43f7-4333-b653-6fd40ab965e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 068e0dfe-43f7-4333-b653-6fd40ab965e2
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default"}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-810f-b90b-d6fdfe699929/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8161-80db-ccb0ef54559b","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-810f-b90b-d6fdfe699929"},"created_time":"2026-06-27T19:28:00.000Z","last_edited_time":"2026-06-27T19:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"95f8d266-f63a-4b42-87cb-65c3c42e6c15"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95f8d266-f63a-4b42-87cb-65c3c42e6c15
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a "}},{"type":"text","plain_text":"bold","annotations":{"bold":true,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"bold"}},{"type":"text","plain_text":"
      word.\nWe can even add a normal string to it.\nNow some ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"
      word.\nWe can even add a normal string to it.\nNow some "}},{"type":"text","plain_text":"inline
      formula: ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"red"},"text":{"content":"inline
      formula: "}},{"type":"equation","plain_text":"-1 = e^{i \\pi}","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"equation":{"expression":"-1
      = e^{i \\pi}"}},{"type":"text","plain_text":"\n","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":fa[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\",\"name\":\"Adam
      Dangoor\",\"avatar_url\":null,\"type\":\"person\",\"person\":{\"email\":\"adamdangoor@gmail.com\"}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Publish
      Interview Questions\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}}}],\"next_cursor\":null,\"has_more\":false,\"type\":\"user\",\"user\":{},\"request_id\":\"c7b214ff-5b43-418d-9f6c-b15b3182d301\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c7b214ff-5b43-418d-9f6c-b15b3182d301
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a985f3a6-46cf-4950-abb4-71302076b414","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T19:28:54.818+00:00","last_edited_time":"2026-06-27T19:28:54.818+00:00","data_sources":[{"id":"67c16844-e3c4-40a2-8f9d-ceb0aaa88b65","name":"New
[...]
