interactions:
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"277974f3-b388-81fd-a163-f3d078d9c0b3\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-23T09:55:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-23T09:58:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"DB
      test with 110 pages\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"DB
      test with 110 pages\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/277974f3b38881fda163f3d078d9c0b3\",\"public_url\":null,\"archived\":true,\"in_trash\":true},{\"object\":\"database\",\"id\":\"263974f3-b388-819e-ae44-c2a5d7d1c621\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T13:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-03T14:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      synced task db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      synced task db\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"MSHb\",\"name\":\"Status\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"f95623da-d087-4ab0-948f-82650c2d2e5a\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"a69d7b5f-b25f-43e9-8448-2a50165bea94\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"d17d1ae9-d657-4286-81de-50d5d61e011b\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"45880601-f86f-4d93-a05b-05ca9c6a4e3f\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"R%5CcR\",\"name\":\"Due Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/263974f3b388819eae44c2a5d7d1c621\",\"public_url\":null,\"archived\":true,\"in_trash\":true},{\"object\":\"database\",\"id\":\"d4f1e8cd-1a15-4e16-97d9-900f12740960\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F91D\"},\"created_time\":\"2023-03-30T07:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-08-28T17:08:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Contacts
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all my contacts!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all my contacts!\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Level\":{\"id\":\"%3CVau\",\"name\":\"Level\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"2c039f9c-787a-4a7c-ad3e-027e126170a5\",\"name\":\"Student\",\"color\":\"purple\",\"description\":null},{\"id\":\"GiE^\",\"name\":\"Junior\",\"color\":\"default\",\"description\":null},{\"id\":\"]yHE\",\"name\":\"Advanced\",\"color\":\"blue\",\"description\":null},{\"id\":\"Sg=B\",\"name\":\"Senior\",\"color\":\"orange\",\"description\":null},{\"id\":\"bcd02e10-3ad5-4f7e-aaf4-397a5c7bb043\",\"name\":\"Lead\",\"color\":\"red\",\"description\":null}]}},\"Sync
      Date\":{\"id\":\"%3DG~u\",\"name\":\"Sync Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Person\":{\"id\":\"%3Eo%40V\",\"name\":\"Person\",\"description\":null,\"type\":\"people\",\"people\":{}},\"Last
      Sync Days\":{\"id\":\"%40%5E%3Au\",\"name\":\"Last Sync Days\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if(empty({{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      toNumber(\\\"\\\"), (if(({{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      < now()), dateBetween(now(), {{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"days\\\"), (-dateBetween({{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      now(), \\\"days\\\") - 1))))\"}},\"---- Separator ----\":{\"id\":\"%40qHE\",\"name\":\"----
      Separator ----\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format(\\\"Properties
      below here are for internal use\\\")\"}},\"URL\":{\"id\":\"HNS%3D\",\"name\":\"URL\",\"description\":null,\"type\":\"url\",\"url\":{}},\"Address\":{\"id\":\"NKkT\",\"name\":\"Address\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Team
      Member\":{\"id\":\"PvPD\",\"name\":\"Team Member\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Employed\":{\"id\":\"QlK%5D\",\"name\":\"Employed\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if(empty({{notion:block_property:UnqB:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      (if(({{notion:block_property:PvPD:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      and empty({{notion:block_property:_e%3AX:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}})),
      true, (dateBetween(now([...]
[...]
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:58:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"277974f3-b388-8106-baad-ff20bb9170e3","created_time":"2025-09-23T09:54:00.000Z","last_edited_time":"2025-09-23T09:54:[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-8115-99a6-dffdf4896284","cover":null,"icon":null,"created_time":"2025-09-23T09:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T09:58:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b388811599a6dffdf4896284","public_url":null,"archived":false,"in_trash":false,"request_id":"4f459317-7e84-4455-8cf0-0490c730b1b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f459317-7e84-4455-8cf0-0490c730b1b5
    status_code: 200
- request:
    body: '{"title":[{"type":"text","plain_text":"My DB","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-8115-99a6-dffdf4896284
  response:
    content: '{"object":"database","id":"27797[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-8115-99a6-dffdf4896284"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ultimate Notion", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ultimate Notion"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.c[...]
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/277974f3b3888154bc0cd9e8901e0796
  response:
    content: "{\"object\":\"page\",\"id\":\"277974f3-b388-8154-bc0c-d9e8901e0796\",\"created_time\":\"2025-09-23T09:58:00.000Z\",\"last_edited_time\":\"2025-09-23T09:58:00.000Z[...]
- request:
    body: '{"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/277974f3b3888154bc0cd9e8901e0796
  response:
    content: "{\"object\":\"page\",\"id\":\"277974f3-b388-8154-bc0c-d9e8901e0796\",\"created_time\":\"2025-09-23T09:58:00.000Z\",\"last_edited_time\":\"2025-09-23T09:58:00.000Z\",\"created[...]
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/b0cb6b70-e740-496d-9c81-8a298fa2d5e1/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"fd95fc97-3b46-4e35-a811-3b087ebd7b5d\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2025-08-20T07:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001FA91\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -8w5d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2025-07-23T17:10:00.000-04:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"status\",\"status\":{\"id\":\"7c06435c-d863-4074-8f73-051a36b3cfa4\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"131f03a1-028c-4fac-97fa-f2a5aee5a196\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Clearing
      out the cellar\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Clearing
      out the cellar\",\"href\":null}]}},\"url\"[...]
