interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-07-09T19:52:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b775f3ec-3697-45f6-a60e-bc51c16bc4f7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-9lWuX3Q/pmDy9qr9SkZ95s2Yk3w"
      x-notion-request-id:
      - b775f3ec-3697-45f6-a60e-bc51c16bc4f7
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "text": {"content": "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"dd9ef8cc-0c36-4d0c-8900-b111136daa69","created[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/dd9ef8cc-0c36-4d0c-8900-b111136daa69/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a241475d-ab35-4aac-a789-a905f1eea8bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-eD+L5YLhcECq2SvUwEHe+Bgh4Vk"
      x-notion-request-id:
      - a241475d-ab35-4aac-a789-a905f1eea8bb
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/dd9ef8cc-0c36-4d0c-8900-b111136daa69/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"57183636-74c3-44fc-90c9-12c975a61be3","parent":{"type":"page_id","page_id":"dd9ef8cc-0c36-4d0c-8900-b111136daa69"},"created_time":"2024-07-09T20:04:00.000Z","last_edited_time":"2024-07-09T20:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"09bfbc79-8ce4-4a0c-be83-2ec3380ec553"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-UnQIvguX9TBAxW0zocd0p586DWQ"
      x-notion-request-id:
      - 09bfbc79-8ce4-4a0c-be83-2ec3380ec553
    status_code: 200
version: 1
