interactions:
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"bbdc8f1b-21cf-429b-b2c1-1fda9ef302c1\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T16:55:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T16:56:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB 42\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB 42\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell.\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Bought
      by\":{\"id\":\"MU%3Cp\",\"name\":\"Bought by\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"961017e5-6651-4533-bae6-8ea30277a206\",\"data_source_id\":\"dfb9e1ac-2926-481b-aec8-5249b5f91552\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"uEYI\"}}},\"Size\":{\"id\":\"kQ~y\",\"name\":\"Size\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"9af5e44a-2901-43e7-8880-276cc0a08429\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"dd63f4db-278d-4de6-a211-69908173b182\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"c8ef528a-db34-4533-b727-c8e22618ef15\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Price\":{\"id\":\"p%7BIa\",\"name\":\"Price\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"561f297f-f4ef-433c-bfbf-34f84619a4da\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/561f297ff4ef433cbfbf34f84619a4da\",\"public_url\":null,\"in_trash\":true},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-25T16:54:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Date\":{\"id\":\"%5Ckxk\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}\"}},\"String\":{\"id\":\"dvYQ\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})\"}},\"Checkbox\":{\"id\":\"hlGb\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.includes(\\\"Done\\\")\"}},\"Number\":{\"id\":\"x%40zJ\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}.length()\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"00000000-0000-4000-8000-00000000000d\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8[...]
[...]
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7eeeac33-a95e-4c81-97ba-944a64023866","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:56:37.862+00:00","last_edited_time":"2026-06-27T16:56:37.862+00:00","data_sources":[{"id":"a20e91c6-a131-4d74-91d3-77044918efd9","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/7eeeac33a95e4c8197ba944a64023866","public_url":null,"request_id":"9091edc8-6a84-446a-a848-819ab52afe58"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9091edc8-6a84-446a-a848-819ab52afe58
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a20e91c6-a131-4d74-91d3-77044918efd9
  response:
    content: '{"object":"data_source","id":"a20e91c6-a131-4d74-91d3-77044918efd9","cover":null,"icon":null,"created_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:56:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"7eeeac33-a95e-4c81-97ba-944a64023866"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/7eeeac33a95e4c8197ba944a64023866","public_url":null,"in_trash":false,"request_id":"dc894c1c-8987-4490-8d90-14e2ccf2c3af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dc894c1c-8987-4490-8d90-14e2ccf2c3af
    status_code: 200
[...]
- request:
    body: '{"description":[{"type":"text","plain_text":"This is my data source for
      cool Python libraries!","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is my data source for cool Python libraries!"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/datab[...]
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "a20e91c6-a131-4d74-91d3-77044918efd9"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ultimate Notion", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ultimate Notion"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion[...]
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481368cb8d1a177ad0a4f
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-8136-8cb8-d1a177ad0a4f\",\"created_time\":\"2026-06-27T16:56:00.000Z\",\"last_edited_time\":\"2026-06-27T16:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-[...]
- request:
    body: '{"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481368cb8d1a177ad0a4f
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-8136-8cb8-d1a177ad0a4f\",\"created_time\":\"2026-06-27T16:56:00.000Z\",\"last_edited_time\":\"2026-06-27T16:56:00.000Z\",\"created[...]
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8148-99ed-000b1e2cf103/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81f0-83fa-d8760bde3566\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"database_id\":\"00000000-0000-4000-8000-00000000000c\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"type\":\"select\",\"select\":{\"id\":\"8954e2f9-27d7-4b5d-ae76-5efa3002defe\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\"}},\"Status\":{\"id\":\"U%60%3BC\",\"type\":\"status\",\"status\":{\"id\":\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\",\"name\":\"Done\",\"color\":\"green\"}},\"Urgency\":{\"id\":\"jkwd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\u2705\"}},\"Due
      Date\":{\"id\":\"lwnn\",\"type\":\"date\",\"date\":{\"start\":\"2026-06-18T00:00:00.000+00:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Ship
      release\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Ship
      release\",\"href\":null}]}},\"url\":\"https://www.notion.so/Ship-release-3839ce7b60a481f083fad8760bde3566\",\"public_url\":null},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-8135-8cb7-c6657a2dd0d5\",\"created_time\"[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "6a25994e-6db4-4cea-bfb1-2ec2546f752a"},
      "properties": {"Name": {"type": "title", "title": {}}}, "title": [{"type": "text",
      "plain_text": "Customers", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customers"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-vers[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6a25994e-6db4-4cea-bfb1-2ec2546f752a
  response:
    content: '{"object":"block","id":"6a25994e-6db4-4cea-bfb1-2ec2546f752a","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:56:00.000Z","last_edited_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Items"},"request_id":"7df0e2b1-6800-4d1c-bec6-2ed7a6820159"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7df0e2b1-6800-4d1c-bec6-2ed7a6820159
    status_code: 200
version: 1
