interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:38:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000004","created_time":"2026-06-25T10:46:00.000Z","last_edited_time":"2026-06-25T10:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-00000000000040008000000000000004","public_url":null,"archived":false[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"Name": {"type": "title", "title": {}}, "Size": {"type": "select",
      "select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8166-9bdd-de690ebefff6","cover":null,"icon":null,"created_time":"2026-06-25T14:38:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:38:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Price":{"id":"cB%5Dx","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Size":{"id":"e_bZ","name":"Size","description":null,"type":"select","select":{"options":[{"id":"0e3cd0c0-2484-43bd-b707-af3f70923906","name":"S","color":"green","description":null},{"id":"2cad41c3-6fb8-4361-bf4e-b19f981fab08","name":"M","color":"yellow","description":null},{"id":"b24d2ae8-f3ec-4895-827f-a4f0c9a8d98e","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481669bddde690ebefff6","public_url":null,"in_trash":false,"archived":false,"request_id":"2517be17-2c8a-4623-a8f2-806b925e1cc5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2517be17-2c8a-4623-a8f2-806b925e1cc5
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8166-9bdd-de6[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "single_property", "database_id": "38a9ce7b-60a4-8166-9bdd-de690ebefff6", "single_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8141-b54a-e0e688e0e063","cover":null,"icon":null,"created_time":"2026-06-25T14:38:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:38:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"XPy%3B","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-8166-9bdd-de690ebefff6","data_source_id":"38a9ce7b-60a4-81ad-84d3-000b19769da3","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a48141b54ae0e688e0e063","public_url":null,"in_trash":false,"archived":false,"request_id":"29e59eab-c9fe-438b-9184-41a985bbc131"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29e59eab-c9fe-438b-9184-41a985bbc131
    status_code: 200
[...]
- request:
    body: '{"properties":{"Salary":{"type":"number","number":{"format":"number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810a-9cec-ce066f92d37d
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-810a-9cec-ce066f92d37d","cover":null,"icon":null,"created_time":"2026-06-25T14:38:00.000Z","created_by":{"object":"user","id":"00000000-0000-40[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810a-9cec-ce066f92d37d
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-810a-9cec-ce066f92d37d","cover":null,"icon":null,"created_time":"2026-06-25T14:38:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"o[...]
- request:
    body: '{"properties":{"Level":{"type":"select","select":{"options":[{"name":"Junior","color":"green"},{"name":"Advanced","color":"yellow"},{"name":"Senior","color":"red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810a-9cec-ce066f92d37d
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-810a-9cec-ce066f92d37d","cover":null,"icon":nu[...]
[...]
- request:
    body: '{"properties":{"Salary":{"type":"formula","formula":{"expression":"50000
      + dateBetween(prop(\"Hiring Date\"), now(), \"years\")*1000"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810a-9cec-ce066f92d37d
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-810a-9cec-ce066f92d37d","cover":null,"icon":null,"created_time":"2026-06-25T14:38:00.000Z","created_by":{"object":[...]
[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"rich_text","rich_text":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-810a-9cec-ce066f92d37d
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-810a-9cec-ce066f92d37d","cover":null,"icon":null,"created_time":"2026-06-25T14:38:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8166-9bdd-de690ebefff6"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "T-shirt"}}]},
      "Size": {"type": "select", "select": {"name": "L", "color": "red"}}, "Price":
      {"type": "number", "number": 17}}}'
    hea[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8141-b54a-e0e688e0e063"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ada Lovelace"}}]},
      "Items Purchased": {"type": "relation", "relation": [{"id": "38a9ce7b-60a4-8185-94f2-f0f8299a1685"}],
      "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-81ed-97f3-dd818ac90868","created_time":"2026-06-25T14:39:00.000Z","last_edited_time":"2026-06-25T14:39:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8141-b54a-e0e688e0e063"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"XPy%3B","type":"relation","relation":[{"id":"38a9ce7b-60a4-8185-94f2-f0f8299a1685"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-38a9ce7b60a481ed97f3dd818ac90868","public_url":null,"archived":false,"request_id":"7231432f-6bc0-4626-9e92-2bfcfca7e9be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7231432f-6bc0-4626-9e92-2bfcfca7e9be
    status_code: 200
[...]
- request:
    body: '{"properties":{"Size":{"type":"select","select":{"name":"S","color":"green"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38a9ce7b60a4810b88f5c5bcbbbce30b
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-810b-88f5-c5bcbbbce30b","created_time":"2026-06-25T14:39:00.000Z","last_edited_time":"2026-06-25T14:39[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8166-9bdd-de690ebefff6
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-8166-9bdd-de690ebefff6","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-25T14:38:00.000Z","last_edited_time":"2026-06-25T14:39:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"a1512b8c-eeea-4f4f-9fb9-dcbadbad2c30"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1512b8c-eeea-4f4f-9fb9-dcbadbad2c30
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "database_id": "38a9ce7b-60a4-81fb-bede-f39bce6e2029", "dual_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-812d-b71e-dd8384ad053f","cover":null,"icon":null,"created_time":"2026-06-25T14:39:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:39:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"hSGO","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-81fb-bede-f39bce6e2029","data_source_id":"38a9ce7b-60a4-810e-84b7-000b6111789d","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"KS_K"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4812db71edd8384ad053f","public_url":null,"in_trash":false,"archived":false,"request_id":"b1de00a2-9ebc-49a5-a206-5c621b3a0d7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b1de00a2-9ebc-49a5-a206-5c621b3a0d7b
    status_code: 200
[...]
- request:
    body: '{"properties":{"KS_K":{"name":"Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81fb-bede-f39bce6e2029
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81fb-bede-f39bce6e2029","cover":null,"icon":null,"created_time":"2026-06-25T14:39:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"la[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Task List"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Due by": {"type": "date", "date": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-817f-af28-d3704f5890dd","cover":null,"icon":null,"created_time":"2026-06-25T14:39:00.000Z","created_by":{"object":"user","id[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-817f-af28-d3704f5890dd"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Clean the house"}}]},
      "Due by": {"type": "date", "date": {"start": "2026-07-23T14:39:24.330689Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-818f-9562-d0cd5a920010","created_time":"2026-06-25T14:39:00.000Z","last_edited_time":"2026-06-25T14:39:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-817f-af28-d3704f5890dd"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Parent
      Task":{"id":"h%40H_","type":"relation","relation":[],"has_more":false},"Due
      by":{"id":"~%3F%5BH","type":"date","date":{"start":"2026-07-23T14:39:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-38a9ce7b60a4818f9562d0cd5a920010","public_url":null,"archived":false,"request_id":"769edc5b-d6d9-4a4c-924a-a32a91982b5e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 769edc5b-d6d9-4a4c-924a-a32a91982b5e
    status_code: 200
[...]
