interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000005","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000004"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      SubPage Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      SubPage Test","href":null}]}},"url":"https://app.notion.com/p/Markdown-SubPage-Test-00000000000040008000000000000005","public[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Autogenerated
      page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81f5-9753-cd5008e9b3e7","created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://app.notion.com/p/Autogenerated-page-3899ce7b60a481f59753cd5008e9b3e7","public_url":null,"archived":false,"request_id":"df3a9489-f23c-43d7-829c-0c08b31625d0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df3a9489-f23c-43d7-829c-0c08b31625d0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f5-9753-cd5008e9b3e7/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8785656f-6fb8-499a-a75f-fe30c6addd24"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8785656f-6fb8-499a-a75f-fe30c6addd24
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f5-9753-cd5008e9b3e7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81b2-b562-e539d78c6473","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f5-9753-cd5008e9b3e7"},"created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6c747635-40d2-470d-b9c7-ac9a9239e839"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c747635-40d2-470d-b9c7-ac9a9239e839
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Some
      text...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Some
      text...\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"code\",\"code\":{\"caption\":[{\"type\":\"text\",\"plain_text\":\"SQL
      Query\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SQL
      Query\"}}],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"SELECT * FROM
      MY_TABLE\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SELECT
      * FROM MY_TABLE\"}}],\"language\":\"sql\"}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\"}}],\"color\":\"blue\"}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Ultimate
      Notion rocks!\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Ultimate
      Notion rocks!\"}}],\"color\":\"purple_background\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}},{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Showing
      off some more...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Showing
      off some more...\"}}],\"color\":\"default\",\"is_toggleable\":false}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/bl[...]
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      bulleted item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      bulleted item"}}],"color":"default"}},{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      bulleted item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      bulleted item"}}],"color":"default"}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      numbered item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      numbered item"}}],"color":"red"}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      numbered item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      numbered item"}}],"color":"red"}},{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      checked Todo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      checked Todo"}}],"color":"default","checked":true}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f5-9753-cd5008e9b3e7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-818c-acca-e2eab33b17ae","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f5-9753-cd5008e9b3e7"},"created_time":"2026-06-24T20:53:00.000Z","last_edi[...]
- request:
    body: '{"children":[{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      open Todo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      open Todo"}}],"color":"default","checked":false}},{"object":"block","type":"toggle","toggle":{"children":[],"rich_text":[{"type":"text","plain_text":"Toggle
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Toggle
      item"}}],"color":"default"}},{"object":"block","type":"divider","divider":{}},{"object":"block","type":"heading_3","heading_3":{"rich_text":[{"type":"text","plain_text":"Some
      more fancy stuff...","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Some
      more fancy stuff..."}}],"color":"default","is_toggleable":false}},{"object":"block","type":"table_of_contents","table_of_contents":{"color":"pink"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f5-9753-cd5008e9b3e7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-819f-8484-da1066deb5e3","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f5-9753-cd5008e9b3e7"},"created_time":"2026-06-24T20:53:00.000Z[...]
- request:
    body: '{"children":[{"object":"block","type":"breadcrumb","breadcrumb":{}},{"object":"block","type":"embed","embed":{"caption":[{"type":"text","plain_text":"Rick","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick"}}],"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"bookmark","bookmark":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"equation","equation":{"expression":"-1
      = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f5-9753-cd5008e9b3e7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8170-abf8-cd24d455f954","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f5-9753-cd5008e9b3e7"},"created_time":"2026-06-24T20[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Some
      more text, which was added afterwards...","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Some
      more text, which was added afterwards..."}}],"color":"default"}}],"after":"3899ce7b-60a4-81fb-9e5b-c3c02568420f"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f5-9753-cd5008e9b3e7/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"3899ce7b-60a4-8115-ab53-cded903722f0\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"3899ce7b-60a4-81f5-9753-cd5008e9b3e7[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81b8-8f71-f597f194fe04
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-81b8-8f71-f597f194fe04","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f5-9753-cd5008e9b3e7"},"created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Another
      paragraph...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      paragraph...","href":null}],"icon":null,"color":"default"},"archived":true,"request_id":"1f4544b3-41c1-4ec6-89f5-1bc78f0de87a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f4544b3-41c1-4ec6-89f5-1bc78f0de87a
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"file","file":{"type":"external","name":"robots.txt","caption":[{"type":"text","plain_text":"Google
      Robots","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      Robots"}}],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Path
      on meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Path
      on meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"video","video":{"type":"external","caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[{"type":"text","plain_text":"Dummy
      PDF","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Dummy
      PDF"}}],"external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-818c-a228-fe799a9fd2cc/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8114-937f-ff734d03c85a","parent":{"type":"block_id","block_id":"3899ce7b-60a4-818c-a228-fe799a9fd2cc"},"created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"file","file":{"caption":[{"type":"text","text":{"content":"Google
      Robots","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":fa[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[]}},{"object":"block","type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81c2-92f7-e1b93bda9750/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8160-8484-e0158934e0b8","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81c2-92f7-e1b93bda9750"},"created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c0b3bf07-dd17-4a16-8391-9adbf79c29b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c0b3bf07-dd17-4a16-8391-9adbf79c29b1
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"First
      name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      name"}}],[{"type":"text","plain_text":"Last name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Last
      name"}}],[{"type":"text","plain_text":"Sports","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Sports"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Florian","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Florian"}}],[{"type":"text","plain_text":"Wilhelm","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Wilhelm"}}],[{"type":"text","plain_text":"Running
      and bicycling","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Running
      and bicycling"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[],[]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[],[]]}}],"table_width":3,"has_column_header":true,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81c2-92f7-e1b93bda9750/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-812a-bea7-cec87aec9880","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81c2-92f7-e1b93bda9750"},"created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":true,"in_trash":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"361b2f64-a6ca-4bdc-b447-a8c6bc8fe8d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 361b2f64-a6ca-4bdc-b447-a8c6bc8fe8d6
    status_code: 200
[...]
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000002","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://app.notion.com/p/Getting-Started-00000000000040008000000000000002","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"87ba55bb-5bd3-4de3-afbb-a198b1638790"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87ba55bb-5bd3-4de3-afbb-a198b1638790
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81c2-92f7-e1b93bda9750/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-815a-9a31-dcbc4c31cfe6","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81c2-92f7-e1b93bda9750"},"created_time":"2026-06-24T20:54:00.000Z","last_edited_time":"2026-06-24T20:54:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"58729810-3a8f-4c33-8a14-0c259c55b5de"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 58729810-3a8f-4c33-8a14-0c259c55b5de
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default"}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81c2-92f7-e1b93bda9750/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-819c-ae71-dfcbc057ec0d","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81c2-92f7-e1b93bda9750"},"created_time":"2026-06-24T20:54:00.000Z","last_edited_time":"2026-06-24T20:54:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"77bbdf87-657a-45da-aafb-b77fe480febf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 77bbdf87-657a-45da-aafb-b77fe480febf
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a "}},{"type":"text","plain_text":"bold","annotations":{"bold":true,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"bold"}},{"type":"text","plain_text":"
      word.\nWe can even add a normal string to it.\nNow some ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"
      word.\nWe can even add a normal string to it.\nNow some "}},{"type":"text","plain_text":"inline
      formula: ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"red"},"text":{"content":"inline
      formula: "}},{"type":"equation","plain_text":"-1 = e^{i \\pi}","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"equation":{"expression":"-1
      = e^{i \\pi}"}},{"type":"text","plain_text":"\n","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":fa[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\",\"name\":\"Adam
      Dangoor\",\"avatar_url\":null,\"type\":\"person\",\"person\":{\"email\":\"adamdangoor@gmail.com\"}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Publish
      Interview Questions\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}}}],\"next_cursor\":null,\"has_more\":false,\"type\":\"user\",\"user\":{},\"request_id\":\"b727f925-219a-4992-94df-5ed765e388c5\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b727f925-219a-4992-94df-5ed765e388c5
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ef7c8b61-e983-425f-9859-27305661575d","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T20:54:07.246+00:00","last_edited_time":"2026-06-24T20:54:07.246+00:00","data_sources":[{"id":"339afcf5-fbfd-42f4-ba3c-626e5547a8ab","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/ef7c8b61e983425f985927305661575d","public_url":null,"archived":false,"request_id":"2301659a-3345-46a6-8db9-ecebeeeb5cf0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2301659a-3345-46a6-8db9-ecebeeeb5cf0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
[...]
