interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-01-23T15:59:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"72531468-91b7-4e31-8c8b-b9d8a320a667"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Item DB", "text": {"content": "Item DB"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Size":
      {"select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}, "type": "select"}, "Price": {"number":
      {"format": "dollar"}, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6d857a53-e087-4a77-8dfe-8f433582f829","cover":null,"icon":null,"created_time":"2024-01-23T15:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:59:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"LWsv","name":"Size","type":"select","select":{"options":[{"id":"a15d455b-7e3b-474c-9374-7ea02fbfe400","name":"S","color":"green","description":null},{"id":"6b035800-8bed-456d-84e6-2944f2099682","name":"M","color":"yellow","description":null},{"id":"2b2bc6d6-8931-4618-9452-4a7484ec5c60","name":"L","color":"red","description":null}]}},"Price":{"id":"XSGJ","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/6d857a53e0874a778dfe8f433582f829","public_url":null,"archived":false,"request_id":"a78e2c66-b818-4725-99e0-4c9151f05f94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Database of all the items we sell", "text":
      {"content": "Database of all the items we sell"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/6d857a53-e087-4a77-8dfe-8f433582f829
  response:
    content: '{"object":"database","id":"6d857a53-e087-4a77-8dfe-8f433582f[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "6d857a53-e087-4a77-8dfe-8f433582f829",
      "type": "single_property", "single_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fa0c0c9d-9143-40bb-bd96-49f8365354e8","cover":null,"icon":null,"created_time":"2024-01-23T15:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T15:59:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%60T%7DC","name":"Items
      Purchased","type":"relation","relation":{"database_id":"6d857a53-e087-4a77-8dfe-8f433582f829","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/fa0c0c9d914340bbbd9649f8365354e8","public_url":null,"archived":false,"request_id":"ab1ddeb0-6d5e-4282-b5b5-1f81863f2f26"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "6d857a53-e087-4a77-8dfe-8f433582f829", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "T-shirt",
      "text": {"content": "T-shirt"}, "type": "text"}], "type": "title"}, "Size":
      {"select": {"name": "L", "color": "red"}, "type": "select"}, "Price": {"number":
      17.0, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6d857a53-e087-4a77-8dfe-8f433582f829
  response:
    content: '{"object":"block","id":"6d857a53-e087-4a77-8dfe-8f433582f829","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-23T15:59:00.000Z","last_edited_time":"2024-01-23T15:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"af1883e0-f9bd-43c4-bb3f-cc78f45a4246"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "0718a642-05c6-454e-91bc-0f359ecdb128",
      "type": "dual_property", "dual_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"aec52b49-d898-42f6-8161-838365013076","cover":null,"icon":null,"created_time":"2024-01-23T16:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T16:00:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"r%3A%5Bo","name":"Items
      Purchased","type":"relation","relation":{"database_id":"0718a642-05c6-454e-91bc-0f359ecdb128","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"RGz_"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/aec52b49d89842f68161838365013076","public_url":null,"archived":false,"request_id":"8a74c873-1e08-46f0-a236-6d16fa2d9e3d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"properties": {"RGz_": {"name": "Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/0718a642-05c6-454e-91bc-0f359ecdb128
  response:
    content: '{"object":"database","id":"0718a642-05c6-454e-91bc-0f359ecdb128","cover":null,"icon":null,"created_time":"2024-01-23T15:59:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"[...]
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Task List", "text": {"content": "Task
      List"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Due by": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ba8536f7-773e-447c-a410-46122d01b3af","cover":null,"icon":null,"created_time":"2024-01-23T16:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T16:00:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"X%5E%3Eo","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ba8536f7773e447ca41046122d01b3af","public_url":null,"archived":false,"request_id":"d8fc09fe-6812-4577-9f56-40278b1a9a12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "ba8536f7-773e-447c-a410-46122d01b3af", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Clean the
      house", "text": {"content": "Clean the house"}, "type": "text"}], "type": "title"},
      "Due by": {"date": {"start": "2024-02-20T17:00:28.458589"}, "type": "date"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b0a566da-7b3a-4b62-aca9-0938f7f97d69","created_time":"2024-01-23T16:00:00.000Z","last_edited_time":"2024-01-23T16:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ba8536f7-773e-447c-a410-46122d01b3af"},"archived":false,"properties":{"Parent
      Task":{"id":"KKGS","type":"relation","relation":[],"has_more":false},"Due by":{"id":"X%5E%3Eo","type":"date","date":{"start":"2024-02-20T17:00:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-b0a566da7b3a4b62aca90938f7f97d69","public_url":null,"request_id":"5ea59d12-7fbb-4e64-9ccf-9689a5d35ced"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
