interactions:
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000002","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-00000000000040008000000000000002","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6f8c3b71-8c01-4b6d-93b9-6369e4b4f282"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f8c3b71-8c01-4b6d-93b9-6369e4b4f282
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000002/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3839ce7b-60a4-81b9-bf08-e2ffe9c45dd7","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}],"is_toggleable":false,"color":"default"},"archived":false},{"object":"block","id":"3839ce7b-60a4-814c-bcae-de517303167d","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Ultimate Notion test workspace.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Welcome
      to the Ultimate Notion test workspace.","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a0ffd8a3-ad64-4888-94c9-c4782cef05f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0ffd8a3-ad64-4888-94c9-c4782cef05f6
    status_code: 200
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-812d-b71e-dd8384ad053f\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:39:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-25T14:39:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"hSGO\",\"name\":\"Items Purchased\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"38a9ce7b-60a4-81fb-bede-f39bce6e2029\",\"data_source_id\":\"38a9ce7b-60a4-810e-84b7-000b6111789d\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"KS_K\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/38a9ce7b60a4812db71edd8384ad053f\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-81fb-bede-f39bce6e2029\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:39:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"000[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-00000000000c/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81f0-83fa-d8760bde3566\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"00000000-0000-4000-8000-00000000000c\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"type\":\"select\",\"select\":{\"id\":\"8954e2f9-27d7-4b5d-ae76-5efa3002defe\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\"}},\"Status\":{\"id\":\"U%60%3BC\",\"type\":\"status\",\"status\":{\"id\":\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\",\"name\":\"Done\",\"color\":\"green\"}},\"Urgency\":{\"id\":\"jkwd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\u2705\"}},\"Due
      Date\":{\"id\":\"lwnn\",\"type\":\"date\",\"date\":{\"start\":\"2026-06-18T00:00:00.000+00:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Ship
      release\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Ship
      release\",\"href\":null}]}},\"url\":\"https://www.notion.so/Ship-release-3839ce7b60a481f083fad8760bde3566\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-8135-8cb7-c6657a2dd0d5[...]
- request:
    body: '{"properties":{"Due Date":{"type":"date","date":{"start":"2024-01-08T12:00:00Z","time_zone":"UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3839ce7b60a481c8867af81fd71aa55c
  response:
    content: "{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81c8-867a-f81fd71aa55c\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"[...]
[...]
