interactions:
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"6855b161-f63e-4683-b7c7-8ca6e97ee246","created_time":"2023-11-05T10:35:00.000Z","last_edited_time":"2024-06-01T19:31:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-6855b161f63e4683b7c78ca6e97ee246","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"712c0b0c-f81d-4c34-9924-96c6fbcbbb2a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 712c0b0c-f81d-4c34-9924-96c6fbcbbb2a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/6855b161-f63e-4683-b7c7-8ca6e97ee246/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"ff24ab83-9f2f-4375-b8ab-bbb47aafe831\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"6855b161-f63e-4683-b7c7-8ca6e97ee246\"},\"created_time\":\"2023-11-05T10:35:00.000Z\",\"last_edited_time\":\"2023-11-05T10:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"\U0001F44B
      Welcome to Notion!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"\U0001F44B
      Welcome to Notion!\",\"href\":null}],\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"2aac2fe9-2749-49fd-89cd-f3a3b226a974\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"6855b161-f63e-4683-b7c7-8ca6e97ee246\"},\"created_time\":\"2[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"20e974f3-b388-81e0-b9f0-f569624dce23\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Article
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Article
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of various articles\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of various articles\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Released\":{\"id\":\"%3BaXr\",\"name\":\"Released\",\"type\":\"date\",\"date\":{}},\"Topic\":{\"id\":\"kXVQ\",\"name\":\"Topic\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"289739d5-7915-45d4-a5fe-2df383f7f142\",\"name\":\"Tech\",\"color\":\"green\",\"description\":null},{\"id\":\"db96bdc3-d79a-4049-9060-764f7201480a\",\"name\":\"Politics\",\"color\":\"yellow\",\"description\":null},{\"id\":\"190dca4c-78d3-4e37-9fa7-86fed9d93ad7\",\"name\":\"Finance\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/20e974f3b38881e0b9f0f569624dce23\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"20e974f3-b388-8163-8d22-cd6f3e393f88\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      List\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      List\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"A
      really simple task lists with subtasks\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"A
      really simple task lists with subtasks\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Due
      by\":{\"id\":\"%3DPJz\",\"name\":\"Due by\",\"type\":\"date\",\"date\":{}},\"Parent
      Task\":{\"id\":\"CtpB\",\"name\":\"Parent Task\",\"type\":\"relation\",\"relation\":{\"database_id\":\"20e974f3-b388-8163-8d22-cd6f3e393f88\",\"type\":\"single_property\",\"single_property\":{}}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/20e974f3b38881638d22cd6f3e393f88\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"20e974f3-b388-81fe-bd0f-f0bde71f276d\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"%5CMJz\",\"name\":\"Items Purchased\",\"type\":\"relation\",\"relation\":{\"database_id\":\"20e974f3-b388-81db-8ae1-ee2b6a3cc4a9\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"KI%3F_\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/20e974f3b38881febd0ff0bde71f276d\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"20e974f3-b388-81db-8ae1-ee2b6a3cc4a9\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Price\":{\"id\":\"%3CN%3C%3B\",\"name\":\"Price\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Bought
      by\":{\"id\":\"KI%3F_\",\"name\":\"Bought by\",\"type\":\"relation\",\"relation\":{\"database_id\":\"20e974f3-b388-81fe-bd0f-f0bde71f276d\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"%5CMJz\"}}},\"Size\":{\"id\":\"~Dh%3A\",\"name\":\"Size\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"708f4da7-77ea-4ac6-a701-0d62e08543cc\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"3f8bb9c4-bcb9-4d44-8a5c-aded2ea292ec\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"bf181fa6-38f5-432a-a4dc-e496b9153861\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/b0cb6b70-e740-496d-9c81-8a298fa2d5e1/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"fd95fc97-3b46-4e35-a811-3b087ebd7b5d\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2024-12-21T13:04:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001FA91\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -81w4d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2023-11-16T17:10:00.000-05:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"select\",\"select\":{\"id\":\"ce60f469-5d10-4c18-937f-3e8a539f7bff\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"131f03a1-028c-4fac-97fa-f2a5aee5a196\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Clearing
      out the cellar\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Clearing
      out the cellar\",\"href\":null}]}},\"url\"[...]
- request:
    body: '{"properties": {"Due Date": {"type": "date", "date": {"start": "2024-01-08T11:00:00Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/2fcfe2c648f54f25aa3e047e7e592aa5
  response:
    content: "{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":\"2023-12-02T16:1[...]
[...]
