interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"25ec8af6-14d1-462a-b821-cb0c7dbc32e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-NAnSEetiBxEV4CkJ9XXKpXgxpgw"
      x-notion-request-id:
      - 25ec8af6-14d1-462a-b821-cb0c7dbc32e3
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "text": {"content": "Item
      DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Size": {"type":
      "select", "select": {"options": [{"name": "S", "color": "green"}, {"name": "M",
      "color": "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number",
      "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4d17dcd5-9b5f-431f-88fd-58bad9981eab","cover":null,"icon":null,"created_time":"2024-05-23T10:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:52:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"IbQF","name":"Price","type":"number","number":{"format":"dollar"}},"Size":{"id":"OIRG","name":"Size","type":"select","select":{"options":[{"id":"7af5d984-1ec8-4d71-b9c8-e9567cb7cc6f","name":"S","color":"green","description":null},{"id":"434a19b2-1212-471b-a3b8-60cf9b269838","name":"M","color":"yellow","description":null},{"id":"3dc03c31-2293-488b-bc84-15b1d1bed269","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4d17dcd59b5f431f88fd58bad9981eab","public_url":null,"archived":false,"in_trash":false,"request_id":"27ebd3df-ab94-4713-88e5-f7516216fd97"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"538-jHQNCMcsijfbSvKY32q9owa10dg"
      x-notion-request-id:
      - 27ebd3df-ab94-4713-88e5-f7516216fd97
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "text": {"content": "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/4d17dcd5-9b5f-431f-88fd-58bad9981eab
  response:
    content: '{"object":"database","id":"4d17dcd5-9b5f-431f-88fd-58bad9981[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "text": {"content":
      "Customer DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Items
      Purchased": {"type": "relation", "relation": {"type": "single_property", "database_id":
      "4d17dcd5-9b5f-431f-88fd-58bad9981eab", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d6510649-a492-43dc-82ba-aede0c966caf","cover":null,"icon":null,"created_time":"2024-05-23T10:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "4d17dcd5-9b5f-431f-88fd-58bad9981eab"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "text": {"content": "T-shirt"}}]}, "Size": {"type": "select", "select":
      {"name": "L", "color": "red"}}, "Price": {"type": "number", "number": 17.0}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      [...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4d17dcd5-9b5f-431f-88fd-58bad9981eab
  response:
    content: '{"object":"block","id":"4d17dcd5-9b5f-431f-88fd-58bad9981eab","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:52:00.000Z","last_edited_time":"2024-05-23T10:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"76d6913b-907a-4bb7-bf48-854b7b927303"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"223-KgeJ4GA2HdsbcT1f1jwJMFCOvy0"
      x-notion-request-id:
      - 76d6913b-907a-4bb7-bf48-854b7b927303
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "text": {"content":
      "Customer DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Items
      Purchased": {"type": "relation", "relation": {"type": "dual_property", "database_id":
      "092aec23-34a1-4831-8869-31fde612bbd4", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"17f47ecd-5df6-4018-9f74-a455675cf460","cover":null,"icon":null,"created_time":"2024-05-23T10:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:53:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"QNec","name":"Items
      Purchased","type":"relation","relation":{"database_id":"092aec23-34a1-4831-8869-31fde612bbd4","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"euGZ"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/17f47ecd5df640189f74a455675cf460","public_url":null,"archived":false,"in_trash":false,"request_id":"05065c01-c6f0-4574-b132-1a79a657d3cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"4a5-rHyO1Zi4i+F4QClvVkHQGLGJrVg"
      x-notion-request-id:
      - 05065c01-c6f0-4574-b132-1a79a657d3cf
    status_code: 200
[...]
- request:
    body: '{"properties": {"euGZ": {"name": "Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/092aec23-34a1-4831-8869-31fde612bbd4
  response:
    content: '{"object":"database","id":"092aec23-34a1-4831-8869-31fde612bbd4","cover":null,"icon":null,"created_time":"2024-05-23T10:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "text": {"content": "Task
      List"}}], "properties": {"Task": {"type": "title", "title": {}}, "Due by": {"type":
      "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2a7c6232-eaf8-43d2-9129-98b6a0e1bc3b","cover":null,"icon":null,"created_time":"2024-05-23T10:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:53:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"hErX","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2a7c6232eaf843d2912998b6a0e1bc3b","public_url":null,"archived":false,"in_trash":false,"request_id":"d9c77bb5-82c9-4698-8863-c03d8f7e2ef4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3cc-XRgnXXXOtzNAar9m679L1tlWQK0"
      x-notion-request-id:
      - d9c77bb5-82c9-4698-8863-c03d8f7e2ef4
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "2a7c6232-eaf8-43d2-9129-98b6a0e1bc3b"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "text": {"content": "Clean the house"}}]}, "Due by": {"type":
      "date", "date": {"start": "2024-06-20T12:53:20.024419"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"00eacb17-3a77-4423-b71a-eb707438074b","created_time":"2024-05-23T10:53:00.000Z","last_edited_time":"2024-05-23T10:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"2a7c6232-eaf8-43d2-9129-98b6a0e1bc3b"},"archived":false,"in_trash":false,"properties":{"Parent
      Task":{"id":"%5BaDI","type":"relation","relation":[],"has_more":false},"Due
      by":{"id":"hErX","type":"date","date":{"start":"2024-06-20T12:53:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-00eacb173a774423b71aeb707438074b","public_url":null,"request_id":"f3ba2368-18a8-4b9b-9885-982fc852a494"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"432-C+wod2yyMnMWTcdJq+tWwEDmlT4"
      x-notion-request-id:
      - f3ba2368-18a8-4b9b-9885-982fc852a494
    status_code: 200
[...]
