interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-06-26T15:31:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ff8e626d-6694-4963-bcb3-27861b5e8ffe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-XfKKK3/FS94NCu4HoqKzjsc2c0o"
      x-notion-request-id:
      - ff8e626d-6694-4963-bcb3-27861b5e8ffe
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "text": {"content": "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f6bcf7ba-cdd5-4575-960c-9a4085825d3f","created[...]
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/f6bcf7ba-cdd5-4575-960c-9a4085825d3f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"9e954b51-8a43-4b91-a17b-b59f5b21c26d","parent":{"type":"page_id","page_id":"f6bcf7ba-cdd5-4575-960c-9a4085825d3f"},"created_time":"2024-06-28T14:21:00.000Z","last_edited_time":"2024-06-28T14:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2859ca2e-b9d1-46f5-aeb5-6e0bc00808d2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-PvW9F4yINrWlQRXmlbBRAQ5h7pc"
      x-notion-request-id:
      - 2859ca2e-b9d1-46f5-aeb5-6e0bc00808d2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/f6bcf7ba-cdd5-4575-960c-9a4085825d3f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"9e954b51-8a43-4b91-a17b-b59f5b21c26d","parent":{"type":"page_id","page_id":"f6bcf7ba-cdd5-4575-960c-9a4085825d3f"},"created_time":"2024-06-28T14:21:00.000Z","last_edited_time":"2024-06-28T14:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8b9e95a5-f06b-4ef5-bc7c-833de38b6093"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-LmUM8O8OsGg9nUhGMZeP2CXVDtQ"
      x-notion-request-id:
      - 8b9e95a5-f06b-4ef5-bc7c-833de38b6093
    status_code: 200
version: 1
