interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-07-09T10:24:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"27af546f-3653-41d3-8060-77d2d2c82dc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-A4DlAQrUgvHnIh4ohRUxkUhCCOE"
      x-notion-request-id:
      - 27af546f-3653-41d3-8060-77d2d2c82dc0
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "text": {"content": "Item
      DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Size": {"type":
      "select", "select": {"options": [{"name": "S", "color": "green"}, {"name": "M",
      "color": "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number",
      "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a9c9186b-1ab5-46f8-8854-519dcd470d75","cover":null,"icon":null,"created_time":"2024-07-09T10:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:24:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"TqEs","name":"Size","type":"select","select":{"options":[{"id":"cae1ea30-1887-49bf-9163-617a36f0ece8","name":"S","color":"green","description":null},{"id":"cd6ac0f5-b074-4887-b900-da837c8733d0","name":"M","color":"yellow","description":null},{"id":"76bd29c8-d294-4079-833e-f0cb6fc60712","name":"L","color":"red","description":null}]}},"Price":{"id":"d%60ya","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/a9c9186b1ab546f88854519dcd470d75","public_url":null,"archived":false,"in_trash":false,"request_id":"c5ff1d9a-dd3a-4b45-be38-eba95ae65c08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"53a-NL+7PuNnpo5fpWRPc1goJjh+wF0"
      x-notion-request-id:
      - c5ff1d9a-dd3a-4b45-be38-eba95ae65c08
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "text": {"content": "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/a9c9186b-1ab5-46f8-8854-519dcd470d75
  response:
    content: '{"object":"database","id":"a9c9186b-1ab5-46f8-8854-519dcd470[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "text": {"content":
      "Customer DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Items
      Purchased": {"type": "relation", "relation": {"type": "single_property", "database_id":
      "a9c9186b-1ab5-46f8-8854-519dcd470d75", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"66eb2f17-6ea9-4d47-83a4-2807205916e6","cover":null,"icon":null,"created_time":"2024-07-09T10:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a9c9186b-1ab5-46f8-8854-519dcd470d75"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "text": {"content": "T-shirt"}}]}, "Size": {"type": "select", "select":
      {"name": "L", "color": "red"}}, "Price": {"type": "number", "number": 17.0}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      [...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a9c9186b-1ab5-46f8-8854-519dcd470d75
  response:
    content: '{"object":"block","id":"a9c9186b-1ab5-46f8-8854-519dcd470d75","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-07-09T10:24:00.000Z","last_edited_time":"2024-07-09T10:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"e29dd298-ea87-4159-96b9-494b96626af7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"223-wZi5I/7nzeUxUi2MZ8EENQezuus"
      x-notion-request-id:
      - e29dd298-ea87-4159-96b9-494b96626af7
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "text": {"content":
      "Customer DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Items
      Purchased": {"type": "relation", "relation": {"type": "dual_property", "database_id":
      "e2b47523-463d-45c6-a47d-43a2e4b5eb91", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"24a1275c-f71f-426f-9ff7-07254d9cf31b","cover":null,"icon":null,"created_time":"2024-07-09T10:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:24:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"xQLg","name":"Items
      Purchased","type":"relation","relation":{"database_id":"e2b47523-463d-45c6-a47d-43a2e4b5eb91","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"%3F%40Ot"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/24a1275cf71f426f9ff707254d9cf31b","public_url":null,"archived":false,"in_trash":false,"request_id":"278aeae7-bde5-4301-b94c-0e1b0bb6cdac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"4a9-Mw/0COImkra9Yv2xBAzynYRuk5E"
      x-notion-request-id:
      - 278aeae7-bde5-4301-b94c-0e1b0bb6cdac
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "text": {"content": "Task
      List"}}], "properties": {"Task": {"type": "title", "title": {}}, "Due by": {"type":
      "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ddc065f9-2a38-408b-9609-0fa5af767b0e","cover":null,"icon":null,"created_time":"2024-07-09T10:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:24:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"~%40t%7D","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ddc065f92a38408b96090fa5af767b0e","public_url":null,"archived":false,"in_trash":false,"request_id":"da7e3bc8-45e0-46be-b1b6-754a4a307e17"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3d0-Yo+gRNhYKIol8T09AXPot8ZdmA8"
      x-notion-request-id:
      - da7e3bc8-45e0-46be-b1b6-754a4a307e17
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ddc065f9-2a38-408b-9609-0fa5af767b0e"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "text": {"content": "Clean the house"}}]}, "Due by": {"type":
      "date", "date": {"start": "2024-08-06T12:24:47.693051"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2927d479-d5d0-435d-9be5-3c9c5ab88836","created_time":"2024-07-09T10:24:00.000Z","last_edited_time":"2024-07-09T10:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ddc065f9-2a38-408b-9609-0fa5af767b0e"},"archived":false,"in_trash":false,"properties":{"Parent
      Task":{"id":"qIN%3B","type":"relation","relation":[],"has_more":false},"Due
      by":{"id":"~%40t%7D","type":"date","date":{"start":"2024-08-06T12:24:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-2927d479d5d0435d9be53c9c5ab88836","public_url":null,"request_id":"9634db77-0ff3-40b6-b2ec-4d9905427aaf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"436-TdBL91dyr4oZ53ehlWMKTNmt8Oo"
      x-notion-request-id:
      - 9634db77-0ff3-40b6-b2ec-4d9905427aaf
    status_code: 200
[...]
