interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:13:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"276974f3-b388-814c-a5c7-f09dcdbf20cf","created_time":"2025-09-22T09:10:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max nesting level","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max nesting level","href":null}]}},"url":"https://www.notion.so/Page-for-testing-max-nesting-level-276974f3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Size": {"type": "select",
      "select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-818c-a853-dbcfc3e54d78","cover":null,"icon":null,"created_time":"2025-09-22T09:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:13:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Price":{"id":"%5EBwM","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Size":{"id":"h%3Dfo","name":"Size","description":null,"type":"select","select":{"options":[{"id":"ee93f2ae-6ed0-4f17-85a4-13195b41e873","name":"S","color":"green","description":null},{"id":"9a5c0d83-21af-4708-9544-4e658ed36edd","name":"M","color":"yellow","description":null},{"id":"ed7dd24b-2436-441d-8fed-a25e6061a1a2","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b388818ca853dbcfc3e54d78","public_url":null,"archived":false,"in_trash":false,"request_id":"0beeb802-2066-4c5a-82f4-2dc6ff9a71ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0beeb802-2066-4c5a-82f4-2dc6ff9a71ae
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-818c-a853-dbc[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "single_property", "database_id": "276974f3-b388-818c-a853-dbcfc3e54d78", "single_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81b5-9256-c7d3634e3160","cover":null,"icon":null,"created_time":"2025-09-22T09:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:13:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%60VZx","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"276974f3-b388-818c-a853-dbcfc3e54d78","data_source_id":"276974f3-b388-8161-bc21-000bdf670fad","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881b59256c7d3634e3160","public_url":null,"archived":false,"in_trash":false,"request_id":"0aea2759-729d-4202-95db-38d65704f74d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0aea2759-729d-4202-95db-38d65704f74d
    status_code: 200
[...]
- request:
    body: '{"properties":{"Salary":{"type":"number","number":{"format":"number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81eb-a1ee-e2b190d0a002
  response:
    content: '{"object":"database","id":"276974f3-b388-81eb-a1ee-e2b190d0a002","cover":null,"icon":null,"created_time":"2025-09-22T09:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81eb-a1ee-e2b190d0a002
  response:
    content: '{"object":"database","id":"276974f3-b388-81eb-a1ee-e2b190d0a002","cover":null,"icon":null,"created_time":"2025-09-22T09:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
- request:
    body: '{"properties":{"Level":{"type":"select","select":{"options":[{"name":"Junior","color":"green"},{"name":"Advanced","color":"yellow"},{"name":"Senior","color":"red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81eb-a1ee-e2b190d0a002
  response:
    content: '{"object":"database","id":"276974f3-b388-81eb-a1ee-e2b190d0a002","cover":null,"icon":nu[...]
[...]
- request:
    body: '{"properties":{"Salary":{"type":"formula","formula":{"expression":"50000
      + dateBetween(prop(\"Hiring Date\"), now(), \"years\")*1000"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81eb-a1ee-e2b190d0a002
  response:
    content: '{"object":"database","id":"276974f3-b388-81eb-a1ee-e2b190d0a002","cover":null,"icon":null,"created_time":"2025-09-22T09:13:00.000Z","created_by":{"object":[...]
[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"rich_text","rich_text":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81eb-a1ee-e2b190d0a002
  response:
    content: '{"object":"database","id":"276974f3-b388-81eb-a1ee-e2b190d0a002","cover":null,"icon":null,"created_time":"2025-09-22T09:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-818c-a853-dbcfc3e54d78"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "T-shirt"}}]},
      "Size": {"type": "select", "select": {"name": "L", "color": "red"}}, "Price":
      {"type": "number", "number": 17}}}'
    hea[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81b5-9256-c7d3634e3160"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ada Lovelace"}}]},
      "Items Purchased": {"type": "relation", "relation": [{"id": "276974f3-b388-814b-abc9-fe0e08cd26f2"}],
      "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8112-9032-d55dfc4fec40","created_time":"2025-09-22T09:14:00.000Z","last_edited_time":"2025-09-22T09:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81b5-9256-c7d3634e3160"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"%60VZx","type":"relation","relation":[{"id":"276974f3-b388-814b-abc9-fe0e08cd26f2"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-276974f3b38881129032d55dfc4fec40","public_url":null,"request_id":"c9e1c4e7-5ce0-48a2-bd1e-c7d2bca46bd2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c9e1c4e7-5ce0-48a2-bd1e-c7d2bca46bd2
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/276974f3-b388-818c-a853-dbcfc3e54d78
  response:
    content: '{"object":"block","id":"276974f3-b388-818c-a853-dbcfc3e54d78","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-22T09:13:00.000Z","last_edited_time":"2025-09-22T09:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"76d7a2f4-fcf0-469f-a64f-21cb2b85504c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 76d7a2f4-fcf0-469f-a64f-21cb2b85504c
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "database_id": "276974f3-b388-816e-ac04-fc5b35ba4176", "dual_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-812b-8e12-defad61de833","cover":null,"icon":null,"created_time":"2025-09-22T09:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:14:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%5Bwy%5D","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"276974f3-b388-816e-ac04-fc5b35ba4176","data_source_id":"276974f3-b388-8124-8048-000b3a9344bf","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"di%5EG"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b388812b8e12defad61de833","public_url":null,"archived":false,"in_trash":false,"request_id":"2cdbe7f8-5215-4e33-b72e-7567a65545e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2cdbe7f8-5215-4e33-b72e-7567a65545e6
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Task List"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Due by": {"type": "date", "date": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-815f-b0b4-f86da59b9c23","cover":null,"icon":null,"created_time":"2025-09-22T09:14:00.000Z","created_by":{"object":"user","id[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-815f-b0b4-f86da59b9c23"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Clean the house"}}]},
      "Due by": {"type": "date", "date": {"start": "2025-10-20T09:14:32.786089Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8185-99f1-e2e0d828f0cd","created_time":"2025-09-22T09:14:00.000Z","last_edited_time":"2025-09-22T09:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-815f-b0b4-f86da59b9c23"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Due
      by":{"id":"%3B%7Bm~","type":"date","date":{"start":"2025-10-20T09:14:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"%7B_EX","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-276974f3b388818599f1e2e0d828f0cd","public_url":null,"request_id":"116690be-5095-4ad4-8c91-5bde06c10ecb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 116690be-5095-4ad4-8c91-5bde06c10ecb
    status_code: 200
[...]
