interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null,"[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Article DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Topic": {"type": "select", "select": {"options": [{"name":
      "Tech", "color": "green"}, {"name": "Politics", "color": "yellow"}, {"name":
      "Finance", "color": "red"}]}}, "Released": {"type": "date", "date": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-81ea-999a-f21b4856559e","cover":null,"icon":null,"created_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:54:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Released":{"id":"LAuw","name":"Released","description":null,"type":"date","date":{}},"Topic":{"id":"Q%3ECw","name":"Topic","description":null,"type":"select","select":{"options":[{"id":"044ecdc3-dc3a-4b89-89c6-0953fdd56e5e","name":"Tech","color":"green","description":null},{"id":"d85fcbce-6401-4be1-951f-4648842bf51e","name":"Politics","color":"yellow","description":null},{"id":"ad7c800f-2960-453f-b48f-c030ac6126c9","name":"Finance","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481ea999af21b4856559e","public_url":null,"in_trash":false,"archived":false,"request_id":"6c600667-8fdd-4f15-ae6c-1ba69b434f72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c600667-8fdd-4f15-ae6c-1ba69b434f72
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of various articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81ea-999a-f21b4856559e
  resp[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-81ea-999a-f21b4856559e"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Article 1"}}]},
      "Topic": {"type": "select", "select": {"name": "Tech", "color": "green"}}, "Released":
      {"type": "date", "date": {"start": "2026-06-27T05:54:31.710250", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8150-ac9c-ffda09b3d58e","created_time":"2026-06-27T04:54:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81ea-999a-f21b4856559e"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Released":{"id":"LAuw","type":"date","date":{"start":"2026-06-27T05:54:00.000+01:00","end":null,"time_zone":null}},"Topic":{"id":"Q%3ECw","type":"select","select":{"id":"044ecdc3-dc3a-4b89-89c6-0953fdd56e5e","name":"Tech","color":"green"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-38c9ce7b60a48150ac9cffda09b3d58e","public_url":null,"archived":false,"request_id":"e989f1b6-6ffc-4ff8-8781-b9dcd8551ac6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e989f1b6-6ffc-4ff8-8781-b9dcd8551ac6
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81ea-999a-f21b4856559e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ed-b9a1-c3b2e51c7adb","created_time":"2026-06-27T04:54:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-81ea-999a-f21b4856559e/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8150-ac9c-ffda09b3d58e","created_time":"2026-06-27T04:54:00.000Z","last_ed[...]
