interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:18:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2024-10-14T16:04:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"67ad5240-b1b9[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-813d-b09d-e4c9c1b76be4","created_time":"2025-01-05T14:19:00.000Z","last_edited_time":"2025-01-05T14:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-172974f3b388813db09de4c9c1b76be4","public_url":null,"request_id":"199e765d-0a23-4089-8417-e66da65da713"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 199e765d-0a23-4089-8417-e66da65da713
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-813d-b09d-e4c9c1b76be4/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4f302be2-10c5-461a-8fcb-ce4279d075dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f302be2-10c5-461a-8fcb-ce4279d075dc
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-813d-b09d-e4c9c1b76be4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8123-a9eb-cf94c2a017ff","parent":{"type":"page_id","page_id":"172974f3-b388-813d-b09d-e4c9c1b76be4"},"created_time":"2025-01-05T14:19:00.000Z","last_edited_time":"2025-01-05T14:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e789aba0-1c3a-47dc-b230-b9cacaac4552"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e789aba0-1c3a-47dc-b230-b9cacaac4552
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Some text...", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Some text..."}}], "children": [], "color": "default"}},
      {"type": "code", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "code": {"rich_text": [{"type": "text", "plain_text": "SELECT
      * FROM MY_TABLE", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "SELECT * FROM MY_TABLE"}}], "caption": [{"type": "text", "plain_text": "SQL
      Query", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "SQL Query"}}], "language": "sql"}}, {"type": "quote", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "quote": {"rich_text": [{"type":
      "text", "plain_text": "\"You know, for a mathematician, he did not have enough
      imagination. But he has become a poet and now he is fine.\" - D. Hilbert", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "\"You know, for a mathematician,
      he did not have enough imagination. But he has become a poet and now he is fine.\"
      - D. Hilbert"}}], "children": [], "color": "blue"}}, {"type": "callout", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "callout":
      {"rich_text": [{"type": "text", "plain_text": "Ultimate Notion rocks!", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Ultimate Notion rocks!"}}],
      "children": [], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color":
      "purple_background"}}, {"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Showing off some more...", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Showing off some more..."}}], "color":
      "default", "is_toggleable": false}}, {"type": "bulleted_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bulleted_list_item":
      {"rich_text": [{"type": "text", "plain_text": "First bulleted item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "First bulleted item"}}],
      "children": [], "color": "default"}}, {"type": "bulleted_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bulleted_list_item":
      {"rich_text": [{"type": "text", "plain_text": "Second bulleted item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Second bulleted item"}}],
      "children": [], "color": "default"}}, {"type": "numbered_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "numbered_list_item":
      {"rich_text": [{"type": "text", "plain_text": "First numbered item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "First numbered item"}}],
      "children": [], "color": "red"}}, {"type": "numbered_list_item", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "numbered_list_item":
      {"rich_text": [{"type": "text", "plain_text": "Second numbered item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Second numbered item"}}],
      "children": [], "color": "red"}}, {"type": "to_do", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "to_do": {"rich_text": [{"type":
      "text", "plain_text": "First checked Todo", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "First checked Todo"}}], "checked": true, "children": [],
      "color": "default"}}, {"type": "to_do", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "to_do": {"rich_text": [{"type": "text",
      "plain_text": "Second open Todo", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Second open Todo"}}], "checked": false, "children": [],
      "color": "default"}}, {"type": "toggle", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "toggle": {"rich_text": [{"type":
      "text", "plain_text": "Toggle item", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Toggle item"}}], "children": [], "color": "default"}},
      {"type": "divider", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "divider": {}}, {"type": "heading_3", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_3": {"rich_text":
      [{"type": "text", "plain_text": "Some more fancy stuff...", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Some more fancy stuff..."}}],
      "color": "default", "is_toggleable": false}}, {"type": "table_of_contents",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "table_of_contents": {"color": "pink"}}, {"type": "breadcrumb", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "breadcrumb": {}},
      {"type": "embed", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      "caption": [{"type": "text", "plain_text": "Rick", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Rick"}}]}}, {"type": "bookmark", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bookmark":
      {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type": "equation",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-813d-b09d-e4c9c1b76be4/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"172974f3-b388-81ba-8aff-ed632a927b57\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"172974f3-b388-813d-b09d-e4c9c1b76be4\"},\"created_[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Some more text, which was added afterwards...", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Some more text, which
      was added afterwards..."}}], "children": [], "color": "default"}}], "after":
      "172974f3-b388-81a3-a858-f587dfbd8b81"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-813d-b09d-e4c9c1b76be4/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"172974f3-b388-81ce-8691-e7b4120f972a\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"172974f3-b388-813d-b09d-e4c9c[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81c2-bffe-f007e742f921
  response:
    content: '{"object":"block","id":"172974f3-b388-81c2-bffe-f007e742f921","parent":{"type":"page_id","page_id":"172974f3-b388-813d-b09d-e4c9c1b76be4"},"created_time":"2025-01-05T14:19:00.000Z","last_edited_time":"2025-01-05T14:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Another
      paragraph...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      paragraph...","href":null}],"color":"default"},"request_id":"3199bff2-0ccf-46cf-92f6-4e48bc0465d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3199bff2-0ccf-46cf-92f6-4e48bc0465d4
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "file", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "file": {"type": "external", "name": "robots.txt",
      "caption": [{"type": "text", "plain_text": "Google Robots", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Google Robots"}}], "external":
      {"url": "https://www.google.de/robots.txt"}}}, {"type": "image", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "image": {"type":
      "external", "caption": [{"type": "text", "plain_text": "Path on meadow", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Path on meadow"}}],
      "external": {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Rick Roll", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Rick Roll"}}], "external": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},
      {"type": "pdf", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "pdf": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Dummy PDF", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Dummy PDF"}}], "external": {"url": "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-8140-8f19-cee853893614/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-817a-8306-fd36ece4c3ab","parent":{"type":"block_id","block_id":"172974f3-b388-8140-8f19-cee853893614"},"created_time":"2025-01-05T14:19:00.000Z","last_edited_time":"2025-01-05T14:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[{"type":"text","text":{"content":"Google
      Robots","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":fal[...]
[...]
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81ac-8694-c13299b96ab3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81bb-91d3-df0208f31186","parent":{"type":"page_id","page_id":"172974f3-b388-81ac-8694-c13299b96ab3"},"created_time":"2025-01-05T14:19:00.000Z","last_edited_time":"2025-01-05T14:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a82cb7d9-f428-48e6-a3e4-f3e0f7dab84b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a82cb7d9-f428-48e6-a3e4-f3e0f7dab84b
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 3, "has_column_header":
      true, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[{"type": "text", "plain_text": "First name", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "First name"}}], [{"type": "text",
      "plain_text": "Last name", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Last name"}}], [{"type": "text", "plain_text": "Sports", "annot[...]
[...]
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"6855b161-f63e-4683-b7c7-8ca6e97ee246","created_time":"2023-11-05T10:35:00.000Z","last_edited_time":"2024-06-01T19:31:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-6855b161f63e4683b7c78ca6e97ee246","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3c475e9c-135a-4e12-9aec-9c497fd33da6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c475e9c-135a-4e12-9aec-9c497fd33da6
    status_code: 200
- request:
    body: '{"children": [{"type": "link_to_page", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "link_to_page": {"type": "page_id",
      "page_id": "6855b161-f63e-4683-b7c7-8ca6e97ee246"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81ac-8694-c13299b96ab3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-817f-b974-ef8798e0f1d6","parent":{"type":"page_id","page_id":"172974f3-b388-81ac-8694-c13299b96ab3"},"created_time":"2025-01-05T14:19:00.000Z","last_edited_time":"2025-01-05T14:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"6855b161-f63e-4683-b7c7-8ca6e97ee246"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4370bb17-5961-4617-bfea-f447f8e08369"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4370bb17-5961-4617-bfea-f447f8e08369
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"children": [{"type":
      "paragraph", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a
      synced paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a synced paragraph"}}], "children": [], "color": "default"}}], "synced_from":
      null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81ac-8694-c13299b96ab3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81f5-aee3-ccd324a14922","parent":{"type":"page_id","page_id":"172974f3-b388-81ac-8694-c13299b96ab3"},"created_time":"2025-01-05T14:20:00.000Z","last_edited_time":"2025-01-05T14:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9e343364-06f9-48ea-af82-48436847b078"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e343364-06f9-48ea-af82-48436847b078
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"a2b8f952-70f4-4995-9a48-cce79ae9aab9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2b8f952-70f4-4995-9a48-cce79ae9aab9
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-8109-a943-fa395b678d55","cover":null,"icon":null,"created_time":"2025-01-05T14:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:20:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3BRxU","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b3888109a943fa395b678d55","public_url":null,"archived":false,"in_trash":false,"request_id":"122f9806-2c56-4bc6-bc08-7f8ece821ba8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 122f9806-2c56-4bc6-bc08-7f8ece821ba8
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Dummy DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Dummy DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/172974f3-b388-8109-a943-fa395b678d55
  respon[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "mention", "plain_text": "@Florian Wilhelm", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "mention": {"type": "user", "user": {"type": "person",
      "object": "user", "id": "b10cb6df-12ef-44d3-88ad-250168f66322", "name": "Florian
      Wilhelm", "avatar_url": "https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100",
      "person": {"email": "florian.wilhelm@gmail.com"}}}}, {"type": "text", "plain_text":
      " : ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      " : "}}, {"type": "mention", "plain_text": "Dummy DB", "annotations": {"bold":
[...]
