interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"cfc097ab-3f37-498d-b94b-854bb7ec24cd"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Item DB", "text": {"content": "Item DB"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Size":
      {"select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}, "type": "select"}, "Price": {"number":
      {"format": "dollar"}, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7a2d5a71-ae05-43bb-9558-6b8684afbcb8","cover":null,"icon":null,"created_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:44:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"TM%5D%7D","name":"Size","type":"select","select":{"options":[{"id":"df5739db-f5d0-4232-8dbc-4656caf6b507","name":"S","color":"green","description":null},{"id":"eba81325-7e78-4aa6-b960-0828220fd1ff","name":"M","color":"yellow","description":null},{"id":"01687327-8cf8-48a1-b513-bb81a1fec8a7","name":"L","color":"red","description":null}]}},"Price":{"id":"VBgc","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/7a2d5a71ae0543bb95586b8684afbcb8","public_url":null,"archived":false,"request_id":"7b81c91c-d8da-41d0-a1eb-c0ada7fd1976"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Database of all the items we sell", "text":
      {"content": "Database of all the items we sell"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/7a2d5a71-ae05-43bb-9558-6b8684afbcb8
  response:
    content: '{"object":"database","id":"7a2d5a71-ae05-43bb-9558-6b8684afb[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "7a2d5a71-ae05-43bb-9558-6b8684afbcb8",
      "type": "single_property", "single_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cbc741cf-3304-4c24-9517-91599ce7edba","cover":null,"icon":null,"created_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:44:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%40QyA","name":"Items
      Purchased","type":"relation","relation":{"database_id":"7a2d5a71-ae05-43bb-9558-6b8684afbcb8","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/cbc741cf33044c24951791599ce7edba","public_url":null,"archived":false,"request_id":"edf074de-6090-48e7-bb38-ff5fd9495f36"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "7a2d5a71-ae05-43bb-9558-6b8684afbcb8", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "T-shirt",
      "text": {"content": "T-shirt"}, "type": "text"}], "type": "title"}, "Size":
      {"select": {"name": "L", "color": "red"}, "type": "select"}, "Price": {"number":
      17.0, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7a2d5a71-ae05-43bb-9558-6b8684afbcb8
  response:
    content: '{"object":"block","id":"7a2d5a71-ae05-43bb-9558-6b8684afbcb8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"5528442c-7af1-4619-82f0-07b87e031d86"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "9132ebc6-9a7a-424b-9d16-9dfa66355cc1",
      "type": "dual_property", "dual_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6f869a11-d889-4546-9bdb-2671797b0e91","cover":null,"icon":null,"created_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:44:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"M%5ESB","name":"Items
      Purchased","type":"relation","relation":{"database_id":"9132ebc6-9a7a-424b-9d16-9dfa66355cc1","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"UKDI"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/6f869a11d88945469bdb2671797b0e91","public_url":null,"archived":false,"request_id":"cb2b3351-c770-4182-bd2e-edb7f828a896"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"properties": {"UKDI": {"name": "Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/9132ebc6-9a7a-424b-9d16-9dfa66355cc1
  response:
    content: '{"object":"database","id":"9132ebc6-9a7a-424b-9d16-9dfa66355cc1","cover":null,"icon":null,"created_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"[...]
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Task List", "text": {"content": "Task
      List"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Due by": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9d0e12ab-b2b5-4ee0-bd44-e8e8a8e85c5d","cover":null,"icon":null,"created_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:44:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"r_dp","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/9d0e12abb2b54ee0bd44e8e8a8e85c5d","public_url":null,"archived":false,"request_id":"c249ca06-9a1d-471e-b0d9-5844c90e2916"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "9d0e12ab-b2b5-4ee0-bd44-e8e8a8e85c5d", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Clean the
      house", "text": {"content": "Clean the house"}, "type": "text"}], "type": "title"},
      "Due by": {"date": {"start": "2024-01-22T12:44:30.926429"}, "type": "date"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2cb4f304-71ba-4c73-9ea7-a4d135ffe6e1","created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9d0e12ab-b2b5-4ee0-bd44-e8e8a8e85c5d"},"archived":false,"properties":{"Parent
      Task":{"id":"CCmm","type":"relation","relation":[],"has_more":false},"Due by":{"id":"r_dp","type":"date","date":{"start":"2024-01-22T12:44:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-2cb4f30471ba4c739ea7a4d135ffe6e1","public_url":null,"request_id":"3f0bfd11-5ee7-45a5-8a9f-157f6e6dcb57"}'
    headers: {}
    status_code: 200
[...]
