interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-06T13:06:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2025-02-17T08:33:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"172974f3-b388[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Item DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Size": {"type": "select", "select":
      {"options": [{"name": "S", "color": "green"}, {"name": "M", "color": "yellow"},
      {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number": {"format":
      "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20a974f3-b388-81bd-9366-fd0d62e594b6","cover":null,"icon":null,"created_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-06T20:53:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"etMP","name":"Price","type":"number","number":{"format":"dollar"}},"Size":{"id":"gxSd","name":"Size","type":"select","select":{"options":[{"id":"92b3d4dc-270c-4d59-967d-ffcd4c1636bb","name":"S","color":"green","description":null},{"id":"1bee1582-6c4d-47b5-9098-390cf523f5bb","name":"M","color":"yellow","description":null},{"id":"e213755a-926e-40a2-804f-c43a24322bd2","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20a974f3b38881bd9366fd0d62e594b6","public_url":null,"archived":false,"in_trash":false,"request_id":"d1070319-c469-4351-9173-0f3e3125d28c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d1070319-c469-4351-9173-0f3e3125d28c
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "single_property", "database_id": "20a974f3-b388-81bd-9366-fd0d62e594b6",
      "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20a974f3-b388-814e-9a31-d75bc4bc4df2","cover":null,"icon":null,"created_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20a974f3-b388-81bd-9366-fd0d62e594b6"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "T-shirt"}}]}, "Size": {"type": "select", "select": {"name": "L", "color": "red"}},
      "Price": {"type": "number", "num[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20a974f3-b388-814e-9a31-d75bc4bc4df2"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Ada Lovelace"}}]}, "Items Purchased": {"type": "relation", "relation": [{"id":
      "20a974f3-b388-811f-9b65-f09a634e2812"}], "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20a974f3-b388-81ae-877b-d7ef1db448a1","created_time":"2025-06-06T20:53:00.000Z","last_edited_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20a974f3-b388-814e-9a31-d75bc4bc4df2"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"AZix","type":"relation","relation":[{"id":"20a974f3-b388-811f-9b65-f09a634e2812"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-20a974f3b38881ae877bd7ef1db448a1","public_url":null,"request_id":"a315169b-adb8-4a85-81b0-ccf33c73bbb5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a315169b-adb8-4a85-81b0-ccf33c73bbb5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20a974f3-b388-81bd-9366-fd0d62e594b6
  response:
    content: '{"object":"block","id":"20a974f3-b388-81bd-9366-fd0d62e594b6","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-06-06T20:53:00.000Z","last_edited_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"3c9401ed-1a4e-49b6-96da-3857fc690815"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c9401ed-1a4e-49b6-96da-3857fc690815
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "dual_property", "database_id": "20a974f3-b388-811d-8bf9-d7242f72c808",
      "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20a974f3-b388-8164-9fc6-f1e8db843666","cover":null,"icon":null,"created_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-06T20:53:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"fO%7By","name":"Items
      Purchased","type":"relation","relation":{"database_id":"20a974f3-b388-811d-8bf9-d7242f72c808","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"HJAs"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20a974f3b38881649fc6f1e8db843666","public_url":null,"archived":false,"in_trash":false,"request_id":"aa757f7d-a283-4393-9766-1389505321dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aa757f7d-a283-4393-9766-1389505321dc
    status_code: 200
[...]
- request:
    body: '{"properties": {"HJAs": {"name": "Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/20a974f3-b388-811d-8bf9-d7242f72c808
  response:
    content: '{"object":"database","id":"20a974f3-b388-811d-8bf9-d7242f72c808","cover":null,"icon":null,"created_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Task List"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date", "date":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20a974f3-b388-8160-8478-fbf2a7a41a22","cover":null,"icon":null,"created_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-06T20:53:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"%5BH%3FB","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20a974f3b38881608478fbf2a7a41a22","public_url":null,"archived":false,"in_trash":false,"request_id":"59e600f2-5b87-4def-b232-d0a221dc8aa0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 59e600f2-5b87-4def-b232-d0a221dc8aa0
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20a974f3-b388-8160-8478-fbf2a7a41a22"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Clean the house"}}]}, "Due by": {"type": "date", "date": {"start": "2025-07-04T20:53:36.243740Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20a974f3-b388-81fb-8f95-fc3babe73204","created_time":"2025-06-06T20:53:00.000Z","last_edited_time":"2025-06-06T20:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20a974f3-b388-8160-8478-fbf2a7a41a22"},"archived":false,"in_trash":false,"properties":{"Due
      by":{"id":"%5BH%3FB","type":"date","date":{"start":"2025-07-04T20:53:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"c%5C~N","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-20a974f3b38881fb8f95fc3babe73204","public_url":null,"request_id":"a60293d6-ef03-4589-bb1d-10ff8f3c2a95"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a60293d6-ef03-4589-bb1d-10ff8f3c2a95
    status_code: 200
[...]
