interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"7c7d510b-da32-4048-83fb-2f2c9189ae20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-5EgfrEZqWmoY0InNeST2usHsYMY"
      x-notion-request-id:
      - 7c7d510b-da32-4048-83fb-2f2c9189ae20
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "text": {"content": "Item
      DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Size": {"type":
      "select", "select": {"options": [{"name": "S", "color": "green"}, {"name": "M",
      "color": "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number",
      "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"835e0e6f-0041-498d-aa3a-f4a24ef054eb","cover":null,"icon":null,"created_time":"2024-06-01T22:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:19:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"PV%3FJ","name":"Price","type":"number","number":{"format":"dollar"}},"Size":{"id":"jhuh","name":"Size","type":"select","select":{"options":[{"id":"ecf847fb-f997-4c36-a922-9c2e289d30ad","name":"S","color":"green","description":null},{"id":"4dd0368d-609b-46af-893f-f920992b2a68","name":"M","color":"yellow","description":null},{"id":"febfb26d-85da-4074-9494-7bf55056b76e","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/835e0e6f0041498daa3af4a24ef054eb","public_url":null,"archived":false,"in_trash":false,"request_id":"75419616-f82f-4e1c-8b89-27b69f87b355"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"53a-mcHvNX8T87fINA+KJx71AeZVKKU"
      x-notion-request-id:
      - 75419616-f82f-4e1c-8b89-27b69f87b355
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "text": {"content": "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/835e0e6f-0041-498d-aa3a-f4a24ef054eb
  response:
    content: '{"object":"database","id":"835e0e6f-0041-498d-aa3a-f4a24ef05[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "text": {"content":
      "Customer DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Items
      Purchased": {"type": "relation", "relation": {"type": "single_property", "database_id":
      "835e0e6f-0041-498d-aa3a-f4a24ef054eb", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9a1f7221-bd2a-4293-b3a1-800219b924ea","cover":null,"icon":null,"created_time":"2024-06-01T22:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "835e0e6f-0041-498d-aa3a-f4a24ef054eb"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "text": {"content": "T-shirt"}}]}, "Size": {"type": "select", "select":
      {"name": "L", "color": "red"}}, "Price": {"type": "number", "number": 17.0}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      [...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/835e0e6f-0041-498d-aa3a-f4a24ef054eb
  response:
    content: '{"object":"block","id":"835e0e6f-0041-498d-aa3a-f4a24ef054eb","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:19:00.000Z","last_edited_time":"2024-06-01T22:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"c5f12b84-db7f-443f-b388-384db774ebb4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"223-5Wzw8ZEQvrZTankjeFIIqP/qytA"
      x-notion-request-id:
      - c5f12b84-db7f-443f-b388-384db774ebb4
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "text": {"content":
      "Customer DB"}}], "properties": {"Name": {"type": "title", "title": {}}, "Items
      Purchased": {"type": "relation", "relation": {"type": "dual_property", "database_id":
      "762aff3b-fdd0-4a76-a288-cc1bf3d815ff", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6fd80b33-38f1-4753-ac75-d2e3b6331c5d","cover":null,"icon":null,"created_time":"2024-06-01T22:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:20:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"e%40hc","name":"Items
      Purchased","type":"relation","relation":{"database_id":"762aff3b-fdd0-4a76-a288-cc1bf3d815ff","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"ZVU%5B"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/6fd80b3338f14753ac75d2e3b6331c5d","public_url":null,"archived":false,"in_trash":false,"request_id":"6d8e6ab3-7954-4b77-9a69-de2d84f84834"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"4a9-vnPYXLtZTE2JX/WMaWa84PeHmPo"
      x-notion-request-id:
      - 6d8e6ab3-7954-4b77-9a69-de2d84f84834
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "text": {"content": "Task
      List"}}], "properties": {"Task": {"type": "title", "title": {}}, "Due by": {"type":
      "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a7cdce97-f1b8-44d9-b02e-82577d659c40","cover":null,"icon":null,"created_time":"2024-06-01T22:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:20:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"%7BVIY","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/a7cdce97f1b844d9b02e82577d659c40","public_url":null,"archived":false,"in_trash":false,"request_id":"dd659965-ef89-455c-95c9-623dcfe821a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3ce-5+MUFG4uRIJNT9s2gTeX99ebCsQ"
      x-notion-request-id:
      - dd659965-ef89-455c-95c9-623dcfe821a4
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "a7cdce97-f1b8-44d9-b02e-82577d659c40"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "text": {"content": "Clean the house"}}]}, "Due by": {"type":
      "date", "date": {"start": "2024-06-30T00:20:26.142242"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"19487890-a96e-4b62-8a22-61fcfec38f70","created_time":"2024-06-01T22:20:00.000Z","last_edited_time":"2024-06-01T22:20:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a7cdce97-f1b8-44d9-b02e-82577d659c40"},"archived":false,"in_trash":false,"properties":{"Parent
      Task":{"id":"fAIm","type":"relation","relation":[],"has_more":false},"Due by":{"id":"%7BVIY","type":"date","date":{"start":"2024-06-30T00:20:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-19487890a96e4b628a2261fcfec38f70","public_url":null,"request_id":"f70963d2-5452-42d7-91ac-3f9b148097ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"432-27xJlyD9pZzrCKJudOR1Cff8BE8"
      x-notion-request-id:
      - f70963d2-5452-42d7-91ac-3f9b148097ec
    status_code: 200
[...]
