interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-08-07T07:40:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"f8fab6f1-4edb-4cb5-b196-3d8f835e9a20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8fab6f1-4edb-4cb5-b196-3d8f835e9a20
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: P[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/5a09242b-1f31-4112-9314-44274765bb6f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4948c0db-8ed7-411e-889b-98f92c6730c0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4948c0db-8ed7-411e-889b-98f92c6730c0
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/5a09242b-1f31-4112-9314-44274765bb6f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"5df0d5d9-12da-4ba5-b24b-b78eebf6bf5e","parent":{"type":"page_id","page_id":"5a09242b-1f31-4112-9314-44274765bb6f"},"created_time":"2024-08-07T07:41:00.000Z","last_edited_time":"2024-08-07T07:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"70677f3c-0c2f-45a9-b384-6d9fcefba2d2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 70677f3c-0c2f-45a9-b384-6d9fcefba2d2
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Some text...", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Some text..."}}], "color": "default"}}, {"type": "code",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "code": {"rich_text": [{"type": "text", "plain_text": "SELECT * FROM MY_TABLE",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "SELECT * FROM
      MY_TABLE"}}], "caption": [{"type": "text", "plain_text": "SQL Query", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "SQL Query"}}], "language":
      "sql"}}, {"type": "quote", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "quote": {"rich_text": [{"type": "text", "plain_text":
      "\"You know, for a mathematician, he did not have enough imagination. But he
      has become a poet and now he is fine.\" - D. Hilbert", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "\"You know, for a mathematician,
      he did not have enough imagination. But he has become a poet and now he is fine.\"
      - D. Hilbert"}}], "color": "blue"}}, {"type": "callout", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "callout": {"rich_text":
      [{"type": "text", "plain_text": "Ultimate Notion rocks!", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Ultimate Notion rocks!"}}],
      "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color": "purple_background"}},
      {"type": "heading_2", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "heading_2": {"rich_text": [{"type": "text", "plain_text":
      "Showing off some more...", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Showing off some more..."}}], "color": "default", "is_toggleable":
      false}}, {"type": "bulleted_list_item", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "bulleted_list_item": {"rich_text": [{"type":
      "text", "plain_text": "First bulleted item", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "First bulleted item"}}], "color":
      "default"}}, {"type": "bulleted_list_item", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "bulleted_list_item": {"rich_text":
      [{"type": "text", "plain_text": "Second bulleted item", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Second bulleted item"}}], "color":
      "default"}}, {"type": "numbered_list_item", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "numbered_list_item": {"rich_text":
      [{"type": "text", "plain_text": "First numbered item", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "First numbered item"}}], "color":
      "red"}}, {"type": "numbered_list_item", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "numbered_list_item": {"rich_text": [{"type":
      "text", "plain_text": "Second numbered item", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Second numbered item"}}], "color":
      "red"}}, {"type": "to_do", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text":
      "First checked Todo", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "First checked Todo"}}], "checked": true, "color": "default"}}, {"type": "to_do",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "to_do": {"rich_text": [{"type": "text", "plain_text": "Second open Todo", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Second open Todo"}}],
      "checked": false, "color": "default"}}, {"type": "toggle", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "toggle": {"rich_text":
      [{"type": "text", "plain_text": "Toggle item", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Toggle item"}}], "color": "default"}},
      {"type": "divider", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "divider": {}}, {"type": "heading_3", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_3": {"rich_text":
      [{"type": "text", "plain_text": "Some more fancy stuff...", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Some more fancy stuff..."}}],
      "color": "default", "is_toggleable": false}}, {"type": "table_of_contents",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "table_of_contents": {"color": "pink"}}, {"type": "breadcrumb", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "breadcrumb": {}},
      {"type": "embed", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      "caption": [{"type": "text", "plain_text": "Rick", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Rick"}}]}}, {"type": "bookmark", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bookmark":
      {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type": "equation",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/5a09242b-1f31-4112-9314-44274765bb6f/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"7365fa98-ca01-4d2b-899f-6a93fd0df52e\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"5a09242b-1f31-4112-9314-44274765bb6f\"},\"created_[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Some more text, which was added afterwards...", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Some more text, which
      was added afterwards..."}}], "color": "default"}}], "after": "29dec974-9c67-4757-a4c1-c869df00fd8a"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/5a09242b-1f31-4112-9314-44274765bb6f/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"b243aa9b-32cd-4a56-96cc-5421d113ce27\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"5a09242b-1f31-4112-9314-44274765bb6[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d3a58d5a-801e-4573-b62b-2493000e2663
  response:
    content: '{"object":"block","id":"d3a58d5a-801e-4573-b62b-2493000e2663","parent":{"type":"page_id","page_id":"5a09242b-1f31-4112-9314-44274765bb6f"},"created_time":"2024-08-07T07:42:00.000Z","last_edited_time":"2024-08-07T07:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Block
      to be deleted","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Block
      to be deleted","href":null}],"color":"default"},"request_id":"cf272788-3726-46e9-a44c-e7987c5c177d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cf272788-3726-46e9-a44c-e7987c5c177d
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "file", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "file": {"type": "external", "name": "robots.txt",
      "caption": [{"type": "text", "plain_text": "Google Robots", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Google Robots"}}], "external":
      {"url": "https://www.google.de/robots.txt"}}}, {"type": "image", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "image": {"type":
      "external", "caption": [{"type": "text", "plain_text": "Path on meadow", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Path on meadow"}}],
      "external": {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Rick Roll", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Rick Roll"}}], "external": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},
      {"type": "pdf", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "pdf": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Dummy PDF", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Dummy PDF"}}], "external": {"url": "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/f70ee67d-5d3a-42ee-84ff-f7cb61b5f05a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"bb827d04-7296-420d-821d-dd2bcdca2cbc","parent":{"type":"block_id","block_id":"f70ee67d-5d3a-42ee-84ff-f7cb61b5f05a"},"created_time":"2024-08-07T07:42:00.000Z","last_edited_time":"2024-08-07T07:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[{"type":"text","text":{"content":"Google
      Robots","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":fal[...]
[...]
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/fff974f3-b388-817d-b119-d867f6eea528/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"f31affce-d525-4848-82d8-be96d567db3e","parent":{"type":"page_id","page_id":"fff974f3-b388-817d-b119-d867f6eea528"},"created_time":"2024-08-07T07:42:00.000Z","last_edited_time":"2024-08-07T07:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6d28e042-ebfc-4aef-913b-1d1a9b8cbed7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6d28e042-ebfc-4aef-913b-1d1a9b8cbed7
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "table": {"table_width": 6, "has_column_header":
      true, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], [], [], [], [], []]}}, {"type": "table_row", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "table_row": {"cells":
      [[], [], [], [], [], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], [],
      [], [], [], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], [],
 [...]
[...]
- request:
    body: '{"children": [{"type": "link_to_page", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "link_to_page": {"type": "page_id",
      "page_id": "6855b161-f63e-4683-b7c7-8ca6e97ee246"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/fff974f3-b388-817d-b119-d867f6eea528/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"75b392f6-cbec-43e3-80d2-0947cc78abbb","parent":{"type":"page_id","page_id":"fff974f3-b388-817d-b119-d867f6eea528"},"created_time":"2024-08-07T07:42:00.000Z","last_edited_time":"2024-08-07T07:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"6855b161-f63e-4683-b7c7-8ca6e97ee246"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"508c1aaf-6a90-460d-bd4b-61551f1ec7af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 508c1aaf-6a90-460d-bd4b-61551f1ec7af
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"children": [{"type":
      "paragraph", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a
      synced paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a synced paragraph"}}], "color": "default"}}], "synced_from": null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/fff974f3-b388-817d-b119-d867f6eea528/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"0ec6984b-2166-491e-9560-909b35ecd29a","parent":{"type":"page_id","page_id":"fff974f3-b388-817d-b119-d867f6eea528"},"created_time":"2024-08-07T07:42:00.000Z","last_edited_time":"2024-08-07T07:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"945edecc-2289-4c47-97b3-c7ecae85700d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 945edecc-2289-4c47-97b3-c7ecae85700d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"d0bab9b4-8fde-45fc-b754-aa6a395703e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d0bab9b4-8fde-45fc-b754-aa6a395703e1
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"aa92c436-40b7-4e04-ac25-11df36166ea5","cover":null,"icon":null,"created_time":"2024-08-07T07:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-07T07:42:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"Qdwa","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/aa92c43640b74e04ac2511df36166ea5","public_url":null,"archived":false,"in_trash":false,"request_id":"e73b714e-7031-45c1-81c6-6efcc61b8310"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e73b714e-7031-45c1-81c6-6efcc61b8310
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "mention", "plain_text": "Florian Wilhelm", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "mention": {"type": "user", "user": {"type": "person", "object": "user", "id":
      "b10cb6df-12ef-44d3-88ad-250168f66322", "name": "Florian Wilhelm", "avatar_url":
      "https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100",
      "person": {"email": "florian.wilhelm@gmail.com"}}}}, {"type": "text", "plain_text":
      " : ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      " : "}}, {"type": "mention", "plain_text": "", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "mention": {"type": "database", "database": {"id": "aa92c436-40b7-4e04-ac25-11df36166ea5"}}},
      {"type": "text", "plain_text": " : ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": " : "}}, {"type": "mention", "plain_text": "Getting Started",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "mention": {"type": "page", "page":
      {"id": "6855b161-f63e-4683-b7c7-8ca6e97ee246"}}}, {"type": "text", "plain_text":
      " : ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      " : "}}, {"type": "mention", "plain_text": "@1592-03-14 00:00:00", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "mention": {"type": "date", "date": {"start":
      "1592-03-14T00:00:00", "time_zone": "Europe/Berlin"}}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/8d213b33-5b00-4f1a-a48c-f6588375244a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"8abda863-4162-4390-9458-088b6b5e333c","parent":{"type":"page_id","page_id":"8d213b33-5b00-4f1a-a48c-f6588375244a"},"created_time":[...]
