interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T20:52:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000005","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000004"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      SubPage Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      SubPage Test","href":null}]}},"url":"https://app.notion.com/p/Markdown-SubPage-Test-00000000000040008000000000000005","public[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Size": {"type": "select", "select": {"options": [{"name":
      "S", "color": "green"}, {"name": "M", "color": "yellow"}, {"name": "L", "color":
      "red"}]}}, "Price": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f80dc2c1-0b82-45a5-9e40-05e2f323757a","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T20:52:28.955+00:00","last_edited_time":"2026-06-24T20:52:28.955+00:00","data_sources":[{"id":"a64ddbe8-df03-4b16-9e27-74b60893d734","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f80dc2c10b8245a59e4005e2f323757a","public_url":null,"archived":false,"request_id":"d59b9f07-a4da-4cfc-ac52-68bbfa3cbfc5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d59b9f07-a4da-4cfc-ac52-68bbfa3cbfc5
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f80dc2c1-0b82-45a5-9e40-05e[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a64ddbe8-df03-4b16-9e27-74b60893d734
  response:
    content: '{"object":"data_source","id":"a64ddbe8-df03-4b16-9e27-74b60893d734","cover":null,"icon":null,"created_time":"2026-06-24T20:52:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T20:52:00.000Z","title":[],"description":[{"type":"text","text":{"content":"Database
      of all the items we sell","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all the items we sell","href":null}],"is_inline":false,"properties":{"Price":{"id":"fKiO","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Size":{"id":"o%7Doh","name":"Size","description":null,"type":"select","select":{"options":[{"id":"10fa2b7e-a52c-4364-b418-232ade3151e2","name":"S","color":"green","description":null},{"id":"a7123b07-12b9-4337-8eeb-16a769bed035","name":"M","color":"yellow","description":null},{"id":"c3b8f574-6980-4dfc-8e09-81550a45df58","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f80dc2c1-0b82-45a5-9e40-05e2f323757a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/f80dc2c10b8245a59e4005e2f323757a","public_url":null,"in_trash":false,"archived":false,"request_id":"28dd45eb-487a-46ee-98d6-a9b550274d9b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 28dd45eb-487a-46ee-98d6-a9b550274d9b
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "single_property", "data_source_id": "a64ddbe8-df03-4b16-9e27-74b60893d734",
      "single_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3b52d71f-ef40-46db-b626-c65759292cff","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T20:52:31.269+00:00","last_edited_time":"2026-06-24T20:52:31.269+00:00","data_sources":[{"id":"ab0bdf3a-689e-439e-9232-83ae8963395d","name":"Customer
      DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/3b52d71fef4046dbb626c65759292cff","public_url":null,"archived":false,"request_id":"5b17c688-4ee8-4d6c-807a-b2e630db5e96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5b17c688-4ee8-4d6c-807a-b2e630db5e96
    status_code: 200
[...]
- request:
    body: '{"properties":{"Salary":{"type":"number","number":{"format":"number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/d772ecf1-06b4-4eda-b06b-f68d2a48f5d2
  response:
    content: '{"object":"data_source","id":"d772ecf1-06b4-4eda-b06b-f68d2a48f5d2","cover":null,"icon":null,"created_time":"2026-06-24T20:52:00.000Z","created_by":{"object":"user","id":"3839ce7b-6[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/d772ecf1-06b4-4eda-b06b-f68d2a48f5d2
  response:
    content: '{"object":"data_source","id":"d772ecf1-06b4-4eda-b06b-f68d2a48f5d2","cover":null,"icon":null,"created_time":"2026-06-24T20:52:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_b[...]
- request:
    body: '{"properties":{"Level":{"type":"select","select":{"options":[{"name":"Junior","color":"green"},{"name":"Advanced","color":"yellow"},{"name":"Senior","color":"red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/d772ecf1-06b4-4eda-b06b-f68d2a48f5d2
  response:
    content: '{"object":"data_source","id":"d772ecf1-06b4-4eda-b06b-f68d2a48f5d2","cover":null,"ic[...]
[...]
- request:
    body: '{"properties":{"Salary":{"type":"formula","formula":{"expression":"50000
      + dateBetween(prop(\"Hiring Date\"), now(), \"years\")*1000"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/d772ecf1-06b4-4eda-b06b-f68d2a48f5d2
  response:
    content: '{"object":"data_source","id":"d772ecf1-06b4-4eda-b06b-f68d2a48f5d2","cover":null,"icon":null,"created_time":"2026-06-24T20:52:00.000Z","created_by":{"ob[...]
[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"rich_text","rich_text":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/d772ecf1-06b4-4eda-b06b-f68d2a48f5d2
  response:
    content: '{"object":"data_source","id":"d772ecf1-06b4-4eda-b06b-f68d2a48f5d2","cover":null,"icon":null,"created_time":"2026-06-24T20:52:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_b[...]
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "a64ddbe8-df03-4b16-9e27-74b60893d734"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "T-shirt"}}]},
      "Size": {"type": "select", "select": {"name": "L", "color": "red"}}, "Price":
      {"type": "number", "number": 17}}}'
 [...]
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "ab0bdf3a-689e-439e-9232-83ae8963395d"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ada Lovelace"}}]},
      "Items Purchased": {"type": "relation", "relation": [{"id": "3899ce7b-60a4-81d4-b611-f25cbea47b46"}],
      "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b8-b513-f729610a38dc","created_time":"2026-06-24T20:52:00.000Z","last_edited_time":"2026-06-24T20:52:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3[...]
[...]
- request:
    body: '{"properties":{"Size":{"type":"select","select":{"name":"S","color":"green"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a4814283dee82188e94b59
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8142-83de-e82188e94b59","created_time":"2026-06-24T20:52:00.000Z","last_edited_time":"2026-06-24T20:52[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f80dc2c1-0b82-45a5-9e40-05e2f323757a
  response:
    content: '{"object":"block","id":"f80dc2c1-0b82-45a5-9e40-05e2f323757a","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T20:52:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"3b85c053-9953-4372-85e3-7218b9684b46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3b85c053-9953-4372-85e3-7218b9684b46
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "data_source_id": "11c6b03e-6375-4c64-bebc-6deb5325638b",
      "dual_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"69e39214-b441-4663-902a-fc1770a55289","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T20:53:04.628+00:00","last_edited_time":"2026-06-24T20:53:04.628+00:00","data_sources":[{"id":"57b35f69-0f8c-4596-be3e-19abaf932d02","name":"Customer
      DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/69e39214b4414663902afc1770a55289","public_url":null,"archived":false,"request_id":"a378b763-4aed-4d9b-af49-ea25cc0a0cfe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a378b763-4aed-4d9b-af49-ea25cc0a0cfe
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/57b35f69-0f8c-4596-be3e-19abaf932d02
  response:
    content: '{"object":"data_source","id":"57b35f69-0f8c-4596-be3e-19abaf932d02","cover":null,"icon":null,"created_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_time":"2026-06-24T20:53:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all our beloved customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all our beloved customers","href":null}],"is_inline":false,"properties":{"Items
      Purchased":{"id":"VkoF","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"82c435e0-d797-4ed9-8d0c-f0ab019d9092","data_source_id":"11c6b03e-6375-4c64-bebc-6deb5325638b","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"%7DvGu"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"69e39214-b441-4663-902a-fc1770a55289"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/69e39214b4414663902afc1770a55289","public_url":null,"in_trash":false,"archived":false,"request_id":"051453d1-1899-487a-893e-af624ab22a39"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 051453d1-1899-487a-893e-af624ab22a39
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Task List"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date",
      "date": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b7e02cf3-77cb-487c-9233-3cf24e1d9624","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T20:53:10.253+00:00","last_edited_time":"2026-06-24T20:53:10.253+00:00","data_sources":[{"id":"7d46cf81-cad8-4726-a17b-df54646ff537","name":"Task
      List"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/b7e02cf377cb487c92333cf24e1d9624","public_url":null,"archived":false,"request_id":"f0435715-153e-422f-9a91-2cb7d57c0c2b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f0435715-153e-422f-9a91-2cb7d57c0c2b
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "7d46cf81-cad8-4726-a17b-df54646ff537"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Clean the house"}}]},
      "Due by": {"type": "date", "date": {"start": "2026-07-22T20:53:12.575717Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8156-a9ef-dcd2b5f6219f","created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"7d46cf81-cad8-4726-a17b-df54646ff537","database_id":"b7e02cf3-77cb-487c-9233-3cf24e1d9624"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Due
      by":{"id":"CwtI","type":"date","date":{"start":"2026-07-22T20:53:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"nakE","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://app.notion.com/p/Clean-the-house-3899ce7b60a48156a9efdcd2b5f6219f","public_url":null,"archived":false,"request_id":"451d5f8c-9592-4a48-96c0-afa02c94ff3a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 451d5f8c-9592-4a48-96c0-afa02c94ff3a
    status_code: 200
[...]
