interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"263974f3-b388-8190-8c75-d54109183571","created_time":"2025-09-03T13:42:00.000Z","last_edited_time":"2025-09-03T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"CLI
      Upload Generic File Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"CLI
      Upload Generic File Test","href":null}]}},"url":"https://www.notion.so/CLI-Upload-Generic-File-Test-263974f3b38881908c75d54109183571","public_ur[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Size": {"type": "select",
      "select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-813f-9f91-f0047d27a6e5","cover":null,"icon":null,"created_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:47:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Size":{"id":"ygVJ","name":"Size","description":null,"type":"select","select":{"options":[{"id":"6f725cd4-8583-4467-8a41-d1562b446670","name":"S","color":"green","description":null},{"id":"1839f886-8d4c-47a8-afcd-22bace5bf936","name":"M","color":"yellow","description":null},{"id":"34728990-4089-42e9-89cf-6a9e5f631ee3","name":"L","color":"red","description":null}]}},"Price":{"id":"%7ByRI","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b388813f9f91f0047d27a6e5","public_url":null,"archived":false,"in_trash":false,"request_id":"9aa8884f-79dd-4e55-98a9-708eed28db71"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9aa8884f-79dd-4e55-98a9-708eed28db71
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-813f-9f91-f00[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "single_property", "database_id": "263974f3-b388-813f-9f91-f0047d27a6e5", "single_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8160-bfc6-d7f8c93d18ea","cover":null,"icon":null,"created_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:47:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"YL%5DM","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-813f-9f91-f0047d27a6e5","data_source_id":"263974f3-b388-815d-a394-000bcda4ec98","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888160bfc6d7f8c93d18ea","public_url":null,"archived":false,"in_trash":false,"request_id":"821064b6-9eef-4f65-afa4-e0e2ee4a41b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 821064b6-9eef-4f65-afa4-e0e2ee4a41b0
    status_code: 200
[...]
- request:
    body: '{"properties":{"Salary":{"type":"number","number":{"format":"number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81f6-a19c-ff35ecde28c9
  response:
    content: '{"object":"database","id":"263974f3-b388-81f6-a19c-ff35ecde28c9","cover":null,"icon":null,"created_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81f6-a19c-ff35ecde28c9
  response:
    content: '{"object":"database","id":"263974f3-b388-81f6-a19c-ff35ecde28c9","cover":null,"icon":null,"created_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
- request:
    body: '{"properties":{"Level":{"type":"select","select":{"options":[{"name":"Junior","color":"green"},{"name":"Advanced","color":"yellow"},{"name":"Senior","color":"red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81f6-a19c-ff35ecde28c9
  response:
    content: '{"object":"database","id":"263974f3-b388-81f6-a19c-ff35ecde28c9","cover":null,"icon":nu[...]
[...]
- request:
    body: '{"properties":{"Salary":{"type":"formula","formula":{"expression":"50000
      + dateBetween(prop(\"Hiring Date\"), now(), \"years\")*1000"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81f6-a19c-ff35ecde28c9
  response:
    content: '{"object":"database","id":"263974f3-b388-81f6-a19c-ff35ecde28c9","cover":null,"icon":null,"created_time":"2025-09-03T13:47:00.000Z","created_by":{"object":[...]
[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"rich_text","rich_text":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81f6-a19c-ff35ecde28c9
  response:
    content: '{"object":"database","id":"263974f3-b388-81f6-a19c-ff35ecde28c9","cover":null,"icon":null,"created_time":"2025-09-03T13:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-813f-9f91-f0047d27a6e5"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "T-shirt"}}]},
      "Size": {"type": "select", "select": {"name": "L", "color": "red"}}, "Price":
      {"type": "number", "number": 17}}}'
    hea[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8160-bfc6-d7f8c93d18ea"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ada Lovelace"}}]},
      "Items Purchased": {"type": "relation", "relation": [{"id": "263974f3-b388-81c0-986e-ff92830f5de8"}],
      "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-8180-891d-ddd4da7be9bb","created_time":"2025-09-03T13:48:00.000Z","last_edited_time":"2025-09-03T13:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8160-bfc6-d7f8c93d18ea"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"YL%5DM","type":"relation","relation":[{"id":"263974f3-b388-81c0-986e-ff92830f5de8"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-263974f3b3888180891dddd4da7be9bb","public_url":null,"request_id":"7a18fb0c-19d3-4d21-8ad2-184f8fba623f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7a18fb0c-19d3-4d21-8ad2-184f8fba623f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-813f-9f91-f0047d27a6e5
  response:
    content: '{"object":"block","id":"263974f3-b388-813f-9f91-f0047d27a6e5","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-03T13:47:00.000Z","last_edited_time":"2025-09-03T13:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"47b4856b-3b1a-4af8-9a90-ea9dc7ffb384"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 47b4856b-3b1a-4af8-9a90-ea9dc7ffb384
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "database_id": "263974f3-b388-8133-8d0e-e288f49e551b", "dual_property":
      {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-814c-8840-f1fc36987378","cover":null,"icon":null,"created_time":"2025-09-03T13:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:48:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"nAf~","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-8133-8d0e-e288f49e551b","data_source_id":"263974f3-b388-8181-b7b9-000b4dacbd30","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"oO%7D%3F"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b388814c8840f1fc36987378","public_url":null,"archived":false,"in_trash":false,"request_id":"02ca98a0-6bbe-4ef7-97e6-afdc96b62107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 02ca98a0-6bbe-4ef7-97e6-afdc96b62107
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Task List"}}], "properties": {"Task": {"type":
      "title", "title": {}}, "Due by": {"type": "date", "date": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81a4-9f64-f1031f8a75b7","cover":null,"icon":null,"created_time":"2025-09-03T13:48:00.000Z","created_by":{"object":"user","id[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81a4-9f64-f1031f8a75b7"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Clean the house"}}]},
      "Due by": {"type": "date", "date": {"start": "2025-10-01T13:48:32.797216Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-81b1-a6ee-e4972f8985d6","created_time":"2025-09-03T13:48:00.000Z","last_edited_time":"2025-09-03T13:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-81a4-9f64-f1031f8a75b7"},"archived":false,"in_trash":false,"properties":{"Due
      by":{"id":"YaLb","type":"date","date":{"start":"2025-10-01T13:48:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"b%3D%5Ec","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-263974f3b38881b1a6eee4972f8985d6","public_url":null,"request_id":"fdacecca-7ae8-475a-874f-a4a43a3edd22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fdacecca-7ae8-475a-874f-a4a43a3edd22
    status_code: 200
[...]
