interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"7e152384-788f-4168-915f-e44a518bc6f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e152384-788f-4168-915f-e44a518bc6f1
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Item DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Size": {"type": "select", "select":
      {"options": [{"name": "S", "color": "green"}, {"name": "M", "color": "yellow"},
      {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number": {"format":
      "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4cfb3e93-ddf1-4afa-b9e6-5385f3653b89","cover":null,"icon":null,"created_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:47:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"%3FR%3CX","name":"Size","type":"select","select":{"options":[{"id":"24f1667d-9276-496f-ad6a-b91d340d686f","name":"S","color":"green","description":null},{"id":"054cbd19-da06-4340-9dc2-6c07078d3c74","name":"M","color":"yellow","description":null},{"id":"ad120a6e-4bdb-4035-98f0-4956241cb33e","name":"L","color":"red","description":null}]}},"Price":{"id":"obfA","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4cfb3e93ddf14afab9e65385f3653b89","public_url":null,"archived":false,"in_trash":false,"request_id":"b17be66e-bca9-4b32-a4d8-b22f303c79b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b17be66e-bca9-4b32-a4d8-b22f303c79b9
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "single_property", "database_id": "4cfb3e93-ddf1-4afa-b9e6-5385f3653b89",
      "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ec07db74-48b4-46e4-9a05-c47af922bf7d","cover":null,"icon":null,"created_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "4cfb3e93-ddf1-4afa-b9e6-5385f3653b89"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "T-shirt"}}]}, "Size": {"type": "select", "select": {"name": "L", "color": "red"}},
      "Price": {"type": "number", "num[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4cfb3e93-ddf1-4afa-b9e6-5385f3653b89
  response:
    content: '{"object":"block","id":"4cfb3e93-ddf1-4afa-b9e6-5385f3653b89","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-02T20:47:00.000Z","last_edited_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"ca80fbd4-3a2d-4d35-87c3-3cb13c91b020"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ca80fbd4-3a2d-4d35-87c3-3cb13c91b020
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "dual_property", "database_id": "17be6623-1c8c-40bf-8f9c-60de4552a831",
      "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f4d2ade1-ecff-41f8-a486-097e21679b14","cover":null,"icon":null,"created_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:47:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"W%5EIf","name":"Items
      Purchased","type":"relation","relation":{"database_id":"17be6623-1c8c-40bf-8f9c-60de4552a831","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"%3C%5BWA"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f4d2ade1ecff41f8a486097e21679b14","public_url":null,"archived":false,"in_trash":false,"request_id":"1ec8e187-1651-46f7-a389-bd047f63bc46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ec8e187-1651-46f7-a389-bd047f63bc46
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Task List"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date", "date":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ec6c3697-438c-4705-8daa-e4322993ab45","cover":null,"icon":null,"created_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-02T20:47:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"bHSW","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ec6c3697438c47058daae4322993ab45","public_url":null,"archived":false,"in_trash":false,"request_id":"f7dbbc4a-d03a-4170-8f78-fe5e21c9659c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f7dbbc4a-d03a-4170-8f78-fe5e21c9659c
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ec6c3697-438c-4705-8daa-e4322993ab45"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Clean the house"}}]}, "Due by": {"type": "date", "date": {"start": "2024-08-30T22:47:44.540262"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"569af4eb-188c-46ef-9d65-a00bdf061db2","created_time":"2024-08-02T20:47:00.000Z","last_edited_time":"2024-08-02T20:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ec6c3697-438c-4705-8daa-e4322993ab45"},"archived":false,"in_trash":false,"properties":{"Parent
      Task":{"id":"SgD%60","type":"relation","relation":[],"has_more":false},"Due
      by":{"id":"bHSW","type":"date","date":{"start":"2024-08-30T22:47:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-569af4eb188c46ef9d65a00bdf061db2","public_url":null,"request_id":"ec1a76b9-c381-4c15-8956-23ea34923da8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ec1a76b9-c381-4c15-8956-23ea34923da8
    status_code: 200
[...]
