interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null,"[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Autogenerated
      page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c","created_time":"2026-06-27T04:54:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-38c9ce7b60a4816fa2d0e6fd9d80b35c","public_url":null,"archived":false,"request_id":"1239f490-d49b-45c5-92e0-7c5352541f02"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1239f490-d49b-45c5-92e0-7c5352541f02
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"83b8340e-a79c-431a-af9b-76e9bf20a984"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 83b8340e-a79c-431a-af9b-76e9bf20a984
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-816c-832c-c6013088eae2","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c"},"created_time":"2026-06-27T04:54:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e721c3c4-5564-422f-be02-7acc083fd847"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e721c3c4-5564-422f-be02-7acc083fd847
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Some
      text...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Some
      text...\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"code\",\"code\":{\"caption\":[{\"type\":\"text\",\"plain_text\":\"SQL
      Query\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SQL
      Query\"}}],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"SELECT * FROM
      MY_TABLE\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SELECT
      * FROM MY_TABLE\"}}],\"language\":\"sql\"}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\"}}],\"color\":\"blue\"}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Ultimate
      Notion rocks!\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Ultimate
      Notion rocks!\"}}],\"color\":\"purple_background\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}},{\"object\":\"block\",\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Showing
      off some more...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Showing
      off some more...\"}}],\"color\":\"default\",\"is_toggleable\":false}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/bl[...]
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      bulleted item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      bulleted item"}}],"color":"default"}},{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      bulleted item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      bulleted item"}}],"color":"default"}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      numbered item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      numbered item"}}],"color":"red"}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      numbered item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      numbered item"}}],"color":"red"}},{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      checked Todo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      checked Todo"}}],"color":"default","checked":true}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-811b-846c-dd025ec5094e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c"},"created_time":"2026-06-27T04:54:00.000Z","last_edi[...]
- request:
    body: '{"children":[{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      open Todo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      open Todo"}}],"color":"default","checked":false}},{"object":"block","type":"toggle","toggle":{"children":[],"rich_text":[{"type":"text","plain_text":"Toggle
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Toggle
      item"}}],"color":"default"}},{"object":"block","type":"divider","divider":{}},{"object":"block","type":"heading_3","heading_3":{"rich_text":[{"type":"text","plain_text":"Some
      more fancy stuff...","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Some
      more fancy stuff..."}}],"color":"default","is_toggleable":false}},{"object":"block","type":"table_of_contents","table_of_contents":{"color":"pink"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-812b-ad36-e0b6eef289bc","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c"},"created_time":"2026-06-27T04:54:00.000Z[...]
- request:
    body: '{"children":[{"object":"block","type":"breadcrumb","breadcrumb":{}},{"object":"block","type":"embed","embed":{"caption":[{"type":"text","plain_text":"Rick","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick"}}],"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"bookmark","bookmark":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"equation","equation":{"expression":"-1
      = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-814c-a066-e7365d777d0e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c"},"created_time":"2026-06-27T04[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Some
      more text, which was added afterwards...","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Some
      more text, which was added afterwards..."}}],"color":"default"}}],"after":"38c9ce7b-60a4-8165-ae70-e5d156c9bc9f"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-8111-afc1-f8cafdc1eec1\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8189-9093-dd589bee0355
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8189-9093-dd589bee0355","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-816f-a2d0-e6fd9d80b35c"},"created_time":"2026-06-27T04:54:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Another
      paragraph...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      paragraph...","href":null}],"icon":null,"color":"default"},"archived":true,"request_id":"1e8c0b1d-a53a-4599-9944-3529efff40bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e8c0b1d-a53a-4599-9944-3529efff40bb
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"file","file":{"type":"external","name":"robots.txt","caption":[{"type":"text","plain_text":"Google
      Robots","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      Robots"}}],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Path
      on meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Path
      on meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"video","video":{"type":"external","caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[{"type":"text","plain_text":"Dummy
      PDF","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Dummy
      PDF"}}],"external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8136-b584-cb22cb666a4d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81b3-983d-e7e1ccaad5e0","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-8136-b584-cb22cb666a4d"},"created_time":"2026-06-27T04:54:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"file","file":{"caption":[{"type":"text","text":{"content":"Google
      Robots","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":fa[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[]}},{"object":"block","type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8191-bbe4-c848e34e8117/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81ad-86bb-ce5cde8b09df","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8191-bbe4-c848e34e8117"},"created_time":"2026-06-27T04:54:00.000Z","last_edited_time":"2026-06-27T04:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3953b164-69d8-451f-953c-cd4ea939f216"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3953b164-69d8-451f-953c-cd4ea939f216
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"First
      name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      name"}}],[{"type":"text","plain_text":"Last name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Last
      name"}}],[{"type":"text","plain_text":"Sports","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Sports"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Florian","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Florian"}}],[{"type":"text","plain_text":"Wilhelm","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Wilhelm"}}],[{"type":"text","plain_text":"Running
      and bicycling","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Running
      and bicycling"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[],[]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[],[]]}}],"table_width":3,"has_column_header":true,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8191-bbe4-c848e34e8117/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81ac-bb19-d5a3452e5216","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8191-bbe4-c848e34e8117"},"created_time":"2026-06-27T04:55:00.000Z","last_edited_time":"2026-06-27T04:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"efae553f-d8b3-4c37-b97c-94acc5bbf6f5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - efae553f-d8b3-4c37-b97c-94acc5bbf6f5
    status_code: 200
[...]
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000002","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-00000000000040008000000000000002","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"71fee821-e579-4dda-9414-0afa52f16de2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 71fee821-e579-4dda-9414-0afa52f16de2
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8191-bbe4-c848e34e8117/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-810d-835f-ffea56d11523","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8191-bbe4-c848e34e8117"},"created_time":"2026-06-27T04:55:00.000Z","last_edited_time":"2026-06-27T04:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1f688d05-3b11-423e-8033-37d5fc66b5fa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f688d05-3b11-423e-8033-37d5fc66b5fa
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default"}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8191-bbe4-c848e34e8117/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8124-882d-d4a59b1ca134","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8191-bbe4-c848e34e8117"},"created_time":"2026-06-27T04:55:00.000Z","last_edited_time":"2026-06-27T04:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8de6668a-3de3-40ef-96bc-da51f441a44e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8de6668a-3de3-40ef-96bc-da51f441a44e
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a "}},{"type":"text","plain_text":"bold","annotations":{"bold":true,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"bold"}},{"type":"text","plain_text":"
      word.\nWe can even add a normal string to it.\nNow some ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"
      word.\nWe can even add a normal string to it.\nNow some "}},{"type":"text","plain_text":"inline
      formula: ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"red"},"text":{"content":"inline
      formula: "}},{"type":"equation","plain_text":"-1 = e^{i \\pi}","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"equation":{"expression":"-1
      = e^{i \\pi}"}},{"type":"text","plain_text":"\n","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":fa[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\",\"name\":\"Adam
      Dangoor\",\"avatar_url\":null,\"type\":\"person\",\"person\":{\"email\":\"adamdangoor@gmail.com\"}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Publish
      Interview Questions\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}}}],\"next_cursor\":null,\"has_more\":false,\"type\":\"user\",\"user\":{},\"request_id\":\"841da75d-d3bd-487e-9adb-a77e1e0b496b\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 841da75d-d3bd-487e-9adb-a77e1e0b496b
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8189-b60d-c5c0e6e7c60e","cover":null,"icon":null,"created_time":"2026-06-27T04:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:55:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a48189b60dc5c0e6e7c60e","public_url":null,"in_trash":false,"archived":false,"request_id":"26abcb86-d334-4ec5-8260-51c6637e8572"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 26abcb86-d334-4ec5-8260-51c6637e8572
    status_code: 200
- request:
    body: '{"title":[{"type":"text","plain_text":"Dummy DB","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Dummy
      DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
[...]
