interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-23T13:30:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2025-06-15T18:41:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"0c8ea7f1-c7ca[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Article DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select", "select":
      {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics", "color":
      "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type": "date",
      "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8189-b73d-e12a2b48e744","cover":null,"icon":null,"created_time":"2025-06-23T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:30:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Released":{"id":"t%5Bda","name":"Released","type":"date","date":{}},"Topic":{"id":"%7CAC%3E","name":"Topic","type":"select","select":{"options":[{"id":"6a369197-97f1-42cb-aaf0-107c25d35f7e","name":"Tech","color":"green","description":null},{"id":"c9ccfe5a-9289-4087-8857-eb02141969d5","name":"Politics","color":"yellow","description":null},{"id":"05a3d31f-6386-448d-a7ec-36c345e75207","name":"Finance","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b3888189b73de12a2b48e744","public_url":null,"archived":false,"in_trash":false,"request_id":"a7ade146-9281-44b9-a943-282338d0dc7f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a7ade146-9281-44b9-a943-282338d0dc7f
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of various articles",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/dat[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8189-b73d-e12a2b48e744"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Article 1"}}]}, "Topic": {"type": "select", "select": {"name": "Tech", "color":
      "green"}}, "Released": {"type": "date", "date": {"start": "2025-06-23T15:30:33.115683",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-815c-a247-c5a79866f327","created_time":"2025-06-23T13:30:00.000Z","last_edited_time":"2025-06-23T13:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-8189-b73d-e12a2b48e744"},"archived":false,"in_trash":false,"properties":{"Released":{"id":"t%5Bda","type":"date","date":{"start":"2025-06-23T15:30:00.000+02:00","end":null,"time_zone":null}},"Topic":{"id":"%7CAC%3E","type":"select","select":{"id":"6a369197-97f1-42cb-aaf0-107c25d35f7e","name":"Tech","color":"green"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-21b974f3b388815ca247c5a79866f327","public_url":null,"request_id":"b799b047-9d14-4cb4-9b61-1243101c4f58"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b799b047-9d14-4cb4-9b61-1243101c4f58
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8189-b73d-e12a2b48e744/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-8176-a906-ea5ab68f1680","created_time":"2025-06-23T13:30:00.000Z","last_edited_time":"2025-06-23T13:30:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/21b974f3-b388-8189-b73d-e12a2b48e744/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"21b974f3-b388-815c-a247-c5a79866f327","created_time":"2025-06-23T13:30:00.000Z","last_ed[...]
