interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b98d301f-e663-44e6-9cbf-2ebc27b7121a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Item DB", "text": {"content": "Item DB"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Size":
      {"select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}, "type": "select"}, "Price": {"number":
      {"format": "dollar"}, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e001","cover":null,"icon":null,"created_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:15:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"mPEw","name":"Size","type":"select","select":{"options":[{"id":"28c806ce-beb4-448d-9b86-1a98d90bd9c2","name":"S","color":"green","description":null},{"id":"4a006a98-ae61-455b-9df7-a28e1e7222d5","name":"M","color":"yellow","description":null},{"id":"8bb605ad-f0bf-435d-a3a9-4adec4304e2c","name":"L","color":"red","description":null}]}},"Price":{"id":"w%5Bsh","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/bc2a0c896fb842888ae8d5d9f9f4e001","public_url":null,"archived":false,"request_id":"a15ff755-1d4f-439e-8047-4d426bef5454"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Database of all the items we sell", "text":
      {"content": "Database of all the items we sell"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e001
  response:
    content: '{"object":"database","id":"bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e001",
      "type": "single_property", "single_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"bcf85c48-9263-415b-9f6d-99499cfc62ed","cover":null,"icon":null,"created_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:15:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"x%40%3AJ","name":"Items
      Purchased","type":"relation","relation":{"database_id":"bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e001","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/bcf85c489263415b9f6d99499cfc62ed","public_url":null,"archived":false,"request_id":"72500bb2-a071-4798-a07a-1db3a0c6a478"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e001", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "T-shirt",
      "text": {"content": "T-shirt"}, "type": "text"}], "type": "title"}, "Size":
      {"select": {"name": "L", "color": "red"}, "type": "select"}, "Price": {"number":
      17.0, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e001
  response:
    content: '{"object":"block","id":"bc2a0c89-6fb8-4288-8ae8-d5d9f9f4e001","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T22:15:00.000Z","last_edited_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"e61db0a1-07b6-4bbe-b68d-1835dc69f058"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "c8671415-4e24-40f3-a692-9e8476529677",
      "type": "dual_property", "dual_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a99633b9-f59e-4733-88d0-5d3e345d069c","cover":null,"icon":null,"created_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:15:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"y%3Ckt","name":"Items
      Purchased","type":"relation","relation":{"database_id":"c8671415-4e24-40f3-a692-9e8476529677","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"%3FgPf"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/a99633b9f59e473388d05d3e345d069c","public_url":null,"archived":false,"request_id":"336fa18c-612b-4b0a-854d-54e042871104"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Task List", "text": {"content": "Task
      List"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Due by": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"87a6ec21-a663-4138-9d07-9591c9c526de","cover":null,"icon":null,"created_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:15:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"CisJ","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/87a6ec21a66341389d079591c9c526de","public_url":null,"archived":false,"request_id":"aff02737-814d-46f4-9bb7-31915175949a"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "87a6ec21-a663-4138-9d07-9591c9c526de", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Clean the
      house", "text": {"content": "Clean the house"}, "type": "text"}], "type": "title"},
      "Due by": {"date": {"start": "2024-01-21T23:15:30.361886"}, "type": "date"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b56ddb7b-8d15-4c5e-a292-1ba4724c82ee","created_time":"2023-12-24T22:15:00.000Z","last_edited_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"87a6ec21-a663-4138-9d07-9591c9c526de"},"archived":false,"properties":{"Due
      by":{"id":"CisJ","type":"date","date":{"start":"2024-01-21T23:15:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"Hg%3ED","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-b56ddb7b8d154c5ea2921ba4724c82ee","public_url":null,"request_id":"1f214692-f0a0-4db4-90ee-e87bd7098a9a"}'
    headers: {}
    status_code: 200
[...]
