interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2024-10-14T16:04:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"67ad5240-b1b9[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Article DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select", "select":
      {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics", "color":
      "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type": "date",
      "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-816d-9ce8-d255488b8a99","cover":null,"icon":null,"created_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:47:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Released":{"id":"q_%3Fg","name":"Released","type":"date","date":{}},"Topic":{"id":"~IW%7B","name":"Topic","type":"select","select":{"options":[{"id":"073ba9dd-355e-4475-b695-81b29819136d","name":"Tech","color":"green","description":null},{"id":"bf9606cd-d897-49ef-9939-92a3645295a9","name":"Politics","color":"yellow","description":null},{"id":"8755474d-fd95-4f09-af2d-427702604ae0","name":"Finance","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b388816d9ce8d255488b8a99","public_url":null,"archived":false,"in_trash":false,"request_id":"6e2084c2-b366-4769-b33b-c39120876cf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e2084c2-b366-4769-b33b-c39120876cf8
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of various articles",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/dat[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "158974f3-b388-816d-9ce8-d255488b8a99"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Article 1"}}]}, "Topic": {"type": "select", "select": {"name": "Tech", "color":
      "green"}}, "Released": {"type": "date", "date": {"start": "2024-12-10T11:47:53.267831",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-8110-a45c-e9ed2e386ffa","created_time":"2024-12-10T10:47:00.000Z","last_edited_time":"2024-12-10T10:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"158974f3-b388-816d-9ce8-d255488b8a99"},"archived":false,"in_trash":false,"properties":{"Released":{"id":"q_%3Fg","type":"date","date":{"start":"2024-12-10T11:47:00.000+01:00","end":null,"time_zone":null}},"Topic":{"id":"~IW%7B","type":"select","select":{"id":"073ba9dd-355e-4475-b695-81b29819136d","name":"Tech","color":"green"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-158974f3b3888110a45ce9ed2e386ffa","public_url":null,"request_id":"afd473af-e9a7-43a8-a548-47610fb328f5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - afd473af-e9a7-43a8-a548-47610fb328f5
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-816d-9ce8-d255488b8a99/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81d7-8e1d-e2c2fdf641e6","created_time":"2024-12-10T10:48:00.000Z","last_edited_time":"2024-12-10T10:48:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/158974f3-b388-816d-9ce8-d255488b8a99/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"158974f3-b388-81d9-ae83-c589410b1eae","created_time":"2024-12-10T10:48:00.000Z","last_ed[...]
