interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null,"[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Article DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select",
      "select": {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics",
      "color": "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type":
      "date", "date": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"050bb868-e750-4606-b877-e54ea1ab3f8a","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:53:55.986+00:00","last_edited_time":"2026-06-27T05:53:55.986+00:00","data_sources":[{"id":"b972e31d-6128-40d9-8545-b7f9cc3a58ae","name":"Article
      DB"}],"icon":null,"cover":null,"url":"https://www.notion.so/050bb868e7504606b877e54ea1ab3f8a","public_url":null,"archived":false,"request_id":"93f7fbe6-ea90-495d-a9f5-cc75f59d9736"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 93f7fbe6-ea90-495d-a9f5-cc75f59d9736
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of various articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/050bb868-e750-4606-b877-e54ea1ab3f8a
  resp[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b972e31d-6128-40d9-8545-b7f9cc3a58ae
  response:
    content: '{"object":"data_source","id":"b972e31d-6128-40d9-8545-b7f9cc3a58ae","cover":null,"icon":null,"created_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0000[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "b972e31d-6128-40d9-8545-b7f9cc3a58ae"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Article 1"}}]},
      "Topic": {"type": "select", "select": {"name": "Tech", "color": "green"}}, "Released":
      {"type": "date", "date": {"start": "2026-06-27T06:53:55.655461", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8148-b30c-e3f967709b33","created_time":"2026-06-27T05:53:00.000Z","last_edited_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"b972e31d-6128-40d9-8545-b7f9cc3a58ae","database_id":"050bb868-e750-4606-b877-e54ea1ab3f8a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Released":{"id":"RrAo","type":"date","date":{"start":"2026-06-27T06:53:00.000+01:00","end":null,"time_zone":null}},"Topic":{"id":"RvM%5C","type":"select","select":{"id":"39462ff5-4b4c-4e7c-86ea-c94aec7ea956","name":"Tech","color":"green"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-38c9ce7b60a48148b30ce3f967709b33","public_url":null,"archived":false,"request_id":"0b6bcf5e-fa64-438b-b877-4d046d506981"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b6bcf5e-fa64-438b-b877-4d046d506981
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b972e31d-6128-40d9-8545-b7f9cc3a58ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8142-949d-c7989f3d7c93","created_time":"2026-06-27T05:54:00.000Z","last_edited_time":"2026-06-27T05:54:00.000Z","create[...]
- request:
    body: '{"sorts": [{"property": "Released", "direction": "descending"}, {"property":
      "Name", "direction": "ascending"}], "filter": {"and": [{"select": {"equals":
      "Tech"}, "property": "Topic"}, {"date": {"this_week": {}}, "property": "Released"}]},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/b972e31d-6128-40d9-8545-b7f9cc3a58ae/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8114-a00c-eb6374bbe604","created_time":"2026-06-27T05:54:00.000Z","last_edited_time":"2026-06-27T05:54:[...]
