interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-22T07:09:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2025-06-15T18:41:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"0c8ea7f1-c7ca[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Article DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select", "select":
      {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics", "color":
      "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type": "date",
      "date": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81ff-b631-ef1cffd6b7fa","cover":null,"icon":null,"created_time":"2025-08-22T07:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:09:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Topic":{"id":"Iejy","name":"Topic","type":"select","select":{"options":[{"id":"b4f15252-e6bf-42f5-95f9-dba2f546e9ac","name":"Tech","color":"green","description":null},{"id":"1290049f-29e4-4c40-8ca8-29edaf6670d4","name":"Politics","color":"yellow","description":null},{"id":"dec43045-d084-48c2-af96-36f9613ccb24","name":"Finance","color":"red","description":null}]}},"Released":{"id":"xMbP","name":"Released","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881ffb631ef1cffd6b7fa","public_url":null,"archived":false,"in_trash":false,"request_id":"ae9df0e8-e3d5-4e64-87d7-5155f23e9774"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ae9df0e8-e3d5-4e64-87d7-5155f23e9774
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of various articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Database
      of various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-81ff-b631-e[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81ff-b631-ef1cffd6b7fa"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Article 1"}}]}, "Topic": {"type": "select", "select": {"name": "Tech", "color":
      "green"}}, "Released": {"type": "date", "date": {"start": "2025-08-22T09:09:27.880509",
      "time_zone": "Europe/Warsaw"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-8126-aca1-c13593ae74ae","created_time":"2025-08-22T07:09:00.000Z","last_edited_time":"2025-08-22T07:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-81ff-b631-ef1cffd6b7fa"},"archived":false,"in_trash":false,"properties":{"Topic":{"id":"Iejy","type":"select","select":{"id":"b4f15252-e6bf-42f5-95f9-dba2f546e9ac","name":"Tech","color":"green"}},"Released":{"id":"xMbP","type":"date","date":{"start":"2025-08-22T09:09:00.000+02:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-257974f3b3888126aca1c13593ae74ae","public_url":null,"request_id":"871479ed-2471-4675-89f5-4817b3f6ec8b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 871479ed-2471-4675-89f5-4817b3f6ec8b
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81ff-b631-ef1cffd6b7fa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8113-a338-db643bac1cd4","created_time":"2025-08-22T07:09:00.000Z","last_edited_time":"2025-08-22T07:09:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/257974f3-b388-81ff-b631-ef1cffd6b7fa/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"257974f3-b388-8126-aca1-c13593ae74ae","created_time":"2025-08-22T07:09:00.000Z","last_ed[...]
