interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"fbf2faf8-dbd0-4979-9e8b-2eedfaaf8c0e"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Item DB", "text": {"content": "Item DB"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Size":
      {"select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}, "type": "select"}, "Price": {"number":
      {"format": "dollar"}, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"eaa6ac24-d2a7-4d61-bf12-ff337ff2b8a3","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"P%40AA","name":"Price","type":"number","number":{"format":"dollar"}},"Size":{"id":"e%7DV%5D","name":"Size","type":"select","select":{"options":[{"id":"ad685f6a-ffe2-45ae-b130-6093d4555514","name":"S","color":"green","description":null},{"id":"57dbd3b0-3aa0-4352-885e-efbbd18e6634","name":"M","color":"yellow","description":null},{"id":"b8fc96fd-fb94-4788-af83-b4ba807ab20b","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/eaa6ac24d2a74d61bf12ff337ff2b8a3","public_url":null,"archived":false,"request_id":"83ae5a97-6c7e-4e24-b15c-69e6fda60019"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Database of all the items we sell", "text":
      {"content": "Database of all the items we sell"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/eaa6ac24-d2a7-4d61-bf12-ff337ff2b8a3
  response:
    content: '{"object":"database","id":"eaa6ac24-d2a7-4d61-bf12-ff337ff2b[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "eaa6ac24-d2a7-4d61-bf12-ff337ff2b8a3",
      "type": "single_property", "single_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b11344e5-c0af-4a15-b323-496e93744eb9","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"Kgvf","name":"Items
      Purchased","type":"relation","relation":{"database_id":"eaa6ac24-d2a7-4d61-bf12-ff337ff2b8a3","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/b11344e5c0af4a15b323496e93744eb9","public_url":null,"archived":false,"request_id":"7821696c-2dc8-4616-8bf3-8b5058df841b"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "eaa6ac24-d2a7-4d61-bf12-ff337ff2b8a3", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "T-shirt",
      "text": {"content": "T-shirt"}, "type": "text"}], "type": "title"}, "Size":
      {"select": {"name": "L", "color": "red"}, "type": "select"}, "Price": {"number":
      17.0, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/eaa6ac24-d2a7-4d61-bf12-ff337ff2b8a3
  response:
    content: '{"object":"block","id":"eaa6ac24-d2a7-4d61-bf12-ff337ff2b8a3","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T13:09:00.000Z","last_edited_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"41549e5d-4b3c-43f1-aa1e-5e202f01a6ce"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "c69f2a54-7083-4329-ace1-3ca276504b57",
      "type": "dual_property", "dual_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5d1e83c8-2d7d-471f-a19b-ebaec7c6c535","cover":null,"icon":null,"created_time":"2023-12-24T13:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:09:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"NoMj","name":"Items
      Purchased","type":"relation","relation":{"database_id":"c69f2a54-7083-4329-ace1-3ca276504b57","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"y%7CSu"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/5d1e83c82d7d471fa19bebaec7c6c535","public_url":null,"archived":false,"request_id":"68a88af2-a125-4a3d-b99e-57672a7ac5f7"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Task List", "text": {"content": "Task
      List"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Due by": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"23003962-a440-4fb5-bda1-755193dc176d","cover":null,"icon":null,"created_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:10:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"A%7Bdi","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/23003962a4404fb5bda1755193dc176d","public_url":null,"archived":false,"request_id":"5c357f3f-0205-4576-9e28-e6bb838b3a90"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "23003962-a440-4fb5-bda1-755193dc176d", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Clean the
      house", "text": {"content": "Clean the house"}, "type": "text"}], "type": "title"},
      "Due by": {"date": {"start": "2024-01-21T14:10:02.929833"}, "type": "date"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c0493d92-da61-4f48-9324-0ea84262f459","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"23003962-a440-4fb5-bda1-755193dc176d"},"archived":false,"properties":{"Due
      by":{"id":"A%7Bdi","type":"date","date":{"start":"2024-01-21T14:10:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"%60KfI","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-c0493d92da614f4893240ea84262f459","public_url":null,"request_id":"e767fb23-beb9-4db2-8eca-e4f874290a81"}'
    headers: {}
    status_code: 200
[...]
