interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-20T07:16:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2025-06-15T18:41:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"0c8ea7f1-c7ca[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"255974f3-b388-8187-b5f6-c7095ed2b0c3","created_time":"2025-08-20T07:17:00.000Z","last_edited_time":"2025-08-20T07:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-255974f3b3888187b5f6c7095ed2b0c3","public_url":null,"request_id":"ad76d4ea-6f37-4859-a0c4-114707b6f44f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ad76d4ea-6f37-4859-a0c4-114707b6f44f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8187-b5f6-c7095ed2b0c3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c2d0b90f-36c3-45a7-a693-a811fe51c76c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c2d0b90f-36c3-45a7-a693-a811fe51c76c
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8187-b5f6-c7095ed2b0c3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"255974f3-b388-8194-9422-ca6f63d42e2f","parent":{"type":"page_id","page_id":"255974f3-b388-8187-b5f6-c7095ed2b0c3"},"created_time":"2025-08-20T07:17:00.000Z","last_edited_time":"2025-08-20T07:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a5cd6c09-b04e-495a-9d61-cbf3c507ddde"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a5cd6c09-b04e-495a-9d61-cbf3c507ddde
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Some
      text...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Some
      text...\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"code\",\"code\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"SELECT
      * FROM MY_TABLE\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"SELECT
      * FROM MY_TABLE\"}}],\"caption\":[{\"type\":\"text\",\"plain_text\":\"SQL Query\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"SQL
      Query\"}}],\"language\":\"sql\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"quote\",\"quote\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"\\\"You
      know, for a mathematician, he did not have enough imagination. But he has become
      a poet and now he is fine.\\\" - D. Hilbert\"}}],\"color\":\"blue\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Ultimate
      Notion rocks!\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Ultimate
      Notion rocks!\"}}],\"color\":\"purple_background\",\"children\":[],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Showing
      off some more...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Showing
      off some more...\"}}],\"color\":\"default\",\"is_toggleable\":false}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      bulleted item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"First
      bulleted item\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      bulleted item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Second
      bulleted item\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"numbered_list_item\",\"numbered_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      numbered item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"First
      numbered item\"}}],\"color\":\"red\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"numbered_list_item\",\"numbered_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      numbered item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Second
      numbered item\"}}],\"color\":\"red\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"to_do\",\"to_do\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      checked Todo\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"First
      checked Todo\"}}],\"color\":\"default\",\"checked\":true,\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"to_do\",\"to_do\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      open Todo\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Second
      open Todo\"}}],\"color\":\"default\",\"checked\":false,\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"toggle\",\"toggle\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Toggle
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Toggle
      item\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"heading_3\",\"heading_3\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Some
      more fancy stuff...\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Some
      more fancy stuff...\"}}],\"color\":\"default\",\"is_toggleable\":false}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"table_of_contents\",\"table_of_contents\":{\"color\":\"pink\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"breadcrumb\",\"breadcrumb\":{}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"embed\",\"embed\":{\"url\":\"https://www.youtube.com/watch?v=dQw4w9WgXcQ\",\"caption\":[{\"type\":\"text\",\"plain_text\":\"Rick\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"text\":{\"content\":\"Rick\"}}]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"bookmark\",\"bookmark\":{\"url\":\"https://www.youtube.com/watch?v=dQw4w9WgXcQ\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"equation\",\"equation\":{\"expression\":\"-1
      = \\\\exp(i \\\\pi)\"}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8187-b5f6-c7095ed2b0c3/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"255974f3-b388-81ed-a16c-f46e4ae0abfa\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"255974f3-b388-8187-b5f6-c7095ed2b0c3\"}[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Some
      more text, which was added afterwards...","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Some
      more text, which was added afterwards..."}}],"color":"default","children":[]}}],"after":"255974f3-b388-810e-9a9b-ec4e96ed94d0"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8187-b5f6-c7095ed2b0c3/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"255974f3-b388-8193-8a84-ce8192deb0c2\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"255974f3-b388-8187-b5f6-c7095ed2b0c3[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8175-a8f6-c7644540ba98
  response:
    content: '{"object":"block","id":"255974f3-b388-8175-a8f6-c7644540ba98","parent":{"type":"page_id","page_id":"255974f3-b388-8187-b5f6-c7095ed2b0c3"},"created_time":"2025-08-20T07:17:00.000Z","last_edited_time":"2025-08-20T07:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Another
      paragraph...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      paragraph...","href":null}],"color":"default"},"request_id":"af95220a-1865-4786-8782-f7d3ffa4ba95"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - af95220a-1865-4786-8782-f7d3ffa4ba95
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"file","file":{"type":"external","name":"robots.txt","caption":[{"type":"text","plain_text":"Google
      Robots","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Google
      Robots"}}],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Path
      on meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Path
      on meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"video","video":{"type":"external","caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Rick
      Roll"}}],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"pdf","pdf":{"type":"external","caption":[{"type":"text","plain_text":"Dummy
      PDF","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Dummy
      PDF"}}],"external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/255974f3-b388-813d-ac26-dbdc3dce98d4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"255974f3-b388-8152-8997-ceb3bac9c8a6","parent":{"type":"block_id","block_id":"255974f3-b388-813d-ac26-dbdc3dce98d4"},"created_time":"2025-08-20T07:17:00.000Z","last_edited_time":"2025-08-20T07:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[{"type":"text","text":{"content":"Google
      Robots","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":fal[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8162-a713-cd356206bad4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"255974f3-b388-8142-8d00-c1718018828a","parent":{"type":"page_id","page_id":"255974f3-b388-8162-a713-cd356206bad4"},"created_time":"2025-08-20T07:18:00.000Z","last_edited_time":"2025-08-20T07:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e9312404-b0fd-4569-aff9-d46bfb05e4d0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9312404-b0fd-4569-aff9-d46bfb05e4d0
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":true,"in_trash":false,"archived":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false,"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"First
      name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"First
      name"}}],[{"type":"text","plain_text":"Last name","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Last
      name"}}],[{"type":"text","plain_text":"Sports","annotations":{"bold":false,"italic":false,"strikethrough":fals[...]
[...]
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"6855b161-f63e-4683-b7c7-8ca6e97ee246","created_time":"2023-11-05T10:35:00.000Z","last_edited_time":"2025-08-11T08:32:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-6855b161f63e4683b7c78ca6e97ee246","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a31db522-733a-474c-b2cf-aa7f3916114d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a31db522-733a-474c-b2cf-aa7f3916114d
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"6855b161-f63e-4683-b7c7-8ca6e97ee246"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8162-a713-cd356206bad4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"255974f3-b388-8136-870f-d353f4af1b62","parent":{"type":"page_id","page_id":"255974f3-b388-8162-a713-cd356206bad4"},"created_time":"2025-08-20T07:18:00.000Z","last_edited_time":"2025-08-20T07:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"6855b161-f63e-4683-b7c7-8ca6e97ee246"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"bc1e609e-ce83-435d-8a55-8053a4b60a84"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bc1e609e-ce83-435d-8a55-8053a4b60a84
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"synced_block","synced_block":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"This
      is a synced paragraph"}}],"color":"default","children":[]}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/255974f3-b388-8162-a713-cd356206bad4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"255974f3-b388-81a2-90ee-f1b0b00ccf48","parent":{"type":"page_id","page_id":"255974f3-b388-8162-a713-cd356206bad4"},"created_time":"2025-08-20T07:18:00.000Z","last_edited_time":"2025-08-20T07:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8fe5360e-209c-4fb5-b835-c29e63f30360"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8fe5360e-209c-4fb5-b835-c29e63f30360
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"This
      is a "}},{"type":"text","plain_text":"bold","annotations":{"bold":true,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"bold"}},{"type":"text","plain_text":"
      word.\n","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"
      word.\n"}},{"type":"text","plain_text":"We can even add a normal string to it.\n","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"We
      can even add a normal string to it.\n"}},{"type":"text","plain_text":"Now some
      ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Now
      some "}},{"type":"text","plain_text":"inline formula: ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"red"},"text":{"content":"inline
      formula: "}},{"type":"equation","plain_text":"-1 = e^{i \\pi}","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"equation":{"expression":"-1
      = e^{i \\pi}"}},{"type":"text","plain_text":"\n","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"\n"}},{"type":"text","plain_text":"All","annotations":{"bold":false,"italic":true,"strikethrough":false,"underli[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5242880}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"1088982f-df3b-4088-a202-5e111dd85661"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1088982f-df3b-4088-a202-5e111dd85661
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"255974f3-b388-81f0-90d7-ef6887f7aaa1","cover":null,"icon":null,"created_time":"2025-08-20T07:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-20T07:18:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/255974f3b38881f090d7ef6887f7aaa1","public_url":null,"archived":false,"in_trash":false,"request_id":"ab81668f-1279-4f2e-ad3d-6771e6a9b798"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab81668f-1279-4f2e-ad3d-6771e6a9b798
    status_code: 200
- request:
    body: '{"title":[{"type":"text","plain_text":"Dummy DB","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Dummy
      DB"}}]}'
    headers:
      authorization:
[...]
