interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"172974f3-b388-808a-8f5b-dfad56f3326c","created_time":"2025-01-05T11:34:00.000Z","last_edited_time":"2025-06-10T17:35:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"All
      Blocks Page Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Blocks Page Test","href":null}]}},"url":"https://www.notion.so/All-Blocks-Page-Test-172974f3b388808a8f5bdfad56f3326c","public_url":null},{"object":"page[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Article DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select", "select":
      {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics", "color":
      "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type": "date",
      "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-81e0-b9f0-f569624dce23","cover":null,"icon":null,"created_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:48:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Released":{"id":"%3BaXr","name":"Released","type":"date","date":{}},"Topic":{"id":"kXVQ","name":"Topic","type":"select","select":{"options":[{"id":"289739d5-7915-45d4-a5fe-2df383f7f142","name":"Tech","color":"green","description":null},{"id":"db96bdc3-d79a-4049-9060-764f7201480a","name":"Politics","color":"yellow","description":null},{"id":"190dca4c-78d3-4e37-9fa7-86fed9d93ad7","name":"Finance","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881e0b9f0f569624dce23","public_url":null,"archived":false,"in_trash":false,"request_id":"cbb9eac1-bf35-4775-8b49-8c9856c82e8a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cbb9eac1-bf35-4775-8b49-8c9856c82e8a
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of various articles",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/dat[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-81e0-b9f0-f569624dce23"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Article 1"}}]}, "Topic": {"type": "select", "select": {"name": "Tech", "color":
      "green"}}, "Released": {"type": "date", "date": {"start": "2025-06-10T19:48:52.563426",
      "time_zone": "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-817c-a11d-d24ae246d2c0","created_time":"2025-06-10T17:48:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-81e0-b9f0-f569624dce23"},"archived":false,"in_trash":false,"properties":{"Released":{"id":"%3BaXr","type":"date","date":{"start":"2025-06-10T19:48:00.000+02:00","end":null,"time_zone":null}},"Topic":{"id":"kXVQ","type":"select","select":{"id":"289739d5-7915-45d4-a5fe-2df383f7f142","name":"Tech","color":"green"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-20e974f3b388817ca11dd24ae246d2c0","public_url":null,"request_id":"31648b80-ef01-42d3-af12-474e0296d101"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31648b80-ef01-42d3-af12-474e0296d101
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-81e0-b9f0-f569624dce23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-81e7-b3b4-d457f7a73977","created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/20e974f3-b388-81e0-b9f0-f569624dce23/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20e974f3-b388-8162-a1b5-d8aebe0bfba4","created_time":"2025-06-10T17:49:00.000Z","last_ed[...]
