interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"172974f3-b388-808a-8f5b-dfad56f3326c","created_time":"2025-01-05T11:34:00.000Z","last_edited_time":"2025-06-10T17:35:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"All
      Blocks Page Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Blocks Page Test","href":null}]}},"url":"https://www.notion.so/All-Blocks-Page-Test-172974f3b388808a8f5bdfad56f3326c","public_url":null},{"object":"page[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-812e-9854-e2b3899c2fb3","created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-20e974f3b388812e9854e2b3899c2fb3","public_url":null,"request_id":"8c9cb2ce-55c9-423e-a811-a89fffbbd927"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8c9cb2ce-55c9-423e-a811-a89fffbbd927
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812e-9854-e2b3899c2fb3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f436454b-ffe3-41c5-877c-7963e503ab40"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f436454b-ffe3-41c5-877c-7963e503ab40
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812e-9854-e2b3899c2fb3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-815c-a966-d9dd5a1139ae","parent":{"type":"page_id","page_id":"20e974f3-b388-812e-9854-e2b3899c2fb3"},"created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"28fb4897-4020-4e41-9757-b9d98f907007"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 28fb4897-4020-4e41-9757-b9d98f907007
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Some text...", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Some text..."}}], "children": [], "color": "default"}},
      {"type": "code", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "code": {"rich_text": [{"type": "text", "plain_text": "SELECT
      * FROM MY_TABLE", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "SELECT * FROM MY_TABLE"}}], "caption": [{"type": "text", "plain_text": "SQL
      Query", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "SQL Query"}}], "language": "sql"}}, {"type": "quote", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "quote": {"rich_text": [{"type":
      "text", "plain_text": "\"You know, for a mathematician, he did not have enough
      imagination. But he has become a poet and now he is fine.\" - D. Hilbert", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "\"You know, for a mathematician,
      he did not have enough imagination. But he has become a poet and now he is fine.\"
      - D. Hilbert"}}], "children": [], "color": "blue"}}, {"type": "callout", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "callout":
      {"rich_text": [{"type": "text", "plain_text": "Ultimate Notion rocks!", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Ultimate Notion rocks!"}}],
      "children": [], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color":
      "purple_background"}}, {"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Showing off some more...", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Showing off some more..."}}], "color":
      "default", "is_toggleable": false}}, {"type": "bulleted_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bulleted_list_item":
      {"rich_text": [{"type": "text", "plain_text": "First bulleted item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "First bulleted item"}}],
      "children": [], "color": "default"}}, {"type": "bulleted_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bulleted_list_item":
      {"rich_text": [{"type": "text", "plain_text": "Second bulleted item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Second bulleted item"}}],
      "children": [], "color": "default"}}, {"type": "numbered_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "numbered_list_item":
      {"rich_text": [{"type": "text", "plain_text": "First numbered item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "First numbered item"}}],
      "children": [], "color": "red"}}, {"type": "numbered_list_item", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "numbered_list_item":
      {"rich_text": [{"type": "text", "plain_text": "Second numbered item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Second numbered item"}}],
      "children": [], "color": "red"}}, {"type": "to_do", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "to_do": {"rich_text": [{"type":
      "text", "plain_text": "First checked Todo", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "First checked Todo"}}], "checked": true, "children": [],
      "color": "default"}}, {"type": "to_do", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "to_do": {"rich_text": [{"type": "text",
      "plain_text": "Second open Todo", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Second open Todo"}}], "checked": false, "children": [],
      "color": "default"}}, {"type": "toggle", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "toggle": {"rich_text": [{"type":
      "text", "plain_text": "Toggle item", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Toggle item"}}], "children": [], "color": "default"}},
      {"type": "divider", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "divider": {}}, {"type": "heading_3", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_3": {"rich_text":
      [{"type": "text", "plain_text": "Some more fancy stuff...", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Some more fancy stuff..."}}],
      "color": "default", "is_toggleable": false}}, {"type": "table_of_contents",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "table_of_contents": {"color": "pink"}}, {"type": "breadcrumb", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "breadcrumb": {}},
      {"type": "embed", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      "caption": [{"type": "text", "plain_text": "Rick", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Rick"}}]}}, {"type": "bookmark", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bookmark":
      {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type": "equation",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812e-9854-e2b3899c2fb3/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"20e974f3-b388-817d-8c9b-ec13cf59fd30\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"20e974f3-b388-812e-9854-e2b3899c2fb3\"},\"created_[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Some more text, which was added afterwards...", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Some more text, which
      was added afterwards..."}}], "children": [], "color": "default"}}], "after":
      "20e974f3-b388-8179-abb3-f6d623aba002"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812e-9854-e2b3899c2fb3/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"20e974f3-b388-8115-ad07-f128070dcff1\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"20e974f3-b388-812e-9854-e2b38[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81ec-95af-f141bcec51a2
  response:
    content: '{"object":"block","id":"20e974f3-b388-81ec-95af-f141bcec51a2","parent":{"type":"page_id","page_id":"20e974f3-b388-812e-9854-e2b3899c2fb3"},"created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Another
      paragraph...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      paragraph...","href":null}],"color":"default"},"request_id":"9df396c5-0d2e-45af-ac53-245a17ec2716"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9df396c5-0d2e-45af-ac53-245a17ec2716
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "file", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "file": {"type": "external", "name": "robots.txt",
      "caption": [{"type": "text", "plain_text": "Google Robots", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Google Robots"}}], "external":
      {"url": "https://www.google.de/robots.txt"}}}, {"type": "image", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "image": {"type":
      "external", "caption": [{"type": "text", "plain_text": "Path on meadow", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Path on meadow"}}],
      "external": {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Rick Roll", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Rick Roll"}}], "external": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},
      {"type": "pdf", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "pdf": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Dummy PDF", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Dummy PDF"}}], "external": {"url": "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-815e-a494-fc7f727b7c90/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81e0-b105-e4d115bfd8ac","parent":{"type":"block_id","block_id":"20e974f3-b388-815e-a494-fc7f727b7c90"},"created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[{"type":"text","text":{"content":"Google
      Robots","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":fal[...]
[...]
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812d-9c46-d3556b8447c4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81e6-85d4-e7ed39b24453","parent":{"type":"page_id","page_id":"20e974f3-b388-812d-9c46-d3556b8447c4"},"created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c51623c7-8377-4a44-aa75-94041a477647"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c51623c7-8377-4a44-aa75-94041a477647
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 3, "has_column_header":
      true, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[{"type": "text", "plain_text": "First name", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "First name"}}], [{"type": "text",
      "plain_text": "Last name", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Last name"}}], [{"type": "text", "plain_text": "Sports", "annot[...]
[...]
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"6855b161-f63e-4683-b7c7-8ca6e97ee246","created_time":"2023-11-05T10:35:00.000Z","last_edited_time":"2024-06-01T19:31:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-6855b161f63e4683b7c78ca6e97ee246","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"98f618b8-1dce-4dda-b555-b9a595727932"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 98f618b8-1dce-4dda-b555-b9a595727932
    status_code: 200
- request:
    body: '{"children": [{"type": "link_to_page", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "link_to_page": {"type": "page_id",
      "page_id": "6855b161-f63e-4683-b7c7-8ca6e97ee246"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812d-9c46-d3556b8447c4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81c3-aba1-ccc91210edd2","parent":{"type":"page_id","page_id":"20e974f3-b388-812d-9c46-d3556b8447c4"},"created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"6855b161-f63e-4683-b7c7-8ca6e97ee246"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"379e00c8-d5dd-4f88-a45a-6581744fe087"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 379e00c8-d5dd-4f88-a45a-6581744fe087
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"children": [{"type":
      "paragraph", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a
      synced paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a synced paragraph"}}], "children": [], "color": "default"}}], "synced_from":
      null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812d-9c46-d3556b8447c4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81d0-8fb9-f11351c713a7","parent":{"type":"page_id","page_id":"20e974f3-b388-812d-9c46-d3556b8447c4"},"created_time":"2025-06-10T17:49:00.000Z","last_edited_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"12a16cac-8d4a-48b9-91b4-deeb1cebdcd9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 12a16cac-8d4a-48b9-91b4-deeb1cebdcd9
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5242880}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"30e8cf17-c517-40f6-ac43-38d27f164ed3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30e8cf17-c517-40f6-ac43-38d27f164ed3
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8192-b3a8-d0fab27995a9","cover":null,"icon":null,"created_time":"2025-06-10T17:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:49:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"bJsn","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b3888192b3a8d0fab27995a9","public_url":null,"archived":false,"in_trash":false,"request_id":"db335256-8527-44a4-ac58-11db0737a7f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db335256-8527-44a4-ac58-11db0737a7f1
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Dummy DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Dummy DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8192-b3a8-d0fab27995a9
  respon[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "mention", "plain_text": "@Florian Wilhelm", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "mention": {"type": "user", "user": {"type": "person",
      "id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user", "name": "Florian
      Wilhelm", "avatar_url": "https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100",
      "person": {"email": "florian.wilhelm@gmail.com"}}}}, {"type": "text", "plain_text":
      " : ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
[...]
