interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"172974f3-b388-808a-8f5b-dfad56f3326c","created_time":"2025-01-05T11:34:00.000Z","last_edited_time":"2025-06-10T17:35:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"All
      Blocks Page Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Blocks Page Test","href":null}]}},"url":"https://www.notion.so/All-Blocks-Page-Test-172974f3b388808a8f5bdfad56f3326c","public_url":null},{"object":"page[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Item DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Size": {"type": "select", "select":
      {"options": [{"name": "S", "color": "green"}, {"name": "M", "color": "yellow"},
      {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number": {"format":
      "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-810a-98ab-cba81adf6b0f","cover":null,"icon":null,"created_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:48:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"w_AS","name":"Size","type":"select","select":{"options":[{"id":"d427fbae-e45c-4d3d-b67c-4a9693e1d095","name":"S","color":"green","description":null},{"id":"03df099e-4889-4e13-91e3-2ae4bad73772","name":"M","color":"yellow","description":null},{"id":"ea873f2c-7def-4ee5-82c1-72cc21229014","name":"L","color":"red","description":null}]}},"Price":{"id":"yTU%60","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b388810a98abcba81adf6b0f","public_url":null,"archived":false,"in_trash":false,"request_id":"4f941a36-a062-4814-bcba-aabc691516a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f941a36-a062-4814-bcba-aabc691516a0
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "single_property", "database_id": "20e974f3-b388-810a-98ab-cba81adf6b0f",
      "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-81e7-82ee-e6a1126ef080","cover":null,"icon":null,"created_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-810a-98ab-cba81adf6b0f"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "T-shirt"}}]}, "Size": {"type": "select", "select": {"name": "L", "color": "red"}},
      "Price": {"type": "number", "num[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-81e7-82ee-e6a1126ef080"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Ada Lovelace"}}]}, "Items Purchased": {"type": "relation", "relation": [{"id":
      "20e974f3-b388-811e-83bf-e28f7c757d6a"}], "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-8159-bd79-de6acaa194c7","created_time":"2025-06-10T17:48:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-81e7-82ee-e6a1126ef080"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"%5DaDG","type":"relation","relation":[{"id":"20e974f3-b388-811e-83bf-e28f7c757d6a"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-20e974f3b3888159bd79de6acaa194c7","public_url":null,"request_id":"b0b6d41f-2c0f-4aac-a849-ed8989a99d1e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b0b6d41f-2c0f-4aac-a849-ed8989a99d1e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-810a-98ab-cba81adf6b0f
  response:
    content: '{"object":"block","id":"20e974f3-b388-810a-98ab-cba81adf6b0f","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-06-10T17:48:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"8e378516-f9e6-41c6-9721-e5c5ce2dda55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e378516-f9e6-41c6-9721-e5c5ce2dda55
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "dual_property", "database_id": "20e974f3-b388-81db-8ae1-ee2b6a3cc4a9",
      "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-81fe-bd0f-f0bde71f276d","cover":null,"icon":null,"created_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:48:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%5CMJz","name":"Items
      Purchased","type":"relation","relation":{"database_id":"20e974f3-b388-81db-8ae1-ee2b6a3cc4a9","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"KI%3F_"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881febd0ff0bde71f276d","public_url":null,"archived":false,"in_trash":false,"request_id":"e4f18b39-450c-41ec-babd-6e9485f532a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e4f18b39-450c-41ec-babd-6e9485f532a2
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Task List"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date", "date":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8163-8d22-cd6f3e393f88","cover":null,"icon":null,"created_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:48:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"%3DPJz","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881638d22cd6f3e393f88","public_url":null,"archived":false,"in_trash":false,"request_id":"bb0c3a54-0033-4d2a-8b3b-003594cad151"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bb0c3a54-0033-4d2a-8b3b-003594cad151
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8163-8d22-cd6f3e393f88"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Clean the house"}}]}, "Due by": {"type": "date", "date": {"start": "2025-07-08T17:48:44.674869Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-81c8-94b2-f2d3195b66d8","created_time":"2025-06-10T17:48:00.000Z","last_edited_time":"2025-06-10T17:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8163-8d22-cd6f3e393f88"},"archived":false,"in_trash":false,"properties":{"Due
      by":{"id":"%3DPJz","type":"date","date":{"start":"2025-07-08T17:48:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"CtpB","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-20e974f3b38881c894b2f2d3195b66d8","public_url":null,"request_id":"f4554274-bdb5-4035-a8c2-dc116cac4909"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f4554274-bdb5-4035-a8c2-dc116cac4909
    status_code: 200
[...]
