interactions:
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"6855b161-f63e-4683-b7c7-8ca6e97ee246","created_time":"2023-11-05T10:35:00.000Z","last_edited_time":"2025-08-11T08:32:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-6855b161f63e4683b7c78ca6e97ee246","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"c833abf9-097d-4e05-878d-d42a37602510"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c833abf9-097d-4e05-878d-d42a37602510
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/6855b161-f63e-4683-b7c7-8ca6e97ee246/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"ff24ab83-9f2f-4375-b8ab-bbb47aafe831\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"6855b161-f63e-4683-b7c7-8ca6e97ee246\"},\"created_time\":\"2023-11-05T10:35:00.000Z\",\"last_edited_time\":\"2023-11-05T10:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"\U0001F44B
      Welcome to Notion!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"\U0001F44B
      Welcome to Notion!\",\"href\":null}],\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"2aac2fe9-2749-49fd-89cd-f3a3b226a974\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"6855b161-f63e-4683-b7c7-8ca6e97ee246\"},\"created_time\":\"2[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"257974f3-b388-81ff-b631-ef1cffd6b7fa\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-08-22T07:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-08-22T07:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Article
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Article
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of various articles\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of various articles\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Topic\":{\"id\":\"Iejy\",\"name\":\"Topic\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b4f15252-e6bf-42f5-95f9-dba2f546e9ac\",\"name\":\"Tech\",\"color\":\"green\",\"description\":null},{\"id\":\"1290049f-29e4-4c40-8ca8-29edaf6670d4\",\"name\":\"Politics\",\"color\":\"yellow\",\"description\":null},{\"id\":\"dec43045-d084-48c2-af96-36f9613ccb24\",\"name\":\"Finance\",\"color\":\"red\",\"description\":null}]}},\"Released\":{\"id\":\"xMbP\",\"name\":\"Released\",\"type\":\"date\",\"date\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/257974f3b38881ffb631ef1cffd6b7fa\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"257974f3-b388-8152-bcd9-e35e8f5721c0\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-08-22T07:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-08-22T07:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      List\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      List\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"A
      really simple task list with subtasks\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"A
      really simple task list with subtasks\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Due
      by\":{\"id\":\"BD%40%40\",\"name\":\"Due by\",\"type\":\"date\",\"date\":{}},\"Parent
      Task\":{\"id\":\"p_%5E%3C\",\"name\":\"Parent Task\",\"type\":\"relation\",\"relation\":{\"database_id\":\"257974f3-b388-8152-bcd9-e35e8f5721c0\",\"type\":\"single_property\",\"single_property\":{}}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/257974f3b3888152bcd9e35e8f5721c0\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"257974f3-b388-81b3-be3a-e5e3a039366c\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-08-22T07:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-08-22T07:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"jb%5Ev\",\"name\":\"Items Purchased\",\"type\":\"relation\",\"relation\":{\"database_id\":\"257974f3-b388-8176-bd51-edef5ed3ddf8\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"niSa\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/257974f3b38881b3be3ae5e3a039366c\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"257974f3-b388-8176-bd51-edef5ed3ddf8\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-08-22T07:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-08-22T07:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Price\":{\"id\":\"K%7DKQ\",\"name\":\"Price\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Bought
      by\":{\"id\":\"niSa\",\"name\":\"Bought by\",\"type\":\"relation\",\"relation\":{\"database_id\":\"257974f3-b388-81b3-be3a-e5e3a039366c\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"jb%5Ev\"}}},\"Size\":{\"id\":\"~dM%60\",\"name\":\"Size\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"79709647-311f-44f6-86e6-4e5ab1d065e9\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"20711d13-9982-4bcb-afd7-e9a2b6d382bc\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"9f23f544-e935-4765-b567-67ada88cdba5\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/b0cb6b70-e740-496d-9c81-8a298fa2d5e1/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"fd95fc97-3b46-4e35-a811-3b087ebd7b5d\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2025-08-20T07:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001FA91\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -4w1d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2025-07-23T17:10:00.000-04:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"status\",\"status\":{\"id\":\"7c06435c-d863-4074-8f73-051a36b3cfa4\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"131f03a1-028c-4fac-97fa-f2a5aee5a196\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Clearing
      out the cellar\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Clearing
      out the cellar\",\"href\":null}]}},\"url\"[...]
- request:
    body: '{"properties":{"Due Date":{"type":"date","date":{"start":"2024-01-08T11:00:00Z","time_zone":"UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/2fcfe2c648f54f25aa3e047e7e592aa5
  response:
    content: "{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"[...]
[...]
