interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000005","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000004"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      SubPage Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      SubPage Test","href":null}]}},"url":"https://app.notion.com/p/Markdown-SubPage-Test-00000000000040008000000000000005","public[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Article DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select",
      "select": {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics",
      "color": "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type":
      "date", "date": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"803fa91a-c89f-4efe-a01a-21fcf3d0e38e","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T20:53:14.687+00:00","last_edited_time":"2026-06-24T20:53:14.687+00:00","data_sources":[{"id":"7011efc9-b90d-4d97-b6ec-6728d3b9482c","name":"Article
      DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/803fa91ac89f4efea01a21fcf3d0e38e","public_url":null,"archived":false,"request_id":"87d8634e-8878-41dd-8c1e-712f78a9f08d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87d8634e-8878-41dd-8c1e-712f78a9f08d
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of various articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/803fa91a-c89f-4efe-a01a-21fcf3d0e38e
  resp[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/7011efc9-b90d-4d97-b6ec-6728d3b9482c
  response:
    content: '{"object":"data_source","id":"7011efc9-b90d-4d97-b6ec-6728d3b9482c","cover":null,"icon":null,"created_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "7011efc9-b90d-4d97-b6ec-6728d3b9482c"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Article 1"}}]},
      "Topic": {"type": "select", "select": {"name": "Tech", "color": "green"}}, "Released":
      {"type": "date", "date": {"start": "2026-06-24T21:53:16.389687", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81cf-994d-cf06813fdf43","created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","created_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"last_edited_by":{"object":"user","id":"3839ce7b-60a4-81d7-9c8f-0027e2be250c"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"7011efc9-b90d-4d97-b6ec-6728d3b9482c","database_id":"803fa91a-c89f-4efe-a01a-21fcf3d0e38e"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Released":{"id":"TWB%3C","type":"date","date":{"start":"2026-06-24T21:53:00.000+01:00","end":null,"time_zone":null}},"Topic":{"id":"Ve%3Ew","type":"select","select":{"id":"f1f98a9a-00ce-4c4a-9a32-50a62ee725fd","name":"Tech","color":"green"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://app.notion.com/p/Article-1-3899ce7b60a481cf994dcf06813fdf43","public_url":null,"archived":false,"request_id":"9c725b5c-1ef4-4261-8255-8141596eba73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c725b5c-1ef4-4261-8255-8141596eba73
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7011efc9-b90d-4d97-b6ec-6728d3b9482c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8188-a9e7-d2d4e6640c36","created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:00.000Z","create[...]
- request:
    body: '{"sorts": [{"property": "Released", "direction": "descending"}, {"property":
      "Name", "direction": "ascending"}], "filter": {"and": [{"select": {"equals":
      "Tech"}, "property": "Topic"}, {"date": {"this_week": {}}, "property": "Released"}]},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/7011efc9-b90d-4d97-b6ec-6728d3b9482c/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81cf-994d-cf06813fdf43","created_time":"2026-06-24T20:53:00.000Z","last_edited_time":"2026-06-24T20:53:[...]
