interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"3e5fa270-2714-4f8a-afa5-640f5ff17348","created_time":"2024-02-04T10:09:00.000Z","last_edited_time":"2024-10-14T16:04:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348","public_url":null},{"object":"page","id":"67ad5240-b1b9[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Item DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Size": {"type": "select", "select":
      {"options": [{"name": "S", "color": "green"}, {"name": "M", "color": "yellow"},
      {"name": "L", "color": "red"}]}}, "Price": {"type": "number", "number": {"format":
      "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-81c6-8aa9-fc55f616b19e","cover":null,"icon":null,"created_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:44:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Size":{"id":"ID%3EQ","name":"Size","type":"select","select":{"options":[{"id":"5881a338-1faa-4add-a30e-e189bbb510a7","name":"S","color":"green","description":null},{"id":"91a9d4db-24d9-4275-bd24-2ff70d176d8c","name":"M","color":"yellow","description":null},{"id":"23f0e0d6-ea49-4d61-b185-a50b7605f431","name":"L","color":"red","description":null}]}},"Price":{"id":"Zn%40S","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b38881c68aa9fc55f616b19e","public_url":null,"archived":false,"in_trash":false,"request_id":"ab71e44d-baa9-47ff-be4f-ca682f705b37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab71e44d-baa9-47ff-be4f-ca682f705b37
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all the items
      we sell", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Database of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "single_property", "database_id": "11f974f3-b388-81c6-8aa9-fc55f616b19e",
      "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-818d-8961-e905854ffadc","cover":null,"icon":null,"created_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "11f974f3-b388-81c6-8aa9-fc55f616b19e"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "T-shirt"}}]}, "Size": {"type": "select", "select": {"name": "L", "color": "red"}},
      "Price": {"type": "number", "num[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "11f974f3-b388-818d-8961-e905854ffadc"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Ada Lovelace"}}]}, "Items Purchased": {"type": "relation", "relation": [{"id":
      "11f974f3-b388-8157-ab4d-dc757eee7df2"}], "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81fc-b6f0-fcabe8ab390a","created_time":"2024-10-14T16:44:00.000Z","last_edited_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"11f974f3-b388-818d-8961-e905854ffadc"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"ZZ_u","type":"relation","relation":[{"id":"11f974f3-b388-8157-ab4d-dc757eee7df2"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Ada
      Lovelace","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Ada
      Lovelace","href":null}]}},"url":"https://www.notion.so/Ada-Lovelace-11f974f3b38881fcb6f0fcabe8ab390a","public_url":null,"request_id":"573adf60-680f-4173-9896-af4807edc6f9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 573adf60-680f-4173-9896-af4807edc6f9
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-8120-af24-f09081784dce
  response:
    content: '{"object":"page","id":"11f974f3-b388-8120-af24-f09081784dce","created_time":"2024-10-14T16:44:00.000Z","last_edited_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"11f974f3-b388-81c6-8aa9-fc55f616b19e"},"archived":false,"in_trash":false,"properties":{"Size":{"id":"ID%3EQ","type":"select","select":{"id":"91a9d4db-24d9-4275-bd24-2ff70d176d8c","name":"M","color":"yellow"}},"Price":{"id":"Zn%40S","type":"number","number":25},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Khaki
      pants","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Khaki
      pants","href":null}]}},"url":"https://www.notion.so/Khaki-pants-11f974f3b3888120af24f09081784dce","public_url":null,"request_id":"8152ad0b-7001-4874-ad25-febdc96dc0f7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8152ad0b-7001-4874-ad25-febdc96dc0f7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81c6-8aa9-fc55f616b19e
  response:
    content: '{"object":"block","id":"11f974f3-b388-81c6-8aa9-fc55f616b19e","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-10-14T16:44:00.000Z","last_edited_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"372a0f59-bc4e-4a07-9f00-e7ec08b6a9ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 372a0f59-bc4e-4a07-9f00-e7ec08b6a9ae
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Customer DB"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type": "relation",
      "relation": {"type": "dual_property", "database_id": "11f974f3-b388-8117-948d-fafe39fe861d",
      "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-811b-ba1e-c734c312920e","cover":null,"icon":null,"created_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:44:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%7D%5EDy","name":"Items
      Purchased","type":"relation","relation":{"database_id":"11f974f3-b388-8117-948d-fafe39fe861d","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"%3Ea%5Ey"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b388811bba1ec734c312920e","public_url":null,"archived":false,"in_trash":false,"request_id":"62b95f5a-b8e7-4a76-8c5c-cb91f2e4b73c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 62b95f5a-b8e7-4a76-8c5c-cb91f2e4b73c
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Task List"}}], "properties":
      {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date", "date":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-813e-bbf6-ed8209db2a3c","cover":null,"icon":null,"created_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:44:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"%3DXEq","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b388813ebbf6ed8209db2a3c","public_url":null,"archived":false,"in_trash":false,"request_id":"bd206030-8cdc-4d69-aa66-218bc87650a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bd206030-8cdc-4d69-aa66-218bc87650a1
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "11f974f3-b388-813e-bbf6-ed8209db2a3c"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Clean the house"}}]}, "Due by": {"type": "date", "date": {"start": "2024-11-11T17:44:56.424108Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81ca-95ab-db15de882710","created_time":"2024-10-14T16:44:00.000Z","last_edited_time":"2024-10-14T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"11f974f3-b388-813e-bbf6-ed8209db2a3c"},"archived":false,"in_trash":false,"properties":{"Due
      by":{"id":"%3DXEq","type":"date","date":{"start":"2024-11-11T17:44:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"ePaP","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-11f974f3b38881ca95abdb15de882710","public_url":null,"request_id":"a3fef50d-cc55-45d9-990d-61e5267e6298"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a3fef50d-cc55-45d9-990d-61e5267e6298
    status_code: 200
[...]
