interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null},[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Size": {"type": "select", "select": {"options": [{"name":
      "S", "color": "green"}, {"name": "M", "color": "yellow"}, {"name": "L", "color":
      "red"}]}}, "Price": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"281211f9-9498-4bad-bab3-c79ffa848bf4","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:56:48.041+00:00","last_edited_time":"2026-06-27T16:56:48.041+00:00","data_sources":[{"id":"6804d25f-0b33-46bf-9d2c-0304cd5bbdfe","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/281211f994984badbab3c79ffa848bf4","public_url":null,"request_id":"56df4297-71e6-4d74-b6da-ea8b57aae691"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56df4297-71e6-4d74-b6da-ea8b57aae691
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/281211f9-9498-4bad-bab3-c79[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/6804d25f-0b33-46bf-9d2c-0304cd5bbdfe
  response:
    content: '{"object":"data_source","id":"6804d25f-0b33-46bf-9d2c-0304cd5bbdfe","cover":null,"icon":null,"created_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:56:00.000Z","title":[],"description":[{"type":"text","text":{"content":"Database
      of all the items we sell","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all the items we sell","href":null}],"is_inline":false,"properties":{"Price":{"id":"bMAp","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Size":{"id":"scsR","name":"Size","description":null,"type":"select","select":{"options":[{"id":"4f03cb27-21da-4bdb-ab9b-b7db17b6c836","name":"S","color":"green","description":null},{"id":"5d32112a-1cfe-41c6-9172-2e92fd42aee2","name":"M","color":"yellow","description":null},{"id":"cf4a0888-d840-42eb-9476-4d64e66d75c1","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"281211f9-9498-4bad-bab3-c79ffa848bf4"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/281211f994984badbab3c79ffa848bf4","public_url":null,"in_trash":false,"request_id":"8d223a40-a037-428f-8905-8cb34d33bb70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8d223a40-a037-428f-8905-8cb34d33bb70
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "single_property", "data_source_id": "6804d25f-0b33-46bf-9d2c-0304cd5bbdfe",
      "single_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"dc3dfcfe-600e-4c6b-8174-139ef2b96b34","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:56:50.072+00:00","last_edited_time":"2026-06-27T16:56:50.072+00:00","data_sources":[{"id":"50ea6511-bfec-4318-84a2-7444c7995e99","name":"Customer
      DB"}],"icon":null,"cover":null,"url":"https://www.notion.so/dc3dfcfe600e4c6b8174139ef2b96b34","public_url":null,"request_id":"99b13cba-3d28-4da3-876d-2b62353961a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 99b13cba-3d28-4da3-876d-2b62353961a1
    status_code: 200
[...]
- request:
    body: '{"properties":{"Salary":{"type":"number","number":{"format":"number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1113b971-e8d1-4ad4-8244-05ee96652c56
  response:
    content: '{"object":"data_source","id":"1113b971-e8d1-4ad4-8244-05ee96652c56","cover":null,"icon":null,"created_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1113b971-e8d1-4ad4-8244-05ee96652c56
  response:
    content: '{"object":"data_source","id":"1113b971-e8d1-4ad4-8244-05ee96652c56","cover":null,"icon":null,"created_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
- request:
    body: '{"properties":{"Level":{"type":"select","select":{"options":[{"name":"Junior","color":"green"},{"name":"Advanced","color":"yellow"},{"name":"Senior","color":"red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1113b971-e8d1-4ad4-8244-05ee96652c56
  response:
    content: '{"object":"data_source","id":"1113b971-e8d1-4ad4-8244-05ee96652c56","cover":null,"ic[...]
[...]
- request:
    body: '{"properties":{"Salary":{"type":"formula","formula":{"expression":"50000
      + dateBetween(prop(\"Hiring Date\"), now(), \"years\")*1000"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1113b971-e8d1-4ad4-8244-05ee96652c56
  response:
    content: '{"object":"data_source","id":"1113b971-e8d1-4ad4-8244-05ee96652c56","cover":null,"icon":null,"created_time":"2026-06-27T16:56:00.000Z","created_by":{"ob[...]
[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"rich_text","rich_text":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1113b971-e8d1-4ad4-8244-05ee96652c56
  response:
    content: '{"object":"data_source","id":"1113b971-e8d1-4ad4-8244-05ee96652c56","cover":null,"icon":null,"created_time":"2026-06-27T16:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "6804d25f-0b33-46bf-9d2c-0304cd5bbdfe"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "T-shirt"}}]},
      "Size": {"type": "select", "select": {"name": "L", "color": "red"}}, "Price":
      {"type": "number", "number": 17}}}'
 [...]
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "50ea6511-bfec-4318-84a2-7444c7995e99"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ada Lovelace"}}]},
      "Items Purchased": {"type": "relation", "relation": [{"id": "38c9ce7b-60a4-81a6-b314-f47eef8f5f8c"}],
      "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-814d-af43-d779b6053790","created_time":"2026-06-27T16:57:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0[...]
[...]
- request:
    body: '{"properties":{"Size":{"type":"select","select":{"name":"S","color":"green"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a48186b51fce28be392a4a
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8186-b51f-ce28be392a4a","created_time":"2026-06-27T16:57:00.000Z","last_edited_time":"2026-06-27T16:57[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/281211f9-9498-4bad-bab3-c79ffa848bf4
  response:
    content: '{"object":"block","id":"281211f9-9498-4bad-bab3-c79ffa848bf4","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T16:56:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"b5fe7ab1-ad38-40e4-b276-65214b1ed306"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5fe7ab1-ad38-40e4-b276-65214b1ed306
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "data_source_id": "f0ab2b78-f026-4a40-b397-974afaae566f",
      "dual_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"aa78a632-50f8-4610-9cbe-eafd00632962","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:57:14.760+00:00","last_edited_time":"2026-06-27T16:57:14.760+00:00","data_sources":[{"id":"dd7e1592-168a-452b-b656-ddb384afddb5","name":"Customer
      DB"}],"icon":null,"cover":null,"url":"https://www.notion.so/aa78a63250f846109cbeeafd00632962","public_url":null,"request_id":"d729c393-c155-49d4-813d-737f1f535d4d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d729c393-c155-49d4-813d-737f1f535d4d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/dd7e1592-168a-452b-b656-ddb384afddb5
  response:
    content: '{"object":"data_source","id":"dd7e1592-168a-452b-b656-ddb384afddb5","cover":null,"icon":null,"created_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:57:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all our beloved customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all our beloved customers","href":null}],"is_inline":false,"properties":{"Items
      Purchased":{"id":"%5C%3BWQ","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"afacee7f-7148-442c-8be4-d4ea336c10de","data_source_id":"f0ab2b78-f026-4a40-b397-974afaae566f","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"kt%60c"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"aa78a632-50f8-4610-9cbe-eafd00632962"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/aa78a63250f846109cbeeafd00632962","public_url":null,"in_trash":false,"request_id":"31de6111-0ebb-4cb0-a502-ec1ead887b22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31de6111-0ebb-4cb0-a502-ec1ead887b22
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Task List"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date",
      "date": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"374e070e-6cd4-47cf-926b-7a1fa4b95032","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:57:28.056+00:00","last_edited_time":"2026-06-27T16:57:28.056+00:00","data_sources":[{"id":"ce6161db-4afe-4508-af94-8965e0525f3c","name":"Task
      List"}],"icon":null,"cover":null,"url":"https://www.notion.so/374e070e6cd447cf926b7a1fa4b95032","public_url":null,"request_id":"83fb4377-32ec-4283-8296-29fd992fde3c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 83fb4377-32ec-4283-8296-29fd992fde3c
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "ce6161db-4afe-4508-af94-8965e0525f3c"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Clean the house"}}]},
      "Due by": {"type": "date", "date": {"start": "2026-07-25T16:57:28.513237Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8177-8ab7-cf83a663b8b0","created_time":"2026-06-27T16:57:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"ce6161db-4afe-4508-af94-8965e0525f3c","database_id":"374e070e-6cd4-47cf-926b-7a1fa4b95032"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Parent
      Task":{"id":"ZVu%60","type":"relation","relation":[],"has_more":false},"Due
      by":{"id":"%5B%7C%7BF","type":"date","date":{"start":"2026-07-25T16:57:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-38c9ce7b60a481778ab7cf83a663b8b0","public_url":null,"request_id":"8d9c07eb-e7c1-4b02-a6ad-06dc53d0023f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8d9c07eb-e7c1-4b02-a6ad-06dc53d0023f
    status_code: 200
[...]
