interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:41:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null},{"object":"page","id":"29c974f3-b388-8151-b371-ef6dae596a9a","created_time":"2025-10-30T15:37:00.000Z","last_edited_time":"2025-10-30T15:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Long Code Block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Long Code Block","href":null}]}},"url":"https://www.notion.so/Test-Long-Code-Block-29c974f3b3888151b371ef6dae596a9a","public_url":nul[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Article DB"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Topic": {"type": "select", "select": {"options": [{"name":
      "Tech", "color": "green"}, {"name": "Politics", "color": "yellow"}, {"name":
      "Finance", "color": "red"}]}}, "Released": {"type": "date", "date": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8115-b204-ee8125420405","cover":null,"icon":null,"created_time":"2025-10-30T15:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:41:00.000Z","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Topic":{"id":"%3C%3ExF","name":"Topic","description":null,"type":"select","select":{"options":[{"id":"d8d991e5-1173-409d-9007-0b12f4f9d6f7","name":"Tech","color":"green","description":null},{"id":"a4c4890e-4caf-43fd-8c22-42924570c529","name":"Politics","color":"yellow","description":null},{"id":"6c33eef0-3187-42bb-83fb-2db913836559","name":"Finance","color":"red","description":null}]}},"Released":{"id":"LWnx","name":"Released","description":null,"type":"date","date":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b3888115b204ee8125420405","public_url":null,"archived":false,"in_trash":false,"request_id":"3ce16056-7181-41ee-a777-b81824aa27e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ce16056-7181-41ee-a777-b81824aa27e6
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of various articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-b204-ee8125420405
  resp[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-8115-b204-ee8125420405"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Article 1"}}]},
      "Topic": {"type": "select", "select": {"name": "Tech", "color": "green"}}, "Released":
      {"type": "date", "date": {"start": "2025-10-30T16:41:47.647362", "time_zone":
      "Europe/Berlin"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-8133-9a0f-e8cd064e0c3d","created_time":"2025-10-30T15:41:00.000Z","last_edited_time":"2025-10-30T15:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-8115-b204-ee8125420405"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Topic":{"id":"%3C%3ExF","type":"select","select":{"id":"d8d991e5-1173-409d-9007-0b12f4f9d6f7","name":"Tech","color":"green"}},"Released":{"id":"LWnx","type":"date","date":{"start":"2025-10-30T16:41:00.000+01:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-29c974f3b38881339a0fe8cd064e0c3d","public_url":null,"request_id":"a1f9646d-ca6e-41a9-a192-b8409ff4156a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1f9646d-ca6e-41a9-a192-b8409ff4156a
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-b204-ee8125420405/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8108-a5f5-f759ee1b639c","created_time":"2025-10-30T15:41:00.000Z","last_edited_time":"2025-10-30T15:41:00.000Z","created_b[...]
- request:
    body: '{"filter": {"and": [{"select": {"equals": "Tech"}, "property": "Topic"},
      {"date": {"this_week": {}}, "property": "Released"}]}, "sorts": [{"property":
      "Released", "direction": "descending"}, {"property": "Name", "direction": "ascending"}],
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8115-b204-ee8125420405/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-8133-9a0f-e8cd064e0c3d","created_time":"2025-10-30T15:41:00.000Z","last_ed[...]
