interactions:
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"6855b161-f63e-4683-b7c7-8ca6e97ee246","created_time":"2023-11-05T10:35:00.000Z","last_edited_time":"2024-06-01T19:31:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-6855b161f63e4683b7c78ca6e97ee246","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"27c25d3d-3d6c-44be-a952-c3b65f6ab1e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27c25d3d-3d6c-44be-a952-c3b65f6ab1e3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/6855b161-f63e-4683-b7c7-8ca6e97ee246/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"ff24ab83-9f2f-4375-b8ab-bbb47aafe831\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"6855b161-f63e-4683-b7c7-8ca6e97ee246\"},\"created_time\":\"2023-11-05T10:35:00.000Z\",\"last_edited_time\":\"2023-11-05T10:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"\U0001F44B
      Welcome to Notion!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"\U0001F44B
      Welcome to Notion!\",\"href\":null}],\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"2aac2fe9-2749-49fd-89cd-f3a3b226a974\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"6855b161-f63e-4683-b7c7-8ca6e97ee246\"},\"created_time\":\"2[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"200ccb0d-3c18-4a31-b8e9-9fd9fc07b50f\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-08-21T17:57:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-08-21T17:57:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"FvQg\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:IWQ%7C:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:IMPF:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:IMPF:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() > {{noti[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/b0cb6b70-e740-496d-9c81-8a298fa2d5e1/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"fd95fc97-3b46-4e35-a811-3b087ebd7b5d\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2023-12-19T20:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001FA91\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -39w6d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2023-11-16T17:10:00.000+01:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"select\",\"select\":{\"id\":\"ce60f469-5d10-4c18-937f-3e8a539f7bff\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"131f03a1-028c-4fac-97fa-f2a5aee5a196\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Clearing
      out the cellar\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Clearing
      out the cellar\",\"href\":null}]}},\"url\":\"https://www.notion.so/Clearing-out-the-cellar-fd95fc973b464e35a8113b087ebd7b5d\",\"public_url\":null},{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3[...]
- request:
    body: '{"properties": {"Due Date": {"type": "date", "date": {"start": "2024-01-08T11:00:00Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/2fcfe2c648f54f25aa3e047e7e592aa5
  response:
    content: "{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":\"2023-12-02T16:1[...]
[...]
