interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null},[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Article DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Article DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Topic": {"type": "select",
      "select": {"options": [{"name": "Tech", "color": "green"}, {"name": "Politics",
      "color": "yellow"}, {"name": "Finance", "color": "red"}]}}, "Released": {"type":
      "date", "date": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"941c8871-b48d-441a-93a7-bbfbb05b77ad","title":[{"type":"text","text":{"content":"Article
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:57:33.066+00:00","last_edited_time":"2026-06-27T16:57:33.066+00:00","data_sources":[{"id":"bcdb0ae4-979f-41ee-b950-bedc09e7542b","name":"Article
      DB"}],"icon":null,"cover":null,"url":"https://www.notion.so/941c8871b48d441a93a7bbfbb05b77ad","public_url":null,"request_id":"04d6bd30-599b-4180-9306-45109d67cae8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 04d6bd30-599b-4180-9306-45109d67cae8
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of various articles","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of various articles"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/941c8871-b48d-441a-93a7-bbfbb05b77ad
  resp[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/bcdb0ae4-979f-41ee-b950-bedc09e7542b
  response:
    content: '{"object":"data_source","id":"bcdb0ae4-979f-41ee-b950-bedc09e7542b","cover":null,"icon":null,"created_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0000[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "bcdb0ae4-979f-41ee-b950-bedc09e7542b"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Article 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Article 1"}}]},
      "Topic": {"type": "select", "select": {"name": "Tech", "color": "green"}}, "Released":
      {"type": "date", "date": {"start": "2026-06-27T17:57:32.424991", "time_zone":
      "Europe/London"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8128-8d53-d5d4642a0a6f","created_time":"2026-06-27T16:57:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"bcdb0ae4-979f-41ee-b950-bedc09e7542b","database_id":"941c8871-b48d-441a-93a7-bbfbb05b77ad"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Topic":{"id":"SFvM","type":"select","select":{"id":"bfe1efef-ee76-4620-9a5c-8b3d1aea3108","name":"Tech","color":"green"}},"Released":{"id":"sw~V","type":"date","date":{"start":"2026-06-27T17:57:00.000+01:00","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Article
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Article
      1","href":null}]}},"url":"https://www.notion.so/Article-1-38c9ce7b60a481288d53d5d4642a0a6f","public_url":null,"request_id":"1bcb1aa8-3832-4295-852f-6e283d712038"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1bcb1aa8-3832-4295-852f-6e283d712038
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/bcdb0ae4-979f-41ee-b950-bedc09e7542b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-816b-ac02-fed503fcce61","created_time":"2026-06-27T16:57:00.000Z","last_edited_time":"2026-06-27T16:57:00.000Z","create[...]
- request:
    body: '{"sorts": [{"property": "Released", "direction": "descending"}, {"property":
      "Name", "direction": "ascending"}], "filter": {"and": [{"select": {"equals":
      "Tech"}, "property": "Topic"}, {"date": {"this_week": {}}, "property": "Released"}]},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/bcdb0ae4-979f-41ee-b950-bedc09e7542b/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8128-8d53-d5d4642a0a6f","created_time":"2026-06-27T16:57:00.000Z","last_edited_time":"2026-06-27T16:57:[...]
