interactions:
- request:
    body: '{"query": "Getting Started", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000002","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-00000000000040008000000000000002","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"bdd888b2-0ef0-4a4a-b8bb-2eb3bf6a99de"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bdd888b2-0ef0-4a4a-b8bb-2eb3bf6a99de
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000002/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3839ce7b-60a4-81b9-bf08-e2ffe9c45dd7","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}],"is_toggleable":false,"color":"default"},"archived":false},{"object":"block","id":"3839ce7b-60a4-814c-bcae-de517303167d","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000002"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Ultimate Notion test workspace.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Welcome
      to the Ultimate Notion test workspace.","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"091dbca6-7601-4bf2-9bf5-48a482bbec31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 091dbca6-7601-4bf2-9bf5-48a482bbec31
    status_code: 200
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"04dc7c24-da8d-4c20-890f-c65aea7762bc\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T05:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T05:53:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"f%60xM\",\"name\":\"Items Purchased\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"9c4f7538-dec7-46a1-863f-25448783604b\",\"data_source_id\":\"dbcd8b17-61d2-47a0-aa6b-98331f86716a\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"I%3BjI\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"902dc702-6b34-4585-a226-207144a5cdd8\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/902dc7026b344585a226207144a5cdd8\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"e2076a5a-7fb7-478e-ae37-46e2e095479c\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T05:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T05:53:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"ozHP\",\"name\":\"Items Purchased\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"a31e4f0d-4b75-412a-86a5-fb3857c84ab6\",\"data_source_id\":\"4c3c9a2c-8697-4665-a2c8-d06c393e95dc\",\"type\":\"single_property\",\"single_property\":{}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"fef6b55b-f9b5-4910-b1e9-de1fbb2b5679\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/fef6b55bf9b54910b1e9de1fbb2b5679\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"data_source\",\"id\":\"cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T05:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T05:53:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Employee
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Employee
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      holding all our employees\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      holding all our employees\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Level\":{\"id\":\"m%5DG%7C\",\"name\":\"Level\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"62194168-bbff-47c2-860c-f9bd33a6a53d\",\"name\":\"Junior\",\"color\":\"green\",\"description\":null},{\"id\":\"3485ca6f-36e3-45d4-b766-b3a6ce5ee514\",\"name\":\"Advanced\",\"color\":\"yellow\",\"description\":null},{\"id\":\"a30ab0b4-8ce1-495d-b710-10d5e3008efa\",\"name\":\"Senior\",\"color\":\"red\",\"description\":null},{\"id\":\"aff821db-1e8b-4702-b76c-ca084afc11e5\",\"name\":\"Partner\",\"color\":\"pink\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"desc[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8148-99ed-000b1e2cf103/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81f0-83fa-d8760bde3566\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"database_id\":\"00000000-0000-4000-8000-00000000000c\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"type\":\"select\",\"select\":{\"id\":\"8954e2f9-27d7-4b5d-ae76-5efa3002defe\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\"}},\"Status\":{\"id\":\"U%60%3BC\",\"type\":\"status\",\"status\":{\"id\":\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\",\"name\":\"Done\",\"color\":\"green\"}},\"Urgency\":{\"id\":\"jkwd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\u2705\"}},\"Due
      Date\":{\"id\":\"lwnn\",\"type\":\"date\",\"date\":{\"start\":\"2026-06-18T00:00:00.000+00:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Ship
      release\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Ship
      release\",\"href\":null}]}},\"url\":\"https://www.notion.so/Ship-release-3839ce7b60a481f083fad8760bde3566\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-8135-8cb7-c6657a2dd0d5[...]
- request:
    body: '{"properties":{"Due Date":{"type":"date","date":{"start":"2024-01-08T12:00:00Z","time_zone":"UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3839ce7b60a481c8867af81fd71aa55c
  response:
    content: "{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81c8-867a-f81fd71aa55c\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"[...]
[...]
