interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"90291ccf-948c-4aa2-bd7c-6b977f69bba6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Item DB", "text": {"content": "Item DB"},
      "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}, "Size":
      {"select": {"options": [{"name": "S", "color": "green"}, {"name": "M", "color":
      "yellow"}, {"name": "L", "color": "red"}]}, "type": "select"}, "Price": {"number":
      {"format": "dollar"}, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"834dbf2a-b89f-4307-9743-507fec93bf10","cover":null,"icon":null,"created_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:38:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"Fn%7Cm","name":"Price","type":"number","number":{"format":"dollar"}},"Size":{"id":"ZSBa","name":"Size","type":"select","select":{"options":[{"id":"83df0678-d3ff-4b3a-a2d8-2eef3971fa00","name":"S","color":"green","description":null},{"id":"4c830ba9-4e65-42a5-ada7-480d59f18ad4","name":"M","color":"yellow","description":null},{"id":"a6f26cb6-4e48-4d15-ad8d-a32bee89dbfa","name":"L","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/834dbf2ab89f43079743507fec93bf10","public_url":null,"archived":false,"request_id":"03245a72-332c-4598-9267-249e5b32e522"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Database of all the items we sell", "text":
      {"content": "Database of all the items we sell"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/834dbf2a-b89f-4307-9743-507fec93bf10
  response:
    content: '{"object":"database","id":"834dbf2a-b89f-4307-9743-507fec93b[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "834dbf2a-b89f-4307-9743-507fec93bf10",
      "type": "single_property", "single_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"62f4f59d-5871-4728-9131-f7a3289d6366","cover":null,"icon":null,"created_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:38:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"cO%3BW","name":"Items
      Purchased","type":"relation","relation":{"database_id":"834dbf2a-b89f-4307-9743-507fec93bf10","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/62f4f59d587147289131f7a3289d6366","public_url":null,"archived":false,"request_id":"02c3824e-3340-484f-b500-152b6ecef4ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "834dbf2a-b89f-4307-9743-507fec93bf10", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "T-shirt",
      "text": {"content": "T-shirt"}, "type": "text"}], "type": "title"}, "Size":
      {"select": {"name": "L", "color": "red"}, "type": "select"}, "Price": {"number":
      17.0, "type": "number"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/834dbf2a-b89f-4307-9743-507fec93bf10
  response:
    content: '{"object":"block","id":"834dbf2a-b89f-4307-9743-507fec93bf10","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-02-14T17:38:00.000Z","last_edited_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Item
      DB"},"request_id":"e9bbb4e0-c709-448c-8883-71344d44e38e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Customer DB", "text": {"content": "Customer
      DB"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}},
      "Items Purchased": {"relation": {"database_id": "08af14a1-a230-4ef2-9763-8d7c4fb6cc87",
      "type": "dual_property", "dual_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f8262c73-1ce7-4be7-9731-309ba62d9e57","cover":null,"icon":null,"created_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:38:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Items Purchased":{"id":"%3E%5DNx","name":"Items
      Purchased","type":"relation","relation":{"database_id":"08af14a1-a230-4ef2-9763-8d7c4fb6cc87","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"%7CS%7CV"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f8262c731ce74be79731309ba62d9e57","public_url":null,"archived":false,"request_id":"56e774ea-6909-4b5b-ae7a-9ba02d4a0583"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Task List", "text": {"content": "Task
      List"}, "type": "text"}], "properties": {"Task": {"type": "title", "title":
      {}}, "Due by": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cc4fa0cd-864a-43d9-b2c8-1ca9f81a4e48","cover":null,"icon":null,"created_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:38:00.000Z","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"is_inline":false,"properties":{"Due by":{"id":"uo%7D%7C","name":"Due
      by","type":"date","date":{}},"Task":{"id":"title","name":"Task","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/cc4fa0cd864a43d9b2c81ca9f81a4e48","public_url":null,"archived":false,"request_id":"aca5d00a-f35a-48eb-9720-669b932d9524"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "cc4fa0cd-864a-43d9-b2c8-1ca9f81a4e48", "type":
      "database_id"}, "properties": {"Task": {"title": [{"plain_text": "Clean the
      house", "text": {"content": "Clean the house"}, "type": "text"}], "type": "title"},
      "Due by": {"date": {"start": "2024-03-13T18:38:20.104017"}, "type": "date"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c8d13012-cf6a-4ea4-805a-ebc71689216d","created_time":"2024-02-14T17:38:00.000Z","last_edited_time":"2024-02-14T17:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"cc4fa0cd-864a-43d9-b2c8-1ca9f81a4e48"},"archived":false,"properties":{"Parent
      Task":{"id":"Q%3A%3Ej","type":"relation","relation":[],"has_more":false},"Due
      by":{"id":"uo%7D%7C","type":"date","date":{"start":"2024-03-13T18:38:00.000+00:00","end":null,"time_zone":null}},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-c8d13012cf6a4ea4805aebc71689216d","public_url":null,"request_id":"8b1dd484-7183-4cd1-9266-5ad243333b3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
