interactions:
- request:
    body: '{"query": "Tests", "filter": {"property": "object", "value": "page"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000003","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-25T17:07:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Text Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Text Test","href":null}]}},"url":"https://www.notion.so/Markdown-Text-Test-00000000000040008000000000000003","public_url":null,"[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Size": {"type": "select", "select": {"options": [{"name":
      "S", "color": "green"}, {"name": "M", "color": "yellow"}, {"name": "L", "color":
      "red"}]}}, "Price": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a31e4f0d-4b75-412a-86a5-fb3857c84ab6","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:53:19.520+00:00","last_edited_time":"2026-06-27T05:53:19.520+00:00","data_sources":[{"id":"4c3c9a2c-8697-4665-a2c8-d06c393e95dc","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/a31e4f0d4b75412a86a5fb3857c84ab6","public_url":null,"archived":false,"request_id":"a1bae3ae-bb82-4bc2-acd9-a53c7bd79122"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1bae3ae-bb82-4bc2-acd9-a53c7bd79122
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all the items
      we sell","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all the items we sell"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/a31e4f0d-4b75-412a-86a5-fb3[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/4c3c9a2c-8697-4665-a2c8-d06c393e95dc
  response:
    content: '{"object":"data_source","id":"4c3c9a2c-8697-4665-a2c8-d06c393e95dc","cover":null,"icon":null,"created_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:53:00.000Z","title":[],"description":[{"type":"text","text":{"content":"Database
      of all the items we sell","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all the items we sell","href":null}],"is_inline":false,"properties":{"Size":{"id":"SXHU","name":"Size","description":null,"type":"select","select":{"options":[{"id":"06191281-e768-479d-b294-1c93498566a5","name":"S","color":"green","description":null},{"id":"6df2d953-d32c-434b-b0a1-b608f17c356c","name":"M","color":"yellow","description":null},{"id":"29ced9c6-e706-4fb1-a315-e61118b14b85","name":"L","color":"red","description":null}]}},"Price":{"id":"gQ%3Ex","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a31e4f0d-4b75-412a-86a5-fb3857c84ab6"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/a31e4f0d4b75412a86a5fb3857c84ab6","public_url":null,"in_trash":false,"archived":false,"request_id":"fc6d7b01-262a-43e2-82dc-39c349533c7f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc6d7b01-262a-43e2-82dc-39c349533c7f
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "single_property", "data_source_id": "4c3c9a2c-8697-4665-a2c8-d06c393e95dc",
      "single_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fef6b55b-f9b5-4910-b1e9-de1fbb2b5679","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:53:21.413+00:00","last_edited_time":"2026-06-27T05:53:21.413+00:00","data_sources":[{"id":"e2076a5a-7fb7-478e-ae37-46e2e095479c","name":"Customer
      DB"}],"icon":null,"cover":null,"url":"https://www.notion.so/fef6b55bf9b54910b1e9de1fbb2b5679","public_url":null,"archived":false,"request_id":"a8a28009-b298-4516-83a5-d8bb47d1b79b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8a28009-b298-4516-83a5-d8bb47d1b79b
    status_code: 200
[...]
- request:
    body: '{"properties":{"Salary":{"type":"number","number":{"format":"number"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e
  response:
    content: '{"object":"data_source","id":"cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e","cover":null,"icon":null,"created_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e
  response:
    content: '{"object":"data_source","id":"cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e","cover":null,"icon":null,"created_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
- request:
    body: '{"properties":{"Level":{"type":"select","select":{"options":[{"name":"Junior","color":"green"},{"name":"Advanced","color":"yellow"},{"name":"Senior","color":"red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e
  response:
    content: '{"object":"data_source","id":"cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e","cover":null,"ic[...]
[...]
- request:
    body: '{"properties":{"Salary":{"type":"formula","formula":{"expression":"50000
      + dateBetween(prop(\"Hiring Date\"), now(), \"years\")*1000"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e
  response:
    content: '{"object":"data_source","id":"cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e","cover":null,"icon":null,"created_time":"2026-06-27T05:53:00.000Z","created_by":{"ob[...]
[...]
- request:
    body: '{"properties":{"Hiring Date":{"type":"rich_text","rich_text":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e
  response:
    content: '{"object":"data_source","id":"cc47e1dc-6756-4f0b-a0be-463a1a0dbd0e","cover":null,"icon":null,"created_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "4c3c9a2c-8697-4665-a2c8-d06c393e95dc"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "T-shirt", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "T-shirt"}}]},
      "Size": {"type": "select", "select": {"name": "L", "color": "red"}}, "Price":
      {"type": "number", "number": 17}}}'
 [...]
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "e2076a5a-7fb7-478e-ae37-46e2e095479c"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Ada Lovelace", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Ada Lovelace"}}]},
      "Items Purchased": {"type": "relation", "relation": [{"id": "38c9ce7b-60a4-81f3-ac9f-f80d6291efb7"}],
      "has_more": false}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8129-b0ea-fe468c2ed05f","created_time":"2026-06-27T05:53:00.000Z","last_edited_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0[...]
[...]
- request:
    body: '{"properties":{"Size":{"type":"select","select":{"name":"S","color":"green"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481c1b011c72375092fa5
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81c1-b011-c72375092fa5","created_time":"2026-06-27T05:53:00.000Z","last_edited_time":"2026-06-27T05:53[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a31e4f0d-4b75-412a-86a5-fb3857c84ab6
  response:
    content: '{"object":"block","id":"a31e4f0d-4b75-412a-86a5-fb3857c84ab6","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T05:53:00.000Z","last_edited_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"bcde1c07-d7ac-45e0-bab8-a7df05a9e34e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bcde1c07-d7ac-45e0-bab8-a7df05a9e34e
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Customer DB"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "data_source_id": "dbcd8b17-61d2-47a0-aa6b-98331f86716a",
      "dual_property": {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"902dc702-6b34-4585-a226-207144a5cdd8","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:53:47.184+00:00","last_edited_time":"2026-06-27T05:53:47.184+00:00","data_sources":[{"id":"04dc7c24-da8d-4c20-890f-c65aea7762bc","name":"Customer
      DB"}],"icon":null,"cover":null,"url":"https://www.notion.so/902dc7026b344585a226207144a5cdd8","public_url":null,"archived":false,"request_id":"bc193038-3a1d-4938-a089-0ae46fe44129"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bc193038-3a1d-4938-a089-0ae46fe44129
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/04dc7c24-da8d-4c20-890f-c65aea7762bc
  response:
    content: '{"object":"data_source","id":"04dc7c24-da8d-4c20-890f-c65aea7762bc","cover":null,"icon":null,"created_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:53:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all our beloved customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all our beloved customers","href":null}],"is_inline":false,"properties":{"Items
      Purchased":{"id":"f%60xM","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"9c4f7538-dec7-46a1-863f-25448783604b","data_source_id":"dbcd8b17-61d2-47a0-aa6b-98331f86716a","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB (Items Purchased)","synced_property_id":"I%3BjI"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"902dc702-6b34-4585-a226-207144a5cdd8"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/902dc7026b344585a226207144a5cdd8","public_url":null,"in_trash":false,"archived":false,"request_id":"70dfd915-a7b9-40cf-875b-eb78833b739f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 70dfd915-a7b9-40cf-875b-eb78833b739f
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Task List", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Task List"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Task": {"type": "title", "title": {}}, "Due by": {"type": "date",
      "date": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"5bd5cf2e-f30d-4a96-afd0-bbee10ceb037","title":[{"type":"text","text":{"content":"Task
      List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      List","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:53:51.948+00:00","last_edited_time":"2026-06-27T05:53:51.948+00:00","data_sources":[{"id":"3b359dd2-8282-4b08-bf31-c329a95fe58d","name":"Task
      List"}],"icon":null,"cover":null,"url":"https://www.notion.so/5bd5cf2ef30d4a96afd0bbee10ceb037","public_url":null,"archived":false,"request_id":"b7abdada-50c8-4c0a-906c-c001f4da1b60"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b7abdada-50c8-4c0a-906c-c001f4da1b60
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "3b359dd2-8282-4b08-bf31-c329a95fe58d"},
      "properties": {"Task": {"type": "title", "title": [{"type": "text", "plain_text":
      "Clean the house", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Clean the house"}}]},
      "Due by": {"type": "date", "date": {"start": "2026-07-25T05:53:52.313440Z",
      "time_zone": "UTC"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8104-b630-fa04340417be","created_time":"2026-06-27T05:53:00.000Z","last_edited_time":"2026-06-27T05:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3b359dd2-8282-4b08-bf31-c329a95fe58d","database_id":"5bd5cf2e-f30d-4a96-afd0-bbee10ceb037"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Due
      by":{"id":"EpLE","type":"date","date":{"start":"2026-07-25T05:53:00.000+00:00","end":null,"time_zone":null}},"Parent
      Task":{"id":"QfPX","type":"relation","relation":[],"has_more":false},"Task":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Clean
      the house","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Clean
      the house","href":null}]}},"url":"https://www.notion.so/Clean-the-house-38c9ce7b60a48104b630fa04340417be","public_url":null,"archived":false,"request_id":"bf27797f-43e7-4ee5-8d3d-3cf660e75c1c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf27797f-43e7-4ee5-8d3d-3cf660e75c1c
    status_code: 200
[...]
