interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000003/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-8164-9877-c47b2b666481\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000003\"},\"created_time\":\"2026-06-25T17:07:00.000Z\",\"last_edited_time\":\"2026-06-25T17:07:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"here
      is something \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"here
      is something \",\"href\":null},{\"type\":\"text\",\"text\":{\"content\":\"very\",\"link\":null},\"annotations\":{\"bold\":true,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"very\",\"href\":null},{\"type\":\"text\",\"text\":{\"content\":\"
      \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"
      \",\"href\":null},{\"type\":\"text\",[...]
