interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/0c8ea7f1-c7ca-4abb-8890-085c0fac383b/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"51b0f896-effd-4acf-95d4-0052301fd5b7\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"0c8ea7f1-c7ca-4abb-8890-085c0fac383b\"},\"created_time\":\"2024-01-27T16:13:00.000Z\",\"last_edited_time\":\"2024-01-28T19:38:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"here
      is something \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"here
      is something \",\"href\":null},{\"type\":\"text\",\"text\":{\"content\":\"very\",\"link\":null},\"annotations\":{\"bold\":true,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"very\",\"href\":null},{\"type\":\"text\",\"text\":{\"content\":\"
      \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"
      \",\"href\":null},{\"type\":\"text\",[...]
