interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"18fa6f85-4c45-43fe-93ef-10d91e1cdfb0","cover":null,"icon":null,"created_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-22T16:04:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"Qv%60R","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"RiIA","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"cHEk","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"dQyg","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"x%3Awc","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/18fa6f854c4543fe93ef10d91e1cdfb0","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "18fa6f85-4c45-43fe-93ef-10d91e1cdfb0"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4b463f60-7ea0-4c59-abfd-ba42fece697e","created_time":"2022-08-22T16:04:00.000Z","last_edited_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"18fa6f85-4c45-43fe-93ef-10d91e1cdfb0"},"archived":false,"properties":{"Index":{"id":"Qv%60R","type":"number","number":null},"Tags":{"id":"RiIA","type":"multi_select","multi_select":[]},"Notes":{"id":"cHEk","type":"rich_text","rich_text":[]},"Complete":{"id":"dQyg","type":"checkbox","checkbox":false},"Due
      Date":{"id":"x%3Awc","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/4b463f607ea04c59abfdba42fece697e"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4b463f607ea04c59abfdba42fece697e
  response:
    content: '{"object":"page","id":"4b463f60-7ea0-4c59-abfd-ba42fece697e","created_time":"2022-08-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases/18fa6f85-4c45-43fe-93ef-10d91e1cdfb0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"4b463f60-7ea0-4c59-abfd-ba42fece697e","created_time":"2022-08-22T16:04:00.000Z","last_edited_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"18fa6f85-4c45-43fe-93ef-10d91e1cdfb0"},"archived":false,"properties":{"Index":{"id":"Qv%60R","type":"number","number":null},"Tags":{"id":"RiIA","type":"multi_select","multi_select":[]},"Notes":{"id":"cHEk","type":"rich_text","rich_text":[]},"Complete":{"id":"dQyg","type":"checkbox","checkbox":false},"Due
      Date":{"id":"x%3Awc","type":"date","date":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-4b463f607ea04c59abfdba42fece697e"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/18fa6f854c4543fe93ef10d91e1cdfb0
  response:
    content: '{"object":"block","id":"18fa6f85-4c45-43fe-93ef-10d91e1cdfb0","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-22T16:04:00.000Z","last_edited_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
