interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "TestDB_for_id", "text": {"content":
      "TestDB_for_id"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"179192fd-eb0a-4aae-b76e-86a76b6b022e","cover":null,"icon":null,"created_time":"2022-09-05T12:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-09-05T12:19:00.000Z","title":[{"type":"text","text":{"content":"TestDB_for_id","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"TestDB_for_id","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/179192fdeb0a4aaeb76e86a76b6b022e","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"query": "TestDB_for_id", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"database","id":"179192fd-eb0a-4aae-b76e-86a76b6b022e","cover":null,"icon":null,"created_time":"2022-09-05T12:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-09-05T12:19:00.000Z","title":[{"type":"text","text":{"content":"TestDB_for_id","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"TestDB_for_id","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/179192fdeb0a4aaeb76e86a76b6b022e","archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/databases/179192fd-eb0a-4aae-b76e-86a76b6b022e
  response:
    content: '{"object":"database","id":"179192fd-eb0a-4aae-b76e-86a76b6b022e","cover":null,"icon":null,"created_time":"2022-09-05T12:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-09-05T12:19:00.000Z","title":[{"type":"text","text":{"content":"TestDB_for_id","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"TestDB_for_id","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/179192fdeb0a4aaeb76e86a76b6b022e","archived":false}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/179192fdeb0a4aaeb76e86a76b6b022e
  response:
    content: '{"object":"block","id":"179192fd-eb0a-4aae-b76e-86a76b6b022e","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-09-05T12:19:00.000Z","last_edited_time":"2022-09-05T12:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"TestDB_for_id"}}'
    headers: {}
    status_code: 200
version: 1
