interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/test_records.py::test_page_cover (setup)", "text": {"content": "tests/test_records.py::test_page_cover
      (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"dccd8742-db9a-401e-ad12-967c419ae536","created_time":"2022-07-24T23:46:00.000Z","last_edited_time":"2022-07-24T23:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_page_cover-setup-dccd8742db9a401ead12967c419ae536"}'
    headers: {}
    status_code: 200
- request:
    body: '{"cover": {"type": "external", "external": {"url": "https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/dccd8742db9a401ead12967c419ae536
  response:
    content: '{"object":"page","id":"dccd8742-db9a-401e-ad12-967c419ae536","created_time":"2022-07-24T23:46:00.000Z","last_edited_time":"2022-07-24T23:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_page_cover-setup-dccd8742db9a401ead12967c419ae536"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/pages/dccd8742-db9a-401e-ad12-967c419ae536
  response:
    content: '{"object":"page","id":"dccd8742-db9a-401e-ad12-967c419ae536","created_time":"2022-07-24T23:46:00.000Z","last_edited_time":"2022-07-24T23:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_page_cover-setup-dccd8742db9a401ead12967c419ae536"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/35f84f46876d47759a17e7732ce85c2e
  response:
    content: '{"object":"page","id":"35f84f46-876d-4775-9a17-e7732ce85c2e","created_time":"2022-07-24T23:55:00.000Z","last_edited_time":"2022-07-24T23:55:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":{"type":"external","external":{"url":"https://raw.githubusercontent.com/jheddings/notional/main/tests/data/loved.png"}},"icon":null,"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/test_records.py::test_page_cover
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_page_cover
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-test_records-py-test_page_cover-setup-35f84f46876d47759a17e7732ce85c2e"}'
    headers: {}
    status_code: 200
version: 1
