interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "250662d9-783d-483c-b131-341ed479f96c"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f9711547-0b4b-438a-b6a4-d3770f7b25fa","cover":null,"icon":null,"created_time":"2022-07-24T23:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_time":"2022-07-24T23:46:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Notes":{"id":"RMQa","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"%5CKrF","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"joJc","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Complete":{"id":"uT%7D%3E","name":"Complete","type":"checkbox","checkbox":{}},"Due
      Date":{"id":"ylFY","name":"Due Date","type":"date","date":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"url":"https://www.notion.so/f97115470b4b438ab6a4d3770f7b25fa","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f9711547-0b4b-438a-b6a4-d3770f7b25fa"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a3e3d443-5513-4cdb-9586-bfba1690d917","created_time":"2022-07-24T23:46:00.000Z","last_edited_time":"2022-07-24T23:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f9711547-0b4b-438a-b6a4-d3770f7b25fa"},"archived":false,"properties":{"Notes":{"id":"RMQa","type":"rich_text","rich_text":[]},"Index":{"id":"%5CKrF","type":"number","number":null},"Tags":{"id":"joJc","type":"multi_select","multi_select":[]},"Complete":{"id":"uT%7D%3E","type":"checkbox","checkbox":false},"Due
      Date":{"id":"ylFY","type":"date","date":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/a3e3d44355134cdb9586bfba1690d917"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/a3e3d44355134cdb9586bfba1690d917
  response:
    content: "{\"object\":\"page\",\"id\":\"a3e3d443-5513-4cdb-9586-bfba1690d917\",\"created_time\":\"2022-07-24T23:46:00.000Z\",\"last_edited_time\":\"2022-07-24T23:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"6860cd48-ced8-41b3-b824-c7d039085db1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"f9711547-0b4b-438a-b6a4-d3770f7b25fa\"},\"archived\":false,\"properties\":{\"Notes\":{\"id\":\"RMQa\",\"type\":\"rich_text\",\"rich_text\":[]},\"Index\":{\"id\":\"%5CKrF\",\"type\":\"number\",\"number\":null},\"Tags\":{\"id\":\"joJc\",\"type\":\"multi_select\",\"multi_select\":[]},\"Complete\":{\"id\":\"uT%7D%3E\",\"type\":\"checkbox\",\"checkbox\":false},\"Due
      Date\":{\"id\":\"ylFY\",\"type\":\"date\",\"date\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/a3e3d44355134cdb9586bfba1690d917\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f97115470b4b438ab6a4d3770f7b25fa
  response:
    content: '{"object":"block","id":"f9711547-0b4b-438a-b6a4-d3770f7b25fa","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-07-24T23:46:00.000Z","last_edited_time":"2022-07-24T23:46:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/050ebd428097486eb87e4893521c5a8a
  response:
    content: '{"object":"block","id":"050ebd42-8097-486e-b87e-4893521c5a8a","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-07-24T23:55:00.000Z","last_edited_time":"2022-07-24T23:55:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
