interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_orm_icon (setup)",
      "text": {"content": "tests/test_orm.py::test_orm_icon (setup)"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Index": {"type": "number", "number":
      {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text": {}}, "Complete":
      {"type": "checkbox", "checkbox": {}}, "Due Date": {"type": "date", "date": {}},
      "Tags": {"type": "multi_select", "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d689b697-a4b3-4d67-b758-a18661120aed","cover":null,"icon":null,"created_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-22T16:04:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Complete":{"id":"Nw%3EL","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"O%5BZW","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"QA%3Fv","name":"Due Date","type":"date","date":{}},"Index":{"id":"%60q~e","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"yTXJ","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/d689b697a4b34d67b758a18661120aed","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "d689b697-a4b3-4d67-b758-a18661120aed"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"04a4a5e6-a2c3-4fca-8d55-d5fba709442c","created_time":"2022-08-22T16:04:00.000Z","last_edited_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"d689b697-a4b3-4d67-b758-a18661120aed"},"archived":false,"properties":{"Complete":{"id":"Nw%3EL","type":"checkbox","checkbox":false},"Tags":{"id":"O%5BZW","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"QA%3Fv","type":"date","date":null},"Index":{"id":"%60q~e","type":"number","number":null},"Notes":{"id":"yTXJ","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/04a4a5e6a2c34fca8d55d5fba709442c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/04a4a5e6a2c34fca8d55d5fba709442c
  response:
    content: "{\"object\":\"page\",\"id\":\"04a4a5e6-a2c3-4fca-8d55-d5fba709442c\",\"created_time\":\"2022-08-22T16:04:00.000Z\",\"last_edited_time\":\"2022-08-22T16:04:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"d689b697-a4b3-4d67-b758-a18661120aed\"},\"archived\":false,\"properties\":{\"Complete\":{\"id\":\"Nw%3EL\",\"type\":\"checkbox\",\"checkbox\":false},\"Tags\":{\"id\":\"O%5BZW\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"QA%3Fv\",\"type\":\"date\",\"date\":null},\"Index\":{\"id\":\"%60q~e\",\"type\":\"number\",\"number\":null},\"Notes\":{\"id\":\"yTXJ\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/04a4a5e6a2c34fca8d55d5fba709442c\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d689b697a4b34d67b758a18661120aed
  response:
    content: '{"object":"block","id":"d689b697-a4b3-4d67-b758-a18661120aed","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-22T16:04:00.000Z","last_edited_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
