interactions:
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "archived": false, "divider": {}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/250662d9783d483cb131341ed479f96c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"0fd27a33-8f7e-415c-b3a0-3e19dd29b7bf","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-07-24T23:45:00.000Z","last_edited_time":"2022-07-24T23:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"divider","divider":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/blocks/0fd27a33-8f7e-415c-b3a0-3e19dd29b7bf
  response:
    content: '{"object":"block","id":"0fd27a33-8f7e-415c-b3a0-3e19dd29b7bf","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-07-24T23:45:00.000Z","last_edited_time":"2022-07-24T23:45:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":false,"type":"divider","divider":{}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/42176f1330e24686a7203dac05525535
  response:
    content: '{"object":"block","id":"42176f13-30e2-4686-a720-3dac05525535","parent":{"type":"page_id","page_id":"250662d9-783d-483c-b131-341ed479f96c"},"created_time":"2022-07-24T23:54:00.000Z","last_edited_time":"2022-07-24T23:54:00.000Z","created_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"last_edited_by":{"object":"user","id":"6860cd48-ced8-41b3-b824-c7d039085db1"},"has_children":false,"archived":true,"type":"divider","divider":{}}'
    headers: {}
    status_code: 200
version: 1
