interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/test_records.py::test_create_database
      (setup)", "text": {"content": "tests/test_records.py::test_create_database (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0f5e126d-04fa-4bd5-b825-d5427e3c831d","cover":null,"icon":null,"created_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-22T16:04:00.000Z","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/0f5e126d04fa4bd5b825d5427e3c831d","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/databases/0f5e126d-04fa-4bd5-b825-d5427e3c831d
  response:
    content: '{"object":"database","id":"0f5e126d-04fa-4bd5-b825-d5427e3c831d","cover":null,"icon":null,"created_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-22T16:04:00.000Z","title":[{"type":"text","text":{"content":"tests/test_records.py::test_create_database
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_records.py::test_create_database
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/0f5e126d04fa4bd5b825d5427e3c831d","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/blocks/0f5e126d04fa4bd5b825d5427e3c831d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0f5e126d04fa4bd5b825d5427e3c831d
  response:
    content: '{"object":"block","id":"0f5e126d-04fa-4bd5-b825-d5427e3c831d","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-22T16:04:00.000Z","last_edited_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_records.py::test_create_database
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
