interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"335bf352-b04f-4c9a-b5a2-d089a3e01baa","cover":null,"icon":null,"created_time":"2022-08-22T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-22T16:03:00.000Z","title":[{"type":"text","text":{"content":"tests/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"ES%3B%5C","name":"Due Date","type":"date","date":{}},"Notes":{"id":"TQ%40%3C","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"U%3AsM","name":"Complete","type":"checkbox","checkbox":{}},"Index":{"id":"%5B%40IW","name":"Index","type":"number","number":{"format":"number"}},"Tags":{"id":"%5BHbW","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/335bf352b04f4c9ab5a2d089a3e01baa","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "335bf352-b04f-4c9a-b5a2-d089a3e01baa"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5efa0b31-509b-41a0-9837-e2d32683a4b8","created_time":"2022-08-22T16:03:00.000Z","last_edited_time":"2022-08-22T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"335bf352-b04f-4c9a-b5a2-d089a3e01baa"},"archived":false,"properties":{"Due
      Date":{"id":"ES%3B%5C","type":"date","date":null},"Notes":{"id":"TQ%40%3C","type":"rich_text","rich_text":[]},"Complete":{"id":"U%3AsM","type":"checkbox","checkbox":false},"Index":{"id":"%5B%40IW","type":"number","number":null},"Tags":{"id":"%5BHbW","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5efa0b31509b41a09837e2d32683a4b8"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5efa0b31509b41a09837e2d32683a4b8
  response:
    content: '{"object":"page","id":"5efa0b31-509b-41a0-9837-e2d32683a4b8","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/335bf352b04f4c9ab5a2d089a3e01baa
  response:
    content: '{"object":"block","id":"335bf352-b04f-4c9a-b5a2-d089a3e01baa","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-22T16:03:00.000Z","last_edited_time":"2022-08-22T16:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
