interactions:
- request:
    body: '{"query": "Custom Emoji Page", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"263974f3-b388-815c-b65e-fb77ec3a0a14","created_time":"2025-09-03T12:41:00.000Z","last_edited_time":"2025-09-03T12:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"20c974f3-b388-8063-b812-007aeaf0578a","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/021a290b-d194-4457-ab01-01f9b2bf803f/favicon.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      with Custom Emoji Icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      with Custom Emoji Icon","href":null}]}},"url":"https://www.notion.so/Page-with-Custom-Emoji-Icon-263974f3b388815cb65efb77ec3a0a14","public_url":null},{"object":"page","id":"263974f3-b388-8143-be0f-d511cf1c954a","created_time":"2025-09-03T12:40:00.000Z","last_edited_time":"2025-09-03T12:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-816e-84a9-f69ea3cc35a1"},"archived":false,"in_trash":false,"properties":{"Multi
      Status":{"id":"Hcyj","type":"multi_select","multi_select":[{"id":"1971f046-3578-48a3-9d2d-d9e68cd8c74a","name":"Option
      1","color":"default"},{"id":"a411167a-52b0-4e08-81c9-d0237f609868","name":"Option
      2","color":"pink"}]},"Status":{"id":"w%3Dqo","type":"select","select":{"id":"c410c6da-4384-414d-9f31-8684436156f8","name":"In
      Progress","color":"blue"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      2","href":null}]}},"url":"https://www.notion.so/Page-2-263974f3b3888143be0fd511cf1c954a","public_url":null},{"object":"page","id":"263974f3-b388-810e-9774-d9427a0dd4bf","created_time":"2025-09-03T12:40:00.000Z","last_edited_time":"2025-09-03T12:40:00.000Z","cre[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/263974f3-b388-816e-84a9-f69ea3cc35a1
  response:
    content: '{"object":"database","id":"263974f3-b388-816e-84a9-f69ea3cc35a1","cover":null,"icon":null,"created_time":"2025-09-03T12:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T12:40:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing option page props","href":null}],"is_inline":false,"properties":{"Multi
      Status":{"id":"Hcyj","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"1971f046-3578-48a3-9d2d-d9e68cd8c74a","name":"Option
      1","color":"default","description":null},{"id":"a411167a-52b0-4e08-81c9-d0237f609868","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"w%3Dqo","name":"Status","description":null,"type":"select","select":{"options":[{"id":"2e616f42-8a54-4061-ac1b-70f8961b2d51","name":"Open","color":"gray","description":null},{"id":"c410c6da-4384-414d-9f31-8684436156f8","name":"In
      Progress","color":"blue","description":null},{"id":"4d566517-943d-4c8d-ac79-113367fd9c56","name":"Blocked","color":"red","description":null},{"id":"7b77c948-6612-4db6-9711-11cd51f0f5ca","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b388816e84a9f69ea3cc35a1","public_url":null,"archived":false,"in_trash":false,"request_id":"6a358491-5b94-47b9-bc58-4b332cb0123c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a358491-5b94-47b9-bc58-4b332cb0123c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/263974f3-b388-8106-8dfb-cd213b9e5774
  response:
    content: '{"object":"database","id":"263974f3-b388-8106-8dfb-cd213b9e5774","cover":null,"icon":null,"created_time":"2025-09-03T12:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T12:39:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      for customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      for customers","href":null}],"is_inline":false,"properties":{"Items Purchased":{"id":"wsrg","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-8121-bb06-c95d7d549ead","data_source_id":"263974f3-b388-811a-a32f-000bebfd9d94","type":"dual_property","dual_property":{"synced_property_name":"Bought
      by","synced_property_id":"CpZG"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881068dfbcd213b9e5774","public_url":null,"archived":false,"in_trash":false,"request_id":"35191652-aeab-498a-a60d-b40e1f4f6243"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 35191652-aeab-498a-a60d-b40e1f4f6243
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4c6e7417-ef05-4b7e-b55e-62ecbb55a38d
  response:
    content: '{"object":"database","id":"4c6e7417-ef05-4b7e-b55e-62ecbb55a38d","cover":null,"icon":null,"created_time":"2023-08-12T13:26:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-07-26T19:31:00.000Z","title":[{"type":"text","text":{"content":"Wiki
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Wiki
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Verification":{"id":"Mw%5E%3C","name":"Verification","description":null,"type":"verification","verification":{}},"Tags":{"id":"OESf","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4036ff5b-932f-4883-8d0c-6ca1fa6f9cf6","name":"Onboarding","color":"blue","description":null},{"id":"869be616-aa64-491d-b56c-161ea3e81b56","name":"Design","color":"green","description":null}]}},"Last
      edited time":{"id":"%5EB_%40","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Page":{"id":"title","name":"Page","description":null,"type":"title","title":{}},"Owner":{"id":"notion%3A%2F%2Fwiki%2Fowner_property","name":"Owner","description":null,"type":"people","people":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4c6e7417ef054b7eb55e62ecbb55a38d","public_url":null,"archived":false,"in_trash":false,"request_id":"3e317c5a-7541-41bd-bc89-29e57d8445da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3e317c5a-7541-41bd-bc89-29e57d8445da
    status_code: 200
version: 1
