interactions:
- request:
    body: '{"query": "Markdown Text Test", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"5f505199-b292-4713-920b-61d813bf72a3\",\"created_time\":\"2022-08-22T15:47:00.000Z\",\"last_edited_time\":\"2025-09-23T09:42:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3\",\"public_url\":null},{\"object\":\"page\",\"id\":\"3e5fa270-2714-4f8a-afa5-640f5ff17348\",\"created_time\":\"2024-02-04T10:09:00.000Z\",\"last_edited_time\":\"2025-09-22T10:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Markdown
      Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Markdown
      Test\",\"href\":null}]}},\"url\":\"https://www.notion.so/Markdown-Test-3e5fa27027144f8aafa5640f5ff17348\",\"public_url\":null},{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F601\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"type\":\"files\",\"files\":[]},\"Select\":{\"id\":\"%3Dzw%7C\",\"type\":\"select\",\"select\":null},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\"},\"Created
      by\":{\"id\":\"Bde%5C\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"ID\":{\"id\":\"GIY%3B\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\",\"number\":3}},\"Email\":{\"id\":\"IWgp\",\"type\":\"email\",\"email\":\"mail@nowhere.com\"},\"Date\":{\"id\":\"LG%3AF\",\"type\":\"date\",\"date\":null},\"People\":{\"id\":\"OTkG\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}},{\"object\":\"user\",\"id\":\"118d872b-594c-81ef-aa7a-000271698630\",\"name\":\"Flo-Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm.bot@gmail.com\"}}]},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Checkbox\":{\"id\":\"QxPZ\",\"type\":\"checkbox\",\"checkbox\":false},\"Number\":{\"id\":\"WL%40f\",\"type\":\"number\",\"number\":null},\"Button\":{\"id\":\"Z_NL\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"type\":\"status\",\"status\":{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\"}},\"AI custom\":{\"id\":\"b%5DMq\",\"type\":\"rich_text\",\"rich_text\":[]},\"Text\":{\"id\":\"dNkb\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Lorem
      Ipsum\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Lorem
      Ipsum\",\"href\":null}]},\"AI key info\":{\"id\":\"iGrF\",\"type\":\"rich_text\",\"rich_text\":[]},\"Phone
      number\":{\"id\":\"k%7DwY\",\"type\":\"phone_number\",\"phone_number\":null},\"AI
      summary\":{\"id\":\"p%5CHX\",\"type\":\"rich_text\",\"rich_text\":[]},\"Rollup\":{\"id\":\"pwp_\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"count\"}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"type\":\"last_edited_by\",\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Formula\":{\"id\":\"wsPE\",\"type\":\"formula\",\"formula\":{\"type\":\"number\",\"number\":0}},\"URL\":{\"id\":\"ypoy\",\"type\":\"url\",\"url\":\"https://anywhere.com\"},\"Created
      time\":{\"id\":\"%7CLPX\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Relation\":{\"id\":\"%7CeR%5D\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Multi-Select\":{\"id\":\"~ML%40\",\"type\":\"multi_select\",\"multi_select\":[]},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test_Item\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test_Item\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test_Item-f933ea06653744fc83a096123ffa4b23\",\"public_url\":null},{\"object\":\"page\",\"id\":\"0c8ea7f1-c7ca-4abb-8890-085c0fac383b\",\"created_time\":\"2024-01-27T16:13:0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8
  response:
    content: '{"object":"database","id":"4fa8756f-a0da-4efe-9c48-4d6a323b69f8","cover":null,"icon":null,"created_time":"2023-08-12T12:22:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-06-10T17:36:00.000Z","title":[{"type":"text","text":{"content":"All
      Properties DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Properties DB","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"%3BCha","name":"Files","description":null,"type":"files","files":{}},"Select":{"id":"%3Dzw%7C","name":"Select","description":null,"type":"select","select":{"options":[{"id":"b554ca09-3d4d-4963-b24e-b4789755e79e","name":"Option1","color":"default","description":null},{"id":"853aabd5-b24e-479f-9b16-5b1d50995f10","name":"Option2","color":"red","description":null}]}},"Last
      edited time":{"id":"%3D%7B%7BM","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Created
      by":{"id":"Bde%5C","name":"Created by","description":null,"type":"created_by","created_by":{}},"ID":{"id":"GIY%3B","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":"ABC"}},"Email":{"id":"IWgp","name":"Email","description":null,"type":"email","email":{}},"Date":{"id":"LG%3AF","name":"Date","description":null,"type":"date","date":{}},"People":{"id":"OTkG","name":"People","description":null,"type":"people","people":{}},"Relation
      two-way":{"id":"QYmQ","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"4fa8756f-a0da-4efe-9c48-4d6a323b69f8","data_source_id":"5dd6f15d-e78b-422b-84f6-ade77aa73906","type":"dual_property","dual_property":{"synced_property_name":"Relation","synced_property_id":"%7CeR%5D"}}},"Checkbox":{"id":"QxPZ","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Number":{"id":"WL%40f","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Button":{"id":"Z_NL","name":"Button","description":null,"type":"button","button":{}},"Status":{"id":"%5Enaj","name":"Status","description":null,"type":"status","status":{"options":[{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default","description":null},{"id":"61b541c0-4d17-4059-b158-8b72b6aef724","name":"In
      progress","color":"blue","description":null},{"id":"1b92c97e-00e4-4409-be80-c48e2906e443","name":"Done","color":"green","description":null}],"groups":[{"id":"efa11b9c-c42f-4a78-a096-20c583573047","name":"To-do","color":"gray","option_ids":["dce1e338-da63-4b60-8126-6752aec02589"]},{"id":"6006542b-8e37-4dab-b232-edde3cebb032","name":"In
      progress","color":"blue","option_ids":["61b541c0-4d17-4059-b158-8b72b6aef724"]},{"id":"11dfbcef-680a-4392-a439-568e93683c7d","name":"Complete","color":"green","option_ids":["1b92c97e-00e4-4409-be80-c48e2906e443"]}]}},"AI
      custom":{"id":"b%5DMq","name":"AI custom","description":null,"type":"rich_text","rich_text":{}},"Text":{"id":"dNkb","name":"Text","description":null,"type":"rich_text","rich_text":{}},"AI
      key info":{"id":"iGrF","name":"AI key info","description":null,"type":"rich_text","rich_text":{}},"Phone
      number":{"id":"k%7DwY","name":"Phone number","description":null,"type":"phone_number","phone_number":{}},"AI
      summary":{"id":"p%5CHX","name":"AI summary","description":null,"type":"rich_text","rich_text":{}},"Rollup":{"id":"pwp_","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Title","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"|eR]","function":"count"}},"Last
      edited by":{"id":"uaO%5E","name":"Last edited by","description":null,"type":"last_edited_by","last_edited_by":{}},"Formula":{"id":"wsPE","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:WL%40f:5dd6f15d-e78b-422b-84f6-ade77aa73906:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2"}},"URL":{"id":"ypoy","name":"URL","description":null,"type":"url","url":{}},"Created
      time":{"id":"%7CLPX","name":"Created time","description":null,"type":"created_by","created_by":{}},"Relation":{"id":"%7CeR%5D","name":"Relation","description":null,"type":"relation","relation":{"database_id":"4fa8756f-a0da-4efe-9c48-4d6a323b69f8","data_source_id":"5dd6f15d-e78b-422b-84f6-ade77aa73906","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"QYmQ"}}},"Multi-Select":{"id":"~ML%40","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"]klO","name":"MultiOption1","color":"purple","description":null},{"id":"\\vwn","name":"MultiOption2","color":"yellow","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4fa8756fa0da4efe9c484d6a323b69f8","public_url":null,"archived":false,"in_trash":false,"request_id":"0f5939f4-5be5-4eed-847e-4014fc0c2c58"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0f5939f4-5be5-4eed-847e-4014fc0c2c58
    status_code: 200
version: 1
