interactions:
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"263974f3-b388-8105-8627-c08e482d0500\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T12:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-03T12:46:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"%5Bcfo\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"84d08243-f899-4812-b575-026debfaa226\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"1db4ebd8-85bf-43b4-93ae-e8a7e1f44828\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Category\":{\"id\":\"di%3F%7C\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"7a1b1781-4ee6-41df-94a1-212d6fda4d4f\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"7c5864d4-5faf-4de0-8361-ecb53daf0687\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/263974f3b38881058627c08e482d0500\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"263974f3-b388-8193-a8e1-f06e7e242a12\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T12:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-03T12:46:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Select
      Options Update Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Select
      Options Update Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"I%3En_\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"7194096d-ec41-4768-ab87-3c0cedd92e8c\",\"name\":\"Cat3\",\"color\":\"red\",\"description\":null}]}},\"Category\":{\"id\":\"U%5E%3DF\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"6593f35a-e173-45e1-962d-4c98d47c2066\",\"name\":\"Cat3\",\"color\":\"red\",\"description\":null}]}},\"Number\":{\"id\":\"ez_%3E\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"euro\"}},\"Formula\":{\"id\":\"hdxE\",\"name\":\"Formula\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:U%5E%3DF:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/263974f3b3888193a8e1f06e7e242a12\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"263974f3-b388-810a-a6bf-fb08c9366d89\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T12:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-03T12:45:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Update
      Prop-Test: Schema C\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Update
      Prop-Test: Schema C\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Actual
      interesting schema/db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Actual
      interesting schema/db\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Rollup\":{\"id\":\"oM%5Ew\",\"name\":\"Rollup\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Name\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"uPgm\",\"function\":\"count\"}},\"Relation
      two-way\":{\"id\":\"oPvA\",\"name\":\"Relation two-way\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"263974f3-b388-81a1-9809-e0cea301fe5a\",\"data_source_id\":\"263974f3-b388-816d-ab3b-000b2b1d35c0\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Related
      to Update Prop-Test: Schema C (Relation two-way)\",\"synced_property_id\":\"Iewn\"}}},\"Relation\":{\"id\":\"uPgm\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"263974f3-b388-81a1-9809-e0cea301fe5a\",\"data_source_id\":\"263974f3-b388-816d-ab3b-000b2b1d35c0\",\"type\":\"single_property\",\"single_property\":{}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/263974f3b388810aa6bffb08c9366d89\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"263974f3-b388-81a1-9809-e0cea301fe5a\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T12:45:00.000Z\",\"created_by\":{\"object\":\"user\[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-8105-8627-c08e482d0500
  response:
    content: '{"object":"block","id":"263974f3-b388-8105-8627-c08e482d0500","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-03T12:46:00.000Z","last_edited_time":"2025-09-03T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Bind
      DB Test"},"request_id":"0b4195d6-45d0-4e74-8ca4-e91a0a8ccc16"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b4195d6-45d0-4e74-8ca4-e91a0a8ccc16
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/263974f3-b388-816d-af6c-e8eff228934d
  response:
    content: '{"object":"page","id":"263974f3-b388-816d-af6c-e8eff228934d","created_time":"2025-09-03T12:29:00.000Z","last_edited_time":"2025-09-03T12:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-263974f3b388816daf6ce8eff228934d","public_url":null,"request_id":"2248d809-252f-4cd1-a122-3613c7b3c2b7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2248d809-252f-4cd1-a122-3613c7b3c2b7
    status_code: 200
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/263974f3b388815cb65efb77ec3a0a14
  response:
    content: '{"object":"page","id":"263974f3-b388-815c-b65e-fb77ec3a0a14","created_time":"2025-09-03T12:41:00.000Z","last_edited_time":"2025-09-03T13:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"20c974f3-b388-8063-b812-007aeaf0578a","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/021a290b-d194-4457-ab01-01f9b2bf803f/favicon.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      with Custom Emoji Icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      with Custom Emoji Icon","href":null}]}},"url":"https://www.notion.so/Page-with-Custom-Emoji-Icon-263974f3b388815cb65efb77ec3a0a14","public_url":null,"request_id":"d782bda5-0db4-4b38-9102-eb310ce13939"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d782bda5-0db4-4b38-9102-eb310ce13939
    status_code: 200
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/263974f3b38881dd9542d41b76d202dc
  response:
    content: '{"object":"page","id":"263974f3-b388-81dd-9542-d41b76d202dc","created_time":"2025-09-03T12:38:00.000Z","last_edited_time":"2025-09-03T13:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252/610c8d79-c49a-4bdd-a16b-c67f61eedca6/favicon.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466V76ELFP2%2F20250903%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250903T133454Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiJHMEUCIG14qR3hdVV8RAzf25Pb0L6nclhQluqG3ohojEFhEgMmAiEAw%2F8evjBMpun[...]
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/263974f3b38881b19c39c0d25ccd7d8e
  response:
    content: '{"object":"page","id":"263974f3-b388-81b1-9c39-c0d25ccd7d8e","created_time":"2025-09-03T12:23:00.000Z","last_edited_time":"2025-09-03T13:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-263974f3b38881b19c39c0d25ccd7d8e","public_url":null,"request_id":"9980e12f-473d-4922-ac99-960caf1640f5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9980e12f-473d-4922-ac99-960caf1640f5
    status_code: 200
version: 1
