interactions:
- request:
    body: '{"query": "Embed/Inline/Linked & Unfurl", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"29c974f3-b388-810f-aff4-fb3921a0626c","created_time":"2025-10-30T14:14:00.000Z","last_edited_time":"2025-10-30T14:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating link blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating link blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-link-blocks-29c974f3b388810faff4fb3921a0626c","public_url":null},{"object":"page","id":"00000000-0000-4000-8000-000000000006","created_time":"2024-07-09T20:37:00.000Z","last_edited_time":"2025-09-02T14:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Embed/Inline/Linked
      & Unfurl","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Embed/Inline/Linked
      & Unfurl","href":null}]}},"url":"https://www.notion.so/Embed-Inline-Linked-Unfurl-00000000000040008000000000000006","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"bf4caeac-2150-4a43-ab70-7a3ef619e312"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf4caeac-2150-4a43-ab70-7a3ef619e312
    status_code: 200
version: 1
