interactions:
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"29c974f3-b388-8176-af9d-feab6d6f9a17\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"%3Dfrc\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"750b2d7e-aeac-4247-9176-d6123a3edf71\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"67ff256c-f3b5-443a-b903-a4ace1a63b47\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Category\":{\"id\":\"XxNG\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"93b95c07-a6ab-4dce-80d9-ad84090b27e5\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"c3604459-4c15-4d36-a42e-0378e12c223d\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/29c974f3b3888176af9dfeab6d6f9a17\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"29c974f3-b388-816a-95bf-c586d413dd19\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:30:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Rollup
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Rollup
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Rollup
      Number\":{\"id\":\"F%3DUs\",\"name\":\"Rollup Number\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"m=y[\",\"relation_property_id\":\"leKy\",\"function\":\"max\"}},\"Rollup
      Date Array\":{\"id\":\"YHNi\",\"name\":\"Rollup Date Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"nc>|\",\"relation_property_id\":\"leKy\",\"function\":\"show_original\"}},\"Rollup
      Date\":{\"id\":\"h%60%3Bs\",\"name\":\"Rollup Date\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"nc>|\",\"relation_property_id\":\"leKy\",\"function\":\"earliest_date\"}},\"Relation\":{\"id\":\"leKy\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"29c974f3-b388-816a-95bf-c586d413dd19\",\"data_source_id\":\"29c974f3-b388-81a0-812c-000b2f383191\",\"type\":\"single_property\",\"single_property\":{}}},\"Number\":{\"id\":\"m%3Dy%5B\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Rollup
      Title\":{\"id\":\"morS\",\"name\":\"Rollup Title\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Title\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"leKy\",\"function\":\"show_original\"}},\"Date\":{\"id\":\"nc%3E%7C\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Rollup
      Number Array\":{\"id\":\"%7CZdM\",\"name\":\"Rollup Number Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"m=y[\",\"relation_property_id\":\"leKy\",\"function\":\"show_original\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/29c974f3b388816a95bfc586d413dd19\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"29c974f3-b388-814f-96b9-e1fb4aa57e86\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:30:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Empty
      Formula DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Empty
      Formula DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Formula\":{\"id\":\"Dlpe\",\"name\":\"Formula\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/29c974f3b388814f96b9e1fb4aa57e86\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"29c974f3-b388-814b-b827-fdbabe9fa043\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:29:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:29:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"People
      & Relation Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"People
      & Relation Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"People\":{\"id\":\"E%3Ei%5E\",\"name\":\"People\",\"description\":null,\"type\":\"people\",\"people\":{}},\"Relation\":{\"id\":\"YzMo\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"29c974f3-b388-814b-b827-fdbabe9fa043\",\"data_source_id\":\"29c974f3-b388-8151-bb85-000bc8a230a0\",\"type\":\"single_property\",\"single_property\":{}}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/29c974f3b388814bb827fdbabe9fa043\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"29c974f3-b388-81ca-8c6b-e190234ff3c5\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:29:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:29:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Files
      & Checkbox Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Files
      & Checkbox Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Checkbox\":{\"id\":\"%5C%5D%3Ad\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Files\":{\"id\":\"jPUd\",\"name\":\"Files\",\"description\":null,\"type\":\"files\",\"files\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/29c974f3b38881ca8c6be190234ff3c5\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"29c974f3-b388-81eb-a1f4-e1e78cae0570\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:28:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"(Multi)-Select
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"(Multi)-Select
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Multi-Select\":{\"id\":\"Lefe\",\"name\":\"Multi-Select\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"990c6c56-64ee-4cf0-9f4e-7a11d4c96ca4\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"69d49b2f-0352-4b5c-be71-5d53a3aa3241\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"2b91866d-cefb-425b-bef2-7a2d5f422e7e\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Select\":{\"id\":\"%60ZA%5E\",\"name\":\"Select\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"e4377746-c0e7-40f6-b391-49462b18fb78\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"e554df49-9b54-4244-b57b-e6f1f28d52f6\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"93be6999-fb19-4abb-91af-2f02e53ac89f\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"[...]
