interactions:
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"142974f3-b388-80f1-85ac-e01c7ad33a22\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-18T14:08:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-06-10T17:41:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"String\":{\"id\":\"PbR%3B\",\"name\":\"String\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.style(\\\"u\\\",
      \\\"pink\\\")\"}},\"Date\":{\"id\":\"aK_F\",\"name\":\"Date\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:created_time}}.dateAdd(1,
      \\\"weeks\\\")\"}},\"Checkbox\":{\"id\":\"f%3EhC\",\"name\":\"Checkbox\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:fjsB:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.includes(\\\"Done\\\")\"}},\"Tags\":{\"id\":\"fjsB\",\"name\":\"Tags\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"73212b86-d2fb-47f6-8c57-e9791c3a6a09\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"427db6b8-1ec9-4374-b721-6ab4572b185b\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"voBT\",\"name\":\"Number\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:fjsB:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.length()\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/142974f3b38880f185ace01c7ad33a22\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"4c6e7417-ef05-4b7e-b55e-62ecbb55a38d\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-08-12T13:26:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-06-10T17:37:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Wiki
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Wiki
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Verification\":{\"id\":\"Mw%5E%3C\",\"name\":\"Verification\",\"type\":\"verification\",\"verification\":{}},\"Tags\":{\"id\":\"OESf\",\"name\":\"Tags\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"4036ff5b-932f-4883-8d0c-6ca1fa6f9cf6\",\"name\":\"Onboarding\",\"color\":\"blue\",\"description\":null},{\"id\":\"869be616-aa64-491d-b56c-161ea3e81b56\",\"name\":\"Design\",\"color\":\"green\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"%5EB_%40\",\"name\":\"Last edited time\",\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Page\":{\"id\":\"title\",\"name\":\"Page\",\"type\":\"title\",\"title\":{}},\"Owner\":{\"id\":\"notion%3A%2F%2Fwiki%2Fowner_property\",\"name\":\"Owner\",\"type\":\"people\",\"people\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/4c6e7417ef054b7eb55e62ecbb55a38d\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-08-12T12:22:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-06-10T17:36:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"All
      Properties DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"All
      Properties DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"name\":\"Files\",\"type\":\"files\",\"files\":{}},\"Select\":{\"id\":\"%3Dzw%7C\",\"name\":\"Select\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b554ca09-3d4d-4963-b24e-b4789755e79e\",\"name\":\"Option1\",\"color\":\"default\",\"description\":null},{\"id\":\"853aabd5-b24e-479f-9b16-5b1d50995f10\",\"name\":\"Option2\",\"color\":\"red\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"name\":\"Last edited time\",\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Created
      by\":{\"id\":\"Bde%5C\",\"name\":\"Created by\",\"type\":\"created_by\",\"created_by\":{}},\"ID\":{\"id\":\"GIY%3B\",\"name\":\"ID\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\"}},\"Email\":{\"id\":\"IWgp\",\"name\":\"Email\",\"type\":\"email\",\"email\":{}},\"Date\":{\"id\":\"LG%3AF\",\"name\":\"Date\",\"type\":\"date\",\"date\":{}},\"People\":{\"id\":\"OTkG\",\"name\":\"People\",\"type\":\"people\",\"people\":{}},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"name\":\"Relation two-way\",\"type\":\"relation\",\"relation\":{\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Relation\",\"synced_property_id\":\"%7CeR%5D\"}}},\"Checkbox\":{\"id\":\"QxPZ\",\"name\":\"Checkbox\",\"type\":\"checkbox\",\"checkbox\":{}},\"Number\":{\"id\":\"WL%40f\",\"name\":\"Number\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Button\":{\"id\":\"Z_NL\",\"name\":\"Button\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"name\":\"Status\",\"type\":\"status\",\"status\":{\"options\":[{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\",\"description\":null},{\"id\":\"61b541c0-4d17-4059-b158-8b72b6aef724\",\"name\":\"In
      progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"1b92c97e-00e4-4409-be80-c48e2906e443\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}],\"groups\":[{\"id\":\"efa11b9c-c42f-4a78-a096-20c583573047\",\"name\":\"To-do\",\"color\":\"gray\",\"option_ids\":[\"dce1e338-da63-4b60-8126-6752aec02589\"]},{\"id\":\"6006542b-8e37-4dab-b232-edde3cebb032\",\"name\":\"In
      progress\",\"color\":\"blue\",\"option_ids\":[\"61b541c0-4d17-4059-b158-8b72b6aef724\"]},{\"id\":\"11dfbcef-680a-4392-a439-568e93683c7d\",\"name\":\"Complete\",\"color\":\"green\",\"option_ids\":[\"1b92c97e-00e4-4409-be80-c48e2906e443\"]}]}},\"AI
      custom\":{\"id\":\"b%5DMq\",\"name\":\"AI custom\",\"type\":\"rich_text\",\"rich_text\":{}},\"Text\":{\"id\":\"dNkb\",\"name\":\"Text\",\"type\":\"rich_text\",\"rich_text\":{}},\"AI
      key info\":{\"id\":\"iGrF\",\"name\":\"AI key info\",\"type\":\"rich_text\",\"rich_text\":{}},\"Phone
      number\":{\"id\":\"k%7DwY\",\"name\":\"Phone number\",\"type\":\"phone_number\",\"phone_number\":{}},\"AI
      summary\":{\"id\":\"p%5CHX\",\"name\":\"AI summary\",\"type\":\"rich_text\",\"rich_text\":{}},\"Rollup\":{\"id\":\"pwp_\",\"name\":\"Rollup\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Title\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"|eR]\",\"function\":\"count\"}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"name\":\"Last edited by\",\"type\":\"last_edited_by\",\"last_edited_by\":{}},\"Formula\":{\"id\":\"wsPE\",\"name\":\"Formula\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:WL%40f:5dd6f15d-e78b-422b-84f6-ade77aa73906:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2\"}},\"URL\":{\"id\":\"ypoy\",\"name\":\"URL\",\"type\":\"url\",\"url\":{}},\"Created
      time\":{\"id\":\"%7CLPX\",\"name\":\"Created time\",\"type\":\"created_by\",\"created_by\":{}},\"Relation\":{\"id\":\"%7CeR%5D\",\"name\":\"Relation\",\"type\":\"relation\",\"relation\":{\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Relation
      two-way\",\"synced_property_id\":\"QYmQ\"}}},\"Multi-Select\":{\"id\":\"~ML%40\",\"name\":\"Multi-Select\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"]klO\",\"name\":\"MultiOption1\",\"color\":\"purple\",\"description\":null},{\"id\":\"\\\\vwn\",\"name\":\"MultiOption2\",\"color\":\"yellow\",\"description\":null}]}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/4fa8756fa0da4efe9c484d6a323b69f8\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-06-05T16:58:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65ef[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"5f505199-b292-4713-920b-61d813bf72a3\",\"created_time\":\"2022-08-22T15:47:00.000Z\",\"last_edited_time\":\"2025-06-15T13:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"archived\":false,\"in_trash\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3\",\"public_url\":null},{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2025-06-10T17:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F3C3\U0001F3FB\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -74w6d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2024-01-08T11:00:00.000+00:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"select\",\"select\":{\"id\":\"a91749bb-7d95-4a1d-a510-3b2e1f9f1852\",\"name\":\"Blocked\",\"color\":\"red\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"bf393d83-8f47-4fb9-88e3-f6a8be3fa324\",\"name\":\"\u2736
      Low\",\"color\":\"gray\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Run
      first Marathon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Run
      first Marathon\",\"href\":null}]}},\"url\":\"https://www.notion.so/Run-first-Marathon-2fcfe2c648f54f25aa3e047e7e592aa5\",\"public_url\":null},{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F601\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"type\":\"files\",\"files\":[]},\"Select\":{\"id\":\"%3Dzw%7C\",\"type\":\"select\",\"select\":null},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\"},\"Created
      by\":{\"id\":\"Bde%5C\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"ID\":{\"id\":\"GIY%3B\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\",\"number\":3}},\"Email\":{\"id\":\"IWgp\",\"type\":\"email\",\"email\":\"mail@nowhere.com\"},\"Date\":{\"id\":\"LG%3AF\",\"type\":\"date\",\"date\":null},\"People\":{\"id\":\"OTkG\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}},{\"object\":\"user\",\"id\":\"118d872b-594c-81ef-aa7a-000271698630\",\"name\":\"Flo-Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm.bot@gmail.com\"}}]},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Checkbox\":{\"id\":\"QxPZ\",\"type\":\"checkbox\",\"checkbox\":false},\"Number\":{\"id\":\"WL%40f\",\"type\":\"number\",\"number\":null},\"Button\":{\"id\":\"Z_NL\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"type\":\"status\",\"status\":{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\"}},\"AI custom\":{\"id\":\"b%5DMq\",\"type\":\"rich_text\",\"rich_text\":[]},\"Text\":{\"id\":\"dNkb\",\"type\":\"rich_text\",\"r[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/172974f3b388808a8f5bdfad56f3326c
  response:
    content: '{"object":"page","id":"172974f3-b388-808a-8f5b-dfad56f3326c","created_time":"2025-01-05T11:34:00.000Z","last_edited_time":"2025-06-15T13:36:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"All
      Blocks Page Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Blocks Page Test","href":null}]}},"url":"https://www.notion.so/All-Blocks-Page-Test-172974f3b388808a8f5bdfad56f3326c","public_url":null,"request_id":"b3809974-958a-496a-89eb-a6392319045a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b3809974-958a-496a-89eb-a6392319045a
    status_code: 200
version: 1
