interactions:
- request:
    body: '{"query": "Custom Emoji Page", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"29c974f3-b388-81fd-bc47-e822fb9bbf31\",\"created_time\":\"2025-10-30T14:34:00.000Z\",\"last_edited_time\":\"2025-10-30T14:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with an icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page created with an icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-created-with-an-icon-29c974f3b38881fdbc47e822fb9bbf31\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-8103-b55d-dc2f34867b44\",\"created_time\":\"2025-10-30T14:34:00.000Z\",\"last_edited_time\":\"2025-10-30T14:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/woodcuts_2.jpg\"}},\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with a cover\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"cod[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8140-956c-d9f290d01c21
  response:
    content: '{"object":"database","id":"29c974f3-b388-8140-956c-d9f290d01c21","cover":null,"icon":null,"created_time":"2025-10-30T14:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T14:27:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing option page props","href":null}],"is_inline":false,"properties":{"Multi
      Status":{"id":"Ohe%3C","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"1bd90afd-b402-4048-bed2-559e5ff29203","name":"Option
      1","color":"default","description":null},{"id":"b9be8745-ebfb-4607-8ce1-e17feffe5fd8","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"XNQ%3A","name":"Status","description":null,"type":"select","select":{"options":[{"id":"967855f5-dd74-4a84-9f9b-afff02e5a06d","name":"Open","color":"gray","description":null},{"id":"d21f5907-36aa-4db5-8d9e-f9c21b36e235","name":"In
      Progress","color":"blue","description":null},{"id":"9e2fe723-9dbc-4f05-9a46-16a39e8f89e7","name":"Blocked","color":"red","description":null},{"id":"54ffd288-0cc5-4807-8188-c449c95e2190","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b3888140956cd9f290d01c21","public_url":null,"archived":false,"in_trash":false,"request_id":"f67dbd16-91da-4e45-a265-a14dd410e804"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f67dbd16-91da-4e45-a265-a14dd410e804
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8179-8a9d-fabb788d04d4
  response:
    content: '{"object":"database","id":"29c974f3-b388-8179-8a9d-fabb788d04d4","cover":null,"icon":null,"created_time":"2025-10-30T14:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T14:27:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      for customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      for customers","href":null}],"is_inline":false,"properties":{"Items Purchased":{"id":"ZHVz","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"29c974f3-b388-813a-abef-e31f47e40c15","data_source_id":"29c974f3-b388-81fc-ad38-000b315a898d","type":"dual_property","dual_property":{"synced_property_name":"Bought
      by","synced_property_id":"jqfY"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881798a9dfabb788d04d4","public_url":null,"archived":false,"in_trash":false,"request_id":"2880b487-7092-49ad-ae5c-e224c0eb8d72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2880b487-7092-49ad-ae5c-e224c0eb8d72
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e9f53dc3-80ce-4a97-9424-659ef13a0d2e
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find page with ID: e9f53dc3-80ce-4a97-9424-659ef13a0d2e. Make sure the relevant
      pages and databases are shared with your integration.","request_id":"a69df7c5-4aa8-4ecc-bbd5-3d395ed87ab6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a69df7c5-4aa8-4ecc-bbd5-3d395ed87ab6
    status_code: 404
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4c6e7417-ef05-4b7e-b55e-62ecbb55a38d
  response:
    content: '{"object":"database","id":"4c6e7417-ef05-4b7e-b55e-62ecbb55a38d","cover":null,"icon":null,"created_time":"2023-08-12T13:26:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-07-26T19:31:00.000Z","title":[{"type":"text","text":{"content":"Wiki
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Wiki
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Verification":{"id":"Mw%5E%3C","name":"Verification","description":null,"type":"verification","verification":{}},"Tags":{"id":"OESf","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4036ff5b-932f-4883-8d0c-6ca1fa6f9cf6","name":"Onboarding","color":"blue","description":null},{"id":"869be616-aa64-491d-b56c-161ea3e81b56","name":"Design","color":"green","description":null}]}},"Last
      edited time":{"id":"%5EB_%40","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Page":{"id":"title","name":"Page","description":null,"type":"title","title":{}},"Owner":{"id":"notion%3A%2F%2Fwiki%2Fowner_property","name":"Owner","description":null,"type":"people","people":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4c6e7417ef054b7eb55e62ecbb55a38d","public_url":null,"archived":false,"in_trash":false,"request_id":"9da5a19e-7e00-49a1-882a-97aeff0c5379"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9da5a19e-7e00-49a1-882a-97aeff0c5379
    status_code: 200
version: 1
