interactions:
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2023-12-03T10:26:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() [...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"5f505199-b292-4713-920b-61d813bf72a3\",\"created_time\":\"2022-08-22T15:47:00.000Z\",\"last_edited_time\":\"2024-02-14T17:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3\",\"public_url\":null},{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F3C3\U0001F3FB\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -7w3d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2023-12-23T20:10:00.000+00:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"select\",\"select\":{\"id\":\"ce60f469-5d10-4c18-937f-3e8a539f7bff\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"bf393d83-8f47-4fb9-88e3-f6a8be3fa324\",\"name\":\"\u2736
      Low\",\"color\":\"gray\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Run
      first Marathon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Run
      first Marathon\",\"href\":null}]}},\"url\":\"https://www.notion.so/Run-first-Marathon-2fcfe2c648f54f25aa3e047e7e592aa5\",\"public_url\":null},{\"object\":\"page\",\"id\":\"3e5fa270-2714-4f8a-afa5-640f5ff17348\",\"created_time\":\"2024-02-04T10:09:00.000Z\",\"last_edited_time\":\"2024-02-14T15:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Markdown
      Page Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Markdown
      Page Test\",\"href\":null}]}},\"url\":\"https://www.notion.so/Markdown-Page-Test-3e5fa27027144f8aafa5640f5ff17348\",\[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/30fb53da-9bac-402d-bb5e-bb2957f86430
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA6xRu27DMAz8lYKzWehpW/qHbp26GKJE12rcJLWUAkGQfy+cNEU6dOvGx/GOR55g
        R28cK3igeRc30EBO4EGLkaxOAR2FiEaohESWkUg52419a7SABvZh4W0Ff4J63DN42IdXHnK6tK6R
        BztaYaVzSMopNJ3U6JQgbGXqpaaxU0HDuYG4cKichprfVyollEFhUaln2XptvRCPQogXaGAOpQ6c
        8p9oK+/QN146rov++D0UXm52W2O5cymhZqPRiMTokpWonbZdlNGoblxXvBf+B7oplCFOeU4Lb8GP
        YS7cQFjilD85ga/LgRvI26EuoUy3/PvSl7khhRooFF5t/i6sP8l1XqFPx4cayuZhzqWusgt/HLjU
        63ckBc1SSYzOjmhUr5Gk63HUvW0T2UR9hPMXAAAA//8DAIK1tr4oAgAA
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"228-FZRVCGfC3Jt2PuwTE80mFrW00wU"
      x-notion-request-id:
      - 1ba3e121-c95f-4283-b198-f3856db5db8c
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/2b99185a-e9d9-4774-99be-a5370bcc429b
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA6ySz5LbIAzG30Vnk2DA9sJT9NBTO50Mf+QNXQouxpvuZPLuHeyNs+2ph56QNKDv
        J/FdIZnvaAsomPQzQgPegQJmpGyfOk1QOknEMAgipUGiOz5QY61g0kADNqMu6E7F/8D6ijJBaEcY
        +9z2inNF6YFS+gUaCHouJ3T+327f+5o3UNcH4TJjvhP2osNBOkc4Ck4EdUik61rCJe8G21rBhhFu
        fwr/h3Y2vWIGFZcQGvA2xXs86Yyx1P7lbcL3dZ68g2aPFHRjR7tWSmKYZEQMLSeSUUP61j213IwD
        07yq6GzP/hUdqFGHGRvw8VSyns97Ycppwlw8zqukLwFrsKpsWXMH2dPt0tedsOCvUuv1UFewKZZ1
        BPi0zdJA8PFlG7BCxZiKLj7FVdOk8IGv6ODtns4l+xcs55yW5wfzEh3m4CPuFZvcxySkDAocjnoJ
        pe5hCrpOvgI+qM4Zx3eqb7dbA0sOoOBcyjSr4/FyuRxiqpiHOR23R+Tu52rn6uZq5r+8PC0meHta
        m21fmvHngnPZvq5nbOxFKwlttSbCCUb0ICgZpe25lEZwNsDtNwAAAP//AwBT9rmETwMAAA==
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-DjirhR52bQD6eXJ3mFfAOKh19D8"
      x-notion-request-id:
      - 622f6419-01aa-4d42-a740-f9c6399b4327
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"5f505199-b292-4713-920b-61d813bf72a3\",\"created_time\":\"2022-08-22T15:47:00.000Z\",\"last_edited_time\":\"2024-05-23T10:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"archived\":false,\"in_trash\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3\",\"public_url\":null},{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":[...]
[...]
