interactions:
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"11f974f3-b388-8133-afd1-fc4eb2d686d0\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-10-14T16:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-10-14T16:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Dummy
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Dummy
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"_n%3D%5B\",\"name\":\"Tags\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/11f974f3b3888133afd1fc4eb2d686d0\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"11f974f3-b388-8137-95ba-db569f3ebbed\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-10-14T16:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-10-14T16:31:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"tC%3DX\",\"name\":\"Items Purchased\",\"type\":\"relation\",\"relation\":{\"database_id\":\"11f974f3-b388-8154-a93e-e11122d48ec6\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"Tu%3AS\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/11f974f3b388813795badb569f3ebbed\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"11f974f3-b388-8154-a93e-e11122d48ec6\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-10-14T16:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-10-14T16:31:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Price\":{\"id\":\"Ie%3Ag\",\"name\":\"Price\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Bought
      by\":{\"id\":\"Tu%3AS\",\"name\":\"Bought by\",\"type\":\"relation\",\"relation\":{\"database_id\":\"11f974f3-b388-8137-95ba-db569f3ebbed\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"tC%3DX\"}}},\"Size\":{\"id\":\"eRsE\",\"name\":\"Size\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b05f0da9-a43a-443c-a6f0-166247e811b1\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"d8c1eadb-1758-428a-9460-244cc4c203a2\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"58fe80c1-df3c-4093-9f28-ed77c698b564\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"140974f3-b388-810d-bfa7-e1389c3e3738\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-16T14:17:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2024-11-21T15:03:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Files
      & Checkbox Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Files
      & Checkbox Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Files\":{\"id\":\"%3C%3Bt%7B\",\"name\":\"Files\",\"type\":\"files\",\"files\":{}},\"Rollup\":{\"id\":\"%3F%3DlN\",\"name\":\"Rollup\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Checkbox\",\"relation_property_name\":\"Related
      Files & Checkbox Query DB Test\",\"rollup_property_id\":\"qdSn\",\"relation_property_id\":\"LN}k\",\"function\":\"show_original\"}},\"Related
      Files & Checkbox Query DB Test\":{\"id\":\"LN%7Dk\",\"name\":\"Related Files
      & Checkbox Query DB Test\",\"type\":\"relation\",\"relation\":{\"database_id\":\"140974f3-b388-810d-bfa7-e1389c3e3738\",\"type\":\"single_property\",\"single_property\":{}}},\"Checkbox\":{\"id\":\"qdSn\",\"name\":\"Checkbox\",\"type\":\"checkbox\",\"checkbox\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/140974f3b388810dbfa7e1389c3e3738\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"140974f3-b388-815d-9881-ded24e3ff9ad\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-16T13:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2024-11-21T15:02:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Date
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Date
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"K%5DHw\",\"name\":\"Name\",\"type\":\"rich_text\",\"rich_text\":{}},\"Phone\":{\"id\":\"VSQ%3C\",\"name\":\"Phone\",\"type\":\"phone_number\",\"phone_number\":{}},\"Email\":{\"id\":\"ziK%5D\",\"name\":\"Email\",\"type\":\"email\",\"email\":{}},\"URL\":{\"id\":\"%7DLS%5B\",\"name\":\"URL\",\"type\":\"url\",\"url\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/140974f3b388815d9881ded24e3ff9ad\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"13f974f3-b388-8124-9363-e95a03043c43\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-15T22:06:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2024-11-21T11:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Date
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Date
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Related
      Date Query DB Test\":{\"id\":\"%40Y%60%3B\",\"name\":\"Related Date Query DB
      Test\",\"type\":\"relation\",\"relation\":{\"database_id\":\"13f974f3-b388-8124-9363-e95a03043c43\",\"type\":\"single_property\",\"single_property\":{}}},\"Date\":{\"id\":\"H%5Eyv\",\"name\":\"Date\",\"type\":\"date\",\"date\":{}},\"Created\":{\"id\":\"d%5DZ_\",\"name\":\"Created\",\"type\":\"created_time\",\"created_time\":{}},\"Last
      Edited\":{\"id\":\"eUbq\",\"name\":\"Last Edited\",\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Formula\":{\"id\":\"lQlf\",\"name\":\"Formula\",\"type\":\"formula\",\"formula\":{\"expression\":\"dateAdd({{notion:block_property:H%5Eyv:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      1, \\\"weeks\\\")\"}},\"Rollup\":{\"id\":\"oPfa\",\"name\":\"Rollup\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Formula\",\"relation_property_name\":\"Related
      Date Query DB Test\",\"rollup_property_id\":\"lQlf\",\"relation_property_id\":\"@Y`;\",\"function\":\"show_original\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-08-12T12:22:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2024-06-01T20:01:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"All
      Properties DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"All
      Properties DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"name\":\"Files\",\"type\":\"files\",\"files\":{}},\"Select\":{\"id\":\"%3Dzw%7C\",\"name\":\"Select\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b554ca09-3d4d-4963-b24e-b4789755e79e\",\"name\":\"Option1\",\"color\":\"default\",\"description\":null},{\"id\":\"853aabd5-b24e-479f-9b16-5b1d50995f10\",\"name\":\"Option2\",\"color\":\"red\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"name\":\"Last edited time\",\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Created
      by\":{\"id\":\"Bde%5C\",\"name\":\"Created by\",\"type\":\"created_by\",\"created_by\":{}},\"ID\":{\"id\":\"GIY%3B\",\"name\":\"ID\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\"}},\"Email\":{\"id\":\"IWgp\",\"name\":\"Email\",\"type\":\"email\",\"email\":{}},\"Date\":{\"id\":\"LG%3AF\",\"name\":\"Date\",\"type\":\"date\",\"date\":{}},\"People\":{\"id\":\"OTkG\",\"name\":\"People\",\"type\":\"people\",\"people\":{}},\"Checkbox\":{\"id\":\"QxPZ\",\"name\":\"Checkbox\",\"type\":\"checkbox\",\"checkbox\":{}},\"Number\":{\"id\":\"WL%40f\",\"name\":\"Number\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Status\":{\"id\":\"%5Enaj\",\"name\":\"Status\",\"type\":\"status\",\"status\":{\"options\":[{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\",\"description\":null},{\"id\":\"61b541c0-4d17-4059-b158-8b72b6aef724\",\"name\":\"In
      progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"1b92c97e-00e4-4409-be80-c48e2906e443\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}],\"groups\":[{\"id\":\"efa11b9c-c42f-4a78-a096-20c583573047\",\"name\":\"To-do\",\"color\":\"gray\",\"option_ids\":[\"dce1e338-da63-4b60-8126-6752aec02589\"]},{\"id\":\"6006542b-8e37-4dab-b232-edde3cebb032\",\"name\":\"In
      progress\",\"color\":\"blue\",\"option_ids\":[\"61b541c0-4d17-4059-b158-8b72b6aef724\"]},{\"id\":\"11dfbcef-680a-4392-a439-568e93683c7d\",\"name\":\"Complete\",\"color\":\"green\",\"option_ids\":[\"1b92c97e-00e4-4409-be80-c48e2906e443\"]}]}},\"AI
      custom\":{\"id\":\"b%5DMq\",\"name\":\"AI custom\",\"type\":\"rich_text\",\"rich_text\":{}},\"Text\":{\"id\":\"dNkb\",\"name\":\"Text\",\"type\":\"rich_text\",\"rich_text\":{}},\"AI
      key info\":{\"id\":\"iGrF\",\"name\":\"AI key info\",\"type\":\"rich_text\",\"rich_text\":{}},\"Phone
      number\":{\"id\":\"k%7DwY\",\"name\":\"Phone number\",\"type\":\"phone_number\",\"phone_number\":{}},\"AI
      summary\":{\"id\":\"p%5CHX\",\"name\":\"AI summary\",\"type\":\"rich_text\",\"rich_text\":{}},\"Rollup\":{\"id\":\"pwp_\",\"name\":\"Rollup\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_n[...]
[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"142974f3-b388-80f1-85ac-e01c7ad33a22\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-18T14:08:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-11-28T20:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"String\":{\"id\":\"PbR%3B\",\"name\":\"String\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.style(\\\"u\\\",
      \\\"pink\\\")\"}},\"Date\":{\"id\":\"aK_F\",\"name\":\"Date\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:created_time}}.dateAdd(1,
      \\\"weeks\\\")\"}},\"Checkbox\":{\"id\":\"f%3EhC\",\"name\":\"Checkbox\",\"type\":\"formula\",\"formula\":{\"exp[...]
[...]
