interactions:
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"29c974f3-b388-8184-86fb-c0e8c8d0de78\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"No
      Prefix ID Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"No
      Prefix ID Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"ID\":{\"id\":\"A%3Fy%5E\",\"name\":\"ID\",\"description\":null,\"type\":\"unique_id\",\"unique_id\":{\"prefix\":null}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/29c974f3b388818486fbc0e8c8d0de78\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"29c974f3-b388-8169-9dd3-e6703674e00d\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T14:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T14:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Unique
      ID Update Test\",\"link\":null},\"annotations\":{\"bol[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-8184-86fb-c0e8c8d0de78
  response:
    content: '{"object":"block","id":"29c974f3-b388-8184-86fb-c0e8c8d0de78","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-10-30T14:34:00.000Z","last_edited_time":"2025-10-30T15:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"No
      Prefix ID Test"},"request_id":"27ff9cab-0890-42bf-aa26-208f6f570ed2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27ff9cab-0890-42bf-aa26-208f6f570ed2
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-8129-993f-e895f2c71d36
  response:
    content: '{"object":"block","id":"29c974f3-b388-8129-993f-e895f2c71d36","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-10-30T14:32:00.000Z","last_edited_time":"2025-10-30T15:29:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Update
      Prop-Test: Schema B"},"request_id":"c8170654-09ca-4859-91a8-5ed15d48e6b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c8170654-09ca-4859-91a8-5ed15d48e6b1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/29c974f3-b388-81fb-a972-f970dfcf8d22
  response:
    content: '{"object":"page","id":"29c974f3-b388-81fb-a972-f970dfcf8d22","created_time":"2025-10-30T14:19:00.000Z","last_edited_time":"2025-10-30T14:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-29c974f3b38881fba972f970dfcf8d22","public_url":null,"request_id":"49c39793-6078-4586-8269-acfcf64fb119"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 49c39793-6078-4586-8269-acfcf64fb119
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"5f505199-b292-4713-920b-61d813bf72a3\",\"created_time\":\"2022-08-22T15:47:00.000Z\",\"last_edited_time\":\"2025-10-30T14:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-81fd-bc47-e822fb9bbf31\",\"created_time\":\"2025-10-30T14:34:00.000Z\",\"last_edited_time\":\"2025-10-30T14:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with an icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page created with an icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-created-with-an-icon-29c974f3b38881fdbc47e822fb9bbf31\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-8103-b55d-dc2f34867b44\",\"created_time\":\"2025-10-30T14:34:00.000Z\",\"last_edited_time\":\"2025-10-30T14:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/woodcuts_2.jpg\"}},\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with a cover\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"cod[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e9f53dc3-80ce-4a97-9424-659ef13a0d2e
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find page with ID: e9f53dc3-80ce-4a97-9424-659ef13a0d2e. Make sure the relevant
      pages and databases are shared with your integration.","request_id":"54348b11-7401-4f0d-971f-632bc53112a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 54348b11-7401-4f0d-971f-632bc53112a2
    status_code: 404
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b388819d9138ed2c1f6172cf
  response:
    content: '{"object":"page","id":"29c974f3-b388-819d-9138-ed2c1f6172cf","created_time":"2025-10-30T14:27:00.000Z","last_edited_time":"2025-10-30T15:30:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"20c974f3-b388-8063-b812-007aeaf0578a","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/021a290b-d194-4457-ab01-01f9b2bf803f/favicon.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      with Custom Emoji Icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      with Custom Emoji Icon","href":null}]}},"url":"https://www.notion.so/Page-with-Custom-Emoji-Icon-29c974f3b388819d9138ed2c1f6172cf","public_url":null,"request_id":"948ee4b3-52b7-4ac6-9948-e9d93a1e80ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 948ee4b3-52b7-4ac6-9948-e9d93a1e80ac
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e9f53dc3-80ce-4a97-9424-659ef13a0d2e
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find page with ID: e9f53dc3-80ce-4a97-9424-659ef13a0d2e. Make sure the relevant
      pages and databases are shared with your integration.","request_id":"eb6e933e-bce2-42c2-84bd-942434947494"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb6e933e-bce2-42c2-84bd-942434947494
    status_code: 404
version: 1
