interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_1", "text":
      {"content": "level_1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"337260e6-1dd4-409e-8ca0-6899df432db0","created_time":"2023-12-24T22:15:00.000Z","last_edited_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-337260e61dd4409e8ca06899df432db0","public_url":null,"request_id":"78f73ebe-d67e-49f4-be81-efe53a4211fc"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "337260e6-1dd4-409e-8ca0-6899df432db0", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_2", "text":
      {"content": "level_2"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f8e007b6-ca85-40a0-989a-b6373011e6ee","created_time":"2023-12-24T22:15:00.000Z","last_edited_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"337260e6-1dd4-409e-8ca0-6899df432db0"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-f8e007b6ca8540a0989ab6373011e6ee","public_url":null,"request_id":"fd4a98dc-1d12-4891-b72e-9b75ddfd4f65"}'
    headers: {}
    status_code: 200
version: 1
