interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_1", "text":
      {"content": "level_1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a91ae6f0-9e56-4c15-9817-a4172d2926ad","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-a91ae6f09e564c159817a4172d2926ad","public_url":null,"request_id":"b61be717-5457-4c60-be88-4ff48e7b71c2"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "a91ae6f0-9e56-4c15-9817-a4172d2926ad", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_2", "text":
      {"content": "level_2"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"9c776239-d7ca-4b68-b003-0a1f84694ab2","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"a91ae6f0-9e56-4c15-9817-a4172d2926ad"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-9c776239d7ca4b68b0030a1f84694ab2","public_url":null,"request_id":"dfe33b82-4fd0-43a1-be04-d8241c02e297"}'
    headers: {}
    status_code: 200
version: 1
