interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_1", "text":
      {"content": "level_1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"018f4e2d-6786-4810-8a53-6b45c058c14f","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-018f4e2d678648108a536b45c058c14f","public_url":null,"request_id":"19a52dac-bd97-41dc-9c87-f98014c3cd9a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "018f4e2d-6786-4810-8a53-6b45c058c14f", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_2", "text":
      {"content": "level_2"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a96fab4a-7317-4cd4-a57b-ba3001a68555","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"018f4e2d-6786-4810-8a53-6b45c058c14f"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-a96fab4a73174cd4a57bba3001a68555","public_url":null,"request_id":"a25a5d1c-c0c5-4f8e-b0dd-ea8ae82b4586"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
