interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/d4f1e8cd-1a15-4e16-97d9-900f12740960/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"54a62996-13c6-4be4-bf7b-99ef4bc2926d","created_time":"2023-03-30T07:31:00.000Z","last_edited_time":"2023-11-05T10:47:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/user_blue.svg"}},"parent":{"type":"database_id","database_id":"d4f1e8cd-1a15-4e16-97d9-900f12740960"},"archived":false,"in_trash":false,"properties":{"Level":{"id":"%3CVau","type":"select","select":{"id":"]yHE","name":"Advanced","color":"blue"}},"Sync
      Date":{"id":"%3DG~u","type":"date","date":null},"Person":{"id":"%3Eo%40V","type":"people","people":[]},"Last
      Sync Days":{"id":"%40%5E%3Au","type":"formula","formula":{"type":"number","number":null}},"----
      Separator ----":{"id":"%40qHE","type":"formula","formula":{"type":"string","string":"Properties
      below here are for internal use"}},"URL":{"id":"HNS%3D","type":"url","url":"https://acme.com/employee-details"},"Address":{"id":"NKkT","type":"rich_text","rich_text":[]},"Team
      Member":{"id":"PvPD","type":"checkbox","checkbox":true},"Employed":{"id":"QlK%5D","type":"formula","formula":{"type":"boolean","boolean":true}},"Churn
      Prob":{"id":"T~sL","type":"select","select":{"id":"5631d5f7-d4f9-4d8f-a5ee-e449e792b427","name":"0-20%","color":"green"}},"Hiring
      Date":{"id":"UnqB","type":"date","date":null},"Role":{"id":"VDIf","type":"select","select":{"id":"60f1ff4e-1658-4891-b286-e1b16dd002ea","name":"IT
      Support Specialist","color":"yellow"}},"Organisation":{"id":"WeW%7C","type":"relation","relation":[],"has_more":false},"Closest
      Birthday":{"id":"YlLd","type":"formula","formula":{"type":"date","date":null}},"Years
      of Experience when hired":{"id":"Z%3EDh","type":"number","number":null},"Work
      Experience":{"id":"%5C%40F%3A","type":"formula","formula":{"type":"string","string":""}},"Office":{"id":"_EW%7D","type":"select","select":{"id":"9654df26-6f36-4fd8-8b48-e187a310ff7d","name":"London","color":"blue"}},"Termination
      Date":{"id":"_e%3AX","type":"date","date":null},"Last Sync Weeks":{"id":"fIaS","type":"formula","formula":{"type":"number","number":null}},"Working
      Time":{"id":"g%5Cv%5B","type":"select","select":{"id":"ww}|","name":"100%","color":"purple"}},"Annual
      Review":{"id":"imne","type":"formula","formula":{"type":"string","string":null}},"Last
      Sync":{"id":"pIKB","type":"formula","formula":{"type":"string","string":"? ago"}},"Birthday":{"id":"wOOq","type":"date","date":null},"Phone":{"id":"zEql","type":"phone_number","phone_number":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"John
      Smith","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"John
      Smith","href":null}]},"Title":{"id":"46e20866-67b7-4cbb-891f-9b440c18da79","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Junior
      Developer","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Junior
      Developer","href":null}]},"Email":{"id":"cc99764e-99e5-40a9-8b6d-5a1691141dee","type":"email","email":"john.smith@acme.com"}},"url":"https://www.notion.so/John-Smith-54a6299613c64be4bf7b99ef4bc2926d","public_url":null},{"object":"page","id":"5da6441e-6103-4b45-90b8-92fa0087d731","created_time":"2023-03-30T07:31:00.000Z","last_edited_time":"2025-06-03T15:06:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/user_blue.svg"}},"parent":{"type":"database_id","database_id":"d4f1e8cd-1a15-4e16-97d9-900f12740960"},"archived":false,"in_trash":false,"properties":{"Level":{"id":"%3CVau","type":"select","select":{"id":"Sg=B","name":"Senior","color":"orange"}},"Sync
      Date":{"id":"%3DG~u","type":"date","date":null},"Person":{"id":"%3Eo%40V","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"}}]},"Last
      Sync Days":{"id":"%40%5E%3Au","type":"formula","formula":{"type":"number","number":null}},"----
      Separator ----":{"id":"%40qHE","type":"formula","formula":{"typ[...]
