interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8148-99ed-000b1e2cf103/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81f0-83fa-d8760bde3566\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"database_id\":\"3839ce7b-60a4-8146-a96f-f93140931d35\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"type\":\"select\",\"select\":{\"id\":\"8954e2f9-27d7-4b5d-ae76-5efa3002defe\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\"}},\"Status\":{\"id\":\"U%60%3BC\",\"type\":\"status\",\"status\":{\"id\":\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\",\"name\":\"Done\",\"color\":\"green\"}},\"Urgency\":{\"id\":\"jkwd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\u2705\"}},\"Due
      Date\":{\"id\":\"lwnn\",\"type\":\"date\",\"date\":{\"start\":\"2026-06-18T00:00:00.000+00:00\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Ship
      release\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Ship
      release\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/Ship-release-3839ce7b60a481f083fad8760bde3566\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-8135-8cb7-c6657a2dd0d5\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"database_id\":\"3839ce7[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-802c-b152-000ba814957b/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"a8f4aff1-234e-4c5b-9fa8-4749a75d2fe8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8f4aff1-234e-4c5b-9fa8-4749a75d2fe8
    status_code: 200
version: 1
