interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8180-9ad3-000ba3a62e53/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3839ce7b-60a4-8113-a0a3-fba80b2a2556","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8180-9ad3-000ba3a62e53","database_id":"00000000-0000-4000-8000-00000000000b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Phone":{"id":"E%40%3En","type":"phone_number","phone_number":null},"Sync
      Date":{"id":"M%60nJ","type":"date","date":null},"Email":{"id":"SqMd","type":"email","email":"contact10@example.com"},"URL":{"id":"YpOr","type":"url","url":null},"Title":{"id":"%7Ci%3DR","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Title
      10","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Title
      10","href":null}]},"Team Member":{"id":"%7Ct%5C%3C","type":"checkbox","checkbox":true},"Role":{"id":"%7DSX%3A","type":"select","select":{"id":"4a0d273d-6366-42bb-a2ad-088ae3c2dbdd","name":"Software
      Engineer","color":"gray"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Contact
      10","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contact
      10","href":null}]}},"url":"https://www.notion.so/Contact-10-3839ce7b60a48113a0a3fba80b2a2556","public_url":null,"archived":false},{"object":"page","id":"3839ce7b-60a4-81b3-aa28-e8be6b61aaf0","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3839ce7b-60a4-8180-9ad3-000ba3a62e53","database_id":"00000000-0000-4000-8000-00000000000b"},"in_trash":false,"is_[...]
