interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/b0cb6b70-e740-496d-9c81-8a298fa2d5e1/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"fd95fc97-3b46-4e35-a811-3b087ebd7b5d\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2025-08-20T07:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001FA91\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -5w6d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2025-07-23T17:10:00.000-04:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"status\",\"status\":{\"id\":\"7c06435c-d863-4074-8f73-051a36b3cfa4\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"131f03a1-028c-4fac-97fa-f2a5aee5a196\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Clearing
      out the cellar\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Clearing
      out the cellar\",\"href\":null}]}},\"url\":\"https://www.notion.so/Clearing-out-the-cellar-fd95fc973b464e35a8113b087ebd7b5d\",\"public_url\":null},{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2025-09-03T13:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F3C3\U0001F3FB\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9[...]
