interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6fe7040f-27cc-4c94-9219-68da6e12e5e2","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:13:54.003+00:00","last_edited_time":"2026-06-24T16:13:54.003+00:00","data_sources":[{"id":"0300b765-49dc-469b-b2e1-2d87ab87952b","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/6fe7040f27cc4c94921968da6e12e5e2","public_url":null,"archived":false,"request_id":"91b2a272-31c1-4f50-81fc-826945a92c36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 91b2a272-31c1-4f50-81fc-826945a92c36
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema A description","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/6fe7040f-27cc-4c94-9219-68da6e12e5e2
  response:
    conten[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/0300b765-49dc-469b-b2e1-2d87ab87952b
  response:
    content: '{"object":"data_source","id":"0300b765-49dc-469b-b2e1-2d87ab87952b","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:13:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Schema A description","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A description","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6fe7040f-27cc-4c94-9219-68da6e12e5e2"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/6fe7040f27cc4c94921968da6e12e5e2","public_url":null,"in_trash":false,"archived":false,"request_id":"a4c40686-f456-4ca2-b167-2a24fce794aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4c40686-f456-4ca2-b167-2a24fce794aa
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"0300b765-49dc-469b-b2e1-2d87ab87952b","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/0300b765-49dc-469b-b2e1-2d87ab87952b
  response:
    content: '{"object":"data_source","id":"0300b765-49dc-469b-b2e1-2d87ab87952b","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
