interactions:
- request:
    body: '{"query": "State Page for ID Prefix ALLCOLS", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://www.notion.so/Custom-Emoji-Page-00000000000040008000000000000008","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ba5dceab-7cee-4bbc-909d-891dd3f5e210"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba5dceab-7cee-4bbc-909d-891dd3f5e210
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"daaea7cb-13fc-4232-ba69-3751b527b6a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - daaea7cb-13fc-4232-ba69-3751b527b6a8
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "State Page for ID Prefix ALLCOLS", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "State Page for ID Prefix ALLCOLS"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - ap[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81aa-bc51-e3daa756fc0c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a48164a8-8e65-47fc-91d3-70e974b47c43"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a48164a8-8e65-47fc-91d3-70e974b47c43
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"ALLCOLS755","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"ALLCOLS755"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81aa-bc51-e3daa756fc0c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-819d-96ea-e217641f4b92","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81aa-bc51-e3daa756fc0c"},"created_time":"2026-06-27T04:59:00.000Z","last_edited_time":"2026-06-27T04:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"ALLCOLS755","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"ALLCOLS755","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"412520dc-b415-4257-afbb-76240e43d1d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 412520dc-b415-4257-afbb-76240e43d1d7
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-812d-aa33-ddf3ccb7196a","cover":null,"icon":null,"created_time":"2026-06-27T04:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:59:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a4812daa33ddf3ccb7196a","public_url":null,"in_trash":false,"archived":false,"request_id":"1a21be33-b0b0-4f32-a8e5-6cf86779765d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1a21be33-b0b0-4f32-a8e5-6cf86779765d
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "properties": {"Checkbox": {"type":
      "checkbox", "checkbox": {}}, "Created by": {"type": "created_by", "created_by":
      {}}, "Created time": {"type": "created_time", "created_time": {}}, "Date": {"type":
      "date", "date": {}}, "Email": {"type": "email", "email": {}}, "Files": {"type":
      "files", "files": {}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Number\") * 2"}}, "Last edited by": {"type": "last_edited_by", "last_edited_by":
      {}}, "Last edited time": {"type": "last_edited_time", "last_edited_time": {}},
      "Multi-select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option1"}, {"name": "Option2", "color": "red"}]}}, "Number": {"type": "number",
      "number": {"format": "dollar"}}, "People": {"type": "people", "people": {}},
      "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation": {"type":
      "relation", "relation": {"type": "single_property", "database_id": "38c9ce7b-60a4-812d-aa33-ddf3ccb7196a",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "38c9ce7b-60a4-812d-aa33-ddf3ccb7196a",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Option1"}, {"name": "Option2",
      "color": "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title":
      {"type": "title", "title": {}}, "URL": {"type": "url", "url": {}}, "ID": {"type":
      "unique_id", "unique_id": {"prefix": "ALLCOLS755"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8183-aac5-c0c383d318ca","cover":null,"icon":null,"created_time":"2026-06-27T04:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:59:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"%3CAoq","name":"Relation","description":null,"type":"relation","relation":{"database_id":"38c9ce7b-60a4-812d-aa33-ddf3ccb7196a","data_source_id":"38c9ce7b-60a4-81b6-998b-000bc2908985","type":"single_property","single_property":{}}},"Formula":{"id":"Azm%40","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:GVh%60:00000000-0000-0000-0000-000000000000:00000000-0000-4000-8000-0000000000f0}}
      * 2"}},"Created by":{"id":"Fy%40O","name":"Created by","description":null,"type":"created_by","created_by":{}},"Number":{"id":"GVh%60","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Last
      edited by":{"id":"Jz%40f","name":"Last edited by","description":null,"type":"last_edited_by","last_edited_by":{}},"Relation
      two-way":{"id":"Mkd%40","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"38c9ce7b-60a4-812d-aa33-ddf3ccb7196a","data_source_id":"38c9ce7b-60a4-81b6-998b-000bc2908985","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"HUSc"}}},"Select":{"id":"QOpQ","name":"Select","description":null,"type":"select","select":{"options":[{"id":"e14ea20d-97de-486d-bc01-1947aebc1294","name":"Option1","color":"default","description":null},{"id":"f77e5b75-24b6-440c-9a9c-60bde3c52faa","name":"Option2","color":"red","description":null}]}},"Checkbox":{"id":"Wt%60c","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"People":{"id":"XMEI","name":"People","description":null,"type":"people","people":{}},"Created
      time":{"id":"Yv%7Bu","name":"Created time","description":null,"type":"created_time","created_time":{}},"Date":{"id":"ZL%5Bw","name":"Date","description":null,"type":"date","date":{}},"Multi-select":{"id":"%5DXPD","name":"Multi-select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"915edd2f-58e4-4daf-8343-c59556b07f2c","name":"Option1","color":"default","description":null},{"id":"271b610e-da9b-47d4-aaf0-4f01b44a809a","name":"Option2","color":"red","description":null}]}},"URL":{"id":"%5D%5C%7C%3C","name":"URL","description":null,"type":"url","url":{}},"Phone
      number":{"id":"_%3D%3Ex","name":"Phone number","description":null,"type":"phone_number","phone_number":{}},"Files":{"id":"caoN","name":"Files","description":null,"type":"files","files":{}},"Rollup":{"id":"fmJ~","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"<Aoq","function":"count"}},"Last
      edited time":{"id":"nrv%3E","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"ID":{"id":"wQ%3Ey","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":"ALLCOLS755"}},"Text":{"id":"z%3EjS","name":"Text","description":null,"type":"rich_text","rich_text":{}},"Email":{"id":"%7D%5EZD","name":"Email","description":null,"type":"email","email":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a48183aac5c0c383d318ca","public_url":null,"in_trash":false,"archived":false,"request_id":"e2ce1738-31c4-47e1-98d8-ed5383a14ef5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e2ce1738-31c4-47e1-98d8-ed5383a14ef5
    status_code: 200
[...]
- request:
    body: '{"properties":{"HUSc":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-812d-aa33-ddf3ccb7196a
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-812d-aa33-ddf3ccb7196a","cover":null,"icon":null,"created_time":"2026-06-27T04:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"las[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"e4427dd3-4d3d-469c-a555-eba10d7c05ff\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e4427dd3-4d3d-469c-a555-eba10d7c05ff
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-8183-aac5-c0c383d318ca"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://www.google.de/robots.txt"}}]},
      "Multi-select": {"type": "multi_select", "multi_select": [{"name": "Option1"}]},
      "Number": {"type": "number", "number": 42}, "People": {"people": [{"id": "00000000-0000-4000-8000-0000000000fa",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "38c9ce7b-60a4-81b3-94e4-f74d8ac9637d"}, {"id": "38c9ce7b-6[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-812d-aa33-ddf3ccb7196a
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-812d-aa33-ddf3ccb7196a","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T04:59:00.000Z","last_edited_time":"2026-06-27T04:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"archived":true,"request_id":"108799a2-37e6-4a8c-b39f-fd84ac5f55bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 108799a2-37e6-4a8c-b39f-fd84ac5f55bf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8183-aac5-c0c383d318ca
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8183-aac5-c0c383d318ca","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-27T04:59:00.000Z","last_edited_time":"2026-06-27T04:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"archived":true,"request_id":"b5866971-12ec-454a-8cd7-dca315fae1ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5866971-12ec-454a-8cd7-dca315fae1ce
    status_code: 200
version: 1
