interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema A"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a72ff230-a651-439f-8a7e-db604509a840","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:14:15.286+00:00","last_edited_time":"2026-06-24T16:14:15.286+00:00","data_sources":[{"id":"bc9acaa5-5a35-42a5-85a9-f8fc399aaf25","name":"Update
      Prop-Test: Schema A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a72ff230a651439f8a7edb604509a840","public_url":null,"archived":false,"request_id":"17798c02-3925-4298-9911-39f7d245aa8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 17798c02-3925-4298-9911-39f7d245aa8f
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/a72ff230-a6[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/bc9acaa5-5a35-42a5-85a9-f8fc399aaf25
  response:
    content: '{"object":"data_source","id":"bc9acaa5-5a35-42a5-85a9-f8fc399aaf25","cover":null,"icon":null,"created_time":"2026-06-24T16:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:14:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[{"type":"text","text":{"content":"Only
      used to create relations in Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema C","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a72ff230-a651-439f-8a7e-db604509a840"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/a72ff230a651439f8a7edb604509a840","public_url":null,"in_trash":false,"archived":false,"request_id":"27c1fdbb-8618-40e8-a7cf-551ca46f72a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27c1fdbb-8618-40e8-a7cf-551ca46f72a4
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema C"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "bc9acaa5-5a35-42a5-85a9-f8fc399aaf25", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "bc9acaa5-5a35-42a5-85a9-f8fc399aaf25", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"341c7773-b08a-4473-b1e5-51aa7110c3cb","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:14:19.185+00:00","last_edited_time":"2026-06-24T16:14:19.185+00:00","data_sources":[{"id":"55ad27e3-8592-45b3-9775-6041ed3fdd5d","name":"Update
      Prop-Test: Schema C"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/341c7773b08a4473b1e551aa7110c3cb","public_url":null,"archived":false,"request_id":"ffdab89d-daa0-4462-8536-704aae01d85d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ffdab89d-daa0-4462-8536-704aae01d85d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/55ad27e3-8592-45b3-9775-6041ed3fdd5d
  response:
    content: '{"object":"data_source","id":"55ad27e3-8592-45b3-9775-6041ed3fdd5d","cover":null,"icon":null,"created_time":"2026-06-24T16:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:14:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[{"type":"text","text":{"content":"Actual
      interesting schema/db","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Actual
      interesting schema/db","href":null}],"is_inline":false,"properties":{"Relation
      two-way":{"id":"DIkX","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"a72ff230-a651-439f-8a7e-db604509a840","data_source_id":"bc9acaa5-5a35-42a5-85a9-f8fc399aaf25","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Update Prop-Test: Schema C (Relation two-way)","synced_property_id":"%3Aybh"}}},"Relation":{"id":"eC%40O","name":"Relation","description":null,"type":"relation","relation":{"database_id":"a72ff230-a651-439f-8a7e-db604509a840","data_source_id":"bc9acaa5-5a35-42a5-85a9-f8fc399aaf25","type":"single_property","single_property":{}}},"Rollup":{"id":"%7Cq%60~","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"eC@O","function":"count"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"341c7773-b08a-4473-b1e5-51aa7110c3cb"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/341c7773b08a4473b1e551aa7110c3cb","public_url":null,"in_trash":false,"archived":false,"request_id":"b7cedb60-c5cf-4647-8d8f-cc20ae92e56e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b7cedb60-c5cf-4647-8d8f-cc20ae92e56e
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Select Options Update Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}, "Number": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a69f87c4-3a0e-4524-89f7-02cd0578509f","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:14:31.509+00:00","last_edited_time":"2026-06-24T16:14:31.509+00:00","data_sources":[{"id":"5b96b352-2ea4-43fa-8c40-7f17cc15d6ae","name":"Select
      Options Update Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a69f87c43a0e452489f702cd0578509f","public_url":null,"archived":false,"request_id":"694da55e-a85b-4c68-8a97-ec48db0298d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 694da55e-a85b-4c68-8a97-ec48db0298d3
    status_code: 200
[...]
