interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a4ced11e-b707-48f5-bed0-72146cf1d050","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:22.824+00:00","last_edited_time":"2026-06-24T16:29:22.824+00:00","data_sources":[{"id":"8ba5286c-6867-4e2e-8ef1-dcb1ec66008c","name":"Add/Del/Update
      Prop-Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a4ced11eb70748f5bed072146cf1d050","public_url":null,"archived":false,"request_id":"fd9c16f9-e617-4e8a-97a4-a6fc55a1b8f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd9c16f9-e617-4e8a-97a4-a6fc55a1b8f0
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/8ba5286c-6867-4e2e-8ef1-dcb1ec66008c
  response:
    content: '{"object":"data_source","id":"8ba5286c-6867-4e2e-8ef1-dcb1ec66008c","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/8ba5286c-6867-4e2e-8ef1-dcb1ec66008c
  response:
    content: '{"object":"data_source","id":"8ba5286c-6867-4e2e-8ef1-dcb1ec66008c","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_e[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/8ba5286c-6867-4e2e-8ef1-dcb1ec66008c
  response:
    content: '{"object":"data_source","id":"8ba5286c-6867-4e2e-8ef1-dcb1ec66008c","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/cc707eaa-2385-4a65-bd4a-4a36020a2608
  response:
    content: '{"object":"data_source","id":"cc707eaa-2385-4a65-bd4a-4a36020a2608","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"c4d5b5d0-2dc3-42f8-881f-967cf3bd6061"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/c4d5b5d02dc342f8881f967cf3bd6061","public_url":null,"in_trash":false,"archived":false,"request_id":"fff0b388-f0f5-4fff-b708-9a9c193203ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fff0b388-f0f5-4fff-b708-9a9c193203ee
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","data_source_id":"cc707eaa-2385-4a65-bd4a-4a36020a2608","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/8ba5286c-6867-4e2e-8ef1-dcb1ec66008c
  response:
    content: '{"object":"data_source","id":"8ba5286c-6867-4e2e-8ef1-dcb1ec66008c","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%3BGcv","name":"Relation","description":null,"type":"relation","relation":{"database_id":"c4d5b5d0-2dc3-42f8-881f-967cf3bd6061","data_source_id":"cc707eaa-2385-4a65-bd4a-4a36020a2608","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"%7BMas"}}},"Category":{"id":"ILFU","name":"Category","description":null,"type":"select","select":{"options":[{"id":"b2f26ea7-2917-4558-a73b-92a34989e02d","name":"Cat1","color":"default","description":null},{"id":"fa56bda6-9028-433c-ad4d-dab5cadadbf2","name":"Cat2","color":"red","description":null}]}},"Date":{"id":"So%5Bc","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"_%7B%7Cc","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a4ced11e-b707-48f5-bed0-72146cf1d050"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/a4ced11eb70748f5bed072146cf1d050","public_url":null,"in_trash":false,"archived":false,"request_id":"f83ebaef-85a1-44e9-a678-9ba30afc7cbf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f83ebaef-85a1-44e9-a678-9ba30afc7cbf
    status_code: 200
[...]
