interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29ae76ea-2eec-417a-aa5f-68d516d6dde2","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:00:48.428+00:00","last_edited_time":"2026-06-27T06:00:48.428+00:00","data_sources":[{"id":"0abed9cd-64e8-4071-afb7-4a1782b0e5e9","name":"Add/Del/Update
      Prop-Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/29ae76ea2eec417aaa5f68d516d6dde2","public_url":null,"archived":false,"request_id":"4550292c-58af-4329-9784-0a8e7900ebca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4550292c-58af-4329-9784-0a8e7900ebca
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/0abed9cd-64e8-4071-afb7-4a1782b0e5e9
  response:
    content: '{"object":"data_source","id":"0abed9cd-64e8-4071-afb7-4a1782b0e5e9","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:00:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/0abed9cd-64e8-4071-afb7-4a1782b0e5e9
  response:
    content: '{"object":"data_source","id":"0abed9cd-64e8-4071-afb7-4a1782b0e5e9","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_e[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/0abed9cd-64e8-4071-afb7-4a1782b0e5e9
  response:
    content: '{"object":"data_source","id":"0abed9cd-64e8-4071-afb7-4a1782b0e5e9","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c24c67a1-068e-4311-b83f-96d1a3a9f563
  response:
    content: '{"object":"data_source","id":"c24c67a1-068e-4311-b83f-96d1a3a9f563","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:00:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e9152e2a-3e25-426a-98e1-516d355b675e"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/e9152e2a3e25426a98e1516d355b675e","public_url":null,"in_trash":false,"archived":false,"request_id":"248bb22d-606c-46d3-a26b-9253cbe2d260"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 248bb22d-606c-46d3-a26b-9253cbe2d260
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","data_source_id":"c24c67a1-068e-4311-b83f-96d1a3a9f563","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/0abed9cd-64e8-4071-afb7-4a1782b0e5e9
  response:
    content: '{"object":"data_source","id":"0abed9cd-64e8-4071-afb7-4a1782b0e5e9","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:00:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%3CVkB","name":"Relation","description":null,"type":"relation","relation":{"database_id":"e9152e2a-3e25-426a-98e1-516d355b675e","data_source_id":"c24c67a1-068e-4311-b83f-96d1a3a9f563","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"eoNy"}}},"Category":{"id":"EKYt","name":"Category","description":null,"type":"select","select":{"options":[{"id":"ef78d2a3-16e0-40ea-b99a-7feb204fb25b","name":"Cat1","color":"default","description":null},{"id":"de2f15e1-d90d-4e26-bad9-ad32c3d70e79","name":"Cat2","color":"red","description":null}]}},"Number":{"id":"dHYg","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Date":{"id":"zq%3Cp","name":"Date","description":null,"type":"date","date":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"29ae76ea-2eec-417a-aa5f-68d516d6dde2"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/29ae76ea2eec417aaa5f68d516d6dde2","public_url":null,"in_trash":false,"archived":false,"request_id":"db7ffffd-dbe4-4492-941f-b791df69315a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db7ffffd-dbe4-4492-941f-b791df69315a
    status_code: 200
[...]
