interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"453f8b2e-ca6b-4d0c-9a7f-a45c9d849279","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:44:48.601+00:00","last_edited_time":"2026-06-24T18:44:48.601+00:00","data_sources":[{"id":"2d8e3e98-d763-47ff-8c16-8678039918ab","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/453f8b2eca6b4d0c9a7fa45c9d849279","public_url":null,"archived":false,"request_id":"6e757eee-3dc2-4eff-88df-9bcedff43e3b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e757eee-3dc2-4eff-88df-9bcedff43e3b
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema A description","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/453f8b2e-ca6b-4d0c-9a7f-a45c9d849279
  response:
    conten[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/2d8e3e98-d763-47ff-8c16-8678039918ab
  response:
    content: '{"object":"data_source","id":"2d8e3e98-d763-47ff-8c16-8678039918ab","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:44:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Schema A description","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A description","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"453f8b2e-ca6b-4d0c-9a7f-a45c9d849279"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/453f8b2eca6b4d0c9a7fa45c9d849279","public_url":null,"in_trash":false,"archived":false,"request_id":"415c4e72-c3da-45fb-b0fa-e46905a35be3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 415c4e72-c3da-45fb-b0fa-e46905a35be3
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"2d8e3e98-d763-47ff-8c16-8678039918ab","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/2d8e3e98-d763-47ff-8c16-8678039918ab
  response:
    content: '{"object":"data_source","id":"2d8e3e98-d763-47ff-8c16-8678039918ab","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
