interactions:
- request:
    body: '{"query": "State Page for ID Prefix OLDID", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81a9-8663-cccb40550f4a","created_time":"2026-06-27T17:03:00.000Z","last_edited_time":"2026-06-27T17:03:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"State
      Page for ID Prefix ALLCOLS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"State
      Page for ID Prefix ALLCOLS","href":null}]}},"url":"https://www.notion.so/State-Page-for-ID-Prefix-ALLCOLS-38c9ce7b60a481a98663cccb40550f4a","public_url":null},{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://www.notion.so/Custom-Emoji-Page-00000000000040008000000000000008","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"575fae60-96ec-4997-8622-badab051917b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 575fae60-96ec-4997-8622-badab051917b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"bad344bd-1b44-4bb5-ab26-b50525dadc47"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bad344bd-1b44-4bb5-ab26-b50525dadc47
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "State Page for ID Prefix OLDID", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "State Page for ID Prefix OLDID"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - applic[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81b7-be25-d10e59f23887/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d2149575-c2cb-4e19-b628-fb455d394250"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d2149575-c2cb-4e19-b628-fb455d394250
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"OLDID46156","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"OLDID46156"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81b7-be25-d10e59f23887/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8113-bc0e-c4b82aefa54e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81b7-be25-d10e59f23887"},"created_time":"2026-06-27T17:05:00.000Z","last_edited_time":"2026-06-27T17:05:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"OLDID46156","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"OLDID46156","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"afae340c-910e-435c-a06e-9d136ccd25a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - afae340c-910e-435c-a06e-9d136ccd25a8
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Unique ID Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Unique ID Update Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "ID": {"type": "unique_id", "unique_id": {"prefix": "OLDID46156"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"86d4f652-8f14-40c2-8273-2fcea9e3ed76","title":[{"type":"text","text":{"content":"Unique
      ID Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Unique
      ID Update Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:05:41.417+00:00","last_edited_time":"2026-06-27T17:05:41.417+00:00","data_sources":[{"id":"7997ca54-ca36-4a1a-9694-e0019a626ad8","name":"Unique
      ID Update Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/86d4f6528f1440c282732fcea9e3ed76","public_url":null,"request_id":"4f593d3a-726a-4036-b279-f1d5b793d57b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f593d3a-726a-4036-b279-f1d5b793d57b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/7997ca54-ca36-4a1a-9694-e0019a626ad8
  response:
    content: '{"object":"data_source","id":"7997ca54-ca36-4a1a-9694-e0019a626ad8","cover":null,"icon":null,"created_time":"2026-06-27T17:05:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:05:00.000Z","title":[{"type":"text","text":{"content":"Unique
      ID Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Unique
      ID Update Test","href":null}],"description":[],"is_inline":false,"properties":{"ID":{"id":"Y%7Bs%3C","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":"OLDID46156"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"86d4f652-8f14-40c2-8273-2fcea9e3ed76"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/86d4f6528f1440c282732fcea9e3ed76","public_url":null,"in_trash":false,"request_id":"7e81157b-0ae5-4bac-8c2f-f23abeababc9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e81157b-0ae5-4bac-8c2f-f23abeababc9
    status_code: 200
[...]
