interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Select Options Update
      Test"}}], "properties": {"Name": {"type": "title", "title": {}}, "Category":
      {"type": "select", "select": {"options": [{"name": "Cat1", "color": "default"},
      {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}},
      "Number": {"type": "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"216974f3-b388-8180-8b81-e4f749bc2002","cover":null,"icon":null,"created_time":"2025-06-18T16:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-18T16:54:00.000Z","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"is_inline":false,"properties":{"Formula":{"id":"%3DWJW","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Number":{"id":"cDMc","name":"Number","type":"number","number":{"format":"dollar"}},"Category":{"id":"scc%7C","name":"Category","type":"select","select":{"options":[{"id":"34c0cd26-e45b-465e-8eac-7ef725711e2b","name":"Cat1","color":"default","description":null},{"id":"e6e582da-55d8-4729-865d-282f514321b5","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"tMW%7C","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"2b9ea21d-0d7d-44e3-8c13-e7dbcc53b441","name":"Cat1","color":"default","description":null},{"id":"4a30bb29-4202-4573-b63a-e1d16c574e02","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/216974f3b38881808b81e4f749bc2002","public_url":null,"archived":false,"in_trash":false,"request_id":"a8980d12-58dd-4c80-8ad3-2646acee218e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8980d12-58dd-4c80-8ad3-2646acee218e
    status_code: 200
- request:
    body: '{"properties": {"Number": {"type": "number", "id": "cDMc", "name": "Number",
      "number": {"format": "percent"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/216974f3-b388-8180-8b81-e4f749bc2002
  response:
    content: '{"object":"database","id":"216974f3-b388-8180-8b81-e4f749bc2002","cover":null,"icon":null,"cr[...]
[...]
