interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Category": {"type": "select", "select": {"options":
      [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}},
      "Tags": {"type": "multi_select", "multi_select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8139-8f1c-e686a1a999c5","cover":null,"icon":null,"created_time":"2026-06-27T05:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:00:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"OF%3Fj","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"9b17b16d-9bc5-4535-8d5f-8bfab8af54c4","name":"Cat1","color":"default","description":null},{"id":"c87ddd39-9e29-488e-aced-bdc535108c93","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"zIkZ","name":"Category","description":null,"type":"select","select":{"options":[{"id":"5d6740d4-3a71-4dc3-adc4-c983971ccc7e","name":"Cat1","color":"default","description":null},{"id":"24b71a2f-378d-4910-a002-fd25d04d3e7a","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481398f1ce686a1a999c5","public_url":null,"in_trash":false,"archived":false,"request_id":"8e99fa15-b5c0-45bd-b44b-4c884b55bdc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e99fa15-b5c0-45bd-b44b-4c884b55bdc0
    status_code: 200
version: 1
