interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Category": {"type": "select", "select": {"options":
      [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}},
      "Tags": {"type": "multi_select", "multi_select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81f5-9593-ef3620cf1e25","cover":null,"icon":null,"created_time":"2025-09-22T09:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:24:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"bAMW","name":"Category","description":null,"type":"select","select":{"options":[{"id":"afa0f5e9-906b-415f-9967-eddba3164a92","name":"Cat1","color":"default","description":null},{"id":"6d37ef3b-110a-4554-b074-97bb4e370f1f","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"%7BS%5DR","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"8313e6d5-4fca-4c65-a195-bba8b11fefa3","name":"Cat1","color":"default","description":null},{"id":"63cb938d-ffc9-4caa-ac84-0b9af841429a","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881f59593ef3620cf1e25","public_url":null,"archived":false,"in_trash":false,"request_id":"edc47057-db8c-49ff-a6ab-1fc3d67891b7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - edc47057-db8c-49ff-a6ab-1fc3d67891b7
    status_code: 200
version: 1
