interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-811b-a9d9-cd32033462ae","cover":null,"icon":null,"created_time":"2025-08-22T07:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:17:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b388811ba9d9cd32033462ae","public_url":null,"archived":false,"in_trash":false,"request_id":"cec4c990-2b8e-4857-a333-0f10c5d335e5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cec4c990-2b8e-4857-a333-0f10c5d335e5
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/dat[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema B"}}], "properties":
      {"Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "257974f3-b388-811b-a9d9-cd32033462ae", "dual_property": {}}},
      "Title": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81c3-a428-d8a86310e925","cover":null,"icon":null,"created_time":"2025-08-22T07:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:17:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"HVpb","name":"Relation two-way","type":"relation","relation":{"database_id":"257974f3-b388-811b-a9d9-cd32033462ae","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"eR%3F%5C"}}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881c3a428d8a86310e925","public_url":null,"archived":false,"in_trash":false,"request_id":"aecf7c21-2e34-4865-b49c-eb5de8bff412"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aecf7c21-2e34-4865-b49c-eb5de8bff412
    status_code: 200
[...]
- request:
    body: '{"properties":{"eR%3F%5C":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-811b-a9d9-cd32033462ae
  response:
    content: '{"object":"database","id":"257974f3-b388-811b-a9d9-cd32033462ae","cover":null,"icon":null,"created_time":"2025-08-22T07:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:17:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"eR%3F%5C","name":"Relation","type":"relation","relation":{"database_id":"257974f3-b388-81c3-a428-d8a86310e925","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"HVpb"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b388811ba9d9cd32033462ae","public_url":null,"archived":false,"in_trash":false,"request_id":"30e05594-16aa-4a37-bd6d-13a5241ecbf2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30e05594-16aa-4a37-bd6d-13a5241ecbf2
    status_code: 200
[...]
