interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"48de93fe-67f5-417a-8951-a6b194afaaf9","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:44:41.705+00:00","last_edited_time":"2026-06-24T18:44:41.705+00:00","data_sources":[{"id":"1a2091e7-8ff3-4635-b748-58ad20f2887a","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/48de93fe67f5417a8951a6b194afaaf9","public_url":null,"archived":false,"request_id":"03cc170a-9cff-4017-be3b-01416929ba5e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03cc170a-9cff-4017-be3b-01416929ba5e
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/48de93fe-67[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/1a2091e7-8ff3-4635-b748-58ad20f2887a
  response:
    content: '{"object":"data_source","id":"1a2091e7-8ff3-4635-b748-58ad20f2887a","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:44:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"48de93fe-67f5-417a-8951-a6b194afaaf9"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/48de93fe67f5417a8951a6b194afaaf9","public_url":null,"in_trash":false,"archived":false,"request_id":"4196306d-a167-4d00-82de-ca8e185e0e8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4196306d-a167-4d00-82de-ca8e185e0e8f
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Relation two-way": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "1a2091e7-8ff3-4635-b748-58ad20f2887a", "dual_property":
      {}}}, "Title": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c1e2b270-e1ab-429c-9420-7e3f625ab6bb","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:44:43.946+00:00","last_edited_time":"2026-06-24T18:44:43.946+00:00","data_sources":[{"id":"33990d83-e90f-4943-9314-8c47f6579166","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/c1e2b270e1ab429c94207e3f625ab6bb","public_url":null,"archived":false,"request_id":"a1fa0ba5-d9de-4961-bf9d-7b5794a1cfd5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1fa0ba5-d9de-4961-bf9d-7b5794a1cfd5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/33990d83-e90f-4943-9314-8c47f6579166
  response:
    content: '{"object":"data_source","id":"33990d83-e90f-4943-9314-8c47f6579166","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:44:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation
      two-way":{"id":"pM%3EL","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"48de93fe-67f5-417a-8951-a6b194afaaf9","data_source_id":"1a2091e7-8ff3-4635-b748-58ad20f2887a","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"D%7CHO"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"c1e2b270-e1ab-429c-9420-7e3f625ab6bb"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/c1e2b270e1ab429c94207e3f625ab6bb","public_url":null,"in_trash":false,"archived":false,"request_id":"717ac719-54ba-402d-be80-6e0a3cf3085e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 717ac719-54ba-402d-be80-6e0a3cf3085e
    status_code: 200
- request:
    body: '{"properties":{"D%7CHO":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/1a2091e7-8ff3-4635-b748-58ad20f2887a
  response:
    content: '{"object":"data_source","id":"1a2091e7-8ff3-4635-b748-58ad20f2887a","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:44:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"D%7CHO","name":"Relation","description":null,"type":"relation","relation":{"database_id":"c1e2b270-e1ab-429c-9420-7e3f625ab6bb","data_source_id":"33990d83-e90f-4943-9314-8c47f6579166","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"pM%3EL"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"48de93fe-67f5-417a-8951-a6b194afaaf9"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/48de93fe67f5417a8951a6b194afaaf9","public_url":null,"in_trash":false,"archived":false,"request_id":"c964c902-f970-45e3-bc44-7cba26477671"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c964c902-f970-45e3-bc44-7cba26477671
    status_code: 200
[...]
