interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8178-89a9-ce3595c07608","cover":null,"icon":null,"created_time":"2025-08-29T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T14:14:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b388817889a9ce3595c07608","public_url":null,"archived":false,"in_trash":false,"request_id":"67f5e108-bc9e-449f-a55e-7ccb9d9eeb28"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 67f5e108-bc9e-449f-a55e-7ccb9d9eeb28
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "properties": {"Checkbox": {"type":
      "checkbox", "checkbox": {}}, "Created by": {"type": "created_by", "created_by":
      {}}, "Created time": {"type": "created_time", "created_time": {}}, "Date": {"type":
      "date", "date": {}}, "Email": {"type": "email", "email": {}}, "Files": {"type":
      "files", "files": {}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Number\") * 2"}}, "Last edited by": {"type": "last_edited_by", "last_edited_by":
      {}}, "Last edited time": {"type": "last_edited_time", "last_edited_time": {}},
      "Multi-select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option1"}, {"name": "Option2", "color": "red"}]}}, "Number": {"type": "number",
      "number": {"format": "dollar"}}, "People": {"type": "people", "people": {}},
      "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation": {"type":
      "relation", "relation": {"type": "single_property", "database_id": "25e974f3-b388-8178-89a9-ce3595c07608",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "25e974f3-b388-8178-89a9-ce3595c07608",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Option1"}, {"name": "Option2",
      "color": "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title":
      {"type": "title", "title": {}}, "URL": {"type": "url", "url": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8182-af63-dd6721f5ba96","cover":null,"icon":null,"created_time":"2025-08-29T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T14:14:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"%3Ay%40O","name":"Relation","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-8178-89a9-ce3595c07608","data_source_id":"25e974f3-b388-81b7-9920-000b72efa079","type":"single_property","single_property":{}}},"Select":{"id":"Bv%3E%5C","name":"Select","description":null,"type":"select","select":{"options":[{"id":"80f65afa-3423-4188-b374-25486b8dc1de","name":"Option1","color":"default","description":null},{"id":"43cb11e8-0a1d-443f-8a2c-0de0becd5a62","name":"Option2","color":"red","description":null}]}},"Rollup":{"id":"E%5Ct%3F","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":":y@O","function":"count"}},"Multi-select":{"id":"MaNz","name":"Multi-select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"647ee31b-82b6-46ec-b526-92c433f98cb3","name":"Option1","color":"default","description":null},{"id":"3db0abbd-d852-436c-ab88-d537484832b3","name":"Option2","color":"red","description":null}]}},"Last
      edited time":{"id":"Pd%5Cz","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"URL":{"id":"RxKL","name":"URL","description":null,"type":"url","url":{}},"Created
      by":{"id":"%5C%3AaX","name":"Created by","description":null,"type":"created_by","created_by":{}},"People":{"id":"_fEm","name":"People","description":null,"type":"people","people":{}},"Phone
      number":{"id":"_w%5E%3F","name":"Phone number","description":null,"type":"phone_number","phone_number":{}},"Files":{"id":"bJg%5B","name":"Files","description":null,"type":"files","files":{}},"Last
      edited by":{"id":"dYBi","name":"Last edited by","description":null,"type":"last_edited_by","last_edited_by":{}},"Relation
      two-way":{"id":"f%5Dmc","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-8178-89a9-ce3595c07608","data_source_id":"25e974f3-b388-81b7-9920-000b72efa079","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"%60lX%5D"}}},"Date":{"id":"ggR%5D","name":"Date","description":null,"type":"date","date":{}},"Created
      time":{"id":"iwO%3D","name":"Created time","description":null,"type":"created_time","created_time":{}},"Checkbox":{"id":"n%7D%7B%7D","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Email":{"id":"oeeD","name":"Email","description":null,"type":"email","email":{}},"Formula":{"id":"sbr%7D","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:yXlK:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2"}},"Number":{"id":"yXlK","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Text":{"id":"zdx~","name":"Text","description":null,"type":"rich_text","rich_text":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888182af63dd6721f5ba96","public_url":null,"archived":false,"in_trash":false,"request_id":"1ef8916d-420c-4cc0-9e86-6662c6a60db5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ef8916d-420c-4cc0-9e86-6662c6a60db5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5242880}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"ff0e9cdd-de14-4dac-9f50-0c5ed894f093"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff0e9cdd-de14-4dac-9f50-0c5ed894f093
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5242880}},"request_id":"281112b6-a06f-4900-9c85-55a76079a9f9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 281112b6-a06f-4900-9c85-55a76079a9f9
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8178-89a9-ce3595c07608"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8182-af63-dd6721f5ba96"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1"}]}, "Number": {"type": "number",
      "number": 42}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "25e974f3-b388-81a8-b17c-c211ed629359"}, {"id": "25e974f3-b388-81ff-8b4a-e0b2c51[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-8178-89a9-ce3595c07608
  response:
    content: '{"object":"block","id":"25e974f3-b388-8178-89a9-ce3595c07608","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-08-29T14:14:00.000Z","last_edited_time":"2025-08-29T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"75c63a18-e3b7-45c1-b948-019be469c20b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 75c63a18-e3b7-45c1-b948-019be469c20b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-29T14:14:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"5ecd6d86-7ea5-439f-8fa8-6a7860f629f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5ecd6d86-7ea5-439f-8fa8-6a7860f629f0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-8182-af63-dd6721f5ba96
  response:
    content: '{"object":"block","id":"25e974f3-b388-8182-af63-dd6721f5ba96","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-08-29T14:14:00.000Z","last_edited_time":"2025-08-29T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"905fe61c-ba17-484c-8cf0-c29935996fcb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 905fe61c-ba17-484c-8cf0-c29935996fcb
    status_code: 200
version: 1
