interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Add/Del/Update Prop-Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"243974f3-b388-817c-b289-e8f5813632de","cover":null,"icon":null,"created_time":"2025-08-02T19:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-02T19:35:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%40%3DhI","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"7bb431b5-446c-45e8-8b0a-3f572f7401f4","name":"Cat1","color":"default","description":null},{"id":"cbe67030-a6d2-41cc-96f7-15a38001cf00","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"%5DbuZ","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Category":{"id":"iLMU","name":"Category","type":"select","select":{"options":[{"id":"e1d2f9dc-c448-4aac-b4aa-703de025ac58","name":"Cat1","color":"default","description":null},{"id":"abd804e5-0e86-4afd-ac39-2aef4d167622","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/243974f3b388817cb289e8f5813632de","public_url":null,"archived":false,"in_trash":false,"request_id":"842c5532-5413-411d-b55f-79a47ee5cd5c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 842c5532-5413-411d-b55f-79a47ee5cd5c
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing adding,
      deleting and updating properties", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Schema for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-0[...]
[...]
- request:
    body: '{"properties": {"Number": {"type": "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/243974f3-b388-817c-b289-e8f5813632de
  response:
    content: '{"object":"database","id":"243974f3-b388-817c-b289-e8f5813632de","cover":null,"icon":null,"created_time":"2025-08-02T19:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited[...]
[...]
- request:
    body: '{"properties": {"Date": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/243974f3-b388-817c-b289-e8f5813632de
  response:
    content: '{"object":"database","id":"243974f3-b388-817c-b289-e8f5813632de","cover":null,"icon":null,"created_time":"2025-08-02T19:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"[...]
[...]
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "243974f3-b388-8173-903e-cd80a7f85c57", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/243974f3-b388-817c-b289-e8f5813632de
  response:
    content: '{"object":"database","id":"243974f3-b388-817c-b289-e8f5813632de","cover":null,"icon":null,"created_time":"2025-08-02T19:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
[...]
- request:
    body: '{"properties": {"Back Relation": {"type": "relation", "id": "bda%7B", "name":
      "Back Relation", "relation": {"type": "dual_property", "database_id": "243974f3-b388-817c-b289-e8f5813632de",
      "dual_property": {"synced_property_name": "Relation", "synced_property_id":
      "cz%7Bu"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/243974f3-b388-8173-903e-cd80a7f85c57
  response:
    content: '{"object":"database","id":"243974f3-b388-8173-903e-cd80a7f85c57","cover":null,"icon":null,"created_time":"2025-08-02T19:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last[...]
[...]
