interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/b0cb6b70-e740-496d-9c81-8a298fa2d5e1
  response:
    content: "{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-08-20T07:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() [...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"263974f3-b388-8127-8fac-dc7ef73c45c2\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T14:00:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-03T14:00:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Rollup
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Rollup
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Rollup
      Number\":{\"id\":\"HHNt\",\"name\":\"Rollup Number\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"Pot^\",\"relation_property_id\":\"X?>R\",\"function\":\"max\"}},\"Number\":{\"id\":\"Pot%5E\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Rollup
      Title\":{\"id\":\"RJQ%40\",\"name\":\"Rollup Title\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Title\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"X?>R\",\"function\":\"show_original\"}},\"Relation\":{\"id\":\"X%3F%3ER\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"263974f3-b388-8127-8fac-dc7ef73c45c2\",\"data_source_id\":\"263974f3-b388-81f4-8643-000b628d59fb\",\"type\":\"single_property\",\"single_property\":{}}},\"Rollup
      Number Array\":{\"id\":\"%5C%5CMG\",\"name\":\"Rollup Number Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"Pot^\",\"relation_property_id\":\"X?>R\",\"function\":\"show_original\"}},\"Date\":{\"id\":\"d%3BCg\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Rollup
      Date\":{\"id\":\"nNsR\",\"name\":\"Rollup Date\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"d;Cg\",\"relation_property_id\":\"X?>R\",\"function\":\"earliest_date\"}},\"Rollup
      Date Array\":{\"id\":\"qa%40k\",\"name\":\"Rollup Date Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"d;Cg\",\"relation_property_id\":\"X?>R\",\"function\":\"show_original\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/263974f3b38881278facdc7ef73c45c2\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"263974f3-b388-8152-9064-ed36867bb426\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T14:00:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-03T14:00:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Empty
      Formula DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Empty
      Formula DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Formula\":{\"id\":\"SLA%3F\",\"name\":\"Formula\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/263974f3b38881529064ed36867bb426\",\"public_url\":null,\"[...]
