interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"10f974f3-b388-8162-9673-f55c5f3d0e6d","cover":null,"icon":null,"created_time":"2024-09-28T13:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-09-28T13:46:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/10f974f3b38881629673f55c5f3d0e6d","public_url":null,"archived":false,"in_trash":false,"request_id":"c2bdd4d3-d01d-4d5c-bf3d-5d4f4c25f1e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c2bdd4d3-d01d-4d5c-bf3d-5d4f4c25f1e0
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema A description",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Schema A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/10f974f3-b388-8[...]
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "10f974f3-b388-8162-9673-f55c5f3d0e6d", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/10f974f3-b388-8162-9673-f55c5f3d0e6d
  response:
    content: '{"object":"database","id":"10f974f3-b388-8162-9673-f55c5f3d0e6d","cover":null,"icon":null,"created_time":"2024-09-28T13:46:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
