interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Select Options Update
      Test"}}], "properties": {"Name": {"type": "title", "title": {}}, "Category":
      {"type": "select", "select": {"options": [{"name": "Cat1", "color": "default"},
      {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Tag1", "color": "default"}, {"name": "Tag2", "color":
      "green"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"216974f3-b388-817c-b30f-e192dd10ce34","cover":null,"icon":null,"created_time":"2025-06-18T12:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-18T12:00:00.000Z","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"%40~rh","name":"Category","type":"select","select":{"options":[{"id":"401e9806-c2c2-4673-a829-0c7d64e7664d","name":"Cat1","color":"default","description":null},{"id":"b36fde32-d7d4-4348-84d1-d29f463aaeb5","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"dC%5Ds","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"8d4c3271-f16d-4f5d-a1fa-232ffd3cf80d","name":"Tag1","color":"default","description":null},{"id":"c0982384-aadb-4cc2-91fa-b5a72a6d68f4","name":"Tag2","color":"green","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/216974f3b388817cb30fe192dd10ce34","public_url":null,"archived":false,"in_trash":false,"request_id":"8485d7ab-c7a3-4ad6-bf93-2b70982a8ba8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8485d7ab-c7a3-4ad6-bf93-2b70982a8ba8
    status_code: 200
- request:
    body: '{"properties": {"Category": {"type": "select", "id": "%40~rh", "name":
      "Category", "select": {"options": [{"name": "Cat1", "id": "401e9806-c2c2-4673-a829-0c7d64e7664d",
      "color": "default"}, {"name": "Cat2", "id": "b36fde32-d7d4-4348-84d1-d29f463aaeb5",
      "color": "red"}, {"name": "Cat3", "color": "red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method:[...]
[...]
