interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-810c-b692-dc44adffc6b2","cover":null,"icon":null,"created_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:02:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"Ir%7CD","name":"Category","description":null,"type":"select","select":{"options":[{"id":"c84ab04d-6d52-44cf-b687-1a9813841f71","name":"Cat1","color":"default","description":null},{"id":"a1818bda-2586-47b1-8419-615f58c89a76","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"v%7Dd%5D","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4481d43e-c809-481d-a846-14e33183bd19","name":"Cat1","color":"default","description":null},{"id":"d6a8ccf7-f3ae-43f6-a247-d142c5b8e99c","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"%7CfEd","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b388810cb692dc44adffc6b2","public_url":null,"archived":false,"in_trash":false,"request_id":"db677db3-63c7-4a5b-8c68-31149c25dd67"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db677db3-63c7-4a5b-8c68-31149c25dd67
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-810c-b692-dc44adffc6b2
  response:
    content: '{"object":"database","id":"263974f3-b388-810c-b692-dc44adffc6b2","cover":null,"icon":null,"created_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-810c-b692-dc44adffc6b2
  response:
    content: '{"object":"database","id":"263974f3-b388-810c-b692-dc44adffc6b2","cover":null,"icon":null,"created_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","database_id":"263974f3-b388-81d6-8781-d39b927ca55e","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-810c-b692-dc44adffc6b2
  response:
    content: '{"object":"database","id":"263974f3-b388-810c-b692-dc44adffc6b2","cover":null,"icon":null,"created_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:02:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Relation":{"id":"CZBC","name":"Relation","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-81d6-8781-d39b927ca55e","data_source_id":"263974f3-b388-81b7-844b-000b2b55dbb8","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"U%40OM"}}},"Date":{"id":"Fsrt","name":"Date","description":null,"type":"date","date":{}},"Category":{"id":"Ir%7CD","name":"Category","description":null,"type":"select","select":{"options":[{"id":"c84ab04d-6d52-44cf-b687-1a9813841f71","name":"Cat1","color":"default","description":null},{"id":"a1818bda-2586-47b1-8419-615f58c89a76","name":"Cat2","color":"red","description":null}]}},"Number":{"id":"KPOl","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b388810cb692dc44adffc6b2","public_url":null,"archived":false,"in_trash":false,"request_id":"6738f993-113b-43e8-b9ac-d92d41172c81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6738f993-113b-43e8-b9ac-d92d41172c81
    status_code: 200
[...]
