interactions:
- request:
    body: '{"query": "State Page for ID Prefix ALLCOLS", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://app.notion.com/p/Custom-Emoji-Page-00000000000040008000000000000008","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"db5ed325-1dac-4e87-9bc5-f80d5e524a54"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db5ed325-1dac-4e87-9bc5-f80d5e524a54
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"9ae396e1-747d-4056-a29e-f8b563f75d50"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ae396e1-747d-4056-a29e-f8b563f75d50
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "State Page for ID Prefix ALLCOLS", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "State Page for ID Prefix ALLCOLS"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - ap[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81b9-84a3-ede4a5b5ed76/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"89e5039d-a46e-4ffa-8621-7cd310aa36aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 89e5039d-a46e-4ffa-8621-7cd310aa36aa
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"ALLCOLS881","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"ALLCOLS881"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81b9-84a3-ede4a5b5ed76/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81b5-b95c-ca09169dfa27","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b9-84a3-ede4a5b5ed76"},"created_time":"2026-06-24T16:29:00.000Z","last_edited_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"ALLCOLS881","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"ALLCOLS881","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a8a3a911-35d4-4739-a345-eaccee11f343"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8a3a911-35d4-4739-a345-eaccee11f343
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9dbfa2c9-06ed-459c-be1f-2b84f932fc94","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:03.154+00:00","last_edited_time":"2026-06-24T16:29:03.154+00:00","data_sources":[{"id":"ce77970f-0aed-4d02-abe4-9d025f2cef60","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/9dbfa2c906ed459cbe1f2b84f932fc94","public_url":null,"archived":false,"request_id":"10955fd1-9f73-4977-bf72-fe8947bb4552"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 10955fd1-9f73-4977-bf72-fe8947bb4552
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/9dbfa2c9-06[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/ce77970f-0aed-4d02-abe4-9d025f2cef60
  response:
    content: '{"object":"data_source","id":"ce77970f-0aed-4d02-abe4-9d025f2cef60","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"9dbfa2c9-06ed-459c-be1f-2b84f932fc94"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/9dbfa2c906ed459cbe1f2b84f932fc94","public_url":null,"in_trash":false,"archived":false,"request_id":"f6d1742d-ffe1-4a1a-80c6-f067ba882734"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f6d1742d-ffe1-4a1a-80c6-f067ba882734
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created by":
      {"type": "created_by", "created_by": {}}, "Created time": {"type": "created_time",
      "created_time": {}}, "Date": {"type": "date", "date": {}}, "Email": {"type":
      "email", "email": {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type":
      "formula", "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited
      by": {"type": "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type":
      "last_edited_time", "last_edited_time": {}}, "Multi-select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option1"}, {"name": "Option2", "color":
      "red"}]}}, "Number": {"type": "number", "number": {"format": "dollar"}}, "People":
      {"type": "people", "people": {}}, "Phone number": {"type": "phone_number", "phone_number":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "ce77970f-0aed-4d02-abe4-9d025f2cef60", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "ce77970f-0aed-4d02-abe4-9d025f2cef60", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Option1"}, {"name": "Option2", "color": "red"}]}}, "Text":
      {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}, "ID": {"type": "unique_id", "unique_id":
      {"prefix": "ALLCOLS881"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"310a8f75-92e1-46e1-8f11-bead6973fd99","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:05.420+00:00","last_edited_time":"2026-06-24T16:29:05.420+00:00","data_sources":[{"id":"38c1345a-320d-4896-a786-4f674ad6d3ea","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/310a8f7592e146e18f11bead6973fd99","public_url":null,"archived":false,"request_id":"38ca8c02-bfb2-4e0a-919e-3e0a83e6bafa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 38ca8c02-bfb2-4e0a-919e-3e0a83e6bafa
    status_code: 200
[...]
- request:
    body: '{"properties":{"pVGv":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/ce77970f-0aed-4d02-abe4-9d025f2cef60
  response:
    content: '{"object":"data_source","id":"ce77970f-0aed-4d02-abe4-9d025f2cef60","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"pVGv","name":"Relation","description":null,"type":"relation","relation":{"database_id":"310a8f75-92e1-46e1-8f11-bead6973fd99","data_source_id":"38c1345a-320d-4896-a786-4f674ad6d3ea","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"CJ%3CT"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"9dbfa2c9-06ed-459c-be1f-2b84f932fc94"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/9dbfa2c906ed459cbe1f2b84f932fc94","public_url":null,"in_trash":false,"archived":false,"request_id":"67aac415-da7c-401e-ba0c-f93ccceb04ca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 67aac415-da7c-401e-ba0c-f93ccceb04ca
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"1f540cbb-b131-44a7-8bca-b05f2870c822\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f540cbb-b131-44a7-8bca-b05f2870c822
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "38c1345a-320d-4896-a786-4f674ad6d3ea"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://www.google.de/robots.txt"}}]},
      "Multi-select": {"type": "multi_select", "multi_select": [{"name": "Option1"}]},
      "Number": {"type": "number", "number": 42}, "People": {"people": [{"id": "00000000-0000-4000-8000-0000000000fa",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "3899ce7b-60a4-8128-8087-d1685c3ecc10"}, {"id": "3899ce7b-6[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9dbfa2c9-06ed-459c-be1f-2b84f932fc94
  response:
    content: '{"object":"block","id":"9dbfa2c9-06ed-459c-be1f-2b84f932fc94","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:29:00.000Z","last_edited_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"archived":true,"request_id":"f33352e2-d66f-4966-8edb-87e3d76eb151"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f33352e2-d66f-4966-8edb-87e3d76eb151
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/310a8f75-92e1-46e1-8f11-bead6973fd99
  response:
    content: '{"object":"block","id":"310a8f75-92e1-46e1-8f11-bead6973fd99","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:29:00.000Z","last_edited_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"archived":true,"request_id":"5c834cb4-770f-41cf-8db9-cb683c8fc3b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c834cb4-770f-41cf-8db9-cb683c8fc3b1
    status_code: 200
version: 1
