interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-81d0-964f-cb4934f95c1f","cover":null,"icon":null,"created_time":"2024-12-10T11:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T11:00:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/158974f3b38881d0964fcb4934f95c1f","public_url":null,"archived":false,"in_trash":false,"request_id":"cc3ae84e-73f2-4991-99a0-077c3475703b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cc3ae84e-73f2-4991-99a0-077c3475703b
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema A description",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Schema A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/158974f3-b388-8[...]
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "158974f3-b388-81d0-964f-cb4934f95c1f", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/158974f3-b388-81d0-964f-cb4934f95c1f
  response:
    content: '{"object":"database","id":"158974f3-b388-81d0-964f-cb4934f95c1f","cover":null,"icon":null,"created_time":"2024-12-10T11:00:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
