interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"52d5cb97-2471-4eaf-aa32-8309cc6c54b2","cover":null,"icon":null,"created_time":"2024-08-21T17:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:24:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/52d5cb9724714eafaa328309cc6c54b2","public_url":null,"archived":false,"in_trash":false,"request_id":"b8104158-fdce-429d-9010-2b35e74de829"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b8104158-fdce-429d-9010-2b35e74de829
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: htt[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema B"}}], "properties":
      {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created by": {"type": "created_by",
      "created_by": {}}, "Created time": {"type": "created_time", "created_time":
      {}}, "Date": {"type": "date", "date": {}}, "Email": {"type": "email", "email":
      {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type": "formula",
      "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited by": {"type":
      "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type": "last_edited_time",
      "last_edited_time": {}}, "Multi-select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Option1", "color": "default"}, {"name": "Option2", "color":
      "red"}]}}, "Number": {"type": "number", "number": {"format": "dollar"}}, "People":
      {"type": "people", "people": {}}, "Phone number": {"type": "phone_number", "phone_number":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "52d5cb97-2471-4eaf-aa32-8309cc6c54b2", "single_property": {}}},
      "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "52d5cb97-2471-4eaf-aa32-8309cc6c54b2", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Option1", "color": "default"}, {"name": "Option2", "color":
      "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type":
      "title", "title": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0cbb2549-3691-4053-ac06-4afcf7fa2cd8","cover":null,"icon":null,"created_time":"2024-08-21T17:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:24:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Phone number":{"id":"%3BOgB","name":"Phone
      number","type":"phone_number","phone_number":{}},"Rollup":{"id":"DAdc","name":"Rollup","type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"VXty","function":"count"}},"Last
      edited by":{"id":"DJpf","name":"Last edited by","type":"last_edited_by","last_edited_by":{}},"People":{"id":"Kv%5CX","name":"People","type":"people","people":{}},"Email":{"id":"PfBA","name":"Email","type":"email","email":{}},"Relation":{"id":"VXty","name":"Relation","type":"relation","relation":{"database_id":"52d5cb97-2471-4eaf-aa32-8309cc6c54b2","type":"single_property","single_property":{}}},"Last
      edited time":{"id":"WtP%3C","name":"Last edited time","type":"last_edited_time","last_edited_time":{}},"Checkbox":{"id":"_f_K","name":"Checkbox","type":"checkbox","checkbox":{}},"URL":{"id":"eDA%3F","name":"URL","type":"url","url":{}},"Created
      by":{"id":"e%7Crr","name":"Created by","type":"created_by","created_by":{}},"Formula":{"id":"fcwc","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:py%40%3D:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2"}},"Files":{"id":"gMg%7B","name":"Files","type":"files","files":{}},"Created
      time":{"id":"gRgs","name":"Created time","type":"created_time","created_time":{}},"Text":{"id":"l%3EQB","name":"Text","type":"rich_text","rich_text":{}},"Relation
      two-way":{"id":"l%5E_%3E","name":"Relation two-way","type":"relation","relation":{"database_id":"52d5cb97-2471-4eaf-aa32-8309cc6c54b2","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"L%60Cx"}}},"Number":{"id":"py%40%3D","name":"Number","type":"number","number":{"format":"dollar"}},"Date":{"id":"q%3FbJ","name":"Date","type":"date","date":{}},"Multi-select":{"id":"uyL%7B","name":"Multi-select","type":"multi_select","multi_select":{"options":[{"id":"ed0c791f-783a-4a4f-a72e-312e76878f21","name":"Option1","color":"default","description":null},{"id":"efe411ca-fe21-4407-95c2-0860f8ebdd4f","name":"Option2","color":"red","description":null}]}},"Select":{"id":"%7Cs%3Bn","name":"Select","type":"select","select":{"options":[{"id":"14105010-6b84-4470-a69c-176890b2c654","name":"Option1","color":"default","description":null},{"id":"083c9695-9191-4d88-a0f8-5a8a6a450e04","name":"Option2","color":"red","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/0cbb254936914053ac064afcf7fa2cd8","public_url":null,"archived":false,"in_trash":false,"request_id":"97fec094-0a69-4e94-87fb-d2820e4ead3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 97fec094-0a69-4e94-87fb-d2820e4ead3e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"05b924e7-3007-40c6-b254-9fabf0746277"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 05b924e7-3007-40c6-b254-9fabf0746277
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"6b754cc6-1edd-4f64-a40b-804e77d7dac2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b754cc6-1edd-4f64-a40b-804e77d7dac2
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "52d5cb97-2471-4eaf-aa32-8309cc6c54b2"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      noti[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "0cbb2549-3691-4053-ac06-4afcf7fa2cd8"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1", "color": "default"}]},
      "Number": {"type": "number", "number": 42.0}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "d0d45da1-eafa-402a-bdf7-aa9191732fcc"}, {"id": "c717afcb-[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/d0d45da1-eafa-402a-bdf7-aa9191732fcc
  response:
    content: '{"object":"page","id":"d0d45da1-eafa-402a-bdf7-aa9191732fcc","created_time":"2024-08-21T17:24:00.000Z","last_edited_time":"2024-08-21T17:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"52d5cb97-2471-4eaf-aa32-8309cc6c54b2"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"L%60Cx","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-d0d45da1eafa402abdf7aa9191732fcc","public_url":null,"request_id":"b900fd29-dd39-4bd4-a150-e7526b81f3bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b900fd29-dd39-4bd4-a150-e7526b81f3bd
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/52d5cb97-2471-4eaf-aa32-8309cc6c54b2
  response:
    content: '{"object":"block","id":"52d5cb97-2471-4eaf-aa32-8309cc6c54b2","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-21T17:24:00.000Z","last_edited_time":"2024-08-21T17:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"ab514fd3-32a0-440f-8f7c-0dbc88323628"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab514fd3-32a0-440f-8f7c-0dbc88323628
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0cbb2549-3691-4053-ac06-4afcf7fa2cd8
  response:
    content: '{"object":"block","id":"0cbb2549-3691-4053-ac06-4afcf7fa2cd8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-08-21T17:24:00.000Z","last_edited_time":"2024-08-21T17:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"61dac1ab-e7af-476a-a116-90d447b5a6eb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 61dac1ab-e7af-476a-a116-90d447b5a6eb
    status_code: 200
version: 1
