interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"27c974f3-b388-81e0-b6d3-d57600e7f678","cover":null,"icon":null,"created_time":"2025-09-28T18:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-28T18:53:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/27c974f3b38881e0b6d3d57600e7f678","public_url":null,"archived":false,"in_trash":false,"request_id":"991a06b5-4cf0-44e9-89e4-1dd3d84949a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 991a06b5-4cf0-44e9-89e4-1dd3d84949a9
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/27c974f3-b3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "properties": {"Checkbox": {"type":
      "checkbox", "checkbox": {}}, "Created by": {"type": "created_by", "created_by":
      {}}, "Created time": {"type": "created_time", "created_time": {}}, "Date": {"type":
      "date", "date": {}}, "Email": {"type": "email", "email": {}}, "Files": {"type":
      "files", "files": {}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Number\") * 2"}}, "Last edited by": {"type": "last_edited_by", "last_edited_by":
      {}}, "Last edited time": {"type": "last_edited_time", "last_edited_time": {}},
      "Multi-select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option1"}, {"name": "Option2", "color": "red"}]}}, "Number": {"type": "number",
      "number": {"format": "dollar"}}, "People": {"type": "people", "people": {}},
      "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation": {"type":
      "relation", "relation": {"type": "single_property", "database_id": "27c974f3-b388-81e0-b6d3-d57600e7f678",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "27c974f3-b388-81e0-b6d3-d57600e7f678",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Option1"}, {"name": "Option2",
      "color": "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title":
      {"type": "title", "title": {}}, "URL": {"type": "url", "url": {}}, "ID": {"type":
      "unique_id", "unique_id": {"prefix": "MYID44"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"27c974f3-b388-81e0-9676-eac0e4e6ae29","cover":null,"icon":null,"created_time":"2025-09-28T18:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-28T18:53:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Last edited
      by":{"id":"%3ApyT","name":"Last edited by","description":null,"type":"last_edited_by","last_edited_by":{}},"URL":{"id":"%3Bs%5Bo","name":"URL","description":null,"type":"url","url":{}},"Rollup":{"id":"%3DquH","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"Iaf>","function":"count"}},"Multi-select":{"id":"AIpT","name":"Multi-select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"fb613458-b987-429f-9ac8-bacc90e1d3ce","name":"Option1","color":"default","description":null},{"id":"f719798a-081f-4da6-b40c-f512e38d8239","name":"Option2","color":"red","description":null}]}},"ID":{"id":"FvUg","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":"MYID44"}},"Relation":{"id":"Iaf%3E","name":"Relation","description":null,"type":"relation","relation":{"database_id":"27c974f3-b388-81e0-b6d3-d57600e7f678","data_source_id":"27c974f3-b388-811b-850f-000b4d8b5751","type":"single_property","single_property":{}}},"Created
      time":{"id":"J%3BYk","name":"Created time","description":null,"type":"created_time","created_time":{}},"Relation
      two-way":{"id":"McR%3B","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"27c974f3-b388-81e0-b6d3-d57600e7f678","data_source_id":"27c974f3-b388-811b-850f-000b4d8b5751","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"ZRy%3F"}}},"Number":{"id":"Ph%7D_","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"People":{"id":"QylO","name":"People","description":null,"type":"people","people":{}},"Checkbox":{"id":"V%3CYE","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Select":{"id":"ZYAy","name":"Select","description":null,"type":"select","select":{"options":[{"id":"4a383f3b-d9ac-4c12-a619-bfaa1048440c","name":"Option1","color":"default","description":null},{"id":"[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"91bd8fa9-771c-4e41-8a83-1eed0bfccfc6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 91bd8fa9-771c-4e41-8a83-1eed0bfccfc6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"2d5dcbcf-df8f-42d3-a8d2-e6e96b12f464"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2d5dcbcf-df8f-42d3-a8d2-e6e96b12f464
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "27c974f3-b388-81e0-b6d3-d57600e7f678"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"27c974f3-b388-81ee-acbd-d46fd67a53aa","created_time":"2025-09-28T18:53:00.000Z","last_edited_time":"2025-09-28T18:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"27c974f3-b388-81e0-b6d3-d57600e7f678"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Relation":{"id":"ZRy%3F","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-27c974f3b38881eeacbdd46fd67a53aa","public_url":null,"request_id":"4bd24ae5-ba8b-427c-bd1e-b0a5c8ea1aac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4bd24ae5-ba8b-427c-bd1e-b0a5c8ea1aac
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "27c974f3-b388-81e0-9676-eac0e4e6ae29"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://www.google.de/robots.txt"}}]},
      "Multi-select": {"type": "multi_select", "multi_select": [{"name": "Option1"}]},
      "Number": {"type": "number", "number": 42}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "27c974f3-b388-81ee-acbd-d46fd67a53aa"}, {"id": "27c974f3-b[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/27c974f3-b388-81e0-b6d3-d57600e7f678
  response:
    content: '{"object":"block","id":"27c974f3-b388-81e0-b6d3-d57600e7f678","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-28T18:53:00.000Z","last_edited_time":"2025-09-28T18:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"dbb81018-1322-45b1-a058-54d53de5303b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dbb81018-1322-45b1-a058-54d53de5303b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-28T18:53:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"39d6b077-8b17-4f8a-8f53-0f19746e1814"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39d6b077-8b17-4f8a-8f53-0f19746e1814
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/27c974f3-b388-81e0-9676-eac0e4e6ae29
  response:
    content: '{"object":"block","id":"27c974f3-b388-81e0-9676-eac0e4e6ae29","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-28T18:53:00.000Z","last_edited_time":"2025-09-28T18:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"fa0ae74f-cb7b-49f5-9dea-1df14ff9c490"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fa0ae74f-cb7b-49f5-9dea-1df14ff9c490
    status_code: 200
version: 1
