interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Update Prop-Test: Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"251974f3-b388-81a3-aa3e-e78e9b7ca882","cover":null,"icon":null,"created_time":"2025-08-16T16:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-16T16:22:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/251974f3b38881a3aa3ee78e9b7ca882","public_url":null,"archived":false,"in_trash":false,"request_id":"7afca9a7-4647-4fa2-963d-df233edd05a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7afca9a7-4647-4fa2-963d-df233edd05a4
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema C", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Only used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: htt[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Update Prop-Test: Schema
      C"}}], "properties": {"Name": {"type": "title", "title": {}}, "Relation": {"type":
      "relation", "relation": {"type": "single_property", "database_id": "251974f3-b388-81a3-aa3e-e78e9b7ca882",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "251974f3-b388-81a3-aa3e-e78e9b7ca882",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"251974f3-b388-81e6-8a48-ea104f2abb09","cover":null,"icon":null,"created_time":"2025-08-16T16:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-16T16:22:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"is_inline":false,"properties":{"Rollup":{"id":"%3FTe%5C","name":"Rollup","type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"OuH?","function":"count"}},"Relation":{"id":"OuH%3F","name":"Relation","type":"relation","relation":{"database_id":"251974f3-b388-81a3-aa3e-e78e9b7ca882","type":"single_property","single_property":{}}},"Relation
      two-way":{"id":"vd%3C%7D","name":"Relation two-way","type":"relation","relation":{"database_id":"251974f3-b388-81a3-aa3e-e78e9b7ca882","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Update Prop-Test: Schema C (Relation two-way)","synced_property_id":"%7BxCM"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/251974f3b38881e68a48ea104f2abb09","public_url":null,"archived":false,"in_trash":false,"request_id":"87a3533d-3b75-4bc3-bc52-83d2963ba334"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87a3533d-3b75-4bc3-bc52-83d2963ba334
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Select Options Update
      Test"}}], "properties": {"Name": {"type": "title", "title": {}}, "Category":
      {"type": "select", "select": {"options": [{"name": "Cat1", "color": "default"},
      {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}},
      "Number": {"type": "number", "number": {"format": "dollar"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"251974f3-b388-8144-853d-c08e939cfc29","cover":null,"icon":null,"created_time":"2025-08-16T16:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"objec[...]
[...]
