interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"28e019df-bb72-4062-aa69-dccae01dfa37","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:04:59.146+00:00","last_edited_time":"2026-06-27T17:04:59.146+00:00","data_sources":[{"id":"b4d4d12d-45e6-4463-9ac9-bc210cbfe98c","name":"Bind
      DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/28e019dfbb724062aa69dccae01dfa37","public_url":null,"request_id":"a9f1a69b-811b-43a9-905f-e7acff5bab5c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a9f1a69b-811b-43a9-905f-e7acff5bab5c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b4d4d12d-45e6-4463-9ac9-bc210cbfe98c
  response:
    content: '{"object":"data_source","id":"b4d4d12d-45e6-4463-9ac9-bc210cbfe98c","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"%40%3Df%3A","name":"Category","description":null,"type":"select","select":{"options":[{"id":"d72357bb-2afd-4be5-8000-d2fc52f3c021","name":"Cat1","color":"default","description":null},{"id":"4811a685-8147-4fe1-a452-34c59d0e9815","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"W%5CTb","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"237f1c80-a47e-4904-9d6b-33fb673daf40","name":"Cat1","color":"default","description":null},{"id":"2522aeb3-606a-4c8f-95b1-211372e4b81d","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"28e019df-bb72-4062-aa69-dccae01dfa37"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/28e019dfbb724062aa69dccae01dfa37","public_url":null,"in_trash":false,"request_id":"0342a56c-1a76-48dc-bbd8-bed3fb08db7d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0342a56c-1a76-48dc-bbd8-bed3fb08db7d
    status_code: 200
version: 1
