interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Category": {"type": "select", "select": {"options":
      [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}},
      "Tags": {"type": "multi_select", "multi_select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-816d-9dcb-c3c9a318bfa0","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:28:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"W%40Nr","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"2d879f3d-a8e0-4fee-bda4-d72bdf82142c","name":"Cat1","color":"default","description":null},{"id":"33e57903-20a6-4f1e-8eab-fbd635b35c46","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"t~%3Fo","name":"Category","description":null,"type":"select","select":{"options":[{"id":"4ee442f1-e535-4c02-8dad-1db3a1266d8f","name":"Cat1","color":"default","description":null},{"id":"b0b2f52f-f965-4c3d-b1ec-a159e91fb21c","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4816d9dcbc3c9a318bfa0","public_url":null,"in_trash":false,"archived":false,"request_id":"c1b11bf3-a490-4136-8715-194bd4f3d5a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c1b11bf3-a490-4136-8715-194bd4f3d5a3
    status_code: 200
version: 1
