interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c331a622-6a90-4873-9abc-b317e752baab","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:13:57.031+00:00","last_edited_time":"2026-06-24T16:13:57.031+00:00","data_sources":[{"id":"96ec6d21-1c37-41e8-884f-d20b5c795b27","name":"Add/Del/Update
      Prop-Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/c331a6226a9048739abcb317e752baab","public_url":null,"archived":false,"request_id":"a14f384c-c59e-4a15-9c91-a02a3f9d30b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a14f384c-c59e-4a15-9c91-a02a3f9d30b6
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/96ec6d21-1c37-41e8-884f-d20b5c795b27
  response:
    content: '{"object":"data_source","id":"96ec6d21-1c37-41e8-884f-d20b5c795b27","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:13:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/96ec6d21-1c37-41e8-884f-d20b5c795b27
  response:
    content: '{"object":"data_source","id":"96ec6d21-1c37-41e8-884f-d20b5c795b27","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_e[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/96ec6d21-1c37-41e8-884f-d20b5c795b27
  response:
    content: '{"object":"data_source","id":"96ec6d21-1c37-41e8-884f-d20b5c795b27","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/cfbebe13-5eac-4059-bde5-2bce6cdb18cb
  response:
    content: '{"object":"data_source","id":"cfbebe13-5eac-4059-bde5-2bce6cdb18cb","cover":null,"icon":null,"created_time":"2026-06-24T16:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:14:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"5a7af4e8-6428-4409-9972-7d978492803c"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/5a7af4e86428440999727d978492803c","public_url":null,"in_trash":false,"archived":false,"request_id":"c553230d-a71b-4abd-84d6-555e6041eb5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c553230d-a71b-4abd-84d6-555e6041eb5a
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","data_source_id":"cfbebe13-5eac-4059-bde5-2bce6cdb18cb","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/96ec6d21-1c37-41e8-884f-d20b5c795b27
  response:
    content: '{"object":"data_source","id":"96ec6d21-1c37-41e8-884f-d20b5c795b27","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
[...]
