interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Location": {"type": "place", "place": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1b9aaf5c-8a92-4f5c-9187-a573fddcd3bf","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:05:45.895+00:00","last_edited_time":"2026-06-27T17:05:45.895+00:00","data_sources":[{"id":"d47f58b9-77b3-4764-93f6-cfa34076a3f5","name":"Place
      Property Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/1b9aaf5c8a924f5c9187a573fddcd3bf","public_url":null,"request_id":"baf0279d-1437-4139-8842-3dcb6ef6bac1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - baf0279d-1437-4139-8842-3dcb6ef6bac1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d47f58b9-77b3-4764-93f6-cfa34076a3f5
  response:
    content: '{"object":"data_source","id":"d47f58b9-77b3-4764-93f6-cfa34076a3f5","cover":null,"icon":null,"created_time":"2026-06-27T17:05:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:05:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"WsW%7B","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"1b9aaf5c-8a92-4f5c-9187-a573fddcd3bf"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/1b9aaf5c8a924f5c9187a573fddcd3bf","public_url":null,"in_trash":false,"request_id":"cc2391ac-89ba-4031-a211-96e0136ac0e4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cc2391ac-89ba-4031-a211-96e0136ac0e4
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "d47f58b9-77b3-4764-93f6-cfa34076a3f5"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81fe-a666-c29fb77166b6","created_time":"2026-06-27T17:05:00.000Z","last_edited_time":"2026-06-27T17:05:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d47f58b9-77b3-4764-93f6-cfa34076a3f5","database_id":"1b9aaf5c-8a92-4f5c-9187-a573fddcd3bf"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":"WsW%7B","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://www.notion.so/My-Place-38c9ce7b60a481fea666c29fb77166b6","public_url":null,"request_id":"01a0833f-a4e6-4dd8-b4e3-ae5337c1ee2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 01a0833f-a4e6-4dd8-b4e3-ae5337c1ee2c
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/data_sources/d47f58b9-77b3-4764-93f6-cfa34076a3f5/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-8193-85d4-f62fada105f7","created_time":"2026-06-27T17:05:00.000Z","last_edited_time":"2026-06-27T17:05:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"d47f58b9-77b3-4764-93f6-cfa34076a3f5","database_id":"1b9aaf5c-8a92-4f5c-9187-a573fddcd3bf"},"in_trash":false,"is_archiv[...]
