interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e40a6e7b-cbf6-4990-b0bf-340a59a5bfe5","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:01:27.394+00:00","last_edited_time":"2026-06-27T06:01:27.394+00:00","data_sources":[{"id":"f71ba6e1-8eba-4449-b8d1-1af2c4bcc48c","name":"Bind
      DB Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/e40a6e7bcbf64990b0bf340a59a5bfe5","public_url":null,"archived":false,"request_id":"96752c1e-0db6-413c-bc46-f5771c78a3c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 96752c1e-0db6-413c-bc46-f5771c78a3c4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f71ba6e1-8eba-4449-b8d1-1af2c4bcc48c
  response:
    content: '{"object":"data_source","id":"f71ba6e1-8eba-4449-b8d1-1af2c4bcc48c","cover":null,"icon":null,"created_time":"2026-06-27T06:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:01:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"Vi%7BF","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"166ec534-831d-4c0c-8470-22dfd4be3902","name":"Cat1","color":"default","description":null},{"id":"984f7c92-d251-4d3a-91c6-702714ca074d","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"uILD","name":"Category","description":null,"type":"select","select":{"options":[{"id":"8ea7af89-1709-4ad9-aad9-144b86b451ec","name":"Cat1","color":"default","description":null},{"id":"28858c89-729a-4406-98bb-813e7519797f","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e40a6e7b-cbf6-4990-b0bf-340a59a5bfe5"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/e40a6e7bcbf64990b0bf340a59a5bfe5","public_url":null,"in_trash":false,"archived":false,"request_id":"0aa05fc4-e7ff-491a-9b1f-b3bfc835e6b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0aa05fc4-e7ff-491a-9b1f-b3bfc835e6b3
    status_code: 200
version: 1
