interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cc601e3f-d390-4558-a1a2-3383edfaadb1","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:13:47.304+00:00","last_edited_time":"2026-06-24T16:13:47.304+00:00","data_sources":[{"id":"eb99a561-a934-4d25-98a6-5c06624bcd33","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/cc601e3fd3904558a1a23383edfaadb1","public_url":null,"archived":false,"request_id":"c9b8f169-619c-42a4-8f49-c893c5b1b5d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c9b8f169-619c-42a4-8f49-c893c5b1b5d3
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/cc601e3f-d3[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/eb99a561-a934-4d25-98a6-5c06624bcd33
  response:
    content: '{"object":"data_source","id":"eb99a561-a934-4d25-98a6-5c06624bcd33","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:13:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"cc601e3f-d390-4558-a1a2-3383edfaadb1"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/cc601e3fd3904558a1a23383edfaadb1","public_url":null,"in_trash":false,"archived":false,"request_id":"942bc409-0951-48d5-87c5-81b9b332ecab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 942bc409-0951-48d5-87c5-81b9b332ecab
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Relation two-way": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "eb99a561-a934-4d25-98a6-5c06624bcd33", "dual_property":
      {}}}, "Title": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1eb208dd-709a-4287-ba1a-d2e2e5ad8608","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:13:49.469+00:00","last_edited_time":"2026-06-24T16:13:49.469+00:00","data_sources":[{"id":"7973de93-3666-4e24-aa5c-4fcc425ad8ed","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/1eb208dd709a4287ba1ad2e2e5ad8608","public_url":null,"archived":false,"request_id":"254f0cb3-3a42-4109-ab13-470ad0ac9f3f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 254f0cb3-3a42-4109-ab13-470ad0ac9f3f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/7973de93-3666-4e24-aa5c-4fcc425ad8ed
  response:
    content: '{"object":"data_source","id":"7973de93-3666-4e24-aa5c-4fcc425ad8ed","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:13:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation
      two-way":{"id":"E%40w%3A","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"cc601e3f-d390-4558-a1a2-3383edfaadb1","data_source_id":"eb99a561-a934-4d25-98a6-5c06624bcd33","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"jzmf"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"1eb208dd-709a-4287-ba1a-d2e2e5ad8608"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/1eb208dd709a4287ba1ad2e2e5ad8608","public_url":null,"in_trash":false,"archived":false,"request_id":"b3840f90-7971-4301-8306-6078c4b18048"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b3840f90-7971-4301-8306-6078c4b18048
    status_code: 200
- request:
    body: '{"properties":{"jzmf":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/eb99a561-a934-4d25-98a6-5c06624bcd33
  response:
    content: '{"object":"data_source","id":"eb99a561-a934-4d25-98a6-5c06624bcd33","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:13:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"jzmf","name":"Relation","description":null,"type":"relation","relation":{"database_id":"1eb208dd-709a-4287-ba1a-d2e2e5ad8608","data_source_id":"7973de93-3666-4e24-aa5c-4fcc425ad8ed","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"E%40w%3A"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"cc601e3f-d390-4558-a1a2-3383edfaadb1"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/cc601e3fd3904558a1a23383edfaadb1","public_url":null,"in_trash":false,"archived":false,"request_id":"e35f9c0a-635e-4ee2-bbf5-66a1b298a4b7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e35f9c0a-635e-4ee2-bbf5-66a1b298a4b7
    status_code: 200
[...]
