interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-81b3-be58-f2ab541b62b8","cover":null,"icon":null,"created_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:50:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b38881b3be58f2ab541b62b8","public_url":null,"archived":false,"in_trash":false,"request_id":"c8a7e94b-9b40-4ac7-8b49-5492960d7d9a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c8a7e94b-9b40-4ac7-8b49-5492960d7d9a
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: htt[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema B"}}], "properties":
      {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created by": {"type": "created_by",
      "created_by": {}}, "Created time": {"type": "created_time", "created_time":
      {}}, "Date": {"type": "date", "date": {}}, "Email": {"type": "email", "email":
      {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type": "formula",
      "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited by": {"type":
      "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type": "last_edited_time",
      "last_edited_time": {}}, "Multi-select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Option1", "color": "default"}, {"name": "Option2", "color":
      "red"}]}}, "Number": {"type": "number", "number": {"format": "dollar"}}, "People":
      {"type": "people", "people": {}}, "Phone number": {"type": "phone_number", "phone_number":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "11f974f3-b388-81b3-be58-f2ab541b62b8", "single_property": {}}},
      "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "11f974f3-b388-81b3-be58-f2ab541b62b8", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Option1", "color": "default"}, {"name": "Option2", "color":
      "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type":
      "title", "title": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-8182-97b6-c5d56a01e667","cover":null,"icon":null,"created_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user",[...]
[...]
- request:
    body: '{"properties": {"dX_z": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/11f974f3-b388-81b3-be58-f2ab541b62b8
  response:
    content: '{"object":"database","id":"11f974f3-b388-81b3-be58-f2ab541b62b8","cover":null,"icon":null,"created_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:50:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"dX_z","name":"Relation","type":"relation","relation":{"database_id":"11f974f3-b388-8182-97b6-c5d56a01e667","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"xJL%5E"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b38881b3be58f2ab541b62b8","public_url":null,"archived":false,"in_trash":false,"request_id":"8ba1d3ec-b5e3-40c3-baa1-5c63955a6e82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ba1d3ec-b5e3-40c3-baa1-5c63955a6e82
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"dfabaab7-211a-426c-a70f-e5f482d55a30"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dfabaab7-211a-426c-a70f-e5f482d55a30
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"b475278e-fd33-4c25-a95a-8cdaddeb0f63"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b475278e-fd33-4c25-a95a-8cdaddeb0f63
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "11f974f3-b388-81b3-be58-f2ab541b62b8"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      noti[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "11f974f3-b388-8182-97b6-c5d56a01e667"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1", "color": "default"}]},
      "Number": {"type": "number", "number": 42}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "11f974f3-b388-8182-8cb3-ed4366e60380"}, {"id": "11f974f3-b3[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-8182-8cb3-ed4366e60380
  response:
    content: '{"object":"page","id":"11f974f3-b388-8182-8cb3-ed4366e60380","created_time":"2024-10-14T16:50:00.000Z","last_edited_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"11f974f3-b388-81b3-be58-f2ab541b62b8"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"dX_z","type":"relation","relation":[{"id":"11f974f3-b388-8127-9c7b-f21494b3396a"},{"id":"11f974f3-b388-81e3-a474-c5836631a105"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-11f974f3b38881828cb3ed4366e60380","public_url":null,"request_id":"82a7acda-7e5d-430b-a439-9066471d5d80"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82a7acda-7e5d-430b-a439-9066471d5d80
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81b3-be58-f2ab541b62b8
  response:
    content: '{"object":"block","id":"11f974f3-b388-81b3-be58-f2ab541b62b8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-10-14T16:50:00.000Z","last_edited_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"3725abe6-e20e-41d7-9aaa-7a0bc7cfdd90"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3725abe6-e20e-41d7-9aaa-7a0bc7cfdd90
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8182-97b6-c5d56a01e667
  response:
    content: '{"object":"block","id":"11f974f3-b388-8182-97b6-c5d56a01e667","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-10-14T16:50:00.000Z","last_edited_time":"2024-10-14T16:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"6151257a-2a50-4226-8d42-aef613ebac88"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6151257a-2a50-4226-8d42-aef613ebac88
    status_code: 200
version: 1
