interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8158-a9fa-fed582cd2d7d","cover":null,"icon":null,"created_time":"2025-09-03T14:01:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:01:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888158a9fafed582cd2d7d","public_url":null,"archived":false,"in_trash":false,"request_id":"0a6f0508-eb56-4326-ab4c-9ed44b93aa9b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0a6f0508-eb56-4326-ab4c-9ed44b93aa9b
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "properties": {"Checkbox": {"type":
      "checkbox", "checkbox": {}}, "Created by": {"type": "created_by", "created_by":
      {}}, "Created time": {"type": "created_time", "created_time": {}}, "Date": {"type":
      "date", "date": {}}, "Email": {"type": "email", "email": {}}, "Files": {"type":
      "files", "files": {}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Number\") * 2"}}, "Last edited by": {"type": "last_edited_by", "last_edited_by":
      {}}, "Last edited time": {"type": "last_edited_time", "last_edited_time": {}},
      "Multi-select": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option1"}, {"name": "Option2", "color": "red"}]}}, "Number": {"type": "number",
      "number": {"format": "dollar"}}, "People": {"type": "people", "people": {}},
      "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation": {"type":
      "relation", "relation": {"type": "single_property", "database_id": "263974f3-b388-8158-a9fa-fed582cd2d7d",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "263974f3-b388-8158-a9fa-fed582cd2d7d",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Option1"}, {"name": "Option2",
      "color": "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title":
      {"type": "title", "title": {}}, "URL": {"type": "url", "url": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8147-9506-c6db36e85b6c","cover":null,"icon":null,"created_time":"2025-09-03T14:01:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_ed[...]
[...]
- request:
    body: '{"properties":{"ajOQ":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-8158-a9fa-fed582cd2d7d
  response:
    content: '{"object":"database","id":"263974f3-b388-8158-a9fa-fed582cd2d7d","cover":null,"icon":null,"created_time":"2025-09-03T14:01:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:01:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"ajOQ","name":"Relation","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-8147-9506-c6db36e85b6c","data_source_id":"263974f3-b388-81d7-b698-000b9be5e91a","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"wp%3CB"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888158a9fafed582cd2d7d","public_url":null,"archived":false,"in_trash":false,"request_id":"fd6b030e-bd8e-4d67-a3ba-fb0756dfbbd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd6b030e-bd8e-4d67-a3ba-fb0756dfbbd0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"b36a30ea-1142-47ea-9015-62b2551aaae5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b36a30ea-1142-47ea-9015-62b2551aaae5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"992f2cc8-8e2c-431f-bae9-4e1eeb6f8f2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 992f2cc8-8e2c-431f-bae9-4e1eeb6f8f2c
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8158-a9fa-fed582cd2d7d"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8147-9506-c6db36e85b6c"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1"}]}, "Number": {"type": "number",
      "number": 42}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "263974f3-b388-81de-a1cb-fe934e839f62"}, {"id": "263974f3-b388-8122-9b79-d9af41e[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-8158-a9fa-fed582cd2d7d
  response:
    content: '{"object":"block","id":"263974f3-b388-8158-a9fa-fed582cd2d7d","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"8aa9c47f-0e7f-466a-a3d0-7fbb4ed327e5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8aa9c47f-0e7f-466a-a3d0-7fbb4ed327e5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T14:01:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"c7a2e7ec-0057-4743-9a12-c5fa6d283258"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c7a2e7ec-0057-4743-9a12-c5fa6d283258
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-8147-9506-c6db36e85b6c
  response:
    content: '{"object":"block","id":"263974f3-b388-8147-9506-c6db36e85b6c","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-09-03T14:01:00.000Z","last_edited_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"512cbd73-97a3-465e-89fe-6d727a33d7d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 512cbd73-97a3-465e-89fe-6d727a33d7d9
    status_code: 200
version: 1
