interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8154-aa5a-f1a707463cba","cover":null,"icon":null,"created_time":"2025-06-10T17:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:55:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b3888154aa5af1a707463cba","public_url":null,"archived":false,"in_trash":false,"request_id":"996aa142-ad5a-48ac-abb8-df9b3f47e6db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 996aa142-ad5a-48ac-abb8-df9b3f47e6db
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: htt[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema B"}}], "properties":
      {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created by": {"type": "created_by",
      "created_by": {}}, "Created time": {"type": "created_time", "created_time":
      {}}, "Date": {"type": "date", "date": {}}, "Email": {"type": "email", "email":
      {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type": "formula",
      "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited by": {"type":
      "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type": "last_edited_time",
      "last_edited_time": {}}, "Multi-select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Option1"}, {"name": "Option2", "color": "red"}]}}, "Number":
      {"type": "number", "number": {"format": "dollar"}}, "People": {"type": "people",
      "people": {}}, "Phone number": {"type": "phone_number", "phone_number": {}},
      "Relation": {"type": "relation", "relation": {"type": "single_property", "database_id":
      "20e974f3-b388-8154-aa5a-f1a707463cba", "single_property": {}}}, "Relation two-way":
      {"type": "relation", "relation": {"type": "dual_property", "database_id": "20e974f3-b388-8154-aa5a-f1a707463cba",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Option1"}, {"name": "Option2",
      "color": "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title":
      {"type": "title", "title": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-812c-832b-f2d29c1625dd","cover":null,"icon":null,"created_time":"2025-06-10T17:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:55:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"People":{"id":"%3DgYH","name":"People","type":"people","people":{}},"Number":{"id":"%3EdGw","name":"Number","type":"number","number":{"format":"dollar"}},"Phone
      number":{"id":"%40vJk","name":"Phone number","type":"phone_number","phone_number":{}},"Relation
      two-way":{"id":"A%5Cv%40","name":"Relation two-way","type":"relation","relation":{"database_id":"20e974f3-b388-8154-aa5a-f1a707463cba","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"s_cc"}}},"Last edited
      by":{"id":"BDop","name":"Last edited by","type":"last_edited_by","last_edited_by":{}},"Files":{"id":"GMT%60","name":"Files","type":"files","files":{}},"Date":{"id":"TC%3D%5D","name":"Date","type":"date","date":{}},"URL":{"id":"WoAX","name":"URL","type":"url","url":{}},"Checkbox":{"id":"Y%5Cyu","name":"Checkbox","type":"checkbox","checkbox":{}},"Email":{"id":"%5Cbsy","name":"Email","type":"email","email":{}},"Last
      edited time":{"id":"%5CibW","name":"Last edited time","type":"last_edited_time","last_edited_time":{}},"Created
      time":{"id":"%5DzaL","name":"Created time","type":"created_time","created_time":{}},"Rollup":{"id":"%5ELZ%5B","name":"Rollup","type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"dgdO","function":"count"}},"Text":{"id":"aOib","name":"Text","type":"rich_text","rich_text":{}},"Relation":{"id":"dgdO","name":"Relation","type":"relation","relation":{"database_id":"20e974f3-b388-8154-aa5a-f1a707463cba","type":"single_property","single_property":{}}},"Select":{"id":"g%5BM%5D","name":"Select","type":"select","select":{"options":[{"id":"425ffd16-9b0b-4f7f-b8bf-1aa6a3d3c3d2","name":"Option1","color":"default","description":null},{"id":"11cc19c7-f222-439f-adb1-6f160893572c","name"[...]
[...]
- request:
    body: '{"properties": {"s_cc": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8154-aa5a-f1a707463cba
  response:
    content: '{"object":"database","id":"20e974f3-b388-8154-aa5a-f1a707463cba","cover":null,"icon":null,"created_time":"2025-06-10T17:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"l[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5242880}}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"7e229749-3203-4f04-a381-14fd426faacb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e229749-3203-4f04-a381-14fd426faacb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5242880}},"request_id":"a7a763f4-3003-4eba-a14b-7c1c0a044aa6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a7a763f4-3003-4eba-a14b-7c1c0a044aa6
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8154-aa5a-f1a707463cba"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      noti[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-812c-832b-f2d29c1625dd"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1"}]}, "Number": {"type": "number",
      "number": 42}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "20e974f3-b388-810e-b9f9-d126eab23798"}, {"id": "20e974f3-b388-815a-b424-d64032c[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8154-aa5a-f1a707463cba
  response:
    content: '{"object":"block","id":"20e974f3-b388-8154-aa5a-f1a707463cba","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"1d38c176-295b-4e25-8868-680b8e8a761d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1d38c176-295b-4e25-8868-680b8e8a761d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:55:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"e8207cd3-bc0c-4d60-9da3-6b8a2aac0064"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e8207cd3-bc0c-4d60-9da3-6b8a2aac0064
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-812c-832b-f2d29c1625dd
  response:
    content: '{"object":"block","id":"20e974f3-b388-812c-832b-f2d29c1625dd","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-06-10T17:55:00.000Z","last_edited_time":"2025-06-10T17:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"0380cc6d-b29d-4c0e-9afd-888aa8e2f40f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0380cc6d-b29d-4c0e-9afd-888aa8e2f40f
    status_code: 200
version: 1
