interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Category": {"type": "select", "select": {"options":
      [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}},
      "Tags": {"type": "multi_select", "multi_select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-8144-b8c8-f40ac765d25e","cover":null,"icon":null,"created_time":"2025-09-23T10:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:10:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"_%3B%3CU","name":"Category","description":null,"type":"select","select":{"options":[{"id":"7c480520-7337-4b2c-9dc2-d44da7a47b66","name":"Cat1","color":"default","description":null},{"id":"41943053-a3c5-4cdf-b556-a82d349701e3","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"hOy%7B","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"2066bc1d-1859-4c29-a458-3bba033c53e2","name":"Cat1","color":"default","description":null},{"id":"73f2bb9c-047a-404f-9a32-76c9c9743b5d","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888144b8c8f40ac765d25e","public_url":null,"archived":false,"in_trash":false,"request_id":"3f80979c-ee31-4237-8ab6-72f8745aa58a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3f80979c-ee31-4237-8ab6-72f8745aa58a
    status_code: 200
version: 1
