interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9d4a62c1-7b4c-45e5-896d-c7f411abe97b","cover":null,"icon":null,"created_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:40:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/9d4a62c17b4c45e5896dc7f411abe97b","public_url":null,"archived":false,"request_id":"dfdb34d4-7008-445c-8167-0acb93370a39"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/9d4a62c1-7b4c-45e5-896d-c7f411abe97b
  response:
    content: '{"object":"database","id":"9d4a62c1-7b[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Checkbox": {"type": "checkbox", "checkbox":
      {}}, "Created by": {"type": "created_by", "created_by": {}}, "Created time":
      {"type": "created_time", "created_time": {}}, "Date": {"type": "date", "date":
      {}}, "Email": {"type": "email", "email": {}}, "Files": {"type": "files", "files":
      {}}, "Formula": {"formula": {"expression": "prop(\"Number\") * 2"}, "type":
      "formula"}, "Last edited by": {"type": "last_edited_by", "last_edited_by": {}},
      "Last edited time": {"type": "last_edited_time", "last_edited_time": {}}, "Multi-select":
      {"multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}, "type": "multi_select"}, "Number": {"number":
      {"format": "dollar"}, "type": "number"}, "People": {"type": "people", "people":
      {}}, "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation":
      {"relation": {"database_id": "9d4a62c1-7b4c-45e5-896d-c7f411abe97b", "type":
      "single_property", "single_property": {}}, "type": "relation"}, "Relation two-way":
      {"relation": {"database_id": "9d4a62c1-7b4c-45e5-896d-c7f411abe97b", "type":
      "dual_property", "dual_property": {}}, "type": "relation"}, "Rollup": {"rollup":
      {"function": "count", "relation_property_name": "Relation", "rollup_property_name":
      "Name"}, "type": "rollup"}, "Select": {"select": {"options": [{"name": "Option1",
      "color": "default"}, {"name": "Option2", "color": "red"}]}, "type": "select"},
      "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fc056af4-cfe3-421f-81a1-92ed2efc7856","cover":null,"icon":null,"created_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user",[...]
[...]
- request:
    body: '{"properties": {"Iwj%3D": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/9d4a62c1-7b4c-45e5-896d-c7f411abe97b
  response:
    content: '{"object":"database","id":"9d4a62c1-7b4c-45e5-896d-c7f411abe97b","cover":null,"icon":null,"created_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-02-14T17:40:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"Iwj%3D","name":"Relation","type":"relation","relation":{"database_id":"fc056af4-cfe3-421f-81a1-92ed2efc7856","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"%5BPZc"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/9d4a62c17b4c45e5896dc7f411abe97b","public_url":null,"archived":false,"request_id":"66fc701a-127f-4b4a-b53c-3535112b7207"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"4df2abbf-5c2f-4bd3-8b0f-b22ca51449ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"3db8ce01-1877-4813-a111-73a3d9182a5f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"database_id": "9d4a62c1-7b4c-45e5-896d-c7f411abe97b", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "Item 1", "text":
      {"content": "Item 1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8ff4cfe0-5e13-437a-98c7-26759070a200","created_time":"2024-02-14T17:40:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9d4a62c1-7b4c-45e5-896d-c7f411abe97b"},"archived":false,"properties":{"Relation":{"id":"Iwj%3D","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-8ff4cfe05e13437a98c726759070a200","public_url":null,"request_id":"244970c1-18bd-4d23-b8b4-57cbe3d7adfc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "fc056af4-cfe3-421f-81a1-92ed2efc7856", "type":
      "database_id"}, "properties": {"Checkbox": {"checkbox": true, "type": "checkbox"},
      "Date": {"date": {"start": "2024-02-14"}, "type": "date"}, "Email": {"email":
      "email@provider.com", "type": "email"}, "Files": {"files": [{"name": "My File",
      "external": {"url": "https://..."}, "type": "external"}], "type": "files"},
      "Multi-select": {"multi_select": [{"name": "Option1", "color": "default"}],
      "type": "multi_select"}, "Number": {"number": 42.0, "type": "number"}, "People":
      {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user"}],
      "type": "people"}, "Phone number": {"phone_number": "+1 234 567 890", "type":
      "phone_number"}, "Relation": {"relation": [{"id": "8ff4cfe0-5e13-437a-98c7-26759070a200"},
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"84b6b875-99b9-45ca-b8b8-b6cd96ad78fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/8ff4cfe0-5e13-437a-98c7-26759070a200
  response:
    content: '{"object":"page","id":"8ff4cfe0-5e13-437a-98c7-26759070a200","created_time":"2024-02-14T17:40:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9d4a62c1-7b4c-45e5-896d-c7f411abe97b"},"archived":false,"properties":{"Relation":{"id":"Iwj%3D","type":"relation","relation":[{"id":"9547128c-efc4-4a0c-8e30-067e99045131"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-8ff4cfe05e13437a98c726759070a200","public_url":null,"request_id":"691dda21-e90f-48b3-80b7-bb25a2e4a4ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9d4a62c1-7b4c-45e5-896d-c7f411abe97b
  response:
    content: '{"object":"block","id":"9d4a62c1-7b4c-45e5-896d-c7f411abe97b","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-02-14T17:40:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"699256d7-97e9-477e-89b8-5f4c14a20761"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fc056af4-cfe3-421f-81a1-92ed2efc7856
  response:
    content: '{"object":"block","id":"fc056af4-cfe3-421f-81a1-92ed2efc7856","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-02-14T17:40:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"304adffc-5261-4629-bf4d-12cbdf3ddec6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
