interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8130-b6c9-c065b366117c","cover":null,"icon":null,"created_time":"2026-06-25T14:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:27:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a48130b6c9c065b366117c","public_url":null,"in_trash":false,"archived":false,"request_id":"959bbf52-deff-4dca-bf11-cd645768922e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 959bbf52-deff-4dca-bf11-cd645768922e
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "properties": {"Relation two-way":
      {"type": "relation", "relation": {"type": "dual_property", "database_id": "38a9ce7b-60a4-8130-b6c9-c065b366117c",
      "dual_property": {}}}, "Title": {"type": "title", "title": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8172-9447-c7ade322c93b","cover":null,"icon":null,"created_time":"2026-06-25T14:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:27:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"aWIZ","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-8130-b6c9-c065b366117c","data_source_id":"38a9ce7b-60a4-81e4-834f-000b10c09f2d","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"A_T%5E"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481729447c7ade322c93b","public_url":null,"in_trash":false,"archived":false,"request_id":"6cc9531c-e313-49ba-9152-9c0892dc4e07"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6cc9531c-e313-49ba-9152-9c0892dc4e07
    status_code: 200
[...]
- request:
    body: '{"properties":{"A_T%5E":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8130-b6c9-c065b366117c
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8130-b6c9-c065b366117c","cover":null,"icon":null,"created_time":"2026-06-25T14:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:28:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"A_T%5E","name":"Relation","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-8172-9447-c7ade322c93b","data_source_id":"38a9ce7b-60a4-818a-a10b-000bc1068127","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"aWIZ"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a48130b6c9c065b366117c","public_url":null,"in_trash":false,"archived":false,"request_id":"0e9a1f47-7fbf-44d7-9b46-d15756161559"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0e9a1f47-7fbf-44d7-9b46-d15756161559
    status_code: 200
[...]
