interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0c937085-7b66-4bbf-852f-0e0910878154","cover":null,"icon":null,"created_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T16:03:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/0c9370857b664bbf852f0e0910878154","public_url":null,"archived":false,"request_id":"5421f27f-5aae-4800-8be8-901c1e6ad048"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/0c937085-7b66-4bbf-852f-0e0910878154
  response:
    content: '{"object":"database","id":"0c937085-7b[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Checkbox": {"type": "checkbox", "checkbox":
      {}}, "Created by": {"type": "created_by", "created_by": {}}, "Created time":
      {"type": "created_time", "created_time": {}}, "Date": {"type": "date", "date":
      {}}, "Email": {"type": "email", "email": {}}, "Files": {"type": "files", "files":
      {}}, "Formula": {"formula": {"expression": "prop(\"Number\") * 2"}, "type":
      "formula"}, "Last edited by": {"type": "last_edited_by", "last_edited_by": {}},
      "Last edited time": {"type": "last_edited_time", "last_edited_time": {}}, "Multi-select":
      {"multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}, "type": "multi_select"}, "Number": {"number":
      {"format": "dollar"}, "type": "number"}, "People": {"type": "people", "people":
      {}}, "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation":
      {"relation": {"database_id": "0c937085-7b66-4bbf-852f-0e0910878154", "type":
      "single_property", "single_property": {}}, "type": "relation"}, "Relation two-way":
      {"relation": {"database_id": "0c937085-7b66-4bbf-852f-0e0910878154", "type":
      "dual_property", "dual_property": {}}, "type": "relation"}, "Rollup": {"rollup":
      {"function": "count", "relation_property_name": "Relation", "rollup_property_name":
      "Name"}, "type": "rollup"}, "Select": {"select": {"options": [{"name": "Option1",
      "color": "default"}, {"name": "Option2", "color": "red"}]}, "type": "select"},
      "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"413829cd-34be-4dc1-895b-c751cf6dc01a","cover":null,"icon":null,"created_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T16:03:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"%3AB%5BT","name":"Files","type":"files","files":{}},"Rollup":{"id":"%3BS%7Ds","name":"Rollup","type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"WQya","function":"count"}},"Number":{"id":"Apgs","name":"Number","type":"number","number":{"format":"dollar"}},"Formula":{"id":"DN%7Bj","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:Apgs:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2"}},"Last edited time":{"id":"E~b%3E","name":"Last edited time","type":"last_edited_time","last_edited_time":{}},"Multi-select":{"id":"L%7C~l","name":"Multi-select","type":"multi_select","multi_select":{"options":[{"id":"b1b94842-e68a-4f8f-8535-0dc64f61d22d","name":"Option1","color":"default","description":null},{"id":"8b0d038d-87d2-4170-919d-fc54f608ae7f","name":"Option2","color":"red","description":null}]}},"Email":{"id":"NZ%5Cn","name":"Email","type":"email","email":{}},"Last
      edited by":{"id":"V%3CXC","name":"Last edited by","type":"last_edited_by","last_edited_by":{}},"Relation":{"id":"WQya","name":"Relation","type":"relation","relation":{"database_id":"0c937085-7b66-4bbf-852f-0e0910878154","type":"single_property","single_property":{}}},"Date":{"id":"WvG%3B","name":"Date","type":"date","date":{}},"Text":{"id":"%5C_Kt","name":"Text","type":"rich_text","rich_text":{}},"Checkbox":{"id":"%5DBTP","name":"Checkbox","type":"checkbox","checkbox":{}},"Relation
      two-way":{"id":"%5DS%5Bd","name":"Relation two-way","type":"relation","relation":{"database_id":"0c937085-7b66-4bbf-852f-0e0910878154","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"cuov"}}},"Created time":{"id":"_C~l","name":"Created
      time","type":"created_time","created_time":{}},"People":{"id":"_%5BwC","name":"People","type":"people","people":{}},"URL":{"id":"gJoN","name":"URL","type":"url","url":{}},"Created
      by":{"id":"jJcI","name":"Created by","type":"created_by","created_by":{}},"Select":{"id":"nAxh","name":"Select","type":"select","select":{"options":[{"id":"2aa464d4-3dbd-4efb-8881-f101619a1b09","name":"Option1","color":"default","description":null},{"id":"6b171c98-73eb-4b08-a0c1-eddc8638c130","name":"Option2","color":"red","description":null}]}},"Phone
      number":{"id":"sZo%3C","name":"Phone number","type":"phone_number","phone_number":{}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/413829cd34be4dc1895bc751cf6dc01a","public_url":null,"archived":false,"request_id":"fd3a650d-c713-4d02-969f-08b9b8f7d278"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"properties": {"cuov": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/0c937085-7b66-4bbf-852f-0e0910878154
  response:
    content: '{"object":"database","id":"0c937085-7b66-4bbf-852f-0e0910878154","cover":null,"icon":null,"created_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"l[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"857be786-af5b-4982-8010-d883205f8483"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"a2440c1c-06d7-4575-8d08-3b7015568372"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"database_id": "0c937085-7b66-4bbf-852f-0e0910878154", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "Item 1", "text":
      {"content": "Item 1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1d6b6532-5304-4b58-8ddf-158aca3aea75","created_time":"2024-01-23T16:03:00.000Z","last_edited_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"0c937085-7b66-4bbf-852f-0e0910878154"},"archived":false,"properties":{"Relation":{"id":"cuov","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-1d6b653253044b588ddf158aca3aea75","public_url":null,"request_id":"59e08e3e-35ab-4ff0-ad92-886800ebe86d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "413829cd-34be-4dc1-895b-c751cf6dc01a", "type":
      "database_id"}, "properties": {"Checkbox": {"checkbox": true, "type": "checkbox"},
      "Date": {"date": {"start": "2024-01-23"}, "type": "date"}, "Email": {"email":
      "email@provider.com", "type": "email"}, "Files": {"files": [{"name": "My File",
      "external": {"url": "https://..."}, "type": "external"}], "type": "files"},
      "Multi-select": {"multi_select": [{"name": "Option1", "color": "default"}],
      "type": "multi_select"}, "Number": {"number": 42.0, "type": "number"}, "People":
      {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user"}],
      "type": "people"}, "Phone number": {"phone_number": "+1 234 567 890", "type":
      "phone_number"}, "Relation": {"relation": [{"id": "1d6b6532-5304-4b58-8ddf-158aca3aea75"},
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"2c0877eb-57c4-4df1-816e-ae4e8c468982"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/1d6b6532-5304-4b58-8ddf-158aca3aea75
  response:
    content: '{"object":"page","id":"1d6b6532-5304-4b58-8ddf-158aca3aea75","created_time":"2024-01-23T16:03:00.000Z","last_edited_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"0c937085-7b66-4bbf-852f-0e0910878154"},"archived":false,"properties":{"Relation":{"id":"cuov","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-1d6b653253044b588ddf158aca3aea75","public_url":null,"request_id":"70d48bdc-e21a-41d6-aee8-0803ca55c94c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0c937085-7b66-4bbf-852f-0e0910878154
  response:
    content: '{"object":"block","id":"0c937085-7b66-4bbf-852f-0e0910878154","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-23T16:03:00.000Z","last_edited_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"872c4b36-ce8f-40f1-8f1d-c596505ddb38"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/413829cd-34be-4dc1-895b-c751cf6dc01a
  response:
    content: '{"object":"block","id":"413829cd-34be-4dc1-895b-c751cf6dc01a","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-23T16:03:00.000Z","last_edited_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"a24aadc2-8e4f-4597-9d3c-1c1c21a016e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
