interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "text": {"content": "Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f15c4fc7-80f7-425d-9932-876962fde76a","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:56:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f15c4fc780f7425d9932876962fde76a","public_url":null,"archived":false,"in_trash":false,"request_id":"a0f33a68-c2e4-4b23-9088-c0093c6a3f7a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"38b-USw5/ovHzQgx8+i7nof1Kgdr+F4"
      x-notion-request-id:
      - a0f33a68-c2e4-4b23-9088-c0093c6a3f7a
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "text": {"content": "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f15c4fc7-80f7-425d-9932-876962fde76a
  response:
    content: '{"object":"database","id":"f15c4fc7-80f7-425[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "text": {"content": "Schema
      B"}}], "properties": {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created
      by": {"type": "created_by", "created_by": {}}, "Created time": {"type": "created_time",
      "created_time": {}}, "Date": {"type": "date", "date": {}}, "Email": {"type":
      "email", "email": {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type":
      "formula", "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited
      by": {"type": "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type":
      "last_edited_time", "last_edited_time": {}}, "Multi-select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}}, "Number": {"type": "number", "number": {"format":
      "dollar"}}, "People": {"type": "people", "people": {}}, "Phone number": {"type":
      "phone_number", "phone_number": {}}, "Relation": {"type": "relation", "relation":
      {"type": "single_property", "database_id": "f15c4fc7-80f7-425d-9932-876962fde76a",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "f15c4fc7-80f7-425d-9932-876962fde76a",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Option1", "color": "default"},
      {"name": "Option2", "color": "red"}]}}, "Text": {"type": "rich_text", "rich_text":
      {}}, "Title": {"type": "title", "title": {}}, "URL": {"type": "url", "url":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8d8f160e-d642-4cb1-8f9e-df06a100b498","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"[...]
[...]
- request:
    body: '{"properties": {"R%3DYY": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f15c4fc7-80f7-425d-9932-876962fde76a
  response:
    content: '{"object":"database","id":"f15c4fc7-80f7-425d-9932-876962fde76a","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:56:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"R%3DYY","name":"Relation","type":"relation","relation":{"database_id":"8d8f160e-d642-4cb1-8f9e-df06a100b498","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"OGU%3E"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f15c4fc780f7425d9932876962fde76a","public_url":null,"archived":false,"in_trash":false,"request_id":"f8a6e8c5-9516-4f96-933b-8fb2e36e4634"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"58f-JRxmsJF2YheGLCUrjEt9xF43UMA"
      x-notion-request-id:
      - f8a6e8c5-9516-4f96-933b-8fb2e36e4634
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"9f9d8a3d-b84e-4b79-843b-c12b562253bc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2d5-zAPh+WXYrH/ooaRL6KwnQu4rjvU"
      x-notion-request-id:
      - 9f9d8a3d-b84e-4b79-843b-c12b562253bc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"b4bae827-5f2b-4780-9d72-ff19527e45e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-1XLnuscX4mHw2ynX7InXn8PXBVM"
      x-notion-request-id:
      - b4bae827-5f2b-4780-9d72-ff19527e45e7
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f15c4fc7-80f7-425d-9932-876962fde76a"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "text": {"content": "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "8d8f160e-d642-4cb1-8f9e-df06a100b498"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2024-05-23"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1", "color": "default"}]},
      "Number": {"type": "number", "number": 42.0}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "3bd45184-e9c1-4d92-92cd-8f85e3ff49e0"}, {"id": "7ada9c95-[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"f88ee96d-06d9-4792-b3ff-52db1420080f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"131-sPZGn74vQ+C2vkJHuDX3bAhbXp0"
      x-notion-request-id:
      - f88ee96d-06d9-4792-b3ff-52db1420080f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/3bd45184-e9c1-4d92-92cd-8f85e3ff49e0
  response:
    content: '{"object":"page","id":"3bd45184-e9c1-4d92-92cd-8f85e3ff49e0","created_time":"2024-05-23T10:56:00.000Z","last_edited_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f15c4fc7-80f7-425d-9932-876962fde76a"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"R%3DYY","type":"relation","relation":[{"id":"c8293ff2-4722-43ed-9e5b-108fe68d1a19"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-3bd45184e9c14d9292cd8f85e3ff49e0","public_url":null,"request_id":"8810bf49-46b9-43fd-9d5e-ed49822b1b3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3cf-IGueBPfR4jX6WNGZP+9eWL4fGFc"
      x-notion-request-id:
      - 8810bf49-46b9-43fd-9d5e-ed49822b1b3e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f15c4fc7-80f7-425d-9932-876962fde76a
  response:
    content: '{"object":"block","id":"f15c4fc7-80f7-425d-9932-876962fde76a","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:56:00.000Z","last_edited_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"f6268b06-7b70-4465-ba6a-66935bdf351e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-0DdKWiq9BQ1ymHSFnEcl0sRflTY"
      x-notion-request-id:
      - f6268b06-7b70-4465-ba6a-66935bdf351e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8d8f160e-d642-4cb1-8f9e-df06a100b498
  response:
    content: '{"object":"block","id":"8d8f160e-d642-4cb1-8f9e-df06a100b498","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-05-23T10:56:00.000Z","last_edited_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"b8597650-4b62-4a89-b6c2-4447be4f74a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-F63RX97RfF5ryTlkTQkndlYyQHo"
      x-notion-request-id:
      - b8597650-4b62-4a89-b6c2-4447be4f74a5
    status_code: 200
version: 1
