interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Category": {"type": "select", "select": {"options":
      [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}},
      "Tags": {"type": "multi_select", "multi_select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8170-826e-d5c2444a168b","cover":null,"icon":null,"created_time":"2025-10-30T15:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:51:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"p%3EYD","name":"Category","description":null,"type":"select","select":{"options":[{"id":"58677002-ed4b-4838-bca5-e03aac8731a4","name":"Cat1","color":"default","description":null},{"id":"696bc6f4-9dba-4e8f-b55b-f760e7beabf2","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"pwo%7B","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"8cc2e53a-f8c5-4c76-a569-b5fd488df04d","name":"Cat1","color":"default","description":null},{"id":"6b2f9320-f8fb-4863-a36c-c9112912478d","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b3888170826ed5c2444a168b","public_url":null,"archived":false,"in_trash":false,"request_id":"6a13bcf1-8f67-4ddd-8e96-e90852760ea5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a13bcf1-8f67-4ddd-8e96-e90852760ea5
    status_code: 200
version: 1
