interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8106-8f81-fc2cfc62e0c4","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:33:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3BY%3Ff","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"a51ddd51-534d-425c-bdc8-30f2f63e92b7","name":"Cat1","color":"default","description":null},{"id":"8360130d-eefe-40b8-9372-b7064bb8d378","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"%5C~%3Ey","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Category":{"id":"bb%5E%3E","name":"Category","description":null,"type":"select","select":{"options":[{"id":"6e0fa383-a14d-4b3f-b7dd-d2df86148623","name":"Cat1","color":"default","description":null},{"id":"92633ae9-4430-43ed-8a38-d97d16958607","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881068f81fc2cfc62e0c4","public_url":null,"archived":false,"in_trash":false,"request_id":"267488fe-9904-4bcd-99d3-7e6d9bb29931"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 267488fe-9904-4bcd-99d3-7e6d9bb29931
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8106-8f81-fc2cfc62e0c4
  response:
    content: '{"object":"database","id":"25e974f3-b388-8106-8f81-fc2cfc62e0c4","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8106-8f81-fc2cfc62e0c4
  response:
    content: '{"object":"database","id":"25e974f3-b388-8106-8f81-fc2cfc62e0c4","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","database_id":"25e974f3-b388-81e6-977e-de627b75b036","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8106-8f81-fc2cfc62e0c4
  response:
    content: '{"object":"database","id":"25e974f3-b388-8106-8f81-fc2cfc62e0c4","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:33:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Relation":{"id":"SshT","name":"Relation","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-81e6-977e-de627b75b036","data_source_id":"25e974f3-b388-8192-a63b-000bb8866268","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"JFVu"}}},"Date":{"id":"TgE%3C","name":"Date","description":null,"type":"date","date":{}},"Category":{"id":"bb%5E%3E","name":"Category","description":null,"type":"select","select":{"options":[{"id":"6e0fa383-a14d-4b3f-b7dd-d2df86148623","name":"Cat1","color":"default","description":null},{"id":"92633ae9-4430-43ed-8a38-d97d16958607","name":"Cat2","color":"red","description":null}]}},"Number":{"id":"v%5DIg","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881068f81fc2cfc62e0c4","public_url":null,"archived":false,"in_trash":false,"request_id":"ac4877fc-b8a2-4d82-ab19-02f525d0ffd7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ac4877fc-b8a2-4d82-ab19-02f525d0ffd7
    status_code: 200
[...]
