interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81fe-a10e-f7f5a15aeae5","cover":null,"icon":null,"created_time":"2025-09-23T10:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:09:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"u%5DY%5D","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"afbba15d-2011-43f5-9d54-2f7c9293f907","name":"Cat1","color":"default","description":null},{"id":"8d0d66be-4a25-433f-963f-8d92f9c53775","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"z%5E%3Fp","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Category":{"id":"%7Bzi%7D","name":"Category","description":null,"type":"select","select":{"options":[{"id":"b37f439e-8509-45af-a0e2-0576c996fb17","name":"Cat1","color":"default","description":null},{"id":"b2bb79ff-fde0-46b4-98a6-21d571afe483","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881fea10ef7f5a15aeae5","public_url":null,"archived":false,"in_trash":false,"request_id":"9a6ed311-f4e1-4a02-baae-376cd3e481ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a6ed311-f4e1-4a02-baae-376cd3e481ba
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-81fe-a10e-f7f5a15aeae5
  response:
    content: '{"object":"database","id":"277974f3-b388-81fe-a10e-f7f5a15aeae5","cover":null,"icon":null,"created_time":"2025-09-23T10:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-81fe-a10e-f7f5a15aeae5
  response:
    content: '{"object":"database","id":"277974f3-b388-81fe-a10e-f7f5a15aeae5","cover":null,"icon":null,"created_time":"2025-09-23T10:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","database_id":"277974f3-b388-81b2-af1e-c6df937f6ef7","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-81fe-a10e-f7f5a15aeae5
  response:
    content: '{"object":"database","id":"277974f3-b388-81fe-a10e-f7f5a15aeae5","cover":null,"icon":null,"created_time":"2025-09-23T10:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:09:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Relation":{"id":"F_%5ER","name":"Relation","description":null,"type":"relation","relation":{"database_id":"277974f3-b388-81b2-af1e-c6df937f6ef7","data_source_id":"277974f3-b388-81a5-a4bf-000b967b65dc","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"DG%3C%7D"}}},"Number":{"id":"Knpt","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Date":{"id":"h%3DDr","name":"Date","description":null,"type":"date","date":{}},"Category":{"id":"%7Bzi%7D","name":"Category","description":null,"type":"select","select":{"options":[{"id":"b37f439e-8509-45af-a0e2-0576c996fb17","name":"Cat1","color":"default","description":null},{"id":"b2bb79ff-fde0-46b4-98a6-21d571afe483","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881fea10ef7f5a15aeae5","public_url":null,"archived":false,"in_trash":false,"request_id":"307e9ed9-f903-487c-b150-359fae48521b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 307e9ed9-f903-487c-b150-359fae48521b
    status_code: 200
[...]
