interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-8139-b901-de1808464ca5","cover":null,"icon":null,"created_time":"2025-09-23T10:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:09:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888139b901de1808464ca5","public_url":null,"archived":false,"in_trash":false,"request_id":"7e94d07f-f80c-4847-950a-0f5e79b4649d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e94d07f-f80c-4847-950a-0f5e79b4649d
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "properties": {"Relation two-way":
      {"type": "relation", "relation": {"type": "dual_property", "database_id": "277974f3-b388-8139-b901-de1808464ca5",
      "dual_property": {}}}, "Title": {"type": "title", "title": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-8134-b9c9-f401a48af998","cover":null,"icon":null,"created_time":"2025-09-23T10:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:09:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"q%3F%5DO","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"277974f3-b388-8139-b901-de1808464ca5","data_source_id":"277974f3-b388-8140-b4f0-000bdb7659da","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"Yceb"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888134b9c9f401a48af998","public_url":null,"archived":false,"in_trash":false,"request_id":"6f1a51ee-4d7d-4747-96bb-f2f954d6ee98"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f1a51ee-4d7d-4747-96bb-f2f954d6ee98
    status_code: 200
[...]
- request:
    body: '{"properties":{"Yceb":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-8139-b901-de1808464ca5
  response:
    content: '{"object":"database","id":"277974f3-b388-8139-b901-de1808464ca5","cover":null,"icon":null,"created_time":"2025-09-23T10:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:09:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"Yceb","name":"Relation","description":null,"type":"relation","relation":{"database_id":"277974f3-b388-8134-b9c9-f401a48af998","data_source_id":"277974f3-b388-817c-8af5-000b04edd3ad","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"q%3F%5DO"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b3888139b901de1808464ca5","public_url":null,"archived":false,"in_trash":false,"request_id":"efbd9a75-f9cd-457c-953a-e27c11161a10"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - efbd9a75-f9cd-457c-953a-e27c11161a10
    status_code: 200
[...]
