interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Location": {"type": "place", "place":
      {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-818c-8a1c-c03dc13ac7c4","cover":null,"icon":null,"created_time":"2026-06-27T05:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:01:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"%5C%3B%3EP","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a4818c8a1cc03dc13ac7c4","public_url":null,"in_trash":false,"archived":false,"request_id":"aae7a398-1985-46e8-937c-c8950d82f4a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aae7a398-1985-46e8-937c-c8950d82f4a9
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-818c-8a1c-c03dc13ac7c4"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8122-b312-d6204ae09dc1","created_time":"2026-06-27T05:01:00.000Z","last_edited_time":"2026-06-27T05:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-818c-8a1c-c03dc13ac7c4"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":"%5C%3B%3EP","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://www.notion.so/My-Place-38c9ce7b60a48122b312d6204ae09dc1","public_url":null,"archived":false,"request_id":"c7e2e87c-c69f-438a-b838-68997ac66c85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c7e2e87c-c69f-438a-b838-68997ac66c85
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-818c-8a1c-c03dc13ac7c4
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-818c-8a1c-c03dc13ac7c4","cover":null,"icon":null,"created_time":"2026-06-27T05:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:01:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"%5C%3B%3EP","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a4818c8a1cc03dc13ac7c4","public_url":null,"in_trash":false,"archived":false,"request_id":"e475c682-c75b-4c61-bb0f-7750bdb08684"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e475c682-c75b-4c61-bb0f-7750bdb08684
    status_code: 200
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-818c-8a1c-c03dc13ac7c4/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81ea-b89f-d88d2750e4f6","created_time":"2026-06-27T05:01:00.000Z","last_edited_time":"2026-06-27T05:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-818c-8a1c-c03dc13ac7c4"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":[...]
