interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-8146-8775-c7336f8222e1","cover":null,"icon":null,"created_time":"2025-01-05T14:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:27:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881468775c7336f8222e1","public_url":null,"archived":false,"in_trash":false,"request_id":"0948c388-947c-4f52-b1d8-5ec0b5d2876f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0948c388-947c-4f52-b1d8-5ec0b5d2876f
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: htt[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Schema B"}}], "properties":
      {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created by": {"type": "created_by",
      "created_by": {}}, "Created time": {"type": "created_time", "created_time":
      {}}, "Date": {"type": "date", "date": {}}, "Email": {"type": "email", "email":
      {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type": "formula",
      "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited by": {"type":
      "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type": "last_edited_time",
      "last_edited_time": {}}, "Multi-select": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Option1", "color": "default"}, {"name": "Option2", "color":
      "red"}]}}, "Number": {"type": "number", "number": {"format": "dollar"}}, "People":
      {"type": "people", "people": {}}, "Phone number": {"type": "phone_number", "phone_number":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "172974f3-b388-8146-8775-c7336f8222e1", "single_property": {}}},
      "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "172974f3-b388-8146-8775-c7336f8222e1", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Option1", "color": "default"}, {"name": "Option2", "color":
      "red"}]}}, "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type":
      "title", "title": {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-81a5-b759-d476ded31cbe","cover":null,"icon":null,"created_time":"2025-01-05T14:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user",[...]
[...]
- request:
    body: '{"properties": {"dG%60%5E": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/172974f3-b388-8146-8775-c7336f8222e1
  response:
    content: '{"object":"database","id":"172974f3-b388-8146-8775-c7336f8222e1","cover":null,"icon":null,"created_time":"2025-01-05T14:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:27:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"dG%60%5E","name":"Relation","type":"relation","relation":{"database_id":"172974f3-b388-81a5-b759-d476ded31cbe","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"_%3Es%7D"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b38881468775c7336f8222e1","public_url":null,"archived":false,"in_trash":false,"request_id":"8048fb64-4c0d-46bd-b93b-132f867feb25"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8048fb64-4c0d-46bd-b93b-132f867feb25
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"a20a2c82-9235-439b-a6c4-39653023fa32"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a20a2c82-9235-439b-a6c4-39653023fa32
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"7e232268-593b-40d8-abcc-80f25e6aeb59"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e232268-593b-40d8-abcc-80f25e6aeb59
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-8146-8775-c7336f8222e1"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      noti[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-81a5-b759-d476ded31cbe"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1", "color": "default"}]},
      "Number": {"type": "number", "number": 42}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "172974f3-b388-814d-b4bd-f6471ab06091"}, {"id": "172974f3-b3[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/172974f3-b388-8146-8775-c7336f8222e1
  response:
    content: '{"object":"block","id":"172974f3-b388-8146-8775-c7336f8222e1","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-01-05T14:27:00.000Z","last_edited_time":"2025-01-05T14:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"29cd244d-d16e-492a-b5f4-d621d5961a5e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29cd244d-d16e-492a-b5f4-d621d5961a5e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:27:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"d790db85-d445-4cf8-8679-dba14bb4f7ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d790db85-d445-4cf8-8679-dba14bb4f7ae
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81a5-b759-d476ded31cbe
  response:
    content: '{"object":"block","id":"172974f3-b388-81a5-b759-d476ded31cbe","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2025-01-05T14:27:00.000Z","last_edited_time":"2025-01-05T14:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"61a34233-e22d-4609-b305-af23e1b32a0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 61a34233-e22d-4609-b305-af23e1b32a0e
    status_code: 200
version: 1
