interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema A"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a4cdb292-bce3-4732-aa49-e1b20eff6967","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:38.729+00:00","last_edited_time":"2026-06-24T16:29:38.729+00:00","data_sources":[{"id":"45e1aed4-e2dd-438a-b292-8e6579d55565","name":"Update
      Prop-Test: Schema A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a4cdb292bce34732aa49e1b20eff6967","public_url":null,"archived":false,"request_id":"bb346782-7a57-48d2-b3e6-3be1d58f6dfd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bb346782-7a57-48d2-b3e6-3be1d58f6dfd
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/a4cdb292-bc[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/45e1aed4-e2dd-438a-b292-8e6579d55565
  response:
    content: '{"object":"data_source","id":"45e1aed4-e2dd-438a-b292-8e6579d55565","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[{"type":"text","text":{"content":"Only
      used to create relations in Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema C","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a4cdb292-bce3-4732-aa49-e1b20eff6967"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/a4cdb292bce34732aa49e1b20eff6967","public_url":null,"in_trash":false,"archived":false,"request_id":"74a46ddf-ac5c-4bb8-b274-5b5d61e6776f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 74a46ddf-ac5c-4bb8-b274-5b5d61e6776f
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema C"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "45e1aed4-e2dd-438a-b292-8e6579d55565", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "45e1aed4-e2dd-438a-b292-8e6579d55565", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a094c5f0-5316-40cc-afeb-4ed3fc1f8467","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:42.047+00:00","last_edited_time":"2026-06-24T16:29:42.047+00:00","data_sources":[{"id":"3234cca0-4e73-46a8-ad92-2a98a7643f56","name":"Update
      Prop-Test: Schema C"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a094c5f0531640ccafeb4ed3fc1f8467","public_url":null,"archived":false,"request_id":"327b4494-0594-476b-bc7e-d82c3f16be65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 327b4494-0594-476b-bc7e-d82c3f16be65
    status_code: 200
[...]
- request:
    body: '{"properties":{"XURr":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/45e1aed4-e2dd-438a-b292-8e6579d55565
  response:
    content: '{"object":"data_source","id":"45e1aed4-e2dd-438a-b292-8e6579d55565","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[{"type":"text","text":{"content":"Only
      used to create relations in Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema C","href":null}],"is_inline":false,"properties":{"Relation":{"id":"XURr","name":"Relation","description":null,"type":"relation","relation":{"database_id":"a094c5f0-5316-40cc-afeb-4ed3fc1f8467","data_source_id":"3234cca0-4e73-46a8-ad92-2a98a7643f56","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"m%7CEs"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a4cdb292-bce3-4732-aa49-e1b20eff6967"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/a4cdb292bce34732aa49e1b20eff6967","public_url":null,"in_trash":false,"archived":false,"request_id":"0bc7c953-d529-4a9a-a403-a0537ff3a053"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0bc7c953-d529-4a9a-a403-a0537ff3a053
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Select Options Update Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}, "Number": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b9b618f3-f4f0-442b-99dc-6e242c474508","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:54.093+00:00","last_edited_time":"2026-06-24T16:29:54.093+00:00","data_sources":[{"id":"efc4825b-4daa-4d85-af01-f9b58dbbb43f","name":"Select
      Options Update Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/b9b618f3f4f0442b99dc6e242c474508","public_url":null,"archived":false,"request_id":"2cc2be4f-7b79-444a-b56e-2e205a92846b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2cc2be4f-7b79-444a-b56e-2e205a92846b
    status_code: 200
[...]
