interactions:
- request:
    body: '{"query": "State Page for ID Prefix ALLCOLS", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://app.notion.com/p/Custom-Emoji-Page-00000000000040008000000000000008","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"2d242fa7-1291-4d74-9729-8f57333ba822"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2d242fa7-1291-4d74-9729-8f57333ba822
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:12:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"22c5f445-947b-4956-8fa4-6772a2c33a47"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 22c5f445-947b-4956-8fa4-6772a2c33a47
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "State Page for ID Prefix ALLCOLS", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "State Page for ID Prefix ALLCOLS"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - ap[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8153-88c4-c0e4fca15ae6/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f66069a1-b10f-480f-b45a-f9826890dab1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f66069a1-b10f-480f-b45a-f9826890dab1
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"ALLCOLS867","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"ALLCOLS867"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8153-88c4-c0e4fca15ae6/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81f1-a3f5-d50773f35e2a","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8153-88c4-c0e4fca15ae6"},"created_time":"2026-06-24T16:13:00.000Z","last_edited_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"ALLCOLS867","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"ALLCOLS867","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"bba510aa-a906-46cb-a354-9182ad77619b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bba510aa-a906-46cb-a354-9182ad77619b
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"65829beb-6ceb-45b4-8a60-13f65b6e6cfd","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:13:36.654+00:00","last_edited_time":"2026-06-24T16:13:36.654+00:00","data_sources":[{"id":"c9d7a71f-c9f1-40b5-a2b1-0b73289a1dad","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/65829beb6ceb45b48a6013f65b6e6cfd","public_url":null,"archived":false,"request_id":"b85bb25c-12eb-4620-afae-ebc8c6633ad7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b85bb25c-12eb-4620-afae-ebc8c6633ad7
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/65829beb-6c[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c9d7a71f-c9f1-40b5-a2b1-0b73289a1dad
  response:
    content: '{"object":"data_source","id":"c9d7a71f-c9f1-40b5-a2b1-0b73289a1dad","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:13:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"65829beb-6ceb-45b4-8a60-13f65b6e6cfd"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/65829beb6ceb45b48a6013f65b6e6cfd","public_url":null,"in_trash":false,"archived":false,"request_id":"8bfa9979-383f-4775-8260-3616dbb1651c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8bfa9979-383f-4775-8260-3616dbb1651c
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created by":
      {"type": "created_by", "created_by": {}}, "Created time": {"type": "created_time",
      "created_time": {}}, "Date": {"type": "date", "date": {}}, "Email": {"type":
      "email", "email": {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type":
      "formula", "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited
      by": {"type": "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type":
      "last_edited_time", "last_edited_time": {}}, "Multi-select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option1"}, {"name": "Option2", "color":
      "red"}]}}, "Number": {"type": "number", "number": {"format": "dollar"}}, "People":
      {"type": "people", "people": {}}, "Phone number": {"type": "phone_number", "phone_number":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "c9d7a71f-c9f1-40b5-a2b1-0b73289a1dad", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "c9d7a71f-c9f1-40b5-a2b1-0b73289a1dad", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Option1"}, {"name": "Option2", "color": "red"}]}}, "Text":
      {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}, "ID": {"type": "unique_id", "unique_id":
      {"prefix": "ALLCOLS867"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"138ce5fe-0846-4d0f-8374-0ffc197c89c9","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:13:38.468+00:00","last_edited_time":"2026-06-24T16:13:38.468+00:00","data_sources":[{"id":"c1baad43-efc9-4973-9e05-8fc53621fbf9","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/138ce5fe08464d0f83740ffc197c89c9","public_url":null,"archived":false,"request_id":"e24dd6b2-b475-40cb-846e-11ca26a429f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e24dd6b2-b475-40cb-846e-11ca26a429f0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c1baad43-efc9-4973-9e05-8fc53621fbf9
  response:
    content: '{"object":"data_source","id":"c1baad43-efc9-4973-9e05-8fc53621fbf9","cover":null,"icon":null,"created_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:13:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[{"type":"text","text":{"content":"Actual interesting
      schema/db","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Actual
      interesting schema/db","href":null}],"is_inline":false,"properties":{"Text":{"id":"%3CLpg","name":"Text","description":null,"type":"rich_text","rich_text":{}},"Relation
      two-way":{"id":"%3C%5Bwo","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"65829beb-6ceb-45b4-8a60-13f65b6e6cfd","data_source_id":"c9d7a71f-c9f1-40b5-a2b1-0b73289a1dad","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"%3BB%3B~"}}},"Date":{"id":"%40fV~","name":"Date","description":null,"type":"date","date":{}},"Created
      by":{"id":"I_mJ","name":"Created by","description":null,"type":"created_by","created_by":{}},"Relation":{"id":"Jp%7Bj","name":"Relation","description":null,"type":"relation","relation":{"database_id":"65829beb-6ceb-45b4-8a60-13f65b6e6cfd","data_source_id":"c9d7a71f-c9f1-40b5-a2b1-0b73289a1dad","type":"single_property","single_property":{}}},"Multi-select":{"id":"JvBc","name":"Multi-select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"d4a738c5-668d-419e-a8b6-25cb08f547af","name":"Option1","color":"default","description":null},{"id":"b7a9abe9-4c93-4b51-a8eb-5da67f0b72c3","name":"Option2","color":"red","description":null}]}},"Checkbox":{"id":"Kx%5Cs","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Last
      edited time":{"id":"Pd%5Ep","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Created
      time":{"id":"TH%5BW","name":"Created time","description":null,"type":"created_time","created_time":{}},"Files":{"id":"YEDj","name":"Files","description":null,"type":"files","files":{}},"Rollup":{"id":"YZs~","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"Jp{j","function":"count"}},"Formula":{"id":"%5EzUe","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:%7C%3FAu:c1baad43-efc9-4973-9e05-8fc53621fbf9:00000000-0000-4000-8000-0000000000f0}}
      * 2"}},"People":{"id":"_ECa","name":"People","description":null,"type":"people","people":{}},"URL":{"id":"_%60%3Bb","name":"URL","description":null,"type":"url","url":{}},"Phone
      number":{"id":"ihkE","name":"Phone number","description":null,"type":"[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"15ac9abb-ac07-4c2a-932d-92ef212c06f2\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 15ac9abb-ac07-4c2a-932d-92ef212c06f2
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "c1baad43-efc9-4973-9e05-8fc53621fbf9"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://www.google.de/robots.txt"}}]},
      "Multi-select": {"type": "multi_select", "multi_select": [{"name": "Option1"}]},
      "Number": {"type": "number", "number": 42}, "People": {"people": [{"id": "00000000-0000-4000-8000-0000000000fa",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "3899ce7b-60a4-811f-940a-f93215254929"}, {"id": "3899ce7b-6[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/65829beb-6ceb-45b4-8a60-13f65b6e6cfd
  response:
    content: '{"object":"block","id":"65829beb-6ceb-45b4-8a60-13f65b6e6cfd","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:13:00.000Z","last_edited_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"archived":true,"request_id":"9e8fab67-71c9-4a26-9a89-04884103f099"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e8fab67-71c9-4a26-9a89-04884103f099
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/138ce5fe-0846-4d0f-8374-0ffc197c89c9
  response:
    content: '{"object":"block","id":"138ce5fe-0846-4d0f-8374-0ffc197c89c9","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:13:00.000Z","last_edited_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"archived":true,"request_id":"5a3e5e7b-1b9b-4944-aff7-23d04459e9f9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a3e5e7b-1b9b-4944-aff7-23d04459e9f9
    status_code: 200
version: 1
