interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f2c6f404-dfd5-4a3b-a619-2269224264c3","cover":null,"icon":null,"created_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T16:03:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f2c6f404dfd54a3ba6192269224264c3","public_url":null,"archived":false,"request_id":"a59e4860-2d0d-4420-9b8b-85d30e863f12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f2c6f404-dfd5-4a3b-a619-2269224264c3
  response:
    content: '{"object":"database","id":"f2c6f404-df[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Relation two-way": {"relation": {"database_id":
      "f2c6f404-dfd5-4a3b-a619-2269224264c3", "type": "dual_property", "dual_property":
      {}}, "type": "relation"}, "Title": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"83407b0f-3bd1-4137-8830-1df2a6635366","cover":null,"icon":null,"created_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T16:03:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"_QEF","name":"Relation two-way","type":"relation","relation":{"database_id":"f2c6f404-dfd5-4a3b-a619-2269224264c3","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"piyt"}}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/83407b0f3bd1413788301df2a6635366","public_url":null,"archived":false,"request_id":"c16acb8a-bd22-4391-a619-5529ec3cb5ca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"properties": {"piyt": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f2c6f404-dfd5-4a3b-a619-2269224264c3
  response:
    content: '{"object":"database","id":"f2c6f404-dfd5-4a3b-a619-2269224264c3","cover":null,"icon":null,"created_time":"2024-01-23T16:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-23T16:03:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"piyt","name":"Relation","type":"relation","relation":{"database_id":"83407b0f-3bd1-4137-8830-1df2a6635366","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"_QEF"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f2c6f404dfd54a3ba6192269224264c3","public_url":null,"archived":false,"request_id":"6eeeec49-3280-4fc1-acec-df5ddcaeb893"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
