interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Add/Del/Update Prop-Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"251974f3-b388-8108-880d-e71427f21995","cover":null,"icon":null,"created_time":"2025-08-16T12:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-16T12:52:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"erca","name":"Category","type":"select","select":{"options":[{"id":"5da960b2-61e1-41bd-8f12-f4f9bf2f83b0","name":"Cat1","color":"default","description":null},{"id":"53b8b5cd-8f88-46c6-b3ec-75a43e3811ad","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"vz%5Dp","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"9fd6b412-8561-43c3-a997-c60b1ed6f4cc","name":"Cat1","color":"default","description":null},{"id":"484ad9c1-a589-48a0-ad68-570a2c8918a3","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"w%3A%7Cy","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/251974f3b3888108880de71427f21995","public_url":null,"archived":false,"in_trash":false,"request_id":"b0d684e1-32e2-4aaa-9efa-ff9ec2a9e053"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b0d684e1-32e2-4aaa-9efa-ff9ec2a9e053
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing adding,
      deleting and updating properties", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Schema for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-0[...]
[...]
- request:
    body: '{"properties": {"Number": {"type": "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/251974f3-b388-8108-880d-e71427f21995
  response:
    content: '{"object":"database","id":"251974f3-b388-8108-880d-e71427f21995","cover":null,"icon":null,"created_time":"2025-08-16T12:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited[...]
[...]
- request:
    body: '{"properties": {"Date": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/251974f3-b388-8108-880d-e71427f21995
  response:
    content: '{"object":"database","id":"251974f3-b388-8108-880d-e71427f21995","cover":null,"icon":null,"created_time":"2025-08-16T12:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"[...]
[...]
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "251974f3-b388-81f4-9118-e1451daa7e2a", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/251974f3-b388-8108-880d-e71427f21995
  response:
    content: '{"object":"database","id":"251974f3-b388-8108-880d-e71427f21995","cover":null,"icon":null,"created_time":"2025-08-16T12:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-16T12:52:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Date":{"id":"%3D%3DmP","name":"Date","type":"date","date":{}},"Relation":{"id":"KuFP","name":"Relation","type":"relation","relation":{"database_id":"251974f3-b388-81f4-9118-e1451daa7e2a","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"itcd"}}},"Number":{"id":"Q%7B~%3C","name":"Number","type":"number","number":{"format":"dollar"}},"Category":{"id":"erca","name":"Category","type":"select","select":{"options":[{"id":"5da960b2-61e1-41bd-8f12-f4f9bf2f83b0","name":"Cat1","color":"default","description":null},{"id":"53b8b5cd-8f88-46c6-b3ec-75a43e3811ad","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/251974f3b3888108880de71427f21995","public_url":null,"archived":false,"in_trash":false,"request_id":"c628f4c4-046b-4bb6-bcfc-c92eb1522597"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c628f4c4-046b-4bb6-bcfc-c92eb1522597
    status_code: 200
[...]
