interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0a6d3ed8-5f05-4584-8a67-bf676b2e4d96","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:44:51.822+00:00","last_edited_time":"2026-06-24T18:44:51.822+00:00","data_sources":[{"id":"5c35983e-c149-4e4b-918e-7d743e8e1c7f","name":"Add/Del/Update
      Prop-Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/0a6d3ed85f0545848a67bf676b2e4d96","public_url":null,"archived":false,"request_id":"05bcff5f-e47f-4098-b320-ebd34137adee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 05bcff5f-e47f-4098-b320-ebd34137adee
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/5c35983e-c149-4e4b-918e-7d743e8e1c7f
  response:
    content: '{"object":"data_source","id":"5c35983e-c149-4e4b-918e-7d743e8e1c7f","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:44:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/5c35983e-c149-4e4b-918e-7d743e8e1c7f
  response:
    content: '{"object":"data_source","id":"5c35983e-c149-4e4b-918e-7d743e8e1c7f","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_e[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/5c35983e-c149-4e4b-918e-7d743e8e1c7f
  response:
    content: '{"object":"data_source","id":"5c35983e-c149-4e4b-918e-7d743e8e1c7f","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f63e0a94-2ac2-44a6-85f9-f9164686d881
  response:
    content: '{"object":"data_source","id":"f63e0a94-2ac2-44a6-85f9-f9164686d881","cover":null,"icon":null,"created_time":"2026-06-24T18:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:45:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"81223a22-6b16-4789-b4d8-9ae9e9cf6923"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/81223a226b164789b4d89ae9e9cf6923","public_url":null,"in_trash":false,"archived":false,"request_id":"69091546-e831-4261-a727-250b25d458d5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 69091546-e831-4261-a727-250b25d458d5
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","data_source_id":"f63e0a94-2ac2-44a6-85f9-f9164686d881","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/5c35983e-c149-4e4b-918e-7d743e8e1c7f
  response:
    content: '{"object":"data_source","id":"5c35983e-c149-4e4b-918e-7d743e8e1c7f","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
[...]
