interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema A"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d2b4acc6-4bbb-45a2-bec9-984260f5f0a9","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:01:00.968+00:00","last_edited_time":"2026-06-27T06:01:00.968+00:00","data_sources":[{"id":"64c43812-01bc-4df6-a82f-270649a483d7","name":"Update
      Prop-Test: Schema A"}],"icon":null,"cover":null,"url":"https://www.notion.so/d2b4acc64bbb45a2bec9984260f5f0a9","public_url":null,"archived":false,"request_id":"4819ee2a-65ab-437b-a780-80f795d77d0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4819ee2a-65ab-437b-a780-80f795d77d0e
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d2b4acc6-4b[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/64c43812-01bc-4df6-a82f-270649a483d7
  response:
    content: '{"object":"data_source","id":"64c43812-01bc-4df6-a82f-270649a483d7","cover":null,"icon":null,"created_time":"2026-06-27T06:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:01:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[{"type":"text","text":{"content":"Only
      used to create relations in Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema C","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d2b4acc6-4bbb-45a2-bec9-984260f5f0a9"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/d2b4acc64bbb45a2bec9984260f5f0a9","public_url":null,"in_trash":false,"archived":false,"request_id":"6b5c01e3-1182-4b77-8bc8-1837e3bb7814"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b5c01e3-1182-4b77-8bc8-1837e3bb7814
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema C"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "64c43812-01bc-4df6-a82f-270649a483d7", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "64c43812-01bc-4df6-a82f-270649a483d7", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b6de8cac-eb3c-49a9-a6da-46439a0d5db5","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:01:05.102+00:00","last_edited_time":"2026-06-27T06:01:05.102+00:00","data_sources":[{"id":"788c9a71-3cd6-4cef-82c4-44c05c3cee2e","name":"Update
      Prop-Test: Schema C"}],"icon":null,"cover":null,"url":"https://www.notion.so/b6de8caceb3c49a9a6da46439a0d5db5","public_url":null,"archived":false,"request_id":"94b0fa39-d1f6-46be-9779-4bf0591ff8ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 94b0fa39-d1f6-46be-9779-4bf0591ff8ae
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/788c9a71-3cd6-4cef-82c4-44c05c3cee2e
  response:
    content: '{"object":"data_source","id":"788c9a71-3cd6-4cef-82c4-44c05c3cee2e","cover":null,"icon":null,"created_time":"2026-06-27T06:01:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:01:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[{"type":"text","text":{"content":"Actual
      interesting schema/db","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Actual
      interesting schema/db","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%5DFOG","name":"Relation","description":null,"type":"relation","relation":{"database_id":"d2b4acc6-4bbb-45a2-bec9-984260f5f0a9","data_source_id":"64c43812-01bc-4df6-a82f-270649a483d7","type":"dual_property","dual_property":{"synced_property_name":"Back
      Relation","synced_property_id":"z~wN"}}},"Rollup":{"id":"%5EJB%5C","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"]FOG","function":"count"}},"Relation
      two-way":{"id":"lbPH","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"d2b4acc6-4bbb-45a2-bec9-984260f5f0a9","data_source_id":"64c43812-01bc-4df6-a82f-270649a483d7","type":"dual_property","dual_property":{"synced_property_name":"Relation","synced_property_id":"%7D%7CHU"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"b6de8cac-eb3c-49a9-a6da-46439a0d5db5"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/b6de8caceb3c49a9a6da46439a0d5db5","public_url":null,"in_trash":false,"archived":false,"request_id":"59c8f615-7b12-4a8a-8206-930dfd0b7907"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 59c8f615-7b12-4a8a-8206-930dfd0b7907
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Select Options Update Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}, "Number": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"94db7769-f8aa-4e53-b79a-04b1e77d4bb1","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:01:17.689+00:00","last_edited_time":"2026-06-27T06:01:17.689+00:00","data_sources":[{"id":"927b7bc1-241c-4f2f-a5a0-edd540596904","name":"Select
      Options Update Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/94db7769f8aa4e53b79a04b1e77d4bb1","public_url":null,"archived":false,"request_id":"2a448d71-307f-43c6-a58c-859f2189bc5b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2a448d71-307f-43c6-a58c-859f2189bc5b
    status_code: 200
[...]
