interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7f8c4346-3d76-4b12-b465-4455104eadad","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:00:40.896+00:00","last_edited_time":"2026-06-27T06:00:40.896+00:00","data_sources":[{"id":"0d3be571-595e-4fc5-848f-da3e9c9ed0f5","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://www.notion.so/7f8c43463d764b12b4654455104eadad","public_url":null,"archived":false,"request_id":"baaa5b47-1bed-4819-b2e7-54311c62609c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - baaa5b47-1bed-4819-b2e7-54311c62609c
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/7f8c4346-3d[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/0d3be571-595e-4fc5-848f-da3e9c9ed0f5
  response:
    content: '{"object":"data_source","id":"0d3be571-595e-4fc5-848f-da3e9c9ed0f5","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:00:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"7f8c4346-3d76-4b12-b465-4455104eadad"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/7f8c43463d764b12b4654455104eadad","public_url":null,"in_trash":false,"archived":false,"request_id":"f416ada6-8748-43e6-87f8-79e97a88b00c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f416ada6-8748-43e6-87f8-79e97a88b00c
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Relation two-way": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "0d3be571-595e-4fc5-848f-da3e9c9ed0f5", "dual_property":
      {}}}, "Title": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a1141a17-5373-417c-930a-20123c826b51","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:00:42.723+00:00","last_edited_time":"2026-06-27T06:00:42.723+00:00","data_sources":[{"id":"e79b5c0e-fef9-4757-93fe-3a7271baf4dc","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://www.notion.so/a1141a175373417c930a20123c826b51","public_url":null,"archived":false,"request_id":"833ca794-f90f-45e9-860f-19096f16324c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 833ca794-f90f-45e9-860f-19096f16324c
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/e79b5c0e-fef9-4757-93fe-3a7271baf4dc
  response:
    content: '{"object":"data_source","id":"e79b5c0e-fef9-4757-93fe-3a7271baf4dc","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:00:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation
      two-way":{"id":"%60Yta","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"7f8c4346-3d76-4b12-b465-4455104eadad","data_source_id":"0d3be571-595e-4fc5-848f-da3e9c9ed0f5","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"uhVb"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a1141a17-5373-417c-930a-20123c826b51"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/a1141a175373417c930a20123c826b51","public_url":null,"in_trash":false,"archived":false,"request_id":"8b253cb5-ff0f-408b-a563-0d97acfa63ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8b253cb5-ff0f-408b-a563-0d97acfa63ce
    status_code: 200
- request:
    body: '{"properties":{"uhVb":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/0d3be571-595e-4fc5-848f-da3e9c9ed0f5
  response:
    content: '{"object":"data_source","id":"0d3be571-595e-4fc5-848f-da3e9c9ed0f5","cover":null,"icon":null,"created_time":"2026-06-27T06:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:00:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"uhVb","name":"Relation","description":null,"type":"relation","relation":{"database_id":"a1141a17-5373-417c-930a-20123c826b51","data_source_id":"e79b5c0e-fef9-4757-93fe-3a7271baf4dc","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"%60Yta"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"7f8c4346-3d76-4b12-b465-4455104eadad"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/7f8c43463d764b12b4654455104eadad","public_url":null,"in_trash":false,"archived":false,"request_id":"f6689ed9-8457-40e0-b024-815561a0ecc5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f6689ed9-8457-40e0-b024-815561a0ecc5
    status_code: 200
[...]
