interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema A"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2a935817-cc64-455a-bb87-0368f4866501","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:04:29.370+00:00","last_edited_time":"2026-06-27T17:04:29.370+00:00","data_sources":[{"id":"f61e97ed-6ea3-4885-92aa-232a55a84062","name":"Update
      Prop-Test: Schema A"}],"icon":null,"cover":null,"url":"https://www.notion.so/2a935817cc64455abb870368f4866501","public_url":null,"request_id":"43c24d5c-677a-4b98-8ad6-33f00e3ef806"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 43c24d5c-677a-4b98-8ad6-33f00e3ef806
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/2a935817-cc[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f61e97ed-6ea3-4885-92aa-232a55a84062
  response:
    content: '{"object":"data_source","id":"f61e97ed-6ea3-4885-92aa-232a55a84062","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[{"type":"text","text":{"content":"Only
      used to create relations in Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema C","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2a935817-cc64-455a-bb87-0368f4866501"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/2a935817cc64455abb870368f4866501","public_url":null,"in_trash":false,"request_id":"12342d7c-b04d-444b-bbfb-1769a8dd368b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 12342d7c-b04d-444b-bbfb-1769a8dd368b
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema C"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "f61e97ed-6ea3-4885-92aa-232a55a84062", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "f61e97ed-6ea3-4885-92aa-232a55a84062", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"40c32b8f-fd21-4411-a382-2a30426e8b33","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:04:33.303+00:00","last_edited_time":"2026-06-27T17:04:33.303+00:00","data_sources":[{"id":"a0c67f80-5c1a-4413-b791-39d8c59b3ea3","name":"Update
      Prop-Test: Schema C"}],"icon":null,"cover":null,"url":"https://www.notion.so/40c32b8ffd214411a3822a30426e8b33","public_url":null,"request_id":"44bd51f5-3882-446d-99c9-ba495e433259"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44bd51f5-3882-446d-99c9-ba495e433259
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a0c67f80-5c1a-4413-b791-39d8c59b3ea3
  response:
    content: '{"object":"data_source","id":"a0c67f80-5c1a-4413-b791-39d8c59b3ea3","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[{"type":"text","text":{"content":"Actual
      interesting schema/db","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Actual
      interesting schema/db","href":null}],"is_inline":false,"properties":{"Rollup":{"id":"VrLO","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"dndZ","function":"count"}},"Relation":{"id":"dndZ","name":"Relation","description":null,"type":"relation","relation":{"database_id":"2a935817-cc64-455a-bb87-0368f4866501","data_source_id":"f61e97ed-6ea3-4885-92aa-232a55a84062","type":"single_property","single_property":{}}},"Relation
      two-way":{"id":"pSVl","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"2a935817-cc64-455a-bb87-0368f4866501","data_source_id":"f61e97ed-6ea3-4885-92aa-232a55a84062","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Update Prop-Test: Schema C (Relation two-way)","synced_property_id":"%3AGlK"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"40c32b8f-fd21-4411-a382-2a30426e8b33"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/40c32b8ffd214411a3822a30426e8b33","public_url":null,"in_trash":false,"request_id":"9cad84a1-7af2-4aaa-8c1e-428d20a8e925"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9cad84a1-7af2-4aaa-8c1e-428d20a8e925
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Select Options Update Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}, "Number": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"569aede9-ee6b-4254-9d25-6eb5dc022d23","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:04:48.247+00:00","last_edited_time":"2026-06-27T17:04:48.247+00:00","data_sources":[{"id":"74383151-a2c1-4f9f-a70e-265e295cda3d","name":"Select
      Options Update Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/569aede9ee6b42549d256eb5dc022d23","public_url":null,"request_id":"f5ac5c2c-8765-4274-bd17-6fc7b6346898"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f5ac5c2c-8765-4274-bd17-6fc7b6346898
    status_code: 200
[...]
