interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Location": {"type": "place", "place": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c0929f8e-54ae-45ba-aac1-7c6f58553b38","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T06:02:32.133+00:00","last_edited_time":"2026-06-27T06:02:32.133+00:00","data_sources":[{"id":"222141a0-225c-4417-847c-352fe5b566db","name":"Place
      Property Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/c0929f8e54ae45baaac17c6f58553b38","public_url":null,"archived":false,"request_id":"a53df392-4e1f-47dc-81c6-a33058a94c10"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a53df392-4e1f-47dc-81c6-a33058a94c10
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/222141a0-225c-4417-847c-352fe5b566db
  response:
    content: '{"object":"data_source","id":"222141a0-225c-4417-847c-352fe5b566db","cover":null,"icon":null,"created_time":"2026-06-27T06:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T06:02:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"uXZT","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"c0929f8e-54ae-45ba-aac1-7c6f58553b38"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/c0929f8e54ae45baaac17c6f58553b38","public_url":null,"in_trash":false,"archived":false,"request_id":"6b43c025-01f5-45de-8292-cf3e6790a125"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b43c025-01f5-45de-8292-cf3e6790a125
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "222141a0-225c-4417-847c-352fe5b566db"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8108-b21a-f9c39de97cd8","created_time":"2026-06-27T06:02:00.000Z","last_edited_time":"2026-06-27T06:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"222141a0-225c-4417-847c-352fe5b566db","database_id":"c0929f8e-54ae-45ba-aac1-7c6f58553b38"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":"uXZT","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://www.notion.so/My-Place-38c9ce7b60a48108b21af9c39de97cd8","public_url":null,"archived":false,"request_id":"558755dd-3179-453e-80c2-73ecf5309711"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 558755dd-3179-453e-80c2-73ecf5309711
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/222141a0-225c-4417-847c-352fe5b566db/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38c9ce7b-60a4-81da-be71-d682ba84cb33","created_time":"2026-06-27T06:02:00.000Z","last_edited_time":"2026-06-27T06:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"222141a0-225c-4417-847c-352fe5b566db","database_id":"c0929f8e-54ae-45ba-aac1-7c6f58553b38"},"in_trash":false,"is_archiv[...]
