interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema A"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"94ce32d6-91eb-4ddb-bd07-67a748951794","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:45:10.004+00:00","last_edited_time":"2026-06-24T18:45:10.004+00:00","data_sources":[{"id":"a6aecb97-8c8c-4844-87cf-dec67792c7ec","name":"Update
      Prop-Test: Schema A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/94ce32d691eb4ddbbd0767a748951794","public_url":null,"archived":false,"request_id":"6bf5b696-edbf-4d7f-88f0-caade66aaeb9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6bf5b696-edbf-4d7f-88f0-caade66aaeb9
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/94ce32d6-91[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a6aecb97-8c8c-4844-87cf-dec67792c7ec
  response:
    content: '{"object":"data_source","id":"a6aecb97-8c8c-4844-87cf-dec67792c7ec","cover":null,"icon":null,"created_time":"2026-06-24T18:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:45:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[{"type":"text","text":{"content":"Only
      used to create relations in Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema C","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"94ce32d6-91eb-4ddb-bd07-67a748951794"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/94ce32d691eb4ddbbd0767a748951794","public_url":null,"in_trash":false,"archived":false,"request_id":"2ff470c9-0018-45de-9eef-7ee81d066cee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2ff470c9-0018-45de-9eef-7ee81d066cee
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema C"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "a6aecb97-8c8c-4844-87cf-dec67792c7ec", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "a6aecb97-8c8c-4844-87cf-dec67792c7ec", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6231d55c-e73d-49d9-b084-3222616770d7","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:45:13.984+00:00","last_edited_time":"2026-06-24T18:45:13.984+00:00","data_sources":[{"id":"77755593-a52b-49d7-9593-64790cfe96bc","name":"Update
      Prop-Test: Schema C"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/6231d55ce73d49d9b0843222616770d7","public_url":null,"archived":false,"request_id":"223360e5-c67e-4f62-96ba-dcee2d559de1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 223360e5-c67e-4f62-96ba-dcee2d559de1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/77755593-a52b-49d7-9593-64790cfe96bc
  response:
    content: '{"object":"data_source","id":"77755593-a52b-49d7-9593-64790cfe96bc","cover":null,"icon":null,"created_time":"2026-06-24T18:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:45:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[{"type":"text","text":{"content":"Actual
      interesting schema/db","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Actual
      interesting schema/db","href":null}],"is_inline":false,"properties":{"Relation
      two-way":{"id":"Ckfn","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"94ce32d6-91eb-4ddb-bd07-67a748951794","data_source_id":"a6aecb97-8c8c-4844-87cf-dec67792c7ec","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Update Prop-Test: Schema C (Relation two-way)","synced_property_id":"XSnM"}}},"Relation":{"id":"V_Uy","name":"Relation","description":null,"type":"relation","relation":{"database_id":"94ce32d6-91eb-4ddb-bd07-67a748951794","data_source_id":"a6aecb97-8c8c-4844-87cf-dec67792c7ec","type":"single_property","single_property":{}}},"Rollup":{"id":"k%7CpX","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"V_Uy","function":"count"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6231d55c-e73d-49d9-b084-3222616770d7"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/6231d55ce73d49d9b0843222616770d7","public_url":null,"in_trash":false,"archived":false,"request_id":"c3a68f9f-8f40-4d18-abdd-c0a69b48bf40"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c3a68f9f-8f40-4d18-abdd-c0a69b48bf40
    status_code: 200
- request:
    body: '{"properties":{"XSnM":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/a6aecb97-8c8c-4844-87cf-dec67792c7ec
  response:
    content: '{"object":"data_source","id":"a6aecb97-8c8c-4844-87cf-dec67792c7ec","cover":null,"icon":null,"created_time":"2026-06-24T18:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Select Options Update Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}, "Number": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"97398500-6fa1-402e-84b5-2e90354392b4","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:45:29.450+00:00","last_edited_time":"2026-06-24T18:45:29.450+00:00","data_sources":[{"id":"b6d64b4b-2419-4a9e-9eac-de41fc36a72c","name":"Select
      Options Update Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/973985006fa1402e84b52e90354392b4","public_url":null,"archived":false,"request_id":"34c198e4-193e-45dc-b2f7-cce3dde0b43a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 34c198e4-193e-45dc-b2f7-cce3dde0b43a
    status_code: 200
[...]
