interactions:
- request:
    body: '{"query": "State Page for ID Prefix OLDID", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"29c974f3-b388-815b-9d70-f622e63dbfa7\",\"created_time\":\"2025-10-30T15:49:00.000Z\",\"last_edited_time\":\"2025-10-30T15:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"State
      Page for ID Prefix ALLCOLS\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"State
      Page for ID Prefix ALLCOLS\",\"href\":null}]}},\"url\":\"https://www.notion.so/State-Page-for-ID-Prefix-ALLCOLS-29c974f3b388815b9d70f622e63dbfa7\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-81bc-98b8-c6c076db1f78\",\"created_time\":\"2025-10-30T15:45:00.000Z\",\"last_edited_time\":\"2025-10-30T15:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"29c974f3-b388-81cf-b196-fa86ff944dba\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Role\":{\"id\":\"PeDE\",\"type\":\"rich_text\",\"rich_text\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page with properties\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page with properties\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-with-properties-29c974f3b38881bc98b8c6c076db1f78\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-817f-8c5d-dc4ece29f9fc\",\"created_time\":\"2025-10-30T15:45:00.000Z\",\"last_edited_time\":\"2025-10-30T15:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"custom_emoji\",\"custom_emoji\":{\"id\":\"20c974f3-b388-8063-b812-007aeaf0578a\",\"name\":\"ultimate-notion\",\"url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/021a290b-d194-4457-ab01-01f9b2bf803f/favicon.svg\"}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Page
      with Custom Emoji Icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Page
      with Custom Emoji Icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/Page-with-Custom-Emoji-Icon-29c974f3b388817f8c5ddc4ece29f9fc\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-8196-b913-e848a9f0028c\",\"created_time\":\"2025-10-30T15:45:00.000Z\",\"last_edited_time\":\"2025-10-30T15:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"29c974f3-b388-81f5-9826-c349375ead20\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Multi
      Status\":{\"id\":\"%3Cq%3Cs\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"e4454e7d-83ee-4825-948a-1a203aa2991e\",\"name\":\"Option
      1\",\"color\":\"default\"},{\"id\":\"b251ccad-5db0-4a6e-bdd6-aff8d6d3b975\",\"name\":\"Option
      2\",\"color\":\"pink\"}]},\"Status\":{\"id\":\"rrhS\",\"type\":\"select\",\"select\":{\"id\":\"a0c367e4-3548-4f7e-9e9a-3db1dee38cdf\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Page
      2\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Page
      2\",\"href\":null}]}},\"url\":\"https://www.notion.so/Page-2-29c974f3b3888196b913e848a9f0028c\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-81fc-b5b8-f5d81f22ae9d\",\"created_time\":\"2025-10-30T15:4[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:51:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"be034b7d-4339-440a-ac93-5de8c22ea850"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be034b7d-4339-440a-ac93-5de8c22ea850
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81cf-b196-fa86ff944dba
  response:
    content: '{"object":"database","id":"29c974f3-b388-81cf-b196-fa86ff944dba","cover":null,"icon":null,"created_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:45:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"PeDE","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881cfb196fa86ff944dba","public_url":null,"archived":false,"in_trash":false,"request_id":"9fcdfb7d-fa13-48ce-b339-cd17569b765a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9fcdfb7d-fa13-48ce-b339-cd17569b765a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81f5-9826-c349375ead20
  response:
    content: '{"object":"database","id":"29c974f3-b388-81f5-9826-c349375ead20","cover":null,"icon":null,"created_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:45:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing option page props","href":null}],"is_inline":false,"properties":{"Multi
      Status":{"id":"%3Cq%3Cs","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"e4454e7d-83ee-4825-948a-1a203aa2991e","name":"Option
      1","color":"default","description":null},{"id":"b251ccad-5db0-4a6e-bdd6-aff8d6d3b975","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"rrhS","name":"Status","description":null,"type":"select","select":{"options":[{"id":"d1022607-0f8c-478e-8116-d37c2b2dd542","name":"Open","color":"gray","description":null},{"id":"a0c367e4-3548-4f7e-9e9a-3db1dee38cdf","name":"In
      Progress","color":"blue","description":null},{"id":"d84f647f-699a-4a45-b72f-a73874f30d31","name":"Blocked","color":"red","description":null},{"id":"89548734-819c-4fc2-b05f-29cbaa0335da","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881f59826c349375ead20","public_url":null,"archived":false,"in_trash":false,"request_id":"589a7ec5-9ee4-47a8-9baa-22af7132a7b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 589a7ec5-9ee4-47a8-9baa-22af7132a7b0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8168-bfc6-cae22811b05a
  response:
    content: "{\"object\":\"database\",\"id\":\"29c974f3-b388-8168-bfc6-cae22811b05a\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-10-30T15:42:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-10-30T15:42:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"G%5DSd\",\"name\":\"Urgency\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:OhoR:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:%5EU%7Bt:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:%5EU%7Bt:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() > [...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e9f53dc3-80ce-4a97-9424-659ef13a0d2e
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find page with ID: e9f53dc3-80ce-4a97-9424-659ef13a0d2e. Make sure the relevant
      pages and databases are shared with your integration.","request_id":"4cafefb4-379d-49b7-92ce-f79491ea0e2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4cafefb4-379d-49b7-92ce-f79491ea0e2c
    status_code: 404
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4c6e7417-ef05-4b7e-b55e-62ecbb55a38d
  response:
    content: '{"object":"database","id":"4c6e7417-ef05-4b7e-b55e-62ecbb55a38d","cover":null,"icon":null,"created_time":"2023-08-12T13:26:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-07-26T19:31:00.000Z","title":[{"type":"text","text":{"content":"Wiki
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Wiki
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Verification":{"id":"Mw%5E%3C","name":"Verification","description":null,"type":"verification","verification":{}},"Tags":{"id":"OESf","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4036ff5b-932f-4883-8d0c-6ca1fa6f9cf6","name":"Onboarding","color":"blue","description":null},{"id":"869be616-aa64-491d-b56c-161ea3e81b56","name":"Design","color":"green","description":null}]}},"Last
      edited time":{"id":"%5EB_%40","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Page":{"id":"title","name":"Page","description":null,"type":"title","title":{}},"Owner":{"id":"notion%3A%2F%2Fwiki%2Fowner_property","name":"Owner","description":null,"type":"people","people":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4c6e7417ef054b7eb55e62ecbb55a38d","public_url":null,"archived":false,"in_trash":false,"request_id":"305e9c6d-6f24-427b-b890-b4270b17fa6f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 305e9c6d-6f24-427b-b890-b4270b17fa6f
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "State Page for ID Prefix OLDID", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "State Page for ID Prefix OLDID"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - applic[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81e1-bbbe-c38dd14a4d2a/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8ebef017-fc65-49a9-b65c-9838a1ecc1ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ebef017-fc65-49a9-b65c-9838a1ecc1ae
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"OLDID85864","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"OLDID85864"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81e1-bbbe-c38dd14a4d2a/children
  response:
    content: '{"obj[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Unique ID Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Unique ID Update Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "ID": {"type": "unique_id", "unique_id":
      {"prefix": "OLDID85864"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8123-86b6-c93af4c2c2cf","cover":null,"icon":null,"created_time":"2025-10-30T15:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object"[...]
[...]
