interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81e6-a8e8-ef480d055a77","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:28:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481e6a8e8ef480d055a77","public_url":null,"in_trash":false,"archived":false,"request_id":"38e14e24-e7ad-4f6e-a489-02a04e79fe57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 38e14e24-e7ad-4f6e-a489-02a04e79fe57
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema C"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Relation": {"type": "relation", "relation":
      {"type": "single_property", "database_id": "38a9ce7b-60a4-81e6-a8e8-ef480d055a77",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "38a9ce7b-60a4-81e6-a8e8-ef480d055a77",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-815f-ab9f-ff3e1e99bc6d","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:28:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"L%3F%7Dt","name":"Relation","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-81e6-a8e8-ef480d055a77","data_source_id":"38a9ce7b-60a4-8156-8074-000b1992f439","type":"single_property","single_property":{}}},"Rollup":{"id":"UNd%7C","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"L?}t","function":"count"}},"Relation
      two-way":{"id":"x%40IM","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-81e6-a8e8-ef480d055a77","data_source_id":"38a9ce7b-60a4-8156-8074-000b1992f439","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Update Prop-Test: Schema C (Relation two-way)","synced_property_id":"PvtJ"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4815fab9fff3e1e99bc6d","public_url":null,"in_trash":false,"archived":false,"request_id":"f8bf3711-562e-408d-9c30-a3969821879a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8bf3711-562e-408d-9c30-a3969821879a
    status_code: 200
[...]
- request:
    body: '{"properties":{"PvtJ":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-81e6-a8e8-ef480d055a77
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81e6-a8e8-ef480d055a77","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"las[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Select Options Update Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}, "Number":
      {"type": "number", "number": {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-81c9-a7a5-e5758e5a008a","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"us[...]
[...]
