interactions:
- request:
    body: '{"query": "State Page for ID Prefix OLDID", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8153-88c4-c0e4fca15ae6","created_time":"2026-06-24T16:13:00.000Z","last_edited_time":"2026-06-24T16:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"State
      Page for ID Prefix ALLCOLS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"State
      Page for ID Prefix ALLCOLS","href":null}]}},"url":"https://app.notion.com/p/State-Page-for-ID-Prefix-ALLCOLS-3899ce7b60a4815388c4c0e4fca15ae6","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://app.notion.com/p/Custom-Emoji-Page-00000000000040008000000000000008","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"b8660058-a601-49f0-9831-9ac742b842ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b8660058-a601-49f0-9831-9ac742b842ae
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"c5291c98-c395-42ee-bb35-a1d994f14d64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c5291c98-c395-42ee-bb35-a1d994f14d64
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "State Page for ID Prefix OLDID", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "State Page for ID Prefix OLDID"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - applic[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8111-82e2-dcd841b1afb8/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e83a6073-585b-4820-a9d2-479fadd9be82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e83a6073-585b-4820-a9d2-479fadd9be82
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"OLDID44278","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"OLDID44278"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8111-82e2-dcd841b1afb8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-812c-8e80-fd01e758a047","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8111-82e2-dcd841b1afb8"},"created_time":"2026-06-24T16:15:00.000Z","last_edited_time":"2026-06-24T16:15:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"OLDID44278","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"OLDID44278","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a4789857-e893-48f2-aff5-5948822fba94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4789857-e893-48f2-aff5-5948822fba94
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Unique ID Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Unique ID Update Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "ID": {"type": "unique_id", "unique_id": {"prefix": "OLDID44278"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fe397242-3f5d-4f56-af69-b47b4cd489cf","title":[{"type":"text","text":{"content":"Unique
      ID Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Unique
      ID Update Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:15:53.716+00:00","last_edited_time":"2026-06-24T16:15:53.716+00:00","data_sources":[{"id":"eb885eea-b7d2-4576-aa0d-c20018eeb2fe","name":"Unique
      ID Update Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/fe3972423f5d4f56af69b47b4cd489cf","public_url":null,"archived":false,"request_id":"1b8616b8-96c0-4bf6-94ae-058aacbe59e5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1b8616b8-96c0-4bf6-94ae-058aacbe59e5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/eb885eea-b7d2-4576-aa0d-c20018eeb2fe
  response:
    content: '{"object":"data_source","id":"eb885eea-b7d2-4576-aa0d-c20018eeb2fe","cover":null,"icon":null,"created_time":"2026-06-24T16:15:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:15:00.000Z","title":[{"type":"text","text":{"content":"Unique
      ID Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Unique
      ID Update Test","href":null}],"description":[],"is_inline":false,"properties":{"ID":{"id":"PHZb","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":"OLDID44278"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"fe397242-3f5d-4f56-af69-b47b4cd489cf"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/fe3972423f5d4f56af69b47b4cd489cf","public_url":null,"in_trash":false,"archived":false,"request_id":"64bdf870-57f0-4512-a1dd-d1ee34b92573"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 64bdf870-57f0-4512-a1dd-d1ee34b92573
    status_code: 200
[...]
