interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7accf7f0-9835-495c-9561-57f98ff5a937","cover":null,"icon":null,"created_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:11:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/7accf7f09835495c956157f98ff5a937","public_url":null,"archived":false,"request_id":"b7b4f885-4cb1-449c-aa1c-559d9ca5af92"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Schema A description", "text": {"content":
      "Schema A description"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/7accf7f0-9835-495c-9561-57f98ff5a937
  response:
    content: '{"object":"database","id":"7accf7f0-9835-495c-9561-57f98ff5a937","cover":null,"icon":n[...]
- request:
    body: '{"properties": {"Relation": {"relation": {"database_id": "7accf7f0-9835-495c-9561-57f98ff5a937",
      "type": "single_property", "single_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/7accf7f0-9835-495c-9561-57f98ff5a937
  response:
    content: '{"object":"database","id":"7accf7f0-9835-495c-9561-57f98ff5a937","cover":null,"icon":null,"created_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"[...]
