interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7","cover":null,"icon":null,"created_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:11:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/9aeebbd7ca1f4207bd3d38b47bfe6eb7","public_url":null,"archived":false,"request_id":"3d44cdb8-8f02-42c5-96e7-f772198f809b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7
  response:
    content: '{"object":"database","id":"9aeebbd7-ca[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Checkbox": {"type": "checkbox", "checkbox":
      {}}, "Created by": {"type": "created_by", "created_by": {}}, "Created time":
      {"type": "created_time", "created_time": {}}, "Date": {"type": "date", "date":
      {}}, "Email": {"type": "email", "email": {}}, "Files": {"type": "files", "files":
      {}}, "Formula": {"formula": {"expression": "prop(\"Number\") * 2"}, "type":
      "formula"}, "Last edited by": {"type": "last_edited_by", "last_edited_by": {}},
      "Last edited time": {"type": "last_edited_time", "last_edited_time": {}}, "Multi-select":
      {"multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}, "type": "multi_select"}, "Number": {"number":
      {"format": "dollar"}, "type": "number"}, "People": {"type": "people", "people":
      {}}, "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation":
      {"relation": {"database_id": "9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7", "type":
      "single_property", "single_property": {}}, "type": "relation"}, "Relation two-way":
      {"relation": {"database_id": "9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7", "type":
      "dual_property", "dual_property": {}}, "type": "relation"}, "Rollup": {"rollup":
      {"function": "count", "relation_property_name": "Relation", "rollup_property_name":
      "Name"}, "type": "rollup"}, "Select": {"select": {"options": [{"name": "Option1",
      "color": "default"}, {"name": "Option2", "color": "red"}]}, "type": "select"},
      "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"96d0f7b1-2c80-4ad5-90b5-58747264e1d5","cover":null,"icon":null,"created_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:11:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Checkbox":{"id":"%40nlg","name":"Checkbox","type":"checkbox","checkbox":{}},"Last
      edited time":{"id":"ANUa","name":"Last edited time","type":"last_edited_time","last_edited_time":{}},"Phone
      number":{"id":"DAHW","name":"Phone number","type":"phone_number","phone_number":{}},"Relation
      two-way":{"id":"OUCG","name":"Relation two-way","type":"relation","relation":{"database_id":"9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"Q%7CiV"}}},"Created time":{"id":"PR%5ER","name":"Created
      time","type":"created_time","created_time":{}},"URL":{"id":"ZMXy","name":"URL","type":"url","url":{}},"Multi-select":{"id":"ZXOL","name":"Multi-select","type":"multi_select","multi_select":{"options":[{"id":"96e83542-be03-44c7-8ddf-23c32e382424","name":"Option1","color":"default","description":null},{"id":"ae0714db-7cf1-4b0e-9665-374bb7611b0d","name":"Option2","color":"red","description":null}]}},"Email":{"id":"aA%3Av","name":"Email","type":"email","email":{}},"Rollup":{"id":"aQY_","name":"Rollup","type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"pzSx","function":"count"}},"Last
      edited by":{"id":"bv%5B%5B","name":"Last edited by","type":"last_edited_by","last_edited_by":{}},"People":{"id":"ctoY","name":"People","type":"people","people":{}},"Select":{"id":"dUtq","name":"Select","type":"select","select":{"options":[{"id":"75c2781f-4430-4acf-9d1b-9b8b3183334f","name":"Option1","color":"default","description":null},{"id":"7238c25d-c0df-4f6a-a9fd-f5ac2fe23582","name":"Option2","color":"red","description":null}]}},"Files":{"id":"k%3AiF"[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"662259cc-ed62-46c4-b8c1-a7c8a9b327c4"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"d4a2f9a2-2bad-4b39-9759-516f09bea53c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"database_id": "9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "Item 1", "text":
      {"content": "Item 1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8bc8709b-85c5-4e44-abfc-0616802dda44","created_time":"2023-12-24T13:11:00.000Z","last_edited_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7"},"archived":false,"properties":{"Relation":{"id":"Q%7CiV","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-8bc8709b85c54e44abfc0616802dda44","public_url":null,"request_id":"77adc4d5-00be-47e9-9173-86cc9fd757c4"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "96d0f7b1-2c80-4ad5-90b5-58747264e1d5", "type":
      "database_id"}, "properties": {"Checkbox": {"checkbox": true, "type": "checkbox"},
      "Date": {"date": {"start": "2023-12-24"}, "type": "date"}, "Email": {"email":
      "email@provider.com", "type": "email"}, "Files": {"files": [{"name": "My File",
      "external": {"url": "https://..."}, "type": "external"}], "type": "files"},
      "Multi-select": {"multi_select": [{"name": "Option1", "color": "default"}],
      "type": "multi_select"}, "Number": {"number": 42.0, "type": "number"}, "People":
      {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user"}]},
      "Phone number": {"phone_number": "+1 234 567 890", "type": "phone_number"},
      "Relation": {"relation": [{"id": "8bc8709b-85c5-4e44-abfc-0616802dda44"}, {"id":
      "e0c0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"a26684a5-dee6-42b4-89d5-f371c143977a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/8bc8709b-85c5-4e44-abfc-0616802dda44
  response:
    content: '{"object":"page","id":"8bc8709b-85c5-4e44-abfc-0616802dda44","created_time":"2023-12-24T13:11:00.000Z","last_edited_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7"},"archived":false,"properties":{"Relation":{"id":"Q%7CiV","type":"relation","relation":[{"id":"a02f9f2d-cd24-48df-8295-4c720989e3ad"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-8bc8709b85c54e44abfc0616802dda44","public_url":null,"request_id":"b1099e46-43d8-4550-aecb-16e6bba29915"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7
  response:
    content: '{"object":"block","id":"9aeebbd7-ca1f-4207-bd3d-38b47bfe6eb7","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T13:11:00.000Z","last_edited_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"4dd57a3a-a1a2-4c9d-9a01-9dc461346139"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/96d0f7b1-2c80-4ad5-90b5-58747264e1d5
  response:
    content: '{"object":"block","id":"96d0f7b1-2c80-4ad5-90b5-58747264e1d5","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T13:11:00.000Z","last_edited_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"523b4f77-30c1-43f6-9d28-2be6d5da2526"}'
    headers: {}
    status_code: 200
version: 1
