interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Location": {"type": "place", "place": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7ae6d128-e477-4317-8167-b755b0283063","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:46:49.363+00:00","last_edited_time":"2026-06-24T18:46:49.363+00:00","data_sources":[{"id":"3eebd5b0-c8a7-46fb-9a33-8761f3d0ef05","name":"Place
      Property Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/7ae6d128e47743178167b755b0283063","public_url":null,"archived":false,"request_id":"eb0a2764-8d54-4554-9493-c67eb23f6ccb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb0a2764-8d54-4554-9493-c67eb23f6ccb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3eebd5b0-c8a7-46fb-9a33-8761f3d0ef05
  response:
    content: '{"object":"data_source","id":"3eebd5b0-c8a7-46fb-9a33-8761f3d0ef05","cover":null,"icon":null,"created_time":"2026-06-24T18:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:46:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"W%3A~J","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"7ae6d128-e477-4317-8167-b755b0283063"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/7ae6d128e47743178167b755b0283063","public_url":null,"in_trash":false,"archived":false,"request_id":"e7bc215c-a042-426d-8a4f-9ca074507038"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e7bc215c-a042-426d-8a4f-9ca074507038
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "3eebd5b0-c8a7-46fb-9a33-8761f3d0ef05"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81c6-adc8-dc1a7e4bb453","created_time":"2026-06-24T18:46:00.000Z","last_edited_time":"2026-06-24T18:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3eebd5b0-c8a7-46fb-9a33-8761f3d0ef05","database_id":"7ae6d128-e477-4317-8167-b755b0283063"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":"W%3A~J","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://app.notion.com/p/My-Place-3899ce7b60a481c6adc8dc1a7e4bb453","public_url":null,"archived":false,"request_id":"475c0707-0e24-44c5-b3fc-50cad12a97cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 475c0707-0e24-44c5-b3fc-50cad12a97cb
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3eebd5b0-c8a7-46fb-9a33-8761f3d0ef05/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81e2-830e-d3a0cd538a0f","created_time":"2026-06-24T18:46:00.000Z","last_edited_time":"2026-06-24T18:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3eebd5b0-c8a7-46fb-9a33-8761f3d0ef05","database_id":"7ae6d128-e477-4317-8167-b755b0283063"},"in_trash":false,"is_archiv[...]
