interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Location": {"type": "place", "place":
      {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-812a-89d0-cfd7d12562a0","cover":null,"icon":null,"created_time":"2026-06-25T14:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:29:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"_l%60n","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4812a89d0cfd7d12562a0","public_url":null,"in_trash":false,"archived":false,"request_id":"a1aa1e6a-41fd-4b02-a273-e2cd0e6a829e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1aa1e6a-41fd-4b02-a273-e2cd0e6a829e
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-812a-89d0-cfd7d12562a0"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-813e-b650-e4f2d37dee6d","created_time":"2026-06-25T14:29:00.000Z","last_edited_time":"2026-06-25T14:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-812a-89d0-cfd7d12562a0"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":"_l%60n","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://www.notion.so/My-Place-38a9ce7b60a4813eb650e4f2d37dee6d","public_url":null,"archived":false,"request_id":"8f83f688-3859-4106-8c38-11a8826d23a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f83f688-3859-4106-8c38-11a8826d23a2
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-812a-89d0-cfd7d12562a0
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-812a-89d0-cfd7d12562a0","cover":null,"icon":null,"created_time":"2026-06-25T14:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:29:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"_l%60n","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4812a89d0cfd7d12562a0","public_url":null,"in_trash":false,"archived":false,"request_id":"ee6ca4e0-567b-496a-b338-b5f0f643718a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee6ca4e0-567b-496a-b338-b5f0f643718a
    status_code: 200
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-812a-89d0-cfd7d12562a0/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-8198-9ed7-c34e22b6ea5f","created_time":"2026-06-25T14:29:00.000Z","last_edited_time":"2026-06-25T14:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-812a-89d0-cfd7d12562a0"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":[...]
