interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Select Options Update
      Test"}}], "properties": {"Name": {"type": "title", "title": {}}, "Category":
      {"type": "select", "select": {"options": [{"name": "Cat1", "color": "default"},
      {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"216974f3-b388-8137-99db-dc26d2803809","cover":null,"icon":null,"created_time":"2025-06-18T16:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-18T16:28:00.000Z","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"QzIh","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"bbdbba91-9841-4faa-a323-ee05ba58dede","name":"Cat1","color":"default","description":null},{"id":"d40f9f67-c6b2-4276-a5d7-28e0d11d0411","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"d%5Ef%3F","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Category":{"id":"fhcQ","name":"Category","type":"select","select":{"options":[{"id":"dedfd9f5-6e84-4bf5-a24f-d7cc9125a8f8","name":"Cat1","color":"default","description":null},{"id":"8caee735-90f8-4709-930a-5799545c3d05","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/216974f3b388813799dbdc26d2803809","public_url":null,"archived":false,"in_trash":false,"request_id":"cda8396e-2cd0-4a0a-ab61-aa3bd909f3d2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cda8396e-2cd0-4a0a-ab61-aa3bd909f3d2
    status_code: 200
- request:
    body: '{"properties": {"Formula": {"type": "formula", "id": "d%5Ef%3F", "name":
      "Formula", "formula": {"expression": "prop(\"Category\")"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/216974f3-b388-8137-99db-dc26d2803809
  response:
    content: '{"object":"database","id":"216974f3-b388-8137-99db-dc26d2803809","cove[...]
[...]
