interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "text": {"content": "Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"37881033-8f7b-4981-be80-86aefaacfd64","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:18:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/378810338f7b4981be8086aefaacfd64","public_url":null,"archived":false,"in_trash":false,"request_id":"77b87259-c640-444b-bba2-8b827eea3577"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"38b-Ok9gwHR/CkNfjxuacZwUajMj24I"
      x-notion-request-id:
      - 77b87259-c640-444b-bba2-8b827eea3577
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "text": {"content": "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/37881033-8f7b-4981-be80-86aefaacfd64
  response:
    content: '{"object":"database","id":"37881033-8f7b-498[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "text": {"content": "Schema
      B"}}], "properties": {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created
      by": {"type": "created_by", "created_by": {}}, "Created time": {"type": "created_time",
      "created_time": {}}, "Date": {"type": "date", "date": {}}, "Email": {"type":
      "email", "email": {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type":
      "formula", "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited
      by": {"type": "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type":
      "last_edited_time", "last_edited_time": {}}, "Multi-select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}}, "Number": {"type": "number", "number": {"format":
      "dollar"}}, "People": {"type": "people", "people": {}}, "Phone number": {"type":
      "phone_number", "phone_number": {}}, "Relation": {"type": "relation", "relation":
      {"type": "single_property", "database_id": "37881033-8f7b-4981-be80-86aefaacfd64",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "37881033-8f7b-4981-be80-86aefaacfd64",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}, "Select":
      {"type": "select", "select": {"options": [{"name": "Option1", "color": "default"},
      {"name": "Option2", "color": "red"}]}}, "Text": {"type": "rich_text", "rich_text":
      {}}, "Title": {"type": "title", "title": {}}, "URL": {"type": "url", "url":
      {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"47345810-0ca8-46a8-a4a8-c8ca259c2a5d","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"[...]
[...]
- request:
    body: '{"properties": {"K%5ERH": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/37881033-8f7b-4981-be80-86aefaacfd64
  response:
    content: '{"object":"database","id":"37881033-8f7b-4981-be80-86aefaacfd64","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:18:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"K%5ERH","name":"Relation","type":"relation","relation":{"database_id":"47345810-0ca8-46a8-a4a8-c8ca259c2a5d","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"PO%3De"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/378810338f7b4981be8086aefaacfd64","public_url":null,"archived":false,"in_trash":false,"request_id":"f9612599-3c50-49e6-96f2-fa7672419bc8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"58f-FIEsDaiOnfbeuCxjV376WXDLJAY"
      x-notion-request-id:
      - f9612599-3c50-49e6-96f2-fa7672419bc8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"2f2ec618-3a6c-46e9-ad83-8b449426a20a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2d5-/y62vlDduOh9ZNFkmPruMo1WRxc"
      x-notion-request-id:
      - 2f2ec618-3a6c-46e9-ad83-8b449426a20a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"3295c405-06db-441e-a31f-b69c793349eb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-Cje5j4n7Lw8Pbf1LsnEkvGgZkNw"
      x-notion-request-id:
      - 3295c405-06db-441e-a31f-b69c793349eb
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "37881033-8f7b-4981-be80-86aefaacfd64"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Item 1", "text": {"content": "Item 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "47345810-0ca8-46a8-a4a8-c8ca259c2a5d"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2024-06-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://..."}}]}, "Multi-select": {"type":
      "multi_select", "multi_select": [{"name": "Option1", "color": "default"}]},
      "Number": {"type": "number", "number": 42.0}, "People": {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "31a03750-bc8e-4633-95d0-454033e1891e"}, {"id": "b2fe11d2-[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/31a03750-bc8e-4633-95d0-454033e1891e
  response:
    content: '{"object":"page","id":"31a03750-bc8e-4633-95d0-454033e1891e","created_time":"2024-06-01T22:18:00.000Z","last_edited_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"37881033-8f7b-4981-be80-86aefaacfd64"},"archived":false,"in_trash":false,"properties":{"Relation":{"id":"K%5ERH","type":"relation","relation":[{"id":"eb06b583-e0cb-4267-beee-186e2f7c29b2"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-31a03750bc8e463395d0454033e1891e","public_url":null,"request_id":"00001318-048c-4bc8-8620-80646d389a61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3cf-43nxI4xV3hTHu1tfZelad9UPAqI"
      x-notion-request-id:
      - 00001318-048c-4bc8-8620-80646d389a61
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/37881033-8f7b-4981-be80-86aefaacfd64
  response:
    content: '{"object":"block","id":"37881033-8f7b-4981-be80-86aefaacfd64","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:18:00.000Z","last_edited_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"7499f1db-dba0-41a1-a708-9f53ea058015"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-OGVNaO6LmjFKwYcinaC0+4Dwu7c"
      x-notion-request-id:
      - 7499f1db-dba0-41a1-a708-9f53ea058015
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/47345810-0ca8-46a8-a4a8-c8ca259c2a5d
  response:
    content: '{"object":"block","id":"47345810-0ca8-46a8-a4a8-c8ca259c2a5d","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-06-01T22:18:00.000Z","last_edited_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"59c80161-99a4-4ce6-a27a-b8a4180062e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"224-cet7zn4AiNZXtMpGFjFWw3lH3Pk"
      x-notion-request-id:
      - 59c80161-99a4-4ce6-a27a-b8a4180062e8
    status_code: 200
version: 1
