interactions:
- request:
    body: '{"query": "State Page for ID Prefix ALLCOLS", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://app.notion.com/p/Custom-Emoji-Page-00000000000040008000000000000008","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"9ec25496-bf47-4bf0-9231-80a90d693392"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ec25496-bf47-4bf0-9231-80a90d693392
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:43:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"1866062e-4e7e-40f9-aa6d-0ca8f397dd70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1866062e-4e7e-40f9-aa6d-0ca8f397dd70
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "State Page for ID Prefix ALLCOLS", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "State Page for ID Prefix ALLCOLS"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - ap[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81a2-b8fa-f8c63352d5b4/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"96f92bb9-db31-4b3c-adc4-2d31cb4a8104"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 96f92bb9-db31-4b3c-adc4-2d31cb4a8104
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"ALLCOLS503","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"ALLCOLS503"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81a2-b8fa-f8c63352d5b4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8198-ac10-c1e35dd5d063","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81a2-b8fa-f8c63352d5b4"},"created_time":"2026-06-24T18:44:00.000Z","last_edited_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"ALLCOLS503","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"ALLCOLS503","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4294a3c1-903e-45e1-bf81-b0a2b4283d1e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4294a3c1-903e-45e1-bf81-b0a2b4283d1e
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ddea7988-b7fb-4c86-b4a9-436c87796a5a","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:44:28.489+00:00","last_edited_time":"2026-06-24T18:44:28.489+00:00","data_sources":[{"id":"a820bb99-8e86-409f-aa0f-6a53bf09b63a","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/ddea7988b7fb4c86b4a9436c87796a5a","public_url":null,"archived":false,"request_id":"3cb3c05e-d041-4549-82c6-e533ffae29dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3cb3c05e-d041-4549-82c6-e533ffae29dd
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/ddea7988-b7[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a820bb99-8e86-409f-aa0f-6a53bf09b63a
  response:
    content: '{"object":"data_source","id":"a820bb99-8e86-409f-aa0f-6a53bf09b63a","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:44:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ddea7988-b7fb-4c86-b4a9-436c87796a5a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/ddea7988b7fb4c86b4a9436c87796a5a","public_url":null,"in_trash":false,"archived":false,"request_id":"cd90546d-de74-461b-aebf-568023603450"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cd90546d-de74-461b-aebf-568023603450
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Checkbox": {"type": "checkbox", "checkbox": {}}, "Created by":
      {"type": "created_by", "created_by": {}}, "Created time": {"type": "created_time",
      "created_time": {}}, "Date": {"type": "date", "date": {}}, "Email": {"type":
      "email", "email": {}}, "Files": {"type": "files", "files": {}}, "Formula": {"type":
      "formula", "formula": {"expression": "prop(\"Number\") * 2"}}, "Last edited
      by": {"type": "last_edited_by", "last_edited_by": {}}, "Last edited time": {"type":
      "last_edited_time", "last_edited_time": {}}, "Multi-select": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option1"}, {"name": "Option2", "color":
      "red"}]}}, "Number": {"type": "number", "number": {"format": "dollar"}}, "People":
      {"type": "people", "people": {}}, "Phone number": {"type": "phone_number", "phone_number":
      {}}, "Relation": {"type": "relation", "relation": {"type": "single_property",
      "data_source_id": "a820bb99-8e86-409f-aa0f-6a53bf09b63a", "single_property":
      {}}}, "Relation two-way": {"type": "relation", "relation": {"type": "dual_property",
      "data_source_id": "a820bb99-8e86-409f-aa0f-6a53bf09b63a", "dual_property": {}}},
      "Rollup": {"type": "rollup", "rollup": {"function": "count", "relation_property_name":
      "Relation", "rollup_property_name": "Name"}}, "Select": {"type": "select", "select":
      {"options": [{"name": "Option1"}, {"name": "Option2", "color": "red"}]}}, "Text":
      {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}, "ID": {"type": "unique_id", "unique_id":
      {"prefix": "ALLCOLS503"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1d0a9e5a-e316-4f2d-903a-4e1b5c8bbd04","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:44:31.767+00:00","last_edited_time":"2026-06-24T18:44:31.767+00:00","data_sources":[{"id":"a8c6508f-91b4-4252-9cfe-4415b58b6526","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/1d0a9e5ae3164f2d903a4e1b5c8bbd04","public_url":null,"archived":false,"request_id":"5a816d0b-546c-449c-9292-c794ee666d7c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a816d0b-546c-449c-9292-c794ee666d7c
    status_code: 200
[...]
- request:
    body: '{"properties":{"hSjI":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/a820bb99-8e86-409f-aa0f-6a53bf09b63a
  response:
    content: '{"object":"data_source","id":"a820bb99-8e86-409f-aa0f-6a53bf09b63a","cover":null,"icon":null,"created_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:44:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"hSjI","name":"Relation","description":null,"type":"relation","relation":{"database_id":"1d0a9e5a-e316-4f2d-903a-4e1b5c8bbd04","data_source_id":"a8c6508f-91b4-4252-9cfe-4415b58b6526","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"vLno"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ddea7988-b7fb-4c86-b4a9-436c87796a5a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/ddea7988b7fb4c86b4a9436c87796a5a","public_url":null,"in_trash":false,"archived":false,"request_id":"fc9279d4-422b-436d-a538-162456747e3a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc9279d4-422b-436d-a538-162456747e3a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"1a3c8a9e-9a52-4340-8597-91a24c5b649a\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1a3c8a9e-9a52-4340-8597-91a24c5b649a
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "a8c6508f-91b4-4252-9cfe-4415b58b6526"},
      "properties": {"Checkbox": {"type": "checkbox", "checkbox": true}, "Date": {"type":
      "date", "date": {"start": "2021-01-01"}}, "Email": {"type": "email", "email":
      "email@provider.com"}, "Files": {"type": "files", "files": [{"type": "external",
      "name": "My File", "external": {"url": "https://www.google.de/robots.txt"}}]},
      "Multi-select": {"type": "multi_select", "multi_select": [{"name": "Option1"}]},
      "Number": {"type": "number", "number": 42}, "People": {"people": [{"id": "00000000-0000-4000-8000-0000000000fa",
      "object": "user"}], "type": "people"}, "Phone number": {"type": "phone_number",
      "phone_number": "+1 234 567 890"}, "Relation": {"type": "relation", "relation":
      [{"id": "3899ce7b-60a4-81eb-b11f-efb756f055f3"}, {"id": "3899ce7b-6[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ddea7988-b7fb-4c86-b4a9-436c87796a5a
  response:
    content: '{"object":"block","id":"ddea7988-b7fb-4c86-b4a9-436c87796a5a","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:44:00.000Z","last_edited_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      A"},"archived":true,"request_id":"2af04d25-4314-4e4f-9187-e8ac8636dd4c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2af04d25-4314-4e4f-9187-e8ac8636dd4c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1d0a9e5a-e316-4f2d-903a-4e1b5c8bbd04
  response:
    content: '{"object":"block","id":"1d0a9e5a-e316-4f2d-903a-4e1b5c8bbd04","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:44:00.000Z","last_edited_time":"2026-06-24T18:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Schema
      B"},"archived":true,"request_id":"b91362de-393c-475b-8bb9-06ec2284830a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b91362de-393c-475b-8bb9-06ec2284830a
    status_code: 200
version: 1
