interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"46650654-c3fa-42c7-961c-a6685d3c27cf","cover":null,"icon":null,"created_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:16:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/46650654c3fa42c7961ca6685d3c27cf","public_url":null,"archived":false,"request_id":"7eb3085e-ec5b-4841-92f0-d325b5d14ca6"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/46650654-c3fa-42c7-961c-a6685d3c27cf
  response:
    content: '{"object":"database","id":"46650654-c3[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Checkbox": {"type": "checkbox", "checkbox":
      {}}, "Created by": {"type": "created_by", "created_by": {}}, "Created time":
      {"type": "created_time", "created_time": {}}, "Date": {"type": "date", "date":
      {}}, "Email": {"type": "email", "email": {}}, "Files": {"type": "files", "files":
      {}}, "Formula": {"formula": {"expression": "prop(\"Number\") * 2"}, "type":
      "formula"}, "Last edited by": {"type": "last_edited_by", "last_edited_by": {}},
      "Last edited time": {"type": "last_edited_time", "last_edited_time": {}}, "Multi-select":
      {"multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}, "type": "multi_select"}, "Number": {"number":
      {"format": "dollar"}, "type": "number"}, "People": {"type": "people", "people":
      {}}, "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation":
      {"relation": {"database_id": "46650654-c3fa-42c7-961c-a6685d3c27cf", "type":
      "single_property", "single_property": {}}, "type": "relation"}, "Relation two-way":
      {"relation": {"database_id": "46650654-c3fa-42c7-961c-a6685d3c27cf", "type":
      "dual_property", "dual_property": {}}, "type": "relation"}, "Rollup": {"rollup":
      {"function": "count", "relation_property_name": "Relation", "rollup_property_name":
      "Name"}, "type": "rollup"}, "Select": {"select": {"options": [{"name": "Option1",
      "color": "default"}, {"name": "Option2", "color": "red"}]}, "type": "select"},
      "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"723ac564-1550-4f54-995d-dbf8184e6280","cover":null,"icon":null,"created_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user",[...]
[...]
- request:
    body: '{"properties": {"aygS": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/46650654-c3fa-42c7-961c-a6685d3c27cf
  response:
    content: '{"object":"database","id":"46650654-c3fa-42c7-961c-a6685d3c27cf","cover":null,"icon":null,"created_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:16:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"aygS","name":"Relation","type":"relation","relation":{"database_id":"723ac564-1550-4f54-995d-dbf8184e6280","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"zpwd"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/46650654c3fa42c7961ca6685d3c27cf","public_url":null,"archived":false,"request_id":"02d2d5e0-3fa4-4bbf-bb94-aacd5c141a97"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"365c8826-ad8a-4093-91b6-86cdb58de99d"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"c02411f4-daf3-4198-bb53-86fe512ad8e2"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"database_id": "46650654-c3fa-42c7-961c-a6685d3c27cf", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "Item 1", "text":
      {"content": "Item 1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2bf9d664-c9f4-42a8-82e6-e8b4e0006b98","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"46650654-c3fa-42c7-961c-a6685d3c27cf"},"archived":false,"properties":{"Relation":{"id":"aygS","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-2bf9d664c9f442a882e6e8b4e0006b98","public_url":null,"request_id":"ce28aa89-7bc1-4bbe-aa94-d26f82f4ec0d"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "723ac564-1550-4f54-995d-dbf8184e6280", "type":
      "database_id"}, "properties": {"Checkbox": {"checkbox": true, "type": "checkbox"},
      "Date": {"date": {"start": "2023-12-24"}, "type": "date"}, "Email": {"email":
      "email@provider.com", "type": "email"}, "Files": {"files": [{"name": "My File",
      "external": {"url": "https://..."}, "type": "external"}], "type": "files"},
      "Multi-select": {"multi_select": [{"name": "Option1", "color": "default"}],
      "type": "multi_select"}, "Number": {"number": 42.0, "type": "number"}, "People":
      {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user"}]},
      "Phone number": {"phone_number": "+1 234 567 890", "type": "phone_number"},
      "Relation": {"relation": [{"id": "2bf9d664-c9f4-42a8-82e6-e8b4e0006b98"}, {"id":
      "18a0[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"39379ac8-03bb-40b7-9699-57bd92f67841"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/2bf9d664-c9f4-42a8-82e6-e8b4e0006b98
  response:
    content: '{"object":"page","id":"2bf9d664-c9f4-42a8-82e6-e8b4e0006b98","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"46650654-c3fa-42c7-961c-a6685d3c27cf"},"archived":false,"properties":{"Relation":{"id":"aygS","type":"relation","relation":[{"id":"d8b692c1-d0d5-4004-9233-1729b8ba1024"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-2bf9d664c9f442a882e6e8b4e0006b98","public_url":null,"request_id":"dd3b0e80-f74c-4149-a208-74a684c43360"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/46650654-c3fa-42c7-961c-a6685d3c27cf
  response:
    content: '{"object":"block","id":"46650654-c3fa-42c7-961c-a6685d3c27cf","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"bcd08b9a-494f-49de-9bb5-7a517dd34377"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/723ac564-1550-4f54-995d-dbf8184e6280
  response:
    content: '{"object":"block","id":"723ac564-1550-4f54-995d-dbf8184e6280","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"9c16129e-b51a-4d5b-8ba6-87a60f658a85"}'
    headers: {}
    status_code: 200
version: 1
