interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Location": {"type": "place", "place": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"99a351a2-0b01-40c8-afdf-594fef826477","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:15:58.873+00:00","last_edited_time":"2026-06-24T16:15:58.873+00:00","data_sources":[{"id":"9fc71b9c-36ef-4978-a3a7-e97f77bcb265","name":"Place
      Property Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/99a351a20b0140c8afdf594fef826477","public_url":null,"archived":false,"request_id":"a4b56325-126c-4832-b7e2-95d2fb87a9ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4b56325-126c-4832-b7e2-95d2fb87a9ed
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/9fc71b9c-36ef-4978-a3a7-e97f77bcb265
  response:
    content: '{"object":"data_source","id":"9fc71b9c-36ef-4978-a3a7-e97f77bcb265","cover":null,"icon":null,"created_time":"2026-06-24T16:15:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:15:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"o%5EMZ","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"99a351a2-0b01-40c8-afdf-594fef826477"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/99a351a20b0140c8afdf594fef826477","public_url":null,"in_trash":false,"archived":false,"request_id":"8c745b45-efbf-4ee8-9a24-1339bc5dca2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8c745b45-efbf-4ee8-9a24-1339bc5dca2c
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "9fc71b9c-36ef-4978-a3a7-e97f77bcb265"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-815c-b61b-c2e744e5a866","created_time":"2026-06-24T16:15:00.000Z","last_edited_time":"2026-06-24T16:15:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"9fc71b9c-36ef-4978-a3a7-e97f77bcb265","database_id":"99a351a2-0b01-40c8-afdf-594fef826477"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":"o%5EMZ","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://app.notion.com/p/My-Place-3899ce7b60a4815cb61bc2e744e5a866","public_url":null,"archived":false,"request_id":"fc204aa0-d787-421c-8a7f-75764323707b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc204aa0-d787-421c-8a7f-75764323707b
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/9fc71b9c-36ef-4978-a3a7-e97f77bcb265/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-8143-865b-f7685290fecb","created_time":"2026-06-24T16:16:00.000Z","last_edited_time":"2026-06-24T16:16:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"9fc71b9c-36ef-4978-a3a7-e97f77bcb265","database_id":"99a351a2-0b01-40c8-afdf-594fef826477"},"in_trash":false,"is_archiv[...]
