interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-813f-974a-f3fac637006e","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:28:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Formula":{"id":"BcLV","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:00000000-0000-4000-8000-0000000000f0}}"}},"Category":{"id":"XwZA","name":"Category","description":null,"type":"select","select":{"options":[{"id":"bae613ae-b406-4bc2-9921-9ae47b9ccf8a","name":"Cat1","color":"default","description":null},{"id":"92e44c90-10a4-4ff8-bba3-7705329fe599","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"sts_","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"1dac4aad-bb63-4e5d-9610-51bf5696a2f9","name":"Cat1","color":"default","description":null},{"id":"08c551ba-aa83-4089-988f-c0c7b84ff160","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4813f974af3fac637006e","public_url":null,"in_trash":false,"archived":false,"request_id":"61ddb8dd-ccd2-473f-abc8-1ba8e3892c6b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 61ddb8dd-ccd2-473f-abc8-1ba8e3892c6b
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-813f-974a-f3fac637006e
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-813f-974a-f3fac637006e","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-813f-974a-f3fac637006e
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-813f-974a-f3fac637006e","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","database_id":"38a9ce7b-60a4-814c-ab47-de698434b8e7","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-813f-974a-f3fac637006e
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-813f-974a-f3fac637006e","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-814c-ab47-de698434b8e7
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-814c-ab47-de698434b8e7","cover":null,"icon":null,"created_time":"2026-06-25T14:28:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:28:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","href":null}],"is_inline":false,"properties":{"Related
      to Add/Del/Update Prop-Test (Relation)":{"id":"cl%5Bs","name":"Related to Add/Del/Update
      Prop-Test (Relation)","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-813f-974a-f3fac637006e","data_source_id":"38a9ce7b-60a4-8174-8bb6-000b24d6928d","type":"dual_property","dual_property":{"synced_property_name":"Relation","synced_property_id":"aUg%7D"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4814cab47de698434b8e7","public_url":null,"in_trash":false,"archived":false,"request_id":"33f60430-e290-4886-8893-1cb3fe37acc2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 33f60430-e290-4886-8893-1cb3fe37acc2
    status_code: 200
[...]
