interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"42a86fe0-814d-47a1-b4e9-9e84e04bb902","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:45:39.437+00:00","last_edited_time":"2026-06-24T18:45:39.437+00:00","data_sources":[{"id":"cc872542-719a-4fbb-87f4-9366094f948e","name":"Bind
      DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/42a86fe0814d47a1b4e99e84e04bb902","public_url":null,"archived":false,"request_id":"563872db-e255-416a-bae4-77ffe42bb87b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 563872db-e255-416a-bae4-77ffe42bb87b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/cc872542-719a-4fbb-87f4-9366094f948e
  response:
    content: '{"object":"data_source","id":"cc872542-719a-4fbb-87f4-9366094f948e","cover":null,"icon":null,"created_time":"2026-06-24T18:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:45:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"_hXT","name":"Category","description":null,"type":"select","select":{"options":[{"id":"36ef5792-971f-4604-99bf-b6f0831b7818","name":"Cat1","color":"default","description":null},{"id":"c6b51aa1-46db-45a2-9cd2-31ce5048c8a9","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"g%7BdN","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"da1c3036-1361-46b0-9ba0-dc0fe7675f03","name":"Cat1","color":"default","description":null},{"id":"30a4dad8-a927-4a04-9832-44a8c64328d2","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"42a86fe0-814d-47a1-b4e9-9e84e04bb902"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/42a86fe0814d47a1b4e99e84e04bb902","public_url":null,"in_trash":false,"archived":false,"request_id":"91e93910-0db0-4b09-aced-cf9d8c11041e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 91e93910-0db0-4b09-aced-cf9d8c11041e
    status_code: 200
version: 1
