interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Bind DB Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"251974f3-b388-818e-8afe-f3a75497beb3","cover":null,"icon":null,"created_time":"2025-08-16T13:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-16T13:24:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"cWdR","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"33435b62-f961-4de5-b2f6-124aa95b6122","name":"Cat1","color":"default","description":null},{"id":"fbc05bdb-dc46-42e6-8fe7-c7ed9f705a96","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"s%3D~G","name":"Category","type":"select","select":{"options":[{"id":"85dd376c-e8e3-4ca9-8b79-bd4294ec4ee8","name":"Cat1","color":"default","description":null},{"id":"da3b2603-439a-4c94-8cc2-f92ef54d79d0","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/251974f3b388818e8afef3a75497beb3","public_url":null,"archived":false,"in_trash":false,"request_id":"706eb284-d157-4e63-b824-4def0e271b61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 706eb284-d157-4e63-b824-4def0e271b61
    status_code: 200
version: 1
