interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Location": {"type": "place", "place":
      {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2a8974f3-b388-8153-a72e-ca23e483184f","cover":null,"icon":null,"created_time":"2025-11-11T06:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-11-11T06:26:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"EY%60W","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2a8974f3b3888153a72eca23e483184f","public_url":null,"archived":false,"in_trash":false,"request_id":"8f864ee6-ffdf-4586-9b47-6d2f7f2b46ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f864ee6-ffdf-4586-9b47-6d2f7f2b46ee
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "2a8974f3-b388-8153-a72e-ca23e483184f"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2a8974f3-b388-816e-8e00-d9921745b444","created_time":"2025-11-11T06:26:00.000Z","last_edited_time":"2025-11-11T06:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"2a8974f3-b388-8153-a72e-ca23e483184f"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Location":{"id":"EY%60W","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://www.notion.so/My-Place-2a8974f3b388816e8e00d9921745b444","public_url":null,"request_id":"52e9a800-8b3c-45f2-9524-407508b42a39"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52e9a800-8b3c-45f2-9524-407508b42a39
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/2a8974f3-b388-8153-a72e-ca23e483184f
  response:
    content: '{"object":"database","id":"2a8974f3-b388-8153-a72e-ca23e483184f","cover":null,"icon":null,"created_time":"2025-11-11T06:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-11-11T06:26:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"EY%60W","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2a8974f3b3888153a72eca23e483184f","public_url":null,"archived":false,"in_trash":false,"request_id":"39e3e9e7-af81-459b-8209-fdf9ff21612e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39e3e9e7-af81-459b-8209-fdf9ff21612e
    status_code: 200
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/2a8974f3-b388-8153-a72e-ca23e483184f/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"2a8974f3-b388-816e-8e00-d9921745b444","created_time":"2025-11-11T06:26:00.000Z","last_edited_time":"2025-11-11T06:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"2a8974f3-b388-8153-a72e-ca23e483184f"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Location":{"id":"EY[...]
