interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81eb-9cb1-ed91507f8bf1","cover":null,"icon":null,"created_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:02:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881eb9cb1ed91507f8bf1","public_url":null,"archived":false,"in_trash":false,"request_id":"d72ae1f2-511d-47bc-b25c-96dd2d832fd6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d72ae1f2-511d-47bc-b25c-96dd2d832fd6
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema A description","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81eb-9cb1-ed91507f8bf1
  response:
    conten[...]
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","database_id":"263974f3-b388-81eb-9cb1-ed91507f8bf1","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81eb-9cb1-ed91507f8bf1
  response:
    content: '{"object":"database","id":"263974f3-b388-81eb-9cb1-ed91507f8bf1","cover":null,"icon":null,"created_time":"2025-09-03T14:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:02:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Schema A description","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A description","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%3Ar_%3C","name":"Relation","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-81eb-9cb1-ed91507f8bf1","data_source_id":"263974f3-b388-81a7-bc42-000b76d09be7","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881eb9cb1ed91507f8bf1","public_url":null,"archived":false,"in_trash":false,"request_id":"baeb2726-b783-4a1a-916b-71c1d31ed9ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - baeb2726-b783-4a1a-916b-71c1d31ed9ad
    status_code: 200
version: 1
