interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Bind DB Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8102-a000-e3f290ea0a39","cover":null,"icon":null,"created_time":"2025-08-22T07:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:19:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"ltEg","name":"Category","type":"select","select":{"options":[{"id":"11bf08a4-a040-47f9-967a-a6dc2e8bbbf8","name":"Cat1","color":"default","description":null},{"id":"717b2fdf-9877-4af4-bfcb-5bcc57fa441f","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"yBd%3E","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"419e72c3-3610-4269-b3b5-8a837812f115","name":"Cat1","color":"default","description":null},{"id":"b1433a6c-f7af-441f-983a-6477571a9f9d","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b3888102a000e3f290ea0a39","public_url":null,"archived":false,"in_trash":false,"request_id":"8e93b36c-44e9-409b-8ce0-2a25ef741b02"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e93b36c-44e9-409b-8ce0-2a25ef741b02
    status_code: 200
version: 1
