interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"dc41f029-63dc-434e-a08a-48f839ccc3f8","cover":null,"icon":null,"created_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T22:16:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/dc41f02963dc434ea08a48f839ccc3f8","public_url":null,"archived":false,"request_id":"23ada3dd-9d94-444f-87dc-d83d2aefdfb3"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Schema A description", "text": {"content":
      "Schema A description"}, "type": "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/dc41f029-63dc-434e-a08a-48f839ccc3f8
  response:
    content: '{"object":"database","id":"dc41f029-63dc-434e-a08a-48f839ccc3f8","cover":null,"icon":n[...]
- request:
    body: '{"properties": {"Relation": {"relation": {"database_id": "dc41f029-63dc-434e-a08a-48f839ccc3f8",
      "type": "single_property", "single_property": {}}, "type": "relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/dc41f029-63dc-434e-a08a-48f839ccc3f8
  response:
    content: '{"object":"database","id":"dc41f029-63dc-434e-a08a-48f839ccc3f8","cover":null,"icon":null,"created_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"[...]
