interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8154-8b7d-e67d7ad5ca03","cover":null,"icon":null,"created_time":"2025-10-30T15:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:50:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Formula":{"id":"%60Lda","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Category":{"id":"hgcS","name":"Category","description":null,"type":"select","select":{"options":[{"id":"dd2a6012-9192-4484-b9d5-3912bf0bcec3","name":"Cat1","color":"default","description":null},{"id":"9074dd4e-1fa4-42b7-87c2-affaa4873466","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"nkA~","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"7f4a0aa6-faf6-4907-b3d3-bc374c16a8df","name":"Cat1","color":"default","description":null},{"id":"688ba69f-2eb5-4984-9fd0-91c683625b20","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881548b7de67d7ad5ca03","public_url":null,"archived":false,"in_trash":false,"request_id":"712bc3c9-2141-4af0-8346-d032c427eed5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 712bc3c9-2141-4af0-8346-d032c427eed5
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8154-8b7d-e67d7ad5ca03
  response:
    content: '{"object":"database","id":"29c974f3-b388-8154-8b7d-e67d7ad5ca03","cover":null,"icon":null,"created_time":"2025-10-30T15:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8154-8b7d-e67d7ad5ca03
  response:
    content: '{"object":"database","id":"29c974f3-b388-8154-8b7d-e67d7ad5ca03","cover":null,"icon":null,"created_time":"2025-10-30T15:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","database_id":"29c974f3-b388-819d-8174-e26b0bbaf47e","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8154-8b7d-e67d7ad5ca03
  response:
    content: '{"object":"database","id":"29c974f3-b388-8154-8b7d-e67d7ad5ca03","cover":null,"icon":null,"created_time":"2025-10-30T15:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:50:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Date":{"id":"Aoc~","name":"Date","description":null,"type":"date","date":{}},"Relation":{"id":"V%3E%7C%7B","name":"Relation","description":null,"type":"relation","relation":{"database_id":"29c974f3-b388-819d-8174-e26b0bbaf47e","data_source_id":"29c974f3-b388-8114-9d20-000bbb05f884","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"%5EllI"}}},"Number":{"id":"%5D%5BwI","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Category":{"id":"hgcS","name":"Category","description":null,"type":"select","select":{"options":[{"id":"dd2a6012-9192-4484-b9d5-3912bf0bcec3","name":"Cat1","color":"default","description":null},{"id":"9074dd4e-1fa4-42b7-87c2-affaa4873466","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881548b7de67d7ad5ca03","public_url":null,"archived":false,"in_trash":false,"request_id":"a871c7db-3e1e-420a-a666-c666f4105da0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a871c7db-3e1e-420a-a666-c666f4105da0
    status_code: 200
[...]
