interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "text": {"content": "Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"87f118ff-6f00-4b05-8ba5-3fc92c53f3bd","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:18:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/87f118ff6f004b058ba53fc92c53f3bd","public_url":null,"archived":false,"in_trash":false,"request_id":"89353b50-220c-4fec-a90a-e121011a9b8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"38b-IsMtQDsYzxhRLU0Svmj+TVYNDrM"
      x-notion-request-id:
      - 89353b50-220c-4fec-a90a-e121011a9b8f
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema A description",
      "text": {"content": "Schema A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/87f118ff-6f00-4b05-8ba5-3fc92c53f3bd
  response:
    content: '{"object":"database","id":"87f118ff-6f00-4b05-8ba5-3fc92c53f3bd","cover":null,"icon":n[...]
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "87f118ff-6f00-4b05-8ba5-3fc92c53f3bd", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/87f118ff-6f00-4b05-8ba5-3fc92c53f3bd
  response:
    content: '{"object":"database","id":"87f118ff-6f00-4b05-8ba5-3fc92c53f3bd","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
