interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"78a0d1d4-974e-4260-968a-5b4a048631c7","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:04:06.817+00:00","last_edited_time":"2026-06-27T17:04:06.817+00:00","data_sources":[{"id":"fbe0af1b-47a0-4983-a6b8-60382d50b920","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://www.notion.so/78a0d1d4974e4260968a5b4a048631c7","public_url":null,"request_id":"e7a5ed79-52ca-47c6-8d95-502a90ce589f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e7a5ed79-52ca-47c6-8d95-502a90ce589f
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema A description","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/78a0d1d4-974e-4260-968a-5b4a048631c7
  response:
    conten[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/fbe0af1b-47a0-4983-a6b8-60382d50b920
  response:
    content: '{"object":"data_source","id":"fbe0af1b-47a0-4983-a6b8-60382d50b920","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Schema A description","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A description","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"78a0d1d4-974e-4260-968a-5b4a048631c7"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/78a0d1d4974e4260968a5b4a048631c7","public_url":null,"in_trash":false,"request_id":"4f9d3b74-7392-4369-881b-c4368e09d56f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f9d3b74-7392-4369-881b-c4368e09d56f
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"fbe0af1b-47a0-4983-a6b8-60382d50b920","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/fbe0af1b-47a0-4983-a6b8-60382d50b920
  response:
    content: '{"object":"data_source","id":"fbe0af1b-47a0-4983-a6b8-60382d50b920","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
