interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Selet Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Selet Options Update
      Test"}}], "properties": {"Name": {"type": "title", "title": {}}, "Category":
      {"type": "select", "select": {"options": [{"name": "Cat1", "color": "default"},
      {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Tag1", "color": "default"}, {"name": "Tag2", "color":
      "green"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"215974f3-b388-8141-89b3-dcc69eff83d3","cover":null,"icon":null,"created_time":"2025-06-17T09:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-17T09:27:00.000Z","title":[{"type":"text","text":{"content":"Selet
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Selet
      Options Update Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"hnsk","name":"Category","type":"select","select":{"options":[{"id":"59969772-d0ab-4de0-afe5-572c2d0646a3","name":"Cat1","color":"default","description":null},{"id":"4805ce37-d16f-4f33-bb7c-6b29fdc57249","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"wA%7D%5C","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"c398cda1-4bb1-4968-9a8a-fff5c08d0f1a","name":"Tag1","color":"default","description":null},{"id":"29bdef59-1dd8-490f-9910-bd8db2689db6","name":"Tag2","color":"green","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/215974f3b388814189b3dcc69eff83d3","public_url":null,"archived":false,"in_trash":false,"request_id":"02a54530-5180-4200-8b39-0fd1857984ab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 02a54530-5180-4200-8b39-0fd1857984ab
    status_code: 200
- request:
    body: '{"properties": {"Category": {"type": "select", "id": "hnsk", "name": "Category",
      "select": {"options": [{"name": "Cat1", "id": "59969772-d0ab-4de0-afe5-572c2d0646a3",
      "color": "default"}, {"name": "Cat2", "id": "4805ce37-d16f-4f33-bb7c-6b29fdc57249",
      "color": "red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.c[...]
