interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Select Options Update
      Test"}}], "properties": {"Name": {"type": "title", "title": {}}, "Category":
      {"type": "select", "select": {"options": [{"name": "Cat1", "color": "default"},
      {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"216974f3-b388-8169-89d2-f67222e8b87c","cover":null,"icon":null,"created_time":"2025-06-18T16:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-18T16:08:00.000Z","title":[{"type":"text","text":{"content":"Select
      Options Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Select
      Options Update Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3BtOV","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"02493312-f940-4c43-94e5-dcfd76d76c7f","name":"Cat1","color":"default","description":null},{"id":"52d98924-3c98-47fb-b636-fd2589a6656f","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"vF_f","name":"Category","type":"select","select":{"options":[{"id":"78afa63d-d71f-4024-9141-17818c63a9a4","name":"Cat1","color":"default","description":null},{"id":"e27cb9b9-4968-46ce-ba15-b6c4de5f6f8e","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/216974f3b388816989d2f67222e8b87c","public_url":null,"archived":false,"in_trash":false,"request_id":"32e2c536-d463-4e16-af2c-5b4f060bcebc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 32e2c536-d463-4e16-af2c-5b4f060bcebc
    status_code: 200
- request:
    body: '{"properties": {"Category": {"type": "select", "id": "vF_f", "name": "Category",
      "select": {"options": [{"name": "Cat1", "id": "78afa63d-d71f-4024-9141-17818c63a9a4",
      "color": "default"}, {"name": "Cat2", "id": "e27cb9b9-4968-46ce-ba15-b6c4de5f6f8e",
      "color": "red"}, {"name": "Cat3", "color": "red"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: P[...]
[...]
