interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Add/Del/Update Prop-Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"237974f3-b388-8135-b6dc-e5905e8d841c","cover":null,"icon":null,"created_time":"2025-07-21T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-07-21T15:47:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Formula":{"id":"T%7Bw%3F","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Tags":{"id":"iE%5CX","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"68b2ca34-b37a-4695-8bad-7a7a1ee2f8cc","name":"Cat1","color":"default","description":null},{"id":"929235a8-af4e-4289-ac57-e8bf35775f68","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"mrzD","name":"Category","type":"select","select":{"options":[{"id":"fd9911aa-a031-42ce-9150-6f0bc946130c","name":"Cat1","color":"default","description":null},{"id":"9470a3c0-ee03-4198-b0d1-768bf0d30b40","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/237974f3b3888135b6dce5905e8d841c","public_url":null,"archived":false,"in_trash":false,"request_id":"33b85dbe-b5c5-4e90-97e4-776328a0389b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 33b85dbe-b5c5-4e90-97e4-776328a0389b
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing adding,
      deleting and updating properties", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Schema for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-0[...]
[...]
- request:
    body: '{"properties": {"Number": {"type": "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/237974f3-b388-8135-b6dc-e5905e8d841c
  response:
    content: '{"object":"database","id":"237974f3-b388-8135-b6dc-e5905e8d841c","cover":null,"icon":null,"created_time":"2025-07-21T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited[...]
[...]
- request:
    body: '{"properties": {"Date": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/237974f3-b388-8135-b6dc-e5905e8d841c
  response:
    content: '{"object":"database","id":"237974f3-b388-8135-b6dc-e5905e8d841c","cover":null,"icon":null,"created_time":"2025-07-21T15:47:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"[...]
[...]
