interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"edfb4559-6566-444c-917f-bca39c6d699f","cover":null,"icon":null,"created_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:50:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/edfb45596566444c917fbca39c6d699f","public_url":null,"archived":false,"request_id":"1fa678a5-ebbb-47b3-b95c-9ea13e893acd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/edfb4559-6566-444c-917f-bca39c6d699f
  response:
    content: '{"object":"database","id":"edfb4559-65[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Relation two-way": {"relation": {"database_id":
      "edfb4559-6566-444c-917f-bca39c6d699f", "type": "dual_property", "dual_property":
      {}}, "type": "relation"}, "Title": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"28f6a6ce-9f94-4929-8743-70523cc9a363","cover":null,"icon":null,"created_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:50:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"%3Ckkl","name":"Relation two-way","type":"relation","relation":{"database_id":"edfb4559-6566-444c-917f-bca39c6d699f","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"p%3Df~"}}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/28f6a6ce9f944929874370523cc9a363","public_url":null,"archived":false,"request_id":"e076fb49-d8d3-493f-b196-66ef66fc6601"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"properties": {"p%3Df~": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/edfb4559-6566-444c-917f-bca39c6d699f
  response:
    content: '{"object":"database","id":"edfb4559-6566-444c-917f-bca39c6d699f","cover":null,"icon":null,"created_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:50:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"p%3Df~","name":"Relation","type":"relation","relation":{"database_id":"28f6a6ce-9f94-4929-8743-70523cc9a363","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"%3Ckkl"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/edfb45596566444c917fbca39c6d699f","public_url":null,"archived":false,"request_id":"846d7ffb-9a9f-4dea-b550-65dd993a6a08"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
