interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"137e39b0-a261-493b-8567-a47b447c689d","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:03:59.498+00:00","last_edited_time":"2026-06-27T17:03:59.498+00:00","data_sources":[{"id":"071b7860-69d9-4ae5-a34b-78533e48a659","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://www.notion.so/137e39b0a261493b8567a47b447c689d","public_url":null,"request_id":"89c41f6c-7731-4f06-b025-7d64ea3b146a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 89c41f6c-7731-4f06-b025-7d64ea3b146a
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/137e39b0-a2[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/071b7860-69d9-4ae5-a34b-78533e48a659
  response:
    content: '{"object":"data_source","id":"071b7860-69d9-4ae5-a34b-78533e48a659","cover":null,"icon":null,"created_time":"2026-06-27T17:03:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:03:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"137e39b0-a261-493b-8567-a47b447c689d"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/137e39b0a261493b8567a47b447c689d","public_url":null,"in_trash":false,"request_id":"8cd9277f-e4b5-4af3-a09b-54ecf60e7fbc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8cd9277f-e4b5-4af3-a09b-54ecf60e7fbc
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Relation two-way": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "071b7860-69d9-4ae5-a34b-78533e48a659", "dual_property":
      {}}}, "Title": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e60f06ad-c510-4f77-a9c2-36728f9b9875","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:04:01.761+00:00","last_edited_time":"2026-06-27T17:04:01.761+00:00","data_sources":[{"id":"63592fb6-9198-42ed-86ac-19a06783bd74","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://www.notion.so/e60f06adc5104f77a9c236728f9b9875","public_url":null,"request_id":"85d82dad-129e-4e92-b2b4-0061dbcaf3ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 85d82dad-129e-4e92-b2b4-0061dbcaf3ae
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/63592fb6-9198-42ed-86ac-19a06783bd74
  response:
    content: '{"object":"data_source","id":"63592fb6-9198-42ed-86ac-19a06783bd74","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation
      two-way":{"id":"oe%3AR","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"137e39b0-a261-493b-8567-a47b447c689d","data_source_id":"071b7860-69d9-4ae5-a34b-78533e48a659","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"%5B%3Dyq"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e60f06ad-c510-4f77-a9c2-36728f9b9875"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/e60f06adc5104f77a9c236728f9b9875","public_url":null,"in_trash":false,"request_id":"3ff96d6b-c0c7-42e1-b8eb-0938732533d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ff96d6b-c0c7-42e1-b8eb-0938732533d4
    status_code: 200
- request:
    body: '{"properties":{"%5B%3Dyq":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/071b7860-69d9-4ae5-a34b-78533e48a659
  response:
    content: '{"object":"data_source","id":"071b7860-69d9-4ae5-a34b-78533e48a659","cover":null,"icon":null,"created_time":"2026-06-27T17:03:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%5B%3Dyq","name":"Relation","description":null,"type":"relation","relation":{"database_id":"e60f06ad-c510-4f77-a9c2-36728f9b9875","data_source_id":"63592fb6-9198-42ed-86ac-19a06783bd74","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"oe%3AR"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"137e39b0-a261-493b-8567-a47b447c689d"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/137e39b0a261493b8567a47b447c689d","public_url":null,"in_trash":false,"request_id":"c8e72491-b7fe-4737-bc99-824ebb4b3051"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c8e72491-b7fe-4737-bc99-824ebb4b3051
    status_code: 200
[...]
