interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d19841a1-f824-4075-ae31-795c6a9ef2d4","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:20.331+00:00","last_edited_time":"2026-06-24T16:29:20.331+00:00","data_sources":[{"id":"22a6d157-4cbb-4fec-9cd4-2fbfeadf0f24","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/d19841a1f8244075ae31795c6a9ef2d4","public_url":null,"archived":false,"request_id":"e5234bea-bef1-4e31-9cd4-51cdf854f78a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e5234bea-bef1-4e31-9cd4-51cdf854f78a
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema A description","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d19841a1-f824-4075-ae31-795c6a9ef2d4
  response:
    conten[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/22a6d157-4cbb-4fec-9cd4-2fbfeadf0f24
  response:
    content: '{"object":"data_source","id":"22a6d157-4cbb-4fec-9cd4-2fbfeadf0f24","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Schema A description","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A description","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d19841a1-f824-4075-ae31-795c6a9ef2d4"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/d19841a1f8244075ae31795c6a9ef2d4","public_url":null,"in_trash":false,"archived":false,"request_id":"e9271bec-db85-41ee-8133-a8ccbf21d1a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9271bec-db85-41ee-8133-a8ccbf21d1a4
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"single_property","data_source_id":"22a6d157-4cbb-4fec-9cd4-2fbfeadf0f24","single_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/22a6d157-4cbb-4fec-9cd4-2fbfeadf0f24
  response:
    content: '{"object":"data_source","id":"22a6d157-4cbb-4fec-9cd4-2fbfeadf0f24","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_[...]
