interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Category": {"type": "select", "select": {"options":
      [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}},
      "Tags": {"type": "multi_select", "multi_select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8172-966a-e4c429702ad7","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:33:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"jm_R","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"c7414c16-be68-463f-9247-b9794c1a2a27","name":"Cat1","color":"default","description":null},{"id":"e24bea31-d51e-4266-80ec-829ab55e20dc","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"%7BTde","name":"Category","description":null,"type":"select","select":{"options":[{"id":"9a258f6e-0418-49ea-b3b4-d7cd067417a1","name":"Cat1","color":"default","description":null},{"id":"ea2dcb9d-404d-43c9-a124-3dda1c4a69f2","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888172966ae4c429702ad7","public_url":null,"archived":false,"in_trash":false,"request_id":"3bf5383f-a207-4423-9ffd-592d23dbaba2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3bf5383f-a207-4423-9ffd-592d23dbaba2
    status_code: 200
version: 1
