interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "text": {"content": "Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f6efd088-6e89-47cb-ad9f-9376bb1fb789","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:18:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f6efd0886e8947cbad9f9376bb1fb789","public_url":null,"archived":false,"in_trash":false,"request_id":"b8ac78b7-e811-4b95-9049-6276573fdd65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"38b-iENHMxRlMGK8jCXlzwupoofvcFA"
      x-notion-request-id:
      - b8ac78b7-e811-4b95-9049-6276573fdd65
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "text": {"content": "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f6efd088-6e89-47cb-ad9f-9376bb1fb789
  response:
    content: '{"object":"database","id":"f6efd088-6e89-47c[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "text": {"content": "Schema
      B"}}], "properties": {"Relation two-way": {"type": "relation", "relation": {"type":
      "dual_property", "database_id": "f6efd088-6e89-47cb-ad9f-9376bb1fb789", "dual_property":
      {}}}, "Title": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3a324258-b783-4591-b486-4c169f5d5871","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:18:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"CM%7Dl","name":"Relation two-way","type":"relation","relation":{"database_id":"f6efd088-6e89-47cb-ad9f-9376bb1fb789","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"oS_I"}}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/3a324258b7834591b4864c169f5d5871","public_url":null,"archived":false,"in_trash":false,"request_id":"353c1468-77a3-4c3e-be06-7663cfb2d8db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"4a3-JN6YvjXFXAeKzai7oHVCrWDdK1I"
      x-notion-request-id:
      - 353c1468-77a3-4c3e-be06-7663cfb2d8db
    status_code: 200
[...]
- request:
    body: '{"properties": {"oS_I": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f6efd088-6e89-47cb-ad9f-9376bb1fb789
  response:
    content: '{"object":"database","id":"f6efd088-6e89-47cb-ad9f-9376bb1fb789","cover":null,"icon":null,"created_time":"2024-06-01T22:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:18:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"oS_I","name":"Relation","type":"relation","relation":{"database_id":"3a324258-b783-4591-b486-4c169f5d5871","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"CM%7Dl"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f6efd0886e8947cbad9f9376bb1fb789","public_url":null,"archived":false,"in_trash":false,"request_id":"1fe338bb-fa8e-4c79-897d-b03ce25c777d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"58d-8NW1rGFLi1deJfzgX0diBn31ozY"
      x-notion-request-id:
      - 1fe338bb-fa8e-4c79-897d-b03ce25c777d
    status_code: 200
[...]
