interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "properties": {"Name": {"type":
      "title", "title": {}}, "Category": {"type": "select", "select": {"options":
      [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}},
      "Tags": {"type": "multi_select", "multi_select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81d6-a793-fd9d684123cc","cover":null,"icon":null,"created_time":"2025-09-03T14:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T14:04:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"T%5BHw","name":"Category","description":null,"type":"select","select":{"options":[{"id":"b2f82c05-edb6-44ef-a28c-1af23b4b9409","name":"Cat1","color":"default","description":null},{"id":"4d5509d1-ffc2-4440-a056-df4efce419d2","name":"Cat2","color":"red","description":null}]}},"Tags":{"id":"iLXa","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"20abb18f-a889-44bb-bf44-7837d7efcf61","name":"Cat1","color":"default","description":null},{"id":"2b537a3b-49bf-42af-8cd8-41b666ed108b","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881d6a793fd9d684123cc","public_url":null,"archived":false,"in_trash":false,"request_id":"14ac14a4-9b7c-4646-b960-d2959885c933"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 14ac14a4-9b7c-4646-b960-d2959885c933
    status_code: 200
version: 1
