interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d32fe8a5-6b38-4baf-826c-fc95c408aedd","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:14.629+00:00","last_edited_time":"2026-06-24T16:29:14.629+00:00","data_sources":[{"id":"a80925e3-bcd5-4c16-98e2-02e6cb1fe302","name":"Schema
      A"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/d32fe8a56b384baf826cfc95c408aedd","public_url":null,"archived":false,"request_id":"a306e36a-ff48-4d36-b1eb-7b0918f7c02b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a306e36a-ff48-4d36-b1eb-7b0918f7c02b
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d32fe8a5-6b[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a80925e3-bcd5-4c16-98e2-02e6cb1fe302
  response:
    content: '{"object":"data_source","id":"a80925e3-bcd5-4c16-98e2-02e6cb1fe302","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d32fe8a5-6b38-4baf-826c-fc95c408aedd"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/d32fe8a56b384baf826cfc95c408aedd","public_url":null,"in_trash":false,"archived":false,"request_id":"e5eac82a-1e05-4efe-93a7-700e820ea5ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e5eac82a-1e05-4efe-93a7-700e820ea5ec
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Relation two-way": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "a80925e3-bcd5-4c16-98e2-02e6cb1fe302", "dual_property":
      {}}}, "Title": {"type": "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"241a33d7-4e90-42a5-8224-2791c40324e7","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:29:16.624+00:00","last_edited_time":"2026-06-24T16:29:16.624+00:00","data_sources":[{"id":"6f54cfeb-3ffc-4ac2-9929-cd3bf859a2c7","name":"Schema
      B"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/241a33d74e9042a582242791c40324e7","public_url":null,"archived":false,"request_id":"394db4ec-f16b-45d6-9601-cd3718ea25fc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 394db4ec-f16b-45d6-9601-cd3718ea25fc
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/6f54cfeb-3ffc-4ac2-9929-cd3bf859a2c7
  response:
    content: '{"object":"data_source","id":"6f54cfeb-3ffc-4ac2-9929-cd3bf859a2c7","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation
      two-way":{"id":"Vhyf","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"d32fe8a5-6b38-4baf-826c-fc95c408aedd","data_source_id":"a80925e3-bcd5-4c16-98e2-02e6cb1fe302","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"LGbc"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"241a33d7-4e90-42a5-8224-2791c40324e7"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/241a33d74e9042a582242791c40324e7","public_url":null,"in_trash":false,"archived":false,"request_id":"7affe4eb-31a3-404d-a03c-eb7510ae1a64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7affe4eb-31a3-404d-a03c-eb7510ae1a64
    status_code: 200
- request:
    body: '{"properties":{"LGbc":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/a80925e3-bcd5-4c16-98e2-02e6cb1fe302
  response:
    content: '{"object":"data_source","id":"a80925e3-bcd5-4c16-98e2-02e6cb1fe302","cover":null,"icon":null,"created_time":"2026-06-24T16:29:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:29:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"LGbc","name":"Relation","description":null,"type":"relation","relation":{"database_id":"241a33d7-4e90-42a5-8224-2791c40324e7","data_source_id":"6f54cfeb-3ffc-4ac2-9929-cd3bf859a2c7","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"Vhyf"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d32fe8a5-6b38-4baf-826c-fc95c408aedd"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/d32fe8a56b384baf826cfc95c408aedd","public_url":null,"in_trash":false,"archived":false,"request_id":"f492e754-fd9a-422d-bc4b-0b775f6fd1c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f492e754-fd9a-422d-bc4b-0b775f6fd1c4
    status_code: 200
[...]
