interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Category": {"type": "select", "select": {"options": [{"name": "Cat1",
      "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Formula": {"type": "formula", "formula": {"expression":
      "prop(\"Name\")"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3c2bd208-2c64-4098-835d-e0be9fd0a8ec","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:04:09.626+00:00","last_edited_time":"2026-06-27T17:04:09.626+00:00","data_sources":[{"id":"4d21dd2c-6661-410b-8acb-527ef89f7f32","name":"Add/Del/Update
      Prop-Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/3c2bd2082c644098835de0be9fd0a8ec","public_url":null,"request_id":"94468587-783b-4ee6-ba6d-db4a1c465712"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 94468587-783b-4ee6-ba6d-db4a1c465712
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/4d21dd2c-6661-410b-8acb-527ef89f7f32
  response:
    content: '{"object":"data_source","id":"4d21dd2c-6661-410b-8acb-527ef89f7f32","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/4d21dd2c-6661-410b-8acb-527ef89f7f32
  response:
    content: '{"object":"data_source","id":"4d21dd2c-6661-410b-8acb-527ef89f7f32","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_e[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/4d21dd2c-6661-410b-8acb-527ef89f7f32
  response:
    content: '{"object":"data_source","id":"4d21dd2c-6661-410b-8acb-527ef89f7f32","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_b[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/444dbce3-49fc-4161-82d8-8d2f26552541
  response:
    content: '{"object":"data_source","id":"444dbce3-49fc-4161-82d8-8d2f26552541","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Target
      schema as self-reference relations lead to a Notion Internal Server Error 500","href":null}],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"21fd36a4-a265-4899-8666-7c326750f44f"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/21fd36a4a265489986667c326750f44f","public_url":null,"in_trash":false,"request_id":"d331c2e6-e7f0-4501-aaae-e789708544c3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d331c2e6-e7f0-4501-aaae-e789708544c3
    status_code: 200
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","data_source_id":"444dbce3-49fc-4161-82d8-8d2f26552541","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/4d21dd2c-6661-410b-8acb-527ef89f7f32
  response:
    content: '{"object":"data_source","id":"4d21dd2c-6661-410b-8acb-527ef89f7f32","cover":null,"icon":null,"created_time":"2026-06-27T17:04:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:04:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%3DXVf","name":"Relation","description":null,"type":"relation","relation":{"database_id":"21fd36a4-a265-4899-8666-7c326750f44f","data_source_id":"444dbce3-49fc-4161-82d8-8d2f26552541","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"LJTT"}}},"Category":{"id":"%5ChEf","name":"Category","description":null,"type":"select","select":{"options":[{"id":"b95c452e-13a1-402c-98c4-61bcc5c35596","name":"Cat1","color":"default","description":null},{"id":"0a67e75c-0498-47c9-ad94-f23697666e2b","name":"Cat2","color":"red","description":null}]}},"Number":{"id":"iVEr","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Date":{"id":"tdkY","name":"Date","description":null,"type":"date","date":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"3c2bd208-2c64-4098-835d-e0be9fd0a8ec"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/3c2bd2082c644098835de0be9fd0a8ec","public_url":null,"in_trash":false,"request_id":"9fbf06f8-95f7-4c11-8f21-9d9e041018c3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9fbf06f8-95f7-4c11-8f21-9d9e041018c3
    status_code: 200
[...]
