interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema A"}}], "properties":
      {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81d8-bf0f-d94d89a6d248","cover":null,"icon":null,"created_time":"2025-08-29T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T14:14:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881d8bf0fd94d89a6d248","public_url":null,"archived":false,"in_trash":false,"request_id":"0b06f225-6ef4-448d-a715-bfbd38768dac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b06f225-6ef4-448d-a715-bfbd38768dac
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b3[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Update Prop-Test: Schema C"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Relation": {"type": "relation", "relation":
      {"type": "single_property", "database_id": "25e974f3-b388-81d8-bf0f-d94d89a6d248",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "25e974f3-b388-81d8-bf0f-d94d89a6d248",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81af-98ae-f93a4babc488","cover":null,"icon":null,"created_time":"2025-08-29T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T14:15:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"is_inline":false,"properties":{"Rollup":{"id":"OEJa","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"r@>e","function":"count"}},"Relation
      two-way":{"id":"PL%7B%3E","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-81d8-bf0f-d94d89a6d248","data_source_id":"25e974f3-b388-8113-8936-000bd03a41c9","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Update Prop-Test: Schema C (Relation two-way)","synced_property_id":"m%3APW"}}},"Relation":{"id":"r%40%3Ee","name":"Relation","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-81d8-bf0f-d94d89a6d248","data_source_id":"25e974f3-b388-8113-8936-000bd03a41c9","type":"single_property","single_property":{}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881af98aef93a4babc488","public_url":null,"archived":false,"in_trash":false,"request_id":"bfd220e7-3dcf-4581-836a-96e18fc7c9e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bfd220e7-3dcf-4581-836a-96e18fc7c9e8
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Select Options Update Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}, "Number":
      {"type": "number", "number": {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81a1-8141-fd22756b2ba2","cover":null,"icon":null,"created_time":"2025-08-29T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"us[...]
[...]
