interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8307a581-bed5-43c6-9bbf-84652703ac39","cover":null,"icon":null,"created_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:45:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8307a581bed543c69bbf84652703ac39","public_url":null,"archived":false,"request_id":"413fe6b3-5e28-4cad-9794-db7f2475fd71"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/8307a581-bed5-43c6-9bbf-84652703ac39
  response:
    content: '{"object":"database","id":"8307a581-be[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Relation two-way": {"relation": {"database_id":
      "8307a581-bed5-43c6-9bbf-84652703ac39", "type": "dual_property", "dual_property":
      {}}, "type": "relation"}, "Title": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ffa9e919-8f80-4b1c-9b7a-a7a69ae2fedc","cover":null,"icon":null,"created_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:45:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"%3DaPb","name":"Relation two-way","type":"relation","relation":{"database_id":"8307a581-bed5-43c6-9bbf-84652703ac39","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"xp%5DP"}}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ffa9e9198f804b1c9b7aa7a69ae2fedc","public_url":null,"archived":false,"request_id":"d282427c-cd21-4b7f-85c8-bcbd578608c4"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"properties": {"xp%5DP": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/8307a581-bed5-43c6-9bbf-84652703ac39
  response:
    content: '{"object":"database","id":"8307a581-bed5-43c6-9bbf-84652703ac39","cover":null,"icon":null,"created_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:45:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"xp%5DP","name":"Relation","type":"relation","relation":{"database_id":"ffa9e919-8f80-4b1c-9b7a-a7a69ae2fedc","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"%3DaPb"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/8307a581bed543c69bbf84652703ac39","public_url":null,"archived":false,"request_id":"9784050a-8a02-49a4-846d-ec934a0620af"}'
    headers: {}
    status_code: 200
[...]
