interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Location": {"type": "place", "place":
      {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2a7974f3-b388-817f-a6e7-d1e9062ecfcc","cover":null,"icon":null,"created_time":"2025-11-10T21:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-11-10T21:44:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"DN%3Ex","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/2a7974f3b388817fa6e7d1e9062ecfcc","public_url":null,"archived":false,"in_trash":false,"request_id":"53f8b7fe-9f8f-4b16-b48d-51690b6fd48a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 53f8b7fe-9f8f-4b16-b48d-51690b6fd48a
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "2a7974f3-b388-817f-a6e7-d1e9062ecfcc"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2a7974f3-b388-81d6-a0f9-de685832a7b0","created_time":"2025-11-10T21:44:00.000Z","last_edited_time":"2025-11-10T21:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"2a7974f3-b388-817f-a6e7-d1e9062ecfcc"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Location":{"id":"DN%3Ex","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://www.notion.so/My-Place-2a7974f3b38881d6a0f9de685832a7b0","public_url":null,"request_id":"984d2801-b074-4d7f-af61-f842b2b5f0d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 984d2801-b074-4d7f-af61-f842b2b5f0d7
    status_code: 200
version: 1
