interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Add/Del/Update Prop-Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21a974f3-b388-818d-a36e-d19e78d721d2","cover":null,"icon":null,"created_time":"2025-06-22T17:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-22T17:13:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"ETs~","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"0bf04d1b-5618-4622-a1e6-3fee06daa5f7","name":"Cat1","color":"default","description":null},{"id":"a8f88617-dcc8-4179-9900-18a7b8cf97fa","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"T%3E%60s","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Category":{"id":"u%5BDJ","name":"Category","type":"select","select":{"options":[{"id":"dc3a6650-ba65-469d-9871-6a454e78fc2b","name":"Cat1","color":"default","description":null},{"id":"c6714ada-a356-49ef-a08c-b02d273a887c","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21a974f3b388818da36ed19e78d721d2","public_url":null,"archived":false,"in_trash":false,"request_id":"052be90a-9bef-4b8f-8bcd-f16771ad5db3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 052be90a-9bef-4b8f-8bcd-f16771ad5db3
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing adding,
      deleting and updating properties", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Schema for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-0[...]
[...]
- request:
    body: '{"properties": {"Number": {"type": "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21a974f3-b388-818d-a36e-d19e78d721d2
  response:
    content: '{"object":"database","id":"21a974f3-b388-818d-a36e-d19e78d721d2","cover":null,"icon":null,"created_time":"2025-06-22T17:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited[...]
[...]
- request:
    body: '{"properties": {"Date": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21a974f3-b388-818d-a36e-d19e78d721d2
  response:
    content: '{"object":"database","id":"21a974f3-b388-818d-a36e-d19e78d721d2","cover":null,"icon":null,"created_time":"2025-06-22T17:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"[...]
[...]
- request:
    body: '{"properties": {"NewNumber": {"type": "number", "number": {"format": "percent"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21a974f3-b388-818d-a36e-d19e78d721d2
  response:
    content: '{"object":"database","id":"21a974f3-b388-818d-a36e-d19e78d721d2","cover":null,"icon":null,"created_time":"2025-06-22T17:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3[...]
[...]
