interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema A"}}], "properties": {"Name": {"type": "title",
      "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8167-acd1-dd69c7c532d1","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:33:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888167acd1dd69c7c532d1","public_url":null,"archived":false,"in_trash":false,"request_id":"e4b4a88b-233a-4df1-af2f-a3afcc08486a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e4b4a88b-233a-4df1-af2f-a3afcc08486a
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Only
      used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b3[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Schema B"}}], "properties": {"Relation two-way":
      {"type": "relation", "relation": {"type": "dual_property", "database_id": "25e974f3-b388-8167-acd1-dd69c7c532d1",
      "dual_property": {}}}, "Title": {"type": "title", "title": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-816c-beb0-e8da27f12c42","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:33:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"i%40w%5B","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-8167-acd1-dd69c7c532d1","data_source_id":"25e974f3-b388-8115-a778-000ba05c6809","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"AYRC"}}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b388816cbeb0e8da27f12c42","public_url":null,"archived":false,"in_trash":false,"request_id":"60427dc2-f2ff-4297-9374-fbc910d3a680"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 60427dc2-f2ff-4297-9374-fbc910d3a680
    status_code: 200
[...]
- request:
    body: '{"properties":{"AYRC":{"name":"Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8167-acd1-dd69c7c532d1
  response:
    content: '{"object":"database","id":"25e974f3-b388-8167-acd1-dd69c7c532d1","cover":null,"icon":null,"created_time":"2025-08-29T13:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:33:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"AYRC","name":"Relation","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-816c-beb0-e8da27f12c42","data_source_id":"25e974f3-b388-81b6-a84a-000b52ce6fe5","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"i%40w%5B"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888167acd1dd69c7c532d1","public_url":null,"archived":false,"in_trash":false,"request_id":"00b0333d-e40e-4eea-b5e6-303523a83f83"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 00b0333d-e40e-4eea-b5e6-303523a83f83
    status_code: 200
[...]
