interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d915abe1-1379-4435-ac7e-cfb2222cbca7","cover":null,"icon":null,"created_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:11:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/d915abe113794435ac7ecfb2222cbca7","public_url":null,"archived":false,"request_id":"989f2553-d089-4b1c-9732-b605f5ef0142"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d915abe1-1379-4435-ac7e-cfb2222cbca7
  response:
    content: '{"object":"database","id":"d915abe1-13[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Relation two-way": {"relation": {"database_id":
      "d915abe1-1379-4435-ac7e-cfb2222cbca7", "type": "dual_property", "dual_property":
      {}}, "type": "relation"}, "Title": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"318ca730-9425-48ea-8771-ad372f9065a6","cover":null,"icon":null,"created_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:11:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"SsRk","name":"Relation two-way","type":"relation","relation":{"database_id":"d915abe1-1379-4435-ac7e-cfb2222cbca7","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"aR%3FC"}}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/318ca730942548ea8771ad372f9065a6","public_url":null,"archived":false,"request_id":"0d3e5f4a-69f1-43d7-bf27-f28857b323a3"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"properties": {"aR%3FC": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d915abe1-1379-4435-ac7e-cfb2222cbca7
  response:
    content: '{"object":"database","id":"d915abe1-1379-4435-ac7e-cfb2222cbca7","cover":null,"icon":null,"created_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-24T13:11:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"aR%3FC","name":"Relation","type":"relation","relation":{"database_id":"318ca730-9425-48ea-8771-ad372f9065a6","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"SsRk"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/d915abe113794435ac7ecfb2222cbca7","public_url":null,"archived":false,"request_id":"1dec9fb8-0d96-4dfa-a2f9-6275e24334be"}'
    headers: {}
    status_code: 200
[...]
