interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Place Property Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Place Property Test"}}], "is_inline": false,
      "initial_data_source": {"properties": {"Name": {"type": "title", "title": {}},
      "Location": {"type": "place", "place": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"76d15cd7-7b48-4169-b4c7-022697057e52","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:30:55.608+00:00","last_edited_time":"2026-06-24T16:30:55.608+00:00","data_sources":[{"id":"75a861ad-0318-414b-b7cc-3904749fa9ee","name":"Place
      Property Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/76d15cd77b484169b4c7022697057e52","public_url":null,"archived":false,"request_id":"f54ef0ca-919a-408b-8746-1bdb0e5e104b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f54ef0ca-919a-408b-8746-1bdb0e5e104b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/75a861ad-0318-414b-b7cc-3904749fa9ee
  response:
    content: '{"object":"data_source","id":"75a861ad-0318-414b-b7cc-3904749fa9ee","cover":null,"icon":null,"created_time":"2026-06-24T16:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:30:00.000Z","title":[{"type":"text","text":{"content":"Place
      Property Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Place
      Property Test","href":null}],"description":[],"is_inline":false,"properties":{"Location":{"id":"ITv%3D","name":"Location","description":null,"type":"place","place":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"76d15cd7-7b48-4169-b4c7-022697057e52"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/76d15cd77b484169b4c7022697057e52","public_url":null,"in_trash":false,"archived":false,"request_id":"06feed54-fbdc-4218-8405-12ec799c8367"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 06feed54-fbdc-4218-8405-12ec799c8367
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "75a861ad-0318-414b-b7cc-3904749fa9ee"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "My Place", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My Place"}}]},
      "Location": {"type": "place", "place": {"lat": 52.52, "lon": 13.405, "address":
      "Berlin, Germany", "aws_place_id": "ChIJAVkDPzdOqEcRcDteW0YgIQQ", "google_place_id":
      "ChIJAVkDPzdOqEcRcDteW0"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-819f-8cf8-dcf6351aee3b","created_time":"2026-06-24T16:30:00.000Z","last_edited_time":"2026-06-24T16:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"75a861ad-0318-414b-b7cc-3904749fa9ee","database_id":"76d15cd7-7b48-4169-b4c7-022697057e52"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Location":{"id":"ITv%3D","type":"place","place":{"lat":52.52,"lon":13.405,"name":null,"address":"Berlin,
      Germany","aws_place_id":"ChIJAVkDPzdOqEcRcDteW0YgIQQ","google_place_id":"ChIJAVkDPzdOqEcRcDteW0"}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      Place","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      Place","href":null}]}},"url":"https://app.notion.com/p/My-Place-3899ce7b60a4819f8cf8dcf6351aee3b","public_url":null,"archived":false,"request_id":"a81395c2-cbaa-480a-bac6-193e7b55b03c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a81395c2-cbaa-480a-bac6-193e7b55b03c
    status_code: 200
[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/75a861ad-0318-414b-b7cc-3904749fa9ee/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81c0-b353-fabf82291e4e","created_time":"2026-06-24T16:30:00.000Z","last_edited_time":"2026-06-24T16:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"75a861ad-0318-414b-b7cc-3904749fa9ee","database_id":"76d15cd7-7b48-4169-b4c7-022697057e52"},"in_trash":false,"is_archiv[...]
