interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3c288b98-ac9c-4aad-8619-3cea8bc60e1f","cover":null,"icon":null,"created_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:45:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/3c288b98ac9c4aad86193cea8bc60e1f","public_url":null,"archived":false,"request_id":"3bf2799f-4859-4f8e-8080-4a3d1b3945db"}'
    headers: {}
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/3c288b98-ac9c-4aad-8619-3cea8bc60e1f
  response:
    content: '{"object":"database","id":"3c288b98-ac[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Checkbox": {"type": "checkbox", "checkbox":
      {}}, "Created by": {"type": "created_by", "created_by": {}}, "Created time":
      {"type": "created_time", "created_time": {}}, "Date": {"type": "date", "date":
      {}}, "Email": {"type": "email", "email": {}}, "Files": {"type": "files", "files":
      {}}, "Formula": {"formula": {"expression": "prop(\"Number\") * 2"}, "type":
      "formula"}, "Last edited by": {"type": "last_edited_by", "last_edited_by": {}},
      "Last edited time": {"type": "last_edited_time", "last_edited_time": {}}, "Multi-select":
      {"multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}, "type": "multi_select"}, "Number": {"number":
      {"format": "dollar"}, "type": "number"}, "People": {"type": "people", "people":
      {}}, "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation":
      {"relation": {"database_id": "3c288b98-ac9c-4aad-8619-3cea8bc60e1f", "type":
      "single_property", "single_property": {}}, "type": "relation"}, "Relation two-way":
      {"relation": {"database_id": "3c288b98-ac9c-4aad-8619-3cea8bc60e1f", "type":
      "dual_property", "dual_property": {}}, "type": "relation"}, "Rollup": {"rollup":
      {"function": "count", "relation_property_name": "Relation", "rollup_property_name":
      "Name"}, "type": "rollup"}, "Select": {"select": {"options": [{"name": "Option1",
      "color": "default"}, {"name": "Option2", "color": "red"}]}, "type": "select"},
      "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"716e3b61-1e44-4400-b505-a6ed3b87b0d8","cover":null,"icon":null,"created_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user",[...]
[...]
- request:
    body: '{"properties": {"%5DdYz": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/3c288b98-ac9c-4aad-8619-3cea8bc60e1f
  response:
    content: '{"object":"database","id":"3c288b98-ac9c-4aad-8619-3cea8bc60e1f","cover":null,"icon":null,"created_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2023-12-25T11:45:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%5DdYz","name":"Relation","type":"relation","relation":{"database_id":"716e3b61-1e44-4400-b505-a6ed3b87b0d8","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"%5Bf%3As"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/3c288b98ac9c4aad86193cea8bc60e1f","public_url":null,"archived":false,"request_id":"7b6a1db3-99b0-4b3f-b076-d8365024c304"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"64f68f25-5231-4d0c-8280-e57f9859f05b"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"c1bac266-51a9-41b2-b691-c9e35c140b31"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"database_id": "3c288b98-ac9c-4aad-8619-3cea8bc60e1f", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "Item 1", "text":
      {"content": "Item 1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f6077891-3988-4f51-93a6-56ba067beb7b","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3c288b98-ac9c-4aad-8619-3cea8bc60e1f"},"archived":false,"properties":{"Relation":{"id":"%5DdYz","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-f607789139884f5193a656ba067beb7b","public_url":null,"request_id":"f17c23a7-8e29-4da3-83dc-9b5654529ec5"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "716e3b61-1e44-4400-b505-a6ed3b87b0d8", "type":
      "database_id"}, "properties": {"Checkbox": {"checkbox": true, "type": "checkbox"},
      "Date": {"date": {"start": "2023-12-25"}, "type": "date"}, "Email": {"email":
      "email@provider.com", "type": "email"}, "Files": {"files": [{"name": "My File",
      "external": {"url": "https://..."}, "type": "external"}], "type": "files"},
      "Multi-select": {"multi_select": [{"name": "Option1", "color": "default"}],
      "type": "multi_select"}, "Number": {"number": 42.0, "type": "number"}, "People":
      {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user"}]},
      "Phone number": {"phone_number": "+1 234 567 890", "type": "phone_number"},
      "Relation": {"relation": [{"id": "f6077891-3988-4f51-93a6-56ba067beb7b"}, {"id":
      "bcdb[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"df6f3c5a-4158-463d-b7cb-51fb84b4018f"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f6077891-3988-4f51-93a6-56ba067beb7b
  response:
    content: '{"object":"page","id":"f6077891-3988-4f51-93a6-56ba067beb7b","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"3c288b98-ac9c-4aad-8619-3cea8bc60e1f"},"archived":false,"properties":{"Relation":{"id":"%5DdYz","type":"relation","relation":[{"id":"bece9f9a-a1bb-44dc-93d5-f21e8f7437ea"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-f607789139884f5193a656ba067beb7b","public_url":null,"request_id":"6d6a255c-2fa0-4ec2-b532-d885653a3115"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3c288b98-ac9c-4aad-8619-3cea8bc60e1f
  response:
    content: '{"object":"block","id":"3c288b98-ac9c-4aad-8619-3cea8bc60e1f","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"62522666-412f-45a9-97a7-e0be36103733"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/716e3b61-1e44-4400-b505-a6ed3b87b0d8
  response:
    content: '{"object":"block","id":"716e3b61-1e44-4400-b505-a6ed3b87b0d8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"77992929-b2e5-44c1-823f-34b6acd4b26c"}'
    headers: {}
    status_code: 200
version: 1
