interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Add/Del/Update Prop-Test"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-810c-97a3-c66d82b92e91","cover":null,"icon":null,"created_time":"2025-06-23T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:40:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"BHMu","name":"Category","type":"select","select":{"options":[{"id":"0b19cfd7-41a9-4d48-b280-5a2b4cba78a4","name":"Cat1","color":"default","description":null},{"id":"a3e040c6-a753-464b-ba9b-eba4d1b85090","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"Gfwi","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Tags":{"id":"k%3D%3AQ","name":"Tags","type":"multi_select","multi_select":{"options":[{"id":"e91f2515-38c1-45a7-8604-9e529ad8e9ae","name":"Cat1","color":"default","description":null},{"id":"68b0ca2b-ac36-4c91-b232-cc2bf38ebe65","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b388810c97a3c66d82b92e91","public_url":null,"archived":false,"in_trash":false,"request_id":"705fffab-d8a6-435f-9830-fa9b83bdc298"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 705fffab-d8a6-435f-9830-fa9b83bdc298
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing adding,
      deleting and updating properties", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Schema for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-0[...]
[...]
- request:
    body: '{"properties": {"Number": {"type": "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f3-b388-810c-97a3-c66d82b92e91
  response:
    content: '{"object":"database","id":"21b974f3-b388-810c-97a3-c66d82b92e91","cover":null,"icon":null,"created_time":"2025-06-23T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited[...]
[...]
- request:
    body: '{"properties": {"Date": {"type": "date", "date": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f3-b388-810c-97a3-c66d82b92e91
  response:
    content: '{"object":"database","id":"21b974f3-b388-810c-97a3-c66d82b92e91","cover":null,"icon":null,"created_time":"2025-06-23T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"[...]
[...]
- request:
    body: '{"properties": {"NewNumber": {"type": "number", "number": {"format": "percent"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f3-b388-810c-97a3-c66d82b92e91
  response:
    content: '{"object":"database","id":"21b974f3-b388-810c-97a3-c66d82b92e91","cover":null,"icon":null,"created_time":"2025-06-23T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3[...]
[...]
