interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema A", "text": {"content": "Schema
      A"}, "type": "text"}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a76d1293-1f89-46fa-9363-d7c78761882a","cover":null,"icon":null,"created_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:50:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/a76d12931f8946fa9363d7c78761882a","public_url":null,"archived":false,"request_id":"c967e57a-1c52-4e94-a132-c5629580b94f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"description": [{"plain_text": "Only used to create relations in Schema
      B", "text": {"content": "Only used to create relations in Schema B"}, "type":
      "text"}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/a76d1293-1f89-46fa-9363-d7c78761882a
  response:
    content: '{"object":"database","id":"a76d1293-1f[...]
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "title": [{"plain_text": "Schema B", "text": {"content": "Schema
      B"}, "type": "text"}], "properties": {"Checkbox": {"type": "checkbox", "checkbox":
      {}}, "Created by": {"type": "created_by", "created_by": {}}, "Created time":
      {"type": "created_time", "created_time": {}}, "Date": {"type": "date", "date":
      {}}, "Email": {"type": "email", "email": {}}, "Files": {"type": "files", "files":
      {}}, "Formula": {"formula": {"expression": "prop(\"Number\") * 2"}, "type":
      "formula"}, "Last edited by": {"type": "last_edited_by", "last_edited_by": {}},
      "Last edited time": {"type": "last_edited_time", "last_edited_time": {}}, "Multi-select":
      {"multi_select": {"options": [{"name": "Option1", "color": "default"}, {"name":
      "Option2", "color": "red"}]}, "type": "multi_select"}, "Number": {"number":
      {"format": "dollar"}, "type": "number"}, "People": {"type": "people", "people":
      {}}, "Phone number": {"type": "phone_number", "phone_number": {}}, "Relation":
      {"relation": {"database_id": "a76d1293-1f89-46fa-9363-d7c78761882a", "type":
      "single_property", "single_property": {}}, "type": "relation"}, "Relation two-way":
      {"relation": {"database_id": "a76d1293-1f89-46fa-9363-d7c78761882a", "type":
      "dual_property", "dual_property": {}}, "type": "relation"}, "Rollup": {"rollup":
      {"function": "count", "relation_property_name": "Relation", "rollup_property_name":
      "Name"}, "type": "rollup"}, "Select": {"select": {"options": [{"name": "Option1",
      "color": "default"}, {"name": "Option2", "color": "red"}]}, "type": "select"},
      "Text": {"type": "rich_text", "rich_text": {}}, "Title": {"type": "title", "title":
      {}}, "URL": {"type": "url", "url": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"489fa006-c069-4054-996b-0fb14be76725","cover":null,"icon":null,"created_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-01-25T07:50:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Formula":{"id":"%3Aw%60%3D","name":"Formula","type":"formula","formula":{"expression":"{{notion:block_property:r%3Bu%3D:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2"}},"Phone number":{"id":"AaTB","name":"Phone number","type":"phone_number","phone_number":{}},"Relation
      two-way":{"id":"EScm","name":"Relation two-way","type":"relation","relation":{"database_id":"a76d1293-1f89-46fa-9363-d7c78761882a","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"%3AkV%7C"}}},"Rollup":{"id":"H%3BZz","name":"Rollup","type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"WpXy","function":"count"}},"Email":{"id":"K%5Cj%3C","name":"Email","type":"email","email":{}},"People":{"id":"N%3A%5BE","name":"People","type":"people","people":{}},"Select":{"id":"OMxK","name":"Select","type":"select","select":{"options":[{"id":"b91bc6b8-e57a-4e29-8638-3373ab79e8c8","name":"Option1","color":"default","description":null},{"id":"841a6275-1490-447d-a71f-c11fd0046538","name":"Option2","color":"red","description":null}]}},"Relation":{"id":"WpXy","name":"Relation","type":"relation",[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"5c74758a-34cc-4292-a984-a117e61d3755"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"c8c91b27-caa5-4a51-88f9-0e3ed97dce98"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"database_id": "a76d1293-1f89-46fa-9363-d7c78761882a", "type":
      "database_id"}, "properties": {"Name": {"title": [{"plain_text": "Item 1", "text":
      {"content": "Item 1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"eb74de8b-5d3a-44b2-ac10-52e60e2aa635","created_time":"2024-01-25T07:50:00.000Z","last_edited_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a76d1293-1f89-46fa-9363-d7c78761882a"},"archived":false,"properties":{"Relation":{"id":"%3AkV%7C","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-eb74de8b5d3a44b2ac1052e60e2aa635","public_url":null,"request_id":"6324b80d-a75d-4aec-85f3-ebea438c7616"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"parent": {"database_id": "489fa006-c069-4054-996b-0fb14be76725", "type":
      "database_id"}, "properties": {"Checkbox": {"checkbox": true, "type": "checkbox"},
      "Date": {"date": {"start": "2024-01-25"}, "type": "date"}, "Email": {"email":
      "email@provider.com", "type": "email"}, "Files": {"files": [{"name": "My File",
      "external": {"url": "https://..."}, "type": "external"}], "type": "files"},
      "Multi-select": {"multi_select": [{"name": "Option1", "color": "default"}],
      "type": "multi_select"}, "Number": {"number": 42.0, "type": "number"}, "People":
      {"people": [{"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user"}],
      "type": "people"}, "Phone number": {"phone_number": "+1 234 567 890", "type":
      "phone_number"}, "Relation": {"relation": [{"id": "eb74de8b-5d3a-44b2-ac10-52e60e2aa635"},
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"8943b76d-e239-45de-a0cc-4f94a3c92f9c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/eb74de8b-5d3a-44b2-ac10-52e60e2aa635
  response:
    content: '{"object":"page","id":"eb74de8b-5d3a-44b2-ac10-52e60e2aa635","created_time":"2024-01-25T07:50:00.000Z","last_edited_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"a76d1293-1f89-46fa-9363-d7c78761882a"},"archived":false,"properties":{"Relation":{"id":"%3AkV%7C","type":"relation","relation":[{"id":"66828405-7ace-427f-9d38-1804005510c8"}],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      1","href":null}]}},"url":"https://www.notion.so/Item-1-eb74de8b5d3a44b2ac1052e60e2aa635","public_url":null,"request_id":"34dbed9d-d393-4fb8-9a2d-af32afa1d351"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a76d1293-1f89-46fa-9363-d7c78761882a
  response:
    content: '{"object":"block","id":"a76d1293-1f89-46fa-9363-d7c78761882a","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-25T07:50:00.000Z","last_edited_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      A"},"request_id":"3d24ba7a-5ee5-45ea-94e9-a5108bbde572"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/489fa006-c069-4054-996b-0fb14be76725
  response:
    content: '{"object":"block","id":"489fa006-c069-4054-996b-0fb14be76725","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-25T07:50:00.000Z","last_edited_time":"2024-01-25T07:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Schema
      B"},"request_id":"78fa7008-0bb5-4963-ae1a-0b6cb9980efa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
