interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Add/Del/Update Prop-Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Add/Del/Update Prop-Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Category": {"type": "select", "select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Tags": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Cat1", "color": "default"}, {"name": "Cat2", "color": "red"}]}}, "Formula":
      {"type": "formula", "formula": {"expression": "prop(\"Name\")"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-8154-9acd-e3b976292f5e","cover":null,"icon":null,"created_time":"2025-09-22T09:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:23:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[],"is_inline":false,"properties":{"Category":{"id":"ZoI%3A","name":"Category","description":null,"type":"select","select":{"options":[{"id":"fb89309c-0eae-4084-94d8-dac825961b48","name":"Cat1","color":"default","description":null},{"id":"cf904521-8653-4429-977f-f7e0a4943eb5","name":"Cat2","color":"red","description":null}]}},"Formula":{"id":"%5Cf%3Fq","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}"}},"Tags":{"id":"dgM%7C","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"e1c6eefa-12b1-479a-ac13-4469bdcdf1f7","name":"Cat1","color":"default","description":null},{"id":"3bb40ba6-030e-409d-bdd6-efb519b095a8","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881549acde3b976292f5e","public_url":null,"archived":false,"in_trash":false,"request_id":"f08cebd6-9d13-4219-9448-82bd33ec8fd5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f08cebd6-9d13-4219-9448-82bd33ec8fd5
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing adding,
      deleting and updating properties","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing adding, deleting and updating properties"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api[...]
[...]
- request:
    body: '{"properties":{"Number":{"type":"number","number":{"format":"dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-8154-9acd-e3b976292f5e
  response:
    content: '{"object":"database","id":"276974f3-b388-8154-9acd-e3b976292f5e","cover":null,"icon":null,"created_time":"2025-09-22T09:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_[...]
[...]
- request:
    body: '{"properties":{"Date":{"type":"date","date":{}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-8154-9acd-e3b976292f5e
  response:
    content: '{"object":"database","id":"276974f3-b388-8154-9acd-e3b976292f5e","cover":null,"icon":null,"created_time":"2025-09-22T09:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"o[...]
[...]
- request:
    body: '{"properties":{"Relation":{"type":"relation","relation":{"type":"dual_property","database_id":"276974f3-b388-81a4-9069-f09a49e685ce","dual_property":{}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-8154-9acd-e3b976292f5e
  response:
    content: '{"object":"database","id":"276974f3-b388-8154-9acd-e3b976292f5e","cover":null,"icon":null,"created_time":"2025-09-22T09:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:23:00.000Z","title":[{"type":"text","text":{"content":"Add/Del/Update
      Prop-Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Add/Del/Update
      Prop-Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing adding, deleting and updating properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing adding, deleting and updating properties","href":null}],"is_inline":false,"properties":{"Relation":{"id":"ZYXu","name":"Relation","description":null,"type":"relation","relation":{"database_id":"276974f3-b388-81a4-9069-f09a49e685ce","data_source_id":"276974f3-b388-8102-99d6-000b0ebe86b1","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Add/Del/Update Prop-Test (Relation)","synced_property_id":"UYFB"}}},"Category":{"id":"ZoI%3A","name":"Category","description":null,"type":"select","select":{"options":[{"id":"fb89309c-0eae-4084-94d8-dac825961b48","name":"Cat1","color":"default","description":null},{"id":"cf904521-8653-4429-977f-f7e0a4943eb5","name":"Cat2","color":"red","description":null}]}},"Date":{"id":"%60v%5Eo","name":"Date","description":null,"type":"date","date":{}},"Number":{"id":"g%3Cwo","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881549acde3b976292f5e","public_url":null,"archived":false,"in_trash":false,"request_id":"f010a587-38ae-4886-bda9-18ee64bd303c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f010a587-38ae-4886-bda9-18ee64bd303c
    status_code: 200
[...]
