interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "text": {"content": "Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"fff210dd-7f5f-4551-ad8c-34e57e0d7b93","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:56:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/fff210dd7f5f4551ad8c34e57e0d7b93","public_url":null,"archived":false,"in_trash":false,"request_id":"c1c923ab-c53a-474d-b290-fb34645997a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"38b-wrOXLAkNFCu/dWrtdNZx3brxZDs"
      x-notion-request-id:
      - c1c923ab-c53a-474d-b290-fb34645997a9
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Only used to create relations
      in Schema B", "text": {"content": "Only used to create relations in Schema B"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/fff210dd-7f5f-4551-ad8c-34e57e0d7b93
  response:
    content: '{"object":"database","id":"fff210dd-7f5f-455[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema B", "text": {"content": "Schema
      B"}}], "properties": {"Relation two-way": {"type": "relation", "relation": {"type":
      "dual_property", "database_id": "fff210dd-7f5f-4551-ad8c-34e57e0d7b93", "dual_property":
      {}}}, "Title": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1b70f38c-044e-4247-90e0-16269b0ee6a0","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:56:00.000Z","title":[{"type":"text","text":{"content":"Schema
      B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      B","href":null}],"description":[],"is_inline":false,"properties":{"Relation
      two-way":{"id":"uxlN","name":"Relation two-way","type":"relation","relation":{"database_id":"fff210dd-7f5f-4551-ad8c-34e57e0d7b93","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Schema B (Relation two-way)","synced_property_id":"%3BevS"}}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/1b70f38c044e424790e016269b0ee6a0","public_url":null,"archived":false,"in_trash":false,"request_id":"add15121-6d7f-4fd8-9239-d887ed10043c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"4a3-IrZnFufVhHZalvGE906QWdJw3GM"
      x-notion-request-id:
      - add15121-6d7f-4fd8-9239-d887ed10043c
    status_code: 200
[...]
- request:
    body: '{"properties": {"%3BevS": {"name": "Relation"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/fff210dd-7f5f-4551-ad8c-34e57e0d7b93
  response:
    content: '{"object":"database","id":"fff210dd-7f5f-4551-ad8c-34e57e0d7b93","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:56:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[{"type":"text","text":{"content":"Only used
      to create relations in Schema B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Only
      used to create relations in Schema B","href":null}],"is_inline":false,"properties":{"Relation":{"id":"%3BevS","name":"Relation","type":"relation","relation":{"database_id":"1b70f38c-044e-4247-90e0-16269b0ee6a0","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"uxlN"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/fff210dd7f5f4551ad8c34e57e0d7b93","public_url":null,"archived":false,"in_trash":false,"request_id":"46f56582-1633-4912-9ad5-63541b2cd319"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"58d-6Ghm3+3ilYb/meRKGOuai9B3YSU"
      x-notion-request-id:
      - 46f56582-1633-4912-9ad5-63541b2cd319
    status_code: 200
[...]
