interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/b0cb6b70-e740-496d-9c81-8a298fa2d5e1
  response:
    content: "{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-08-20T07:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() [...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"277974f3-b388-8169-ada1-e06d5abd8351\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-23T10:08:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-23T10:08:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Rollup
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Rollup
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Rollup
      Date Array\":{\"id\":\"%40I%5CR\",\"name\":\"Rollup Date Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"x{~_\",\"relation_property_id\":\"rnWu\",\"function\":\"show_original\"}},\"Rollup
      Number Array\":{\"id\":\"OOz%5B\",\"name\":\"Rollup Number Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"iH[[\",\"relation_property_id\":\"rnWu\",\"function\":\"show_original\"}},\"Number\":{\"id\":\"iH%5B%5B\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Rollup
      Date\":{\"id\":\"j~Vc\",\"name\":\"Rollup Date\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"x{~_\",\"relation_property_id\":\"rnWu\",\"function\":\"earliest_date\"}},\"Rollup
      Number\":{\"id\":\"rejO\",\"name\":\"Rollup Number\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"iH[[\",\"relation_property_id\":\"rnWu\",\"function\":\"max\"}},\"Relation\":{\"id\":\"rnWu\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"277974f3-b388-8169-ada1-e06d5abd8351\",\"data_source_id\":\"277974f3-b388-81a8-b1f4-000b3e796a95\",\"type\":\"single_property\",\"single_property\":{}}},\"Date\":{\"id\":\"x%7B~_\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Rollup
      Title\":{\"id\":\"zFli\",\"name\":\"Rollup Title\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Title\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"rnWu\",\"function\":\"show_original\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/277974f3b3888169ada1e06d5abd8351\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"277974f3-b388-8116-ba85-c93eb0105d45\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-23T10:08:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-23T10:08:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Empty
      Formula DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Empty
      Formula DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Formula\":{\"id\":\"tQIt\",\"name\":\"Formula\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/277974f3b3888116ba85c93eb0105d45\",\"public_url\":null,\"ar[...]
