interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/00000000-0000-4000-8000-00000000000c
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find data_source with ID: 00000000-0000-4000-8000-00000000000c. Make sure
      the relevant pages and databases are shared with your integration \"Ultimate
      Notion Tests\".","additional_data":{"integration_id":"00000000-0000-4000-8000-0000000000f1"},"request_id":"1ad62f8a-5296-4c28-afda-7d9836e2d97a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ad62f8a-5296-4c28-afda-7d9836e2d97a
    status_code: 404
version: 1
