interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Schema A", "text": {"content": "Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a5cbc21d-880a-4f74-9da0-97391efd8873","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:56:00.000Z","title":[{"type":"text","text":{"content":"Schema
      A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/a5cbc21d880a4f749da097391efd8873","public_url":null,"archived":false,"in_trash":false,"request_id":"5d1a5bee-b520-4f2a-b3e9-e30a78b11a01"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"38b-reuUH91jP1zi1pYUysJ+DViuqPA"
      x-notion-request-id:
      - 5d1a5bee-b520-4f2a-b3e9-e30a78b11a01
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema A description",
      "text": {"content": "Schema A description"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/a5cbc21d-880a-4f74-9da0-97391efd8873
  response:
    content: '{"object":"database","id":"a5cbc21d-880a-4f74-9da0-97391efd8873","cover":null,"icon":n[...]
- request:
    body: '{"properties": {"Relation": {"type": "relation", "relation": {"type": "single_property",
      "database_id": "a5cbc21d-880a-4f74-9da0-97391efd8873", "single_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/a5cbc21d-880a-4f74-9da0-97391efd8873
  response:
    content: '{"object":"database","id":"a5cbc21d-880a-4f74-9da0-97391efd8873","cover":null,"icon":null,"created_time":"2024-05-23T10:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{[...]
