interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema A", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Update Prop-Test: Schema
      A"}}], "properties": {"Name": {"type": "title", "title": {}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8190-bc90-ff96e34492ad","cover":null,"icon":null,"created_time":"2025-08-22T07:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:18:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema A","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b3888190bc90ff96e34492ad","public_url":null,"archived":false,"in_trash":false,"request_id":"fabfc381-cbbf-4d86-815e-0117b75da4f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fabfc381-cbbf-4d86-815e-0117b75da4f2
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Only used to create relations
      in Schema C","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Only
      used to create relations in Schema C"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/dat[...]
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Update Prop-Test: Schema C", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Update Prop-Test: Schema
      C"}}], "properties": {"Name": {"type": "title", "title": {}}, "Relation": {"type":
      "relation", "relation": {"type": "single_property", "database_id": "257974f3-b388-8190-bc90-ff96e34492ad",
      "single_property": {}}}, "Relation two-way": {"type": "relation", "relation":
      {"type": "dual_property", "database_id": "257974f3-b388-8190-bc90-ff96e34492ad",
      "dual_property": {}}}, "Rollup": {"type": "rollup", "rollup": {"function": "count",
      "relation_property_name": "Relation", "rollup_property_name": "Name"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81a5-95a0-fbb9ae7f2b43","cover":null,"icon":null,"created_time":"2025-08-22T07:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:18:00.000Z","title":[{"type":"text","text":{"content":"Update
      Prop-Test: Schema C","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Update
      Prop-Test: Schema C","href":null}],"description":[],"is_inline":false,"properties":{"Relation":{"id":"%3Aa%60u","name":"Relation","type":"relation","relation":{"database_id":"257974f3-b388-8190-bc90-ff96e34492ad","type":"single_property","single_property":{}}},"Relation
      two-way":{"id":"hgLW","name":"Relation two-way","type":"relation","relation":{"database_id":"257974f3-b388-8190-bc90-ff96e34492ad","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Update Prop-Test: Schema C (Relation two-way)","synced_property_id":"UBU%5D"}}},"Rollup":{"id":"z%7Bz%3A","name":"Rollup","type":"rollup","rollup":{"rollup_property_name":"Name","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":":a`u","function":"count"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881a595a0fbb9ae7f2b43","public_url":null,"archived":false,"in_trash":false,"request_id":"31f23f52-2b92-4edf-92f4-34de46f6e074"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31f23f52-2b92-4edf-92f4-34de46f6e074
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Select Options Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Select Options Update
      Test"}}], "properties": {"Name": {"type": "title", "title": {}}, "Category":
      {"type": "select", "select": {"options": [{"name": "Cat1", "color": "default"},
      {"name": "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}, "Formula": {"type": "formula", "formula": {"expression": "prop(\"Name\")"}},
      "Number": {"type": "number", "number": {"format": "dollar"}}}, "is_inline":
      false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8163-85b7-e3ee2a350369","cover":null,"icon":null,"created_time":"2025-08-22T07:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"objec[...]
[...]
