interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Unique ID Update Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Unique ID Update Test"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "ID": {"type": "unique_id", "unique_id":
      {"prefix": "OLDID19"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"27d974f3-b388-81a9-b5e2-d320ad988e52","cover":null,"icon":null,"created_time":"2025-09-29T13:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-29T13:42:00.000Z","title":[{"type":"text","text":{"content":"Unique
      ID Update Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Unique
      ID Update Test","href":null}],"description":[],"is_inline":false,"properties":{"ID":{"id":"jFdM","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":"OLDID19"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/27d974f3b38881a9b5e2d320ad988e52","public_url":null,"archived":false,"in_trash":false,"request_id":"056a0568-3d03-4e07-b89d-fd82ec8d3175"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 056a0568-3d03-4e07-b89d-fd82ec8d3175
    status_code: 200
- request:
    body: '{"properties":{"ID":{"type":"unique_id","id":"jFdM","name":"ID","unique_id":{"prefix":"NEWID29"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/27d974f3-b388-81a9-b5e2-d320ad988e52
  response:
    content: '{"object":"database","id":"27d974f3-b388-81a9-b5e2-d320ad988e52","cover":null,"icon":null,"created_time":"2025-[...]
[...]
