interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Bind DB Test", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Bind DB Test"}}], "is_inline": false, "initial_data_source":
      {"properties": {"Name": {"type": "title", "title": {}}, "Category": {"type":
      "select", "select": {"options": [{"name": "Cat1", "color": "default"}, {"name":
      "Cat2", "color": "red"}]}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": [{"name": "Cat1", "color": "default"}, {"name": "Cat2", "color":
      "red"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e757c0f1-8435-4087-853a-3b8533238b75","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:30:02.665+00:00","last_edited_time":"2026-06-24T16:30:02.665+00:00","data_sources":[{"id":"d0fca6bd-c371-4823-be8f-c320dd911b4e","name":"Bind
      DB Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e757c0f184354087853a3b8533238b75","public_url":null,"archived":false,"request_id":"a808efbb-df73-4640-96f8-6f357906cb49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a808efbb-df73-4640-96f8-6f357906cb49
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/d0fca6bd-c371-4823-be8f-c320dd911b4e
  response:
    content: '{"object":"data_source","id":"d0fca6bd-c371-4823-be8f-c320dd911b4e","cover":null,"icon":null,"created_time":"2026-06-24T16:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:30:00.000Z","title":[{"type":"text","text":{"content":"Bind
      DB Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bind
      DB Test","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"Vyiv","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"11e6f42f-69ef-4a68-a73c-a8b64d31880a","name":"Cat1","color":"default","description":null},{"id":"0c0f79fa-776d-4967-a83d-e93a442ca28d","name":"Cat2","color":"red","description":null}]}},"Category":{"id":"dKNx","name":"Category","description":null,"type":"select","select":{"options":[{"id":"b36429be-bfc9-4b8a-b774-5a5597fe1222","name":"Cat1","color":"default","description":null},{"id":"4aaffad8-ca06-41e6-b1a2-2dd5609313e4","name":"Cat2","color":"red","description":null}]}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e757c0f1-8435-4087-853a-3b8533238b75"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/e757c0f184354087853a3b8533238b75","public_url":null,"in_trash":false,"archived":false,"request_id":"5471f5de-6626-4f4f-b857-2135e2d53100"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5471f5de-6626-4f4f-b857-2135e2d53100
    status_code: 200
version: 1
