interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for page comments", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page for page comments"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81f7-9da5-f71f91423cb7","created_time":"2024-10-14T09:34:00.000Z","last_edited_time":"2024-10-14T09:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-11f974f3b38881f79da5f71f91423cb7","public_url":null,"request_id":"97d5f9d9-37b6-4a29-abb7-c5969461ccd8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 97d5f9d9-37b6-4a29-abb7-c5969461ccd8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=11f974f3-b388-81f7-9da5-f71f91423cb7&page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"b9c59ea8-d989-421d-9e61-892caa1c5a49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b9c59ea8-d989-421d-9e61-892caa1c5a49
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "11f974f3-b388-81f7-9da5-f71f91423cb7"},
      "rich_text": [{"type": "text", "plain_text": "My first comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "My first comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"11f974f3-b388-8188-8d94-001d87924db3","parent":{"type":"page_id","page_id":"11f974f3-b388-81f7-9da5-f71f91423cb7"},"discussion_id":"11f974f3-b388-81d6-9206-001cedc12d12","created_time":"2024-10-14T09:34:00.000Z","last_edited_time":"2024-10-14T09:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}],"request_id":"c870b94a-0146-4d5f-93d4-1041f3d63c7f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c870b94a-0146-4d5f-93d4-1041f3d63c7f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-81f7-9da5-f71f91423cb7
  response:
    content: '{"object":"page","id":"11f974f3-b388-81f7-9da5-f71f91423cb7","created_time":"2024-10-14T09:34:00.000Z","last_edited_time":"2024-10-14T09:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-11f974f3b38881f79da5f71f91423cb7","public_url":null,"request_id":"e7a3be9c-b378-40a4-a442-fcd300cf7be2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e7a3be9c-b378-40a4-a442-fcd300cf7be2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=11f974f3-b388-81f7-9da5-f71f91423cb7&page_size=100
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"11f974f3-b388-8188-8d94-001d87924db3","parent":{"type":"page_id","page_id":"11f974f3-b388-81f7-9da5-f71f91423cb7"},"discussion_id":"11f974f3-b388-81d6-9206-001cedc12d12","created_time":"2024-10-14T09:34:00.000Z","last_edited_time":"2024-10-14T09:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"5b93c0e8-b012-4521-944d-f0a927094bd4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5b93c0e8-b012-4521-944d-f0a927094bd4
    status_code: 200
version: 1
