interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for page comments", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Page for page
      comments"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-815a-9f79-d43944f8aaa0","created_time":"2026-06-27T05:49:00.000Z","last_edited_time":"2026-06-27T05:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-38c9ce7b60a4815a9f79d43944f8aaa0","public_url":null,"archived":false,"request_id":"2dbff29d-b2ff-47d6-af0b-6e855a1f52f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2dbff29d-b2ff-47d6-af0b-6e855a1f52f1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"e4203620-8fc9-4766-bb00-d81fd19da67d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e4203620-8fc9-4766-bb00-d81fd19da67d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=38c9ce7b-60a4-815a-9f79-d43944f8aaa0&page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"18be6060-8b83-475e-ab4d-9dc63f20f24c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 18be6060-8b83-475e-ab4d-9dc63f20f24c
    status_code: 200
- request:
    body: '{"rich_text": [{"type": "text", "plain_text": "My first comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "My first comment"}}], "parent": {"type":
      "page_id", "page_id": "38c9ce7b-60a4-815a-9f79-d43944f8aaa0"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"38c9ce7b-60a4-8173-9b1c-001d1e31dbcf","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815a-9f79-d43944f8aaa0"},"discussion_id":"38c9ce7b-60a4-816d-bd47-001c3e71c563","created_time":"2026-06-27T05:49:00.000Z","last_edited_time":"2026-06-27T05:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"},"request_id":"7e0d0cff-a10b-4244-bfb4-480b2a01a719"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e0d0cff-a10b-4244-bfb4-480b2a01a719
    status_code: 200
[...]
- request:
    body: '{"rich_text": [{"type": "text", "plain_text": "Another comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Another comment"}}], "parent": {"type":
      "page_id", "page_id": "38c9ce7b-60a4-815a-9f79-d43944f8aaa0"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"38c9ce7b-60a4-81d0-adf4-001dea86e72e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815a-9f79-d43944f8aaa0"},"discussion_id":"38c9ce7b-60a4-816d-bd47-001c3e71c563","created_time":"2026-06-27T05:49:00.000Z","last_edited_time":"2026-06-27T05:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"},"request_id":"d60ea6dc-8666-4fd5-9f5e-e9e7ed129142"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d60ea6dc-8666-4fd5-9f5e-e9e7ed129142
    status_code: 200
version: 1
