interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for page comments", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Page for page
      comments"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81e1-9c44-f966a0e1e82d","created_time":"2025-09-22T09:10:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-276974f3b38881e19c44f966a0e1e82d","public_url":null,"request_id":"6b625f91-0ee6-4e42-9f99-a7b31d90b8f7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b625f91-0ee6-4e42-9f99-a7b31d90b8f7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"072e63f3-1692-4ffc-a79a-0d81b2565856"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 072e63f3-1692-4ffc-a79a-0d81b2565856
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=276974f3-b388-81e1-9c44-f966a0e1e82d&page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"8131b450-ec69-47c6-8d6c-f445efc52f3c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8131b450-ec69-47c6-8d6c-f445efc52f3c
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "276974f3-b388-81e1-9c44-f966a0e1e82d"},
      "rich_text": [{"type": "text", "plain_text": "My first comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "My first comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"276974f3-b388-81b3-b27d-001d08931b8b","parent":{"type":"page_id","page_id":"276974f3-b388-81e1-9c44-f966a0e1e82d"},"discussion_id":"276974f3-b388-81b1-a969-001c3aacc2ee","created_time":"2025-09-22T09:10:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}],"display_name":{"type":"integration","resolved_name":"Github
      Unittests"},"request_id":"30280418-2ee6-4367-bd3e-2e646e00a554"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30280418-2ee6-4367-bd3e-2e646e00a554
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "276974f3-b388-81e1-9c44-f966a0e1e82d"},
      "rich_text": [{"type": "text", "plain_text": "Another comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Another comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"276974f3-b388-8178-b478-001d5b25598e","parent":{"type":"page_id","page_id":"276974f3-b388-81e1-9c44-f966a0e1e82d"},"discussion_id":"276974f3-b388-81b1-a969-001c3aacc2ee","created_time":"2025-09-22T09:10:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"display_name":{"type":"integration","resolved_name":"Github
      Unittests"},"request_id":"ca064e2b-3a8e-4f91-90b5-a6288b7347ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ca064e2b-3a8e-4f91-90b5-a6288b7347ae
    status_code: 200
version: 1
