interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for page comments", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page for page comments"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-8118-9138-f9841372b80a","created_time":"2024-10-14T15:16:00.000Z","last_edited_time":"2024-10-14T15:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-11f974f3b38881189138f9841372b80a","public_url":null,"request_id":"758f2fc7-4110-4c6b-9bd5-b8a559013731"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 758f2fc7-4110-4c6b-9bd5-b8a559013731
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=11f974f3-b388-8118-9138-f9841372b80a&page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"5f78f711-4f95-4794-ac7d-6ca0c3822efd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f78f711-4f95-4794-ac7d-6ca0c3822efd
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "11f974f3-b388-8118-9138-f9841372b80a"},
      "rich_text": [{"type": "text", "plain_text": "My first comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "My first comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"11f974f3-b388-81d0-8d97-001da53c0596","parent":{"type":"page_id","page_id":"11f974f3-b388-8118-9138-f9841372b80a"},"discussion_id":"11f974f3-b388-8133-ad82-001c5b004616","created_time":"2024-10-14T15:16:00.000Z","last_edited_time":"2024-10-14T15:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}],"request_id":"54d31dd6-f9d7-4ebb-a53d-6f66631ab51e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 54d31dd6-f9d7-4ebb-a53d-6f66631ab51e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-8118-9138-f9841372b80a
  response:
    content: '{"object":"page","id":"11f974f3-b388-8118-9138-f9841372b80a","created_time":"2024-10-14T15:16:00.000Z","last_edited_time":"2024-10-14T15:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-11f974f3b38881189138f9841372b80a","public_url":null,"request_id":"d2d9599a-3739-47c9-b36d-07fbad8fee94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d2d9599a-3739-47c9-b36d-07fbad8fee94
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "11f974f3-b388-8118-9138-f9841372b80a"},
      "rich_text": [{"type": "text", "plain_text": "Another comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Another comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"11f974f3-b388-81a7-a7c2-001d4352ed06","parent":{"type":"page_id","page_id":"11f974f3-b388-8118-9138-f9841372b80a"},"discussion_id":"11f974f3-b388-8133-ad82-001c5b004616","created_time":"2024-10-14T15:16:00.000Z","last_edited_time":"2024-10-14T15:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"request_id":"0564678f-37f3-45b9-bac7-60b2ab48c764"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0564678f-37f3-45b9-bac7-60b2ab48c764
    status_code: 200
version: 1
