interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=10f974f3-b388-81ba-adaf-d189e7161101&page_size=100
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"110974f3-b388-808d-84ab-001d7497d9b0","parent":{"type":"page_id","page_id":"10f974f3-b388-81ba-adaf-d189e7161101"},"discussion_id":"110974f3-b388-8077-99de-001c2213e4c3","created_time":"2024-09-29T13:57:00.000Z","last_edited_time":"2024-09-29T13:57:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"rich_text":[{"type":"text","text":{"content":"First
      page Comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"First
      page Comment","href":null}]},{"object":"comment","id":"110974f3-b388-8098-a992-001d363c6e67","parent":{"type":"page_id","page_id":"10f974f3-b388-81ba-adaf-d189e7161101"},"discussion_id":"110974f3-b388-8077-99de-001c2213e4c3","created_time":"2024-09-29T13:58:00.000Z","last_edited_time":"2024-09-29T14:01:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"rich_text":[{"type":"text","text":{"content":"First
      thread comment","link":null},"annotations":{"bold":false,"italic":false,"s[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"dfcb155e-6594-4559-8ca8-5cee557c6fee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dfcb155e-6594-4559-8ca8-5cee557c6fee
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/118d872b-594c-81ef-aa7a-000271698630
  response:
    content: '{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"},"request_id":"b606e5a2-41d5-4b25-ac62-3a81ec6b1194"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b606e5a2-41d5-4b25-ac62-3a81ec6b1194
    status_code: 200
version: 1
