interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81ba-adaf-d189e7161101/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"110974f3-b388-8052-bafa-c3ec7f6e2d33","parent":{"type":"page_id","page_id":"10f974f3-b388-81ba-adaf-d189e7161101"},"created_time":"2024-09-29T13:58:00.000Z","last_edited_time":"2024-10-14T10:05:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Headline","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Headline","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"110974f3-b388-80f2-b3e7-d9ee696ea966","parent":{"type":"page_id","page_id":"10f974f3-b388-81ba-adaf-d189e7161101"},"created_time":"2024-09-29T16:38:00.000Z","last_edited_time":"2024-09-29T16:38:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"comment_id","comment_id":"110974f3-b388-80a8-96da-001d8441ea4c"}},{"object":"block","id":"110974f3-b388-8057-8781-fc495a874c63","parent":{"type":"page_id","page_id":"10f974f3-b388-81ba-adaf-d189e7161101"},"created_time":"2024-09-29T16:38:00.000Z","last_edited_time":"2024-09-29T16:38:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=110974f3-b388-8052-bafa-c3ec7f6e2d33&page_size=100
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"110974f3-b388-808f-96e0-001dc2ffbfa4","parent":{"type":"block_id","block_id":"110974f3-b388-8052-bafa-c3ec7f6e2d33"},"discussion_id":"110974f3-b388-8040-895b-001cf9253ca9","created_time":"2024-09-29T13:59:00.000Z","last_edited_time":"2024-10-14T09:56:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"rich_text":[{"type":"text","text":{"content":"Infinite
      discussion!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Infinite
      discussion!","href":null}]},{"object":"comment","id":"118974f3-b388-80f5-8a66-001dd8f48cc3","parent":{"type":"block_id","block_id":"110974f3-b388-8052-bafa-c3ec7f6e2d33"},"discussion_id":"118974f3-b388-804f-bdca-001c307c70e6","created_time":"2024-10-07T10:58:00.000Z","last_edited_time":"2024-10-07T11:10:00.000Z","created_by":{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630"},"rich_text":[{"type":"text","text":{"content":"Bot
      comment on the Headline","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Bot
      comment on the Headline","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"02b35322-7bab-42d7-ba7c-2afa50aafe96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 02b35322-7bab-42d7-ba7c-2afa50aafe96
    status_code: 200
- request:
    body: '{"discussion_id": "110974f3-b388-8040-895b-001cf9253ca9", "rich_text":
      [{"type": "text", "plain_text": "Another comment", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Another comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"11f974f3-b388-810d-9029-001dae3f0d20","parent":{"type":"block_id","block_id":"110974f3-b388-8052-bafa-c3ec7f6e2d33"},"discussion_id":"110974f3-b388-8040-895b-001cf9253ca9","created_time":"2024-10-14T10:18:00.000Z","last_edited_time":"2024-10-14T10:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"request_id":"037d7876-9442-4341-8e3b-ce00847e231d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 037d7876-9442-4341-8e3b-ce00847e231d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/10f974f3-b388-81ba-adaf-d189e7161101
  response:
    content: '{"object":"page","id":"10f974f3-b388-81ba-adaf-d189e7161101","created_time":"2024-09-28T19:37:00.000Z","last_edited_time":"2024-10-14T10:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Comments","href":null}]}},"url":"https://www.notion.so/Comments-10f974f3b38881baadafd189e7161101","public_url":null,"request_id":"8667394b-97f5-4120-8719-cc96187cff0c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8667394b-97f5-4120-8719-cc96187cff0c
    status_code: 200
version: 1
