interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for page comments", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page for page comments"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81c7-81de-cfa9149ea617","created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-11f974f3b38881c781decfa9149ea617","public_url":null,"request_id":"6c41024e-0df3-4186-960b-e79a6ce8c9d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c41024e-0df3-4186-960b-e79a6ce8c9d6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=11f974f3-b388-81c7-81de-cfa9149ea617&page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"29c2c7ba-fdcf-4182-a301-88e64379842c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29c2c7ba-fdcf-4182-a301-88e64379842c
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "11f974f3-b388-81c7-81de-cfa9149ea617"},
      "rich_text": [{"type": "text", "plain_text": "My first comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "My first comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"11f974f3-b388-81df-ba7e-001d6f9527f9","parent":{"type":"page_id","page_id":"11f974f3-b388-81c7-81de-cfa9149ea617"},"discussion_id":"11f974f3-b388-8188-92d2-001c36a0f27c","created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}],"request_id":"4524ea6e-6d14-4063-8dfe-cb475c5d0d88"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4524ea6e-6d14-4063-8dfe-cb475c5d0d88
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-81c7-81de-cfa9149ea617
  response:
    content: '{"object":"page","id":"11f974f3-b388-81c7-81de-cfa9149ea617","created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-11f974f3b38881c781decfa9149ea617","public_url":null,"request_id":"e028af0f-4a89-47eb-afc0-038a6e0c6888"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e028af0f-4a89-47eb-afc0-038a6e0c6888
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "11f974f3-b388-81c7-81de-cfa9149ea617"},
      "rich_text": [{"type": "text", "plain_text": "Another comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Another comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"11f974f3-b388-810f-b298-001d90b144d8","parent":{"type":"page_id","page_id":"11f974f3-b388-81c7-81de-cfa9149ea617"},"discussion_id":"11f974f3-b388-8188-92d2-001c36a0f27c","created_time":"2024-10-14T16:42:00.000Z","last_edited_time":"2024-10-14T16:42:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"request_id":"d35d5d83-a937-4c3f-a088-ff6f3b88da1d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d35d5d83-a937-4c3f-a088-ff6f3b88da1d
    status_code: 200
version: 1
