interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for page comments", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Page for page
      comments"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81d1-85fa-deb7ce88ad6c","created_time":"2026-06-27T16:52:00.000Z","last_edited_time":"2026-06-27T16:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-38c9ce7b60a481d185fadeb7ce88ad6c","public_url":null,"request_id":"b661007b-9b06-4781-801e-5aa307f52805"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b661007b-9b06-4781-801e-5aa307f52805
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"fbb614ba-108e-4698-b49b-22bdc1bbe1d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fbb614ba-108e-4698-b49b-22bdc1bbe1d3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=38c9ce7b-60a4-81d1-85fa-deb7ce88ad6c&page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"4d6b972c-93d1-4141-8194-b1fd0ed60790"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d6b972c-93d1-4141-8194-b1fd0ed60790
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-81d1-85fa-deb7ce88ad6c"},
      "rich_text": [{"type": "text", "plain_text": "My first comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "My first comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"38c9ce7b-60a4-810b-8b57-001d7ce8a58d","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81d1-85fa-deb7ce88ad6c"},"discussion_id":"38c9ce7b-60a4-8166-896a-001cff1c8845","created_time":"2026-06-27T16:52:00.000Z","last_edited_time":"2026-06-27T16:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"},"request_id":"eb542ff3-7a6b-4582-8f1c-9c8831c2ac29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb542ff3-7a6b-4582-8f1c-9c8831c2ac29
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-81d1-85fa-deb7ce88ad6c"},
      "rich_text": [{"type": "text", "plain_text": "Another comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Another comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"38c9ce7b-60a4-811b-bc86-001dc896ea93","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81d1-85fa-deb7ce88ad6c"},"discussion_id":"38c9ce7b-60a4-8166-896a-001cff1c8845","created_time":"2026-06-27T16:52:00.000Z","last_edited_time":"2026-06-27T16:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"},"request_id":"511ebde3-d287-46b5-b0a9-e769661f6fe3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 511ebde3-d287-46b5-b0a9-e769661f6fe3
    status_code: 200
version: 1
