interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000007/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3839ce7b-60a4-8127-a166-c6643b601de5","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000007"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Comments","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"3839ce7b-60a4-817b-95af-d46160544cb2","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000007"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Page
      for comment tests.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for comment tests.","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"31624a61-e167-44c5-b3de-56425c3cafdd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31624a61-e167-44c5-b3de-56425c3cafdd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=3839ce7b-60a4-8127-a166-c6643b601de5&page_size=100
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"38a9ce7b-60a4-80d9-a134-001d58afe833","parent":{"type":"block_id","block_id":"3839ce7b-60a4-8127-a166-c6643b601de5"},"discussion_id":"38a9ce7b-60a4-801c-88a7-001c7097432d","created_time":"2026-06-25T16:55:00.000Z","last_edited_time":"2026-06-25T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"rich_text":[{"type":"text","text":{"content":"Infinite
      discussion!","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Infinite
      discussion!","href":null}],"display_name":{"type":"user","resolved_name":"Adam
      Dangoor"}},{"object":"comment","id":"38a9ce7b-60a4-8061-a2c1-001d32d90e3e","parent":{"type":"block_id","block_id":"3839ce7b-60a4-8127-a166-c6643b601de5"},"discussion_id":"38a9ce7b-60a4-80a5-9edb-001c72757d5a","created_time":"2026-06-25T16:55:00.000Z","last_edited_time":"2026-06-25T16:55:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"rich_text":[{"type":"text","text":{"content":"Second
      comment","link":null},"annotations":{"bold":false,"itali[...]
- request:
    body: '{"rich_text": [{"type": "text", "plain_text": "Another comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Another comment"}}], "discussion_id": "38a9ce7b-60a4-801c-88a7-001c7097432d"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"38c9ce7b-60a4-81c9-ab87-001d3d384b0d","parent":{"type":"block_id","block_id":"3839ce7b-60a4-8127-a166-c6643b601de5"},"discussion_id":"38a9ce7b-60a4-801c-88a7-001c7097432d","created_time":"2026-06-27T16:52:00.000Z","last_edited_time":"2026-06-27T16:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"},"request_id":"206c27da-26e0-414d-9537-3ef35c6e33f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 206c27da-26e0-414d-9537-3ef35c6e33f8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000007
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000007","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Comments","href":null}]}},"url":"https://www.notion.so/Comments-00000000000040008000000000000007","public_url":null,"request_id":"67bd4251-603e-4a49-bc6a-47a92ede863a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 67bd4251-603e-4a49-bc6a-47a92ede863a
    status_code: 200
version: 1
