interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for page comments", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Page for page
      comments"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-818b-86b2-cd9b0ca01f4f","created_time":"2026-06-27T04:51:00.000Z","last_edited_time":"2026-06-27T04:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for page comments","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for page comments","href":null}]}},"url":"https://www.notion.so/Page-for-page-comments-38c9ce7b60a4818b86b2cd9b0ca01f4f","public_url":null,"archived":false,"request_id":"6b6af46b-e477-4b1b-b0d2-27b4765ded0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b6af46b-e477-4b1b-b0d2-27b4765ded0d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"95a4fe60-9e99-4d15-8888-9c909495ae7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95a4fe60-9e99-4d15-8888-9c909495ae7b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=38c9ce7b-60a4-818b-86b2-cd9b0ca01f4f&page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"1917dae6-f0db-4801-ac48-be091a9c800f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1917dae6-f0db-4801-ac48-be091a9c800f
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-818b-86b2-cd9b0ca01f4f"},
      "rich_text": [{"type": "text", "plain_text": "My first comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "My first comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"38c9ce7b-60a4-811e-83e8-001d00198420","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-818b-86b2-cd9b0ca01f4f"},"discussion_id":"38c9ce7b-60a4-8121-a413-001c6eced6d6","created_time":"2026-06-27T04:51:00.000Z","last_edited_time":"2026-06-27T04:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"My
      first comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      first comment","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"},"request_id":"a7f88414-5482-47af-84ae-99d62354f223"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a7f88414-5482-47af-84ae-99d62354f223
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-818b-86b2-cd9b0ca01f4f"},
      "rich_text": [{"type": "text", "plain_text": "Another comment", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Another comment"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"38c9ce7b-60a4-817b-b48d-001d48d903b7","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-818b-86b2-cd9b0ca01f4f"},"discussion_id":"38c9ce7b-60a4-8121-a413-001c6eced6d6","created_time":"2026-06-27T04:51:00.000Z","last_edited_time":"2026-06-27T04:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"Another
      comment","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Another
      comment","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"},"request_id":"7ba4434f-565b-42d1-a609-9d1bb6623bd5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ba4434f-565b-42d1-a609-9d1bb6623bd5
    status_code: 200
version: 1
