interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=00000000-0000-4000-8000-000000000007&page_size=100
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"38a9ce7b-60a4-8182-ad3f-001d94237784","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000007"},"discussion_id":"38a9ce7b-60a4-8164-964b-001c67be98e6","created_time":"2026-06-25T11:47:00.000Z","last_edited_time":"2026-06-25T11:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"Comment
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Comment
      1","href":null}],"display_name":{"type":"integration","resolved_name":"Ultimate
      Notion Tests"}},{"object":"comment","id":"38a9ce7b-60a4-8184-8296-001d08eeef15","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000007"},"discussion_id":"38a9ce7b-60a4-8164-964b-001c67be98e6","created_time":"2026-06-25T11:47:00.000Z","last_edited_time":"2026-06-25T11:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"rich_text":[{"type":"text","text":{"content":"Comment
      2","link":null},"annotations":{"bold":false,"ita[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"815d2c60-63a9-4a26-8b76-8ce529d12df8\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 815d2c60-63a9-4a26-8b76-8ce529d12df8
    status_code: 200
version: 1
