interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000004/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-8195-b89e-da7ef0a8270c\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000004\"},\"created_time\":\"2026-06-25T10:46:00.000Z\",\"last_edited_time\":\"2026-06-25T10:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      1\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      1\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-817a-a1fb-fc3840302bd2\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000004\"},\"created_time\":\"2026-06-25T10:46:00.000Z\",\"last_edited_time\":\"2026-06-25T10:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      2\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      2\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-8145-8829-e7364415b8bf\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000004\"},\"created_time\":\"2026-06-25T10:46:00.000Z\",\"last_edited_time\":\"2026-06-25T10:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"heading_3\",\"heading_3\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      3\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      3\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-81d3-acfb-ce94adfeb174\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000004\"},\"created_time\":\"2026-06-25T10:46:00.000Z\",\"last_edited_time\":\"2026-06-25T10:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-81d6-ae63-c4abce413c4a\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000004\"},\"created_time\":\"2026-06-25T10:46:00.000Z\",\"last_edited_time\":\"2026-06-25T10:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"heading_1\",\"he[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-814e-8ca0-ec6d540a617e/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81ef-af76-e1b2feb0b68c","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-814e-8ca0-ec6d540a617e"},"created_time":"2026-06-25T10:46:00.000Z","last_edited_time":"2026-06-25T10:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      1, 1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Cell
      1, 1","href":null}],[{"type":"text","text":{"content":"Cell 1, 2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Cell
      1, 2","href":null}]]}},{"object":"block","id":"38a9ce7b-60a4-8150-a09f-c59e[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81d9-88c5-f89be838ca0b/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8128-98da-d232525ecb5b","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-81d9-88c5-f89be838ca0b"},"created_time":"2026-06-25T10:46:00.000Z","last_edited_time":"2026-06-25T10:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"38a9ce7b-60a4-815d-8bd9-e4b1e2435f4a","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-81d9-88c5-f89be838ca0b"},"created_time":"2026-06-25T10:46:00.000Z","last_edited_time":"2026-06-25T10:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4736b2d5-cf29-4fba-bf1e-a965e096f99d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4736b2d5-cf29-4fba-bf1e-a965e096f99d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8128-98da-d232525ecb5b/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81d0-a580-f67cd871089c","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8128-98da-d232525ecb5b"},"created_time":"2026-06-25T10:46:00.000Z","last_edited_time":"2026-06-25T10:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Column
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Column
      1","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"53b408a8-6222-41ef-b54d-51ac1378d61f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 53b408a8-6222-41ef-b54d-51ac1378d61f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8197-92ef-c6e1c4dad50a
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-8197-92ef-c6e1c4dad50a","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000005"},"created_time":"2026-06-25T10:47:00.000Z","last_edited_time":"2026-06-25T10:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null},"request_id":"a66a1496-ff56-44dc-b10e-8f6307264dfc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a66a1496-ff56-44dc-b10e-8f6307264dfc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8197-92ef-c6e1c4dad50a/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81ee-8548-fdb817ba3651","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8197-92ef-c6e1c4dad50a"},"created_time":"2026-06-25T10:47:00.000Z","last_edited_time":"2026-06-25T10:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is the original Paragraph on SubPage","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is the original Paragraph on SubPage","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"720157f6-4e1c-43b5-8dc4-7dff9aa31247"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 720157f6-4e1c-43b5-8dc4-7dff9aa31247
    status_code: 200
version: 1
