interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max text items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max text items"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d1fde811-4c6e-48ab-a19d-406bca31cb30","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:56:55.727+00:00","last_edited_time":"2026-06-27T05:56:55.727+00:00","data_sources":[{"id":"296049a8-92aa-46ab-aff2-bd8f0952bd1e","name":"Item
      DB for max text items"}],"icon":null,"cover":null,"url":"https://www.notion.so/d1fde8114c6e48aba19d406bca31cb30","public_url":null,"archived":false,"request_id":"b6c4442c-3a5a-4b16-89e6-960e92b4e24f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b6c4442c-3a5a-4b16-89e6-960e92b4e24f
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d1fde811-4c6e-48ab-a19d-406bca31cb30
  response:
    cont[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/296049a8-92aa-46ab-aff2-bd8f0952bd1e
  response:
    content: '{"object":"data_source","id":"296049a8-92aa-46ab-aff2-bd8f0952bd1e","cover":null,"icon":null,"created_time":"2026-06-27T05:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:56:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all items","href":null}],"is_inline":false,"properties":{"Description":{"id":"%3AHrq","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d1fde811-4c6e-48ab-a19d-406bca31cb30"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/d1fde8114c6e48aba19d406bca31cb30","public_url":null,"in_trash":false,"archived":false,"request_id":"a44452dc-5bb9-46cd-a786-4a23f82b252c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a44452dc-5bb9-46cd-a786-4a23f82b252c
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "296049a8-92aa-46ab-aff2-bd8f0952bd1e"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Who is the best programmer? ;-) ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Who is the best programmer? ;-) "}}, {"type": "mention", "plain_text": "@Adam
      Dangoor", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "mention": {"type":
      "user", "user": {"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}}},
      {"type": "text", "plain_text": ", ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      ", "}}, {"type": "mention", "plain_text": "@Adam Dangoor", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "mention": {"type": "user", "user": {"id": "00000[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/38c9ce7b-60a4-8106-82d4-d5236cec0bc9
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8106-82d4-d5236cec0bc9","created_time":"2026-06-27T05:56:00.000Z","last_edited_time":"2026-06-27T05:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"296049a8-92aa-46ab-aff2-bd8f0952bd1e","database_id":"d1fde811-4c6e-48ab-a19d-406bca31cb30"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Description":{"id":"%3AHrq","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Who
      is the best programmer? ;-) ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Who
      is the best programmer? ;-) ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Adam
      Dangoor","href":null},{"type":"text","text":{"content":", ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":",
      ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000[...]
