interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25ab24c9-ec4e-4ff1-b8d0-3204b449dfac/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"fd87f6d7-293c-4ff4-96c1-cb7897dedad9","parent":{"type":"page_id","page_id":"25ab24c9-ec4e-4ff1-b8d0-3204b449dfac"},"created_time":"2024-07-10T09:19:00.000Z","last_edited_time":"2025-09-02T13:09:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      are mentions: ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      are mentions: ","href":null},{"type":"mention","mention":{"type":"link_mention","link_mention":{"href":"https://trello.com/b/pZzHBhvf/ultimate-notion-tests","title":"trello.com"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"https://trello.com/b/pZzHBhvf/ultimate-notion-tests","href":"https://trello.com/b/pZzHBhvf/ultimate-notion-tests"},{"type":"text","text":{"content":"
      ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"
      ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Florian
      Wilhelm","href":null},{"type":"text","text":{"content":" ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"
      ","href":null},{"type":"mention","mention":{"type":"date","date":{"start":"2025-09-02","end":null,"time_zone":null}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"2025-09-02","href":null}],"color":"default"}},{"object":"block","id":"0c15edad-0295-45c1-aaea-74b8160efb0d","parent":{"type":"page_id","page_id":"25ab24c9-ec4e-4ff1-b8d0-3204b449dfac"},"created_time":"2024-07-10T09:20:00.000Z","last_edited_time":"2024-07-10T09:20:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"https://trello.com/c/PlgF3bbo/1-backlog-item-1","link":{"url":"https://trello.com/c/PlgF3bbo/1-backlog-item-1"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"https://trello.com/c/PlgF3bbo/1-backlog-item-1","href":"https://trello.com/c/PlgF3bbo/1-backlog-item-1"}],"color":"default"}},{"object":"block","id":"ca5e2430-13f1-492d-bdb4-3cb76ea075eb","parent":{"type":"page_id","page_id":"25ab24c9-ec4e-4ff1-b8d0-3204b449dfac"},"created_time":"2024-07-10T09:21:00.000Z","last_edited_time":"2024-07-10T09:21:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"link_preview","link_preview":{"url":"https://trello.com/c/PlgF3bbo/1-backlog-item-1"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"https://trello.com/c/PlgF3bbo/1-backlog-item-1","href":"https://trello.com/c/PlgF3bbo/1-backlog-item-1"}],"color":"default"}},{"object":"block","id":"932ec270-65d8-45f5-b3f4-2bb1ff7bae20","parent":{"type":"page_id","page_id":"25ab24c9-ec4e-4ff1-b8d0-3204b449dfac"},"created_time":"2024-07-10T09:21:00.000Z","last_[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/262974f3-b388-80fa-b00f-cded207e30eb
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"Database
      with ID 262974f3-b388-80fa-b00f-cded207e30eb does not contain any data sources
      accessible by this API bot.","request_id":"84cef7a7-751b-41f3-b2d1-4590b40fe87a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 84cef7a7-751b-41f3-b2d1-4590b40fe87a
    status_code: 400
version: 1
