interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "My new page with
      cover", "text": {"content": "My new page with cover"}, "type": "text"}], "type":
      "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fd3e84e8-0765-450c-bb50-9459a49bc88a","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fd3e84e80765450cbb509459a49bc88a","public_url":null,"request_id":"0f652ba2-60b9-4b3f-b273-d3df1d3b8698"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"cover": {"external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"},
      "type": "external"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/fd3e84e80765450cbb509459a49bc88a
  response:
    content: '{"object":"page","id":"fd3e84e8-0765-450c-bb50-9459a49bc88a","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fd3e84e80765450cbb509459a49bc88a","public_url":null,"request_id":"b4978f25-efdf-44cb-a120-ffd591ec1a25"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/fd3e84e8-0765-450c-bb50-9459a49bc88a
  response:
    content: '{"object":"page","id":"fd3e84e8-0765-450c-bb50-9459a49bc88a","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fd3e84e80765450cbb509459a49bc88a","public_url":null,"request_id":"8cbc9c1c-71e3-4ecd-ac2e-f93ff69367ef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/fd3e84e8-0765-450c-bb50-9459a49bc88a
  response:
    content: '{"object":"page","id":"fd3e84e8-0765-450c-bb50-9459a49bc88a","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fd3e84e80765450cbb509459a49bc88a","public_url":null,"request_id":"e7790f57-27d8-44a5-8bb7-a4b195e9592d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
