interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Option Page Props Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Status": {"type": "select",
      "select": {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress",
      "color": "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color":
      "green"}]}}, "Multi Status": {"type": "multi_select", "multi_select": {"options":
      [{"name": "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-816c-bad3-d10f0da62633","cover":null,"icon":null,"created_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:13:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Status":{"id":"lvqw","name":"Status","type":"select","select":{"options":[{"id":"79e0b2f2-3783-4dfe-bcf0-d99362a175e3","name":"Open","color":"gray","description":null},{"id":"1da29360-f2e8-4b15-b7f9-21d9dcc486b1","name":"In
      Progress","color":"blue","description":null},{"id":"76a6c213-0502-4a2c-9ccd-e119314711fb","name":"Blocked","color":"red","description":null},{"id":"a5f80e66-6020-4ce4-b716-ed8d69322c09","name":"Closed","color":"green","description":null}]}},"Multi
      Status":{"id":"zEi%3E","name":"Multi Status","type":"multi_select","multi_select":{"options":[{"id":"1cbffc50-dc5c-4d94-995a-03d45eebd252","name":"Option
      1","color":"default","description":null},{"id":"6a1924f6-e478-427e-8989-15204abc42d0","name":"Option
      2","color":"pink","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b388816cbad3d10f0da62633","public_url":null,"archived":false,"in_trash":false,"request_id":"e617c4fe-9a6b-4636-88ca-907ae270df48"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e617c4fe-9a6b-4636-88ca-907ae270df48
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-816c-bad3-d10f0da62633"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}, "Status": {"type": "select", "select": {"name": "Open"}}, "Multi
      Status": {"type": "multi_select", "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorizatio[...]
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/257974f3b38881adbd6fe0a854dde5e8
  response:
    content: '{"object":"page","id":"257974f3-b388-81ad-bd6f-e0a854dde5e8","created_time":"2025-08-22T07:13:00.000Z","last_edited_time":"2025-08-22[...]
[...]
