interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "Parent", "text":
      {"content": "Parent"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"47ae7543-cdab-46c4-bdc9-ba9e8b4a6ae8","created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-47ae7543cdab46c4bdc9ba9e8b4a6ae8","public_url":null,"request_id":"a1176e88-ae5d-4813-81e7-802486e59144"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/47ae7543-cdab-46c4-bdc9-ba9e8b4a6ae8/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"9f3e14e3-7e59-49cb-ad9b-b436d5c7aed2","parent":{"type":"page_id","page_id":"47ae7543-cdab-46c4-bdc9-ba9e8b4a6ae8"},"created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"d5180c9a-898f-4e73-bbd5-ff755498de66","parent":{"type":"page_id","page_id":"47ae7543-cdab-46c4-bdc9-ba9e8b4a6ae8"},"created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6a7e03a5-9859-41b9-94b1-af9a313dd5b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
