interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with cover", "text": {"content": "My new page with cover"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"644549bb-3be2-4b37-971e-31e334d98ea5","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-644549bb3be24b37971e31e334d98ea5","public_url":null,"request_id":"23cce49b-70f4-4e01-ac01-178ea25074ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37f-BTFNIybJ4+wpAVjOq8Qn0C9DxPY"
      x-notion-request-id:
      - 23cce49b-70f4-4e01-ac01-178ea25074ee
    status_code: 200
- request:
    body: '{"cover": {"type": "external", "external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/644549bb3be24b37971e31e334d98ea5
  response:
    content: '{"object":"page","id":"644549bb-3be2-4b37-971e-31e334d98ea5","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/644549bb-3be2-4b37-971e-31e334d98ea5
  response:
    content: '{"object":"page","id":"644549bb-3be2-4b37-971e-31e334d98ea5","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-644549bb3be24b37971e31e334d98ea5","public_url":null,"request_id":"ad5ad639-ac07-40a4-9943-ef7c7aec1bc1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3da-/T6UvQv0Z17ZdRE66BHzPi2YM7g"
      x-notion-request-id:
      - ad5ad639-ac07-40a4-9943-ef7c7aec1bc1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/644549bb-3be2-4b37-971e-31e334d98ea5
  response:
    content: '{"object":"page","id":"644549bb-3be2-4b37-971e-31e334d98ea5","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-644549bb3be24b37971e31e334d98ea5","public_url":null,"request_id":"6cc31a78-03b2-45de-9be6-8281efcd7cb5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37f-C4K8lzjQrBAeMlGp7BPzKR7JAPA"
      x-notion-request-id:
      - 6cc31a78-03b2-45de-9be6-8281efcd7cb5
    status_code: 200
version: 1
