interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-8129-b15f-c7ac252fcea3","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-10f974f3b3888129b15fc7ac252fcea3","public_url":null,"request_id":"0fb38b1d-222c-4d6d-bf2a-890c09fa3da6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0fb38b1d-222c-4d6d-bf2a-890c09fa3da6
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/10f974f3b388812f9267fe8285314642
  response:
    content: '{"object":"page","id":"10f974f3-b388-812f-9267-fe8285314642","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"10f974f3-b388-8129-b15f-c7ac252fcea3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-10f974f3b388812f9267fe8285314642","public_url":null,"request_id":"d1dbb270-bc22-445f-aa7e-f7d5fcd2e47b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d1dbb270-bc22-445f-aa7e-f7d5fcd2e47b
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/10f974f3b3888129b15fc7ac252fcea3
  response:
    content: '{"object":"page","id":"10f974f3-b388-8129-b15f-c7ac252fcea3","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-10f974f3b3888129b15fc7ac252fcea3","public_url":null,"request_id":"1507bea8-5e69-4c47-9d69-76dfb709735d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1507bea8-5e69-4c47-9d69-76dfb709735d
    status_code: 200
version: 1
