interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b03ace0e-6f64-4eeb-ba2f-5427869b6a85","created_time":"2024-08-21T17:22:00.000Z","last_edited_time":"2024-08-21T17:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b03ace0e6f644eebba2f5427869b6a85","public_url":null,"request_id":"f06d13f6-18e9-41f6-bef2-7a6415bf6e6b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f06d13f6-18e9-41f6-bef2-7a6415bf6e6b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/b03ace0e-6f64-4eeb-ba2f-5427869b6a85
  response:
    content: '{"object":"page","id":"b03ace0e-6f64-4eeb-ba2f-5427869b6a85","created_time":"2024-08-21T17:22:00.000Z","last_edited_time":"2024-08-21T17:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b03ace0e6f644eebba2f5427869b6a85","public_url":null,"request_id":"4efcdb24-5b3f-4d8d-ab69-7a40f2c77db2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4efcdb24-5b3f-4d8d-ab69-7a40f2c77db2
    status_code: 200
version: 1
