interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3d2c3026-d10c-4cb4-8fee-e8f70b972c44","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3d2c3026d10c4cb48feee8f70b972c44","public_url":null,"request_id":"947ce5ea-d743-4272-aa9f-3e44299f0362"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"properties": {"title": {"title": [{"plain_text": "My new title", "text":
      {"content": "My new title"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3d2c3026d10c4cb48feee8f70b972c44
  response:
    content: '{"object":"page","id":"3d2c3026-d10c-4cb4-8fee-e8f70b972c44","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-3d2c3026d10c4cb48feee8f70b972c44","public_url":null,"request_id":"42388763-335a-4ec0-8876-2775ba7c6df8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/3d2c3026-d10c-4cb4-8fee-e8f70b972c44
  response:
    content: '{"object":"page","id":"3d2c3026-d10c-4cb4-8fee-e8f70b972c44","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/3d2c3026d10c4cb48feee8f70b972c44","public_url":null,"request_id":"de704196-c202-4d61-8840-95b3b0d40fd3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
