interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "Parent", "text":
      {"content": "Parent"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ae44ae60-8906-47cf-9557-1f48e65de7cd","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-ae44ae60890647cf95571f48e65de7cd","public_url":null,"request_id":"e182e572-c809-477e-b559-5ddb04b715ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/ae44ae60-8906-47cf-9557-1f48e65de7cd/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b78d7db8-0274-49e8-a160-c653141fbbef","parent":{"type":"page_id","page_id":"ae44ae60-8906-47cf-9557-1f48e65de7cd"},"created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"0de9d6ed-b54b-4b75-b689-e21ca1e27866","parent":{"type":"page_id","page_id":"ae44ae60-8906-47cf-9557-1f48e65de7cd"},"created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"aed48cb2-4e7f-4847-8f68-e89b691cf9ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
