interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d521c83c-3608-4494-9060-8b39cf4fe06c","created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d521c83c3608449490608b39cf4fe06c","public_url":null,"request_id":"890a95a7-ec2f-4b84-acdb-79b6360e3971"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d521c83c3608449490608b39cf4fe06c
  response:
    content: '{"object":"page","id":"d521c83c-3608-4494-9060-8b39cf4fe06c","created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d521c83c3608449490608b39cf4fe06c","public_url":null,"request_id":"272fa054-f984-49f6-aa67-ef13534cd34f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d521c83c3608449490608b39cf4fe06c
  response:
    content: '{"object":"page","id":"d521c83c-3608-4494-9060-8b39cf4fe06c","created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d521c83c3608449490608b39cf4fe06c","public_url":null,"request_id":"aa004b18-46be-49d5-82ba-ab188ed21e3e"}'
    headers: {}
    status_code: 200
version: 1
