interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "Parent", "text":
      {"content": "Parent"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1d1e2f4b-e996-45ea-bb5f-9be1096a7c06","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-1d1e2f4be99645eabb5f9be1096a7c06","public_url":null,"request_id":"fc3bf69d-6e34-4802-944b-157814b263c0"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/1d1e2f4b-e996-45ea-bb5f-9be1096a7c06/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"5b1a31cf-ff11-47d3-a9a0-873da54a3362","parent":{"type":"page_id","page_id":"1d1e2f4b-e996-45ea-bb5f-9be1096a7c06"},"created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"239b7784-819f-4361-8af3-89696753368a","parent":{"type":"page_id","page_id":"1d1e2f4b-e996-45ea-bb5f-9be1096a7c06"},"created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7bc20a7b-a54f-40ea-b47c-048459a41a78"}'
    headers: {}
    status_code: 200
version: 1
