interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}, "Role": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ccde83ea-942b-4fb0-b4b0-b755199ff2c0","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:57:15.392+00:00","last_edited_time":"2026-06-27T05:57:15.392+00:00","data_sources":[{"id":"522e6455-b043-4723-b871-eb2586caecc2","name":"Contacts
      DB for low-level page update test"}],"icon":null,"cover":null,"url":"https://www.notion.so/ccde83ea942b4fb0b4b0b755199ff2c0","public_url":null,"archived":false,"request_id":"bbd5425f-9170-4e3e-98f8-d22f6af96351"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bbd5425f-9170-4e3e-98f8-d22f6af96351
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/522e6455-b043-4723-b871-eb2586caecc2
  response:
    content: '{"object":"data_source","id":"522e6455-b043-4723-b871-eb2586caecc2","cover":null,"icon":null,"created_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:57:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"Z%3AN%3C","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ccde83ea-942b-4fb0-b4b0-b755199ff2c0"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/ccde83ea942b4fb0b4b0b755199ff2c0","public_url":null,"in_trash":false,"archived":false,"request_id":"4ab42a86-288a-49f1-b559-c196183d1e9a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4ab42a86-288a-49f1-b559-c196183d1e9a
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "522e6455-b043-4723-b871-eb2586caecc2"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with properties", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page with properties"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8132-864e-f80a37e708b3","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"522e6455-b043-4723-b871-eb2586caecc2","database_id":"ccde83ea-942b-4fb0-b4b0-b755199ff2c0"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"Z%3AN%3C","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with properties","href":null}]}},"url":"https://www.notion.so/My-new-page-with-properties-38c9ce7b60a48132864ef80a37e708b3","public_url":null,"archived":false,"request_id":"1ed29970-34d8-4318-8d98-496230adaf80"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ed29970-34d8-4318-8d98-496230adaf80
    status_code: 200
- request:
    body: '{"properties":{"Name":{"type":"title","title":[{"type":"text","plain_text":"John
      Doe","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"John
      Doe"}}]},"Role":{"type":"rich_text","rich_text":[]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9c[...]
