interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fb4da7c8-b2a7-478e-b84a-7b134b6413fa","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/fb4da7c8b2a7478eb84a7b134b6413fa","public_url":null,"request_id":"c70eddc9-1261-4514-aafb-31b76c6e147e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/fb4da7c8-b2a7-478e-b84a-7b134b6413fa
  response:
    content: '{"object":"page","id":"fb4da7c8-b2a7-478e-b84a-7b134b6413fa","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/fb4da7c8b2a7478eb84a7b134b6413fa","public_url":null,"request_id":"ce650b62-c158-4a8a-9847-a0b65e3a6839"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
