interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "Parent", "text":
      {"content": "Parent"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4c675609-c27c-4513-a659-4e630c2a6ebd","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-4c675609c27c4513a6594e630c2a6ebd","public_url":null,"request_id":"f4df451e-e2ae-4008-82c6-815c620f660e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/4c675609-c27c-4513-a659-4e630c2a6ebd/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"22d126d2-a5ca-4e45-a19b-af13b72f5e86","parent":{"type":"page_id","page_id":"4c675609-c27c-4513-a659-4e630c2a6ebd"},"created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"bc27ef1f-ea7e-4458-b56b-a4b6478a6d0b","parent":{"type":"page_id","page_id":"4c675609-c27c-4513-a659-4e630c2a6ebd"},"created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"15968294-95e6-4b16-950c-d9faae2d645b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
