interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-819f-a694-f113602cbf7f","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/10f974f3b388819fa694f113602cbf7f","public_url":null,"request_id":"a3934df7-465a-4d15-8923-74a248646e89"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a3934df7-465a-4d15-8923-74a248646e89
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/10f974f3b388819fa694f113602cbf7f
  response:
    content: '{"object":"page","id":"10f974f3-b388-819f-a694-f113602cbf7f","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/10f974f3b388819fa694f113602cbf7f","public_url":null,"request_id":"4976b0b5-0390-4056-951a-60409249dfb9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4976b0b5-0390-4056-951a-60409249dfb9
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/10f974f3b388819fa694f113602cbf7f
  response:
    content: '{"object":"page","id":"10f974f3-b388-819f-a694-f113602cbf7f","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/10f974f3b388819fa694f113602cbf7f","public_url":null,"request_id":"365ca02e-5940-4503-ab99-a174a7b14600"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 365ca02e-5940-4503-ab99-a174a7b14600
    status_code: 200
version: 1
