interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-816d-acee-f89b198aa2c9","cover":null,"icon":null,"created_time":"2025-08-29T13:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:27:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"Bm%5Di","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b388816daceef89b198aa2c9","public_url":null,"archived":false,"in_trash":false,"request_id":"33afd608-0d39-4153-818c-a2406d9a211f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 33afd608-0d39-4153-818c-a2406d9a211f
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-816d-acee-f89b198aa2c9
  response:
    cont[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "database_id": "25e974f3-b388-816d-acee-f89b198aa2c9",
      "dual_property": {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-81c4-af59-d3344739a79d","cover":null,"icon":null,"created_time":"2025-08-29T13:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:27:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"XiBw","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"25e974f3-b388-816d-acee-f89b198aa2c9","data_source_id":"25e974f3-b388-8154-b891-000bbefba16a","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"%5COtb"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b38881c4af59d3344739a79d","public_url":null,"archived":false,"in_trash":false,"request_id":"fe171f1b-da5b-40eb-be05-096b3a5414e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fe171f1b-da5b-40eb-be05-096b3a5414e2
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-81c4-af59-d3344739a79d"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-8157-975c-cd6dff7c54c9","created_time":"2025-08-29T13:27:00.000Z","last_edited_time":"2025-08-29T13:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"25e974f3-b388-81c4-af59-d3344739a79d"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"XiBw","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-25e974f3b3888157975ccd6dff7c54c9","public_url":null,"request_id":"f5a41409-4c04-4328-81a1-29491bce686b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f5a41409-4c04-4328-81a1-29491bce686b
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/25e974f3-b388-8157-975c-cd6dff7c54c9
  response:
    content: '{"object":"page","id":"25e974f3-b388-8157-975c-cd6dff7c54c9","created_time":"2025-08-29T13:27:00.000Z","last_edited_time":"2025-08-29T13:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/25e974f3-b388-8157-975c-cd6dff7c54c9/properties/XiBw?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"XiBw","relation":{"id":"25e974f3-b388-8187-b766-ed3dbfd9617e"}},{"object":"property_item","type":"relation","id":"XiBw","relation":{"id":"25e974f3-b388-81f2-bcd7-e23d0d5fecc4"}},{"object":"property_item","type":"relation","id":"XiBw","relation":{"id":"25e974f3-b388-819e-bcd9-d69ad4f95323"}},{"object":"property_item","type":"relation","id":"XiBw","relation":{"id":"25e974f3-b388-8101-aecf-d1112b5b7a11"}},{"object":"property_item","type":"relation"[...]
