interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e3cf4c9d-b835-4784-80c1-45cee112e884","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e3cf4c9db835478480c145cee112e884","public_url":null,"request_id":"e27d21ba-81ee-4e85-a7c1-32913ef4d6b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-KDEo/YJhvPWswQ5jdUg2TWmj8TQ"
      x-notion-request-id:
      - e27d21ba-81ee-4e85-a7c1-32913ef4d6b1
    status_code: 200
- request:
    body: '{"properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new title", "text": {"content": "My new title"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e3cf4c9db835478480c145cee112e884
  response:
    content: '{"object":"page","id":"e3cf4c9d-b835-4784-80c1-45cee112e884","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-e3cf4c9db835478480c145cee112e884","public_url":null,"request_id":"0bf95d2b-f959-44dc-9e83-d12c1507097f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"361-/M9qR5AQMN+dvKzyzrpuNz22Avw"
      x-notion-request-id:
      - 0bf95d2b-f959-44dc-9e83-d12c1507097f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e3cf4c9d-b835-4784-80c1-45cee112e884
  response:
    content: '{"object":"page","id":"e3cf4c9d-b835-4784-80c1-45cee112e884","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e3cf4c9db835478480c145cee112e884","public_url":null,"request_id":"d96c66b6-1166-4e5c-86e7-1fe0ad2a05eb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-3nZCGjE8a1OXK4MJQBXeGJLJdTk"
      x-notion-request-id:
      - d96c66b6-1166-4e5c-86e7-1fe0ad2a05eb
    status_code: 200
version: 1
