interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6d004b92-def2-44bc-9e93-b7b8f9ceea6b","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6d004b92def244bc9e93b7b8f9ceea6b","public_url":null,"request_id":"bde82a5e-6c16-4a01-8813-a8eebfe83b93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6d004b92def244bc9e93b7b8f9ceea6b
  response:
    content: '{"object":"page","id":"6d004b92-def2-44bc-9e93-b7b8f9ceea6b","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6d004b92def244bc9e93b7b8f9ceea6b","public_url":null,"request_id":"4c004d9c-decf-4679-b2a3-89fecae6b07a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6d004b92def244bc9e93b7b8f9ceea6b
  response:
    content: '{"object":"page","id":"6d004b92-def2-44bc-9e93-b7b8f9ceea6b","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6d004b92def244bc9e93b7b8f9ceea6b","public_url":null,"request_id":"b4821d26-b10b-4d85-b9d3-f3b045490f15"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
