interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Price": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cc61ad43-f1c6-4763-8ca8-13e05f1ab48d","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:48:04.354+00:00","last_edited_time":"2026-06-24T18:48:04.354+00:00","data_sources":[{"id":"b4601671-1bf9-404d-80cd-20b0da47d54b","name":"Item
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/cc61ad43f1c647638ca813e05f1ab48d","public_url":null,"archived":false,"request_id":"44566614-9c1e-4f22-8e35-bc04f1bc0415"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44566614-9c1e-4f22-8e35-bc04f1bc0415
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/cc61ad43-f1c6-4763-8ca8-13e05f1ab48d
  response:
    cont[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b4601671-1bf9-404d-80cd-20b0da47d54b
  response:
    content: '{"object":"data_source","id":"b4601671-1bf9-404d-80cd-20b0da47d54b","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:48:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all items","href":null}],"is_inline":false,"properties":{"Price":{"id":"evzg","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"cc61ad43-f1c6-4763-8ca8-13e05f1ab48d"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/cc61ad43f1c647638ca813e05f1ab48d","public_url":null,"in_trash":false,"archived":false,"request_id":"ffd14464-2b39-4dbf-92cc-461790c07f1c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ffd14464-2b39-4dbf-92cc-461790c07f1c
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "b4601671-1bf9-404d-80cd-20b0da47d54b", "dual_property":
      {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"777ba4dc-b7f1-4cd8-8c39-c853572b82f5","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:48:08.150+00:00","last_edited_time":"2026-06-24T18:48:08.150+00:00","data_sources":[{"id":"ab70d537-9ef3-4db3-8305-0db4fbe509a4","name":"Customer
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/777ba4dcb7f14cd88c39c853572b82f5","public_url":null,"archived":false,"request_id":"d800d517-9ee3-496b-b941-1008d1ddf6a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d800d517-9ee3-496b-b941-1008d1ddf6a8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/ab70d537-9ef3-4db3-8305-0db4fbe509a4
  response:
    content: '{"object":"data_source","id":"ab70d537-9ef3-4db3-8305-0db4fbe509a4","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:48:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      for customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      for customers","href":null}],"is_inline":false,"properties":{"Items Purchased":{"id":"%60%7BUA","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"cc61ad43-f1c6-4763-8ca8-13e05f1ab48d","data_source_id":"b4601671-1bf9-404d-80cd-20b0da47d54b","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"%7DDyr"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"777ba4dc-b7f1-4cd8-8c39-c853572b82f5"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/777ba4dcb7f14cd88c39c853572b82f5","public_url":null,"in_trash":false,"archived":false,"request_id":"39c0b79c-9e3e-4f73-a9fa-cc6638a58724"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39c0b79c-9e3e-4f73-a9fa-cc6638a58724
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "ab70d537-9ef3-4db3-8305-0db4fbe509a4"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81aa-b48c-c022f1d9c9f0","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"ab70d537-9ef3-4db3-8305-0db4fbe509a4","database_id":"777ba4dc-b7f1-4cd8-8c39-c853572b82f5"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"%60%7BUA","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://app.notion.com/p/Customer-1-3899ce7b60a481aab48cc022f1d9c9f0","public_url":null,"archived":false,"request_id":"af66cee0-1b2b-465c-a111-d67775b600c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - af66cee0-1b2b-465c-a111-d67775b600c2
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-81aa-b48c-c022f1d9c9f0
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81aa-b48c-c022f1d9c9f0","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-81aa-b48c-c022f1d9c9f0/properties/%60%7BUA?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"%60%7BUA","relation":{"id":"3899ce7b-60a4-8185-a7dd-f8444301bf99"}},{"object":"property_item","type":"relation","id":"%60%7BUA","relation":{"id":"3899ce7b-60a4-8107-9eb8-cd0c157a17c9"}},{"object":"property_item","type":"relation","id":"%60%7BUA","relation":{"id":"3899ce7b-60a4-818b-9a05-e301e778dce0"}},{"object":"property_item","type":"relation","id":"%60%7BUA","relation":{"id":"3899ce7b-60a4-8117-a300-e4d7db0ec06f"}},{"object":"property_item","[...]
