interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"178ddf6e-f354-45f2-84f6-c676241afb64","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/178ddf6ef35445f284f6c676241afb64","public_url":null,"request_id":"301520e4-bfff-4378-8692-5267c223b6ab"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"title": {"title": [{"plain_text": "My new title", "text":
      {"content": "My new title"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/178ddf6ef35445f284f6c676241afb64
  response:
    content: '{"object":"page","id":"178ddf6e-f354-45f2-84f6-c676241afb64","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-178ddf6ef35445f284f6c676241afb64","public_url":null,"request_id":"a8231955-4732-4950-9bbc-3a95f975196c"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/178ddf6e-f354-45f2-84f6-c676241afb64
  response:
    content: '{"object":"page","id":"178ddf6e-f354-45f2-84f6-c676241afb64","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/178ddf6ef35445f284f6c676241afb64","public_url":null,"request_id":"f523792e-d1b7-4b16-84b9-fd3f5b660875"}'
    headers: {}
    status_code: 200
version: 1
