interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5145f939-5a07-4e5a-ba56-2e7849c2e9d3","created_time":"2023-12-24T22:15:00.000Z","last_edited_time":"2023-12-24T22:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5145f9395a074e5aba562e7849c2e9d3","public_url":null,"request_id":"ceb6cb6c-f962-4867-88fd-c10e02070d12"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5145f9395a074e5aba562e7849c2e9d3
  response:
    content: '{"object":"page","id":"5145f939-5a07-4e5a-ba56-2e7849c2e9d3","created_time":"2023-12-24T22:15:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5145f9395a074e5aba562e7849c2e9d3","public_url":null,"request_id":"c4625a52-7c06-4a82-92d8-1955dc6a1dd5"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5145f9395a074e5aba562e7849c2e9d3
  response:
    content: '{"object":"page","id":"5145f939-5a07-4e5a-ba56-2e7849c2e9d3","created_time":"2023-12-24T22:15:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/5145f9395a074e5aba562e7849c2e9d3","public_url":null,"request_id":"7b9d24a8-b48e-4cf9-855f-07b9065f8fec"}'
    headers: {}
    status_code: 200
version: 1
