interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8166-a864-d68da42d29ff","cover":null,"icon":null,"created_time":"2025-10-30T15:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:44:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"tjIY","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b3888166a864d68da42d29ff","public_url":null,"archived":false,"in_trash":false,"request_id":"3c88b4d4-2e6c-464b-922f-8d1309deddc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c88b4d4-2e6c-464b-922f-8d1309deddc0
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8166-a864-d68da42d29ff
  response:
    cont[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "database_id": "29c974f3-b388-8166-a864-d68da42d29ff",
      "dual_property": {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-81e7-87e3-e706b8c31e10","cover":null,"icon":null,"created_time":"2025-10-30T15:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:44:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"L%3C%3C%7C","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"29c974f3-b388-8166-a864-d68da42d29ff","data_source_id":"29c974f3-b388-8126-b0db-000bc3c2c1b5","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"iJpz"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881e787e3e706b8c31e10","public_url":null,"archived":false,"in_trash":false,"request_id":"d2540656-04ea-41a7-9341-b1e944ef6949"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d2540656-04ea-41a7-9341-b1e944ef6949
    status_code: 200
[...]
- request:
    body: '{"properties":{"iJpz":{"name":"Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-8166-a864-d68da42d29ff
  response:
    content: '{"object":"database","id":"29c974f3-b388-8166-a864-d68da42d29ff","cover":null,"icon":null,"created_time":"2025-10-30T15:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"la[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-81e7-87e3-e706b8c31e10"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-8188-ad7c-e41806708f6e","created_time":"2025-10-30T15:44:00.000Z","last_edited_time":"2025-10-30T15:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81e7-87e3-e706b8c31e10"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"L%3C%3C%7C","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-29c974f3b3888188ad7ce41806708f6e","public_url":null,"request_id":"6430c8e4-89d1-4624-af23-62872a3b4371"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6430c8e4-89d1-4624-af23-62872a3b4371
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/29c974f3-b388-8188-ad7c-e41806708f6e
  response:
    content: '{"object":"page","id":"29c974f3-b388-8188-ad7c-e41806708f6e","created_time":"2025-10-30T15:44:00.000Z","last_edited_time":"2025-10-30T15:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/29c974f3-b388-8188-ad7c-e41806708f6e/properties/L%3C%3C%7C?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"L%3C%3C%7C","relation":{"id":"29c974f3-b388-818f-9f4a-de7f5a9e20a5"}},{"object":"property_item","type":"relation","id":"L%3C%3C%7C","relation":{"id":"29c974f3-b388-8196-a582-d86faa1452cd"}},{"object":"property_item","type":"relation","id":"L%3C%3C%7C","relation":{"id":"29c974f3-b388-8102-a044-e5618c858a87"}},{"object":"property_item","type":"relation","id":"L%3C%3C%7C","relation":{"id":"29c974f3-b388-81d7-8ad9-f0a2f36df1a1"}},{"object":"property[...]
