interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Item DB for max relation
      items"}}], "properties": {"Name": {"type": "title", "title": {}}, "Price": {"type":
      "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"124974f3-b388-81d6-84de-c83f30cf4bad","cover":null,"icon":null,"created_time":"2024-10-19T07:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-19T07:43:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"uFkj","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/124974f3b38881d684dec83f30cf4bad","public_url":null,"archived":false,"in_trash":false,"request_id":"0cec146a-0d67-43c7-956c-62d8928341bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0cec146a-0d67-43c7-956c-62d8928341bf
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/124974f[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Customer DB
      for max relation items"}}], "properties": {"Name": {"type": "title", "title":
      {}}, "Items Purchased": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "124974f3-b388-81d6-84de-c83f30cf4bad", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"124974f3-b388-8130-a240-cc9a75fb6747","cover":null,"icon":null,"created_time":"2024-10-19T07:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-19T07:43:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"nUHl","name":"Items Purchased","type":"relation","relation":{"database_id":"124974f3-b388-81d6-84de-c83f30cf4bad","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"Fp%3Fl"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/124974f3b3888130a240cc9a75fb6747","public_url":null,"archived":false,"in_trash":false,"request_id":"9d1adaec-a6e8-4e31-8954-c4b6592e1e51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9d1adaec-a6e8-4e31-8954-c4b6592e1e51
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "124974f3-b388-8130-a240-cc9a75fb6747"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"124974f3-b388-8101-b640-fe92fd7d8e7f","created_time":"2024-10-19T07:43:00.000Z","last_edited_time":"2024-10-19T07:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"124974f3-b388-8130-a240-cc9a75fb6747"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"nUHl","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-124974f3b3888101b640fe92fd7d8e7f","public_url":null,"request_id":"436e77b8-25ed-4cdf-9295-5cdf27e0ca29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 436e77b8-25ed-4cdf-9295-5cdf27e0ca29
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/124974f3-b388-8101-b640-fe92fd7d8e7f
  response:
    content: '{"object":"page","id":"124974f3-b388-8101-b640-fe92fd7d8e7f","created_time":"2024-10-19T07:43:00.000Z","last_edited_time":"2024-10-19T07:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/124974f3-b388-8101-b640-fe92fd7d8e7f/properties/nUHl?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"nUHl","relation":{"id":"124974f3-b388-81dd-bc41-dd5610b7dc0c"}},{"object":"property_item","type":"relation","id":"nUHl","relation":{"id":"124974f3-b388-8138-9df2-d30973383976"}},{"object":"property_item","type":"relation","id":"nUHl","relation":{"id":"124974f3-b388-8180-93df-d6a0df26f1b5"}},{"object":"property_item","type":"relation","id":"nUHl","relation":{"id":"124974f3-b388-8116-b02e-c04c93e5d20a"}},{"object":"property_item","type":"relation"[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/124974f3-b388-81fd-a545-d6d9083896c3
  response:
    content: '{"object":"page","id":"124974f3-b388-81fd-a545-d6d9083896c3","created_time":"2024-10-19T07:44:00.000Z","last_edited_time":"2024-10-19T07:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"124974f3-b388-81d6-84de-c83f30cf4bad"},"archived":false,"in_trash":false,"properties":{"Bought
      by":{"id":"Fp%3Fl","type":"relation","relation":[{"id":"124974f3-b388-8101-b640-fe92fd7d8e7f"}],"has_more":false},"Price":{"id":"uFkj","type":"number","number":300},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      30","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      30","href":null}]}},"url":"https://www.notion.so/Item-30-124974f3b38881fda545d6d9083896c3","public_url":null,"request_id":"e7a5e4b6-5b13-4e76-8006-2411ab82065f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e7a5e4b6-5b13-4e76-8006-2411ab82065f
    status_code: 200
version: 1
