interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"5d273b40-c7a7-4325-adf1-11e7d6350315"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-CIbb/EEmlMfsVPC1dEuSP69CrxQ"
      x-notion-request-id:
      - 5d273b40-c7a7-4325-adf1-11e7d6350315
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"32fa826c-0233-46ee-92e1-5e0602250be6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2d5-7YSnPXJVyhKPEBTkskHGKWcOQ0A"
      x-notion-request-id:
      - 32fa826c-0233-46ee-92e1-5e0602250be6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/b10cb6df-12ef-44d3-88ad-250168f66322
  response:
    content: '{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"},"request_id":"c4eae9ff-5911-4165-ac28-15f85aac50e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"131-FM7Zf2K11q/HOeKyzfWc1mf6tTc"
      x-notion-request-id:
      - c4eae9ff-5911-4165-ac28-15f85aac50e2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/645e79dd-3e43-40de-9d51-39357c1c427f
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"ebf51039-20dd-4ed9-8666-696ada0942cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-bi/VpGqfDQhHsAhrfgUQLnOlmLM"
      x-notion-request-id:
      - ebf51039-20dd-4ed9-8666-696ada0942cc
    status_code: 200
version: 1
