interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000006/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3839ce7b-60a4-8187-b9ba-e569f1a27274","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://ultimate-notion.com/"},"archived":false},{"object":"block","id":"3839ce7b-60a4-8133-aeb9-e21c3ae42d4c","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"bookmark","bookmark":{"caption":[],"url":"https://ultimate-notion.com/"},"archived":false},{"object":"block","id":"3839ce7b-60a4-81dd-ab55-c36af433caea","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Inline
      link: https://ultimate-notion.com/","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Inline
      link: https://ultimate-notion.com/","href":null}],"icon":null,"color":"default"},"archived":false},{"object":"block","id":"38a9ce7b-60a4-80bb-9675-f9411476bb24","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-25T10:31:00.000Z","last_edited_time":"2026-06-25T10:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"Untitled"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8ea4255b-4227-4430-99c5-389f1583487a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ea4255b-4227-4430-99c5-389f1583487a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-80bb-9675-f9411476bb24
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"Database
      with ID 38a9ce7b-60a4-80bb-9675-f9411476bb24 does not contain any data sources
      accessible by this API bot.","request_id":"44037412-c4d9-40b9-805e-3495922cb354"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44037412-c4d9-40b9-805e-3495922cb354
    status_code: 400
version: 1
