interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7f7a1b9e-d349-4a46-84a5-9eeb10d9fe1d","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7f7a1b9ed3494a4684a59eeb10d9fe1d","public_url":null,"request_id":"d1efa14d-bd9e-4b60-8a75-25998d26c68a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-dKRBRAo91S3QlWr05xDXv20LgGQ"
      x-notion-request-id:
      - d1efa14d-bd9e-4b60-8a75-25998d26c68a
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7f7a1b9ed3494a4684a59eeb10d9fe1d
  response:
    content: '{"object":"page","id":"7f7a1b9e-d349-4a46-84a5-9eeb10d9fe1d","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7f7a1b9ed3494a4684a59eeb10d9fe1d","public_url":null,"request_id":"05453a15-a92b-4459-a534-bcaa9ead1e57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27a-jb/CZTMMJTmQXw9kkXFGkoxGsTs"
      x-notion-request-id:
      - 05453a15-a92b-4459-a534-bcaa9ead1e57
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7f7a1b9ed3494a4684a59eeb10d9fe1d
  response:
    content: '{"object":"page","id":"7f7a1b9e-d349-4a46-84a5-9eeb10d9fe1d","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7f7a1b9ed3494a4684a59eeb10d9fe1d","public_url":null,"request_id":"3011cb38-4a81-4190-89ee-649ba3403515"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-iRhV6D/yPXsgEWndyRHFskg1eIc"
      x-notion-request-id:
      - 3011cb38-4a81-4190-89ee-649ba3403515
    status_code: 200
version: 1
