interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-814a-9cd7-d775854fab07","created_time":"2025-08-29T13:27:00.000Z","last_edited_time":"2025-08-29T13:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-25e974f3b388814a9cd7d775854fab07","public_url":null,"request_id":"8c928392-a041-4366-a86d-37c2362f7237"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8c928392-a041-4366-a86d-37c2362f7237
    status_code: 200
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/25e974f3b3888188b95ce4d0d35dcc8e
  response:
    content: '{"object":"page","id":"25e974f3-b388-8188-b95c-e4d0d35dcc8e","created_time":"2025-08-29T13:27:00.000Z","last_edited_time":"2025-08-29T13:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"25e974f3-b388-814a-9cd7-d775854fab07"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-25e974f3b3888188b95ce4d0d35dcc8e","public_url":null,"request_id":"46bee97f-71a5-4662-bfbe-bcd4d21c097b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 46bee97f-71a5-4662-bfbe-bcd4d21c097b
    status_code: 200
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/25e974f3b388814a9cd7d775854fab07
  response:
    content: '{"object":"page","id":"25e974f3-b388-814a-9cd7-d775854fab07","created_time":"2025-08-29T13:27:00.000Z","last_edited_time":"2025-08-29T13:27:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-25e974f3b388814a9cd7d775854fab07","public_url":null,"request_id":"4aef6fde-937a-4337-a61e-9105fb499736"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4aef6fde-937a-4337-a61e-9105fb499736
    status_code: 200
version: 1
