interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"10f974f3-b388-81ac-89c3-cae3eccf2356","cover":null,"icon":null,"created_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-09-28T13:45:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"gu%5Cq","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/10f974f3b38881ac89c3cae3eccf2356","public_url":null,"archived":false,"in_trash":false,"request_id":"d414bf20-730b-4acd-8545-a496d2a3822b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d414bf20-730b-4acd-8545-a496d2a3822b
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Parent DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Parent DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/10f974f3-b388-81ac-89c3-cae3eccf2356
  response:
    content: '{"object":"database","id":"10f974f3-b388-81ac-89c3-cae3eccf2356","cover":null,"icon":null,"created_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-09-28T13:45:00.000Z","title":[{"type":"text","text":{"content":"Parent
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"gu%5Cq","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/10f974f3b38881ac89c3cae3eccf2356","public_url":null,"archived":false,"in_trash":false,"request_id":"2d660506-a162-4b56-a79a-27b1a00d6e39"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2d660506-a162-4b56-a79a-27b1a00d6e39
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "10f974f3-b388-81ac-89c3-cae3eccf2356"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-8119-8b8e-c97c553f8679","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"10f974f3-b388-81ac-89c3-cae3eccf2356"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"gu%5Cq","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/10f974f3b38881198b8ec97c553f8679","public_url":null,"request_id":"b03ee6e7-0b80-4732-9dc4-54eadbd4440e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b03ee6e7-0b80-4732-9dc4-54eadbd4440e
    status_code: 200
[...]
