interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with icon", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "My new page with icon"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6e83de1e-753f-4b9d-9c24-381365841342","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-6e83de1e753f4b9d9c24381365841342","public_url":null,"request_id":"ab59d619-4da5-4d38-8ce7-2693754f1abb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab59d619-4da5-4d38-8ce7-2693754f1abb
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6e83de1e753f4b9d9c24381365841342
  response:
    content: "{\"object\":\"page\",\"id\":\"6e83de1e-753f-4b9d-9c24-381365841342\",\"created_time\":\"2024-08-21T17:23:00.000Z\",\"last_edited_time\":\"2024-08-21T17:23:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43[...]
[...]
- request:
    body: '{"icon": {"type": "external", "external": {"url": "https://www.notion.so/icons/snake_purple.svg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6e83de1e753f4b9d9c24381365841342
  response:
    content: '{"object":"page","id":"6e83de1e-753f-4b9d-9c24-381365841342","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-6e83de1e753f4b9d9c24381365841342","public_url":null,"request_id":"cee1fb63-2caf-42e4-b228-9ccddab391a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cee1fb63-2caf-42e4-b228-9ccddab391a0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/6e83de1e-753f-4b9d-9c24-381365841342
  response:
    content: '{"object":"page","id":"6e83de1e-753f-4b9d-9c24-381365841342","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-6e83de1e753f4b9d9c24381365841342","public_url":null,"request_id":"c28808bf-6a9c-439a-800d-6355abf51892"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c28808bf-6a9c-439a-800d-6355abf51892
    status_code: 200
version: 1
