interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8037f2b0-4af0-4819-92eb-a73646b45627","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:48:00.454+00:00","last_edited_time":"2026-06-24T18:48:00.454+00:00","data_sources":[{"id":"6e9810ad-a4c6-4399-ad49-63f1698ac0ec","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/8037f2b04af0481992eba73646b45627","public_url":null,"archived":false,"request_id":"6c2f4a4a-19ac-4170-a11e-d0d1a9cf41d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c2f4a4a-19ac-4170-a11e-d0d1a9cf41d8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/6e9810ad-a4c6-4399-ad49-63f1698ac0ec
  response:
    content: '{"object":"data_source","id":"6e9810ad-a4c6-4399-ad49-63f1698ac0ec","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:48:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"8037f2b0-4af0-4819-92eb-a73646b45627"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/8037f2b04af0481992eba73646b45627","public_url":null,"in_trash":false,"archived":false,"request_id":"fd0e158d-7100-453d-8e5a-f1335df78257"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd0e158d-7100-453d-8e5a-f1335df78257
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "6e9810ad-a4c6-4399-ad49-63f1698ac0ec"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8158-9f4f-e3a987c595ff","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"6e9810ad-a4c6-4399-ad49-63f1698ac0ec","database_id":"8037f2b0-4af0-4819-92eb-a73646b45627"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a481589f4fe3a987c595ff","public_url":null,"archived":false,"request_id":"a823d71f-7215-470e-853f-b9e8990f25c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a823d71f-7215-470e-853f-b9e8990f25c4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"a5e142a9-ce08-4e40-82a3-f298ec249bb8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a5e142a9-ce08-4e40-82a3-f298ec249bb8
    status_code: 200
version: 1
