interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Item DB for max relation
      items"}}], "properties": {"Name": {"type": "title", "title": {}}, "Price": {"type":
      "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-81ec-8a16-c80201aef1a9","cover":null,"icon":null,"created_time":"2025-06-23T13:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:34:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"Z~QR","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b38881ec8a16c80201aef1a9","public_url":null,"archived":false,"in_trash":false,"request_id":"58081083-2bbd-4c65-900e-22b95264f241"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 58081083-2bbd-4c65-900e-22b95264f241
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Customer DB
      for max relation items"}}], "properties": {"Name": {"type": "title", "title":
      {}}, "Items Purchased": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "21b974f3-b388-81ec-8a16-c80201aef1a9", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-81b4-848e-d36904ad30d3","cover":null,"icon":null,"created_time":"2025-06-23T13:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:34:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"KCcw","name":"Items Purchased","type":"relation","relation":{"database_id":"21b974f3-b388-81ec-8a16-c80201aef1a9","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"BpSe"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b38881b4848ed36904ad30d3","public_url":null,"archived":false,"in_trash":false,"request_id":"d7661ffd-45f9-45b5-9d61-ceab225f4a7c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d7661ffd-45f9-45b5-9d61-ceab225f4a7c
    status_code: 200
[...]
- request:
    body: '{"properties": {"BpSe": {"name": "Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/21b974f3-b388-81ec-8a16-c80201aef1a9
  response:
    content: '{"object":"database","id":"21b974f3-b388-81ec-8a16-c80201aef1a9","cover":null,"icon":null,"created_time":"2025-06-23T13:34:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-81b4-848e-d36904ad30d3"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-8177-b158-ee4235a79c70","created_time":"2025-06-23T13:35:00.000Z","last_edited_time":"2025-06-23T13:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"21b974f3-b388-81b4-848e-d36904ad30d3"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"KCcw","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-21b974f3b3888177b158ee4235a79c70","public_url":null,"request_id":"10ee4dcf-add3-4f96-80a8-939c855e3415"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 10ee4dcf-add3-4f96-80a8-939c855e3415
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/21b974f3-b388-8177-b158-ee4235a79c70
  response:
    content: '{"object":"page","id":"21b974f3-b388-8177-b158-ee4235a79c70","created_time":"2025-06-23T13:35:00.000Z","last_edited_time":"2025-06-23T13:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/21b974f3-b388-8177-b158-ee4235a79c70/properties/KCcw?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"KCcw","relation":{"id":"21b974f3-b388-81bc-b0b3-cec41313b449"}},{"object":"property_item","type":"relation","id":"KCcw","relation":{"id":"21b974f3-b388-811a-8030-ebfd62284181"}},{"object":"property_item","type":"relation","id":"KCcw","relation":{"id":"21b974f3-b388-815c-b088-cd6a19a21bbc"}},{"object":"property_item","type":"relation","id":"KCcw","relation":{"id":"21b974f3-b388-813e-ab37-e27337c95c69"}},{"object":"property_item","type":"relation"[...]
