interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}, "Role": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0634098d-8682-4272-92e5-d3b67759b538","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:00:44.080+00:00","last_edited_time":"2026-06-27T17:00:44.080+00:00","data_sources":[{"id":"f4a79a92-5aad-4a1d-9067-47d0e6d96f61","name":"Contacts
      DB for low-level page update test"}],"icon":null,"cover":null,"url":"https://www.notion.so/0634098d8682427292e5d3b67759b538","public_url":null,"request_id":"be872c00-34a5-440d-8e8d-6bdcee581f0c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be872c00-34a5-440d-8e8d-6bdcee581f0c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f4a79a92-5aad-4a1d-9067-47d0e6d96f61
  response:
    content: '{"object":"data_source","id":"f4a79a92-5aad-4a1d-9067-47d0e6d96f61","cover":null,"icon":null,"created_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:00:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"pRQs","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"0634098d-8682-4272-92e5-d3b67759b538"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/0634098d8682427292e5d3b67759b538","public_url":null,"in_trash":false,"request_id":"4900ccc4-9b85-480c-b6ab-db3e8ea7deec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4900ccc4-9b85-480c-b6ab-db3e8ea7deec
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "f4a79a92-5aad-4a1d-9067-47d0e6d96f61"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with properties", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page with properties"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81cc-a548-eaf627b9d2c1","created_time":"2026-06-27T17:00:00.000Z","last_edited_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"f4a79a92-5aad-4a1d-9067-47d0e6d96f61","database_id":"0634098d-8682-4272-92e5-d3b67759b538"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"pRQs","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with properties","href":null}]}},"url":"https://www.notion.so/My-new-page-with-properties-38c9ce7b60a481cca548eaf627b9d2c1","public_url":null,"request_id":"07449c9c-728c-4cc8-a856-6bf343b75b29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 07449c9c-728c-4cc8-a856-6bf343b75b29
    status_code: 200
- request:
    body: '{"properties":{"Name":{"type":"title","title":[{"type":"text","plain_text":"John
      Doe","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"John
      Doe"}}]},"Role":{"type":"rich_text","rich_text":[]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9c[...]
