interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Option Page Props Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Status": {"type": "select",
      "select": {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress",
      "color": "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color":
      "green"}]}}, "Multi Status": {"type": "multi_select", "multi_select": {"options":
      [{"name": "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-8168-9dd5-c48946564eca","cover":null,"icon":null,"created_time":"2025-06-23T13:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:35:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"Hv%60u","name":"Multi Status","type":"multi_select","multi_select":{"options":[{"id":"cd96012b-eb5a-4194-bf11-9b49e0369222","name":"Option
      1","color":"default","description":null},{"id":"ba2396e1-0563-456c-b1b4-d409e97a5ee9","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"W%3EcW","name":"Status","type":"select","select":{"options":[{"id":"da4f5eeb-17ab-4a52-90d4-f3761dcfa381","name":"Open","color":"gray","description":null},{"id":"a6156fee-7b10-4ca9-bb47-a876fcdd4842","name":"In
      Progress","color":"blue","description":null},{"id":"fcb2f0cd-4876-4c4c-a416-f5c561fc6417","name":"Blocked","color":"red","description":null},{"id":"49469d17-0e68-45dc-a320-985492407191","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/21b974f3b38881689dd5c48946564eca","public_url":null,"archived":false,"in_trash":false,"request_id":"8746899b-5857-4863-bd4b-8fc53a7fb9c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8746899b-5857-4863-bd4b-8fc53a7fb9c6
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing option
      page props", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Schema for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.n[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "21b974f3-b388-8168-9dd5-c48946564eca"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}, "Status": {"type": "select", "select": {"name": "Open"}}, "Multi
      Status": {"type": "multi_select", "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorizatio[...]
[...]
- request:
    body: '{"properties": {"Status": {"type": "select", "select": {"name": "Blocked",
      "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/21b974f3b3888157b7cbd7116e1c9180
  response:
    content: '{"object":"page","id":"21b974f3-b388-8157-b7cb-d7116e1c9180","created_time":"2025-06-23T13:35:00.000Z","last_edited_tim[...]
[...]
