interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-815f-890c-cd04a98715e5","cover":null,"icon":null,"created_time":"2026-06-25T14:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:32:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"rM%5CF","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4815f890ccd04a98715e5","public_url":null,"in_trash":false,"archived":false,"request_id":"a54d1276-79cb-49b9-8e99-2c9e27b11d3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a54d1276-79cb-49b9-8e99-2c9e27b11d3e
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-815f-890c-cd04a98715e5
  response:
    cont[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "database_id": "38a9ce7b-60a4-815f-890c-cd04a98715e5",
      "dual_property": {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-812d-881b-d4d15d47d35a","cover":null,"icon":null,"created_time":"2026-06-25T14:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:32:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"%3Fano","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"38a9ce7b-60a4-815f-890c-cd04a98715e5","data_source_id":"38a9ce7b-60a4-8194-90f3-000b4264a767","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"ytaM"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a4812d881bd4d15d47d35a","public_url":null,"in_trash":false,"archived":false,"request_id":"b535411b-6799-4b24-bf2c-e5ebcc304f6c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b535411b-6799-4b24-bf2c-e5ebcc304f6c
    status_code: 200
[...]
- request:
    body: '{"properties":{"ytaM":{"name":"Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-815f-890c-cd04a98715e5
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-815f-890c-cd04a98715e5","cover":null,"icon":null,"created_time":"2026-06-25T14:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"la[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-812d-881b-d4d15d47d35a"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8156-8fc5-ffae8987ad77","created_time":"2026-06-25T14:33:00.000Z","last_edited_time":"2026-06-25T14:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-812d-881b-d4d15d47d35a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"%3Fano","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-38a9ce7b60a481568fc5ffae8987ad77","public_url":null,"archived":false,"request_id":"8b5b5824-5658-4295-8b5b-4798843941ff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8b5b5824-5658-4295-8b5b-4798843941ff
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38a9ce7b-60a4-8156-8fc5-ffae8987ad77
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8156-8fc5-ffae8987ad77","created_time":"2026-06-25T14:33:00.000Z","last_edited_time":"2026-06-25T14:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38a9ce7b-60a4-8156-8fc5-ffae8987ad77/properties/%3Fano?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"%3Fano","relation":{"id":"38a9ce7b-60a4-81dd-aa5c-fc2f61e1e5e1"}},{"object":"property_item","type":"relation","id":"%3Fano","relation":{"id":"38a9ce7b-60a4-8195-a1c8-c4f205823b52"}},{"object":"property_item","type":"relation","id":"%3Fano","relation":{"id":"38a9ce7b-60a4-81e3-95f1-e6a0e4c8806c"}},{"object":"property_item","type":"relation","id":"%3Fano","relation":{"id":"38a9ce7b-60a4-816e-8ba8-cb8add7d7e9c"}},{"object":"property_item","type":"r[...]
