interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b23ab8f1-1d16-4438-837d-05a649c9d1fd","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b23ab8f11d164438837d05a649c9d1fd","public_url":null,"request_id":"b4d6be80-150d-4662-a448-606cf89c25bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b4d6be80-150d-4662-a448-606cf89c25bd
    status_code: 200
- request:
    body: '{"properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new title", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "My new title"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/b23ab8f11d164438837d05a649c9d1fd
  response:
    content: '{"object":"page","id":"b23ab8f1-1d16-4438-837d-05a649c9d1fd","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-b23ab8f11d164438837d05a649c9d1fd","public_url":null,"request_id":"f0d8f1c4-1c1d-4bf6-bb24-91bb0ed0b10d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f0d8f1c4-1c1d-4bf6-bb24-91bb0ed0b10d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/b23ab8f1-1d16-4438-837d-05a649c9d1fd
  response:
    content: '{"object":"page","id":"b23ab8f1-1d16-4438-837d-05a649c9d1fd","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b23ab8f11d164438837d05a649c9d1fd","public_url":null,"request_id":"182dbb3f-cb95-428c-bd68-3b20beee40fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 182dbb3f-cb95-428c-bd68-3b20beee40fe
    status_code: 200
version: 1
