interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Price": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"494d95ef-9be9-41f8-8361-97f035cbd158","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:56:25.972+00:00","last_edited_time":"2026-06-27T05:56:25.972+00:00","data_sources":[{"id":"25af4dc6-7a71-4777-91a4-6e6fcabb9395","name":"Item
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://www.notion.so/494d95ef9be941f8836197f035cbd158","public_url":null,"archived":false,"request_id":"b70bdd92-3db5-4a0d-bab8-845135c34d7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b70bdd92-3db5-4a0d-bab8-845135c34d7b
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/494d95ef-9be9-41f8-8361-97f035cbd158
  response:
    cont[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/25af4dc6-7a71-4777-91a4-6e6fcabb9395
  response:
    content: '{"object":"data_source","id":"25af4dc6-7a71-4777-91a4-6e6fcabb9395","cover":null,"icon":null,"created_time":"2026-06-27T05:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:56:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all items","href":null}],"is_inline":false,"properties":{"Price":{"id":"o%3FIq","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"494d95ef-9be9-41f8-8361-97f035cbd158"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/494d95ef9be941f8836197f035cbd158","public_url":null,"in_trash":false,"archived":false,"request_id":"ef0281d6-ecef-4b1c-a5aa-92f96f13ceac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ef0281d6-ecef-4b1c-a5aa-92f96f13ceac
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "25af4dc6-7a71-4777-91a4-6e6fcabb9395", "dual_property":
      {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6fd3a0ab-3e4d-47b7-a720-dec3ef72427b","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:56:28.165+00:00","last_edited_time":"2026-06-27T05:56:28.165+00:00","data_sources":[{"id":"c5201abf-d4c1-4e82-b620-6ee6d2e60a47","name":"Customer
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://www.notion.so/6fd3a0ab3e4d47b7a720dec3ef72427b","public_url":null,"archived":false,"request_id":"d8b54d00-c5c1-4a1d-b5ae-54fc82523d0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d8b54d00-c5c1-4a1d-b5ae-54fc82523d0d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c5201abf-d4c1-4e82-b620-6ee6d2e60a47
  response:
    content: '{"object":"data_source","id":"c5201abf-d4c1-4e82-b620-6ee6d2e60a47","cover":null,"icon":null,"created_time":"2026-06-27T05:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:56:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      for customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      for customers","href":null}],"is_inline":false,"properties":{"Items Purchased":{"id":"%3Djxv","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"494d95ef-9be9-41f8-8361-97f035cbd158","data_source_id":"25af4dc6-7a71-4777-91a4-6e6fcabb9395","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"UC%7CA"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6fd3a0ab-3e4d-47b7-a720-dec3ef72427b"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/6fd3a0ab3e4d47b7a720dec3ef72427b","public_url":null,"in_trash":false,"archived":false,"request_id":"0f13f74b-5d0f-45e1-a5ca-91fac9c47258"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0f13f74b-5d0f-45e1-a5ca-91fac9c47258
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "c5201abf-d4c1-4e82-b620-6ee6d2e60a47"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8134-8e39-d6d37f1fd214","created_time":"2026-06-27T05:56:00.000Z","last_edited_time":"2026-06-27T05:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"c5201abf-d4c1-4e82-b620-6ee6d2e60a47","database_id":"6fd3a0ab-3e4d-47b7-a720-dec3ef72427b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"%3Djxv","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-38c9ce7b60a481348e39d6d37f1fd214","public_url":null,"archived":false,"request_id":"5df66cfe-a9e7-49f7-82d5-d6aacd81c529"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5df66cfe-a9e7-49f7-82d5-d6aacd81c529
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/38c9ce7b-60a4-8134-8e39-d6d37f1fd214
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8134-8e39-d6d37f1fd214","created_time":"2026-06-27T05:56:00.000Z","last_edited_time":"2026-06-27T05:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/38c9ce7b-60a4-8134-8e39-d6d37f1fd214/properties/%3Djxv?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"%3Djxv","relation":{"id":"38c9ce7b-60a4-8138-b1f5-dafa86dfa1cc"}},{"object":"property_item","type":"relation","id":"%3Djxv","relation":{"id":"38c9ce7b-60a4-8127-be54-ea0da002f73c"}},{"object":"property_item","type":"relation","id":"%3Djxv","relation":{"id":"38c9ce7b-60a4-811f-9ed7-d216b1af35bf"}},{"object":"property_item","type":"relation","id":"%3Djxv","relation":{"id":"38c9ce7b-60a4-8128-aea2-d8573bf5f13d"}},{"object":"property_item","type":"r[...]
