interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"63365e74-0dd1-4681-b6f9-f953a3159534","created_time":"2023-12-24T13:11:00.000Z","last_edited_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/63365e740dd14681b6f9f953a3159534","public_url":null,"request_id":"bb31ab46-459e-4a0f-a33b-948ac7f50055"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"title": {"title": [{"plain_text": "My new title", "text":
      {"content": "My new title"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/63365e740dd14681b6f9f953a3159534
  response:
    content: '{"object":"page","id":"63365e74-0dd1-4681-b6f9-f953a3159534","created_time":"2023-12-24T13:11:00.000Z","last_edited_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-63365e740dd14681b6f9f953a3159534","public_url":null,"request_id":"8b579d7c-bbe1-483d-bef7-e3be278b23c5"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/63365e74-0dd1-4681-b6f9-f953a3159534
  response:
    content: '{"object":"page","id":"63365e74-0dd1-4681-b6f9-f953a3159534","created_time":"2023-12-24T13:11:00.000Z","last_edited_time":"2023-12-24T13:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/63365e740dd14681b6f9f953a3159534","public_url":null,"request_id":"c8c38cdb-53bb-41a8-a30e-88893f4db778"}'
    headers: {}
    status_code: 200
version: 1
