interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81c4-9a85-d1ab0ed85ffd","cover":null,"icon":null,"created_time":"2025-09-22T09:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:18:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"_aJW","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881c49a85d1ab0ed85ffd","public_url":null,"archived":false,"in_trash":false,"request_id":"245e9855-2a9b-43ef-bfe5-43a91e8b2730"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 245e9855-2a9b-43ef-bfe5-43a91e8b2730
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81c4-9a85-d1ab0ed85ffd
  response:
    cont[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "database_id": "276974f3-b388-81c4-9a85-d1ab0ed85ffd",
      "dual_property": {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81c8-9d85-c2f1e326d5c9","cover":null,"icon":null,"created_time":"2025-09-22T09:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:18:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"re%5D_","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"276974f3-b388-81c4-9a85-d1ab0ed85ffd","data_source_id":"276974f3-b388-810b-8345-000bbfc2d0bc","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"%5CeE%5C"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881c89d85c2f1e326d5c9","public_url":null,"archived":false,"in_trash":false,"request_id":"3850012c-741b-4739-8958-79410178be90"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3850012c-741b-4739-8958-79410178be90
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81c8-9d85-c2f1e326d5c9"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81cb-a37c-e324b3746ce5","created_time":"2025-09-22T09:18:00.000Z","last_edited_time":"2025-09-22T09:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81c8-9d85-c2f1e326d5c9"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"re%5D_","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-276974f3b38881cba37ce324b3746ce5","public_url":null,"request_id":"e3eb5163-de0a-4484-95b3-5d06689b7a54"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e3eb5163-de0a-4484-95b3-5d06689b7a54
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/276974f3-b388-81cb-a37c-e324b3746ce5
  response:
    content: '{"object":"page","id":"276974f3-b388-81cb-a37c-e324b3746ce5","created_time":"2025-09-22T09:18:00.000Z","last_edited_time":"2025-09-22T09:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/276974f3-b388-81cb-a37c-e324b3746ce5/properties/re%5D_?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"re%5D_","relation":{"id":"276974f3-b388-815b-a7ee-d08179f25554"}},{"object":"property_item","type":"relation","id":"re%5D_","relation":{"id":"276974f3-b388-8197-8fb9-ebe42192cd82"}},{"object":"property_item","type":"relation","id":"re%5D_","relation":{"id":"276974f3-b388-81b7-898e-ff3d0de49b38"}},{"object":"property_item","type":"relation","id":"re%5D_","relation":{"id":"276974f3-b388-81c2-ac67-d5cdc6703b1d"}},{"object":"property_item","type":"r[...]
