interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "My new page with
      cover", "text": {"content": "My new page with cover"}, "type": "text"}], "type":
      "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5acc41e1-25e3-4252-9b8d-a35b8c164378","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-5acc41e125e342529b8da35b8c164378","public_url":null,"request_id":"b34caeab-9e03-490a-8208-66b8c3638ec9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"cover": {"external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"},
      "type": "external"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/5acc41e125e342529b8da35b8c164378
  response:
    content: '{"object":"page","id":"5acc41e1-25e3-4252-9b8d-a35b8c164378","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-5acc41e125e342529b8da35b8c164378","public_url":null,"request_id":"fb866cae-a134-4c66-b5a1-269fa7649a6a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5acc41e1-25e3-4252-9b8d-a35b8c164378
  response:
    content: '{"object":"page","id":"5acc41e1-25e3-4252-9b8d-a35b8c164378","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-5acc41e125e342529b8da35b8c164378","public_url":null,"request_id":"355c3148-5839-42ca-9800-067ce1481c82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5acc41e1-25e3-4252-9b8d-a35b8c164378
  response:
    content: '{"object":"page","id":"5acc41e1-25e3-4252-9b8d-a35b8c164378","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-5acc41e125e342529b8da35b8c164378","public_url":null,"request_id":"052a0689-31c5-4a18-ad2d-7eb2c1ee14d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
