interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "Parent", "text":
      {"content": "Parent"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8b9b9fee-fab1-41fd-bb07-6e02ba38177b","created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-8b9b9feefab141fdbb076e02ba38177b","public_url":null,"request_id":"044f9525-fcdf-4c06-b794-eda4f19fac5b"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/8b9b9fee-fab1-41fd-bb07-6e02ba38177b/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"43bb3c61-1994-40ab-9bfa-2410c419ae9f","parent":{"type":"page_id","page_id":"8b9b9fee-fab1-41fd-bb07-6e02ba38177b"},"created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"8c5d56b9-a091-494f-8600-314c13771d2e","parent":{"type":"page_id","page_id":"8b9b9fee-fab1-41fd-bb07-6e02ba38177b"},"created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e8d971ae-c923-4f62-bf80-f16a1e5307d2"}'
    headers: {}
    status_code: 200
version: 1
