interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "properties": {"Name": {"type": "title", "title": {}},
      "Role": {"type": "rich_text", "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8147-8c72-dffa3b82aa89","cover":null,"icon":null,"created_time":"2026-06-25T14:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:34:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"%5DTnX","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481478c72dffa3b82aa89","public_url":null,"in_trash":false,"archived":false,"request_id":"8d17e942-65d3-4e5a-bdc4-9d1f404822de"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8d17e942-65d3-4e5a-bdc4-9d1f404822de
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8147-8c72-dffa3b82aa89"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with properties", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page with properties"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8126-95b0-dcc47e64cdf3","created_time":"2026-06-25T14:34:00.000Z","last_edited_time":"2026-06-25T14:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8147-8c72-dffa3b82aa89"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"%5DTnX","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with properties","href":null}]}},"url":"https://www.notion.so/My-new-page-with-properties-38a9ce7b60a4812695b0dcc47e64cdf3","public_url":null,"archived":false,"request_id":"0d2b263a-2ab3-4082-9a98-45de5d672629"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0d2b263a-2ab3-4082-9a98-45de5d672629
    status_code: 200
- request:
    body: '{"properties":{"Name":{"type":"title","title":[{"type":"text","plain_text":"John
      Doe","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"John
      Doe"}}]},"Role":{"type":"rich_text","rich_text":[]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38a9c[...]
