interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a962b490-1be8-4d50-90f2-be026475ca21","created_time":"2024-05-23T10:54:00.000Z","last_edited_time":"2024-05-23T10:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-a962b4901be84d5090f2be026475ca21","public_url":null,"request_id":"f816db57-cf30-4da5-9819-565932f1e1e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"352-CjPS0lwPUAfmjjGTfB4IxqLuZEo"
      x-notion-request-id:
      - f816db57-cf30-4da5-9819-565932f1e1e0
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4563aef635bf4383b767b5607650b6b2
  response:
    content: '{"object":"page","id":"4563aef6-35bf-4383-b767-b5607650b6b2","created_time":"2024-05-23T10:54:00.000Z","last_edited_time":"2024-05-23T10:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"a962b490-1be8-4d50-90f2-be026475ca21"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-4563aef635bf4383b767b5607650b6b2","public_url":null,"request_id":"4371cbd7-4465-40a2-a813-87b755a3b164"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-cHjvv7X1onOAZW7Jqm6xCY0V2/s"
      x-notion-request-id:
      - 4371cbd7-4465-40a2-a813-87b755a3b164
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/a962b4901be84d5090f2be026475ca21
  response:
    content: '{"object":"page","id":"a962b490-1be8-4d50-90f2-be026475ca21","created_time":"2024-05-23T10:54:00.000Z","last_edited_time":"2024-05-23T10:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-a962b4901be84d5090f2be026475ca21","public_url":null,"request_id":"fa749474-a589-4839-a70c-83afdab42cc1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-pEqscXnQYw/xHo12WJ5+mA+amIE"
      x-notion-request-id:
      - fa749474-a589-4839-a70c-83afdab42cc1
    status_code: 200
version: 1
