interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f1a1e888-f096-4fbd-b766-57cad274eb56","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:59:56.335+00:00","last_edited_time":"2026-06-27T16:59:56.335+00:00","data_sources":[{"id":"4e82847d-528b-4230-a4a3-0caea4b412f4","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/f1a1e888f0964fbdb76657cad274eb56","public_url":null,"request_id":"62c6d62b-86c9-422f-97d6-22f434639358"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 62c6d62b-86c9-422f-97d6-22f434639358
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/4e82847d-528b-4230-a4a3-0caea4b412f4
  response:
    content: '{"object":"data_source","id":"4e82847d-528b-4230-a4a3-0caea4b412f4","cover":null,"icon":null,"created_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:59:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f1a1e888-f096-4fbd-b766-57cad274eb56"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/f1a1e888f0964fbdb76657cad274eb56","public_url":null,"in_trash":false,"request_id":"d773258b-f618-4463-82cf-f7207bb0edef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d773258b-f618-4463-82cf-f7207bb0edef
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "4e82847d-528b-4230-a4a3-0caea4b412f4"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81ed-bf1c-d350d8a10863","created_time":"2026-06-27T16:59:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"4e82847d-528b-4230-a4a3-0caea4b412f4","database_id":"f1a1e888-f096-4fbd-b766-57cad274eb56"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/38c9ce7b60a481edbf1cd350d8a10863","public_url":null,"request_id":"8668bd12-2dc4-4069-9d56-eebd0888ca31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8668bd12-2dc4-4069-9d56-eebd0888ca31
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"a67c556c-efd9-45bc-af2d-7d5fe1c18855"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a67c556c-efd9-45bc-af2d-7d5fe1c18855
    status_code: 200
version: 1
