interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81eb-ac57-f69628fe68cd","created_time":"2026-06-24T18:47:00.000Z","last_edited_time":"2026-06-24T18:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://app.notion.com/p/level_1-3899ce7b60a481ebac57f69628fe68cd","public_url":null,"archived":false,"request_id":"94836ab6-1e3c-4865-9ed0-e80bdd08c078"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 94836ab6-1e3c-4865-9ed0-e80bdd08c078
    status_code: 200
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481949710df9cb882ac5d
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8194-9710-df9cb882ac5d","created_time":"2026-06-24T18:47:00.000Z","last_edited_time":"2026-06-24T18:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"3899ce7b-60a4-81eb-ac57-f69628fe68cd"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://app.notion.com/p/level_2-3899ce7b60a481949710df9cb882ac5d","public_url":null,"archived":true,"request_id":"9f9ff6c7-14eb-421c-8d9c-7f482ba29726"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9f9ff6c7-14eb-421c-8d9c-7f482ba29726
    status_code: 200
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481ebac57f69628fe68cd
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81eb-ac57-f69628fe68cd","created_time":"2026-06-24T18:47:00.000Z","last_edited_time":"2026-06-24T18:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://app.notion.com/p/level_1-3899ce7b60a481ebac57f69628fe68cd","public_url":null,"archived":true,"request_id":"e4d9cc9c-e565-4f50-8a81-eae2be9a1dec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e4d9cc9c-e565-4f50-8a81-eae2be9a1dec
    status_code: 200
version: 1
