interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Status": {"type": "select", "select": {"options": [{"name": "Open", "color":
      "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color":
      "red"}, {"name": "Closed", "color": "green"}]}}, "Multi Status": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option 1", "color": "default"}, {"name":
      "Option 2", "color": "pink"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"92fa6c66-a02b-402c-8f30-b2311d3adc26","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:32:24.461+00:00","last_edited_time":"2026-06-24T16:32:24.461+00:00","data_sources":[{"id":"51aa2e1f-e419-4eee-92db-f25846a03ec4","name":"Option
      Page Props Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/92fa6c66a02b402c8f30b2311d3adc26","public_url":null,"archived":false,"request_id":"55b14824-8f88-46cc-9926-29ec05340445"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 55b14824-8f88-46cc-9926-29ec05340445
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/92fa6c66-a02b-402c-8f[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/51aa2e1f-e419-4eee-92db-f25846a03ec4
  response:
    content: '{"object":"data_source","id":"51aa2e1f-e419-4eee-92db-f25846a03ec4","cover":null,"icon":null,"created_time":"2026-06-24T16:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:32:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "51aa2e1f-e419-4eee-92db-f25846a03ec4"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81e4-9b42-e2527648bfb2","created_time":"2026-06-24T16:32:00.000Z","last_edited_time":"2026-06-24T16:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"51aa2e1f-e419-4eee-92db-f25846a03ec4","database_id":"92fa6c66-a02b-402c-8f30-b2311d3adc26"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"%5EFYe","type":"multi_select","multi_select":[{"id":"2b211aff-1d7e-4375-8d0e-20d81dafe49e","name":"Option
      1","color":"default"}]},"Status":{"id":"vEfd","type":"select","select":{"id":"8a4dd677-00ae-4533-a8aa-7dd735e978cd","name":"Open","color":"gray"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://app.notion.com/p/Page-1-3899ce7b60a481e49b42e2527648bfb2","public_url":null,"archived":false,"request_id":"f517e60d-92e5-4693-9ac4-390453836424"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f517e60d-92e5-4693-9ac4-390453836424
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481e49b42e2527648bfb2
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81e4-9b42-e2527648bfb2","created_time":"2026-06-24T16:32:00.000Z","last_edited_time":"2026-06-24[...]
[...]
