interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color": "green"}]}},
      "Multi Status": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81f0-8926-e0a1f059a645","cover":null,"icon":null,"created_time":"2025-09-03T13:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:57:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"Wqoh","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4172a779-bc5f-46ed-aa81-18c19f8e2cde","name":"Option
      1","color":"default","description":null},{"id":"693f0a88-327e-4607-9103-3e69a24723b4","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"kkh~","name":"Status","description":null,"type":"select","select":{"options":[{"id":"7d5a3fe0-6054-4945-9089-c0ad89895a4c","name":"Open","color":"gray","description":null},{"id":"906986be-9ffe-439a-883e-27395d10140c","name":"In
      Progress","color":"blue","description":null},{"id":"66ea0e2f-0084-4299-91ec-800c9cac4bf6","name":"Blocked","color":"red","description":null},{"id":"33e61cc1-c243-4261-8c89-aa45ccb183e3","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881f08926e0a1f059a645","public_url":null,"archived":false,"in_trash":false,"request_id":"998c2b11-ba32-4327-b56d-09cc88bbbeda"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 998c2b11-ba32-4327-b56d-09cc88bbbeda
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81f0-89[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-81f0-8926-e0a1f059a645"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...[...]
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/263974f3b38881529422cfba697d5647
  response:
    content: '{"object":"page","id":"263974f3-b388-8152-9422-cfba697d5647","created_time":"2025-09-03T13:57:00.000Z","last_edited_time":"2025-09-03[...]
[...]
