interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Status": {"type": "select", "select": {"options": [{"name": "Open", "color":
      "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color":
      "red"}, {"name": "Closed", "color": "green"}]}}, "Multi Status": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option 1", "color": "default"}, {"name":
      "Option 2", "color": "pink"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0cb96852-81da-4810-975e-14611d67f8c7","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:48:35.469+00:00","last_edited_time":"2026-06-24T18:48:35.469+00:00","data_sources":[{"id":"f76de8da-69a9-435b-a106-a863db058492","name":"Option
      Page Props Test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/0cb9685281da4810975e14611d67f8c7","public_url":null,"archived":false,"request_id":"1c4f5c49-c728-469e-9731-8b8a189959e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1c4f5c49-c728-469e-9731-8b8a189959e8
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/0cb96852-81da-4810-97[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f76de8da-69a9-435b-a106-a863db058492
  response:
    content: '{"object":"data_source","id":"f76de8da-69a9-435b-a106-a863db058492","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:48:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "f76de8da-69a9-435b-a106-a863db058492"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81bf-93ec-ec403fd6c91e","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"f76de8da-69a9-435b-a106-a863db058492","database_id":"0cb96852-81da-4810-975e-14611d67f8c7"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Status":{"id":"GuB%5C","type":"select","select":{"id":"2a946a7b-8927-47a5-9dc6-3f640af1a324","name":"Open","color":"gray"}},"Multi
      Status":{"id":"vnMT","type":"multi_select","multi_select":[{"id":"65388a4f-0a4d-48eb-9749-62e8e5d62d22","name":"Option
      1","color":"default"}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://app.notion.com/p/Page-1-3899ce7b60a481bf93ecec403fd6c91e","public_url":null,"archived":false,"request_id":"a48b3ff7-8b97-4525-b583-8c88c97abe94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a48b3ff7-8b97-4525-b583-8c88c97abe94
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481bf93ecec403fd6c91e
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81bf-93ec-ec403fd6c91e","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24[...]
[...]
