interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with icon", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "My new page with icon"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-810c-b9a1-fb78ea10607a","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-10f974f3b388810cb9a1fb78ea10607a","public_url":null,"request_id":"302f10ef-60a5-4d84-a919-5f5e1ca3258f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 302f10ef-60a5-4d84-a919-5f5e1ca3258f
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/10f974f3b388810cb9a1fb78ea10607a
  response:
    content: "{\"object\":\"page\",\"id\":\"10f974f3-b388-810c-b9a1-fb78ea10607a\",\"created_time\":\"2024-09-28T13:45:00.000Z\",\"last_edited_time\":\"2024-09-28T13:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43[...]
[...]
- request:
    body: '{"icon": {"type": "external", "external": {"url": "https://www.notion.so/icons/snake_purple.svg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/10f974f3b388810cb9a1fb78ea10607a
  response:
    content: '{"object":"page","id":"10f974f3-b388-810c-b9a1-fb78ea10607a","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-10f974f3b388810cb9a1fb78ea10607a","public_url":null,"request_id":"ad6a1e54-0020-4bbb-9e65-c98f62840975"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ad6a1e54-0020-4bbb-9e65-c98f62840975
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/10f974f3-b388-810c-b9a1-fb78ea10607a
  response:
    content: '{"object":"page","id":"10f974f3-b388-810c-b9a1-fb78ea10607a","created_time":"2024-09-28T13:45:00.000Z","last_edited_time":"2024-09-28T13:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-10f974f3b388810cb9a1fb78ea10607a","public_url":null,"request_id":"e8ea8a43-e640-4567-bb6b-576f0a6b6110"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e8ea8a43-e640-4567-bb6b-576f0a6b6110
    status_code: 200
version: 1
