interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-8107-b473-ea8750a4fed7","cover":null,"icon":null,"created_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:22:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%7Cr%7B%5B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b3888107b473ea8750a4fed7","public_url":null,"archived":false,"in_trash":false,"request_id":"49c291d2-9fb2-4f47-a8fe-5aaa8ad4a6ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 49c291d2-9fb2-4f47-a8fe-5aaa8ad4a6ce
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Parent DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Parent DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/172974f3-b388-8107-b473-ea8750a4fed7
  response:
    content: '{"object":"database","id":"172974f3-b388-8107-b473-ea8750a4fed7","cover":null,"icon":null,"created_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:22:00.000Z","title":[{"type":"text","text":{"content":"Parent
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%7Cr%7B%5B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b3888107b473ea8750a4fed7","public_url":null,"archived":false,"in_trash":false,"request_id":"8e3244e5-acb1-4150-b1a0-809c141c9eb2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e3244e5-acb1-4150-b1a0-809c141c9eb2
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-8107-b473-ea8750a4fed7"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-8109-865a-d6f892a8b1ae","created_time":"2025-01-05T14:22:00.000Z","last_edited_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-8107-b473-ea8750a4fed7"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"%7Cr%7B%5B","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/172974f3b3888109865ad6f892a8b1ae","public_url":null,"request_id":"6bc8fd8c-a37e-4614-a4fd-9a426fe988dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6bc8fd8c-a37e-4614-a4fd-9a426fe988dd
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"554f50f3-b8c0-4bf2-b501-79508311dca9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 554f50f3-b8c0-4bf2-b501-79508311dca9
    status_code: 200
version: 1
