interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"506d7f81-5e5f-4a5d-b638-6538c07f4564","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:31:51.654+00:00","last_edited_time":"2026-06-24T16:31:51.654+00:00","data_sources":[{"id":"192f8346-6eab-4f2c-9264-bef137a67c22","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/506d7f815e5f4a5db6386538c07f4564","public_url":null,"archived":false,"request_id":"17e991a6-f745-4679-a053-8be3017cc294"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 17e991a6-f745-4679-a053-8be3017cc294
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/192f8346-6eab-4f2c-9264-bef137a67c22
  response:
    content: '{"object":"data_source","id":"192f8346-6eab-4f2c-9264-bef137a67c22","cover":null,"icon":null,"created_time":"2026-06-24T16:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:31:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"506d7f81-5e5f-4a5d-b638-6538c07f4564"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/506d7f815e5f4a5db6386538c07f4564","public_url":null,"in_trash":false,"archived":false,"request_id":"0e1735b8-428b-4563-a9bd-35dd4157afce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0e1735b8-428b-4563-a9bd-35dd4157afce
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "192f8346-6eab-4f2c-9264-bef137a67c22"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8149-a07b-cc531e3e92a2","created_time":"2026-06-24T16:31:00.000Z","last_edited_time":"2026-06-24T16:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"192f8346-6eab-4f2c-9264-bef137a67c22","database_id":"506d7f81-5e5f-4a5d-b638-6538c07f4564"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[]}},"url":"https://app.notion.com/p/3899ce7b60a48149a07bcc531e3e92a2","public_url":null,"archived":false,"request_id":"941d54ee-942f-4176-8f2d-ba40ef7085e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 941d54ee-942f-4176-8f2d-ba40ef7085e1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"57bbaff8-f9ab-47d0-88a4-4dd9204b4518"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 57bbaff8-f9ab-47d0-88a4-4dd9204b4518
    status_code: 200
version: 1
