interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color": "green"}]}},
      "Multi Status": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-8150-81f7-cc9fd29c3e43","cover":null,"icon":null,"created_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:56:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"T%5CN%7C","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"e28930b6-c317-4441-b468-a51d30dc392c","name":"Option
      1","color":"default","description":null},{"id":"aecec8c4-e6e6-4019-8a25-9432d861eb32","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"%5DGy%7D","name":"Status","description":null,"type":"select","select":{"options":[{"id":"2ab3d61a-da33-471b-bd24-c489686cc0bf","name":"Open","color":"gray","description":null},{"id":"918cc7f0-7a99-4b01-b2c8-8e9e489b7b57","name":"In
      Progress","color":"blue","description":null},{"id":"7d3c353a-bbca-46b4-bacf-20e792026e67","name":"Blocked","color":"red","description":null},{"id":"4c951f5f-72f3-4ee0-9719-e856cdd9b8a0","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a4815081f7cc9fd29c3e43","public_url":null,"in_trash":false,"archived":false,"request_id":"52b81f5d-eaef-43fd-84f5-bd008cd3964c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52b81f5d-eaef-43fd-84f5-bd008cd3964c
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38c9ce7b-60a4-8150-81[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-8150-81f7-cc9fd29c3e43"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f7-84de-c15fe3933ef7","created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-8150-81f7-cc9fd29c3e43"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"T%5CN%7C","type":"multi_select","multi_select":[{"id":"e28930b6-c317-4441-b468-a51d30dc392c","name":"Option
      1","color":"default"}]},"Status":{"id":"%5DGy%7D","type":"select","select":{"id":"2ab3d61a-da33-471b-bd24-c489686cc0bf","name":"Open","color":"gray"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38c9ce7b60a481f784dec15fe3933ef7","public_url":null,"archived":false,"request_id":"4393c03b-188d-4e90-b0d5-92e56e5066d0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4393c03b-188d-4e90-b0d5-92e56e5066d0
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481f784dec15fe3933ef7
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f7-84de-c15fe3933ef7","created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27[...]
[...]
