interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20c974f3-b388-808b-99a9-cfd22f106a8e/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"20c974f3-b388-8041-97e4-e839a68aad8f\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"20c974f3-b388-808b-99a9-cfd22f106a8e\"},\"created_time\":\"2025-06-08T16:02:00.000Z\",\"last_edited_time\":\"2025-06-08T19:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"This
      page has a custom emoji \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"This
      page has a custom emoji \",\"href\":null},{\"type\":\"mention\",\"mention\":{\"type\":\"custom_emoji\",\"custom_emoji\":{\"id\":\"20c974f3-b388-8063-b812-007aeaf0578a\",\"name\":\"ultimate-notion\",\"url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/021a290b-d194-4457-ab01-01f9b2bf803f/favicon.svg\"}},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\":ultimate-notion:\",\"href\":null},{\"type\":\"text\",\"text\":{\"content\":\"
      compared to \U0001F680.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"
      compared to \U0001F680.\",\"href\":null}],\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"286974f3-b388-805c-bc28-d90fa15a3393\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"20c974f3-b388-808b-99a9-cfd22f106a8e\"},\"created_time\":\"2025-10-08T11:04:00.000Z\",\"last_edited_time\":\"2025-10-08T11:04:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Callout
      block without an emoji\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Callout
      block without an emoji\",\"href\":null}],\"icon\":null,\"color\":\"gray_background\"}},{\"object\":\"block\",\"id\":\"286974f3-b388-80e4-a4d4-cfdc9420892d\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"20c974f3-b388-808b-99a9-cfd22f106a8e\"},\"created_time\":\"2025-10-08T11:04:00.000Z\",\"last_edited_time\":\"2025-10-08T11:04:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[],\"color\":\"default\"}}],\"next_cursor\":null,\"has_more\":false,\"type\":\"block\",\"block\":{},\"request_id\":\"1509f77b-ac21-4232-9c8b-a589d2dbfbac\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1509f77b-ac21-4232-9c8b-a589d2dbfbac
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page with Custom Emoji Icon", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page with Custom Emoji Icon"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-817f-8c5d-dc4ece29f9fc","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      with Custom Emoji Icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      with Custom Emoji Icon","href":null}]}},"url":"https://www.notion.so/Page-with-Custom-Emoji-Icon-29c974f3b388817f8c5ddc4ece29f9fc","public_url":null,"request_id":"b272dff9-f4b1-4bd2-93a5-1a3dd31b2612"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b272dff9-f4b1-4bd2-93a5-1a3dd31b2612
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"a4027bdb-50cb-456f-a752-d79ff96a6a46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4027bdb-50cb-456f-a752-d79ff96a6a46
    status_code: 200
- request:
    body: '{"icon":{"type":"custom_emoji","custom_emoji":{"id":"20c974f3-b388-8063-b812-007aeaf0578a","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/021a290b-d194-4457-ab01-01f9b2bf803f/favicon.svg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b388817f8c5ddc4ece29f9fc
  respons[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      page has a user-added custom emoji icon ","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      page has a user-added custom emoji icon "}},{"type":"mention","plain_text":":ultimate-notion:","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":[...]
