interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "My new page with
      icon", "text": {"content": "My new page with icon"}, "type": "text"}], "type":
      "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4d3d36bf-a4c4-4963-a86b-970b7b63be44","created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-4d3d36bfa4c44963a86b970b7b63be44","public_url":null,"request_id":"f75ead8b-8589-4e77-9381-573b47fdc8f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"icon": {"emoji": "\ud83d\udc0d", "type": "emoji"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4d3d36bfa4c44963a86b970b7b63be44
  response:
    content: "{\"object\":\"page\",\"id\":\"4d3d36bf-a4c4-4963-a86b-970b7b63be44\",\"created_time\":\"2024-02-14T17:39:00.000Z\",\"last_edited_time\":\"2024-02-14T17:39:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page with icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page with icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-with-icon-4d3d36bfa4c44963a86b970b7b63be44\",\"public_url\":null,\"request_id\":\"e4852495-f79d-4821-a3c9-588b1f9f35ea\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"icon": {"external": {"url": "https://www.notion.so/icons/snake_purple.svg"},
      "type": "external"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4d3d36bfa4c44963a86b970b7b63be44
  response:
    content: '{"object":"page","id":"4d3d36bf-a4c4-4963-a86b-970b7b63be44","created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-4d3d36bfa4c44963a86b970b7b63be44","public_url":null,"request_id":"c92cbdf3-3567-47fb-8bc5-58785fef2780"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/4d3d36bf-a4c4-4963-a86b-970b7b63be44
  response:
    content: '{"object":"page","id":"4d3d36bf-a4c4-4963-a86b-970b7b63be44","created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-4d3d36bfa4c44963a86b970b7b63be44","public_url":null,"request_id":"6bc4b51a-c2ed-4ef1-9b04-7afce95a4ee6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
