interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"60818cd7-e6f2-4b58-ac79-553291ecf3ee","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/60818cd7e6f24b58ac79553291ecf3ee","public_url":null,"request_id":"fe7b5d57-3cbb-4d59-90ad-a5847fa4b3f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"properties": {"title": {"title": [{"plain_text": "My new title", "text":
      {"content": "My new title"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/60818cd7e6f24b58ac79553291ecf3ee
  response:
    content: '{"object":"page","id":"60818cd7-e6f2-4b58-ac79-553291ecf3ee","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-60818cd7e6f24b58ac79553291ecf3ee","public_url":null,"request_id":"8cb80408-cf6d-4787-806a-d810b58fbb48"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/60818cd7-e6f2-4b58-ac79-553291ecf3ee
  response:
    content: '{"object":"page","id":"60818cd7-e6f2-4b58-ac79-553291ecf3ee","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/60818cd7e6f24b58ac79553291ecf3ee","public_url":null,"request_id":"4a0ad31c-e403-40ed-9737-bf9d1da43ccc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
