interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}, "Role": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4bdc910d-26d5-4113-9f7c-ed4376f2692a","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:48:47.526+00:00","last_edited_time":"2026-06-24T18:48:47.526+00:00","data_sources":[{"id":"8905acd3-7457-42e2-ab1d-f462e2e23fb0","name":"Contacts
      DB for low-level page update test"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/4bdc910d26d541139f7ced4376f2692a","public_url":null,"archived":false,"request_id":"873b5eca-c256-48fa-bf3c-ae62174b3898"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 873b5eca-c256-48fa-bf3c-ae62174b3898
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/8905acd3-7457-42e2-ab1d-f462e2e23fb0
  response:
    content: '{"object":"data_source","id":"8905acd3-7457-42e2-ab1d-f462e2e23fb0","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:48:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"YCq%5E","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"4bdc910d-26d5-4113-9f7c-ed4376f2692a"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/4bdc910d26d541139f7ced4376f2692a","public_url":null,"in_trash":false,"archived":false,"request_id":"95d71115-dacb-417d-90fc-d8ca7acf0a98"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95d71115-dacb-417d-90fc-d8ca7acf0a98
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "8905acd3-7457-42e2-ab1d-f462e2e23fb0"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with properties", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page with properties"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b8-940d-cc4c70268dd8","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"8905acd3-7457-42e2-ab1d-f462e2e23fb0","database_id":"4bdc910d-26d5-4113-9f7c-ed4376f2692a"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"YCq%5E","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with properties","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with properties","href":null}]}},"url":"https://app.notion.com/p/My-new-page-with-properties-3899ce7b60a481b8940dcc4c70268dd8","public_url":null,"archived":false,"request_id":"348b73f0-0e85-481f-a953-d067a1685522"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 348b73f0-0e85-481f-a953-d067a1685522
    status_code: 200
- request:
    body: '{"properties":{"Name":{"type":"title","title":[{"type":"text","plain_text":"John
      Doe","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"John
      Doe"}}]},"Role":{"type":"rich_text","rich_text":[]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899c[...]
