interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max text items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max text items"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Description": {"type": "rich_text",
      "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-818e-a617-ed48d0e122a6","cover":null,"icon":null,"created_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:45:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"fxrX","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b388818ea617ed48d0e122a6","public_url":null,"archived":false,"in_trash":false,"request_id":"b75c204c-e9cf-4a76-a10d-6e9b1c37980b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b75c204c-e9cf-4a76-a10d-6e9b1c37980b
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-818e-a617-ed48d0e122a6
  response:
    cont[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-818e-a617-ed48d0e122a6"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Who is the best programmer? ;-) ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Who is the best programmer? ;-) "}}, {"type": "mention", "plain_text": "@Florian
      Wilhelm", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "mention": {"type":
      "user", "user": {"id": "b10cb6df-12ef-44d3-88ad-250168f66322", "object": "user"}}},
      {"type": "text", "plain_text": ", ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      ", "}}, {"type": "mention", "plain_text": "@Florian Wilhelm", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "mention": {"type": "user", "user": {"id":
   [...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/29c974f3-b388-8194-b9c0-c02e090fb340
  response:
    content: '{"object":"page","id":"29c974f3-b388-8194-b9c0-c02e090fb340","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-818e-a617-ed48d0e122a6"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Description":{"id":"fxrX","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Who
      is the best programmer? ;-) ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Who
      is the best programmer? ;-) ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Florian
      Wilhelm","href":null},{"type":"text","text":{"content":", ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":",
      ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250[...]
