interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"896b179b-69f2-4834-ad4d-6a02071cf22b","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/896b179b69f24834ad4d6a02071cf22b","public_url":null,"request_id":"0c59152f-10cb-41bb-8c9e-b15b19c99c89"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/896b179b-69f2-4834-ad4d-6a02071cf22b
  response:
    content: '{"object":"page","id":"896b179b-69f2-4834-ad4d-6a02071cf22b","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/896b179b69f24834ad4d6a02071cf22b","public_url":null,"request_id":"ef4b6f21-5e00-499c-acac-f840abbcc0d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
