interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with icon", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My new page
      with icon"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81d3-aef4-fdcdfe0dfae7","created_time":"2025-09-23T10:03:00.000Z","last_edited_time":"2025-09-23T10:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-277974f3b38881d3aef4fdcdfe0dfae7","public_url":null,"request_id":"f52f9f0e-d431-459b-9c6a-e4e39965849d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f52f9f0e-d431-459b-9c6a-e4e39965849d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T10:03:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"d95a2ff7-27a0-4dc3-b4d5-f0c77b3b8ca5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d95a2ff7-27a0-4dc3-b4d5-f0c77b3b8ca5
    status_code: 200
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/277974f3b38881d3aef4fdcdfe0dfae7
  response:
    content: "{\"object\":\"page\",\"id\":\"277974f3-b388-81d3-aef4-fdcdfe0dfae7\",\"created_time\":\"2025-09-23T10:03:00.000Z\",\"last_edited_time\":\"2025-09-23T10:03:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-[...]
[...]
- request:
    body: '{"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/277974f3b38881d3aef4fdcdfe0dfae7
  response:
    content: '{"object":"page","id":"277974f3-b388-81d3-aef4-fdcdfe0dfae7","created_time":"2025-09-23T10:03:00.000Z","last_edited_time":"2025-09-23T10:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-277974f3b38881d3aef4fdcdfe0dfae7","public_url":null,"request_id":"f23e1981-f549-42e4-b0ab-1c882b6604f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f23e1981-f549-42e4-b0ab-1c882b6604f2
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/277974f3-b388-81d3-aef4-fdcdfe0dfae7
  response:
    content: '{"object":"page","id":"277974f3-b388-81d3-aef4-fdcdfe0dfae7","created_time":"2025-09-23T10:03:00.000Z","last_edited_time":"2025-09-23T10:03:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-277974f3b38881d3aef4fdcdfe0dfae7","public_url":null,"request_id":"40dea45a-2bf4-4864-9c26-e0a6cba529f4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40dea45a-2bf4-4864-9c26-e0a6cba529f4
    status_code: 200
version: 1
