interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e6698be5-075a-400a-9afc-427e9277d225","created_time":"2024-08-21T17:22:00.000Z","last_edited_time":"2024-08-21T17:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e6698be5075a400a9afc427e9277d225","public_url":null,"request_id":"6ecd1db1-5780-4f88-bb45-d1da4f752aa0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ecd1db1-5780-4f88-bb45-d1da4f752aa0
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e6698be5075a400a9afc427e9277d225
  response:
    content: '{"object":"page","id":"e6698be5-075a-400a-9afc-427e9277d225","created_time":"2024-08-21T17:22:00.000Z","last_edited_time":"2024-08-21T17:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e6698be5075a400a9afc427e9277d225","public_url":null,"request_id":"0c8de288-6e1a-4022-ba87-5870e5f66c0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0c8de288-6e1a-4022-ba87-5870e5f66c0a
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e6698be5075a400a9afc427e9277d225
  response:
    content: '{"object":"page","id":"e6698be5-075a-400a-9afc-427e9277d225","created_time":"2024-08-21T17:22:00.000Z","last_edited_time":"2024-08-21T17:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e6698be5075a400a9afc427e9277d225","public_url":null,"request_id":"cd78235a-0838-40f0-8465-7d520573ff03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cd78235a-0838-40f0-8465-7d520573ff03
    status_code: 200
version: 1
