interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "My new page with
      icon", "text": {"content": "My new page with icon"}, "type": "text"}], "type":
      "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"070d9205-1cd9-4e13-9cf1-67bbb1e18d26","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-070d92051cd94e139cf167bbb1e18d26","public_url":null,"request_id":"f69e9ee9-a604-453c-bfa7-92c141e284fb"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"emoji": "\ud83d\udc0d", "type": "emoji"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/070d92051cd94e139cf167bbb1e18d26
  response:
    content: "{\"object\":\"page\",\"id\":\"070d9205-1cd9-4e13-9cf1-67bbb1e18d26\",\"created_time\":\"2023-12-24T22:16:00.000Z\",\"last_edited_time\":\"2023-12-24T22:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page with icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page with icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-with-icon-070d92051cd94e139cf167bbb1e18d26\",\"public_url\":null,\"request_id\":\"049b08df-f370-46b6-b551-66e900ac38af\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"icon": {"external": {"url": "https://www.notion.so/icons/snake_purple.svg"},
      "type": "external"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/070d92051cd94e139cf167bbb1e18d26
  response:
    content: '{"object":"page","id":"070d9205-1cd9-4e13-9cf1-67bbb1e18d26","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-070d92051cd94e139cf167bbb1e18d26","public_url":null,"request_id":"3b0046aa-fb2b-4539-9d0d-69820bedc10a"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/070d9205-1cd9-4e13-9cf1-67bbb1e18d26
  response:
    content: '{"object":"page","id":"070d9205-1cd9-4e13-9cf1-67bbb1e18d26","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-070d92051cd94e139cf167bbb1e18d26","public_url":null,"request_id":"d822ea1d-5351-4876-8187-a17f2efc95d0"}'
    headers: {}
    status_code: 200
version: 1
