interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f4-8b20-c7235ff71af5","created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-38c9ce7b60a481f48b20c7235ff71af5","public_url":null,"archived":false,"request_id":"4c850755-1ac5-4fa7-9c81-8f1c573a044e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4c850755-1ac5-4fa7-9c81-8f1c573a044e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"ac900579-c01f-4222-8a1d-1b6d91998b94"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ac900579-c01f-4222-8a1d-1b6d91998b94
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f4-8b20-c7235ff71af5/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8172-acec-e764445129b3","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81f4-8b20-c7235ff71af5"},"created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      1"},"archived":false},{"object":"block","id":"38c9ce7b-60a4-81d5-b039-c7f0edb654b4","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81f4-8b20-c7235ff71af5"},"created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      2"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4ecdc2d1-e4d4-45c4-a2e4-b055d53cee99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4ecdc2d1-e4d4-45c4-a2e4-b055d53cee99
    status_code: 200
version: 1
