interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/3e5fa270-2714-4f8a-afa5-640f5ff17348/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"0a2d0d1f-3bf5-4851-9d80-e2b3e3003150\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"3e5fa270-2714-4f8a-afa5-640f5ff17348\"},\"created_time\":\"2024-02-04T10:12:00.000Z\",\"last_edited_time\":\"2024-02-04T10:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      1\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      1\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"005718df-f0fe-469f-ae05-a848642b5c78\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"3e5fa270-2714-4f8a-afa5-640f5ff17348\"},\"created_time\":\"2024-02-04T10:12:00.000Z\",\"last_edited_time\":\"2024-02-04T10:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      2\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      2\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"b7e6af67-eba0-4ed5-b962-c5ef4731621f\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"3e5fa270-2714-4f8a-afa5-640f5ff17348\"},\"created_time\":\"2024-02-04T10:12:00.000Z\",\"last_edited_time\":\"2024-02-04T10:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"heading_3\",\"heading_3\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      3\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      3\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"84f7e95a-bdac-48ec-8a4f-d841e8bb9594\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"3e5fa270-2714-4f8a-afa5-640f5ff17348\"},\"created_time\":\"2024-02-04T10:14:00.000Z\",\"last_edited_time\":\"2024-02-04T10:14:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"id\":\"f8c5d55a-db5d-4e2f-b0bb-dcb69b022aac\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"3e5fa270-2714-4f8a-afa5-640f5ff17348\"},\"created_time\":\"2024-02-04T10:12:00.000Z\",\"last_edited_time\":\"2024-02-04T10:13:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":true,\"archived\":false,\"in_trash\":false,\"type\":[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/c7e04679-b7fd-4c20-b904-d0da8dccea7d/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"c9368b20-e656-4f14-a48f-63a799a2f81a","parent":{"type":"block_id","block_id":"c7e04679-b7fd-4c20-b904-d0da8dccea7d"},"created_time":"2024-02-04T10:16:00.000Z","last_edited_time":"2024-02-04T10:16:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      1, 1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Cell
      1, 1","href":null}],[{"type":"text","text":{"content":"Cell 1, 2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Cell
      1, 2","href":null}]]}},{"object":"block","id":"e8c6277f-0495-45de-9878-3b2c[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/24124c32-8732-4b5c-8eda-6c7cb5e97d47/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"19ed7ff2-6543-47f9-88ea-5ec1ed8bbc0f","parent":{"type":"block_id","block_id":"24124c32-8732-4b5c-8eda-6c7cb5e97d47"},"created_time":"2024-02-04T10:28:00.000Z","last_edited_time":"2024-02-04T10:28:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.5}},{"object":"block","id":"18178dce-26fc-41f0-8595-ab0ae93332fb","parent":{"type":"block_id","block_id":"24124c32-8732-4b5c-8eda-6c7cb5e97d47"},"created_time":"2024-02-04T10:28:00.000Z","last_edited_time":"2024-02-04T10:28:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.5}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"19895c05-6ad7-4296-a6c1-09b90db898a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 19895c05-6ad7-4296-a6c1-09b90db898a4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/19ed7ff2-6543-47f9-88ea-5ec1ed8bbc0f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"abfb609c-7f5a-42c6-819b-1540674efafc","parent":{"type":"block_id","block_id":"19ed7ff2-6543-47f9-88ea-5ec1ed8bbc0f"},"created_time":"2024-02-04T10:26:00.000Z","last_edited_time":"2024-02-04T10:28:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Column
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Column
      1","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"39fd931a-3340-4d93-b813-be6526fc1b4e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39fd931a-3340-4d93-b813-be6526fc1b4e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/8805527c-e9d4-47fa-ba19-973fa7114fe9
  response:
    content: '{"object":"block","id":"8805527c-e9d4-47fa-ba19-973fa7114fe9","parent":{"type":"page_id","page_id":"67ad5240-b1b9-4467-9b07-3ef3ebbbc755"},"created_time":"2024-02-13T20:18:00.000Z","last_edited_time":"2024-02-13T20:18:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null},"request_id":"fda23373-3575-4f43-9617-c730ca67ecfb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fda23373-3575-4f43-9617-c730ca67ecfb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/8805527c-e9d4-47fa-ba19-973fa7114fe9/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"84fa5bd1-86d8-4b6a-9549-fdbe665531d8","parent":{"type":"block_id","block_id":"8805527c-e9d4-47fa-ba19-973fa7114fe9"},"created_time":"2024-02-11T13:49:00.000Z","last_edited_time":"2024-02-13T20:18:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is the original Paragraph on SubPage","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is the original Paragraph on SubPage","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ee16174c-47b2-4559-bdc4-783ece5cd812"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee16174c-47b2-4559-bdc4-783ece5cd812
    status_code: 200
version: 1
