interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with cover", "text": {"content": "My new page with cover"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a7aed198-ef5d-45f6-a3a9-5f14151445e1","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-a7aed198ef5d45f6a3a95f14151445e1","public_url":null,"request_id":"cec6fc06-0f58-4ec0-95eb-2215c4c7bdac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37f-m+1SWNyRo0NKZQP95Q4erVK0eV8"
      x-notion-request-id:
      - cec6fc06-0f58-4ec0-95eb-2215c4c7bdac
    status_code: 200
- request:
    body: '{"cover": {"type": "external", "external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/a7aed198ef5d45f6a3a95f14151445e1
  response:
    content: '{"object":"page","id":"a7aed198-ef5d-45f6-a3a9-5f14151445e1","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/a7aed198-ef5d-45f6-a3a9-5f14151445e1
  response:
    content: '{"object":"page","id":"a7aed198-ef5d-45f6-a3a9-5f14151445e1","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-a7aed198ef5d45f6a3a95f14151445e1","public_url":null,"request_id":"1dba9c31-5ed1-4e79-b5a1-52416c4504e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3da-x1eX00Ji4bRF/3N5ImGnnqqW5Ng"
      x-notion-request-id:
      - 1dba9c31-5ed1-4e79-b5a1-52416c4504e7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/a7aed198-ef5d-45f6-a3a9-5f14151445e1
  response:
    content: '{"object":"page","id":"a7aed198-ef5d-45f6-a3a9-5f14151445e1","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-a7aed198ef5d45f6a3a95f14151445e1","public_url":null,"request_id":"b86d0a4f-4803-4f78-8e99-0c92cd28c0cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37f-QL1SLk565VCbIymh14a1Ncp2k+Q"
      x-notion-request-id:
      - b86d0a4f-4803-4f78-8e99-0c92cd28c0cf
    status_code: 200
version: 1
