interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Price": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9528650b-a37a-41a9-8dc2-a8fd21525122","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:31:55.459+00:00","last_edited_time":"2026-06-24T16:31:55.459+00:00","data_sources":[{"id":"bcd70e03-7cdd-493e-9597-54d38ba4032c","name":"Item
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/9528650ba37a41a98dc2a8fd21525122","public_url":null,"archived":false,"request_id":"0d2677f4-f2ff-45b9-be3e-e504497001b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0d2677f4-f2ff-45b9-be3e-e504497001b3
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/9528650b-a37a-41a9-8dc2-a8fd21525122
  response:
    cont[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/bcd70e03-7cdd-493e-9597-54d38ba4032c
  response:
    content: '{"object":"data_source","id":"bcd70e03-7cdd-493e-9597-54d38ba4032c","cover":null,"icon":null,"created_time":"2026-06-24T16:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:31:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all items","href":null}],"is_inline":false,"properties":{"Price":{"id":"VZa%3E","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"9528650b-a37a-41a9-8dc2-a8fd21525122"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/9528650ba37a41a98dc2a8fd21525122","public_url":null,"in_trash":false,"archived":false,"request_id":"c531c700-9cd9-4cce-9186-981e5a3e1c37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c531c700-9cd9-4cce-9186-981e5a3e1c37
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "bcd70e03-7cdd-493e-9597-54d38ba4032c", "dual_property":
      {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c05c7705-1005-46af-89f7-3f6d8b87049f","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:31:57.812+00:00","last_edited_time":"2026-06-24T16:31:57.812+00:00","data_sources":[{"id":"289fefe5-04c6-4116-9ba4-deba5d2d018e","name":"Customer
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/c05c7705100546af89f73f6d8b87049f","public_url":null,"archived":false,"request_id":"41e29faf-35ae-4239-8000-f128f3c4daa4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 41e29faf-35ae-4239-8000-f128f3c4daa4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/289fefe5-04c6-4116-9ba4-deba5d2d018e
  response:
    content: '{"object":"data_source","id":"289fefe5-04c6-4116-9ba4-deba5d2d018e","cover":null,"icon":null,"created_time":"2026-06-24T16:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:31:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      for customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      for customers","href":null}],"is_inline":false,"properties":{"Items Purchased":{"id":"r%7DaJ","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"9528650b-a37a-41a9-8dc2-a8fd21525122","data_source_id":"bcd70e03-7cdd-493e-9597-54d38ba4032c","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"F%3Ebg"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"c05c7705-1005-46af-89f7-3f6d8b87049f"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/c05c7705100546af89f73f6d8b87049f","public_url":null,"in_trash":false,"archived":false,"request_id":"83aa063e-2dd9-4327-bc81-2d4f40b92650"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 83aa063e-2dd9-4327-bc81-2d4f40b92650
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "289fefe5-04c6-4116-9ba4-deba5d2d018e"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-819b-b9e8-f1236ecb7eaf","created_time":"2026-06-24T16:32:00.000Z","last_edited_time":"2026-06-24T16:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"289fefe5-04c6-4116-9ba4-deba5d2d018e","database_id":"c05c7705-1005-46af-89f7-3f6d8b87049f"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"r%7DaJ","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://app.notion.com/p/Customer-1-3899ce7b60a4819bb9e8f1236ecb7eaf","public_url":null,"archived":false,"request_id":"e3b5726e-7ed6-4812-9601-7c572a33fca0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e3b5726e-7ed6-4812-9601-7c572a33fca0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-819b-b9e8-f1236ecb7eaf
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-819b-b9e8-f1236ecb7eaf","created_time":"2026-06-24T16:32:00.000Z","last_edited_time":"2026-06-24T16:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-819b-b9e8-f1236ecb7eaf/properties/r%7DaJ?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"r%7DaJ","relation":{"id":"3899ce7b-60a4-8106-8c63-f91b54099847"}},{"object":"property_item","type":"relation","id":"r%7DaJ","relation":{"id":"3899ce7b-60a4-8136-b375-f53c48bdd90d"}},{"object":"property_item","type":"relation","id":"r%7DaJ","relation":{"id":"3899ce7b-60a4-81a2-a00d-cbe34b44f181"}},{"object":"property_item","type":"relation","id":"r%7DaJ","relation":{"id":"3899ce7b-60a4-813c-afcc-f5125239d6aa"}},{"object":"property_item","type":"r[...]
