interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Option Page Props Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Status": {"type": "select",
      "select": {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress",
      "color": "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color":
      "green"}]}}, "Multi Status": {"type": "multi_select", "multi_select": {"options":
      [{"name": "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20a974f3-b388-810f-9a3e-fb3542aa0dad","cover":null,"icon":null,"created_time":"2025-06-06T13:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-06T13:06:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Status":{"id":"Hnh%5E","name":"Status","type":"select","select":{"options":[{"id":"8edd91a0-88f1-4d3d-b060-53f70385ab1f","name":"Open","color":"gray","description":null},{"id":"314f7284-defb-4a87-9a7d-76bcd9bd149c","name":"In
      Progress","color":"blue","description":null},{"id":"e8098d59-6879-4407-82aa-431069a922eb","name":"Blocked","color":"red","description":null},{"id":"2da76733-2dec-43a5-a7c2-f6df82cfd1fa","name":"Closed","color":"green","description":null}]}},"Multi
      Status":{"id":"%7C%40Qc","name":"Multi Status","type":"multi_select","multi_select":{"options":[{"id":"6b16a039-6757-49e2-a849-3dcf11f5fc37","name":"Option
      1","color":"default","description":null},{"id":"85c13195-483f-4648-8aae-8c38447ed621","name":"Option
      2","color":"pink","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20a974f3b388810f9a3efb3542aa0dad","public_url":null,"archived":false,"in_trash":false,"request_id":"78a7beee-34d0-458d-9522-d4ac0b5fde88"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 78a7beee-34d0-458d-9522-d4ac0b5fde88
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing option
      page props", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Schema for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.n[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20a974f3-b388-810f-9a3e-fb3542aa0dad"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}, "Status": {"type": "select", "select": {"name": "Open"}}, "Multi
      Status": {"type": "multi_select", "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorizatio[...]
[...]
- request:
    body: '{"properties": {"Status": {"type": "select", "select": {"name": "Blocked",
      "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/20a974f3b38881d98288c970cf48667f
  response:
    content: '{"object":"page","id":"20a974f3-b388-81d9-8288-c970cf48667f","created_time":"2025-06-06T13:06:00.000Z","last_edited_tim[...]
[...]
