interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with icon", "text": {"content": "My new page with icon"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0b6d8263-e2f0-489c-a805-6261790dbc43","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-0b6d8263e2f0489ca8056261790dbc43","public_url":null,"request_id":"fdf5284c-0275-4efc-84d1-fd1131379ac4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37c-9gt4iYJKP4EkeEwpytXXDje4qd4"
      x-notion-request-id:
      - fdf5284c-0275-4efc-84d1-fd1131379ac4
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0b6d8263e2f0489ca8056261790dbc43
  response:
    content: "{\"object\":\"page\",\"id\":\"0b6d8263-e2f0-489c-a805-6261790dbc43\",\"created_time\":\"2024-05-23T10:55:00.000Z\",\"last_edited_time\":\"2024-05-23T10:55:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43[...]
[...]
- request:
    body: '{"icon": {"type": "external", "external": {"url": "https://www.notion.so/icons/snake_purple.svg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/0b6d8263e2f0489ca8056261790dbc43
  response:
    content: '{"object":"page","id":"0b6d8263-e2f0-489c-a805-6261790dbc43","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/0b6d8263-e2f0-489c-a805-6261790dbc43
  response:
    content: '{"object":"page","id":"0b6d8263-e2f0-489c-a805-6261790dbc43","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-0b6d8263e2f0489ca8056261790dbc43","public_url":null,"request_id":"d897ad88-cc8a-45d2-87ec-cf0d4c78717f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37c-sx4irbJLiYNv0xTqR2t6zEeSbmU"
      x-notion-request-id:
      - d897ad88-cc8a-45d2-87ec-cf0d4c78717f
    status_code: 200
version: 1
