interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"08d1cda9-2603-4e7e-b761-a701e416cf16","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/08d1cda926034e7eb761a701e416cf16","public_url":null,"request_id":"a90c8423-8b14-4845-b766-57f6704939b8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-Wp+TDqkvY8G9NAbAiaZpR4Bo4PQ"
      x-notion-request-id:
      - a90c8423-8b14-4845-b766-57f6704939b8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/08d1cda9-2603-4e7e-b761-a701e416cf16
  response:
    content: '{"object":"page","id":"08d1cda9-2603-4e7e-b761-a701e416cf16","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/08d1cda926034e7eb761a701e416cf16","public_url":null,"request_id":"3a86cece-3f42-492b-95e4-98ae6addfaa9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-gcY4SpS6CYgDQ5zayZwvmiWR2z4"
      x-notion-request-id:
      - 3a86cece-3f42-492b-95e4-98ae6addfaa9
    status_code: 200
version: 1
