interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cb152a80-b58d-43c2-9867-abf7e8e3fe93","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-cb152a80b58d43c29867abf7e8e3fe93","public_url":null,"request_id":"83c785a2-85dd-4621-9957-848a8b66397b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"352-aWX04cQ02T+sWFJqGRgOT5udOnw"
      x-notion-request-id:
      - 83c785a2-85dd-4621-9957-848a8b66397b
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/bb53c01eaa4b4d6481356149b6692101
  response:
    content: '{"object":"page","id":"bb53c01e-aa4b-4d64-8135-6149b6692101","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"cb152a80-b58d-43c2-9867-abf7e8e3fe93"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-bb53c01eaa4b4d6481356149b6692101","public_url":null,"request_id":"55c3362c-3a52-43b8-baa0-7fe34fa77e46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-EBbGKKuqrPckQvuCtvAQyts0QlY"
      x-notion-request-id:
      - 55c3362c-3a52-43b8-baa0-7fe34fa77e46
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/cb152a80b58d43c29867abf7e8e3fe93
  response:
    content: '{"object":"page","id":"cb152a80-b58d-43c2-9867-abf7e8e3fe93","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-cb152a80b58d43c29867abf7e8e3fe93","public_url":null,"request_id":"ae24269d-3c7c-4e9c-8bf0-25769ac122b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-4vwVaH4yhfhv9IrcomC6agQcVy4"
      x-notion-request-id:
      - ae24269d-3c7c-4e9c-8bf0-25769ac122b4
    status_code: 200
version: 1
