interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8119-adf9-cdbad5f39bb0","created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-38c9ce7b60a48119adf9cdbad5f39bb0","public_url":null,"archived":false,"request_id":"94365e2e-4cd7-42fa-92b9-2c0cf543bec3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 94365e2e-4cd7-42fa-92b9-2c0cf543bec3
    status_code: 200
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481029136d55e79e0ba81
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8102-9136-d55e79e0ba81","created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8119-adf9-cdbad5f39bb0"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-38c9ce7b60a481029136d55e79e0ba81","public_url":null,"archived":true,"request_id":"2281ee8b-c65a-4cd7-9d21-4ec6dfdd9d20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2281ee8b-c65a-4cd7-9d21-4ec6dfdd9d20
    status_code: 200
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a48119adf9cdbad5f39bb0
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8119-adf9-cdbad5f39bb0","created_time":"2026-06-27T04:56:00.000Z","last_edited_time":"2026-06-27T04:56:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-38c9ce7b60a48119adf9cdbad5f39bb0","public_url":null,"archived":true,"request_id":"61749ce8-3752-43dd-83a2-8d089d7ab3c7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 61749ce8-3752-43dd-83a2-8d089d7ab3c7
    status_code: 200
version: 1
