interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color": "green"}]}},
      "Multi Status": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-81f5-9826-c349375ead20","cover":null,"icon":null,"created_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:45:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"%3Cq%3Cs","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"e4454e7d-83ee-4825-948a-1a203aa2991e","name":"Option
      1","color":"default","description":null},{"id":"b251ccad-5db0-4a6e-bdd6-aff8d6d3b975","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"rrhS","name":"Status","description":null,"type":"select","select":{"options":[{"id":"d1022607-0f8c-478e-8116-d37c2b2dd542","name":"Open","color":"gray","description":null},{"id":"a0c367e4-3548-4f7e-9e9a-3db1dee38cdf","name":"In
      Progress","color":"blue","description":null},{"id":"d84f647f-699a-4a45-b72f-a73874f30d31","name":"Blocked","color":"red","description":null},{"id":"89548734-819c-4fc2-b05f-29cbaa0335da","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881f59826c349375ead20","public_url":null,"archived":false,"in_trash":false,"request_id":"8f1c25b0-22c9-406d-88c3-96f08d13f97f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f1c25b0-22c9-406d-88c3-96f08d13f97f
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/29c974f3-b388-81f5-98[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-81f5-9826-c349375ead20"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81fc-b5b8-f5d81f22ae9d","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30T15:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81f5-9826-c349375ead20"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"%3Cq%3Cs","type":"multi_select","multi_select":[{"id":"e4454e7d-83ee-4825-948a-1a203aa2991e","name":"Option
      1","color":"default"}]},"Status":{"id":"rrhS","type":"select","select":{"id":"d1022607-0f8c-478e-8116-d37c2b2dd542","name":"Open","color":"gray"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-29c974f3b38881fcb5b8f5d81f22ae9d","public_url":null,"request_id":"ce6e5e1a-3c40-43a7-89ab-dd0b68f65689"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ce6e5e1a-3c40-43a7-89ab-dd0b68f65689
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b38881fcb5b8f5d81f22ae9d
  response:
    content: '{"object":"page","id":"29c974f3-b388-81fc-b5b8-f5d81f22ae9d","created_time":"2025-10-30T15:45:00.000Z","last_edited_time":"2025-10-30[...]
[...]
