interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"09143fe9-0b0e-4632-8891-53e92302b6e0","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-09143fe90b0e4632889153e92302b6e0","public_url":null,"request_id":"aee260e7-1e68-4354-87f1-779933126b38"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-z2wVidBfdtRxjLAbkPh93Mk2KJw"
      x-notion-request-id:
      - aee260e7-1e68-4354-87f1-779933126b38
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "09143fe9-0b0e-4632-8891-53e92302b6e0"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8166746d-52db-481d-80b5-7a4f922a5c8c","cover":null,"icon":null,"created_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-01T22:17:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"NyKg","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"09143fe9-0b0e-4632-8891-53e92302b6e0"},"url":"https://www.notion.so/8166746d52db481d80b57a4f922a5c8c","public_url":null,"archived":false,"in_trash":false,"request_id":"7345b3e0-8cf8-4600-b596-1e056f409c37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"312-V9p8vx57wcdd+8bVEzn4jmJrGpQ"
      x-notion-request-id:
      - 7345b3e0-8cf8-4600-b596-1e056f409c37
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/09143fe9-0b0e-4632-8891-53e92302b6e0/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"8166746d-52db-481d-80b5-7a4f922a5c8c","parent":{"type":"page_id","page_id":"09143fe9-0b0e-4632-8891-53e92302b6e0"},"created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"50d537de-765b-4df4-bb4f-81a6209f1fe5","parent":{"type":"page_id","page_id":"09143fe9-0b0e-4632-8891-53e92302b6e0"},"created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6b88ac62-5fd3-4fb3-a2ee-af9c8a408fee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"465-tTsLuLeRofB8Xt7F4yAQRSf9VC4"
      x-notion-request-id:
      - 6b88ac62-5fd3-4fb3-a2ee-af9c8a408fee
    status_code: 200
version: 1
