interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-81a4-8b62-f5cb6408ff8d","cover":null,"icon":null,"created_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:56:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"wEfJ","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b38881a48b62f5cb6408ff8d","public_url":null,"archived":false,"in_trash":false,"request_id":"9e114869-956d-44ac-b6b8-2be5c1e42e91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e114869-956d-44ac-b6b8-2be5c1e42e91
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/263974f3-b388-81a4-8b62-f5cb6408ff8d
  response:
    cont[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "database_id": "263974f3-b388-81a4-8b62-f5cb6408ff8d",
      "dual_property": {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"263974f3-b388-8189-a9c1-f7e4aeb1dd9e","cover":null,"icon":null,"created_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-03T13:56:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"hdNf","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"263974f3-b388-81a4-8b62-f5cb6408ff8d","data_source_id":"263974f3-b388-81d7-b792-000bb3f8ad53","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"uf%3DQ"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/263974f3b3888189a9c1f7e4aeb1dd9e","public_url":null,"archived":false,"in_trash":false,"request_id":"9ca97828-140c-4e79-adce-0b6b89f8ab24"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ca97828-140c-4e79-adce-0b6b89f8ab24
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "263974f3-b388-8189-a9c1-f7e4aeb1dd9e"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-8127-9774-face822a1e16","created_time":"2025-09-03T13:56:00.000Z","last_edited_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"263974f3-b388-8189-a9c1-f7e4aeb1dd9e"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"hdNf","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-263974f3b38881279774face822a1e16","public_url":null,"request_id":"8594fe5c-a2b0-4823-a9ce-c683c5a4773d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8594fe5c-a2b0-4823-a9ce-c683c5a4773d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/263974f3-b388-8127-9774-face822a1e16
  response:
    content: '{"object":"page","id":"263974f3-b388-8127-9774-face822a1e16","created_time":"2025-09-03T13:56:00.000Z","last_edited_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/263974f3-b388-8127-9774-face822a1e16/properties/hdNf?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"hdNf","relation":{"id":"263974f3-b388-81d7-a03b-fd874ed7082c"}},{"object":"property_item","type":"relation","id":"hdNf","relation":{"id":"263974f3-b388-8164-91e6-dc52f0dc8e0a"}},{"object":"property_item","type":"relation","id":"hdNf","relation":{"id":"263974f3-b388-8198-b04c-e5f09e6355c5"}},{"object":"property_item","type":"relation","id":"hdNf","relation":{"id":"263974f3-b388-8151-842d-ce727c893a97"}},{"object":"property_item","type":"relation"[...]
