interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Item DB for max relation
      items"}}], "properties": {"Name": {"type": "title", "title": {}}, "Price": {"type":
      "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8181-9a46-de8d44f4b920","cover":null,"icon":null,"created_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:51:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"y%3CEa","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881819a46de8d44f4b920","public_url":null,"archived":false,"in_trash":false,"request_id":"06a20085-7667-4f28-9717-e17c1941189f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 06a20085-7667-4f28-9717-e17c1941189f
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/20e974f[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Customer DB
      for max relation items"}}], "properties": {"Name": {"type": "title", "title":
      {}}, "Items Purchased": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "20e974f3-b388-8181-9a46-de8d44f4b920", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-81cd-a857-d835b22eb483","cover":null,"icon":null,"created_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:51:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"qg%5Bo","name":"Items Purchased","type":"relation","relation":{"database_id":"20e974f3-b388-8181-9a46-de8d44f4b920","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"Y%3C%40w"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881cda857d835b22eb483","public_url":null,"archived":false,"in_trash":false,"request_id":"71aa9af5-c4d3-460d-aba0-147ce80164a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 71aa9af5-c4d3-460d-aba0-147ce80164a0
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-81cd-a857-d835b22eb483"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-81d1-8723-d1941bfbd019","created_time":"2025-06-10T17:51:00.000Z","last_edited_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-81cd-a857-d835b22eb483"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"qg%5Bo","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-20e974f3b38881d18723d1941bfbd019","public_url":null,"request_id":"d4c4d110-4026-48ae-9fe2-6bc13a12a2c9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d4c4d110-4026-48ae-9fe2-6bc13a12a2c9
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/20e974f3-b388-81d1-8723-d1941bfbd019
  response:
    content: '{"object":"page","id":"20e974f3-b388-81d1-8723-d1941bfbd019","created_time":"2025-06-10T17:51:00.000Z","last_edited_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/20e974f3-b388-81d1-8723-d1941bfbd019/properties/qg%5Bo?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"qg%5Bo","relation":{"id":"20e974f3-b388-81ad-b7e5-cd2258be71ee"}},{"object":"property_item","type":"relation","id":"qg%5Bo","relation":{"id":"20e974f3-b388-8126-a00f-cacf6cdba3f3"}},{"object":"property_item","type":"relation","id":"qg%5Bo","relation":{"id":"20e974f3-b388-81b8-b262-ec061bf47b2c"}},{"object":"property_item","type":"relation","id":"qg%5Bo","relation":{"id":"20e974f3-b388-81cb-92ae-f12d7a2ee316"}},{"object":"property_item","type":"r[...]
