interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Option Page Props Test"}}],
      "properties": {"Title": {"type": "title", "title": {}}, "Status": {"type": "select",
      "select": {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress",
      "color": "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color":
      "green"}]}}, "Multi Status": {"type": "multi_select", "multi_select": {"options":
      [{"name": "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8107-8812-c05fde1c5f13","cover":null,"icon":null,"created_time":"2025-06-10T17:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:52:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"%3B%3FTj","name":"Multi Status","type":"multi_select","multi_select":{"options":[{"id":"7ca9687c-5ffd-462c-b2bb-49422cc84e3e","name":"Option
      1","color":"default","description":null},{"id":"bb0b406c-f9c8-4c3e-bacc-7baae2c3bb19","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"ep%5CC","name":"Status","type":"select","select":{"options":[{"id":"38d82df0-389a-4d76-a0a5-0f6be6fe0294","name":"Open","color":"gray","description":null},{"id":"44f01d7a-8a3f-4718-9a2a-f399d61c21dc","name":"In
      Progress","color":"blue","description":null},{"id":"2c910ec1-8beb-412c-b75a-595786a560c1","name":"Blocked","color":"red","description":null},{"id":"d1db185a-bd79-43ad-8783-29d269f9233e","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881078812c05fde1c5f13","public_url":null,"archived":false,"in_trash":false,"request_id":"26a27d66-a7bf-480f-9aeb-1330d8facaab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 26a27d66-a7bf-480f-9aeb-1330d8facaab
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Schema for testing option
      page props", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Schema for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.n[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8107-8812-c05fde1c5f13"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Page 1"}}]}, "Status": {"type": "select", "select": {"name": "Open"}}, "Multi
      Status": {"type": "multi_select", "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorizatio[...]
[...]
- request:
    body: '{"properties": {"Status": {"type": "select", "select": {"name": "Blocked",
      "color": "red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/20e974f3b388810d84e3d7e519a94dce
  response:
    content: '{"object":"page","id":"20e974f3-b388-810d-84e3-d7e519a94dce","created_time":"2025-06-10T17:52:00.000Z","last_edited_tim[...]
[...]
