interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color": "green"}]}},
      "Multi Status": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81d8-bd78-ddf703378736","cover":null,"icon":null,"created_time":"2025-09-23T10:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:05:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"D%7Dqr","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"d65f2d38-349e-4450-a85b-3188d8185e7b","name":"Option
      1","color":"default","description":null},{"id":"451fa588-7ff7-44f2-b442-165fe4691979","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"ENzg","name":"Status","description":null,"type":"select","select":{"options":[{"id":"dbf02079-eb47-4b80-958c-189ab6118278","name":"Open","color":"gray","description":null},{"id":"9cebc17d-235c-4806-910f-736be4aae5ec","name":"In
      Progress","color":"blue","description":null},{"id":"c8d91523-d467-4a90-89a0-43ebfd9d8088","name":"Blocked","color":"red","description":null},{"id":"07a7449a-b341-47a7-9349-b76c4c4ad44f","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881d8bd78ddf703378736","public_url":null,"archived":false,"in_trash":false,"request_id":"5a541fe1-aab8-41b5-9636-b8aed6d1e9f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a541fe1-aab8-41b5-9636-b8aed6d1e9f3
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-81d8-bd[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81d8-bd78-ddf703378736"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-813e-b2be-c62dfc6a29fe","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23T10:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81d8-bd78-ddf703378736"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"D%7Dqr","type":"multi_select","multi_select":[{"id":"d65f2d38-349e-4450-a85b-3188d8185e7b","name":"Option
      1","color":"default"}]},"Status":{"id":"ENzg","type":"select","select":{"id":"dbf02079-eb47-4b80-958c-189ab6118278","name":"Open","color":"gray"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-277974f3b388813eb2bec62dfc6a29fe","public_url":null,"request_id":"8a1f5301-f8ee-429b-955b-45516bd86560"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8a1f5301-f8ee-429b-955b-45516bd86560
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/277974f3b388813eb2bec62dfc6a29fe
  response:
    content: '{"object":"page","id":"277974f3-b388-813e-b2be-c62dfc6a29fe","created_time":"2025-09-23T10:05:00.000Z","last_edited_time":"2025-09-23[...]
[...]
