interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"268527c0-a3ba-4dc2-b9ed-89c92614ffd9","created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/268527c0a3ba4dc2b9ed89c92614ffd9","public_url":null,"request_id":"fe750c64-2474-41bd-95b3-d5ac275f7d95"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/268527c0-a3ba-4dc2-b9ed-89c92614ffd9
  response:
    content: '{"object":"page","id":"268527c0-a3ba-4dc2-b9ed-89c92614ffd9","created_time":"2023-12-25T11:44:00.000Z","last_edited_time":"2023-12-25T11:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/268527c0a3ba4dc2b9ed89c92614ffd9","public_url":null,"request_id":"1c4cc4c6-3e4e-448c-8f11-680b7858c4fa"}'
    headers: {}
    status_code: 200
version: 1
