interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Item DB for max relation
      items"}}], "properties": {"Name": {"type": "title", "title": {}}, "Price": {"type":
      "number", "number": {"format": "dollar"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-814e-bfd1-da2163207bd4","cover":null,"icon":null,"created_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:22:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"W_%3E%7D","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b388814ebfd1da2163207bd4","public_url":null,"archived":false,"in_trash":false,"request_id":"e9f493db-81dc-485a-bc72-143c2abe2a57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9f493db-81dc-485a-bc72-143c2abe2a57
    status_code: 200
- request:
    body: '{"description": [{"type": "text", "plain_text": "Database of all items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Database of
      all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/172974f[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Customer DB
      for max relation items"}}], "properties": {"Name": {"type": "title", "title":
      {}}, "Items Purchased": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "172974f3-b388-814e-bfd1-da2163207bd4", "dual_property": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"172974f3-b388-814f-8238-d185257059b9","cover":null,"icon":null,"created_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-01-05T14:22:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"rkhC","name":"Items Purchased","type":"relation","relation":{"database_id":"172974f3-b388-814e-bfd1-da2163207bd4","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"xIC%5E"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/172974f3b388814f8238d185257059b9","public_url":null,"archived":false,"in_trash":false,"request_id":"983c2ef4-83e3-4415-a162-32d76d516244"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 983c2ef4-83e3-4415-a162-32d76d516244
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "172974f3-b388-814f-8238-d185257059b9"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-81ba-944d-ee1fb7db778f","created_time":"2025-01-05T14:22:00.000Z","last_edited_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"172974f3-b388-814f-8238-d185257059b9"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"rkhC","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-172974f3b38881ba944dee1fb7db778f","public_url":null,"request_id":"3f48143a-4293-480a-893d-888d5a21bc32"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3f48143a-4293-480a-893d-888d5a21bc32
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/172974f3-b388-81ba-944d-ee1fb7db778f
  response:
    content: '{"object":"page","id":"172974f3-b388-81ba-944d-ee1fb7db778f","created_time":"2025-01-05T14:22:00.000Z","last_edited_time":"2025-01-05T14:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/172974f3-b388-81ba-944d-ee1fb7db778f/properties/rkhC?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"rkhC","relation":{"id":"172974f3-b388-81e8-8b70-c4234560aae5"}},{"object":"property_item","type":"relation","id":"rkhC","relation":{"id":"172974f3-b388-8152-8ce4-e6e77779b040"}},{"object":"property_item","type":"relation","id":"rkhC","relation":{"id":"172974f3-b388-81f2-9586-d613b649bd44"}},{"object":"property_item","type":"relation","id":"rkhC","relation":{"id":"172974f3-b388-81e5-b78a-cac4dd8c8bfe"}},{"object":"property_item","type":"relation"[...]
