interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color": "green"}]}},
      "Multi Status": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"25e974f3-b388-8197-a8c4-f7d767c5bf67","cover":null,"icon":null,"created_time":"2025-08-29T13:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-29T13:28:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"OqMU","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"8389e7c1-1544-4955-980d-288977a751d6","name":"Option
      1","color":"default","description":null},{"id":"a6d1b74a-5506-4bed-886b-bbb7357c862b","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"SRpT","name":"Status","description":null,"type":"select","select":{"options":[{"id":"7c2bf430-7a03-4a9a-9d8e-2578e0b5b536","name":"Open","color":"gray","description":null},{"id":"f7fa507c-8dab-4c0e-9cfe-deed68af1548","name":"In
      Progress","color":"blue","description":null},{"id":"598ab39f-62e7-4068-b3f3-e4852e96451d","name":"Blocked","color":"red","description":null},{"id":"77372779-fb68-4859-9848-4c85a1a46b87","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/25e974f3b3888197a8c4f7d767c5bf67","public_url":null,"archived":false,"in_trash":false,"request_id":"ebc84fa4-715c-42b3-a792-603512cc83a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ebc84fa4-715c-42b3-a792-603512cc83a2
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/25e974f3-b388-8197-a8[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "25e974f3-b388-8197-a8c4-f7d767c5bf67"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...[...]
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/25e974f3b38881e287bff07c1a04cc94
  response:
    content: '{"object":"page","id":"25e974f3-b388-81e2-87bf-f07c1a04cc94","created_time":"2025-08-29T13:28:00.000Z","last_edited_time":"2025-08-29[...]
[...]
