interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "Parent", "text":
      {"content": "Parent"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0546064b-60ed-46c1-b088-898cfe364314","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-0546064b60ed46c1b088898cfe364314","public_url":null,"request_id":"31a3e19e-12a8-4837-a91b-11f8f65a1573"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/0546064b-60ed-46c1-b088-898cfe364314/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"a570c68a-78a9-4295-8211-2c5c9c6379fd","parent":{"type":"page_id","page_id":"0546064b-60ed-46c1-b088-898cfe364314"},"created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"236995aa-2dbe-41e6-984f-9faecce2efe6","parent":{"type":"page_id","page_id":"0546064b-60ed-46c1-b088-898cfe364314"},"created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e4a13e12-707e-4e54-88bd-408f80654999"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
