interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Price": {"type": "number", "number": {"format": "dollar"}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d8b00736-bcde-457a-930e-c6d6b6205ac2","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:00:00.189+00:00","last_edited_time":"2026-06-27T17:00:00.189+00:00","data_sources":[{"id":"96a8b02f-d6b9-4cd2-9569-d396d1d3b7f4","name":"Item
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://www.notion.so/d8b00736bcde457a930ec6d6b6205ac2","public_url":null,"request_id":"944ce64c-f190-4e03-b74a-ad385bae240a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 944ce64c-f190-4e03-b74a-ad385bae240a
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/d8b00736-bcde-457a-930e-c6d6b6205ac2
  response:
    cont[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/96a8b02f-d6b9-4cd2-9569-d396d1d3b7f4
  response:
    content: '{"object":"data_source","id":"96a8b02f-d6b9-4cd2-9569-d396d1d3b7f4","cover":null,"icon":null,"created_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:00:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all items","href":null}],"is_inline":false,"properties":{"Price":{"id":"SlqB","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d8b00736-bcde-457a-930e-c6d6b6205ac2"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/d8b00736bcde457a930ec6d6b6205ac2","public_url":null,"in_trash":false,"request_id":"4ac3f0eb-049e-4e9f-b5d5-5df720ef5b74"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4ac3f0eb-049e-4e9f-b5d5-5df720ef5b74
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}, "Items Purchased": {"type": "relation", "relation": {"type":
      "dual_property", "data_source_id": "96a8b02f-d6b9-4cd2-9569-d396d1d3b7f4", "dual_property":
      {}}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c3d1dacf-93b0-4cf1-ad4a-5592264a3143","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:00:02.383+00:00","last_edited_time":"2026-06-27T17:00:02.383+00:00","data_sources":[{"id":"846dab72-5aaf-4735-9435-c91528b13239","name":"Customer
      DB for max relation items"}],"icon":null,"cover":null,"url":"https://www.notion.so/c3d1dacf93b04cf1ad4a5592264a3143","public_url":null,"request_id":"561345f1-17f2-4743-ba2e-ae86e7c9242f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 561345f1-17f2-4743-ba2e-ae86e7c9242f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/846dab72-5aaf-4735-9435-c91528b13239
  response:
    content: '{"object":"data_source","id":"846dab72-5aaf-4735-9435-c91528b13239","cover":null,"icon":null,"created_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:00:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[{"type":"text","text":{"content":"Database
      for customers","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      for customers","href":null}],"is_inline":false,"properties":{"Items Purchased":{"id":"o_yF","name":"Items
      Purchased","description":null,"type":"relation","relation":{"database_id":"d8b00736-bcde-457a-930e-c6d6b6205ac2","data_source_id":"96a8b02f-d6b9-4cd2-9569-d396d1d3b7f4","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"%5BVHf"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"c3d1dacf-93b0-4cf1-ad4a-5592264a3143"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/c3d1dacf93b04cf1ad4a5592264a3143","public_url":null,"in_trash":false,"request_id":"f78d9cad-9b85-4829-bae2-0cbb93b5bbb2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f78d9cad-9b85-4829-bae2-0cbb93b5bbb2
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "846dab72-5aaf-4735-9435-c91528b13239"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8156-a1b7-cf948b230f66","created_time":"2026-06-27T17:00:00.000Z","last_edited_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"846dab72-5aaf-4735-9435-c91528b13239","database_id":"c3d1dacf-93b0-4cf1-ad4a-5592264a3143"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"o_yF","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-38c9ce7b60a48156a1b7cf948b230f66","public_url":null,"request_id":"f6dca9e6-3cb8-48f0-b84b-18b10f72d7a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f6dca9e6-3cb8-48f0-b84b-18b10f72d7a7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/38c9ce7b-60a4-8156-a1b7-cf948b230f66
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8156-a1b7-cf948b230f66","created_time":"2026-06-27T17:00:00.000Z","last_edited_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/38c9ce7b-60a4-8156-a1b7-cf948b230f66/properties/o_yF?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"o_yF","relation":{"id":"38c9ce7b-60a4-810e-83a3-d2934e2180fe"}},{"object":"property_item","type":"relation","id":"o_yF","relation":{"id":"38c9ce7b-60a4-81fb-91d5-d261b09ae7d0"}},{"object":"property_item","type":"relation","id":"o_yF","relation":{"id":"38c9ce7b-60a4-811e-ac86-c13fe9776e14"}},{"object":"property_item","type":"relation","id":"o_yF","relation":{"id":"38c9ce7b-60a4-8157-be44-ca8a60ce4190"}},{"object":"property_item","type":"relation"[...]
