interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8163-94ab-f13ffa08e125","created_time":"2026-06-27T16:59:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-38c9ce7b60a4816394abf13ffa08e125","public_url":null,"request_id":"c275d27e-a29f-40e6-89ff-0fb034a539fd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c275d27e-a29f-40e6-89ff-0fb034a539fd
    status_code: 200
[...]
- request:
    body: '{"in_trash":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481139ab6d2a16861d032
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8113-9ab6-d2a16861d032","created_time":"2026-06-27T16:59:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8163-94ab-f13ffa08e125"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-38c9ce7b60a481139ab6d2a16861d032","public_url":null,"request_id":"e773e1a7-c99c-4b5f-b2cf-b3c86a08234a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e773e1a7-c99c-4b5f-b2cf-b3c86a08234a
    status_code: 200
- request:
    body: '{"in_trash":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a4816394abf13ffa08e125
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8163-94ab-f13ffa08e125","created_time":"2026-06-27T16:59:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-38c9ce7b60a4816394abf13ffa08e125","public_url":null,"request_id":"eb1a0b6a-c563-48bf-8f23-2cb1477f67dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb1a0b6a-c563-48bf-8f23-2cb1477f67dd
    status_code: 200
version: 1
