interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color": "green"}]}},
      "Multi Status": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8132-9b52-d22f6c32f0d2","cover":null,"icon":null,"created_time":"2026-06-25T14:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:33:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"Y_Pb","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"48261a40-9b7d-43bd-8a19-94411685543c","name":"Option
      1","color":"default","description":null},{"id":"30741b50-1247-4f44-b5fd-37ccc3b83ce6","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"%5CtfY","name":"Status","description":null,"type":"select","select":{"options":[{"id":"7669651f-c47c-4f95-8f2c-bb309caa456d","name":"Open","color":"gray","description":null},{"id":"c842bcfe-7142-4d2f-933e-b2fcd1c5ba40","name":"In
      Progress","color":"blue","description":null},{"id":"96277a8d-773a-4590-bf86-d46b418db6ab","name":"Blocked","color":"red","description":null},{"id":"9fe573ae-001a-4652-af1c-4cba457e81ee","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481329b52d22f6c32f0d2","public_url":null,"in_trash":false,"archived":false,"request_id":"12be04e6-7ced-4fae-bf94-46ff4700e2ea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 12be04e6-7ced-4fae-bf94-46ff4700e2ea
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8132-9b[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38a9ce7b-60a4-8132-9b52-d22f6c32f0d2"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-811d-ad34-ce41630b0c45","created_time":"2026-06-25T14:33:00.000Z","last_edited_time":"2026-06-25T14:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8132-9b52-d22f6c32f0d2"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"Y_Pb","type":"multi_select","multi_select":[{"id":"48261a40-9b7d-43bd-8a19-94411685543c","name":"Option
      1","color":"default"}]},"Status":{"id":"%5CtfY","type":"select","select":{"id":"7669651f-c47c-4f95-8f2c-bb309caa456d","name":"Open","color":"gray"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38a9ce7b60a4811dad34ce41630b0c45","public_url":null,"archived":false,"request_id":"5e5bf7a5-3c88-46a6-8e95-ae2d09dc74aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5e5bf7a5-3c88-46a6-8e95-ae2d09dc74aa
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38a9ce7b60a4811dad34ce41630b0c45
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-811d-ad34-ce41630b0c45","created_time":"2026-06-25T14:33:00.000Z","last_edited_time":"2026-06-25[...]
[...]
