interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4b7e2072-18f5-45f8-8c26-f4c9386472e6","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/4b7e207218f545f88c26f4c9386472e6","public_url":null,"request_id":"a6b84693-239b-4684-9c71-c1330ab240e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/4b7e2072-18f5-45f8-8c26-f4c9386472e6
  response:
    content: '{"object":"page","id":"4b7e2072-18f5-45f8-8c26-f4c9386472e6","created_time":"2024-01-04T16:33:00.000Z","last_edited_time":"2024-01-04T16:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/4b7e207218f545f88c26f4c9386472e6","public_url":null,"request_id":"c8a19cf8-9bbb-4e76-a1a4-3f371cb1cfef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
