interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f540d74d-76e3-4728-926f-842c78818525","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-f540d74d76e34728926f842c78818525","public_url":null,"request_id":"3a73d1a9-9632-4dad-9824-2766c46f6a93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-24a9VdfXi/O/Jsgal5Nl2LcWXtI"
      x-notion-request-id:
      - 3a73d1a9-9632-4dad-9824-2766c46f6a93
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/f540d74d-76e3-4728-926f-842c78818525/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"511b9318-e028-4d55-bd6c-b0b7da795ed7","parent":{"type":"page_id","page_id":"f540d74d-76e3-4728-926f-842c78818525"},"created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"6e17e266-7320-45eb-83d7-31948d0c688c","parent":{"type":"page_id","page_id":"f540d74d-76e3-4728-926f-842c78818525"},"created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b8f510b2-4ffc-47cf-aabe-46cf3eb04bda"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"463-456uuRGdQgeAIvcNqDNrIYVopYo"
      x-notion-request-id:
      - b8f510b2-4ffc-47cf-aabe-46cf3eb04bda
    status_code: 200
version: 1
