interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Item DB for max relation
      items"}}], "properties": {"Name": {"type": "title", "title": {}}, "Price": {"type":
      "number", "number": {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8181-a9b0-cbb5e074346e","cover":null,"icon":null,"created_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:13:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"faBn","name":"Price","type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b3888181a9b0cbb5e074346e","public_url":null,"archived":false,"in_trash":false,"request_id":"d9189346-e017-4ac5-a609-ac97f581b6bc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d9189346-e017-4ac5-a609-ac97f581b6bc
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-8181-a9b0-cbb5e074346e
  [...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Customer DB
      for max relation items"}}], "properties": {"Name": {"type": "title", "title":
      {}}, "Items Purchased": {"type": "relation", "relation": {"type": "dual_property",
      "database_id": "257974f3-b388-8181-a9b0-cbb5e074346e", "dual_property": {}}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-8167-84cf-d61b5406f5f5","cover":null,"icon":null,"created_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:13:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"%3Dgen","name":"Items Purchased","type":"relation","relation":{"database_id":"257974f3-b388-8181-a9b0-cbb5e074346e","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"QOCn"}}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b388816784cfd61b5406f5f5","public_url":null,"archived":false,"in_trash":false,"request_id":"7763a04b-dafa-4bd7-ae8e-06665735b01c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7763a04b-dafa-4bd7-ae8e-06665735b01c
    status_code: 200
[...]
- request:
    body: '{"properties":{"QOCn":{"name":"Bought by"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-8181-a9b0-cbb5e074346e
  response:
    content: '{"object":"database","id":"257974f3-b388-8181-a9b0-cbb5e074346e","cover":null,"icon":null,"created_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"la[...]
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-8167-84cf-d61b5406f5f5"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-81f7-bb97-c00e6e3d5b62","created_time":"2025-08-22T07:13:00.000Z","last_edited_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"257974f3-b388-8167-84cf-d61b5406f5f5"},"archived":false,"in_trash":false,"properties":{"Items
      Purchased":{"id":"%3Dgen","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-257974f3b38881f7bb97c00e6e3d5b62","public_url":null,"request_id":"af4d32b2-37df-4a50-8df4-53c5e30ffa0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - af4d32b2-37df-4a50-8df4-53c5e30ffa0a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/257974f3-b388-81f7-bb97-c00e6e3d5b62
  response:
    content: '{"object":"page","id":"257974f3-b388-81f7-bb97-c00e6e3d5b62","created_time":"2025-08-22T07:13:00.000Z","last_edited_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/257974f3-b388-81f7-bb97-c00e6e3d5b62/properties/%3Dgen?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"%3Dgen","relation":{"id":"257974f3-b388-8119-a7ef-d993eab6359e"}},{"object":"property_item","type":"relation","id":"%3Dgen","relation":{"id":"257974f3-b388-814d-a746-df58c1fbc4e3"}},{"object":"property_item","type":"relation","id":"%3Dgen","relation":{"id":"257974f3-b388-817c-a55f-c751e2caf57d"}},{"object":"property_item","type":"relation","id":"%3Dgen","relation":{"id":"257974f3-b388-8152-9bc9-dee17be45587"}},{"object":"property_item","type":"r[...]
