interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"adb492bd-7112-4342-b3fc-2b1e6569c8ca","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-adb492bd71124342b3fc2b1e6569c8ca","public_url":null,"request_id":"9857aab9-181b-467f-8d1d-853510ead91b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"352-zgc2oCLa6wrGdZ3YrsJZ0JNibdc"
      x-notion-request-id:
      - 9857aab9-181b-467f-8d1d-853510ead91b
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/33f1a315efc3489f956fcb88d11bf579
  response:
    content: '{"object":"page","id":"33f1a315-efc3-489f-956f-cb88d11bf579","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"adb492bd-7112-4342-b3fc-2b1e6569c8ca"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-33f1a315efc3489f956fcb88d11bf579","public_url":null,"request_id":"12c2de29-1077-4619-a2f4-b982a5382037"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-lArkyI+SKGB7KhAHVq/l24hPIrk"
      x-notion-request-id:
      - 12c2de29-1077-4619-a2f4-b982a5382037
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/adb492bd71124342b3fc2b1e6569c8ca
  response:
    content: '{"object":"page","id":"adb492bd-7112-4342-b3fc-2b1e6569c8ca","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-adb492bd71124342b3fc2b1e6569c8ca","public_url":null,"request_id":"46310364-3db3-4e76-8625-b71db19d5cd4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-Hl8A5VdBsMg/uQmHPy8doy9AT5Y"
      x-notion-request-id:
      - 46310364-3db3-4e76-8625-b71db19d5cd4
    status_code: 200
version: 1
