interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "properties":
      {"Title": {"type": "title", "title": {}}, "Status": {"type": "select", "select":
      {"options": [{"name": "Open", "color": "gray"}, {"name": "In Progress", "color":
      "blue"}, {"name": "Blocked", "color": "red"}, {"name": "Closed", "color": "green"}]}},
      "Multi Status": {"type": "multi_select", "multi_select": {"options": [{"name":
      "Option 1", "color": "default"}, {"name": "Option 2", "color": "pink"}]}}},
      "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"276974f3-b388-81f4-8d8b-c6008b28b748","cover":null,"icon":null,"created_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-22T09:19:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"is_inline":false,"properties":{"Multi
      Status":{"id":"CHSB","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"e8437dd5-91e1-4fe6-b92c-9ec275d7d5b0","name":"Option
      1","color":"default","description":null},{"id":"687b5561-ace5-4035-a6e0-a6883109a566","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"Ws_M","name":"Status","description":null,"type":"select","select":{"options":[{"id":"31692d01-a534-4715-b572-f102bdccd2a7","name":"Open","color":"gray","description":null},{"id":"8736224c-34d5-4c6d-bd70-2431def28072","name":"In
      Progress","color":"blue","description":null},{"id":"467213ac-5497-4309-849f-d72bfbd17584","name":"Blocked","color":"red","description":null},{"id":"c77536a2-782d-4abc-83c8-22ae7bed212c","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/276974f3b38881f48d8bc6008b28b748","public_url":null,"archived":false,"in_trash":false,"request_id":"eeffb910-f1d8-4d3c-a065-aaddf3220a10"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eeffb910-f1d8-4d3c-a065-aaddf3220a10
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/276974f3-b388-81f4-8d[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "276974f3-b388-81f4-8d8b-c6008b28b748"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8108-a5e6-fbbbf86f2cd3","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22T09:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"276974f3-b388-81f4-8d8b-c6008b28b748"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"CHSB","type":"multi_select","multi_select":[{"id":"e8437dd5-91e1-4fe6-b92c-9ec275d7d5b0","name":"Option
      1","color":"default"}]},"Status":{"id":"Ws_M","type":"select","select":{"id":"31692d01-a534-4715-b572-f102bdccd2a7","name":"Open","color":"gray"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-276974f3b3888108a5e6fbbbf86f2cd3","public_url":null,"request_id":"480c4bff-ce8c-4764-b614-dbb2aaf8f4a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 480c4bff-ce8c-4764-b614-dbb2aaf8f4a1
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/276974f3b3888108a5e6fbbbf86f2cd3
  response:
    content: '{"object":"page","id":"276974f3-b388-8108-a5e6-fbbbf86f2cd3","created_time":"2025-09-22T09:19:00.000Z","last_edited_time":"2025-09-22[...]
[...]
