interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Status": {"type": "select", "select": {"options": [{"name": "Open", "color":
      "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color":
      "red"}, {"name": "Closed", "color": "green"}]}}, "Multi Status": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option 1", "color": "default"}, {"name":
      "Option 2", "color": "pink"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"dcc26dbb-ed7c-4f0f-ad53-cb189668bdb7","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T17:00:33.445+00:00","last_edited_time":"2026-06-27T17:00:33.445+00:00","data_sources":[{"id":"644fa078-8e60-4d34-a610-edb882d218d1","name":"Option
      Page Props Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/dcc26dbbed7c4f0fad53cb189668bdb7","public_url":null,"request_id":"7ef73977-3651-44d6-93c9-b5fd4521ea20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ef73977-3651-44d6-93c9-b5fd4521ea20
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/databases/dcc26dbb-ed7c-4f0f-ad[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/644fa078-8e60-4d34-a610-edb882d218d1
  response:
    content: '{"object":"data_source","id":"644fa078-8e60-4d34-a610-edb882d218d1","cover":null,"icon":null,"created_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T17:00:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "644fa078-8e60-4d34-a610-edb882d218d1"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-813c-a0a4-da617aa696fa","created_time":"2026-06-27T17:00:00.000Z","last_edited_time":"2026-06-27T17:00:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"644fa078-8e60-4d34-a610-edb882d218d1","database_id":"dcc26dbb-ed7c-4f0f-ad53-cb189668bdb7"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Status":{"id":"dJ%5By","type":"select","select":{"id":"5a37942d-d9a7-4ec8-be0a-84a6a853bd87","name":"Open","color":"gray"}},"Multi
      Status":{"id":"sGyY","type":"multi_select","multi_select":[{"id":"2418c549-a153-4fc9-9d39-df4f6eec22ee","name":"Option
      1","color":"default"}]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38c9ce7b60a4813ca0a4da617aa696fa","public_url":null,"request_id":"9af6e87b-80e4-43e3-8e3c-38b744dd660e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9af6e87b-80e4-43e3-8e3c-38b744dd660e
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a4813ca0a4da617aa696fa
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-813c-a0a4-da617aa696fa","created_time":"2026-06-27T17:00:00.000Z","last_edited_time":"2026-06-27[...]
[...]
