interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a9703483-911e-4d05-98ad-bdfc802be318","created_time":"2024-08-02T20:50:00.000Z","last_edited_time":"2024-08-02T20:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/a9703483911e4d0598adbdfc802be318","public_url":null,"request_id":"c309f687-9ad7-466f-9cdd-714a7fb5e87c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c309f687-9ad7-466f-9cdd-714a7fb5e87c
    status_code: 200
- request:
    body: '{"properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new title", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "My new title"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/a9703483911e4d0598adbdfc802be318
  response:
    content: '{"object":"page","id":"a9703483-911e-4d05-98ad-bdfc802be318","created_time":"2024-08-02T20:50:00.000Z","last_edited_time":"2024-08-02T20:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-a9703483911e4d0598adbdfc802be318","public_url":null,"request_id":"69101a2c-8a96-421a-b86e-2da83d35080c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 69101a2c-8a96-421a-b86e-2da83d35080c
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/a9703483-911e-4d05-98ad-bdfc802be318
  response:
    content: '{"object":"page","id":"a9703483-911e-4d05-98ad-bdfc802be318","created_time":"2024-08-02T20:50:00.000Z","last_edited_time":"2024-08-02T20:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/a9703483911e4d0598adbdfc802be318","public_url":null,"request_id":"04cf6819-5ad6-411e-a7eb-36c95f75f266"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 04cf6819-5ad6-411e-a7eb-36c95f75f266
    status_code: 200
version: 1
