interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Option Page Props Test", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Option Page Props Test"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Title": {"type": "title", "title":
      {}}, "Status": {"type": "select", "select": {"options": [{"name": "Open", "color":
      "gray"}, {"name": "In Progress", "color": "blue"}, {"name": "Blocked", "color":
      "red"}, {"name": "Closed", "color": "green"}]}}, "Multi Status": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Option 1", "color": "default"}, {"name":
      "Option 2", "color": "pink"}]}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"098c295b-d782-4d2d-9253-ae77ba7a8f34","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:57:02.369+00:00","last_edited_time":"2026-06-27T05:57:02.369+00:00","data_sources":[{"id":"a5cd0625-bea4-49ae-9500-ee92a375e6e9","name":"Option
      Page Props Test"}],"icon":null,"cover":null,"url":"https://www.notion.so/098c295bd7824d2d9253ae77ba7a8f34","public_url":null,"archived":false,"request_id":"526a672b-335d-4951-8472-113e5756814e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 526a672b-335d-4951-8472-113e5756814e
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Schema for testing option
      page props","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Schema
      for testing option page props"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/098c295b-d782-4d2d-92[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/a5cd0625-bea4-49ae-9500-ee92a375e6e9
  response:
    content: '{"object":"data_source","id":"a5cd0625-bea4-49ae-9500-ee92a375e6e9","cover":null,"icon":null,"created_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:57:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false[...]
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "a5cd0625-bea4-49ae-9500-ee92a375e6e9"},
      "properties": {"Title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page 1", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Page 1"}}]}, "Status":
      {"type": "select", "select": {"name": "Open"}}, "Multi Status": {"type": "multi_select",
      "multi_select": [{"name": "Option 1"}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81bf-bd54-df90475ede35","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27T05:57:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"a5cd0625-bea4-49ae-9500-ee92a375e6e9","database_id":"098c295b-d782-4d2d-9253-ae77ba7a8f34"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"On%3B%3D","type":"multi_select","multi_select":[{"id":"585455b1-a32a-4361-8149-c52bd1b3c339","name":"Option
      1","color":"default"}]},"Status":{"id":"i~%5CW","type":"select","select":{"id":"9288e60b-1090-48bd-ba4c-e9596be541a6","name":"Open","color":"gray"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38c9ce7b60a481bfbd54df90475ede35","public_url":null,"archived":false,"request_id":"907ca576-8f47-41dc-8653-7fb47bde1f93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 907ca576-8f47-41dc-8653-7fb47bde1f93
    status_code: 200
[...]
- request:
    body: '{"properties":{"Status":{"type":"select","select":{"name":"Blocked","color":"red"}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481bfbd54df90475ede35
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81bf-bd54-df90475ede35","created_time":"2026-06-27T05:57:00.000Z","last_edited_time":"2026-06-27[...]
[...]
