interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"55e8c5fa-d0be-4b11-b91f-ab85b1897951","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/55e8c5fad0be4b11b91fab85b1897951","public_url":null,"request_id":"bf87208a-afd6-47f4-b2dc-f3e29c06d14f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-tGEPhMQv9LT8PdRxbDT6EIBGkL0"
      x-notion-request-id:
      - bf87208a-afd6-47f4-b2dc-f3e29c06d14f
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/55e8c5fad0be4b11b91fab85b1897951
  response:
    content: '{"object":"page","id":"55e8c5fa-d0be-4b11-b91f-ab85b1897951","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/55e8c5fad0be4b11b91fab85b1897951","public_url":null,"request_id":"51383c4e-cfdf-43ba-b8fc-b504a8f89cd4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27a-d/MdXYCB2sG2G6NSe1UabgHcncs"
      x-notion-request-id:
      - 51383c4e-cfdf-43ba-b8fc-b504a8f89cd4
    status_code: 200
- request:
    body: '{"archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/55e8c5fad0be4b11b91fab85b1897951
  response:
    content: '{"object":"page","id":"55e8c5fa-d0be-4b11-b91f-ab85b1897951","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/55e8c5fad0be4b11b91fab85b1897951","public_url":null,"request_id":"952f2d4d-7da5-452e-a47c-1f8dfc7a7ee7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-7OIJF0wFGQdtXlXRoPCgChexyPs"
      x-notion-request-id:
      - 952f2d4d-7da5-452e-a47c-1f8dfc7a7ee7
    status_code: 200
version: 1
