interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6da98104-6621-4fbc-8dcc-63539a98e0a7","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6da9810466214fbc8dcc63539a98e0a7","public_url":null,"request_id":"e62c0ef7-edf0-48f4-9c73-60a6b1d090e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-WTR1nCMcLGNbget3Nbh0ajbavoc"
      x-notion-request-id:
      - e62c0ef7-edf0-48f4-9c73-60a6b1d090e8
    status_code: 200
- request:
    body: '{"properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new title", "text": {"content": "My new title"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/6da9810466214fbc8dcc63539a98e0a7
  response:
    content: '{"object":"page","id":"6da98104-6621-4fbc-8dcc-63539a98e0a7","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-6da9810466214fbc8dcc63539a98e0a7","public_url":null,"request_id":"dc061663-f093-4b45-9e48-257429823766"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"361-bdVbMn6z+qU6IkZABOMJBNLmR1I"
      x-notion-request-id:
      - dc061663-f093-4b45-9e48-257429823766
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/6da98104-6621-4fbc-8dcc-63539a98e0a7
  response:
    content: '{"object":"page","id":"6da98104-6621-4fbc-8dcc-63539a98e0a7","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/6da9810466214fbc8dcc63539a98e0a7","public_url":null,"request_id":"7a2b105a-c07c-48bc-984c-2041728a5ba1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-iQFBmmBIvbTH+0XNMLIVPZTAGYw"
      x-notion-request-id:
      - 7a2b105a-c07c-48bc-984c-2041728a5ba1
    status_code: 200
version: 1
