interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "Parent", "text":
      {"content": "Parent"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"9b37efab-50d3-4fa8-8dd8-4b73a6767063","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-9b37efab50d34fa88dd84b73a6767063","public_url":null,"request_id":"264f2115-cec1-451b-aa95-a38b5a3c3679"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/9b37efab-50d3-4fa8-8dd8-4b73a6767063/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"7d739c9c-3d7b-4547-9dd0-cf3cf042a322","parent":{"type":"page_id","page_id":"9b37efab-50d3-4fa8-8dd8-4b73a6767063"},"created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"8e6c69b2-fe96-4865-b01a-97147904eac7","parent":{"type":"page_id","page_id":"9b37efab-50d3-4fa8-8dd8-4b73a6767063"},"created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1f26ec70-b4d1-4815-aa82-1f9e103bce7a"}'
    headers: {}
    status_code: 200
version: 1
