interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "My new page with
      icon", "text": {"content": "My new page with icon"}, "type": "text"}], "type":
      "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c1726277-ba4f-49c9-a956-ffed37700609","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-c1726277ba4f49c9a956ffed37700609","public_url":null,"request_id":"3f8765b8-8143-4637-a5a0-c6aacae52628"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"emoji": "\ud83d\udc0d", "type": "emoji"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/c1726277ba4f49c9a956ffed37700609
  response:
    content: "{\"object\":\"page\",\"id\":\"c1726277-ba4f-49c9-a956-ffed37700609\",\"created_time\":\"2023-12-24T13:10:00.000Z\",\"last_edited_time\":\"2023-12-24T13:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page with icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page with icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-with-icon-c1726277ba4f49c9a956ffed37700609\",\"public_url\":null,\"request_id\":\"2b101017-f5d8-4aad-9b33-a7bc75343832\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"icon": {"external": {"url": "https://www.notion.so/icons/snake_purple.svg"},
      "type": "external"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/c1726277ba4f49c9a956ffed37700609
  response:
    content: '{"object":"page","id":"c1726277-ba4f-49c9-a956-ffed37700609","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-c1726277ba4f49c9a956ffed37700609","public_url":null,"request_id":"46dcefa7-bd8b-4c78-b79a-cc294a46739a"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/c1726277-ba4f-49c9-a956-ffed37700609
  response:
    content: '{"object":"page","id":"c1726277-ba4f-49c9-a956-ffed37700609","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-c1726277ba4f49c9a956ffed37700609","public_url":null,"request_id":"f818e94d-32ef-4e44-8962-8d145a5dc95e"}'
    headers: {}
    status_code: 200
version: 1
