interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max relation items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max relation items"}}], "properties":
      {"Name": {"type": "title", "title": {}}, "Price": {"type": "number", "number":
      {"format": "dollar"}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81f8-93bc-f40106eb38fa","cover":null,"icon":null,"created_time":"2025-09-23T10:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:04:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Price":{"id":"NAQ%3C","name":"Price","description":null,"type":"number","number":{"format":"dollar"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881f893bcf40106eb38fa","public_url":null,"archived":false,"in_trash":false,"request_id":"7c237609-b1ea-4950-a4ec-955b824d101d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7c237609-b1ea-4950-a4ec-955b824d101d
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/277974f3-b388-81f8-93bc-f40106eb38fa
  response:
    cont[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Customer DB for max relation items",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "Customer DB for max relation items"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Items Purchased": {"type":
      "relation", "relation": {"type": "dual_property", "database_id": "277974f3-b388-81f8-93bc-f40106eb38fa",
      "dual_property": {}}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"277974f3-b388-81ed-bc24-c432e2b75017","cover":null,"icon":null,"created_time":"2025-09-23T10:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-09-23T10:04:00.000Z","title":[{"type":"text","text":{"content":"Customer
      DB for max relation items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      DB for max relation items","href":null}],"description":[],"is_inline":false,"properties":{"Items
      Purchased":{"id":"HB%5C%3C","name":"Items Purchased","description":null,"type":"relation","relation":{"database_id":"277974f3-b388-81f8-93bc-f40106eb38fa","data_source_id":"277974f3-b388-817e-9635-000b150dd633","type":"dual_property","dual_property":{"synced_property_name":"Related
      to Customer DB for max relation items (Items Purchased)","synced_property_id":"k%7BmK"}}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/277974f3b38881edbc24c432e2b75017","public_url":null,"archived":false,"in_trash":false,"request_id":"8c508104-2b84-4194-af5d-4845c2fde2e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8c508104-2b84-4194-af5d-4845c2fde2e6
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "277974f3-b388-81ed-bc24-c432e2b75017"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Customer 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Customer 1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81b5-8f40-e66d619dfc41","created_time":"2025-09-23T10:04:00.000Z","last_edited_time":"2025-09-23T10:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"277974f3-b388-81ed-bc24-c432e2b75017"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Items
      Purchased":{"id":"HB%5C%3C","type":"relation","relation":[],"has_more":false},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Customer
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Customer
      1","href":null}]}},"url":"https://www.notion.so/Customer-1-277974f3b38881b58f40e66d619dfc41","public_url":null,"request_id":"7ac0c802-6c4b-4dec-a6f6-9123db272108"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ac0c802-6c4b-4dec-a6f6-9123db272108
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/277974f3-b388-81b5-8f40-e66d619dfc41
  response:
    content: '{"object":"page","id":"277974f3-b388-81b5-8f40-e66d619dfc41","created_time":"2025-09-23T10:04:00.000Z","last_edited_time":"2025-09-23T10:04:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/277974f3-b388-81b5-8f40-e66d619dfc41/properties/HB%5C%3C?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"relation","id":"HB%5C%3C","relation":{"id":"277974f3-b388-81fb-a8d7-e1d2635775d2"}},{"object":"property_item","type":"relation","id":"HB%5C%3C","relation":{"id":"277974f3-b388-813d-ad50-c457b72bac6a"}},{"object":"property_item","type":"relation","id":"HB%5C%3C","relation":{"id":"277974f3-b388-81c2-9e5f-d04c43bc61a9"}},{"object":"property_item","type":"relation","id":"HB%5C%3C","relation":{"id":"277974f3-b388-81fb-ac73-d2a99e2c7071"}},{"object":"property_item","[...]
