interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"81b4544e-63ca-448d-b480-013c10ae89a3","created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/81b4544e63ca448db480013c10ae89a3","public_url":null,"request_id":"1e4a0d1a-9719-43cb-9dff-9f6e7cb6c8c5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/81b4544e-63ca-448d-b480-013c10ae89a3
  response:
    content: '{"object":"page","id":"81b4544e-63ca-448d-b480-013c10ae89a3","created_time":"2024-02-14T17:39:00.000Z","last_edited_time":"2024-02-14T17:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/81b4544e63ca448db480013c10ae89a3","public_url":null,"request_id":"6e6fe513-913a-4668-bd86-cf1249801c5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
