interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b19b73f5-471e-4ab9-b4a6-e8ca203e3c9e","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b19b73f5471e4ab9b4a6e8ca203e3c9e","public_url":null,"request_id":"476a4bdd-50f9-451c-b029-dc7aa1b4f67c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/b19b73f5-471e-4ab9-b4a6-e8ca203e3c9e
  response:
    content: '{"object":"page","id":"b19b73f5-471e-4ab9-b4a6-e8ca203e3c9e","created_time":"2023-12-24T22:16:00.000Z","last_edited_time":"2023-12-24T22:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/b19b73f5471e4ab9b4a6e8ca203e3c9e","public_url":null,"request_id":"90452051-b1cd-4fca-a979-2252d254e41e"}'
    headers: {}
    status_code: 200
version: 1
