interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "My new page with
      icon", "text": {"content": "My new page with icon"}, "type": "text"}], "type":
      "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e3c185b9-7cf4-4079-99c6-9fa1d3357361","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-e3c185b97cf4407999c69fa1d3357361","public_url":null,"request_id":"65770f08-92e2-4137-a4ca-74c3740b10fe"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"emoji": "\ud83d\udc0d", "type": "emoji"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e3c185b97cf4407999c69fa1d3357361
  response:
    content: "{\"object\":\"page\",\"id\":\"e3c185b9-7cf4-4079-99c6-9fa1d3357361\",\"created_time\":\"2023-12-25T11:45:00.000Z\",\"last_edited_time\":\"2023-12-25T11:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page with icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page with icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-with-icon-e3c185b97cf4407999c69fa1d3357361\",\"public_url\":null,\"request_id\":\"07b9d738-fbc7-463f-8fa6-d386482297ce\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"icon": {"external": {"url": "https://www.notion.so/icons/snake_purple.svg"},
      "type": "external"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e3c185b97cf4407999c69fa1d3357361
  response:
    content: '{"object":"page","id":"e3c185b9-7cf4-4079-99c6-9fa1d3357361","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-e3c185b97cf4407999c69fa1d3357361","public_url":null,"request_id":"88b3eb48-aca9-443a-8138-aba5a5ce57cb"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e3c185b9-7cf4-4079-99c6-9fa1d3357361
  response:
    content: '{"object":"page","id":"e3c185b9-7cf4-4079-99c6-9fa1d3357361","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-e3c185b97cf4407999c69fa1d3357361","public_url":null,"request_id":"12a2b0b7-55ab-4bbc-a658-bc4ae3f02981"}'
    headers: {}
    status_code: 200
version: 1
