interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with icon", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "My new page
      with icon"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-816e-abd1-f1f242ac27cb","created_time":"2025-09-03T13:56:00.000Z","last_edited_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-263974f3b388816eabd1f1f242ac27cb","public_url":null,"request_id":"72eb6a6c-9a21-49c9-a3e0-7bbfe21e060f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 72eb6a6c-9a21-49c9-a3e0-7bbfe21e060f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"3b33227f-9105-43d2-b4dd-a4038e7d699d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3b33227f-9105-43d2-b4dd-a4038e7d699d
    status_code: 200
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/263974f3b388816eabd1f1f242ac27cb
  response:
    content: "{\"object\":\"page\",\"id\":\"263974f3-b388-816e-abd1-f1f242ac27cb\",\"created_time\":\"2025-09-03T13:56:00.000Z\",\"last_edited_time\":\"2025-09-03T13:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-[...]
[...]
- request:
    body: '{"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/263974f3b388816eabd1f1f242ac27cb
  response:
    content: '{"object":"page","id":"263974f3-b388-816e-abd1-f1f242ac27cb","created_time":"2025-09-03T13:56:00.000Z","last_edited_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":{"type":"external","external":{"url":"https://www.notion.so/icons/snake_purple.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-263974f3b388816eabd1f1f242ac27cb","public_url":null,"request_id":"b1a4d8b2-b69d-4689-9daf-49cdfbb5cc7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b1a4d8b2-b69d-4689-9daf-49cdfbb5cc7e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/263974f3-b388-816e-abd1-f1f242ac27cb
  response:
    content: '{"object":"page","id":"263974f3-b388-816e-abd1-f1f242ac27cb","created_time":"2025-09-03T13:56:00.000Z","last_edited_time":"2025-09-03T13:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-263974f3b388816eabd1f1f242ac27cb","public_url":null,"request_id":"56b522ef-cf96-41d3-b505-8934ab9bb79f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56b522ef-cf96-41d3-b505-8934ab9bb79f
    status_code: 200
version: 1
