interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8a5766a5-3b68-4694-b5c9-38e2b7b19a39","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-8a5766a53b684694b5c938e2b7b19a39","public_url":null,"request_id":"1bf5491f-e859-46bf-bd62-baff0d667f44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-4lF4XQSgmfAgtrWlismEP/nxzLw"
      x-notion-request-id:
      - 1bf5491f-e859-46bf-bd62-baff0d667f44
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/8a5766a5-3b68-4694-b5c9-38e2b7b19a39/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"a5cf3534-7123-4359-8fc7-afade51e177b","parent":{"type":"page_id","page_id":"8a5766a5-3b68-4694-b5c9-38e2b7b19a39"},"created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"8d506d3d-601d-4687-a5c2-eed4263cb801","parent":{"type":"page_id","page_id":"8a5766a5-3b68-4694-b5c9-38e2b7b19a39"},"created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1c93850f-883c-4f09-bf38-143ba3b382cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"463-DkRmlWP9b0rDGq656uzTL1Dza3w"
      x-notion-request-id:
      - 1c93850f-883c-4f09-bf38-143ba3b382cc
    status_code: 200
version: 1
