interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b5-a46c-ca56a84d3d75","created_time":"2026-06-24T18:47:00.000Z","last_edited_time":"2026-06-24T18:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://app.notion.com/p/level_1-3899ce7b60a481b5a46cca56a84d3d75","public_url":null,"archived":false,"request_id":"f575fe30-0868-4127-ac31-566c920bca8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f575fe30-0868-4127-ac31-566c920bca8f
    status_code: 200
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481efbcabdeda77f090ad
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81ef-bcab-deda77f090ad","created_time":"2026-06-24T18:47:00.000Z","last_edited_time":"2026-06-24T18:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"3899ce7b-60a4-81b5-a46c-ca56a84d3d75"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://app.notion.com/p/level_2-3899ce7b60a481efbcabdeda77f090ad","public_url":null,"archived":true,"request_id":"a0aa6463-325b-4ff6-92ff-92553d6f493f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0aa6463-325b-4ff6-92ff-92553d6f493f
    status_code: 200
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481b5a46cca56a84d3d75
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81b5-a46c-ca56a84d3d75","created_time":"2026-06-24T18:47:00.000Z","last_edited_time":"2026-06-24T18:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://app.notion.com/p/level_1-3899ce7b60a481b5a46cca56a84d3d75","public_url":null,"archived":true,"request_id":"13dfc42c-a938-4cb8-b700-5393af3362e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 13dfc42c-a938-4cb8-b700-5393af3362e8
    status_code: 200
version: 1
