interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Item DB for max text items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Item DB for max text
      items"}}], "properties": {"Name": {"type": "title", "title": {}}, "Description":
      {"type": "rich_text", "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"257974f3-b388-81b7-af2c-f4a19d5abcc6","cover":null,"icon":null,"created_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-08-22T07:13:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[],"is_inline":false,"properties":{"Description":{"id":"Ijo%3F","name":"Description","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/257974f3b38881b7af2cf4a19d5abcc6","public_url":null,"archived":false,"in_trash":false,"request_id":"d91dc684-fe03-4b68-b038-d2e72581604d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d91dc684-fe03-4b68-b038-d2e72581604d
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/257974f3-b388-81b7-af2c-f4a19d5abcc6
  [...]
- request:
    body: '{"parent": {"type": "database_id", "database_id": "257974f3-b388-81b7-af2c-f4a19d5abcc6"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Who is the best programmer? ;-) ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Who is the best programmer? ;-) "}}, {"type": "mention",
      "plain_text": "@Florian Wilhelm", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "mention": {"type": "user", "user": {"type": "person", "id": "b10cb6df-12ef-44d3-88ad-250168f66322",
      "object": "user", "name": "Florian Wilhelm", "avatar_url": "https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100",
      "person": {"email": "florian.wilhelm@gmail.com"}}}}, {"type": "text", "plain_text":
      ", ", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      ", "}}, {"type": "mention", "plain_text": "@Florian Wilhelm", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "mention": {"type": "user", "user": {"type":
      "person", [...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/257974f3-b388-8176-8747-fa8fc2f1faf0
  response:
    content: '{"object":"page","id":"257974f3-b388-8176-8747-fa8fc2f1faf0","created_time":"2025-08-22T07:13:00.000Z","last_edited_time":"2025-08-22T07:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id[...]
