interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5d3010e9-2aa3-4444-9498-3d032c24e916","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-5d3010e92aa3444494983d032c24e916","public_url":null,"request_id":"44fcd89e-781b-4c78-a572-e1080a21a2b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44fcd89e-781b-4c78-a572-e1080a21a2b1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/5d3010e9-2aa3-4444-9498-3d032c24e916/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"cf23c11b-c6eb-4780-b37b-8c2872926a10","parent":{"type":"page_id","page_id":"5d3010e9-2aa3-4444-9498-3d032c24e916"},"created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      1"}},{"object":"block","id":"de60804f-b986-4fc5-8288-ce60c99a5e04","parent":{"type":"page_id","page_id":"5d3010e9-2aa3-4444-9498-3d032c24e916"},"created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Child
      2"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6dc26329-2ebf-4e96-84aa-798c2460274d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6dc26329-2ebf-4e96-84aa-798c2460274d
    status_code: 200
version: 1
