interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c61c1f30-d46c-4dfb-982b-dad6dace7a36","cover":null,"icon":null,"created_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:23:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"f~%3CR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/c61c1f30d46c4dfb982bdad6dace7a36","public_url":null,"archived":false,"in_trash":false,"request_id":"2b5ef169-0a05-467b-8b08-571488061a56"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2b5ef169-0a05-467b-8b08-571488061a56
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Parent DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Parent DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/c61c1f30-d46c-4dfb-982b-dad6dace7a36
  response:
    content: '{"object":"database","id":"c61c1f30-d46c-4dfb-982b-dad6dace7a36","cover":null,"icon":null,"created_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:23:00.000Z","title":[{"type":"text","text":{"content":"Parent
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"f~%3CR","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/c61c1f30d46c4dfb982bdad6dace7a36","public_url":null,"archived":false,"in_trash":false,"request_id":"be879af5-d5e3-42a5-be7c-9d0bc27d84d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be879af5-d5e3-42a5-be7c-9d0bc27d84d9
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "c61c1f30-d46c-4dfb-982b-dad6dace7a36"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"bc8a7d23-a642-4b4d-8b50-27a3e93daf76","created_time":"2024-08-21T17:23:00.000Z","last_edited_time":"2024-08-21T17:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c61c1f30-d46c-4dfb-982b-dad6dace7a36"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"f~%3CR","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/bc8a7d23a6424b4d8b5027a3e93daf76","public_url":null,"request_id":"3df86ca9-af98-431d-bcfd-5c074745b72b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3df86ca9-af98-431d-bcfd-5c074745b72b
    status_code: 200
[...]
