interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-813f-b55b-ccbcea779884","created_time":"2025-10-30T15:43:00.000Z","last_edited_time":"2025-10-30T15:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-29c974f3b388813fb55bccbcea779884","public_url":null,"request_id":"3ef3a267-a3b9-4bcd-a11b-a65868a1d1df"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ef3a267-a3b9-4bcd-a11b-a65868a1d1df
    status_code: 200
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b388816f9a29c20dc0661f39
  response:
    content: '{"object":"page","id":"29c974f3-b388-816f-9a29-c20dc0661f39","created_time":"2025-10-30T15:43:00.000Z","last_edited_time":"2025-10-30T15:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"29c974f3-b388-813f-b55b-ccbcea779884"},"archived":true,"in_trash":true,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-29c974f3b388816f9a29c20dc0661f39","public_url":null,"request_id":"a9949847-9102-4b72-b52c-258238fec75b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a9949847-9102-4b72-b52c-258238fec75b
    status_code: 200
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b388813fb55bccbcea779884
  response:
    content: '{"object":"page","id":"29c974f3-b388-813f-b55b-ccbcea779884","created_time":"2025-10-30T15:43:00.000Z","last_edited_time":"2025-10-30T15:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-29c974f3b388813fb55bccbcea779884","public_url":null,"request_id":"6be373a9-3590-4345-973d-a37893dc1a37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6be373a9-3590-4345-973d-a37893dc1a37
    status_code: 200
version: 1
