interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Positioned content", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Positioned content"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3","created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Positioned
      content","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Positioned
      content","href":null}]}},"url":"https://www.notion.so/Positioned-content-3af9ce7b60a481379df4e6ccc73f14e3","public_url":null,"request_id":"2d232a00-48ab-4979-8c4d-0b8cc42b2593"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2d232a00-48ab-4979-8c4d-0b8cc42b2593
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"da288040-60a8-4cc5-ad23-8e9c62aeb819"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - da288040-60a8-4cc5-ad23-8e9c62aeb819
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/3af9ce7b-60a4-8137-9df4-e6ccc73f14e3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"bba38ae9-d25f-492d-a9b9-94740b6de178"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bba38ae9-d25f-492d-a9b9-94740b6de178
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"End","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"End"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3af9ce7b-60a4-8137-9df4-e6ccc73f14e3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3af9ce7b-60a4-8159-8c4c-d69d767c56d1","parent":{"type":"page_id","page_id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},"created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"End","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"End","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"fc3d46fc-4a9c-4f46-9b13-4671b592f70f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc3d46fc-4a9c-4f46-9b13-4671b592f70f
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "First page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "First page"}}]}},
      "position": {"type": "page_start"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3af9ce7b-60a4-81e6-a010-f1c3fbd8313b","created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"First
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"First
      page","href":null}]}},"url":"https://www.notion.so/First-page-3af9ce7b60a481e6a010f1c3fbd8313b","public_url":null,"request_id":"05693f02-dbc2-4c81-a9b0-6809d1891245"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 05693f02-dbc2-4c81-a9b0-6809d1891245
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/3af9ce7b-60a4-8137-9df4-e6ccc73f14e3/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3af9ce7b-60a4-81e6-a010-f1c3fbd8313b","parent":{"type":"page_id","page_id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},"created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"First
      page"}},{"object":"block","id":"3af9ce7b-60a4-8159-8c4c-d69d767c56d1","parent":{"type":"page_id","page_id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},"created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"End","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"End","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"217740e0-7852-461c-9ef9-dc546b824548"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 217740e0-7852-461c-9ef9-dc546b824548
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Middle page", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Middle page"}}]}},
      "position": {"type": "after_block", "after_block": {"id": "3af9ce7b-60a4-815c-ac04-e7f103d97b2d"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3af9ce7b-60a4-819a-9782-fb2d18a28fba","created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Middle
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Middle
      page","href":null}]}},"url":"https://www.notion.so/Middle-page-3af9ce7b60a4819a9782fb2d18a28fba","public_url":null,"request_id":"9203d683-5eac-4b81-8200-f9ebb64b3c91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9203d683-5eac-4b81-8200-f9ebb64b3c91
    status_code: 200
- request:
    body: '{"type":"insert_content","insert_content":{"content":"## Markdown start","position":{"type":"start"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3af9ce7b-60a4-8137-9df4-e6ccc73f14e3/markdown
  response:
    content: '{"object":"page_markdown","id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3","markdown":"##
      Markdown start\nStart\n<page url=\"https://www.notion.so/3af9ce7b60a4819a9782fb2d18a28fba\">Middle
      page</page>\n<page url=\"https://www.notion.so/3af9ce7b60a481e6a010f1c3fbd8313b\">First
      page</page>\nEnd","truncated":false,"unknown_block_ids":[],"request_id":"a94af5a7-23eb-42f8-8f8b-3980e775d466"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a94af5a7-23eb-42f8-8f8b-3980e775d466
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/3af9ce7b-60a4-8137-9df4-e6ccc73f14e3/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"18b9e5cd-5936-439e-bb8f-92d315b31c1a","parent":{"type":"page_id","page_id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},"created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"Markdown
      start","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      start","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"3af9ce7b-60a4-815c-ac04-e7f103d97b2d","parent":{"type":"page_id","page_id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3"},"created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"t[...]
- request:
    body: '{"in_trash":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3af9ce7b60a481379df4e6ccc73f14e3
  response:
    content: '{"object":"page","id":"3af9ce7b-60a4-8137-9df4-e6ccc73f14e3","created_time":"2026-08-01T21:44:00.000Z","last_edited_time":"2026-08-01T21:44:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Positioned
      content","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Positioned
      content","href":null}]}},"url":"https://www.notion.so/Positioned-content-3af9ce7b60a481379df4e6ccc73f14e3","public_url":null,"request_id":"ff88ab17-bfaf-4f37-8e34-084ac7f76e70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff88ab17-bfaf-4f37-8e34-084ac7f76e70
    status_code: 200
version: 1
