interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8181-8a13-db53ada08173","created_time":"2026-06-27T16:59:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-38c9ce7b60a481818a13db53ada08173","public_url":null,"request_id":"3e8d96fd-5ceb-4b04-9baf-821ea231cd86"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3e8d96fd-5ceb-4b04-9baf-821ea231cd86
    status_code: 200
[...]
- request:
    body: '{"in_trash":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481f7b2cde9eecd1d74c1
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81f7-b2cd-e9eecd1d74c1","created_time":"2026-06-27T16:59:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8181-8a13-db53ada08173"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-38c9ce7b60a481f7b2cde9eecd1d74c1","public_url":null,"request_id":"7ee67583-8a72-4796-bc9c-92c05dc882ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ee67583-8a72-4796-bc9c-92c05dc882ae
    status_code: 200
- request:
    body: '{"in_trash":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481818a13db53ada08173
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8181-8a13-db53ada08173","created_time":"2026-06-27T16:59:00.000Z","last_edited_time":"2026-06-27T16:59:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-38c9ce7b60a481818a13db53ada08173","public_url":null,"request_id":"47699309-4f30-42a9-aa36-82c6f50d82c5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 47699309-4f30-42a9-aa36-82c6f50d82c5
    status_code: 200
version: 1
