interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "level_1", "text": {"content": "level_1"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"66b0fa87-cf13-491c-94de-ac0835f07a01","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-66b0fa87cf13491c94deac0835f07a01","public_url":null,"request_id":"f91bcad3-ab96-4489-bcdb-5c46ff277ad8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"352-QqNW9NaT8J8n4jX7f4hELnHd32o"
      x-notion-request-id:
      - f91bcad3-ab96-4489-bcdb-5c46ff277ad8
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/17c702889c324c9b95b56904586cfff0
  response:
    content: '{"object":"page","id":"17c70288-9c32-4c9b-95b5-6904586cfff0","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"66b0fa87-cf13-491c-94de-ac0835f07a01"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-17c702889c324c9b95b56904586cfff0","public_url":null,"request_id":"9bc4f7ef-97d0-4117-8560-afdf560c798f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-mzY6gnmcLCN7AdURZbDAtCNdZMk"
      x-notion-request-id:
      - 9bc4f7ef-97d0-4117-8560-afdf560c798f
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/66b0fa87cf13491c94deac0835f07a01
  response:
    content: '{"object":"page","id":"66b0fa87-cf13-491c-94de-ac0835f07a01","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"in_trash":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-66b0fa87cf13491c94deac0835f07a01","public_url":null,"request_id":"c18c9fcc-dcc7-41d6-989b-9bfe95b196ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"350-tQFGwD9GANoICvO31TIn+CmLcs0"
      x-notion-request-id:
      - c18c9fcc-dcc7-41d6-989b-9bfe95b196ae
    status_code: 200
version: 1
