interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81f7-96c3-dd448b036b8f","created_time":"2024-10-14T16:48:00.000Z","last_edited_time":"2024-10-14T16:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/11f974f3b38881f796c3dd448b036b8f","public_url":null,"request_id":"5d9b4b35-7882-495e-b8dc-df68a4dcb7ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5d9b4b35-7882-495e-b8dc-df68a4dcb7ec
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-81f7-96c3-dd448b036b8f
  response:
    content: '{"object":"page","id":"11f974f3-b388-81f7-96c3-dd448b036b8f","created_time":"2024-10-14T16:48:00.000Z","last_edited_time":"2024-10-14T16:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/11f974f3b38881f796c3dd448b036b8f","public_url":null,"request_id":"dd8fc592-dd08-4324-9062-43fe476e6024"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dd8fc592-dd08-4324-9062-43fe476e6024
    status_code: 200
version: 1
