interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Move source", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Move source"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3af9ce7b-60a4-8128-aa77-d6a84e21ed0f","created_time":"2026-08-01T21:34:00.000Z","last_edited_time":"2026-08-01T21:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Move
      source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Move
      source","href":null}]}},"url":"https://www.notion.so/Move-source-3af9ce7b60a48128aa77d6a84e21ed0f","public_url":null,"request_id":"4716cc1f-b0aa-4124-bb2b-0403a4e46365"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4716cc1f-b0aa-4124-bb2b-0403a4e46365
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-08-01T21:34:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"5ff29b0b-b7cf-45dd-b3ea-6040a09b28b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5ff29b0b-b7cf-45dd-b3ea-6040a09b28b6
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3af9ce7b-60a4-81d9-84a4-eb9883b560e2"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages/3af9ce7b-60a4-81a5-b463-d898d6112064/move
  response:
    content: '{"object":"page","id":"3af9ce7b-60a4-81a5-b463-d898d6112064","created_time":"2026-08-01T21:34:00.000Z","last_edited_time":"2026-08-01T21:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"3af9ce7b-60a4-81d9-84a4-eb9883b560e2"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Movable
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Movable
      page","href":null}]}},"url":"https://www.notion.so/Movable-page-3af9ce7b60a481a5b463d898d6112064","public_url":null,"request_id":"3f43166d-7105-4a17-8ee2-245c32657ea1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3f43166d-7105-4a17-8ee2-245c32657ea1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/3af9ce7b-60a4-81d9-84a4-eb9883b560e2/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3af9ce7b-60a4-81a5-b463-d898d6112064","parent":{"type":"page_id","page_id":"3af9ce7b-60a4-81d9-84a4-eb9883b560e2"},"created_time":"2026-08-01T21:34:00.000Z","last_edited_time":"2026-08-01T21:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Movable
      page"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1eaa9033-59b3-4fd5-b47e-8759a83d7d4c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1eaa9033-59b3-4fd5-b47e-8759a83d7d4c
    status_code: 200
[...]
- request:
    body: '{"in_trash":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3af9ce7b60a48128aa77d6a84e21ed0f
  response:
    content: '{"object":"page","id":"3af9ce7b-60a4-8128-aa77-d6a84e21ed0f","created_time":"2026-08-01T21:34:00.000Z","last_edited_time":"2026-08-01T21:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Move
      source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Move
      source","href":null}]}},"url":"https://www.notion.so/Move-source-3af9ce7b60a48128aa77d6a84e21ed0f","public_url":null,"request_id":"ee85162a-519d-4b67-ac7d-cd0455a24dde"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee85162a-519d-4b67-ac7d-cd0455a24dde
    status_code: 200
version: 1
