interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d3f985f1-62c3-4472-adc8-996a1e13bcef","created_time":"2024-02-14T17:40:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d3f985f162c34472adc8996a1e13bcef","public_url":null,"request_id":"002f8b9c-8470-43ba-a5ba-51037d36ed72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"properties": {"title": {"title": [{"plain_text": "My new title", "text":
      {"content": "My new title"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/d3f985f162c34472adc8996a1e13bcef
  response:
    content: '{"object":"page","id":"d3f985f1-62c3-4472-adc8-996a1e13bcef","created_time":"2024-02-14T17:40:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new title","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new title","href":null}]}},"url":"https://www.notion.so/My-new-title-d3f985f162c34472adc8996a1e13bcef","public_url":null,"request_id":"7b13adaa-2848-4926-a053-23bf1fe06f4a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/d3f985f1-62c3-4472-adc8-996a1e13bcef
  response:
    content: '{"object":"page","id":"d3f985f1-62c3-4472-adc8-996a1e13bcef","created_time":"2024-02-14T17:40:00.000Z","last_edited_time":"2024-02-14T17:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/d3f985f162c34472adc8996a1e13bcef","public_url":null,"request_id":"3d73a7a0-8829-41ed-96b2-40a2aae445ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
