interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_1", "text":
      {"content": "level_1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"89925818-4e09-433b-b498-26f7a00044bb","created_time":"2024-03-12T17:25:00.000Z","last_edited_time":"2024-03-12T17:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-899258184e09433bb49826f7a00044bb","public_url":null,"request_id":"55acee9f-dd30-48c8-bd7b-94b753f9a8c7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
[...]
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/11efe3afd04642ababeb623e968315f1
  response:
    content: '{"object":"page","id":"11efe3af-d046-42ab-abeb-623e968315f1","created_time":"2024-03-12T17:25:00.000Z","last_edited_time":"2024-03-12T17:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"89925818-4e09-433b-b498-26f7a00044bb"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-11efe3afd04642ababeb623e968315f1","public_url":null,"request_id":"f4d94e83-8956-447f-a0f9-edcd0a2cf9a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/899258184e09433bb49826f7a00044bb
  response:
    content: '{"object":"page","id":"89925818-4e09-433b-b498-26f7a00044bb","created_time":"2024-03-12T17:25:00.000Z","last_edited_time":"2024-03-12T17:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-899258184e09433bb49826f7a00044bb","public_url":null,"request_id":"281f25a0-a7e5-4334-98bc-9a4d75c63505"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
