interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Parent", "text": {"content": "Parent"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3accd2bb-d668-4ea8-a4ad-e639f8e62dca","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://www.notion.so/Parent-3accd2bbd6684ea8a4ade639f8e62dca","public_url":null,"request_id":"99b5e7cf-406e-445c-908c-3619f3c8f603"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"34f-4Q8HXuww3JgfrI/B8lw3wdsWgnw"
      x-notion-request-id:
      - 99b5e7cf-406e-445c-908c-3619f3c8f603
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3accd2bb-d668-4ea8-a4ad-e639f8e62dca"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"e98a5863-87f1-4922-8aa5-52e476f89090","cover":null,"icon":null,"created_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-05-23T10:55:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"i%5E%5Cn","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"3accd2bb-d668-4ea8-a4ad-e639f8e62dca"},"url":"https://www.notion.so/e98a586387f149228aa552e476f89090","public_url":null,"archived":false,"in_trash":false,"request_id":"413cf8d1-74d7-4b10-902c-27aaaf60b098"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"316-vHzlhVu03xpD8qbOy3I7G+K/uXA"
      x-notion-request-id:
      - 413cf8d1-74d7-4b10-902c-27aaaf60b098
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/3accd2bb-d668-4ea8-a4ad-e639f8e62dca/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"e98a5863-87f1-4922-8aa5-52e476f89090","parent":{"type":"page_id","page_id":"3accd2bb-d668-4ea8-a4ad-e639f8e62dca"},"created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}},{"object":"block","id":"b786e775-b3fc-41f8-9dcf-d3c19cfaedc2","parent":{"type":"page_id","page_id":"3accd2bb-d668-4ea8-a4ad-e639f8e62dca"},"created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d4eb1f8f-c4c2-4d07-a930-abd052f1ee6e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"465-jezMNaRmg6YN7qUuwEa0i+Ji7+k"
      x-notion-request-id:
      - d4eb1f8f-c4c2-4d07-a930-abd052f1ee6e
    status_code: 200
version: 1
