interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max text items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max text items"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"32391a5a-267f-4820-b553-487bb4d32987","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:48:31.221+00:00","last_edited_time":"2026-06-24T18:48:31.221+00:00","data_sources":[{"id":"ab34e305-da97-4246-a7bc-bb3f0b6cbaa0","name":"Item
      DB for max text items"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/32391a5a267f4820b553487bb4d32987","public_url":null,"archived":false,"request_id":"30f0537a-0316-4487-8e0d-9643ebf7a473"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30f0537a-0316-4487-8e0d-9643ebf7a473
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/32391a5a-267f-4820-b553-487bb4d32987
  response:
    cont[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/ab34e305-da97-4246-a7bc-bb3f0b6cbaa0
  response:
    content: '{"object":"data_source","id":"ab34e305-da97-4246-a7bc-bb3f0b6cbaa0","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:48:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all items","href":null}],"is_inline":false,"properties":{"Description":{"id":"z_ik","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"32391a5a-267f-4820-b553-487bb4d32987"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/32391a5a267f4820b553487bb4d32987","public_url":null,"in_trash":false,"archived":false,"request_id":"89d0a841-83e2-40ae-aaab-62c09d0232ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 89d0a841-83e2-40ae-aaab-62c09d0232ac
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "ab34e305-da97-4246-a7bc-bb3f0b6cbaa0"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Who is the best programmer? ;-) ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Who is the best programmer? ;-) "}}, {"type": "mention", "plain_text": "@Adam
      Dangoor", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "mention": {"type":
      "user", "user": {"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}}},
      {"type": "text", "plain_text": ", ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      ", "}}, {"type": "mention", "plain_text": "@Adam Dangoor", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "mention": {"type": "user", "user": {"id": "00000[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-8106-b4ba-d60a4dc8827b
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8106-b4ba-d60a4dc8827b","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"ab34e305-da97-4246-a7bc-bb3f0b6cbaa0","database_id":"32391a5a-267f-4820-b553-487bb4d32987"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Description":{"id":"z_ik","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Who
      is the best programmer? ;-) ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Who
      is the best programmer? ;-) ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Adam
      Dangoor","href":null},{"type":"text","text":{"content":", ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":",
      ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000[...]
