interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Item DB for max text items", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "Item DB for max text items"}}], "is_inline":
      false, "initial_data_source": {"properties": {"Name": {"type": "title", "title":
      {}}, "Description": {"type": "rich_text", "rich_text": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ac0eab5c-6b0b-4425-aa44-b0d35a2a197c","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:32:20.404+00:00","last_edited_time":"2026-06-24T16:32:20.404+00:00","data_sources":[{"id":"bbc618ad-0c18-46ea-8596-1c5a6b72eea3","name":"Item
      DB for max text items"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/ac0eab5c6b0b4425aa44b0d35a2a197c","public_url":null,"archived":false,"request_id":"6191edba-99f5-468b-be5a-5b39905e3fc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6191edba-99f5-468b-be5a-5b39905e3fc7
    status_code: 200
- request:
    body: '{"description":[{"type":"text","plain_text":"Database of all items","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Database
      of all items"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/ac0eab5c-6b0b-4425-aa44-b0d35a2a197c
  response:
    cont[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/bbc618ad-0c18-46ea-8596-1c5a6b72eea3
  response:
    content: '{"object":"data_source","id":"bbc618ad-0c18-46ea-8596-1c5a6b72eea3","cover":null,"icon":null,"created_time":"2026-06-24T16:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:32:00.000Z","title":[{"type":"text","text":{"content":"Item
      DB for max text items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      DB for max text items","href":null}],"description":[{"type":"text","text":{"content":"Database
      of all items","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Database
      of all items","href":null}],"is_inline":false,"properties":{"Description":{"id":"T%3FTm","name":"Description","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"ac0eab5c-6b0b-4425-aa44-b0d35a2a197c"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/ac0eab5c6b0b4425aa44b0d35a2a197c","public_url":null,"in_trash":false,"archived":false,"request_id":"5ad3ae5c-9107-42b7-b579-4e3ae084dd1b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5ad3ae5c-9107-42b7-b579-4e3ae084dd1b
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "bbc618ad-0c18-46ea-8596-1c5a6b72eea3"},
      "properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Who is the best programmer? ;-) ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Who is the best programmer? ;-) "}}, {"type": "mention", "plain_text": "@Adam
      Dangoor", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "mention": {"type":
      "user", "user": {"id": "00000000-0000-4000-8000-0000000000fa", "object": "user"}}},
      {"type": "text", "plain_text": ", ", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      ", "}}, {"type": "mention", "plain_text": "@Adam Dangoor", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "mention": {"type": "user", "user": {"id": "00000[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-813a-8766-cc424cda36b3
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-813a-8766-cc424cda36b3","created_time":"2026-06-24T16:32:00.000Z","last_edited_time":"2026-06-24T16:32:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"bbc618ad-0c18-46ea-8596-1c5a6b72eea3","database_id":"ac0eab5c-6b0b-4425-aa44-b0d35a2a197c"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Description":{"id":"T%3FTm","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Who
      is the best programmer? ;-) ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Who
      is the best programmer? ;-) ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Adam
      Dangoor","href":null},{"type":"text","text":{"content":", ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":",
      ","href":null},{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000[...]
