interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ca8d61f0-96e8-46a1-9593-9e80b6650af3","cover":null,"icon":null,"created_time":"2024-06-29T14:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-29T14:07:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3Dgvb","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ca8d61f096e846a195939e80b6650af3","public_url":null,"archived":false,"in_trash":false,"request_id":"2a9ec400-99b4-474c-93d7-30a0de6943b7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"314-wWUQjUJfzX4vuJ90NtKQNHpDEyI"
      x-notion-request-id:
      - 2a9ec400-99b4-474c-93d7-30a0de6943b7
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Parent DB", "text": {"content":
      "Parent DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/ca8d61f0-96e8-46a1-9593-9e80b6650af3
  response:
    content: '{"object":"database","id":"ca8d61f0-96e8-46a1-9593-9e80b6650af3","cover":null,"icon":null,"created_time":"2024-06-29T14:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-06-29T14:08:00.000Z","title":[{"type":"text","text":{"content":"Parent
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3Dgvb","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ca8d61f096e846a195939e80b6650af3","public_url":null,"archived":false,"in_trash":false,"request_id":"6e4eb014-50e6-4105-9ded-717263b00acd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3e6-8hrXaCFs9vQEAgNpueQz0anWYtg"
      x-notion-request-id:
      - 6e4eb014-50e6-4105-9ded-717263b00acd
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ca8d61f0-96e8-46a1-9593-9e80b6650af3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c358c85a-7551-48f8-abeb-dde74f6694c4","created_time":"2024-06-29T14:08:00.000Z","last_edited_time":"2024-06-29T14:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ca8d61f0-96e8-46a1-9593-9e80b6650af3"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"%3Dgvb","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/c358c85a755148f8abebdde74f6694c4","public_url":null,"request_id":"20fd9484-397d-4e45-85fd-a2842e72cd07"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2c2-YXYkpTL9BCRhFhhAO+4G2nCSMsE"
      x-notion-request-id:
      - 20fd9484-397d-4e45-85fd-a2842e72cd07
    status_code: 200
[...]
