interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "My new page with
      cover", "text": {"content": "My new page with cover"}, "type": "text"}], "type":
      "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fbf474a0-42d8-4f1a-af67-0143d2d5dc9a","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fbf474a042d84f1aaf670143d2d5dc9a","public_url":null,"request_id":"bc2c5d2f-af32-4e99-8443-3279f25a33dd"}'
    headers: {}
    status_code: 200
- request:
    body: '{"cover": {"external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"},
      "type": "external"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/fbf474a042d84f1aaf670143d2d5dc9a
  response:
    content: '{"object":"page","id":"fbf474a0-42d8-4f1a-af67-0143d2d5dc9a","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fbf474a042d84f1aaf670143d2d5dc9a","public_url":null,"request_id":"0bdbc1c9-0914-4fb8-8420-211260ccc766"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/fbf474a0-42d8-4f1a-af67-0143d2d5dc9a
  response:
    content: '{"object":"page","id":"fbf474a0-42d8-4f1a-af67-0143d2d5dc9a","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fbf474a042d84f1aaf670143d2d5dc9a","public_url":null,"request_id":"5b9dba4c-9112-4951-9c16-ab66f0749da5"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/fbf474a0-42d8-4f1a-af67-0143d2d5dc9a
  response:
    content: '{"object":"page","id":"fbf474a0-42d8-4f1a-af67-0143d2d5dc9a","created_time":"2023-12-25T11:45:00.000Z","last_edited_time":"2023-12-25T11:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with cover","href":null}]}},"url":"https://www.notion.so/My-new-page-with-cover-fbf474a042d84f1aaf670143d2d5dc9a","public_url":null,"request_id":"cbcd609c-6c3f-48b9-b095-1c4a6139d12e"}'
    headers: {}
    status_code: 200
version: 1
