interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8171-8842-c3d67cf91d6a","cover":null,"icon":null,"created_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:51:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"s%40uy","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881718842c3d67cf91d6a","public_url":null,"archived":false,"in_trash":false,"request_id":"8519ec2d-5e10-403d-8d04-7904be45c4df"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8519ec2d-5e10-403d-8d04-7904be45c4df
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Parent DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Parent DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/20e974f3-b388-8171-8842-c3d67cf91d6a
  response:
    content: '{"object":"database","id":"20e974f3-b388-8171-8842-c3d67cf91d6a","cover":null,"icon":null,"created_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:51:00.000Z","title":[{"type":"text","text":{"content":"Parent
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"s%40uy","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/20e974f3b38881718842c3d67cf91d6a","public_url":null,"archived":false,"in_trash":false,"request_id":"3b78a019-3011-4836-8892-911d7de72aea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3b78a019-3011-4836-8892-911d7de72aea
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "20e974f3-b388-8171-8842-c3d67cf91d6a"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-8193-89c2-f4229f3a24f4","created_time":"2025-06-10T17:51:00.000Z","last_edited_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"20e974f3-b388-8171-8842-c3d67cf91d6a"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"s%40uy","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/20e974f3b388819389c2f4229f3a24f4","public_url":null,"request_id":"6a6205a0-7d0c-4f50-9c65-02b8f14bd4a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a6205a0-7d0c-4f50-9c65-02b8f14bd4a4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:51:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"a425a107-8b04-431a-ade5-cd95d9dade01"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a425a107-8b04-431a-ade5-cd95d9dade01
    status_code: 200
version: 1
