interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page with icon", "text": {"content": "My new page with icon"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7c7cea1e-0113-45de-8c51-c9e588429194","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-7c7cea1e011345de8c51c9e588429194","public_url":null,"request_id":"f97fbc14-94fe-4788-b040-debd54f1fac9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37c-Iz3fS90aKO59crSyDSUnQr7IuAI"
      x-notion-request-id:
      - f97fbc14-94fe-4788-b040-debd54f1fac9
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7c7cea1e011345de8c51c9e588429194
  response:
    content: "{\"object\":\"page\",\"id\":\"7c7cea1e-0113-45de-8c51-c9e588429194\",\"created_time\":\"2024-06-01T22:17:00.000Z\",\"last_edited_time\":\"2024-06-01T22:17:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43[...]
[...]
- request:
    body: '{"icon": {"type": "external", "external": {"url": "https://www.notion.so/icons/snake_purple.svg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/7c7cea1e011345de8c51c9e588429194
  response:
    content: '{"object":"page","id":"7c7cea1e-0113-45de-8c51-c9e588429194","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/7c7cea1e-0113-45de-8c51-c9e588429194
  response:
    content: '{"object":"page","id":"7c7cea1e-0113-45de-8c51-c9e588429194","created_time":"2024-06-01T22:17:00.000Z","last_edited_time":"2024-06-01T22:17:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page with icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page with icon","href":null}]}},"url":"https://www.notion.so/My-new-page-with-icon-7c7cea1e011345de8c51c9e588429194","public_url":null,"request_id":"eaccc681-e4f5-499a-a796-0860d168f892"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"37c-ugc3ezoweJHCSEyu5Nq488OZfJA"
      x-notion-request-id:
      - eaccc681-e4f5-499a-a796-0860d168f892
    status_code: 200
version: 1
