interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7d17deb0-5165-451e-b4f4-7e3b4860f496","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7d17deb05165451eb4f47e3b4860f496","public_url":null,"request_id":"dec9e283-0791-40d0-8a0b-a68058140d23"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/7d17deb0-5165-451e-b4f4-7e3b4860f496
  response:
    content: '{"object":"page","id":"7d17deb0-5165-451e-b4f4-7e3b4860f496","created_time":"2023-12-24T13:10:00.000Z","last_edited_time":"2023-12-24T13:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/7d17deb05165451eb4f47e3b4860f496","public_url":null,"request_id":"37b592af-bda7-4383-b335-9846ab08dd27"}'
    headers: {}
    status_code: 200
version: 1
