interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e4284a0f-5dd8-42b1-91e6-7cb5c14efd0f","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e4284a0f5dd842b191e67cb5c14efd0f","public_url":null,"request_id":"07898f1a-18b2-45a3-b63f-aadc1528436b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-A4HwDf512S1hpl68UfuXYu+FQKU"
      x-notion-request-id:
      - 07898f1a-18b2-45a3-b63f-aadc1528436b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e4284a0f-5dd8-42b1-91e6-7cb5c14efd0f
  response:
    content: '{"object":"page","id":"e4284a0f-5dd8-42b1-91e6-7cb5c14efd0f","created_time":"2024-05-23T10:55:00.000Z","last_edited_time":"2024-05-23T10:55:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e4284a0f5dd842b191e67cb5c14efd0f","public_url":null,"request_id":"b518ba09-e389-4323-bb0f-25e61d51db96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"27c-hbVc1bL2ct1JY/TtF4bkRbZ02cE"
      x-notion-request-id:
      - b518ba09-e389-4323-bb0f-25e61d51db96
    status_code: 200
version: 1
