interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-8165-b963-f76239ba5370","cover":null,"icon":null,"created_time":"2024-10-14T16:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:48:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"vz%7D%5B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b3888165b963f76239ba5370","public_url":null,"archived":false,"in_trash":false,"request_id":"620e690f-a5b1-41cc-976b-4fd12413fe6f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 620e690f-a5b1-41cc-976b-4fd12413fe6f
    status_code: 200
- request:
    body: '{"title": [{"type": "text", "plain_text": "Parent DB", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Parent DB"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/11f974f3-b388-8165-b963-f76239ba5370
  response:
    content: '{"object":"database","id":"11f974f3-b388-8165-b963-f76239ba5370","cover":null,"icon":null,"created_time":"2024-10-14T16:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:48:00.000Z","title":[{"type":"text","text":{"content":"Parent
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"vz%7D%5B","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/11f974f3b3888165b963f76239ba5370","public_url":null,"archived":false,"in_trash":false,"request_id":"b7a927fb-ae30-42ea-9298-2637d07723b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b7a927fb-ae30-42ea-9298-2637d07723b5
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "11f974f3-b388-8165-b963-f76239ba5370"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81fa-8a12-d0b1af544e27","created_time":"2024-10-14T16:48:00.000Z","last_edited_time":"2024-10-14T16:48:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"11f974f3-b388-8165-b963-f76239ba5370"},"archived":false,"in_trash":false,"properties":{"Tags":{"id":"vz%7D%5B","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/11f974f3b38881fa8a12d0b1af544e27","public_url":null,"request_id":"4216d0ac-2400-40ec-9a5f-a7ba144e0f77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4216d0ac-2400-40ec-9a5f-a7ba144e0f77
    status_code: 200
[...]
