interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/00000000-0000-4000-8000-000000000006/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3839ce7b-60a4-8187-b9ba-e569f1a27274","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://ultimate-notion.com/"},"archived":false},{"object":"block","id":"3839ce7b-60a4-8133-aeb9-e21c3ae42d4c","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"bookmark","bookmark":{"caption":[],"url":"https://ultimate-notion.com/"},"archived":false},{"object":"block","id":"3839ce7b-60a4-81dd-ab55-c36af433caea","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Inline
      link: https://ultimate-notion.com/","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Inline
      link: https://ultimate-notion.com/","href":null}],"icon":null,"color":"default"},"archived":false},{"object":"block","id":"3839ce7b-60a4-8179-b3fe-e35bf08e8692","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000006"},"created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Linked
      database placeholder","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Linked
      database placeholder","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"901ba38c-4d65-44c2-a217-52d49fc493ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 901ba38c-4d65-44c2-a217-52d49fc493ac
    status_code: 200
version: 1
