interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating link blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating link blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8160-aa08-c3ea37490bf9","created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating link blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating link blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-creating-link-blocks-3899ce7b60a48160aa08c3ea37490bf9","public_url":null,"archived":false,"request_id":"681ae19f-7e47-4910-b8a9-6ea488760f0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 681ae19f-7e47-4910-b8a9-6ea488760f0a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"350be3d1-7f62-4e48-90d5-1390aad311e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 350be3d1-7f62-4e48-90d5-1390aad311e7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8160-aa08-c3ea37490bf9/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"38674e69-94fd-46f4-89d6-5ded183868a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 38674e69-94fd-46f4-89d6-5ded183868a5
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-81af-b24e-d309b7ed13f0"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8160-aa08-c3ea37490bf9/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8144-87c1-f777c1cdea8f","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8160-aa08-c3ea37490bf9"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-81af-b24e-d309b7ed13f0"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"647889b6-055b-4020-b3f1-86696e2a1221"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 647889b6-055b-4020-b3f1-86696e2a1221
    status_code: 200
version: 1
