interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating link blocks", "text": {"content": "Page for creating link
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"5ae95dfd-fcf0-435f-bf94-f65d8b68bb51","created_time":"2024-07-09T19:06:00.000Z","last_edited_time":"2024-07-09T19:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating link blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating link blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-link-blocks-5ae95dfdfcf0435fbf94f65d8b68bb51","public_url":null,"request_id":"ffc37449-8b4c-4f38-b849-c64b4365e56d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"394-k5Ii6IEKbK5e/Gg9rmbV6yAVOqg"
      x-notion-request-id:
      - ffc37449-8b4c-4f38-b849-c64b4365e56d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/5ae95dfd-fcf0-435f-bf94-f65d8b68bb51/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0f8696b9-d658-42d6-a918-7ec58b6a62d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-3Fy0HdddkEQ3Ve1Bpmaoyg8G/8M"
      x-notion-request-id:
      - 0f8696b9-d658-42d6-a918-7ec58b6a62d3
    status_code: 200
- request:
    body: '{"children": [{"type": "link_to_page", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "link_to_page": {"type": "page_id",
      "page_id": "f8cd2085-059b-4781-8ecd-88d322329931"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/5ae95dfd-fcf0-435f-bf94-f65d8b68bb51/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"a91a6c1e-55c1-45f4-812e-cf096ac53986","parent":{"type":"page_id","page_id":"5ae95dfd-fcf0-435f-bf94-f65d8b68bb51"},"created_time":"2024-07-09T19:06:00.000Z","last_edited_time":"2024-07-09T19:06:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"f8cd2085-059b-4781-8ecd-88d322329931"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"87b3436b-c921-43c0-8752-1c1fb5aa0509"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2ad-HzkLcmyhVE3Im8c/dwo9/HkW6Pk"
      x-notion-request-id:
      - 87b3436b-c921-43c0-8752-1c1fb5aa0509
    status_code: 200
version: 1
