interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "text": {"content": "Page for creating child
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"13148b04-5edd-46aa-84f5-6c1aa58f4ea0","created_time":"2024-07-09T10:45:00.000Z","last_edited_time":"2024-07-09T10:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-13148b045edd46aa84f56c1aa58f4ea0","public_url":null,"request_id":"582ea065-9855-4f29-9e70-470d489dddc5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"397-UG0RSkU+5UH1Qsx5ZvLcaXd6gCo"
      x-notion-request-id:
      - 582ea065-9855-4f29-9e70-470d489dddc5
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "13148b04-5edd-46aa-84f5-6c1aa58f4ea0"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6bf5a4a5-ae28-4fd5-8207-d261c2ca2ac8","cover":null,"icon":null,"created_time":"2024-07-09T10:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-07-09T10:45:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"k%3B%3BD","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"13148b04-5edd-46aa-84f5-6c1aa58f4ea0"},"url":"https://www.notion.so/6bf5a4a5ae284fd58207d261c2ca2ac8","public_url":null,"archived":false,"in_trash":false,"request_id":"91a40f5c-d63d-4bb2-bc32-041a56b208f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"316-6NgaKDHAFnikmW15qYXA/KggJCE"
      x-notion-request-id:
      - 91a40f5c-d63d-4bb2-bc32-041a56b208f0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/13148b04-5edd-46aa-84f5-6c1aa58f4ea0/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"9a0f1cd8-f319-43fd-aed3-215e02d5d3e8","parent":{"type":"page_id","page_id":"13148b04-5edd-46aa-84f5-6c1aa58f4ea0"},"created_time":"2024-07-09T10:45:00.000Z","last_edited_time":"2024-07-09T10:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"6bf5a4a5-ae28-4fd5-8207-d261c2ca2ac8","parent":{"type":"page_id","page_id":"13148b04-5edd-46aa-84f5-6c1aa58f4ea0"},"created_time":"2024-07-09T10:45:00.000Z","last_edited_time":"2024-07-09T10:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b5ab3b33-4390-4ba4-a337-92172aea5f53"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"464-7CJWXOrVU1C7eI+EESI9EMUnZkY"
      x-notion-request-id:
      - b5ab3b33-4390-4ba4-a337-92172aea5f53
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/13148b04-5edd-46aa-84f5-6c1aa58f4ea0
  response:
    content: '{"object":"page","id":"13148b04-5edd-46aa-84f5-6c1aa58f4ea0","created_time":"2024-07-09T10:45:00.000Z","last_edited_time":"2024-07-09T10:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-13148b045edd46aa84f56c1aa58f4ea0","public_url":null,"request_id":"069c49bc-6774-476c-92fe-adc7e2f1ecd5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"397-R7rbH6BvveqjBvuYAxvMyrUN8G0"
      x-notion-request-id:
      - 069c49bc-6774-476c-92fe-adc7e2f1ecd5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9a0f1cd8-f319-43fd-aed3-215e02d5d3e8
  response:
    content: '{"object":"block","id":"9a0f1cd8-f319-43fd-aed3-215e02d5d3e8","parent":{"type":"page_id","page_id":"13148b04-5edd-46aa-84f5-6c1aa58f4ea0"},"created_time":"2024-07-09T10:45:00.000Z","last_edited_time":"2024-07-09T10:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Subpage"},"request_id":"df0ed1e7-49bf-4ecd-894a-ef1991ce3507"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"21b-bNtAF5ewemy/8EJsJr/NLjwXH08"
      x-notion-request-id:
      - df0ed1e7-49bf-4ecd-894a-ef1991ce3507
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/13148b04-5edd-46aa-84f5-6c1aa58f4ea0/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"dadb6328-ff37-4664-80f0-d04ede8cf370"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-QEBVmbUcxxvG2JbcPDRtYBfkjtc"
      x-notion-request-id:
      - dadb6328-ff37-4664-80f0-d04ede8cf370
    status_code: 200
version: 1
