interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying table blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-81df-9797-f9f199fa66e1","created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-38a9ce7b60a481df9797f9f199fa66e1","public_url":null,"archived":false,"request_id":"dad19588-8b5b-4d2c-a369-9da6411803ff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dad19588-8b5b-4d2c-a369-9da6411803ff
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"03b5563b-84cd-4d0f-b084-f144d1334ee0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03b5563b-84cd-4d0f-b084-f144d1334ee0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81df-9797-f9f199fa66e1/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f4d6a107-9dd7-49d2-9854-81735b5f6a16"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f4d6a107-9dd7-49d2-9854-81735b5f6a16
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      0, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 0"}}],[{"type":"text","plain_text":"Cell 0, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 1"}}],[{"type":"text","plain_text":"Cell 0, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 2"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 0"}}],[{"type":"text","plain_text":"Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 1"}}],[{"type":"text","plain_text":"Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 2"}}]]}}],"table_width":3,"has_column_header":true,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81df-9797-f9f199fa66e1/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8193-9c63-fe25bd0dab72","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81df-9797-f9f199fa66e1"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2cca8a93-1b6e-4582-af6e-ddac011aba20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2cca8a93-1b6e-4582-af6e-ddac011aba20
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8193-9c63-fe25bd0dab72/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8102-b1da-c2e87238882c","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8193-9c63-fe25bd0dab72"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      0, 0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underlin[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"New
      Cell 1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 0"}}],[{"type":"text","plain_text":"New Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 1"}}],[{"type":"text","plain_text":"New Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 2"}}]]}}],"after":"38a9ce7b-60a4-8102-b1da-c2e87238882c"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8193-9c63-fe25bd0dab72/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81e8-8ad0-f99d78657859","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8193-9c63-fe25bd0dab72"},"created_time":"20[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81db-ac11-e4199fec630f
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-81db-ac11-e4199fec630f","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8193-9c63-fe25bd0dab72"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38a9ce7b-60a4-81df-9797-f9f199fa66e1
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-81df-9797-f9f199fa66e1","created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-38a9ce7b60a481df9797f9f199fa66e1","public_url":null,"archived":false,"request_id":"f56f6c80-9291-4133-8feb-0abb9c8289e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f56f6c80-9291-4133-8feb-0abb9c8289e0
    status_code: 200
version: 1
