interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating nested blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating nested blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81a3-92c2-d83d949a986d","created_time":"2025-09-22T09:07:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating nested blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating nested blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-nested-blocks-276974f3b38881a392c2d83d949a986d","public_url":null,"request_id":"c6c7bb03-cf58-4e6e-890b-0c466bbd9fbf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c6c7bb03-cf58-4e6e-890b-0c466bbd9fbf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"4f7a8cc8-459f-4fd2-b23a-eb7a91aa736d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f7a8cc8-459f-4fd2-b23a-eb7a91aa736d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81a3-92c2-d83d949a986d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6b13c133-9f5d-49a3-a3c1-e3c8ccecab13"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b13c133-9f5d-49a3-a3c1-e3c8ccecab13
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"Non-toggleable
      Heading","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Non-toggleable
      Heading"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81a3-92c2-d83d949a986d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8149-b062-dfdc17a00fe9","parent":{"type":"page_id","page_id":"276974f3-b388-81a3-92c2-d83d949a986d"},"created_time":"2025-09-22T09:07:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Non-toggleable
      Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Non-toggleable
      Heading","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"dc33628e-13d5-4108-8a7c-2af1813e4232"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dc33628e-13d5-4108-8a7c-2af1813e4232
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8196-9fb9-f634707812d3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-81ce-8608-d69ee47d373e","parent":{"type":"block_id","block_id":"276974f3-b388-8196-9fb9-f634707812d3"},"created_time":"2025-09-22T09:08:00.000Z","last_edited_time":"2025-09-22T09:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"96a483e6-23e9-497c-a97c-9626636b527a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 96a483e6-23e9-497c-a97c-9626636b527a
    status_code: 200
[...]
