interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8165-89d5-ef5d46cdce33","created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-38c9ce7b60a4816589d5ef5d46cdce33","public_url":null,"archived":false,"request_id":"15e70fe8-a6dc-4f69-ad52-8645abba90b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 15e70fe8-a6dc-4f69-ad52-8645abba90b1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"8b502dbf-018a-48c1-9ee3-70b9c2cbd29c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8b502dbf-018a-48c1-9ee3-70b9c2cbd29c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8165-89d5-ef5d46cdce33/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"21bc0f9c-4220-4dc7-946e-22fad46c9b31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 21bc0f9c-4220-4dc7-946e-22fad46c9b31
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8165-89d5-ef5d46cdce33/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81b3-a007-e27fb59ed8a7","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8165-89d5-ef5d46cdce33"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ed90c799-6d44-43cd-8de7-b7fabd7a8577"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ed90c799-6d44-43cd-8de7-b7fabd7a8577
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81b3-a007-e27fb59ed8a7/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81bf-aa50-e990c95e80f2","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81b3-a007-e27fb59ed8a7"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25},"archived":false},{"object":"block","id":"38c9ce7b-60a4-81e6-bbba-ede12d131b0c","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81b3-a007-e27fb59ed8a7"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6ad903fe-1fec-49cc-bf9c-5e16329676c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ad903fe-1fec-49cc-bf9c-5e16329676c2
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81bf-aa50-e990c95e80f2/children
  response:
    content: '{"object":"list","result[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column","column":{"children":[]}}],"after":"38c9ce7b-60a4-81bf-aa50-e990c95e80f2"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81b3-a007-e27fb59ed8a7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-817a-ae09-f7510f17465a","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81b3-a007-e27fb59ed8a7"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b60a481bfaa50e990c95e80f2
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-81bf-aa50-e990c95e80f2","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81b3-a007-e27fb59ed8a7"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"77300ae2-c139-4553-8568-6c5a73f9b3b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 77300ae2-c139-4553-8568-6c5a73f9b3b0
    status_code: 200
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b60a481e6bbbaede12d131b0c
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-81e6-bbba-ede12d131b0c","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81b3-a007-e27fb59ed8a7"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"de674566-1a3b-43f5-88cb-07d55af38b3d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de674566-1a3b-43f5-88cb-07d55af38b3d
    status_code: 200
version: 1
