interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Page for inserting after and replacing
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-816a-8513-d70db839980f","created_time":"2025-08-22T07:05:00.000Z","last_edited_time":"2025-08-22T07:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-257974f3b388816a8513d70db839980f","public_url":null,"request_id":"8936fd32-7d71-4443-b9a8-5811adec4b72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8936fd32-7d71-4443-b9a8-5811adec4b72
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-22T07:05:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"943fc63c-1f46-40c0-920b-e1184fe513d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 943fc63c-1f46-40c0-920b-e1184fe513d4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/257974f3-b388-816a-8513-d70db839980f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7beeb168-5e8f-4571-9028-865074d4cb83"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7beeb168-5e8f-4571-9028-865074d4cb83
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"257974f3-b388-8172-8ee6-df3b22806d74"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/257974f3-b388-816a-8513-d70db839980f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"257974f3-b388-813f-909e-d177d2790cd2","parent":{"type":"page_id","page_id":"257974f3-b388-816a-8513-d70d[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"This
      is a paragraph"}}],"color":"default","children":[]}}],"after":"257974f3-b388-813f-909e-d177d2790cd2"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/257974f3-b388-816a-8513-d70db839980f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"257974f3-b388-810f-8568-f40b05e90a2e","parent":{"type":"page_id","page_id":"257974f3-b388-816a-8513-d70db839980f"},"created_time":"2025[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/257974f3-b388-8180-ae2a-ddfe9a3badc0
  response:
    content: '{"object":"block","id":"257974f3-b388-8180-ae2a-ddfe9a3badc0","parent":{"type":"page_id","page_id":"257974f3-b388-816a-8513-d70db839980f"},"created_time":"2025-08-22T07:05:00.000Z","last_edited_time":"2025-08-22T07:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"257974f3-b388-8172-8ee6-df3b22806d74"},"request_id":"df8d0271-8ebb-44fc-9846-cc7d52d6ee12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df8d0271-8ebb-44fc-9846-cc7d52d6ee12
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":true,"in_trash":false,"archived":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false,"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[],[]]}}]}}],"after":"257974f3-b388-810f-8568-f40b05e90a2e"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/257974f3-b388-816a-8513-d70db839980f/children
  response:
    content: '{"object":"list","results":[{"object":"blo[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"divider","divider":{}}],"after":"257974f3-b388-810f-8568-f40b05e90a2e"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/257974f3-b388-816a-8513-d70db839980f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"257974f3-b388-810a-bd7d-ee478d179ce0","parent":{"type":"page_id","page_id":"257974f3-b388-816a-8513-d70db839980f"},"create[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/257974f3-b388-81b7-ac57-f6b4eab75b1f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"257974f3-b388-8149-856c-dc6b70e2fdb3","parent":{"type":"block_id","block_id":"257974f3-b388-81b7-ac57-f6b4eab75b1f"},"created_time":"2025-08-22T07:05:00.000Z","last_edited_time":"2025-08-22T07:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"257974f3-b388-811f-b331-ebebee1a527c","parent":{"type":"block_id","block_id":"257974f3-b388-81b7-ac57-f6b4eab75b1f"},"created_time":"2025-08-22T07:05:00.000Z","last_edited_time":"2025-08-22T07:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"31bc44cc-8425-4717-a6b2-e5784a5b0749"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31bc44cc-8425-4717-a6b2-e5784a5b0749
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/257974f3-b388-81b7-ac57-f6b4eab75b1f
  response:
    content: '{"object":"block","id":"257974f3-b388-81b7-ac57-f6b4eab75b1f","parent":{"type":"page_id","page_id":"257974f3-b388-816a-8513-d70db839980f"},"created_time":"2025-08-22T07:05:00.000Z","last_edited_time":"2025-08-22T07:05:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"c0b0e364-6a1a-4ade-ac85-8b739b282933"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c0b0e364-6a1a-4ade-ac85-8b739b282933
    status_code: 200
version: 1
