interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying basic blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-8118-8383-e65fde7643ed","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-10f974f3b38881188383e65fde7643ed","public_url":null,"request_id":"e770e8f8-47d6-4056-b050-9b498f18e875"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e770e8f8-47d6-4056-b050-9b498f18e875
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8118-8383-e65fde7643ed/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"68b829f2-a431-4d3d-a7ce-d743c3fb1f89"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 68b829f2-a431-4d3d-a7ce-d743c3fb1f89
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "children": [], "color": "red"}}, {"type":
      "code", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "code": {"rich_text": [{"type": "text", "plain_text": "print(\"Hello
      World\")", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "print(\"Hello World\")"}}], "caption": [], "language": "python"}}, {"type":
      "heading_1", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "heading_1": {"rich_text": [{"type": "text", "plain_text": "My new page",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "My new page"}}],
      "color": "default", "is_toggleable": true}}, {"type": "callout", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "callout": {"rich_text":
      [{"type": "text", "plain_text": "This is a callout", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a callout"}}], "children":
      [], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color": "default"}},
      {"type": "to_do", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Checked
      item", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Checked item"}}], "checked": true, "children": [], "color": "default"}}, {"type":
      "embed", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type":
      "bookmark", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "equation", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8118-8383-e65fde7643ed/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"10f974f3-b388-817f-afee-e2d3c31492ab\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"10f974f3-b388-8118-8383-e65fde7643ed\"},\"created_[...]
- request:
    body: '{"type": "paragraph", "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "color": "pink"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATC[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a nested paragraph", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a nested paragraph"}}],
      "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81fe-9671-f0fb19aefc79/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-81d5-89b5-d99caf63a229","parent":{"type":"block_id","block_id":"10f974f3-b388-81fe-9671-f0fb19aefc79"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a nested paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b5479107-c5d2-412f-b99a-dc840cb97ff5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5479107-c5d2-412f-b99a-dc840cb97ff5
    status_code: 200
[...]
- request:
    body: '{"embed": {"url": "https://notion.so", "caption": []}, "type": "embed",
      "archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3b388810eb246d4561dc0e96f
  response:
    content: '{"object":"block","id":"10f974f3-b388-810e-b246-d4561dc0e96f","parent":{"type":"page_id","page_id":"10f974f3-b388-8118-8383-e65fde7643ed"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://notion.so"},"request_id":"6ca80403-cc58-4046-a13a-f497a3716d8d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ca80403-cc58-4046-a13a-f497a3716d8d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/10f974f3-b388-8118-8383-e65fde7643ed
  response:
    content: '{"object":"page","id":"10f974f3-b388-8118-8383-e65fde7643ed","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-10f974f3b38881188383e65fde7643ed","public_url":null,"request_id":"0e461353-e592-4ba9-8e4b-6e80f944d34f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0e461353-e592-4ba9-8e4b-6e80f944d34f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81f9-a5e2-e8d2cb36652a
  response:
    content: '{"object":"block","id":"10f974f3-b388-81f9-a5e2-e8d2cb36652a","parent":{"type":"page_id","page_id":"10f974f3-b388-8118-8383-e65fde7643ed"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello
      World\")","href":null}],"language":"javascript"},"request_id":"9b40cdf6-ff06-4cc3-a0ff-88acf57158a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9b40cdf6-ff06-4cc3-a0ff-88acf57158a9
    status_code: 200
version: 1
