interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying tab blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying tab blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38d9ce7b-60a4-810d-9c67-c688e9bf4fc2","created_time":"2026-06-28T08:13:00.000Z","last_edited_time":"2026-06-28T08:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying tab blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying tab blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-tab-blocks-38d9ce7b60a4810d9c67c688e9bf4fc2","public_url":null,"request_id":"8050bfa9-dd6a-4327-98fa-ef502b73a75e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8050bfa9-dd6a-4327-98fa-ef502b73a75e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-28T08:13:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"d092a233-1bbd-4baa-aa34-496dd6d40bad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d092a233-1bbd-4baa-aa34-496dd6d40bad
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38d9ce7b-60a4-810d-9c67-c688e9bf4fc2/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"68377a4b-8485-423d-99cb-5f49cef86dc4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 68377a4b-8485-423d-99cb-5f49cef86dc4
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"tab","tab":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Overview","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Overview"}}],"color":"default"}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38d9ce7b-60a4-810d-9c67-c688e9bf4fc2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38d9ce7b-60a4-81f0-9ea0-eae9281c73fc","parent":{"type":"page_id","page_id":"38d9ce7b-60a4-810d-9c67-c688e9bf4fc2"},"created_time":"2026-06-28T08:13:00.000Z","last_edited_time":"2026-06-28T08:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"tab","tab":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2efbf403-8c66-4987-b2b1-fee19018b765"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2efbf403-8c66-4987-b2b1-fee19018b765
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38d9ce7b-60a4-81f0-9ea0-eae9281c73fc/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38d9ce7b-60a4-81cf-bdf2-dd2c55cc0558","parent":{"type":"block_id","block_id":"38d9ce7b-60a4-81f0-9ea0-eae9281c73fc"},"created_time":"2026-06-28T08:13:00.000Z","last_edited_time":"2026-06-28T08:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Overview","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overview","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"28deee06-e55a-4499-ab35-6a3e8af93990"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 28deee06-e55a-4499-ab35-6a3e8af93990
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Details\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Details\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4CB\"}}}],\"position\":{\"type\":\"after_block\",\"after_block\":{\"id\":\"38d9ce7b-60a4-81cf-bdf2-dd2c55cc0558\"}}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38d9ce7b-60a4-81f0-9ea0-eae9281c73fc/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38d9ce7b-60a4-8110-8968-faf5c071f28e\",\"parent\":{\"type\":\"block_id\",\"block_id\":\"38d9ce7b-60a4-81f0-9ea[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38d9ce7b-60a4-810d-9c67-c688e9bf4fc2/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38d9ce7b-60a4-81f0-9ea0-eae9281c73fc","parent":{"type":"page_id","page_id":"38d9ce7b-60a4-810d-9c67-c688e9bf4fc2"},"created_time":"2026-06-28T08:13:00.000Z","last_edited_time":"2026-06-28T08:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"tab","tab":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ac507c6b-aca1-4220-b788-842b2c662a73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ac507c6b-aca1-4220-b788-842b2c662a73
    status_code: 200
version: 1
