interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81af-a430-ebea6890989a","created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-file-blocks-38c9ce7b60a481afa430ebea6890989a","public_url":null,"request_id":"5e23cae1-5a30-446a-9103-28c5298fc9ff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5e23cae1-5a30-446a-9103-28c5298fc9ff
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"6f2f2132-8dfa-409f-897a-01070f29b119"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f2f2132-8dfa-409f-897a-01070f29b119
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81af-a430-ebea6890989a/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9c1e40e3-2db8-4cdc-b87b-f1296990170a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c1e40e3-2db8-4cdc-b87b-f1296990170a
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"file","file":{"type":"external","caption":[],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"file","file":{"type":"external","name":"my_file.txt","caption":[{"type":"text","plain_text":"Google
      Robots","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      Robots"}}],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"image","image":{"type":"external","caption":[],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"video","video":{"type":"external","caption":[],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81af-a430-ebea6890989a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8105-994f-e2d687eb7cdd","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81af-a430-ebea6890989a"},"created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"robots.txt"}},{"object":"block","id":"38c9ce7b-60a4-81b2-b775-fcb24174abd3","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81af-a430-ebea6890989a"},"created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"000000[...]
- request:
    body: '{"children":[{"object":"block","type":"video","video":{"type":"external","caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[{"type":"text","plain_text":"Dummy
      PDF","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Dummy
      PDF"}}],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}},{"object":"block","type":"audio","audio":{"type":"external","caption":[],"external":{"url":"https://samplelib.com/lib/preview/mp3/sample-3s.mp3"}}},{"object":"block","type":"audio","audio":{"type":"external","caption":[{"type":"text","plain_text":"Sample
      Audio","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Sample
      Audio"}}],"external":{"url":"https://samplelib.com/lib/preview/mp3/sample-3s.mp3"}}}]}'
    headers:
      authorization:
      - secret...
    [...]
