interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8166-806f-dee35abbfce7","created_time":"2025-09-22T09:09:00.000Z","last_edited_time":"2025-09-22T09:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-276974f3b3888166806fdee35abbfce7","public_url":null,"request_id":"c9fd7cea-0e5d-4b1d-9993-0f69aa4db65b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c9fd7cea-0e5d-4b1d-9993-0f69aa4db65b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:09:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"8efc1ec5-eb84-4897-bb83-fa46a68f019c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8efc1ec5-eb84-4897-bb83-fa46a68f019c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8166-806f-dee35abbfce7/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6d5eec11-6084-42a2-9008-46163c3085dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6d5eec11-6084-42a2-9008-46163c3085dc
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8166-806f-dee35abbfce7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8146-8c32-f9603c7df355","parent":{"type":"page_id","page_id":"276974f3-b388-8166-806f-dee35abbfce7"},"created_time":"2025-09-22T09:09:00.000Z","last_edited_time":"2025-09-22T09:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b94583e0-e4a3-4c15-9171-dfa70f255e5f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b94583e0-e4a3-4c15-9171-dfa70f255e5f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8146-8c32-f9603c7df355/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-81f6-9872-e431fb40edbd","parent":{"type":"block_id","block_id":"276974f3-b388-8146-8c32-f9603c7df355"},"created_time":"2025-09-22T09:09:00.000Z","last_edited_time":"2025-09-22T09:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25}},{"object":"block","id":"276974f3-b388-8141-ae16-dfacc4d917f6","parent":{"type":"block_id","block_id":"276974f3-b388-8146-8c32-f9603c7df355"},"created_time":"2025-09-22T09:09:00.000Z","last_edited_time":"2025-09-22T09:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8f7f2860-aae8-4d24-bc3b-618b046a204a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f7f2860-aae8-4d24-bc3b-618b046a204a
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81f6-9872-e431fb40edbd/children
  response:
    content: '{"object":[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}],"after":"276974f3-b388-81f6-9872-e431fb40edbd"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8146-8c32-f9603c7df355/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-81c5-b3eb-d7d389431a12","parent":{"type":"block_id","block_id":"276974f3-b388-8146-8c32-f9603c7df355"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3b38881f69872e431fb40edbd
  response:
    content: '{"object":"block","id":"276974f3-b388-81f6-9872-e431fb40edbd","parent":{"type":"block_id","block_id":"276974f3-b388-8146-8c32-f9603c7df355"},"created_time":"2025-09-22T09:09:00.000Z","last_edited_time":"2025-09-22T09:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"ca157884-404c-4df2-8c6d-b4117f168f76"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ca157884-404c-4df2-8c6d-b4117f168f76
    status_code: 200
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3b3888141ae16dfacc4d917f6
  response:
    content: '{"object":"block","id":"276974f3-b388-8141-ae16-dfacc4d917f6","parent":{"type":"block_id","block_id":"276974f3-b388-8146-8c32-f9603c7df355"},"created_time":"2025-09-22T09:09:00.000Z","last_edited_time":"2025-09-22T09:09:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"a658f188-f973-4980-8e2e-75f282d4269d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a658f188-f973-4980-8e2e-75f282d4269d
    status_code: 200
version: 1
