interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying tab blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying tab blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81ad-a3d0-f93e72e3ef4a","created_time":"2026-06-27T19:27:00.000Z","last_edited_time":"2026-06-27T19:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying tab blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying tab blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-tab-blocks-38c9ce7b60a481ada3d0f93e72e3ef4a","public_url":null,"request_id":"d6763e1e-4a91-4938-870c-84cad64deb73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6763e1e-4a91-4938-870c-84cad64deb73
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T19:27:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"c5d0263f-4265-4f04-9528-8bad2efc2eb9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c5d0263f-4265-4f04-9528-8bad2efc2eb9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81ad-a3d0-f93e72e3ef4a/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d4a3e78d-b6a5-4b07-9d98-5b1174b395a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d4a3e78d-b6a5-4b07-9d98-5b1174b395a4
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"tab","tab":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Overview","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Overview"}}],"color":"default"}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81ad-a3d0-f93e72e3ef4a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81c5-acfd-c8f99bdd49b9","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81ad-a3d0-f93e72e3ef4a"},"created_time":"2026-06-27T19:27:00.000Z","last_edited_time":"2026-06-27T19:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"tab","tab":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d956504d-dcdf-44c1-a466-1c01ff77eb6a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d956504d-dcdf-44c1-a466-1c01ff77eb6a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81c5-acfd-c8f99bdd49b9/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8131-b36a-c13c713b609b","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81c5-acfd-c8f99bdd49b9"},"created_time":"2026-06-27T19:27:00.000Z","last_edited_time":"2026-06-27T19:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Overview","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Overview","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"95ac18fd-54b0-438e-b673-3add459ec4e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 95ac18fd-54b0-438e-b673-3add459ec4e6
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Details","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Details"}}],"color":"default"}}],"position":{"type":"after_block","after_block":{"id":"38c9ce7b-60a4-8131-b36a-c13c713b609b"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81c5-acfd-c8f99bdd49b9/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8196-8085-cfef6f61c610","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81c5-acfd-c8f99bdd49b9"},"created_time":"2026-06-27T19:27:00.000Z","last_edited_time":"2026-06-27T19:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Details","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Details","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7d84d16d-dd1c-4cd9-b621-65f48c0479cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7d84d16d-dd1c-4cd9-b621-65f48c0479cc
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81ad-a3d0-f93e72e3ef4a/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81c5-acfd-c8f99bdd49b9","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81ad-a3d0-f93e72e3ef4a"},"created_time":"2026-06-27T19:27:00.000Z","last_edited_time":"2026-06-27T19:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"tab","tab":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"366cec7b-b1ea-49c2-b089-effffc965139"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 366cec7b-b1ea-49c2-b089-effffc965139
    status_code: 200
version: 1
