interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8199-8181-e6cf5b606554","created_time":"2026-06-25T14:34:00.000Z","last_edited_time":"2026-06-25T14:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-file-blocks-38a9ce7b60a481998181e6cf5b606554","public_url":null,"archived":false,"request_id":"5ffae7f7-dc55-4ed3-a8fc-03f3426c19f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5ffae7f7-dc55-4ed3-a8fc-03f3426c19f6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"a87c34f9-dc50-457e-9def-efb0da18192c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a87c34f9-dc50-457e-9def-efb0da18192c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8199-8181-e6cf5b606554/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c7b62032-f0c7-4646-a36f-1765eb2a2d0f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c7b62032-f0c7-4646-a36f-1765eb2a2d0f
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"file","file":{"type":"external","caption":[],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"file","file":{"type":"external","name":"my_file.txt","caption":[{"type":"text","plain_text":"Google
      Robots","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      Robots"}}],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"image","image":{"type":"external","caption":[],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"video","video":{"type":"external","caption":[],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8199-8181-e6cf5b606554/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-817e-bd9e-dd66cf1a761b","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-8199-8181-e6cf5b606554"},"created_time":"2026-06-25T14:34:00.000Z","last_edited_time":"2026-06-25T14:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"robots.txt"},"archived":false},{"object":"block","id":"38a9ce7b-60a4-81b4-89c3-e84cd1718639","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-8199-8181-e6cf5b606554"},"created_time":"2026-06-25T14:34:00.000Z","last_edited_time":"2026-06-25T14:34:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"u[...]
- request:
    body: '{"children":[{"object":"block","type":"video","video":{"type":"external","caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[{"type":"text","plain_text":"Dummy
      PDF","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Dummy
      PDF"}}],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}},{"object":"block","type":"audio","audio":{"type":"external","caption":[],"external":{"url":"https://samplelib.com/lib/preview/mp3/sample-3s.mp3"}}},{"object":"block","type":"audio","audio":{"type":"external","caption":[{"type":"text","plain_text":"Sample
      Audio","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Sample
      Audio"}}],"external":{"url":"https://samplelib.com/lib/preview/mp3/sample-3s.mp3"}}}]}'
    headers:
      authorization:
      - secret...
    [...]
