interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Page for modifying column blocks
      with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-8151-9596-f2dcbc5ddfa2","created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-21b974f3b38881519596f2dcbc5ddfa2","public_url":null,"request_id":"c698edfa-0039-4dbb-9579-13a91b3870e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c698edfa-0039-4dbb-9579-13a91b3870e0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"e18dc6d3-df49-49c7-ba2c-8d5510cfea0f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e18dc6d3-df49-49c7-ba2c-8d5510cfea0f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8151-9596-f2dcbc5ddfa2/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c49f062f-2c17-4dd3-8301-8a94b20ccb1f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c49f062f-2c17-4dd3-8301-8a94b20ccb1f
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": [], "width_ratio": 0.25}}, {"type": "column",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "column": {"children": [], "width_ratio": 0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8151-9596-f2dcbc5ddfa2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-813b-9ce6-e60ae92f8b6c","parent":{"type":"page_id","page_id":"21b974f3-b388-8151-9596-f2dcbc5ddfa2"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"42f478e1-7c11-411c-a4ee-33e09d5cfd54"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 42f478e1-7c11-411c-a4ee-33e09d5cfd54
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-813b-9ce6-e60ae92f8b6c/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-81b5-9406-e691eaaca663","parent":{"type":"block_id","block_id":"21b974f3-b388-813b-9ce6-e60ae92f8b6c"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25}},{"object":"block","id":"21b974f3-b388-8147-8fbc-eba65fa3f93e","parent":{"type":"block_id","block_id":"21b974f3-b388-813b-9ce6-e60ae92f8b6c"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"466fd654-4628-4381-9656-a9fa4ac460e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 466fd654-4628-4381-9656-a9fa4ac460e3
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81b5-9406-e691eaaca6[...]
[...]
- request:
    body: '{"children": [{"type": "column", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "column": {"children": []}}], "after":
      "21b974f3-b388-81b5-9406-e691eaaca663"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-813b-9ce6-e60ae92f8b6c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-8182-baf6-fa700743d9f1","parent":{"type":"block_id","block_id":"21b974f3-b388-813b-9ce6-e60ae92f8b6c"},"created_ti[...]
[...]
- request:
    body: '{"type": "column", "archived": false, "in_trash": false, "column": {"width_ratio":
      0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3b38881b59406e691eaaca663
  response:
    content: '{"object":"block","id":"21b974f3-b388-81b5-9406-e691eaaca663","parent":{"type":"block_id","block_id":"21b974f3-b388-813b-9ce6-e60ae92f8b6c"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"d376660b-0169-4d77-828f-5108e562b22d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d376660b-0169-4d77-828f-5108e562b22d
    status_code: 200
[...]
- request:
    body: '{"type": "column", "archived": false, "in_trash": false, "column": {"width_ratio":
      0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3b38881478fbceba65fa3f93e
  response:
    content: '{"object":"block","id":"21b974f3-b388-8147-8fbc-eba65fa3f93e","parent":{"type":"block_id","block_id":"21b974f3-b388-813b-9ce6-e60ae92f8b6c"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"d76a1e6e-b7e6-4ec1-a31d-20642af42d31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d76a1e6e-b7e6-4ec1-a31d-20642af42d31
    status_code: 200
version: 1
