interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-8102-aa14-eaec4bd06426","created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-10f974f3b3888102aa14eaec4bd06426","public_url":null,"request_id":"3f3587e6-3d62-4529-bce1-e05c67f90a1d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3f3587e6-3d62-4529-bce1-e05c67f90a1d
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "10f974f3-b388-8102-aa14-eaec4bd06426"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"10f974f3-b388-81b0-a4b9-c400a7485f54","cover":null,"icon":null,"created_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-09-28T13:39:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"PEjt","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"10f974f3-b388-8102-aa14-eaec4bd06426"},"url":"https://www.notion.so/10f974f3b38881b0a4b9c400a7485f54","public_url":null,"archived":false,"in_trash":false,"request_id":"12c815cd-7f0e-4f97-b9ea-eb213296dbe8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 12c815cd-7f0e-4f97-b9ea-eb213296dbe8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8102-aa14-eaec4bd06426/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-81ee-b438-cd43cdce231d","parent":{"type":"page_id","page_id":"10f974f3-b388-8102-aa14-eaec4bd06426"},"created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"10f974f3-b388-81b0-a4b9-c400a7485f54","parent":{"type":"page_id","page_id":"10f974f3-b388-8102-aa14-eaec4bd06426"},"created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"597d87b0-0db0-493e-84e9-00136fe5df4f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 597d87b0-0db0-493e-84e9-00136fe5df4f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/10f974f3-b388-8102-aa14-eaec4bd06426
  response:
    content: '{"object":"page","id":"10f974f3-b388-8102-aa14-eaec4bd06426","created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-10f974f3b3888102aa14eaec4bd06426","public_url":null,"request_id":"a08aa05b-d79e-4de0-bcd5-6ae076232bcd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a08aa05b-d79e-4de0-bcd5-6ae076232bcd
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81b0-a4b9-c400a7485f54
  response:
    content: '{"object":"block","id":"10f974f3-b388-81b0-a4b9-c400a7485f54","parent":{"type":"page_id","page_id":"10f974f3-b388-8102-aa14-eaec4bd06426"},"created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"e1901a21-ace1-48c1-8de7-347769c333f9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e1901a21-ace1-48c1-8de7-347769c333f9
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8102-aa14-eaec4bd06426/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4469128f-4a79-465d-8803-7cdb7d947ecc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4469128f-4a79-465d-8803-7cdb7d947ecc
    status_code: 200
version: 1
