interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying basic blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-815c-a73a-e151e97fbc20","created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-38c9ce7b60a4815ca73ae151e97fbc20","public_url":null,"archived":false,"request_id":"f36ebf7c-68bc-44c6-9da1-dcdd4b83383f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f36ebf7c-68bc-44c6-9da1-dcdd4b83383f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"84f59d72-be29-4c76-aaff-59ef9cf1ef4b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 84f59d72-be29-4c76-aaff-59ef9cf1ef4b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815c-a73a-e151e97fbc20/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"87508f5d-7148-4382-ae8f-9b071f803861"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87508f5d-7148-4382-ae8f-9b071f803861
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Red
      paragraph\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Red
      paragraph\"}}],\"color\":\"red\"}},{\"object\":\"block\",\"type\":\"code\",\"code\":{\"caption\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"print(\\\"Hello
      World\\\")\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"print(\\\"Hello
      World\\\")\"}}],\"language\":\"python\"}},{\"object\":\"block\",\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"My
      new page\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"My
      new page\"}}],\"color\":\"default\",\"is_toggleable\":true}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}},{\"object\":\"block\",\"type\":\"to_do\",\"to_do\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Checked
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Checked
      item\"}}],\"color\":\"default\",\"checked\":true}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815c-a73a-e151e97fbc20/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-81dd-9c14-d844e8fb1946\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38c9ce7b-60a4-815c-a73a-e151e97fbc20\"},\"created_time\":\"2026-06-27T05:47:00.000Z\",\"last_edited_time\":\"2026-06-27T05:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Red
      paragraph\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Red
      paragraph\",\"href\":null}],\"icon\":null,\"color\":\"red\"},\"archived\":false},{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-819f-a00b-e022e1cbb6c7\",\"parent\":{\"type\":\"page_id\",[...]
- request:
    body: '{"children":[{"object":"block","type":"embed","embed":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"bookmark","bookmark":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"equation","equation":{"expression":"-1
      = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815c-a73a-e151e97fbc20/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8154-aa96-c7255f69da98","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815c-a73a-e151e97fbc20"},"created_time":"2026-06-27T05[...]
- request:
    body: '{"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Red
      paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Red
      paragraph"}}],"color":"pink"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a nested paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a nested paragraph"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81bf-8f3d-c74069d2e3e0/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-816d-be2d-c8ce4e985a83","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81bf-8f3d-c74069d2e3e0"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a nested paragraph","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d04cb7bb-2df0-416d-8e61-aa5556423fd6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d04cb7bb-2df0-416d-8e61-aa5556423fd6
    status_code: 200
[...]
- request:
    body: '{"embed":{"caption":[],"url":"https://notion.so/"},"type":"embed"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b60a48154aa96c7255f69da98
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8154-aa96-c7255f69da98","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815c-a73a-e151e97fbc20"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://notion.so/"},"archived":false,"request_id":"f1cfc422-547c-4311-9643-ae5ffeb39e4e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f1cfc422-547c-4311-9643-ae5ffeb39e4e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-819f-a00b-e022e1cbb6c7
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-819f-a00b-e022e1cbb6c7","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815c-a73a-e151e97fbc20"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello
      World\")","href":null}],"language":"javascript"},"archived":false,"request_id":"11da46f4-c193-451d-b89a-2f768eb09090"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 11da46f4-c193-451d-b89a-2f768eb09090
    status_code: 200
version: 1
