interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81d2-8f82-e1e13d87129c","created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-29c974f3b38881d28f82e1e13d87129c","public_url":null,"request_id":"298d66ce-a1ac-4d78-82f4-0006e95c7c93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 298d66ce-a1ac-4d78-82f4-0006e95c7c93
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"a1c2e556-768f-46d7-933e-8fc69d0a1527"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1c2e556-768f-46d7-933e-8fc69d0a1527
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "29c974f3-b388-81d2-8f82-e1e13d87129c"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-8128-be86-d37bcc5c27f9","cover":null,"icon":null,"created_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:33:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"29c974f3-b388-81d2-8f82-e1e13d87129c"},"url":"https://www.notion.so/29c974f3b3888128be86d37bcc5c27f9","public_url":null,"archived":false,"in_trash":false,"request_id":"5041618b-b025-46e0-800a-f794be1b664a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5041618b-b025-46e0-800a-f794be1b664a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81d2-8f82-e1e13d87129c/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-81ea-8f39-f511f22bf121","parent":{"type":"page_id","page_id":"29c974f3-b388-81d2-8f82-e1e13d87129c"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"29c974f3-b388-8128-be86-d37bcc5c27f9","parent":{"type":"page_id","page_id":"29c974f3-b388-81d2-8f82-e1e13d87129c"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"079d5b1b-63ad-482b-a15c-baede32de4c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 079d5b1b-63ad-482b-a15c-baede32de4c4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-8128-be86-d37bcc5c27f9
  response:
    content: '{"object":"block","id":"29c974f3-b388-8128-be86-d37bcc5c27f9","parent":{"type":"page_id","page_id":"29c974f3-b388-81d2-8f82-e1e13d87129c"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"f18f5997-e1f4-4308-a286-f36c10923646"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f18f5997-e1f4-4308-a286-f36c10923646
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81d2-8f82-e1e13d87129c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"69f25b2f-f2d9-46d5-ba09-2152db2318c8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 69f25b2f-f2d9-46d5-ba09-2152db2318c8
    status_code: 200
version: 1
