interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-81fc-aed2-ff154530a3d7","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-10f974f3b38881fcaed2ff154530a3d7","public_url":null,"request_id":"750d4c15-f870-43b1-969b-d58d014deffc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 750d4c15-f870-43b1-969b-d58d014deffc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81fc-aed2-ff154530a3d7/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9ec118e4-18e4-48c7-8bc2-098c31ebbf0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ec118e4-18e4-48c7-8bc2-098c31ebbf0d
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81fc-aed2-ff154530a3d7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8105-ad39-d08b5b9b4279","parent":{"type":"page_id","page_id":"10f974f3-b388-81fc-aed2-ff154530a3d7"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6fc824ba-c1d5-4b54-ad5d-b1e74d0fce3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6fc824ba-c1d5-4b54-ad5d-b1e74d0fce3e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8105-ad39-d08b5b9b4279/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-81f8-9141-fa223e8e8fb1","parent":{"type":"block_id","block_id":"10f974f3-b388-8105-ad39-d08b5b9b4279"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"10f974f3-b388-81b7-acad-df98c2ec8482","parent":{"type":"block_id","block_id":"10f974f3-b388-8105-ad39-d08b5b9b4279"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"be2629ae-2cb6-4f95-b67b-978588989770"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be2629ae-2cb6-4f95-b67b-978588989770
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81f8-9141-fa223e8e8f[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81f8-9141-fa223e8e8fb1
  response:
    content: '{"object":"block","id":"10f974f3-b388-81f8-9141-fa223e8e8fb1","parent":{"type":"block_id","block_id":"10f974f3-b388-8105-ad39-d08b5b9b4279"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"column","column":{},"request_id":"500e1945-da89-4112-8831-96d7ad94f0cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 500e1945-da89-4112-8831-96d7ad94f0cb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/10f974f3-b388-81fc-aed2-ff154530a3d7
  response:
    content: '{"object":"page","id":"10f974f3-b388-81fc-aed2-ff154530a3d7","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-10f974f3b38881fcaed2ff154530a3d7","public_url":null,"request_id":"c723eeba-498d-4aff-85b3-9a9b11b5a03d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c723eeba-498d-4aff-85b3-9a9b11b5a03d
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "column", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "column": {"children": []}}], "after":
      "10f974f3-b388-81b7-acad-df98c2ec8482"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8105-ad39-d08b5b9b4279/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8114-9d96-f33835e4b712","parent":{"type":"block_id","block_id":"10f974f3-b388-8105-ad39-d08b5b9b4279"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"22095d65-b6cb-45af-805a-043a4f41cbb6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 22095d65-b6cb-45af-805a-043a4f41cbb6
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81fc-aed2-ff154530a3d7/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8105-ad39-d08b5b9b4279","parent":{"type":"page_id","page_id":"10f974f3-b388-81fc-aed2-ff154530a3d7"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"fafde59a-9605-4029-aa05-7191e388d83d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fafde59a-9605-4029-aa05-7191e388d83d
    status_code: 200
version: 1
