interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8126-a8a3-de5edfbb4cd3","created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-creating-sync-blocks-3899ce7b60a48126a8a3de5edfbb4cd3","public_url":null,"archived":false,"request_id":"1caf1d68-286a-4c1b-bfaa-70e2cf1f5ccb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1caf1d68-286a-4c1b-bfaa-70e2cf1f5ccb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"308fbdf6-a147-451b-b853-45da0b258af0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 308fbdf6-a147-451b-b853-45da0b258af0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8126-a8a3-de5edfbb4cd3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a61a24d5-d00d-4a5e-b99c-25ab970d5598"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a61a24d5-d00d-4a5e-b99c-25ab970d5598
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default"}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8126-a8a3-de5edfbb4cd3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8104-b39f-eb81fcddfdd0","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8126-a8a3-de5edfbb4cd3"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b2c61a8b-2f91-4a96-97d7-492f8894f593"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b2c61a8b-2f91-4a96-97d7-492f8894f593
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[],"synced_from":{"type":"block_id","block_id":"3899ce7b-60a4-8104-b39f-eb81fcddfdd0"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8126-a8a3-de5edfbb4cd3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8110-8eed-f1d0cc015009","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8126-a8a3-de5edfbb4cd3"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"3899ce7b-60a4-8104-b39f-eb81fcddfdd0"}},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a25ddb74-6dd2-44cd-b7bb-b3513461c952"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a25ddb74-6dd2-44cd-b7bb-b3513461c952
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8104-b39f-eb81fcddfdd0/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-813d-b0e5-e79cf5e8eb78","parent":{"type":"block_id","block_id":"3899ce7b-60a4-8104-b39f-eb81fcddfdd0"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d379dc79-2e21-47c3-8ade-85faf53d1e57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d379dc79-2e21-47c3-8ade-85faf53d1e57
    status_code: 200
version: 1
