interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating basic blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"01432c27-0615-4cfd-a17e-da2cd5eb3423","created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-basic-blocks-01432c2706154cfda17eda2cd5eb3423","public_url":null,"request_id":"a09eb617-a817-4d0b-9f43-f124fed23227"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a09eb617-a817-4d0b-9f43-f124fed23227
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/01432c27-0615-4cfd-a17e-da2cd5eb3423/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"41434410-fe45-4953-9f8e-72ab6091fd77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 41434410-fe45-4953-9f8e-72ab6091fd77
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "heading_2", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "heading_2": {"rich_text": [{"type": "text", "plain_text":
      "Heading 2", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Heading 2"}}], "color": "blue", "is_toggleable": false}}, {"type": "paragraph",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a paragraph",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "This is a paragraph"}}],
      "color": "default"}}, {"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is coloured paragraph", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is coloured paragraph"}}],
      "color": "red"}}, {"type": "code", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "code": {"rich_text": [{"type": "text",
      "plain_text": "print(\"Hello World\")", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "print(\"Hello World\")"}}], "caption": [], "language":
      "python"}}, {"type": "code", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "code": {"rich_text": [{"type": "text", "plain_text":
      "SELECT * FROM table", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "SELECT * FROM table"}}], "caption": [{"type": "text", "plain_text": "SQL Query",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "SQL Query"}}],
      "language": "sql"}}, {"type": "quote", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "quote": {"rich_text": [{"type": "text",
      "plain_text": "This is a quote", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "This is a quote"}}], "color": "default"}}, {"type": "quote",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "quote": {"rich_text": [{"type": "text", "plain_text": "This is a quote with
      a citation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a quote with a citation"}}], "color": "green"}}, {"type": "callout",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "callout": {"rich_text": [{"type": "text", "plain_text": "This is a callout",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "This is a callout"}}],
      "color": "default"}}, {"type": "callout", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "callout": {"rich_text": [{"type":
      "text", "plain_text": "This is a callout with color and icon", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "This is a callout with
      color and icon"}}], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color":
      "purple"}}, {"type": "callout", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "callout": {"rich_text": [{"type": "text", "plain_text":
      "This is a another callout with color and icon", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a another callout with color
      and icon"}}], "icon": {"type": "emoji", "emoji": "\ud83d\udc4d"}, "color": "yellow"}},
      {"type": "bulleted_list_item", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "bulleted_list_item": {"rich_text": [{"type": "text",
      "plain_text": "First item", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "First item"}}], "color": "default"}}, {"type": "bulleted_list_item",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "bulleted_list_item": {"rich_text": [{"type": "text", "plain_text": "Second
      item", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Second item"}}], "color": "blue"}}, {"type": "numbered_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "numbered_list_item":
      {"rich_text": [{"type": "text", "plain_text": "First item", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "First item"}}], "color": "default"}},
      {"type": "numbered_list_item", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "numbered_list_item": {"rich_text": [{"type": "text",
      "plain_text": "Second item", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Second item"}}], "color": "red"}}, {"type": "to_do", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "to_do":
      {"rich_text": [{"type": "text", "plain_text": "First item", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "First item"}}], "checked":
      false, "color": "default"}}, {"type": "to_do", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "to_do": {"rich_text": [{"type":
      "text", "plain_text": "Second item", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Second item"}}], "checked": true, "color": "default"}},
      {"type": "to_do", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Third
      item", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Third item"}}], "checked": false, "color": "red"}}, {"type": "toggle", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "toggle":
      {"rich_text": [{"type": "text", "plain_text": "First item", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "First item"}}], "color": "default"}},
      {"type": "toggle", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "toggle": {"rich_text": [{"type": "text", "plain_text": "Second
      item", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Second item"}}], "color": "purple"}}, {"type": "divider", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "divider": {}},
      {"type": "table_of_contents", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "table_of_contents": {"color": "default"}}, {"type":
      "table_of_contents", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "table_of_contents": {"color": "pink"}}, {"type": "breadcrumb",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "breadcrumb": {}}, {"type": "embed", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "embed", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      "caption": [{"type": "text", "plain_text": "Rick Roll", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Rick Roll"}}]}}, {"type": "bookmark",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type":
      "bookmark", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ", "caption":
      [{"type": "text", "plain_text": "Rick Roll", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Rick Roll"}}]}}, {"type": "equation",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/01432c27-0615-4cfd-a17e-da2cd5eb3423/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"4b8fc833-e72a-4145-9c31-5bbabf08d15f\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"01432c27-0615-4cfd-a17e-da2cd5eb3423\"},\"created_[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph with children", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a paragraph with children"}}],
      "color": "default"}}]}'
    headers:
      autho[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a child paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a child paragraph"}}], "color":
      "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/cb63f0f0-bb81-4788-8d33-8e224a2cbdad/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"2267a946-0baf-49f2-b434-d994de2ddb6a","parent":{"type":"block_id","block_id":"cb63f0f0-bb81-4788-8d33-8e224a2cbdad"},"created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a child paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a child paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"994c6a65-d043-49fe-98c4-643bb5ae34b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 994c6a65-d043-49fe-98c4-643bb5ae34b3
    status_code: 200
version: 1
