interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-8130-9980-dc43d3dcdfe7","created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-column-blocks-10f974f3b38881309980dc43d3dcdfe7","public_url":null,"request_id":"554fd9f3-1029-4a0f-9ce2-836720920e48"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 554fd9f3-1029-4a0f-9ce2-836720920e48
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8130-9980-dc43d3dcdfe7/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a136002a-ea1e-4391-a07c-9d099b22a39f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a136002a-ea1e-4391-a07c-9d099b22a39f
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8130-9980-dc43d3dcdfe7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-81bf-ab31-d42e34a282f9","parent":{"type":"page_id","page_id":"10f974f3-b388-8130-9980-dc43d3dcdfe7"},"created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"447b43de-e2bf-4364-8884-61714258d46d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 447b43de-e2bf-4364-8884-61714258d46d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81bf-ab31-d42e34a282f9/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8108-8c84-d13995a7ea8e","parent":{"type":"block_id","block_id":"10f974f3-b388-81bf-ab31-d42e34a282f9"},"created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"10f974f3-b388-81a4-ab55-e2120576cb54","parent":{"type":"block_id","block_id":"10f974f3-b388-81bf-ab31-d42e34a282f9"},"created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a9d9c333-48a5-43b6-8e2f-bffd6ffc4c3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a9d9c333-48a5-43b6-8e2f-bffd6ffc4c3e
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8108-8c84-d13995a7ea[...]
[...]
