interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Page for inserting after and replacing blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8167-8517-cfdbee33b83c","created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-38c9ce7b60a481678517cfdbee33b83c","public_url":null,"archived":false,"request_id":"d321f2f1-7585-418f-8365-d7f7a855c8ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d321f2f1-7585-418f-8365-d7f7a855c8ae
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"d7ac4539-4043-4007-851f-a1c96557b5a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d7ac4539-4043-4007-851f-a1c96557b5a5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8167-8517-cfdbee33b83c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"73bd7308-268a-4092-830c-fcd28345e1be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 73bd7308-268a-4092-830c-fcd28345e1be
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38c9ce7b-60a4-8138-b487-e38ebc96020d"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8167-8517-cfdbee33b83c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81ef-b2ed-f5334e2aac2f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8167-8517-cfdbee33b83c"},"created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"},"archived":false},{"object":"block","id":"38c9ce7b-60a4-8149-81f0-e80bd334af48","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8167-8517-cfdbee33b83c"},"created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38c9ce7b-60a4-8138-b487-e38ebc96020d"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f6604f3b-c839-4f80-ae64-81b9a9dff73f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f6604f3b-c839-4f80-ae64-81b9a9dff73f
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default"}}],"after":"38c9ce7b-60a4-81ef-b2ed-f5334e2aac2f"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8167-8517-cfdbee33b83c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8181-96e4-f9358f80bd96","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8167-8517-cfdbee33b83c"},"created_time":"2026[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8149-81f0-e80bd334af48
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8149-81f0-e80bd334af48","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8167-8517-cfdbee33b83c"},"created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38c9ce7b-60a4-8138-b487-e38ebc96020d"},"archived":true,"request_id":"888a835d-0a6a-42bd-9404-489c73edf40d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 888a835d-0a6a-42bd-9404-489c73edf40d
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"divider","divider":{}},{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}}],"table_width":2,"has_column_header":false,"has_row_header":false}}],"after":"38c9ce7b-60a4-8181-96e4-f9358f80bd96"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8167-8517-cfdbee33b83c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81bc-be17-e14cc8fa4803","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8167-8517-cfdbee33b83c"},"cr[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-813a-8835-f05f575d9d11/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8123-9f7a-f569213e8e2d","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-813a-8835-f05f575d9d11"},"created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]},"archived":false},{"object":"block","id":"38c9ce7b-60a4-81ba-90ee-f58a21b1f077","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-813a-8835-f05f575d9d11"},"created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ccd017d0-4f47-46de-b041-eec5dcddd5e9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ccd017d0-4f47-46de-b041-eec5dcddd5e9
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-813a-8835-f05f575d9d11
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-813a-8835-f05f575d9d11","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8167-8517-cfdbee33b83c"},"created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"archived":true,"request_id":"1fb4185e-ffe0-4368-a2de-6326c6a5073b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1fb4185e-ffe0-4368-a2de-6326c6a5073b
    status_code: 200
version: 1
