interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Page for inserting after and replacing
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-811c-b7c0-e671f634f473","created_time":"2025-01-05T14:13:00.000Z","last_edited_time":"2025-01-05T14:13:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-172974f3b388811cb7c0e671f634f473","public_url":null,"request_id":"5b65208e-ef69-45b6-9518-dfa686701c92"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5b65208e-ef69-45b6-9518-dfa686701c92
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:13:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"a1f7b285-1ccd-4da7-80ff-b102db97a733"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1f7b285-1ccd-4da7-80ff-b102db97a733
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-811c-b7c0-e671f634f473/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"463d1900-6fb3-41d7-9bf6-7c05e1ee1f7b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 463d1900-6fb3-41d7-9bf6-7c05e1ee1f7b
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "link_to_page", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "link_to_page": {"type": "page_id", "page_id": "172974f3-b388-8140-8026-de1913d3fa88"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-811c-b7c0-e671f634f473/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81ee-ba6c-e1a8e4d9cf61","parent":{"type":"page_id","page_id":"172974f3-b388-811c-b7c0-[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a paragraph"}}], "children":
      [], "color": "default"}}], "after": "172974f3-b388-81ee-ba6c-e1a8e4d9cf61"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-811c-b7c0-e671f634f473/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81b4-a39b-ef447c5537ce","parent":{"type":"page_id","page_id":"172974f3-b388-811c-b7c0-e671f634f473"},"created_time":"202[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/172974f3-b388-816f-bdcd-cc4008a35611
  response:
    content: '{"object":"block","id":"172974f3-b388-816f-bdcd-cc4008a35611","parent":{"type":"page_id","page_id":"172974f3-b388-811c-b7c0-e671f634f473"},"created_time":"2025-01-05T14:13:00.000Z","last_edited_time":"2025-01-05T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"172974f3-b388-8140-8026-de1913d3fa88"},"request_id":"3ef058f0-dae6-40d7-9636-30e6e55c0780"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ef058f0-dae6-40d7-9636-30e6e55c0780
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      false, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}}]}}],
      "after": "172974f3-b388-81b4-a39b-ef447c5537ce"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-811c-b7c0-e671f634f473/children
  response:
    content: '{"object":"l[...]
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "divider": {}}], "after": "172974f3-b388-81b4-a39b-ef447c5537ce"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-811c-b7c0-e671f634f473/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-816c-9c8b-c076fb826b01","parent":{"type":"page_id","page_id":"172974f3-b388-811c-b7c0-e671f634f473"},"cre[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-810c-bcec-d7b15bab3425/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8166-86d2-c2fc13a31385","parent":{"type":"block_id","block_id":"172974f3-b388-810c-bcec-d7b15bab3425"},"created_time":"2025-01-05T14:14:00.000Z","last_edited_time":"2025-01-05T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"172974f3-b388-81fe-b38c-e48dc3bd745f","parent":{"type":"block_id","block_id":"172974f3-b388-810c-bcec-d7b15bab3425"},"created_time":"2025-01-05T14:14:00.000Z","last_edited_time":"2025-01-05T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8ccbca99-f486-471c-840e-30ac6e9d3db5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ccbca99-f486-471c-840e-30ac6e9d3db5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/172974f3-b388-810c-bcec-d7b15bab3425
  response:
    content: '{"object":"block","id":"172974f3-b388-810c-bcec-d7b15bab3425","parent":{"type":"page_id","page_id":"172974f3-b388-811c-b7c0-e671f634f473"},"created_time":"2025-01-05T14:14:00.000Z","last_edited_time":"2025-01-05T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"be934347-1667-47fb-97d4-840f30c7c061"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be934347-1667-47fb-97d4-840f30c7c061
    status_code: 200
version: 1
