interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81b1-a366-fdfaae297c84","created_time":"2025-09-22T09:07:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-sync-blocks-276974f3b38881b1a366fdfaae297c84","public_url":null,"request_id":"b0310d77-cf07-433c-85e1-a9ce7a617ab7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b0310d77-cf07-433c-85e1-a9ce7a617ab7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"2b8298f6-3af0-421e-ba2a-323efeaf19cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2b8298f6-3af0-421e-ba2a-323efeaf19cb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81b1-a366-fdfaae297c84/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1da82867-464e-4273-ac76-89849f0fb4db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1da82867-464e-4273-ac76-89849f0fb4db
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"synced_block","synced_block":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default","children":[]}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81b1-a366-fdfaae297c84/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8112-88bb-fac1f5913b46","parent":{"type":"page_id","page_id":"276974f3-b388-81b1-a366-fdfaae297c84"},"created_time":"2025-09-22T09:07:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a4f1d9a5-b2d5-4fb5-a47d-05beea30db91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4f1d9a5-b2d5-4fb5-a47d-05beea30db91
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"276974f3-b388-8112-88bb-fac1f5913b46"},"children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81b1-a366-fdfaae297c84/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-81a2-a3bc-f6328c5133fb","parent":{"type":"page_id","page_id":"276974f3-b388-81b1-a366-fdfaae297c84"},"created_time":"2025-09-22T09:07:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"276974f3-b388-8112-88bb-fac1f5913b46"}}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4213cf75-9473-4ae0-b80b-4e0583c13c28"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4213cf75-9473-4ae0-b80b-4e0583c13c28
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8112-88bb-fac1f5913b46/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8128-86bb-f12e8eeda143","parent":{"type":"block_id","block_id":"276974f3-b388-8112-88bb-fac1f5913b46"},"created_time":"2025-09-22T09:07:00.000Z","last_edited_time":"2025-09-22T09:07:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"02240902-c7c8-4447-9abd-745f59eb76bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 02240902-c7c8-4447-9abd-745f59eb76bb
    status_code: 200
version: 1
