interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81d0-96a3-fce4abbfe3d7","created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-sync-blocks-38c9ce7b60a481d096a3fce4abbfe3d7","public_url":null,"archived":false,"request_id":"13480903-cc9c-4019-9947-20b049859b19"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 13480903-cc9c-4019-9947-20b049859b19
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"b04a9db1-de3e-4a1c-bd59-726c8c438017"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b04a9db1-de3e-4a1c-bd59-726c8c438017
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81d0-96a3-fce4abbfe3d7/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"cd89eb49-57a2-4da0-80b0-f15814a1c87c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cd89eb49-57a2-4da0-80b0-f15814a1c87c
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default"}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81d0-96a3-fce4abbfe3d7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-813d-bb3d-f19180e23d03","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81d0-96a3-fce4abbfe3d7"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3cca1c4f-1e08-401a-b15a-3a1bf70cd9c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3cca1c4f-1e08-401a-b15a-3a1bf70cd9c2
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[],"synced_from":{"type":"block_id","block_id":"38c9ce7b-60a4-813d-bb3d-f19180e23d03"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81d0-96a3-fce4abbfe3d7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8144-b4eb-e9278f77e3a7","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81d0-96a3-fce4abbfe3d7"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"38c9ce7b-60a4-813d-bb3d-f19180e23d03"}},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9b29a4a1-8e07-43f5-97dd-f9c7a4609275"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9b29a4a1-8e07-43f5-97dd-f9c7a4609275
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-813d-bb3d-f19180e23d03/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8135-bf51-eede7c0ac307","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-813d-bb3d-f19180e23d03"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d81282ae-6df0-46b7-a294-d2809005f062"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d81282ae-6df0-46b7-a294-d2809005f062
    status_code: 200
version: 1
