interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-810d-a705-f13ee23341fa","created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-file-blocks-277974f3b388810da705f13ee23341fa","public_url":null,"request_id":"8ecb5cd8-3caf-43ad-938d-f733fb5d57cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ecb5cd8-3caf-43ad-938d-f733fb5d57cf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"01ae01d4-ae04-4266-b4a3-295567be48fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 01ae01d4-ae04-4266-b4a3-295567be48fe
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-810d-a705-f13ee23341fa/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"78a99472-26cc-42f7-97cd-a7d273a8d24a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 78a99472-26cc-42f7-97cd-a7d273a8d24a
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"file","file":{"type":"external","name":"robots.txt","caption":[],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Path
      on meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Path
      on meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"video","video":{"type":"external","caption":[],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"pdf","pdf":{"type":"external","caption":[],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-810d-a705-f13ee23341fa/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-81f6-9cf9-f7a9729f3def","parent":{"type":"p[...]
- request:
    body: '{"type":"file","archived":false,"in_trash":false,"file":{"name":"my_robot","caption":[]}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3b38881f69cf9f7a9729f3def
  response:
    content: '{"object":"block","id":"277974f3-b388-81f6-9cf9-f7a9729f3def","parent":{"type":"page_id","page_id":"277974f3-b388-810d-a705-f13ee23341fa"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"my_robot.txt"},"request_id":"7e24569e-85f3-4abb-a999-866093e28bc8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e24569e-85f3-4abb-a999-866093e28bc8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-818a-9785-d42e4fb82595
  response:
    content: '{"object":"block","id":"277974f3-b388-818a-9785-d42e4fb82595","parent":{"type":"page_id","page_id":"277974f3-b388-810d-a705-f13ee23341fa"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"pdf","pdf":{"caption":[{"type":"text","text":{"content":"Dummy
      PDF","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Dummy
      PDF","href":null}],"type":"external","external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}},"request_id":"b1e8b17e-e1f2-4d65-bec7-6874a9e94366"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b1e8b17e-e1f2-4d65-bec7-6874a9e94366
    status_code: 200
version: 1
