interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-81fa-a66b-eb0ac4bb3e56","created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-sync-blocks-38a9ce7b60a481faa66beb0ac4bb3e56","public_url":null,"archived":false,"request_id":"fa0ac600-69ae-48b1-a551-2c95ea60624f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fa0ac600-69ae-48b1-a551-2c95ea60624f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"c4bde9c0-a74c-4ce9-a0a7-ed7a20d46987"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c4bde9c0-a74c-4ce9-a0a7-ed7a20d46987
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81fa-a66b-eb0ac4bb3e56/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2b3b7698-49e4-4cc1-aafa-76a2b7007718"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2b3b7698-49e4-4cc1-aafa-76a2b7007718
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default"}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81fa-a66b-eb0ac4bb3e56/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81fe-8f39-e9573ed43708","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81fa-a66b-eb0ac4bb3e56"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3dba6aeb-4abb-4254-a831-9ec165ddc293"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3dba6aeb-4abb-4254-a831-9ec165ddc293
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"synced_block","synced_block":{"children":[],"synced_from":{"type":"block_id","block_id":"38a9ce7b-60a4-81fe-8f39-e9573ed43708"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81fa-a66b-eb0ac4bb3e56/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81f2-8381-cb63fd87b5c0","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81fa-a66b-eb0ac4bb3e56"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"38a9ce7b-60a4-81fe-8f39-e9573ed43708"}},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0a1d9746-be8a-42aa-84d6-cd5dccd260ca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0a1d9746-be8a-42aa-84d6-cd5dccd260ca
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81fe-8f39-e9573ed43708/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81d2-b85c-d766643e6875","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-81fe-8f39-e9573ed43708"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d22e30a0-5b6a-4c08-b259-42b482f1a53b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d22e30a0-5b6a-4c08-b259-42b482f1a53b
    status_code: 200
version: 1
