interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating basic blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-81e1-80ff-d87de4f3c670","created_time":"2025-09-03T13:37:00.000Z","last_edited_time":"2025-09-03T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-basic-blocks-263974f3b38881e180ffd87de4f3c670","public_url":null,"request_id":"73a86466-48e1-4410-827e-af417f69d9d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 73a86466-48e1-4410-827e-af417f69d9d4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:37:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"247d68e7-8f28-403b-98af-ddeee16646f9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 247d68e7-8f28-403b-98af-ddeee16646f9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e1-80ff-d87de4f3c670/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"617f3a34-c119-4602-bd2c-f5003d7bbfc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 617f3a34-c119-4602-bd2c-f5003d7bbfc7
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"My
      new page\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"My
      new page\"}}],\"color\":\"default\",\"is_toggleable\":false}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Heading
      2\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Heading
      2\"}}],\"color\":\"blue\",\"is_toggleable\":false}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a paragraph\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a paragraph\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is coloured paragraph\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is coloured paragraph\"}}],\"color\":\"red\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"code\",\"code\":{\"caption\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"print(\\\"Hello
      World\\\")\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"print(\\\"Hello
      World\\\")\"}}],\"language\":\"python\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"code\",\"code\":{\"caption\":[{\"type\":\"text\",\"plain_text\":\"SQL
      Query\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SQL
      Query\"}}],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"SELECT * FROM
      table\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SELECT
      * FROM table\"}}],\"language\":\"sql\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"quote\",\"quote\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a quote\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a quote\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"quote\",\"quote\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a quote with a citation\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a quote with a citation\"}}],\"color\":\"green\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout with color and icon\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout with color and icon\"}}],\"color\":\"purple\",\"children\":[],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a another callout with color and icon\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a another callout with color and icon\"}}],\"color\":\"yellow\",\"children\":[],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F44D\"}}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"First
      item\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Second
      item\"}}],\"color\":\"blue\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"numbered_list_item\",\"numbered_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"First
      item\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"numbered_list_item\",\"numbered_list_item\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Second
      item\"}}],\"color\":\"red\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"to_do\",\"to_do\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"First
      item\"}}],\"color\":\"default\",\"checked\":false,\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"to_do\",\"to_do\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Second
      item\"}}],\"color\":\"default\",\"checked\":true,\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"to_do\",\"to_do\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Third
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Third
      item\"}}],\"color\":\"red\",\"checked\":false,\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"toggle\",\"toggle\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"First
      item\"}}],\"color\":\"default\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"toggle\",\"toggle\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Second
      item\"}}],\"color\":\"purple\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"table_of_contents\",\"table_of_contents\":{\"color\":\"default\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"table_of_contents\",\"table_of_contents\":{\"color\":\"pink\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"breadcrumb\",\"breadcrumb\":{}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"embed\",\"embed\":{\"url\":\"https://www.youtube.com/watch?v=dQw4w9WgXcQ\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"embed\",\"embed\":{\"caption\":[{\"type\":\"text\",\"plain_text\":\"Rick
      Roll\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Rick
      Roll\"}}],\"url\":\"https://www.youtube.com/watch?v=dQw4w9WgXcQ\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"bookmark\",\"bookmark\":{\"url\":\"https://www.youtube.com/watch?v=dQw4w9WgXcQ\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"bookmark\",\"bookmark\":{\"caption\":[{\"type\":\"text\",\"plain_text\":\"Rick
      Roll\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Rick
      Roll\"}}],\"url\":\"https://www.youtube.com/watch?v=dQw4w9WgXcQ\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"equation\",\"equation\":{\"expression\":\"-1
      = \\\\exp(i \\\\pi)\"}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e1-80ff-d87de4f3c670/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"263974f3-b388-8129-af83-c6ecd8ab9dcf\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"263974f3-b388-81e1-80ff-d87de4f3c670\"}[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a child paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a child paragraph"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e9-beca-d71a2fdbef40/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-8138-8e9c-f446c925d772","parent":{"type":"block_id","block_id":"263974f3-b388-81e9-beca-d71a2fdbef40"},"created_time":"2025-09-03T13:37:00.000Z","last_edited_time":"2025-09-03T13:37:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a child paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a child paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"020dc8a0-5e6c-4eb9-a457-e14937c701ea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 020dc8a0-5e6c-4eb9-a457-e14937c701ea
    status_code: 200
version: 1
