interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating basic blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-811d-9f22-cf71f5b35ee4","created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-basic-blocks-38c9ce7b60a4811d9f22cf71f5b35ee4","public_url":null,"request_id":"a651de70-c55d-431b-abbb-87ad8ee22b77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a651de70-c55d-431b-abbb-87ad8ee22b77
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"962c1269-4260-4ada-8c1e-0635836ce526"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 962c1269-4260-4ada-8c1e-0635836ce526
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-811d-9f22-cf71f5b35ee4/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7c86497f-ce8b-4d39-b743-3f7ffdb973d0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7c86497f-ce8b-4d39-b743-3f7ffdb973d0
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"heading_2","heading_2":{"rich_text":[{"type":"text","plain_text":"Heading
      2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      2"}}],"color":"blue","is_toggleable":false}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default"}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is coloured paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is coloured paragraph"}}],"color":"red"}},{"object":"block","type":"code","code":{"caption":[],"rich_text":[{"type":"text","plain_text":"print(\"Hello
      World\")","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"print(\"Hello
      World\")"}}],"language":"python"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-811d-9f22-cf71f5b35ee4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-816d-aa8f-d5568f3c477f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-811d-9f22-cf71f5b35ee4"},"created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"38c9ce7b-60a4-81fa-97e3-e8deb802e3a1","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-811d-9f22-cf71f5b35ee4"},"created_time":"2026-06[...]
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"code\",\"code\":{\"caption\":[{\"type\":\"text\",\"plain_text\":\"SQL
      Query\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SQL
      Query\"}}],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"SELECT * FROM
      table\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"SELECT
      * FROM table\"}}],\"language\":\"sql\"}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a quote\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a quote\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a quote with a citation\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a quote with a citation\"}}],\"color\":\"green\"}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout with color and icon\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout with color and icon\"}}],\"color\":\"purple\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}}]}"
    headers:
      authorization:
      - secret..[...]
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a another callout with color and icon\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a another callout with color and icon\"}}],\"color\":\"yellow\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F44D\"}}},{\"object\":\"block\",\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"First
      item\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Second
      item\"}}],\"color\":\"blue\"}},{\"object\":\"block\",\"type\":\"numbered_list_item\",\"numbered_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"First
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"First
      item\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"numbered_list_item\",\"numbered_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Second
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":fa[...]
- request:
    body: '{"children":[{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      item"}}],"color":"default","checked":false}},{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      item"}}],"color":"default","checked":true}},{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"Third
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Third
      item"}}],"color":"red","checked":false}},{"object":"block","type":"toggle","toggle":{"children":[],"rich_text":[{"type":"text","plain_text":"First
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"First
      item"}}],"color":"default"}},{"object":"block","type":"toggle","toggle":{"children":[],"rich_text":[{"type":"text","plain_text":"Second
      item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Second
      item"}}],"color":"pu[...]
- request:
    body: '{"children":[{"object":"block","type":"divider","divider":{}},{"object":"block","type":"table_of_contents","table_of_contents":{"color":"default"}},{"object":"block","type":"table_of_contents","table_of_contents":{"color":"pink"}},{"object":"block","type":"breadcrumb","breadcrumb":{}},{"object":"block","type":"embed","embed":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-811d-9f22-cf71f5b35ee4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81aa-8d42-cc620021272a","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-811d-9f22-cf71f5b35ee4"},"cr[...]
- request:
    body: '{"children":[{"object":"block","type":"embed","embed":{"caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"bookmark","bookmark":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"bookmark","bookmark":{"caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","type":"equation","equation":{"expression":"-1
      = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-811d-9f22-cf71f5b35ee4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8150-885f-d4e89df117dd","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-811d-9f22-cf71f5b35ee4"},"created_time":"2026-06-27T16[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a child paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a child paragraph"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-812b-9f07-e9d2293b8a70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8142-977d-dcdc91b32049","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-812b-9f07-e9d2293b8a70"},"created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a child paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a child paragraph","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f89c85f8-083f-487f-8ae9-9b1eee00ad20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f89c85f8-083f-487f-8ae9-9b1eee00ad20
    status_code: 200
version: 1
