interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e952044a-3033-4d08-a94b-7c2a02669c0e","created_time":"2024-08-21T15:18:00.000Z","last_edited_time":"2024-08-21T15:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-file-blocks-e952044a30334d08a94b7c2a02669c0e","public_url":null,"request_id":"71d2af48-517a-4c55-8ae7-fd17b8f43ff1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 71d2af48-517a-4c55-8ae7-fd17b8f43ff1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/e952044a-3033-4d08-a94b-7c2a02669c0e/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ed6687e6-21b9-4094-8326-cc82af0ebf49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ed6687e6-21b9-4094-8326-cc82af0ebf49
    status_code: 200
- request:
    body: '{"children": [{"type": "file", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "file": {"type": "external", "name": "robots.txt",
      "external": {"url": "https://www.google.de/robots.txt"}}}, {"type": "image",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "image": {"type": "external", "caption": [{"type": "text", "plain_text": "Path
      on meadow", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Path on meadow"}}], "external": {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "external": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},
      {"type": "pdf", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "pdf": {"type": "external", "external": {"url": "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/e952044a-3033-4d08-a94b-7c2a02669c0e/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"dd47b58b-53c6-4a0e-a6f6-dfea1e9e0db8","parent":{"type":"page_id","page_[...]
- request:
    body: '{"type": "file", "archived": false, "file": {"name": "my_robot", "caption":
      []}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/dd47b58b53c64a0ea6f6dfea1e9e0db8
  response:
    content: '{"object":"block","id":"dd47b58b-53c6-4a0e-a6f6-dfea1e9e0db8","parent":{"type":"page_id","page_id":"e952044a-3033-4d08-a94b-7c2a02669c0e"},"created_time":"2024-08-21T15:18:00.000Z","last_edited_time":"2024-08-21T15:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"my_robot.txt"},"request_id":"3eb3951b-d312-42ed-91da-8344eb2bb0e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3eb3951b-d312-42ed-91da-8344eb2bb0e7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/b447d0b9-2fb4-4acb-a2f1-46b6693c43e2
  response:
    content: '{"object":"block","id":"b447d0b9-2fb4-4acb-a2f1-46b6693c43e2","parent":{"type":"page_id","page_id":"e952044a-3033-4d08-a94b-7c2a02669c0e"},"created_time":"2024-08-21T15:18:00.000Z","last_edited_time":"2024-08-21T15:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"pdf","pdf":{"caption":[{"type":"text","text":{"content":"Dummy
      PDF","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Dummy
      PDF","href":null}],"type":"external","external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}},"request_id":"ea6a1e7e-e7d1-45c6-b39e-9010d8eb0b90"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ea6a1e7e-e7d1-45c6-b39e-9010d8eb0b90
    status_code: 200
version: 1
