interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81e9-b62c-dd357bb45484","created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-277974f3b38881e9b62cdd357bb45484","public_url":null,"request_id":"5f3e8900-0a46-4a94-862e-efa9d00bc85a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5f3e8900-0a46-4a94-862e-efa9d00bc85a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"fb31dd55-aa4c-4f28-87ec-ca801f84fea9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fb31dd55-aa4c-4f28-87ec-ca801f84fea9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81e9-b62c-dd357bb45484/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0474f714-ed19-4f6d-b1b7-ff0b14cf8e2a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0474f714-ed19-4f6d-b1b7-ff0b14cf8e2a
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81e9-b62c-dd357bb45484/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-81e4-b719-d131b34285d0","parent":{"type":"page_id","page_id":"277974f3-b388-81e9-b62c-dd357bb45484"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a0140588-473c-4ad4-b2d9-98c6a3308cd1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0140588-473c-4ad4-b2d9-98c6a3308cd1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81e4-b719-d131b34285d0/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-8114-980a-c4832e41500e","parent":{"type":"block_id","block_id":"277974f3-b388-81e4-b719-d131b34285d0"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25}},{"object":"block","id":"277974f3-b388-815f-8a4a-fc6cc7d86187","parent":{"type":"block_id","block_id":"277974f3-b388-81e4-b719-d131b34285d0"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5aa240aa-0c49-4522-970e-8c334363d094"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5aa240aa-0c49-4522-970e-8c334363d094
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-8114-980a-c4832e41500e/children
  response:
    content: '{"object":[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}],"after":"277974f3-b388-8114-980a-c4832e41500e"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81e4-b719-d131b34285d0/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-815b-b2dc-d02b3998ccea","parent":{"type":"block_id","block_id":"277974f3-b388-81e4-b719-d131b34285d0"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3b3888114980ac4832e41500e
  response:
    content: '{"object":"block","id":"277974f3-b388-8114-980a-c4832e41500e","parent":{"type":"block_id","block_id":"277974f3-b388-81e4-b719-d131b34285d0"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"16eeae8d-27cc-460c-a74a-03bbf2239369"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 16eeae8d-27cc-460c-a74a-03bbf2239369
    status_code: 200
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3b388815f8a4afc6cc7d86187
  response:
    content: '{"object":"block","id":"277974f3-b388-815f-8a4a-fc6cc7d86187","parent":{"type":"block_id","block_id":"277974f3-b388-81e4-b719-d131b34285d0"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:53:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"82048d59-7e9a-4c6c-ab96-a46b4c07e73a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82048d59-7e9a-4c6c-ab96-a46b4c07e73a
    status_code: 200
version: 1
