interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-8137-b4a3-df8b99419b3f","created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-sync-blocks-20e974f3b3888137b4a3df8b99419b3f","public_url":null,"request_id":"bcfb4356-0b40-4bae-bec4-cae73a8bab87"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bcfb4356-0b40-4bae-bec4-cae73a8bab87
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"2cbd38db-4662-46e4-a1e1-69b1ef612901"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2cbd38db-4662-46e4-a1e1-69b1ef612901
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8137-b4a3-df8b99419b3f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"75b0766d-381f-48bf-afcd-06f629e28133"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 75b0766d-381f-48bf-afcd-06f629e28133
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"children": [{"type":
      "paragraph", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a
      synced paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a synced paragraph"}}], "children": [], "color": "default"}}], "synced_from":
      null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8137-b4a3-df8b99419b3f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81bf-b2a3-e26249d839f7","parent":{"type":"page_id","page_id":"20e974f3-b388-8137-b4a3-df8b99419b3f"},"created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"514fb534-b076-4e2b-8a77-22daf641a72b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 514fb534-b076-4e2b-8a77-22daf641a72b
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"synced_from":
      {"type": "block_id", "block_id": "20e974f3-b388-81bf-b2a3-e26249d839f7"}, "children":
      []}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8137-b4a3-df8b99419b3f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-8131-bb58-e01c15abd23c","parent":{"type":"page_id","page_id":"20e974f3-b388-8137-b4a3-df8b99419b3f"},"created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"20e974f3-b388-81bf-b2a3-e26249d839f7"}}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"991c8665-017e-445a-a3c7-01135e385045"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 991c8665-017e-445a-a3c7-01135e385045
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81bf-b2a3-e26249d839f7/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-818d-99e0-d323869fb78c","parent":{"type":"block_id","block_id":"20e974f3-b388-81bf-b2a3-e26249d839f7"},"created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"fa86ef0d-8e14-4222-b5f1-49f919386575"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fa86ef0d-8e14-4222-b5f1-49f919386575
    status_code: 200
version: 1
