interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating column blocks", "text": {"content": "Page for creating column
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e67a3bce-2bb2-4920-8a0c-8ba959010369","created_time":"2024-07-09T14:23:00.000Z","last_edited_time":"2024-07-09T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-column-blocks-e67a3bce2bb249208a0c8ba959010369","public_url":null,"request_id":"77d20f61-5488-4f28-8e25-d340d996fa52"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"39a-6VjS9l9309BItSuewqmrhi0pZM4"
      x-notion-request-id:
      - 77d20f61-5488-4f28-8e25-d340d996fa52
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/e67a3bce-2bb2-4920-8a0c-8ba959010369/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3e53a484-507f-409b-90a8-a1515344857b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-JzM75rthLxme6NXDfXi8VmL95Wk"
      x-notion-request-id:
      - 3e53a484-507f-409b-90a8-a1515344857b
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/e67a3bce-2bb2-4920-8a0c-8ba959010369/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"ead2d649-c129-410e-af98-bf004095eac0","parent":{"type":"page_id","page_id":"e67a3bce-2bb2-4920-8a0c-8ba959010369"},"created_time":"2024-07-09T14:23:00.000Z","last_edited_time":"2024-07-09T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"939ddf06-1f5d-416f-bf4c-43e5ed1096d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"269-54kr8pnzjHM6Svfi5GGkQzA6lZ0"
      x-notion-request-id:
      - 939ddf06-1f5d-416f-bf4c-43e5ed1096d1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/ead2d649-c129-410e-af98-bf004095eac0/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"c1d67cbe-82c1-452f-9cb2-6c3cb498c441","parent":{"type":"block_id","block_id":"ead2d649-c129-410e-af98-bf004095eac0"},"created_time":"2024-07-09T14:23:00.000Z","last_edited_time":"2024-07-09T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"f4c1b757-fd8b-4d49-96dc-995b66b8fab6","parent":{"type":"block_id","block_id":"ead2d649-c129-410e-af98-bf004095eac0"},"created_time":"2024-07-09T14:23:00.000Z","last_edited_time":"2024-07-09T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"43f44c97-e2c2-4275-b8d0-4c846222adbd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"435-NNzqzp3xjj+9dI06eb9MIpysqcs"
      x-notion-request-id:
      - 43f44c97-e2c2-4275-b8d0-4c846222adbd
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "text": {"content": "Column 1"}}], "color":
      "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/c1d67cbe-82c1-452f-9cb2-6c3cb498c441/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"8aa7f491-79a8-4b36-a8bd-5c86181a3f15","parent":{"type":"block_id","block_id":"c1d67cbe-82c1-452f-9cb2-6c3cb498c441"},"created_time":"2024-07-09T14:23:00.000Z","last_edited_time":"2024-07-09T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Column
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Column
      1","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9ffef997-ba14-4e87-95e1-8568bc266c7f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"358-5zX6VG2SytbqrVBxfM8M7WiDS1U"
      x-notion-request-id:
      - 9ffef997-ba14-4e87-95e1-8568bc266c7f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/f4c1b757-fd8b-4d49-96dc-995b66b8fab6/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"74d1f912-3c1a-455f-8f73-8e28a3b60b9a","parent":{"type":"block_id","block_id":"f4c1b757-fd8b-4d49-96dc-995b66b8fab6"},"created_time":"2024-07-09T14:23:00.000Z","last_edited_time":"2024-07-09T14:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Column
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Column
      2","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"93cd46fd-2417-4302-8210-bcfc842f5c8c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"358-hXKPT8mF9K1nZ+p9+mAJUwrYgiM"
      x-notion-request-id:
      - 93cd46fd-2417-4302-8210-bcfc842f5c8c
    status_code: 200
version: 1
