interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for deleting blocks", "text": {"content": "Page for deleting blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"603885bc-6bf5-4a95-a8db-598daa1f35c3","created_time":"2024-07-09T10:28:00.000Z","last_edited_time":"2024-07-09T10:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-603885bc6bf54a95a8db598daa1f35c3","public_url":null,"request_id":"131c552c-286b-499e-ab7a-464904d48a23"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"385-T9aMOK2jJYfa6/+2tAJ4UeYznew"
      x-notion-request-id:
      - 131c552c-286b-499e-ab7a-464904d48a23
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/603885bc-6bf5-4a95-a8db-598daa1f35c3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"65fc1801-39f8-4ca6-a67c-846b20ad61e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-ypC4qtLcGXXzbsHpta3G0mieoM8"
      x-notion-request-id:
      - 65fc1801-39f8-4ca6-a67c-846b20ad61e1
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}, {"type": "paragraph", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "paragraph": {"rich_text":
      [{"type": "text", "plain_text": "This is a paragraph", "text": {"content": "This
      is a paragraph"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/603885bc-6bf5-4a95-a8db-598daa1f35c3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"bca36f1c-fa28-4fea-b893-[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a956a56b-4cd3-4cc4-82a0-b74ba9749044
  response:
    content: '{"object":"block","id":"a956a56b-4cd3-4cc4-82a0-b74ba9749044","parent":{"type":"page_id","page_id":"603885bc-6bf5-4a95-a8db-598daa1f35c3"},"created_time":"2024-07-09T10:28:00.000Z","last_edited_time":"2024-07-09T10:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"color":"default"},"request_id":"41766297-4085-4a6b-9cdf-94576dc3126f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"30e-2v8h7mL4aWP4wUtHkq0DLsUmg4E"
      x-notion-request-id:
      - 41766297-4085-4a6b-9cdf-94576dc3126f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/603885bc-6bf5-4a95-a8db-598daa1f35c3
  response:
    content: '{"object":"page","id":"603885bc-6bf5-4a95-a8db-598daa1f35c3","created_time":"2024-07-09T10:28:00.000Z","last_edited_time":"2024-07-09T10:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-603885bc6bf54a95a8db598daa1f35c3","public_url":null,"request_id":"b00677fa-df62-46e5-8174-6259e3fe7bf0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"385-kTyVaqsM+MC+2HYprpNXDf/0O0I"
      x-notion-request-id:
      - b00677fa-df62-46e5-8174-6259e3fe7bf0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/603885bc-6bf5-4a95-a8db-598daa1f35c3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a4b4f5c3-635b-4f74-abb1-bf772a43e080"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-TN8Kunc43MlaFIETQ3/r7IiE5zo"
      x-notion-request-id:
      - a4b4f5c3-635b-4f74-abb1-bf772a43e080
    status_code: 200
version: 1
