interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8141-9e49-fb445793d170","created_time":"2025-09-22T09:08:00.000Z","last_edited_time":"2025-09-22T09:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-file-blocks-276974f3b38881419e49fb445793d170","public_url":null,"request_id":"9e3a0845-bfca-43db-8f12-f3a141206f37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e3a0845-bfca-43db-8f12-f3a141206f37
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:08:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"29d12422-3a02-4a65-b270-537b3fce436a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29d12422-3a02-4a65-b270-537b3fce436a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8141-9e49-fb445793d170/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c10c6ce3-db43-47e6-bb5e-52cfc0926f99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c10c6ce3-db43-47e6-bb5e-52cfc0926f99
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"file","file":{"type":"external","name":"robots.txt","caption":[],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Path
      on meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Path
      on meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"video","video":{"type":"external","caption":[],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"pdf","pdf":{"type":"external","caption":[],"external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8141-9e49-fb445793d170/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8176-a11a-e50f690728f7","parent":{"type":"page_id[...]
- request:
    body: '{"type":"file","archived":false,"in_trash":false,"file":{"name":"my_robot","caption":[]}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3b3888176a11ae50f690728f7
  response:
    content: '{"object":"block","id":"276974f3-b388-8176-a11a-e50f690728f7","parent":{"type":"page_id","page_id":"276974f3-b388-8141-9e49-fb445793d170"},"created_time":"2025-09-22T09:08:00.000Z","last_edited_time":"2025-09-22T09:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"my_robot.txt"},"request_id":"44ccd1eb-a48d-4cf9-9719-33967781941a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44ccd1eb-a48d-4cf9-9719-33967781941a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-816f-986d-c6ff2fc497d3
  response:
    content: '{"object":"block","id":"276974f3-b388-816f-986d-c6ff2fc497d3","parent":{"type":"page_id","page_id":"276974f3-b388-8141-9e49-fb445793d170"},"created_time":"2025-09-22T09:08:00.000Z","last_edited_time":"2025-09-22T09:08:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"pdf","pdf":{"caption":[{"type":"text","text":{"content":"Dummy
      PDF","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Dummy
      PDF","href":null}],"type":"external","external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}},"request_id":"0fb6d76c-0f57-423b-8d3b-0d344c99d629"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0fb6d76c-0f57-423b-8d3b-0d344c99d629
    status_code: 200
version: 1
