interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for appending blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for appending blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-81fe-88b8-fe98948689b8","created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-10f974f3b38881fe88b8fe98948689b8","public_url":null,"request_id":"114dc522-b249-4258-8d69-6946c36130b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 114dc522-b249-4258-8d69-6946c36130b4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81fe-88b8-fe98948689b8/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6e1e4f5c-90ca-480f-a1e8-be64a7f5e9d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e1e4f5c-90ca-480f-a1e8-be64a7f5e9d6
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81fe-88b8-fe98948689b8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-812d-ae86-f832f53a4a36","parent":{"type":"page_id","page_id":"10f974f3-b388-81fe-88b8-fe98948689b8"},"created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"574e66cb-7514-4f14-9b07-7ec0a8dde83f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 574e66cb-7514-4f14-9b07-7ec0a8dde83f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/10f974f3-b388-81fe-88b8-fe98948689b8
  response:
    content: '{"object":"page","id":"10f974f3-b388-81fe-88b8-fe98948689b8","created_time":"2024-09-28T13:39:00.000Z","last_edited_time":"2024-09-28T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-10f974f3b38881fe88b8fe98948689b8","public_url":null,"request_id":"4587d2b5-63f0-478d-a30d-52eb3cbdd16c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4587d2b5-63f0-478d-a30d-52eb3cbdd16c
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Heading 2"}}], "color": "default", "is_toggleable": false}},
      {"type": "heading_2", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "heading_2": {"rich_text": [{"type": "text", "plain_text":
      "Heading 3", "annotations": {"bol[...]
- request:
    body: '{"children": [{"type": "heading_3", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_3": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2.1", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Heading 2.1"}}], "color": "red", "is_toggleable": true}}],
      "after": "10f974f3-b388-81b4-966b-e8dcf3be8397"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81fe-88b8-fe98948689b8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-81d2-8ac1-fb28ac7aa58e","parent":{"type":"page_id","page_id":"10f974f3-b388-81fe-88b8-fe98948689b8"},"created_time":"202[...]
