interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Page for inserting after and replacing blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8170-940b-d75e4e9f53a1","created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-38c9ce7b60a48170940bd75e4e9f53a1","public_url":null,"request_id":"d3810d18-139c-4b35-84cb-4a9e061ae16a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d3810d18-139c-4b35-84cb-4a9e061ae16a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"3c260529-1fe6-4e3b-bbb3-ab0f66ddf286"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c260529-1fe6-4e3b-bbb3-ab0f66ddf286
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8170-940b-d75e4e9f53a1/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"577a14a2-2d55-459b-bbb3-852fd0f86a92"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 577a14a2-2d55-459b-bbb3-852fd0f86a92
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38c9ce7b-60a4-81b5-b6e9-f15a6673d8ad"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8170-940b-d75e4e9f53a1/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81c4-abdb-d94fd7d171d3","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8170-940b-d75e4e9f53a1"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"38c9ce7b-60a4-81ac-bfe4-c671e6dec36e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8170-940b-d75e4e9f53a1"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38c9ce7b-60a4-81b5-b6e9-f15a6673d8ad"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"844aabfe-f65e-4e80-b0d2-ea026ca0d2ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 844aabfe-f65e-4e80-b0d2-ea026ca0d2ed
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default"}}],"position":{"type":"after_block","after_block":{"id":"38c9ce7b-60a4-81c4-abdb-d94fd7d171d3"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8170-940b-d75e4e9f53a1/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-816e-b33c-da89f30fac18","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8170-940b-d75e4e9f53a1"},"created_tim[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81ac-bfe4-c671e6dec36e
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-81ac-bfe4-c671e6dec36e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8170-940b-d75e4e9f53a1"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38c9ce7b-60a4-81b5-b6e9-f15a6673d8ad"},"request_id":"f8e725e6-de07-485d-855a-4307498937bc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8e725e6-de07-485d-855a-4307498937bc
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"divider","divider":{}},{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}}],"table_width":2,"has_column_header":false,"has_row_header":false}}],"position":{"type":"after_block","after_block":{"id":"38c9ce7b-60a4-816e-b33c-da89f30fac18"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8170-940b-d75e4e9f53a1/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81d8-bf65-e16e32a9ea5e","parent":{"type":"page_id","page_[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8183-b344-c5a31b1d069c/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-815b-8ec7-cb297f7139f5","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-8183-b344-c5a31b1d069c"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"38c9ce7b-60a4-8182-9f6d-f2d31f8b0433","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-8183-b344-c5a31b1d069c"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"08e20d46-0f92-4399-93c9-b2f9135573a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 08e20d46-0f92-4399-93c9-b2f9135573a8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8183-b344-c5a31b1d069c
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8183-b344-c5a31b1d069c","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8170-940b-d75e4e9f53a1"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"c51a6122-300d-47df-a590-e2f62883736e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c51a6122-300d-47df-a590-e2f62883736e
    status_code: 200
version: 1
