interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Test Local Remote User Mention Block CMP", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Test Local Remote User Mention Block CMP"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2b3974f3-b388-81d1-a1db-c82b0e2e0635","created_time":"2025-11-22T21:38:00.000Z","last_edited_time":"2025-11-22T21:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Local Remote User Mention Block CMP","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Local Remote User Mention Block CMP","href":null}]}},"url":"https://www.notion.so/Test-Local-Remote-User-Mention-Block-CMP-2b3974f3b38881d1a1dbc82b0e2e0635","public_url":null,"request_id":"bd92be98-0774-45bc-8001-06d00313e29d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bd92be98-0774-45bc-8001-06d00313e29d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-11-22T21:38:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"27e95046-d432-4d87-8e47-0efd014c5647"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27e95046-d432-4d87-8e47-0efd014c5647
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-81d1-a1db-c82b0e2e0635/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e9897de4-2cd1-4837-8f28-b4f8b394de31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9897de4-2cd1-4837-8f28-b4f8b394de31
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","plain_text":"@b10cb6df-12ef-44d3-88ad-250168f66322","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"user","user":{"id":"b10cb6df-12ef-44d3-88ad-250168f66322","object":"user"}}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-81d1-a1db-c82b0e2e0635/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"2b3974f3-b388-81ab-9d15-dc47814f0c13","parent":{"type":"page_id","page_id":"2b3974f3-b388-81d1-a1db-c82b0e2e0635"},"created_time":"2025-11-22T21:38:00.000Z","last_edited_time":"2025-11-22T21:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Florian
      Wilhelm","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1f6c252e-6cee-4366-8f33-14fe9e8f68ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f6c252e-6cee-4366-8f33-14fe9e8f68ce
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","plain_text":"Page
      5f505199-b292-4713-920b-61d813bf72a3","href":"https://www.notion.so/5f505199-b292-4713-920b-61d813bf72a3","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"page","page":{"id":"5f505199-b292-4713-920b-61d813bf72a3"}}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-8180-a3b9-caf7db207385/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"2b3974f3-b388-8132-8958-e32d227c5724","parent":{"type":"page_id","page_id":"2b3974f3-b388-8180-a3b9-caf7db207385"},"created_time":"2025-11-22T21:38:00.000Z","last_edited_time":"2025-11-22T21:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"page","page":{"id":"5f505199-b292-4713-920b-61d813bf72a3"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":"https://www.notion.so/5f505199b2924713920b61d813bf72a3"}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ab5006ce-69b4-4f1c-a216-cafe22864233"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab5006ce-69b4-4f1c-a216-cafe22864233
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-8132-8958-e32d227c5724/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"25ed61be-f7a9-49ac-9342-40a1b1e047a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 25ed61be-f7a9-49ac-9342-40a1b1e047a2
    status_code: 200
version: 1
