interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8115-8e5c-ea9bdac21b98","created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-38c9ce7b60a481158e5cea9bdac21b98","public_url":null,"request_id":"87b8163c-8a49-4ab1-8386-8073d02cbd23"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87b8163c-8a49-4ab1-8386-8073d02cbd23
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"295107bc-8db5-4c4a-9b5e-ae051bd82b46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 295107bc-8db5-4c4a-9b5e-ae051bd82b46
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8115-8e5c-ea9bdac21b98/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"13a62707-53a3-44a7-9e6a-9b386c303ba4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 13a62707-53a3-44a7-9e6a-9b386c303ba4
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8115-8e5c-ea9bdac21b98/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81f3-a758-ee899fa59358","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8115-8e5c-ea9bdac21b98"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"44d5f076-a189-49d0-ace6-c5a509cbc720"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44d5f076-a189-49d0-ace6-c5a509cbc720
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f3-a758-ee899fa59358/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8175-aee4-e135ba14075a","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81f3-a758-ee899fa59358"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25}},{"object":"block","id":"38c9ce7b-60a4-815c-82a0-ea69b57beb92","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81f3-a758-ee899fa59358"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e1d7d51c-2e00-4709-a52e-390502cb86da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e1d7d51c-2e00-4709-a52e-390502cb86da
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8175-aee4-e135ba14075a/children
  response:
    content: '{"object":"list","result[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column","column":{"children":[]}}],"position":{"type":"after_block","after_block":{"id":"38c9ce7b-60a4-8175-aee4-e135ba14075a"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f3-a758-ee899fa59358/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81c2-aa00-ca3b12a41fa9","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81f3-a758-ee899fa59358"},"created_t[...]
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b60a48175aee4e135ba14075a
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8175-aee4-e135ba14075a","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81f3-a758-ee899fa59358"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"2638bccc-d1d5-499c-91a1-d9180981ec72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2638bccc-d1d5-499c-91a1-d9180981ec72
    status_code: 200
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b60a4815c82a0ea69b57beb92
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-815c-82a0-ea69b57beb92","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81f3-a758-ee899fa59358"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"08a2da57-1467-4c99-9cc0-2f10410c6d0f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 08a2da57-1467-4c99-9cc0-2f10410c6d0f
    status_code: 200
version: 1
