interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "text": {"content": "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0b6120c0-8b44-41c8-9695-83dc8f590e63","created_time":"2024-06-30T16:56:00.000Z","last_edited_time":"2024-06-30T16:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-0b6120c08b4441c8969583dc8f590e63","public_url":null,"request_id":"6da826c6-41bd-48f2-bae1-2c0d20101f0b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"373-VvME6idh8E8cy/NptstyT1pBLAw"
      x-notion-request-id:
      - 6da826c6-41bd-48f2-bae1-2c0d20101f0b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/0b6120c0-8b44-41c8-9695-83dc8f590e63/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"51628714-7742-4a9a-b82b-087d7cdf70e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-4ZvYIr3PDo6jOpplqqs02XaTjPM"
      x-notion-request-id:
      - 51628714-7742-4a9a-b82b-087d7cdf70e6
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0b6120c0-8b44-41c8-9695-83dc8f590e63/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"c911887e-c9c1-42a2-86f9-3c9bc931e438","parent":{"type":"page_id","page_id":"0b6120c0-8b44-41c8-9695-83dc8f590e63"},"created_time":"2024-06-30T16:56:00.000Z","last_edited_time":"2024-06-30T16:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c4f5e7c5-5e2c-4348-a5b6-4de08878d9a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-XzGYGHo8/AbNxAm9ik1aS6aotK0"
      x-notion-request-id:
      - c4f5e7c5-5e2c-4348-a5b6-4de08878d9a0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/0b6120c0-8b44-41c8-9695-83dc8f590e63
  response:
    content: '{"object":"page","id":"0b6120c0-8b44-41c8-9695-83dc8f590e63","created_time":"2024-06-30T16:56:00.000Z","last_edited_time":"2024-06-30T16:56:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-0b6120c08b4441c8969583dc8f590e63","public_url":null,"request_id":"ad109ece-7523-413a-b950-cf1da60ab59a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"373-2Gx9dlZ/kb4JBO3Xo7z1K2+ddlQ"
      x-notion-request-id:
      - ad109ece-7523-413a-b950-cf1da60ab59a
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2", "text": {"content": "Heading 2"}}], "color":
      "default", "is_toggleable": false}}, {"type": "heading_2", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_2": {"rich_text":
      [{"type": "text", "plain_text": "Heading 3", "text": {"content": "Heading 3"}}],
      "color": "default", "is_toggleable": false}}, {"type": "heading_2", "object":
      "block", "has_children": false, "i[...]
- request:
    body: '{"children": [{"type": "heading_3", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_3": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2.1", "text": {"content": "Heading 2.1"}}], "color":
      "default", "is_toggleable": false}}], "after": "829e8d72-2d8d-4b8a-9790-1b3051ae3dcc"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0b6120c0-8b44-41c8-9695-83dc8f590e63/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"61834c99-08ad-4d29-bd7e-5462dd96b93e","parent":{"type":"page_id","page_id":"0b6120c0-8b44-41c8-9695-83dc8f590e63"},"created_time":"202[...]
