interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"28160ef9-4d8d-443f-8b9c-97f506f4d519","created_time":"2024-08-21T17:16:00.000Z","last_edited_time":"2024-08-21T17:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-28160ef94d8d443f8b9c97f506f4d519","public_url":null,"request_id":"65e04afa-3c1a-4458-b355-e0c64c5d69e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 65e04afa-3c1a-4458-b355-e0c64c5d69e2
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "28160ef9-4d8d-443f-8b9c-97f506f4d519"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d6f646cd-23b2-435d-940f-5ec1e66b317c","cover":null,"icon":null,"created_time":"2024-08-21T17:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-21T17:16:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"uPBm","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"28160ef9-4d8d-443f-8b9c-97f506f4d519"},"url":"https://www.notion.so/d6f646cd23b2435d940f5ec1e66b317c","public_url":null,"archived":false,"in_trash":false,"request_id":"1ec6dad3-ac9c-4a3e-84e0-a06dc3ccfc85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ec6dad3-ac9c-4a3e-84e0-a06dc3ccfc85
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/28160ef9-4d8d-443f-8b9c-97f506f4d519/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"ed0dbebc-ee53-40a3-aece-7671529141c1","parent":{"type":"page_id","page_id":"28160ef9-4d8d-443f-8b9c-97f506f4d519"},"created_time":"2024-08-21T17:16:00.000Z","last_edited_time":"2024-08-21T17:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"d6f646cd-23b2-435d-940f-5ec1e66b317c","parent":{"type":"page_id","page_id":"28160ef9-4d8d-443f-8b9c-97f506f4d519"},"created_time":"2024-08-21T17:16:00.000Z","last_edited_time":"2024-08-21T17:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6bcba9cc-b404-4c9b-baa8-f02e03e60cfd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6bcba9cc-b404-4c9b-baa8-f02e03e60cfd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/28160ef9-4d8d-443f-8b9c-97f506f4d519
  response:
    content: '{"object":"page","id":"28160ef9-4d8d-443f-8b9c-97f506f4d519","created_time":"2024-08-21T17:16:00.000Z","last_edited_time":"2024-08-21T17:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-28160ef94d8d443f8b9c97f506f4d519","public_url":null,"request_id":"5a45a3e5-78e3-462f-ba10-ee7e16693fd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a45a3e5-78e3-462f-ba10-ee7e16693fd0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d6f646cd-23b2-435d-940f-5ec1e66b317c
  response:
    content: '{"object":"block","id":"d6f646cd-23b2-435d-940f-5ec1e66b317c","parent":{"type":"page_id","page_id":"28160ef9-4d8d-443f-8b9c-97f506f4d519"},"created_time":"2024-08-21T17:16:00.000Z","last_edited_time":"2024-08-21T17:16:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"7071372e-9396-4ae1-b3dc-1de9f0652811"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7071372e-9396-4ae1-b3dc-1de9f0652811
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/28160ef9-4d8d-443f-8b9c-97f506f4d519/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"568240ea-8212-49fa-b589-3288fea7bd45"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 568240ea-8212-49fa-b589-3288fea7bd45
    status_code: 200
version: 1
