interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Page for inserting after and replacing
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-8135-9b45-e7e8c6d5b00d","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-10f974f3b38881359b45e7e8c6d5b00d","public_url":null,"request_id":"25ee9500-5401-468f-8f2a-1698f6900c89"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 25ee9500-5401-468f-8f2a-1698f6900c89
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8135-9b45-e7e8c6d5b00d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2eed7bd7-6852-4326-b94c-c8191c9abe92"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2eed7bd7-6852-4326-b94c-c8191c9abe92
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "link_to_page", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "link_to_page": {"type": "page_id", "page_id": "10f974f3-b388-8187-abdc-d556d63d1c48"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8135-9b45-e7e8c6d5b00d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8192-85a1-e83b7599107f","parent":{"type":"page_id","page_id":"10f974f3-b388-8135-9b45-[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a paragraph"}}], "children":
      [], "color": "default"}}], "after": "10f974f3-b388-8192-85a1-e83b7599107f"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8135-9b45-e7e8c6d5b00d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8192-ab2e-ec454afa65d6","parent":{"type":"page_id","page_id":"10f974f3-b388-8135-9b45-e7e8c6d5b00d"},"created_time":"202[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-817d-88c5-e879e1010119
  response:
    content: '{"object":"block","id":"10f974f3-b388-817d-88c5-e879e1010119","parent":{"type":"page_id","page_id":"10f974f3-b388-8135-9b45-e7e8c6d5b00d"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"10f974f3-b388-8187-abdc-d556d63d1c48"},"request_id":"f89af138-a3a7-4f07-9ba1-98a73221a720"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f89af138-a3a7-4f07-9ba1-98a73221a720
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/10f974f3-b388-8135-9b45-e7e8c6d5b00d
  response:
    content: '{"object":"page","id":"10f974f3-b388-8135-9b45-e7e8c6d5b00d","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-10f974f3b38881359b45e7e8c6d5b00d","public_url":null,"request_id":"46db82de-c1b9-4918-97ac-a88e0b15560f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 46db82de-c1b9-4918-97ac-a88e0b15560f
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      false, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}}]}}],
      "after": "10f974f3-b388-8192-ab2e-ec454afa65d6"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8135-9b45-e7e8c6d5b00d/children
  response:
    content: '{"object":"l[...]
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "divider": {}}], "after": "10f974f3-b388-8192-ab2e-ec454afa65d6"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8135-9b45-e7e8c6d5b00d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8101-ba41-ef9893b2621c","parent":{"type":"page_id","page_id":"10f974f3-b388-8135-9b45-e7e8c6d5b00d"},"cre[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-814e-81cd-e0784178e5dc/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-81d3-8961-c8f4fc60a06a","parent":{"type":"block_id","block_id":"10f974f3-b388-814e-81cd-e0784178e5dc"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"10f974f3-b388-81ed-97a7-e299bd66878c","parent":{"type":"block_id","block_id":"10f974f3-b388-814e-81cd-e0784178e5dc"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e37cf2a1-b250-444e-8b7d-ad75c7adf2cd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e37cf2a1-b250-444e-8b7d-ad75c7adf2cd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-814e-81cd-e0784178e5dc
  response:
    content: '{"object":"block","id":"10f974f3-b388-814e-81cd-e0784178e5dc","parent":{"type":"page_id","page_id":"10f974f3-b388-8135-9b45-e7e8c6d5b00d"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"18450f3a-690a-4d05-9ca7-1a529c08195d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 18450f3a-690a-4d05-9ca7-1a529c08195d
    status_code: 200
version: 1
