interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"257974f3-b388-8123-8920-faa56a0b9f36","created_time":"2025-08-22T07:02:00.000Z","last_edited_time":"2025-08-22T07:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-column-blocks-257974f3b38881238920faa56a0b9f36","public_url":null,"request_id":"b7b1eba6-96e5-43a0-81a4-ecfbba65e404"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b7b1eba6-96e5-43a0-81a4-ecfbba65e404
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-22T07:02:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"59fe8f49-b15a-446c-ac39-c0a05f4cccd3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 59fe8f49-b15a-446c-ac39-c0a05f4cccd3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/257974f3-b388-8123-8920-faa56a0b9f36/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"55783d12-b6b2-4464-aa05-a886e174c064"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 55783d12-b6b2-4464-aa05-a886e174c064
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/257974f3-b388-8123-8920-faa56a0b9f36/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"257974f3-b388-81e4-9511-ddc1e22d9545","parent":{"type":"page_id","page_id":"257974f3-b388-8123-8920-faa56a0b9f36"},"created_time":"2025-08-22T07:02:00.000Z","last_edited_time":"2025-08-22T07:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f5b7beaf-81c9-435a-9ca0-deff841950d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f5b7beaf-81c9-435a-9ca0-deff841950d4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/257974f3-b388-81e4-9511-ddc1e22d9545/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"257974f3-b388-8106-bd69-e8a10662a433","parent":{"type":"block_id","block_id":"257974f3-b388-81e4-9511-ddc1e22d9545"},"created_time":"2025-08-22T07:02:00.000Z","last_edited_time":"2025-08-22T07:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"257974f3-b388-81ae-96c9-d3a8ef2726b0","parent":{"type":"block_id","block_id":"257974f3-b388-81e4-9511-ddc1e22d9545"},"created_time":"2025-08-22T07:02:00.000Z","last_edited_time":"2025-08-22T07:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2fc80994-7e55-4992-99d0-de227e704c0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2fc80994-7e55-4992-99d0-de227e704c0a
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Column
      1"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/257974f3-b388-8106-bd69-e8a10662a433/children
  response:
    co[...]
[...]
