interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for appending blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for appending blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"aa465097-c218-416b-b06e-8b1560a9b28c","created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-aa465097c218416bb06e8b1560a9b28c","public_url":null,"request_id":"7ef42d39-6497-417c-95b5-9f7fea12a9d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ef42d39-6497-417c-95b5-9f7fea12a9d7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/aa465097-c218-416b-b06e-8b1560a9b28c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6546b514-a417-466d-92a2-662809081cb5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6546b514-a417-466d-92a2-662809081cb5
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/aa465097-c218-416b-b06e-8b1560a9b28c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"0f2e82a8-0931-4a7c-8587-0a93f34d4e2c","parent":{"type":"page_id","page_id":"aa465097-c218-416b-b06e-8b1560a9b28c"},"created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e92d44c5-53c4-446f-8807-79268bd164e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e92d44c5-53c4-446f-8807-79268bd164e8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/aa465097-c218-416b-b06e-8b1560a9b28c
  response:
    content: '{"object":"page","id":"aa465097-c218-416b-b06e-8b1560a9b28c","created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-aa465097c218416bb06e8b1560a9b28c","public_url":null,"request_id":"9886a2fa-cd14-4d43-b8ba-c1a1799cd7e5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9886a2fa-cd14-4d43-b8ba-c1a1799cd7e5
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Heading 2"}}], "color": "default", "is_toggleable": false}},
      {"type": "heading_2", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "heading_2": {"rich_text": [{"type": "text", "plain_text":
      "Heading 3", "annotations": {"bol[...]
- request:
    body: '{"children": [{"type": "heading_3", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_3": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2.1", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Heading 2.1"}}], "color": "red", "is_toggleable": true}}],
      "after": "06d8b449-a5b4-4b09-8ebc-ecbdcdc6b978"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/aa465097-c218-416b-b06e-8b1560a9b28c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"0462d329-cb7f-4f17-a51d-79a28a4792e4","parent":{"type":"page_id","page_id":"aa465097-c218-416b-b06e-8b1560a9b28c"},"created_time":"202[...]
