interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81a6-8fbc-ff0c45625b08","created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-file-blocks-158974f3b38881a68fbcff0c45625b08","public_url":null,"request_id":"e76aadc7-8df3-4045-8192-f4f21d54f1a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e76aadc7-8df3-4045-8192-f4f21d54f1a1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"c00c5075-1757-4ad6-932b-158ba3394bb4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c00c5075-1757-4ad6-932b-158ba3394bb4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81a6-8fbc-ff0c45625b08/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e5533273-1833-4b65-bd76-ccb75fa6270e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e5533273-1833-4b65-bd76-ccb75fa6270e
    status_code: 200
- request:
    body: '{"children": [{"type": "file", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "file": {"type": "external", "name": "robots.txt",
      "external": {"url": "https://www.google.de/robots.txt"}}}, {"type": "image",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "image": {"type": "external", "caption": [{"type": "text", "plain_text": "Path
      on meadow", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Path on meadow"}}], "external": {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "external": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},
      {"type": "pdf", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "pdf": {"type": "external", "external": {"url": "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81a6-8fbc-ff0c45625b08/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-8153-a204-f5d7128eb0f9","parent":{"type":"page_id","page_[...]
- request:
    body: '{"type": "file", "archived": false, "file": {"name": "my_robot", "caption":
      []}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3b3888153a204f5d7128eb0f9
  response:
    content: '{"object":"block","id":"158974f3-b388-8153-a204-f5d7128eb0f9","parent":{"type":"page_id","page_id":"158974f3-b388-81a6-8fbc-ff0c45625b08"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"my_robot.txt"},"request_id":"5cc13163-64d2-4b5b-a7f6-dfb891682770"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5cc13163-64d2-4b5b-a7f6-dfb891682770
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8107-a8b7-c7fd898ee6f9
  response:
    content: '{"object":"block","id":"158974f3-b388-8107-a8b7-c7fd898ee6f9","parent":{"type":"page_id","page_id":"158974f3-b388-81a6-8fbc-ff0c45625b08"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"pdf","pdf":{"caption":[{"type":"text","text":{"content":"Dummy
      PDF","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Dummy
      PDF","href":null}],"type":"external","external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}},"request_id":"58b28a60-4994-46b9-bd18-29c8ecf37b3a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 58b28a60-4994-46b9-bd18-29c8ecf37b3a
    status_code: 200
version: 1
