interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying table blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-81a9-9e3b-e63415cc7a26","created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-21b974f3b38881a99e3be63415cc7a26","public_url":null,"request_id":"bf0e99f8-67fa-4ca9-8b58-898053c289c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf0e99f8-67fa-4ca9-8b58-898053c289c6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"a99980b4-4277-4354-8027-f4c1768cb926"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a99980b4-4277-4354-8027-f4c1768cb926
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81a9-9e3b-e63415cc7a26/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a1cefe7d-2fe5-42bc-abf8-1d1a5a8ebe2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a1cefe7d-2fe5-42bc-abf8-1d1a5a8ebe2c
    status_code: 200
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 3, "has_column_header":
      true, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[{"type": "text", "plain_text": "Cell 0, 0", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Cell 0, 0"}}], [{"type": "text",
      "plain_text": "Cell 0, 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Cell 0, 1"}}], [{"type": "text", "plain_text": "Cell 0, 2", "anno[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-811f-8a9a-e3742fcb08d7/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-81f0-9c89-e8c81304953d","parent":{"type":"block_id","block_id":"21b974f3-b388-811f-8a9a-e3742fcb08d7"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      0, 0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough[...]
- request:
    body: '{"children": [{"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[{"type":
      "text", "plain_text": "New Cell 1, 0", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "New Cell 1, 0"}}], [{"type": "text", "plain_text": "New
      Cell 1, 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "New Cell 1, 1"}}], [{"type": "text", "plain_text": "New Cell 1, 2", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "New Cell 1, 2"}}]]}}],
      "after": "21b974f3-b388-81f0-9c89-e8c81304953d"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-811f-8a9a-e3742fcb08d7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-81a6-94fb-c9a2df976652","parent":{"type":"block_id","block_id":"21b974f3-b388-811f-8a9a-e3742fcb08d7"},"created_time":"2[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8116-9382-ee3bb782ca7c
  response:
    content: '{"object":"block","id":"21b974f3-b388-8116-9382-ee3bb782ca7c","parent":{"type":"block_id","block_id":"21b974f3-b388-811f-8a9a-e3742fcb08d7"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/21b974f3-b388-81a9-9e3b-e63415cc7a26
  response:
    content: '{"object":"page","id":"21b974f3-b388-81a9-9e3b-e63415cc7a26","created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-21b974f3b38881a99e3be63415cc7a26","public_url":null,"request_id":"a23335a6-1f25-4766-a6dd-325cfdf9ddc1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a23335a6-1f25-4766-a6dd-325cfdf9ddc1
    status_code: 200
version: 1
