interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for testing max nesting level", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for testing max nesting level"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-811a-b069-c8d048f69941","created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max nesting level","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max nesting level","href":null}]}},"url":"https://www.notion.so/Page-for-testing-max-nesting-level-38c9ce7b60a4811ab069c8d048f69941","public_url":null,"archived":false,"request_id":"bf11245d-8e61-4d89-8ee8-da27ef6f6fbb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf11245d-8e61-4d89-8ee8-da27ef6f6fbb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"16b2d7a0-e939-455c-a23a-f64fc094d349"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 16b2d7a0-e939-455c-a23a-f64fc094d349
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Intro","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Intro"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-811a-b069-c8d048f69941/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81fa-b682-db23e79039b5","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-811a-b069-c8d048f69941"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Intro","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Intro","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7e35955b-220d-4861-92ed-148c591f71b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e35955b-220d-4861-92ed-148c591f71b3
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Point
      0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Point
      0"}}],"color":"default"}},{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Point
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Point
      1"}}],"[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Nested
      Point 5","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Nested
      Point 5"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8178-abaa-fe0f69dcaadd/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81e9-9df5-d94211b9da9c","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-8178-abaa-fe0f69dcaadd"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"Nested
      Point 5","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Nested
      Point 5","href":null}],"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7ff113b3-dd65-47dc-93a4-e077bef0249f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ff113b3-dd65-47dc-93a4-e077bef0249f
    status_code: 200
[...]
