interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8123-81ee-df548fe98d7e","created_time":"2026-06-24T18:52:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-creating-child-blocks-3899ce7b60a4812381eedf548fe98d7e","public_url":null,"archived":false,"request_id":"5a373563-ce0c-4c52-9cae-789827d47750"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a373563-ce0c-4c52-9cae-789827d47750
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"75f008bb-e04c-4a30-b13e-647fe155b924"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 75f008bb-e04c-4a30-b13e-647fe155b924
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3899ce7b-60a4-8123-81ee-df548fe98d7e"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0d3a1102-bebc-43a6-b3ef-a5779ff82589","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8123-81ee-df548fe98d7e"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:52:11.875+00:00","last_edited_time":"2026-06-24T18:52:11.875+00:00","data_sources":[{"id":"c9e1fbf9-89bf-4afe-97af-378f892daa31","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/0d3a1102bebc43a6b3efa5779ff82589","public_url":null,"archived":false,"request_id":"44b2c000-7917-44e9-a02c-fe50fbd058da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44b2c000-7917-44e9-a02c-fe50fbd058da
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c9e1fbf9-89bf-4afe-97af-378f892daa31
  response:
    content: '{"object":"data_source","id":"c9e1fbf9-89bf-4afe-97af-378f892daa31","cover":null,"icon":null,"created_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:52:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"0d3a1102-bebc-43a6-b3ef-a5779ff82589"},"database_parent":{"type":"page_id","page_id":"3899ce7b-60a4-8123-81ee-df548fe98d7e"},"url":"https://app.notion.com/p/0d3a1102bebc43a6b3efa5779ff82589","public_url":null,"in_trash":false,"archived":false,"request_id":"833b19de-d3c7-4aa6-96ee-08b32034c902"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 833b19de-d3c7-4aa6-96ee-08b32034c902
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8123-81ee-df548fe98d7e/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8189-8264-f087cbc2534d","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8123-81ee-df548fe98d7e"},"created_time":"2026-06-24T18:52:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"},"archived":false},{"object":"block","id":"0d3a1102-bebc-43a6-b3ef-a5779ff82589","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8123-81ee-df548fe98d7e"},"created_time":"2026-06-24T18:52:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6c6c3611-a4df-4b87-9d26-58fe51dd850f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c6c3611-a4df-4b87-9d26-58fe51dd850f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/0d3a1102-bebc-43a6-b3ef-a5779ff82589
  response:
    content: '{"object":"database","id":"0d3a1102-bebc-43a6-b3ef-a5779ff82589","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-8123-81ee-df548fe98d7e"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T18:52:11.875+00:00","last_edited_time":"2026-06-24T18:52:11.875+00:00","data_sources":[{"id":"c9e1fbf9-89bf-4afe-97af-378f892daa31","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/0d3a1102bebc43a6b3efa5779ff82589","public_url":null,"archived":false,"request_id":"e52face7-9e76-4aa9-bb65-4e6abfe0a8c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e52face7-9e76-4aa9-bb65-4e6abfe0a8c4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0d3a1102-bebc-43a6-b3ef-a5779ff82589
  response:
    content: '{"object":"block","id":"0d3a1102-bebc-43a6-b3ef-a5779ff82589","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8123-81ee-df548fe98d7e"},"created_time":"2026-06-24T18:52:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"a0e930f2-eb20-4968-a232-4196bd3ef5f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a0e930f2-eb20-4968-a232-4196bd3ef5f3
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8123-81ee-df548fe98d7e/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d4ef950e-f3e8-4a6f-82c9-36c10c77a697"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d4ef950e-f3e8-4a6f-82c9-36c10c77a697
    status_code: 200
version: 1
