interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying basic blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-81e7-8d02-ce6f9ceb1617","created_time":"2025-06-10T17:44:00.000Z","last_edited_time":"2025-06-10T17:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-20e974f3b38881e78d02ce6f9ceb1617","public_url":null,"request_id":"cba5e873-4b61-4411-a009-2078ae345df8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cba5e873-4b61-4411-a009-2078ae345df8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:44:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"727709df-1da8-4daf-aaf7-f1bd7c65d528"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 727709df-1da8-4daf-aaf7-f1bd7c65d528
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81e7-8d02-ce6f9ceb1617/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4e8600db-426c-4d21-99e2-1e4938f77d2f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4e8600db-426c-4d21-99e2-1e4938f77d2f
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "children": [], "color": "red"}}, {"type":
      "code", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "code": {"rich_text": [{"type": "text", "plain_text": "print(\"Hello
      World\")", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "print(\"Hello World\")"}}], "caption": [], "language": "python"}}, {"type":
      "heading_1", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "heading_1": {"rich_text": [{"type": "text", "plain_text": "My new page",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "My new page"}}],
      "color": "default", "is_toggleable": true}}, {"type": "callout", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "callout": {"rich_text":
      [{"type": "text", "plain_text": "This is a callout", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a callout"}}], "children":
      [], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color": "default"}},
      {"type": "to_do", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Checked
      item", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Checked item"}}], "checked": true, "children": [], "color": "default"}}, {"type":
      "embed", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type":
      "bookmark", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "equation", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81e7-8d02-ce6f9ceb1617/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"20e974f3-b388-81fb-905b-f7668144d7a2\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"20e974f3-b388-81e7-8d02-ce6f9ceb1617\"},\"created_[...]
- request:
    body: '{"type": "paragraph", "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "color": "pink"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATC[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a nested paragraph", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a nested paragraph"}}],
      "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81cd-952e-e66b0ffe65c4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-8121-b2e8-ec97fee885dc","parent":{"type":"block_id","block_id":"20e974f3-b388-81cd-952e-e66b0ffe65c4"},"created_time":"2025-06-10T17:44:00.000Z","last_edited_time":"2025-06-10T17:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a nested paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3fbbc1f1-55ed-4ebf-8c62-0f2c2504a0f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3fbbc1f1-55ed-4ebf-8c62-0f2c2504a0f0
    status_code: 200
[...]
- request:
    body: '{"embed": {"url": "https://notion.so", "caption": []}, "type": "embed",
      "archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3b3888190b422e2bbd5ae9e88
  response:
    content: '{"object":"block","id":"20e974f3-b388-8190-b422-e2bbd5ae9e88","parent":{"type":"page_id","page_id":"20e974f3-b388-81e7-8d02-ce6f9ceb1617"},"created_time":"2025-06-10T17:44:00.000Z","last_edited_time":"2025-06-10T17:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://notion.so"},"request_id":"c5ab2eea-f89e-4ca5-9e76-677fce6cacd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c5ab2eea-f89e-4ca5-9e76-677fce6cacd0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-813c-979e-cff88c857b48
  response:
    content: '{"object":"block","id":"20e974f3-b388-813c-979e-cff88c857b48","parent":{"type":"page_id","page_id":"20e974f3-b388-81e7-8d02-ce6f9ceb1617"},"created_time":"2025-06-10T17:44:00.000Z","last_edited_time":"2025-06-10T17:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello
      World\")","href":null}],"language":"javascript"},"request_id":"a8acc2b9-8bac-4e41-bb86-c2fb9375f3bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8acc2b9-8bac-4e41-bb86-c2fb9375f3bf
    status_code: 200
version: 1
