interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-808a-8f5b-dfad56f3326c/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"20e974f3-b388-80a4-bfaa-fd2184252152\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"172974f3-b388-808a-8f5b-dfad56f3326c\"},\"created_time\":\"2025-06-10T17:35:00.000Z\",\"last_edited_time\":\"2025-06-10T17:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      1\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      1\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"20e974f3-b388-807e-9c0e-f385b2c34a0d\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"172974f3-b388-808a-8f5b-dfad56f3326c\"},\"created_time\":\"2025-06-10T17:35:00.000Z\",\"last_edited_time\":\"2025-06-10T17:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"heading_2\",\"heading_2\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      2\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      2\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"20e974f3-b388-8021-92ae-f77c9729cfa2\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"172974f3-b388-808a-8f5b-dfad56f3326c\"},\"created_time\":\"2025-06-10T17:35:00.000Z\",\"last_edited_time\":\"2025-06-10T17:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"heading_3\",\"heading_3\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Headline
      3\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Headline
      3\",\"href\":null}],\"is_toggleable\":false,\"color\":\"default\"}},{\"object\":\"block\",\"id\":\"20e974f3-b388-803d-8082-fdd6644d1b66\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"172974f3-b388-808a-8f5b-dfad56f3326c\"},\"created_time\":\"2025-06-10T17:35:00.000Z\",\"last_edited_time\":\"2025-06-10T17:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":false,\"archived\":false,\"in_trash\":false,\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"id\":\"20e974f3-b388-80f8-a8ab-dfa1f837c47e\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"172974f3-b388-808a-8f5b-dfad56f3326c\"},\"created_time\":\"2025-06-10T17:35:00.000Z\",\"last_edited_time\":\"2025-06-10T17:35:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"has_children\":true,\"archived\":false,\"in_trash\":false,\"type\":[...]
