interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-81e0-9704-d40d8f1be1cc","created_time":"2025-09-03T13:39:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-263974f3b38881e09704d40d8f1be1cc","public_url":null,"request_id":"6dfde9cb-ac2d-424f-8983-5ea93b7419c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6dfde9cb-ac2d-424f-8983-5ea93b7419c6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"1dfae6b7-b744-4539-b9a8-952f455b8a6e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1dfae6b7-b744-4539-b9a8-952f455b8a6e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e0-9704-d40d8f1be1cc/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"abbc2327-dfdc-498f-a05f-0c295be66dca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - abbc2327-dfdc-498f-a05f-0c295be66dca
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e0-9704-d40d8f1be1cc/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-81e1-87e4-f6ede327dca2","parent":{"type":"page_id","page_id":"263974f3-b388-81e0-9704-d40d8f1be1cc"},"created_time":"2025-09-03T13:39:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0f5a522f-c764-4869-8dc2-cdb0029c98ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0f5a522f-c764-4869-8dc2-cdb0029c98ac
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e1-87e4-f6ede327dca2/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-81bd-8d1c-e849f51b1dd7","parent":{"type":"block_id","block_id":"263974f3-b388-81e1-87e4-f6ede327dca2"},"created_time":"2025-09-03T13:39:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"263974f3-b388-8140-adf8-c7cdc7896bfe","parent":{"type":"block_id","block_id":"263974f3-b388-81e1-87e4-f6ede327dca2"},"created_time":"2025-09-03T13:39:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"32f1c0a4-f4dc-4aa4-84bf-2c0f27619df3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 32f1c0a4-f4dc-4aa4-84bf-2c0f27619df3
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81bd-8d1c-e849f51b1dd7/children
  response:
    content: '{"object":[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81bd-8d1c-e849f51b1dd7
  response:
    content: '{"object":"block","id":"263974f3-b388-81bd-8d1c-e849f51b1dd7","parent":{"type":"block_id","block_id":"263974f3-b388-81e1-87e4-f6ede327dca2"},"created_time":"2025-09-03T13:39:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"column","column":{},"request_id":"e154515f-e4ee-41e8-a58b-0a98f5993f44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e154515f-e4ee-41e8-a58b-0a98f5993f44
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}],"after":"263974f3-b388-8140-adf8-c7cdc7896bfe"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e1-87e4-f6ede327dca2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-8108-98ec-f26d885fa342","parent":{"type":"block_id","block_id":"263974f3-b388-81e1-87e4-f6ede327dca2"},"created_time":"2025-09-03T13:39:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f3adf82f-71f4-4ff3-8221-5a6c3bbd8146"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f3adf82f-71f4-4ff3-8221-5a6c3bbd8146
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81e0-9704-d40d8f1be1cc/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-81e1-87e4-f6ede327dca2","parent":{"type":"page_id","page_id":"263974f3-b388-81e0-9704-d40d8f1be1cc"},"created_time":"2025-09-03T13:39:00.000Z","last_edited_time":"2025-09-03T13:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"fcfb9b73-6376-4eb8-bc23-4addccd67e97"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fcfb9b73-6376-4eb8-bc23-4addccd67e97
    status_code: 200
version: 1
