interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "text": {"content": "Page for creating child
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"50aafe0a-bf74-4871-b097-eb32fdf37dca","created_time":"2024-07-05T23:11:00.000Z","last_edited_time":"2024-07-05T23:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-50aafe0abf744871b097eb32fdf37dca","public_url":null,"request_id":"7712cfcc-cdce-4fe3-90ad-f2a991c321a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"397-dNlK2lfWU32WuS2Czflh1qfAa0I"
      x-notion-request-id:
      - 7712cfcc-cdce-4fe3-90ad-f2a991c321a7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/50aafe0a-bf74-4871-b097-eb32fdf37dca/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"60262caf-93ec-4db6-a51d-9279404c2acd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-zicFKWhRoEWbbB2nSEphX+JOxg0"
      x-notion-request-id:
      - 60262caf-93ec-4db6-a51d-9279404c2acd
    status_code: 200
version: 1
