interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-81ac-8f0d-f081e9fa95f3","created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-file-blocks-38a9ce7b60a481ac8f0df081e9fa95f3","public_url":null,"archived":false,"request_id":"a4665f94-b07b-4626-9220-cdbf74603bdf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4665f94-b07b-4626-9220-cdbf74603bdf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"4b01dd54-5fc1-4465-aaaa-afb40a963359"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4b01dd54-5fc1-4465-aaaa-afb40a963359
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81ac-8f0d-f081e9fa95f3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"888e7e2f-19ef-49de-ac78-7a55201b38da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 888e7e2f-19ef-49de-ac78-7a55201b38da
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"file","file":{"type":"external","name":"robots.txt","caption":[],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Path
      on meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Path
      on meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","type":"video","video":{"type":"external","caption":[],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","type":"pdf","pdf":{"type":"external","caption":[],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81ac-8f0d-f081e9fa95f3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8101-9ab5-f715404e8cbd","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81ac-8f0d-f081e9fa95f3"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"robots.txt"},"archived":false},{"object":"block","id":"38a9ce7b-60a4-81d3-b667-e9a630348c2a","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81ac-8f0d-f081e9fa95f3"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"u[...]
- request:
    body: '{"type":"file","file":{"name":"my_robot","caption":[]}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b60a481019ab5f715404e8cbd
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-8101-9ab5-f715404e8cbd","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81ac-8f0d-f081e9fa95f3"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"my_robot.txt"},"archived":false,"request_id":"930ae74f-f666-43ee-aa93-5fca91def983"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 930ae74f-f666-43ee-aa93-5fca91def983
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8180-b27e-dc9450f27514
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-8180-b27e-dc9450f27514","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81ac-8f0d-f081e9fa95f3"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"pdf","pdf":{"caption":[{"type":"text","text":{"content":"Dummy
      PDF","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Dummy
      PDF","href":null}],"type":"external","external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}},"archived":false,"request_id":"e846fbd8-4ef8-4b09-bea4-1472f2788f88"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e846fbd8-4ef8-4b09-bea4-1472f2788f88
    status_code: 200
version: 1
