interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Page for inserting after and replacing blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81bb-81ef-caea1a53cfe2","created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-25e974f3b38881bb81efcaea1a53cfe2","public_url":null,"request_id":"a63923fd-172f-4533-9816-511173da03f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a63923fd-172f-4533-9816-511173da03f8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"0a5354d6-7f70-448f-8bbe-36511908a033"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0a5354d6-7f70-448f-8bbe-36511908a033
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81bb-81ef-caea1a53cfe2/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2ac2541d-21a9-455c-a661-0e2df5aa041b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2ac2541d-21a9-455c-a661-0e2df5aa041b
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"25e974f3-b388-81d1-9fac-d64182f32a68"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81bb-81ef-caea1a53cfe2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-8145-a1ba-d59522c3fbb8","parent":{"type":"page_id","page_id":"25e974f3-b388-81bb-81ef-caea[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default","children":[]}}],"after":"25e974f3-b388-8145-a1ba-d59522c3fbb8"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81bb-81ef-caea1a53cfe2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-816c-9091-c67b447ee591","parent":{"type":"page_id","page_id":"25e974f3-b388-81bb-81ef-caea1a53cfe2"},"created_time":"2025[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81de-8a41-d6244ef2bcbc
  response:
    content: '{"object":"block","id":"25e974f3-b388-81de-8a41-d6244ef2bcbc","parent":{"type":"page_id","page_id":"25e974f3-b388-81bb-81ef-caea1a53cfe2"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"25e974f3-b388-81d1-9fac-d64182f32a68"},"request_id":"bb77043f-ebdc-492d-b8f5-d1e7095e6eee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bb77043f-ebdc-492d-b8f5-d1e7095e6eee
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":true,"in_trash":false,"archived":false,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false,"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[],[]]}}]}}],"after":"25e974f3-b388-816c-9091-c67b447ee591"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81bb-81ef-caea1a53cfe2/children
  response:
    content: '{"object":"list","results":[{"object":"blo[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"divider","divider":{}}],"after":"25e974f3-b388-816c-9091-c67b447ee591"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81bb-81ef-caea1a53cfe2/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-8183-80e2-f30d6001f5e4","parent":{"type":"page_id","page_id":"25e974f3-b388-81bb-81ef-caea1a53cfe2"},"create[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81e0-b099-e14344f1432d/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-8183-8c9a-c425c329e795","parent":{"type":"block_id","block_id":"25e974f3-b388-81e0-b099-e14344f1432d"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"25e974f3-b388-81c6-b560-fbde7c8651f9","parent":{"type":"block_id","block_id":"25e974f3-b388-81e0-b099-e14344f1432d"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"21e14434-1e63-41f7-aa8b-e052ed40c4b2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 21e14434-1e63-41f7-aa8b-e052ed40c4b2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81e0-b099-e14344f1432d
  response:
    content: '{"object":"block","id":"25e974f3-b388-81e0-b099-e14344f1432d","parent":{"type":"page_id","page_id":"25e974f3-b388-81bb-81ef-caea1a53cfe2"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:19:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"fd37c35d-213f-4163-bd8e-00e1ca8c34b8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd37c35d-213f-4163-bd8e-00e1ca8c34b8
    status_code: 200
version: 1
