interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating table blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81d6-9905-ceadf3f9a011","created_time":"2025-09-23T09:51:00.000Z","last_edited_time":"2025-09-23T09:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-table-blocks-277974f3b38881d69905ceadf3f9a011","public_url":null,"request_id":"71abac01-af12-48e7-b37f-1206914dda41"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 71abac01-af12-48e7-b37f-1206914dda41
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:51:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"2e268641-3c60-4662-880a-60a85bcfafd9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2e268641-3c60-4662-880a-60a85bcfafd9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81d6-9905-ceadf3f9a011/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a57872d2-0170-4a37-8072-97156244eb51"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a57872d2-0170-4a37-8072-97156244eb51
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":true,"in_trash":false,"archived":false,"type":"table","table":{"table_width":2,"has_column_header":true,"has_row_header":false,"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[],[]]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81d6-9905-ceadf3f9a011/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-8134-ac66-f182041ad8b3","parent":{"type":"page_id","page_id":"277974f3-b388-81d6-9905-ceadf3f9a011"},"created_time":"2025-09-23T09:51:00.000Z","last_edited_time":"2025-09-23T09:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":true,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"81c726df-9e47-419a-b745-88c31521c338"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 81c726df-9e47-419a-b745-88c31521c338
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-8134-ac66-f182041ad8b3/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-81a1-8cae-f59883593259","parent":{"type":"block_id","block_id":"277974f3-b388-8134-ac66-f182041ad8b3"},"created_time":"2025-09-23T09:51:00.000Z","last_edited_time":"2025-09-23T09:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"277974f3-b388-81ce-9531-ca56e484b55f","parent":{"type":"block_id","block_id":"277974f3-b3[...]
- request:
    body: '{"type":"table_row","archived":false,"in_trash":false,"table_row":{"cells":[[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],[{"type":"text","plain_text":"Column 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      2"}}]]}}'
    headers:
      authorization:
      - [...]
[...]
