interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying table blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-8185-b973-e305fe4c0d2a","created_time":"2025-09-03T13:40:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-263974f3b3888185b973e305fe4c0d2a","public_url":null,"request_id":"82494422-4880-4fe6-a9e6-31822ed85a56"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82494422-4880-4fe6-a9e6-31822ed85a56
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"3e50b3b3-e327-4d63-88f7-61f8dea076db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3e50b3b3-e327-4d63-88f7-61f8dea076db
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/263974f3-b388-8185-b973-e305fe4c0d2a/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3b183024-94cd-442f-89fd-09fb828b4e41"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3b183024-94cd-442f-89fd-09fb828b4e41
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":true,"in_trash":false,"archived":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false,"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      0, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 0"}}],[{"type":"text","plain_text":"Cell 0, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 1"}}],[{"type":"text","plain_text":"Cell 0, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81d6-987a-f1d6b4408e8a/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-81b5-8524-d85c76b303e3","parent":{"type":"block_id","block_id":"263974f3-b388-81d6-987a-f1d6b4408e8a"},"created_time":"2025-09-03T13:40:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      0, 0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"New
      Cell 1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 0"}}],[{"type":"text","plain_text":"New Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 1"}}],[{"type":"text","plain_text":"New Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 2"}}]]}}],"after":"263974f3-b388-81b5-8524-d85c76b303e3"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81d6-987a-f1d6b4408e8a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-8144-8562-ed62f802d0a1","parent":{"type":"block_id","block_id":"263974f3-b388-81d6-987a-f1d6b4408e8a"},"created_time":"20[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/263974f3-b388-817e-95b6-f6965d5589a8
  response:
    content: '{"object":"block","id":"263974f3-b388-817e-95b6-f6965d5589a8","parent":{"type":"block_id","block_id":"263974f3-b388-81d6-987a-f1d6b4408e8a"},"created_time":"2025-09-03T13:40:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/263974f3-b388-8185-b973-e305fe4c0d2a
  response:
    content: '{"object":"page","id":"263974f3-b388-8185-b973-e305fe4c0d2a","created_time":"2025-09-03T13:40:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-263974f3b3888185b973e305fe4c0d2a","public_url":null,"request_id":"82e9c3d9-5a76-4de0-8384-4ea1dd2747b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82e9c3d9-5a76-4de0-8384-4ea1dd2747b1
    status_code: 200
version: 1
