interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Compare Online and Offline Created Blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Compare Online and Offline Created Blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81aa-89c7-dae04ffe893f","created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Compare
      Online and Offline Created Blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Compare
      Online and Offline Created Blocks","href":null}]}},"url":"https://app.notion.com/p/Compare-Online-and-Offline-Created-Blocks-3899ce7b60a481aa89c7dae04ffe893f","public_url":null,"archived":false,"request_id":"1294dbe3-9620-49d7-a264-bb8dee0768ea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1294dbe3-9620-49d7-a264-bb8dee0768ea
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"07682d99-d64e-4fbb-aa93-707d0502c587"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 07682d99-d64e-4fbb-aa93-707d0502c587
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81aa-89c7-dae04ffe893f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a4963d0f-a5fa-4abe-b60c-c2131d665f11"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4963d0f-a5fa-4abe-b60c-c2131d665f11
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"table_of_contents","table_of_contents":{"color":"pink"}},{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"Heading
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      1"}}],"color":"default","is_toggleable":true}},{"object":"block","type":"heading_2","heading_2":{"rich_text":[{"type":"text","plain_text":"Heading
      2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      2"}}],"color":"default","is_toggleable":true}},{"object":"block","type":"heading_3","heading_3":{"rich_text":[{"type":"text","plain_text":"Heading
      3","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      3"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Paragraph"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81aa-89c7-dae04ffe893f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-815b-b45f-f78c5c1c78a2","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81aa-89c7-dae04ffe893f"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_of_contents","table_of_contents":{"color":"pink"},"archived":false},{"object":"block","id":"3899ce7b-60a4-81bf-a759-da71d4770a7d","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81aa-89c7-dae04ffe893f"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children"[...]
- request:
    body: '{"children":[{"object":"block","type":"code","code":{"caption":[],"rich_text":[{"type":"text","plain_text":"print(\"Hello
      World!\")","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"print(\"Hello
      World!\")"}}],"language":"python"}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Code
      block above","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Code
      block above"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81bf-a759-da71d4770a7d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81c1-8db6-d5afe65e099f","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81bf-a759-da71d4770a7d"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World!\")","link":null},"annotations":{"bold":false,"italic":false,"strikethro[...]
- request:
    body: '{"children":[{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Ultimate
      Notion Logo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Ultimate
      Notion Logo"}}],"external":{"url":"https://github.com/ultimate-notion/ultimate-notion/blob/main/docs/assets/images/favicon.png"}}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Image
      above","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Image
      above"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-[...]
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Bulleted
      List Item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Bulleted
      List Item\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Callout\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Callout\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Callout
      without icon\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Callout
      without icon\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Quote\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Quote\"}}],\"color\":\"default\"}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81aa-89c7-dae04ffe893f/children
  respo[...]
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Nested
      numbered list item in bulleted list item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Nested
      numbered list item in bulleted list item"}}],"color":"default"}},{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Header
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Header
      1"}}],[{"type":"text","plain_text":"Header 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Header
      2"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1"}}],[{"type":"text","plain_text":"Cell 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      2"}}]]}}],"table_width":2,"has_column_header":false,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81b1-bb5c-ed88072b1357/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81de-8489-d815c91ddb1e","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81b1-bb5c-ed88072b1357"},"created_time":"2026-06-24T16:37:00.000Z","last_[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"ToDo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"ToDo"}}],"color":"default","checked":true}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Numbered
      List Item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Numbered
      List Item"}}],"color":"default"}},{"object":"block","type":"equation","equation":{"expression":"E=mc^2"}},{"object":"block","type":"breadcrumb","breadcrumb":{}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Google
      link","href":"https://www.google.com/","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      link","link":{"type":"url","url":"https://www.google.com/"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
    [...]
[...]
