interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for appending blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for appending blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-817a-b5c7-ecf4393af018","created_time":"2025-01-05T14:10:00.000Z","last_edited_time":"2025-01-05T14:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-172974f3b388817ab5c7ecf4393af018","public_url":null,"request_id":"7397c224-9a60-4233-ac22-742d9029d08b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7397c224-9a60-4233-ac22-742d9029d08b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:10:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"19b884f0-777f-4095-b4db-4641c9bf3aaa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 19b884f0-777f-4095-b4db-4641c9bf3aaa
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-817a-b5c7-ecf4393af018/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8f0b2121-effb-4f67-9c65-577c700b9af1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f0b2121-effb-4f67-9c65-577c700b9af1
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-817a-b5c7-ecf4393af018/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81af-b4a0-c7433077db72","parent":{"type":"page_id","page_id":"172974f3-b388-817a-b5c7-ecf4393af018"},"created_time":"2025-01-05T14:10:00.000Z","last_edited_time":"2025-01-05T14:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9bf71a00-37bf-4503-8aa2-780401113ae2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9bf71a00-37bf-4503-8aa2-780401113ae2
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Heading 2"}}], "color": "default", "is_toggleable": false}},
      {"type": "heading_2", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "heading_2": {"rich_text": [{"type": "text", "plain_text":
      "Heading 3", "annotations": {"bol[...]
- request:
    body: '{"children": [{"type": "heading_3", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_3": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2.1", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Heading 2.1"}}], "color": "red", "is_toggleable": true}}],
      "after": "172974f3-b388-81bc-96c9-d1e577954838"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-817a-b5c7-ecf4393af018/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8122-98c6-e9a0381e8822","parent":{"type":"page_id","page_id":"172974f3-b388-817a-b5c7-ecf4393af018"},"created_time":"202[...]
