interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "text": {"content": "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"34e15fef-ff3f-48fa-9ea8-fac156d65c14","created_time":"2024-06-26T15:31:00.000Z","last_edited_time":"2024-06-26T15:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-34e15fefff3f48fa9ea8fac156d65c14","public_url":null,"request_id":"84ddcf98-8e68-4161-acdd-8c4c3fb8a953"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"373-1CiCuYmv91+giYbq0IE2beKw7PI"
      x-notion-request-id:
      - 84ddcf98-8e68-4161-acdd-8c4c3fb8a953
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/34e15fef-ff3f-48fa-9ea8-fac156d65c14/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"363d3ed7-c11a-451c-a5bd-6156270b56e7","parent":{"type":"page_id","page_id":"34e15fef-ff3f-48fa-9ea8-fac156d65c14"},"created_time":"2024-06-26T15:31:00.000Z","last_edited_time":"2024-06-26T15:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4b2d7cf3-b73a-441c-9c01-ba07717690f1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-DJYnYcj09jrUoveknTZA6Q59dsE"
      x-notion-request-id:
      - 4b2d7cf3-b73a-441c-9c01-ba07717690f1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/34e15fef-ff3f-48fa-9ea8-fac156d65c14/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"363d3ed7-c11a-451c-a5bd-6156270b56e7","parent":{"type":"page_id","page_id":"34e15fef-ff3f-48fa-9ea8-fac156d65c14"},"created_time":"2024-06-26T15:31:00.000Z","last_edited_time":"2024-06-26T15:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5bcdb4f4-260e-45ff-bb9f-3e12094b7b55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-Q2Tt4y/tY28VmwtZeWj7ZMTHRX8"
      x-notion-request-id:
      - 5bcdb4f4-260e-45ff-bb9f-3e12094b7b55
    status_code: 200
version: 1
