interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81fa-a83e-c443575f9b25","created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://app.notion.com/p/Page-for-modifying-column-blocks-with-width-ratios-3899ce7b60a481faa83ec443575f9b25","public_url":null,"archived":false,"request_id":"52672002-7274-4f90-a512-c57f4680bc4b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52672002-7274-4f90-a512-c57f4680bc4b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"fa2ec4cf-a23e-4e7c-9737-b544b84f495f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fa2ec4cf-a23e-4e7c-9737-b544b84f495f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81fa-a83e-c443575f9b25/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"85c05162-6ac2-40f1-83f6-26026cadbb74"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 85c05162-6ac2-40f1-83f6-26026cadbb74
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81fa-a83e-c443575f9b25/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81b0-8958-c10833488c9b","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81fa-a83e-c443575f9b25"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"62171354-0a52-4328-8a95-f7abb1b7ec73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 62171354-0a52-4328-8a95-f7abb1b7ec73
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81b0-8958-c10833488c9b/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-812e-8dbc-d2a311e7fccc","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81b0-8958-c10833488c9b"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25},"archived":false},{"object":"block","id":"3899ce7b-60a4-81a9-91c0-c2c95ceef296","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81b0-8958-c10833488c9b"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f824d234-5888-493f-8fa2-ec0b5ef27212"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f824d234-5888-493f-8fa2-ec0b5ef27212
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-812e-8dbc-d2a311e7fccc/children
  response:
    content: '{"object":"list","result[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column","column":{"children":[]}}],"after":"3899ce7b-60a4-812e-8dbc-d2a311e7fccc"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81b0-8958-c10833488c9b/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-816e-8142-d935399a82f3","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81b0-8958-c10833488c9b"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b60a4812e8dbcd2a311e7fccc
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-812e-8dbc-d2a311e7fccc","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81b0-8958-c10833488c9b"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"3ce22d78-6067-4e88-95da-b8174451f639"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ce22d78-6067-4e88-95da-b8174451f639
    status_code: 200
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b60a481a991c0c2c95ceef296
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-81a9-91c0-c2c95ceef296","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81b0-8958-c10833488c9b"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"9c66b632-1a59-458c-8e94-e5ece01f4e44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c66b632-1a59-458c-8e94-e5ece01f4e44
    status_code: 200
version: 1
