interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81f2-bf4b-ef2c03a06f5b","created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://app.notion.com/p/Page-for-modifying-column-blocks-with-width-ratios-3899ce7b60a481f2bf4bef2c03a06f5b","public_url":null,"archived":false,"request_id":"3aa1b87e-062f-4bb2-a586-c652f36034c9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3aa1b87e-062f-4bb2-a586-c652f36034c9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"92d01c2f-3cfb-4d1c-a6fd-98d11f581c5c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 92d01c2f-3cfb-4d1c-a6fd-98d11f581c5c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f2-bf4b-ef2c03a06f5b/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4142500b-59f1-4909-9487-e611b089c658"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4142500b-59f1-4909-9487-e611b089c658
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f2-bf4b-ef2c03a06f5b/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-818f-9e74-fedb2ce59e1e","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f2-bf4b-ef2c03a06f5b"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"46863fae-be0e-4830-9bdd-2894af41bb91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 46863fae-be0e-4830-9bdd-2894af41bb91
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-818f-9e74-fedb2ce59e1e/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81ac-9b32-d0d428f5f240","parent":{"type":"block_id","block_id":"3899ce7b-60a4-818f-9e74-fedb2ce59e1e"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25},"archived":false},{"object":"block","id":"3899ce7b-60a4-8160-a5eb-cde3497db1d3","parent":{"type":"block_id","block_id":"3899ce7b-60a4-818f-9e74-fedb2ce59e1e"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1576a7b2-a31a-4a18-bb37-05a7ca508f9e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1576a7b2-a31a-4a18-bb37-05a7ca508f9e
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ac-9b32-d0d428f5f240/children
  response:
    content: '{"object":"list","result[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column","column":{"children":[]}}],"after":"3899ce7b-60a4-81ac-9b32-d0d428f5f240"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-818f-9e74-fedb2ce59e1e/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-816a-98b5-c1e8c04b6805","parent":{"type":"block_id","block_id":"3899ce7b-60a4-818f-9e74-fedb2ce59e1e"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b60a481ac9b32d0d428f5f240
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-81ac-9b32-d0d428f5f240","parent":{"type":"block_id","block_id":"3899ce7b-60a4-818f-9e74-fedb2ce59e1e"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"3d61ac42-004c-4ec3-b67f-262f74d3e8e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3d61ac42-004c-4ec3-b67f-262f74d3e8e8
    status_code: 200
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b60a48160a5ebcde3497db1d3
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-8160-a5eb-cde3497db1d3","parent":{"type":"block_id","block_id":"3899ce7b-60a4-818f-9e74-fedb2ce59e1e"},"created_time":"2026-06-24T16:36:00.000Z","last_edited_time":"2026-06-24T16:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"e0c89c65-baa8-4e34-9e3a-1ec3f07d6e16"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e0c89c65-baa8-4e34-9e3a-1ec3f07d6e16
    status_code: 200
version: 1
