interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for deleting blocks", "text": {"content": "Page for deleting blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d327d732-15c7-4185-8ca5-22bd4eab026c","created_time":"2024-07-07T14:43:00.000Z","last_edited_time":"2024-07-07T14:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-d327d73215c741858ca522bd4eab026c","public_url":null,"request_id":"cd21cd08-620f-4778-a3ff-642ca59209f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"385-U70N/BQ58tYg1aM0wD/BqLNTY70"
      x-notion-request-id:
      - cd21cd08-620f-4778-a3ff-642ca59209f3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/d327d732-15c7-4185-8ca5-22bd4eab026c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9636de15-28b4-43bf-a3db-5dd9a36c6428"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-Px45vykQz0WOicKvVRFZUKTA5PA"
      x-notion-request-id:
      - 9636de15-28b4-43bf-a3db-5dd9a36c6428
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}, {"type": "paragraph", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "paragraph": {"rich_text":
      [{"type": "text", "plain_text": "This is a paragraph", "text": {"content": "This
      is a paragraph"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/d327d732-15c7-4185-8ca5-22bd4eab026c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"dd7956d3-41cd-4ae6-ba3f-[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/79e1ae08-e6f0-4ddd-9c3d-d98b531ec696
  response:
    content: '{"object":"block","id":"79e1ae08-e6f0-4ddd-9c3d-d98b531ec696","parent":{"type":"page_id","page_id":"d327d732-15c7-4185-8ca5-22bd4eab026c"},"created_time":"2024-07-07T14:43:00.000Z","last_edited_time":"2024-07-07T14:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"color":"default"},"request_id":"933e5fbb-e86b-461e-aee8-9ff18446c881"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"30e-H0fyFCd0Et5A6oPMbZTLjwATVIE"
      x-notion-request-id:
      - 933e5fbb-e86b-461e-aee8-9ff18446c881
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/d327d732-15c7-4185-8ca5-22bd4eab026c
  response:
    content: '{"object":"page","id":"d327d732-15c7-4185-8ca5-22bd4eab026c","created_time":"2024-07-07T14:43:00.000Z","last_edited_time":"2024-07-07T14:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-d327d73215c741858ca522bd4eab026c","public_url":null,"request_id":"bf37126a-bb4f-45e2-afd3-504534b04046"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"385-tA+7/nq8pgKNSShH1ToZTRC3z7U"
      x-notion-request-id:
      - bf37126a-bb4f-45e2-afd3-504534b04046
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/d327d732-15c7-4185-8ca5-22bd4eab026c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"19df764a-9047-46d9-ad23-bc5029642361"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-d2pUZyeIP9bsN92yKIH1+mqcSfk"
      x-notion-request-id:
      - 19df764a-9047-46d9-ad23-bc5029642361
    status_code: 200
version: 1
