interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for deleting blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for deleting blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"89be3603-cc71-4845-bba7-630a4e1f160d","created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-89be3603cc714845bba7630a4e1f160d","public_url":null,"request_id":"1e85263a-e53d-4f5c-bcd9-c8d14a96b8a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e85263a-e53d-4f5c-bcd9-c8d14a96b8a3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/89be3603-cc71-4845-bba7-630a4e1f160d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a4fdbddd-54a2-4686-b4ff-58a0f2dae677"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4fdbddd-54a2-4686-b4ff-58a0f2dae677
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "paragraph", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "paragraph": {"rich_text": [{"type": "text", "plain_text":
      "This is a paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a paragraph"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/89be3603-cc71-[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d587e5a2-03ed-42f9-a5ce-1ab0c0473a2f
  response:
    content: '{"object":"block","id":"d587e5a2-03ed-42f9-a5ce-1ab0c0473a2f","parent":{"type":"page_id","page_id":"89be3603-cc71-4845-bba7-630a4e1f160d"},"created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"color":"default"},"request_id":"415c1fc9-3b3a-4ae2-8e38-a88a40b7ea13"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 415c1fc9-3b3a-4ae2-8e38-a88a40b7ea13
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/89be3603-cc71-4845-bba7-630a4e1f160d
  response:
    content: '{"object":"page","id":"89be3603-cc71-4845-bba7-630a4e1f160d","created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-89be3603cc714845bba7630a4e1f160d","public_url":null,"request_id":"4c58b893-3dd1-4852-a653-4cb8d77d93dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4c58b893-3dd1-4852-a653-4cb8d77d93dc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/89be3603-cc71-4845-bba7-630a4e1f160d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"56655a2b-6c36-46e6-81b9-33f47f6471b7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56655a2b-6c36-46e6-81b9-33f47f6471b7
    status_code: 200
version: 1
