interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying table blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81ca-a76d-c886a2a268bc","created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-38c9ce7b60a481caa76dc886a2a268bc","public_url":null,"archived":false,"request_id":"eb91f1e4-45f2-4525-bc4d-4bafd5aa2a88"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb91f1e4-45f2-4525-bc4d-4bafd5aa2a88
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"58274e8d-631d-4d05-8e8a-687ea41b70aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 58274e8d-631d-4d05-8e8a-687ea41b70aa
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81ca-a76d-c886a2a268bc/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f7e33220-ff90-4f3c-ac7e-2841c45fd50f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f7e33220-ff90-4f3c-ac7e-2841c45fd50f
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      0, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 0"}}],[{"type":"text","plain_text":"Cell 0, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 1"}}],[{"type":"text","plain_text":"Cell 0, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 2"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 0"}}],[{"type":"text","plain_text":"Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 1"}}],[{"type":"text","plain_text":"Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 2"}}]]}}],"table_width":3,"has_column_header":true,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81ca-a76d-c886a2a268bc/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81e2-bd64-fcd8ec1051ee","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81ca-a76d-c886a2a268bc"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0eaa6c2d-c0e9-4ac7-8646-c398e2cbc7a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0eaa6c2d-c0e9-4ac7-8646-c398e2cbc7a5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81e2-bd64-fcd8ec1051ee/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81f2-9f40-e8bc729ecb16","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81e2-bd64-fcd8ec1051ee"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      0, 0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underlin[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"New
      Cell 1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 0"}}],[{"type":"text","plain_text":"New Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 1"}}],[{"type":"text","plain_text":"New Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 2"}}]]}}],"after":"38c9ce7b-60a4-81f2-9f40-e8bc729ecb16"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81e2-bd64-fcd8ec1051ee/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8188-aa43-e922e40d8bf8","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81e2-bd64-fcd8ec1051ee"},"created_time":"20[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8158-b65a-e44097d8e20b
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-8158-b65a-e44097d8e20b","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81e2-bd64-fcd8ec1051ee"},"created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38c9ce7b-60a4-81ca-a76d-c886a2a268bc
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81ca-a76d-c886a2a268bc","created_time":"2026-06-27T04:49:00.000Z","last_edited_time":"2026-06-27T04:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-38c9ce7b60a481caa76dc886a2a268bc","public_url":null,"archived":false,"request_id":"80f76e5b-fa1f-434e-8ba4-b546ba3c2796"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80f76e5b-fa1f-434e-8ba4-b546ba3c2796
    status_code: 200
version: 1
