interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-81e3-9804-ca3ff30bf2cb","created_time":"2025-09-23T09:50:00.000Z","last_edited_time":"2025-09-23T09:50:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-file-blocks-277974f3b38881e39804ca3ff30bf2cb","public_url":null,"request_id":"8830b576-5307-4480-b723-cb3d4862803d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8830b576-5307-4480-b723-cb3d4862803d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:50:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"41256e81-227a-4926-8bef-77fc4d774601"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 41256e81-227a-4926-8bef-77fc4d774601
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81e3-9804-ca3ff30bf2cb/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"19e63f97-ad7e-42a1-838b-b915743c386f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 19e63f97-ad7e-42a1-838b-b915743c386f
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"file","file":{"type":"external","caption":[],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"file","file":{"type":"external","name":"my_file.txt","caption":[{"type":"text","plain_text":"Google
      Robots","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      Robots"}}],"external":{"url":"https://www.google.de/robots.txt"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"image","image":{"type":"external","caption":[],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Meadow","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Meadow"}}],"external":{"url":"https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"video","video":{"type":"external","caption":[],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81e3-9804-ca3ff30bf2cb/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-81c3-b7e5-e717987c051d","parent":{"type":"page_id","page_id"[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"video","video":{"type":"external","caption":[{"type":"text","plain_text":"Rick
      Roll","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Rick
      Roll"}}],"external":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"pdf","pdf":{"type":"external","caption":[],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"pdf","pdf":{"type":"external","caption":[{"type":"text","plain_text":"Dummy
      PDF","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Dummy
      PDF"}}],"external":{"url":"https://www.rd.usda.gov/sites/default/files/pdf-sample_0.pdf"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"audio","audio":{"type":"external","caption":[],"external":{"url":"https://samplelib.com/lib/preview/mp3/sample-3s.mp3"}}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"audio","audio":{"type":"external","caption":[{"type":"text","plain_text":"Sample
      Audio","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Sample
      Audio"}}],"external":{"url":"https://samplelib.com/lib/preview/mp3/sample-3s.mp3"}}}]}'
 [...]
