interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-81ed-969d-f6a18ce4871c","created_time":"2025-01-05T14:28:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-172974f3b38881ed969df6a18ce4871c","public_url":null,"request_id":"34453c96-6341-4d47-a550-cebe5553f382"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 34453c96-6341-4d47-a550-cebe5553f382
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"5846c258-6290-4357-8e32-ac1c9028c075"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5846c258-6290-4357-8e32-ac1c9028c075
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81ed-969d-f6a18ce4871c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6390033b-f2c5-4c89-b04c-99c41fce73b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6390033b-f2c5-4c89-b04c-99c41fce73b3
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81ed-969d-f6a18ce4871c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8148-9718-c007a146b942","parent":{"type":"page_id","page_id":"172974f3-b388-81ed-969d-f6a18ce4871c"},"created_time":"2025-01-05T14:28:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7f7c7e5a-233e-439e-9f77-f5fef8a8eec3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7f7c7e5a-233e-439e-9f77-f5fef8a8eec3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-8148-9718-c007a146b942/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8172-971e-c469d0f5695b","parent":{"type":"block_id","block_id":"172974f3-b388-8148-9718-c007a146b942"},"created_time":"2025-01-05T14:28:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"172974f3-b388-8151-a3d9-ef255f672a9e","parent":{"type":"block_id","block_id":"172974f3-b388-8148-9718-c007a146b942"},"created_time":"2025-01-05T14:28:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a34a1dd8-5bcd-496f-8973-ecd57f90cba4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a34a1dd8-5bcd-496f-8973-ecd57f90cba4
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-8172-971e-c469d0f569[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/172974f3-b388-8172-971e-c469d0f5695b
  response:
    content: '{"object":"block","id":"172974f3-b388-8172-971e-c469d0f5695b","parent":{"type":"block_id","block_id":"172974f3-b388-8148-9718-c007a146b942"},"created_time":"2025-01-05T14:28:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"column","column":{},"request_id":"ef82e135-55d4-4bd1-a764-aa6bb4c192e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ef82e135-55d4-4bd1-a764-aa6bb4c192e1
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "column", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "column": {"children": []}}], "after":
      "172974f3-b388-8151-a3d9-ef255f672a9e"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-8148-9718-c007a146b942/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8165-b2cc-fb3e2b098452","parent":{"type":"block_id","block_id":"172974f3-b388-8148-9718-c007a146b942"},"created_time":"2025-01-05T14:28:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1da3bf9c-d68c-45a4-b595-3dc24eb05493"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1da3bf9c-d68c-45a4-b595-3dc24eb05493
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81ed-969d-f6a18ce4871c/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8148-9718-c007a146b942","parent":{"type":"page_id","page_id":"172974f3-b388-81ed-969d-f6a18ce4871c"},"created_time":"2025-01-05T14:28:00.000Z","last_edited_time":"2025-01-05T14:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"14d2aade-c337-4e7d-b2a7-502105d25a29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 14d2aade-c337-4e7d-b2a7-502105d25a29
    status_code: 200
version: 1
