interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Test Deserialized Block Children", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Test Deserialized Block Children"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81fc-a25e-e413858e7cf8","created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Deserialized Block Children","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Deserialized Block Children","href":null}]}},"url":"https://www.notion.so/Test-Deserialized-Block-Children-38c9ce7b60a481fca25ee413858e7cf8","public_url":null,"archived":false,"request_id":"8ad50d12-3948-42e5-abad-5700968006e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ad50d12-3948-42e5-abad-5700968006e2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"aa415bf6-b02b-4431-aa05-3dc48c956ca9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aa415bf6-b02b-4431-aa05-3dc48c956ca9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81fc-a25e-e413858e7cf8/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"fc1e5f52-a2c0-4626-b04c-06fd4ae41358"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fc1e5f52-a2c0-4626-b04c-06fd4ae41358
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"A","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"A"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81fc-a25e-e413858e7cf8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-815e-8747-ce989c5d0e83","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81fc-a25e-e413858e7cf8"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"A","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"A","href":null}],"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0f534b69-e524-43b8-895a-036fbe231004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0f534b69-e524-43b8-895a-036fbe231004
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"B","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"B"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815e-8747-ce989c5d0e83/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81d4-a4bb-cf9e8966a6bd","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-815e-8747-ce989c5d0e83"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"B","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"B","href":null}],"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a13931e6-9be1-4538-9e4b-5a064a2602f4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a13931e6-9be1-4538-9e4b-5a064a2602f4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81d4-a4bb-cf9e8966a6bd/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"63d5342e-5b48-4b1a-a2ce-60e1f6af5a2a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 63d5342e-5b48-4b1a-a2ce-60e1f6af5a2a
    status_code: 200
version: 1
