interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Page for inserting after and replacing
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81e8-8d83-ca1f067b8ce7","created_time":"2024-12-10T10:40:00.000Z","last_edited_time":"2024-12-10T10:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-158974f3b38881e88d83ca1f067b8ce7","public_url":null,"request_id":"c6d0d7fb-22b3-4ddc-9b95-ae273cebe0a0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c6d0d7fb-22b3-4ddc-9b95-ae273cebe0a0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-12-10T10:40:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"df4c1d4f-a8f5-449d-9c30-1d47dfac0084"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df4c1d4f-a8f5-449d-9c30-1d47dfac0084
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81e8-8d83-ca1f067b8ce7/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8317deab-9fb4-4db6-9f52-c9873c6265b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8317deab-9fb4-4db6-9f52-c9873c6265b9
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "link_to_page", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "link_to_page": {"type": "page_id", "page_id": "158974f3-b388-812a-b188-f33b18a46273"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81e8-8d83-ca1f067b8ce7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-8166-90e9-eede85b934b1","parent":{"type":"page_id","page_id":"158974f3-b388-81e8-8d83-[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a paragraph"}}], "children":
      [], "color": "default"}}], "after": "158974f3-b388-8166-90e9-eede85b934b1"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81e8-8d83-ca1f067b8ce7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-818d-9ab2-ea470176b6c7","parent":{"type":"page_id","page_id":"158974f3-b388-81e8-8d83-ca1f067b8ce7"},"created_time":"202[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8101-9f47-cbda5bbeb94d
  response:
    content: '{"object":"block","id":"158974f3-b388-8101-9f47-cbda5bbeb94d","parent":{"type":"page_id","page_id":"158974f3-b388-81e8-8d83-ca1f067b8ce7"},"created_time":"2024-12-10T10:40:00.000Z","last_edited_time":"2024-12-10T10:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"158974f3-b388-812a-b188-f33b18a46273"},"request_id":"330d7fe6-5dbc-4969-84b3-5295956ad179"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 330d7fe6-5dbc-4969-84b3-5295956ad179
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      false, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}}]}}],
      "after": "158974f3-b388-818d-9ab2-ea470176b6c7"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81e8-8d83-ca1f067b8ce7/children
  response:
    content: '{"object":"l[...]
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "divider": {}}], "after": "158974f3-b388-818d-9ab2-ea470176b6c7"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81e8-8d83-ca1f067b8ce7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-81e9-9265-ecfbbceff743","parent":{"type":"page_id","page_id":"158974f3-b388-81e8-8d83-ca1f067b8ce7"},"cre[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8130-b36b-fce3dc09629a/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-8104-a7c2-d1153da10b7f","parent":{"type":"block_id","block_id":"158974f3-b388-8130-b36b-fce3dc09629a"},"created_time":"2024-12-10T10:40:00.000Z","last_edited_time":"2024-12-10T10:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"158974f3-b388-8173-874e-f276d48c6266","parent":{"type":"block_id","block_id":"158974f3-b388-8130-b36b-fce3dc09629a"},"created_time":"2024-12-10T10:40:00.000Z","last_edited_time":"2024-12-10T10:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f7911972-2ce2-4d4c-b20c-7368b17528c8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f7911972-2ce2-4d4c-b20c-7368b17528c8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8130-b36b-fce3dc09629a
  response:
    content: '{"object":"block","id":"158974f3-b388-8130-b36b-fce3dc09629a","parent":{"type":"page_id","page_id":"158974f3-b388-81e8-8d83-ca1f067b8ce7"},"created_time":"2024-12-10T10:40:00.000Z","last_edited_time":"2024-12-10T10:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"805ad003-04e4-4ea3-9578-508db45c8636"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 805ad003-04e4-4ea3-9578-508db45c8636
    status_code: 200
version: 1
