interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81d8-98af-c8f85b95e61d","created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating column blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-creating-column-blocks-3899ce7b60a481d898afc8f85b95e61d","public_url":null,"archived":false,"request_id":"17ac1588-7138-4d01-85f5-a7208e0c21ef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 17ac1588-7138-4d01-85f5-a7208e0c21ef
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"9b9c2fdc-ea9f-48df-bcba-93de77ae7cca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9b9c2fdc-ea9f-48df-bcba-93de77ae7cca
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81d8-98af-c8f85b95e61d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"35ad3c0d-e6d6-4b94-b30d-5cf53363820a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 35ad3c0d-e6d6-4b94-b30d-5cf53363820a
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[]}},{"object":"block","type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81d8-98af-c8f85b95e61d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8113-add2-c5d789137ea4","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81d8-98af-c8f85b95e61d"},"created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"eeac7007-6b86-4c6c-a924-25ba2a1bc5e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eeac7007-6b86-4c6c-a924-25ba2a1bc5e8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8113-add2-c5d789137ea4/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81cc-aeac-f8a89500a223","parent":{"type":"block_id","block_id":"3899ce7b-60a4-8113-add2-c5d789137ea4"},"created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{},"archived":false},{"object":"block","id":"3899ce7b-60a4-81b0-a189-e4d0df7611c3","parent":{"type":"block_id","block_id":"3899ce7b-60a4-8113-add2-c5d789137ea4"},"created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e475ed90-7ec2-4bbf-bef2-8ac7bcc506a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e475ed90-7ec2-4bbf-bef2-8ac7bcc506a2
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81cc-aeac-f8a89500a223/children
  response:
    content: '{"object":"list","result[...]
[...]
