interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81e2-9376-ebfc9f91054e","created_time":"2026-06-27T16:49:00.000Z","last_edited_time":"2026-06-27T16:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-38c9ce7b60a481e29376ebfc9f91054e","public_url":null,"request_id":"f9fda85b-2276-4610-8f64-da41a235dbbd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f9fda85b-2276-4610-8f64-da41a235dbbd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"88c4b749-4e39-470c-8633-56fb4c99d89a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88c4b749-4e39-470c-8633-56fb4c99d89a
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-81e2-9376-ebfc9f91054e"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"a1c6e501-702b-4ff2-a19d-e309e080d84f","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81e2-9376-ebfc9f91054e"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:49:02.556+00:00","last_edited_time":"2026-06-27T16:49:02.556+00:00","data_sources":[{"id":"ad31590d-7f82-4f47-ae0e-f5b435227b35","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/a1c6e501702b4ff2a19de309e080d84f","public_url":null,"request_id":"00d61e96-2981-45fb-8d25-77eb8e4baa65"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 00d61e96-2981-45fb-8d25-77eb8e4baa65
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/ad31590d-7f82-4f47-ae0e-f5b435227b35
  response:
    content: '{"object":"data_source","id":"ad31590d-7f82-4f47-ae0e-f5b435227b35","cover":null,"icon":null,"created_time":"2026-06-27T16:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:49:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"a1c6e501-702b-4ff2-a19d-e309e080d84f"},"database_parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81e2-9376-ebfc9f91054e"},"url":"https://www.notion.so/a1c6e501702b4ff2a19de309e080d84f","public_url":null,"in_trash":false,"request_id":"4d64c68f-4009-45b3-81bf-bdeec41f1948"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d64c68f-4009-45b3-81bf-bdeec41f1948
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81e2-9376-ebfc9f91054e/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8133-82f3-ec78a7761f3f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81e2-9376-ebfc9f91054e"},"created_time":"2026-06-27T16:49:00.000Z","last_edited_time":"2026-06-27T16:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"a1c6e501-702b-4ff2-a19d-e309e080d84f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81e2-9376-ebfc9f91054e"},"created_time":"2026-06-27T16:49:00.000Z","last_edited_time":"2026-06-27T16:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c9e13a78-5bae-4f4e-93f5-6816d847cd70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c9e13a78-5bae-4f4e-93f5-6816d847cd70
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/databases/a1c6e501-702b-4ff2-a19d-e309e080d84f
  response:
    content: '{"object":"database","id":"a1c6e501-702b-4ff2-a19d-e309e080d84f","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81e2-9376-ebfc9f91054e"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:49:02.556+00:00","last_edited_time":"2026-06-27T16:49:02.556+00:00","data_sources":[{"id":"ad31590d-7f82-4f47-ae0e-f5b435227b35","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/a1c6e501702b4ff2a19de309e080d84f","public_url":null,"request_id":"afb917c9-362e-44da-945e-475054021223"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - afb917c9-362e-44da-945e-475054021223
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a1c6e501-702b-4ff2-a19d-e309e080d84f
  response:
    content: '{"object":"block","id":"a1c6e501-702b-4ff2-a19d-e309e080d84f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81e2-9376-ebfc9f91054e"},"created_time":"2026-06-27T16:49:00.000Z","last_edited_time":"2026-06-27T16:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"request_id":"0a16e526-76e8-452c-8f26-aedbb64ee17b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0a16e526-76e8-452c-8f26-aedbb64ee17b
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81e2-9376-ebfc9f91054e/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"52f46569-aa46-4590-9bdc-9c939d2041a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52f46569-aa46-4590-9bdc-9c939d2041a8
    status_code: 200
version: 1
