interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Test Local Remote User Mention Block CMP", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Test Local Remote User Mention Block CMP"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-818b-9729-f56b61d679ef","created_time":"2026-06-24T18:54:00.000Z","last_edited_time":"2026-06-24T18:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Local Remote User Mention Block CMP","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Local Remote User Mention Block CMP","href":null}]}},"url":"https://app.notion.com/p/Test-Local-Remote-User-Mention-Block-CMP-3899ce7b60a4818b9729f56b61d679ef","public_url":null,"archived":false,"request_id":"aa594a88-a17c-449b-b64c-7117c878a48e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aa594a88-a17c-449b-b64c-7117c878a48e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"3872e315-8fa1-48f4-a2d3-820e85b27f3e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3872e315-8fa1-48f4-a2d3-820e85b27f3e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-818b-9729-f56b61d679ef/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2a83abea-7e78-4f22-b731-7a7a544cc3db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2a83abea-7e78-4f22-b731-7a7a544cc3db
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"@00000000-0000-4000-8000-0000000000fa","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"user","user":{"id":"00000000-0000-4000-8000-0000000000fa","object":"user"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-818b-9729-f56b61d679ef/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-819a-9ea4-e0b0fcea0c4b","parent":{"type":"page_id","page_id":"3899ce7b-60a4-818b-9729-f56b61d679ef"},"created_time":"2026-06-24T18:54:00.000Z","last_edited_time":"2026-06-24T18:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Adam
      Dangoor","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c4dbc195-e2b9-4338-a7b2-97e27747b45b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c4dbc195-e2b9-4338-a7b2-97e27747b45b
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"Page
      00000000-0000-4000-8000-000000000001","href":"https://www.notion.so/00000000-0000-4000-8000-000000000001","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000001"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ec-88f8-f4ead2b7cf17/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-810a-a26c-c069d0e5ed95","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81ec-88f8-f4ead2b7cf17"},"created_time":"2026-06-24T18:54:00.000Z","last_edited_time":"2026-06-24T18:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000001"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":"https://app.notion.com/p/00000000000040008000000000000001"}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"96035603-3505-4b11-b6d4-6727454802ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 96035603-3505-4b11-b6d4-6727454802ae
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/3839ce7b-60a4-8146-a96f-f93140931d35
  response:
    content: '{"object":"database","id":"00000000-0000-4000-8000-00000000000c","title":[{"type":"text","text":{"content":"Task
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      DB","href":null}],"description":[{"type":"text","text":{"content":"My personal
      task list of all the important stuff I have to do","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      personal task list of all the important stuff I have to do","href":null}],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-18T17:51:31.169+00:00","last_edited_time":"2026-06-18T17:51:31.169+00:00","data_sources":[{"id":"3839ce7b-60a4-8148-99ed-000b1e2cf103","name":"Task
      DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/0000000000004000800000000000000c","public_url":null,"archived":false,"request_id":"52a348b4-9a13-4d93-bead-9ca5f2f43c3b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52a348b4-9a13-4d93-bead-9ca5f2f43c3b
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"Database
      00000000-0000-4000-8000-00000000000c","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"database","database":{"id":"00000000-0000-4000-8000-00000000000c"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81bc-9e63-e4bd2503af74/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-814c-a318-ca7f18a708ad","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81bc-9e63-e4bd2503af74"},"created_time":"2026-06-24T18:54:00.000Z","last_edited_time":"2026-06-24T18:54:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"database","database":{"id":"00000000-0000-4000-8000-00000000000c"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      DB","href":"https://app.notion.com/p/0000000000004000800000000000000c"}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0c495746-9a51-4ba1-923a-441a6a95911b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0c495746-9a51-4ba1-923a-441a6a95911b
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-814c-a318-ca7f18a708ad/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"211c7f8e-dcb3-4a18-81f6-d37d8f373626"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 211c7f8e-dcb3-4a18-81f6-d37d8f373626
    status_code: 200
version: 1
