interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for testing max nesting level", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for testing max nesting level"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-8106-baad-ff20bb9170e3","created_time":"2025-09-23T09:54:00.000Z","last_edited_time":"2025-09-23T09:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max nesting level","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max nesting level","href":null}]}},"url":"https://www.notion.so/Page-for-testing-max-nesting-level-277974f3b3888106baadff20bb9170e3","public_url":null,"request_id":"df2d0920-9d79-4956-a287-fd3c98000836"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df2d0920-9d79-4956-a287-fd3c98000836
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:54:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"e8145881-7243-4806-97a7-2864ddee8a0c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e8145881-7243-4806-97a7-2864ddee8a0c
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Intro","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Intro"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-8106-baad-ff20bb9170e3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-8152-b80d-f6d27e27c0f0","parent":{"type":"page_id","page_id":"277974f3-b388-8106-baad-ff20bb9170e3"},"created_time":"2025-09-23T09:54:00.000Z","last_edited_time":"2025-09-23T09:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Intro","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Intro","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"db8d44b0-735e-4940-90f4-0f146e12bd63"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - db8d44b0-735e-4940-90f4-0f146e12bd63
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":true,"in_trash":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","plain_text":"Point
      0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Point
      0"}}],"color":"default","children":[]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","plain_text":"Point
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":fals[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","plain_text":"Nested
      Point 5","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Nested
      Point 5"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81e9-9cea-f6d8de322ac3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-81fd-bfc1-e7a1dfc4cdc1","parent":{"type":"block_id","block_id":"277974f3-b388-81e9-9cea-f6d8de322ac3"},"created_time":"2025-09-23T09:54:00.000Z","last_edited_time":"2025-09-23T09:54:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"Nested
      Point 5","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Nested
      Point 5","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0b7faeaa-8827-403f-a88a-ab4453446d77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b7faeaa-8827-403f-a88a-ab4453446d77
    status_code: 200
[...]
