interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Page for inserting after and replacing
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81f7-9124-f5e6bfe8f077","created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-11f974f3b38881f79124f5e6bfe8f077","public_url":null,"request_id":"cf39b8fd-aaf6-48bc-b24f-16239bf28342"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cf39b8fd-aaf6-48bc-b24f-16239bf28342
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81f7-9124-f5e6bfe8f077/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a3896e83-46c9-4565-a04d-29db981637ab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a3896e83-46c9-4565-a04d-29db981637ab
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "link_to_page", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "link_to_page": {"type": "page_id", "page_id": "11f974f3-b388-81e7-9d4b-ff69a86945e1"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81f7-9124-f5e6bfe8f077/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81f9-82f8-ea9f700b6ac4","parent":{"type":"page_id","page_id":"11f974f3-b388-81f7-9124-[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a paragraph"}}], "children":
      [], "color": "default"}}], "after": "11f974f3-b388-81f9-82f8-ea9f700b6ac4"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81f7-9124-f5e6bfe8f077/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81a5-ac93-f4c94bb5a75f","parent":{"type":"page_id","page_id":"11f974f3-b388-81f7-9124-f5e6bfe8f077"},"created_time":"202[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-813e-a2db-e034d79ac306
  response:
    content: '{"object":"block","id":"11f974f3-b388-813e-a2db-e034d79ac306","parent":{"type":"page_id","page_id":"11f974f3-b388-81f7-9124-f5e6bfe8f077"},"created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"11f974f3-b388-81e7-9d4b-ff69a86945e1"},"request_id":"7881e68f-af25-4aac-bb68-6c8672aadca9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7881e68f-af25-4aac-bb68-6c8672aadca9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-81f7-9124-f5e6bfe8f077
  response:
    content: '{"object":"page","id":"11f974f3-b388-81f7-9124-f5e6bfe8f077","created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-11f974f3b38881f79124f5e6bfe8f077","public_url":null,"request_id":"e3746abe-8cba-4baa-b98d-f999ed8cfb0c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e3746abe-8cba-4baa-b98d-f999ed8cfb0c
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      false, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}}]}}],
      "after": "11f974f3-b388-81a5-ac93-f4c94bb5a75f"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81f7-9124-f5e6bfe8f077/children
  response:
    content: '{"object":"l[...]
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "divider": {}}], "after": "11f974f3-b388-81a5-ac93-f4c94bb5a75f"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81f7-9124-f5e6bfe8f077/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81d2-a75d-e88ef2b9cd4e","parent":{"type":"page_id","page_id":"11f974f3-b388-81f7-9124-f5e6bfe8f077"},"cre[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-815d-b496-fc1e85587509/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81ee-9269-c2c8c1ce404b","parent":{"type":"block_id","block_id":"11f974f3-b388-815d-b496-fc1e85587509"},"created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"11f974f3-b388-8169-9735-e52a856e4d00","parent":{"type":"block_id","block_id":"11f974f3-b388-815d-b496-fc1e85587509"},"created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"50d3ec2c-747d-45a3-a3f5-17a4d396e394"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 50d3ec2c-747d-45a3-a3f5-17a4d396e394
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-815d-b496-fc1e85587509
  response:
    content: '{"object":"block","id":"11f974f3-b388-815d-b496-fc1e85587509","parent":{"type":"page_id","page_id":"11f974f3-b388-81f7-9124-f5e6bfe8f077"},"created_time":"2024-10-14T16:41:00.000Z","last_edited_time":"2024-10-14T16:41:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"43809f61-669c-40d7-83ea-a61b04ec507e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 43809f61-669c-40d7-83ea-a61b04ec507e
    status_code: 200
version: 1
