interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying basic blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-8145-8609-fff68a97a334","created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-158974f3b38881458609fff68a97a334","public_url":null,"request_id":"252b7fc3-973f-47f8-b2e4-dd11e268fafc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 252b7fc3-973f-47f8-b2e4-dd11e268fafc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"636f1dd4-6b79-457a-947e-74b735b42362"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 636f1dd4-6b79-457a-947e-74b735b42362
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8145-8609-fff68a97a334/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"de0c5d26-bf75-4e1b-9843-ca0939dab335"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de0c5d26-bf75-4e1b-9843-ca0939dab335
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "children": [], "color": "red"}}, {"type":
      "code", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "code": {"rich_text": [{"type": "text", "plain_text": "print(\"Hello
      World\")", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "print(\"Hello World\")"}}], "caption": [], "language": "python"}}, {"type":
      "heading_1", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "heading_1": {"rich_text": [{"type": "text", "plain_text": "My new page",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "My new page"}}],
      "color": "default", "is_toggleable": true}}, {"type": "callout", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "callout": {"rich_text":
      [{"type": "text", "plain_text": "This is a callout", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a callout"}}], "children":
      [], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color": "default"}},
      {"type": "to_do", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Checked
      item", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Checked item"}}], "checked": true, "children": [], "color": "default"}}, {"type":
      "embed", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type":
      "bookmark", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "equation", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8145-8609-fff68a97a334/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"158974f3-b388-8147-bb45-fea736429007\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"158974f3-b388-8145-8609-fff68a97a334\"},\"created_[...]
- request:
    body: '{"type": "paragraph", "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "color": "pink"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATC[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a nested paragraph", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a nested paragraph"}}],
      "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81bd-9592-d7012b572c04/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-819f-88ac-db624b1197c9","parent":{"type":"block_id","block_id":"158974f3-b388-81bd-9592-d7012b572c04"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a nested paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3bafda62-5719-4ce8-a12e-137cf6e0e8b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3bafda62-5719-4ce8-a12e-137cf6e0e8b6
    status_code: 200
[...]
- request:
    body: '{"embed": {"url": "https://notion.so", "caption": []}, "type": "embed",
      "archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3b3888199a206d5207c450e66
  response:
    content: '{"object":"block","id":"158974f3-b388-8199-a206-d5207c450e66","parent":{"type":"page_id","page_id":"158974f3-b388-8145-8609-fff68a97a334"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://notion.so"},"request_id":"b4cf319e-0224-4000-a1f7-612b4a5d311f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b4cf319e-0224-4000-a1f7-612b4a5d311f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81df-90ae-c3428146e23f
  response:
    content: '{"object":"block","id":"158974f3-b388-81df-90ae-c3428146e23f","parent":{"type":"page_id","page_id":"158974f3-b388-8145-8609-fff68a97a334"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello
      World\")","href":null}],"language":"javascript"},"request_id":"5d15c502-51d8-4330-bf84-2f6edc36e1cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5d15c502-51d8-4330-bf84-2f6edc36e1cf
    status_code: 200
version: 1
