interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-81cd-9c2b-e13f06517fae","created_time":"2024-12-10T10:38:00.000Z","last_edited_time":"2024-12-10T10:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-158974f3b38881cd9c2be13f06517fae","public_url":null,"request_id":"dbbb4963-c8cd-41ac-9f61-f3a2db1d77ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dbbb4963-c8cd-41ac-9f61-f3a2db1d77ee
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-12-10T10:38:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"115b23ce-4558-41b6-8465-67f5005fd67f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 115b23ce-4558-41b6-8465-67f5005fd67f
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "158974f3-b388-81cd-9c2b-e13f06517fae"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"158974f3-b388-8188-9059-ef88ff3cf93f","cover":null,"icon":null,"created_time":"2024-12-10T10:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-12-10T10:38:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"GmCO","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"158974f3-b388-81cd-9c2b-e13f06517fae"},"url":"https://www.notion.so/158974f3b38881889059ef88ff3cf93f","public_url":null,"archived":false,"in_trash":false,"request_id":"2790746e-9160-4c17-91d2-5b9800385864"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2790746e-9160-4c17-91d2-5b9800385864
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81cd-9c2b-e13f06517fae/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-81d7-8216-e7a91a9af7d9","parent":{"type":"page_id","page_id":"158974f3-b388-81cd-9c2b-e13f06517fae"},"created_time":"2024-12-10T10:38:00.000Z","last_edited_time":"2024-12-10T10:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"158974f3-b388-8188-9059-ef88ff3cf93f","parent":{"type":"page_id","page_id":"158974f3-b388-81cd-9c2b-e13f06517fae"},"created_time":"2024-12-10T10:38:00.000Z","last_edited_time":"2024-12-10T10:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"dfd437f1-d2d4-43e0-86d5-46902c25b886"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dfd437f1-d2d4-43e0-86d5-46902c25b886
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8188-9059-ef88ff3cf93f
  response:
    content: '{"object":"block","id":"158974f3-b388-8188-9059-ef88ff3cf93f","parent":{"type":"page_id","page_id":"158974f3-b388-81cd-9c2b-e13f06517fae"},"created_time":"2024-12-10T10:38:00.000Z","last_edited_time":"2024-12-10T10:38:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"79de7bcc-04df-41b9-ae1a-3ee0247bdb28"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 79de7bcc-04df-41b9-ae1a-3ee0247bdb28
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81cd-9c2b-e13f06517fae/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f31e52a3-2e4e-40c4-a14e-a5ba809ead05"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f31e52a3-2e4e-40c4-a14e-a5ba809ead05
    status_code: 200
version: 1
