interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for offline assembly", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for offline assembly"}}]}}, "children": [{"object": "block", "has_children":
      true, "in_trash": false, "archived": false, "type": "paragraph", "paragraph":
      {"rich_text": [{"type": "text", "plain_text": "This is the first block.", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false}, "text": {"content": "This is the first block."}}], "color":
      "default", "children": [{"object": "block", "has_children": false, "in_trash":
      false, "archived": false, "type": "paragraph", "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a child paragraph.", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "This is a child paragraph."}}], "color": "default",
      "children": []}}]}}, {"object": "block", "has_children": true, "in_trash": false,
      "archived": false, "type": "quote", "quote": {"rich_text": [{"type": "text",
      "plain_text": "This is a quote.", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "This is a quote."}}], "color": "default", "children": [{"object": "block",
      "has_children": false, "in_trash": false, "archived": false, "type": "paragraph",
      "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a child
      paragraph of the quote.", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "This is a child
      paragraph of the quote."}}], "color": "default", "children": []}}]}}, {"object":
      "block", "has_children": true, "in_trash": false, "archived": false, "type":
      "bulleted_list_item", "bulleted_list_item": {"rich_text": [{"type": "text",
      "plain_text": "This is a bullet point.", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "This is a bullet point."}}], "color": "default", "children": [{"object": "block",
      "has_children": false, "in_trash": false, "archived": false, "type": "paragraph",
      "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a child
      paragraph of the bullet point.", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "This is a child paragraph of the bullet point."}}], "color": "default", "children":
      []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25a974f3-b388-8181-89f1-ee7792160210","created_time":"2025-08-25T16:44:00.000Z","last_edited_time":"2025-08-25T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for offline assembly","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for offline assembly","href":null}]}},"url":"https://www.notion.so/Page-for-offline-assembly-25a974f3b388818189f1ee7792160210","public_url":null,"request_id":"6ecce813-5caf-4b25-b298-5ee9d3768484"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ecce813-5caf-4b25-b298-5ee9d3768484
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-25T16:44:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"fe9b34eb-881f-4ce1-a931-af74bcdf9894"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fe9b34eb-881f-4ce1-a931-af74bcdf9894
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25a974f3-b388-8181-89f1-ee7792160210/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25a974f3-b388-810a-a735-c013d1ccdcf3","parent":{"type":"page_id","page_id":"25a974f3-b388-8181-89f1-ee7792160210"},"created_time":"2025-08-25T16:44:00.000Z","last_edited_time":"2025-08-25T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","tex[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25a974f3-b388-810a-a735-c013d1ccdcf3/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25a974f3-b388-813c-94c4-f83c249de59e","parent":{"type":"block_id","block_id":"25a974f3-b388-810a-a735-c013d1ccdcf3"},"created_time":"2025-08-25T16:44:00.000Z","last_edited_time":"2025-08-25T16:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a child paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a child paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6b92588e-c409-4b06-8ac4-a01d2265beb8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b92588e-c409-4b06-8ac4-a01d2265beb8
    status_code: 200
[...]
