interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Test Local Remote User Mention Block CMP", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Test Local Remote User Mention Block CMP"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81a3-a72d-c1c3f5123167","created_time":"2026-06-27T16:51:00.000Z","last_edited_time":"2026-06-27T16:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Local Remote User Mention Block CMP","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Local Remote User Mention Block CMP","href":null}]}},"url":"https://www.notion.so/Test-Local-Remote-User-Mention-Block-CMP-38c9ce7b60a481a3a72dc1c3f5123167","public_url":null,"request_id":"3e7f789a-6be5-4524-9518-a4530c907a5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3e7f789a-6be5-4524-9518-a4530c907a5d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"9b38c46c-b678-45e0-929a-cc473d7841bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9b38c46c-b678-45e0-929a-cc473d7841bf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81a3-a72d-c1c3f5123167/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9a98b244-7752-4409-9c62-72d9ce4bfa4f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a98b244-7752-4409-9c62-72d9ce4bfa4f
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"@00000000-0000-4000-8000-0000000000fa","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"user","user":{"id":"00000000-0000-4000-8000-0000000000fa","object":"user"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81a3-a72d-c1c3f5123167/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81eb-882f-c1f7dabc092c","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81a3-a72d-c1c3f5123167"},"created_time":"2026-06-27T16:51:00.000Z","last_edited_time":"2026-06-27T16:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Adam
      Dangoor","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b11b75eb-701f-49df-b28d-bcf02dd4d936"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b11b75eb-701f-49df-b28d-bcf02dd4d936
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"Page
      00000000-0000-4000-8000-000000000001","href":"https://www.notion.so/00000000-0000-4000-8000-000000000001","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000001"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81c8-a05c-e0cef0c4b399/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-817b-8020-ea001ee52437","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81c8-a05c-e0cef0c4b399"},"created_time":"2026-06-27T16:51:00.000Z","last_edited_time":"2026-06-27T16:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000001"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":"https://www.notion.so/00000000000040008000000000000001"}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"41d26360-f35a-487b-a1dd-58490f42cbf2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 41d26360-f35a-487b-a1dd-58490f42cbf2
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"Database
      00000000-0000-4000-8000-00000000000c","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"database","database":{"id":"00000000-0000-4000-8000-00000000000c"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81e7-9b90-f8d2dd8ab70e/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8161-9b9e-d60d8de7da77","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81e7-9b90-f8d2dd8ab70e"},"created_time":"2026-06-27T16:51:00.000Z","last_edited_time":"2026-06-27T16:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"database","database":{"id":"00000000-0000-4000-8000-00000000000c"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      DB","href":"https://www.notion.so/0000000000004000800000000000000c"}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"27ad970b-471b-4c9f-8c9a-7fd1eb942e70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27ad970b-471b-4c9f-8c9a-7fd1eb942e70
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8161-9b9e-d60d8de7da77/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"88c5363c-22c7-4a07-846e-4ddff6536f2b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88c5363c-22c7-4a07-846e-4ddff6536f2b
    status_code: 200
version: 1
