interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating link blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating link blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ed8d1b68-2511-4f40-910d-32decfcfbe5b","created_time":"2024-08-02T20:44:00.000Z","last_edited_time":"2024-08-02T20:44:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating link blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating link blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-link-blocks-ed8d1b6825114f40910d32decfcfbe5b","public_url":null,"request_id":"44bc9ab6-a08f-4741-afee-8a9f1edd8846"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 44bc9ab6-a08f-4741-afee-8a9f1edd8846
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/ed8d1b68-2511-4f40-910d-32decfcfbe5b/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"bba55fea-d773-4aa1-b365-07120773498c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bba55fea-d773-4aa1-b365-07120773498c
    status_code: 200
- request:
    body: '{"children": [{"type": "link_to_page", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "link_to_page": {"type": "page_id",
      "page_id": "af3c12be-947d-4f04-a9c5-a3fae53a921d"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/ed8d1b68-2511-4f40-910d-32decfcfbe5b/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"a434f181-3879-4ab4-a40a-39c5db88452b","parent":{"type":"page_id","page_id":"ed8d1b68-2511-4f40-910d-32decfcfbe5b"},"created_time":"2024-08-02T20:45:00.000Z","last_edited_time":"2024-08-02T20:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"af3c12be-947d-4f04-a9c5-a3fae53a921d"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7bbe45ff-fba7-4b7a-b8ba-373299de3fec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7bbe45ff-fba7-4b7a-b8ba-373299de3fec
    status_code: 200
version: 1
