interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81bb-9463-ff036a27b338","created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-25e974f3b38881bb9463ff036a27b338","public_url":null,"request_id":"642ff384-7faf-45ce-aa4c-70052721abeb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 642ff384-7faf-45ce-aa4c-70052721abeb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"a31afe48-00e3-439f-8729-5b4632c217b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a31afe48-00e3-439f-8729-5b4632c217b9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81bb-9463-ff036a27b338/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1caad044-c640-4c48-adeb-c37fad30f06e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1caad044-c640-4c48-adeb-c37fad30f06e
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81bb-9463-ff036a27b338/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-81ee-b9f5-cbd77c7188a7","parent":{"type":"page_id","page_id":"25e974f3-b388-81bb-9463-ff036a27b338"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"13cdbbd0-f3e6-4600-823f-3352746d915c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 13cdbbd0-f3e6-4600-823f-3352746d915c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81ee-b9f5-cbd77c7188a7/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-81d8-9822-d8004f16f249","parent":{"type":"block_id","block_id":"25e974f3-b388-81ee-b9f5-cbd77c7188a7"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25}},{"object":"block","id":"25e974f3-b388-81c5-927a-dcad83cbef50","parent":{"type":"block_id","block_id":"25e974f3-b388-81ee-b9f5-cbd77c7188a7"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"596d217b-b532-4434-9b4e-5080548fe48d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 596d217b-b532-4434-9b4e-5080548fe48d
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81d8-9822-d8004f16f249/children
  response:
    content: '{"object":[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}],"after":"25e974f3-b388-81d8-9822-d8004f16f249"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81ee-b9f5-cbd77c7188a7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-81ed-a3a1-dceaaa5bbe7e","parent":{"type":"block_id","block_id":"25e974f3-b388-81ee-b9f5-cbd77c7188a7"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3b38881d89822d8004f16f249
  response:
    content: '{"object":"block","id":"25e974f3-b388-81d8-9822-d8004f16f249","parent":{"type":"block_id","block_id":"25e974f3-b388-81ee-b9f5-cbd77c7188a7"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"e168d4c1-d899-46b1-bdfe-2ef2966e32af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e168d4c1-d899-46b1-bdfe-2ef2966e32af
    status_code: 200
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3b38881c5927adcad83cbef50
  response:
    content: '{"object":"block","id":"25e974f3-b388-81c5-927a-dcad83cbef50","parent":{"type":"block_id","block_id":"25e974f3-b388-81ee-b9f5-cbd77c7188a7"},"created_time":"2025-08-29T13:18:00.000Z","last_edited_time":"2025-08-29T13:18:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"4bbfb50c-9168-4795-8a8c-eb093c8a75bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4bbfb50c-9168-4795-8a8c-eb093c8a75bf
    status_code: 200
version: 1
