interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-8119-aa10-e601662c8e03","created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-sync-blocks-29c974f3b3888119aa10e601662c8e03","public_url":null,"request_id":"899ddc9d-025d-42b0-b2ab-23b938db80ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 899ddc9d-025d-42b0-b2ab-23b938db80ce
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"0b60a588-49c1-41d1-8b5f-3a0681aae33d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b60a588-49c1-41d1-8b5f-3a0681aae33d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-8119-aa10-e601662c8e03/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f3031968-9467-4499-9f8c-7aea73d973a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f3031968-9467-4499-9f8c-7aea73d973a2
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"synced_block","synced_block":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a synced paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a synced paragraph"}}],"color":"default","children":[]}}],"synced_from":null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-8119-aa10-e601662c8e03/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-81b0-b0be-e2900cf244f6","parent":{"type":"page_id","page_id":"29c974f3-b388-8119-aa10-e601662c8e03"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f00d00c9-1451-4d9d-bde3-df1d2a4db9d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f00d00c9-1451-4d9d-bde3-df1d2a4db9d7
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"29c974f3-b388-81b0-b0be-e2900cf244f6"},"children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-8119-aa10-e601662c8e03/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-811b-ae10-fbc243318d2b","parent":{"type":"page_id","page_id":"29c974f3-b388-8119-aa10-e601662c8e03"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"29c974f3-b388-81b0-b0be-e2900cf244f6"}}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ee9b6a79-675b-46e7-b532-5d2b6a06901c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ee9b6a79-675b-46e7-b532-5d2b6a06901c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81b0-b0be-e2900cf244f6/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-8100-aa08-f2f8c4f5578a","parent":{"type":"block_id","block_id":"29c974f3-b388-81b0-b0be-e2900cf244f6"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d29813c3-839f-48f5-9fd2-6cb9fda37b03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d29813c3-839f-48f5-9fd2-6cb9fda37b03
    status_code: 200
version: 1
