interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Page for inserting after and replacing
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-81a4-b0d9-de4f94a3aad4","created_time":"2025-06-10T17:45:00.000Z","last_edited_time":"2025-06-10T17:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-20e974f3b38881a4b0d9de4f94a3aad4","public_url":null,"request_id":"71a0570b-58b2-435d-875b-42b43eefc7c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 71a0570b-58b2-435d-875b-42b43eefc7c2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:45:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"1a7fdd04-c9a2-4324-8481-8e27e2563a92"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1a7fdd04-c9a2-4324-8481-8e27e2563a92
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81a4-b0d9-de4f94a3aad4/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"091b25a8-5fe0-4e77-95ad-b7abdda70802"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 091b25a8-5fe0-4e77-95ad-b7abdda70802
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "link_to_page", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "link_to_page": {"type": "page_id", "page_id": "20e974f3-b388-81cf-b949-cca29a82e960"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81a4-b0d9-de4f94a3aad4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81b1-ba47-dfca9ad03ead","parent":{"type":"page_id","page_id":"20e974f3-b388-81a4-b0d9-[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a paragraph"}}], "children":
      [], "color": "default"}}], "after": "20e974f3-b388-81b1-ba47-dfca9ad03ead"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81a4-b0d9-de4f94a3aad4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-810d-94b5-da811b00e267","parent":{"type":"page_id","page_id":"20e974f3-b388-81a4-b0d9-de4f94a3aad4"},"created_time":"202[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8139-af81-f238e378cc2e
  response:
    content: '{"object":"block","id":"20e974f3-b388-8139-af81-f238e378cc2e","parent":{"type":"page_id","page_id":"20e974f3-b388-81a4-b0d9-de4f94a3aad4"},"created_time":"2025-06-10T17:45:00.000Z","last_edited_time":"2025-06-10T17:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"20e974f3-b388-81cf-b949-cca29a82e960"},"request_id":"845e4587-50a9-4d60-8b81-389735f3c90b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 845e4587-50a9-4d60-8b81-389735f3c90b
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      false, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}}]}}],
      "after": "20e974f3-b388-810d-94b5-da811b00e267"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81a4-b0d9-de4f94a3aad4/children
  response:
    content: '{"object":"l[...]
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "divider": {}}], "after": "20e974f3-b388-810d-94b5-da811b00e267"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81a4-b0d9-de4f94a3aad4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-8135-a2d8-e2d601791e42","parent":{"type":"page_id","page_id":"20e974f3-b388-81a4-b0d9-de4f94a3aad4"},"cre[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81f9-b741-de5d06b53e10/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-8196-bca0-fc9a9c517e38","parent":{"type":"block_id","block_id":"20e974f3-b388-81f9-b741-de5d06b53e10"},"created_time":"2025-06-10T17:45:00.000Z","last_edited_time":"2025-06-10T17:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"20e974f3-b388-8117-a082-ee4e11730899","parent":{"type":"block_id","block_id":"20e974f3-b388-81f9-b741-de5d06b53e10"},"created_time":"2025-06-10T17:45:00.000Z","last_edited_time":"2025-06-10T17:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"965caa88-6f6d-4e28-aaf0-71056f5771f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 965caa88-6f6d-4e28-aaf0-71056f5771f8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-81f9-b741-de5d06b53e10
  response:
    content: '{"object":"block","id":"20e974f3-b388-81f9-b741-de5d06b53e10","parent":{"type":"page_id","page_id":"20e974f3-b388-81a4-b0d9-de4f94a3aad4"},"created_time":"2025-06-10T17:45:00.000Z","last_edited_time":"2025-06-10T17:45:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"5e5915d0-2518-4b48-8d19-c29cb47d22ab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5e5915d0-2518-4b48-8d19-c29cb47d22ab
    status_code: 200
version: 1
