interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying table blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81fd-9553-cef655681897","created_time":"2025-10-30T15:35:00.000Z","last_edited_time":"2025-10-30T15:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-29c974f3b38881fd9553cef655681897","public_url":null,"request_id":"9e130768-40af-4f6a-a4a5-b7cc00803d0b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e130768-40af-4f6a-a4a5-b7cc00803d0b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:35:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"375e0033-01d6-46f2-85d1-5021d9f0cb00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 375e0033-01d6-46f2-85d1-5021d9f0cb00
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81fd-9553-cef655681897/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"aa2098b6-2a45-4090-a329-d6da84d6ee90"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aa2098b6-2a45-4090-a329-d6da84d6ee90
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":true,"in_trash":false,"archived":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false,"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      0, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 0"}}],[{"type":"text","plain_text":"Cell 0, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 1"}}],[{"type":"text","plain_text":"Cell 0, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81a6-92cf-d029e460be3d/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-81ce-9019-c765337957a2","parent":{"type":"block_id","block_id":"29c974f3-b388-81a6-92cf-d029e460be3d"},"created_time":"2025-10-30T15:35:00.000Z","last_edited_time":"2025-10-30T15:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      0, 0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"New
      Cell 1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 0"}}],[{"type":"text","plain_text":"New Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 1"}}],[{"type":"text","plain_text":"New Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 2"}}]]}}],"after":"29c974f3-b388-81ce-9019-c765337957a2"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81a6-92cf-d029e460be3d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-81b3-aeb0-d37b959918ee","parent":{"type":"block_id","block_id":"29c974f3-b388-81a6-92cf-d029e460be3d"},"created_time":"20[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-818a-af15-e3e84a80b122
  response:
    content: '{"object":"block","id":"29c974f3-b388-818a-af15-e3e84a80b122","parent":{"type":"block_id","block_id":"29c974f3-b388-81a6-92cf-d029e460be3d"},"created_time":"2025-10-30T15:35:00.000Z","last_edited_time":"2025-10-30T15:35:00.000Z","created_by":{"object":"user[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/29c974f3-b388-81fd-9553-cef655681897
  response:
    content: '{"object":"page","id":"29c974f3-b388-81fd-9553-cef655681897","created_time":"2025-10-30T15:35:00.000Z","last_edited_time":"2025-10-30T15:35:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-29c974f3b38881fd9553cef655681897","public_url":null,"request_id":"f72d30e3-335e-4c3d-b5ed-77efa021093b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f72d30e3-335e-4c3d-b5ed-77efa021093b
    status_code: 200
version: 1
