interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for deleting blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for deleting blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-8195-845f-ffe640f73972","created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-11f974f3b3888195845fffe640f73972","public_url":null,"request_id":"a796c398-31f4-4b84-99ae-e8cc227f3a42"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a796c398-31f4-4b84-99ae-e8cc227f3a42
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8195-845f-ffe640f73972/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"29aaf1f3-fe63-4899-ad34-37d735cef10d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 29aaf1f3-fe63-4899-ad34-37d735cef10d
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "paragraph", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "paragraph": {"rich_text": [{"type": "text", "plain_text":
      "This is a paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a paragraph"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/block[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8101-9a2b-fdd31c29eb31
  response:
    content: '{"object":"block","id":"11f974f3-b388-8101-9a2b-fdd31c29eb31","parent":{"type":"page_id","page_id":"11f974f3-b388-8195-845f-ffe640f73972"},"created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"color":"default"},"request_id":"a3f8b0eb-082c-44bb-9811-1570fe87aa73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a3f8b0eb-082c-44bb-9811-1570fe87aa73
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-8195-845f-ffe640f73972
  response:
    content: '{"object":"page","id":"11f974f3-b388-8195-845f-ffe640f73972","created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-11f974f3b3888195845fffe640f73972","public_url":null,"request_id":"e14a6e6a-095b-4a0a-aa14-a267c45ae82b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e14a6e6a-095b-4a0a-aa14-a267c45ae82b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8195-845f-ffe640f73972/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c7233eae-d29a-4c90-9210-cb22f00bd08e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c7233eae-d29a-4c90-9210-cb22f00bd08e
    status_code: 200
version: 1
