interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for appending blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for appending blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-81e6-8a39-e06936d0ba51","created_time":"2025-08-29T13:15:00.000Z","last_edited_time":"2025-08-29T13:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-25e974f3b38881e68a39e06936d0ba51","public_url":null,"request_id":"f3726513-f090-4781-ac6e-78ba33679cf7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f3726513-f090-4781-ac6e-78ba33679cf7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-29T13:15:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"d517f265-2a6a-4d50-abfc-023b8b780a9d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d517f265-2a6a-4d50-abfc-023b8b780a9d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81e6-8a39-e06936d0ba51/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"432945f4-dec7-4026-adbd-d53f667f9b52"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 432945f4-dec7-4026-adbd-d53f667f9b52
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81e6-8a39-e06936d0ba51/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-8175-8b8a-d862a328f261","parent":{"type":"page_id","page_id":"25e974f3-b388-81e6-8a39-e06936d0ba51"},"created_time":"2025-08-29T13:15:00.000Z","last_edited_time":"2025-08-29T13:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e1e277cf-82a7-4811-a104-7da211ff8cef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e1e277cf-82a7-4811-a104-7da211ff8cef
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","plain_text":"Heading
      2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      2"}}],"color":"default","is_toggleable":false}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","plain_text":"Heading
      3","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_3","heading_3":{"rich_text":[{"type":"text","plain_text":"Heading
      2.1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      2.1"}}],"color":"red","is_toggleable":true}}],"after":"25e974f3-b388-81c4-9fb4-e95f764313aa"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-81e6-8a39-e06936d0ba51/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"25e974f3-b388-8127-9e58-fe2c41e910e3","parent":{"type":"page_id","page_id":"25e974f3-b388-81e6-8a39-e06936d0ba51"},"created_time":"2025[...]
