interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating advanced blocks", "text": {"content": "Page for creating
      advanced blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"07c98a8c-bfc0-45dc-9c3a-a900f7db7915","created_time":"2024-07-05T16:36:00.000Z","last_edited_time":"2024-07-05T16:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating advanced blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating advanced blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-advanced-blocks-07c98a8cbfc045dc9c3aa900f7db7915","public_url":null,"request_id":"64ff97bf-da8f-454a-8c4a-c69b7a8fb5f4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"3a0-AuAXvJzHc1kY/rAD3Nk4mboY9Pg"
      x-notion-request-id:
      - 64ff97bf-da8f-454a-8c4a-c69b7a8fb5f4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/07c98a8c-bfc0-45dc-9c3a-a900f7db7915/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9be18adf-6f9a-46a9-9d3b-1972b83432f4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-4q1SxF7iO7g6E1E12o6kODYccB4"
      x-notion-request-id:
      - 9be18adf-6f9a-46a9-9d3b-1972b83432f4
    status_code: 200
- request:
    body: '{"children": [{"type": "file", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "file": {"type": "external", "name": "robots.txt",
      "external": {"url": "https://www.google.de/robots.txt"}}}, {"type": "file",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "file": {"type": "external", "name": "robots.txt", "caption": [{"type": "text",
      "plain_text": "Google Robots", "text": {"content": "Google Robots"}}], "external":
      {"url": "https://www.google.de/robots.txt"}}}, {"type": "image", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "image": {"type":
      "external", "external": {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "image", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "image": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Path on meadow", "text": {"content": "Path on meadow"}}], "external":
      {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "external": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Rick Roll", "text": {"content": "Rick Roll"}}], "external": {"url":
      "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}}, {"type": "pdf", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "pdf":
      {"type": "external", "external": {"url": "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}},
      {"type": "pdf", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "pdf": {"type": "external", "caption": [{"type": "text",
      "plain_text": "Dummy PDF", "text": {"content": "Dummy PDF"}}], "external": {"url":
      "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-ty[...]
