interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Page for modifying column blocks
      with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"213974f3-b388-8124-9275-e5597aedd1b8","created_time":"2025-06-15T16:21:00.000Z","last_edited_time":"2025-06-15T16:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-213974f3b38881249275e5597aedd1b8","public_url":null,"request_id":"9bac26ff-1b3e-4e7d-9287-0b97664e33a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9bac26ff-1b3e-4e7d-9287-0b97664e33a2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-15T16:21:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"afad5f1d-4f61-48d4-8a48-bc6f270bc7f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - afad5f1d-4f61-48d4-8a48-bc6f270bc7f3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/213974f3-b388-8124-9275-e5597aedd1b8/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"68bb8084-6b6a-42c9-b5ee-719f8a63aa73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 68bb8084-6b6a-42c9-b5ee-719f8a63aa73
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": [], "width_ratio": 0.25}}, {"type": "column",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "column": {"children": [], "width_ratio": 0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/213974f3-b388-8124-9275-e5597aedd1b8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"213974f3-b388-8196-affd-de6382d1d93a","parent":{"type":"page_id","page_id":"213974f3-b388-8124-9275-e5597aedd1b8"},"created_time":"2025-06-15T16:21:00.000Z","last_edited_time":"2025-06-15T16:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"befa33b5-ec07-427a-9125-63159664226e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - befa33b5-ec07-427a-9125-63159664226e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/213974f3-b388-8196-affd-de6382d1d93a/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"213974f3-b388-81ca-bf9e-c49e3e4873da","parent":{"type":"block_id","block_id":"213974f3-b388-8196-affd-de6382d1d93a"},"created_time":"2025-06-15T16:21:00.000Z","last_edited_time":"2025-06-15T16:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25}},{"object":"block","id":"213974f3-b388-81fc-829b-f6eb72233efa","parent":{"type":"block_id","block_id":"213974f3-b388-8196-affd-de6382d1d93a"},"created_time":"2025-06-15T16:21:00.000Z","last_edited_time":"2025-06-15T16:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d6d5103e-36ec-4b04-829c-c13eea1556a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6d5103e-36ec-4b04-829c-c13eea1556a3
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/213974f3-b388-81ca-bf9e-c49e3e4873[...]
[...]
- request:
    body: '{"children": [{"type": "column", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "column": {"children": []}}], "after":
      "213974f3-b388-81ca-bf9e-c49e3e4873da"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/213974f3-b388-8196-affd-de6382d1d93a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"213974f3-b388-8114-8a17-cd5a513f8f1d","parent":{"type":"block_id","block_id":"213974f3-b388-8196-affd-de6382d1d93a"},"created_ti[...]
[...]
- request:
    body: '{"type": "column", "archived": false, "column": {"width_ratio": 0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/213974f3b38881cabf9ec49e3e4873da
  response:
    content: '{"object":"block","id":"213974f3-b388-81ca-bf9e-c49e3e4873da","parent":{"type":"block_id","block_id":"213974f3-b388-8196-affd-de6382d1d93a"},"created_time":"2025-06-15T16:21:00.000Z","last_edited_time":"2025-06-15T16:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"bfade968-a080-4295-813e-1522227e94dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bfade968-a080-4295-813e-1522227e94dd
    status_code: 200
[...]
- request:
    body: '{"type": "column", "archived": false, "column": {"width_ratio": 0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/213974f3b38881fc829bf6eb72233efa
  response:
    content: '{"object":"block","id":"213974f3-b388-81fc-829b-f6eb72233efa","parent":{"type":"block_id","block_id":"213974f3-b388-8196-affd-de6382d1d93a"},"created_time":"2025-06-15T16:21:00.000Z","last_edited_time":"2025-06-15T16:22:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"5cf6d52d-a110-4e55-8eec-0d23711326ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5cf6d52d-a110-4e55-8eec-0d23711326ad
    status_code: 200
version: 1
