interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-8112-9513-d1b0a1e03aee","created_time":"2025-09-22T15:21:00.000Z","last_edited_time":"2025-09-22T15:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-276974f3b38881129513d1b0a1e03aee","public_url":null,"request_id":"9a1389c2-f4bb-4d36-b639-e96430fafdc8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a1389c2-f4bb-4d36-b639-e96430fafdc8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T15:21:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"80daa0dd-9784-47cd-9ee5-bc0bf94ad1eb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80daa0dd-9784-47cd-9ee5-bc0bf94ad1eb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8112-9513-d1b0a1e03aee/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"21a003eb-546d-4ce9-b813-85c5a9ba522e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 21a003eb-546d-4ce9-b813-85c5a9ba522e
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8112-9513-d1b0a1e03aee/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-81c5-8958-cf38fe810350","parent":{"type":"page_id","page_id":"276974f3-b388-8112-9513-d1b0a1e03aee"},"created_time":"2025-09-22T15:21:00.000Z","last_edited_time":"2025-09-22T15:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"bf47e5da-3fe6-487c-85ee-92ffb86c32a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bf47e5da-3fe6-487c-85ee-92ffb86c32a9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81c5-8958-cf38fe810350/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8154-8421-fe8282d505f8","parent":{"type":"block_id","block_id":"276974f3-b388-81c5-8958-cf38fe810350"},"created_time":"2025-09-22T15:21:00.000Z","last_edited_time":"2025-09-22T15:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25}},{"object":"block","id":"276974f3-b388-81c2-90af-e9eb53682a38","parent":{"type":"block_id","block_id":"276974f3-b388-81c5-8958-cf38fe810350"},"created_time":"2025-09-22T15:21:00.000Z","last_edited_time":"2025-09-22T15:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0aa04844-8444-43bb-921a-77bf64c59e56"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0aa04844-8444-43bb-921a-77bf64c59e56
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-8154-8421-fe8282d505f8/children
  response:
    content: '{"object":[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}],"after":"276974f3-b388-8154-8421-fe8282d505f8"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81c5-8958-cf38fe810350/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8153-bf71-e1a190e0eb3d","parent":{"type":"block_id","block_id":"276974f3-b388-81c5-8958-cf38fe810350"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3b38881548421fe8282d505f8
  response:
    content: '{"object":"block","id":"276974f3-b388-8154-8421-fe8282d505f8","parent":{"type":"block_id","block_id":"276974f3-b388-81c5-8958-cf38fe810350"},"created_time":"2025-09-22T15:21:00.000Z","last_edited_time":"2025-09-22T15:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"028b7592-638d-4bdf-84ea-bd0a33f2b988"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 028b7592-638d-4bdf-84ea-bd0a33f2b988
    status_code: 200
[...]
- request:
    body: '{"type":"column","archived":false,"in_trash":false,"column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3b38881c290afe9eb53682a38
  response:
    content: '{"object":"block","id":"276974f3-b388-81c2-90af-e9eb53682a38","parent":{"type":"block_id","block_id":"276974f3-b388-81c5-8958-cf38fe810350"},"created_time":"2025-09-22T15:21:00.000Z","last_edited_time":"2025-09-22T15:21:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"request_id":"cb6fe1fe-00eb-4d64-87ce-9ff52c93af07"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cb6fe1fe-00eb-4d64-87ce-9ff52c93af07
    status_code: 200
version: 1
