interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks with width ratios", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false}, "text": {"content": "Page for modifying column blocks with width ratios"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-812a-bd79-ce037c76e48d","created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks with width ratios","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks with width ratios","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-with-width-ratios-38a9ce7b60a4812abd79ce037c76e48d","public_url":null,"archived":false,"request_id":"d337e10c-06f6-4a61-aa98-41a805be0b2c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d337e10c-06f6-4a61-aa98-41a805be0b2c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"a3c76d52-3a8b-4874-ac86-9c7edbf9f8fd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a3c76d52-3a8b-4874-ac86-9c7edbf9f8fd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-812a-bd79-ce037c76e48d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"bcd1ca26-4f3b-4c43-a658-9df58d69eebf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bcd1ca26-4f3b-4c43-a658-9df58d69eebf
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[],"width_ratio":0.25}},{"object":"block","type":"column","column":{"children":[],"width_ratio":0.75}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-812a-bd79-ce037c76e48d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8171-82c4-dcd671ac36b1","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-812a-bd79-ce037c76e48d"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"479aff69-3bbd-4538-9b2e-aa09bdad0080"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 479aff69-3bbd-4538-9b2e-aa09bdad0080
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8171-82c4-dcd671ac36b1/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8133-94dd-efec57df1826","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8171-82c4-dcd671ac36b1"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.25},"archived":false},{"object":"block","id":"38a9ce7b-60a4-8147-80a2-cd2c991ed66c","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8171-82c4-dcd671ac36b1"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{"width_ratio":0.75},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"05feaf73-93c2-4065-8dec-1103739f2568"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 05feaf73-93c2-4065-8dec-1103739f2568
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8133-94dd-efec57df1826/children
  response:
    content: '{"object":"list","result[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"column","column":{"children":[]}}],"after":"38a9ce7b-60a4-8133-94dd-efec57df1826"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8171-82c4-dcd671ac36b1/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-814d-82f6-e9c0ca5c1b77","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8171-82c4-dcd671ac36b1"},"created_time":"20[...]
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b60a4813394ddefec57df1826
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-8133-94dd-efec57df1826","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8171-82c4-dcd671ac36b1"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"0075b52b-25ee-4713-b30c-5736559bca70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0075b52b-25ee-4713-b30c-5736559bca70
    status_code: 200
[...]
- request:
    body: '{"type":"column","column":{"width_ratio":0.125}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b60a4814780a2cd2c991ed66c
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-8147-80a2-cd2c991ed66c","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-8171-82c4-dcd671ac36b1"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column","column":{"width_ratio":0.125},"archived":false,"request_id":"d0308910-8978-44c7-b5e8-ecd9fc1f94a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d0308910-8978-44c7-b5e8-ecd9fc1f94a8
    status_code: 200
version: 1
