interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying basic blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"277974f3-b388-8155-96c8-ed3a5ce0cdd3","created_time":"2025-09-23T09:51:00.000Z","last_edited_time":"2025-09-23T09:51:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-277974f3b388815596c8ed3a5ce0cdd3","public_url":null,"request_id":"1c711783-6f2e-4942-add7-b5af5285e72c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1c711783-6f2e-4942-add7-b5af5285e72c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-23T09:51:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"9520f739-3c45-4929-bee9-5bb221bb6aa6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9520f739-3c45-4929-bee9-5bb221bb6aa6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-8155-96c8-ed3a5ce0cdd3/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2c45373f-cfcd-4ca2-9698-a88ab5777fde"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2c45373f-cfcd-4ca2-9698-a88ab5777fde
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Red
      paragraph\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Red
      paragraph\"}}],\"color\":\"red\",\"children\":[]}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"code\",\"code\":{\"caption\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"print(\\\"Hello
      World\\\")\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"print(\\\"Hello
      World\\\")\"}}],\"language\":\"python\"}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"heading_1\",\"heading_1\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"My
      new page\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"My
      new page\"}}],\"color\":\"default\",\"is_toggleable\":true}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout\"}}],\"color\":\"default\",\"children\":[],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}},{\"object\":\"block\",\"has_children\":false,\"in_trash\":false,\"archived\":false,\"type\":\"to_do\",\"to_do\":{\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Checked
      item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Checked
      item\"}}],\"color\":\"default\",\"checked\":true,\"children\":[]}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-8155-96c8-ed3a5ce0cdd3/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"277974f3-b388-81a2-b563-fe1ed8a47319\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"277974f3-b388-8155-96c8-ed3a5ce0cdd3\"},\"created_t[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"embed","embed":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"bookmark","bookmark":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"equation","equation":{"expression":"-1
      = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-8155-96c8-ed3a5ce0cdd3/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-81e6-ba95-ef5a40971413","parent":{"type":"page_id","page_id":"277974f3-b388-8155-96c8-ed3a5ce0cdd3"},"created_time":"2025-09-23T09[...]
- request:
    body: '{"type":"paragraph","archived":false,"in_trash":false,"paragraph":{"rich_text":[{"type":"text","plain_text":"Red
      paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"text":{"content":"Red
      paragraph"}}],"color":"pink"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https[...]
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a nested paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a nested paragraph"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3-b388-81eb-a330-c33d9de4cd7e/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"277974f3-b388-81e2-97f5-f0d665d41cf2","parent":{"type":"block_id","block_id":"277974f3-b388-81eb-a330-c33d9de4cd7e"},"created_time":"2025-09-23T09:52:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a nested paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b4dbd979-92a5-4e18-8219-0e34dd027794"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b4dbd979-92a5-4e18-8219-0e34dd027794
    status_code: 200
[...]
- request:
    body: '{"embed":{"caption":[],"url":"https://notion.so/"},"type":"embed","archived":false,"in_trash":false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/277974f3b38881e6ba95ef5a40971413
  response:
    content: '{"object":"block","id":"277974f3-b388-81e6-ba95-ef5a40971413","parent":{"type":"page_id","page_id":"277974f3-b388-8155-96c8-ed3a5ce0cdd3"},"created_time":"2025-09-23T09:51:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://notion.so/"},"request_id":"081de567-8c02-4f5f-9ee6-522fa06c4105"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 081de567-8c02-4f5f-9ee6-522fa06c4105
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/277974f3-b388-8140-8c7e-f36b59181558
  response:
    content: '{"object":"block","id":"277974f3-b388-8140-8c7e-f36b59181558","parent":{"type":"page_id","page_id":"277974f3-b388-8155-96c8-ed3a5ce0cdd3"},"created_time":"2025-09-23T09:51:00.000Z","last_edited_time":"2025-09-23T09:52:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello
      World\")","href":null}],"language":"javascript"},"request_id":"26a07c66-6b2c-4b15-aa40-ddb69636e3c9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 26a07c66-6b2c-4b15-aa40-ddb69636e3c9
    status_code: 200
version: 1
