interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Page for inserting after and replacing blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8148-91d2-c6751eca745c","created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-inserting-after-and-replacing-blocks-3899ce7b60a4814891d2c6751eca745c","public_url":null,"archived":false,"request_id":"f897989d-fc00-49b8-8b15-4963cc2be5a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f897989d-fc00-49b8-8b15-4963cc2be5a7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"f3c1f73a-b856-4574-b6c0-dc19e02deea7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f3c1f73a-b856-4574-b6c0-dc19e02deea7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8148-91d2-c6751eca745c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"de4d08be-bfeb-4afe-a1f2-2f6c11e2d462"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - de4d08be-bfeb-4afe-a1f2-2f6c11e2d462
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-8124-8461-e050301e58b0"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8148-91d2-c6751eca745c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81b2-b6ee-e67eee2c7294","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8148-91d2-c6751eca745c"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"},"archived":false},{"object":"block","id":"3899ce7b-60a4-81dd-af0c-f8c1f31401c5","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8148-91d2-c6751eca745c"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-8124-8461-e050301e58b0"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b9291c0d-f06b-4109-8b55-8cd789d8bfba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b9291c0d-f06b-4109-8b55-8cd789d8bfba
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default"}}],"after":"3899ce7b-60a4-81b2-b6ee-e67eee2c7294"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8148-91d2-c6751eca745c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81d1-8e6e-f2fffdecf5d2","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8148-91d2-c6751eca745c"},"created_time":"2026[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81dd-af0c-f8c1f31401c5
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-81dd-af0c-f8c1f31401c5","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8148-91d2-c6751eca745c"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-8124-8461-e050301e58b0"},"archived":true,"request_id":"7604d961-69d3-470b-bdfb-01cde38ff0d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7604d961-69d3-470b-bdfb-01cde38ff0d3
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"divider","divider":{}},{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}}],"table_width":2,"has_column_header":false,"has_row_header":false}}],"after":"3899ce7b-60a4-81d1-8e6e-f2fffdecf5d2"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8148-91d2-c6751eca745c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8198-b40e-de228228bae8","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8148-91d2-c6751eca745c"},"cr[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8118-8939-f667dd0a8df9/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81d3-9c6f-e0212439e8e6","parent":{"type":"block_id","block_id":"3899ce7b-60a4-8118-8939-f667dd0a8df9"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]},"archived":false},{"object":"block","id":"3899ce7b-60a4-811b-b9d3-eb9e0fed7dc1","parent":{"type":"block_id","block_id":"3899ce7b-60a4-8118-8939-f667dd0a8df9"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6a8b0421-8831-4a15-99ce-01ac94b57d7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a8b0421-8831-4a15-99ce-01ac94b57d7e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8118-8939-f667dd0a8df9
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-8118-8939-f667dd0a8df9","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8148-91d2-c6751eca745c"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"archived":true,"request_id":"58000060-cac5-4f61-9a7e-7d8ffa257f0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 58000060-cac5-4f61-9a7e-7d8ffa257f0e
    status_code: 200
version: 1
