interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81c1-a312-e10959a3c20d","created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-column-blocks-29c974f3b38881c1a312e10959a3c20d","public_url":null,"request_id":"eae333b9-a956-4a37-9f0d-843ce3d0c73a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eae333b9-a956-4a37-9f0d-843ce3d0c73a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"f10884db-e362-4874-abad-3075d7306ad4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f10884db-e362-4874-abad-3075d7306ad4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81c1-a312-e10959a3c20d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9e27ac2b-fa46-425e-a7a2-6ca5cb2ad3aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e27ac2b-fa46-425e-a7a2-6ca5cb2ad3aa
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column_list","column_list":{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81c1-a312-e10959a3c20d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-81e0-8b38-d7b1b90cf0c5","parent":{"type":"page_id","page_id":"29c974f3-b388-81c1-a312-e10959a3c20d"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f9081d3e-f1c4-4b8a-b7a6-356afc77f757"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f9081d3e-f1c4-4b8a-b7a6-356afc77f757
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81e0-8b38-d7b1b90cf0c5/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"29c974f3-b388-81e2-86e6-f953ff1ea36c","parent":{"type":"block_id","block_id":"29c974f3-b388-81e0-8b38-d7b1b90cf0c5"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"29c974f3-b388-81a7-ab54-ccc82be40192","parent":{"type":"block_id","block_id":"29c974f3-b388-81e0-8b38-d7b1b90cf0c5"},"created_time":"2025-10-30T15:33:00.000Z","last_edited_time":"2025-10-30T15:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f4fed195-0e9e-4bf0-b8d3-fce4e2314cb4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f4fed195-0e9e-4bf0-b8d3-fce4e2314cb4
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/29c974f3-b388-81e2-86e6-f953ff1ea36c/children
  response:
    content: '{"object":[...]
[...]
