interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating basic blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-817d-880a-eca1cf95272f","created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-basic-blocks-20e974f3b388817d880aeca1cf95272f","public_url":null,"request_id":"f33127a9-44c5-4cbc-aa03-10f3f6507c16"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f33127a9-44c5-4cbc-aa03-10f3f6507c16
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"57981e45-2c38-4641-8a3a-4841698f1c7a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 57981e45-2c38-4641-8a3a-4841698f1c7a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-817d-880a-eca1cf95272f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"23ce78b3-60c8-45f0-a81e-58382ffab909"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 23ce78b3-60c8-45f0-a81e-58382ffab909
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "heading_2", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "heading_2": {"rich_text": [{"type": "text", "plain_text":
      "Heading 2", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Heading 2"}}], "color": "blue", "is_toggleable": false}}, {"type": "paragraph",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a paragraph",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "This is a paragraph"}}],
      "children": [], "color": "default"}}, {"type": "paragraph", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "paragraph": {"rich_text":
      [{"type": "text", "plain_text": "This is coloured paragraph", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "This is coloured paragraph"}}],
      "children": [], "color": "red"}}, {"type": "code", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "code": {"rich_text": [{"type":
      "text", "plain_text": "print(\"Hello World\")", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "print(\"Hello World\")"}}], "caption":
      [], "language": "python"}}, {"type": "code", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "code": {"rich_text": [{"type":
      "text", "plain_text": "SELECT * FROM table", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "SELECT * FROM table"}}], "caption":
      [{"type": "text", "plain_text": "SQL Query", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "SQL Query"}}], "language": "sql"}},
      {"type": "quote", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "quote": {"rich_text": [{"type": "text", "plain_text": "This
      is a quote", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a quote"}}], "children": [], "color": "default"}}, {"type": "quote",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "quote": {"rich_text": [{"type": "text", "plain_text": "This is a quote with
      a citation", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a quote with a citation"}}], "children": [], "color": "green"}}, {"type":
      "callout", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "callout": {"rich_text": [{"type": "text", "plain_text": "This is a callout",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "This is a callout"}}],
      "children": [], "color": "default"}}, {"type": "callout", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "callout": {"rich_text":
      [{"type": "text", "plain_text": "This is a callout with color and icon", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "This is a callout with
      color and icon"}}], "children": [], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"},
      "color": "purple"}}, {"type": "callout", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "callout": {"rich_text": [{"type":
      "text", "plain_text": "This is a another callout with color and icon", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "This is a another callout
      with color and icon"}}], "children": [], "icon": {"type": "emoji", "emoji":
      "\ud83d\udc4d"}, "color": "yellow"}}, {"type": "bulleted_list_item", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "bulleted_list_item":
      {"rich_text": [{"type": "text", "plain_text": "First item", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "First item"}}], "children":
      [], "color": "default"}}, {"type": "bulleted_list_item", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "bulleted_list_item":
      {"rich_text": [{"type": "text", "plain_text": "Second item", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Second item"}}], "children":
      [], "color": "blue"}}, {"type": "numbered_list_item", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "numbered_list_item": {"rich_text":
      [{"type": "text", "plain_text": "First item", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "First item"}}], "children": [], "color":
      "default"}}, {"type": "numbered_list_item", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "numbered_list_item": {"rich_text":
      [{"type": "text", "plain_text": "Second item", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Second item"}}], "children": [], "color":
      "red"}}, {"type": "to_do", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text":
      "First item", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "First item"}}], "checked": false, "children": [], "color": "default"}}, {"type":
      "to_do", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Second item",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "Second item"}}],
      "checked": true, "children": [], "color": "default"}}, {"type": "to_do", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "to_do":
      {"rich_text": [{"type": "text", "plain_text": "Third item", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Third item"}}], "checked":
      false, "children": [], "color": "red"}}, {"type": "toggle", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "toggle": {"rich_text":
      [{"type": "text", "plain_text": "First item", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "First item"}}], "children": [], "color":
      "default"}}, {"type": "toggle", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "toggle": {"rich_text": [{"type": "text", "plain_text":
      "Second item", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Second item"}}], "children": [], "color": "purple"}}, {"type": "divider", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "divider":
      {}}, {"type": "table_of_contents", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "table_of_contents": {"color": "default"}},
      {"type": "table_of_contents", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "table_of_contents": {"color": "pink"}}, {"type":
      "breadcrumb", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "breadcrumb": {}}, {"type": "embed", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "embed", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      "caption": [{"type": "text", "plain_text": "Rick Roll", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Rick Roll"}}]}}, {"type": "bookmark",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type":
      "bookmark", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ", "caption":
      [{"type": "text", "plain_text": "Rick Roll", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Rick Roll"}}]}}, {"type": "equation",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-817d-880a-eca1cf95272f/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"20e974f3-b388-8120-8019-f71547fd2915\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"20e974f3-b388-817d-880a-eca1cf95272f\"},\"created_[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph with children", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a paragraph with children"}}],
      "children": [], "color": "default"}}]}'
    head[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a child paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a child paragraph"}}], "children":
      [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-815c-8e36-f46fd81133d8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-81ba-a12d-f2aaaa34030a","parent":{"type":"block_id","block_id":"20e974f3-b388-815c-8e36-f46fd81133d8"},"created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a child paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a child paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8f57463c-2ed5-47a7-9bf5-1c60f824ed36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8f57463c-2ed5-47a7-9bf5-1c60f824ed36
    status_code: 200
version: 1
