interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-81d1-ad10-fcd7ab3aa56b","created_time":"2025-06-23T13:23:00.000Z","last_edited_time":"2025-06-23T13:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-21b974f3b38881d1ad10fcd7ab3aa56b","public_url":null,"request_id":"73ad7170-516e-4e07-91f5-a9e65295e631"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 73ad7170-516e-4e07-91f5-a9e65295e631
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-23T13:23:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"14dfac25-b5ac-4e83-a31c-83264c00eacd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 14dfac25-b5ac-4e83-a31c-83264c00eacd
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "21b974f3-b388-81d1-ad10-fcd7ab3aa56b"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"21b974f3-b388-81dc-92ad-da9bc2304a4d","cover":null,"icon":null,"created_time":"2025-06-23T13:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-23T13:23:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3DXHZ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"21b974f3-b388-81d1-ad10-fcd7ab3aa56b"},"url":"https://www.notion.so/21b974f3b38881dc92adda9bc2304a4d","public_url":null,"archived":false,"in_trash":false,"request_id":"c3106092-9966-4f24-80ea-f0e6d7ef81fd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c3106092-9966-4f24-80ea-f0e6d7ef81fd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81d1-ad10-fcd7ab3aa56b/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-81d9-8b64-c34b00f7815e","parent":{"type":"page_id","page_id":"21b974f3-b388-81d1-ad10-fcd7ab3aa56b"},"created_time":"2025-06-23T13:23:00.000Z","last_edited_time":"2025-06-23T13:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"21b974f3-b388-81dc-92ad-da9bc2304a4d","parent":{"type":"page_id","page_id":"21b974f3-b388-81d1-ad10-fcd7ab3aa56b"},"created_time":"2025-06-23T13:23:00.000Z","last_edited_time":"2025-06-23T13:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7284ee29-3074-4783-9c71-bc9b171eebd5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7284ee29-3074-4783-9c71-bc9b171eebd5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81dc-92ad-da9bc2304a4d
  response:
    content: '{"object":"block","id":"21b974f3-b388-81dc-92ad-da9bc2304a4d","parent":{"type":"page_id","page_id":"21b974f3-b388-81d1-ad10-fcd7ab3aa56b"},"created_time":"2025-06-23T13:23:00.000Z","last_edited_time":"2025-06-23T13:23:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"824c6480-2eea-4b34-b002-d9fd6c567eb0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 824c6480-2eea-4b34-b002-d9fd6c567eb0
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81d1-ad10-fcd7ab3aa56b/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"428593e5-6d24-4e18-8e4e-35e52c39ee7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 428593e5-6d24-4e18-8e4e-35e52c39ee7e
    status_code: 200
version: 1
