interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating link blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating link blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8194-8d40-f2e71af056bb","created_time":"2026-06-24T18:52:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating link blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating link blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-creating-link-blocks-3899ce7b60a481948d40f2e71af056bb","public_url":null,"archived":false,"request_id":"5c6d121d-a560-4a69-a7dd-62ce0a5b114e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c6d121d-a560-4a69-a7dd-62ce0a5b114e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"d92c4092-6f71-4ed3-b920-ae0c9214e7e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d92c4092-6f71-4ed3-b920-ae0c9214e7e6
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8194-8d40-f2e71af056bb/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e98a13fd-b16e-4fdf-ae9d-61fbd313786f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e98a13fd-b16e-4fdf-ae9d-61fbd313786f
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-810a-b3e0-e61182531d1b"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-8194-8d40-f2e71af056bb/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81a5-a0ef-ee785f45cef4","parent":{"type":"page_id","page_id":"3899ce7b-60a4-8194-8d40-f2e71af056bb"},"created_time":"2026-06-24T18:52:00.000Z","last_edited_time":"2026-06-24T18:52:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-810a-b3e0-e61182531d1b"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f962a3ab-c255-40a2-9bfc-6cc09b241490"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f962a3ab-c255-40a2-9bfc-6cc09b241490
    status_code: 200
version: 1
