interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-812f-93b1-def3ca75884f","created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-11f974f3b388812f93b1def3ca75884f","public_url":null,"request_id":"eb514410-e715-4bce-9d08-407c47086663"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eb514410-e715-4bce-9d08-407c47086663
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "11f974f3-b388-812f-93b1-def3ca75884f"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"11f974f3-b388-8121-bafe-cb503fe5c7ed","cover":null,"icon":null,"created_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-10-14T16:39:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"w%7CHM","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"11f974f3-b388-812f-93b1-def3ca75884f"},"url":"https://www.notion.so/11f974f3b3888121bafecb503fe5c7ed","public_url":null,"archived":false,"in_trash":false,"request_id":"35004998-4aeb-4b0c-84d3-e5f50150111b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 35004998-4aeb-4b0c-84d3-e5f50150111b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-812f-93b1-def3ca75884f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81aa-ae94-f154c293dc02","parent":{"type":"page_id","page_id":"11f974f3-b388-812f-93b1-def3ca75884f"},"created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"11f974f3-b388-8121-bafe-cb503fe5c7ed","parent":{"type":"page_id","page_id":"11f974f3-b388-812f-93b1-def3ca75884f"},"created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9db32d40-f922-4445-b57e-89a9d1ea36c5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9db32d40-f922-4445-b57e-89a9d1ea36c5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-812f-93b1-def3ca75884f
  response:
    content: '{"object":"page","id":"11f974f3-b388-812f-93b1-def3ca75884f","created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-11f974f3b388812f93b1def3ca75884f","public_url":null,"request_id":"1913611d-7c8e-4a94-ad38-4e99e65d1e0f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1913611d-7c8e-4a94-ad38-4e99e65d1e0f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8121-bafe-cb503fe5c7ed
  response:
    content: '{"object":"block","id":"11f974f3-b388-8121-bafe-cb503fe5c7ed","parent":{"type":"page_id","page_id":"11f974f3-b388-812f-93b1-def3ca75884f"},"created_time":"2024-10-14T16:39:00.000Z","last_edited_time":"2024-10-14T16:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"990eddc5-d242-407a-aa85-67824201f0d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 990eddc5-d242-407a-aa85-67824201f0d7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-812f-93b1-def3ca75884f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"85b8292e-6d36-49c8-89c3-321ae08e750f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 85b8292e-6d36-49c8-89c3-321ae08e750f
    status_code: 200
version: 1
