interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying table blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8151-bd94-e3af68997ec8","created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-38c9ce7b60a48151bd94e3af68997ec8","public_url":null,"request_id":"ce82b8e3-ad08-44f0-bb92-6185a5b1e5b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ce82b8e3-ad08-44f0-bb92-6185a5b1e5b9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"6593f228-369c-4936-aa96-4d9fd2412896"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6593f228-369c-4936-aa96-4d9fd2412896
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8151-bd94-e3af68997ec8/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"043083d7-dd8c-4330-80f0-05555b204123"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 043083d7-dd8c-4330-80f0-05555b204123
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      0, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 0"}}],[{"type":"text","plain_text":"Cell 0, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 1"}}],[{"type":"text","plain_text":"Cell 0, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      0, 2"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 0"}}],[{"type":"text","plain_text":"Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 1"}}],[{"type":"text","plain_text":"Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1, 2"}}]]}}],"table_width":3,"has_column_header":true,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8151-bd94-e3af68997ec8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-819c-a2cd-dfb92dcd87d9","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8151-bd94-e3af68997ec8"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"table","table":{"table_width":3,"has_column_header":true,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"12f64ec2-ea88-458c-81bf-9a0b0998bd3f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 12f64ec2-ea88-458c-81bf-9a0b0998bd3f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-819c-a2cd-dfb92dcd87d9/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81ca-a5f1-d216ba992d01","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-819c-a2cd-dfb92dcd87d9"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      0, 0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underlin[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"New
      Cell 1, 0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 0"}}],[{"type":"text","plain_text":"New Cell 1, 1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 1"}}],[{"type":"text","plain_text":"New Cell 1, 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"New
      Cell 1, 2"}}]]}}],"position":{"type":"after_block","after_block":{"id":"38c9ce7b-60a4-81ca-a5f1-d216ba992d01"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-819c-a2cd-dfb92dcd87d9/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-812a-bd3f-f2b21e5a316b","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-819c-a2cd-dfb92dcd87d9"},"created_t[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81da-bab6-f0af94c3fb54
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-81da-bab6-f0af94c3fb54","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-819c-a2cd-dfb92dcd87d9"},"created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/38c9ce7b-60a4-8151-bd94-e3af68997ec8
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8151-bd94-e3af68997ec8","created_time":"2026-06-27T17:14:00.000Z","last_edited_time":"2026-06-27T17:14:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-38c9ce7b60a48151bd94e3af68997ec8","public_url":null,"request_id":"a61426e6-92e4-495c-a4b4-e9c557765633"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a61426e6-92e4-495c-a4b4-e9c557765633
    status_code: 200
version: 1
