interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating table blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81ce-8f87-f0662023c8ec","created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-table-blocks-11f974f3b38881ce8f87f0662023c8ec","public_url":null,"request_id":"3ece7ac1-ef3b-465e-bfa9-635424950e04"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ece7ac1-ef3b-465e-bfa9-635424950e04
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81ce-8f87-f0662023c8ec/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b5509ad7-c712-4122-8de7-9f9544d680a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5509ad7-c712-4122-8de7-9f9544d680a9
    status_code: 200
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      true, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}},
      {"type": "table_row", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "table_row": {"cells": [[], []]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81ce-8f87-f0662023c8ec/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-8125-8a1d-c8c229548219","parent":{"type":"page_id","page_id":"11f974f3-b388-81ce-8f87-f0662023c8ec"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":true,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9dfee3e7-db94-4569-aa00-2bf57abf0c7d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9dfee3e7-db94-4569-aa00-2bf57abf0c7d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8125-8a1d-c8c229548219/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-8175-b15b-e94a634420bb","parent":{"type":"block_id","block_id":"11f974f3-b388-8125-8a1d-c8c229548219"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"11f974f3-b388-81c6-8a77-caed7f5952b7","parent":{"type":"block_id","block_id":"11f974f3-b3[...]
- request:
    body: '{"type": "table_row", "archived": false, "table_row": {"cells": [[{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], [{"type": "text", "plain_text": "Column 2",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "tex[...]
[...]
