interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for deleting blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for deleting blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-815a-8389-f5a3c6811aca","created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-38c9ce7b60a4815a8389f5a3c6811aca","public_url":null,"request_id":"086f705d-5298-4c87-8977-68f4a21161bc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 086f705d-5298-4c87-8977-68f4a21161bc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"9e70437e-583f-4f50-bee0-b217583564b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9e70437e-583f-4f50-bee0-b217583564b3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815a-8389-f5a3c6811aca/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"34d85cbb-e0d8-454e-a5ff-09760f1e312d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 34d85cbb-e0d8-454e-a5ff-09760f1e312d
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815a-8389-f5a3c6811aca/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81f1-8c24-d6d4a0557875","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815a-8389-f5a3c6811aca"},"created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"38c9ce7b-60a4-817d-9406-d9bb0801d2ed","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815a-8389-f5a3c6811aca"},"created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"icon":null,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ab7ad345-2173-4afd-ab21-3e503fdaf0dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ab7ad345-2173-4afd-ab21-3e503fdaf0dd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-817d-9406-d9bb0801d2ed
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-817d-9406-d9bb0801d2ed","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-815a-8389-f5a3c6811aca"},"created_time":"2026-06-27T16:48:00.000Z","last_edited_time":"2026-06-27T16:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"icon":null,"color":"default"},"request_id":"e957310a-9264-4586-a957-5333e85796c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e957310a-9264-4586-a957-5333e85796c4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815a-8389-f5a3c6811aca/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6d7596e2-a026-40d5-990f-7273a85d6bac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6d7596e2-a026-40d5-990f-7273a85d6bac
    status_code: 200
version: 1
