interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-8117-969c-e3bfc59aa7aa","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-sync-blocks-10f974f3b3888117969ce3bfc59aa7aa","public_url":null,"request_id":"60cf7521-ff6f-4c1f-9d4e-308acadf7ef0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 60cf7521-ff6f-4c1f-9d4e-308acadf7ef0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8117-969c-e3bfc59aa7aa/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"36fe655c-ec54-4ffe-9f0a-3b5172f762d2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 36fe655c-ec54-4ffe-9f0a-3b5172f762d2
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"children": [{"type":
      "paragraph", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a
      synced paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a synced paragraph"}}], "children": [], "color": "default"}}], "synced_from":
      null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8117-969c-e3bfc59aa7aa/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8199-8b6d-ebbc8b2ce5a4","parent":{"type":"page_id","page_id":"10f974f3-b388-8117-969c-e3bfc59aa7aa"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b6624148-6c69-4e8b-b7a5-2ad05da03472"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b6624148-6c69-4e8b-b7a5-2ad05da03472
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"synced_from":
      {"type": "block_id", "block_id": "10f974f3-b388-8199-8b6d-ebbc8b2ce5a4"}, "children":
      []}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8117-969c-e3bfc59aa7aa/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-81d1-b83d-ca8598c889db","parent":{"type":"page_id","page_id":"10f974f3-b388-8117-969c-e3bfc59aa7aa"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"10f974f3-b388-8199-8b6d-ebbc8b2ce5a4"}}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9059a6c6-504f-42ba-b3c1-8c5c82cef33e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9059a6c6-504f-42ba-b3c1-8c5c82cef33e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8199-8b6d-ebbc8b2ce5a4/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8113-a35c-c7e2e0abec0f","parent":{"type":"block_id","block_id":"10f974f3-b388-8199-8b6d-ebbc8b2ce5a4"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"109b9f93-635f-4f5a-b3a0-863c340577bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 109b9f93-635f-4f5a-b3a0-863c340577bf
    status_code: 200
version: 1
