interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e03a50f9-79bc-4b9e-bce8-c7143513ae8f","created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-e03a50f979bc4b9ebce8c7143513ae8f","public_url":null,"request_id":"7e4df954-734a-40fe-9c09-76e825a86faf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e4df954-734a-40fe-9c09-76e825a86faf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/e03a50f9-79bc-4b9e-bce8-c7143513ae8f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"090678dd-d4f7-4c59-a042-cdf45d7db5fa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 090678dd-d4f7-4c59-a042-cdf45d7db5fa
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/e03a50f9-79bc-4b9e-bce8-c7143513ae8f/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"16ddd294-2e59-4ba3-bbeb-54425b27612d","parent":{"type":"page_id","page_id":"e03a50f9-79bc-4b9e-bce8-c7143513ae8f"},"created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"945ec876-4cb3-4593-9b43-becc0fbbde03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 945ec876-4cb3-4593-9b43-becc0fbbde03
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/16ddd294-2e59-4ba3-bbeb-54425b27612d/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11eb384a-92da-4201-8077-a80b57ff12b9","parent":{"type":"block_id","block_id":"16ddd294-2e59-4ba3-bbeb-54425b27612d"},"created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"528632b4-dad3-4c00-999f-593750127e13","parent":{"type":"block_id","block_id":"16ddd294-2e59-4ba3-bbeb-54425b27612d"},"created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"93d66027-243a-4aa0-89e3-1f60dec4fd93"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 93d66027-243a-4aa0-89e3-1f60dec4fd93
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11eb384a-92da-4201-8077-a80b57ff12b9/children
  re[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11eb384a-92da-4201-8077-a80b57ff12b9
  response:
    content: '{"object":"block","id":"11eb384a-92da-4201-8077-a80b57ff12b9","parent":{"type":"block_id","block_id":"16ddd294-2e59-4ba3-bbeb-54425b27612d"},"created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"column","column":{},"request_id":"2717bfe6-57eb-4bd3-b419-caa65083d151"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2717bfe6-57eb-4bd3-b419-caa65083d151
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e03a50f9-79bc-4b9e-bce8-c7143513ae8f
  response:
    content: '{"object":"page","id":"e03a50f9-79bc-4b9e-bce8-c7143513ae8f","created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-e03a50f979bc4b9ebce8c7143513ae8f","public_url":null,"request_id":"fd650128-521e-49e0-9b12-748c1b11ac8d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd650128-521e-49e0-9b12-748c1b11ac8d
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "column", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "column": {"children": []}}], "after":
      "528632b4-dad3-4c00-999f-593750127e13"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/16ddd294-2e59-4ba3-bbeb-54425b27612d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"0a517c19-f545-4a46-ab39-5665859d12d8","parent":{"type":"block_id","block_id":"16ddd294-2e59-4ba3-bbeb-54425b27612d"},"created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"631f7947-7b10-49d9-afb9-dcaed5805885"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 631f7947-7b10-49d9-afb9-dcaed5805885
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/e03a50f9-79bc-4b9e-bce8-c7143513ae8f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"16ddd294-2e59-4ba3-bbeb-54425b27612d","parent":{"type":"page_id","page_id":"e03a50f9-79bc-4b9e-bce8-c7143513ae8f"},"created_time":"2024-09-11T17:33:00.000Z","last_edited_time":"2024-09-11T17:33:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2a087df6-8ae1-4742-99da-4ac4559d0c44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2a087df6-8ae1-4742-99da-4ac4559d0c44
    status_code: 200
version: 1
