interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81f0-9cce-f1b250d9ce9f","created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-creating-child-blocks-3899ce7b60a481f09ccef1b250d9ce9f","public_url":null,"archived":false,"request_id":"8175034e-4303-46ed-88f9-2bb78cc8fd82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8175034e-4303-46ed-88f9-2bb78cc8fd82
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"b67ec9df-c147-4a0f-af44-35c2e35662e4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b67ec9df-c147-4a0f-af44-35c2e35662e4
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "3899ce7b-60a4-81f0-9cce-f1b250d9ce9f"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f4a3cb57-3335-4a83-b128-e7db25d6a168","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f0-9cce-f1b250d9ce9f"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:35:43.233+00:00","last_edited_time":"2026-06-24T16:35:43.233+00:00","data_sources":[{"id":"b1c68d10-8c8f-496b-904a-56ad633559f2","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f4a3cb5733354a83b128e7db25d6a168","public_url":null,"archived":false,"request_id":"c7e2d8a2-ba8b-49cb-8259-f7b29dbc0cf5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c7e2d8a2-ba8b-49cb-8259-f7b29dbc0cf5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/b1c68d10-8c8f-496b-904a-56ad633559f2
  response:
    content: '{"object":"data_source","id":"b1c68d10-8c8f-496b-904a-56ad633559f2","cover":null,"icon":null,"created_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T16:35:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f4a3cb57-3335-4a83-b128-e7db25d6a168"},"database_parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f0-9cce-f1b250d9ce9f"},"url":"https://app.notion.com/p/f4a3cb5733354a83b128e7db25d6a168","public_url":null,"in_trash":false,"archived":false,"request_id":"0cf95802-3f9e-410b-a2cd-8b3f6d2ea031"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0cf95802-3f9e-410b-a2cd-8b3f6d2ea031
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f0-9cce-f1b250d9ce9f/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81e7-88be-ddcdb42a26aa","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f0-9cce-f1b250d9ce9f"},"created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"},"archived":false},{"object":"block","id":"f4a3cb57-3335-4a83-b128-e7db25d6a168","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f0-9cce-f1b250d9ce9f"},"created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a39926a7-e58e-4fee-96af-46c922661e45"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a39926a7-e58e-4fee-96af-46c922661e45
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/f4a3cb57-3335-4a83-b128-e7db25d6a168
  response:
    content: '{"object":"database","id":"f4a3cb57-3335-4a83-b128-e7db25d6a168","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f0-9cce-f1b250d9ce9f"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-24T16:35:43.233+00:00","last_edited_time":"2026-06-24T16:35:43.233+00:00","data_sources":[{"id":"b1c68d10-8c8f-496b-904a-56ad633559f2","name":"New
      database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f4a3cb5733354a83b128e7db25d6a168","public_url":null,"archived":false,"request_id":"1e4c41ba-69bd-4bc2-a6f9-946325cb3608"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1e4c41ba-69bd-4bc2-a6f9-946325cb3608
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f4a3cb57-3335-4a83-b128-e7db25d6a168
  response:
    content: '{"object":"block","id":"f4a3cb57-3335-4a83-b128-e7db25d6a168","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81f0-9cce-f1b250d9ce9f"},"created_time":"2026-06-24T16:35:00.000Z","last_edited_time":"2026-06-24T16:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"ba266664-8051-4e2b-953c-9d09962a92bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba266664-8051-4e2b-953c-9d09962a92bf
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81f0-9cce-f1b250d9ce9f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d7f33577-18a2-44d0-ae25-d56b51a0ecf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d7f33577-18a2-44d0-ae25-d56b51a0ecf8
    status_code: 200
version: 1
