interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating table blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"10f974f3-b388-81f2-ba5b-d6301103c6bc","created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-table-blocks-10f974f3b38881f2ba5bd6301103c6bc","public_url":null,"request_id":"802c715f-313e-4e07-8388-ec7a11b5ae8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 802c715f-313e-4e07-8388-ec7a11b5ae8f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81f2-ba5b-d6301103c6bc/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"401793f1-7a5e-4b90-8120-cd4db52ba146"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 401793f1-7a5e-4b90-8120-cd4db52ba146
    status_code: 200
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      true, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}},
      {"type": "table_row", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "table_row": {"cells": [[], []]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-81f2-ba5b-d6301103c6bc/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-8191-9af7-cda1f2b3b862","parent":{"type":"page_id","page_id":"10f974f3-b388-81f2-ba5b-d6301103c6bc"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"table","table":{"table_width":2,"has_column_header":true,"has_row_header":false}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"80def2bb-9a17-44b4-9282-d0aa839f2813"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80def2bb-9a17-44b4-9282-d0aa839f2813
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/10f974f3-b388-8191-9af7-cda1f2b3b862/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"10f974f3-b388-816d-bd4d-c41e7e8df6b9","parent":{"type":"block_id","block_id":"10f974f3-b388-8191-9af7-cda1f2b3b862"},"created_time":"2024-09-28T13:40:00.000Z","last_edited_time":"2024-09-28T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"10f974f3-b388-8197-87a1-d79449a87a5a","parent":{"type":"block_id","block_id":"10f974f3-b3[...]
- request:
    body: '{"type": "table_row", "archived": false, "table_row": {"cells": [[{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], [{"type": "text", "plain_text": "Column 2",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "tex[...]
[...]
