interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"20e974f3-b388-810f-b843-e98e1be29833","created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-20e974f3b388810fb843e98e1be29833","public_url":null,"request_id":"9cd57a19-6d04-465f-97b6-a81756d01f05"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9cd57a19-6d04-465f-97b6-a81756d01f05
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"f346c9c2-7375-4e15-a915-dfcdb3b8f777"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f346c9c2-7375-4e15-a915-dfcdb3b8f777
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "20e974f3-b388-810f-b843-e98e1be29833"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"20e974f3-b388-8105-b561-c4a46ff072e4","cover":null,"icon":null,"created_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-06-10T17:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"Hts%5E","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"20e974f3-b388-810f-b843-e98e1be29833"},"url":"https://www.notion.so/20e974f3b3888105b561c4a46ff072e4","public_url":null,"archived":false,"in_trash":false,"request_id":"204cc64e-df53-4012-8848-0b0fb75c7e50"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 204cc64e-df53-4012-8848-0b0fb75c7e50
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-810f-b843-e98e1be29833/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"20e974f3-b388-818b-81a8-f20bd3553e52","parent":{"type":"page_id","page_id":"20e974f3-b388-810f-b843-e98e1be29833"},"created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"20e974f3-b388-8105-b561-c4a46ff072e4","parent":{"type":"page_id","page_id":"20e974f3-b388-810f-b843-e98e1be29833"},"created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"26b1cd03-3e3e-4fa1-81aa-80df729464ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 26b1cd03-3e3e-4fa1-81aa-80df729464ac
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-8105-b561-c4a46ff072e4
  response:
    content: '{"object":"block","id":"20e974f3-b388-8105-b561-c4a46ff072e4","parent":{"type":"page_id","page_id":"20e974f3-b388-810f-b843-e98e1be29833"},"created_time":"2025-06-10T17:43:00.000Z","last_edited_time":"2025-06-10T17:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"36623184-d10e-4c49-9fff-0ee18f91307d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 36623184-d10e-4c49-9fff-0ee18f91307d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/20e974f3-b388-810f-b843-e98e1be29833/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9a6cd301-57c7-4929-b6f9-a12aee4463ab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a6cd301-57c7-4929-b6f9-a12aee4463ab
    status_code: 200
version: 1
