interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "text": {"content": "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fb51f67c-d430-44de-87dd-c1be1a4af498","created_time":"2024-07-05T11:40:00.000Z","last_edited_time":"2024-07-05T11:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-fb51f67cd43044de87ddc1be1a4af498","public_url":null,"request_id":"56c4fc66-3f8d-459d-b37e-caa6324cc803"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"373-As7lSlRDNB+xJsbg8cu2+HADfCM"
      x-notion-request-id:
      - 56c4fc66-3f8d-459d-b37e-caa6324cc803
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/fb51f67c-d430-44de-87dd-c1be1a4af498/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d0f06064-2af1-41f8-86d2-009bfd847fc4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-4jnUZe/W7VII19JquS8zd7ifzcM"
      x-notion-request-id:
      - d0f06064-2af1-41f8-86d2-009bfd847fc4
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/fb51f67c-d430-44de-87dd-c1be1a4af498/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b172f2ea-92ad-4bee-a354-1d623b0bd8fb","parent":{"type":"page_id","page_id":"fb51f67c-d430-44de-87dd-c1be1a4af498"},"created_time":"2024-07-05T11:40:00.000Z","last_edited_time":"2024-07-05T11:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d24633a1-25f7-446e-8bf8-47b92f908a34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-oleMHlgsPRczjtsi3qnsynO0l14"
      x-notion-request-id:
      - d24633a1-25f7-446e-8bf8-47b92f908a34
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/fb51f67c-d430-44de-87dd-c1be1a4af498
  response:
    content: '{"object":"page","id":"fb51f67c-d430-44de-87dd-c1be1a4af498","created_time":"2024-07-05T11:40:00.000Z","last_edited_time":"2024-07-05T11:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-fb51f67cd43044de87ddc1be1a4af498","public_url":null,"request_id":"e1b21de8-33ee-46c8-9013-f72d3455f6a3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"373-vXenSciCYuhmahZL/fbY+kyXBxM"
      x-notion-request-id:
      - e1b21de8-33ee-46c8-9013-f72d3455f6a3
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2", "text": {"content": "Heading 2"}}], "color":
      "default", "is_toggleable": false}}, {"type": "heading_2", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_2": {"rich_text":
      [{"type": "text", "plain_text": "Heading 3", "text": {"content": "Heading 3"}}],
      "color": "default", "is_toggleable": false}}, {"type": "heading_2", "object":
      "block", "has_children": false, "i[...]
- request:
    body: '{"children": [{"type": "heading_3", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_3": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2.1", "text": {"content": "Heading 2.1"}}], "color":
      "red", "is_toggleable": true}}], "after": "f3cffaa4-8fac-4af4-b335-1767b35a3b30"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/fb51f67c-d430-44de-87dd-c1be1a4af498/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b48799ac-8397-40d3-8be0-2a0eb56924a7","parent":{"type":"page_id","page_id":"fb51f67c-d430-44de-87dd-c1be1a4af498"},"created_time":"202[...]
