interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for offline assembly", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for offline assembly"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8148-a03d-dee0ef408573","created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for offline assembly","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for offline assembly","href":null}]}},"url":"https://www.notion.so/Page-for-offline-assembly-38c9ce7b60a48148a03ddee0ef408573","public_url":null,"archived":false,"request_id":"0003c845-8165-4d37-a414-7c218745734d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0003c845-8165-4d37-a414-7c218745734d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"189f2e6a-6028-4ffd-ae9d-03de59d93f52"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 189f2e6a-6028-4ffd-ae9d-03de59d93f52
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is the first block.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is the first block.\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a quote.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a quote.\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a bullet point.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a bullet point.\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout.\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8148-a03d-dee0ef408573/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-8139-b007-ef48f94bef2e\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38c9ce7b-60a4-8148-a03d-dee0ef408573\"},\"created_time\":\"2026-06-27T04:50:00.000Z\",\"last_edited_time\":\"2026-06-27T04:50:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"This
      is the first block.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"This
      is the first block.\",\"href\":null}],\"icon\":null,\"color\":\"default\"},\"archived\":false},{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-810d-a146-f89eeea953cd\",\"paren[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a child paragraph.","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a child paragraph."}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8139-b007-ef48f94bef2e/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-814b-a357-c7ea7548fe5a","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-8139-b007-ef48f94bef2e"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a child paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a child paragraph.","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6c1dd2df-3e86-4c99-b52b-0448177f7daa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6c1dd2df-3e86-4c99-b52b-0448177f7daa
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8148-a03d-dee0ef408573/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-8139-b007-ef48f94bef2e\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38c9ce7b-60a4-8148-a03d-dee0ef408573\"},\"created_time\":\"2026-06-27T04:50:00.000Z\",[...]
