interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for deleting blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for deleting blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"25e974f3-b388-8173-a549-e9567da0f0ec","created_time":"2025-08-29T13:15:00.000Z","last_edited_time":"2025-08-29T13:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for deleting blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for deleting blocks","href":null}]}},"url":"https://www.notion.so/Page-for-deleting-blocks-25e974f3b3888173a549e9567da0f0ec","public_url":null,"request_id":"a8c76d48-6a83-46cf-a63a-87bfa9623979"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8c76d48-6a83-46cf-a63a-87bfa9623979
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-08-29T13:15:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"d5191996-76da-464c-8b3b-b8952fef7cca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d5191996-76da-464c-8b3b-b8952fef7cca
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-8173-a549-e9567da0f0ec/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"13835d46-b7cd-45ae-b994-d86bd2629698"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 13835d46-b7cd-45ae-b994-d86bd2629698
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-8173-a549-e9567da0f0ec/children
 [...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-8179-b0f5-d5295b13e004
  response:
    content: '{"object":"block","id":"25e974f3-b388-8179-b0f5-d5295b13e004","parent":{"type":"page_id","page_id":"25e974f3-b388-8173-a549-e9567da0f0ec"},"created_time":"2025-08-29T13:15:00.000Z","last_edited_time":"2025-08-29T13:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"color":"default"},"request_id":"39a2c0d3-792d-4e81-bc3f-48c1f16a95e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 39a2c0d3-792d-4e81-bc3f-48c1f16a95e3
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/25e974f3-b388-8173-a549-e9567da0f0ec/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"88137de1-2c45-42d4-b08a-ce93eace947b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88137de1-2c45-42d4-b08a-ce93eace947b
    status_code: 200
version: 1
