interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Page for inserting after and replacing blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81ee-a307-fef1b3563b70","created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://app.notion.com/p/Page-for-inserting-after-and-replacing-blocks-3899ce7b60a481eea307fef1b3563b70","public_url":null,"archived":false,"request_id":"ea26aa8d-f0d7-4559-aaf1-e753bb85516d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ea26aa8d-f0d7-4559-aaf1-e753bb85516d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"7071ab93-8aaf-4b6d-ac66-d2c588b8d31f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7071ab93-8aaf-4b6d-ac66-d2c588b8d31f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ee-a307-fef1b3563b70/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"28d1b980-a9ec-4f20-a2dc-8b883d698011"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 28d1b980-a9ec-4f20-a2dc-8b883d698011
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-8189-800c-ee8a80a491e5"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ee-a307-fef1b3563b70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8146-9196-f37e0027b9a1","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81ee-a307-fef1b3563b70"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"},"archived":false},{"object":"block","id":"3899ce7b-60a4-81a7-8d4f-daaa93cbdeb1","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81ee-a307-fef1b3563b70"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-8189-800c-ee8a80a491e5"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"726fdfa2-ef72-4144-8dcf-0cf0ec6a7327"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 726fdfa2-ef72-4144-8dcf-0cf0ec6a7327
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default"}}],"after":"3899ce7b-60a4-8146-9196-f37e0027b9a1"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ee-a307-fef1b3563b70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8189-b13b-eca9f813003d","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81ee-a307-fef1b3563b70"},"created_time":"2026[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81a7-8d4f-daaa93cbdeb1
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-81a7-8d4f-daaa93cbdeb1","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81ee-a307-fef1b3563b70"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"3899ce7b-60a4-8189-800c-ee8a80a491e5"},"archived":true,"request_id":"8b1a4cbe-bfc4-4979-a1fb-a319cda9eb3c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8b1a4cbe-bfc4-4979-a1fb-a319cda9eb3c
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"divider","divider":{}},{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","type":"table_row","table_row":{"cells":[[],[]]}}],"table_width":2,"has_column_header":false,"has_row_header":false}}],"after":"3899ce7b-60a4-8189-b13b-eca9f813003d"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ee-a307-fef1b3563b70/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81a3-a4b9-d119dc69b3f3","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81ee-a307-fef1b3563b70"},"cr[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ee-8bdc-e8c7931a3737/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8178-9d5a-f84ca422d4ea","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81ee-8bdc-e8c7931a3737"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]},"archived":false},{"object":"block","id":"3899ce7b-60a4-816c-af75-f4972d5fdb41","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81ee-8bdc-e8c7931a3737"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"128f2442-39da-45fa-80eb-ecf4d0f00eb1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 128f2442-39da-45fa-80eb-ecf4d0f00eb1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81ee-8bdc-e8c7931a3737
  response:
    content: '{"object":"block","id":"3899ce7b-60a4-81ee-8bdc-e8c7931a3737","parent":{"type":"page_id","page_id":"3899ce7b-60a4-81ee-a307-fef1b3563b70"},"created_time":"2026-06-24T18:53:00.000Z","last_edited_time":"2026-06-24T18:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"archived":true,"request_id":"7b1da391-eb0c-4339-b974-308ff7c018f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7b1da391-eb0c-4339-b974-308ff7c018f8
    status_code: 200
version: 1
