interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-813c-ae72-f97bfd63aa99","created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-11f974f3b388813cae72f97bfd63aa99","public_url":null,"request_id":"d9d8779c-9608-4ae2-999f-a6d0dc7003f7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d9d8779c-9608-4ae2-999f-a6d0dc7003f7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-813c-ae72-f97bfd63aa99/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"319159e3-cf97-4105-96b2-dcd2f05ec779"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 319159e3-cf97-4105-96b2-dcd2f05ec779
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-813c-ae72-f97bfd63aa99/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81e9-9a5d-f7b89c842269","parent":{"type":"page_id","page_id":"11f974f3-b388-813c-ae72-f97bfd63aa99"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c1df5d58-24e2-4bc2-b93e-e56fe45c2ffb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c1df5d58-24e2-4bc2-b93e-e56fe45c2ffb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81e9-9a5d-f7b89c842269/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-8168-b30b-f2f8ef5e5e17","parent":{"type":"block_id","block_id":"11f974f3-b388-81e9-9a5d-f7b89c842269"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"11f974f3-b388-8155-a95e-fa0a0093cdb4","parent":{"type":"block_id","block_id":"11f974f3-b388-81e9-9a5d-f7b89c842269"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8d18553e-1447-41f3-ba5d-90d1b26824ab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8d18553e-1447-41f3-ba5d-90d1b26824ab
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8168-b30b-f2f8ef5e5e[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-8168-b30b-f2f8ef5e5e17
  response:
    content: '{"object":"block","id":"11f974f3-b388-8168-b30b-f2f8ef5e5e17","parent":{"type":"block_id","block_id":"11f974f3-b388-81e9-9a5d-f7b89c842269"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"column","column":{},"request_id":"6e992efd-1cf5-4517-97fd-8a4a1b9a5462"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e992efd-1cf5-4517-97fd-8a4a1b9a5462
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/11f974f3-b388-813c-ae72-f97bfd63aa99
  response:
    content: '{"object":"page","id":"11f974f3-b388-813c-ae72-f97bfd63aa99","created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-11f974f3b388813cae72f97bfd63aa99","public_url":null,"request_id":"9c3c1791-82b9-4d74-bd9d-09f4668ac469"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c3c1791-82b9-4d74-bd9d-09f4668ac469
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "column", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "column": {"children": []}}], "after":
      "11f974f3-b388-8155-a95e-fa0a0093cdb4"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81e9-9a5d-f7b89c842269/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-8161-b061-f652da47294b","parent":{"type":"block_id","block_id":"11f974f3-b388-81e9-9a5d-f7b89c842269"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"620d2e5b-86ab-450c-bd69-500965b31de9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 620d2e5b-86ab-450c-bd69-500965b31de9
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-813c-ae72-f97bfd63aa99/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-81e9-9a5d-f7b89c842269","parent":{"type":"page_id","page_id":"11f974f3-b388-813c-ae72-f97bfd63aa99"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b549de1e-cbd0-448a-a2ce-dfb3ab79f6e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b549de1e-cbd0-448a-a2ce-dfb3ab79f6e0
    status_code: 200
version: 1
