interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Compare Online and Offline Created Blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "Compare Online and Offline Created Blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81b5-9605-cb2a32bf5b86","created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Compare
      Online and Offline Created Blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Compare
      Online and Offline Created Blocks","href":null}]}},"url":"https://www.notion.so/Compare-Online-and-Offline-Created-Blocks-38c9ce7b60a481b59605cb2a32bf5b86","public_url":null,"archived":false,"request_id":"cdc685f4-504e-44a7-bcd9-4605b6eb40e4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cdc685f4-504e-44a7-bcd9-4605b6eb40e4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"8e1d402c-25ec-4049-aa0f-8715f182db8e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e1d402c-25ec-4049-aa0f-8715f182db8e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81b5-9605-cb2a32bf5b86/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c50a9559-023b-45c3-8b91-85f6a386493d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c50a9559-023b-45c3-8b91-85f6a386493d
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"table_of_contents","table_of_contents":{"color":"pink"}},{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"Heading
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      1"}}],"color":"default","is_toggleable":true}},{"object":"block","type":"heading_2","heading_2":{"rich_text":[{"type":"text","plain_text":"Heading
      2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      2"}}],"color":"default","is_toggleable":true}},{"object":"block","type":"heading_3","heading_3":{"rich_text":[{"type":"text","plain_text":"Heading
      3","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      3"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Paragraph"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81b5-9605-cb2a32bf5b86/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81c6-b872-e885c3680e48","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81b5-9605-cb2a32bf5b86"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"table_of_contents","table_of_contents":{"color":"pink"},"archived":false},{"object":"block","id":"38c9ce7b-60a4-81de-ad82-ef4f975f29d1","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-81b5-9605-cb2a32bf5b86"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children"[...]
- request:
    body: '{"children":[{"object":"block","type":"code","code":{"caption":[],"rich_text":[{"type":"text","plain_text":"print(\"Hello
      World!\")","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"print(\"Hello
      World!\")"}}],"language":"python"}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Code
      block above","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Code
      block above"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81de-ad82-ef4f975f29d1/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81b2-909b-cf0ba14aa6d3","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81de-ad82-ef4f975f29d1"},"created_time":"2026-06-27T04:50:00.000Z","last_edited_time":"2026-06-27T04:50:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World!\")","link":null},"annotations":{"bold":false,"italic":false,"strikethro[...]
- request:
    body: '{"children":[{"object":"block","type":"image","image":{"type":"external","caption":[{"type":"text","plain_text":"Ultimate
      Notion Logo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Ultimate
      Notion Logo"}}],"external":{"url":"https://github.com/ultimate-notion/ultimate-notion/blob/main/docs/assets/images/favicon.png"}}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Image
      above","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Image
      above"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-[...]
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Bulleted
      List Item\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Bulleted
      List Item\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Callout\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Callout\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Callout
      without icon\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Callout
      without icon\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"Quote\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"Quote\"}}],\"color\":\"default\"}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81b5-9605-cb2a32bf5b86/children
  respo[...]
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Nested
      numbered list item in bulleted list item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Nested
      numbered list item in bulleted list item"}}],"color":"default"}},{"object":"block","type":"table","table":{"children":[{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Header
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Header
      1"}}],[{"type":"text","plain_text":"Header 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Header
      2"}}]]}},{"object":"block","type":"table_row","table_row":{"cells":[[{"type":"text","plain_text":"Cell
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      1"}}],[{"type":"text","plain_text":"Cell 2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Cell
      2"}}]]}}],"table_width":2,"has_column_header":false,"has_row_header":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8146-ad43-ed5a6b846730/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8155-bd68-d1da67801529","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-8146-ad43-ed5a6b846730"},"created_time":"2026-06-27T04:50:00.000Z","last_[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"to_do","to_do":{"children":[],"rich_text":[{"type":"text","plain_text":"ToDo","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"ToDo"}}],"color":"default","checked":true}},{"object":"block","type":"numbered_list_item","numbered_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Numbered
      List Item","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Numbered
      List Item"}}],"color":"default"}},{"object":"block","type":"equation","equation":{"expression":"E=mc^2"}},{"object":"block","type":"breadcrumb","breadcrumb":{}},{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Google
      link","href":"https://www.google.com/","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Google
      link","link":{"type":"url","url":"https://www.google.com/"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
    [...]
[...]
