interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying basic blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"641ae375-7920-45fa-aab1-a061240d1c03","created_time":"2024-08-18T14:15:00.000Z","last_edited_time":"2024-08-18T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-641ae375792045faaab1a061240d1c03","public_url":null,"request_id":"fa322ed6-36d1-4973-a985-8e104fff02ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fa322ed6-36d1-4973-a985-8e104fff02ac
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/641ae375-7920-45fa-aab1-a061240d1c03/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"fe439de0-3073-4652-a9a2-221fca408273"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fe439de0-3073-4652-a9a2-221fca408273
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "color": "red"}}, {"type": "code", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "code":
      {"rich_text": [{"type": "text", "plain_text": "print(\"Hello World\")", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "print(\"Hello World\")"}}],
      "caption": [], "language": "python"}}, {"type": "heading_1", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_1": {"rich_text":
      [{"type": "text", "plain_text": "My new page", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "My new page"}}], "color": "default",
      "is_toggleable": true}}, {"type": "callout", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "callout": {"rich_text": [{"type":
      "text", "plain_text": "This is a callout", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "This is a callout"}}], "icon": {"type": "emoji", "emoji":
      "\ud83d\ude80"}, "color": "default"}}, {"type": "to_do", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "to_do": {"rich_text":
      [{"type": "text", "plain_text": "Checked item", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Checked item"}}], "checked": true,
      "color": "default"}}, {"type": "embed", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "bookmark", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "equation", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/641ae375-7920-45fa-aab1-a061240d1c03/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"775c8d9b-f340-4c4b-b65e-932092e66cc8\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"641ae375-7920-45fa-aab1-a061240d1c03\"},\"created_[...]
- request:
    body: '{"type": "paragraph", "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "color": "pink"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATC[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a nested paragraph", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a nested paragraph"}}],
      "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/1fc959e8-456a-49e6-8218-28149ed780b0/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"82673f0b-3d0c-4d65-a27d-f5763ae9a092","parent":{"type":"block_id","block_id":"1fc959e8-456a-49e6-8218-28149ed780b0"},"created_time":"2024-08-18T14:15:00.000Z","last_edited_time":"2024-08-18T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a nested paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d876e6e4-58fa-4c00-a1d6-83f8b50db437"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d876e6e4-58fa-4c00-a1d6-83f8b50db437
    status_code: 200
[...]
- request:
    body: '{"embed": {"url": "https://notion.so", "caption": []}, "type": "embed",
      "archived": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/48b71f4eac364bf59833394850880765
  response:
    content: '{"object":"block","id":"48b71f4e-ac36-4bf5-9833-394850880765","parent":{"type":"page_id","page_id":"641ae375-7920-45fa-aab1-a061240d1c03"},"created_time":"2024-08-18T14:15:00.000Z","last_edited_time":"2024-08-18T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://notion.so"},"request_id":"f6bc3060-6027-4fa2-b072-1224ce8ad5a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f6bc3060-6027-4fa2-b072-1224ce8ad5a2
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/641ae375-7920-45fa-aab1-a061240d1c03
  response:
    content: '{"object":"page","id":"641ae375-7920-45fa-aab1-a061240d1c03","created_time":"2024-08-18T14:15:00.000Z","last_edited_time":"2024-08-18T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-641ae375792045faaab1a061240d1c03","public_url":null,"request_id":"6f5eaf49-3a48-4d8b-84a0-ff6d3b2a99ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f5eaf49-3a48-4d8b-84a0-ff6d3b2a99ec
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/e887bd85-edf4-4c82-91f3-a81095e396b8
  response:
    content: '{"object":"block","id":"e887bd85-edf4-4c82-91f3-a81095e396b8","parent":{"type":"page_id","page_id":"641ae375-7920-45fa-aab1-a061240d1c03"},"created_time":"2024-08-18T14:15:00.000Z","last_edited_time":"2024-08-18T14:15:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello
      World\")","href":null}],"language":"javascript"},"request_id":"b8c96b4f-3bb5-4b02-8cfb-54b2315c1f74"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b8c96b4f-3bb5-4b02-8cfb-54b2315c1f74
    status_code: 200
version: 1
