interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"480b234b-eea4-4743-ad06-ea0011fe4051","created_time":"2024-08-18T13:43:00.000Z","last_edited_time":"2024-08-18T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-480b234beea44743ad06ea0011fe4051","public_url":null,"request_id":"854577fe-26d5-45ea-8d76-054f0458ddd3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 854577fe-26d5-45ea-8d76-054f0458ddd3
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "480b234b-eea4-4743-ad06-ea0011fe4051"},
      "properties": {"Name": {"type": "title", "title": {}}, "Tags": {"type": "multi_select",
      "multi_select": {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2aaa53ab-595a-44d8-a020-df6677639cb0","cover":null,"icon":null,"created_time":"2024-08-18T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2024-08-18T13:43:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Tags":{"id":"C%3AUq","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"480b234b-eea4-4743-ad06-ea0011fe4051"},"url":"https://www.notion.so/2aaa53ab595a44d8a020df6677639cb0","public_url":null,"archived":false,"in_trash":false,"request_id":"f8296422-ab49-4c64-9275-a6739c0e3ba8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8296422-ab49-4c64-9275-a6739c0e3ba8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/480b234b-eea4-4743-ad06-ea0011fe4051/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"50c3ffe0-b4da-4591-a089-da689609d7dc","parent":{"type":"page_id","page_id":"480b234b-eea4-4743-ad06-ea0011fe4051"},"created_time":"2024-08-18T13:43:00.000Z","last_edited_time":"2024-08-18T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"}},{"object":"block","id":"2aaa53ab-595a-44d8-a020-df6677639cb0","parent":{"type":"page_id","page_id":"480b234b-eea4-4743-ad06-ea0011fe4051"},"created_time":"2024-08-18T13:43:00.000Z","last_edited_time":"2024-08-18T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"child_database","child_database":{"title":""}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5a31c823-4e92-4d7f-8d83-b27fab39906a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a31c823-4e92-4d7f-8d83-b27fab39906a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/480b234b-eea4-4743-ad06-ea0011fe4051
  response:
    content: '{"object":"page","id":"480b234b-eea4-4743-ad06-ea0011fe4051","created_time":"2024-08-18T13:43:00.000Z","last_edited_time":"2024-08-18T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-480b234beea44743ad06ea0011fe4051","public_url":null,"request_id":"81a7de4d-a050-4f9f-a411-bccefe5ea1e3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 81a7de4d-a050-4f9f-a411-bccefe5ea1e3
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2aaa53ab-595a-44d8-a020-df6677639cb0
  response:
    content: '{"object":"block","id":"2aaa53ab-595a-44d8-a020-df6677639cb0","parent":{"type":"page_id","page_id":"480b234b-eea4-4743-ad06-ea0011fe4051"},"created_time":"2024-08-18T13:43:00.000Z","last_edited_time":"2024-08-18T13:43:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":""},"request_id":"43b861cb-bdb1-443b-b513-54bc95c3acfe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 43b861cb-bdb1-443b-b513-54bc95c3acfe
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/480b234b-eea4-4743-ad06-ea0011fe4051/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"817ecc18-8969-47b3-a91f-8930cc3f3336"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 817ecc18-8969-47b3-a91f-8930cc3f3336
    status_code: 200
version: 1
