interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for testing max children length", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for testing max children length"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"276974f3-b388-81c5-b350-d6831058d342","created_time":"2025-09-22T09:10:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max children length","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max children length","href":null}]}},"url":"https://www.notion.so/Page-for-testing-max-children-length-276974f3b38881c5b350d6831058d342","public_url":null,"request_id":"96ffeed8-8463-49b5-bb38-e54bb2868a46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 96ffeed8-8463-49b5-bb38-e54bb2868a46
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"a2b5ea3c-8d32-4ee0-b56f-41e2ba26c23c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a2b5ea3c-8d32-4ee0-b56f-41e2ba26c23c
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Paragraph
      0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Paragraph
      0"}}],"color":"default","children":[]}},{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Paragraph
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Paragraph
      5","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Paragraph
      5"}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81c5-b350-d6831058d342/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8165-a1d0-d923624e9c7c","parent":{"type":"page_id","page_id":"276974f3-b388-81c5-b350-d6831058d342"},"created_time":"2025-09-22T09:10:00.000Z","last_edited_time":"2025-09-22T09:10:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Paragraph
      5","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Paragraph
      5","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1f4c1808-130e-47f9-b011-f9fe748868e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1f4c1808-130e-47f9-b011-f9fe748868e7
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","plain_text":"Another
      Paragraph 5","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Another
      Paragraph 5"}}],"color":"default","children":[]}}],"after":"276974f3-b388-81e1-a07f-cfc53e06a6bf"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/276974f3-b388-81c5-b350-d6831058d342/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"276974f3-b388-8101-9f62-eb439ebb72f8","parent":{"type":"page_id","page_id":"276974f3-b388-81c5-b350-d6831058d342"},"created_time":"2025[...]
