interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"158974f3-b388-8192-b934-c24af1c57953","created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-158974f3b3888192b934c24af1c57953","public_url":null,"request_id":"7b3a78a4-a716-40f7-a3b3-c9bb71489782"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7b3a78a4-a716-40f7-a3b3-c9bb71489782
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"020457c2-754d-4705-a546-10a6ad909eaa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 020457c2-754d-4705-a546-10a6ad909eaa
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8192-b934-c24af1c57953/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a4fc839d-f5e6-4784-a771-66fb4c03cf4c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a4fc839d-f5e6-4784-a771-66fb4c03cf4c
    status_code: 200
- request:
    body: '{"children": [{"type": "column_list", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column_list": {"children": [{"type":
      "column", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "column": {"children": []}}, {"type": "column", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "column": {"children": []}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8192-b934-c24af1c57953/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-81f1-91f0-f3fbf2120080","parent":{"type":"page_id","page_id":"158974f3-b388-8192-b934-c24af1c57953"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"05ad0af9-4af3-4d54-8903-83541692b6fd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 05ad0af9-4af3-4d54-8903-83541692b6fd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81f1-91f0-f3fbf2120080/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-8114-954b-c7dc8bc80c61","parent":{"type":"block_id","block_id":"158974f3-b388-81f1-91f0-f3fbf2120080"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}},{"object":"block","id":"158974f3-b388-8162-9b15-ef97da5d2cf5","parent":{"type":"block_id","block_id":"158974f3-b388-81f1-91f0-f3fbf2120080"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"61183834-3672-492d-b6d6-eafde16fa837"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 61183834-3672-492d-b6d6-eafde16fa837
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Column 1", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Column 1"}}], "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8114-954b-c7dc8bc80c[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8114-954b-c7dc8bc80c61
  response:
    content: '{"object":"block","id":"158974f3-b388-8114-954b-c7dc8bc80c61","parent":{"type":"block_id","block_id":"158974f3-b388-81f1-91f0-f3fbf2120080"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"column","column":{},"request_id":"2197edae-6ce0-40cb-a12c-b58e828a58d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2197edae-6ce0-40cb-a12c-b58e828a58d8
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "column", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "column": {"children": []}}], "after":
      "158974f3-b388-8162-9b15-ef97da5d2cf5"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/158974f3-b388-81f1-91f0-f3fbf2120080/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-81e1-a043-dab12b49843f","parent":{"type":"block_id","block_id":"158974f3-b388-81f1-91f0-f3fbf2120080"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"column","column":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d1927791-3c4c-4e5e-9a33-addaa5d3579f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d1927791-3c4c-4e5e-9a33-addaa5d3579f
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/158974f3-b388-8192-b934-c24af1c57953/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"158974f3-b388-81f1-91f0-f3fbf2120080","parent":{"type":"page_id","page_id":"158974f3-b388-8192-b934-c24af1c57953"},"created_time":"2024-12-10T10:39:00.000Z","last_edited_time":"2024-12-10T10:39:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"column_list","column_list":{}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"347ba375-5bdc-4b66-a200-dd6acb8cd9b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 347ba375-5bdc-4b66-a200-dd6acb8cd9b6
    status_code: 200
version: 1
