interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating sync blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for creating sync blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"172974f3-b388-81c4-a206-e5cd3d772551","created_time":"2025-01-05T14:11:00.000Z","last_edited_time":"2025-01-05T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating sync blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating sync blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-sync-blocks-172974f3b38881c4a206e5cd3d772551","public_url":null,"request_id":"8c23d100-7afe-4721-8391-ada6d0dbb12c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8c23d100-7afe-4721-8391-ada6d0dbb12c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-01-05T14:11:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"da04563d-9f14-438c-b0fd-4e26b93d51db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - da04563d-9f14-438c-b0fd-4e26b93d51db
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81c4-a206-e5cd3d772551/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9362b91e-49c5-424e-abe4-1438daeba72a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9362b91e-49c5-424e-abe4-1438daeba72a
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"children": [{"type":
      "paragraph", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "paragraph": {"rich_text": [{"type": "text", "plain_text": "This is a
      synced paragraph", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "This is a synced paragraph"}}], "children": [], "color": "default"}}], "synced_from":
      null}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81c4-a206-e5cd3d772551/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81e0-8e24-fb778631b371","parent":{"type":"page_id","page_id":"172974f3-b388-81c4-a206-e5cd3d772551"},"created_time":"2025-01-05T14:11:00.000Z","last_edited_time":"2025-01-05T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":null}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"06dd05fa-92d0-48a6-83ef-f7dc2b4b71fa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 06dd05fa-92d0-48a6-83ef-f7dc2b4b71fa
    status_code: 200
- request:
    body: '{"children": [{"type": "synced_block", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "synced_block": {"synced_from":
      {"type": "block_id", "block_id": "172974f3-b388-81e0-8e24-fb778631b371"}, "children":
      []}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81c4-a206-e5cd3d772551/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81ae-8b64-f1ac16a88db2","parent":{"type":"page_id","page_id":"172974f3-b388-81c4-a206-e5cd3d772551"},"created_time":"2025-01-05T14:11:00.000Z","last_edited_time":"2025-01-05T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":false,"in_trash":false,"type":"synced_block","synced_block":{"synced_from":{"type":"block_id","block_id":"172974f3-b388-81e0-8e24-fb778631b371"}}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b2e38200-b248-412d-8838-bab880a16968"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b2e38200-b248-412d-8838-bab880a16968
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-81e0-8e24-fb778631b371/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-81f6-9cdc-d78b464e765c","parent":{"type":"block_id","block_id":"172974f3-b388-81e0-8e24-fb778631b371"},"created_time":"2025-01-05T14:11:00.000Z","last_edited_time":"2025-01-05T14:11:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a synced paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a synced paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9c9782c2-25b3-4c9e-990f-ab20ed3723e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9c9782c2-25b3-4c9e-990f-ab20ed3723e2
    status_code: 200
version: 1
