interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying basic blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying basic blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-81fe-8b35-c3029ad93024","created_time":"2025-06-23T13:24:00.000Z","last_edited_time":"2025-06-23T13:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying basic blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying basic blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-basic-blocks-21b974f3b38881fe8b35c3029ad93024","public_url":null,"request_id":"40fe1bf3-74d3-4534-887e-220d6b5d9b81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40fe1bf3-74d3-4534-887e-220d6b5d9b81
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-23T13:24:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"c42a5114-e5fa-42a2-864f-200bec8e1fd6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c42a5114-e5fa-42a2-864f-200bec8e1fd6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81fe-8b35-c3029ad93024/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2d2fc694-ed9f-4b55-a5c2-f248f629ff5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2d2fc694-ed9f-4b55-a5c2-f248f629ff5a
    status_code: 200
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "Red paragraph", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Red paragraph"}}], "children": [], "color": "red"}}, {"type":
      "code", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "code": {"rich_text": [{"type": "text", "plain_text": "print(\"Hello
      World\")", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "print(\"Hello World\")"}}], "caption": [], "language": "python"}}, {"type":
      "heading_1", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "heading_1": {"rich_text": [{"type": "text", "plain_text": "My new page",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false, "color": "default"}, "text": {"content": "My new page"}}],
      "color": "default", "is_toggleable": true}}, {"type": "callout", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "callout": {"rich_text":
      [{"type": "text", "plain_text": "This is a callout", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a callout"}}], "children":
      [], "icon": {"type": "emoji", "emoji": "\ud83d\ude80"}, "color": "default"}},
      {"type": "to_do", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Checked
      item", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Checked item"}}], "checked": true, "children": [], "color": "default"}}, {"type":
      "embed", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}, {"type":
      "bookmark", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "equation", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "equation": {"expression": "-1 = \\exp(i \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81fe-8b35-c3029ad93024/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"21b974f3-b388-8171-af98-cb8f4aad0e20\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"21b974f3-b388-81fe-8b35-c3029ad93024\"},\"created_[...]
- request:
    body: '{"type": "paragraph", "archived": false, "in_trash": false, "paragraph":
      {"rich_text": [{"type": "text", "plain_text": "Red paragraph", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "Red paragraph"}}],
      "color": "pink"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '202[...]
[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a nested paragraph", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "This is a nested paragraph"}}],
      "children": [], "color": "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81da-865b-e9d14bc7f64c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-81d7-9b09-ef9f2972e3df","parent":{"type":"block_id","block_id":"21b974f3-b388-81da-865b-e9d14bc7f64c"},"created_time":"2025-06-23T13:24:00.000Z","last_edited_time":"2025-06-23T13:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a nested paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a nested paragraph","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"03435974-81b7-4573-a20d-a3b0714db24c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03435974-81b7-4573-a20d-a3b0714db24c
    status_code: 200
[...]
- request:
    body: '{"embed": {"url": "https://notion.so", "caption": []}, "type": "embed",
      "archived": false, "in_trash": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3b388812eb54ac8e63206cba7
  response:
    content: '{"object":"block","id":"21b974f3-b388-812e-b54a-c8e63206cba7","parent":{"type":"page_id","page_id":"21b974f3-b388-81fe-8b35-c3029ad93024"},"created_time":"2025-06-23T13:24:00.000Z","last_edited_time":"2025-06-23T13:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"embed","embed":{"caption":[],"url":"https://notion.so"},"request_id":"be45dda6-f286-43f3-b019-36955ba27577"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - be45dda6-f286-43f3-b019-36955ba27577
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-81d6-b113-c85457d74585
  response:
    content: '{"object":"block","id":"21b974f3-b388-81d6-b113-c85457d74585","parent":{"type":"page_id","page_id":"21b974f3-b388-81fe-8b35-c3029ad93024"},"created_time":"2025-06-23T13:24:00.000Z","last_edited_time":"2025-06-23T13:24:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello
      World\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello
      World\")","href":null}],"language":"javascript"},"request_id":"6452e694-d190-4998-b4b4-b325eea761fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6452e694-d190-4998-b4b4-b325eea761fe
    status_code: 200
version: 1
