interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for inserting after and replacing blocks", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "Page for inserting after and replacing
      blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"21b974f3-b388-8180-a3a3-d22535a2da9d","created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for inserting after and replacing blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for inserting after and replacing blocks","href":null}]}},"url":"https://www.notion.so/Page-for-inserting-after-and-replacing-blocks-21b974f3b3888180a3a3d22535a2da9d","public_url":null,"request_id":"9a3c2c10-f5cf-4b57-8f22-bca50dd4d334"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a3c2c10-f5cf-4b57-8f22-bca50dd4d334
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-06-23T13:25:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"81b8a42d-6db0-4b55-b271-2f704579a2ea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 81b8a42d-6db0-4b55-b271-2f704579a2ea
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8180-a3a3-d22535a2da9d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d48f3840-abd1-4cae-aba8-340978213385"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d48f3840-abd1-4cae-aba8-340978213385
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "My new page"}}], "color": "default", "is_toggleable": false}},
      {"type": "link_to_page", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "link_to_page": {"type": "page_id", "page_id": "21b974f3-b388-8119-bad0-d37f6eff0396"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8180-a3a3-d22535a2da9d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-81a2-a7d5-f469f4758bf0","parent":{"type":"page_id","page_id":"21b974f3-b388-8180-a3a3-[...]
- request:
    body: '{"children": [{"type": "paragraph", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "paragraph": {"rich_text": [{"type":
      "text", "plain_text": "This is a paragraph", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false,
      "color": "default"}, "text": {"content": "This is a paragraph"}}], "children":
      [], "color": "default"}}], "after": "21b974f3-b388-81a2-a7d5-f469f4758bf0"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8180-a3a3-d22535a2da9d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-81ba-b666-c9d6c17cc5bc","parent":{"type":"page_id","page_id":"21b974f3-b388-8180-a3a3-d22535a2da9d"},"created_time":"202[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8116-82f2-d84e677197c8
  response:
    content: '{"object":"block","id":"21b974f3-b388-8116-82f2-d84e677197c8","parent":{"type":"page_id","page_id":"21b974f3-b388-8180-a3a3-d22535a2da9d"},"created_time":"2025-06-23T13:25:00.000Z","last_edited_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"in_trash":true,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"21b974f3-b388-8119-bad0-d37f6eff0396"},"request_id":"5c9eff59-b5c3-41f8-83cb-969f258a7766"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5c9eff59-b5c3-41f8-83cb-969f258a7766
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 2, "has_column_header":
      false, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[], []]}}, {"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[], []]}}]}}],
      "after": "21b974f3-b388-81ba-b666-c9d6c17cc5bc"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8180-a3a3-d22535a2da9d/children
  response:
    content: '{"object":"l[...]
- request:
    body: '{"children": [{"type": "divider", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "divider": {}}], "after": "21b974f3-b388-81ba-b666-c9d6c17cc5bc"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-8180-a3a3-d22535a2da9d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-8199-8e89-d51578f55230","parent":{"type":"page_id","page_id":"21b974f3-b388-8180-a3a3-d22535a2da9d"},"cre[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-815f-a2e1-dedde2ad7f80/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"21b974f3-b388-8123-b006-eba430426816","parent":{"type":"block_id","block_id":"21b974f3-b388-815f-a2e1-dedde2ad7f80"},"created_time":"2025-06-23T13:26:00.000Z","last_edited_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}},{"object":"block","id":"21b974f3-b388-81f3-9152-c35d3224bc4f","parent":{"type":"block_id","block_id":"21b974f3-b388-815f-a2e1-dedde2ad7f80"},"created_time":"2025-06-23T13:26:00.000Z","last_edited_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[],[]]}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"ef0d4f95-7dbe-42db-864b-1137edd0e23f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ef0d4f95-7dbe-42db-864b-1137edd0e23f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/21b974f3-b388-815f-a2e1-dedde2ad7f80
  response:
    content: '{"object":"block","id":"21b974f3-b388-815f-a2e1-dedde2ad7f80","parent":{"type":"page_id","page_id":"21b974f3-b388-8180-a3a3-d22535a2da9d"},"created_time":"2025-06-23T13:26:00.000Z","last_edited_time":"2025-06-23T13:26:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":true,"archived":true,"in_trash":true,"type":"table","table":{"table_width":2,"has_column_header":false,"has_row_header":false},"request_id":"1817e80a-273a-4041-a94b-67ad1afa1a8d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1817e80a-273a-4041-a94b-67ad1afa1a8d
    status_code: 200
version: 1
