interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for appending nested children", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for appending nested children"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-814c-8354-ca78a4f177c5","created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending nested children","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending nested children","href":null}]}},"url":"https://www.notion.so/Page-for-appending-nested-children-38a9ce7b60a4814c8354ca78a4f177c5","public_url":null,"archived":false,"request_id":"d6ddb7f0-c964-45ee-81c2-d1f7dbd17705"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6ddb7f0-c964-45ee-81c2-d1f7dbd17705
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"90bc5afd-e3b5-45ff-865a-20a5c07f9f1f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 90bc5afd-e3b5-45ff-865a-20a5c07f9f1f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-814c-8354-ca78a4f177c5/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"0ce45bb2-752d-4b27-b500-2a209cea26b8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0ce45bb2-752d-4b27-b500-2a209cea26b8
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"top\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"top\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-814c-8354-ca78a4f177c5/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-81f4-bd88-c4dc71ed2286\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38a9ce7b-60a4-814c-8354-ca78a4f177c5\"},\"created_time\":\"2026-06-25T14:36:00.000Z\",\"last_edited_time\":\"2026-06-25T14:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"top\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"top\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"default\"},\"archived\":false}],\"next_cursor\":null,\"has_more\":false,\"type\":\"block\",\"block\":{},\"request_id\":\"d10692a0-3a0a-41c3-9441-dd1326b6bf9b\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d10692a0-3a0a-41c3-9441-dd1326b6bf9b
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"mid\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"mid\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81f4-bd88-c4dc71ed2286/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-8116-bd91-f231789356e1\",\"parent\":{\"type\":\"block_id\",\"block_id\":\"38a9ce7b-60a4-81f4-bd88-c4dc71ed2286\"},\"created_time\":\"2026-06-25T14:36:00.000Z\",\"last_edited_time\":\"2026-06-25T14:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"mid\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"mid\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"default\"},\"archived\":false}],\"next_cursor\":null,\"has_more\":false,\"type\":\"block\",\"block\":{},\"request_id\":\"0feae3ea-a118-4027-a7bb-0eb30975dcb6\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0feae3ea-a118-4027-a7bb-0eb30975dcb6
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-814c-8354-ca78a4f177c5/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38a9ce7b-60a4-81f4-bd88-c4dc71ed2286\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38a9ce7b-60a4-814c-8354-ca78a4f177c5\"},\"created_time\":\"2026-06-25T14:36:00.000Z\",\"last_edited_time\":\"2026-06-25T14:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":true,\"in_trash\":false,\"type\":\"callout\",\"callout\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"top\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"top\",\"href\":null}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"},\"color\":\"default\"},\"archived\":false}],\"next_cursor\":null,\"has_more\":false,\"type\":\"block\",\"block\":{},\"request_id\":\"0dda4b7c-fa72-49cf-82b3-e05d30a3a6ca\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0dda4b7c-fa72-49cf-82b3-e05d30a3a6ca
    status_code: 200
version: 1
