interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating nested blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating nested blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8199-ad59-f4a2e9d52c63","created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating nested blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating nested blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-nested-blocks-38c9ce7b60a48199ad59f4a2e9d52c63","public_url":null,"archived":false,"request_id":"df4edd55-bb16-4872-8ed5-7160e2a112e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df4edd55-bb16-4872-8ed5-7160e2a112e2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"ae1babc2-970e-460b-963a-20077883153f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ae1babc2-970e-460b-963a-20077883153f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8199-ad59-f4a2e9d52c63/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2a8a98fa-a7df-4c12-b962-b21bf7de73db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2a8a98fa-a7df-4c12-b962-b21bf7de73db
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"Non-toggleable
      Heading","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Non-toggleable
      Heading"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8199-ad59-f4a2e9d52c63/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81e2-8cef-e7040ea18164","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8199-ad59-f4a2e9d52c63"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Non-toggleable
      Heading","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Non-toggleable
      Heading","href":null}],"is_toggleable":false,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1c6cabbe-2909-44d1-87fb-89c25379f8fc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1c6cabbe-2909-44d1-87fb-89c25379f8fc
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a paragraph","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a paragraph"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81e3-a8a8-f89b31a67423/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-816f-8132-cf6475995fbe","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81e3-a8a8-f89b31a67423"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a paragraph","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a paragraph","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3cc965e8-c3fb-4b6c-930c-0e648b0f85ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3cc965e8-c3fb-4b6c-930c-0e648b0f85ae
    status_code: 200
[...]
