interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Test Local Remote User Mention Block CMP", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Test Local Remote User Mention Block CMP"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2b3974f3-b388-81f9-b97d-cf3c6e9d02b7","created_time":"2025-11-22T21:58:00.000Z","last_edited_time":"2025-11-22T21:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Local Remote User Mention Block CMP","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Local Remote User Mention Block CMP","href":null}]}},"url":"https://www.notion.so/Test-Local-Remote-User-Mention-Block-CMP-2b3974f3b38881f9b97dcf3c6e9d02b7","public_url":null,"request_id":"f75df731-7b85-45d4-bbbd-c665dd8bbf9d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f75df731-7b85-45d4-bbbd-c665dd8bbf9d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-11-22T21:58:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"46bdc914-49d9-404f-a2c4-b0fbe6834dab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 46bdc914-49d9-404f-a2c4-b0fbe6834dab
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-81f9-b97d-cf3c6e9d02b7/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f101c607-ca17-4e34-8937-916b256213db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f101c607-ca17-4e34-8937-916b256213db
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","plain_text":"@b10cb6df-12ef-44d3-88ad-250168f66322","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"user","user":{"id":"b10cb6df-12ef-44d3-88ad-250168f66322","object":"user"}}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-81f9-b97d-cf3c6e9d02b7/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"2b3974f3-b388-81fd-b058-e6a5353a2304","parent":{"type":"page_id","page_id":"2b3974f3-b388-81f9-b97d-cf3c6e9d02b7"},"created_time":"2025-11-22T21:58:00.000Z","last_edited_time":"2025-11-22T21:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Florian
      Wilhelm","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"79a6eb4b-9958-4b4a-ab6e-47a1e47ae3fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 79a6eb4b-9958-4b4a-ab6e-47a1e47ae3fb
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","plain_text":"Page
      5f505199-b292-4713-920b-61d813bf72a3","href":"https://www.notion.so/5f505199-b292-4713-920b-61d813bf72a3","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"page","page":{"id":"5f505199-b292-4713-920b-61d813bf72a3"}}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-81f3-bf27-e7e090242472/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"2b3974f3-b388-8173-95b1-c9e4c14bbafc","parent":{"type":"page_id","page_id":"2b3974f3-b388-81f3-bf27-e7e090242472"},"created_time":"2025-11-22T21:58:00.000Z","last_edited_time":"2025-11-22T21:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"page","page":{"id":"5f505199-b292-4713-920b-61d813bf72a3"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":"https://www.notion.so/5f505199b2924713920b61d813bf72a3"}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7ea8503b-f04f-4587-8f5f-1d4117c6359a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7ea8503b-f04f-4587-8f5f-1d4117c6359a
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","plain_text":"Database
      b0cb6b70-e740-496d-9c81-8a298fa2d5e1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"database","database":{"id":"b0cb6b70-e740-496d-9c81-8a298fa2d5e1"}}}],"color":"default","children":[]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-8140-848f-d747ee4462e8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"2b3974f3-b388-81cb-8c78-f210a4ce643b","parent":{"type":"page_id","page_id":"2b3974f3-b388-8140-848f-d747ee4462e8"},"created_time":"2025-11-22T21:58:00.000Z","last_edited_time":"2025-11-22T21:58:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"database","database":{"id":"b0cb6b70-e740-496d-9c81-8a298fa2d5e1"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      DB","href":"https://www.notion.so/b0cb6b70e740496d9c818a298fa2d5e1"}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4e4b7739-2fdd-4017-824e-208cac882c05"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4e4b7739-2fdd-4017-824e-208cac882c05
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/2b3974f3-b388-81cb-8c78-f210a4ce643b/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"1a138e03-dc2f-4cb4-bc7e-2e7b4469f21b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1a138e03-dc2f-4cb4-bc7e-2e7b4469f21b
    status_code: 200
version: 1
