interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for appending blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for appending blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8114-b301-ddc78a46ec5d","created_time":"2026-06-27T17:13:00.000Z","last_edited_time":"2026-06-27T17:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-38c9ce7b60a48114b301ddc78a46ec5d","public_url":null,"request_id":"e5522a20-79bc-4472-a676-7066f025df61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e5522a20-79bc-4472-a676-7066f025df61
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T17:13:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"request_id":"119fc4a4-1f05-4e83-9357-394de812fa53"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 119fc4a4-1f05-4e83-9357-394de812fa53
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8114-b301-ddc78a46ec5d/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7e711622-32f9-4235-923f-c0b157fd329a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e711622-32f9-4235-923f-c0b157fd329a
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"type":"text","plain_text":"My
      new page","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"My
      new page"}}],"color":"default","is_toggleable":false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8114-b301-ddc78a46ec5d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-817b-ad92-fea02cd752a1","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8114-b301-ddc78a46ec5d"},"created_time":"2026-06-27T17:13:00.000Z","last_edited_time":"2026-06-27T17:13:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4e7b6455-1457-4f1e-a756-e4c16620beb2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4e7b6455-1457-4f1e-a756-e4c16620beb2
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"heading_2","heading_2":{"rich_text":[{"type":"text","plain_text":"Heading
      2","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      2"}}],"color":"default","is_toggleable":false}},{"object":"block","type":"heading_2","heading_2":{"rich_text":[{"type":"text","plain_text":"Heading
      3","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      3"}}],"color":"default"[...]
- request:
    body: '{"children":[{"object":"block","type":"heading_3","heading_3":{"rich_text":[{"type":"text","plain_text":"Heading
      2.1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Heading
      2.1"}}],"color":"red","is_toggleable":true}}],"position":{"type":"after_block","after_block":{"id":"38c9ce7b-60a4-8169-8daa-c4c63d3ea63b"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8114-b301-ddc78a46ec5d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8145-b3d9-e3758d2ec8da","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8114-b301-ddc78a46ec5d"},"created_tim[...]
