interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for appending blocks", "text": {"content": "Page for appending blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1c11a829-ba88-4c41-b160-b80169ec2bed","created_time":"2024-07-09T10:28:00.000Z","last_edited_time":"2024-07-09T10:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-1c11a829ba884c41b160b80169ec2bed","public_url":null,"request_id":"6bf88a34-691f-418f-a6d0-c649a33b51cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"388-vyddpO9aG2V53FVqp8LBT1IZopI"
      x-notion-request-id:
      - 6bf88a34-691f-418f-a6d0-c649a33b51cf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/1c11a829-ba88-4c41-b160-b80169ec2bed/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"22a1a732-794f-45bf-b971-a2d107194e34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-jMbYVxRKltMsdqUn9MZadUWm3S4"
      x-notion-request-id:
      - 22a1a732-794f-45bf-b971-a2d107194e34
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/1c11a829-ba88-4c41-b160-b80169ec2bed/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"c88e083b-4ae0-42e6-9e5d-08df9ea7fa0d","parent":{"type":"page_id","page_id":"1c11a829-ba88-4c41-b160-b80169ec2bed"},"created_time":"2024-07-09T10:28:00.000Z","last_edited_time":"2024-07-09T10:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"My
      new page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page","href":null}],"is_toggleable":false,"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"9c3a3472-2c5e-4c8b-928b-b8f2a0f8b637"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"372-LOq8Pf9tVlUBgCf9dVnwgYFcADA"
      x-notion-request-id:
      - 9c3a3472-2c5e-4c8b-928b-b8f2a0f8b637
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/1c11a829-ba88-4c41-b160-b80169ec2bed
  response:
    content: '{"object":"page","id":"1c11a829-ba88-4c41-b160-b80169ec2bed","created_time":"2024-07-09T10:28:00.000Z","last_edited_time":"2024-07-09T10:28:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for appending blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for appending blocks","href":null}]}},"url":"https://www.notion.so/Page-for-appending-blocks-1c11a829ba884c41b160b80169ec2bed","public_url":null,"request_id":"1bcdbebd-1cb7-4fd0-ad14-867ee6704c0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"388-VrwxcbIN/JdyYiehnfGST20HAIs"
      x-notion-request-id:
      - 1bcdbebd-1cb7-4fd0-ad14-867ee6704c0a
    status_code: 200
[...]
- request:
    body: '{"children": [{"type": "heading_2", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_2": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2", "text": {"content": "Heading 2"}}], "color":
      "default", "is_toggleable": false}}, {"type": "heading_2", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_2": {"rich_text":
      [{"type": "text", "plain_text": "Heading 3", "text": {"content": "Heading 3"}}],
      "color": "default", "is_toggleable": false}}, {"type": "heading_2", "object":
      "block", "has_children": false, "i[...]
- request:
    body: '{"children": [{"type": "heading_3", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_3": {"rich_text": [{"type":
      "text", "plain_text": "Heading 2.1", "text": {"content": "Heading 2.1"}}], "color":
      "red", "is_toggleable": true}}], "after": "9d8cde26-dfdb-4d6f-8b4a-156e711ec27e"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/1c11a829-ba88-4c41-b160-b80169ec2bed/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b9cd0fa7-7f69-42ed-9655-2eaf0ca2a785","parent":{"type":"page_id","page_id":"1c11a829-ba88-4c41-b160-b80169ec2bed"},"created_time":"202[...]
