interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8180-b344-fc438783bfbf","created_time":"2026-06-27T04:48:00.000Z","last_edited_time":"2026-06-27T04:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-38c9ce7b60a48180b344fc438783bfbf","public_url":null,"archived":false,"request_id":"b1b13b99-d884-4baf-aa4a-11c54f556caf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b1b13b99-d884-4baf-aa4a-11c54f556caf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T04:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"ff55f815-6019-4a37-8f09-57043e68f327"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff55f815-6019-4a37-8f09-57043e68f327
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-8180-b344-fc438783bfbf"},
      "properties": {"Name": {"type": "title", "title": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-815f-901d-d20c2900d70e","cover":null,"icon":null,"created_time":"2026-06-27T04:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:48:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8180-b344-fc438783bfbf"},"url":"https://www.notion.so/38c9ce7b60a4815f901dd20c2900d70e","public_url":null,"in_trash":false,"archived":false,"request_id":"4dc0a5ab-2cc9-4f93-b819-f00db932dc87"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4dc0a5ab-2cc9-4f93-b819-f00db932dc87
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8180-b344-fc438783bfbf/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-8175-b96b-f776068f7d8c","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8180-b344-fc438783bfbf"},"created_time":"2026-06-27T04:48:00.000Z","last_edited_time":"2026-06-27T04:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"},"archived":false},{"object":"block","id":"38c9ce7b-60a4-815f-901d-d20c2900d70e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8180-b344-fc438783bfbf"},"created_time":"2026-06-27T04:48:00.000Z","last_edited_time":"2026-06-27T04:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"cdb6b144-dda3-4fee-84d8-efd263eac91a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cdb6b144-dda3-4fee-84d8-efd263eac91a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-815f-901d-d20c2900d70e
  response:
    content: '{"object":"block","id":"38c9ce7b-60a4-815f-901d-d20c2900d70e","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8180-b344-fc438783bfbf"},"created_time":"2026-06-27T04:48:00.000Z","last_edited_time":"2026-06-27T04:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"3bf897f6-fe66-425f-8cc2-4610924a043e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3bf897f6-fe66-425f-8cc2-4610924a043e
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8180-b344-fc438783bfbf/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"30352ac5-10a8-4d15-85c8-6bbd0baa3bfc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 30352ac5-10a8-4d15-85c8-6bbd0baa3bfc
    status_code: 200
version: 1
