interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Autogenerated page", "text": {"content": "Autogenerated page"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"34e1402f-a507-4b80-bf67-ce865a2c181b","created_time":"2024-07-05T11:40:00.000Z","last_edited_time":"2024-07-05T11:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Autogenerated
      page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Autogenerated
      page","href":null}]}},"url":"https://www.notion.so/Autogenerated-page-34e1402fa5074b80bf67ce865a2c181b","public_url":null,"request_id":"0e2ba07b-ab4c-4f10-a68d-2088c9f852e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"373-zYSwcEdQJMowbr8naRaBfLQS+Lk"
      x-notion-request-id:
      - 0e2ba07b-ab4c-4f10-a68d-2088c9f852e1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/34e1402f-a507-4b80-bf67-ce865a2c181b/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"761b9ac5-5d45-46d6-bd03-5b0ce47b92f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"90-ICuCESte7IHqK/KALkmcOTJNKn0"
      x-notion-request-id:
      - 761b9ac5-5d45-46d6-bd03-5b0ce47b92f0
    status_code: 200
- request:
    body: '{"children": [{"type": "heading_1", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "heading_1": {"rich_text": [{"type":
      "text", "plain_text": "My new page", "text": {"content": "My new page"}}], "color":
      "default", "is_toggleable": false}}, {"type": "heading_2", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "heading_2": {"rich_text":
      [{"type": "text", "plain_text": "Heading 2", "text": {"content": "Heading 2"}}],
      "color": "blue", "is_toggleable": false}}, {"type": "paragraph", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "paragraph": {"rich_text":
      [{"type": "text", "plain_text": "This is a paragraph", "text": {"content": "This
      is a paragraph"}}], "color": "default"}}, {"type": "paragraph", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "paragraph": {"rich_text":
      [{"type": "text", "plain_text": "This is coloured paragraph", "text": {"content":
      "This is coloured paragraph"}}], "color": "red"}}, {"type": "code", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "code":
      {"rich_text": [{"type": "text", "plain_text": "print(\"Hello World\")", "text":
      {"content": "print(\"Hello World\")"}}], "caption": [], "language": "python"}},
      {"type": "code", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "code": {"rich_text": [{"type": "text", "plain_text": "SELECT
      * FROM table", "text": {"content": "SELECT * FROM table"}}], "caption": [{"type":
      "text", "plain_text": "SQL Query", "text": {"content": "SQL Query"}}], "language":
      "sql"}}, {"type": "quote", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "quote": {"rich_text": [{"type": "text", "plain_text":
      "This is a quote", "text": {"content": "This is a quote"}}], "color": "default"}},
      {"type": "quote", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "quote": {"rich_text": [{"type": "text", "plain_text": "This
      is a quote with a citation", "text": {"content": "This is a quote with a citation"}}],
      "color": "green"}}, {"type": "callout", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "callout": {"rich_text": [{"type": "text",
      "plain_text": "This is a callout", "text": {"content": "This is a callout"}}],
      "color": "default"}}, {"type": "callout", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "callout": {"rich_text": [{"type":
      "text", "plain_text": "This is a callout with color and icon", "text": {"content":
      "This is a callout with color and icon"}}], "icon": {"type": "emoji", "emoji":
      "\ud83d\ude80"}, "color": "purple"}}, {"type": "callout", "object": "block",
      "has_children": false, "in_trash": false, "archived": false, "callout": {"rich_text":
      [{"type": "text", "plain_text": "This is a another callout with color and icon",
      "text": {"content": "This is a another callout with color and icon"}}], "icon":
      {"type": "emoji", "emoji": "\ud83d\udc4d"}, "color": "yellow"}}, {"type": "bulleted_list_item",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "bulleted_list_item": {"rich_text": [{"type": "text", "plain_text": "First item",
      "text": {"content": "First item"}}], "color": "default"}}, {"type": "bulleted_list_item",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "bulleted_list_item": {"rich_text": [{"type": "text", "plain_text": "Second
      item", "text": {"content": "Second item"}}], "color": "blue"}}, {"type": "numbered_list_item",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "numbered_list_item": {"rich_text": [{"type": "text", "plain_text": "First item",
      "text": {"content": "First item"}}], "color": "default"}}, {"type": "numbered_list_item",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "numbered_list_item": {"rich_text": [{"type": "text", "plain_text": "Second
      item", "text": {"content": "Second item"}}], "color": "red"}}, {"type": "to_do",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "to_do": {"rich_text": [{"type": "text", "plain_text": "First item", "text":
      {"content": "First item"}}], "checked": false, "color": "default"}}, {"type":
      "to_do", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Second item",
      "text": {"content": "Second item"}}], "checked": true, "color": "default"}},
      {"type": "to_do", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "to_do": {"rich_text": [{"type": "text", "plain_text": "Third
      item", "text": {"content": "Third item"}}], "checked": false, "color": "red"}},
      {"type": "toggle", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "toggle": {"rich_text": [{"type": "text", "plain_text": "First
      item", "text": {"content": "First item"}}], "color": "default"}}, {"type": "toggle",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "toggle": {"rich_text": [{"type": "text", "plain_text": "Second item", "text":
      {"content": "Second item"}}], "color": "purple"}}, {"type": "divider", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "divider":
      {}}, {"type": "table_of_contents", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "table_of_contents": {"color": "default"}},
      {"type": "table_of_contents", "object": "block", "has_children": false, "in_trash":
      false, "archived": false, "table_of_contents": {"color": "pink"}}, {"type":
      "breadcrumb", "object": "block", "has_children": false, "in_trash": false, "archived":
      false, "breadcrumb": {}}, {"type": "embed", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "embed", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "embed": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      "caption": [{"type": "text", "plain_text": "Rick Roll", "text": {"content":
      "Rick Roll"}}]}}, {"type": "bookmark", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}},
      {"type": "bookmark", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "bookmark": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      "caption": [{"type": "text", "plain_text": "Rick Roll", "text": {"content":
      "Rick Roll"}}]}}, {"type": "equation", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "equation": {"expression": "-1 = \\exp(i
      \\pi)"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/34e1402f-a507-4b80-bf67-ce865a2c181b/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"86a5ea82-1fad-40b5-bfd4-43d146be68ce\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"34e1402f-a507-4b80-bf67-ce865a2c181b\"},\"cr[...]
