interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying column blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for modifying column blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8105-9109-cbe380452b2c","created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying column blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying column blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-column-blocks-38a9ce7b60a481059109cbe380452b2c","public_url":null,"archived":false,"request_id":"f9f8869e-2f4a-4a42-8a40-33bf9c5b3990"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f9f8869e-2f4a-4a42-8a40-33bf9c5b3990
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"c18490e1-d96d-42ca-a16a-dd6b5a90a801"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c18490e1-d96d-42ca-a16a-dd6b5a90a801
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8105-9109-cbe380452b2c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"22092637-4596-473f-8513-8ca668d8b63c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 22092637-4596-473f-8513-8ca668d8b63c
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"column_list","column_list":{"children":[{"object":"block","type":"column","column":{"children":[]}},{"object":"block","type":"column","column":{"children":[]}}]}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8105-9109-cbe380452b2c/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-814f-bbb8-d930f4098282","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-8105-9109-cbe380452b2c"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8aeadb91-29d8-4b79-9068-ab65f2456dc3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8aeadb91-29d8-4b79-9068-ab65f2456dc3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-814f-bbb8-d930f4098282/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-816e-8ff3-dcf67456a744","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-814f-bbb8-d930f4098282"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{},"archived":false},{"object":"block","id":"38a9ce7b-60a4-812b-9b04-d557f8205172","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-814f-bbb8-d930f4098282"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"857b5cd4-a7fa-4156-a1d9-567a7d0b60e9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 857b5cd4-a7fa-4156-a1d9-567a7d0b60e9
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Column
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Column
      1"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-816e-8ff3-dcf67456a744/children
  response:
    content: '{"object":"list","result[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-816e-8ff3-dcf67456a744
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-816e-8ff3-dcf67456a744","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-814f-bbb8-d930f4098282"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":true,"type":"column","column":{},"archived":true,"request_id":"b5670f9d-a9f1-48d9-b909-af724a680299"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5670f9d-a9f1-48d9-b909-af724a680299
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"column","column":{"children":[]}}],"after":"38a9ce7b-60a4-812b-9b04-d557f8205172"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-814f-bbb8-d930f4098282/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-810e-8472-c797dc776974","parent":{"type":"block_id","block_id":"38a9ce7b-60a4-814f-bbb8-d930f4098282"},"created_time":"2026-06-25T14:36:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"column","column":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f687602c-09f8-4b76-95f4-fdb5c3c476a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f687602c-09f8-4b76-95f4-fdb5c3c476a5
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8105-9109-cbe380452b2c/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-814f-bbb8-d930f4098282","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-8105-9109-cbe380452b2c"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:36:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":true,"in_trash":false,"type":"column_list","column_list":{},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6394e83a-86ec-4bc0-8fa6-3ce234f64844"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6394e83a-86ec-4bc0-8fa6-3ce234f64844
    status_code: 200
version: 1
