interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying table blocks", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying table blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"109974f3-b388-819a-b208-f2d7a57f650f","created_time":"2024-09-22T12:31:00.000Z","last_edited_time":"2024-09-22T12:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-109974f3b388819ab208f2d7a57f650f","public_url":null,"request_id":"6f076ad3-fe1e-42b7-b12d-cfc0b7dbc760"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f076ad3-fe1e-42b7-b12d-cfc0b7dbc760
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/109974f3-b388-819a-b208-f2d7a57f650f/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e70c9604-6cde-4d64-8745-d3872bd3d12c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e70c9604-6cde-4d64-8745-d3872bd3d12c
    status_code: 200
- request:
    body: '{"children": [{"type": "table", "object": "block", "has_children": true,
      "in_trash": false, "archived": false, "table": {"table_width": 3, "has_column_header":
      true, "has_row_header": false, "children": [{"type": "table_row", "object":
      "block", "has_children": false, "in_trash": false, "archived": false, "table_row":
      {"cells": [[{"type": "text", "plain_text": "Cell 0, 0", "annotations": {"bold":
      false, "italic": false, "strikethrough": false, "underline": false, "code":
      false, "color": "default"}, "text": {"content": "Cell 0, 0"}}], [{"type": "text",
      "plain_text": "Cell 0, 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Cell 0, 1"}}], [{"type": "text", "plain_text": "Cell 0, 2", "anno[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/109974f3-b388-819a-b208-f2d7a57f650f
  response:
    content: '{"object":"page","id":"109974f3-b388-819a-b208-f2d7a57f650f","created_time":"2024-09-22T12:31:00.000Z","last_edited_time":"2024-09-22T12:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-109974f3b388819ab208f2d7a57f650f","public_url":null,"request_id":"40ae44af-3367-42c2-bc36-b4ee5ccf3d0d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40ae44af-3367-42c2-bc36-b4ee5ccf3d0d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/1d02e3f8-a992-4000-9c89-7ab36fb15961/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"62d076c1-588b-4a72-aebb-559112705897","parent":{"type":"block_id","block_id":"1d02e3f8-a992-4000-9c89-7ab36fb15961"},"created_time":"2024-09-22T12:31:00.000Z","last_edited_time":"2024-09-22T12:31:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"table_row","table_row":{"cells":[[{"type":"text","text":{"content":"Cell
      0, 0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough[...]
- request:
    body: '{"children": [{"type": "table_row", "object": "block", "has_children":
      false, "in_trash": false, "archived": false, "table_row": {"cells": [[{"type":
      "text", "plain_text": "New Cell 1, 0", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "New Cell 1, 0"}}], [{"type": "text", "plain_text": "New
      Cell 1, 1", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "New Cell 1, 1"}}], [{"type": "text", "plain_text": "New Cell 1, 2", "annotations":
      {"bold": false, "italic": false, "strikethrough": false, "underline": false,
      "code": false, "color": "default"}, "text": {"content": "New Cell 1, 2"}}]]}}],
      "after": "62d076c1-588b-4a72-aebb-559112705897"}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/1d02e3f8-a992-4000-9c89-7ab36fb15961/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"109974f3-b388-81ae-b646-cdebe56e9249","parent":{"type":"block_id","block_id":"1d02e3f8-a992-4000-9c89-7ab36fb15961"},"created_time":"2[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/73c125b6-53fa-4464-afe4-a67f72c0d8a7
  response:
    content: '{"object":"block","id":"73c125b6-53fa-4464-afe4-a67f72c0d8a7","parent":{"type":"block_id","block_id":"1d02e3f8-a992-4000-9c89-7ab36fb15961"},"created_time":"2024-09-22T12:31:00.000Z","last_edited_time":"2024-09-22T12:32:00.000Z","created_by":{"object":"user[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/109974f3-b388-819a-b208-f2d7a57f650f
  response:
    content: '{"object":"page","id":"109974f3-b388-819a-b208-f2d7a57f650f","created_time":"2024-09-22T12:31:00.000Z","last_edited_time":"2024-09-22T12:32:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying table blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying table blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-table-blocks-109974f3b388819ab208f2d7a57f650f","public_url":null,"request_id":"004d1049-7283-4e4b-963d-15b43fd2cdd1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 004d1049-7283-4e4b-963d-15b43fd2cdd1
    status_code: 200
version: 1
