interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for color code block", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for color code block"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"263974f3-b388-81ce-b419-cbf83087207a","created_time":"2025-09-03T13:40:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for color code block","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for color code block","href":null}]}},"url":"https://www.notion.so/Page-for-color-code-block-263974f3b38881ceb419cbf83087207a","public_url":null,"request_id":"83b48c9e-8a13-456b-bf92-72582bf60fc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 83b48c9e-8a13-456b-bf92-72582bf60fc7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"7e22d5fd-e134-4ab8-b727-57cd70a58457"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7e22d5fd-e134-4ab8-b727-57cd70a58457
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81ce-b419-cbf83087207a/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"299526fc-1f14-4dda-842d-6c55be0870c0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 299526fc-1f14-4dda-842d-6c55be0870c0
    status_code: 200
- request:
    body: '{"children":[{"object":"block","has_children":false,"in_trash":false,"archived":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","plain_text":"print(\"Hello,
      world!\")","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"print(\"Hello,
      world!\")"}}],"language":"python"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/263974f3-b388-81ce-b419-cbf83087207a/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"263974f3-b388-814a-a887-fd927dfd54a4","parent":{"type":"page_id","page_id":"263974f3-b388-81ce-b419-cbf83087207a"},"created_time":"2025-09-03T13:40:00.000Z","last_edited_time":"2025-09-03T13:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"code","code":{"caption":[],"rich_text":[{"type":"text","text":{"content":"print(\"Hello,
      world!\")","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"print(\"Hello,
      world!\")","href":null}],"language":"python"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"721aa2c0-cf4c-40dd-8e56-d44bacf02b96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 721aa2c0-cf4c-40dd-8e56-d44bacf02b96
    status_code: 200
version: 1
