interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for testing max nesting level", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for testing max nesting level"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-813e-a730-cf6f6dd92157","created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for testing max nesting level","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for testing max nesting level","href":null}]}},"url":"https://app.notion.com/p/Page-for-testing-max-nesting-level-3899ce7b60a4813ea730cf6f6dd92157","public_url":null,"archived":false,"request_id":"01e50f6d-54b8-431f-96ec-d5bebaad672d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 01e50f6d-54b8-431f-96ec-d5bebaad672d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"d4f71c5e-90e9-406d-9bd4-7a9f2a9fd9d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d4f71c5e-90e9-406d-9bd4-7a9f2a9fd9d9
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"Intro","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Intro"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-813e-a730-cf6f6dd92157/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-81a5-8b48-cb3e4f008b82","parent":{"type":"page_id","page_id":"3899ce7b-60a4-813e-a730-cf6f6dd92157"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Intro","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Intro","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"6a62accc-a65a-4c71-93dd-9be088ac7017"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6a62accc-a65a-4c71-93dd-9be088ac7017
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Point
      0","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Point
      0"}}],"color":"default"}},{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Point
      1","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Point
      1"}}],"[...]
[...]
- request:
    body: '{"children":[{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"children":[],"rich_text":[{"type":"text","plain_text":"Nested
      Point 5","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Nested
      Point 5"}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/3899ce7b-60a4-81fd-841e-d759869bc946/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3899ce7b-60a4-8176-8147-eda58b6fd049","parent":{"type":"block_id","block_id":"3899ce7b-60a4-81fd-841e-d759869bc946"},"created_time":"2026-06-24T16:37:00.000Z","last_edited_time":"2026-06-24T16:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"type":"text","text":{"content":"Nested
      Point 5","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Nested
      Point 5","href":null}],"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"87a19d3e-c741-4af3-ae30-d06599ac16ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87a19d3e-c741-4af3-ae30-d06599ac16ec
    status_code: 200
[...]
