interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Test Local Remote User Mention Block CMP", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Test Local Remote User Mention Block CMP"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-810f-a091-e8d1b739dbe8","created_time":"2026-06-25T14:37:00.000Z","last_edited_time":"2026-06-25T14:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Local Remote User Mention Block CMP","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Local Remote User Mention Block CMP","href":null}]}},"url":"https://www.notion.so/Test-Local-Remote-User-Mention-Block-CMP-38a9ce7b60a4810fa091e8d1b739dbe8","public_url":null,"archived":false,"request_id":"e9403e7e-0887-4997-b9ba-4524a4673f69"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e9403e7e-0887-4997-b9ba-4524a4673f69
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"0809f19c-0c88-46ec-9415-6ae0689e7296"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0809f19c-0c88-46ec-9415-6ae0689e7296
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-810f-a091-e8d1b739dbe8/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d3522638-326f-4c30-8016-8a343804fb25"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d3522638-326f-4c30-8016-8a343804fb25
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"@00000000-0000-4000-8000-0000000000fa","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"user","user":{"id":"00000000-0000-4000-8000-0000000000fa","object":"user"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-810f-a091-e8d1b739dbe8/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-813e-8ef5-dd41d6d072ae","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-810f-a091-e8d1b739dbe8"},"created_time":"2026-06-25T14:37:00.000Z","last_edited_time":"2026-06-25T14:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"user","user":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa","name":"Adam
      Dangoor","avatar_url":null,"type":"person","person":{"email":"adamdangoor@gmail.com"}}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"@Adam
      Dangoor","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"88aadf24-520e-4374-8581-8cf67d0ed022"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 88aadf24-520e-4374-8581-8cf67d0ed022
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"Page
      00000000-0000-4000-8000-000000000001","href":"https://www.notion.so/00000000-0000-4000-8000-000000000001","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000001"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81aa-9e4f-e1c70e569188/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8170-8610-f4d944b15ee7","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81aa-9e4f-e1c70e569188"},"created_time":"2026-06-25T14:37:00.000Z","last_edited_time":"2026-06-25T14:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"page","page":{"id":"00000000-0000-4000-8000-000000000001"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":"https://www.notion.so/00000000000040008000000000000001"}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a66b9215-f20a-47b4-94c9-16ec9cfdadd7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a66b9215-f20a-47b4-94c9-16ec9cfdadd7
    status_code: 200
[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"mention","plain_text":"Database
      00000000-0000-4000-8000-00000000000c","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"mention":{"type":"database","database":{"id":"00000000-0000-4000-8000-00000000000c"}}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81e4-a316-f72f815c571d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-81f6-b371-f9418b94504b","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-81e4-a316-f72f815c571d"},"created_time":"2026-06-25T14:37:00.000Z","last_edited_time":"2026-06-25T14:37:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"database","database":{"id":"00000000-0000-4000-8000-00000000000c"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Task
      DB","href":"https://www.notion.so/0000000000004000800000000000000c"}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"8e03a6f4-eeae-4fe3-911f-b2d68a0a1059"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8e03a6f4-eeae-4fe3-911f-b2d68a0a1059
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81f6-b371-f9418b94504b/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"728f94c3-2627-4f5c-98b1-f8c8ddca3c62"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 728f94c3-2627-4f5c-98b1-f8c8ddca3c62
    status_code: 200
version: 1
