interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for modifying file blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "text": {"content": "Page for modifying file blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"11f974f3-b388-81c4-b9ae-f73400df7e3e","created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for modifying file blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for modifying file blocks","href":null}]}},"url":"https://www.notion.so/Page-for-modifying-file-blocks-11f974f3b38881c4b9aef73400df7e3e","public_url":null,"request_id":"9a62c162-e502-4444-a48e-4024fa7ec6e2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a62c162-e502-4444-a48e-4024fa7ec6e2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81c4-b9ae-f73400df7e3e/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7a782602-96b1-4277-a83e-7c2dac705f68"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7a782602-96b1-4277-a83e-7c2dac705f68
    status_code: 200
- request:
    body: '{"children": [{"type": "file", "object": "block", "has_children": false,
      "in_trash": false, "archived": false, "file": {"type": "external", "name": "robots.txt",
      "external": {"url": "https://www.google.de/robots.txt"}}}, {"type": "image",
      "object": "block", "has_children": false, "in_trash": false, "archived": false,
      "image": {"type": "external", "caption": [{"type": "text", "plain_text": "Path
      on meadow", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false, "color": "default"}, "text": {"content":
      "Path on meadow"}}], "external": {"url": "https://cdn.pixabay.com/photo/2019/08/06/09/16/flowers-4387827_1280.jpg"}}},
      {"type": "video", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "video": {"type": "external", "external": {"url": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"}}},
      {"type": "pdf", "object": "block", "has_children": false, "in_trash": false,
      "archived": false, "pdf": {"type": "external", "external": {"url": "https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81c4-b9ae-f73400df7e3e/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"11f974f3-b388-8128-b973-f994b177f12b","parent":{"type":"page_id","page_[...]
- request:
    body: '{"type": "file", "archived": false, "file": {"name": "my_robot", "caption":
      []}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/11f974f3b3888128b973f994b177f12b
  response:
    content: '{"object":"block","id":"11f974f3-b388-8128-b973-f994b177f12b","parent":{"type":"page_id","page_id":"11f974f3-b388-81c4-b9ae-f73400df7e3e"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"file","file":{"caption":[],"type":"external","external":{"url":"https://www.google.de/robots.txt"},"name":"my_robot.txt"},"request_id":"e303dc90-9509-41d7-8887-475d098deb9d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e303dc90-9509-41d7-8887-475d098deb9d
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/11f974f3-b388-81fd-b292-e0d59f907baf
  response:
    content: '{"object":"block","id":"11f974f3-b388-81fd-b292-e0d59f907baf","parent":{"type":"page_id","page_id":"11f974f3-b388-81c4-b9ae-f73400df7e3e"},"created_time":"2024-10-14T16:40:00.000Z","last_edited_time":"2024-10-14T16:40:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"in_trash":false,"type":"pdf","pdf":{"caption":[{"type":"text","text":{"content":"Dummy
      PDF","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Dummy
      PDF","href":null}],"type":"external","external":{"url":"https://www.iktz-hd.de/fileadmin/user_upload/dummy.pdf"}},"request_id":"d13abf14-b61f-4a57-8985-7bc77bdfd670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d13abf14-b61f-4a57-8985-7bc77bdfd670
    status_code: 200
version: 1
