interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for offline assembly", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for offline assembly"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8196-92d0-cec7bab6334a","created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for offline assembly","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for offline assembly","href":null}]}},"url":"https://www.notion.so/Page-for-offline-assembly-38c9ce7b60a4819692d0cec7bab6334a","public_url":null,"archived":false,"request_id":"f65e395e-7a18-46d1-b0fc-2732c77fb40b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f65e395e-7a18-46d1-b0fc-2732c77fb40b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"40e949f0-cdee-4ec2-86be-4a441b0c29bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40e949f0-cdee-4ec2-86be-4a441b0c29bb
    status_code: 200
- request:
    body: "{\"children\":[{\"object\":\"block\",\"type\":\"paragraph\",\"paragraph\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is the first block.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is the first block.\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"quote\",\"quote\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a quote.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a quote.\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"bulleted_list_item\",\"bulleted_list_item\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a bullet point.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a bullet point.\"}}],\"color\":\"default\"}},{\"object\":\"block\",\"type\":\"callout\",\"callout\":{\"children\":[],\"rich_text\":[{\"type\":\"text\",\"plain_text\":\"This
      is a callout.\",\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false},\"text\":{\"content\":\"This
      is a callout.\"}}],\"color\":\"default\",\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4A1\"}}}]}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8196-92d0-cec7bab6334a/children
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-81f6-873b-c8d3f52694a4\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38c9ce7b-60a4-8196-92d0-cec7bab6334a\"},\"created_time\":\"2026-06-27T05:48:00.000Z\",\"last_edited_time\":\"2026-06-27T05:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"has_children\":false,\"in_trash\":false,\"type\":\"paragraph\",\"paragraph\":{\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"This
      is the first block.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"This
      is the first block.\",\"href\":null}],\"icon\":null,\"color\":\"default\"},\"archived\":false},{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-8146-8999-ed5aaf3828e2\",\"paren[...]
- request:
    body: '{"children":[{"object":"block","type":"paragraph","paragraph":{"children":[],"rich_text":[{"type":"text","plain_text":"This
      is a child paragraph.","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"This
      is a child paragraph."}}],"color":"default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-81f6-873b-c8d3f52694a4/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-81c5-a759-c86e102c504c","parent":{"type":"block_id","block_id":"38c9ce7b-60a4-81f6-873b-c8d3f52694a4"},"created_time":"2026-06-27T05:48:00.000Z","last_edited_time":"2026-06-27T05:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"This
      is a child paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a child paragraph.","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"40d0ec8e-35bf-4982-bbdd-2a3e66279bb1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40d0ec8e-35bf-4982-bbdd-2a3e66279bb1
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8196-92d0-cec7bab6334a/children?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"38c9ce7b-60a4-81f6-873b-c8d3f52694a4\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"38c9ce7b-60a4-8196-92d0-cec7bab6334a\"},\"created_time\":\"2026-06-27T05:48:00.000Z\",[...]
