interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating child blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating child blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8164-b0e0-c7fb521dd347","created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating child blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating child blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-child-blocks-38c9ce7b60a48164b0e0c7fb521dd347","public_url":null,"archived":false,"request_id":"1ba9675b-2864-406a-b46c-50baed86c700"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ba9675b-2864-406a-b46c-50baed86c700
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"6e1acd50-ece0-4445-a97c-7c62bf04aeee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e1acd50-ece0-4445-a97c-7c62bf04aeee
    status_code: 200
[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "38c9ce7b-60a4-8164-b0e0-c7fb521dd347"},
      "is_inline": false, "initial_data_source": {"properties": {"Name": {"type":
      "title", "title": {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d8e3181a-a428-42b8-8ad7-fba023bb696f","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8164-b0e0-c7fb521dd347"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:47:05.317+00:00","last_edited_time":"2026-06-27T05:47:05.317+00:00","data_sources":[{"id":"c82c73bf-f5ba-4bbd-bf42-3c4fdd3c7d63","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/d8e3181aa42842b88ad7fba023bb696f","public_url":null,"archived":false,"request_id":"9009f63e-4c3d-48ad-ac12-7ab024d7acb5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9009f63e-4c3d-48ad-ac12-7ab024d7acb5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/c82c73bf-f5ba-4bbd-bf42-3c4fdd3c7d63
  response:
    content: '{"object":"data_source","id":"c82c73bf-f5ba-4bbd-bf42-3c4fdd3c7d63","cover":null,"icon":null,"created_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:47:00.000Z","title":[],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"d8e3181a-a428-42b8-8ad7-fba023bb696f"},"database_parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8164-b0e0-c7fb521dd347"},"url":"https://www.notion.so/d8e3181aa42842b88ad7fba023bb696f","public_url":null,"in_trash":false,"archived":false,"request_id":"e4d14874-b8bd-49c4-8a1e-e016f3155963"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e4d14874-b8bd-49c4-8a1e-e016f3155963
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8164-b0e0-c7fb521dd347/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38c9ce7b-60a4-814e-9f70-ea04684d5012","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8164-b0e0-c7fb521dd347"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_page","child_page":{"title":"Subpage"},"archived":false},{"object":"block","id":"d8e3181a-a428-42b8-8ad7-fba023bb696f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8164-b0e0-c7fb521dd347"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"child_database","child_database":{"title":"New
      database"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"b5ebbcba-7baf-46c4-ba1f-9154766dfb84"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5ebbcba-7baf-46c4-ba1f-9154766dfb84
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/d8e3181a-a428-42b8-8ad7-fba023bb696f
  response:
    content: '{"object":"database","id":"d8e3181a-a428-42b8-8ad7-fba023bb696f","title":[{"type":"text","text":{"content":"New
      database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"New
      database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8164-b0e0-c7fb521dd347"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:47:05.317+00:00","last_edited_time":"2026-06-27T05:47:05.317+00:00","data_sources":[{"id":"c82c73bf-f5ba-4bbd-bf42-3c4fdd3c7d63","name":"New
      database"}],"icon":null,"cover":null,"url":"https://www.notion.so/d8e3181aa42842b88ad7fba023bb696f","public_url":null,"archived":false,"request_id":"2ded3698-6866-4485-a3ad-1743d8a93a0a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2ded3698-6866-4485-a3ad-1743d8a93a0a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d8e3181a-a428-42b8-8ad7-fba023bb696f
  response:
    content: '{"object":"block","id":"d8e3181a-a428-42b8-8ad7-fba023bb696f","parent":{"type":"page_id","page_id":"38c9ce7b-60a4-8164-b0e0-c7fb521dd347"},"created_time":"2026-06-27T05:47:00.000Z","last_edited_time":"2026-06-27T05:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"New
      database"},"archived":true,"request_id":"cbd9a0d3-0edf-4f4b-ab74-fdf617f50903"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cbd9a0d3-0edf-4f4b-ab74-fdf617f50903
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/38c9ce7b-60a4-8164-b0e0-c7fb521dd347/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"62fb458e-8a9e-4bca-8b42-d3967ad5fa4e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 62fb458e-8a9e-4bca-8b42-d3967ad5fa4e
    status_code: 200
version: 1
