interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "Page for creating link blocks", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "Page for creating link blocks"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38a9ce7b-60a4-8119-ab3c-f3fbaed7a601","created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      for creating link blocks","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      for creating link blocks","href":null}]}},"url":"https://www.notion.so/Page-for-creating-link-blocks-38a9ce7b60a48119ab3cf3fbaed7a601","public_url":null,"archived":false,"request_id":"3668c301-f026-4701-a3f2-71d2daf17d19"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3668c301-f026-4701-a3f2-71d2daf17d19
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"f604f9a1-f766-4463-a377-3bee1749df6b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f604f9a1-f766-4463-a377-3bee1749df6b
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8119-ab3c-f3fbaed7a601/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"cc1e4a29-1947-4ace-931b-42f9abd7ed5c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cc1e4a29-1947-4ace-931b-42f9abd7ed5c
    status_code: 200
- request:
    body: '{"children":[{"object":"block","type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38a9ce7b-60a4-81ae-a15b-d4f0ab876ea2"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-8119-ab3c-f3fbaed7a601/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"38a9ce7b-60a4-8132-b949-cd135211015f","parent":{"type":"page_id","page_id":"38a9ce7b-60a4-8119-ab3c-f3fbaed7a601"},"created_time":"2026-06-25T14:35:00.000Z","last_edited_time":"2026-06-25T14:35:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":false,"type":"link_to_page","link_to_page":{"type":"page_id","page_id":"38a9ce7b-60a4-81ae-a15b-d4f0ab876ea2"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"869b044b-23ff-41ed-98e1-c10be9f86b78"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 869b044b-23ff-41ed-98e1-c10be9f86b78
    status_code: 200
version: 1
