interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/172974f3-b388-808a-8f5b-dfad56f3326c/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"172974f3-b388-8070-9878-faf265a61853","parent":{"type":"page_id","page_id":"172974f3-b388-808a-8f5b-dfad56f3326c"},"created_time":"2025-01-05T11:34:00.000Z","last_edited_time":"2025-01-05T11:34:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"unsupported","unsupported":{}},{"object":"block","id":"172974f3-b388-808c-9983-d57e5ec9404b","parent":{"type":"page_id","page_id":"172974f3-b388-808a-8f5b-dfad56f3326c"},"created_time":"2025-01-05T11:34:00.000Z","last_edited_time":"2025-01-05T11:34:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"57605423-2119-43f4-a690-77a3dc9f9e79"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 57605423-2119-43f4-a690-77a3dc9f9e79
    status_code: 200
version: 1
