interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/core/test_orm.py::test_change_model_title
      (setup)", "text": {"content": "tests/core/test_orm.py::test_change_model_title
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"68ed277a-dcf4-4771-9297-93a267e98347","cover":null,"icon":null,"created_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-30T08:14:00.000Z","title":[{"type":"text","text":{"content":"tests/core/test_orm.py::test_change_model_title
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_orm.py::test_change_model_title
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"B%3FVm","name":"Index","type":"number","number":{"format":"number"}},"Due
      Date":{"id":"OBo%3E","name":"Due Date","type":"date","date":{}},"Tags":{"id":"PGLN","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Notes":{"id":"QB%3FM","name":"Notes","type":"rich_text","rich_text":{}},"Complete":{"id":"_BtG","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/68ed277adcf44771929793a267e98347","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "68ed277a-dcf4-4771-9297-93a267e98347"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"30daa1ef-c5f1-473b-bb84-6ff64c0dd957","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"68ed277a-dcf4-4771-9297-93a267e98347"},"archived":false,"properties":{"Index":{"id":"B%3FVm","type":"number","number":null},"Due
      Date":{"id":"OBo%3E","type":"date","date":null},"Tags":{"id":"PGLN","type":"multi_select","multi_select":[]},"Notes":{"id":"QB%3FM","type":"rich_text","rich_text":[]},"Complete":{"id":"_BtG","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/30daa1efc5f1473bbb846ff64c0dd957"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "First", "text": {"content": "First"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/30daa1efc5f1473bbb846ff64c0dd957
  response:
    content: '{"object":"page","id":"30daa1ef-c5f1-473b-bb84-6ff64c0dd957","created_time":"2022-08-30[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/68ed277adcf44771929793a267e98347
  response:
    content: '{"object":"block","id":"68ed277a-dcf4-4771-9297-93a267e98347","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/core/test_orm.py::test_change_model_title
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
