interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/core/test_records.py::test_create_simple_page (call)", "text": {"content":
      "tests/core/test_records.py::test_create_simple_page (call)"}}]}}, "children":
      [{"type": "heading_1", "object": "block", "has_children": false, "archived":
      false, "heading_1": {"rich_text": [{"type": "text", "plain_text": "Welcome to
      the Matrix", "text": {"content": "Welcome to the Matrix"}}], "color": "default"}},
      {"type": "divider", "object": "block", "has_children": false, "archived": false,
      "divider": {}}, {"type": "paragraph", "object": "block", "has_children": false,
      "archived": false, "paragraph": {"rich_text": [{"type": "text", "plain_text":
      "There is no spoon...", "text": {"content": "There is no spoon..."}}], "color":
      "default"}}]}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4807a19e-797e-4a1e-8176-64a1312c5c8e","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/core/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-core-test_records-py-test_create_simple_page-call-4807a19e797e4a1e817664a1312c5c8e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/blocks/4807a19e797e4a1e817664a1312c5c8e/children?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"block","id":"50d26ed8-7613-435b-9378-8aa0a6b8838e","parent":{"type":"page_id","page_id":"4807a19e-797e-4a1e-8176-64a1312c5c8e"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"rich_text":[{"type":"text","text":{"content":"Welcome
      to the Matrix","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Welcome
      to the Matrix","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"a098e30d-b9f7-4f16-8eba-e23c75bd5aea","parent":{"type":"page_id","page_id":"4807a19e-797e-4a1e-8176-64a1312c5c8e"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"divider","divider":{}},{"object":"block","id":"335e751d-dc81-4e3d-a6c6-29048e091378","parent":{"type":"page_id","page_id":"4807a19e-797e-4a1e-8176-64a1312c5c8e"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"There
      is no spoon...","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"There
      is no spoon...","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/4807a19e797e4a1e817664a1312c5c8e
  response:
    content: '{"object":"page","id":"4807a19e-797e-4a1e-8176-64a1312c5c8e","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/core/test_records.py::test_create_simple_page
      (call)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_records.py::test_create_simple_page
      (call)","href":null}]}},"url":"https://www.notion.so/tests-core-test_records-py-test_create_simple_page-call-4807a19e797e4a1e817664a1312c5c8e"}'
    headers: {}
    status_code: 200
version: 1
