interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/core/test_orm.py::test_simple_model
      (setup)", "text": {"content": "tests/core/test_orm.py::test_simple_model (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ffc4c377-cb7a-4fae-90a3-022ebfb27f49","cover":null,"icon":null,"created_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-30T08:14:00.000Z","title":[{"type":"text","text":{"content":"tests/core/test_orm.py::test_simple_model
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_orm.py::test_simple_model
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"%3EplZ","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"NXHw","name":"Due Date","type":"date","date":{}},"Index":{"id":"n%3DC%3F","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"tDhM","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"~KFx","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/ffc4c377cb7a4fae90a3022ebfb27f49","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "ffc4c377-cb7a-4fae-90a3-022ebfb27f49"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"94a2d31d-3c03-4012-ae6e-a7ad5bac9b61","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"ffc4c377-cb7a-4fae-90a3-022ebfb27f49"},"archived":false,"properties":{"Tags":{"id":"%3EplZ","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"NXHw","type":"date","date":null},"Index":{"id":"n%3DC%3F","type":"number","number":null},"Complete":{"id":"tDhM","type":"checkbox","checkbox":false},"Notes":{"id":"~KFx","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/94a2d31d3c034012ae6ea7ad5bac9b61"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "One&Only", "text": {"content": "One&Only"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/94a2d31d3c034012ae6ea7ad5bac9b61
  response:
    content: '{"object":"page","id":"94a2d31d-3c03-4012-ae6e-a7ad5bac9b61","created_time":"2022[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ffc4c377cb7a4fae90a3022ebfb27f49
  response:
    content: '{"object":"block","id":"ffc4c377-cb7a-4fae-90a3-022ebfb27f49","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/core/test_orm.py::test_simple_model
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
