interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/core/test_orm.py::test_orm_query
      (setup)", "text": {"content": "tests/core/test_orm.py::test_orm_query (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9de48cca-4620-4ba9-a5c2-fd6f7c6311f1","cover":null,"icon":null,"created_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-30T08:14:00.000Z","title":[{"type":"text","text":{"content":"tests/core/test_orm.py::test_orm_query
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_orm.py::test_orm_query
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Due
      Date":{"id":"Eu%3Fv","name":"Due Date","type":"date","date":{}},"Complete":{"id":"VT_i","name":"Complete","type":"checkbox","checkbox":{}},"Tags":{"id":"aBD%3D","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Index":{"id":"iDhb","name":"Index","type":"number","number":{"format":"number"}},"Notes":{"id":"%7BhcJ","name":"Notes","type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/9de48cca46204ba9a5c2fd6f7c6311f1","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "9de48cca-4620-4ba9-a5c2-fd6f7c6311f1"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e1d480ad-a6e4-4a58-80e6-7e9b57f96885","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9de48cca-4620-4ba9-a5c2-fd6f7c6311f1"},"archived":false,"properties":{"Due
      Date":{"id":"Eu%3Fv","type":"date","date":null},"Complete":{"id":"VT_i","type":"checkbox","checkbox":false},"Tags":{"id":"aBD%3D","type":"multi_select","multi_select":[]},"Index":{"id":"iDhb","type":"number","number":null},"Notes":{"id":"%7BhcJ","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/e1d480ada6e44a5880e67e9b57f96885"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "Needle", "text": {"content": "Needle"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/e1d480ada6e44a5880e67e9b57f96885
  response:
    content: '{"object":"page","id":"e1d480ad-a6e4-4a58-80e6-7e9b57f96885","created_time":"2022-08-[...]
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases/9de48cca-4620-4ba9-a5c2-fd6f7c6311f1/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"e1d480ad-a6e4-4a58-80e6-7e9b57f96885","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"9de48cca-4620-4ba9-a5c2-fd6f7c6311f1"},"archived":false,"properties":{"Due
      Date":{"id":"Eu%3Fv","type":"date","date":null},"Complete":{"id":"VT_i","type":"checkbox","checkbox":false},"Tags":{"id":"aBD%3D","type":"multi_select","multi_select":[]},"Index":{"id":"iDhb","type":"number","number":null},"Notes":{"id":"%7BhcJ","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Needle","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Needle","href":null}]}},"url":"https://www.notion.so/Needle-e1d480ada6e44a5880e67e9b57f96885"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9de48cca46204ba9a5c2fd6f7c6311f1
  response:
    content: '{"object":"block","id":"9de48cca-4620-4ba9-a5c2-fd6f7c6311f1","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/core/test_orm.py::test_orm_query
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
