interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/core/test_orm.py::test_orm_icon
      (setup)", "text": {"content": "tests/core/test_orm.py::test_orm_icon (setup)"}}],
      "properties": {"Name": {"type": "title", "title": {}}, "Index": {"type": "number",
      "number": {"format": "number"}}, "Notes": {"type": "rich_text", "rich_text":
      {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date": {"type":
      "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select": {"options":
      []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f5bc21de-d1fa-4a4a-9348-e1afaf1c1ab8","cover":null,"icon":null,"created_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-30T08:14:00.000Z","title":[{"type":"text","text":{"content":"tests/core/test_orm.py::test_orm_icon
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_orm.py::test_orm_icon
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Tags":{"id":"H%7CND","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Due
      Date":{"id":"g%60pH","name":"Due Date","type":"date","date":{}},"Notes":{"id":"oCXe","name":"Notes","type":"rich_text","rich_text":{}},"Index":{"id":"%7DGPw","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"%7DzXD","name":"Complete","type":"checkbox","checkbox":{}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/f5bc21ded1fa4a4a9348e1afaf1c1ab8","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "f5bc21de-d1fa-4a4a-9348-e1afaf1c1ab8"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"de687668-55bc-43a7-bd17-4f5f19b2722d","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"f5bc21de-d1fa-4a4a-9348-e1afaf1c1ab8"},"archived":false,"properties":{"Tags":{"id":"H%7CND","type":"multi_select","multi_select":[]},"Due
      Date":{"id":"g%60pH","type":"date","date":null},"Notes":{"id":"oCXe","type":"rich_text","rich_text":[]},"Index":{"id":"%7DGPw","type":"number","number":null},"Complete":{"id":"%7DzXD","type":"checkbox","checkbox":false},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/de68766855bc43a7bd174f5f19b2722d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83c\udf54"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/de68766855bc43a7bd174f5f19b2722d
  response:
    content: "{\"object\":\"page\",\"id\":\"de687668-55bc-43a7-bd17-4f5f19b2722d\",\"created_time\":\"2022-08-30T08:14:00.000Z\",\"last_edited_time\":\"2022-08-30T08:14:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F354\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"f5bc21de-d1fa-4a4a-9348-e1afaf1c1ab8\"},\"archived\":false,\"properties\":{\"Tags\":{\"id\":\"H%7CND\",\"type\":\"multi_select\",\"multi_select\":[]},\"Due
      Date\":{\"id\":\"g%60pH\",\"type\":\"date\",\"date\":null},\"Notes\":{\"id\":\"oCXe\",\"type\":\"rich_text\",\"rich_text\":[]},\"Index\":{\"id\":\"%7DGPw\",\"type\":\"number\",\"number\":null},\"Complete\":{\"id\":\"%7DzXD\",\"type\":\"checkbox\",\"checkbox\":false},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/de68766855bc43a7bd174f5f19b2722d\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f5bc21ded1fa4a4a9348e1afaf1c1ab8
  response:
    content: '{"object":"block","id":"f5bc21de-d1fa-4a4a-9348-e1afaf1c1ab8","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/core/test_orm.py::test_orm_icon
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
