interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "tests/core/test_records.py::test_create_empty_page (setup)", "text": {"content":
      "tests/core/test_records.py::test_create_empty_page (setup)"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ac1387a4-8ff9-410b-8a9d-5bec3c25411c","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/core/test_records.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_records.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-core-test_records-py-test_create_empty_page-setup-ac1387a48ff9410b8a9d5bec3c25411c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/pages/ac1387a4-8ff9-410b-8a9d-5bec3c25411c
  response:
    content: '{"object":"page","id":"ac1387a4-8ff9-410b-8a9d-5bec3c25411c","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/core/test_records.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_records.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-core-test_records-py-test_create_empty_page-setup-ac1387a48ff9410b8a9d5bec3c25411c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: GET
    uri: https://api.notion.com/v1/blocks/ac1387a48ff9410b8a9d5bec3c25411c/children?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived": true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/ac1387a48ff9410b8a9d5bec3c25411c
  response:
    content: '{"object":"page","id":"ac1387a4-8ff9-410b-8a9d-5bec3c25411c","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":true,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"tests/core/test_records.py::test_create_empty_page
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_records.py::test_create_empty_page
      (setup)","href":null}]}},"url":"https://www.notion.so/tests-core-test_records-py-test_create_empty_page-setup-ac1387a48ff9410b8a9d5bec3c25411c"}'
    headers: {}
    status_code: 200
version: 1
