interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "tests/core/test_orm.py::test_missing_property
      (setup)", "text": {"content": "tests/core/test_orm.py::test_missing_property
      (setup)"}}], "properties": {"Name": {"type": "title", "title": {}}, "Index":
      {"type": "number", "number": {"format": "number"}}, "Notes": {"type": "rich_text",
      "rich_text": {}}, "Complete": {"type": "checkbox", "checkbox": {}}, "Due Date":
      {"type": "date", "date": {}}, "Tags": {"type": "multi_select", "multi_select":
      {"options": []}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"cd4b57ab-98b8-4559-bacf-18153231f688","cover":null,"icon":null,"created_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2022-08-30T08:14:00.000Z","title":[{"type":"text","text":{"content":"tests/core/test_orm.py::test_missing_property
      (setup)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"tests/core/test_orm.py::test_missing_property
      (setup)","href":null}],"description":[],"is_inline":false,"properties":{"Index":{"id":"%3BUea","name":"Index","type":"number","number":{"format":"number"}},"Complete":{"id":"Iy~h","name":"Complete","type":"checkbox","checkbox":{}},"Notes":{"id":"KCs%7D","name":"Notes","type":"rich_text","rich_text":{}},"Due
      Date":{"id":"bWDi","name":"Due Date","type":"date","date":{}},"Tags":{"id":"verB","name":"Tags","type":"multi_select","multi_select":{"options":[]}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/cd4b57ab98b84559bacf18153231f688","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "cd4b57ab-98b8-4559-bacf-18153231f688"},
      "properties": {}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"98b51066-1529-46c5-a444-e6735e33ced4","created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"cd4b57ab-98b8-4559-bacf-18153231f688"},"archived":false,"properties":{"Index":{"id":"%3BUea","type":"number","number":null},"Complete":{"id":"Iy~h","type":"checkbox","checkbox":false},"Notes":{"id":"KCs%7D","type":"rich_text","rich_text":[]},"Due
      Date":{"id":"bWDi","type":"date","date":null},"Tags":{"id":"verB","type":"multi_select","multi_select":[]},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/98b51066152946c5a444e6735e33ced4"}'
    headers: {}
    status_code: 200
- request:
    body: '{"properties": {"Name": {"type": "title", "title": [{"type": "text", "plain_text":
      "MissingProp", "text": {"content": "MissingProp"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-02-22'
    method: PATCH
    uri: https://api.notion.com/v1/pages/98b51066152946c5a444e6735e33ced4
  response:
    content: '{"object":"page","id":"98b51066-1529-46c5-a444-e6735e33ced4","created_time"[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-02-22'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/cd4b57ab98b84559bacf18153231f688
  response:
    content: '{"object":"block","id":"cd4b57ab-98b8-4559-bacf-18153231f688","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2022-08-30T08:14:00.000Z","last_edited_time":"2022-08-30T08:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"tests/core/test_orm.py::test_missing_property
      (setup)"}}'
    headers: {}
    status_code: 200
version: 1
