interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page creation
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page creation test"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}, "Role": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"895f87b0-2185-4641-b0d1-3787b3c991ea","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page creation test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page creation test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:45:58.137+00:00","last_edited_time":"2026-06-27T05:45:58.137+00:00","data_sources":[{"id":"cf789307-32cb-47d1-ba24-d777993c87ca","name":"Contacts
      DB for low-level page creation test"}],"icon":null,"cover":null,"url":"https://www.notion.so/895f87b021854641b0d13787b3c991ea","public_url":null,"archived":false,"request_id":"91c61938-919e-42b3-9ee1-4a5fab9b20ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 91c61938-919e-42b3-9ee1-4a5fab9b20ed
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/cf789307-32cb-47d1-ba24-d777993c87ca
  response:
    content: '{"object":"data_source","id":"cf789307-32cb-47d1-ba24-d777993c87ca","cover":null,"icon":null,"created_time":"2026-06-27T05:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:45:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page creation test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page creation test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"Xahh","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"895f87b0-2185-4641-b0d1-3787b3c991ea"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/895f87b021854641b0d13787b3c991ea","public_url":null,"in_trash":false,"archived":false,"request_id":"c8c5b103-1d14-401e-b83a-acd4c91656e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c8c5b103-1d14-401e-b83a-acd4c91656e8
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "cf789307-32cb-47d1-ba24-d777993c87ca"},
      "properties": {"Role": {"type": "rich_text", "rich_text": [{"type": "text",
      "plain_text": "Carpenter", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Carpenter"}}]},
      "title": {"type": "title", "title": [{"type": "text", "plain_text": "John Doe",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "John Doe"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8168-a74c-e2682e9aecb2","created_time":"2026-06-27T05:45:00.000Z","last_edited_time":"2026-06-27T05:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"cf789307-32cb-47d1-ba24-d777993c87ca","database_id":"895f87b0-2185-4641-b0d1-3787b3c991ea"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"Xahh","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Carpenter","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Carpenter","href":null}]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"John
      Doe","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"John
      Doe","href":null}]}},"url":"https://www.notion.so/John-Doe-38c9ce7b60a48168a74ce2682e9aecb2","public_url":null,"archived":false,"request_id":"485b40cb-9c25-4a03-ba7a-f43934995b69"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 485b40cb-9c25-4a03-ba7a-f43934995b69
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with a cover by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with a cover by obj_api"}}]}}, "cover":
      {"type": "external", "external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8145-a514-cfcc73214e10","created_time":"2026-06-27T05:45:00.000Z","last_edited_time":"2026-06-27T05:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-80[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with an icon by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with an icon by obj_api"}}]}}, "icon":
      {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-81cd-b6c9-ebe1d17672b9\",\"created_time\":\"2026-06-27T05:45:00.000Z\",\"last_edited_time\":\"2026-06-27T05:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_[...]
