interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F601\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"type\":\"files\",\"files\":[]},\"Select\":{\"id\":\"%3Dzw%7C\",\"type\":\"select\",\"select\":null},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\"},\"Created
      by\":{\"id\":\"Bde%5C\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"ID\":{\"id\":\"GIY%3B\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\",\"number\":3}},\"Email\":{\"id\":\"IWgp\",\"type\":\"email\",\"email\":\"mail@nowhere.com\"},\"Date\":{\"id\":\"LG%3AF\",\"type\":\"date\",\"date\":null},\"People\":{\"id\":\"OTkG\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}},{\"object\":\"user\",\"id\":\"118d872b-594c-81ef-aa7a-000271698630\",\"name\":\"Flo-Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm.bot@gmail.com\"}}]},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Checkbox\":{\"id\":\"QxPZ\",\"type\":\"checkbox\",\"checkbox\":false},\"Number\":{\"id\":\"WL%40f\",\"type\":\"number\",\"number\":null},\"Button\":{\"id\":\"Z_NL\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"type\":\"status\",\"status\":{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\"}},\"AI custom\":{\"id\":\"b%5DMq\",\"type\":\"rich_text\",\"rich_text\":[]},\"Text\":{\"id\":\"dNkb\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Lorem
      Ipsum\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Lorem
      Ipsum\",\"href\":null}]},\"AI key info\":{\"id\":\"iGrF\",\"type\":\"rich_text\",\"rich_text\":[]},\"Phone
      number\":{\"id\":\"k%7DwY\",\"type\":\"phone_number\",\"phone_number\":null},\"AI
      summary\":{\"id\":\"p%5CHX\",\"type\":\"rich_text\",\"rich_text\":[]},\"Rollup\":{\"id\":\"pwp_\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"count\"}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"type\":\"last_edited_by\",\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Formula\":{\"id\":\"wsPE\",\"type\":\"formula\",\"formula\":{\"type\":\"number\",\"number\":0}},\"URL\":{\"id\":\"ypoy\",\"type\":\"url\",\"url\":\"https://anywhere.com\"},\"Created
      time\":{\"id\":\"%7CLPX\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Relation\":{\"id\":\"%7CeR%5D\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Multi-Select\":{\"id\":\"~ML%40\",\"type\":\"multi_select\",\"multi_select\":[]},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test_Item\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test_Item\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test_Item-f933ea06653744fc83a096123ffa4b23\",\"public_url\":null}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"017bbf6e-0c75-45d0-a20a-6f2fdb6a7525\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 017bbf6e-0c75-45d0-a20a-6f2fdb6a7525
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3BCha?page_size=100
  response:
    content: '{"object":"property_item","type":"files","id":"%3BCha","files":[],"request_id":"82d4f7df-27c8-4632-bd2c-a7ec71ceae44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 82d4f7df-27c8-4632-bd2c-a7ec71ceae44
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3Dzw%7C?page_size=100
  response:
    content: '{"object":"property_item","type":"select","id":"%3Dzw%7C","select":null,"request_id":"9422bf47-bfa9-4b1d-bf95-0151e2c4682d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9422bf47-bfa9-4b1d-bf95-0151e2c4682d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3D%7B%7BM?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_time","id":"%3D%7B%7BM","last_edited_time":"2025-06-10T17:36:00.000Z","request_id":"ea1c9fc8-48f8-4919-9b9c-92920629b864"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ea1c9fc8-48f8-4919-9b9c-92920629b864
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Bde%5C?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"Bde%5C","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"e884e544-464f-423c-bbd9-e59aa9042883"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e884e544-464f-423c-bbd9-e59aa9042883
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/GIY%3B?page_size=100
  response:
    content: '{"object":"property_item","type":"unique_id","id":"GIY%3B","unique_id":{"prefix":"ABC","number":3},"request_id":"c8c3f817-9992-4453-8b96-7f2bd66df27a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c8c3f817-9992-4453-8b96-7f2bd66df27a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/IWgp?page_size=100
  response:
    content: '{"object":"property_item","type":"email","id":"IWgp","email":"mail@nowhere.com","request_id":"d196673c-0c9d-47e2-a21c-1f2b10326f43"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d196673c-0c9d-47e2-a21c-1f2b10326f43
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/LG%3AF?page_size=100
  response:
    content: '{"object":"property_item","type":"date","id":"LG%3AF","date":null,"request_id":"ed09896a-1304-4010-81b6-1b3443261590"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ed09896a-1304-4010-81b6-1b3443261590
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/OTkG?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"}}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"OTkG","next_url":null,"type":"people","people":{}},"request_id":"8b444013-99a7-4df2-9e6e-f882ea2266b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8b444013-99a7-4df2-9e6e-f882ea2266b9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QYmQ?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"QYmQ","next_url":null,"type":"relation","relation":{}},"request_id":"4e358486-8c63-47ee-add4-0e751320c80f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4e358486-8c63-47ee-add4-0e751320c80f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QxPZ?page_size=100
  response:
    content: '{"object":"property_item","type":"checkbox","id":"QxPZ","checkbox":false,"request_id":"770a4902-32df-479d-90ea-eef6bf803c81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 770a4902-32df-479d-90ea-eef6bf803c81
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/WL%40f?page_size=100
  response:
    content: '{"object":"property_item","type":"number","id":"WL%40f","number":null,"request_id":"04f45209-84ba-4a78-b242-f39e200f2df1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 04f45209-84ba-4a78-b242-f39e200f2df1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Z_NL?page_size=100
  response:
    content: '{"object":"property_item","type":"button","id":"Z_NL","button":{},"request_id":"7c7af011-6d64-45c4-acd5-6e7808e4e621"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7c7af011-6d64-45c4-acd5-6e7808e4e621
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%5Enaj?page_size=100
  response:
    content: '{"object":"property_item","type":"status","id":"%5Enaj","status":{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default"},"request_id":"c4337c8a-e4df-4d04-9a3f-340cbe4c24da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c4337c8a-e4df-4d04-9a3f-340cbe4c24da
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/b%5DMq?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"b%5DMq","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"fe81b325-0dfd-4c4f-a6cf-5e20a2cb84d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fe81b325-0dfd-4c4f-a6cf-5e20a2cb84d4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/dNkb?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"rich_text","id":"dNkb","rich_text":{"type":"text","text":{"content":"Lorem
      Ipsum","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lorem
      Ipsum","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"dNkb","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"98cfc67f-dc0c-4bdb-8652-eaabd9dfb505"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 98cfc67f-dc0c-4bdb-8652-eaabd9dfb505
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/iGrF?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"iGrF","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"08a91901-8d3f-4848-a18a-7a675a6d486c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 08a91901-8d3f-4848-a18a-7a675a6d486c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/k%7DwY?page_size=100
  response:
    content: '{"object":"property_item","type":"phone_number","id":"k%7DwY","phone_number":null,"request_id":"a10bb3fe-ce48-45b9-b365-4b4c90e05448"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a10bb3fe-ce48-45b9-b365-4b4c90e05448
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/p%5CHX?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"p%5CHX","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"ea62dbeb-8e9e-46e5-a91d-513a9bae2a96"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ea62dbeb-8e9e-46e5-a91d-513a9bae2a96
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/pwp_?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"pwp_","next_url":null,"type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"request_id":"6d567cb0-c548-4b23-8ee1-f66738142a50"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6d567cb0-c548-4b23-8ee1-f66738142a50
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/uaO%5E?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_by","id":"uaO%5E","last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"cfed923e-41a2-42a2-a802-40f922554ad2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cfed923e-41a2-42a2-a802-40f922554ad2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/wsPE?page_size=100
  response:
    content: '{"object":"property_item","type":"formula","id":"wsPE","formula":{"type":"number","number":0},"request_id":"516034f9-66d0-4346-9a5e-856ce583c564"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 516034f9-66d0-4346-9a5e-856ce583c564
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/ypoy?page_size=100
  response:
    content: '{"object":"property_item","type":"url","id":"ypoy","url":"https://anywhere.com","request_id":"787a979e-26e7-4964-8d59-f88f9b4d7c29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 787a979e-26e7-4964-8d59-f88f9b4d7c29
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CLPX?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"%7CLPX","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"ba523f8f-4bc8-4a1c-b024-7b412a9eeae4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ba523f8f-4bc8-4a1c-b024-7b412a9eeae4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CeR%5D?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"%7CeR%5D","next_url":null,"type":"relation","relation":{}},"request_id":"a09a16b6-2f03-42cc-b7f5-bfaea17533e4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a09a16b6-2f03-42cc-b7f5-bfaea17533e4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/~ML%40?page_size=100
  response:
    content: '{"object":"property_item","type":"multi_select","id":"~ML%40","multi_select":[],"request_id":"6f88c404-ca66-49b5-a341-e2dc636bd893"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6f88c404-ca66-49b5-a341-e2dc636bd893
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/title?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Test_Item","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test_Item","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}},"request_id":"e5acbb19-165b-4fd7-8e26-db1afe022e05"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e5acbb19-165b-4fd7-8e26-db1afe022e05
    status_code: 200
version: 1
