interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}, "Role": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2b3712e5-45b2-402f-b0c7-f8ae4c439194","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T05:46:00.372+00:00","last_edited_time":"2026-06-27T05:46:00.372+00:00","data_sources":[{"id":"47f9b9ef-0026-4e8b-93a9-25621dcf80b5","name":"Contacts
      DB for low-level page update test"}],"icon":null,"cover":null,"url":"https://www.notion.so/2b3712e545b2402fb0c7f8ae4c439194","public_url":null,"archived":false,"request_id":"811730c9-835e-43c2-a322-b8978c66cca8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 811730c9-835e-43c2-a322-b8978c66cca8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/47f9b9ef-0026-4e8b-93a9-25621dcf80b5
  response:
    content: '{"object":"data_source","id":"47f9b9ef-0026-4e8b-93a9-25621dcf80b5","cover":null,"icon":null,"created_time":"2026-06-27T05:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T05:46:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"J%7C%7Bw","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2b3712e5-45b2-402f-b0c7-f8ae4c439194"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/2b3712e545b2402fb0c7f8ae4c439194","public_url":null,"in_trash":false,"archived":false,"request_id":"874ce24c-b85d-4b5c-92f3-752f275fcdc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 874ce24c-b85d-4b5c-92f3-752f275fcdc0
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "47f9b9ef-0026-4e8b-93a9-25621dcf80b5"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created by obj_api", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created by obj_api"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8112-8051-d4e875368fb0","created_time":"2026-06-27T05:46:00.000Z","last_edited_time":"2026-06-27T05:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"47f9b9ef-0026-4e8b-93a9-25621dcf80b5","database_id":"2b3712e5-45b2-402f-b0c7-f8ae4c439194"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"J%7C%7Bw","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page created by obj_api","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page created by obj_api","href":null}]}},"url":"https://www.notion.so/My-new-page-created-by-obj_api-38c9ce7b60a481128051d4e875368fb0","public_url":null,"archived":false,"request_id":"3c496efe-aabe-41a9-ba06-2c83fb0b75d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c496efe-aabe-41a9-ba06-2c83fb0b75d8
    status_code: 200
- request:
    body: '{"properties":{"Role":{"type":"rich_text","rich_text":[{"type":"text","plain_text":"Carpenter","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Carpenter"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481128051d4e875368fb0
  response:
    c[...]
- request:
    body: '{"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481128051d4e875368fb0
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8112-8051-d4e875368fb0","created_time":"2026-06-27T05:46:00.000Z","last_edited_time":"2026-06-27T05:46:00.000Z","created_by":{"object":"u[...]
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a481128051d4e875368fb0
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-8112-8051-d4e875368fb0\",\"created_time\":\"2026-06-27T05:46:00.000Z\",\"last_edited_time\":\"2026-06-27T05:46:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-[...]
