interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F601\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"type\":\"files\",\"files\":[]},\"Select\":{\"id\":\"%3Dzw%7C\",\"type\":\"select\",\"select\":null},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\"},\"Created
      by\":{\"id\":\"Bde%5C\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"ID\":{\"id\":\"GIY%3B\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\",\"number\":3}},\"Email\":{\"id\":\"IWgp\",\"type\":\"email\",\"email\":\"mail@nowhere.com\"},\"Date\":{\"id\":\"LG%3AF\",\"type\":\"date\",\"date\":null},\"People\":{\"id\":\"OTkG\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}},{\"object\":\"user\",\"id\":\"118d872b-594c-81ef-aa7a-000271698630\",\"name\":\"Flo-Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm.bot@gmail.com\"}}]},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Checkbox\":{\"id\":\"QxPZ\",\"type\":\"checkbox\",\"checkbox\":false},\"Number\":{\"id\":\"WL%40f\",\"type\":\"number\",\"number\":null},\"Button\":{\"id\":\"Z_NL\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"type\":\"status\",\"status\":{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\"}},\"AI custom\":{\"id\":\"b%5DMq\",\"type\":\"rich_text\",\"rich_text\":[]},\"Text\":{\"id\":\"dNkb\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Lorem
      Ipsum\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Lorem
      Ipsum\",\"href\":null}]},\"AI key info\":{\"id\":\"iGrF\",\"type\":\"rich_text\",\"rich_text\":[]},\"Phone
      number\":{\"id\":\"k%7DwY\",\"type\":\"phone_number\",\"phone_number\":null},\"AI
      summary\":{\"id\":\"p%5CHX\",\"type\":\"rich_text\",\"rich_text\":[]},\"Rollup\":{\"id\":\"pwp_\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"count\"}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"type\":\"last_edited_by\",\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Formula\":{\"id\":\"wsPE\",\"type\":\"formula\",\"formula\":{\"type\":\"number\",\"number\":0}},\"URL\":{\"id\":\"ypoy\",\"type\":\"url\",\"url\":\"https://anywhere.com\"},\"Created
      time\":{\"id\":\"%7CLPX\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Relation\":{\"id\":\"%7CeR%5D\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Multi-Select\":{\"id\":\"~ML%40\",\"type\":\"multi_select\",\"multi_select\":[]},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test_Item\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test_Item\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test_Item-f933ea06653744fc83a096123ffa4b23\",\"public_url\":null}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"a96bd17f-127e-4fdc-a54f-c832914ee5cc\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a96bd17f-127e-4fdc-a54f-c832914ee5cc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3BCha?page_size=100
  response:
    content: '{"object":"property_item","type":"files","id":"%3BCha","files":[],"request_id":"d3b1652f-ca0e-4d96-9288-ada19e6ddbf0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d3b1652f-ca0e-4d96-9288-ada19e6ddbf0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3Dzw%7C?page_size=100
  response:
    content: '{"object":"property_item","type":"select","id":"%3Dzw%7C","select":null,"request_id":"d2285f14-9237-427f-bd9d-f518bfd188fe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d2285f14-9237-427f-bd9d-f518bfd188fe
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3D%7B%7BM?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_time","id":"%3D%7B%7BM","last_edited_time":"2025-06-10T17:36:00.000Z","request_id":"afb3668a-8ba5-40a6-a8a0-eef57c630c76"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - afb3668a-8ba5-40a6-a8a0-eef57c630c76
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Bde%5C?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"Bde%5C","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"f0c3ac7b-7dff-4c38-a585-697686563c95"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f0c3ac7b-7dff-4c38-a585-697686563c95
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/GIY%3B?page_size=100
  response:
    content: '{"object":"property_item","type":"unique_id","id":"GIY%3B","unique_id":{"prefix":"ABC","number":3},"request_id":"11662732-d7f3-4557-8064-f1e2b4bc9373"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 11662732-d7f3-4557-8064-f1e2b4bc9373
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/IWgp?page_size=100
  response:
    content: '{"object":"property_item","type":"email","id":"IWgp","email":"mail@nowhere.com","request_id":"3b884994-8b8d-4d45-ab4e-808a26de372e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3b884994-8b8d-4d45-ab4e-808a26de372e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/LG%3AF?page_size=100
  response:
    content: '{"object":"property_item","type":"date","id":"LG%3AF","date":null,"request_id":"6cadccfc-9617-49d0-8318-19b667b3cbc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6cadccfc-9617-49d0-8318-19b667b3cbc0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/OTkG?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"}}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"OTkG","next_url":null,"type":"people","people":{}},"request_id":"b1266eb7-d2db-4bd0-b321-17156b1d40c4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b1266eb7-d2db-4bd0-b321-17156b1d40c4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QYmQ?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"QYmQ","next_url":null,"type":"relation","relation":{}},"request_id":"06c3504d-1039-4c25-8196-580288ef7dc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 06c3504d-1039-4c25-8196-580288ef7dc7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QxPZ?page_size=100
  response:
    content: '{"object":"property_item","type":"checkbox","id":"QxPZ","checkbox":false,"request_id":"f23f3f37-c14a-4a71-8858-dbe54be86ec8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f23f3f37-c14a-4a71-8858-dbe54be86ec8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/WL%40f?page_size=100
  response:
    content: '{"object":"property_item","type":"number","id":"WL%40f","number":null,"request_id":"716da9d0-2ecf-4737-8473-e3925fc9a1e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 716da9d0-2ecf-4737-8473-e3925fc9a1e7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Z_NL?page_size=100
  response:
    content: '{"object":"property_item","type":"button","id":"Z_NL","button":{},"request_id":"80709ee2-954c-4327-bb34-690a77d2c9b1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80709ee2-954c-4327-bb34-690a77d2c9b1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%5Enaj?page_size=100
  response:
    content: '{"object":"property_item","type":"status","id":"%5Enaj","status":{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default"},"request_id":"2d25d165-637d-4edc-83f7-440c844a82b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2d25d165-637d-4edc-83f7-440c844a82b0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/b%5DMq?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"b%5DMq","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"7184570c-1297-4213-9b0d-061ccfdd2358"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7184570c-1297-4213-9b0d-061ccfdd2358
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/dNkb?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"rich_text","id":"dNkb","rich_text":{"type":"text","text":{"content":"Lorem
      Ipsum","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lorem
      Ipsum","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"dNkb","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"8ecadd1a-1833-4378-b5ab-bd4be6ac6b99"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ecadd1a-1833-4378-b5ab-bd4be6ac6b99
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/iGrF?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"iGrF","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"a32f3336-863a-4c6e-8f1c-bf872a2cb764"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a32f3336-863a-4c6e-8f1c-bf872a2cb764
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/k%7DwY?page_size=100
  response:
    content: '{"object":"property_item","type":"phone_number","id":"k%7DwY","phone_number":null,"request_id":"fb62390e-f3a9-49dc-b419-92975e54a6d7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fb62390e-f3a9-49dc-b419-92975e54a6d7
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/p%5CHX?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"p%5CHX","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"7f3dd2fe-26d3-4f98-9b70-20df915a6257"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7f3dd2fe-26d3-4f98-9b70-20df915a6257
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/pwp_?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"pwp_","next_url":null,"type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"request_id":"5a185e5e-1cbf-4588-baf7-b1d50d779963"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a185e5e-1cbf-4588-baf7-b1d50d779963
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/uaO%5E?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_by","id":"uaO%5E","last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"8530873d-4933-45cc-a5a6-a5bfe1b46dc9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8530873d-4933-45cc-a5a6-a5bfe1b46dc9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/wsPE?page_size=100
  response:
    content: '{"object":"property_item","type":"formula","id":"wsPE","formula":{"type":"number","number":0},"request_id":"92e469d8-4fc5-46e9-b4c1-91ab391a686d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 92e469d8-4fc5-46e9-b4c1-91ab391a686d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/ypoy?page_size=100
  response:
    content: '{"object":"property_item","type":"url","id":"ypoy","url":"https://anywhere.com","request_id":"c4a6a97e-c879-4618-a94f-b4244e7a2cee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c4a6a97e-c879-4618-a94f-b4244e7a2cee
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CLPX?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"%7CLPX","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"21fcd9d7-cd86-4705-b480-b3fe99a76501"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 21fcd9d7-cd86-4705-b480-b3fe99a76501
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CeR%5D?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"%7CeR%5D","next_url":null,"type":"relation","relation":{}},"request_id":"7af7254e-c5b7-4871-8aa7-aecec304a826"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7af7254e-c5b7-4871-8aa7-aecec304a826
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/~ML%40?page_size=100
  response:
    content: '{"object":"property_item","type":"multi_select","id":"~ML%40","multi_select":[],"request_id":"a29d99a4-0cc2-42ca-bddf-129eca588080"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a29d99a4-0cc2-42ca-bddf-129eca588080
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/title?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Test_Item","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test_Item","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}},"request_id":"df2f0832-f294-4c45-ba50-02223267eb4c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df2f0832-f294-4c45-ba50-02223267eb4c
    status_code: 200
version: 1
