interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}, "Role": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"04883246-1e51-4bf4-9f5f-7865a796fdfb","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:47:39.953+00:00","last_edited_time":"2026-06-27T16:47:39.953+00:00","data_sources":[{"id":"f6c9c389-ed40-4743-a8b1-497f9e168d2b","name":"Contacts
      DB for low-level page update test"}],"icon":null,"cover":null,"url":"https://www.notion.so/048832461e514bf49f5f7865a796fdfb","public_url":null,"request_id":"dcb9e4c0-9d73-4b9f-919e-c60c95703764"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dcb9e4c0-9d73-4b9f-919e-c60c95703764
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f6c9c389-ed40-4743-a8b1-497f9e168d2b
  response:
    content: '{"object":"data_source","id":"f6c9c389-ed40-4743-a8b1-497f9e168d2b","cover":null,"icon":null,"created_time":"2026-06-27T16:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:47:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"HTpB","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"04883246-1e51-4bf4-9f5f-7865a796fdfb"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/048832461e514bf49f5f7865a796fdfb","public_url":null,"in_trash":false,"request_id":"09792eae-a3a9-4bea-a4a6-d9595620dff6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 09792eae-a3a9-4bea-a4a6-d9595620dff6
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "f6c9c389-ed40-4743-a8b1-497f9e168d2b"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created by obj_api", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created by obj_api"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-812e-a46c-f720657a3160","created_time":"2026-06-27T16:47:00.000Z","last_edited_time":"2026-06-27T16:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"f6c9c389-ed40-4743-a8b1-497f9e168d2b","database_id":"04883246-1e51-4bf4-9f5f-7865a796fdfb"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"HTpB","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page created by obj_api","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page created by obj_api","href":null}]}},"url":"https://www.notion.so/My-new-page-created-by-obj_api-38c9ce7b60a4812ea46cf720657a3160","public_url":null,"request_id":"03d6023d-1352-4767-887d-39cb87d9e02d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03d6023d-1352-4767-887d-39cb87d9e02d
    status_code: 200
- request:
    body: '{"properties":{"Role":{"type":"rich_text","rich_text":[{"type":"text","plain_text":"Carpenter","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Carpenter"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a4812ea46cf720657a3160
  response:
    c[...]
- request:
    body: '{"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a4812ea46cf720657a3160
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-812e-a46c-f720657a3160","created_time":"2026-06-27T16:47:00.000Z","last_edited_time":"2026-06-27T16:47:00.000Z","created_by":{"object":"u[...]
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a4812ea46cf720657a3160
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-812e-a46c-f720657a3160\",\"created_time\":\"2026-06-27T16:47:00.000Z\",\"last_edited_time\":\"2026-06-27T16:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-[...]
