interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "properties": {"Name": {"type": "title", "title": {}},
      "Role": {"type": "rich_text", "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-810d-b7a7-fc0a6abd2c0f","cover":null,"icon":null,"created_time":"2025-10-30T15:32:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:32:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"UtZF","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b388810db7a7fc0a6abd2c0f","public_url":null,"archived":false,"in_trash":false,"request_id":"073a8b59-c777-4866-a603-9ddd5b004012"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 073a8b59-c777-4866-a603-9ddd5b004012
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-810d-b7a7-fc0a6abd2c0f"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created by obj_api", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created by obj_api"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-81fc-8663-e0e8e2c8e68d","created_time":"2025-10-30T15:32:00.000Z","last_edited_time":"2025-10-30T15:32:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-810d-b7a7-fc0a6abd2c0f"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Role":{"id":"UtZF","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page created by obj_api","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page created by obj_api","href":null}]}},"url":"https://www.notion.so/My-new-page-created-by-obj_api-29c974f3b38881fc8663e0e8e2c8e68d","public_url":null,"request_id":"d485c21f-c60e-4dbc-b910-5184ee4444c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d485c21f-c60e-4dbc-b910-5184ee4444c6
    status_code: 200
- request:
    body: '{"properties":{"Role":{"type":"rich_text","rich_text":[{"type":"text","plain_text":"Carpenter","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Carpenter"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b38881fc8663e0e8e2c8e68d
  response:
    c[...]
- request:
    body: '{"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b38881fc8663e0e8e2c8e68d
  response:
    content: '{"object":"page","id":"29c974f3-b388-81fc-8663-e0e8e2c8e68d","created_time":"2025-10-30T15:32:00.000Z","last_edited_time":"2025-10-30T15:32:00.000Z","created_by":{"object":"u[...]
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/29c974f3b38881fc8663e0e8e2c8e68d
  response:
    content: "{\"object\":\"page\",\"id\":\"29c974f3-b388-81fc-8663-e0e8e2c8e68d\",\"created_time\":\"2025-10-30T15:32:00.000Z\",\"last_edited_time\":\"2025-10-30T15:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-[...]
