interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-000000000009/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c","created_time":"2026-06-26T13:45:00.000Z","last_edited_time":"2026-06-26T13:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"00000000-0000-4000-8000-000000000009"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Text":{"id":"%3FB%3AW","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Text
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      2","href":null}]},"Files":{"id":"%3FbAF","type":"files","files":[]},"Phone number":{"id":"%3F~%5Cw","type":"phone_number","phone_number":null},"URL":{"id":"CWCZ","type":"url","url":null},"Button":{"id":"ImzP","type":"button","button":{}},"Checkbox":{"id":"LGzq","type":"checkbox","checkbox":true},"Multi-Select":{"id":"RIfI","type":"multi_select","multi_select":[]},"AI
      summary":{"id":"UJxn","type":"rich_text","rich_text":[]},"Created by":{"id":"Ur%5DX","type":"created_by","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1","name":"Ultimate
      Notion Tests","avatar_url":null,"type":"bot","bot":{}}},"Rollup":{"id":"WYH%3A","type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"AI
      custom":{"id":"Z~ZY","type":"rich_text","rich_text":[]},"Number":{"id":"dDR%3B","type":"number","number":2},"AI
      key info":{"id":"dqam","type":"rich_text","rich_text":[]},"ID":{"id":"gY%7BP","type":"unique_id","unique_id":{"prefix":null,"number":3}},"Select":{"id":"grew","type":"select","select":null},"Status":{"id":"hlY%3D","type":"status","status":{"id":"1c994aad-fc1f-46d0-b322-51b2b2cb7e6f","name":"Not
      started","color":"default"}},"Relation two-way":{"id":"iywx","type":"relation","relation":[],"has_more":false},"Formula":{"id":"jeun","type":"formula","formula":{"type":"string","string":null}},"Created
      time":{"id":"kRv%7B","type":"created_time","created_time":"2026-06-26T13:45:00.000Z"},"Last
      edited time":{"id":"kX%3Fw","type":"last_edited_time","last_edited_time":"2026-06-26T13:45:00.000Z"},"Place":{"id":"rulX","type":"place","place":null},"Date":{"id":"uUxQ","type":"date","date":null},"Relation":{"id":"v_%5D%3C","type":"relation","relation":[],"has_more":false},"Email":{"id":"wua%3F","type":"email","email":null},"People":{"id":"~ak%40","type":"people","people":[]},"Last
      edited by":{"id":"~e%3F%5E","type":"last_edited_by","last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1","name":"Ultimate
      Notion Tests","avatar_url":null,"type":"bot","bot":{}}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}]}},"url":"https://www.notion.so/Item-2-38b9ce7b60a4810aa3e0d0c7fde33f0c","public_url":null,"archived":false},{"object":"page","id":"38b9ce7b-60a4-81b3-80cb-df63cbb9d090","created_time":"2026-06-26T13:45:00.000Z","last_edited_time":"2026-06-26T13:45:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"00000000-0000-4000-8000-000000000009"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Text":{"id[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/00000000-0000-4000-8000-000000000009
  response:
    content: '{"object":"database","id":"00000000-0000-4000-8000-000000000009","cover":null,"icon":null,"created_time":"2026-06-18T16:50:00.000Z","created_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_by":{"object":"user","id":"fc820d21-80ec-4d06-878c-f991bc8070d2"},"last_edited_time":"2026-06-18T17:11:00.000Z","title":[{"type":"text","text":{"content":"All
      Properties DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Properties DB","href":null}],"description":[],"is_inline":false,"properties":{"Text":{"id":"%3FB%3AW","name":"Text","description":null,"type":"rich_text","rich_text":{}},"Files":{"id":"%3FbAF","name":"Files","description":null,"type":"files","files":{}},"Phone
      number":{"id":"%3F~%5Cw","name":"Phone number","description":null,"type":"phone_number","phone_number":{}},"URL":{"id":"CWCZ","name":"URL","description":null,"type":"url","url":{}},"Button":{"id":"ImzP","name":"Button","description":null,"type":"button","button":{}},"Checkbox":{"id":"LGzq","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Multi-Select":{"id":"RIfI","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"0a1263f2-e675-48f0-b60b-2cf6906cb64c","name":"MultiOption1","color":"purple","description":null},{"id":"af12f1e2-a65a-402d-ad82-bf58c9fed1f8","name":"MultiOption2","color":"yellow","description":null}]}},"AI
      summary":{"id":"UJxn","name":"AI summary","description":null,"type":"rich_text","rich_text":{}},"Created
      by":{"id":"Ur%5DX","name":"Created by","description":null,"type":"created_by","created_by":{}},"Rollup":{"id":"WYH%3A","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Title","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"v_]<","function":"count"}},"AI
      custom":{"id":"Z~ZY","name":"AI custom","description":null,"type":"rich_text","rich_text":{}},"Number":{"id":"dDR%3B","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"AI
      key info":{"id":"dqam","name":"AI key info","description":null,"type":"rich_text","rich_text":{}},"ID":{"id":"gY%7BP","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":null}},"Select":{"id":"grew","name":"Select","description":null,"type":"select","select":{"options":[{"id":"1afcbc88-118b-4b7d-9f7e-715984b6bf37","name":"Option1","color":"default","description":null},{"id":"5dd65633-bb85-47ca-baf9-be4d800c498a","name":"Option2","color":"red","description":null}]}},"Status":{"id":"hlY%3D","name":"Status","description":null,"type":"status","status":{"options":[{"id":"1c994aad-fc1f-46d0-b322-51b2b2cb7e6f","name":"Not
      started","color":"default","description":null},{"id":"2f1c6db3-2259-4acb-829c-8cdc98d9913e","name":"In
      progress","color":"blue","description":null},{"id":"25c77ace-e80e-4e12-98b8-3b765796e68b","name":"Done","color":"green","description":null}],"groups":[{"id":"8b3ca9c2-089f-41da-a500-f448ad804a0e","name":"To-do","color":"gray","option_ids":["1c994aad-fc1f-46d0-b322-51b2b2cb7e6f"]},{"id":"9e5ecb96-f57e-465a-bff5-f851ecd7c2ca","name":"In
      progress","color":"blue","option_ids":["2f1c6db3-2259-4acb-829c-8cdc98d9913e"]},{"id":"9dc509c2-f12c-4c5d-ba00-43e099ba8f99","name":"Complete","color":"green","option_ids":["25c77ace-e80e-4e12-98b8-3b765796e68b"]}]}},"Relation
      two-way":{"id":"iywx","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"00000000-0000-4000-8000-000000000009","data_source_id":"3839ce7b-60a4-802c-b152-000ba814957b","type":"dual_property","dual_property":{"synced_property_name":"Relation","synced_property_id":"v_%5D%3C"}}},"Formula":{"id":"jeun","name":"Formula","description":null,"type":"formula","formula":{"expression":"={{notion:block_property:dDR%3B:00000000-0000-0000-0000-000000000000:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}}*
      2"}},"Created time":{"id":"kRv%7B","name":"Created time","description":null,"type":"created_time","created_time":{}},"Last
      edited time":{"id":"kX%3Fw","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Place":{"id":"rulX","name":"Place","description":null,"type":"place","place":{}},"Date":{"id":"uUxQ","name":"Date","description":null,"type":"date","date":{}},"Relation":{"id":"v_%5D%3C","name":"Relation","description":null,"type":"relation","relation":{"database_id":"00000000-0000-4000-8000-000000000009","data_source_id":"3839ce7b-60a4-802c-b152-000ba814957b","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"iywx"}}},"Email":{"id":"wua%3F","name":"Email","description":null,"type":"email","email":{}},"People":{"id":"~ak%40","name":"People","description":null,"type":"people","people":{}},"Last
      edited by":{"id":"~e%3F%5E","name":"Last edited by","description":null,"type":"last_edited_by","last_edited_by":{}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/00000000000040008000000000000009","public_url":null,"in_trash":false,"archived":false,"request_id":"5d36fad2-8b88-47f7-a7f7-5f1ebf4b0c61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5d36fad2-8b88-47f7-a7f7-5f1ebf4b0c61
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/%3FB%3AW?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"rich_text","id":"%3FB%3AW","rich_text":{"type":"text","text":{"content":"Text
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Text
      2","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"%3FB%3AW","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"0511c96c-da22-45a7-a44f-d047f2c1ce10"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0511c96c-da22-45a7-a44f-d047f2c1ce10
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/%3FbAF?page_size=100
  response:
    content: '{"object":"property_item","type":"files","id":"%3FbAF","files":[],"request_id":"174a7c0c-e078-4ecf-9131-091524661b95"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 174a7c0c-e078-4ecf-9131-091524661b95
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/%3F~%5Cw?page_size=100
  response:
    content: '{"object":"property_item","type":"phone_number","id":"%3F~%5Cw","phone_number":null,"request_id":"816bc4de-c234-46a0-ae33-2ed55d7ace4c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 816bc4de-c234-46a0-ae33-2ed55d7ace4c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/CWCZ?page_size=100
  response:
    content: '{"object":"property_item","type":"url","id":"CWCZ","url":null,"request_id":"02630482-a207-48c1-81ec-0e8b21996ab2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 02630482-a207-48c1-81ec-0e8b21996ab2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/ImzP?page_size=100
  response:
    content: '{"object":"property_item","type":"button","id":"ImzP","button":{},"request_id":"f1c043b1-9a96-4c0e-acb3-1f563c25e5d8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f1c043b1-9a96-4c0e-acb3-1f563c25e5d8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/LGzq?page_size=100
  response:
    content: '{"object":"property_item","type":"checkbox","id":"LGzq","checkbox":true,"request_id":"4f2540c1-f3a7-4498-92aa-f70684195271"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4f2540c1-f3a7-4498-92aa-f70684195271
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/RIfI?page_size=100
  response:
    content: '{"object":"property_item","type":"multi_select","id":"RIfI","multi_select":[],"request_id":"7bfbec61-3357-4df1-86c4-f2bff101c8df"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7bfbec61-3357-4df1-86c4-f2bff101c8df
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/UJxn?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"UJxn","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"4aca31f4-b8dd-489d-8a94-92cca4ba5985"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4aca31f4-b8dd-489d-8a94-92cca4ba5985
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/Ur%5DX?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"Ur%5DX","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1","name":"Ultimate
      Notion Tests","avatar_url":null,"type":"bot","bot":{}},"request_id":"d757983f-6c37-4433-9118-18a5533ab572"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d757983f-6c37-4433-9118-18a5533ab572
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/WYH%3A?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"WYH%3A","next_url":null,"type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"request_id":"d9ef5eb8-ba86-4eb7-b706-fa09aacdb7aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d9ef5eb8-ba86-4eb7-b706-fa09aacdb7aa
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/Z~ZY?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"Z~ZY","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"859fa8ce-b062-4abd-97cb-6e03d4f06bee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 859fa8ce-b062-4abd-97cb-6e03d4f06bee
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/dDR%3B?page_size=100
  response:
    content: '{"object":"property_item","type":"number","id":"dDR%3B","number":2,"request_id":"c6c3f319-5b14-41cb-a3ea-5acaef1392c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c6c3f319-5b14-41cb-a3ea-5acaef1392c2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/dqam?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"dqam","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"5e576681-578c-4ea4-b1ee-cef6021e78cd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5e576681-578c-4ea4-b1ee-cef6021e78cd
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/gY%7BP?page_size=100
  response:
    content: '{"object":"property_item","type":"unique_id","id":"gY%7BP","unique_id":{"prefix":null,"number":3},"request_id":"1c95559e-4478-4ec8-8895-a0a9543b0e29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1c95559e-4478-4ec8-8895-a0a9543b0e29
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/grew?page_size=100
  response:
    content: '{"object":"property_item","type":"select","id":"grew","select":null,"request_id":"b5048ca8-c926-4e68-a47a-7715c8452e50"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5048ca8-c926-4e68-a47a-7715c8452e50
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/hlY%3D?page_size=100
  response:
    content: '{"object":"property_item","type":"status","id":"hlY%3D","status":{"id":"1c994aad-fc1f-46d0-b322-51b2b2cb7e6f","name":"Not
      started","color":"default"},"request_id":"198390be-4080-42d9-a4bb-116fd067dd6a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 198390be-4080-42d9-a4bb-116fd067dd6a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/iywx?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"iywx","next_url":null,"type":"relation","relation":{}},"request_id":"0ad7cb1c-f550-4832-a878-99757109cacc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0ad7cb1c-f550-4832-a878-99757109cacc
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/jeun?page_size=100
  response:
    content: '{"object":"property_item","type":"formula","id":"jeun","formula":{"type":"string","string":null},"request_id":"dac5e7ec-9c36-4663-8aba-39466a279571"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dac5e7ec-9c36-4663-8aba-39466a279571
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/kRv%7B?page_size=100
  response:
    content: '{"object":"property_item","type":"created_time","id":"kRv%7B","created_time":"2026-06-26T13:45:00.000Z","request_id":"6b7357e1-640c-422a-9d8b-651b0e7f5d87"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6b7357e1-640c-422a-9d8b-651b0e7f5d87
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/kX%3Fw?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_time","id":"kX%3Fw","last_edited_time":"2026-06-26T13:45:00.000Z","request_id":"aeaac1c1-d39e-4e18-af1d-b7c8f79a427a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - aeaac1c1-d39e-4e18-af1d-b7c8f79a427a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/rulX?page_size=100
  response:
    content: '{"object":"property_item","type":"place","id":"rulX","place":null,"request_id":"e4313a46-5476-45b2-9caf-c0bd8a3fa7e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e4313a46-5476-45b2-9caf-c0bd8a3fa7e0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/uUxQ?page_size=100
  response:
    content: '{"object":"property_item","type":"date","id":"uUxQ","date":null,"request_id":"c5456165-7685-40c4-872d-ddfced23aaf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c5456165-7685-40c4-872d-ddfced23aaf8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/v_%5D%3C?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"v_%5D%3C","next_url":null,"type":"relation","relation":{}},"request_id":"b3cbb2e5-c63d-48d4-ad1d-c9200aeb83a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b3cbb2e5-c63d-48d4-ad1d-c9200aeb83a9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/wua%3F?page_size=100
  response:
    content: '{"object":"property_item","type":"email","id":"wua%3F","email":null,"request_id":"077a7d92-a193-483d-8058-a4a8b110a1bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 077a7d92-a193-483d-8058-a4a8b110a1bf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/~ak%40?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"~ak%40","next_url":null,"type":"people","people":{}},"request_id":"704345b1-6524-428d-ab5e-c6ae4a93dc0c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 704345b1-6524-428d-ab5e-c6ae4a93dc0c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/~e%3F%5E?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_by","id":"~e%3F%5E","last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1","name":"Ultimate
      Notion Tests","avatar_url":null,"type":"bot","bot":{}},"request_id":"cedc7776-5cb2-48f4-86ce-b38af7ce3dd9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cedc7776-5cb2-48f4-86ce-b38af7ce3dd9
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/38b9ce7b-60a4-810a-a3e0-d0c7fde33f0c/properties/title?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Item
      2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Item
      2","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}},"request_id":"4b327843-c990-4336-892f-27efeb92ed70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4b327843-c990-4336-892f-27efeb92ed70
    status_code: 200
version: 1
