interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-10-02T19:00:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F601\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"type\":\"files\",\"files\":[]},\"Select\":{\"id\":\"%3Dzw%7C\",\"type\":\"select\",\"select\":null},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2025-10-02T19:00:00.000Z\"},\"Created
      by\":{\"id\":\"Bde%5C\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"ID\":{\"id\":\"GIY%3B\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\",\"number\":3}},\"Email\":{\"id\":\"IWgp\",\"type\":\"email\",\"email\":\"mail@nowhere.com\"},\"Date\":{\"id\":\"LG%3AF\",\"type\":\"date\",\"date\":null},\"Place\":{\"id\":\"MU%5D%3B\",\"type\":\"place\",\"place\":null},\"People\":{\"id\":\"OTkG\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}},{\"object\":\"user\",\"id\":\"118d872b-594c-81ef-aa7a-000271698630\",\"name\":\"Flo-Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm.bot@gmail.com\"}}]},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Checkbox\":{\"id\":\"QxPZ\",\"type\":\"checkbox\",\"checkbox\":false},\"Number\":{\"id\":\"WL%40f\",\"type\":\"number\",\"number\":null},\"Button\":{\"id\":\"Z_NL\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"type\":\"status\",\"status\":{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\"}},\"AI custom\":{\"id\":\"b%5DMq\",\"type\":\"rich_text\",\"rich_text\":[]},\"Text\":{\"id\":\"dNkb\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Lorem
      Ipsum\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Lorem
      Ipsum\",\"href\":null}]},\"AI key info\":{\"id\":\"iGrF\",\"type\":\"rich_text\",\"rich_text\":[]},\"Phone
      number\":{\"id\":\"k%7DwY\",\"type\":\"phone_number\",\"phone_number\":null},\"AI
      summary\":{\"id\":\"p%5CHX\",\"type\":\"rich_text\",\"rich_text\":[]},\"Rollup\":{\"id\":\"pwp_\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"count\"}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"type\":\"last_edited_by\",\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Formula\":{\"id\":\"wsPE\",\"type\":\"formula\",\"formula\":{\"type\":\"number\",\"number\":0}},\"URL\":{\"id\":\"ypoy\",\"type\":\"url\",\"url\":\"https://anywhere.com\"},\"Created
      time\":{\"id\":\"%7CLPX\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Relation\":{\"id\":\"%7CeR%5D\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Multi-Select\":{\"id\":\"~ML%40\",\"type\":\"multi_select\",\"multi_select\":[]},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test_Item\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test_Item\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test_Item-f933ea06653744fc83a096123ffa4b23\",\"public_url\":null}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"43a0f930-6840-4951-80ab-ba9fefed2efa\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 43a0f930-6840-4951-80ab-ba9fefed2efa
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8
  response:
    content: '{"object":"database","id":"4fa8756f-a0da-4efe-9c48-4d6a323b69f8","cover":null,"icon":null,"created_time":"2023-08-12T12:22:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-10-02T19:00:00.000Z","title":[{"type":"text","text":{"content":"All
      Properties DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"All
      Properties DB","href":null}],"description":[],"is_inline":false,"properties":{"Files":{"id":"%3BCha","name":"Files","description":null,"type":"files","files":{}},"Select":{"id":"%3Dzw%7C","name":"Select","description":null,"type":"select","select":{"options":[{"id":"b554ca09-3d4d-4963-b24e-b4789755e79e","name":"Option1","color":"default","description":null},{"id":"853aabd5-b24e-479f-9b16-5b1d50995f10","name":"Option2","color":"red","description":null}]}},"Last
      edited time":{"id":"%3D%7B%7BM","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Created
      by":{"id":"Bde%5C","name":"Created by","description":null,"type":"created_by","created_by":{}},"ID":{"id":"GIY%3B","name":"ID","description":null,"type":"unique_id","unique_id":{"prefix":"ABC"}},"Email":{"id":"IWgp","name":"Email","description":null,"type":"email","email":{}},"Date":{"id":"LG%3AF","name":"Date","description":null,"type":"date","date":{}},"Place":{"id":"MU%5D%3B","name":"Place","description":null,"type":"place","place":{}},"People":{"id":"OTkG","name":"People","description":null,"type":"people","people":{}},"Relation
      two-way":{"id":"QYmQ","name":"Relation two-way","description":null,"type":"relation","relation":{"database_id":"4fa8756f-a0da-4efe-9c48-4d6a323b69f8","data_source_id":"5dd6f15d-e78b-422b-84f6-ade77aa73906","type":"dual_property","dual_property":{"synced_property_name":"Relation","synced_property_id":"%7CeR%5D"}}},"Checkbox":{"id":"QxPZ","name":"Checkbox","description":null,"type":"checkbox","checkbox":{}},"Number":{"id":"WL%40f","name":"Number","description":null,"type":"number","number":{"format":"dollar"}},"Button":{"id":"Z_NL","name":"Button","description":null,"type":"button","button":{}},"Status":{"id":"%5Enaj","name":"Status","description":null,"type":"status","status":{"options":[{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default","description":null},{"id":"61b541c0-4d17-4059-b158-8b72b6aef724","name":"In
      progress","color":"blue","description":null},{"id":"1b92c97e-00e4-4409-be80-c48e2906e443","name":"Done","color":"green","description":null}],"groups":[{"id":"efa11b9c-c42f-4a78-a096-20c583573047","name":"To-do","color":"gray","option_ids":["dce1e338-da63-4b60-8126-6752aec02589"]},{"id":"6006542b-8e37-4dab-b232-edde3cebb032","name":"In
      progress","color":"blue","option_ids":["61b541c0-4d17-4059-b158-8b72b6aef724"]},{"id":"11dfbcef-680a-4392-a439-568e93683c7d","name":"Complete","color":"green","option_ids":["1b92c97e-00e4-4409-be80-c48e2906e443"]}]}},"AI
      custom":{"id":"b%5DMq","name":"AI custom","description":null,"type":"rich_text","rich_text":{}},"Text":{"id":"dNkb","name":"Text","description":null,"type":"rich_text","rich_text":{}},"AI
      key info":{"id":"iGrF","name":"AI key info","description":null,"type":"rich_text","rich_text":{}},"Phone
      number":{"id":"k%7DwY","name":"Phone number","description":null,"type":"phone_number","phone_number":{}},"AI
      summary":{"id":"p%5CHX","name":"AI summary","description":null,"type":"rich_text","rich_text":{}},"Rollup":{"id":"pwp_","name":"Rollup","description":null,"type":"rollup","rollup":{"rollup_property_name":"Title","relation_property_name":"Relation","rollup_property_id":"title","relation_property_id":"|eR]","function":"count"}},"Last
      edited by":{"id":"uaO%5E","name":"Last edited by","description":null,"type":"last_edited_by","last_edited_by":{}},"Formula":{"id":"wsPE","name":"Formula","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:WL%40f:5dd6f15d-e78b-422b-84f6-ade77aa73906:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2"}},"URL":{"id":"ypoy","name":"URL","description":null,"type":"url","url":{}},"Created
      time":{"id":"%7CLPX","name":"Created time","description":null,"type":"created_by","created_by":{}},"Relation":{"id":"%7CeR%5D","name":"Relation","description":null,"type":"relation","relation":{"database_id":"4fa8756f-a0da-4efe-9c48-4d6a323b69f8","data_source_id":"5dd6f15d-e78b-422b-84f6-ade77aa73906","type":"dual_property","dual_property":{"synced_property_name":"Relation
      two-way","synced_property_id":"QYmQ"}}},"Multi-Select":{"id":"~ML%40","name":"Multi-Select","description":null,"type":"multi_select","multi_select":{"options":[{"id":"]klO","name":"MultiOption1","color":"purple","description":null},{"id":"\\vwn","name":"MultiOption2","color":"yellow","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4fa8756fa0da4efe9c484d6a323b69f8","public_url":null,"archived":false,"in_trash":false,"request_id":"ebd666e9-6074-49d7-89b4-17317644fac0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ebd666e9-6074-49d7-89b4-17317644fac0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3BCha?page_size=100
  response:
    content: '{"object":"property_item","type":"files","id":"%3BCha","files":[],"request_id":"423f9a4a-0661-4804-977a-54bcb761b34c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 423f9a4a-0661-4804-977a-54bcb761b34c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3Dzw%7C?page_size=100
  response:
    content: '{"object":"property_item","type":"select","id":"%3Dzw%7C","select":null,"request_id":"f3ceedf0-b6b9-4367-94f6-81a80a243ede"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f3ceedf0-b6b9-4367-94f6-81a80a243ede
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3D%7B%7BM?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_time","id":"%3D%7B%7BM","last_edited_time":"2025-10-02T19:00:00.000Z","request_id":"325d4e6e-0eed-4cc4-bcba-7ac616f7a3c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 325d4e6e-0eed-4cc4-bcba-7ac616f7a3c2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Bde%5C?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"Bde%5C","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"e75505e1-138a-41b6-815e-f258bfc83a36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e75505e1-138a-41b6-815e-f258bfc83a36
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/GIY%3B?page_size=100
  response:
    content: '{"object":"property_item","type":"unique_id","id":"GIY%3B","unique_id":{"prefix":"ABC","number":3},"request_id":"e86270c6-ef33-40ea-b542-517dfcd6e75f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e86270c6-ef33-40ea-b542-517dfcd6e75f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/IWgp?page_size=100
  response:
    content: '{"object":"property_item","type":"email","id":"IWgp","email":"mail@nowhere.com","request_id":"04143573-2385-4ac6-a844-575c18d26e25"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 04143573-2385-4ac6-a844-575c18d26e25
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/LG%3AF?page_size=100
  response:
    content: '{"object":"property_item","type":"date","id":"LG%3AF","date":null,"request_id":"80a0f287-29b9-4c39-9945-25c20525ccd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80a0f287-29b9-4c39-9945-25c20525ccd0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/MU%5D%3B?page_size=100
  response:
    content: '{"object":"property_item","type":"place","id":"MU%5D%3B","place":null,"request_id":"9f02eee8-c508-422d-8ae9-a6c48f4c715b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9f02eee8-c508-422d-8ae9-a6c48f4c715b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/OTkG?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"}}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"OTkG","next_url":null,"type":"people","people":{}},"request_id":"846a929d-45b6-489f-97ad-2e90c69e10f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 846a929d-45b6-489f-97ad-2e90c69e10f3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QYmQ?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"QYmQ","next_url":null,"type":"relation","relation":{}},"request_id":"3eeb754f-1e98-4d07-be55-dfe799fde3cb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3eeb754f-1e98-4d07-be55-dfe799fde3cb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QxPZ?page_size=100
  response:
    content: '{"object":"property_item","type":"checkbox","id":"QxPZ","checkbox":false,"request_id":"ef0aec00-d9f6-4cf0-a11d-cda8f7b4a112"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ef0aec00-d9f6-4cf0-a11d-cda8f7b4a112
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/WL%40f?page_size=100
  response:
    content: '{"object":"property_item","type":"number","id":"WL%40f","number":null,"request_id":"4582974f-46d2-4336-ae75-946d301cba3c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4582974f-46d2-4336-ae75-946d301cba3c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Z_NL?page_size=100
  response:
    content: '{"object":"property_item","type":"button","id":"Z_NL","button":{},"request_id":"1d3439aa-66ce-4f24-b792-66245b3e73db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1d3439aa-66ce-4f24-b792-66245b3e73db
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%5Enaj?page_size=100
  response:
    content: '{"object":"property_item","type":"status","id":"%5Enaj","status":{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default"},"request_id":"b5e45658-a51e-4547-92c0-49b7051e6f8f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b5e45658-a51e-4547-92c0-49b7051e6f8f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/b%5DMq?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"b%5DMq","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"cfd55377-7260-44b6-8c54-68d42e0f8f6f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cfd55377-7260-44b6-8c54-68d42e0f8f6f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/dNkb?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"rich_text","id":"dNkb","rich_text":{"type":"text","text":{"content":"Lorem
      Ipsum","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lorem
      Ipsum","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"dNkb","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"72c0bf0c-e5a1-4017-9b54-fdec8f535846"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 72c0bf0c-e5a1-4017-9b54-fdec8f535846
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/iGrF?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"iGrF","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"81ebf08f-48ab-43b6-a4f3-ca9f0b81edf8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 81ebf08f-48ab-43b6-a4f3-ca9f0b81edf8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/k%7DwY?page_size=100
  response:
    content: '{"object":"property_item","type":"phone_number","id":"k%7DwY","phone_number":null,"request_id":"02bb42b9-3c43-4ba6-afed-370ff1eb6b72"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 02bb42b9-3c43-4ba6-afed-370ff1eb6b72
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/p%5CHX?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"p%5CHX","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"567322b9-12d0-4bff-88d4-f67a5c0e3cff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 567322b9-12d0-4bff-88d4-f67a5c0e3cff
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/pwp_?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"pwp_","next_url":null,"type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"request_id":"1b5b4223-c6c4-48e2-9063-38c06d2ffa5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1b5b4223-c6c4-48e2-9063-38c06d2ffa5a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/uaO%5E?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_by","id":"uaO%5E","last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"73990c94-d6e5-4a95-8d6e-c51560699d5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 73990c94-d6e5-4a95-8d6e-c51560699d5a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/wsPE?page_size=100
  response:
    content: '{"object":"property_item","type":"formula","id":"wsPE","formula":{"type":"number","number":0},"request_id":"b4ee08a5-ee60-4128-9e74-e64cb92bc8d3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b4ee08a5-ee60-4128-9e74-e64cb92bc8d3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/ypoy?page_size=100
  response:
    content: '{"object":"property_item","type":"url","id":"ypoy","url":"https://anywhere.com","request_id":"813df975-60b2-42b4-bd16-b0911870b047"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 813df975-60b2-42b4-bd16-b0911870b047
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CLPX?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"%7CLPX","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"56f2a0ed-b954-49f2-ad1d-d8d2cc00fd75"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56f2a0ed-b954-49f2-ad1d-d8d2cc00fd75
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CeR%5D?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"%7CeR%5D","next_url":null,"type":"relation","relation":{}},"request_id":"135a2882-a2a7-41b8-a3d0-78b8f2b5b662"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 135a2882-a2a7-41b8-a3d0-78b8f2b5b662
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/~ML%40?page_size=100
  response:
    content: '{"object":"property_item","type":"multi_select","id":"~ML%40","multi_select":[],"request_id":"502c1d20-d684-476c-bd39-7cf0f71221b3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 502c1d20-d684-476c-bd39-7cf0f71221b3
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/title?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Test_Item","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test_Item","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}},"request_id":"bc773361-9656-4e07-acea-e49867f249d5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bc773361-9656-4e07-acea-e49867f249d5
    status_code: 200
version: 1
