interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page creation
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page creation test"}}], "properties": {"Name": {"type": "title", "title": {}},
      "Role": {"type": "rich_text", "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-81ae-8658-e4179634ccae","cover":null,"icon":null,"created_time":"2026-06-27T04:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:47:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page creation test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page creation test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"U%7Bla","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481ae8658e4179634ccae","public_url":null,"in_trash":false,"archived":false,"request_id":"16efd5ef-6294-4d92-9476-89f18629d2bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 16efd5ef-6294-4d92-9476-89f18629d2bb
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-81ae-8658-e4179634ccae"},
      "properties": {"Role": {"type": "rich_text", "rich_text": [{"type": "text",
      "plain_text": "Carpenter", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Carpenter"}}]},
      "title": {"type": "title", "title": [{"type": "text", "plain_text": "John Doe",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "John Doe"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-819b-b02d-fc3ee4c55b21","created_time":"2026-06-27T04:47:00.000Z","last_edited_time":"2026-06-27T04:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81ae-8658-e4179634ccae"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"U%7Bla","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Carpenter","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Carpenter","href":null}]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"John
      Doe","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"John
      Doe","href":null}]}},"url":"https://www.notion.so/John-Doe-38c9ce7b60a4819bb02dfc3ee4c55b21","public_url":null,"archived":false,"request_id":"f7a46c57-9969-465c-9a98-0cbc1e608477"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f7a46c57-9969-465c-9a98-0cbc1e608477
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with a cover by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with a cover by obj_api"}}]}}, "cover":
      {"type": "external", "external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-810c-aa33-d08449154cb8","created_time":"2026-06-27T04:47:00.000Z","last_edited_time":"2026-06-27T04:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-80[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with an icon by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with an icon by obj_api"}}]}}, "icon":
      {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-8168-aa31-f391ccd14098\",\"created_time\":\"2026-06-27T04:47:00.000Z\",\"last_edited_time\":\"2026-06-27T04:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_[...]
