interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page creation
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page creation test"}}], "is_inline": false, "initial_data_source": {"properties":
      {"Name": {"type": "title", "title": {}}, "Role": {"type": "rich_text", "rich_text":
      {}}}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"1bcf93d5-cbe5-4eb0-89ab-ef4707a1261c","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page creation test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page creation test","href":null}],"description":[],"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-06-27T16:47:37.331+00:00","last_edited_time":"2026-06-27T16:47:37.331+00:00","data_sources":[{"id":"016de3a0-064e-48f6-b41d-980d6623e46b","name":"Contacts
      DB for low-level page creation test"}],"icon":null,"cover":null,"url":"https://www.notion.so/1bcf93d5cbe54eb089abef4707a1261c","public_url":null,"request_id":"ea94f644-e7f4-4c8d-82a8-9e7383b11f6b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ea94f644-e7f4-4c8d-82a8-9e7383b11f6b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/data_sources/016de3a0-064e-48f6-b41d-980d6623e46b
  response:
    content: '{"object":"data_source","id":"016de3a0-064e-48f6-b41d-980d6623e46b","cover":null,"icon":null,"created_time":"2026-06-27T16:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T16:47:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page creation test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page creation test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"W%5BY%5B","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"1bcf93d5-cbe5-4eb0-89ab-ef4707a1261c"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/1bcf93d5cbe54eb089abef4707a1261c","public_url":null,"in_trash":false,"request_id":"d6eaa5b6-95e1-4a57-b933-1b0ebcbabadb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6eaa5b6-95e1-4a57-b933-1b0ebcbabadb
    status_code: 200
- request:
    body: '{"parent": {"type": "data_source_id", "data_source_id": "016de3a0-064e-48f6-b41d-980d6623e46b"},
      "properties": {"Role": {"type": "rich_text", "rich_text": [{"type": "text",
      "plain_text": "Carpenter", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Carpenter"}}]},
      "title": {"type": "title", "title": [{"type": "text", "plain_text": "John Doe",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "John Doe"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-819d-92fa-eed199096814","created_time":"2026-06-27T16:47:00.000Z","last_edited_time":"2026-06-27T16:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"016de3a0-064e-48f6-b41d-980d6623e46b","database_id":"1bcf93d5-cbe5-4eb0-89ab-ef4707a1261c"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"W%5BY%5B","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Carpenter","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Carpenter","href":null}]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"John
      Doe","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"John
      Doe","href":null}]}},"url":"https://www.notion.so/John-Doe-38c9ce7b60a4819d92faeed199096814","public_url":null,"request_id":"133e2c11-b1f7-4ae4-aa1e-c137074957b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 133e2c11-b1f7-4ae4-aa1e-c137074957b0
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with a cover by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with a cover by obj_api"}}]}}, "cover":
      {"type": "external", "external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8182-a1b5-cb9f4933a574","created_time":"2026-06-27T16:47:00.000Z","last_edited_time":"2026-06-27T16:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-80[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with an icon by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with an icon by obj_api"}}]}}, "icon":
      {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-810b-9c00-ccee4e7fd6b0\",\"created_time\":\"2026-06-27T16:47:00.000Z\",\"last_edited_time\":\"2026-06-27T16:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_[...]
