interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"f933ea06-6537-44fc-83a0-96123ffa4b23\",\"created_time\":\"2023-08-26T21:45:00.000Z\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F601\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"type\":\"files\",\"files\":[]},\"Select\":{\"id\":\"%3Dzw%7C\",\"type\":\"select\",\"select\":null},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2025-06-10T17:36:00.000Z\"},\"Created
      by\":{\"id\":\"Bde%5C\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"ID\":{\"id\":\"GIY%3B\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\",\"number\":3}},\"Email\":{\"id\":\"IWgp\",\"type\":\"email\",\"email\":\"mail@nowhere.com\"},\"Date\":{\"id\":\"LG%3AF\",\"type\":\"date\",\"date\":null},\"People\":{\"id\":\"OTkG\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}},{\"object\":\"user\",\"id\":\"118d872b-594c-81ef-aa7a-000271698630\",\"name\":\"Flo-Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm.bot@gmail.com\"}}]},\"Relation
      two-way\":{\"id\":\"QYmQ\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Checkbox\":{\"id\":\"QxPZ\",\"type\":\"checkbox\",\"checkbox\":false},\"Number\":{\"id\":\"WL%40f\",\"type\":\"number\",\"number\":null},\"Button\":{\"id\":\"Z_NL\",\"type\":\"button\",\"button\":{}},\"Status\":{\"id\":\"%5Enaj\",\"type\":\"status\",\"status\":{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\"}},\"AI custom\":{\"id\":\"b%5DMq\",\"type\":\"rich_text\",\"rich_text\":[]},\"Text\":{\"id\":\"dNkb\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Lorem
      Ipsum\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Lorem
      Ipsum\",\"href\":null}]},\"AI key info\":{\"id\":\"iGrF\",\"type\":\"rich_text\",\"rich_text\":[]},\"Phone
      number\":{\"id\":\"k%7DwY\",\"type\":\"phone_number\",\"phone_number\":null},\"AI
      summary\":{\"id\":\"p%5CHX\",\"type\":\"rich_text\",\"rich_text\":[]},\"Rollup\":{\"id\":\"pwp_\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"count\"}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"type\":\"last_edited_by\",\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Formula\":{\"id\":\"wsPE\",\"type\":\"formula\",\"formula\":{\"type\":\"number\",\"number\":0}},\"URL\":{\"id\":\"ypoy\",\"type\":\"url\",\"url\":\"https://anywhere.com\"},\"Created
      time\":{\"id\":\"%7CLPX\",\"type\":\"created_by\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\",\"name\":\"Florian
      Wilhelm\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100\",\"type\":\"person\",\"person\":{\"email\":\"florian.wilhelm@gmail.com\"}}},\"Relation\":{\"id\":\"%7CeR%5D\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Multi-Select\":{\"id\":\"~ML%40\",\"type\":\"multi_select\",\"multi_select\":[]},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test_Item\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test_Item\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test_Item-f933ea06653744fc83a096123ffa4b23\",\"public_url\":null}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"faf1a3c6-85db-48ec-b0ae-6633834bf900\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - faf1a3c6-85db-48ec-b0ae-6633834bf900
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3BCha?page_size=100
  response:
    content: '{"object":"property_item","type":"files","id":"%3BCha","files":[],"request_id":"880c52b9-10f6-4e7c-abb9-df88313d9116"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 880c52b9-10f6-4e7c-abb9-df88313d9116
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3Dzw%7C?page_size=100
  response:
    content: '{"object":"property_item","type":"select","id":"%3Dzw%7C","select":null,"request_id":"d71cef6d-fb58-4a31-bc29-e37f4444d633"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d71cef6d-fb58-4a31-bc29-e37f4444d633
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3D%7B%7BM?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_time","id":"%3D%7B%7BM","last_edited_time":"2025-06-10T17:36:00.000Z","request_id":"8296e29f-36a7-4237-9448-85825db501ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8296e29f-36a7-4237-9448-85825db501ba
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Bde%5C?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"Bde%5C","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"3ee695b9-ef27-4271-b044-4cedf04ffb42"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3ee695b9-ef27-4271-b044-4cedf04ffb42
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/GIY%3B?page_size=100
  response:
    content: '{"object":"property_item","type":"unique_id","id":"GIY%3B","unique_id":{"prefix":"ABC","number":3},"request_id":"f58e1681-3635-418d-9438-449f01717ffe"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f58e1681-3635-418d-9438-449f01717ffe
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/IWgp?page_size=100
  response:
    content: '{"object":"property_item","type":"email","id":"IWgp","email":"mail@nowhere.com","request_id":"27d3bc7d-ab36-4de1-a55d-c8aa1d784f28"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 27d3bc7d-ab36-4de1-a55d-c8aa1d784f28
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/LG%3AF?page_size=100
  response:
    content: '{"object":"property_item","type":"date","id":"LG%3AF","date":null,"request_id":"4aeed8d0-3aa0-4349-8968-cbec7bfdccdf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4aeed8d0-3aa0-4349-8968-cbec7bfdccdf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/OTkG?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"}}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"OTkG","next_url":null,"type":"people","people":{}},"request_id":"17ec4668-d90b-4992-96d9-0d2e3a9e9b4f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 17ec4668-d90b-4992-96d9-0d2e3a9e9b4f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QYmQ?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"QYmQ","next_url":null,"type":"relation","relation":{}},"request_id":"fe2ee433-bb21-436a-833d-6948226c84b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fe2ee433-bb21-436a-833d-6948226c84b6
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QxPZ?page_size=100
  response:
    content: '{"object":"property_item","type":"checkbox","id":"QxPZ","checkbox":false,"request_id":"6e97c87c-6de0-48ab-9c2d-6c098e94b15b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6e97c87c-6de0-48ab-9c2d-6c098e94b15b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/WL%40f?page_size=100
  response:
    content: '{"object":"property_item","type":"number","id":"WL%40f","number":null,"request_id":"ddc658ea-c74a-4256-8545-550ca5bfe421"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ddc658ea-c74a-4256-8545-550ca5bfe421
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Z_NL?page_size=100
  response:
    content: '{"object":"property_item","type":"button","id":"Z_NL","button":{},"request_id":"6ae87a20-1860-4243-ac81-20cbdafa179c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6ae87a20-1860-4243-ac81-20cbdafa179c
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%5Enaj?page_size=100
  response:
    content: '{"object":"property_item","type":"status","id":"%5Enaj","status":{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default"},"request_id":"4d15e81f-7e4d-4b1f-ab1f-77d70d33e524"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d15e81f-7e4d-4b1f-ab1f-77d70d33e524
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/b%5DMq?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"b%5DMq","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"d6a6a123-828e-47bd-8e06-afc84919f120"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6a6a123-828e-47bd-8e06-afc84919f120
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/dNkb?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"rich_text","id":"dNkb","rich_text":{"type":"text","text":{"content":"Lorem
      Ipsum","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lorem
      Ipsum","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"dNkb","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"2919807a-4a2c-44d8-9d62-94075a471bd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2919807a-4a2c-44d8-9d62-94075a471bd0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/iGrF?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"iGrF","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"f8295748-34f9-4955-bfdf-f12a398754ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f8295748-34f9-4955-bfdf-f12a398754ac
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/k%7DwY?page_size=100
  response:
    content: '{"object":"property_item","type":"phone_number","id":"k%7DwY","phone_number":null,"request_id":"5b47f915-9e82-4eb0-9971-b48f276ef6ca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5b47f915-9e82-4eb0-9971-b48f276ef6ca
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/p%5CHX?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"p%5CHX","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"5a342be4-871e-430c-9be1-506d2ef7efb5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5a342be4-871e-430c-9be1-506d2ef7efb5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/pwp_?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"pwp_","next_url":null,"type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"request_id":"1ac5871a-c146-4b6c-a1e5-5adfd11b745e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1ac5871a-c146-4b6c-a1e5-5adfd11b745e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/uaO%5E?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_by","id":"uaO%5E","last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"fb063b93-6978-4d3b-a9d9-ec03b7cddde5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fb063b93-6978-4d3b-a9d9-ec03b7cddde5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/wsPE?page_size=100
  response:
    content: '{"object":"property_item","type":"formula","id":"wsPE","formula":{"type":"number","number":0},"request_id":"c65cf05e-8362-44c9-b26b-e64fb6e73ec8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c65cf05e-8362-44c9-b26b-e64fb6e73ec8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/ypoy?page_size=100
  response:
    content: '{"object":"property_item","type":"url","id":"ypoy","url":"https://anywhere.com","request_id":"2e24a84f-5337-43ed-9cb4-0103b77b1888"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2e24a84f-5337-43ed-9cb4-0103b77b1888
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CLPX?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"%7CLPX","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"d34c4c0e-0f80-4c5c-85fe-cfacad4dbfd4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d34c4c0e-0f80-4c5c-85fe-cfacad4dbfd4
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CeR%5D?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"%7CeR%5D","next_url":null,"type":"relation","relation":{}},"request_id":"e80de6ce-def1-4c3c-8a03-76ad90fec990"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e80de6ce-def1-4c3c-8a03-76ad90fec990
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/~ML%40?page_size=100
  response:
    content: '{"object":"property_item","type":"multi_select","id":"~ML%40","multi_select":[],"request_id":"2e28cff3-8a71-4d05-b7df-8de3cc975350"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2e28cff3-8a71-4d05-b7df-8de3cc975350
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/title?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Test_Item","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test_Item","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}},"request_id":"8611221b-9e61-4554-b1bd-b47661de7a78"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8611221b-9e61-4554-b1bd-b47661de7a78
    status_code: 200
version: 1
