interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page update
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page update test"}}], "properties": {"Name": {"type": "title", "title": {}},
      "Role": {"type": "rich_text", "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"38c9ce7b-60a4-81d4-af5b-f6716f74c2cd","cover":null,"icon":null,"created_time":"2026-06-27T04:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-27T04:47:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page update test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page update test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"yi%7B%3C","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38c9ce7b60a481d4af5bf6716f74c2cd","public_url":null,"in_trash":false,"archived":false,"request_id":"110c789d-ed72-43aa-b29c-1736e3330177"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 110c789d-ed72-43aa-b29c-1736e3330177
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "38c9ce7b-60a4-81d4-af5b-f6716f74c2cd"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created by obj_api", "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created by obj_api"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8157-815e-ca646a3c3ce3","created_time":"2026-06-27T04:47:00.000Z","last_edited_time":"2026-06-27T04:47:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38c9ce7b-60a4-81d4-af5b-f6716f74c2cd"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Role":{"id":"yi%7B%3C","type":"rich_text","rich_text":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page created by obj_api","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page created by obj_api","href":null}]}},"url":"https://www.notion.so/My-new-page-created-by-obj_api-38c9ce7b60a48157815eca646a3c3ce3","public_url":null,"archived":false,"request_id":"42675e7d-92c3-4cc1-a93f-fe0d7e3e8974"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 42675e7d-92c3-4cc1-a93f-fe0d7e3e8974
    status_code: 200
- request:
    body: '{"properties":{"Role":{"type":"rich_text","rich_text":[{"type":"text","plain_text":"Carpenter","annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false},"text":{"content":"Carpenter"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a48157815eca646a3c3ce3
  response:
    c[...]
- request:
    body: '{"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a48157815eca646a3c3ce3
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-8157-815e-ca646a3c3ce3","created_time":"2026-06-27T04:47:00.000Z","last_edited_time":"2026-06-27T04:47:00.000Z","created_by":{"object":"u[...]
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"}}"
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38c9ce7b60a48157815eca646a3c3ce3
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-8157-815e-ca646a3c3ce3\",\"created_time\":\"2026-06-27T04:47:00.000Z\",\"last_edited_time\":\"2026-06-27T04:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-[...]
