interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "title": [{"type": "text", "plain_text": "Contacts DB for low-level page creation
      test", "annotations": {"bold": false, "italic": false, "strikethrough": false,
      "underline": false, "code": false}, "text": {"content": "Contacts DB for low-level
      page creation test"}}], "properties": {"Name": {"type": "title", "title": {}},
      "Role": {"type": "rich_text", "rich_text": {}}}, "is_inline": false}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"29c974f3-b388-81a2-90d3-cd177ecddedc","cover":null,"icon":null,"created_time":"2025-10-30T15:32:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_time":"2025-10-30T15:32:00.000Z","title":[{"type":"text","text":{"content":"Contacts
      DB for low-level page creation test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Contacts
      DB for low-level page creation test","href":null}],"description":[],"is_inline":false,"properties":{"Role":{"id":"HfgR","name":"Role","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/29c974f3b38881a290d3cd177ecddedc","public_url":null,"archived":false,"in_trash":false,"request_id":"593c8a92-c9d5-426d-b504-233837094aae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 593c8a92-c9d5-426d-b504-233837094aae
    status_code: 200
- request:
    body: '{"parent": {"type": "database_id", "database_id": "29c974f3-b388-81a2-90d3-cd177ecddedc"},
      "properties": {"Role": {"type": "rich_text", "rich_text": [{"type": "text",
      "plain_text": "Carpenter", "annotations": {"bold": false, "italic": false, "strikethrough":
      false, "underline": false, "code": false}, "text": {"content": "Carpenter"}}]},
      "title": {"type": "title", "title": [{"type": "text", "plain_text": "John Doe",
      "annotations": {"bold": false, "italic": false, "strikethrough": false, "underline":
      false, "code": false}, "text": {"content": "John Doe"}}]}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-8142-b1f3-fd5e790dd232","created_time":"2025-10-30T15:32:00.000Z","last_edited_time":"2025-10-30T15:32:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"29c974f3-b388-81a2-90d3-cd177ecddedc"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"Role":{"id":"HfgR","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Carpenter","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Carpenter","href":null}]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"John
      Doe","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"John
      Doe","href":null}]}},"url":"https://www.notion.so/John-Doe-29c974f3b3888142b1f3fd5e790dd232","public_url":null,"request_id":"07231b8e-bc79-4ea6-ab1a-cc3cc523b376"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 07231b8e-bc79-4ea6-ab1a-cc3cc523b376
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with a cover by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with a cover by obj_api"}}]}}, "cover":
      {"type": "external", "external": {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29c974f3-b388-819b-b875-e4f86548146d","created_time":"2025-10-30T15:32:00.000Z","last_edited_time":"2025-10-30T15:32:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d[...]
- request:
    body: '{"parent": {"type": "page_id", "page_id": "5f505199-b292-4713-920b-61d813bf72a3"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with an icon by obj_api", "annotations": {"bold": false,
      "italic": false, "strikethrough": false, "underline": false, "code": false},
      "text": {"content": "My new page created with an icon by obj_api"}}]}}, "icon":
      {"type": "emoji", "emoji": "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"29c974f3-b388-8190-9921-e8623dee3961\",\"created_time\":\"2025-10-30T15:32:00.000Z\",\"last_edited_time\":\"2025-10-30T15:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_[...]
