interactions:
- request:
    body: '{"page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/4fa8756f-a0da-4efe-9c48-4d6a323b69f8/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"f933ea06-6537-44fc-83a0-96123ffa4b23","created_time":"2023-08-26T21:45:00.000Z","last_edited_time":"2024-10-20T15:31:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4fa8756f-a0da-4efe-9c48-4d6a323b69f8"},"archived":false,"in_trash":false,"properties":{"Files":{"id":"%3BCha","type":"files","files":[]},"Select":{"id":"%3Dzw%7C","type":"select","select":null},"Last
      edited time":{"id":"%3D%7B%7BM","type":"last_edited_time","last_edited_time":"2024-10-20T15:31:00.000Z"},"Created
      by":{"id":"Bde%5C","type":"created_by","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},"ID":{"id":"GIY%3B","type":"unique_id","unique_id":{"prefix":"ABC","number":3}},"Email":{"id":"IWgp","type":"email","email":"mail@nowhere.com"},"Date":{"id":"LG%3AF","type":"date","date":null},"People":{"id":"OTkG","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"}}]},"Relation
      two-way":{"id":"QYmQ","type":"relation","relation":[],"has_more":false},"Checkbox":{"id":"QxPZ","type":"checkbox","checkbox":false},"Number":{"id":"WL%40f","type":"number","number":null},"Button":{"id":"Z_NL","type":"button","button":{}},"Status":{"id":"%5Enaj","type":"status","status":{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default"}},"AI custom":{"id":"b%5DMq","type":"rich_text","rich_text":[]},"Text":{"id":"dNkb","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Lorem
      Ipsum","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lorem
      Ipsum","href":null}]},"AI key info":{"id":"iGrF","type":"rich_text","rich_text":[]},"Phone
      number":{"id":"k%7DwY","type":"phone_number","phone_number":null},"AI summary":{"id":"p%5CHX","type":"rich_text","rich_text":[]},"Rollup":{"id":"pwp_","type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"Last
      edited by":{"id":"uaO%5E","type":"last_edited_by","last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},"Formula":{"id":"wsPE","type":"formula","formula":{"type":"number","number":0}},"URL":{"id":"ypoy","type":"url","url":"https://anywhere.com"},"Created
      time":{"id":"%7CLPX","type":"created_by","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},"Relation":{"id":"%7CeR%5D","type":"relation","relation":[],"has_more":false},"Multi-Select":{"id":"~ML%40","type":"multi_select","multi_select":[]},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test_Item","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test_Item","href":null}]}},"url":"https://www.notion.so/Test_Item-f933ea06653744fc83a096123ffa4b23","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6678d686-17ce-4487-bf82-047d4820032f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6678d686-17ce-4487-bf82-047d4820032f
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3BCha?page_size=100
  response:
    content: '{"object":"property_item","type":"files","id":"%3BCha","files":[],"request_id":"041ae6f4-8e91-4cc3-8ba5-c9fe043d7ad5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 041ae6f4-8e91-4cc3-8ba5-c9fe043d7ad5
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3Dzw%7C?page_size=100
  response:
    content: '{"object":"property_item","type":"select","id":"%3Dzw%7C","select":null,"request_id":"fd160ffd-d38c-42f5-a0be-cd2558725efb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fd160ffd-d38c-42f5-a0be-cd2558725efb
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%3D%7B%7BM?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_time","id":"%3D%7B%7BM","last_edited_time":"2024-10-20T15:31:00.000Z","request_id":"eaa9b234-8fa7-4331-b1d0-8fd13b1b2169"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - eaa9b234-8fa7-4331-b1d0-8fd13b1b2169
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Bde%5C?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"Bde%5C","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"3edd4444-516a-465e-874a-22855fac1826"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3edd4444-516a-465e-874a-22855fac1826
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/GIY%3B?page_size=100
  response:
    content: '{"object":"property_item","type":"unique_id","id":"GIY%3B","unique_id":{"prefix":"ABC","number":3},"request_id":"80c92dd4-2938-4f60-987e-9cfe4a836151"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 80c92dd4-2938-4f60-987e-9cfe4a836151
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/IWgp?page_size=100
  response:
    content: '{"object":"property_item","type":"email","id":"IWgp","email":"mail@nowhere.com","request_id":"c3ca205f-7156-4c79-9fa2-9a74ccff4022"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c3ca205f-7156-4c79-9fa2-9a74ccff4022
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/LG%3AF?page_size=100
  response:
    content: '{"object":"property_item","type":"date","id":"LG%3AF","date":null,"request_id":"d6b9a603-408a-450f-b5ff-2922297d2d17"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d6b9a603-408a-450f-b5ff-2922297d2d17
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/OTkG?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}},{"object":"property_item","type":"people","id":"OTkG","people":{"object":"user","id":"118d872b-594c-81ef-aa7a-000271698630","name":"Flo-Bot","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/1ea328e2-170f-4723-a12b-e7bc36717ee8/IMG_B5B414DA1E32-1.jpeg","type":"person","person":{"email":"florian.wilhelm.bot@gmail.com"}}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"OTkG","next_url":null,"type":"people","people":{}},"request_id":"25bad58d-62e9-464d-9bed-a4dc5d10cfcf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 25bad58d-62e9-464d-9bed-a4dc5d10cfcf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QYmQ?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"QYmQ","next_url":null,"type":"relation","relation":{}},"request_id":"3cb0ad7d-2bd0-46ec-bdef-2de6e33894f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3cb0ad7d-2bd0-46ec-bdef-2de6e33894f0
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/QxPZ?page_size=100
  response:
    content: '{"object":"property_item","type":"checkbox","id":"QxPZ","checkbox":false,"request_id":"1c5ea893-75b8-4bee-9c7f-a77d801f672b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 1c5ea893-75b8-4bee-9c7f-a77d801f672b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/WL%40f?page_size=100
  response:
    content: '{"object":"property_item","type":"number","id":"WL%40f","number":null,"request_id":"76c660ca-b570-456f-b736-0df00790a90e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 76c660ca-b570-456f-b736-0df00790a90e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/Z_NL?page_size=100
  response:
    content: '{"object":"property_item","type":"button","id":"Z_NL","button":{},"request_id":"2da0e8a5-b4b7-4029-9ffa-642cb4623350"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2da0e8a5-b4b7-4029-9ffa-642cb4623350
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%5Enaj?page_size=100
  response:
    content: '{"object":"property_item","type":"status","id":"%5Enaj","status":{"id":"dce1e338-da63-4b60-8126-6752aec02589","name":"Not
      started","color":"default"},"request_id":"040f2a80-e8fa-43f7-80e0-9b15e5f03065"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 040f2a80-e8fa-43f7-80e0-9b15e5f03065
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/b%5DMq?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"b%5DMq","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"4d81528d-58b9-429a-980d-a07e3dd9be57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 4d81528d-58b9-429a-980d-a07e3dd9be57
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/dNkb?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"rich_text","id":"dNkb","rich_text":{"type":"text","text":{"content":"Lorem
      Ipsum","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lorem
      Ipsum","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"dNkb","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"3aa9bffa-2972-4aea-bdc4-3f3cae19df61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3aa9bffa-2972-4aea-bdc4-3f3cae19df61
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/iGrF?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"iGrF","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"5d6c23d5-a25c-45d7-b64a-9770c69c5692"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5d6c23d5-a25c-45d7-b64a-9770c69c5692
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/k%7DwY?page_size=100
  response:
    content: '{"object":"property_item","type":"phone_number","id":"k%7DwY","phone_number":null,"request_id":"c2efdfd6-f170-46ea-a39b-46c43b7ba0ca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - c2efdfd6-f170-46ea-a39b-46c43b7ba0ca
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/p%5CHX?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"p%5CHX","next_url":null,"type":"rich_text","rich_text":{}},"request_id":"61e9c4b5-6af6-4b99-b1c7-85ccfe55bfa2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 61e9c4b5-6af6-4b99-b1c7-85ccfe55bfa2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/pwp_?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"pwp_","next_url":null,"type":"rollup","rollup":{"type":"number","number":0,"function":"count"}},"request_id":"f0edcd9d-9306-4490-ae88-2c77b9da5b49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f0edcd9d-9306-4490-ae88-2c77b9da5b49
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/uaO%5E?page_size=100
  response:
    content: '{"object":"property_item","type":"last_edited_by","id":"uaO%5E","last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"e1b8821e-11e2-4f6f-97c5-2ec177ed4f44"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e1b8821e-11e2-4f6f-97c5-2ec177ed4f44
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/wsPE?page_size=100
  response:
    content: '{"object":"property_item","type":"formula","id":"wsPE","formula":{"type":"number","number":0},"request_id":"7952f482-4820-48e5-89d9-bcb3a712a67d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7952f482-4820-48e5-89d9-bcb3a712a67d
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/ypoy?page_size=100
  response:
    content: '{"object":"property_item","type":"url","id":"ypoy","url":"https://anywhere.com","request_id":"43d58006-9206-46ab-b127-743ea0660476"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 43d58006-9206-46ab-b127-743ea0660476
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CLPX?page_size=100
  response:
    content: '{"object":"property_item","type":"created_by","id":"%7CLPX","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},"request_id":"b86e44eb-8b61-46da-8148-b99be0761632"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - b86e44eb-8b61-46da-8148-b99be0761632
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/%7CeR%5D?page_size=100
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"%7CeR%5D","next_url":null,"type":"relation","relation":{}},"request_id":"3c2b9a4e-6900-4153-b734-3eb097b73031"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3c2b9a4e-6900-4153-b734-3eb097b73031
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/~ML%40?page_size=100
  response:
    content: '{"object":"property_item","type":"multi_select","id":"~ML%40","multi_select":[],"request_id":"bc4397d6-6614-4d84-a785-c524a2263be8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - bc4397d6-6614-4d84-a785-c524a2263be8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/f933ea06-6537-44fc-83a0-96123ffa4b23/properties/title?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Test_Item","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test_Item","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}},"request_id":"3824de1d-d4c3-4b57-a54d-d9d872df9f52"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3824de1d-d4c3-4b57-a54d-d9d872df9f52
    status_code: 200
version: 1
