interactions:
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2023-12-03T10:26:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() [...]
[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"900ac6ff-a4d5-44b9-9775-3b55ff08788b\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-02-14T17:29:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      synched task db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      synched task db\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"HNq%60\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b473381f-19b9-4f60-b2cc-674e033a41d3\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"fbb0446d-8681-44cb-a5ba-4cea20520cf5\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"f754506e-8284-4649-b60a-2de0f4becb38\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"f8b8bdb6-5848-4ccd-81a1-b646d7835e70\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"Wr_%3C\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/900ac6ffa4d544b997753b55ff08788b\",\"public_url\":null,\"archived\":true},{\"object\":\"database\",\"id\":\"efb0509c-081f-42e1-b1dc-a4bb2424b154\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-02-14T17:28:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"lFBS\",\"name\":\"Items Purchased\",\"type\":\"relation\",\"relation\":{\"database_id\":\"254dba07-3f5c-473a-b798-886942d27b99\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"%7DPLD\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/efb0509c081f42e1b1dca4bb2424b154\",\"public_url\":null,\"archived\":false},{\"object\":\"database\",\"id\":\"254dba07-3f5c-473a-b798-886942d27b99\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-02-14T17:28:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Price\":{\"id\":\"GQpo\",\"name\":\"Price\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Size\":{\"id\":\"_Hvq\",\"name\":\"Size\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"e615fb15-3d8f-40d3-9130-4a0ad6560d10\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"2ee42ea2-8272-42b9-9391-983569cc2182\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"1207ddbd-726a-4fd3-bcdb-15f5dd1d9c63\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Bought
      by\":{\"id\":\"%7DPLD\",\"name\":\"Bought by\",\"type\":\"relation\",\"relation\":{\"[...]
[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+1cW3PcOHb+K0xXqcreGDMAQYKkar1b1sUe7ciXsTTj8awdFa5qjrrJNputtjI7
        85b3PCRvm8pL8heS2r+zvyA/IQckmwRbcqvbI182kcplkQR4cHCAc/CdC/XTIBc/alkOtgejdFoO
        7g0KPZ2Nyulg+48/dW2Kl1zwqYb2VMG9wFIwEWGkowCjIGEKJTImKOZ+Ehvuq1AT6Cvzc10MtrPZ
        aAQvyjxbXMtC81KrkzIdayDnY58i4iPsHxO2TfA2xl9gjH8YdD3FxWDbYWg2BcINMywIdZQohagO
        KAqw0ihRIUE0oWEkiQz8yAx+vjcY8Wl5olV6DTlB7OSUAYa0QUGgKIpjrpAfYsJiwxj1/WVyy/Og
        xzAJnznzKNNypCuhlhcT27fUb624q1/ACgin1Jnl5ZhPz7y9HWgbpdl[...]
[...]
