interactions:
- request:
    body: '{"query": "Custom Emoji Page", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"3899ce7b-60a4-81bc-b399-f73d1338e331","created_time":"2026-06-24T16:38:00.000Z","last_edited_time":"2026-06-24T16:38:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Local Remote Page Mention Block CMP","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Local Remote Page Mention Block CMP","href":null}]}},"url":"https://app.notion.com/p/Test-Local-Remote-Page-Mention-Block-CMP-3899ce7b60a481bcb399f73d1338e331","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17:53:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://app.notion.com/p/Custom-Emoji-Page-00000000000040008000000000000008","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"6d7c6172-68d7-490a-9fb0-9f55f6c4d5cf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 6d7c6172-68d7-490a-9fb0-9f55f6c4d5cf
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/f76de8da-69a9-435b-a106-a863db058492
  response:
    content: '{"object":"data_source","id":"f76de8da-69a9-435b-a106-a863db058492","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-24T18:48:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing option page props","href":null}],"is_inline":false,"properties":{"Status":{"id":"GuB%5C","name":"Status","description":null,"type":"select","select":{"options":[{"id":"2a946a7b-8927-47a5-9dc6-3f640af1a324","name":"Open","color":"gray","description":null},{"id":"c531d2e6-7580-4518-87cd-acd37a0da4ad","name":"In
      Progress","color":"blue","description":null},{"id":"5c7b96a6-2299-4202-98d7-caa8c41e850b","name":"Blocked","color":"red","description":null},{"id":"ac715d36-f566-4c7d-a2f4-9bc3b0d14153","name":"Closed","color":"green","description":null}]}},"Multi
      Status":{"id":"vnMT","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"65388a4f-0a4d-48eb-9749-62e8e5d62d22","name":"Option
      1","color":"default","description":null},{"id":"8241aa51-a052-4408-a6cd-a9238eb6d937","name":"Option
      2","color":"pink","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"0cb96852-81da-4810-975e-14611d67f8c7"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/0cb9685281da4810975e14611d67f8c7","public_url":null,"in_trash":false,"archived":false,"request_id":"dc0bfcec-8f42-498e-b9e2-6292ec8a9250"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dc0bfcec-8f42-498e-b9e2-6292ec8a9250
    status_code: 200
[...]
