interactions:
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"00000000-0000-4000-8000-00000000000d\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-25T01:23:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"String\":{\"id\":\"%3E%40FF\",\"name\":\"String\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"ZwbV\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Checkbox\":{\"id\":\"gcvC\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Date\":{\"id\":\"t~%3Ew\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/0000000000004000800000000000000d\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"database\",\"id\":\"9528650b-a37a-41a9-8dc2-a8fd21525122\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB for max relation items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB for max relation items\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all items\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Bought
      by\":{\"id\":\"F%3Ebg\",\"name\":\"Bought by\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"c05c7705-1005-46af-89f7-3f6d8b87049f\",\"data_source_id\":\"289fefe5-04c6-4116-9ba4-deba5d2d018e\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"r%7DaJ\"}}},\"Price\":{\"id\":\"VZa%3E\",\"name\":\"Price\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/9528650ba37a41a98dc2a8fd21525122\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"database\",\"id\":\"c05c7705-1005-46af-89f7-3f6d8b87049f\",\[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"00000000-0000-4000-8000-000000000001\",\"created_time\":\"2026-06-18T15:44:00.000Z\",\"last_edited_time\":\"2026-06-25T14:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://www.notion.so/Tests-00000000000040008000000000000001\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"38a9ce7b-60a4-8102-aa57-eaf9ff4999d9\",\"created_time\":\"2026-06-25T14:19:00.000Z\",\"last_edited_time\":\"2026-06-25T14:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with an icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page created with an icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-created-with-an-icon-38a9ce7b60a48102aa57eaf9ff4999d9\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"38a9ce7b-60a4-81f5-9db2-c2e93a513c93\",\"created_time\":\"2026-06-25T14:19:00.000Z\",\"last_edited_time\":\"2026-06-25T14:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/woodcuts_2.jpg\"}},\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with a cover\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page created with a cover\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-created-with-a-cover-38a9ce7b60a481f59db2c2e93a513c93\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81c8-867a-f81fd71aa55c\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-25T11:17:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"00000000-0000-4000-8000-00000000000c\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"type\":\"select\",\"select\":{\"id\":\"a6fe934c-2289-481d-a66a-9b468999412d\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Status\":{\"id\":\"U%60%3BC\",\"type\":\"status\",\"status\":{\"id\":\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"name\":\"Blocked\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"jkwd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F558\"}},\"Due
      Date\":{\"id\":\"lwnn\",\"type\":\"date\",\"date\":{\"start\":\"2026-07-01\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Run
      first Marathon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Run
      first Marathon\",\"href\":null}]}},\"url\":\"https://www.notion.so/Run-first-Marathon-3839ce7b60a481c8867af81fd71aa55c\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"00000000-0000-4000[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/38a9ce7b60a48102aa57eaf9ff4999d9
  response:
    content: "{\"object\":\"page\",\"id\":\"38a9ce7b-60a4-8102-aa57-eaf9ff4999d9\",\"created_time\":\"2026-06-25T14:19:00.000Z\",\"last_edited_time\":\"2026-06-25T14:22:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"in_trash\":true,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with an icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page created with an icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-created-with-an-icon-38a9ce7b60a48102aa57eaf9ff4999d9\",\"public_url\":null,\"archived\":true,\"request_id\":\"5440b729-34e4-4d91-8e5a-22d06a0785a4\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5440b729-34e4-4d91-8e5a-22d06a0785a4
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-81da-ab46-c1e6bb87dc70
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-81da-ab46-c1e6bb87dc70","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-25T14:25:00.000Z","last_edited_time":"2026-06-25T14:27:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Item
      DB 42"},"archived":true,"request_id":"f0548bf0-cf95-46e1-9e39-33c98c41938c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f0548bf0-cf95-46e1-9e39-33c98c41938c
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-816d-9dcb-c3c9a318bfa0\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-25T14:28:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"W%40Nr\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"2d879f3d-a8e0-4fee-bda4-d72bdf82142c\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"33e57903-20a6-4f1e-8eab-fbd635b35c46\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Category\":{\"id\":\"t~%3Fo\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"4ee442f1-e535-4c02-8dad-1db3a1266d8f\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"b0b2f52f-f965-4c3d-b1ec-a159e91fb21c\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-0[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/38a9ce7b-60a4-815f-ab9f-ff3e1e99bc6d
  response:
    content: '{"object":"block","id":"38a9ce7b-60a4-815f-ab9f-ff3e1e99bc6d","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-25T14:28:00.000Z","last_edited_time":"2026-06-25T14:30:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Update
      Prop-Test: Schema C"},"archived":true,"request_id":"9a3071ab-a9f5-455e-90fe-7135719120ce"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9a3071ab-a9f5-455e-90fe-7135719120ce
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-8130-b6c9-c065b366117c\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:27:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-25T14:30:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Schema
      A\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Schema
      A\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Only
      used to create relations in Schema B\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Only
      used to create relations in Schema B\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Relation\":{\"id\":\"A_T%5E\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"38a9ce7b-60a4-8172-9447-c7ade322c93b\",\"data_source_id\":\"38a9ce7b-60a4-818a-a10b-000bc1068127\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Relation
      two-way\",\"synced_property_id\":\"aWIZ\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000[...]
[...]
