interactions:
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"00000000-0000-4000-8000-00000000000d\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-25T01:23:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"String\":{\"id\":\"%3E%40FF\",\"name\":\"String\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"ZwbV\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Checkbox\":{\"id\":\"gcvC\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Date\":{\"id\":\"t~%3Ew\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/0000000000004000800000000000000d\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"database\",\"id\":\"9528650b-a37a-41a9-8dc2-a8fd21525122\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB for max relation items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB for max relation items\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all items\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Bought
      by\":{\"id\":\"F%3Ebg\",\"name\":\"Bought by\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"c05c7705-1005-46af-89f7-3f6d8b87049f\",\"data_source_id\":\"289fefe5-04c6-4116-9ba4-deba5d2d018e\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"r%7DaJ\"}}},\"Price\":{\"id\":\"VZa%3E\",\"name\":\"Price\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/9528650ba37a41a98dc2a8fd21525122\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"database\",\"id\":\"c05c7705-1005-46af-89f7-3f6d8b87049f\",\[...]
[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-8146-a12f-d07cafc1c898\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-25T14:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Date
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Date
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Created\":{\"id\":\"Ej%5CY\",\"name\":\"Created\",\"description\":null,\"type\":\"created_time\",\"created_time\":{}},\"Date\":{\"id\":\"fC_i\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Last
      Edited\":{\"id\":\"fiE%3C\",\"name\":\"Last Edited\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/38a9ce7b60a48146a12fd07cafc1c898\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-81be-8265-fe5b5a81d2ba\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-25T14:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Text
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Text
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Email\":{\"id\":\"%3B%3FKv\",\"name\":\"Email\",\"description\":null,\"type\":\"email\",\"email\":{}},\"Name\":{\"id\":\"%3CXb%60\",\"name\":\"Name\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"URL\":{\"id\":\"DrS%3A\",\"name\":\"URL\",\"description\":null,\"type\":\"url\",\"url\":{}},\"Phone\":{\"id\":\"xj%40t\",\"name\":\"Phone\",\"description\":null,\"type\":\"phone_number\",\"phone_number\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/38a9ce7b60a481be8265fe5b5a81d2ba\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-8126-963a-c877fa634000\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"0000[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"38a9ce7b-60a4-819f-a90f-cfc3722708aa\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-25T14:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-25T14:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Rollup
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Rollup
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Relation\":{\"id\":\"F%3CWk\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"38a9ce7b-60a4-819f-a90f-cfc3722708aa\",\"data_source_id\":\"38a9ce7b-60a4-814e-ae79-000b22a35b02\",\"type\":\"single_property\",\"single_property\":{}}},\"Number\":{\"id\":\"%5EmX%7B\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Rollup
      Number Array\":{\"id\":\"fRGO\",\"name\":\"Rollup Number Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"^mX{\",\"relation_property_id\":\"F<Wk\",\"function\":\"show_original\"}},\"Rollup
      Number\":{\"id\":\"leV%3C\",\"name\":\"Rollup Number\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"^mX{\",\"relation_property_id\":\"F<Wk\",\"function\":\"max\"}},\"Date\":{\"id\":\"z%5DNo\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Rollup
      Title\":{\"id\":\"zt%60q\",\"name\":\"Rollup Title\",\"description\":null,\"typ[...]
[...]
