interactions:
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8076-9982-000bc09a66e4\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T21:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-18T21:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Wiki
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Wiki
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"dju%60\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"ffb414b1-7c94-4e2d-81bf-5dad675b029d\",\"name\":\"Onboarding\",\"color\":\"blue\",\"description\":null},{\"id\":\"a3b0e7d6-d0c6-4b60-abb3-e1e4e61c69ac\",\"name\":\"Design\",\"color\":\"green\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"nI%7Bq\",\"name\":\"Last edited time\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Page\":{\"id\":\"title\",\"name\":\"Page\",\"description\":null,\"type\":\"title\",\"title\":{}},\"Verification\":{\"id\":\"verification\",\"name\":\"Verification\",\"description\":null,\"type\":\"verification\",\"verification\":{}},\"Owner\":{\"id\":\"verification_owner\",\"name\":\"Owner\",\"description\":null,\"type\":\"people\",\"people\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81b2-848b-fac2003020b2\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a481b2848bfac2003020b2\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"MrTs\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"length(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \\\", \\\"))\"}},\"String\":{\"id\":\"QDdU\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})\"}},\"Checkbox\":{\"id\":\"f%40eH\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"contains(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \\\", \\\"), \\\"Done\\\")\"}},\"Date\":{\"id\":\"wGA%3B\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a481dcb9f3f8be2293bcaf\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"name\":\"Priority\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"a6fe934c-2289-481d-a66a-9b468999412d\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"8954e2f9-27d7-4b5d-ae76-5efa3002defe\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"6b5dd9b7-709d-4fb1-8d74-dbd81fcafcea\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Status\":{\"id\":\"U%60%3BC\",\"name\":\"Status\",\"description\":null,\"type\":\"status\",\"status\":{\"options\":[{\"id\":\"079c8b4b-c3bc-4fcd-b523-fcbb94b7911f\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"34495d82-92d4-431d-a41c-f276fe4ef684\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}],\"groups\":[{\"id\":\"110fecc9-b3e8-4216-817c-817dd0349707\",\"name\":\"To-do\",\"color\":\"gray\",\"option_ids\":[\"079c8b4b-c3bc-4fcd-b523-fcbb94b7911f\",\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"34495d82-92d4-431d-a41c-f276fe4ef684\",\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\"]},{\"id\":\"2178bb7f-d1f8-46c3-b630-ecd1152a5605\",\"name\":\"In
      progress\",\"color\":\"blue\",\"option_ids\":[]},{\"id\":\"e1d6813a-42a3-4134-8dad-070ed7607f4e\",\"name\":\"Complete\",\"color\":\"green\",\"option_ids\":[]}]}},\"Urgency\":{\"id\":\"jkwd\",\"name\":\"Urgency\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:U%60%3BC:3839ce7b-60a4-8148-99ed-000b1e2cf103:00000000-0000-4000-8000-0000000000f0}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:lwnn:3839ce7b-60a4-8148-99ed-000b1e2cf103:00000000-0000-4000-8000-0000000000f0}}),
      \\\"\\\", \\\"\U0001F558\\\"))\"}},\"Due Date\":{\"id\":\"lwnn\",\"name\":\"Due
      Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-8146-a96f-f93140931d35\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a48146a96ff93140931d35\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8180-9ad3-000ba3a62e53\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F91D\"},\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Contacts
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all my contacts!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all my contacts!\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Phone\":{\"id\":\"E%40%3En\",\"name\":\"Phone\",\"description\":null,\"type\":\"phone_number\",\"phone_number\":{}},\"Sync
      Date\":{\"id\":\"M%60nJ\",\"name\":\"Sync Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Email\":{\"id\":\"SqMd\",\"name\":\"Email\",\"description\":null,\"type\":\"email\",\"email\":{}},\"URL\":{\"id\":\"YpOr\",\"name\":\"URL\",\"description\":null,\"type\":\"url\",\"url\":{}},\"Title\":{\"id\":\"%7Ci%3DR\",\"name\":\"Title\",\"description\":\"Title
      within the company\",\"type\":\"rich_text\",\"rich_text\":{}},\"Team Member\":{\"id\":\"%7Ct%5C%3C\",\"name\":\"Team
      Member\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Role\":{\"id\":\"%7DSX%3A\",\"name\":\"Role\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"9e145cd6-0d87-4f5b-9aa4-8c6b680a6095\",\"name\":\"Project
      Manager\",\"color\":\"green\",\"description\":null},{\"id\":\"4a0d273d-6366-42bb-a2ad-088ae3c2dbdd\",\"name\":\"Software
      Engineer\",\"color\":\"gray\",\"description\":null},{\"id\":\"7bd8bbc1-a62a-4b1e-9099-c30b7dcbe8cd\",\"name\":\"UX
      Designer\",\"color\":\"red\",\"description\":null},{\"id\":\"bd017515-414[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"82baa32f-db10-4cb8-8b16-922e9a874bb5\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:26:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:28:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB 42\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB 42\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell.\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Price\":{\"id\":\"O%3Cyu\",\"name\":\"Price\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Bought
      by\":{\"id\":\"V%40t%3F\",\"name\":\"Bought by\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"7cd7831e-afbf-4d22-9923-0b75b5ea55c5\",\"data_source_id\":\"d58c2fc9-982f-4f59-8c56-27524fcd4695\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"RwsR\"}}},\"Size\":{\"id\":\"q%3AOc\",\"name\":\"Size\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"ea3f18ef-8808-49f0-812f-d1d34a05dfc8\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"f555a056-3acf-41a9-a638-3bb1d140299d\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"5e00e310-73c8-4992-a62d-238389f38ef1\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"[...]
[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"d0fca6bd-c371-4823-be8f-c320dd911b4e\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:30:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"Vyiv\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"11e6f42f-69ef-4a68-a73c-a8b64d31880a\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"0c0f79fa-776d-4967-a83d-e93a442ca28d\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Category\":{\"id\":\"dKNx\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b36429be-bfc9-4b8a-b774-5a5597fe1222\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"4aaffad8-ca06-41e6-b1a2-2dd5609313e4\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"e757c0f1-8435-4087-[...]
[...]
- request:
    body: '{"query": "Wiki DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"b746280c-55f2-4aa4-8c79-efb013096a52\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Date
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Date
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Last
      Edited\":{\"id\":\"%3EiQm\",\"name\":\"Last Edited\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Date\":{\"id\":\"%5D%7Clg\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Created\":{\"id\":\"f%3CS%5B\",\"name\":\"Created\",\"description\":null,\"type\":\"created_time\",\"created_time\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"1dbc1f76-cfda-4236-bd6a-d973149aba7b\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/1dbc1f76cfda4236bd6ad973149aba7b\",\"public_url\":null,\"in_tras[...]
[...]
