interactions:
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"17fe5807-5812-4269-b700-1ccd38007c9b\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T15:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_time\":\"2026-06-24T15:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB 42\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB 42\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers.\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"%3Fac%3F\",\"name\":\"Items Purchased\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"6a540899-896a-41f9-b366-86fca1fd25d3\",\"data_source_id\":\"20ebc331-5bd9-4cc3-9ea4-650f41ddf1b8\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"DASZ\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"180c32b0-5108-448a-9739-0a0f7138c9ca\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/180c32b05108448a97390a0f7138c9ca\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"20ebc331-5bd9-4cc3-9ea4-650f41ddf1b8\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T15:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_time\":\"2026-06-24T15:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB 42\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB 42\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell.\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Bought
      by\":{\"id\":\"DASZ\",\"name\":\"Bought by\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"180c32b0-5108-448a-9739-0a0f7138c9ca\",\"data_source_id\":\"17fe5807-5812-4269-b700-1ccd38007c9b\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"%3Fac%3F\"}}},\"Size\":{\"id\":\"QQtJ\",\"name\":\"Size\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"8de04658-eb47-4776-aa5e-ebb1f3054d90\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"dd864042-92e3-48b3-af3c-8041791149ff\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"d46a5263-8e6d-4001-b5f5-abdc57e2a996\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Price\":{\"id\":\"pJES\",\"name\":\"Price\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"6a540899-896a-41f9-b366-86fca1fd25d3\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/6a540899896a41f9b36686fca1fd25d3\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8076-9982-000bc09a66e4\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T21:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"fc820d21-80ec-4d06-878c-f991bc8070d2\"},\"last_edited_time\":\"2026-06-18T21:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Wiki
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Wiki
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"dju%60\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"ffb414b1-7c94-4e2d-81bf-5dad675b029d\",\"name\":\"Onboarding\",\"color\":\"blue\",\"description\":null},{\"id\":\"a3b0e7d6-d0c6-4b60-abb3-e1e4e61c69ac\",\"name\":\"Design\",\"color\":\"green\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"nI%7Bq\",\"name\":\"Last edited time\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Page\":{\"id\":\"title\",\"name\":\"Page\",\"description\":null,\"type\":\"title\",\"title\":{}},\"Verification\":{\"id\":\"verification\",\"name\":\"Verification\",\"description\":null,\"type\":\"verification\",\"verification\":{}},\"Owner\":{\"id\":\"verification_owner\",\"name\":\"Owner\",\"description\":null,\"type\":\"people\",\"people\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81b2-848b-fac2003020b2\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a481b2848bfac2003020b2\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"3839ce7b-60a4-81d7-9c8f-0027e2be250c\"},\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"MrTs\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"length(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}},
      \\\", \\\"))\"}},\"String\":{\"id\":\"QDdU\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}})\"}},\"Checkbox\":{\"id\":\"f%40eH\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"contains(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}},
      \\\", \\\"), \\\"Done\\\")\"}},\"Date\":{\"id\":\"wGA%3B\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:4bb9ce7b-60a4-817c-8dc5-0003eac3b97a}}\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-0000000[...]
[...]
