interactions:
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"9fc71b9c-36ef-4978-a3a7-e97f77bcb265\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:15:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:15:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Place
      Property Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Place
      Property Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Location\":{\"id\":\"o%5EMZ\",\"name\":\"Location\",\"description\":null,\"type\":\"place\",\"place\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"99a351a2-0b01-40c8-afdf-594fef826477\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/99a351a20b0140c8afdf594fef826477\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"cc1ff0d1-bd58-41e5-bdd2-149efadea08e\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:15:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:15:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"No
      Prefix ID Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"No
      Prefix ID Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"ID\":{\"id\":\"BCV%7D\",\"name\":\"ID\",\"description\":null,\"type\":\"unique_id\",\"unique_id\":{\"prefix\":null}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"54efdab9-873f-4378-ae52-6f8a7591cc17\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/54efdab9873f4378ae526f8a7591cc17\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"eb885eea-b7d2-4576-aa0d-c20018eeb2fe[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/99a351a2-0b01-40c8-afdf-594fef826477
  response:
    content: '{"object":"block","id":"99a351a2-0b01-40c8-afdf-594fef826477","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:15:00.000Z","last_edited_time":"2026-06-24T16:24:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Place
      Property Test"},"archived":true,"request_id":"814c80e8-eede-4f35-ad88-c39c7f113505"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 814c80e8-eede-4f35-ad88-c39c7f113505
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"00000000-0000-4000-8000-000000000001\",\"created_time\":\"2026-06-18T15:44:00.000Z\",\"last_edited_time\":\"2026-06-24T16:15:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/Tests-00000000000040008000000000000001\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81c8-867a-f81fd71aa55c\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-23T11:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"database_id\":\"3839ce7b-60a4-8146-a96f-f93140931d35\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"type\":\"select\",\"select\":{\"id\":\"a6fe934c-2289-481d-a66a-9b468999412d\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Status\":{\"id\":\"U%60%3BC\",\"type\":\"status\",\"status\":{\"id\":\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"name\":\"Blocked\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"jkwd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F558\"}},\"Due
      Date\":{\"id\":\"lwnn\",\"type\":\"date\",\"date\":{\"start\":\"2026-07-01\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Run
      first Marathon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Run
      first Marathon\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/Run-first-Marathon-3839ce7b60a481c8867af81fd71aa55c\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-8[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-8141-bf53-cd2cf2b3316c
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8141-bf53-cd2cf2b3316c","created_time":"2026-06-24T16:25:00.000Z","last_edited_time":"2026-06-24T16:25:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://app.notion.com/p/Parent-3899ce7b60a48141bf53cd2cf2b3316c","public_url":null,"archived":false,"request_id":"2db0b131-1e27-4600-a50c-b306a0165b3d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 2db0b131-1e27-4600-a50c-b306a0165b3d
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"82baa32f-db10-4cb8-8b16-922e9a874bb5\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:26:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:28:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB 42\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB 42\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell.\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Price\":{\"id\":\"O%3Cyu\",\"name\":\"Price\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Bought
      by\":{\"id\":\"V%40t%3F\",\"name\":\"Bought by\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"7cd7831e-afbf-4d22-9923-0b75b5ea55c5\",\"data_source_id\":\"d58c2fc9-982f-4f59-8c56-27524fcd4695\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"RwsR\"}}},\"Size\":{\"id\":\"q%3AOc\",\"name\":\"Size\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"ea3f18ef-8808-49f0-812f-d1d34a05dfc8\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"f555a056-3acf-41a9-a638-3bb1d140299d\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"5e00e310-73c8-4992-a62d-238389f38ef1\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"38e7b7a9-681e-4142-a75e-3862001c1aab\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/38e7b7a9681e4142a75e3862001c1aab\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8076-9982-000bc09a66e4\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T21:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-18T21:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Wiki
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Wiki
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"dju%60\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"ffb414b1-7c94-4e2d-81bf-5dad675b029d\",\"name\":\"Onboarding\",\"color\":\"blue\",\"description\":null},{\"id\":\"a3b0e7d6-d0c6-4b60-abb3-e1e4e61c69ac\",\"name\":\"Design\",\"color\":\"green\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"nI%7Bq\",\"name\":\"Last edited time\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Page\":{\"id\":\"title\",\"name\":\"Page\",\"description\":null,\"type\":\"title\",\"title\":{}},\"Verification\":{\"id\":\"verification\",\"name\":\"Verification\",\"description\":null,\"type\":\"verification\",\"verification\":{}},\"Owner\":{\"id\":\"verification_owner\",\"name\":\"Owner\",\"description\":null,\"type\":\"people\",\"people\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81b2-848b-fac2003020b2\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a481b2848bfac2003020b2\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"MrTs\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"length(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \\\", \\\"))\"}},\"String\":{\"id\":\"QDdU\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})\"}},\"Checkbox\":{\"id\":\"f%40eH\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"contains(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \\\", \\\"), \\\"Done\\\")\"}},\"Date\":{\"id\":\"wGA%3B\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-0000000[...]
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"d0fca6bd-c371-4823-be8f-c320dd911b4e\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:30:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"Vyiv\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"11e6f42f-69ef-4a68-a73c-a8b64d31880a\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"0c0f79fa-776d-4967-a83d-e93a442ca28d\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Category\":{\"id\":\"dKNx\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b36429be-bfc9-4b8a-b774-5a5597fe1222\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"4aaffad8-ca06-41e6-b1a2-2dd5609313e4\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"e757c0f1-8435-4087-[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/97c64ee3-3bd8-45c0-922f-ebafa8a2c8e3
  response:
    content: '{"object":"block","id":"97c64ee3-3bd8-45c0-922f-ebafa8a2c8e3","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T16:29:00.000Z","last_edited_time":"2026-06-24T16:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Update
      Prop-Test: Schema B"},"archived":true,"request_id":"e3d757ce-a0ad-4b8a-b33b-0dbe3c723b12"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e3d757ce-a0ad-4b8a-b33b-0dbe3c723b12
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"a80925e3-bcd5-4c16-98e2-02e6cb1fe302\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:29:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:31:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Schema
      A\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Schema
      A\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Only
      used to create relations in Schema B\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Only
      used to create relations in Schema B\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Relation\":{\"id\":\"LGbc\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"241a33d7-4e90-42a5-8224-2791c40324e7\",\"data_source_id\":\"6f54cfeb-3ffc-4ac2-9929-cd3bf859a2c7\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Relation
      two-way\",\"synced_property_id\":\"Vhyf\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\[...]
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a48176b390e0b886497b5a
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8176-b390-e0b886497b5a","created_time":"2026-06-24T16:32:00.000Z","last_edited_time":"2026-06-24T16:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      with Custom Emoji Icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      with Custom Emoji Icon","href":null}]}},"url":"https://app.notion.com/p/Page-with-Custom-Emoji-Icon-3899ce7b60a48176b390e0b886497b5a","public_url":null,"archived":true,"request_id":"fca8abd7-4b7c-474a-a5d8-03ecef2736e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - fca8abd7-4b7c-474a-a5d8-03ecef2736e8
    status_code: 200
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"bbc618ad-0c18-46ea-8596-1c5a6b72eea3\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB for max text items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB for max text items\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all items\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Description\":{\"id\":\"T%3FTm\",\"name\":\"Description\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"ac0eab5c-6b0b-4425-aa44-b0d35a2a197c\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/ac0eab5c6b0b4425aa44b0d35a2a197c\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"data_source\",\"id\":\"71eac224-4ff4-4890-b64c-aee8c00db5cc\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB for low-level page update test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Contacts
      DB for low-level page update test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Role\":{\"id\":\"HFq%7B\",\"name\":\"Role\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"182b09ff-056b-494f-92bb-293363df12b5\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/182b09ff056b494f92bb293363df12b5\",\"public_url\":null,\"in_trash\":false,\[...]
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"People
      & Relation Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"People
      & Relation Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Relation\":{\"id\":\"fSlr\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"733b3caf-3a42-4cc5-a5d7-0eed69677afa\",\"data_source_id\":\"354c38d3-8ae7-49b4-98b8-88e6e93c0cf0\",\"type\":\"single_property\",\"single_property\":{}}},\"People\":{\"id\":\"iMS%5C\",\"name\":\"People\",\"description\":null,\"type\":\"people\",\"people\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"733b3caf-3a42-4cc5-a5d7-0eed69677afa\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/733b3caf3a424cc5a5d70eed69677afa\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"5f2c856c-389b-4778-9677-01787f626142\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Files
      & Checkbox Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Files
      & Checkbox Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Checkbox\":{\"id\":\"%3DYUT\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Files\":{\"id\":\"gci%5C\",\"name\":\"Files\",\"description\":null,\"type\":\"files\",\"files\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"81f57543-f5d7-475f-a180-293a3e3d710f\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/81f57543f5d7475fa180293a3e3d710f\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"7f004b8c-ccc1-440a-a663-e71db98d7d9e\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"(Multi)-Select
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"(Multi)-Select
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Multi-Select\":{\"id\":\"atd_\",\"name\":\"Multi-Select\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"880868e5-26a2-485a-939e-c4982cd222ce\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"5cf02f6e-94cd-40e7-9587-8b7d5a2bde6c\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"c384308a-c465-41c8-a74f-4f1f097dad1e\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Select\":{\"id\":\"lEng\",\"name\":\"Select\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"057b4e74-3b62-4177-adfa-d00af723bb93\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"bdabe2d7-b091-4d16-ab4a-ae0d7e02d9e5\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"3abab020-9e77-467f-b61d-b204b007e35d\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"desc[...]
[...]
[...]
