interactions:
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8076-9982-000bc09a66e4\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T21:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_time\":\"2026-06-18T21:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Wiki
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Wiki
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"dju%60\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"ffb414b1-7c94-4e2d-81bf-5dad675b029d\",\"name\":\"Onboarding\",\"color\":\"blue\",\"description\":null},{\"id\":\"a3b0e7d6-d0c6-4b60-abb3-e1e4e61c69ac\",\"name\":\"Design\",\"color\":\"green\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"nI%7Bq\",\"name\":\"Last edited time\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Page\":{\"id\":\"title\",\"name\":\"Page\",\"description\":null,\"type\":\"title\",\"title\":{}},\"Verification\":{\"id\":\"verification\",\"name\":\"Verification\",\"description\":null,\"type\":\"verification\",\"verification\":{}},\"Owner\":{\"id\":\"verification_owner\",\"name\":\"Owner\",\"description\":null,\"type\":\"people\",\"people\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81b2-848b-fac2003020b2\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a481b2848bfac2003020b2\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8168-ba4d-000b1ee50a86\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:56:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Date
      Source\":{\"id\":\"CNpy\",\"name\":\"Date Source\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Tags\":{\"id\":\"DUnB\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"285007eb-456a-4eda-8ac6-64c70c57f39d\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"MrTs\",\"name\":\"Number\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"length(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \\\", \\\"))\"}},\"String\":{\"id\":\"QDdU\",\"name\":\"String\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})\"}},\"Checkbox\":{\"id\":\"f%40eH\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"contains(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \\\", \\\"), \\\"Done\\\")\"}},\"Date\":{\"id\":\"wGA%3B\",\"name\":\"Date\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a481dcb9f3f8be2293bcaf\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"name\":\"Priority\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"a6fe934c-2289-481d-a66a-9b468999412d\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"8954e2f9-27d7-4b5d-ae76-5efa3002defe\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"6b5dd9b7-709d-4fb1-8d74-dbd81fcafcea\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Status\":{\"id\":\"U%60%3BC\",\"name\":\"Status\",\"description\":null,\"type\":\"status\",\"status\":{\"options\":[{\"id\":\"079c8b4b-c3bc-4fcd-b523-fcbb94b7911f\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"34495d82-92d4-431d-a41c-f276fe4ef684\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}],\"groups\":[{\"id\":\"110fecc9-b3e8-4216-817c-817dd0349707\",\"name\":\"To-do\",\"color\":\"gray\",\"option_ids\":[\"079c8b4b-c3bc-4fcd-b523-fcbb94b7911f\",\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"34495d82-92d4-431d-a41c-f276fe4ef684\",\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\"]},{\"id\":\"2178bb7f-d1f8-46c3-b630-ecd1152a5605\",\"name\":\"In
      progress\",\"color\":\"blue\",\"option_ids\":[]},{\"id\":\"e1d6813a-42a3-4134-8dad-070ed7607f4e\",\"name\":\"Complete\",\"color\":\"green\",\"option_ids\":[]}]}},\"Urgency\":{\"id\":\"jkwd\",\"name\":\"Urgency\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:U%60%3BC:3839ce7b-60a4-8148-99ed-000b1e2cf103:00000000-0000-4000-8000-0000000000f0}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:lwnn:3839ce7b-60a4-8148-99ed-000b1e2cf103:00000000-0000-4000-8000-0000000000f0}}),
      \\\"\\\", \\\"\U0001F558\\\"))\"}},\"Due Date\":{\"id\":\"lwnn\",\"name\":\"Due
      Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"00000000-0000-4000-8000-00000000000c\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/0000000000004000800000000000000c\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8180-9ad3-000ba3a62e53\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F91D\"},\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Contacts
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all my contacts!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all my contacts!\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Phone\":{\"id\":\"E%40%3En\",\"name\":\"Phone\",\"description\":null,\"type\":\"phone_number\",\"phone_number\":{}},\"Sync
      Date\":{\"id\":\"M%60nJ\",\"name\":\"Sync Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Email\":{\"id\":\"SqMd\",\"name\":\"Email\",\"description\":null,\"type\":\"email\",\"email\":{}},\"URL\":{\"id\":\"YpOr\",\"name\":\"URL\",\"description\":null,\"type\":\"url\",\"url\":{}},\"Title\":{\"id\":\"%7Ci%3DR\",\"name\":\"Title\",\"description\":\"Title
      within the company\",\"type\":\"rich_text\",\"rich_text\":{}},\"Team Member\":{\"id\":\"%7Ct%5C%3C\",\"name\":\"Team
      Member\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Role\":{\"id\":\"%7DSX%3A\",\"name\":\"Role\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"9e145cd6-0d87-4f5b-9aa4-8c6b680a6095\",\"name\":\"Project
      Manager\",\"color\":\"green\",\"description\":null},{\"id\":\"4a0d273d-6366-42bb-a2ad-088ae3c2dbdd\",\"name\":\"Software
      Engineer\",\"color\":\"gray\",\"description\":null},{\"id\":\"7bd8bbc1-a62a-4b1e-9099-c30b7dcbe8cd\",\"name\":\"UX
      Designer\",\"color\":\"red\",\"description\":null},{\"id\":\"bd017515-414[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"00000000-0000-4000-8000-000000000001\",\"created_time\":\"2026-06-18T15:44:00.000Z\",\"last_edited_time\":\"2026-06-24T18:37:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/Tests-00000000000040008000000000000001\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3899ce7b-60a4-81ac-9bc7-c4a95daf18[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481ac9bc7c4a95daf1814
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81ac-9bc7-c4a95daf1814","created_time":"2026-06-24T16:38:00.000Z","last_edited_time":"2026-06-24T18:40:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Local Remote Database Mention Block CMP","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Local Remote Database Mention Block CMP","href":null}]}},"url":"https://app.notion.com/p/Test-Local-Remote-Database-Mention-Block-CMP-3899ce7b60a481ac9bc7c4a95daf1814","public_url":null,"archived":true,"request_id":"cc33ab1b-02e9-432e-919b-fb7ca239a490"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cc33ab1b-02e9-432e-919b-fb7ca239a490
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/732825d2-2304-495a-85c7-5c0fe80f16a5
  response:
    content: '{"object":"block","id":"732825d2-2304-495a-85c7-5c0fe80f16a5","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:43:00.000Z","last_edited_time":"2026-06-24T18:43:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Customer
      DB 42"},"archived":true,"request_id":"f86e1cdb-a354-4020-a949-0158852f23ae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - f86e1cdb-a354-4020-a949-0158852f23ae
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"cc872542-719a-4fbb-87f4-9366094f948e\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T18:45:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T18:45:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Category\":{\"id\":\"_hXT\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"36ef5792-971f-4604-99bf-b6f0831b7818\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"c6b51aa1-46db-45a2-9cd2-31ce5048c8a9\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Tags\":{\"id\":\"g%7BdN\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"da1c3036-1361-46b0-9ba0-dc0fe7675f03\",\[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6231d55c-e73d-49d9-b084-3222616770d7
  response:
    content: '{"object":"block","id":"6231d55c-e73d-49d9-b084-3222616770d7","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T18:45:00.000Z","last_edited_time":"2026-06-24T18:46:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Update
      Prop-Test: Schema C"},"archived":true,"request_id":"9ef61fd9-461e-4aba-8cbe-1d2b05e8e31b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 9ef61fd9-461e-4aba-8cbe-1d2b05e8e31b
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"1a2091e7-8ff3-4635-b748-58ad20f2887a\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T18:44:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T18:47:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Schema
      A\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Schema
      A\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Only
      used to create relations in Schema B\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Only
      used to create relations in Schema B\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Relation\":{\"id\":\"D%7CHO\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"c1e2b270-e1ab-429c-9420-7e3f625ab6bb\",\"data_source_id\":\"33990d83-e90f-4943-9314-8c47f6579166\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Relation
      two-way\",\"synced_property_id\":\"pM%3EL\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"48de93fe-67f5-417a-8951-a6b194afaaf9\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/48de93fe67f5417a8951a6b194afaaf9\",\"public_url\":null,\"in_trash\":true,\"archived\":true},{\"object\":\"data_source\",\"id\":\"33990d83-e90f-4943-9314-8c47f65[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/8905acd3-7457-42e2-ab1d-f462e2e23fb0
  response:
    content: '{"object":"data_source","id":"8905acd3-7457-42e2-ab1d-f462e2e23fb0","cover":null,"icon":null,"created_time":"2026-06-24T18:48:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0000[...]
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a48150a015dd58d983bb73
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8150-a015-dd58d983bb73","created_time":"2026-06-24T18:48:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"3839ce7b-60a4-804c-bdcd-007ad3034fba","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png"}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      with Custom Emoji Icon","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      with Custom Emoji Icon","href":null}]}},"url":"https://app.notion.com/p/Page-with-Custom-Emoji-Icon-3899ce7b60a48150a015dd58d983bb73","public_url":null,"archived":true,"request_id":"52c834a9-9c81-4ce4-9db9-2172a796f24b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 52c834a9-9c81-4ce4-9db9-2172a796f24b
    status_code: 200
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"ab34e305-da97-4246-a7bc-bb3f0b6cbaa0\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T18:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T18:49:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB for max text items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB for max text items\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all items\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Description\":{\"id\":\"z_ik\",\"name\":\"Description\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"32391a5a-267f-4820-b553-487bb4d32987\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/32391a5a267f4820b553487bb4d32987\",\"public_url\":null,\"in_trash\":tr[...]
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"0699517b-f065-45e9-ba18-9cb6f10854eb\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T18:50:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T18:50:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Rollup
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Rollup
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Rollup
      Number Array\":{\"id\":\"%3Ckqw\",\"name\":\"Rollup Number Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"?c_S\",\"relation_property_id\":\"gB\\\\l\",\"function\":\"show_original\"}},\"Rollup
      Date Array\":{\"id\":\"%3CzjL\",\"name\":\"Rollup Date Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"zGrx\",\"relation_property_id\":\"gB\\\\l\",\"function\":\"show_original\"}},\"Number\":{\"id\":\"%3Fc_S\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Rollup
      Number\":{\"id\":\"PcWI\",\"name\":\"Rollup Number\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"?c_S\",\"relation_property_id\":\"gB\\\\l\",\"function\":\"max\"}},\"Rollup
      Date\":{\"id\":\"UcmL\",\"name\":\"Rollup Date\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"zGrx\",\"relation_property_id\":\"gB\\\\l\",\"function\":\"earliest_date\"}},\"Relation\":{\"id\":\"gB%5Cl\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"8009c26e-ee87-4bb3-8834-3094ff4cf40f\",\"data_source_id\":\"0699517b-f065-45e9-ba18-9cb6f10854eb\",\"type\":\"single_property\",\"single_property\":{}}},\"Date\":{\"id\":\"zGrx\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Rollup
      Title\":{\"id\":\"%7Be%3Bk\",\"name\":\"Rollup Title\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Title\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"gB\\\\l\",\"function\":\"show_original\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{[...]
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a481e495c0d8cfab969b78
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81e4-95c0-d8cfab969b78","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page created with a cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page created with a cover","href":null}]}},"url":"https://app.notion.com/p/My-new-page-created-with-a-cover-3899ce7b60a481e495c0d8cfab969b78","public_url":null,"archived":true,"request_id":"ffe63094-4a5d-49f8-a2a1-f1f890973be5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ffe63094-4a5d-49f8-a2a1-f1f890973be5
    status_code: 200
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"359ccbef-fefd-434a-b23b-bc5f535e5228\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T18:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T18:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Date
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Date
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Created\":{\"id\":\"%3FmBc\",\"name\":\"Created\",\"description\":null,\"type\":\"created_time\",\"created_time\":{}},\"Last
      Edited\":{\"id\":\"ZRPZ\",\"name\":\"Last Edited\",\"description\":null,\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Date\":{\"id\":\"xd~%3B\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\[...]
[...]
