interactions:
- request:
    body: '{"query": "Formula DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"142974f3-b388-80f1-85ac-e01c7ad33a22\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-18T14:08:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2024-11-18T14:41:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Formula
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Formula
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"String\":{\"id\":\"PbR%3B\",\"name\":\"String\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.style(\\\"u\\\",
      \\\"pink\\\")\"}},\"Date\":{\"id\":\"aK_F\",\"name\":\"Date\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:created_time}}.dateAdd(1,
      \\\"weeks\\\")\"}},\"Checkbox\":{\"id\":\"f%3EhC\",\"name\":\"Checkbox\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:fjsB:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.includes(\\\"Done\\\")\"}},\"Tags\":{\"id\":\"fjsB\",\"name\":\"Tags\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"73212b86-d2fb-47f6-8c57-e9791c3a6a09\",\"name\":\"In
      Progress\",\"color\":\"pink\",\"description\":null},{\"id\":\"427db6b8-1ec9-4374-b721-6ab4572b185b\",\"name\":\"Done\",\"color\":\"gray\",\"description\":null}]}},\"Number\":{\"id\":\"voBT\",\"name\":\"Number\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:fjsB:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}.length()\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/142974f3b38880f185ace01c7ad33a22\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"140974f3-b388-8198-945d-ce34728e5704\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-16T14:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-11-16T14:33:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Number
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Number
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Number\":{\"id\":\"wktm\",\"name\":\"Number\",\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/140974f3b3888198945dce34728e5704\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"140974f3-b388-814d-b8ff-ff7531ace9ea\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-16T14:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-11-16T14:31:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"People
      & Relation Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"People
      & Relation Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"People\":{\"id\":\"E%5CMb\",\"name\":\"People\",\"type\":\"people\",\"people\":{}},\"Relation\":{\"id\":\"Jisq\",\"name\":\"Relation\",\"type\":\"relation\",\"relation\":{\"database_id\":\"140974f3-b388-814d-b8ff-ff7531ace9ea\",\"type\":\"single_property\",\"single_property\":{}}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/140974f3b388814db8ffff7531ace9ea\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"140974f3-b388-81c6-b5f3-f59451b52d7b\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-16T14:30:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd[...]
[...]
- request:
    body: '{"query": "Formula DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"14d974f3-b388-8143-97d3-d3cd0d3bd7e5\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-29T12:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-11-29T12:49:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB for max text items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB for max text items\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all items\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all items\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Description\":{\"id\":\"m%3A%3DP\",\"name\":\"Description\",\"type\":\"rich_text\",\"rich_text\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/14d974f3b388814397d3d3cd0d3bd7e5\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"142974f3-b388-80f1-85ac-e01c7ad33a22\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-11-18T14:08:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12[...]
[...]
