interactions:
- request:
    body: '{"query": "Custom Emoji Page", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"38a9ce7b-60a4-8102-aa57-eaf9ff4999d9\",\"created_time\":\"2026-06-25T14:19:00.000Z\",\"last_edited_time\":\"2026-06-25T14:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F40D\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with an icon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page created with an icon\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-created-with-an-icon-38a9ce7b60a48102aa57eaf9ff4999d9\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"38a9ce7b-60a4-81f5-9db2-c2e93a513c93\",\"created_time\":\"2026-06-25T14:19:00.000Z\",\"last_edited_time\":\"2026-06-25T14:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://www.notion.so/images/page-cover/woodcuts_2.jpg\"}},\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      new page created with a cover\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      new page created with a cover\",\"href\":null}]}},\"url\":\"https://www.notion.so/My-new-page-created-with-a-cover-38a9ce7b60a481f59db2c2e93a513c93\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"00000000-0000-4000-8000-000000000008\",\"created_time\":\"2026-06-18T17:19:00.000Z\",\"last_edited_time\":\"2026-06-18T17:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":{\"type\":\"custom_emoji\",\"custom_emoji\":{\"id\":\"3839ce7b-60a4-804c-bdcd-007ad3034fba\",\"name\":\"ultimate-notion\",\"url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/d6af6628-5025-411f-893f-88cc5fe508dc/Screenshot_2026-06-18_at_18.01.42.png\"}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Custom
      Emoji Page\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Custom
      Emoji Page\",\"href\":null}]}},\"url\":\"https://www.notion.so/Custom-Emoji-Page-00000000000040008000000000000008\",\"public_url\":null,\"archived\":false}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{},\"request_id\":\"e2587039-4cf0-4278-bb78-a3ae82194809\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e2587039-4cf0-4278-bb78-a3ae82194809
    status_code: 200
[...]
- request:
    body: '{"query": "Custom Emoji Page", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"38a9ce7b-60a4-811d-ad34-ce41630b0c45","created_time":"2026-06-25T14:33:00.000Z","last_edited_time":"2026-06-25T14:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"38a9ce7b-60a4-8132-9b52-d22f6c32f0d2"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Multi
      Status":{"id":"Y_Pb","type":"multi_select","multi_select":[{"id":"48261a40-9b7d-43bd-8a19-94411685543c","name":"Option
      1","color":"default"}]},"Status":{"id":"%5CtfY","type":"select","select":{"id":"9fe573ae-001a-4652-af1c-4cba457e81ee","name":"Closed","color":"green"}},"Title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Page
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Page
      1","href":null}]}},"url":"https://www.notion.so/Page-1-38a9ce7b60a4811dad34ce41630b0c45","public_url":null,"archived":false},{"object":"page","id":"00000000-0000-4000-8000-000000000008","created_time":"2026-06-18T17:19:00.000Z","last_edited_time":"2026-06-18T17[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/38a9ce7b-60a4-8132-9b52-d22f6c32f0d2
  response:
    content: '{"object":"database","id":"38a9ce7b-60a4-8132-9b52-d22f6c32f0d2","cover":null,"icon":null,"created_time":"2026-06-25T14:33:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-25T14:33:00.000Z","title":[{"type":"text","text":{"content":"Option
      Page Props Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Option
      Page Props Test","href":null}],"description":[{"type":"text","text":{"content":"Schema
      for testing option page props","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Schema
      for testing option page props","href":null}],"is_inline":false,"properties":{"Multi
      Status":{"id":"Y_Pb","name":"Multi Status","description":null,"type":"multi_select","multi_select":{"options":[{"id":"48261a40-9b7d-43bd-8a19-94411685543c","name":"Option
      1","color":"default","description":null},{"id":"30741b50-1247-4f44-b5fd-37ccc3b83ce6","name":"Option
      2","color":"pink","description":null}]}},"Status":{"id":"%5CtfY","name":"Status","description":null,"type":"select","select":{"options":[{"id":"7669651f-c47c-4f95-8f2c-bb309caa456d","name":"Open","color":"gray","description":null},{"id":"c842bcfe-7142-4d2f-933e-b2fcd1c5ba40","name":"In
      Progress","color":"blue","description":null},{"id":"96277a8d-773a-4590-bf86-d46b418db6ab","name":"Blocked","color":"red","description":null},{"id":"9fe573ae-001a-4652-af1c-4cba457e81ee","name":"Closed","color":"green","description":null}]}},"Title":{"id":"title","name":"Title","description":null,"type":"title","title":{}}},"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://www.notion.so/38a9ce7b60a481329b52d22f6c32f0d2","public_url":null,"in_trash":false,"archived":false,"request_id":"ff053fc3-584e-4807-bec1-14e5de8bbba2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ff053fc3-584e-4807-bec1-14e5de8bbba2
    status_code: 200
[...]
