interactions:
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-08-12T12:22:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2024-06-01T20:01:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"All
      Properties DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"All
      Properties DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Files\":{\"id\":\"%3BCha\",\"name\":\"Files\",\"type\":\"files\",\"files\":{}},\"Select\":{\"id\":\"%3Dzw%7C\",\"name\":\"Select\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b554ca09-3d4d-4963-b24e-b4789755e79e\",\"name\":\"Option1\",\"color\":\"default\",\"description\":null},{\"id\":\"853aabd5-b24e-479f-9b16-5b1d50995f10\",\"name\":\"Option2\",\"color\":\"red\",\"description\":null}]}},\"Last
      edited time\":{\"id\":\"%3D%7B%7BM\",\"name\":\"Last edited time\",\"type\":\"last_edited_time\",\"last_edited_time\":{}},\"Created
      by\":{\"id\":\"Bde%5C\",\"name\":\"Created by\",\"type\":\"created_by\",\"created_by\":{}},\"ID\":{\"id\":\"GIY%3B\",\"name\":\"ID\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"ABC\"}},\"Email\":{\"id\":\"IWgp\",\"name\":\"Email\",\"type\":\"email\",\"email\":{}},\"Date\":{\"id\":\"LG%3AF\",\"name\":\"Date\",\"type\":\"date\",\"date\":{}},\"People\":{\"id\":\"OTkG\",\"name\":\"People\",\"type\":\"people\",\"people\":{}},\"Checkbox\":{\"id\":\"QxPZ\",\"name\":\"Checkbox\",\"type\":\"checkbox\",\"checkbox\":{}},\"Number\":{\"id\":\"WL%40f\",\"name\":\"Number\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Status\":{\"id\":\"%5Enaj\",\"name\":\"Status\",\"type\":\"status\",\"status\":{\"options\":[{\"id\":\"dce1e338-da63-4b60-8126-6752aec02589\",\"name\":\"Not
      started\",\"color\":\"default\",\"description\":null},{\"id\":\"61b541c0-4d17-4059-b158-8b72b6aef724\",\"name\":\"In
      progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"1b92c97e-00e4-4409-be80-c48e2906e443\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}],\"groups\":[{\"id\":\"efa11b9c-c42f-4a78-a096-20c583573047\",\"name\":\"To-do\",\"color\":\"gray\",\"option_ids\":[\"dce1e338-da63-4b60-8126-6752aec02589\"]},{\"id\":\"6006542b-8e37-4dab-b232-edde3cebb032\",\"name\":\"In
      progress\",\"color\":\"blue\",\"option_ids\":[\"61b541c0-4d17-4059-b158-8b72b6aef724\"]},{\"id\":\"11dfbcef-680a-4392-a439-568e93683c7d\",\"name\":\"Complete\",\"color\":\"green\",\"option_ids\":[\"1b92c97e-00e4-4409-be80-c48e2906e443\"]}]}},\"AI
      custom\":{\"id\":\"b%5DMq\",\"name\":\"AI custom\",\"type\":\"rich_text\",\"rich_text\":{}},\"Text\":{\"id\":\"dNkb\",\"name\":\"Text\",\"type\":\"rich_text\",\"rich_text\":{}},\"AI
      key info\":{\"id\":\"iGrF\",\"name\":\"AI key info\",\"type\":\"rich_text\",\"rich_text\":{}},\"Phone
      number\":{\"id\":\"k%7DwY\",\"name\":\"Phone number\",\"type\":\"phone_number\",\"phone_number\":{}},\"AI
      summary\":{\"id\":\"p%5CHX\",\"name\":\"AI summary\",\"type\":\"rich_text\",\"rich_text\":{}},\"Rollup\":{\"id\":\"pwp_\",\"name\":\"Rollup\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Name\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"|eR]\",\"function\":\"count\"}},\"Relation
      two-way\":{\"id\":\"sXu%40\",\"name\":\"Relation two-way\",\"type\":\"relation\",\"relation\":{\"database_id\":\"301bb96e-972c-4d15-bfb3-debcef317109\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Related
      to Schema B (1) (Relation two-way)\",\"synced_property_id\":\"J_fD\"}}},\"Last
      edited by\":{\"id\":\"uaO%5E\",\"name\":\"Last edited by\",\"type\":\"last_edited_by\",\"last_edited_by\":{}},\"Formula\":{\"id\":\"wsPE\",\"name\":\"Formula\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:WL%40f:5dd6f15d-e78b-422b-84f6-ade77aa73906:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      * 2\"}},\"URL\":{\"id\":\"ypoy\",\"name\":\"URL\",\"type\":\"url\",\"url\":{}},\"Created
      time\":{\"id\":\"%7CLPX\",\"name\":\"Created time\",\"type\":\"created_by\",\"created_by\":{}},\"Relation\":{\"id\":\"%7CeR%5D\",\"name\":\"Relation\",\"type\":\"relation\",\"relation\":{\"database_id\":\"301bb96e-972c-4d15-bfb3-debcef317109\",\"type\":\"single_property\",\"single_property\":{}}},\"Multi-Select\":{\"id\":\"~ML%40\",\"name\":\"Multi-Select\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"]klO\",\"name\":\"MultiOption1\",\"color\":\"purple\",\"description\":null},{\"id\":\"\\\\vwn\",\"name\":\"MultiOption2\",\"color\":\"yellow\",\"description\":null}]}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/4fa8756fa0da4efe9c484d6a323b69f8\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2023-12-03T10:26:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65ef[...]
[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"5ef9c684-8b71-4177-a17f-8e5cef0365e2\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-08-02T20:50:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-08-02T20:50:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Parent
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Parent
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"acBu\",\"name\":\"Tags\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/5ef9c6848b714177a17f8e5cef0365e2\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"4fa8756f-a0da-4efe-9c48-4d6a323b69f8\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-08-12T12:22:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-[...]
[...]
