interactions:
- request:
    body: '{"query": "All Properties DB", "filter": {"property": "object", "value":
      "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"10a974f3-b388-8185-b8c6-d4bc8007e0da\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-09-23T16:27:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-09-23T16:27:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Parent
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Parent
      DB\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Tags\":{\"id\":\"%3APNo\",\"name\":\"Tags\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/10a974f3b3888185b8c6d4bc8007e0da\",\"public_url\":null,\"archived\":true,\"in_trash\":true},{\"object\":\"database\",\"id\":\"10a974f3-b388-81a4-9fa7-c9f98565856b\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-09-23T16:24:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-09-23T16:25:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      synced task db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      synced task db\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Due
      Date\":{\"id\":\"fqF~\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Status\":{\"id\":\"zSm%5C\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"2f1daa46-f4c3-410a-80b6-d74d9bf7aff8\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"15746cd0-ce96-474d-a3c8-9c65cc373547\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"ab9b2334-4153-4cd9-830b-da7367d056e9\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"575b859e-d186-41f3-badd-6b10c9ef7529\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/10a974f3b38881a49fa7c9f98565856b\",\"public_url\":null,\"archived\":true,\"in_trash\":true},{\"object\":\"database\",\"id\":\"10a974f3-b388-8135-895e-fa74afdd8b51\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-09-23T16:23:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39[...]
[...]
