interactions:
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"17fe5807-5812-4269-b700-1ccd38007c9b\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T15:33:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T15:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Customer
      DB 42\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Customer
      DB 42\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all our beloved customers.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all our beloved customers.\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Items
      Purchased\":{\"id\":\"%3Fac%3F\",\"name\":\"Items Purchased\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"6a540899-896a-41f9-b366-86fca1fd25d3\",\"data_source_id\":\"20ebc331-5bd9-4cc3-9ea4-650f41ddf1b8\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Bought
      by\",\"synced_property_id\":\"DASZ\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"180c32b0-5108-448a-9739-0a0f7138c9ca\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/180c32b05108448a97390a0f7138c9ca\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"20ebc331-5bd9-4cc3-9ea4-650f41ddf1b8\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T15:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T15:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB 42\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB 42\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell.\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Bought
      by\":{\"id\":\"DASZ\",\"name\":\"Bought by\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"180c32b0-5108-448a-9739-0a0f7138c9ca\",\"data_source_id\":\"17fe5807-5812-4269-b700-1ccd38007c9b\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"%3Fac%3F\"}}},\"Size\":{\"id\":\"QQtJ\",\"name\":\"Size\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"8de04658-eb47-4776-aa5e-ebb1f3054d90\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"dd864042-92e3-48b3-af3c-8041791149ff\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"d46a5263-8e6d-4001-b5f5-abdc57e2a996\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Price\":{\"id\":\"pJES\",\"name\":\"Price\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"6a540899-896a-41f9-b366-86fca1fd25d3\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/6a540899896a41f9b36686fca1fd25d3\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"68524db2-3b58-4274-9087-737690[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/180c32b0-5108-448a-9739-0a0f7138c9ca
  response:
    content: '{"object":"block","id":"180c32b0-5108-448a-9739-0a0f7138c9ca","parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"created_time":"2026-06-24T15:33:00.000Z","last_edited_time":"2026-06-24T16:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Customer
      DB 42"},"archived":true,"request_id":"dfd0cc30-67e8-4c18-8c2b-6bd95392bccf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - dfd0cc30-67e8-4c18-8c2b-6bd95392bccf
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/3899ce7b-60a4-81bb-9da6-e131648761b5
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81bb-9da6-e131648761b5","created_time":"2026-06-24T15:31:00.000Z","last_edited_time":"2026-06-24T15:31:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Parent","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Parent","href":null}]}},"url":"https://app.notion.com/p/Parent-3899ce7b60a481bb9da6e131648761b5","public_url":null,"archived":false,"request_id":"5d8b09b9-c225-4d4c-92ea-838e467080df"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5d8b09b9-c225-4d4c-92ea-838e467080df
    status_code: 200
[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"00000000-0000-4000-8000-000000000001\",\"created_time\":\"2026-06-18T15:44:00.000Z\",\"last_edited_time\":\"2026-06-24T15:34:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/Tests-00000000000040008000000000000001\",\"public_url\":null,\"archived\":false},{\"[...]
[...]
- request:
    body: '{"filter": {"property": "object", "value": "data_source"}, "page_size":
      100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"6f4c4e51-9fcb-427a-a062-be4b089fef7b\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:14:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:14:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Category\":{\"id\":\"C%5DEW\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"871c616d-eb27-4a42-9bfa-bcaaea03fc0f\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"735a260d-47ba-46ae-b40d-360a03c3b161\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Tags\":{\"id\":\"qc%3En\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"6d777953-1b56-430a-ab63-3b1bec6dd5da\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"a9f62c1a-b35f-4f90-a347-593b71a61636\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"00c98e4e-5fc5-476e-b813-9719206c502f\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/00c98e4e5fc5476eb8139719206c502f\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"5b96b352-2ea4-43fa-8c40-7f17cc15d6ae\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:14:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:14:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Select
      Options Update Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Select
      Options Update Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Number\":{\"id\":\"GmQT\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"euro\"}},\"Tags\":{\"id\":\"KiwF\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"6db46989-e540-49be-8db3-9d96b24c716f\",\"name\":\"Cat3\",\"color\":\"red\",\"description\":null}]}},\"Formula\":{\"id\":\"LcEj\",\"name\":\"Formula\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:v%3EAe:5b96b352-2ea4-43fa-8c40-7f17cc15d6ae:00000000-0000-4000-8000-0000000000f0}}\"}},\"Category\":{\"id\":\"v%3EAe\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"bc024939-84e4-48c6-9b32-19ff72251648\",\"name\":\"Cat3\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"a69f87c4-3a0e-4524-89f7-02cd0578509f\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/a69f87c43a0e452489f702cd0578509f\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"55ad27e3-8592-45b3-9775-6041ed3fdd5d\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-24T16:14:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-24T16:14:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Update
      Prop-Test: Schema C\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Update
      Prop-Test: Schema C\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Actual
      interesting schema/db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Actual
      interesting schema/db\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Relation
      two-way\":{\"id\":\"DIkX\",\"name\":\"Relation two-way\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"c2c622ab-9c76-4ccc-9196-8a9b70b1b392\",\"data_source_id\":\"8ce7fe35-dd7e-4ef9-8f32-9cfa8eda6d1f\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Related
      to Update Prop-Test: Schema C (Relation two-way)\",\"synced_property_id\":\"mCtl\"}}},\"Relation\":{\"id\":\"eC%40O\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"c2c622ab-9c76-4ccc-9196-8a9b70b1b392\",\"data_source_id\":\"8ce7fe35-dd7e-4ef9-8f32-9cfa8eda6d1f\",\"type\":\"single_property\",\"single_property\":{}}},\"Rollup\":{\"id\":\"%7Cq%60~\",\"name\":\"Rollup\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Name\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"eC@O\",\"function\":\"count\"}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"341c7773-b08a-4473-b1e5-51aa7110c3cb\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/341c7773b08a4473b1e551aa7110c3cb\",\"public_url\":null,\"in_trash\":false,\"archived\":false},{\"object\":\"data_source\",\"id\":\"8ce7fe35-dd7e-4ef9-8f32-9cfa8ed[...]
[...]
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"3899ce7b-60a4-8143-865b-f7685290fecb\",\"created_time\":\"2026-06-24T16:16:00.000Z\",\"last_edited_time\":\"2026-06-24T16:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"9fc71b9c-36ef-4978-a3a7-e97f77bcb265\",\"database_id\":\"99a351a2-0b01-40c8-afdf-594fef826477\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Location\":{\"id\":\"o%5EMZ\",\"type\":\"place\",\"place\":null},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"No
      Place\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"No
      Place\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/No-Place-3899ce7b60a48143865bf7685290fecb\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3899ce7b-60a4-815c-b61b-c2e744e5a866\",\"created_time\":\"2026-06-24T16:15:00.000Z\",\"last_edited_time\":\"2026-06-24T16:15:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"9fc71b9c-36ef-4978-a3a7-e97f77bcb265\",\"database_id\":\"99a351a2-0b01-40c8-afdf-594fef826477\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Location\":{\"id\":\"o%5EMZ\",\"type\":\"place\",\"place\":{\"lat\":52.52,\"lon\":13.405,\"name\":null,\"address\":\"Berlin,
      Germany\",\"aws_place_id\":\"ChIJAVkDPzdOqEcRcDteW0YgIQQ\",\"google_place_id\":\"ChIJAVkDPzdOqEcRcDteW0\"}},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      Place\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      Place\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/My-Place-3899ce7b60a4815cb61bc2e744e5a866\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"0000000[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/9fc71b9c-36ef-4978-a3a7-e97f77bcb265
  response:
    content: '{"object":"data_source","id":"9fc71b9c-36ef-4978-a3a7-e97f77bcb265","cover":null,"icon":null,"created_time":"2026-06-24T16:15:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"0000[...]
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/3899ce7b60a4815388c4c0e4fca15ae6
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-8153-88c4-c0e4fca15ae6","created_time":"2026-06-24T16:13:00.000Z","last_edited_time":"2026-06-24T16:16:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":true,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"State
      Page for ID Prefix ALLCOLS","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"State
      Page for ID Prefix ALLCOLS","href":null}]}},"url":"https://app.notion.com/p/State-Page-for-ID-Prefix-ALLCOLS-3899ce7b60a4815388c4c0e4fca15ae6","public_url":null,"archived":true,"request_id":"a17770ce-3ea0-4a7f-a4e2-c79a28c19beb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a17770ce-3ea0-4a7f-a4e2-c79a28c19beb
    status_code: 200
version: 1
