interactions:
- request:
    body: ''
    headers: {}
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":null,"type":"person","person":{"email":"florian.wilhelm@gmail.com"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"15bf0e55-027a-4d35-8358-e0083a1a028b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
