interactions:
- request:
    body: '{"query": "Embed/Inline & Unfurl", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25ab24c9-ec4e-4ff1-b8d0-3204b449dfac","created_time":"2024-07-09T20:37:00.000Z","last_edited_time":"2024-07-10T11:36:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Embed/Inline
      & Unfurl","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Embed/Inline
      & Unfurl","href":null}]}},"url":"https://www.notion.so/Embed-Inline-Unfurl-25ab24c9ec4e4ff1b8d03204b449dfac","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"a8a32310-95cb-446e-ba46-a904b565ce60"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - a8a32310-95cb-446e-ba46-a904b565ce60
    status_code: 200
[...]
