interactions:
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2023-12-03T10:26:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() [...]
[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"900ac6ff-a4d5-44b9-9775-3b55ff08788b\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-02-14T17:29:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      synched task db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      synched task db\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"HNq%60\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"b473381f-19b9-4f60-b2cc-674e033a41d3\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"fbb0446d-8681-44cb-a5ba-4cea20520cf5\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"f754506e-8284-4649-b60a-2de0f4becb38\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"f8b8bdb6-5848-4ccd-81a1-b646d7835e70\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"Wr_%3C\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/900ac6ffa4d544b997753b55ff08788b\",\"public_url\":null,\"archived\":true},{\"object\":\"database\",\"id\":\"8c1b046d-94ff-4acd-a0f6-c8dbd2994bad\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-02-14T17:28:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      task list\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      task list\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Priority\":{\"id\":\"%3Dpmo\",\"name\":\"Priority\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"67b0c940-8bb0-4306-ad11-5e32bd5abfb8\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"21cd018c-b70e-41da-809d-faa70ab66df0\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"7b019bec-9c35-4935-9ecd-f20957b8cc83\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Due Date\":{\"id\":\"HQoR\",\"name\":\"Due
 [...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"254dba07-3f5c-473a-b798-886942d27b99\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-02-14T17:29:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Item
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Item
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all the items we sell\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all the items we sell\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Price\":{\"id\":\"GQpo\",\"name\":\"Price\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"Size\":{\"id\":\"_Hvq\",\"name\":\"Size\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"e615fb15-3d8f-40d3-9130-4a0ad6560d10\",\"name\":\"S\",\"color\":\"green\",\"description\":null},{\"id\":\"2ee42ea2-8272-42b9-9391-983569cc2182\",\"name\":\"M\",\"color\":\"yellow\",\"description\":null},{\"id\":\"1207ddbd-726a-4fd3-bcdb-15f5dd1d9c63\",\"name\":\"L\",\"color\":\"red\",\"description\":null}]}},\"Bought
      by\":{\"id\":\"%7DPLD\",\"name\":\"Bought by\",\"type\":\"relation\",\"relation\":{\"database_id\":\"efb0509c-081f-42e1-b1dc-a4bb2424b154\",\"type\":\"dual_property\",\"dual_property\":{\"synced_property_name\":\"Items
      Purchased\",\"synced_property_id\":\"lFBS\"}}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/254dba073f5c473ab798886942d27b99\",\"public_url\":null,\"archived\":true},{\"object\":\"database\",\"id\":\"efb0509c-081f-42e1-b1dc-a4bb2424b154\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-02-14T17:28:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"la[...]
[...]
- request:
    body: '{"query": "Task DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+1d3XLcOHZ+FaarVGVvjBmAIEFStd4t68e2dmTLY2nG41k7KvxKHHWTbTZbbWXW
        c5f7XCR3m8pN8gpJ7evsE+QRckCySbAlt7o98s8mUk1ZJAEeHBzgHHznh5qfB7n4SctysDkYppNy
        cG9Q6Ml0WE4Gm3/8uWtTvOSCTzS0pwruBZaCiQgjHQUYBQlTKJExQTH3k9hwX4WaQF+Zn+tisJlN
        h0N4UebZ/FoWmpdaHZfpSAM5H/sUER9h/4iwTYI3Mf4KY/zjoOspLgabDkPTCRBumGFBqKNEKUR1
        QFGAlUaJCgmiCQ0jSWTgR2bw7t5gyCflsVbpNeQEsZNTBhjSBgWBoiiOuUJ+iAmLDWPU9xfJLc6D
        HsEkfObMo0zLoa6EWl6Mbd9Sv7Xirn4BKyCcUmeWlyM+OfN2tqBtmGZ[...]
[...]
