interactions:
- request:
    body: '{"query": "Custom Emoji Page", "filter": {"property": "object", "value":
      "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"20c974f3-b388-808b-99a9-cfd22f106a8e","created_time":"2025-06-08T15:50:00.000Z","last_edited_time":"2025-06-08T19:22:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":{"type":"custom_emoji","custom_emoji":{"id":"20c974f3-b388-8063-b812-007aeaf0578a","name":"ultimate-notion","url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/021a290b-d194-4457-ab01-01f9b2bf803f/favicon.svg"}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Custom
      Emoji Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Custom
      Emoji Page","href":null}]}},"url":"https://www.notion.so/Custom-Emoji-Page-20c974f3b388808b99a9cfd22f106a8e","public_url":null},{"object":"page","id":"61a3f87b-140a-4a71-8773-a25746e6f7b1","created_time":"2023-08-12T13:53:00.000Z","last_edited_time":"2023-08-12T13:53:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4c6e7417-ef05-4b7e-b55e-62ecbb55a38d"},"archived":false,"in_trash":false,"properties":{"Verification":{"id":"Mw%5E%3C","type":"verification","verification":{"state":"unverified","verified_by":null,"date":null}},"Tags":{"id":"OESf","type":"multi_select","multi_select":[]},"Last
      edited time":{"id":"%5EB_%40","type":"last_edited_time","last_edited_time":"2023-08-12T13:53:00.000Z"},"Rollup":{"id":"gqYo","type":"rollup","rollup":{"type":"array","array":[],"function":"show_original"}},"Page":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Wiki
      Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Wiki
      Page","href":null}]},"Owner":{"id":"notion%3A%2F%2Fwiki%2Fowner_property","type":"people","people":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}}]}},"url":"https://www.notion.so/Wiki-Page-61a3f87b140a4a718773a25746e6f7b1","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e927e62c-4f3f-4d89-a884-c528af4ab42b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e927e62c-4f3f-4d89-a884-c528af4ab42b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4c6e7417-ef05-4b7e-b55e-62ecbb55a38d
  response:
    content: '{"object":"database","id":"4c6e7417-ef05-4b7e-b55e-62ecbb55a38d","cover":null,"icon":null,"created_time":"2023-08-12T13:26:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-07-26T19:31:00.000Z","title":[{"type":"text","text":{"content":"Wiki
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Wiki
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Verification":{"id":"Mw%5E%3C","name":"Verification","description":null,"type":"verification","verification":{}},"Tags":{"id":"OESf","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4036ff5b-932f-4883-8d0c-6ca1fa6f9cf6","name":"Onboarding","color":"blue","description":null},{"id":"869be616-aa64-491d-b56c-161ea3e81b56","name":"Design","color":"green","description":null}]}},"Last
      edited time":{"id":"%5EB_%40","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Page":{"id":"title","name":"Page","description":null,"type":"title","title":{}},"Owner":{"id":"notion%3A%2F%2Fwiki%2Fowner_property","name":"Owner","description":null,"type":"people","people":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4c6e7417ef054b7eb55e62ecbb55a38d","public_url":null,"archived":false,"in_trash":false,"request_id":"42fc7eae-c586-4a56-af44-d78163767c85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 42fc7eae-c586-4a56-af44-d78163767c85
    status_code: 200
version: 1
