interactions:
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"a5634c5a-7f72-4b98-8c77-109b1eac734e\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-01-21T08:11:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2024-01-21T08:34:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      synched task db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      synched task db\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Due
      Date\":{\"id\":\"DQMv\",\"name\":\"Due Date\",\"type\":\"date\",\"date\":{}},\"Status\":{\"id\":\"IWwM\",\"name\":\"Status\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"a3f94210-820b-4e45-a0b7-3f7a185ac469\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"666b6a98-d560-4c5a-99a9-3749c43d1f07\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"8dd9e402-d3c2-47c5-8520-003ef76f4998\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"d31661b1-bc47-47d6-9aac-44d877ee1e85\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/a5634c5a7f724b988c77109b1eac734e\",\"public_url\":null,\"archived\":false},{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2023-12-03T10:26:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() [...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a5634c5a-7f72-4b98-8c77-109b1eac734e
  response:
    content: '{"object":"block","id":"a5634c5a-7f72-4b98-8c77-109b1eac734e","parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"created_time":"2024-01-21T08:11:00.000Z","last_edited_time":"2024-01-23T15:57:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"My
      synched task db"},"request_id":"363d3bda-500a-4ff9-9eb9-efb275ce67c0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"5f505199-b292-4713-920b-61d813bf72a3\",\"created_time\":\"2022-08-22T15:47:00.000Z\",\"last_edited_time\":\"2024-01-21T08:11:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3\",\"public_url\":null},{\"object\":\"page\",\"id\":\"2fcfe2c6-48f5-4f25-aa3e-047e7e592aa5\",\"created_time\":\"2023-12-02T16:10:00.000Z\",\"last_edited_time\":\"2024-01-04T16:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F3C3\U0001F3FB\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\"},\"archived\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F525
      -4w2d\"}},\"Due Date\":{\"id\":\"K%3A%3Fo\",\"type\":\"date\",\"date\":{\"start\":\"2023-12-23T20:10:00.000+00:00\",\"end\":null,\"time_zone\":null}},\"Status\":{\"id\":\"ob%5DU\",\"type\":\"select\",\"select\":{\"id\":\"ce60f469-5d10-4c18-937f-3e8a539f7bff\",\"name\":\"In
      Progress\",\"color\":\"blue\"}},\"Priority\":{\"id\":\"sGSq\",\"type\":\"select\",\"select\":{\"id\":\"bf393d83-8f47-4fb9-88e3-f6a8be3fa324\",\"name\":\"\u2736
      Low\",\"color\":\"gray\"}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Run
      first Marathon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Run
      first Marathon\",\"href\":null}]}},\"url\":\"https:/[...]
- request:
    body: '{"filter": {"property": "object", "value": "database"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"e4f796e0-b981-4a97-b5bc-6a77b93ad204\",\"cover\":null,\"icon\":null,\"created_time\":\"2024-01-23T15:57:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2024-01-23T15:57:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      Tasks\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      Tasks\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Repeats\":{\"id\":\"%3BRe%5D\",\"name\":\"Repeats\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"ccdff446-bbcd-43a2-8bf7-b4d321f86dbe\",\"name\":\"Daily\",\"color\":\"gray\",\"description\":null},{\"id\":\"c6c35c99-6531-4279-bad7-91a8e766854c\",\"name\":\"Weekly\",\"color\":\"pink\",\"description\":null},{\"id\":\"2a1a63fe-121c-49b0-9b69-93f29ef1f8ba\",\"name\":\"Bi-weekly\",\"color\":\"brown\",\"description\":null},{\"id\":\"52901e19-b8b5-44c3-bb30-9d4a4a912fc7\",\"name\":\"Monthly\",\"color\":\"orange\",\"description\":null},{\"id\":\"66236c1d-619d-44f9-af95-2009ca5e994a\",\"name\":\"Bi-monthly\",\"color\":\"yellow\",\"description\":null},{\"id\":\"4e836f8d-55d3-49a3-add7-eda5b42fe458\",\"name\":\"Tri-monthly\",\"color\":\"green\",\"description\":null},{\"id\":\"9bf7e8c3-c12c-425d-bb92-f7dcaf6ae7ee\",\"name\":\"Quarterly\",\"color\":\"blue\",\"description\":null},{\"id\":\"3fe6b42d-b487-4b59-b7dc-7d96bc7a9b97\",\"name\":\"Bi-annually\",\"color\":\"purple\",\"description\":null},{\"id\":\"4927c79f-adf6-4699-88f9-a3e62192989d\",\"name\":\"Yearly\",\"color\":\"red\",\"description\":null}]}},\"URL\":{\"id\":\"%3Dgr%5B\",\"name\":\"URL\",\"type\":\"url\",\"url\":{}},\"Priority\":{\"id\":\"A%3BaP\",\"name\":\"Priority\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"4635a33d-7284-48ab-8eca-53bcd17d453f\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"b3b5572a-2c78-449a-a795-ed8f7cc3ac54\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"e92885e8-0e21-47bb-9f97-92f27a984bd5\",\"name\":\"\u2736
      Low\",\"color\":[...]
