interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_1", "text":
      {"content": "level_1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e6fe4cd5-5b03-492d-bf9f-11e8d56ced2c","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-e6fe4cd55b03492dbf9f11e8d56ced2c","public_url":null,"request_id":"74c13026-1121-4cc7-a334-edc716d5d6ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "e6fe4cd5-5b03-492d-bf9f-11e8d56ced2c", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_2", "text":
      {"content": "level_2"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ad6335a7-30c7-4b62-bdfd-d69f4f9a08e9","created_time":"2024-01-23T16:02:00.000Z","last_edited_time":"2024-01-23T16:02:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"e6fe4cd5-5b03-492d-bf9f-11e8d56ced2c"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-ad6335a730c74b62bdfdd69f4f9a08e9","public_url":null,"request_id":"9538e93d-3c3a-497e-a87f-f8a2271362db"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
