interactions:
- request:
    body: '{"parent": {"page_id": "5f505199-b292-4713-920b-61d813bf72a3", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_1", "text":
      {"content": "level_1"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"9bd454ef-68e3-427f-aac2-b6955a8eaafa","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_1","href":null}]}},"url":"https://www.notion.so/level_1-9bd454ef68e3427faac2b6955a8eaafa","public_url":null,"request_id":"23d15052-fce5-42f1-a9f1-8fb86f381652"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent": {"page_id": "9bd454ef-68e3-427f-aac2-b6955a8eaafa", "type":
      "page_id"}, "properties": {"title": {"title": [{"plain_text": "level_2", "text":
      {"content": "level_2"}, "type": "text"}], "type": "title"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0f446514-cfbf-467e-8f2b-8b7c64532733","created_time":"2024-01-25T07:49:00.000Z","last_edited_time":"2024-01-25T07:49:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"9bd454ef-68e3-427f-aac2-b6955a8eaafa"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"level_2","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"level_2","href":null}]}},"url":"https://www.notion.so/level_2-0f446514cfbf467e8f2b8b7c64532733","public_url":null,"request_id":"0c826525-6335-4304-89c6-e7d5ded23074"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
