interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"00000000-0000-4000-8000-0000000000f1","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_id":"00000000-0000-4000-8000-0000000000f0","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"518a452d-9230-4150-8ef4-ae19d5a7c626"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 518a452d-9230-4150-8ef4-ae19d5a7c626
    status_code: 200
version: 1
