interactions:
- request:
    body: '{"query": "This Page Does Not Exist At All", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"29c974f3-b388-810d-95dc-c73ffc532142\",\"created_time\":\"2025-10-30T15:36:00.000Z\",\"last_edited_time\":\"2025-10-30T15:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Page
      for testing max nesting level\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Page
      for testing max nesting level\",\"href\":null}]}},\"url\":\"https://www.notion.so/Page-for-testing-max-nesting-level-29c974f3b388810d95dcc73ffc532142\",\"public_url\":null},{\"object\":\"page\",\"id\":\"29c974f3-b388-8183-a2fd-d9f296ae41dc\",\"created_time\":\"2025-10-30T15:36:00.000Z\",\"last_edited_time\":\"2025-10-30T15:36:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"archived\":false,\"in_trash\":false,\[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-10-30T15:37:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"57289e90-c90a-44dd-af59-4d8e0067ff53"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 57289e90-c90a-44dd-af59-4d8e0067ff53
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e9f53dc3-80ce-4a97-9424-659ef13a0d2e
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find page with ID: e9f53dc3-80ce-4a97-9424-659ef13a0d2e. Make sure the relevant
      pages and databases are shared with your integration.","request_id":"ac37ca32-7bda-4024-9765-f1adeab8e19c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ac37ca32-7bda-4024-9765-f1adeab8e19c
    status_code: 404
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4c6e7417-ef05-4b7e-b55e-62ecbb55a38d
  response:
    content: '{"object":"database","id":"4c6e7417-ef05-4b7e-b55e-62ecbb55a38d","cover":null,"icon":null,"created_time":"2023-08-12T13:26:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_time":"2025-07-26T19:31:00.000Z","title":[{"type":"text","text":{"content":"Wiki
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Wiki
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Verification":{"id":"Mw%5E%3C","name":"Verification","description":null,"type":"verification","verification":{}},"Tags":{"id":"OESf","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"4036ff5b-932f-4883-8d0c-6ca1fa6f9cf6","name":"Onboarding","color":"blue","description":null},{"id":"869be616-aa64-491d-b56c-161ea3e81b56","name":"Design","color":"green","description":null}]}},"Last
      edited time":{"id":"%5EB_%40","name":"Last edited time","description":null,"type":"last_edited_time","last_edited_time":{}},"Page":{"id":"title","name":"Page","description":null,"type":"title","title":{}},"Owner":{"id":"notion%3A%2F%2Fwiki%2Fowner_property","name":"Owner","description":null,"type":"people","people":{}}},"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"url":"https://www.notion.so/4c6e7417ef054b7eb55e62ecbb55a38d","public_url":null,"archived":false,"in_trash":false,"request_id":"87a02a86-55dd-41b8-9fc6-32d566025fae"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 87a02a86-55dd-41b8-9fc6-32d566025fae
    status_code: 200
version: 1
