interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/12345678-1234-1234-1234-123456789abc
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"path
      failed validation: path.page_id should be a valid uuid, instead was `\"12345678-1234-1234-1234-123456789abc\"`.","request_id":"df2155fc-acdb-4b2a-908c-3c16cbef7cdc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - df2155fc-acdb-4b2a-908c-3c16cbef7cdc
    status_code: 400
version: 1
