interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/12345678-1234-1234-1234-123456789abc
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"path
      failed validation: path.page_id should be a valid uuid, instead was `\"12345678-1234-1234-1234-123456789abc\"`.","request_id":"40e29eef-44de-4fcd-bfeb-6c80be56a2b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 40e29eef-44de-4fcd-bfeb-6c80be56a2b9
    status_code: 400
version: 1
