interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/12345678-1234-1234-1234-123456789abc
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"path
      failed validation: path.page_id should be a valid uuid, instead was `\"12345678-1234-1234-1234-123456789abc\"`.","request_id":"d98cfa96-ba2d-453a-8327-526bda9a67ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - d98cfa96-ba2d-453a-8327-526bda9a67ba
    status_code: 400
version: 1
