interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/pages/12345678-1234-1234-1234-123456789abc
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"path
      failed validation: path.page_id should be a valid uuid, instead was `\"12345678-1234-1234-1234-123456789abc\"`.","request_id":"65532419-3e45-46ac-b731-9fb48964aeed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 65532419-3e45-46ac-b731-9fb48964aeed
    status_code: 400
version: 1
