interactions:
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"20e974f3-b388-814f-80c8-f904f4cf1f1a\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:54:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:54:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Rollup
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Rollup
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Rollup
      Number Array\":{\"id\":\"%3DjK%60\",\"name\":\"Rollup Number Array\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"jYLJ\",\"relation_property_id\":\"uViI\",\"function\":\"show_original\"}},\"Date\":{\"id\":\"Nzc%5D\",\"name\":\"Date\",\"type\":\"date\",\"date\":{}},\"Rollup
      Date Array\":{\"id\":\"RI%60C\",\"name\":\"Rollup Date Array\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"Nzc]\",\"relation_property_id\":\"uViI\",\"function\":\"show_original\"}},\"Rollup
      Title\":{\"id\":\"ZrJJ\",\"name\":\"Rollup Title\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Title\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"uViI\",\"function\":\"show_original\"}},\"Number\":{\"id\":\"jYLJ\",\"name\":\"Number\",\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Rollup
      Number\":{\"id\":\"l%3FFv\",\"name\":\"Rollup Number\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"jYLJ\",\"relation_property_id\":\"uViI\",\"function\":\"max\"}},\"Relation\":{\"id\":\"uViI\",\"name\":\"Relation\",\"type\":\"relation\",\"relation\":{\"database_id\":\"20e974f3-b388-814f-80c8-f904f4cf1f1a\",\"type\":\"single_property\",\"single_property\":{}}},\"Rollup
      Date\":{\"id\":\"wPcB\",\"name\":\"Rollup Date\",\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"Nzc]\",\"relation_property_id\":\"uViI\",\"function\":\"earliest_date\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/20e974f3b388814f80c8f904f4cf1f1a\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"20e974f3-b388-81a4-96de-eb58cd9b358f\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:54:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:54:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Empty
      Formula DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Empty
      Formula DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Formula\":{\"id\":\"%3FGN%3C\",\"name\":\"Formula\",\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/20e974f3b38881a496deeb58cd9b358f\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"20e974f3-b388-8150-a31c-c0aba0029399\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:53:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"People
      & Relation Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"People
      & Relation Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"People\":{\"id\":\"Vd~h\",\"name\":\"People\",\"type\":\"people\",\"people\":{}},\"Relation\":{\"id\":\"%5EbNq\",\"name\":\"Relation\",\"type\":\"relation\",\"relation\":{\"database_id\":\"20e974f3-b388-8150-a31c-c0aba0029399\",\"type\":\"single_property\",\"single_property\":{}}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/20e974f3b3888150a31cc0aba0029399\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"20e974f3-b388-81c5-978b-fce2d804d14d\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:53:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Files
      & Checkbox Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Files
      & Checkbox Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Checkbox\":{\"id\":\"HWJ%3C\",\"name\":\"Checkbox\",\"type\":\"checkbox\",\"checkbox\":{}},\"Files\":{\"id\":\"lvd%5C\",\"name\":\"Files\",\"type\":\"files\",\"files\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/20e974f3b38881c5978bfce2d804d14d\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"20e974f3-b388-8118-bf34-de66f2b00933\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-06-10T17:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-06-10T17:53:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"(Multi)-Select
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"(Multi)-Select
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Select\":{\"id\":\"ckPL\",\"name\":\"Select\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"f10f4b70-8957-48e5-b010-a350173aa1aa\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"b23b5759-a8f1-44e2-9900-5f0c129772c0\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"9cb153bc-ec35-4e3a-8088-4a1df1d64b1d\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Multi-Select\":{\"id\":\"uT%3Aw\",\"name\":\"Multi-Select\",\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"1d112a3d-8043-4d8c-9787-e3fce1e95ea5\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"3204a1fe-e053-4a28-8ff3-41d2fae87c35\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"aaa5576b-9e00-4a03-bd93-a42c4fa7a762\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-[...]
