interactions:
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"00000000-0000-4000-8000-000000000001\",\"created_time\":\"2026-06-18T15:44:00.000Z\",\"last_edited_time\":\"2026-06-24T18:48:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Tests\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Tests\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/Tests-00000000000040008000000000000001\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-81c8-867a-f81fd71aa55c\",\"created_time\":\"2026-06-18T17:51:00.000Z\",\"last_edited_time\":\"2026-06-23T11:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"data_source_id\",\"data_source_id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"database_id\":\"3839ce7b-60a4-8146-a96f-f93140931d35\"},\"in_trash\":false,\"is_archived\":false,\"is_locked\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"type\":\"select\",\"select\":{\"id\":\"a6fe934c-2289-481d-a66a-9b468999412d\",\"name\":\"\u2739
      High\",\"color\":\"red\"}},\"Status\":{\"id\":\"U%60%3BC\",\"type\":\"status\",\"status\":{\"id\":\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"name\":\"Blocked\",\"color\":\"red\"}},\"Urgency\":{\"id\":\"jkwd\",\"type\":\"formula\",\"formula\":{\"type\":\"string\",\"string\":\"\U0001F558\"}},\"Due
      Date\":{\"id\":\"lwnn\",\"type\":\"date\",\"date\":{\"start\":\"2026-07-01\",\"end\":null,\"time_zone\":null}},\"Task\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Run
      first Marathon\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Run
      first Marathon\",\"href\":null}]}},\"url\":\"https://app.notion.com/p/Run-first-Marathon-3839ce7b60a481c8867af81fd71aa55c\",\"public_url\":null,\"archived\":false},{\"object\":\"page\",\"id\":\"3839ce7b-60a4-8[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8148-99ed-000b1e2cf103
  response:
    content: "{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8148-99ed-000b1e2cf103\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Priority\":{\"id\":\"DcVz\",\"name\":\"Priority\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"a6fe934c-2289-481d-a66a-9b468999412d\",\"name\":\"\u2739
      High\",\"color\":\"red\",\"description\":null},{\"id\":\"8954e2f9-27d7-4b5d-ae76-5efa3002defe\",\"name\":\"\u2737
      Medium\",\"color\":\"yellow\",\"description\":null},{\"id\":\"6b5dd9b7-709d-4fb1-8d74-dbd81fcafcea\",\"name\":\"\u2736
      Low\",\"color\":\"gray\",\"description\":null}]}},\"Status\":{\"id\":\"U%60%3BC\",\"name\":\"Status\",\"description\":null,\"type\":\"status\",\"status\":{\"options\":[{\"id\":\"079c8b4b-c3bc-4fcd-b523-fcbb94b7911f\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"34495d82-92d4-431d-a41c-f276fe4ef684\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}],\"groups\":[{\"id\":\"110fecc9-b3e8-4216-817c-817dd0349707\",\"name\":\"To-do\",\"color\":\"gray\",\"option_ids\":[\"079c8b4b-c3bc-4fcd-b523-fcbb94b7911f\",\"f4b3a893-4b26-48db-b839-421daf1f1a25\",\"34495d82-92d4-431d-a41c-f276fe4ef684\",\"c58aef64-2007-4f6f-8b2c-bc4a7fdbdba8\"]},{\"id\":\"2178bb7f-d1f8-46c3-b630-ecd1152a5605\",\"name\":\"In
      progress\",\"color\":\"blue\",\"option_ids\":[]},{\"id\":\"e1d6813a-42a3-4134-8dad-070ed7607f4e\",\"name\":\"Complete\",\"color\":\"green\",\"option_ids\":[]}]}},\"Urgency\":{\"id\":\"jkwd\",\"name\":\"Urgency\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:U%60%3BC:3839ce7b-60a4-8148-99ed-000b1e2cf103:00000000-0000-4000-8000-0000000000f0}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:lwnn:3839ce7b-60a4-8148-99ed-000b1e2cf103:00000000-0000-4000-8000-0000000000f0}}),
      \\\"\\\", \\\"\U0001F558\\\"))\"}},\"Due Date\":{\"id\":\"lwnn\",\"name\":\"Due
      Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3839ce7b-60a4-8146-a96f-f93140931d35\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://app.notion.com/p/3839ce7b60a48146a96ff93140931d35\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"10d92847-835a-4aa7-ab16-0b00672faa9e\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 10d92847-835a-4aa7-ab16-0b00672faa9e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000004
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000004","created_time":"2026-06-18T17:51:00.000Z","last_edited_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Markdown
      Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Markdown
      Test","href":null}]}},"url":"https://app.notion.com/p/Markdown-Test-00000000000040008000000000000004","public_url":null,"archived":false,"request_id":"e6894178-7c4e-43c6-b058-6b2cec4035ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - e6894178-7c4e-43c6-b058-6b2cec4035ac
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8168-ba4d-000b1ee50a86
  response:
    content: '{"object":"data_source","id":"3839ce7b-60a4-8168-ba4d-000b1ee50a86","cover":null,"icon":null,"created_time":"2026-06-18T17:51:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_time":"2026-06-18T17:56:00.000Z","title":[{"type":"text","text":{"content":"Formula
      DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Formula
      DB","href":null}],"description":[],"is_inline":false,"properties":{"Date Source":{"id":"CNpy","name":"Date
      Source","description":null,"type":"date","date":{}},"Tags":{"id":"DUnB","name":"Tags","description":null,"type":"multi_select","multi_select":{"options":[{"id":"285007eb-456a-4eda-8ac6-64c70c57f39d","name":"In
      Progress","color":"pink","description":null},{"id":"f1d3aded-bb84-437e-9fa8-a6c7e24a2f29","name":"Done","color":"gray","description":null}]}},"Number":{"id":"MrTs","name":"Number","description":null,"type":"formula","formula":{"expression":"length(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \", \"))"}},"String":{"id":"QDdU","name":"String","description":null,"type":"formula","formula":{"expression":"format({{notion:block_property:title:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}})"}},"Checkbox":{"id":"f%40eH","name":"Checkbox","description":null,"type":"formula","formula":{"expression":"contains(join({{notion:block_property:DUnB:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}},
      \", \"), \"Done\")"}},"Date":{"id":"wGA%3B","name":"Date","description":null,"type":"formula","formula":{"expression":"{{notion:block_property:CNpy:3839ce7b-60a4-8168-ba4d-000b1ee50a86:00000000-0000-4000-8000-0000000000f0}}"}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"3839ce7b-60a4-81dc-b9f3-f8be2293bcaf"},"database_parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"url":"https://app.notion.com/p/3839ce7b60a481dcb9f3f8be2293bcaf","public_url":null,"in_trash":false,"archived":false,"request_id":"ce1a05d3-c272-4ac0-b5fa-344a11d95f1e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - ce1a05d3-c272-4ac0-b5fa-344a11d95f1e
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/3839ce7b-60a4-8180-9ad3-000ba3a62e53
  response:
    content: "{\"object\":\"data_source\",\"id\":\"3839ce7b-60a4-8180-9ad3-000ba3a62e53\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F91D\"},\"created_time\":\"2026-06-18T17:51:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-18T17:51:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Contacts
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all my contacts!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all my contacts!\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Phone\":{\"id\":\"E%40%3En\",\"name\":\"Phone\",\"description\":null,\"type\":\"phone_number\",\"phone_number\":{}},\"Sync
      Date\":{\"id\":\"M%60nJ\",\"name\":\"Sync Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Email\":{\"id\":\"SqMd\",\"name\":\"Email\",\"description\":null,\"type\":\"email\",\"email\":{}},\"URL\":{\"id\":\"YpOr\",\"name\":\"URL\",\"description\":null,\"type\":\"url\",\"url\":{}},\"Title\":{\"id\":\"%7Ci%3DR\",\"name\":\"Title\",\"description\":\"Title
      within the company\",\"type\":\"rich_text\",\"rich_text\":{}},\"Team Member\":{\"id\":\"%7Ct%5C%3C\",\"name\":\"Team
      Member\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Role\":{\"id\":\"%7DSX%3A\",\"name\":\"Role\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"9e145cd6-0d87-4f5b-9aa4-8c6b680a6095\",\"name\":\"Project
      Manager\",\"color\":\"green\",\"description\":null},{\"id\":\"4a0d273d-6366-42bb-a2ad-088ae3c2dbdd\",\"name\":\"Software
      Engineer\",\"color\":\"gray\",\"description\":null},{\"id\":\"7bd8bbc1-a62a-4b1e-9099-c30b7dcbe8cd\",\"name\":\"UX
      Designer\",\"color\":\"red\",\"description\":null},{\"id\":\"bd017515-414[...]
