interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"8693afac-15bd-478c-b11b-5a249d768f75"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8693afac-15bd-478c-b11b-5a249d768f75
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/645e79dd-3e43-40de-9d51-39357c1c427f
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"03886ee6-76d9-4ea3-a0c2-f567c42e1b77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 03886ee6-76d9-4ea3-a0c2-f567c42e1b77
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/745e79dd-3e43-40de-9d51-39357c1c428f
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find user with ID: 745e79dd-3e43-40de-9d51-39357c1c428f. Make sure your
      integration has capabilities to read user information. With those capabilities,
      only members and guests in the integration''s workspace are visible.","request_id":"5be654ee-9cef-4769-aafe-28655ea7c751"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5be654ee-9cef-4769-aafe-28655ea7c751
    status_code: 404
version: 1
