interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with a cover", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created with a cover"}}]}}, "cover": {"type": "external", "external":
      {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"38c9ce7b-60a4-81a6-8876-dd31a35c6d25","created_time":"2026-06-27T05:02:00.000Z","last_edited_time":"2026-06-27T05:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page created with a cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page created with a cover","href":null}]}},"url":"https://www.notion.so/My-new-page-created-with-a-cover-38c9ce7b60a481a68876dd31a35c6d25","public_url":null,"archived":false,"request_id":"5e76f159-d2c9-466e-bbda-ff24913b1cff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 5e76f159-d2c9-466e-bbda-ff24913b1cff
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-27T05:02:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"cb7e9d00-bf29-48d8-aae1-ecbc42926f36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cb7e9d00-bf29-48d8-aae1-ecbc42926f36
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with an icon", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created with an icon"}}]}}, "icon": {"type": "emoji", "emoji":
      "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"38c9ce7b-60a4-81a6-89ca-cb34fc1cd1cc\",\"created_time\":\"2026-06-27T05:02:00.000Z\",\"last_edited_time\":\"2026-06-27T05:02:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\[...]
