interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000fa\",\"name\":\"Adam
      Dangoor\",\"avatar_url\":null,\"type\":\"person\",\"person\":{\"email\":\"adamdangoor@gmail.com\"}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Publish
      Interview Questions\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{}},{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}}}],\"next_cursor\":null,\"has_more\":false,\"type\":\"user\",\"user\":{},\"request_id\":\"3a4fcc00-038d-4a72-9f1b-353a9ec2505b\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3a4fcc00-038d-4a72-9f1b-353a9ec2505b
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"21023601-b636-4469-9b8d-7d3c9fe65917\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 21023601-b636-4469-9b8d-7d3c9fe65917
    status_code: 200
version: 1
