interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/645e79dd-3e43-40de-9d51-39357c1c427f
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find user with ID: 645e79dd-3e43-40de-9d51-39357c1c427f. Make sure your
      integration has capabilities to read user information. With those capabilities,
      only members and guests in the integration''s workspace are visible.","request_id":"1b6a69ac-7291-4db5-8f74-3a521679e722"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"15f-/UdQbeB1/1KeVA1ssRXeacSmZHk"
      x-notion-request-id:
      - 1b6a69ac-7291-4db5-8f74-3a521679e722
    status_code: 404
version: 1
