interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"b07d89e9-2736-4a63-b705-7411518c3af5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-2moeIzKj4KGIMV9mGNIt5YDXluw"
      x-notion-request-id:
      - b07d89e9-2736-4a63-b705-7411518c3af5
    status_code: 200
version: 1
