interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users?page_size=100
  response:
    content: '{"object":"list","results":[{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322","name":"Florian
      Wilhelm","avatar_url":"https://lh3.googleusercontent.com/a-/AAuE7mBBGq22qnRbLoOSo5zScC4miXci-xi4vELc30G9Aw=s100","type":"person","person":{"email":"florian.wilhelm@gmail.com"}},{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"}}],"next_cursor":null,"has_more":false,"type":"user","user":{},"request_id":"5bf913c4-b9c7-4901-aa66-b71a3c25812a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"2d5-OmbNsfEBIRpU1BDt2iSOcV164ZA"
      x-notion-request-id:
      - 5bf913c4-b9c7-4901-aa66-b71a3c25812a
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f","name":"Github
      Unittests","avatar_url":"https://s3-us-west-2.amazonaws.com/public.notion-static.com/975357ac-773b-4ccb-95f5-e3a2a6cef61f/GitHub-Mark-120px-plus.png","type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"GitHub
      Unittests"},"request_id":"b1e8fb2d-bc0e-4ab0-9c16-ef209836aa3f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"17d-plcybWzAZISEvDmcywLwG1EAMBE"
      x-notion-request-id:
      - b1e8fb2d-bc0e-4ab0-9c16-ef209836aa3f
    status_code: 200
version: 1
