interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"509010c9-580f-4a08-9080-fc267e0999e8\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 509010c9-580f-4a08-9080-fc267e0999e8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/users/00000000-0000-4000-8000-0000000000f1
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"469c81bf-4817-4329-9bff-7506c2c15a14\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 469c81bf-4817-4329-9bff-7506c2c15a14
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2026-03-11'
    method: GET
    uri: https://api.notion.com/v1/users/745e79dd-3e43-40de-9d51-39357c1c428f
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find user with ID: 745e79dd-3e43-40de-9d51-39357c1c428f. Make sure your
      integration has capabilities to read user information. With those capabilities,
      only members and guests in the integration''s workspace are visible.","additional_data":{"integration_id":"00000000-0000-4000-8000-0000000000f1"},"request_id":"3aaffcff-81cd-4a81-b210-8ed38d796b4f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 3aaffcff-81cd-4a81-b210-8ed38d796b4f
    status_code: 404
version: 1
