interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"8ca1f9fe-0c2f-4702-9281-02a07af3cef2\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 8ca1f9fe-0c2f-4702-9281-02a07af3cef2
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/00000000-0000-4000-8000-0000000000f1
  response:
    content: "{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\",\"name\":\"Ultimate
      Notion Tests\",\"avatar_url\":null,\"type\":\"bot\",\"bot\":{\"owner\":{\"type\":\"workspace\",\"workspace\":true},\"workspace_name\":\"Adam
      Dangoor\u2019s Notion\",\"workspace_id\":\"00000000-0000-4000-8000-0000000000f0\",\"workspace_limits\":{\"max_file_upload_size_in_bytes\":5242880}},\"request_id\":\"949e521b-e8de-4ba0-bfc0-26cca0d58eae\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 949e521b-e8de-4ba0-bfc0-26cca0d58eae
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/745e79dd-3e43-40de-9d51-39357c1c428f
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find user with ID: 745e79dd-3e43-40de-9d51-39357c1c428f. Make sure your
      integration has capabilities to read user information. With those capabilities,
      only members and guests in the integration''s workspace are visible.","additional_data":{"integration_id":"00000000-0000-4000-8000-0000000000f1"},"request_id":"56dd14f2-211d-44ac-9d12-815c7bc2c0f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 56dd14f2-211d-44ac-9d12-815c7bc2c0f3
    status_code: 404
version: 1
