interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/6855b161-f63e-4683-b7c7-8ca6e97ee246
  response:
    content: '{"object":"page","id":"6855b161-f63e-4683-b7c7-8ca6e97ee246","created_time":"2023-11-05T10:35:00.000Z","last_edited_time":"2025-08-11T08:32:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Getting
      Started","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Getting
      Started","href":null}]}},"url":"https://www.notion.so/Getting-Started-6855b161f63e4683b7c78ca6e97ee246","public_url":null,"request_id":"7c04a972-4598-4fa9-8acf-fa306aac3d37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 7c04a972-4598-4fa9-8acf-fa306aac3d37
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/5f505199-b292-4713-920b-61d813bf72a3
  response:
    content: '{"object":"page","id":"5f505199-b292-4713-920b-61d813bf72a3","created_time":"2022-08-22T15:47:00.000Z","last_edited_time":"2025-09-03T14:04:00.000Z","created_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"last_edited_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://www.notion.so/Tests-5f505199b2924713920b61d813bf72a3","public_url":null,"request_id":"65bdce73-856d-49a7-b9c0-cd2a4fbe8121"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 65bdce73-856d-49a7-b9c0-cd2a4fbe8121
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/7855b161-f63e-4683-b7c7-8ca6e97ee266
  response:
    content: '{"object":"error","status":404,"code":"object_not_found","message":"Could
      not find page with ID: 7855b161-f63e-4683-b7c7-8ca6e97ee266. Make sure the relevant
      pages and databases are shared with your integration.","request_id":"0b7dbb96-b520-4f9b-951a-34636fdda1f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 0b7dbb96-b520-4f9b-951a-34636fdda1f6
    status_code: 404
version: 1
