version: 1
interactions:
- request:
    body: '{"filter": {"property": "object", "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object": "list", "results": [{"object": "page", "id": "00000000-0000-4713-920b-61d813bf72a0",
      "created_time": "2026-06-22T08:00:00.000Z", "last_edited_time": "2026-06-22T08:00:00.000Z",
      "created_by": {"object": "user", "id": "00000000-0000-4713-920b-61d813bf0001"},
      "last_edited_by": {"object": "user", "id": "00000000-0000-4713-920b-61d813bf0001"},
      "cover": null, "icon": null, "parent": {"type": "workspace", "workspace": true},
      "in_trash": false, "is_archived": false, "is_locked": false, "properties": {"Name":
      {"id": "title", "type": "title", "title": [{"type": "text", "text": {"content":
      "Regular Page A", "link": null}, "annotations": {"bold": false, "italic": false,
      "strikethrough": false, "underline": false, "code": false, "color": "default"},
      "plain_text": "Regular Page A", "href": null}]}}, "url": "https://www.notion.so/0000000000004713920b61d813bf72a0",
      "public_url": null, "archived": false}, {"object": "page", "id": "00000000-0000-4713-920b-61d813bf73b0",
      "created_time": "2026-06-22T08:00:00.000Z", "last_edited_time": "2026-06-22T08:00:00.000Z",
      "created_by": {"object": "user", "id": "00000000-0000-4713-920b-61d813bf0001"},
      "last_edited_by": {"object": "user", "id": "00000000-0000-4713-920b-61d813bf0001"},
      "cover": null, "icon": null, "parent": {"type": "workspace", "workspace": true},
      "in_trash": false, "is_archived": false, "is_locked": false[...]
