interactions:
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"276974f3-b388-81f5-9593-ef3620cf1e25\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-22T09:24:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-22T09:24:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bind
      DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bind
      DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Category\":{\"id\":\"bAMW\",\"name\":\"Category\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"afa0f5e9-906b-415f-9967-eddba3164a92\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"6d37ef3b-110a-4554-b074-97bb4e370f1f\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Tags\":{\"id\":\"%7BS%5DR\",\"name\":\"Tags\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"8313e6d5-4fca-4c65-a195-bba8b11fefa3\",\"name\":\"Cat1\",\"color\":\"default\",\"description\":null},{\"id\":\"63cb938d-ffc9-4caa-ac84-0b9af841429a\",\"name\":\"Cat2\",\"color\":\"red\",\"description\":null}]}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/276974f3b38881f59593ef3620cf1e25\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"276974f3-b388-81a1-939d-c0f5309c63b5\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-22T09:21:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-22T09:21:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Rollup
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Rollup
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Number\":{\"id\":\"F%5Bwu\",\"name\":\"Number\",\"description\":null,\"type\":\"number\",\"number\":{\"format\":\"number\"}},\"Rollup
      Number\":{\"id\":\"O%5Bko\",\"name\":\"Rollup Number\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"F[wu\",\"relation_property_id\":\"kC?r\",\"function\":\"max\"}},\"Rollup
      Title\":{\"id\":\"SC~%5C\",\"name\":\"Rollup Title\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Title\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"title\",\"relation_property_id\":\"kC?r\",\"function\":\"show_original\"}},\"Rollup
      Date Array\":{\"id\":\"Xy%40%3D\",\"name\":\"Rollup Date Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"qtTh\",\"relation_property_id\":\"kC?r\",\"function\":\"show_original\"}},\"Rollup
      Number Array\":{\"id\":\"Y%7D%7Br\",\"name\":\"Rollup Number Array\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Number\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"F[wu\",\"relation_property_id\":\"kC?r\",\"function\":\"show_original\"}},\"Rollup
      Date\":{\"id\":\"Zt%60t\",\"name\":\"Rollup Date\",\"description\":null,\"type\":\"rollup\",\"rollup\":{\"rollup_property_name\":\"Date\",\"relation_property_name\":\"Relation\",\"rollup_property_id\":\"qtTh\",\"relation_property_id\":\"kC?r\",\"function\":\"earliest_date\"}},\"Relation\":{\"id\":\"kC%3Fr\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"276974f3-b388-81a1-939d-c0f5309c63b5\",\"data_source_id\":\"276974f3-b388-81aa-923a-000b2573dd1e\",\"type\":\"single_property\",\"single_property\":{}}},\"Date\":{\"id\":\"qtTh\",\"name\":\"Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/276974f3b38881a1939dc0f5309c63b5\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"276974f3-b388-815e-b65c-c5c9836ffdfb\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-22T09:21:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-22T09:21:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Empty
      Formula DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Empty
      Formula DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Formula\":{\"id\":\"%40%5E%3Et\",\"name\":\"Formula\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"{{notion:block_property:title:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}\"}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/276974f3b388815eb65cc5c9836ffdfb\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"276974f3-b388-8111-98fa-cdd7946f3624\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-22T09:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-22T09:20:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"People
      & Relation Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"People
      & Relation Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Relation\":{\"id\":\"RTID\",\"name\":\"Relation\",\"description\":null,\"type\":\"relation\",\"relation\":{\"database_id\":\"276974f3-b388-8111-98fa-cdd7946f3624\",\"data_source_id\":\"276974f3-b388-8168-87da-000b333fa5cf\",\"type\":\"single_property\",\"single_property\":{}}},\"People\":{\"id\":\"_fCY\",\"name\":\"People\",\"description\":null,\"type\":\"people\",\"people\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/276974f3b388811198facdd7946f3624\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"276974f3-b388-81d1-a897-c40032b4865b\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-22T09:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-22T09:20:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Files
      & Checkbox Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Files
      & Checkbox Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Checkbox\":{\"id\":\"ev%3ER\",\"name\":\"Checkbox\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Files\":{\"id\":\"veVe\",\"name\":\"Files\",\"description\":null,\"type\":\"files\",\"files\":{}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/276974f3b38881d1a897c40032b4865b\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"database\",\"id\":\"276974f3-b388-81b6-bb34-d90f640d1f14\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-22T09:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-22T09:20:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"(Multi)-Select
      Query DB Test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"(Multi)-Select
      Query DB Test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Multi-Select\":{\"id\":\"%3BZyi\",\"name\":\"Multi-Select\",\"description\":null,\"type\":\"multi_select\",\"multi_select\":{\"options\":[{\"id\":\"6e26ee28-9ebe-4a98-ac9a-7eb8f2891561\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"13d457ad-999a-47de-b3cb-a06493ff028c\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"3b9bf986-5c00-45f8-b15f-dfc7ea3d0133\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Select\":{\"id\":\"_onu\",\"name\":\"Select\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"2a6abe27-bfff-4082-8131-83ec7ce41930\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"eb5c6689-d0a5-426c-b72d-5d17e87a325e\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"24aa21a1-ac97-420c-9652-1736d76d153a\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Title\":{\"id\":\"title\",\"name\":\"Title\",\"desc[...]
