interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with a cover", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created with a cover"}}]}}, "cover": {"type": "external", "external":
      {"url": "https://www.notion.so/images/page-cover/woodcuts_2.jpg"}}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"3899ce7b-60a4-81e4-95c0-d8cfab969b78","created_time":"2026-06-24T18:49:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":{"type":"external","external":{"url":"https://www.notion.so/images/page-cover/woodcuts_2.jpg"}},"icon":null,"parent":{"type":"page_id","page_id":"00000000-0000-4000-8000-000000000001"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"My
      new page created with a cover","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"My
      new page created with a cover","href":null}]}},"url":"https://app.notion.com/p/My-new-page-created-with-a-cover-3899ce7b60a481e495c0d8cfab969b78","public_url":null,"archived":false,"request_id":"cb9ad8c4-0eb8-4e89-b601-4b210f4e3d63"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - cb9ad8c4-0eb8-4e89-b601-4b210f4e3d63
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-4000-8000-000000000001
  response:
    content: '{"object":"page","id":"00000000-0000-4000-8000-000000000001","created_time":"2026-06-18T15:44:00.000Z","last_edited_time":"2026-06-24T18:49:00.000Z","created_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000fa"},"last_edited_by":{"object":"user","id":"00000000-0000-4000-8000-0000000000f1"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Tests","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Tests","href":null}]}},"url":"https://app.notion.com/p/Tests-00000000000040008000000000000001","public_url":null,"archived":false,"request_id":"31deb523-7da7-427a-aaa7-bc5d4fe5630a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 31deb523-7da7-427a-aaa7-bc5d4fe5630a
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "00000000-0000-4000-8000-000000000001"},
      "properties": {"title": {"type": "title", "title": [{"type": "text", "plain_text":
      "My new page created with an icon", "annotations": {"bold": false, "italic":
      false, "strikethrough": false, "underline": false, "code": false}, "text": {"content":
      "My new page created with an icon"}}]}}, "icon": {"type": "emoji", "emoji":
      "\ud83d\udc0d"}}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: "{\"object\":\"page\",\"id\":\"3899ce7b-60a4-81f2-9dcf-c5664c7ecddd\",\"created_time\":\"2026-06-24T18:49:00.000Z\",\"last_edited_time\":\"2026-06-24T18:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\[...]
