interactions:
- request:
    body: '{"query": "Formula DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"263974f3-b388-819e-ae44-c2a5d7d1c621\",\"cover\":null,\"icon\":null,\"created_time\":\"2025-09-03T13:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_time\":\"2025-09-03T14:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      synced task db\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      synced task db\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Status\":{\"id\":\"MSHb\",\"name\":\"Status\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"f95623da-d087-4ab0-948f-82650c2d2e5a\",\"name\":\"Backlog\",\"color\":\"gray\",\"description\":null},{\"id\":\"a69d7b5f-b25f-43e9-8448-2a50165bea94\",\"name\":\"In
      Progress\",\"color\":\"blue\",\"description\":null},{\"id\":\"d17d1ae9-d657-4286-81de-50d5d61e011b\",\"name\":\"Blocked\",\"color\":\"red\",\"description\":null},{\"id\":\"45880601-f86f-4d93-a05b-05ca9c6a4e3f\",\"name\":\"Done\",\"color\":\"green\",\"description\":null}]}},\"Due
      Date\":{\"id\":\"R%5CcR\",\"name\":\"Due Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Task\":{\"id\":\"title\",\"name\":\"Task\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"5f505199-b292-4713-920b-61d813bf72a3\"},\"url\":\"https://www.notion.so/263974f3b388819eae44c2a5d7d1c621\",\"public_url\":null,\"archived\":true,\"in_trash\":true},{\"object\":\"database\",\"id\":\"d4f1e8cd-1a15-4e16-97d9-900f12740960\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F91D\"},\"created_time\":\"2023-03-30T07:19:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2025-08-28T17:08:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Contacts
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"Database
      of all my contacts!\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Database
      of all my contacts!\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Level\":{\"id\":\"%3CVau\",\"name\":\"Level\",\"description\":null,\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"2c039f9c-787a-4a7c-ad3e-027e126170a5\",\"name\":\"Student\",\"color\":\"purple\",\"description\":null},{\"id\":\"GiE^\",\"name\":\"Junior\",\"color\":\"default\",\"description\":null},{\"id\":\"]yHE\",\"name\":\"Advanced\",\"color\":\"blue\",\"description\":null},{\"id\":\"Sg=B\",\"name\":\"Senior\",\"color\":\"orange\",\"description\":null},{\"id\":\"bcd02e10-3ad5-4f7e-aaf4-397a5c7bb043\",\"name\":\"Lead\",\"color\":\"red\",\"description\":null}]}},\"Sync
      Date\":{\"id\":\"%3DG~u\",\"name\":\"Sync Date\",\"description\":null,\"type\":\"date\",\"date\":{}},\"Person\":{\"id\":\"%3Eo%40V\",\"name\":\"Person\",\"description\":null,\"type\":\"people\",\"people\":{}},\"Last
      Sync Days\":{\"id\":\"%40%5E%3Au\",\"name\":\"Last Sync Days\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if(empty({{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      toNumber(\\\"\\\"), (if(({{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      < now()), dateBetween(now(), {{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"days\\\"), (-dateBetween({{notion:block_property:%3DG~u:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      now(), \\\"days\\\") - 1))))\"}},\"---- Separator ----\":{\"id\":\"%40qHE\",\"name\":\"----
      Separator ----\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"format(\\\"Properties
      below here are for internal use\\\")\"}},\"URL\":{\"id\":\"HNS%3D\",\"name\":\"URL\",\"description\":null,\"type\":\"url\",\"url\":{}},\"Address\":{\"id\":\"NKkT\",\"name\":\"Address\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Team
      Member\":{\"id\":\"PvPD\",\"name\":\"Team Member\",\"description\":null,\"type\":\"checkbox\",\"checkbox\":{}},\"Employed\":{\"id\":\"QlK%5D\",\"name\":\"Employed\",\"description\":null,\"type\":\"formula\",\"formula\":{\"expression\":\"if(empty({{notion:block_property:UnqB:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      (if(({{notion:block_property:PvPD:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      and empty({{notion:block_property:_e%3AX:876bd953-63e7-4843-a9d9-a3e0d34da6f8:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}})),
      true, (dateBetween(now([...]
