interactions:
- request:
    body: '{"query": "Embed/Inline/Linked & Unfurl", "filter": {"property": "object",
      "value": "page"}, "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"25ab24c9-ec4e-4ff1-b8d0-3204b449dfac","created_time":"2024-07-09T20:37:00.000Z","last_edited_time":"2025-09-02T14:14:00.000Z","created_by":{"object":"user","id":"645e79dd-3e43-40de-9d51-39357c1c427f"},"last_edited_by":{"object":"user","id":"b10cb6df-12ef-44d3-88ad-250168f66322"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"5f505199-b292-4713-920b-61d813bf72a3"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Embed/Inline/Linked
      & Unfurl","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Embed/Inline/Linked
      & Unfurl","href":null}]}},"url":"https://www.notion.so/Embed-Inline-Linked-Unfurl-25ab24c9ec4e4ff1b8d03204b449dfac","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"47bbe21a-2c84-41a7-b55e-9f18f4ee1f81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-notion-request-id:
      - 47bbe21a-2c84-41a7-b55e-9f18f4ee1f81
    status_code: 200
version: 1
