interactions:
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"database\",\"id\":\"b0cb6b70-e740-496d-9c81-8a298fa2d5e1\",\"cover\":null,\"icon\":null,\"created_time\":\"2023-12-02T16:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"645e79dd-3e43-40de-9d51-39357c1c427f\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"b10cb6df-12ef-44d3-88ad-250168f66322\"},\"last_edited_time\":\"2023-12-03T10:26:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Task
      DB\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Task
      DB\",\"href\":null}],\"description\":[{\"type\":\"text\",\"text\":{\"content\":\"My
      personal task list of all the important stuff I have to do\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"My
      personal task list of all the important stuff I have to do\",\"href\":null}],\"is_inline\":false,\"properties\":{\"Urgency\":{\"id\":\"JDC%3D\",\"name\":\"Urgency\",\"type\":\"formula\",\"formula\":{\"expression\":\"if({{notion:block_property:ob%5DU:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}
      == \\\"Done\\\", \\\"\u2705\\\", if(empty({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}}),
      \\\"\\\", if(formatDate(now(), \\\"YWD\\\") == formatDate({{notion:block_property:K%3A%3Fo:00000000-0000-0000-0000-000000000000:5a65efbd-bfb2-4ebe-bb5d-ac95c98fb252}},
      \\\"YWD\\\"), \\\"\U0001F539 Today\\\", if(now() [...]
[...]
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "database"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+1c3XLcOHZ+FaarVGVvjBmAIEFStd4t68e2dmTLY2nG41k7KvxKHHWTbTZbbWXW
        c5f7XCR3m8pN8gpJ7evsE+QRckCySbAlt7o98s8mUrkskgAPDg5wDr7zQ/08yMVPWpaDzcEwnZSD
        e4NCT6bDcjLY/OPPXZviJRd8oqE9VXAvsBRMRBjpKMAoSJhCiYwJirmfxIb7KtQE+sr8XBeDzWw6
        HMKLMs/m17LQvNTquExHGsj52KeI+Aj7R4RtEryJ8VcY4x8HXU9xMdh0GJpOgHDDDAtCHSVKIaoD
        igKsNEpUSBBNaBhJIgM/MoN39wZDPimPtUqvISeInZwywJA2KAgURXHMFfJDTFhsGKO+v0hucR70
        CCbhM2ceZVoOdSXU8mJs+5b6rRV39QtYAeGUOrO8HPHJmbezBW3DNDu[...]
[...]
