interactions:
- request:
    body: '{"query": "Contacts DB", "filter": {"property": "object", "value": "data_source"},
      "page_size": 100}'
    headers:
      authorization:
      - secret...
      content-type:
      - application/json
      notion-version:
      - '2026-03-11'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"016de3a0-064e-48f6-b41d-980d6623e46b\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T16:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T16:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB for low-level page creation test\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Contacts
      DB for low-level page creation test\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Role\":{\"id\":\"W%5BY%5B\",\"name\":\"Role\",\"description\":null,\"type\":\"rich_text\",\"rich_text\":{}},\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"1bcf93d5-cbe5-4eb0-89ab-ef4707a1261c\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"00000000-0000-4000-8000-000000000001\"},\"url\":\"https://www.notion.so/1bcf93d5cbe54eb089abef4707a1261c\",\"public_url\":null,\"in_trash\":true},{\"object\":\"data_source\",\"id\":\"f6c9c389-ed40-4743-a8b1-497f9e168d2b\",\"cover\":null,\"icon\":null,\"created_time\":\"2026-06-27T16:47:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"00000000-0000-4000-8000-0000000000f1\"},\"last_edited_time\":\"2026-06-27T16:48:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Contacts
      DB for low-level page update test\",\"link\":null}[...]
