name: Check latest release
on:
    workflow_dispatch:
    schedule:
        - cron: "0 8 * * 1"


concurrency:
  group: check-latest-release
  cancel-in-progress: false

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  NOTION_TOKEN: "${{ secrets.NOTION_AUTH_TOKEN }}"
  PIP_COMPILE_DISABLE: true
  PIPX_HOME: "${{ github.workspace }}/.pipx"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Setup environment requirements
      uses: ./.github/actions/setup-venv-reqs

    - name: Install Hatch Python version
      run: hatch python install 3.10

    - name: Run tests to check latest release
      run: hatch run prod:test
