# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Publish package

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
    branches:
      - main
    pull_request:
      branches:
        - main

concurrency:
  group: build-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  pure-python-wheel:
    name: Build a pure Python wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # Fetch all tags
          fetch-depth: 0

      - name: Install build dependencies
        run: python -m pip install --upgrade build

      - name: Build
        run: hatch build

      - uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: dist/*
          if-no-files-found: error

  publish:
    name: Publish on PyPI
    needs:
      - pure-python-wheel
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: dist

      - name: Push artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          skip_existing: true
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
