name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: false

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  NOTION_TOKEN: "${{ secrets.NOTION_AUTH_TOKEN }}"
  PIP_COMPILE_DISABLE: true
  PIPX_HOME: "${{ github.workspace }}/.pipx"

jobs:
  run-github-job-matrix:
    name: Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 0  # set to 1 to avoid time-outs and conflicts when speaking to the Notion API
      fail-fast: true # kill everything after first error to save resources
      matrix:
        include:
          # Linux - all Python versions
          - os: ubuntu-latest
            python-version: '3.10'
          - os: ubuntu-latest
            python-version: '3.11'
          - os: ubuntu-latest
            python-version: '3.12'
          - os: ubuntu-latest
            python-version: '3.13'
          - os: ubuntu-latest
            python-version: '3.14'
          # Windows - only Python 3.10
          - os: windows-latest
            python-version: '3.10'
          # macOS - only Python 3.10
          - os: macos-latest
            python-version: '3.10'

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup environment requirements
      uses: ./.github/actions/setup-venv-reqs

    - name: Install Python version
      run: |
        hatch python install ${{ matrix.python-version }}

    - name: Lint
      if: matrix.python-version == '3.10' && runner.os == 'Linux'
      run: hatch run lint:all

    - name: Run tests and track code coverage
      run: hatch run ci

    - name: Coveralls Parallel
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: run-${{ join(matrix.*, '-') }}
        parallel: true
        path-to-lcov: coverage.lcov

  finish-coveralls:
      if: ${{ always() }}
      needs: run-github-job-matrix
      runs-on: ubuntu-latest
      steps:
      - name: Coveralls finished
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
          path-to-lcov: coverage.lcov
