name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  NOTION_TOKEN: "${{ secrets.NOTION_AUTH_TOKEN }}"

jobs:
  run-github-job-matrix:
    name: Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1  # avoids time-outs and conflicts
      fail-fast: true # kill everything after first error to save resources
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.11', '3.12']
        exclude:
          - os: windows-latest
            python-version: '3.11'
          - os: windows-latest
            python-version: '3.12'
          - os: macos-latest
            python-version: '3.11'
          - os: macos-latest
            python-version: '3.12'

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Hatch & pre-commit
      run: |
        pip install --upgrade hatch hatch-vcs pre-commit
        pip list

    - name: Lint
      if: matrix.python-version == '3.10' && runner.os == 'Linux'
      run: hatch run lint:all

    - name: Run tests and track code coverage
      run: hatch run ci

    - name: Coveralls Parallel
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: run-${{ join(matrix.*, '-') }}
        parallel: true
        path-to-lcov: coverage.lcov

  finish-coveralls:
      if: ${{ always() }}
      needs: run-github-job-matrix
      runs-on: ubuntu-latest
      steps:
      - name: Coveralls finished
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
          path-to-lcov: coverage.lcov
